[2018-11-16 15:06] frankspeidelsapcom opened #6103 "NullPointerException InMemoryUserDetailsManager.updatePassword"
### Summary

Exexuting first request to MVC based resource, getting 401.
In log of service, this NPE is found:

    java.lang.NullPointerException
    at org.springframework.security.provisioning.InMemoryUserDetailsManager.updatePassword(InMemoryUserDetailsManager.java:147)
    at org.springframework.security.authentication.dao.DaoAuthenticationProvider.createSuccessAuthentication(DaoAuthenticatio

[2018-11-16 15:32] jzheaux commented on #6095
@CQuarterz looking at [the commits pushed to your fork](https://github.com/CQuarterz/spring-security/commits/master), I can't tell just yet.

With git, committing is a two-step process. The first is something like:

`git add gradle/dependency-management.gradle`
`git commit`

And the second is like:

`git push origin master`

Some of that might be slightly different, depending on your setup, but th

[2018-11-16 15:36] jzheaux commented on #6101
@hellosatish Let's try two things:

First, make sure that your command is actually "./gradlew clean build integrationTest" if you are on Mac or Linux or "gradlew.bat clean build integrationTest" if you are on Windows. The reason for this is it makes sure that it uses the version of Gradle that Spring Security needs.

Second, if that still fails, then go ahead and let's see if we can find a pattern

[2018-11-16 16:33] CQuarterz commented on #6095
Cool I believe I committed the code correctly.

[2018-11-16 17:36] jzheaux opened #6104 "OAuth2ResourceServerConfigurerTests should avoid MockWebServer"
Now that there is support to create a `JWTProcessor` using a `RestOperations`, several of the tests in `OAuth2ResourceServerConfigurerTests` that relied on a `MockWebServer` can now rely on a mock `RestOperations`, making the tests faster.

Or, as an alternative, they could be configured to use a single key instead of a JWK Set, where applicable.

[2018-11-16 18:09] jzheaux commented on #6095
Splendid, @CQuarterz. I can see the commit, and yes, the code change looks appropriate.

So, let's do two things. First, we have a convention for the commit message, which is like this:

[code]

For example, the commit message for this one might be:

[code]

To do this, you can go to your fork and do `git commit --amend`, which will present you with an editor where you can change the commit messag

[2018-11-16 18:11] jzheaux commented on #6101
The report will actually give you a bit more information, @hellosatish. If you click on one of those links on the test failures report, what is the full stack trace?

I just double-checked on a Windows machine and was able to build on Java 8. What version of Java are you using? You can do `java -version` from the command line.

Also, you can try this for a cleaner environment: `gradlew.bat --refre

[2018-11-16 18:47] rwinch commented on #6089
I'd change it slightly:

[code]

We are avoiding retrieve because it doesn't have the ability to use a BodyExtractor. Additionally, we don't want to be able to have full control over how the errors are handled, but using retrieve means that if there is an error it will create it's own exception.

[2018-11-16 18:51] rwinch commented on #6075
@daejii Thanks again for volunteering to work on the issue.

Yes. I'd add a new test method [here](https://github.com/spring-projects/spring-security/blob/dca3645850e082d845e17a6572af84aa44b97f12/test/src/test/java/org/springframework/security/test/context/support/ReactorContextTestExecutionListenerTests.java#L176)

Not a problem at all. Thanks for volunteering your time to help Spring Security!

[2018-11-16 18:56] raphaelDL commented on #6089
I understand, ok, I use your suggestion :)

[2018-11-16 18:58] rwinch commented on #6103
Thanks for the report @frankspeidelsapcom!

This appears to be a duplicate of #6039 which was backported in #6062. Can you try Spring Security 5.1.2.BUILD-SNAPSHOT and see if it fixes your issue? You can find instructions on using the SNAPSHOT in the reference https://docs.spring.io/spring-security/site/docs/5.1.x-SNAPSHOT/reference/htmlsingle/#get-spring-security

[2018-11-16 18:58] rwinch commented on #6089
Sounds great. Thanks again for working on this!

[2018-11-16 19:03] rwinch commented on #6083
It can be, but the default configuration assumes that the request/response is there. There is a third option where you configure it using something like [this](https://github.com/rwinch/webclientoauth2-cli/blob/master/src/main/java/sample/WebClientOAuth2Application.java)

Of course at that point it doesn't integrate with your servlet application.

I'm going to close this as it appears you have mov

[2018-11-16 19:03] #6083 closed

[2018-11-16 19:07] #5131 closed

[2018-11-16 20:19] daejii commented on #6075
@rwinch Thanks for your response. I'm happy to give up my time to do this.

I tried run this test, just to see how it behaves:

[code]

I got this error:

[code]

Is there something I'm doing wrong? I will appreciate if you can point me in the right direction.
Also, I would like to know if a "beforeTestMethod" is necessary (I noticed some of the afterTest methods use a beforeTest method) ?

Thank

[2018-11-16 22:10] raphaelDL opened #6106 "Update to Gradle 4.10.2"
With current version of Gradle 4.10.1 when I run a task with

`./gradlew ...`

I get these warnings:

`> Configure project :spring-security-aspects
The Task.deleteAllActions() method has been deprecated. This is scheduled to be removed in Gradle 5.0.`

`> Configure project :spring-security-samples-javaconfig-x509
Found slf4j-api dependency but no providers were found.  Did you mean to add slf4j-si

[2018-11-17 03:29] hellosatish commented on #6101
Hi @jzheaux  i used the command `.\gradlew.bat --refresh-dependencies clean build integrationTest` but it fails again. However i have made the changes and pushed to the repository. Could you please see if my repository runs for you locally.
and i am running on java 8. attached here the logs for your reference.
![java_version](https://user-images.githubusercontent.com/2811343/48656134-d9f32100-ea46

[2018-11-17 06:15] CQuarterz commented on #6095
Okay I think I added a couple commits by accident, but I think I fixed the message correctly!

[2018-11-17 06:42] jzheaux commented on #6095
No problem, @CQuarterz, I've done that before, too. :) It's fixable!

You have five commits right now, and you just want one. What you can do is the following:

[code]

This is going to list the latest commits in an editor. Next to each one, you can specify an what action you'd like to do. Next to the last four commits, change the command word out for `squash`. This is going to combine those commi

[2018-11-17 10:23] wangzw opened #6215 "OAuth2 client cannot work well with reactor redis session."
I got the following error message and after the whole day debug, I found that oauth2 client failed to save `AuthorizationRequest` to session in some case.

[code]

To trigger the issue, you have to:
1. With reactor server
2. Configure redis session. (or hazelcast session)
3. Some errors happened before and one or more legacy `AuthorizationRequest` leaved in the session

Result:
Oauth2 client will

[2018-11-18 00:07] CQuarterz commented on #6095
I believe I got the new branch created!

[2018-11-18 04:44] Daniel69 commented on #4469
@rwinch I made a PR with my first aproach to solve this issue, I'll be happy to know your opinion about my approach and to make any adjustments in the case that may be necessary.

[2018-11-18 06:07] jzheaux commented on #6095
@CQuarterz I do see the branch, but not your commit on that branch. Would you mind trying again? You'll know you have it right when you are on your branch locally (`git checkout gh-6095`) and you do a `git log` and the first commit in the list in yours. Once you see that, make sure to push, and you'll see your commit [here](https://github.com/CQuarterz/spring-security/commits/gh-6095), too.

[2018-11-18 06:15] jzheaux commented on #6101
I pulled your changes locally, and, yes, it builds fine for me.

I have not seen that exception before which you got in your build; however, this StackOverflow post sounds interesting: https://stackoverflow.com/questions/37527038/mockito-object-is-not-an-instance-of-declaring-class

I wonder if maybe you have two versions of JDK 8 installed? I have seen in the past the Windows %PATH% pointing to o

[2018-11-18 18:34] hfgbarrigas opened #6111 "java.lang.IllegalArgumentException: exchange cannot be null"
### Summary
When executing an external http request with WebClient using _client_credentials_ I get the mentioned exception. The request is done outside of an exchange of external origin, e.g:

[code]

After debugging found that on line 47 of **WebSessionServerOAuth2AuthorizedClientRepository** forces the authorized request _exchange_ not to be null. I'll debug further to understand why the exchan

[2018-11-19 02:41] CQuarterz commented on #6095
I believe I might have merged the branches into someone else's commit. Not sure how to fix that.

[2018-11-19 14:10] frankspeidelsapcom commented on #6103
Yes, after trying 5.1.2.BUILD-SNAPSHOT, I can confirm. that the issue is fixed by this. Sorry was not aware of the duplicate.

[2018-11-19 14:10] #6103 closed

[2018-11-19 14:14] jzheaux commented on #6101
@hellosatish The next step is to squash your commits so that you are only sending over one commit to Spring Security (right now [your repo has three](https://github.com/hellosatish/spring-security/commits/master)).

Once there is just one commit, then you can submit a pull request.

I've found `rebase` to be the easiest way to manage squashing in general. Let me know if you run into difficulties,

[2018-11-19 14:29] jzheaux commented on #6095
When you amend a commit or when you rebase, it resets the commit hashes for the commits that were changed. When you push, Git wants to try and reconcile those changed hashes with what the remote repository has.

This is why when you do a `git push` after a `commit --amend` or a `rebase` that it warns you to first do a merge commit (read: a reconciliation commit). (Not sure if this is what is happe

[2018-11-19 16:43] hellosatish commented on #6101
Hi @jzheaux
i tried squashing my commits and can see only one commit, but  looking at the commit message. i think i merged that with other commit.

[2018-11-19 16:47] rwinch commented on #6106
@raphaelDL I am not sure I understand this issue. Did you try to update to Gradle 4.10.2 and it failed? I know there are warnings, but that seems distinct from the subject of `Update to Gradle 4.10.2`. Can you help me understand please?

[2018-11-19 16:50] #6089 closed

[2018-11-19 16:53] rwinch opened #6112 "WebClientReactiveClientCredentialsTokenResponseClient should fail if not 2xx status"
## Summary

Backport of #6089

[2018-11-19 16:54] rwinch commented on #6112
Fixed via a742c0c3f244ccc5ce12e2c2450c5cccc4f54fa0

[2018-11-19 16:54] #6112 closed

[2018-11-19 16:59] rwinch commented on #6075
@daejii Hmm...how are you running it? It appears that for some reason the classpath is not getting setup correctly. I'm guessing this is happening in your IDE? If so, what IDE and version are you using? Did you try updating your IDE? Does it happen if you run from the command line with `./gradlew test`?

No. For this test it is not necessary. Many of the tests ran before just to ensure it was setu

[2018-11-19 16:59] rwinch commented on #6103
@frankspeidelsapcom No problem! Thanks for the report and for confirming the fix!

[2018-11-19 17:02] jzheaux commented on #6101
Yes, I've made that mistake before myself.

Try this: https://stackoverflow.com/questions/6217156/break-a-previous-commit-into-multiple-commits

[2018-11-19 21:34] rwinch opened #6113 "Make InMemory*ClientRegistrationRepository Consistent"
### Summary
Backport of #6070

[2018-11-19 21:34] rwinch commented on #6113
Fixed via 6070

[2018-11-19 21:34] #6113 closed

[2018-11-19 22:05] rwinch commented on #6106
Thanks. Yes. We'd love to update to a newer version of Gradle and (in separate PRs as you mentioned) remove the deprecated APIs.

[2018-11-19 22:13] rwinch commented on #6102
Thanks for the report @beku8! You can work around this by explicitly setting the cache to be `NullRequestCache`. For example:

[code]

[2018-11-20 01:13] kibbled opened #6115 "AuthenticationSuccessEvent fires multiple times with OAuth2 Resource Server"
AuthenticationSuccessEvent seems to be fired multiple times for single requests. Not sure if this is expected behavior or not, I will try to create a stripped down app to demonstrate. I just wanted to make sure that this wouldn't be intended behavior. Code configuration is below in Kotlin:

[code]

[2018-11-20 02:16] gburboz commented on #5839
@jgrandja clock skew is just one of the many factors due to which this check would fail (e.g. network latency). I'd recommend to name this client config as `issuedWithin`

Additionally, clock skew is applicable not just to `issuedAt` but also to `expiresAt`. I'd recommend to have additional provider level property `allowedClockSkew` with some default value which can be overridden from config and b

[2018-11-20 05:38] hellosatish commented on #6101
Hi @jzheaux  thanks for you help.
I spent a lot of time sqaushing/splitting the commits and could not get that to one commit message.
So i started with clean slate and have created a single commit at [Fix:6101](https://github.com/spring-projects/spring-security/issues/6101). If this looks good then do let me know should i create a pull request? and anything specific i need to consider while creati

[2018-11-20 06:04] jzheaux commented on #6101
Yes, you can go ahead and create a pull request. Thanks!

[2018-11-20 09:05] jgrandja commented on #5839
@gburboz Thanks for the feedback. I'll consider your points when I get to this issue. Thanks.

[2018-11-20 14:13] jzheaux opened #6118 "http.requestCache().disable() not working"
Backport of #6102

[2018-11-20 14:15] #6102 closed

[2018-11-20 14:16] jzheaux opened #6119 "http.requestCache().disable() not working"
Backport of #6102

[2018-11-20 14:17] jzheaux opened #6120 "http.requestCache().disable() not working"
Backport of #6102

[2018-11-20 14:44] jgrandja commented on #4958
@Woodham With the recent release of Spring Security 5.1, you can now customize the Token Request and UserInfo request. For your use case, you'll be able to add the User-Agent header.

See the reference for customizing the [Token Request](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2Client-access-token-client) and [UserInfo request](https://docs.spring.

[2018-11-20 14:44] #4958 closed

[2018-11-20 15:06] jzheaux commented on #6118
Fixed via db145fa03fbd16f8aafda474fcf9af1d94b996c0

[2018-11-20 15:06] #6118 closed

[2018-11-20 17:09] jzheaux opened #6121 "AesBytesEncryptorTests should check available key strengths before running"
Not all JVMs building Spring Security have the [JCE Unlimited Key Strength Policy files](https://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html) installed.

Because of this, `AesBytesEncryptorTests` should first check before running its tests, skipping those tests if that JVM doesn't have it installed.

[2018-11-20 17:11] dlesnef1 commented on #5893
Hey, sorry for the late delay. Please use @warrenbailey's work as I will not be able to finish this before they are able too.

[2018-11-20 17:59] jzheaux commented on #6120
Fixed via dfacad020bf3673ef446e1e5b7fe6b32ba6e027c

[2018-11-20 17:59] #6120 closed

[2018-11-20 18:07] #6101 closed

[2018-11-20 18:19] jzheaux commented on #6115
Hey, @kibbled! Thanks for the report. It's a little confusing, but would you please report this ticket in https://github.com/spring-projects/spring-security-oauth2-boot? Thank you!

[2018-11-20 18:37] jgrandja commented on #4920
Partial support for `RestTemplate` has been added in 5.1.
See [Token Request/Response](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2Client-access-token-client) and [UserInfo Request/Response](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2login-advanced-oauth2-user-service).

[2018-11-20 18:46] #6121 closed

[2018-11-20 18:51] jgrandja commented on #4882
Closing this as won't fix. This follows the same pattern as `formLogin()` where the default base path `/login` is the same for all user authentications. Same should apply for `oauth2Login()` where the default base path is `/login/oauth2/code/*` and is applied for all `ClientRegistration`'s configured for authentication.

[2018-11-20 18:51] #4882 closed

[2018-11-20 19:05] jgrandja commented on #5659
@gburboz With regard to your comment

OpenID Connect authentication is triggered when the `openid` scope is included in the Authenticaton request. In this case `OidcUserService` is used and the UserInfo Endpoint **might** be called depending on the config of the `ClientRegistration` - see `OidcUserService.shouldRetrieveUserInfo()`.

If the `openid` scope is **NOT** included in the Authentication R

[2018-11-20 19:05] #5659 closed

[2018-11-20 19:29] jgrandja commented on #5657
@gburboz I'm going to close this issue in favour of #6020.

Also, with the release of Spring Security 5.1, you can now customize the Token Request and/or Response. See the [reference](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2Client-access-token-client) on how to do this.

These new extension points will allow you to get LinkedIn and StackExchange/S

[2018-11-20 19:29] #5657 closed

[2018-11-20 20:00] jgrandja commented on #5566
@jzheaux After coming back to this and reviewing it again, I think what we have now is correct. I also agree that it doesn't make sense to log a message if an exception is thrown by the `CsrfFilter`. If it's thrown by `CsrfFilter` (e.g. token is in header and body) than it will get thrown by `BearerTokenAuthenticationFilter` on subsequent filter processing and the error message will get communicat

[2018-11-20 20:00] #5566 closed

[2018-11-20 20:40] daejii commented on #6075
@rwinch I created a PR. #6122. Kindly review. Your feedback is important to me. Thanks for all the help.

[2018-11-20 21:20] jgrandja commented on #5528
This make sense. Closing this.

[2018-11-20 21:20] #5528 closed

[2018-11-20 21:49] jgrandja commented on #5380
This can be achieved using a custom `OAuth2AuthorizationRequestResolver`, which was introduced in 5.1. The `OAuth2AuthorizationRequest.redirectUri` can be updated to the appropriate value during the Authorization Request phase. See the [reference](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2Client-authorization-request-resolver) for further details.

[2018-11-20 21:49] #5380 closed

[2018-11-20 22:30] Captain-P-Goldfish commented on #5393
sorry, I never received an email and forgot about this topic but the issue is still a matter.

not quite,
we have a single springboot application parted in two domains.
1. An OAuth2 domain that is used by users to grant access to their resources. In our case it is reading the data from some identity cards which is done by another server.
2. A configuration domain that is used to configure the whol

[2018-11-21 04:39] hellosatish commented on #6101
@jzheaux  Thanks for merging this pull request and specially for your continued help on the issues i faced. I would be happy to help if there are more issues i can contribute to.

[2018-11-21 05:10] jzheaux commented on #6101
For sure! Feel free to pick up something that looks interesting. You might consider https://github.com/spring-projects/spring-security/issues/5834

[2018-11-21 06:11] raphaelDL commented on #6092
I think I may have parts of the solution, will submit al PR tomorrow, midnight already but I needed to know what was going on with this
![Local SonarQube](https://pbs.twimg.com/media/DsgUgjRV4AY1ywJ.jpg)

[2018-11-21 08:05] ayudovin opened #6123 "WebFlux and OAuth2 Custom Roles"
I used SSO based on Google and WebFlux and I don't know how to add own role in authentication. Now I have only ROLE_USER which was provided by google.
Can you give me any advice ?

[2018-11-21 09:30] jgrandja commented on #5286
@paulspeijers With the recent release of Spring Security 5.1, you can now fully customize the UserInfo request using a `Converter<OAuth2UserRequest, RequestEntity<?>>`. For example, you can add a path parameter to the uri and set the value with the `sub` claim as per your use case. See the [reference](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2login-

[2018-11-21 09:30] #5286 closed

[2018-11-21 13:59] paulspeijers commented on #5286
Great news @jgrandja. Thanks for the heads up, we'll give it a go!

[2018-11-21 15:57] #6106 closed

[2018-11-21 15:58] rwinch opened #6124 "Update to Gradle 4.10.2"
### Summary
Backport of #6114

[2018-11-21 15:59] rwinch commented on #6124
Fixed via c0849ba891ec4e3fd62e44d55eae2726bb6ee7b8

[2018-11-21 15:59] #6124 closed

[2018-11-21 16:19] rwinch commented on #6111
For Reactor Context to work you need to return the `Mono` of `WebClient`. So use...

[code]

[2018-11-21 16:21] jgrandja commented on #5659
@gburboz

This is not correct. Have you reviewed the logic in `OidcUserService.shouldRetrieveUserInfo()` as mentioned in previous comment?

Given this Google client registration:

[code]

The UserInfo endpoint will not be called.

And given this Google client registration:

[code]

The UserInfo endpoint will not be called because the `user-info-uri` is empty.
**Note:** `CommonOAuth2Provider.GOOGLE

[2018-11-21 17:02] jgrandja commented on #5393
@Captain-P-Goldfish It is still not clear to me what you are looking for? It confuses me when you reference `OAuth2AuthenticationProcessingFilter` because that lives in Spring Security OAuth not Spring Security. So let's avoid referencing that project and keep it focused on the new OAuth support in Spring Security.

Also, in the main issue comment you state:

I gather you are referring to the Spri

[2018-11-21 17:05] govi20 commented on #6104
if this is a trivial change, I would like to work on it.

[2018-11-21 17:32] rwinch opened #6125 "Smarter HttpSession Access"
### Summary

For resources that are public (i.e. images, javascript, css, etc) Spring Security should in many cases be able to avoid accessing the HttpSession. This has a significant implication for applications using Spring Session.

We should make Spring Security smarter about how it accesses the HttpSession.

- [x] gh-7157
- [x] #11453
- [ ] gh-11454
- [x] #11457
- [x] #11456
- [x] #11455
- [ ]

[2018-11-21 17:37] warrenbailey commented on #5893
Thanks @rwinch @dlesnef1 I'll take a look at it

[2018-11-21 17:39] rwinch commented on #4920
This ticket is to track support of RestTempalte supporting something similar to WebClient. I have reopened this and updated the description to make that more clear

[2018-11-21 17:51] rwinch commented on #5380
This should work out of the box. In fact, this was resolved via #5856

[2018-11-21 18:39] Daniel69 commented on #6125
@rwinch I like to work on this issue, could I?

[2018-11-21 19:09] Captain-P-Goldfish commented on #5393
sorry I did not want to confuse you by referencing this filter.

this is exactly what I was trying to say!!! :-)
I just wanted that this should work in the new implementation. Nothing more nothing less.

[2018-11-21 19:12] Captain-P-Goldfish commented on #5393
but not I am not looking at any specification here. My only wish is that I can start a single spring-application that may hold several domains secured by totally different spring-security configurations that do not conflict with each other. This is what happened with spring-security-oauth2. The referenced filter broke this. My only wish is that the seperation can be done easily in the new implemen

[2018-11-21 19:37] jgrandja commented on #5393
@Captain-P-Goldfish Ok we're on the same page now :)

Rest assured, we are taking great care in building the new OAuth support in Spring Security 5.x. If you are having any issues with the current support please do log an issue and we will resolve quickly.

And if there is a feature that you are looking for that is not available as of yet please log that too so we can co-ordinate within a release.

[2018-11-21 20:00] rwinch commented on #6125
Thanks @Daniel69! The issue is yours :smile:

This will likely be a larger issue and a bit tricky since a lot of the architecture relies on the assumption that the `Authentication` is resolved.

I think we should start by finding the places where the HttpSession is resolved and how we can minimize it's access. I believe this is just at the authorization layer, but may be mistaken.

As for the auth

[2018-11-21 20:32] rwinch commented on #6104
This should be pretty easy. The issue is yours

[2018-11-22 10:15] Captain-P-Goldfish commented on #5393
I will do, but this will take some time. There's very much to do :-)

[2018-11-22 11:46] hfgbarrigas commented on #6111
Right, but then we can't really make anything outside the request pipeline.

E.g: Deal with an external request processing after saving it.

[code]

I do realize that this can be achieved in different approaches, but in this particular case, without explicitly passing around the `ServerWebExchange` through _subscriberContext(ctx -> ctx.put())_ we can't leverage authorization.

Why is ServerWebExch

[2018-11-22 22:01] warrenbailey commented on #5893
I've had a go at fixing it. I've tested the fix against my problem and it solves it. However I'd value some feedback on PR as Reactive is pretty new to me.

[2018-11-22 22:34] 123raoul123 commented on #4399
Same issue here. I went around it by extending the JdbcUserDetailsManager. However then I run into issues with private validation functions: private void validateUserDetails(UserDetails user) and private void validateAuthorities(Collection<? extends GrantedAuthority> authorities). I would rather see them protected.

[2018-11-23 05:13] raphaelDL opened #6128 "Replace deprecated Gradle Task.deleteAllActions() method in AspectJPlugin.groovy"
`buildSrc/src/main/groovy/aspectj/AspectJPlugin.groovy`
uses
`javaCompileTask.deleteAllActions()`
 but this method is deprecated, this gives us a warning message when executing gradlew tasks.
 We should now replace it so it won't give us future issues.

One approach can be:
`javaCompileTask.setActions Arrays.asList()`

If we want to delete all actions, we can use the setActions method and pass an

[2018-11-23 05:28] raphaelDL opened #6130 "Remove unused compile dependency in javaconfig x509 sample"
When building the project a warning is thrown stating that `org.slf4j:slf4j-api` is defined in `samples/javaconfig/x509/spring-security-samples-javaconfig-x509.gradle` but no implementation is given.

If we remove it we get rid of this warning and have a cleaner building process

Should we remove it?

[2018-11-23 11:51] Bas83 commented on #5886
I'm kinda desperate for some support that seems related to this. I have a StackOverflow question open at https://stackoverflow.com/questions/53410526/migrating-spring-boot-2-0-1-to-2-1-0-with-evaluationcontextextensionsupport-and
Any help is greatly appreciated.

[2018-11-23 13:59] jgrandja commented on #6130
@raphaelDL `org.slf4j:slf4j-api` is actually used as it's brought in as a transitive dependency for `org.slf4j:jcl-over-slf4j`, `org.slf4j:jul-to-slf4j`, and `org.slf4j:log4j-over-slf4j`.

What's the exact warning message you're getting when you run the build?

[2018-11-23 14:01] raphaelDL commented on #6130
oh god, that’s what I thought...

‘> Configure project :spring-security-samples-javaconfig-x509 Found slf4j-api dependency but no providers were found. Did you mean to add slf4j-simple? See https://www.slf4j.org/codes.html#noProviders .’

[2018-11-23 14:07] govi20 commented on #6104
I had a look into `OAuth2ResourceServerConfigurerTests`.
There are two options suggested by @jzheaux

1. Replace MockWebServer with the mock of the `MockWebServer`

[2018-11-23 14:19] jgrandja commented on #6130
@raphaelDL I see `logback.xml` in the project but no `logback-classic.jar` dependency declared. I think you can add this dependency and remove the other 3x dependencies. See [Binding with a logging framework at deployment time](https://www.slf4j.org/manual.html#swapping).

Give that a try and I think it should resolve the warning.

[2018-11-23 14:31] #6128 closed

[2018-11-23 14:43] raphaelDL commented on #6130
You're all right, it worked.... I pushed a change @jgrandja. Thank you very much for your suggestion

[2018-11-23 14:44] ankurpathak opened #6132 "Support for Plugin Point For Custom SecurityContext Implementation In Reactive Spring Security"
In Non Reactive Spring Security we Have Plugin Point For custom Security Context Impl By
Following snippet in SecurityContextHolder with following snippet:

private static void initialize() {
        if (!StringUtils.hasText(strategyName)) {
            strategyName = "MODE_THREADLOCAL";
        }

        if (strategyName.equals("MODE_THREADLOCAL")) {
            strategy = new ThreadLocalSecurit

[2018-11-23 14:49] raphaelDL commented on #6130
I dropped
[code]

and put
[code]
instead

[2018-11-23 15:08] #6130 closed

[2018-11-23 15:41] jgrandja opened #6133 "Provide support for OAuth 2.0 Token Revocation"
We should provide support for [OAuth 2.0 Token Revocation](https://tools.ietf.org/html/rfc7009)

[2018-11-23 15:43] raphaelDL commented on #6092
Turns out the step a) is not needed, I just ran:

`./gradlew clean jacocoTestReport sonarqube -PexcludeProjects='**/samples/**' -Dsonar.jacoco.reportPaths='**/build/jacoco/*.exec'`

and got the coverage report shown again in a fresh new sonar container. Maybe what we were missing was telling sonar where the reports are located.

I think we just need to edit the command in the Sonar step.

As state

[2018-11-23 16:12] eugenevd opened #6134 "DelegatingPasswordEncoder.upgradeEncoding() ignores the delegate's implementation"
### Summary

When using `DelegatingPasswordEncoder` to which is provided a custom `PasswordEncoder `implementation in which `upgradeEncoding()` is overridden, neither `DaoAuthenticationProvider.createSuccessAuthentication()` nor the called `DelegatingPasswordEncoder.upgradeEncoding()`  consults the overridden `PasswordEncoder.upgradeEncoding()`

### Actual Behavior

`DaoAuthenticationProvider.crea

[2018-11-23 16:41] forgo commented on #5760
@jgrandja

I'm still having issues with the method described in the [OAuth2AuthorizationRequestResolver](https://docs.spring.io/spring-security/site/docs/5.1.1.BUILD-SNAPSHOT/reference/htmlsingle/#oauth2Client-authorization-request-resolver) documentation you linked.

No matter what I do, I if I set my own resolver in order to add a custom parameter, the authorization endpoint is never even called

[2018-11-23 17:03] forgo commented on #5760
@jgrandja

Just as a follow up, I if I run in the Intellij IDEA debugger, I catch a breakpoint in this function multiple times, but it never seems to run into the return statement that does the customization -- which doesn't really make any sense to me...

Called multiple times:
[code]

Never catches breakpoint:
`private fun customAuthorizationRequest(authorizationRequest: OAuth2AuthorizationReque

[2018-11-23 19:12] jzheaux commented on #6104
@govi20 Many of these tests use a common spring configuration, [declared there in the tests class itself](https://github.com/spring-projects/spring-security/blob/master/config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java#L157). In most cases, the reference to `WebServerConfig` will be removed along with

[2018-11-23 19:18] jzheaux commented on #6092
@raphaelDL wow, thanks for your extra research here! You are the man.

We use `Jenkinsfile` for the sonar routine.

Are you saying that when you run with `./gradlew clean sonarqube -PexcludeProjects='**/samples/**'` you *don't* see code coverage in the Sonar report, but when you do `./gradlew clean jacocoTestReport sonarqube -PexcludeProjects='**/samples/**' -Dsonar.jacoco.reportPaths='**/build/ja

[2018-11-23 19:31] raphaelDL commented on #6092
Absolutely ¡, let's try it

[2018-11-23 20:37] jgrandja commented on #5760
@forgo Looking at the sample code for [OAuth2AuthorizationRequestResolver](https://docs.spring.io/spring-security/site/docs/5.1.1.BUILD-SNAPSHOT/reference/htmlsingle/#oauth2Client-authorization-request-resolver) in the reference:

[code]

If the `authorizationRequest == null` than you need to return `null` as well since the `DefaultOAuth2AuthorizationRequestResolver` was not able to resolve it. I

[2018-11-23 21:01] forgo commented on #5760
@jgrandja

Thanks for your guidance and quick response! That was definitely the problem. I am still getting familiar with how Kotlin handles or does not handle nulls. Basically I needed to add a bunch of `?` and a `!!` in some of my type declarations and statements to get my IDE to stop bugging me about returning nulls.

For anyone who's interested in doing the same in Kotlin, this is what my reso

[2018-11-23 22:11] mathias-ewald commented on #6073
Is there a workaround applicable to spring boot 2.1.0.RELEASE?

[2018-11-23 22:34] ollio commented on #4876
Same for me with Spring Boot 1.5.12.RELEASE and spring-boot-starter-security

@Secured annotation not usable

[2018-11-23 22:58] forgo commented on #5466
@jgrandja

I am looking at the docs for what you previously described about `OAuth2AccessTokenResponseClient`. However, I'm having difficulty without an explicit example of how to extend the standard token request from `OAuth2AuthorizationCodeGrantRequestEntityConverter`

I tried to override this method by simply copying it from `OAuth2AuthorizationCodeGrantRequestEntityConverter`, but, for one, I

[2018-11-24 08:02] ankurpathak opened #6137 "Incorrect Location For Setting SecurityContext in Reactive Web Flux Security"
Currently we are creating SecurityContext in AuthenticationWebFilter. And SecurityContext is null in all
filters wrapping AuthenticationFilter. Its interfering with the usecase of using custom SecurityContext
implementation and not allowing us to set DomainContext on it and not allowing us to use DomainContext information in Authentication.
[code]
[code]
[code]
[code]

[2018-11-24 20:55] m410 commented on #5455
Same issue with spring-security-core:5.0.7.RELEASE

[2018-11-25 07:44] ankurpathak opened #6138 "Add Support For Adding Fiter Before And After IN Reactive Spring Security"
Currently we only have support for adding WebFilter at support in Reactive Spring Security. We should
also add support for adding fiters before and after in Reactive Spring Security. Since its also possible
to add WebFilter before and after relative to some WebFilter. We have support for same in Non Reactive
Spring Security. Its a surprise, why the same is missing in Reactive Spring  Security??
[c

[2018-11-25 07:52] ankurpathak commented on #6137
Lets look inside Spring Non Reactive Security, SecurityContextPersistenceFilter filter creates the SecurityContext before all type of Authentication or uses SecurityContextRepository to either
load it from Session before all type of Authentication. In all cases SecurityContextHolder holds
SecurityContext before any Authentication can kick in.

[2018-11-25 08:00] ankurpathak commented on #6137
But in Reactive Spring Security,  its AuthnticationWebFilter which is creating and saving SecurityContext.
[code]
As a result we don't have SecurityContext availabe before Authentication.
This code of saving SecurityContext in ReactiveSecurityContextHolder should move to ReactorContextWebFilter.

[2018-11-25 23:30] mangei commented on #5508
I took the db schema for Postgres from
https://docs.spring.io/spring-security/site/docs/3.0.x/reference/appendix-schema.html
and run into the same error.

As noted by @nenaraab (Thanks for that!), I changed the column type accordingly to the [current documentation](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#postgresql) and it worked again.

[2018-11-26 06:04] pushoo-sharma commented on #5086
Excellent; After adding {noop} in a string of password
The Error of  There is no PasswordEncoder mapped for the id "null" is gone.

_@Override_
	protected void configure(AuthenticationManagerBuilder auth) throws Exception {
		auth.inMemoryAuthentication()
		.withUser("pushpak").password("{noop}12345").roles("USER");
//		.and()
//		.withUser("admin").password("admin").roles("ADMIN");
	}

[2018-11-26 06:16] gburboz commented on #5659
I tried with `spring-boot-starter-parent` version `2.0.6.RELEASE` , `2.1.0.RELEASE` and `2.1.1.BUILD-SNAPSHOT` with `spring-security-oauth2-client` and `spring-security-oauth2-jose` dependencies included.

Used below to configure Google provider without `user-info-uri`
[code]

Considering scope has `openid `, user-info should not have been mandatory but I get following error on UI

Following is pa

[2018-11-26 13:49] jzheaux commented on #6073
@mathias-ewald This has been [backported to 5.1.2](https://github.com/spring-projects/spring-security/issues/6077), so the easiest may be to update your pom [once that releases](https://github.com/spring-projects/spring-security/milestone/126).

Barring that, though, you can switch out the `JwtIssuerValidator` for your own:

[code]

While not precisely the same scenario, we demoed [an example of c

[2018-11-26 14:03] jgrandja commented on #5659
@gburboz Based on the stacktrace, `OAuth2LoginAuthenticationProvider` calls `DefaultOAuth2UserService` which is the standard OAuth 2.0 Authorization Code flow. **This is not the OpenID Connect flow**. The reason is because the `scope` you have configured is not comma delimited so the `Set`  of `ClientRegistration.scopes` is actually one element of `"openid profile email"`. Make sure you configure

[2018-11-26 16:06] #6092 closed

[2018-11-26 16:25] jzheaux opened #6139 "SonarQube jobs are not reporting code coverage"
Backport of #6092

[2018-11-26 16:26] jzheaux opened #6140 "SonarQube jobs are not reporting code coverage"
Backport of #6092

[2018-11-26 16:30] jzheaux commented on #6139
Fixed via 02d844d5280c9e2cfc9d8a61880c626e8ffbcfe1

[2018-11-26 16:30] #6139 closed

[2018-11-26 16:31] jzheaux commented on #6140
Fixed via 5c220b9fc5f2834fb138b68bc6ab0500434357a0

[2018-11-26 16:31] #6140 closed

[2018-11-26 16:40] gburboz commented on #5659
Thanks @jgrandja , you are right about scope and after making changes you recommended it worked. I used space delimiter as that is what is mentioned in spec and it kind of worked with OP as it got what it expected but caused issues with spring-oauth.

May be we should update scope as list to eliminate the confusion and/or do not allow space char which is special for OAuth scope. This will help eli

[2018-11-26 16:46] nenaraab commented on #4814
@pwheel @rwinch Sorry for the delay... please find my pull request (incl. Unit tests) referenced.

[2018-11-26 18:14] jgrandja commented on #5570
Closed via 10f6d10

[2018-11-26 18:14] #5570 closed

[2018-11-26 18:25] jgrandja opened #6142 "Update com.squareup.okhttp3 deps to 3.12.0"

[2018-11-26 18:27] #6142 closed, assigned to jgrandja

[2018-11-26 20:23] lmagyar89 opened #6143 "SecurityContextCallableProcessingInterceptor securityContext field should volatile"
### Summary
Within class org.springframework.security.web.context.request.async.SecurityContextCallableProcessingInterceptor field securityContext should volatile.

### Actual Behavior
Above mentioned field is regular field.

### Expected Behavior
Since beforeConcurrentHandling method and preProcess method called on different threads to make sure there is no visibility issue volatile modifier shou

[2018-11-26 20:30] rwinch commented on #6111
It is only mandatory for the particular `ServerOAuth2AuthorizedClientRepository` implementation you are using. This is necessary because it supports storing values in a `WebSession` which is only accessible from the `ServerWebExchange`.

If you don't need support for saving in a `ServerWebExchange`, then you can change the implementation. For example, [this application](https://github.com/rwinch/w

[2018-11-26 20:32] lmagyar89 commented on #6143
My PR:
https://github.com/spring-projects/spring-security/pull/6144

[2018-11-26 20:33] rwinch commented on #6078
Fixed via: #6116

[2018-11-26 20:33] #6078 closed

[2018-11-26 22:35] sunflower-seed opened #6145 "X509 logout"
### Summary
If you configure your Webserver to do X509 authentication only on a specific URL it is possible to use Spring Security's logout function (some kind of work around).
But if you immediately perform an action after logging out, you are still logged in

### Details
Logging out with certificate authentication is not really possible via Website. The only solution is to close the browser.
And

[2018-11-26 23:30] jzheaux commented on #5562
I think that there is value in bringing the reactive experience into parity with the servlet experience. It would be nice if both redirected to "/login?error" (servlet-based oauth2Login already does this).

To achieve this, though, there are some more basic features, as I see it. `LoginPageGeneratedWebFilter` does not yet support any way to pull an error message from the session or the request. Al

[2018-11-27 04:21] kwang1 opened #6146 "Actuator auditevent doesn't work for Oauth audits."
### Summary
I am implementing a Spring Cloud Gateway with Oauth2 authentication. Since the Spring Cloud Gateway is based on reactive streams model, so only Spring Security 5.1.1 or above can be used.

When the gateway is working now, I found the Spring Actuator doesn't audit any login/logout activities.

### Actual Behavior

Actuator doesn't trigger any authentication events. I got this by fetchin

[2018-11-27 09:22] chunzhenzyd opened #6147 "How can anonymous do a post when configured with springsecurity"
this is my configure:

@Configuration
@EnableWebSecurity
public class MyWebSecurityConfigurer extends WebSecurityConfigurerAdapter {

	private static final Logger logger = LoggerFactory.getLogger(MyWebSecurityConfigurer.class);

	@Autowired
	private MySecurityInterceptor mySecurityInterceptor;

	@Autowired
	private MyAuthenticationSuccessHandler myAuthenticationSuccessHandler;
	@Autowired
	private

[2018-11-27 12:12] hfgbarrigas commented on #6111
After reading your comment decided to do a bit more digging. Found the default ServerOAuth2AuthorizedClientRepository used, which is AuthenticatedPrincipalServerOAuth2AuthorizedClientRepository that deals delegates to different repository implementations based on the _principal_ being authenticated or not.

**WebSessionServerOAuth2AuthorizedClientRepository** - Requires an existing _ServerWebExcha

[2018-11-27 13:50] WtfJoke commented on #5354
Any news on that?

[2018-11-27 15:12] rwinch commented on #6134
@eugenevd Thanks for the report!

I think there is a problem here, but I'm not sure we are on the same page.

It seems that you believe that it should always consult the delegate. However, I think the proper behavior is if the `idForEncode` does not match the extracted id, then return true for `upgradeEncoding`. This is necessary because a sha1 encoder has knowledge of BCrypt or if it is even conf

[2018-11-27 15:25] rwinch opened #6148 "Update to Gradle 5.0"
### Summary
Gradle 5.0 was released. We should update to it

[2018-11-27 16:33] oassuncao opened #6149 "JSR-250 Annotations Do Not Work on Interfaces"
I've a project with Spring Boot version **1.5.11.RELEASE**

The code bellow show the configuration of the project
[code]

I have a manager interface named ScreenManager
[code]

Implementation

[code]

My current user does not have the permission to remove the  "Screen".

When the AutoProxyCreator will create the proxy for the bean `ScreenManagerImpl` the class method `MethodSecurityMetadataSourceP

[2018-11-28 04:15] raphaelDL commented on #6092
@jzheaux @rwinch

I'm posting a comment here instead of the gradle-plugins repo, 'cause I think is more related with what we have in this project.

Here's what I've found

when the Jacoco plugin is applied coverage reports should be generated when calling `check` and `test` tasks.

We are preventing the reports being generated here: https://github.com/spring-projects/spring-security/blob/7618d236c

[2018-11-28 11:07] jgrandja commented on #5831
Closed via faefcc7

[2018-11-28 11:07] #5831 closed

[2018-11-28 14:17] rwinch opened #6152 "Update to Reactor Californium-SR3"
Update to Reactor Californium-SR3

[2018-11-28 14:17] rwinch opened #6153 "Update to Spring 5.1.3"
Update to Spring 5.1.3

[2018-11-28 14:17] rwinch opened #6154 "Update to Spring Data Lovelace-SR3"
Update to Spring Data Lovelace-SR3

[2018-11-28 14:17] rwinch opened #6155 "Update to cglib-nodep:3.2.9"
Update to cglib-nodep:3.2.9

[2018-11-28 14:17] rwinch opened #6156 "Update to Powermock 2.0.0-RC.4"
Update to Powermock 2.0.0-RC.4

[2018-11-28 14:17] rwinch opened #6157 "Update to unboundid 4.0.9"
Update to unboundid 4.0.9

[2018-11-28 14:17] rwinch opened #6158 "Update to AspectJ 1.9.2"
Update to AspectJ 1.9.2

[2018-11-28 14:17] rwinch opened #6159 "Update to Mockito 2.23.4"
Update to Mockito 2.23.4

[2018-11-28 14:17] rwinch opened #6160 "Update to GAE 1.9.68"
Update to GAE 1.9.68

[2018-11-28 14:17] rwinch opened #6161 "Remove Thymeleaf dependency management"
Remove Thymeleaf dependency management

[2018-11-28 14:23] #6156 closed, assigned to rwinch

[2018-11-28 14:53] jgrandja commented on #5145
@rwinch I've been thinking about assigning this as a first-timer issue. However, as I looked into this further, I'm not sure if we really need to implement this. The current and only implementation for `AuthorizationRequestRepository` is `HttpSession`-based, including it's reactive counterpart. So the `OAuth2AuthorizationRequest`(s) will be removed whenever a session is terminated anyway. Although

[2018-11-28 15:48] rwinch opened #6162 "Update to Reactor Bismuth-SR14"
Update to Reactor Bismuth-SR14

[2018-11-28 15:48] rwinch opened #6163 "Update to Spring 5.0.11.RELEASE"
Update to Spring 5.0.11.RELEASE

[2018-11-28 15:48] rwinch opened #6164 "Update to Spring Data Kay-SR12"
Update to Spring Data Kay-SR12

[2018-11-28 15:48] rwinch opened #6165 "Update to cglib-nodep 3.2.9"
Update to cglib-nodep 3.2.9

[2018-11-28 15:48] rwinch opened #6166 "Update to okhttp 3.12.0"
Update to okhttp 3.12.0

[2018-11-28 15:48] rwinch opened #6167 "Update to unboundid-ldapsdk 4.0.8"
Update to unboundid-ldapsdk 4.0.8

[2018-11-28 15:48] rwinch opened #6168 "Update to ehcache 2.10.6"
Update to ehcache 2.10.6

[2018-11-28 15:48] rwinch opened #6169 "Update to AspectJ 1.9.2"
Update to AspectJ 1.9.2

[2018-11-28 15:48] rwinch opened #6170 "Update to assertj 3.11.1"
Update to assertj 3.11.1

[2018-11-28 15:48] rwinch opened #6171 "Update to GAE 1.9.68"
Update to GAE 1.9.68

[2018-11-28 15:48] rwinch opened #6172 "Update to Spring Boot 2.0.6"
Update to Spring Boot 2.0.6

[2018-11-28 15:48] rwinch opened #6173 "Remove Thymeleaf dependency management"
Remove Thymeleaf dependency management

[2018-11-28 15:57] #6162 closed

[2018-11-28 15:57] #6163 closed

[2018-11-28 15:57] #6164 closed

[2018-11-28 15:57] #6165 closed

[2018-11-28 15:57] #6166 closed

[2018-11-28 15:57] #6167 closed

[2018-11-28 15:58] #6168 closed

[2018-11-28 15:58] #6169 closed

[2018-11-28 15:58] #6170 closed

[2018-11-28 15:58] #6171 closed

[2018-11-28 15:58] #6172 closed

[2018-11-28 15:58] #6173 closed

[2018-11-28 16:17] ir73 commented on #4139
any updates on this? was this merged?

[2018-11-28 17:38] rwinch opened #6175 "Update to Spring 4.3.21.RELEASE"
Update to Spring 4.3.21.RELEASE

[2018-11-28 17:38] rwinch opened #6176 "Update to AssertJ 2.6.0"
Update to AssertJ 2.6.0

[2018-11-28 17:38] rwinch opened #6177 "Update to CGLIB 3.2.9"
Update to CGLIB 3.2.9

[2018-11-28 17:38] rwinch opened #6178 "Update to Jackson 2.8.11.20181123"
Update to Jackson 2.8.11.20181123

[2018-11-28 17:38] rwinch opened #6179 "Update to Spring Data Ingalls-SR17"
Update to Spring Data Ingalls-SR17

[2018-11-28 17:38] rwinch opened #6180 "Update to Spring Session 1.3.4.RELEASE"
Update to Spring Session 1.3.4.RELEASE

[2018-11-28 17:39] rwinch commented on #6175
Fixed via 8f03a04b9af0f425b843eb43f7c9bfedaa9a2dd4

[2018-11-28 17:39] #6175 closed

[2018-11-28 17:39] rwinch commented on #6176
Fixed via 6d25f479b06363ae3b285881bc46386c432a6c9f

[2018-11-28 17:39] #6176 closed

[2018-11-28 17:39] rwinch commented on #6177
Fixed via 43677a6964714e4862529e89d923fe7a90b63660

[2018-11-28 17:39] #6177 closed

[2018-11-28 17:39] rwinch commented on #6178
Fixed via 315c0b3f03a9c7b6d7d3c142067966b9926a4c4a

[2018-11-28 17:39] #6178 closed

[2018-11-28 17:40] rwinch commented on #6179
Fixed via 10fec400ebef9f88516d13d67b5f2e3df945fd63

[2018-11-28 17:40] #6179 closed

[2018-11-28 17:40] rwinch commented on #6180
Fixed via 3747a14258c0162adf390ceae6ea6dbed71a4be6

[2018-11-28 17:40] #6180 closed

[2018-11-28 18:46] jzheaux opened #6181 "Fix broken link about Squashing Commits"
The [contribution guidelines](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#squash-commits) link to a guide about squashing commits, but [that link](http://book.git-scm.com/4_interactive_rebasing.html) is broken.

Let's change it to https://git-scm.com/book/en/v2/Git-Tools-Rewriting-History

[2018-11-28 20:00] rwinch commented on #4399
Thanks for the ping @123raoul123 If someone wants to send a PR (the changes must be passive) for this, we'd gladly accept it.

[2018-11-28 20:14] jzheaux opened #6182 "ReactiveOAuth2AccessTokenResponseClients should support setting a custom WebClient"
[`WebClientReactiveAuthorizationCodeTokenResponseClient`](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveAuthorizationCodeTokenResponseClient.java) would be more convenient to use if their respective `webClient` properties could be set.

Let's add a setter, like:

[code]

As well

[2018-11-28 20:38] jgrandja commented on #5466
@forgo In order to customize the Token Request, you need to provide an implementation of `Converter<OAuth2AuthorizationCodeGrantRequest, RequestEntity<?>>` and set it via `DefaultAuthorizationCodeTokenResponseClient.setRequestEntityConverter`. Whether it's a new implementation or an extension of `OAuth2AuthorizationCodeGrantRequestEntityConverter`, it's your choice.

So your latest update is one w

[2018-11-28 20:54] rwinch commented on #6092
@raphaelDL Thanks for the updates! Would you like to submit a PR to fix this?

[2018-11-28 21:11] jzheaux opened #6183 "BasicAuthenticationFilter could check the scheme more efficiently"
[`BasicAuthenticationFilter`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilter.java#L157) checks that the `Authorization` header starts with the "basic" scheme:

[code]

However, this is not as efficient as it could be, since it needs to lowercase the entire header just to compare the firs

[2018-11-28 21:18] jzheaux commented on #5886
@Bas83 Sorry you hare having trouble! I responded with a suggestion on your SO question.

[2018-11-28 21:44] #6051 closed

[2018-11-28 21:49] rwinch commented on #6132
Thanks for the report @ankurpathak!

I don't see this feature being used much in the servlet world and have my doubts that we should add it for reactive Spring Security. Can you elaborate on your usecase?

[2018-11-28 22:43] rwinch commented on #4876
If someone is interested in submitting a PR, I'd be happy to help them through it.

[2018-11-28 22:51] rwinch commented on #5508
@nenaraab There isn't a sample with Postgres. The [contact sample](https://github.com/spring-projects/spring-security/tree/5.1.2.RELEASE/samples/xml/contacts) is the reference for ACL support. However, I would caution you that we don't typically recommend using ACL support because it requires doing in memory joins. If you have a million records and the user only is able to access 2, then you must

[2018-11-28 23:35] jzheaux commented on #6095
@CQuarterz are you still interested in completing this?

[2018-11-29 02:37] ankurpathak commented on #6132
Well their are number of use case:
1. Lets take example of mobile number based login. In India mobile number are like  +91XXXXXXXXXX.
When I login by mobile number I can login by entering +91XXXXXXXXXX. But entering that country dial
code +91 with my mobile number for logging every time is a mess. So we can translate IP of Person
to Country and append all possible dial code of that country to form

[2018-11-29 02:49] ankurpathak commented on #6132
2. Lets take the example of application which uses User specific and Organization specific collections like:
[code]
For organizations with ids 1000, 2000, 3000 product collections will be products1000, products 2000, products3000. One user or organizattion can access limited data of other user and organization provided they allowed that. In this case all queries are to be generated based on QueryC

[2018-11-29 02:53] ankurpathak commented on #6132
3. Lets take the use case of 2FA Authentication with Google Authentication. In this case we can store
that  Google Authenticator Code send with username and password on DomainContext on Custom
SecurityContext.

[2018-11-29 02:57] ankurpathak commented on #6132
4. In General any extra application specific information used in Authntication, authorization can be stored
in DomainContext in custom SecurityContext. I see this as the best place of storeing it as stated by
@jgrandja in his talk Spring Security deep dive:
 https://www.youtube.com/watch?v=AdsnM6OTepc.

[2018-11-29 09:45] nenaraab commented on #5508
@rwinch thanks for the sample and the hint with ACL support... for the reasons you've mentioned we don't use it for mass selects (like findChildren...) and we also don't use `@PostAuthorize` for paginated REST calls.

Still, for single inserts / deletions we make

[2018-11-29 09:48] #6147 closed

[2018-11-29 11:24] davidnewcomb opened #6184 "Spring Security helloworld-boot instructions are out of date"
### Summary
Documentation is out of date

### Version

The page:
https://docs.spring.io/spring-security/site/docs/current/guides/html5/helloworld-boot.html

### Problem

Section "Obtaining the sample project" tells you to download [Spring Security Distribution](https://github.com/spring-projects/spring-security/archive/5.1.2.RELEASE.zip).

Section "Import the insecure sample application" tells you

[2018-11-29 13:16] dbuos commented on #6148
I like to work on this issue :)

[2018-11-29 14:03] dbuos commented on #6148
@rwinch I made the change in the gradlew version, but I have some problems with compileJavaAspect task:

[code]
I'll proceed to investigate this further

[2018-11-29 14:23] edeandrea opened #6186 "OAuth2ResourceServerSpec should allow its ServerBearerTokenAuthenticationConverter to be configurable"
Currently in `ServerHttpSecurity.OAuth2ResourceServerSpec.JwtSpec.configure(ServerHttpSecurity)` the `ServerBearerTokenAuthenticationConverter` is hard-coded in the `configure` method. The non-reactive side (`OAuth2ResourceServerConfigurer`) allows for the user to supply a `BearerTokenResolver`. The reactive side should allow for the same.

I propose adding similar functionality to `ServerHttpSecu

[2018-11-29 14:42] jgrandja commented on #6186
@edeandrea That would be great. Please do at your convenience.

[2018-11-29 14:49] greyfairer opened #6187 "Allow ISO Date encoded timestamp fields in JWT tokens."
### Summary

Both Auth0 and OneLogin identity providers use ISO Date strings for the 'updated_at' claim in JWT Tokens, even if the spec says these should be numeric (unix timestamp). https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

If this happens, the StandardClaimAccessor#getUpdatedAt throws exceptions.

### Actual Behavior

If you use an OpenID Connector that writes the 'up

[2018-11-29 14:51] greyfairer commented on #6187
See https://github.com/spring-projects/spring-security/issues/5250#issuecomment-396439310
in #5250 by @sirianni

[2018-11-29 15:05] jgrandja opened #6188 "Update reference manual to use NimbusJwtDecoder"
With the recently deprecated `NimbusJwtDecoderJwkSupport` (in favor of `NimbusJwtDecoder`), we should update the reference manual to use `NimbusJwtDecoder` wherever `NimbusJwtDecoderJwkSupport` is currently used.

[2018-11-29 15:20] jgrandja commented on #6187
@greyfairer Agreed...

I'll apply some improvements here.

[2018-11-29 16:24] edeandrea commented on #6186
I'm almost wrapped up with it & wanted to ask a question regarding an implementation detail.

I'd like to change `ServerBearerTokenAuthenticationConverter` from a class to an interface and introduce a `DefaultServerBearerTokenAuthenticationConverter` class, mirroring what is there on the blocking side (`BearerTokenResolver` with a `DefaultBearerTokenResolver`).

It's implementation would look like

[2018-11-29 17:01] shraiysh commented on #6182
Hey! I am a first timer and would like to handle this issue!

[2018-11-29 17:06] edeandrea commented on #6186
After thinking about it a bit more I'm going to go with the non-breaking approach - create a new interface & retro-fit `ServerBearerTokenAuthenticationConverter` into it.

[2018-11-29 18:01] edeandrea commented on #6186
I just submitted #6190

[2018-11-29 20:58] rwinch commented on #5455
@charybr Thanks for the report

@m410 Thanks for the bump

This is a duplicate of #5508 so I'm closing this as a duplicate. If you disagree please comment on this or reopen

[2018-11-29 20:58] #5455 closed

[2018-11-29 21:35] rwinch commented on #6137
Thanks for the report @ankurpathak!

First of all. Given the sample you provided, I don't think it makes sense to place the DomainContext in the SecurityContext. For one, they aren't really related. more importantly, the code currently has a race condition because the `ServerWebExchange` is being set on a mutable object that is shared across multiple threads.

Instead I'd create a separate entry i

[2018-11-29 21:35] callor commented on #5571
I Got error
Forwarding to [/myproject/WEB-INF/views/home.jsp]
NOT FOUND

Please Help me!!  Thank you

[2018-11-29 21:37] #6186 closed

[2018-11-29 21:57] rwinch commented on #6145
Thanks for the report. The problem is that as soon as you hit a protected URL the X509 certificate is still being used which will authenticate again. I'm not sure there is anything you do because there is no way to signal to the browser to stop sending the certificate.

[2018-11-29 22:00] rwinch commented on #5562
It is tricky because we don't want to reveal too much information about the log in failure. In general, explaining too much information (i.e. the username does not exist, the password is invalid, etc) is not recommended.

If there is a failure in the systems, then I think the general error page should be used rather than our default log in page trying to handle it.

[2018-11-29 22:01] rwinch commented on #6146
Thanks for the report @kwang1! This is a duplicate of #4961

I'm closing this as a duplicate. If you disagree, please comment/reopen.

[2018-11-29 22:01] #6146 closed

[2018-11-29 22:12] rwinch commented on #6184
Thanks for the report @davidnewcomb! Sorry for your trouble. We have a duplicate of #5026 and more generally in #2567

I'm closing this as a duplicate. If you disagree, please reply/repopen this ticket.

[2018-11-29 22:12] #6184 closed

[2018-11-29 22:15] rwinch commented on #6111
@hfgbarrigas Thanks for the follow up.

The default was chosen in Boot and is quite deliberate as we feel like it covers more use cases. The existing setup works for users who are not authenticated. Please keep in mind that anything that leverages a Reactor Context will fail if it is not chained as I described above.

Given the above, I'm going to close the report. Thanks again for the report and

[2018-11-29 22:15] #6111 closed

[2018-11-29 22:18] rwinch commented on #5354
@WtfJoke I am hesitant to add a dependency on something that uses native code as I think it will be quite challenging for us to support.

[2018-11-29 22:47] rwinch commented on #6149
Thanks for the report. This is by design as the [JSR-250 specification states](https://download.oracle.com/otn-pub/jcp/caj-1.0-fr-oth-JSpec/com_annotations-1_0-fr-spec.pdf?AuthParam=1543531675_ce25da70c2d2b5b9f8c92055423a40b5):

itself or any of its members.

If you switch to using `@PreAuthorize` the method should be secured.

I'm going to close this as invalid, but if you disagree please reply/r

[2018-11-29 23:03] rwinch commented on #6092
Looks good to me @raphaelDL! Thanks :)

[2018-11-30 02:42] #6183 closed

[2018-11-30 02:51] rwinch commented on #6125
I mean that right now the [AccessDecisionManager](https://github.com/spring-projects/spring-security/blob/5.1.2.RELEASE/core/src/main/java/org/springframework/security/access/AccessDecisionManager.java#L46) takes the `Authentication` as an input. To invoke the decide method, we need to resolve the `Authentication` which means we must access the `HttpSession`.

To get around this we would need to c

[2018-11-30 03:10] rwinch commented on #6182
@shraiysh Thanks! The issue is yours. If you have any questions, please don't hesitate to let us know!

[2018-11-30 03:36] ankurpathak commented on #6137
Thanks, Rob for  pointing the problem in my code. Let me shrae the full code of DomainContext we use in Servlet Stack:
[code]
We need lots of these parameters which are rquired for authentication and authorization in DomainContext like ip, otp and locale(for emails). See we don't have access to HttpServletRequest(Servlet) or ServerWebExchage(Reactive) in UserDetails service, Then tell me how i wou

[2018-11-30 03:50] ankurpathak commented on #6138
@Rob Just started with Reactive Stack. And I am not that much confident and comforatble with in right now. But I will definately give it a try.

[2018-11-30 04:14] rwinch commented on #6137
If you are authenticating with it, then it should just be passed into the authentication that is validated. There shouldn't be any need to set it on the actual authenticated object. Additionally, if you need it later for authorization it can be in the authentication that is returned and then you can perform authorization based on the Authentication.

[2018-11-30 04:14] rwinch commented on #6132
This really seems like a duplicate of #6137 so let's move the discussion there

[2018-11-30 04:14] #6132 closed

[2018-11-30 04:15] rwinch commented on #6138
Thanks for volunteering @ankurpathak! Let us know if you need any help

[2018-11-30 04:16] ankurpathak commented on #6132
@rwinch Sure.

[2018-11-30 04:32] bentenzheng opened #6192 "Add Max Session to WebFlux"
When i am using webflux , how can i achieve a similar effect ,get all login user session ,
like as :
   http.sessionManagement() .maximumSessions(1).sessionRegistry(getSessionRegistry()).maxSessionsPreventsLogin(false)

[2018-11-30 04:38] ankurpathak commented on #6137
@Row Ok got your point. Even I agree I can do this with details object place in Authentication token.Lets
take look of these Mongo Collections we use in our project:
[code]
These mongo collections are using requestedUser and requestedOrganization store in DomainContext
by SPEL in their names. So this information will be required always and this won't be possible to do this
with Authentication.

[2018-11-30 05:40] forgo opened #6193 "Retrieving OidcIdToken from SimpleUrlLogoutSuccessHandler"
### Summary

Before my final logout success redirect, I am attempting to make an additional call to a logout endpoint given by my OpenID provider.

The provider (login.gov) states that my logout request should have this form:

[code]

Where `id_token_hint` is:

Their doc: [https://developers.login.gov/oidc/#logout](https://developers.login.gov/oidc/#logout)

### Actual Behavior

1) I login via my

[2018-11-30 07:17] ankurpathak commented on #6138
@rwinch Here is my pull request for this issue:
https://github.com/spring-projects/spring-security/pull/6194
Please let me know if it requires any modification.

[2018-11-30 08:59] shraiysh commented on #6182
Hi, @rwinch I have never worked with spring boot applications. Can you please provide me a link to an example that might use the required getter function so that I might test it?

Thanks!

[2018-11-30 11:10] jgrandja opened #6195 "Bearer should be case-insensitive in ServerBearerTokenAuthenticationConverter"
Related #6150

[2018-11-30 11:21] jgrandja commented on #6193
@forgo I believe the issue you are having is related to your [`scope: openid email`](https://github.com/forgo/login-gov/blob/master/src/main/resources/application.yml#L23) configuration. The scope(s) should be comma separated so `scope: openid, email` - the YAML reader will read this into 2 elements instead of 1 element containing both scopes, as in your case, which results in you NOT going throug

[2018-11-30 11:29] jgrandja commented on #5145
@rwinch You proposed this change to me way back and I logged the issue as I thought it was a good idea at the time as well.

If the user triggers the Authorization Code flow OR the `oauth2Login()` flow and does not proceed through to the end of the flow, for example, closes the browser at the consent screen, than the `OAuth2AuthorizationRequest` will essentially be _orphaned_ in the `Authorization

[2018-11-30 11:58] #6188 closed

[2018-11-30 12:08] ir73 commented on #4139
Sure, here we go https://github.com/spring-projects/spring-security/pull/6196

[2018-11-30 12:53] sunflower-seed commented on #6145
Thank you for your replay. And sorry for maybe confusing:

You can work around this by configuring the webserver (Apache) to do Cert requests only on a certain URL.
So then logout is possible (also it is as mentioned not a real logout).
But then you run in trouble with the keep-alive thing.

[2018-11-30 12:59] oassuncao commented on #6149
Hi @rwinch,

I understood this information, but, I think there are a wrong information when the AutoProxyCreator will create the proxies, If JSR-250 does not work with interfaces, when will get the advisors, need to be return only 1 advisor (Transaction)

[2018-11-30 13:32] dbuos commented on #6148
@rwinch  I got the build to work to some extend by filter these null properties as pointed in this [issue](https://github.com/gradle/gradle/issues/7861) but it's now failing because of a not existent file reference in spring-security-config.gradle

[code]
After removal of that reference the build is now working.I don't know if I'm missing something related to this file.

[2018-11-30 14:24] ankurpathak commented on #5934
@rwinch Here is my PR for this issue:
https://github.com/spring-projects/spring-security/pull/6198
Please guide me if it reuires improvements, modifications or corrections.

[2018-11-30 14:50] #6148 closed

[2018-11-30 14:54] rwinch commented on #6148
@dbuos Thanks for the fix. This was a legacy file that was being used in the tests that is no longer there as we moved to asciidoctor.

[2018-11-30 14:56] rwinch commented on #6192
We do not currently support max sessions in WebFlux. I converted this issue into a ticket for that support

[2018-11-30 15:08] raphaelDL opened #6199 "Restore Jacoco Gradle plugin default task dependence"

[2018-11-30 15:36] #6193 closed

[2018-11-30 15:51] edeandrea opened #6202 "ExceptionTranslationWebFilter should handle AuthenticationException"
On the servlet side, `ExceptionTranslationFilter` handles both `AccessDeniedException` and `AuthenticationException` by sending them to the `AuthenticationEntryPoint`. On the reactive side `ExceptionTranslationWebFilter` only does this for `AccessDeniedException`.

`ExceptionTranslationWebFilter` should handle `AuthenticationException` in the same manner as it's servlet-based counterpart.

If this

[2018-11-30 16:21] mibo commented on #6181
Fixing documentation is not so popular.
At least this is my explanation why this 'first-timer' is open longer then a day  ;o)
However I want to contribute and I additionally know that documentation is important.

Here is the PR: https://github.com/spring-projects/spring-security/pull/6203

For the case is missed something please let me know.

[2018-11-30 16:56] WtfJoke commented on #5354
Thanks for your answer, I can understand your reasoning.

[2018-11-30 17:13] #6075 closed

[2018-11-30 17:16] rwinch opened #6204 "ReactorContextTestExecutionListener should use named hooks"
### Summary

Backport of #6174

[2018-11-30 17:17] rwinch commented on #6204
Fixed via 46012d62af6d3be9702aac829ac9bfc3325d2d15

[2018-11-30 17:17] #6204 closed

[2018-11-30 17:18] rwinch opened #6205 "ReactorContextTestExecutionListener should use named hooks"
### Summary
Backport of #6174

[2018-11-30 17:18] rwinch commented on #6205
Fixed via 9eb58c94e0682ac1aae35250ec7f42f7bb8e78bd

[2018-11-30 17:18] #6205 closed

[2018-11-30 17:47] raphaelDL commented on #6092
I've submitted #6199

[2018-11-30 20:15] rwinch commented on #6137
I don't think there is need to modify the SecurityContext. The values are not related to the currently logged in user. They are related to the request. If you need additional contexts, use somethign separate from the SecurityContext.

I'm going to close this modifying the SecurityContext is not really necessary in the first place.

[2018-11-30 20:15] #6137 closed

[2018-11-30 20:21] rwinch commented on #6182
@shraiysh You do not need a getter. The tests will be like those in [WebClientReactiveClientCredentialsTokenResponseClientTests](https://github.com/spring-projects/spring-security/blob/1a80d4a66cd6c89299c06abe11ef361034732a11/oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveClientCredentialsTokenResponseClientTests.java#L123-L146) Does that he

[2018-11-30 20:22] jgrandja opened #6206 "Document client_credentials grant feature"
There is no documentation on the Client Credentials Grant feature which was introduced in 5.1. This needs to be documented in the reference along with sample code.

**NOTE:** This needs to be back-ported to 5.1.x as well.

[2018-11-30 20:31] rwinch opened #6207 "Restore Jacoco Gradle plugin default task dependency"
### Summary
Backport of #6199

[2018-11-30 20:31] rwinch opened #6208 "Restore Jacoco Gradle plugin default task dependency"
### Summary

Backport of #6199

[2018-11-30 20:32] rwinch commented on #6207
Fixed via 01787ea1687e8dfd16a9da134d8c56bb3587e168

[2018-11-30 20:32] #6207 closed

[2018-11-30 20:33] rwinch commented on #6208
Fixed via ec77c630ece826fe2f55f3ab130b17313a16c680

[2018-11-30 20:33] #6208 closed

[2018-11-30 20:57] rwinch commented on #6181
Thanks for the PR @mibo! This is now merged into master

We hope to see you contribute again soon! If you are looking for issues we have been adding help wanted label to issues that are a bit less challenging. Of course if you find any issue you want to work on, just mention it in the comments and we can go from there. Thanks again for taking the time to help make the Spring community better!

[2018-11-30 20:57] #6181 closed

[2018-11-30 21:00] rwinch commented on #5145
Thanks for the reminder.

It's probably not a huge deal, but I'd like to leave this open. It is technically a memory leak and sessions can be kept around quite a long time.

[2018-11-30 22:30] rwinch commented on #6149
That is true. I agree there is room for improvement in terms of deciding if a proxy is created or not. Would you mind creating a ticket with a sample of it happening?

I'm closing this as invalid since the original report is not valid.

[2018-11-30 22:30] #6149 closed

[2018-11-30 22:47] rwinch commented on #6145
Can you put together a minimal and complete example of this?

[2018-11-30 22:56] rwinch commented on #6202
I don't think we have a need for it at this point. Are you having issues with the way things are working?

[2018-11-30 23:02] edeandrea commented on #6202
I'm not in front of the computer right now so I don't have the exact stack trace, but when configuring reactive security to use oauth2ResourceServer - if I pass in a malformed token my app throws a 500 instead of a 401.

I can reply back on Monday with a sample on how to reproduce.

[2018-11-30 23:04] rwinch commented on #6202
ok thank you @edeandrea!

[2018-11-30 23:23] jzheaux opened #6209 "Spring Boot + spring-security-oauth2-resource-server should not throw a ClassNotFoundException once it supports more than one token format"
While it's true that Resource Server effectively requires `spring-security-oauth2-jose` at this point, it shouldn't once it supports more than one token format.

When `spring-boot-starter-security` and `spring-security-oauth2-resource-server` are used together, without further configuration, the application throws the following exception:

[code]

In all likelihood, this will be taken care of natu

[2018-12-01 02:03] richardvaldiviesomacias commented on #6182
When there is another first time...I would love to try!

[2018-12-01 02:05] richardvaldiviesomacias commented on #6043
Is this still open?

[2018-12-01 02:55] rwinch commented on #6209
@jzheaux There is a [spring-boot-starter-oauth2-resource-server](https://github.com/spring-projects/spring-boot/tree/v2.1.1.RELEASE/spring-boot-project/spring-boot-starters/spring-boot-starter-oauth2-resource-server) that should resolve this. There is a [ticket](https://github.com/spring-io/start.spring.io/issues/18) for adding it to start.spring.io

[2018-12-01 02:59] rwinch commented on #6182
@richardvaldiviesomacias We'd love for you to contribute! Given the high degree of interest we post the first timer only tickets and let it be a first come first serve system, so keep an eye out for tickets flagged as first-timers-only.

PS: If you find another ticket you are interested in, don't let the lack of first-timers-only flag discourage you. We are glad to help you contribute to other tic

[2018-12-01 05:38] ankurpathak commented on #6137
@rwinch Great Idea of creating custom context for request. Solved all my problems.
Here is what I did:
[code]
[code]

[2018-12-01 06:41] shraiysh commented on #6182
Hey! Thanks, that helped. I'm sorry for the typo there; I meant setter instead of getter! :D

[2018-12-01 16:50] nlebas commented on #6195
Thank you @jgrandja for catching this, I'll need it. I'll submit a PR with the same fix as #6150

[2018-12-01 23:33] richardvaldiviesomacias commented on #6182
Thanks, @rwinch. I will take a look. Is any documentation for sending a PR. I mean is there any particular way to send a PR (Format, new of branch, etc.)

[2018-12-01 23:42] richardvaldiviesomacias commented on #6043
👍

[2018-12-02 05:19] shraiysh commented on #6182
@richardvaldiviesomacias, I think [this](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md) is the link you're looking for! Hope that helps.

[2018-12-03 03:16] avirekghatia commented on #6043
@rwinch @richardvaldiviesomacias , I think I need a little more reading on the project before I can fix this. If you want to take this issue @richardvaldiviesomacias , feel free. Thank you.

[2018-12-03 08:44] cesnek opened #6211 "Order on WebSecurityConfigurerAdapter broken between SS 4.0.3 and SS 4.2.9"
### Summary

After upgrading to SS 4.2.9 from SS 4.0.3 filters order has changed.

We use many prefabricated WebSecurityConfigurerAdapter like

[code]
and
[code]
In application module there is configuration like this:
[code]

### Actual Behavior
In SS 4.0.3 this works perfect - in filter chain there is first RestApi entry and after that is Ignore filters entry.
But in SS 4.2.9 - first entry in fil

[2018-12-03 10:14] nenaraab opened #6212 "Spring ACL uses deprecated anyListOf method"
### Summary
[Mockito Matchers](https://static.javadoc.io/org.mockito/mockito-core/2.23.4/org/mockito/Matchers.html) are deprecated and should be replaced with [Mockito ArgumentMatcher](https://static.javadoc.io/org.mockito/mockito-core/2.23.4/org/mockito/ArgumentMatchers.html).

Example:
[`public static <T> List<T> anyListOf(Class<T> clazz)`](https://static.javadoc.io/org.mockito/mockito-core/2.23

[2018-12-03 11:58] shraiysh commented on #6182
Hi, I need some help! For testing custom webClient, I have written the following function
[code]

I don't understand how I mock over it without changing the other classes. Also, if I use `WebClient.builder().build()`, verify cannot this object.

Thanks

[2018-12-03 15:02] jgrandja commented on #4223
@igormukhin Closing and feel free to close yourself next time. Thanks.

[2018-12-03 15:03] #4223 closed

[2018-12-03 15:50] jzheaux commented on #6095
@CQuarterz do you think that you could complete this by next Monday?

If that sounds workable, then let me know where you are at with making the PR work, and I can help you take next steps.

If not, that's okay, too, and we can open it up to others who would also like to contribute.

[2018-12-03 16:08] edeandrea commented on #6202
Actually I think you are correct. I think though what is missing (& what I had to build to prove this to myself!) is a reactive version of `UserDetailsChecker`.

Now that I have that built out I'm happy to submit a PR for that (along with a modified version of `UserDetailsRepositoryReactiveAuthenticationManager` which includes a `ReactiveUserDetailsChecker`).

[2018-12-03 18:10] edeandrea commented on #5766
For a RESTful service I implemented this as a `ResponseBodyResultHandler`.

[code]

I agree though it would be much better for this to work out of the box.

[2018-12-03 18:21] richardvaldiviesomacias commented on #6043
Sure I will give it a try. Thanks @avirekghatia

[2018-12-03 19:12] #6195 closed

[2018-12-03 20:50] rwinch opened #6214 "Travis Builds Are Stalling"
### Summary

It appears our builds are [stalling on Travis](https://api.travis-ci.org/v3/job/462107865/log.txt) with:

[code]

[2018-12-03 20:55] rwinch commented on #6209
It seems like that would be the case. Won't that naturally sort itself out or is this just to ensure we validate that?

[2018-12-03 20:59] rwinch commented on #6215
Thanks I re-read the issue and understand the problem. Would you be interested in putting a PR together?

[2018-12-03 21:01] rmartinus commented on #5834
I can work on this as my first contribution to spring security

[2018-12-03 21:04] rwinch commented on #6192
@ankurpathak Sure! The ticket is yours

[2018-12-03 21:08] rwinch commented on #6211
Thanks for the report @cesnek! If you'd like us to spend some time investigating, please take the time to provide a complete minimal sample (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2018-12-03 21:21] rwinch commented on #6202
Thanks for the response @edeandrea! I'm going to close this and we can discuss other changes via another ticket. Can you please create a new ticket to discuss your proposal around `UserDetailsChecker`?

[2018-12-03 21:42] rwinch opened #6216 "SecurityContextCallableProcessingInterceptor thread visibility fix"
### Summary

Backport of #6144

[2018-12-03 21:46] #6143 closed, assigned to nobody

[2018-12-03 21:47] rwinch commented on #6216
Fixed via b7cebee89e22ad8358fa1dcca1ef2ffb46f4cd1d

[2018-12-03 21:47] #6216 closed

[2018-12-03 21:48] rwinch opened #6217 "SecurityContextCallableProcessingInterceptor thread visibility fix"
### Summary
Backport of #6144

[2018-12-03 21:49] rwinch commented on #6217
Fixed via d8f039b32b48265b20fafe00e555df12bea5dd26

[2018-12-03 21:49] #6217 closed

[2018-12-03 21:50] rwinch opened #6218 "SecurityContextCallableProcessingInterceptor thread visibility fix"
### Summary

Backport of #6144

[2018-12-03 21:51] rwinch commented on #6218
Fixed via fd31e52fb169da5c06286d1b94afda08ffac5e15

[2018-12-03 21:51] #6218 closed

[2018-12-03 21:57] edeandrea opened #6219 "Integrate UserDetailsChecker into ReactiveAuthenticationManager & OAuth2 resource server implementations"
I propose adding a reactive version of `UserDetailsChecker` along with an implementing class that mirrors the `AccountStatusUserDetailsChecker`.

This is frequently used when combined with a `UserDetailsService` for checking the status of a user's account and we need this on the reactive side as well.

It also needs to be tied into the `ReactiveAuthenticationManager` implementations (i.e. `UserDet

[2018-12-03 21:58] edeandrea commented on #6202
I opened #6219 for the `UserDetailsChecker`

[2018-12-03 21:58] #6202 closed, assigned to nobody

[2018-12-03 22:00] jzheaux opened #6220 "Remove Servlet Spec 2.5 and 3.0 support"
The Spring Framework [baseline](https://github.com/spring-projects/spring-framework/wiki/Upgrading-to-Spring-Framework-5.x#baseline-update) moved to Servlet Spec 3.1 as of 5.x. This means that Spring Security can drop support for Servlet Spec 2.5 and 3.0.

Note that this is tangentially related to #6025 since some of Spring Security's PowerMock usage surrounds mocking a Servlet Spec 2.5 and 3.0 ru

[2018-12-03 22:05] rwinch commented on #5834
@rmartinus Thanks the issue is yours! If you need any help, please let us know.

[2018-12-04 01:19] wangzw commented on #6215
#6109 is filed for this issue.

[2018-12-04 02:44] CQuarterz commented on #6095
I believe I changed someone else's commit by accident and not sure how to remove it to make my own.

[2018-12-04 04:54] jzheaux commented on #6095
No problem, @CQuarterz. When you are new to git, everything is Greek.

Let's try this from scratch if you don't mind.

[code]

At this point, your local branch will be reset to look like the main repository.

Then, make your edit again.

Once you've made your edit again, do:

[code]

Your commit message should follow [the contribution guidelines](https://github.com/spring-projects/spring-security/

[2018-12-04 05:13] CQuarterz commented on #6095
Done I believe! Thanks for the help!

[2018-12-04 06:43] shraiysh commented on #6182
Hey, @rwinch I am sorry for creating a mess with so many commits... Please check it (the last one - I have squashed others) and let me know if I should submit a pull request.

[2018-12-04 09:51] rmartinus commented on #5834
@jzheaux @rwinch please review my PR when you get a chance

[2018-12-04 14:41] KatarzynaRadkowska opened #6222 "Unable to use SecurityContextPersistenceFilter outside security filter chain to manage security context lifecycle"
### Summary

I would like to be able to read from Security Context after security chain is done (e.g. in filters).

Registering SecurityContextPersistenceFilter outside security chain is possible, so I thought that reading from security context, before it's cleared inside SecurityContextPersistenceFilter finally block, should be possible.
Unfortunately security context is cleared by default in Fil

[2018-12-04 17:43] rwinch opened #6223 "MethodSecurityEvaluationContext Should Check Parameter Names Are Not Null"
### Summary

Spring Security's [MethodSecurityEvaluationContext](https://github.com/spring-projects/spring-security/blob/5.1.2.RELEASE/core/src/main/java/org/springframework/security/access/expression/method/MethodSecurityEvaluationContext.java#L115) should ignore parameter names that are `null`.

Related: https://jira.spring.io/browse/SPR-17565

[2018-12-04 17:52] rwinch opened #6224 "MethodBasedEvaluationContext Should Delegate to MethodBasedEvaluationContext"
### Summary

Spring Security's `MethodSecurityEvaluationContext` should delegate to Spring Framework's `MethodBasedEvaluationContext`

[2018-12-04 17:53] rwinch opened #6225 "Update GitHub Labels"
### Summary
We should update the GitHub labels for Spring Security. There are lots of labels we have that are not used/needed. We might want to consider aligning with Spring Boot's label conventions.

NOTE: http://www.dorukdestan.com/github-label-manager/

[2018-12-04 17:55] rwinch opened #6226 "Use Spring Issue Bot"
### Summary

We should use the Spring Issue Bot for managing waiting for triage and waiting for feedback https://github.com/spring-io/issue-bot

[2018-12-04 17:57] rwinch opened #6227 "Create a Backport Issue Bot"
### Summary
It would be nice to have a Bot that automatically created back ported issues.

* If GitHub sees commit not on master
* Looks for Fixes: `gh-<number>`
* If not already created, creates backport ticket for the ticket, and closes it using gradle.properties version

[2018-12-04 18:19] rwinch commented on #6219
Thanks for the ticket @edeandrea!

I'm curious if we need a reactive version of `UserDetailsChecker` since the `UserDetails` is provided as an argument. Instead we could potentially use something like:

[code]

[2018-12-04 19:30] #6138 closed

[2018-12-04 19:34] rwinch commented on #6182
@shraiysh Thanks for the fast turnaround!

Can you please update the commit message to align with [the Spring Security conventions](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#format-commit-messages)?

A few notes:
* Try to keep the subject as short as possible. This can be difficult or even impossible but try to keep it meaningful and concise
* There is no need

[2018-12-04 19:40] jzheaux commented on #6095
@CQuarterz perfect! Now, just [create a pull request](https://github.com/spring-projects/spring-security/compare/master...CQuarterz:gh-6095).

[2018-12-04 19:43] rwinch commented on #6222
Thanks for the report @KatarzynaRadkowska! Can you please put together a complete but minimal sample of this failing? This will help us to be able to prioritize the issue.

[2018-12-04 19:49] rwinch commented on #6219
Sounds good. I'd stick with `.doOnNext` which is doing something with the `UserDetails` without needing to change its value.

[2018-12-04 19:54] edeandrea commented on #6219
I'll rename this ticket then to something more appropriate for integrating `UserDetailsChecker` into the `ReactiveAuthenticationManager` implementations.

I'm happy to supply a PR for it as well.

[2018-12-04 20:33] jgrandja opened #6228 "Authentication scheme case-insensitivity"
/cc @vpavic @jzheaux @rwinch @tnwang @nlebas

Let's revisit the Authentication scheme case-insensitivity as it seems we're not all on the same page as of yet. This is related to #6150 #5586 #6195

I've re-read the 3 related specs and have provided references below along with my comments.

## **[RFC 6750 - The OAuth 2.0 Authorization Framework: Bearer Token Usage](https://tools.ietf.org/html/rfc675

[2018-12-04 22:15] edeandrea commented on #6219
I opened #6229 for this.

[2018-12-05 04:59] shraiysh commented on #6182
Thanks for the comment @rwinch. I have updated the commit message to
[code]
Please let me know if there's an issue.

[2018-12-05 05:05] shraiysh commented on #6223
Hi @rwinch, I would like to take this one.

[2018-12-05 05:37] ShanyouYu-Sean opened #6231 "Why Jwt is the only supported format for bearer tokens in Spring Security?"
### Summary
Seems Jwt is the only supported format for bearer tokens in Spring Security 5.1.+, why? Is there any plans implement a way to verify normal bearer token with userinfo endpoint or token introspect endpoint?

### Actual Behavior
Cannot verify normal bearer token with userinfo endpoint or token introspect endpoint in Spring Security 5.1.+.

### Expected Behavior
Provide a way to verify no

[2018-12-05 06:07] #6095 closed

[2018-12-05 06:11] jzheaux commented on #6209
This is just to ensure we validate that. Agreed that it should naturally sort itself out.

[2018-12-05 12:44] KatarzynaRadkowska commented on #6222
Hi
Working gradle example inside this zip file
[example.zip](https://github.com/spring-projects/spring-security/files/2648811/example.zip)

As you may see I try read from security context in `ReadFromSecurityContextFilter` after request processing, but still before finally block inside SecurityContextPersistenceFilter.

[2018-12-05 14:34] jgrandja commented on #6231
@ShanyouYu-Sean Token Introspection (opaque token) support is planned for 5.2. You can track the progress in #5200.

[2018-12-05 14:34] #6231 closed

[2018-12-05 16:27] rwinch opened #6232 "SessionRegistryImpl should use computeIfAbsent"
### Summary
Backport of #5834

[2018-12-05 16:29] #6232 closed, assigned to rwinch

[2018-12-05 16:29] rwinch opened #6233 "SessionRegistryImpl should use computeIfAbsent"
### Summary

Backport of #5834

[2018-12-05 16:30] rwinch commented on #6233
Fixed via f6657b7771dffdf26a1a22bebae91d97d0a9c48b

[2018-12-05 16:30] #6233 closed

[2018-12-05 17:36] jzheaux opened #6234 "JwtDecodersTests and ClientRegistrationsTest should explicitly test for trailing slash"
From the [Open ID Discovery Spec](https://openid.net/specs/openid-connect-discovery-1_0.html#rfc.section.4.1):

Coincidentally, this is taken care of by virtue of using `UriComponentsBuilder`, which both `JwtDecoders` and `ClientRegistrations` (via `RestTemplate`) use.

And, `MockWebServer` automatically adds a trailing slash to its base path, which means that `JwtDecodersTests` and `ClientRegistr

[2018-12-05 17:48] rwinch opened #6235 "AuthenticatedReactiveAuthorizationManager support for AnonymousAuthenticationToken"
### Summary

`AuthenticatedReactiveAuthorizationManager` should filter out anonymous authentication by leveraging `AuthenticationTrustResolver`.

[2018-12-05 17:50] rwinch commented on #6182
Looks good. Can you submit a pull request?

[2018-12-05 17:51] #5486 closed

[2018-12-05 17:54] rwinch commented on #6223
Thanks for the offer. I'd like to keep this for a first time contributor for the moment. If you are looking for more issues, please check out the help wanted and exclude the first timers only label. Here is the query if you need it https://github.com/spring-projects/spring-security/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22help+wanted%22+sort%3Aupdated-desc++-label%3Afirst-timers-only

[2018-12-05 17:59] jzheaux commented on #6104
@govi20 Wanted to see if you had any other questions. And are you still wanting to work on this?

[2018-12-05 18:00] mibo commented on #6235
Hi @rwinch I would take this one.

[2018-12-05 18:07] jzheaux opened #6236 "Get structure101 plugin working in build"
[Structure101](https://structure101.com/) is a licensed tool Spring Security uses for package tangles.

It would be nice if it were checked as part of the CI build.

[2018-12-05 18:07] shabari004 commented on #6223
Hi can i work on this

[2018-12-05 18:08] #6234 closed

[2018-12-05 18:09] edeandrea opened #6237 "Support UserDetailsService components in OAuth2 Resource Server flows"
Spun out from #6219.

We need the ability to apply a `UserDetailsChecker` to the OAuth2 Resource Server flows.

My initial thoughts on implementation would be to have converters (i.e. `Converter<Jwt, AbstractAuthenticationToken>` & `Converter<Jwt, Mono<AbstractAuthenticationToken>>`) that can take an underlying `Converter` and apply a `UserDetailsChecker` to it before returning the `AbstractAuthen

[2018-12-05 18:10] rwinch commented on #6222
Thanks for the sample. The FilterChainProxy clears the `SecurityContextHolder` because users can disable the `SecurityContextPersistenceFilter`. In fact, users often created memory leaks for themselves in the past by using security none (XML) or `WebSecurity.ignoring` and then trying to access the `SecurityContextHolder`. SO this is very much by design.

What are you doing that you need to access

[2018-12-05 18:18] rwinch commented on #6235
@mibo Thanks for you volunteering! The issue is yours :) Let me know if you need any help.

[2018-12-05 18:19] rwinch commented on #6223
Thank you for volunteering to work on this @shabari004! The issue is yours. Please let me know if you need any help.

[2018-12-05 18:32] KatarzynaRadkowska commented on #6222
Thank you for full explanation.

Actually I'm trying to read from it after request is fully processed, so after FilterChainProxy.

The basic idea is that I'd like to log some metrics after operation is executed, but in those metrics I'd like to provide information **who** performed **which** operation, and **how long** it took. This information **who**, I will have only after successful authentica

[2018-12-05 18:32] zeratul021 opened #6239 "Add scheme/protocol variable for OAuth2 redirectUriTemplate"
Currently most of us use the default redirect URL:
[code]
These variables are populated in *DefaultOAuth2AuthorizationRequestResolver#expandRedirectUri*.

Due to our platform setup and constraints we need all our redirect URIs to start with **https://**
We would like to reuse the default URL but change only the protocol part.

Suggestion: add variables **scheme**, **serverName** and **serverPort**

[2018-12-05 18:48] govi20 commented on #6104
Yes. I will give it a try on upcoming Saturday, Sunday.

[2018-12-05 21:36] shabari004 commented on #6223
@rwinch i dont see any test cases for this class, do we need any test cases for this

[2018-12-05 22:49] richardvaldiviesomacias commented on #6043
Good afternoon

I finished this issue. I forked the repository and I working on it. How/What is the procedure to request a PR. I am sure that I will do some corrections but I want to send it now. Here is the file from the repository: https://github.com/richardvaldiviesomacias/spring-security. Branch's name gh-6043-TaskScheduler-variant

[2018-12-05 22:57] jzheaux commented on #5486
This sample can be found [here](https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2resourceserver-static)

[2018-12-06 00:13] izeye commented on #6010
This seems to be resolved via d28e32b00041bc54811fa47e881895c61bcefd9f.

[2018-12-06 00:41] dbuos commented on #6224
I'd like to take it ;)

[2018-12-06 04:13] dongmyo commented on #4876
@rwinch I'd like to take it

[2018-12-06 04:37] shraiysh commented on #6223
Thanks @rwinch.

[2018-12-06 08:57] zqr95518 opened #6242 "More annotations in controller?"
Is there any annotations on controller method such as simply
@RequiresAuthentication
or @RequiresPermissions("sys:user:edit")
like shiro do in spring 1.5?
more
@RequiresRoles("admin")
@RequiresPermissions(logical = Logical.OR, value = {"sys:user:view", "edit"})
@Secured is not very easy to use with jwt.

[2018-12-06 11:14] pvliss commented on #3889
Hello @rwinch, I would like to take this one

[2018-12-06 11:15] pvliss commented on #4399
Hello @rwinch, I would like to take this one

[2018-12-06 13:25] edeandrea opened #6243 "JwtAuthenticationConverter needs a way to merge authorities from UserDetailsService into JwtAuthenticationToken"
Currently in `JwtAuthenticationConverter` the authorities passed into `new JwtAuthenticationToken` come only from the scopes on the token. If the user has set a `UserDetailsService` or `ReactiveUserDetailsService` then the authorities returned from `userDetailsService.loadByUsername(subject).getAuthorities()` / `reactiveUserDetailsService.findByUsername(subject).getAuthorities()` should be merged

[2018-12-06 14:35] OlegSkr commented on #2188
put jndi.properties in "src/main/resources" with the contents:
java.naming.ldap.attributes.binary=objectSid

see: https://docs.oracle.com/javase/7/docs/api/javax/naming/Context.html#RESOURCEFILES

[2018-12-06 17:18] #6182 closed

[2018-12-06 17:37] rwinch commented on #6222
Thanks for the follow up @KatarzynaRadkowska!

I don't think placing it in Spring Security's `FilterChainProxy` is any less elegant than using the `SecurityContextPersistenceFilter` outside of `FilterChainProxy`.

You can do something like this:

[code]

You would also ensure to create a `FilterRegistrationBean` that disables registering your `Filter` if it is exposed as a Bean.

An alternative is

[2018-12-06 17:37] #6222 closed

[2018-12-06 17:41] jzheaux commented on #6237
@edeandrea Thanks for your proposal!

The tricky part is that there isn't a `UserDetails` in play with Resource Server. Really, the typical semantics of a Resource Server are not user-based, but authority-based.

Likely, any converter we roll into master should play nicely with these semantics. For example, the default, `JwtAuthenticationConverter` returns an authentication token of type `JwtAuthe

[2018-12-06 17:41] shraiysh commented on #6182
Hey, @rwinch This was my first code contribution to open source. You made it really easy for me. Thanks a lot for your help.
Cheers ;)

[2018-12-06 17:43] rwinch commented on #6239
@zeratul021 Thanks for reaching out!

Does your application accept https connections? If so, you could force a redirect to https using

[code]

Then the redirect would always be https.

It also seems that it is likely if you are overriding the scheme you would need to override the port. Does that sound accurate?

[2018-12-06 17:51] rwinch commented on #6043
@richardvaldiviesomacias Thanks for working on this! No problem on needing some corrections that is part of the process! Please go ahead and [submit the PR](https://help.github.com/articles/creating-a-pull-request/) and we can review and refine from there.

[2018-12-06 17:52] rwinch commented on #6224
Thanks @dbuos the issue is yours!

[2018-12-06 17:55] edeandrea commented on #6237
Thanks @jzheaux No at this moment I'm not blocked - I just hate having to write my own custom stuff when (in theory) things really belong "up" a level :)

As a framework developer here at my company we always prefer to not have to write custom code and instead "wire" spring code together to make things work the way we want to work.

At first when I was implementing this I was under the same impres

[2018-12-06 18:01] rwinch opened #6244 "Improve error message for Chinese"
### Summary

Backport of #6240

[2018-12-06 18:15] jzheaux commented on #6010
@izeye https://github.com/spring-projects/spring-security/commit/d28e32b00041bc54811fa47e881895c61bcefd9f is a good starting point for this but is ultimately focused on `NimbusJwtDecoder`. This task is about adding more versatility to `JwtDecoders`.

That commit may ultimately inform how we complete this ticket, though, which is why those commits reference this issue.

[2018-12-06 19:50] jgrandja opened #6245 "Improve ClaimAccessor and externalize coercion"
The methods in `ClaimAccessor` attempt to coerce a mapped value of `Object` to a specific type, for example:

- `getClaimAsBoolean`
- `getClaimAsInstant`
- `getClaimAsURL`

The coercion happens on each `get` which is not ideal. It would be more efficient if the coercion happened once and before the `Map<String, Object>` of claims is associated to the specific type of `ClaimAccessor` implementation

[2018-12-06 19:54] rwinch opened #6246 "Improve error message for Chinese"
### Summary

Backport of #6240

[2018-12-06 19:54] rwinch commented on #6244
Fixed via 49167458d286ecfdbfa1f75e6d85917a9965d4aa

[2018-12-06 19:54] #6244 closed

[2018-12-06 19:55] rwinch commented on #6246
Fixed via 78a6c48f8

[2018-12-06 19:56] jgrandja commented on #6245
Related #6187 #5250

[2018-12-06 19:57] rwinch opened #6247 "Improve error message for Chinese"
### Summary
Backport of #6240

[2018-12-06 19:57] rwinch commented on #6247
Fixed via 717bf4819

[2018-12-06 19:57] #6247 closed

[2018-12-06 20:08] rwinch commented on #6223
@shabari004 There are not currently unit tests as this is tested in other places. However, I think it would make sense for this scenario to create unit tests.

[2018-12-06 20:09] jgrandja commented on #6187
@greyfairer After giving this some further thought, we need to apply some more involved changes to `ClaimAccessor` to ensure it's more robust going forward. I have logged #6245 detailing the required changes. We're going to target this improvement for the 5.2.0 release.

Given this, I'm going to close this issue and associated PR as `ClaimAccessor` needs a bigger improvement compared to what is in

[2018-12-06 20:09] #6187 closed

[2018-12-06 20:30] sunflower-seed commented on #6145
i try.
may take some time.

[2018-12-06 20:39] shabari004 commented on #6223
@rwinch sorry to bother you, can i get some help in creating the test cases please.

[2018-12-06 20:43] jgrandja commented on #6237
@edeandrea Are you aware that you can override `JwtAuthenticationConverter.extractAuthorities()` to enhance the `JwtAuthenticationToken.getAuthorities()`? Here is a link to the [reference](https://docs.spring.io/spring-security/site/docs/5.1.2.RELEASE/reference/htmlsingle/#oauth2resourceserver-authorization-extraction).

For example, by overriding `JwtAuthenticationConverter.extractAuthorities()`

[2018-12-06 20:55] raphaelDL commented on #6220
How do we approach this?

[2018-12-06 22:09] izeye commented on #6010
@jzheaux Ah, sorry for the noise. I just thought so with the referenced issue number in the commit.

[2018-12-07 01:14] zqr95518 commented on #6242
OK, let me try. Thanks.

[2018-12-07 01:14] #6242 closed

[2018-12-07 02:07] salgmachine commented on #4435
This is by no means production-ready but i created a small PoC gist how one could use nimbus jose jwt for doing encryption/decryption on JWTs issued by the spring authorization server. Basically just inherting from JwtAccessTokenConverter and overrode the encode & decode methods. Signing / Signature Verification is still done by Spring, the current implementation just parses the (encoded) output o

[2018-12-07 03:30] jzheaux commented on #6237
@edeandrea it might be nice to see what you are doing, though I don't think we are ready for a PR. Would you mind checking something into a branch in your fork and linking to that here in the ticket?

[2018-12-07 03:37] jzheaux commented on #6010
@izeye no worries! Your help is always appreciated.

[2018-12-07 06:25] YINZHU2016 opened #6250 "if use oauth2Login can not use loginform"
I want to use loginForm() and oauth2Login() in the spring boot. But in httpsecurity, I can only use one of these 2 lines. How do I get them to work together?

My scenario is that I made a authserver based on spring security. I want this authserver to support local user login as well as third-party user login, such as google, facebook, etc. But I don't know how to integrate this. Is there an exampl

[2018-12-07 12:24] FrzMe opened #6251 "By default ServletOAuth2AuthorizedClientExchangeFilterFunction for ClientCredentials uses RestTemplate to request OAuth token in a blocking way"
### Summary

When using `ServletOAuth2AuthorizedClientExchangeFilterFunction` to perform oauth requests using the Spring Webflux WebClient the filter function utilizes a blocking call using RestTemplate which blocks the calling thread.

### Actual Behavior

getTokenResponse at https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-client/src/main/java/org/springframework/secu

[2018-12-07 12:30] alek-sys commented on #5038
Hey @rwinch, are there any updates on that issue? Is seems it was scheduler for 5.1 but I cannot find it there.

[2018-12-07 12:43] jdavid-araujo opened #6252 "Load JWT signature key from a dynamic base"
### Summary

I deployed an Authorization Server using AuthorizationServerConfigurerAdapter and the users and clients are configured from the implementation of the UserDetailsService and ClientDetailsService services that gather the required information in the database.
The Authorization Server is working properly, but I would like the signature key set in the accessTokenConverter () method to be l

[2018-12-07 12:46] edeandrea commented on #6237
I can certainly do that. I will get something up today.

[2018-12-07 13:56] jgrandja commented on #6252
@jdavid-araujo Can you please log this issue in the [Spring Security OAuth](https://github.com/spring-projects/spring-security-oauth/issues) repo as the code sample you provided is Spring Security OAuth. Thank you.

[2018-12-07 13:56] #6252 closed

[2018-12-07 14:09] jgrandja commented on #6251
@FrzMe `ServletOAuth2AuthorizedClientExchangeFilterFunction` is meant to be used in Servlet environments so the blocking nature is expected. FYI, `ServerOAuth2AuthorizedClientExchangeFilterFunction` which is the reactive counterpart.
I'm going to close this issue as it works by design.

[2018-12-07 14:09] #6251 closed

[2018-12-07 14:11] mattcopas opened #6253 "Unable to authenticate using access_token request parameter"
### Summary

According to the oauth2 specification, use of url?access_token=$TOKEN is allowed (and is required when using token based auth over WebSockets, as no request headers can be sent)

### Actual Behavior
When running the oauth2resource server example - https://github.com/spring-projects/spring-security/tree/5.1.2.RELEASE/samples/boot/oauth2resourceserver

everything works fine if you run `

[2018-12-07 14:14] jgrandja commented on #6250
@YINZHU2016 `formLogin` and `oauth2Login` should work together. What specific issue are you having? Can you share a sample so I can take a look at your configuration?

[2018-12-07 14:21] jdavid-araujo commented on #6252
Ok, I will do that.  Thank you.

[2018-12-07 14:34] jgrandja commented on #6253
@mattcopas This feature is available since 5.1. Take a look at `DefaultBearerTokenResolver` and the configuration options available. For your use case, you need the following configuration:

[code]

I'm going to close this issue as I feel I have answered your question.

[2018-12-07 14:34] #6253 closed

[2018-12-07 14:38] jgrandja opened #6254 "Document BearerTokenResolver in reference"
There is no documentation for `BearerTokenResolver` and it's default implementation `DefaultBearerTokenResolver` in the reference. We should document and provide code samples on how to use and customize.

[2018-12-07 14:56] mnovoseltsev opened #6255 "Expose RestOperations to be configurable for JWKS URI loader"
### Summary

I wanted to set custom rest operations for `NimbusJwtDecoderJwkSupport`, but it appears that `NimbusJwtDecoderJwkSupport` instance is created  inside of the following private method: `OidcAuthorizationCodeAuthenticationProvider#getJwtDecoder` (similar for reactive provider). So it is impossible to use `NimbusJwtDecoderJwkSupport#setRestOperations` method. Also there is no way to pre-p

[2018-12-07 14:57] mnovoseltsev commented on #5603
Hi @jgrandja , I wanted to set custom rest operations for `NimbusJwtDecoderJwkSupport`, but it appears that `NimbusJwtDecoderJwkSupport` instance is created  inside of the private method: `OidcAuthorizationCodeAuthenticationProvider#getJwtDecoder`. So it is impossible to use `NimbusJwtDecoderJwkSupport#setRestOperations` method.

For more details - https://github.com/spring-projects/spring-securit

[2018-12-07 15:33] jgrandja opened #6256 "Validate ClientRegistration.scopes"
We should validate `ClientRegistration.scopes` to ensure it contains valid characters as per [spec](https://tools.ietf.org/html/rfc6749#section-3.3).

Related [spring-boot#15398](https://github.com/spring-projects/spring-boot/issues/15398)

[2018-12-07 16:08] dbuos commented on #6224
@rwinch I made a PR that solves this issue https://github.com/spring-projects/spring-security/pull/6249, I'll be happy to make any adjustments that may be necessary

[2018-12-07 16:18] jgrandja commented on #6251
@FrzMe If your app is running in a Servlet environment than you have blocking behaviour regardless if you're using `WebClient` in a reactive way. As an FYI, `WebClient` does support blocking behaviour via `webclient.get().uri("somewhere") ....block()`.

If you're using `WebClient` in a servlet environment than you need to use it with `block()`. See this [example](https://github.com/spring-projects

[2018-12-07 16:30] jgrandja commented on #6255
@mnovoseltsev This will be addressed in #5717. Closing this as a duplicate.

[2018-12-07 16:30] #6255 closed

[2018-12-07 16:32] rwinch commented on #4399
Thank you for volunteering @pvliss! The issue is all yours. Please let us know if you have any questions!

[2018-12-07 16:46] rwinch commented on #6251
@FrzMe Thanks for the feedback.

`WebClient` OAuth support integrates with `HttpSession` on multiple levels (i.e. storing the access token and looking up the user to map to the access token), defaulting the principal that the token is looked up from from a ThreadLocal, etc. All of these are necessarily blocking. For this WebClient [provides support](https://jira.spring.io/browse/SPR-16873) for mak

[2018-12-07 16:51] rwinch commented on #6223
@shabari004 You may. What help do you need? Can you describe the problem you are having? Can you post a branch with the code you have?

[2018-12-07 17:03] jzheaux commented on #6220
@raphaelDL Since it manifests itself in a few different features, I'll create some subtasks that are each targeted at an individual feature. I think that will result in completing this with greater confidence.

[2018-12-07 17:08] shabari004 commented on #6223
@rwinch Hi i created a pull request with my code. Thanks

[2018-12-07 17:13] jzheaux opened #6259 "Remove Servlet 2.5 Support for Session Fixation"
Related to #6220

There are a couple of different strategies available to users for performing session fixation. One such, [`ChangeSessionIdSessionAuthenticationStrategy`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/session/ChangeSessionIdAuthenticationStrategy.java), requires a method only available on `HttpServl

[2018-12-07 17:41] raphaelDL commented on #6259
I will take this

[2018-12-07 17:56] FrzMe commented on #6251
My issue probably comes from the fact that my WebClient usage actually has little to do with the incoming requests. I'm just using it to resolve client credentials OAuth tokens, similar on how it was possible with the OAuth2RestTemplate.

I have no need to store any information in the request security context, rather I'd like to store them globally for my application (since the oauth details are n

[2018-12-07 18:01] jzheaux opened #6260 "Remove Servlet Spec 2.5 Support for SecurityContextHolderAwareRequestFilter"
Related to #6220

[`SecurityContextHolderAwareRequestFilter`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/servletapi/SecurityContextHolderAwareRequestFilter.java#L182) contains a condition which returns a different `HttpServletRequestFactory` based on whether the application is using Servlet Spec 3 or higher.

To support this, t

[2018-12-07 18:04] pvliss commented on #4399
Hello @rwinch,

Thanks!!! I have already actually created a first draft [commit](https://github.com/pvliss/spring-security/commit/9fac7461e24e1190795640d9c70bd5468d1def12) at my fork although I do have some questions that I need your help with before I submit the PR:

1. So since the changes need to be passive I took the simplest approach and that is to add a boolean flag(`enableLockingAttributes`

[2018-12-07 18:08] jzheaux opened #6261 "Remove Servlet Spec 2.5 Support for HttpSessionSecurityContextRepository"
Related to #6220

`HttpSessionSecurityContextRepository` adds a request wrapper for supporting Servlet Spec 3's startAsync methods.

Because Spring Framework 5.x has moved its baseline to Servlet Spec 3.1, the code should always use this wrapper [instead of checking the servlet spec version first](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/

[2018-12-07 18:15] jgrandja commented on #4435
@salgmachine Thanks for the sample!

Our plan is to start work on the Authorization Server sometime early-mid 2019 with the plan on introducing support in 5.3. I'm not sure if JWE will be supported in the initial release though. We still need to plan the MVP for Authorization Server.

However, we are targeting 5.2 for JWE support on the Resource Server side. This issue addresses that feature so yo

[2018-12-07 18:17] jzheaux opened #6262 "Remove Servlet Spec 2.5 and 3.0 Support for CSRF"
Related to #6220

The `CookieCsrfTokenRepository` attempts to [use the `setHttpOnly` method only if that method is available in `javax.servlet.http.Cookie`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/csrf/CookieCsrfTokenRepository.java#L59).

Since Spring Framework 5.0 has a Servlet Spec baseline of 3.1, this check is no longer

[2018-12-07 18:22] jzheaux opened #6263 "Remove Servlet 2.5 and 3.0 Support for Remember Me"
Related to #6220

The `AbstractRememberMeServices` attempts to [use the setHttpOnly method only if that method is available in javax.servlet.http.Cookie](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/rememberme/AbstractRememberMeServices.java#L97).

Since Spring Framework 5.0 has a Servlet Spec baseline of 3.1, this

[2018-12-07 18:29] jzheaux opened #6264 "Remove Servlet 3.0 Support in AbstractRequestMatcherRegistry"
Related to #6220

`AbstractRequestMatcherRegistry` [checks first to make sure that the class `javax.servlet.ServletRegistration` is present](https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/annotation/web/AbstractRequestMatcherRegistry.java#L164).

Since Spring Framework 5.x increases it's Servlet Spec baseline to 3.1, this che

[2018-12-07 18:45] zeratul021 commented on #6239
@rwinch no problem.
The thing is our actual spring boot applications have to run on http only because they are deployed in custom CloudFoundry installation with TLS termination.

Our OAuth2 providers require strict 1:1 redirect URI matching and some of them require https-only scheme.

So in our setups, when user comes from http scheme I want him to be redirected after successful OAuth2 login to ht

[2018-12-07 18:47] jzheaux opened #6265 "Remove Servlet 3.0 Support in CacheControlHeadersWriter"
Related to #6220

`CacheControlHeadersWriter` checks first to see [if `HttpServletRequest#getHeader` is available](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/header/writers/CacheControlHeadersWriter.java#L56).

Since Spring Framework 5.x has a baseline of Servlet Spec 3.1, this check is no longer necessary.

[2018-12-07 19:45] govi20 commented on #6104
@jzheaux I have started working on it. are we planning to remove `WebServerConfig(MockWebServer)` from every test case of targeted class? or there are scenario's for which we may need. is there any caveat?

[2018-12-07 20:17] #4876 closed

[2018-12-07 20:31] rwinch commented on #5038
@alek-sys Thanks for the nudge. We just haven't had time to add the support. Would you be interested in contributing this support?

[2018-12-07 20:47] edeandrea commented on #6237
I pushed commit edeandrea/spring-security@b6b9037 to the [gh-6237 branch in my local repo](https://github.com/edeandrea/spring-security/tree/gh-6237).

This was done in a way to be completely non-intrusive at all to the way current things work. It just offers a different `Converter<Jwt, AbstractAuthenticationToken>` / `Converter<Jwt, Mono<AbstractAuthenticationToken>>` that someone can choose to u

[2018-12-07 21:18] rwinch commented on #6259
Thanks the issue is yours @raphaelDL!

[2018-12-08 06:20] jzheaux commented on #6104
@govi20 Nice!

Yes, let's keep it for just one "happy path" `jwkSetUri` test. The reason is that when a `RestOperations` is wired, it actually changes out Nimbus's `ResourceRetriever` for a custom one. Having one where we just wire the URI will demonstrate that we work without the `RestOperations` customization.

Looking through the tests just now, after your changes you might not have a "happy pa

[2018-12-08 08:49] alek-sys commented on #5038
I'm happy to! If there is any guidance you'd like to provide it is much appreciated. Should it be just an implementation of `ServerAuthenticationConverter` or do you see that as some sort of preauth mechanism similar to original `X509AuthenticationFilter`?

[2018-12-08 12:33] johnhunsley commented on #4943
@rwinch Do you know which release of v5 PKCE is planned for? I'd like to get involved if possible?

Thanks.

[2018-12-08 14:02] qgicup commented on #4315
Any updates on this?

[2018-12-08 17:02] tlodderstedt commented on #4943
FYI - PKCE is becoming more import as the OAuth working group recommends use of PKCE for ALL kinds of apps to detect code injection (https://tools.ietf.org/html/draft-ietf-oauth-security-topics-10#section-2.1.1).

[2018-12-09 03:13] ajayvelagala commented on #4933
I haven't used jwt in my application but i used to have the same problem with just Oauth2 . I initially used 2.0.1.RELEASE and later resolved it by migrating  to 2.1.1.RELEASE.

and this is how my POM looks

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.1.1.RELEASE</version>
		<relativePath/>
	</parent>
	<groupId>com.exam

[2018-12-10 06:17] ejazazim commented on #6098
I was facing the same issue on AWS while using Cognito as Authentication provider and custom user info endpoint in my own OAuth2 Resource Server.

Updating to Boot 2.1.1 release fixed the issue.

[2018-12-10 11:17] FrzMe commented on #6251
@rwinch Thank you so much that looks great and works perfectly. The Auto Configuration does not work for me as it detects a servlet environment but aside from that everything works perfect.
I'm sorry for having made a bug.

[2018-12-10 13:46] finke-ba commented on #5623
@rwinch Hello! Any updates regarding this issue?

[2018-12-10 14:07] wtatum opened #6266 "How to Map Roles using OIDC on Reactive Stack"
### Summary

I'm having a hard time discovering how to map claims of an OIDC logon to GrantedAuthorities. [This doc](https://github.com/spring-projects/spring-security/blob/67f80dfadc745351801601c7ca195168c7c9b44f/samples/boot/oauth2login/README.adoc#mapping-user-authorities) seems to describe it for the non-reactive stack, but I can't find anything similar for WebFlux.

I also located a use of `G

[2018-12-10 14:15] wtatum commented on #6266
Sorry, it looks like the relevant mapper is in `org.springframework.security.oauth2.client.oidc.authentication.OidcAuthorizationCodeReactiveAuthenticationManager`. That property doesn't even have a setter, so I don't think I could override it even if I grab a reference to the bean.

[2018-12-10 14:23] studyforbetter commented on #6263
can you tell me how to use it by xml configer ,

[2018-12-10 14:41] jgrandja commented on #4943
@tlodderstedt @johnhunsley This will be a priority feature when we start work on the Authorization Server in order to support public clients for the `authorization_code` grant. Our plan is to start Authorization Server support in early 2019 with the hope of an initial release in 5.3 - depending on how we progress. We will also bring this support into the client likely for the same release.

[2018-12-10 15:38] jgrandja commented on #6266
@wtatum I would recommend using a delegation-based strategy to map authorities as it's more flexible than the use of a `GrantedAuthoritiesMapper`. An example is provided for the Servlet side of things [here](https://docs.spring.io/spring-security/site/docs/5.1.2.RELEASE/reference/htmlsingle/#oauth2login-advanced-map-authorities-oauth2userservice).

You can use the same pattern for reactive but you

[2018-12-10 16:34] tlodderstedt commented on #4943
good to hear, pls. let me know if I can help.

[2018-12-10 17:18] wtatum commented on #6266
That sounds straightforward enough. I'll give it a shot.

On Mon, Dec 10, 2018, 10:38 AM Joe Grandja <notifications@github.com wrote:

[2018-12-10 18:19] jzheaux commented on #6263
@studyforbetter there isn't anything special to do for XML in this case. `CookieCsrfTokenRepository` is configured by both the Java config as well as the XML config in the same way.

[2018-12-10 20:22] mibo commented on #6235
@rwinch I checked https://github.com/spring-projects/spring-security/pull/6198 and created following PR: https://github.com/spring-projects/spring-security/pull/6267

Can you please check if this solution fit and give feedback. Thanks.

[2018-12-11 03:08] ThrawnCA opened #6268 "GrantedAuthorityFromAssertionAttributesUserDetailsService is hard to extend"
### Summary

The `GrantedAuthorityFromAssertionAttributesUserDetailsService` class is difficult to extend. Its `convertToUppercase` flag is write-only, and its logic is contained within a single complex method.

### Actual Behavior

- `convertToUppercase` has a setter method, but no getter.
- `loadUserDetails` converts an Assertion into a UserDetails, with no intermediate methods.

### Expected Be

[2018-12-11 07:52] tensberg opened #6270 "Simplify Configuring Realm Name for WebFlux Applications"
### Summary

I'd like to be able to change the HTTP BASIC Realm configured by the WebFlux `ServerHttpSecurity http.httpBasic()`. It looks to me like there is no way to get at the underlying `HttpBasicSpec.entryPoint` to change the default.

### Actual Behavior

`ServerHttpSecurity http.httpBasic()` always uses the default realm *Realm*.

### Expected Behavior

Add API `ServerHttpSecurity http.http

[2018-12-11 11:23] richardvaldiviesomacias commented on #6043
@rwinch I got the latest from Master (without my changes) and it is failing when I run the integration.

[2018-12-11 14:17] ankurpathak opened #6271 "Minor Code Enhancement In UsernamePasswordAuthenticationFilter with Optionals"
Improve UsernamePasswordAuthenticationFilter to extract username and password from request by using Java 8 Optional. I have created this issue so that I can refer it in my pull request fir same.

[2018-12-11 14:30] ankurpathak commented on #6271
Code improvement it has are:
[code]

[2018-12-11 17:37] govi20 commented on #6104
I have removed `WebServerConfig` from some test cases, from some test cases I could remove this config. Also, I am unable to figure out the `RestOperations` functionality,  `restTemplate.exchange` will need active endpoint. I know I am terribly slow, If it needs to be fixed earliest, someone else can work on it.

[2018-12-11 19:07] #6219 closed

[2018-12-11 19:18] rwinch commented on #4399
Thanks for putting this together @pvliss!

I think it might be easier if we specify the contract as if the column count is larger than 3, then it will get the accountNonExpired, credentialsNonExpired, accountNonLocked attributes. Thenin the `RowMapper` we can check the row count and if it is bigger than three use the additional properties.

[2018-12-11 19:21] rwinch commented on #6239
It seems like you would then want to ensure you have setup your server properly for a proxy server. If that is done, then the default behavior will work for you.

Have you looked at https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#appendix-proxy-server and https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-use-tomcat-behind-a-proxy-server

[2018-12-11 19:22] #4139 closed

[2018-12-11 19:51] pvliss commented on #4399
Hello @rwinch,

Thanks for taking a look.

While your suggestion/solution requires no additional configuration I think that it is not safe as there might be cases where it fails at run-time as an app might already have more columns on the user table and at the same time not fully customize `JdbcUserDetailsManager`.  At least I did have some extra columns at that table at my last application (e.g.

[2018-12-11 19:58] rwinch commented on #5038
Thanks! I think that it could be done by creating a `ServerAuthenticationConverter` (as you suggested) plus a `ReactiveAuthenticationManager` and injecting those into the existing `AuthenticationWebFilter`.

[2018-12-11 20:12] edeandrea commented on #6209
The Spring Boot team is doing a check on their side as well (see spring-projects/spring-boot#15372).

[2018-12-11 20:17] jzheaux opened #6273 "Introduce ReactiveJwtAuthenticationConverter"
Users often need to consult external resources in a non-blocking way to collect granted authorities in Resource Server.

This is currently possible by implementing a `Converter<Jwt, ? extends Mono<? extends AbstractAuthenticationToken>>`.

On the Servlet stack, this task can be accomplished more easily by extending `JwtAuthenticationConverter`:

[code]

It would be nice to have the same simplicity

[2018-12-11 20:19] jzheaux commented on #6237
@edeandrea Thanks again for all the information you provided for this ticket.

Based on your branch, it appears that you just need a hook for refining the list of authorities. To that end, [I've created a ticket](https://github.com/spring-projects/spring-security/issues/6273) to create a `ReactiveJwtAuthenticationConverter` which can be used instead of the reactive adapter.

As for the proposal, t

[2018-12-11 20:21] rwinch commented on #4315
We don't have any plans for implementing this ourselves a the moment. However, if someone wants to provide a PR that would be very welcome.

[2018-12-11 20:29] rwinch commented on #5623
@finke-ba Thanks for the ping. We haven't had a chance to work on this due to other issues. If you have a chance to provide a PR I'd be happy to work with you on getting it merged.

[2018-12-11 20:36] finke-ba commented on #5623
@rwinch Thanks for the reply and such a welcome invitation to collaboration. I will certainly make a pull request as soon as I can in the near future.

[2018-12-11 22:02] avaud commented on #4399
I don't understand why you would retrieve the user prefs in that context since it won't be mapped anyway.
For the sake of simplicity I would have gone with @rwinch solution, but I'm not really an expert in Spring so I might miss a point here.

[2018-12-11 23:57] zeratul021 commented on #6239
1. I'm not sure if I need to configure anything extra as TomcatWebServerFactoryCustomizer detects CloudFoundry platform and enables **useForwardHeaders**. (not sure about tomcat.internal-proxies)
2. could you please elaborate (if it's too verbose we might switch to discord/slack/etc) on how the default behaviour would work for the given problem:
User coming over `http://app.com/login`, being redir

[2018-12-12 02:43] zidom opened #6274 "Give SecurityFilterChain a name for tracing!"
Give SecurityFilterChain a name for debug tracing!

[2018-12-12 05:30] jzheaux commented on #6273
Have I told you have lucky we are to have great contributors like you, @edeandrea?

Yes, a PR would be much appreciated, thank you.

I'm actually thinking that `ReactiveJwtAuthenticationConverter` would be abstract, and not have a default implementation for `extractAuthorities`.

The reason for this is that the user already gets the default scope-extraction logic by using `JwtAuthenticationConvert

[2018-12-12 07:58] zcwang3 commented on #5414
@rwinch do you close this issue intentionally or by accident?
it seems that the feature enhancement requirement is still there and not fixed.

Should we report a new issue with same content?

[2018-12-12 10:33] AI-PaaS opened #6275 "Got different access tokens for grant type client_credentials authorization when access the token url many times"
### Summary
I can get the access token using  client_credentials grant type and also can access the service with the access token. But, if the first token is not expired, i access the token_uri again, and i got another different access token, and can not use the second token access services.

I use jwt token store.

Can token uri return the same token if the token is not expired?

### Actual Behav

[2018-12-12 10:40] pvliss commented on #4399
Hello @avaud

You misunderstood me or maybe I was not clear enough.

I did not say I would retrieve the user prefs in that context, its obviously not needed. What I meant was that I had more columns added in the `users` DB table for other custom logic of my app related to the user entity and I did not want to have an extra table. Hence, in such a scenario, doing a simple column count on the table

[2018-12-12 10:54] avaud commented on #4399
Hello,

I get that but if you use ResultSetMetaData:
`ResultSetMetaData rsmd = rs.getMetaData();

int columnsNumber = rsmd.getColumnCount();
`
Then you would get the number of columns selected in your query, not the number in the table.
It could fail if someone has a "select * " as a query but I think it's acceptable since it's not really a good practice to do that.

[2018-12-12 11:02] pvliss commented on #4399
Hey, thanks for helping out.

Yes, you are right but in order to use `ResultSetMetaData` I would need to execute the proper select query first. So if there's no flag then I would have to use a `select * from users' in order to find out the column count. Using a query with predefined columns e.g. `select username,password,enabled, acc_locked, acc_expired, creds_expired from users where username = ?

[2018-12-12 11:41] edeandrea commented on #6273
That would be fine if I wanted to completely alter the authorities, but what if I want to merge the default behavior with my own set of authorities (which is actually my use case for bringing this up in the first place). Then I'd have to re-write that default logic myself rather than just calling super.

My thought would be to refactor JwtAuthenticationConverter and remove the logic that creates t

[2018-12-12 11:50] avaud commented on #4399
I don't get why it would cause an error since it's written by a dev who should know the columns in the DB. But since @rwinch seemed to have an idea on how to do that, I suggest you wait for his advice. He will probably know better than me.

[2018-12-12 12:20] dongmyo commented on #4315
@rwinch I'd like to take it

[2018-12-12 13:15] edeandrea commented on #6273
I opened #6277 for this. We can take the discussion over there if any re-factoring is needed.

[2018-12-12 13:52] pvliss commented on #4399
So I am guessing you are talking about the case where someone also overrides the default queries. In that case, yes it would not be such a problem.

I guess you are right, I will wait for @rwinch's advice.

Nevertheless, I have taken another shot at it using `DatabaseMetaData`: https://github.com/pvliss/spring-security/commit/3f23fb54a1c90d0eab7fd28b52d3748bfbc096ea

[2018-12-12 14:44] avaud commented on #4399
Well I did not know there was default queries... That explains the confusion.

[2018-12-12 15:03] jgrandja commented on #6275
@AI-PaaS Is this question based on the [Spring Security OAuth](https://spring.io/projects/spring-security-oauth) project? Given your statement:

Can you provide more detail please. What version are you using? Also, a minimal sample that reproduces the issue would be helpful.

[2018-12-12 15:55] dongmyo commented on #6263
@jzheaux I'd like to take it

[2018-12-12 17:20] jzheaux commented on #6104
@govi20 Your pace is just fine, thanks for checking in.

What I'd do is mock `RestOperations` using Mockito. Are you having problems with that approach?

[2018-12-12 17:48] jzheaux commented on #5853
Fixed via dfa41f8773a51abbd578fce71e04e96020982aaa

[2018-12-12 17:48] #5853 closed

[2018-12-12 20:22] rwinch commented on #5414
@zcwang3 Thanks for pointing that out. It appears that the commit reference the wrong issue. I have reopened this ticket.

[2018-12-12 20:36] rwinch commented on #6270
@tensberg Thanks for the report! Would you be interested in submitting a PR for this?

[2018-12-12 20:39] rwinch commented on #6043
@richardvaldiviesomacias Thanks for the ping. I responded on the PR.

[2018-12-12 21:32] rwinch commented on #6271
Thanks for creating the ticket. I'm closing this. Please see https://github.com/spring-projects/spring-security/pull/6272#issuecomment-446751377

[2018-12-12 21:32] #6271 closed

[2018-12-12 21:37] rwinch commented on #6239
Spring Security uses the scheme that is returned by `HttpServletRequest`. If you configure the proxy settings correctly, then `HttpServletRequest` will report that it was sent over `https` even if you are using SSL termination.

One thing that typically causes issues is that Tomcat support only works if the internal proxy matches the default regex. You can configure `server.tomcat.internal-proxies

[2018-12-12 21:48] #6235 closed

[2018-12-12 22:05] #5934 closed

[2018-12-12 22:54] ThrawnCA commented on #6268
We want to be able to use comma-separated values in our CAS attributes instead of using lists. We use PWM to manage our LDAP directory, and it's non-trivial to store list attributes that way.

[2018-12-13 02:05] zidom commented on #6274
When there are multipleSecurityFilterChain, eachSecurityFilterChain has multiple filters, and these filters are the same or similar in most cases, during the development period, it is difficult to determine which SecurityFilterChain the request is, it is easy to confuse! Therefore, whether you can give the SecurityFilterChain a name, in the debug log with the corresponding name, I think this is ve

[2018-12-13 02:37] ankurpathak commented on #6270
@rwinch i would like to take this one.

[2018-12-13 03:52] AI-PaaS commented on #6275
Is this question based on the Spring Security OAuth project? Yes.

   compile(group: 'org.springframework.boot', name: 'spring-boot-starter-web') {
        exclude(module: 'spring-boot-starter-tomcat')
        exclude(group: 'org.apache.tomcat.embed')
        exclude(group: 'org.springframework.boot',module:'spring-boot-starter-logging')
        exclude group: 'ch.qos.logback', module: 'logback-co

[2018-12-13 04:15] ankurpathak commented on #6270
@rwinch I was free and wanted something to code. So I completed this issue and providing a pull
request. I won't mind even if dosen't get accepted and chance get passed to @tensberg .
https://github.com/spring-projects/spring-security/pull/6279

[2018-12-13 05:08] ankurpathak commented on #6192
@rwinch What is equivalent of SessionRegistry in reactive world?
I think we would need ReactiveSessionRegistry for this issue as using SessionRegistry may be non
blocking for InMemoryImplementatio but may be blocking for SessionRegistry implemenation for
Redis, Mongo, JDBC in Spring Session.

[2018-12-13 08:24] ohr opened #6280 "BearerTokenAccessDeniedHandler should return missing scope"
### Summary

In case of insufficient scopes with OAuth2 authorization, the 403 response does not contain the missing scope(s) although https://tools.ietf.org/html/rfc6750#section-3.1 would allow so. For evaluating authorization problems on the client-side, this would be very valuable.

### Actual Behavior

Currently, the contained scopes are returned in the WWWAuthenticate header (it is btw. not m

[2018-12-13 11:35] jgrandja commented on #6275
@AI-PaaS Pasting the code in this issue would still require effort on my end to put together a compiling version of your sample. What I meant is to publish a minimal sample in a GitHub repo and share it with me along with detailed instructions on what you are performing on your end to reproduce the issue.

Also, I'm going to close this issue as it should be logged in the [Spring Security OAuth](ht

[2018-12-13 11:35] #6275 closed

[2018-12-13 12:57] mptardy opened #6281 "AuthenticationFailureBadCredentialsEvent published twice"
### Summary

`AuthenticationFailureBadCredentialsEvent` gets published twice with due the fix of #6009, WebSecurityConfigurerAdapter.java:203.

### Actual Behavior

If you create a `ApplicationListener<AuthenticationFailureBadCredentialsEvent>` and listen to `AuthenticationFailureBadCredentialsEvent`, you get notified twice when the users provides wrong credentials.

### Expected Behavior

Same as

[2018-12-13 14:01] dmusicant-eagle opened #6282 "None of the org.springframework.security.oauth2.core have the proper equals/hashcode implemented"
### Summary

I've been attempting to test an implementation of OAuth2 in Spring Boot 2.x, and am finding it incredibly cumbersome due to the fact that none of the classes used to hold state/data/response/request have an equals or hashCode implementation. This is not a good design.

### Actual Behavior

Classes such as these (see below) do not have equals or hashCode:

    org.springframework.secur

[2018-12-13 18:42] jgrandja commented on #6282
@dmusicant-eagle I don't agree that all domain classes should implement `equals` and `hashCode`. It really depends if they intend to be used in `Collection`(s) and such.

As far as `OAuth2AuthorizationRequest` and `OAuth2AuthorizationResponse`, these are framework specific classes and are not intended to be used by the application directly.

It would be more helpful to understand why you need `OAu

[2018-12-13 21:02] vpavic commented on #6228
I'm only going to address the Bearer part here, but it's really nothing outside of the thoughts I already expressed in my comments on #6150.

The section 2.1 of RFC 6750 is quite explicit on the syntax of Authorization header for Bearer authentication scheme. There's no ambiguity there that would warrant pulling other Authorization header related specs into the mix (for the Bearer part that is).

[2018-12-13 22:01] #4315 closed

[2018-12-14 09:47] Incarnation-p-lee opened #6284 "Spring security 5.1.x override dependency com.nimbusds:oauth2-oidc-sdk version."
When web application leverage spring boot 2.1.x (5.1.x spring security) with azure active directory boot starter, the spring security 5.1.x may override dependency com.nimbusds:oauth2-oidc-sdk from `5.64.4` to `6.0`. This 6.0 new version changed the interface API.

azure active directory boot starter depends on [AAD java libray](https://github.com/AzureAD/azure-activedirectory-library-for-java), i

[2018-12-14 10:15] schuch commented on #123
The `ALLOW FROM DENY` issue was fixed with https://github.com/spring-projects/spring-security/pull/4559

[2018-12-14 13:47] #6262 closed

[2018-12-14 13:47] #6263 closed

[2018-12-14 14:03] jzheaux commented on #6280
@ohr, you are correct that the scope information is not part of the exception. In fact, an `AccessDeniedException` has only a `String` message.

The behavior you are describing is actually by design. It's not great security to inform an attacker what scopes they are missing in order to get access to a resource, and for this reason, Spring Security leaves them out.

That said, this, too, is customi

[2018-12-14 14:03] #6280 closed

[2018-12-14 15:02] dongmyo commented on #6260
@jzheaux
what about changing `HttpServlet3RequestFactory` to the default implementation of `HttpServletRequestFactory` and moving `Servlet3SecurityContextHolderAwareRequestWrapper`'s functionality up into `SecurityContextHolderAwareRequestWrapper`?

[2018-12-14 15:49] jzheaux commented on #6284
@Incarnation-p-lee I've just run our integration suite against `5.64.4` to check and all tests pass.

I don't see anything in the 6.x part of [Nimbus's change log](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/src/52b44f912ba7b8f6eaae11aa2e9491551aafbed9/CHANGELOG.txt#lines-942) that Spring Security 5.1.x uses, though @jgrandja may see something I didn't. While Spri

[2018-12-14 15:58] jzheaux commented on #6260
Good question, this was my thought originally as well.

But, the reason to not do that yet is that `Servlet3SecurityContextHolderAwareRequestWrapper` depends on `private` state in `HttpServlet3RequestFactory`, [like an `authenticationEntryPoint`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/servletapi/HttpServlet3RequestFactory.j

[2018-12-14 18:09] dongmyo commented on #6260
@jzheaux okay, i totally understand what you mean now.
thank you.

[2018-12-14 18:39] rwinch commented on #4399
I'm not sure I understand the concern. Spring Security does not have `select *` by default. It specifically lists out the columns it wants in the order it wants them.

The `JdbcUserDetailsManager` and `JdbcDaoImpl` both already have a requirement on the order the columns are returned, so users who customize it with `select *` are already asking for trouble. Optionally processing additional columns

[2018-12-14 18:49] rwinch commented on #6268
Thanks. I think it makes sense for you to extend `AbstractCasAssertionUserDetailsService` instead of modifying `GrantedAuthorityFromAssertionAttributesUserDetailsService`.

[2018-12-14 18:57] rwinch commented on #6274
This sounds like a reasonable idea. I think we can use the beanName which is injected using `BeanNameAware` interface. Would you be interested in submitting a PR?

[2018-12-14 19:47] pvliss commented on #4399
Hello Rob. Thanks for your advice. So if I understood correctly we should not care about the default query and only have the user define custom queries in order to enable these attributes in a pre-defined order. Is that right?

Please see my latest [commit](https://github.com/pvliss/spring-security/commit/65e2b18270cb3ff551254ea2198e4e97da894c23) using that approach and let me know if that is what

[2018-12-14 19:56] #6256 closed

[2018-12-15 07:17] ankurpathak commented on #6274
I have implemented BeanNameAware in DefaultSecurityFilterChain. but it won't be helping much
because I think Spring doesn't register instances of it as Bean in BeanFactory. I debugged it after
using artifacts with these changes and was getting the Bean Name as null in DefaultSecurityFilterChain.

Here is pull reuest with above changes:
https://github.com/spring-projects/spring-security/pull/6288

[2018-12-15 13:11] dongmyo commented on #6261
@jzheaux I'd like to take it

[2018-12-15 13:55] ThrawnCA commented on #6268
That's what we'll probably do, yes. It's just that a lot of the logic is the same, so it would make sense (to me) to refactor GrantedAuthorityFromAssertionAttributesUserDetailsService to be reusable.

[2018-12-16 01:13] jzheaux commented on #6261
Thanks, @dongmyo! It's yours.

[2018-12-16 06:32] shawnbiesan commented on #6265
Hello, I submitted a PR for this. I think I followed the contributor rules correctly!

[2018-12-17 02:03] larrywest42 opened #6291 "Nice to have: release notes linked to from this repo"
### Summary

It would be useful to have release notes for Spring Security, summarizing the bug fixes and enhancements made in a given release, linked to from the repo and/or project page.

### Actual Behavior

I've found no release notes for Spring Security except via spring.io/blog, such as
* [Spring Security 5.0.8 and 4.2.8 release](https://spring.io/blog/2018/09/11/spring-security-5-0-8-and-4-2

[2018-12-17 06:30] miladamery opened #6292 "Provide a way to customize StrictHttpFirewall"
### Summary

Hi. In our project we recently migrated to Spring boot 2. in this version i figured out that '//' is forbidden in urls and this was a very big problem to us because there are more than thousands of jsp files that have used this incorrect behavior. i tried to config **StrictHttpFirewall** but it does not support it.
in my experience with spring projects, i always saw that everything in

[2018-12-17 11:44] finke-ba commented on #5623
@rwinch Hello! I create a pull request #6293, could you please check and review it?

[2018-12-17 13:16] clevertension commented on #6292
as a so powerful framework, we can assume that the customization is so easy, so i will give you some simple code analysis and the code demonstration

 in **org.springframework.security.config.annotation.web.builders.WebSecurity** , the **setApplicationContext(ApplicationContext applicationContext)** will get the HttpFirewall from the application context, so you can register this bean by your own

[2018-12-17 15:36] rwinch commented on #4399
@pvliss Sorry I wasn't clear about leaving the default query the same. We need to do this for passivity. Only user's needing the new functionality would leverage this by changing the query.

Yes this is what I had in mind. A few pieces of feedback:

* Please [leave existing tests the same](https://github.com/pvliss/spring-security/commit/65e2b18270cb3ff551254ea2198e4e97da894c23#diff-d56323a40d4175

[2018-12-17 16:05] #5508 closed

[2018-12-17 17:09] rwinch opened #6294 "Fix DefaultLoginPageGeneratingFilter Markup"
### Summary
Backport of #6287

[2018-12-17 17:09] rwinch commented on #6294
Fixed via 5d85a1c9d88d92bd5fee653bdbab954b7155b534

[2018-12-17 17:09] #6294 closed

[2018-12-17 17:17] rwinch opened #6295 "Fix LoginPageGeneratingWebFilter Markup"
### Summary

Related to gh-6287

[2018-12-17 17:17] #6295 closed

[2018-12-17 17:18] rwinch opened #6296 "Fix LoginPageGeneratingWebFilter Markup"
### Summary
Backport of gh-6295

[2018-12-17 17:18] rwinch commented on #6296
dd859c4a6e84c22c7b3edef3960265066752529f

[2018-12-17 17:18] #6296 closed

[2018-12-17 17:24] #6270 closed

[2018-12-17 19:53] #6260 closed

[2018-12-17 19:56] #6261 closed

[2018-12-17 20:08] rwinch commented on #6268
I don't think it makes sense since you are overriding the only method implemented by `GrantedAuthorityFromAssertionAttributesUserDetailsService`

I'm going to close this. If you disagree please comment why and we can reopen to discuss.

[2018-12-17 20:08] #6268 closed

[2018-12-17 20:11] rwinch commented on #6291
Thanks for the report @larrywest42! I'm curious what you are looking for over the changelog which can be found when selecting a milestone within the GitHub UI?

[2018-12-17 20:12] jzheaux commented on #6284
@Incarnation-p-lee The impact appears to be minor, yes.

Agreed with @jgrandja that the ideal would, of course, be that the AAD library gets upgraded.

[2018-12-17 20:30] rwinch commented on #6292
You can also expose the DefaultHttpFirewall as a Bean which will use the old behavior. This is more secure than the no-op override above. However, this is trying to sanitize the request which is not as secure as StrictHttpFirewall

[2018-12-17 20:31] #6043 closed

[2018-12-17 21:12] #6273 closed

[2018-12-18 00:06] #6091 closed

[2018-12-18 00:42] Incarnation-p-lee commented on #6284
Thanks @jgrandja and @jzheaux for you professional advice. We may co-work with AAD java library for this conflict first, or override the version on depends.
Thanks again for your help.

[2018-12-18 02:32] ankurpathak commented on #6274
![screenshot from 2018-12-18 07-52-14](https://user-images.githubusercontent.com/6482301/50128213-2b870980-029a-11e9-9992-92bfb1fac47d.png)
@rwinch Please take a look at this scrrenshot its using Spring Boot 1.5 with Old Spring OAuth 2 Project.
It has four Spring Security Chains. The First two has Request Macher which has some path with them
so can be used in logging and Second two(created For OAu

[2018-12-18 02:40] edeandrea commented on #6243
I think what was done in #6273 will solve this as well. It will allow someone to be able to assemble their own `JwtGrantedAuthoritiesConverter` in whichever way they want.

I'm fine to close this out unless there is more to add. We can re-open at that point.

[2018-12-18 02:40] #6243 closed

[2018-12-18 04:09] yoshikawaa opened #6300 "@PreAuthorize and @P not working"
### Summary
This method authorization code works fine with Spring Security 5.0.7.RELEASE.
But provides NPE with Spring Security 5.1.2.RELEASE,

* Service
[code]
* Test
[code]

### Actual Behavior
Provices NPE...
[code]

This exception caused by [StandardEvaluationContext supports concurrent variable modification](https://github.com/spring-projects/spring-framework/commit/59fa647e2d57392b3a43af2c10

[2018-12-18 06:46] pvliss commented on #4399
@rwinch No problem. Glad we are on the same page now. Should have asked for more clarifications before going on to implementing things.

Now to answer your points:

- Do you mean I should add a new class or just new methods? If the latter then I have not changed any existing tests and I confirmed by comparing to the current master. If you are referring to the renaming of method `addAccLockingColum

[2018-12-18 07:47] finke-ba opened #6302 "Add conditionally servlet based support for spring security web jackson module"
Add check for javax.servlet package in classpath in WebJackson2Module.

[2018-12-18 07:48] pvliss commented on #4399
@rwinch So I squashed the commits, hopefully the changes are more easier to spot now.

Regarding your last point

Does that mean I should also revert my change from anonymous classes to lambdas as well or are you fine with them?

[2018-12-18 07:49] finke-ba opened #6303 "Add WebFlux support for spring security web jackson module"
Create new jackson module for spring-web-flux.

[2018-12-18 09:28] clevertension commented on #6281
we should discussion how to publish the failure event between Parent and Child ProviderManager authentication

Parent throw AuthenticationFailureCredentialsExpiredEvent, Child throw AuthenticationFailureBadCredentialsEvent, do we need to publish both the two failure exception? i think we should to do so

so i think it is reasonable to publish twice AuthenticationFailureBadCredentialsEvent here, be

[2018-12-18 10:09] clevertension commented on #6281
![](https://farm5.staticflickr.com/4887/32493729628_9a14637a09_o.png)

in the above scenario, we have 4 provider manger which is linked as parent and child, and it will publish both success event and failure event, but how to define its behavior of event publish?

[2018-12-18 13:46] Incarnation-p-lee commented on #6284
@jzheaux
May I ask one question about the best practice for session stateless configuration of spring security ? When generate/obtain the id_token, how can I return this id_token to user agent ? Http response header or cookies of browser ?
And when browser get this id_token, where should I store it for next request ?
Thanks in advance, this issue troubled me for a while these days.

[2018-12-18 17:15] andysworkshop opened #6306 "Nice to have: hasAnyAuthority() and hasAnyRole() in AuthorizeExchangeSpec"
### Summary

Non-reactive spring security provides `hasAnyAuthority()` and `hasAnyRole()` for allowing access if the user has any of the provided authorities/roles. It would be great to see this supported in the reactive API as well.

### Actual Behavior

The named methods do not exist on `org.springframework.security.config.web.server.ServerHttpSecurity.AuthorizeExchangeSpec`

### Expected Behavi

[2018-12-18 17:58] rwinch commented on #6268
Unfortunately, we must strike a balance between the number of extension points we provide as this limits our ability to refactor. The amount of code necessary to customize the code is very small. Another option you might be able to use is to delegate to `GrantedAuthorityFromAssertionAttributesUserDetailsService` and modify the result it returns and then return that in your custom implementation.

[2018-12-18 18:01] rwinch commented on #6300
Thanks for the report. This is a duplicate of https://jira.spring.io/browse/SPR-17565 You can either switch to a different version of Spring Framework or you can ensure to annotate all of the parameters.

[2018-12-18 18:01] #6300 closed

[2018-12-18 20:02] rwinch commented on #6274
I think we could add a id property to the request matcher that is then reflected in the toString. This ensures that we don't need to do instanceof checks on the DefaultSecurityFilterChain

[2018-12-18 20:17] rwinch commented on #4399
Thanks!

I think they are ok changes, but not as a part of this issue. We want to keep changes isolated to the ticket in the commit so that we can track the changes. By keeping changes isolated we make thinks like backporting and tracking down issues a lot easier.

Do you mind submitting this as a PR so it is easier to provide feedback? Commenting on the commit's isn't ideal since the feedback is

[2018-12-18 20:21] #6302 closed

[2018-12-18 20:24] rwinch opened #6307 "Add conditionally servlet based support for spring security web jackson module"
### Summary
Backport gh-6302

[2018-12-18 20:24] #6307 closed, assigned to rwinch

[2018-12-18 20:31] rwinch commented on #6306
@andysworkshop Thanks for the report! Would you be interested in submitting a PR?

[2018-12-19 00:36] jzheaux commented on #6228
If the spec states that the scheme should be case insensitive, this should be our default, and then we should make it easy to deviate from that default.

The case for it being case-sensitive, as I see it, is here:

[code]

This BNF doesn't leave room for case-insensitivity. And the spec doesn't make any comment to clarify.

The case for it being case-*in*sensitive is that this paragraph:

[code]

[2018-12-19 02:37] clevertension commented on #6281
@jgrandja i think it is not a bug, can we first discussion it please, see the above picture, the AuthenticatiionSuccessEvent should only publish once, but the failure events should all to be published

[2018-12-19 04:04] ankurpathak commented on #6274
@rwinch I think its a good idea as it will work with individual flters using RequestMatcher or any thing
else using Request Matcher. I have done changes in below pull request to accomodated it.
https://github.com/spring-projects/spring-security/pull/6308
Let me know if it requires any modifications or changes.

[2018-12-19 06:49] mptardy commented on #6281
@clevertension my specific case is related `AuthenticationFailureBadCredentialsEvent` for which I cannot agree with you that it is okey to emit this event multiple times.

@rwinch @jgrandja if this is a bug, would it be possible to fix i in a 5.1.x update?

[2018-12-19 07:39] clevertension commented on #6281
@mptardy if we have two different failure event during the invocation of the **ProviderManager.authentication()**, one is **AuthenticationFailureBadCredentialsEvent**, another is **AuthenticationFailureCredentialsExpiredEvent**, should we only publish one, or both two?

[2018-12-19 07:45] mptardy commented on #6281
@clevertension in my opinion, each type of failure should get published only once.

But I have a hard time imagine how both these failures could happen during one authentication call. Either your credentials were wrong and you get a `AuthenticationFailureBadCredentialsEvent` or your credentials were correct but expired and you get a `AuthenticationFailureCredentialsExpiredEvent`.

[2018-12-19 08:08] miladamery commented on #6292
thank you for answers but this wasn't what i've been looking for. suppose that i want this **StrictHttpFirewall** completely except that i want its normalize method do one more thing for me for example blocking one more character (it can be anything). what i've been experiencing till now for this kind of behavior was : "ok go extend that class, and implement the required method" but for this one t

[2018-12-19 08:47] clevertension commented on #6281
this one authentication call is a recursively call, because it have a field **AuthenticationManager parent**, ok, your advice is also reasonable, let's wait for the feedback

[2018-12-19 09:09] andysworkshop commented on #6306
Hi @rmartinus, go for it mate 👍

For reference the method signatures in imperative spring security are in the [SecurityExpressionRoot](https://docs.spring.io/spring-security/site/docs/4.2.5.RELEASE/apidocs/org/springframework/security/access/expression/SecurityExpressionRoot.html) class.

[2018-12-19 14:59] rwinch commented on #5391
Closing as outlined in the PR

[2018-12-19 14:59] #5391 closed

[2018-12-19 15:00] rwinch opened #6311 "Improve Logging"
### Summary

Spring Framework recently overhauled it's logging via [SPR-16898](https://jira.spring.io/browse/SPR-16898) and Spring Security should do the same. This is an issue that probably needs to be overseen by the Spring Security team, but we would love feedback from the community.

Related tickets:

* gh-6308 - Better logging support by id in RequestMatcher
* gh-6274 - Give SecurityFilterCha

[2018-12-19 15:08] rwinch commented on #6292
Thanks for the additional information. I think it is worth making the following public methods available:

* `Set<String> getEncodedUrlBlacklist()` which allows for adding / removing entries from the existing blacklist
* `Set<String> getDecodedUrlBlacklist()` which allows for adding / removing entries from the existing blacklist

Would this solve your problem?

[2018-12-19 15:55] #6306 closed

[2018-12-19 16:11] #6303 closed

[2018-12-19 16:34] finke-ba commented on #5623
@rwinch just friendly remind you that we can close this issue as it fixed in #6302 and in #6303.

[2018-12-19 18:09] #5623 closed

[2018-12-19 18:58] jzheaux commented on #6284
Deciding where to store the `id_token` follows the same principle as other secure pieces of information. Remember that, if obtained, a malicious user could issue requests on behalf of an honest user.

Best practice is to keep the tokens on the server-side and maintain a session. The server is much better at keeping secrets than the client. Spring Security can do a lot of this for you out of the bo

[2018-12-19 19:14] jgrandja commented on #6281
@clevertension Regarding your scenario

This use case is not valid. If the credentials are bad (wrong password) than both parent and child would throw `BadCredentialsException` and the same event would get published twice - which is not what we want, hence this is a bug.

Furthermore, if the parent and child `AuthenticationManager`'s each have an `AuthenticationProvider` that both `supports(Class<

[2018-12-19 19:15] jgrandja commented on #6281
@mptardy

Yes, it will be back patched to 5.1.x and 5.0.x

[2018-12-19 19:17] pvliss commented on #4399
Just to avoid any misunderstandings I will ask again.

A generic one(i.e. convert anonymous classes to lambdas throughout the whole project) or a JDBC code specific one?

[2018-12-19 19:23] wtatum commented on #5350
@jzheaux , any thoughts no whether this will get a new milestone attached? Is it a good candidate for contribution? Supporting RP-initiated logout is in my backlog right now. If it's over the horizon for framework support I'm happy to wait a little bit. If you think it's "stuck", if something I or my team would be working on in the next few months either way.

[2018-12-20 08:36] OArtyomov opened #6312 "Add preload support to Strict-Transport-Security"
Strict-Transport-Security configuration
  Problem:
Response header "Strict-Transport-Security" should contain value "max-age=31536000;includeSubdomains; preload". There is no possibility to do it in class HstsConfig now. Only "max-age=31536000; includeSubdomains" supportable.

[2018-12-20 11:58] jgrandja commented on #6228
I did a quick test with `oauth2Login()` to access the **UserInfo Endpoint** with (lowercase) `bearer` and this actually failed for Google and Okta. However, it did succeed for UAA. So there is definitely inconsistencies amongst different provider's.

[2018-12-20 14:13] Incarnation-p-lee commented on #6284
@jzheaux
Agree, I can search that first. Thanks a lot.

[2018-12-20 14:20] farooqkhan003 commented on #6264
@jzheaux can I pick this?

[2018-12-20 14:54] jgrandja opened #6314 "ReactiveManagementWebSecurityAutoConfiguration Prevent's oauth2Login from being defaulted"
If `org.springframework.boot:spring-boot-starter-actuator` is on the classpath than `ReactiveManagementWebSecurityAutoConfiguration` will build a `SecurityWebFilterChain`, which will get `@Autowired` to `WebFluxSecurityConfiguration.securityWebFilterChains`. This configuration path will result in a bypass of `OAuth2ClasspathGuard.shouldConfigure()`, which is called for the [default configuration](

[2018-12-20 15:50] spencergibb commented on #6314
For the sample app I'm doing the following temporarily:
[code]

[2018-12-20 16:56] jgrandja commented on #6314
@spencergibb I have a workaround for you [here](https://github.com/jgrandja/oauth2login-gateway/commit/51a28f91b7a71d71522d14d0cb5f1fa717033f42)

[2018-12-20 17:31] rwinch commented on #6312
Thanks for the ticket. Would you be willing to submit a PR for this? If you need help, I'd be glad to guide you through the process

[2018-12-20 17:50] jzheaux commented on #6264
It's yours, @farooqkhan003!

[2018-12-20 19:58] jzheaux commented on #5350
@wtatum, yes, this task is a good candidate for contribution, thanks for asking.

Would you be able to put together a PR by March (you mentioned that it may be on your backlog for a few months)? If so, the task is yours! Otherwise, I think there is a good chance I'll be able to tackle it myself before then.

Essentially, it's a matter of creating a logout success handler that looks up the `ClientR

[2018-12-20 21:41] ah1508 opened #6315 "Built in JWT filter based authentication"
### Summary

It would be nice to have a builder that enables authentication for web API with JWT. I know that ResourceServer and AuthorizationServer exist but they require a clear understanding of oauth and related concepts. Even if it is just a few lines of code, the point is not only to have something that works but also to understand the underlying mechanisms.

For the time being we have two ch

[2018-12-21 10:08] lrozenblyum commented on #5775
@jzheaux the workaround might help however it may cause the deny of access in legal situations... Ideally we need a 100% bullet-proof solution that will allow and deny access atomically depending on the current session registry state

[2018-12-21 11:08] lrozenblyum commented on #5775
The solution I've applied in my code is decorating the whole CompositeSessionAuthenticationStrategy with a synchronized decorator to ensure logical atomicity of **check + register**

[2018-12-21 12:54] #6281 closed

[2018-12-21 12:59] jgrandja opened #6316 "AuthenticationFailureBadCredentialsEvent published twice"
Backport #6281

[2018-12-21 13:02] jgrandja opened #6317 "AuthenticationFailureBadCredentialsEvent published twice"
Backport #6281

[2018-12-21 13:48] jgrandja commented on #6316
Closed via a02d6ad

[2018-12-21 13:48] #6316 closed

[2018-12-21 14:16] ankurpathak commented on #6312
I would like to take this one.

[2018-12-21 15:28] jgrandja opened #6318 "Provide access to default configuration for ServerHttpSecurity"
`WebFluxSecurityConfiguration.springSecurityFilterChain(ServerHttpSecurity http)` initializes `ServerHttpSecurity` with a default configuration. The access is currently `private`. We should provide a means to allow access (likely indirectly) for users to initialize using the standard default configuration for `ServerHttpSecurity` and than they can customize the configuration to meet their requirem

[2018-12-21 15:41] rwinch commented on #6315
Thanks for the report @ah1508!

Can you help me understand how your proposal differs from [Resource Server](https://docs.spring.io/spring-security/site/docs/5.1.x/reference/htmlsingle/#oauth2resourceserver) support that was introduced in Spring Security 5.2? Specifically you can configure it using something [like this](https://docs.spring.io/spring-security/site/docs/5.1.x/reference/htmlsingle/#oa

[2018-12-21 15:46] #4399 closed

[2018-12-21 15:48] #6259 closed

[2018-12-21 15:50] rwinch commented on #5775
@lrozenblyum please keep in mind that won't work when you are working with multiple application servers.

[2018-12-21 15:51] rwinch commented on #6312
@ankurpathak Thank you the issue is yours.

[2018-12-21 16:07] #5930 closed

[2018-12-21 16:33] jgrandja opened #6319 "Spring Security 5.3 Themes"
### Summary

The themes for Spring Security 5.3 are:

* OAuth2
  * Initial support for Authorization Server

**NOTE:** This is a living document and may be changed

[2018-12-21 16:38] jgrandja opened #6320 "Support OAuth 2.0 Authorization Server"
The initial support for OAuth 2.0 Authorization Server will target the following features:

* OAuth 2.0 [Authorization Code Grant](https://tools.ietf.org/html/rfc6749#section-4.1)
* OpenID Connect 1.0 ([Authorization Code Flow](https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth))
* [PKCE](https://tools.ietf.org/html/rfc7636) #4943
* OAuth 2.0 [Client Credentials Grant](https://tool

[2018-12-21 16:43] ankurpathak commented on #6312
Pull request for the issue:
https://github.com/spring-projects/spring-security/pull/6321

[2018-12-21 17:23] jzheaux opened #6322 "Add quiet period to Jenkins builds"
When two builds for the same branch run very close together, sonar can at times get caught in a race condition, and one of those runs will fail.

Each branch has its own sonar project now, so this won't happen when builds from two different branches are close together, but it can still happen for the same branch.

To reduce the likelihood of this happening, we can implement a quiet period with Jen

[2018-12-21 19:25] jgrandja opened #6323 "Improve error messages in OidcIdTokenValidator"
When a validation check fails in `OidcIdTokenValidator` the error message returned only has `invalid_id_token`. We should provide more informative error messages to the user that may include the claim name/value in the error message.

[2018-12-21 20:23] #5760 closed

[2018-12-21 21:40] ah1508 commented on #6315
Dear @rwinch ,

I was not aware of `oauthResourceServer()` method, thank you. But unless I missed something it seems that a idp server is required. In the doc, the property issuer-uri must be valid uri. Here I am talking about a JWT security mechanism without oauth server and without federated authority.

Starting the application with only the code you gave results in an error message, saying that

[2018-12-22 03:08] clevertension opened #6324 "AuthenticationManager's authentication is invalid"
### Summary

when we have a authentication manager with parent exist ,
if parentAuthenticationManager.authentication() is success, but childAuthenticationManager.authentication() throw the failure event

### Actual Behavior

we can login to the system successfully with any password

### Expected Behavior

it should throw the failure exception and publish the failure event and disallow user to logi

[2018-12-22 13:22] ankurpathak opened #6325 "Typo in Spring Security spring-security-x.y.rnc Files"
Spring Security spring-security-x.y.rnc Files has typo 'amount' written as 'ammount'. This issue
is created to provide fix to that typo. This type also affects corresponding also affects corresponding xsd files.
![screenshot from 2018-12-22 18-50-48](https://user-images.githubusercontent.com/6482301/50374909-0fc58f80-061b-11e9-85d1-b2c09cc1c1db.png)

[2018-12-22 13:34] ankurpathak commented on #6325
Pull request for issue:
https://github.com/spring-projects/spring-security/pull/6326

[2018-12-22 14:55] ankurpathak opened #6327 "Problem in Documentation Of AnonymousAuthentication"
This issue is just to fix some problem in documentation of Anonymous Authentication.
Before Fix:
![screenshot from 2018-12-22 19-16-39](https://user-images.githubusercontent.com/6482301/50375671-79e43180-0627-11e9-8249-61e4bd1ced06.png)

After Fix:
![screenshot from 2018-12-22 20-17-52](https://user-images.githubusercontent.com/6482301/50375661-32f63c00-0627-11e9-857d-beabf3a7a47e.png)

[2018-12-22 15:04] ankurpathak commented on #6327
Pull request for the issue:
https://github.com/spring-projects/spring-security/pull/6328

[2018-12-22 18:00] jzheaux commented on #6315
@ah1508 The defaults do require a uri, but [the defaults can be overridden](https://docs.spring.io/spring-security/site/docs/5.1.2.RELEASE/reference/htmlsingle/#oauth2resourceserver-decoder-dsl). For example, you can decode the JWT yourself (i.e. using the library or configuration of your choice):

[code]

The reason JWT authentication coordinates with an issuer is because it simplifies key rotati

[2018-12-22 20:15] plewand commented on #5766
A solution in Kotlin that let the backend of my Webflux application work with Angular frontend, maybe someone find it useful:
`
import com.crl.crlproxy.common.Constants
import mu.KotlinLogging
import org.springframework.http.ResponseCookie
import org.springframework.security.web.server.csrf.CsrfToken
import org.springframework.stereotype.Component
import org.springframework.web.server.ServerWebExc

[2018-12-23 00:44] xingfudeshi opened #6329 "define the secured URLs within an application dynamically in Webflux"
### Summary
hi,i am currently using spring cloud gateway,so i want to integrate spring security for the permission management.how to define the secured URLs within an application dynamically in Webflux?As described here [https://docs.spring.io/spring-security/site/docs/5.0.10.RELEASE/reference/htmlsingle/#appendix-faq-dynamic-url-metadata](url),it seems it's only for servlet,but not for webflux.is

[2018-12-24 08:37] lrozenblyum commented on #5775
@rwinch about multiple application servers, do you mean a scenario when there is something like load balancing which selects target server to handle the request, so that the sessions live not in a single JVM/app. server?

[2018-12-24 11:58] okohub commented on #4698
@rwinch

Hello, I don't want to expose a new issue for this but problem is still existing.

In UsernamePasswordAuthenticationTokenDeserializer:

[code]

this method returns MissingNode if field is not found. then:

[code]

credentialsNode is never null. It should be

[code]

I can fix it with raising a new issue for this. How can we proceed?

[2018-12-24 12:44] gregturn commented on #4698
Can you craft a test case exposing the issue?

[2018-12-24 12:47] vteraz opened #6333 "Invalid processing of remember-me token values that contains '+' sign"
### Summary
Hi
I decided to upgrade Spring Security from version 4.2.2 to version 5.1.2
But I have an issue: tokens series that contain plus sigh - '+' - are not working any more.
I've checked the sources and realised that this is all because `URLDecoder` in `AbstractRememberMeServices.decodeCookie` converts plus sign to space.
As a result tokens that was generated using version 4 are not valid in

[2018-12-24 13:35] okohub commented on #4698
@gregturn @rwinch

thanks for quick response! :)

here is the sample project with tests:

https://github.com/okohub/mixinproblem

Looks like problem is arising when using object mapper with custom inclusions. So, mixin can be changed to this condition in order to adapt custom inclusions.

[code]

[2018-12-24 17:11] gregturn commented on #4698
Most of the team is on holiday this week. If you crafted a PR with a test case and solution I’m sure that would speed up merging.

[2018-12-24 20:18] okohub commented on #4698
@gregturn thanks, I opened a PR for this.

[2018-12-25 10:19] ayudovin commented on #6123
@jgrandja, thank you for your help. It works!!!

[2018-12-26 02:45] kwang1 commented on #6146
Thanks @rwinch .

[2018-12-26 11:00] ah1508 commented on #6315
Dear @jzheaux , Indeed a JwtDecoder helps to work without a IDP server. It's great if these feature is built in in 5.2.

`@httpBasic()` helps for the first round-trip (the one where the client send username and password and get refresh tokens in return), `oauth2ResourceServer()` handle further requests which use bearer and access+refresh tokens.

The home made `JwtDecoder` can also check the token

[2018-12-26 20:48] LukeButtersFunnelback commented on #6002
ApacheDS havn't released a GA in 8 years they all seem to be mile stone releases. Would it be worth updating ApacheDSContainer to be compatible with one newer version of apache DS?

[2018-12-27 14:10] franzwong opened #6335 "Minor spelling mistake on topic in Github repository"
https://github.com/spring-projects/spring-security
Under the description of the repository, you can see the topic "fraework" instead of "framework"

[2018-12-28 04:21] cloudxpc opened #6337 "OAuth2 resource server jwk-set-uri requires authentication"
Hello,

i got one confuse and it is so detail so that i cannot find help from google. so i came. I'm using spring boot 2.1.1.RELEASE with security oauth2. Refer to the documentation 29.3.2 Resource Server, and i involve pom:
[code]
spring.security.oauth2.resourceserver.jwt.jwk-set-uri could be set for loading jwk from authorization server. but what about if authorization server requires authentica

[2018-12-28 04:45] yoshikawaa opened #6338 "DelegatingRequestMatcherHeaderWriter with Tiles not work as intended"
### Summary
Related #5945

`DelegatingRequestMatcherHeaderWriter` can not determine the request path exactly as intended.
`DelegatingRequestMatcherHeaderWriter` determines the request path when committing or including the response, but in that case the request path may have been changed to the JSP path.

My environments as follows.
* Application
  * Spring Boot Dependencies 2.1.1.RELEASE (Spring M

[2018-12-28 22:13] PawelJ-PL opened #6340 "Spring security doesn't work well with Spring-session"
### Summary

Spring Security throws the exception when Spring-session is in use and CSRF token has not been provided.

### Actual Behavior

When Spring security and Spring-session is used in application, when CSRF token is not provided, Spring security throws following exception:

[code]

Thist stacktrace is also printed on web page instead of standard Whitelabel error page or JSON message.

### E

[2018-12-28 23:35] PawelJ-PL commented on #6340
I've performed some more tests and I realized, that problem occurs only when embedded server is Jetty:

[code]

When I switched to Tomcat, no exception is throwing

[2018-12-29 01:06] rozagerardo opened #6341 "Webflux Oauth2 .oauth2Client() doesn't redirect back to the original request after authenticating in the auth server"
### Summary
When configuring a WebFlux application as an OAuth2 Client using an authentication_code grant type and without implementing the OAuth2Login feature, the application redirects to the "/" path after authenticating in the Authentication Server instead of redirecting back to the original request

### Actual Behavior

1-Calling an endpoint in an OAuth2 Client application (without using OAut

[2018-12-29 06:01] miladamery commented on #6292
Hi. i'm so sorry for being this late. i was busy a lot at work and i didn't expect an answer to the closed issue.
Yes i think that would be enough.

[2018-12-29 14:14] merlinsson opened #6342 "tokenInfoUri and user-info-uri don't work properly in server to server authentication"
### Summary

Hello everybody,

currently iam building an Microservice-Architecture with and OIDC-Server, a Spring boot frontend app and some spring boot resource server apis. For the frontend app i configured springs security as follows:

[code]

This works perfectly smooth and i can login using my OIDC-Server. Now i want to request a Resource Server which returns messages available for the user r

[2018-12-29 14:43] rozagerardo commented on #6341
It seems the `SPRING_SECURITY_SAVED_REQUEST` session attribute is not saved by any filter for the oauth2Client() configuration.
Checking the *non-reactive* version, I see that the `HttpSecurity` uses an `OAuth2ClientConfigurer` at that point, which seems to include an `OAuth2AuthorizationRequestRedirectFilter` in the `SecurityWebFilterChain` to save that session attribute.
The *webflux* version, o

[2018-12-29 21:53] pdanelson commented on #4841
The linked PR seems to have stalled. Are there any plans to continue with this in the near future or is it very unlikely to make it into the 5.2 release?

In its current state, reactive method security is close to unusable for securing REST endpoints, as certain blocking operations like database calls are pretty much unavoidable for all but the most basic access control scenarios.

[2018-12-29 21:56] edeandrea commented on #4841
I just have not had a chance to get back to the PR unfortunately.

[2018-12-30 13:34] xingfudeshi commented on #6329
what a pity?no one response?!

[2018-12-30 13:34] #6329 closed

[2019-01-02 01:37] clevertension commented on #6292
@rwinch  are you working to fix this issue? if not, i can give a hand

[2019-01-02 14:53] GregoireW opened #6343 "Make WebClient visible to configure Oauth2-jose (add proxy for instance)"
Hello everybody

### Summary

I currently use spring security with the oauth2 provider behind corporate firewall.

The oauth2-jose part is hiding the WebClient configuration if we give a jwks url ( on the ReactiveRemoteJWKSource class). We cannot add proxy setup, so our application is not working.

### Actual Behavior

Proxy setup is not taken.

### Expected Behavior

We should make the WebClient

[2019-01-02 16:16] alexander00001 commented on #5313
Hi @jgrandja, using cookies instead of sessions to use oauth2 with a stateless backend is exactly what I was looking for. Is there any plan when the solution from @naturalprogrammer can be incorporated into the standard spring-security library? This would definitly be very helpful. Thanks!

[2019-01-02 16:25] akuma8 opened #6345 "Spring Security OAuth2 impossible to add multiple security filter chain"
Hi,
Is it a normal behavior to not be able to add multiple SecurityFilterChain of type `org.springframework.security.oauth2.config.annotation.web.configuration.ResourceServerConfigurer`?
Example in a multi modules application secured with Spring Security Oauth2, I would like to configure several filters (1 by module), like:
[code]
And
[code]
And so on...

But I am surprised to see that only one fi

[2019-01-02 16:47] jzheaux commented on #6337
Sorry that you are having trouble, @cloudxpc, hopefully, I can help!

To add authentication to the JWKS request, you'd want to wire your own `RestOperations` using `NimbusJwtDecoderJwkSupport#setRestOperations`. [`RestTemplateBuilder`](https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/web/client/RestTemplateBuilder.html) may turn out to be helpful for you.

Also, for the

[2019-01-02 16:47] #6337 closed

[2019-01-02 16:53] jzheaux commented on #6335
Thanks, @franzwong! Would you be interested in submitting a PR for this?

[2019-01-02 17:06] jzheaux commented on #6002
@LukeButters I don't think so since, as you say, they aren't GA releases. ApacheDS's `2.x` milestones are a bit of a moving target, making it hard to pick one that we can be confident in. But, really, it'd be better to stick with a GA release either way.

Also, point releases following `1.5.5` have breaking changes that make it tricky to upgrade along the `1.5.x` train.

[2019-01-02 17:14] jzheaux commented on #6315
@ah1508 Good feedback, thanks. You might take a look at `OAuth2TokenValidator` and see if that suits your revocation-list needs. Something like:

[code]

For even earlier access to the token, 5.2 will allow you to supply your own `NimbusJWTProcessor` instance in the constructor.

[2019-01-02 18:13] #6327 closed

[2019-01-02 18:17] #6325 closed

[2019-01-02 20:31] jzheaux commented on #6345
@akuma8 thanks for reaching out, it's a good question.

I stumbled onto it on StackOverflow, so I've left my comments there: https://stackoverflow.com/questions/53999591/spring-security-oauth2-how-to-add-multiple-security-filter-chain-of-type-resour/54012754#54012754

[2019-01-02 20:31] #6345 closed

[2019-01-02 20:35] LukeButters commented on #6002
I guess if someone could get a sample ApacheDSContainer working for a `2.x` version it might be easier for other devs to get working different versions. I guess I want that because I tried and gave up, but I suspect other devs will get into the same issue when trying to upgrade to jdk11

[2019-01-02 20:45] jzheaux commented on #6315
Also, @ah1508 would you mind clarifying how you are using `httpBasic` in this scenario?

[2019-01-03 04:00] cloudxpc commented on #6337
Thank you @jzheaux

[2019-01-03 07:57] izeye commented on #6246
This seems to be intended to be closed.

[2019-01-03 16:07] franzwong commented on #6335
@jzheaux That belongs to the configuration of GitHub repository. So I am not able to create a PR for that.

[2019-01-03 17:19] trecloux opened #6347 "OAuth2 reactive callback invalid_redirect_uri_parameter behind reverse proxy"
### Summary

When using OAuth2/OIDC in reactive mode behind a reverse proxy, callback uri fails with error code invalid_redirect_uri_parameter

### Actual Behavior

Before redirecting user to OAuth2 server, redirect URI is computed using `org.springframework.web.util.UriComponentsBuilder#fromHttpRequest` which uses `org.springframework.web.util.UriComponentsBuilder#adaptFromForwardedHeaders`.
When

[2019-01-03 17:52] jzheaux commented on #6335
@franzwong Ah, I misunderstood you earlier. Thanks for the extra explanation, that's fixed now.

[2019-01-03 17:52] #6335 closed

[2019-01-03 18:31] raphaelDL commented on #6323
Hi Joe, I tried the next:

I added message descriptions, and grouped errors in two steps, required fields and violated rules. I think is easier if we report the user more errors at once. Or maybe am I missing something?

What do you think? Just let me know I'm happy to improve it

[2019-01-03 22:06] pminearo commented on #5548
I pulled down Spring Security 5.1.1.-BUILD-SNAPSHOT and made some edits to BCrypt and BCryptPasswordEncoder.  The changes I made to BCrypt were catching the ArrayIndexOutOfBoundsException and outputting information that is known at the time of the exception.  The idea was to see what information was being passed into BCrypt and hopefully find an answer to why the exception is being thrown.  The ch

[2019-01-04 06:19] gwegwe1234 commented on #4479
@khalilkb
Did you solve your problem?
I have same issue, SecurityContextHolder get cleared and get filled by anonymous after redirect other url.
If you fix this problem, help me please.

[2019-01-04 08:17] peterwkc85 opened #6350 "IllegalArgumentException: Detected hex code at position"
### Summary
Throw IllegalArgumentException: Detected non hex code at position when decrypt.

### Actual Behavior
Throw IllegalArgumentException: Detected non hex code at position when decrypt.

### Expected Behavior
No exception. Decrypt successful

### Configuration
JDK 1.8

### Version
<dependency>
    		<groupId>org.springframework.security</groupId>
    		<artifactId>spring-security-crypto</ar

[2019-01-04 11:06] akuma8 opened #6351 "'#oauth2.xxx' expressions not evaluated with multiple RequestMatchers"
In a multi modules app I've defined 5 RequestMatchers mapped to the same FilterChain, like below:

[code]

And module2:

[code]
And enabled method security:

[code]

The problem is that all `#oauth2.xx` expressions are evaluated only for the 1st module requestmatcher `/module1/**` and ignored in others. When I authenticate a user and try to access to `/module1/test` the access is denied as expecte

[2019-01-04 12:53] tadaskay commented on #6115
I am also observing the same issue with 5.1.x, had to downgrade `security-config` and `security-core` to 5.0.9 temporarily. For one `BadCredentialsException`, there are 2 events published of the same type.

[2019-01-04 15:29] #6264 closed, assigned to jzheaux, farooqkhan003

[2019-01-04 17:52] jzheaux commented on #6351
Hi, @akuma8. I saw your SO post, thank you for reaching out again, we're here to help. Would you please do me two favors?

1. Please avoid cross-posting support requests. StackOverflow is a great place for help, and team members all allocate dedicated time to be on there answering questions. Posting there will make it clearer for community members who run into similar issues.
2. However, if you ar

[2019-01-04 17:52] #6351 closed

[2019-01-04 17:53] jzheaux commented on #6351
Here is @akuma8's original SO question, for reference: https://stackoverflow.com/questions/54030887/spring-security-oauth2-oauth2-xxx-expressions-not-evaluted-with-multiple-req

[2019-01-04 18:06] jzheaux commented on #6351
@akuma8 also, feel free to find me in https://gitter.im/spring-projects/spring-security-oauth if you want to chat

[2019-01-04 18:40] jzheaux commented on #6350
@peterwkc85 thanks for the report. I wasn't quite clear on your use case, so I added a `main` method to your sample. Does it correctly reflect the problem?

Running the above sample passes for me, so I think I'm misunderstanding your use case. Could you clarify?

[2019-01-04 18:52] ddillard commented on #3392
Is there any plan to get a CVE for this issue?

[2019-01-04 19:05] jzheaux commented on #6104
@govi20 How are things coming? Are you able to mock `RestOperations`?

Here is an idea if you are stuck:

[code]

[2019-01-04 19:18] jzheaux commented on #6115
@tadaskay is this the issue you are experiencing? https://github.com/spring-projects/spring-security/issues/6281

[2019-01-06 04:08] yannick-fernand commented on #5839
Hi @jgrandja  i have the same issue. when do you think you will resolve it.
thanks

[2019-01-07 02:41] peterwkc85 commented on #6350
Adding a main method is my use case scenario but i don't know why it got such error. Let me post my all code.

[code]

This is my use case where i write the encrypted password to file and decrypt from file. Please help. Thanks.

[2019-01-07 06:34] GerogeLeon commented on #5007
the same to me
[code]

[2019-01-07 14:12] jzheaux commented on #6350
@peterwkc85 Without knowing more detail, I won't be able to guess. Let's move this over to StackOverflow, which is a better place for support questions anyway. Feel free to link that SO question here.

[2019-01-07 14:12] #6350 closed

[2019-01-07 15:01] tadaskay commented on #6115
@jzheaux Yes, thank you!

[2019-01-07 15:13] jzheaux commented on #6115
Closing this. If the problem persists, please post to https://github.com/spring-projects/spring-security-oauth2-boot

[2019-01-07 15:13] #6115 closed

[2019-01-07 18:59] #5893 closed

[2019-01-07 19:25] rwinch commented on #6324
This is behaving as expected. If you want it to fail, the parent `AuthenticationManager` should fail.

[2019-01-07 19:35] jgrandja opened #6355 "Polish oauth2 client ExchangeFilterFunction's"

[2019-01-07 19:37] rwinch opened #6356 "Fix LazyCsrfTokenRepository Javadoc Typo"
### Summary

Backport of #6330

[2019-01-07 19:38] rwinch commented on #6356
Fixed via 8bc0ef86da8e8925dab36caf28264a95137c5f7f

[2019-01-07 19:38] #6356 closed

[2019-01-07 19:39] rwinch opened #6357 "Fix LazyCsrfTokenRepository Javadoc Typo"
### Summary

Backport of #6330

[2019-01-07 19:40] #6355 closed

[2019-01-07 19:40] rwinch commented on #6357
Fixed via 99019c80a7afeed19750ae65cdb70fafa536f539

[2019-01-07 19:40] #6357 closed

[2019-01-07 19:42] rwinch opened #6358 "Fix LazyCsrfTokenRepository Javadoc Typo"
### Summary
Backport of #6330

[2019-01-07 19:42] rwinch commented on #6358
Fixed via bab5b73e71c6e466c83833b9130249075e21d3f1

[2019-01-07 19:42] #6358 closed

[2019-01-07 19:43] jzheaux opened #6359 "AbstractRequestMatcherRegistry should throw an exception when matchers are supplied after anyRequest"
The following configuration:

[code]

is invalid since matchers are processed in the order they are declared. When a request comes in, regardless of its contents, `anyRequest` will always match it before the filter checks the `/myendpoint` matcher.

Having the matchers in this order is a bit like:

[code]

This is clearly erroneous and the code should fail fast so that the user can correct the mis

[2019-01-07 19:47] rwinch commented on #5775
Yes

[2019-01-07 19:48] jgrandja commented on #5839
@yannick-fernand This is scheduled for 5.2.0.M1 as indicated in the ticket. However, given that M1 is scheduled for Jan 15, it might not make it until M2. I'm trying to catch up with things since the break. I'll do my best.

[2019-01-07 20:13] rwinch commented on #6333
Thanks for the feedback @vteraz! You are right that this was a non-passive change made in Spring Security 5.0. This was intentional to resolve #252 If you need to revert to the old behavior you can override the methods.

[2019-01-07 20:13] rwinch commented on #6333
Closing as this is expected

[2019-01-07 20:13] #6333 closed

[2019-01-07 20:25] rwinch opened #6360 "Fix UsernamePasswordAuthenticationTokenDeserializer with Customizations"
### Summary

Backport of gh-6334

[2019-01-07 20:26] #6360 closed, assigned to rwinch

[2019-01-07 20:45] rwinch commented on #6123
Thanks for the feedback @ayudovin! I'm closing this since you got it working

[2019-01-07 20:47] bjoernhaeuser opened #6362 "Regression from `5.1.1.RELEASE` and `5.1.2.RELEASE` for event publishing for unsuccessful events."
Thank you very much for all the work you have put into this project!

### Summary

Regression from `5.1.1.RELEASE` and `5.1.2.RELEASE` for event publishing for unsuccessful events.

I think this could changes the behavior:

https://github.com/spring-projects/spring-security/commit/8ef65ce5c59708bbb293314be9308d50f6e053a8

I am not certain if this is the intended behavior and if this is the case wh

[2019-01-07 20:51] #6123 closed

[2019-01-07 20:59] jgrandja commented on #6362
Thanks for the report @bjoernhaeuser. This is related to #6281 which has been resolved.

See #6316 for the backport patch scheduled for 5.1.3.

I'm going to close this issue as the upcoming 5.1.3 release will resolve this issue.

[2019-01-07 20:59] #6362 closed

[2019-01-07 21:01] bjoernhaeuser commented on #6362
Thank you very much for the swift response. Sorry that I was not able to find the referenced issue :(

[2019-01-07 21:01] rwinch commented on #6340
Thanks for the report @PawelJ-PL! Can you please provide a complete sample?

[2019-01-07 21:09] rwinch commented on #6341
Thanks for the report and anyalysis @rozagerardo! Would you be interested in submitting a PR for this?

[2019-01-07 21:20] jzheaux commented on #6351
@akuma8 I've logged an issue, https://github.com/spring-projects/spring-security/issues/6359 related to this. Would you be interested in submitting a PR?

[2019-01-07 21:37] rwinch commented on #6329
@xingfudeshi My apologies for the delayed response. The team was on vacation for the holidays. Did you get your issue resolved?

For WebFlux it is much easier. You can do something like this:

[code]
Then configure it

[code]

It is typically recommended to externalize the `ReactiveAuthorizationManager<AuthorizationContext>` rather than place in the con

[2019-01-07 22:07] jgrandja commented on #5313
@alexander00001 There is no current plan to add a cookie-based implementation of `AuthorizationRequestRepository`. If the user required such an implementation, it would be fairly trivial to implement and than they can configure it as per the [ref doc](https://docs.spring.io/spring-security/site/docs/5.1.2.RELEASE/reference/htmlsingle/#oauth2Client-authorization-request-repository). I'm not sure if

[2019-01-07 22:34] jgrandja commented on #6343
Thanks for the report @GregoireW. This issue will be resolved in #5937.

The preferred method (and most flexible) is to allow `NimbusReactiveJwtDecoder` to accept a `JWTProcessor`. FYI, this has already been implemented on the Servlet side with `NimbusJwtDecoder` via #5648.

I'm going to close this issue and associated PR since it will be addressed in #5937. Feel free to provide further comments/f

[2019-01-07 22:34] #6343 closed

[2019-01-08 01:37] peterwkc85 opened #6364 "BadPaddingException: Given final block not properly padded. Such issues can arise if a bad key is used during decryption."
### Summary
The working code can run for first time but cannot runt for second time.

### Actual Behavior
BadPaddingException throw out
IllegalStateException: Unable to invoke Cipher due to bad padding

### Expected Behavior
No Exection throw

### Configuration
MS Window 10

### Version
Spring Security Crypto 5.1.3

### Sample
[code]
Calling Code:

`crypt.generateEncryptedPwd("demouser", ".\\crede

[2019-01-08 01:41] peterwkc85 commented on #6364
The problem is need to invoke generatedEncryptedPassword every time to decrypt it. How to design decrypt TextEncryptor without invoke encrypt?

[2019-01-08 06:03] ankurpathak commented on #6359
Here is a pull request:
https://github.com/spring-projects/spring-security/pull/6365

[2019-01-08 06:21] clevertension commented on #6324
the username check is ok with the parent AuthenticationManager, then this user can login with any password? it is too weak to protect, i think the success should be all check pass no the only parent check pass, we should not care about the authentication manager orchestration

[2019-01-08 06:34] sunwenjieIT opened #6366 "how to use hasAnyRole in webflux security"
### webflux use security without any api like hasAnyRole in spring-boot-starter-web

Hello, I use webflux with spring security, but cant find any api like hasAnyRole to set multi role in one matchers().

spring boot version 2.0.7
spring-boot-starter-security version 2.0.7

[2019-01-08 07:42] jgrandja commented on #6266
@wtatum Did you manage to get this to work based on the solution I provided? If so, can you please close out this issue.

[2019-01-08 07:52] alexander00001 commented on #5313
Hi @jgrandja, thank you for your answer! Maybe your right. I thougt that this would be the only thing to do to achive a stateless server but this seems to be wrong. I Implemented the cookie based  AuthorizationRequestRepository and this part seems to work well but if i set SessionCreationPolicy to stateless it seems to me that SecurityContextHolder will loose nessesary informations after redirects

[2019-01-08 09:32] ah1508 commented on #6315
@jzheaux : `OAuth2TokenValidator` is probably useful when used with `setJwtValidator` method of the `NimbusJwtDecoderJwkSupport` class but it does not help with a custom `JwtDecoder` (which is the way to go for an application that handles jwt encoding and decoding without any IDP server).

Until now my `@Bean` `JwtDecoder` looks like this :

[code]
So I can throw an exception if the token is revok

[2019-01-08 14:11] jzheaux commented on #6315
@ah1508 Correct that if you are creating your own implementation of `JwtDecoder`, then you'd need to invoke any `OAuth2TokenValidator` yourself.

As for wiring a validator with the default decoder, please [see the docs](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2resourceserver-validation) for more details. `setJwtValidator` needs to be called directly.

It

[2019-01-08 14:11] #6315 closed

[2019-01-08 15:00] rozagerardo commented on #6341
Thanks for the quick response @rwinch
Sure, I'll be glad to work on this :)
This will be my first contribution to the project, so it might take me a little bit longer than expected, to get familiarized with the contributor's guidelines
I'll come back as soon as I have the PR ready

[2019-01-08 15:01] jzheaux commented on #5937
I'm not sure that exposing `NimbusReactiveJwtDecoder`'s context-creating is a good idea. This is definitely a workaround for Nimbus lacking a non-blocking JWK retrieval API.

Ideally, Nimbus would add a non-blocking API, and perhaps there is an opportunity for the community to help with that.

Another possibility might be to introduce `ReactiveJWTProcessor` into Spring Security:

[code]

with a de

[2019-01-08 15:33] xingfudeshi commented on #6329
@rwinch Thank u sir.i am very happy to get response from u.i've resolved that issue with the similar way as you said above.thanks again.

[2019-01-08 15:34] GregoireW commented on #5937
I write in my previous message that I saw 2 way of solving the issue. First is like you say with the interface.
Note that the context is not required in this case as it is linked to the processor and will be hidden in the implementation (else we need to get a context from somewhere so it is like the implementation I wrote)

[code]

or the one I write in the PR   with a processor and a initializer.

[2019-01-08 17:08] rwinch commented on #6292
@clevertension Thanks for the offer. Yes please submit a PR!

[2019-01-08 17:20] rwinch commented on #6002
@LukeButters Thanks for the feedback. I think that would be a good idea. Would you submit a PR marking ApacheDSContainer as deprecated and steering users to UnboundId support?

[2019-01-08 17:23] #6246 closed

[2019-01-08 17:23] rwinch commented on #6246
Thanks @izeye! This is now closed

[2019-01-08 17:40] rwinch commented on #6347
Thanks for the issue and the PR. I'm closing this for the same reasons I outlined in your PR https://github.com/spring-projects/spring-security/pull/6348#issuecomment-452386870

[2019-01-08 17:40] #6347 closed

[2019-01-08 17:55] rwinch commented on #5548
@pminearo A [raw empty password](https://github.com/spring-projects/spring-security/commit/ae0f330f98dcfb61b04f2fad1ef20018ad961657) does not cause an `ArrayIndexOutOfBoundsException` for me. Can you please provide a way to reproduce your original issue?

[2019-01-08 17:56] rwinch commented on #4479
@gwegwe1234 Can you provide minimal sample that reproduces the issue?

[2019-01-08 18:05] jzheaux opened #6368 "Problem in Documentation Of AnonymousAuthentication"
Backport of #6327

[2019-01-08 18:20] #6368 closed

[2019-01-08 18:22] jzheaux commented on #6368
Actually, #6327 was just for 5.2, so there is nothing to backport.

[2019-01-08 18:36] jzheaux opened #6369 "Typo in Spring Security spring-security-x.y.rnc Files"
Backport of #6325

[2019-01-08 18:37] jzheaux opened #6370 "Typo in Spring Security spring-security-x.y.rnc Files"
Backport of #6325

[2019-01-08 18:38] jzheaux opened #6371 "Typo in Spring Security spring-security-x.y.rnc Files"
Backport of #6325

[2019-01-08 19:03] rwinch commented on #3392
@ddillard No. This was not a feature that was supported, so users would have been expected to hash it themselves.

[2019-01-08 19:14] jzheaux commented on #6369
Fixed via 2625de9c237c5db7cf16bb0bb0ae2797420353cc

[2019-01-08 19:14] #6369 closed

[2019-01-08 19:14] jzheaux commented on #6370
Fixed via d85200682c94fcef50c6831d4f1631eda43371fc

[2019-01-08 19:14] #6370 closed

[2019-01-08 19:15] jzheaux commented on #6371
Fixed via 580239307339bfee3769c94328f303fb86d1402b

[2019-01-08 19:15] #6371 closed

[2019-01-08 19:21] rwinch opened #6372 "Fix Typo cconfigured -> configured"
### Summary
Backport of gh-6361

[2019-01-08 19:21] rwinch commented on #6372
Fixed via ee6f9e0b92e5de4efc220257a73f56022a492dc8

[2019-01-08 19:21] #6372 closed

[2019-01-08 19:58] pminearo commented on #5548
Unfortunately, I have not been able to reproduce the problem consistently.  We get these errors randomly, and have not figured out the conditions the error comes from.  So, I am still trying to get more information for you.  I have however, not seen the Exception since I put in the check for an empty or null rawPassword.  I will get you more information as I get it.  This may take awhile, unfortun

[2019-01-08 20:16] rwinch commented on #6366
This is a duplicate of gh-6310 For now you can workaround this using

[code]

[2019-01-08 20:16] #6366 closed

[2019-01-08 20:38] rwinch commented on #6364
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security#getting-support), we prefer to use GitHub issues for getting help. Feel free to update this issue with a link to the re-posted question (so that other people

[2019-01-08 20:39] #6364 closed

[2019-01-08 21:02] jgrandja commented on #5313
@alexander00001

I can appreciate the benefits of having a stateless application but that cannot be applied in all scenarios. If your app requires authentication, eg. `oauth2Login()`, than after the user successfully authenticates the `SecurityContext` and associated `OAuth2AuthenticationToken` is established and must be persisted across requests in order to prevent re-login. By default, it's stor

[2019-01-08 21:05] rwinch commented on #6341
Thanks @rozagerardo! Let us know if you run into any issues and we will do our best to help

[2019-01-08 21:08] fhanik opened #6373 "requiresSecure looks at what HttpServletRequest attributes"
### Summary
The [requiresSecure](https://github.com/fhanik/spring-security-community/blob/38ebfd7be074be99a489db900ccca8c501b55686/samples/requires-secure-with-redirect/src/main/java/org/springframework/security/community/samples/SecurityConfig.java?ts=4#L21) works, but seems to default on only evaluating `HttpServletRequest.getScheme` and completely omitting `HttpServletRequest.isSecure`.

I was