[2020-04-20 16:40] rstoyanchev commented on #8415
We are trying to get away from file extensions. As far as the content type, we'd have to treat that as a mismatch in mappings which isn't the same as a validation error. Creating your own custom annotation backed by an argument resolver with validation might be the best way to go.

[2020-04-20 16:43] rwinch commented on #8188
Closing as duplicate of gh-8411

[2020-04-20 16:43] #8188 closed

[2020-04-20 16:56] rwinch commented on #7745
I agree with @jzheaux comment that it should be something like https://github.com/spring-projects/spring-security/issues/7745#issuecomment-568045369 For the error message we need to remember that the springSecurityFilter can also be injected (it might not be a bean lookup).

[2020-04-20 17:41] rwinch commented on #8371
I need something I can use to reproduce your issue.

If you are looking for help configuring vs reporting a bug, then as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question

[2020-04-20 18:58] jgrandja commented on #8326
That would be great @ThomasVitale ! Please go ahead.

[2020-04-20 19:31] rwinch commented on #4242
Closing. As mentioned there are plenty of places a session can be created and the setting is only for authentication. If you have a specific issue please provide a complete sample to reproduce the issue.

[2020-04-20 19:31] #4242 closed

[2020-04-20 19:34] rwinch commented on #8419
You need to ensure you have `RequestContextFilter` setup before Spring Security is invoked in order to use `RequestContextHolder`.

[2020-04-20 19:34] #8419 closed

[2020-04-20 19:38] philwebb commented on #8420
Is there any reason that the `html5` folder has been chosen? I think it would be better if all out docs tried to publish with the same folder structure.

[2020-04-20 20:06] spring-issuemaster commented on #8334
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-04-20 20:06] #8334 closed

[2020-04-20 21:22] eleftherias commented on #8413
@hanscrg Logging out does not mean that the OAuth2 token is revoked.
By design,`SecurityContextServerLogoutHandler` will remove the security context, but will not revoke the OAuth2 token.
If you wish to revoke the the token when a user logs out, you can create a custom `ServerLogoutHandler`.

[2020-04-20 21:22] #8413 closed

[2020-04-21 03:30] jgrandja opened #17964 "Add support for OAuth 2.0 Dynamic Client Registration Protocol"
Add support for [OAuth 2.0 Dynamic Client Registration Protocol](https://tools.ietf.org/html/rfc7591).

[2020-04-21 03:34] jgrandja opened #18288 "Implement OpenID Connect Session Management 1.0"
This feature will deliver [OpenID Connect Session Management 1.0](https://openid.net/specs/openid-connect-session-1_0.html).

[2020-04-21 07:27] judomu opened #8421 "OAuth2 Resource Server docs not in sync - authorityPrefix can't be set to """
In spring-security documentation (https://docs.spring.io/spring-security/site/docs/current/reference/html5/):

But that will not work

[code]

So the documentation is wrong or the implementation, imho the option to set authorityPrefix to "" makes sense to me.

[2020-04-21 08:53] simonpai opened #8422 "WebSessionServerSecurityContextRepository provides Mono.cache option"
**Describe the bug**
Authenticate an unauthorized Authentication using `ServerSecurityContextRepository` cause the `Mono<SecurityContext>` produced by its `load` method subscribed twice.

**To Reproduce**
See the following config snippet:
[code]
The root cause is:
* `ReactorContextWebFilter` save the Mono of `SecurityContext` into the reactor context, rather than the actual value. The Mono is subs

[2020-04-21 08:57] simonpai commented on #8422
Same issue seem on stackoverflow:
https://stackoverflow.com/questions/60699614/webflux-authenticate-fail-cause-authenticate-called-twice

[2020-04-21 10:37] Lyannic commented on #8407
While trying to create a sample for demonstration, it turned out, that there was a misunderstanding. There actually weren't any proxying problems.

Although the logs are informational, couldn't it happen, that at some time, proxying problems occur, because, as the logs say, some beans are not eligible for getting processed by all BeanPostProcessors?

[2020-04-21 13:10] DEEPAKRDEEPS commented on #8010
Work around to customize the authentication works fine. Thanks

[2020-04-21 13:17] #8119 closed

[2020-04-21 13:20] spring-issuemaster opened #8423 "Document description error"
Backport of gh-8119

[2020-04-21 13:20] spring-issuemaster commented on #8423
Fixed via 4f8a4a9a3bb1c537ed2b41f58e93cfc437cf1b9a

[2020-04-21 13:20] #8423 closed

[2020-04-21 13:28] rwinch commented on #8415
Thanks @rstoyanchev

@sulthan309 I'm closing this in favor of creating your own `HandlerMethodArgumentResolver` as mentioned above https://github.com/spring-projects/spring-security/issues/8415#issuecomment-616672702

[2020-04-21 13:28] #8415 closed

[2020-04-21 13:30] rwinch commented on #8420
@philwebb Good question. It use to be that we produced html5 (pure asciidoctor output) and htmlsingle (going through docbook toolchain). You can see that here https://docs.spring.io/spring-security/site/docs/5.0.0.RELEASE/reference/ We've removed the docbook toolchain and now only html5 remains. We could rename it, but that would break people who linked to the old format. This is probably a lot fe

[2020-04-21 14:21] rwinch commented on #8421
Thanks for the report. I think it is the implementation that is broken. Would you like to submit a PR to fix it?

[2020-04-21 14:27] judomu commented on #8421
Sure, I will provide the fix

[2020-04-21 14:28] rwinch commented on #8421
Thanks @judomu! The issue is yours

[2020-04-21 14:53] rwinch commented on #8422
Thanks for the report.

This is intentional to avoid calling load if no one needs the `SecurityContext`. We could potentially add an option to use `Mono.cache()` to have it only invoked once.

[2020-04-21 14:57] rwinch commented on #8407
Only the `Configuration` and ``Bean``s that are logged would be impacted. Would you be interested in creating a PR that adds `@Role(BeanDefinition.ROLE_INFRASTRUCTURE)` to the `@Configuration` and the `@Bean` definitions that were logged?

[2020-04-21 23:08] forgo commented on #6881
@jgrandja

`private_key_jwt` is the preferred authentication method for web apps integrating with [login.gov](https://developers.login.gov/oidc/) with OpenID Connect.

Previously, I had managed to get this flow working in Spring Security (non-reactive) by doing a lot of backflips with a custom `OAuth2AuthorizationRequestResolver` and custom `OAuth2AuthorizationCodeGrantRequestEntityConverter`.

It

[2020-04-22 00:35] #8321 closed

[2020-04-22 02:11] lee-gilbert commented on #5690
@rwinch  It appears the issue is discussed without a solution here:
https://jira.spring.io/browse/DATACMNS-1231

[2020-04-22 06:52] stavshamir opened #8425 "JdbcOAuth2AuthorizedClientService should support update when saving"
**Description**
Configuring `JdbcOAuth2AuthorizedClientService` as follows:
[code]

Allows only one authorization of the same user - trying to log in from one browser, and then from another, throws a `DuplicateKeyException`, making it unusable for SSO.

More importantly, it throws the same exception when a refresh token is used for re-authorization  when the access token is expired, meaning this c

[2020-04-22 08:22] pitsoleil commented on #8371
Hi @rwinch ,

Sorry for my lat answer. Finally, by using this another configuration below provided by the official link, the x-frame option is detected properly.

So it means that it was a misconfiguration and not a bug. Thank you for your time and assistance.

[2020-04-22 13:52] #8421 closed

[2020-04-22 13:56] spring-issuemaster opened #8426 "OAuth2 Resource Server docs not in sync - authorityPrefix can't be set to """
Backport of gh-8421

[2020-04-22 13:56] spring-issuemaster commented on #8426
Fixed via 9dd68f86d35b7e554204226bf81de3e9cfb95052

[2020-04-22 13:56] #8426 closed

[2020-04-22 13:56] rwinch commented on #8421
This is now merged into master and 5.2.x

[2020-04-22 14:10] #8371 closed

[2020-04-22 14:10] rwinch commented on #8371
Thanks for following up and glad you solve the problem @pitsoleil

[2020-04-22 14:37] ThomasVitale commented on #8326
Thanks @jgrandja, I'll start working on it then.

[2020-04-22 17:07] gcorsaro opened #8427 "UnsupportedOperationException when using PostFilter with collections"
**Describe the bug**
**java.lang.UnsupportedOperationException: null** raised when filtering collections

**To Reproduce**
Add @postfilter annotation to your controller end point. Let the method return collection

**Expected behavior**
The collection is filtered according to the PostFilter condition

**Sample**
https://github.com/gcorsaro/bugdemos/tree/master/bugsecuritydemo

The error is raised w

[2020-04-22 17:58] jgrandja commented on #8425
@stavshamir Thank you for the detailed report.

Yes, I agree the solution to this bug will need to ensure an atomic update.
The `ON DUPLICATE KEY UPDATE` would be nice if it was standard but since it's not we cannot go with this option.

How about, `saveAuthorizedClient()`  does an `update` if exists else `insert`. The transaction demarcation could be declared in a wrapper class of `OAuth2Authoriz

[2020-04-22 18:19] jgrandja commented on #6881
@forgo The most efficient way of getting this feature in is via a PR. We just announced [Spring Authorization Server](https://spring.io/blog/2020/04/15/announcing-the-spring-authorization-server), which will take up quite a bit of resources.

If you or anyone in the community is interested in submitting a PR, I can help guide.

[2020-04-22 20:14] #8307 closed

[2020-04-23 08:29] Lyannic commented on #8407
Yes, I would be interested in that PR, but it could take some time, since I am quite busy at the moment.

[2020-04-23 09:11] stavshamir commented on #8425
Even if we wrap the use a transaction, the following scenario may occur:
- App1 starts authorization for user X -> User X is not persisted
- App2 start authorization for user X -> User X is not persisted -> User X is inserted
- App1 continues to insert user X -> duplicate key is thrown

Then what? Retry?

After some more thought, I came up with this:
[code]

I believe this would make the result co

[2020-04-23 10:25] antonin-arquey commented on #8427
After looking at it, it is caused by the attempt to call `clear()`on an `Arrays$ArrayList`.
`Arrays.asList()` returns a list that doesn't allow operations affecting its size so we get an `UnsupportedOperationException`.

The code clearing and adding the `retainList` in the filter method can probably be removed as nothing is done with it before returning.

[code]

There is also the same potential i

[2020-04-23 13:03] dadikovi commented on #8407
@Lyannic if you dont have time for this I could send a PR about it. (But I can keep searching for another issue if you want to work on this! :) )

[2020-04-23 13:08] puce77 opened #8428 "spring-security-test: WebMvcTest: filter order"
**Describe the bug**
WebMvcTests with spring-security-test have a different filter order than during "normal" runtime.

**To Reproduce**
Define a filter after the default order of Spring Security Filters (=0) and try to access the userPrincipal from the HttpServletRequest:

    import java.io.IOException;
    import javax.servlet.FilterChain;
    import javax.servlet.ServletException;
    import j

[2020-04-23 15:15] Lyannic commented on #8407
@dadikovi If you are looking for a PR and are interested in this one, you can go for it. I am not calling dips on it :)

[2020-04-23 15:18] prasad1007 commented on #8373
Hi Team, which dependency i have to update to 5.3.0 please? facing same issue? thanks

[2020-04-23 16:12] dadikovi commented on #8407
Okay, thank you! :)

[2020-04-23 17:23] jgrandja commented on #8373
@prasad1007 The `spring-security-oauth2-client` module contains the Jackson support.

[2020-04-23 17:44] jgrandja commented on #8425
@stavshamir Good point. The scenario you describe is still an issue. The one thing I want to point out is that this issue is NOT a Spring Security issue but rather a Solution Architecture / Environment issue. Spring Security is not responsible for handling or co-ordinating distributed transactions. Instead this needs to be solved within the Application Architecture and Environment configuration. M

[2020-04-24 15:18] #2884 closed

[2020-04-24 15:20] spring-issuemaster opened #8430 "SEC-2664: ActiveDirectoryLdapAuthenticationProvider should wrap communication exceptions in InternalAuthenticationServiceException"
Backport of gh-2884

[2020-04-24 15:20] spring-issuemaster commented on #8430
Fixed via 93a1fc104c865a1ae90ae9dd7cb01186d081cbfb

[2020-04-24 15:20] #8430 closed

[2020-04-24 15:35] spring-issuemaster opened #8431 "SEC-2664: ActiveDirectoryLdapAuthenticationProvider should wrap communication exceptions in InternalAuthenticationServiceException"
Backport of gh-2884

[2020-04-24 15:35] spring-issuemaster commented on #8431
Fixed via f98db2d866bf6550f94a97fa629bb4545e9b3851

[2020-04-24 15:35] #8431 closed

[2020-04-24 15:43] eleftherias commented on #5558
A native Kotlin DSL for servlet based applications is available as of Spring Security 5.3.
The native Kotlin DSL for WebFlux based applications will be part of Spring Security 5.4.
Spring Security 5.4.0.M1 is scheduled for 2020/05/06.

[2020-04-24 15:43] #5558 closed

[2020-04-24 15:44] spring-issuemaster opened #8432 "SEC-2664: ActiveDirectoryLdapAuthenticationProvider should wrap communication exceptions in InternalAuthenticationServiceException"
Backport of gh-2884

[2020-04-24 15:44] spring-issuemaster commented on #8432
Fixed via 7eee6b102f6e18919936250d63ce78bcaca6453c

[2020-04-24 15:44] #8432 closed

[2020-04-24 15:59] spring-issuemaster opened #8433 "SEC-2664: ActiveDirectoryLdapAuthenticationProvider should wrap communication exceptions in InternalAuthenticationServiceException"
Backport of gh-2884

[2020-04-24 15:59] spring-issuemaster commented on #8433
Fixed via 76432029c5ec811feb89c06ecd8f013b87aaacc4

[2020-04-24 15:59] #8433 closed

[2020-04-24 18:49] dadikovi commented on #7153
@farooqkhan003 Are you still working on this issue? If not, @rwinch can I take it?

[2020-04-25 07:11] forgo commented on #6881
@jgrandja

I've created a branch `gh-6881` branch. It's a decent good start, but could use your guidance now.

I signed the "Contributor License Agreement", and I'm following the contributor guidelines, but I have been unable to push my branch. Do I need to do anything else?

[2020-04-25 07:21] dratler commented on #7791
Hi @eleftherias ,
here is the https://github.com/spring-projects/spring-security/pull/8434 I have opened with the tests for this issue .
I would like to here your comments

[2020-04-25 11:56] farooqkhan003 commented on #7153
@dadikovi unfortunately I didn't get chance to work on this issue.

[2020-04-25 16:01] farooqkhan003 commented on #8412
@jzheaux can I pick this one?

[2020-04-26 13:39] chiragsoni2401 commented on #5593
I am using above multiple configurations but at the place of form login I am redirecting to an okta idp it is working fine but at the place of httpBasic() if I you something else like fomLogin or if I not use anything means I directly make post request to /api/** then I am getting 403 forbidden error.

So basically I want to know that in case of multiple http elements it is necessary to have formL

[2020-04-26 18:56] ThomasVitale commented on #8326
@jgrandja Besides adding the attribute and making it settable from the builder, which use cases should I support (and test)?

[2020-04-27 13:09] rwinch commented on #8427
Thanks for the report. This is a duplicate of gh-2316

[2020-04-27 13:09] #8427 closed

[2020-04-27 13:15] gcorsaro commented on #8427
Hello @rwinch , just one remark. In the attached example I used a normal List, not immutable. The gh-2316 is referred to immutable collections only so I don't know if this can be considered as duplicate of that ticket.

[2020-04-27 13:15] rwinch commented on #8428
Please provide a complete sample that can be cloned from a github repository.

[2020-04-27 13:34] rwinch commented on #8427
@gcorsaro Thanks for pointing out that out. I've updated the description to describe that this should work for fixed size collections which is a more accurate description of what we needing to be supported

[2020-04-27 14:00] #8407 closed

[2020-04-27 14:02] spring-issuemaster opened #8437 "Add ROLE_INFRASTRUCTURE to infrastructure beans"
Backport of gh-8407

[2020-04-27 14:02] spring-issuemaster commented on #8437
Fixed via a89e3d385fd24effaf8125fc4975254e0456ff57

[2020-04-27 14:02] #8437 closed

[2020-04-27 14:03] spring-issuemaster opened #8438 "Add ROLE_INFRASTRUCTURE to infrastructure beans"
Backport of gh-8407

[2020-04-27 14:03] spring-issuemaster commented on #8438
Fixed via c399185365ae676e2fc9de26c0908d26c9e1a6c2

[2020-04-27 14:03] #8438 closed

[2020-04-27 14:15] Writtscher opened #8439 "Authentication is not ignored for csrf protection. Makes csrf security impossible for protected resources."
**Describe the bug**
We have an issue with our current setup: We migrated our spring oauth 2 security configuration to the latest spring security configuration. (https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide)

Since then, our resource server csrf configuration does not work anymore.

At this point https://github.com/spring-projects/spring-security/blob/master/we

[2020-04-27 14:22] spring-issuemaster opened #8440 "Add ROLE_INFRASTRUCTURE to infrastructure beans"
Backport of gh-8407

[2020-04-27 14:22] spring-issuemaster commented on #8440
Fixed via aa118466e58730606773e4649c8ebc371785a8d8

[2020-04-27 14:22] #8440 closed

[2020-04-27 14:23] spring-issuemaster opened #8441 "Add ROLE_INFRASTRUCTURE to infrastructure beans"
Backport of gh-8407

[2020-04-27 14:23] spring-issuemaster commented on #8441
Fixed via 76a4df046173421bf631ae310ef307cc6e40709b

[2020-04-27 14:23] #8441 closed

[2020-04-27 14:30] spring-issuemaster opened #8442 "Add ROLE_INFRASTRUCTURE to infrastructure beans"
Backport of gh-8407

[2020-04-27 14:30] spring-issuemaster commented on #8442
Fixed via d4508858f37b67dfef998241856231131a0cf8d1

[2020-04-27 14:30] #8442 closed

[2020-04-27 14:45] mageddo commented on #5593
I have [this running](https://github.com/mageddo/java-examples/tree/6a7dd2b/spring-security/basic-and-form-auth-together) example for form and basic http if it would help you

[2020-04-27 14:54] fabian-froehlich opened #8444 "Docs: WebClient OAuth2 Setup for Reactive Applications might be wrong"
In the reference doc there is an example for a WebClient with OAuth2 Setup for Reactive Applications: https://docs.spring.io/spring-security/site/docs/current/reference/html5/#webclient-setup

[code]
But in my szenario it leads to an exception:
[code]

However, switching the `ServerOAuth2AuthorizedClientRepository` to a `ReactiveOAuth2AuthorizedClientService` makes the code run.

[code]

[code]
Is

[2020-04-27 15:44] rwinch commented on #8439
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-04-27 15:44] #8439 closed

[2020-04-27 16:01] rwinch commented on #7153
@dadikovi Please take it. The issue is yours

[2020-04-27 19:39] jgrandja commented on #6881
@forgo Please submit a Draft Pull Request. Please review the [contributing](https://github.com/spring-projects/spring-security#contributing) section, which provides links on how to submit a PR.

[2020-04-27 19:57] jgrandja commented on #8326
@ThomasVitale `CommonOAuth2Provider` will need to have a default issuerUri set for `GOOGLE` and `OidcIdTokenValidator` will need to get updated similar to this resent update 32ce94d

[2020-04-27 20:58] forgo commented on #6881
@jgrandja I created the PR. It's definitely a WIP, and I would expect some tests will fail, but I wanted to get what I had out there to start a discussion on if I'm going in the right direction at all.

Much more comments and notes on the [PR](https://github.com/spring-projects/spring-security/pull/8445)

[2020-04-28 03:47] leozleung opened #8446 "saml2login sample project looping bug"
**Describe the bug**
after input user and password, the request is being post to simpleSAMLphp and redirect back and looping start

**To Reproduce**
1. git clone the project
2. run ./gradle :spring-security-samples-boot-saml2login:bootRun
3. open localhost:8080
4. input user and password
5. looping start

**Expected behavior**
authentication success and being able to stay at index.html

[2020-04-28 08:01] leozleung commented on #8446
it works when i use another machine to checkout and run the sample. so close it.

[2020-04-28 08:01] #8446 closed

[2020-04-28 09:51] Avec112 commented on #8444
I experience the same thing. When doing av webClient.get() outside Servlet context i get "servletRequest cannot be null".

If I do the whole call inside a @Controller or @RestController it works fine.

[2020-04-28 12:55] krajcsovszkig-ms commented on #6881
Hi @jgrandja ,

I'm taking this over from @Budlee (we work at the same organization). I'm almost done planning out the design for the feature, would you like to review it before I start writing the code? Shall I just put it here, or where can I send it for you to check it out?

Thanks!

[2020-04-28 13:18] puce77 commented on #8428
@rwinch do you have a test security sample I can start with?

[2020-04-28 14:24] rwinch commented on #8446
Thanks for the follow up @leozleung!

[2020-04-28 15:16] #8402 closed

[2020-04-28 16:56] samhaque commented on #5758
Is there any work around for the time being? I have a spring cloud gateway project being deployed to PCF and require logging for a `ReactiveAuthenticationManager` implementation.

[2020-04-28 17:01] gkgeorgiev opened #8447 "Re-use the instance of PreInvocationAuthorizationAdvice in the GlobalMethodSecurityConfiguration"
**Expected Behavior**

If I create my own factory method, instantiating _PreInvocationAuthorizationAdvice_, which will be used in the _GlobalMethodSecurityConfiguration.accessDecisionManager()_, or at least  if I override the preInvocationAuthorizationAdvice(), the result to be used when constructing the access decision manager.

**Current Behavior**

Currently, the accessDecisionManager() constru

[2020-04-28 17:32] rwinch commented on #8428
See https://github.com/rwinch/spring-security-sample/tree/gh-8428

[2020-04-28 21:25] jgrandja commented on #6881
@krajcsovszkig-ms I haven't heard from @Budlee in a while and @forgo just submitted a PR  #8445. Can you take a look at the PR first and maybe provide feedback there?

[2020-04-29 00:49] rwinch commented on #5758
Any volunteeers for a/some Pull Requests?

[2020-04-29 01:08] jgrandja commented on #8444
@fabian-froehlich The issue here is that the OAuth 2.0 Client Reactive documentation is out-of-date and missing quite a bit of content compared to the Servlet sections.

Take a look at the [OAuth2AuthorizedClientManager / OAuth2AuthorizedClientProvider](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-authorized-manager-provider) (Servlet) docs:

Since 5.2, it

[2020-04-29 01:08] #8444 closed

[2020-04-29 04:31] samhaque commented on #5038
@rwinch I followed the documentation for x509 auth for reactive applications(my app is a spring cloud gateway application) as mentioned here:
https://docs.spring.io/spring-security/site/docs/current/reference/html5/#reactive-x509

However I noticed some weird behaviour, where even after creating a chain like this:
[code]
and setting the authenticationManager to accept certs with the common name I

[2020-04-29 08:34] fabian-froehlich commented on #8444
Hi @jgrandja,
thanks for your reply.

If I am understanding you correct, then your recommendet way is what I wrote in my initial post as a running example, right? And it seems that I am outside of a `HttpServletRequest`.
If I need to change the code in order to work as expected, could you give an example?

Could you give me an insight, if any possible error here, results in my finding, that Mon.re

[2020-04-29 11:42] spring-issuemaster opened #8448 "JdbcOAuth2AuthorizedClientService should support update when saving"
Backport of gh-8425

[2020-04-29 11:47] krajcsovszkig-ms commented on #6881
Huh, not sure how I didn't notice the latest comments.

I'm happy to get involved with the review and testing, and also to help with the implementation if I can.

[2020-04-29 13:18] #8425 closed

[2020-04-29 13:19] spring-issuemaster commented on #8448
Fixed via 6f2359ccae6962b91ea8d04aedd7d21f361f9edb

[2020-04-29 13:19] #8448 closed

[2020-04-29 14:19] rwinch commented on #5038
@samhaque Please create a separate issue and provide a complete sample/directions to reproduce.

[2020-04-29 20:03] jgrandja commented on #6881
Thanks @krajcsovszkig-ms. It would be great if you can take a look at #8445 to provide feedback and share your design ideas. The more eyes on it the better the design outcome will be.

[2020-04-29 20:11] jgrandja commented on #8444
@fabian-froehlich

There are plenty of examples in the reference documentation so please take a look there. Again, the reactive docs are out of date so check out the Servlet docs (the only difference between Servlet and Reactive are the class names).

- [OAuth2AuthorizedClientManager / OAuth2AuthorizedClientProvider](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2C

[2020-04-29 21:10] Vostan commented on #7771
@codeconsole
I guess as you mentioned in the above comment about `ServletBearerExchangeFilterFunction` should work with ResourServer. you might be able to help me with this issue, that would be highly appreciated.

https://stackoverflow.com/questions/61511710/spring-cloud-gateway-spring-security-resource-server

[2020-04-29 22:43] fabian-froehlich commented on #8444
Hi @jgrandja  and sorry for your trouble.
If the only difference is the class name then there might be an issue because the following config still results in an `java.lang.IllegalArgumentException: serverWebExchange cannot be null` when following [OAuth2AuthorizedClientManager / OAuth2AuthorizedClientProvider]( https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-

[2020-04-30 02:00] jgrandja commented on #8444
`DefaultReactiveOAuth2AuthorizedClientManager` is intended to be used within a request context.

Given that you're seeing `serverWebExchange cannot be null`, you must be operating outside of a request context, which in case you should use `AuthorizedClientServiceReactiveOAuth2AuthorizedClientManager` instead.

**NOTE:** Change the `ServerOAuth2AuthorizedClientRepository` parameter to `ReactiveOAut

[2020-04-30 10:37] netbeansuser2019 opened #8449 "Login success handler should be called in proper context"
Login success handler should be called in proper context
Describe the bug
If it is called login success handler it is not ensured RequestContextHolder so
exception could be called if there is any bean that it is using it.
java.lang.IllegalStateException: No thread-bound request found: Are you referring to request attributes outside of an actual web request, or processing a request outside of the o

[2020-04-30 10:48] netbeansuser2019 commented on #8449
Reply to comment to @rwinch #8419 cite:
"You need to ensure you have RequestContextFilter setup before Spring Security is invoked in order to use RequestContextHolder."

It seems that you do not understand a prior issue so I have open new one to be really and properly investigated.

I am addressing :

org.springframework.security.config.annotation.web.configuration.WebSecurityConfigurerAdapter.con

[2020-04-30 14:17] alek-sys commented on #5038
Hey @samhaque, keep in mind mTLS on PCF is tricky. There are two important things to consider:
- If you have HAproxy in your deployment, XFCC header gets stripped out from the request so you won't be able to use mTLS security
- For reactive stack, client certificate is not correctly mapped to request properties, there is an [open PR](https://github.com/cloudfoundry/java-buildpack-client-certificat

[2020-04-30 14:46] samhaque commented on #5038
We have a isolated segment for mTLS, so it's not a HAproxy issue.

Is it possible to review that PR so the certificate mapping issue can be fixed in the next release?

[2020-04-30 15:01] alek-sys commented on #5038
I'm not sure. Feel free to comment on the PR so show your interest, but even when it is merged it'll take some time to update and release JBP. For now you can just bring this [filter](https://github.com/cloudfoundry/java-buildpack-client-certificate-mapper/pull/5/files#diff-4f284258f936a96adb96a88d8448728b) to your codebase, unitl JBP is updated.

[2020-04-30 17:48] rwinch commented on #8449
You have not provided any new information, so my assessment is still the same. If you truly think you have an issue, please provide a complete and minimal sample (i.e. github repository) that reproduces the problem.

[2020-04-30 17:48] #8449 closed

[2020-04-30 18:05] eleftherias commented on #8447
@gkgeorgiev As a workaround, could you override `GlobalMethodSecurityConfiguration.createExpressionHandler()`?
This would allow you to customize the `MethodSecurityExpressionHandler` used in the `ExpressionBasedPreInvocationAdvice`.
Or is there a different customization you need to add to the `ExpressionBasedPreInvocationAdvice`?

[2020-04-30 21:16] gkgeorgiev commented on #8447
@eleftherias, Thank you for your reply. Actually my goal was to influence the behavior of the AccessDecisionManager, which by default has a Voter based on the ExpressionBasedPreInvocationAdvice, but I found my work-around. I'm aware it's a specific case, but IMHO the code would make more sense in with the improvement request I've posted.
Thx again!

[2020-05-01 07:49] dcoraboeuf commented on #6802
Hi,

Has there been any evolution on this?

I'm using Spring Security 5.3.1 (through Spring Boot 2.3.0.M4) and still face the same issue.

My application needs to support both "classic" form logins (for service accounts) and several OAuth2 providers. When I enable OAuth2 login, I cannot use the form login any longer.

My configuration looks like:

[code]

I can login without any issue using OAuth2

[2020-05-01 08:35] dadikovi commented on #7153
@rwinch Thanks. I sent in a draft PR. I'm not sure if in case of XML configuration should I write the deprecation notice more formally (eg. in a dedicated tag), or is this okay that I put it in the documentation tag.

Please note that this PR will introduce the deprication notice only in docs, sample applications and configurations. Earlier PR (https://github.com/spring-projects/spring-security/pu

[2020-05-01 09:11] netmikey commented on #6802
@dcoraboeuf : actually, I didn't follow that path. I first switched to implementing a full OAuth Authentication Server which in turn contained the custom login form, based on Spring Security OAuth Server. Technically that worked.

I never finished it though, because when Spring Security [announced](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update) they were dropping the s

[2020-05-01 09:18] dadikovi commented on #7745
Hello guys! I created a PR for the original problem (DelegateFilter is not null-safe).
However, I found out that in org.springframework.security.test.web.servlet.setup.SecurityMockMvcConfigurer#beforeMockMvcCreated a very similiar IllegalStateException is already thrown if the delegate could not be set (because there is no security filter chain).
If you think this PR is still needed, let me know i

[2020-05-01 09:23] dadikovi commented on #7572
Hi! Is there any update about this issue? Is there a corresponding issue in the spring-framework repository as well? Is this issue still considered ideal for contribution, because if yes I would like to take it :)

[2020-05-01 09:32] dcoraboeuf commented on #6802
@netmikey , thanks for your fast answer.

In my case, I need to support two identification modes: a basic form login, using built-in accounts in the application, and several configurable OAuth2 providers.

I can make one or the other work very simply ; it's the combination of the both which does not work. More precisely, the OAuth2 authentication works, but the classic login form is no longer acce

[2020-05-01 09:52] dadikovi commented on #7568
Additional information:

It seems for me that in these cases the following exception is thrown:

`org.springframework.security.web.firewall.RequestRejectedException: The request was rejected because the URL was not normalized.
	at org.springframework.security.web.firewall.StrictHttpFirewall.getFirewalledRequest(StrictHttpFirewall.java:248)
	at org.springframework.security.web.FilterChainProxy.doFi

[2020-05-01 11:39] mouellet commented on #5758
Hey @rwinch, I've been looking into this and I think if we add some `doOnNext` here and there (i.e. Filters, Matchers, EntryPoint, etc.), we'll have about the same output as we have on the servlet side.

As for the `FilterChainProxy` logging (i.e. `/ at position x of y in additional filter chain; firing Filter: '***Filter'`), should this be added in [spring-web's DefaultWebFilterChain](https://git

[2020-05-01 16:35] #5007 closed

[2020-05-01 17:16] rwinch commented on #5038
Closing this as a duplicate of the merged PR gh-6336

[2020-05-01 17:16] #5038 closed

[2020-05-01 17:51] rwinch commented on #7153
Thanks @dadikovi This I responded on gh-8450

[2020-05-01 18:30] jgrandja commented on #6802
@dcoraboeuf

No there hasn't. It's a bit of a tricky issue to solve (see previous comments).

It's also on the lower priority list since the default login page is really meant for development. A production application would typically setup a custom login page.

[2020-05-01 18:33] dcoraboeuf commented on #6802
I have a custom login page for the username/password authentication, but it is not taken into account the moment I declare also a OAuth2 login.

Independently both work well.

I wonder if there are examples of applications mixing form based authentication and OAuth2 authentication.

[2020-05-01 19:28] parikshitdutta commented on #8149
Hi @eleftherias, Please take a look at PR #8452, or Please assign it to respective reviewer.

Thank you.
+ @rwinch

[2020-05-01 19:59] rwinch commented on #7745
Thanks @dadikovi I think it is still needed since we the `NullPointerException` can still occur (as demonstrated above)

[2020-05-01 20:01] rwinch commented on #7568
We cannot change the default, but you can now change the behavior with gh-7052

[2020-05-01 20:20] rwinch commented on #7572
@dadikovi The issue is yours.

NOTE: I'm not aware of any corresponding issues logged in Spring Framework.

[2020-05-01 20:23] rwinch commented on #5758
We should try to update Spring Framework rather than re-implement things. I'd create a ticket on their side and coordinate with them.

Thanks @mouellet! The issue is yours.

[2020-05-02 09:04] dadikovi commented on #7568
Well, I have a few questions, but for illustration I sent a draft commit too.

- When I tested this exception was thrown from line 192 where the rejected exception is not cought. Is there any reason for this, or is it okay to move the exception catch to the doFilterInternal method itself (see my draft commit)
- Is my understanding right that filterChainProxy should use HttpStatusRequestRejectedHan

[2020-05-02 09:06] dadikovi commented on #7572
@rwinch but the solution defined in https://github.com/spring-projects/spring-security/issues/7572#issuecomment-562968573 seems legit?

[2020-05-02 17:56] richardcs opened #8453 "security:client-registrations doesn't take propertyconfigurer properties"
Using Spring Security 5.3.1.RELEASE

I use XML based configuration for most security setup as I have customizations that need to be dynamically processed.

Using <security:client-registrations... Everything works fine if I hardcode the client-id and client-secret but using a propertyConfigurer the values aren't used.

I have this setup for the propertyConfigurer

` <context:property-placeholder lo

[2020-05-03 06:43] dcoraboeuf commented on #6802
By using a custom login (the same actually) in both OAuth2 config & form login config, I could make this work. The blocking point for me what that launching the application from Okta kept redirecting to the login page, which was of course not satisfying.

Very important for me what: the "Initiate Login URI" in the Okta application has to be set explicitly to `http://localhost:8080/oauth2/authoriza

[2020-05-03 06:53] snicoll commented on #8420
Can't you fix that with redirect rules on the server?

We're post RC now and we still have a broken link in our doc. Can you please give us a decision before 2.3 is GA?

[2020-05-03 15:46] ThomasVitale commented on #8326
@jgrandja Thanks, I'll submit a PR for an early review in a couple of days.

[2020-05-04 15:50] LifeIsStrange opened #8457 "[Doc] Show what is the replacement for the deprecated macSigner in the migration guide"
I am a user of https://github.com/spring-projects/spring-security-oauth/blob/master/spring-security-jwt/src/main/java/org/springframework/security/jwt/crypto/sign/MacSigner.java

It has been marked as deprecated in the code and link to the following migration guide ->
https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide

I believe that macSigner has been replaced for J

[2020-05-04 15:59] LifeIsStrange commented on #8457
Well I found out that macSigner was also coupled to JWT anyway.
So the issue is just that I dont know which class to use in springsecurity in order to encode and decode a sha256 hash without using JWT special classes.

This is not a spring security issue hence the closing

[2020-05-04 15:59] #8457 closed

[2020-05-04 18:26] jgrandja commented on #6802
@dcoraboeuf

`http://localhost:8080/oauth2/authorization/okta` can be customized via `http.oauth2Login().authorizationEndpoint.baseUri()` - see [OAuth 2.0 Login Page](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login-advanced-login-page) in the reference for further details.

As well, `http://localhost:8080/login/oauth2/code/okta` can be customized via `http.oau

[2020-05-04 18:32] jgrandja commented on #8453
@richardcs Property placeholders are not taken into account with the initial support for xml config. This would be an enhancement we can certainly add.

Would you be interested in submitting a PR for this?

[2020-05-04 18:35] richardcs commented on #8453
I can definitely take a look. Could you give me some pointers about how that enhancement would be added?

[2020-05-04 22:37] rwinch commented on #7568
This was the past behavior and it should remain this way for passivity. User's were encouraged to add their own error handling using a Filter or mapping the Exception to the servlet containers error handling

This will not change until  Spring Security 6.x

[2020-05-05 09:55] soheilqalamkari commented on #3078
hi every body!How to get List of logged in user in spring security oauth?Is it same use sessionRegistry.getAllPrincipals()?

[2020-05-05 12:32] larsw commented on #5607
I don't have any strong opinions with regards to the design of the API, but we've met this obstacle while trying to customize the trust store to be used for the outgoing connection against the authorization server.

After reading through the source, we found out that the _RestTemplate_ instance was new'ed locally, and as far as we could tell, was not externally customizable.

It was quite confusin

[2020-05-05 14:38] ndopj opened #8458 "spring security with oauth2 resource server multiple jwk uri's"
**Expected Behavior**

Spring Security should provide way to use multiple Oauth2 resource server jwk uris's
Spring webflux Oauth2 resource server functionality is not included directly inside Spring Security but is depending on it (see following links).

**Current Behavior**

Spring Security (5.3) provided way for webflux to use multiple Oauth2 resource server issuer uri's:
https://github.com/spri

[2020-05-05 14:56] rwinch commented on #7745
Closing in favor of gh-8451

[2020-05-05 14:56] #7745 closed

[2020-05-05 14:59] nenaraab opened #8459 "spring-security-test: @WithMockOidcUser"
**Expected Behavior**
similar to [`@WithMockUser`](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#test-method-withmockuser):

[code]

**Current Behavior**
I'm unable to use Spring WebMVC tests for my secured methods and those methods that expects the security context to be filled. They require the user id (name) from the Oidc token also to perform authorization checks wi

[2020-05-05 15:15] rwinch commented on #7572
@dadikovi I haven't looked into the proposed solution. What might be a good place to start is producing a unit test that reproduces the issue so I can easily look at it in isolation. You could do this with a draft PR. What do you think?

[2020-05-05 15:17] rwinch commented on #8420
I think the answer is that we have redirects setup from htmlsingle to html5 vs the other way around. This should be solved (I forgot to close the issue though). Are there missing redirects still?

[2020-05-05 15:29] snicoll commented on #8420
https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/htmlsingle/ is 404ing for me. We are providing link to the matching Spring Security version in our bom so I don't think the current state of affairs would work for us.

[2020-05-05 15:35] rwinch commented on #8457
Glad you figured it out @LifeIsStrange and thanks for the fast follow up!

[2020-05-05 15:46] spring-issuemaster opened #8460 "Fixed typos in documentation"
Backport of gh-8454

[2020-05-05 15:46] spring-issuemaster commented on #8460
Fixed via 4ef2a7984fd38af31b96a9538143d51fef6d75cf

[2020-05-05 15:46] #8460 closed

[2020-05-05 15:57] rwinch commented on #8420
@snicoll I had thought we had a redirect setup. I'll look into that. I'd suggest updating the link so you don't put users through an unnecessary redirect.

[2020-05-05 17:23] eleftherias opened #8462 "Update to Spring Data Moore-SR7"
Update to Spring Data Moore-SR7

[2020-05-05 17:26] eleftherias opened #8463 "Update to Spring Framework 5.2.6.RELEASE"
Update to Spring Framework 5.2.6.RELEASE

[2020-05-05 17:27] eleftherias opened #8464 "Update to Reactor Dysprosium-SR7"
Update to Reactor Dysprosium-SR7

[2020-05-05 17:29] eleftherias opened #8465 "Update to org.powermock 2.0.7"
Update to org.powermock 2.0.7

[2020-05-05 17:31] eleftherias opened #8466 "Update to Jackson 2.10.4"
Update to Jackson 2.10.4

[2020-05-05 17:33] eleftherias opened #8467 "Update to GAE 1.9.80"
Update to GAE 1.9.80

[2020-05-05 17:34] eleftherias opened #8468 "Update RSocket to 1.0.0-RC7"
Update RSocket to 1.0.0-RC7

[2020-05-05 17:37] eleftherias opened #8469 "Upgrade to embedded Apache Tomcat 9.0.34"
Upgrade to embedded Apache Tomcat 9.0.34

[2020-05-05 18:09] rwinch commented on #8458
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-05-05 18:09] #8458 closed

[2020-05-05 20:08] eleftherias opened #8470 "Update to GAE 1.9.80"
Update to GAE 1.9.80

[2020-05-05 20:25] jgrandja commented on #8453
@richardcs I would have to spend some time myself to figure out how it can be done. Please see if you can figure it out and if you're having issues then I can jump in and help out.

[2020-05-05 20:32] eleftherias opened #8471 "SAML Authentication Provider assertions"

[2020-05-05 20:46] eleftherias opened #8472 "Update to Spring Framework 5.1.15.RELEASE"
Update to Spring Framework 5.1.15.RELEASE

[2020-05-05 20:48] eleftherias opened #8473 "Update to Reactor Californium-SR18"
Update to Reactor Californium-SR18

[2020-05-05 20:49] eleftherias opened #8474 "Update to Spring Data Lovelace-SR17"
Update to Spring Data Lovelace-SR17

[2020-05-05 20:51] eleftherias opened #8475 "Update to org.powermock 2.0.7"
Update to org.powermock 2.0.7

[2020-05-05 20:57] eleftherias opened #8476 "Update to bouncycastle 1.65"
Update to bouncycastle 1.65

[2020-05-05 21:02] eleftherias opened #8477 "Update to Spring Framework 5.0.17.RELEASE"
Update to Spring Framework 5.0.17.RELEASE

[2020-05-05 21:06] eleftherias opened #8478 "Update to org.powermock 2.0.7"
Update to org.powermock 2.0.7

[2020-05-05 21:09] eleftherias opened #8479 "Update to GAE 1.9.80"
Update to GAE 1.9.80

[2020-05-05 21:18] eleftherias opened #8480 "Fix Javadoc punctuation"

[2020-05-05 21:49] eleftherias opened #8481 "Update to Byte Buddy 1.9.16"
Update to Byte Buddy 1.9.16

[2020-05-05 22:20] #8471 closed

[2020-05-05 22:20] #8480 closed

[2020-05-05 23:22] eleftherias opened #8482 "Jenkins does not need to build on JDK 9 and 10"
JDK 9 and 10 aren't supported, so there is no need to test them in the build.

[2020-05-05 23:59] #8482 closed

[2020-05-06 02:23] dlsrb6342 commented on #7522
Is there any updates on this issue?
I have same problem.

Java 11
Spring Security 5.2.1.RELEASE
Spring boot 2.2.1.RELEASE

[2020-05-06 12:11] jebeaudet commented on #8401
@rwinch Any chance you had the time to look at this? Thanks

[2020-05-06 13:24] #8476 closed

[2020-05-06 14:28] imravichaudhary opened #8484 "Support for dynamic configuration using IDP metadata URL for SAML SSO integration"
**Expected Behavior**

SAML IDP registration can be configured via either IDP metadata URL or file-based metadata instead of manually adding configuration property like entity-id, sso-url, X.509 Certificate, etc.. Benefit would be simpler IDP registration configuration and also it can support dynamic configuration like certificate rotation, etc..
[code]

**Current Behavior**

Currently  **spring-s

[2020-05-06 14:28] Ditscheridou opened #8485 "Add documentation/support for "Sign in with Apple""
Im currently writing a server which has the requirement to be able to use the "Sign In With Apple" feature. Initially i was confident that i can use the oauth2-client, just register the required properties and that it will work ootb. But Apple requires several adjustments for the "response_type" and "response_mode" properties so they support "form_post", which currently cant be configured in the c

[2020-05-06 14:49] spring-issuemaster opened #8486 "Fix Javadoc punctuation"
Backport of gh-8480

[2020-05-06 14:49] spring-issuemaster commented on #8486
Fixed via fe737cc67de9aa29bc12ef5b80562de7e5b3e0fe

[2020-05-06 14:49] #8486 closed

[2020-05-06 15:43] spring-issuemaster commented on #7975
Fixed via a302106082c9861c2fd5215664e0596a21249aee

[2020-05-06 15:59] mickaeltr commented on #6476
Hello,
I've been asked how this could be done now, so here is my final solution:
[code]
Hope this helps

[2020-05-06 16:55] eleftherias opened #8489 "Build against latest 5.2.x Spring Framework snapshot"
Builds are failing on https://jenkins.spring.io/job/spring-security due to an incompatible feature in Spring Framework 5.3.0-SNAPSHOT.

We will temporarily build against the latest 5.2.x snapshot, since our dependency is on the Spring Framework 5.2.x line anyway.

[2020-05-06 17:40] spring-issuemaster opened #8490 "Fix Javadoc punctuation"
Backport of gh-8480

[2020-05-06 17:40] spring-issuemaster opened #8491 "SAML Authentication Provider assertions"
Backport of gh-8471

[2020-05-06 17:40] spring-issuemaster commented on #8490
Fixed via fd3907110a9ad0ad368d2d9938a35afe8c8bedf9

[2020-05-06 17:40] #8490 closed

[2020-05-06 17:40] spring-issuemaster commented on #8491
Fixed via 0db9cd075d621118cdff303f402d25425ec81bbc

[2020-05-06 17:40] #8491 closed

[2020-05-06 18:06] rwinch commented on #7975
This still failed when being deployed to Central :-/

[2020-05-06 18:12] eleftherias opened #8492 "Examine SAML2 error code when assertion has invalid signature"
## Scenario
A SAML2 response assertion has an invalid signature.

## Behavior
[This commit](https://github.com/spring-projects/spring-security/commit/545286188d7a9053edf5c5adcb26c3a271fbcd5e) changed the expected `Saml2AuthenticationException` error code in the integration tests.

We should examine whether the correct error code in this case is `invalid_signature` or `invalid_assertion`.

If the c

[2020-05-06 18:32] eleftherias opened #8493 "Align with new MVC matcher behavior"
Spring Framework added [a change ](https://github.com/spring-projects/spring-framework/issues/23915) that impacts the default matching behavior of an MVC matcher.

We should find a way to integrate this change into Spring Security.
Currently updating to 5.3.0-SNAPSHOT causes test failures.

[2020-05-06 18:34] spring-issuemaster commented on #8462
Fixed via 98922b001a46285c38ef10098266bc6eff6687af

[2020-05-06 18:34] spring-issuemaster commented on #8463
Fixed via 19a4386e49205b0de3ed50cd8e2d811997e25efd

[2020-05-06 18:34] spring-issuemaster commented on #8464
Fixed via 4fa67a1d9bc996e6bb43524eb6dd82e6ff697cb1

[2020-05-06 18:34] spring-issuemaster commented on #8465
Fixed via d34f7a8474c7e75a2c50a1b9b54cfa8ba8ee0e84

[2020-05-06 18:34] spring-issuemaster commented on #8466
Fixed via 6ccc18fde29ec080a55213fb977ff2af94bfc79a

[2020-05-06 18:34] spring-issuemaster commented on #8467
Fixed via 94fd7e3a2ba6fa0e7678960e88fdb5d3229e6b4f

[2020-05-06 18:34] spring-issuemaster commented on #8468
Fixed via ba78fae2465504be81cff09a384ef4cfcc9bc2cb

[2020-05-06 18:34] spring-issuemaster commented on #8469
Fixed via 01cce49ee5a1adba7f5254538af6c2385b1cd56e

[2020-05-06 18:34] #8462 closed

[2020-05-06 18:34] #8463 closed

[2020-05-06 18:34] #8464 closed

[2020-05-06 18:34] #8465 closed

[2020-05-06 18:34] #8466 closed

[2020-05-06 18:34] #8467 closed

[2020-05-06 18:34] #8468 closed

[2020-05-06 18:34] #8469 closed

[2020-05-06 18:34] spring-issuemaster commented on #8481
Fixed via f43d00fac6cdbcc8ecf683b10eb809ea555bf3b6

[2020-05-06 18:34] #8481 closed

[2020-05-06 18:34] spring-issuemaster opened #8494 "Fix Javadoc punctuation"
Backport of gh-8480

[2020-05-06 18:34] spring-issuemaster opened #8495 "SAML Authentication Provider assertions"
Backport of gh-8471

[2020-05-06 18:34] spring-issuemaster commented on #8494
Fixed via e9e736d1e6e41ddd482f5dbce04746edce7dfa59

[2020-05-06 18:34] spring-issuemaster commented on #8495
Fixed via 69b1bc62ffe7c1e1bbf508951efa1e0235954198

[2020-05-06 18:34] #8494 closed

[2020-05-06 18:34] #8495 closed

[2020-05-06 19:35] spring-issuemaster commented on #8470
Fixed via 497ee84537ec67cb308423a91bc557163168ff45

[2020-05-06 19:35] #8470 closed

[2020-05-06 19:35] spring-issuemaster commented on #8472
Fixed via ecf58c9549aa5d6eb997f9d61e2e9b38da3c9380

[2020-05-06 19:35] spring-issuemaster commented on #8473
Fixed via 9986a3317786afc0709ecfc24fa5cd7769515ce3

[2020-05-06 19:35] spring-issuemaster commented on #8474
Fixed via 1e957e96b9cecfe9da8f251e2b8afc50c6998248

[2020-05-06 19:35] spring-issuemaster commented on #8475
Fixed via 6d6a22eda1cadc67a2c962fbf77269704f839e39

[2020-05-06 19:35] #8472 closed

[2020-05-06 19:35] #8473 closed

[2020-05-06 19:35] #8474 closed

[2020-05-06 19:35] #8475 closed

[2020-05-06 19:35] spring-issuemaster opened #8496 "Fix Javadoc punctuation"
Backport of gh-8480

[2020-05-06 19:35] spring-issuemaster commented on #8496
Fixed via 30a68b6c1040cf1a7cb2171331b1eefc2c9cafdf

[2020-05-06 19:35] #8496 closed

[2020-05-06 20:12] spring-issuemaster commented on #8477
Fixed via ed2a646a69872c007b559210e34988064fb7e0c9

[2020-05-06 20:12] spring-issuemaster commented on #8478
Fixed via 2c4d13ddef5fbfc157fa41ca8aeff81a0329c923

[2020-05-06 20:12] spring-issuemaster commented on #8479
Fixed via 7f8efb76802eb0f69532cecd03fb6dcff427ab4b

[2020-05-06 20:12] #8477 closed

[2020-05-06 20:12] #8478 closed

[2020-05-06 20:12] #8479 closed

[2020-05-06 20:12] spring-issuemaster opened #8497 "Fix Javadoc punctuation"
Backport of gh-8480

[2020-05-06 20:12] spring-issuemaster commented on #8497
Fixed via f8f4d960b5f056dd8d779fd6f9dec70a63da8dfb

[2020-05-06 20:12] #8497 closed

[2020-05-06 21:33] rwinch commented on #8453
@richardcs Thanks for looking into this See if this commit helps you https://github.com/spring-projects/spring-security/commit/4542f00b14ba6dc8bb8c1cf4365dc7dad5fe5a3c

[2020-05-06 21:49] rwinch commented on #7522
The sample is gone. Can you provide a sample?

[2020-05-06 22:06] jmisur opened #8498 "Hidden cost of password upgrade"
**Context**

So [DelegatingPasswordEncoder decided to upgrade password encoding](https://github.com/spring-projects/spring-security/issues/2778). This is arguably a reasonable decision, however it's not required every time and it has a hidden cost.

For example, if you have a simple http basic in-memory authentication for use between internal services, where password is stored in a secure cloud st

[2020-05-06 22:08] dratler commented on #7791
Hi @eleftherias ,
I think I have resolved the issue.
I have also fixed some test classes.

[2020-05-06 22:13] rwinch commented on #8484
Thanks for creating a ticket. Would you be interested in submitting a Pull Request?

[2020-05-06 22:38] rwinch opened #8499 "Update to spring-build-conventions:0.0.32.RELEASE"
Update to spring-build-conventions:0.0.32.RELEASE

[2020-05-06 22:39] #8499 closed

[2020-05-07 06:05] dlsrb6342 commented on #7522
https://github.com/dlsrb6342/spring-security-blockhound

I pushed example.
Please check `WithBlockHoundTest` and `WithoutBlockHoundTest`.
With BlockHound, all tests are failed.

[2020-05-07 13:14] jgrandja commented on #8485
@Ditscheridou

There is support for `form_post`. Have you had a chance to review the reference documentation? We ensured that all features are documented so please take a look there to see what features are available.

I'll point you to the relevant documentation to get you going:

- [ClientRegistration](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-client-

[2020-05-07 13:14] #8485 closed

[2020-05-07 14:07] dawi opened #8500 "Add support to publish and consume SAML metadata"
Currently it is not possible to publish and consume [SAML metadata](https://en.wikipedia.org/wiki/SAML_metadata).

This is stated in the documentation:

Are there any plans to support this feature anytime soon?

[2020-05-07 14:57] rwinch commented on #2129
The support has been published See https://docs.spring.io/spring-security/site/docs/5.3.x/reference/html5/#servlet-saml2

[2020-05-07 14:57] #2129 closed

[2020-05-07 19:39] eleftherias commented on #8459
@nenaraab This functionality is available as of Spring Security 5.3.
Check our [this section](https://docs.spring.io/spring-security/site/docs/5.3.2.RELEASE/reference/html5/#testing-oidc-login) of the reference documentation.

[2020-05-07 19:39] #8459 closed

[2020-05-07 19:55] eleftherias commented on #8500
@dawi Can you confirm whether this is a duplicate of gh-8484?

[2020-05-07 20:05] dawi commented on #8500
Oh really, this is indeed a duplicate of gh-8484. :) I haven't seen this ticket before.

[2020-05-07 20:05] #8500 closed

[2020-05-07 20:06] rwinch commented on #8401
Thanks for the ping @jebeaudet. I'm not sure if this is the proper place to solve the problem as there are lots of places accessing the `HttpSession`.

Remember that `SessionCreationPolicy.STATELESS` is only for how Spring Security authenticates. It cannot control every aspect of `HttpSession` since the `HttpSession` can be accessed outside of Spring Security.

I've updated Spring Security's confi

[2020-05-07 20:09] rwinch commented on #8459
@eleftherias This functionality is a little different given it is annotation based. We can leave this closed as a duplicate of the PR gh-8461 There is some discussion on that ticket as to why we are waiting on the issue.

[2020-05-07 21:15] ThomasVitale commented on #8326
@jgrandja I submitted a PR here: https://github.com/spring-projects/spring-security/pull/8501

[2020-05-07 21:31] jebeaudet commented on #8401
You're right that since `HttpSession` could be accessed through the code outside of Spring Security, it's hard to make a polished solution for this. With my custom `SessionRepositoryFilter` it would work since `WebUtils#getSessionId` uses `HttpServletRequest#getSession(false)` and my custom  code handles that case but it would publish an event with a `null` session ID which might not be accurate.

[2020-05-07 21:31] #8401 closed

[2020-05-08 01:31] imravichaudhary commented on #8484
@rwinch Sure I can definitely take a look whenever I get a chance. Though I haven't contributed to any open source projects so might have to read up Contribution guidelines for the project.

[2020-05-08 01:43] dlsrb6342 commented on #7522
@rwinch Please have a look my example.

[2020-05-08 11:34] sanintel3 opened #8502 "Resolved bearer token has no padding indicators"
**Describe the bug**
DefaultBearerTokenResolver.resolve is returning bearer token by ignoring padding indicators (=). Example of bearer token that's obtained from auth server is 'A66dXefVMHSGWBrUA5Iw='.
Due to this, auth server token validation request is failing with InvalidTokenException (as it's not able to load the resolved token (without = char) from it's database

**To Reproduce**
Obtain Opa

[2020-05-08 13:16] nenaraab commented on #8459
Hi @eleftherias

thanks a lot for the hint with the `oidcLogin` Mock MVC post processor!

Honestly i did not find it, when I looked for spring test utilities... but actually i was looking for a testing approach for methods that were secured with custom `@PreAuthorize` annotations and `@WithMockUser` didn't worked.

So, in my simple demo app i was able to leverage your suggested aproach, e.g.:

[co

[2020-05-08 14:30] rwinch opened #8505 "Document Upgrading Password Storage"
We should document how password storage can be automatically upgraded.

See gh-8498

[2020-05-08 14:32] rwinch opened #8506 "Document NoOpPasswordEncoder will not be removed"
While, `NoOpPasswordEncoder` is marked as deprecated we should clearly indicate that it is not going to be removed. Many of the other insecure PasswordEncoder implementations (i.e. [MessageDigestPasswordEncoder](https://docs.spring.io/spring-security/site/docs/5.3.x/api/org/springframework/security/crypto/password/MessageDigestPasswordEncoder.html)) have the following in the deprecation warning:

[2020-05-08 14:36] rwinch commented on #8498
Thanks for the report.

The password should only upgraded once since the underlying implementation is consulted if passwords should be upgraded or not. So it should not upgrade every time.

See the attached performance analysis breakdown, it's cost is overwhelming for a simple CRUD service.

I believe we did a good job on documenting the [performance impact of validating properly encoded passwords

[2020-05-08 21:44] #8493 closed

[2020-05-09 10:07] dadikovi commented on #7572
@rwinch Thank you for your answer, I will do that! :)

[2020-05-09 20:00] dadikovi commented on #7572
@rwinch I could manage to understand the problem here, @sandmannn 's comment https://github.com/spring-projects/spring-security/issues/7572#issuecomment-562968573 seems 100% accurate for me, but since the solution would need contribution in another spring project (which I would do happily) and I'm new here, I would appreciate your double-check.
I will provide further details in commit under the PR

[2020-05-10 10:44] satworkz opened #8509 "access authorization server from eureka"
**Expected Behavior**

I want to access auth server from eureka, something like below,
spring.security.oauth2.resourceserver.jwt.jwk-set-uri: **lb://auth-server**/.well-known/jwks.json

**Current Behavior**

currently I am using below hard coded configuration in spring cloud gateway to access auth server
spring.security.oauth2.resourceserver.jwt.jwk-set-uri: http://dev.eureka.com:9999/.well-known/

[2020-05-10 12:29] juergenzimmermann opened #8510 "Kotlin Extension Functions for ReactiveUserDetailsService"
Spring (WebFlux) has e.g. this extension function:

[code]

See https://github.com/spring-projects/spring-framework/blob/master/spring-webflux/src/main/kotlin/org/springframework/web/reactive/function/server/ServerResponseExtensions.kt#L62

According to the `...AndAwait` naming convention I propose these Kotlin extension functions for `ReactiveUserDetailsService`:

[code]

[2020-05-11 02:09] jgrandja commented on #8509
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2020-05-11 02:09] #8509 closed

[2020-05-11 12:44] eleftherias commented on #8459
@nenaraab Absolutely, that all makes sense to me.
It was my mistake to close this issue, as I was unaware of the discussion in gh-8461.
Please disregard my comment and continue the discussion on the PR gh-8461.

[2020-05-11 14:26] znurgl commented on #8389
Hi, I'd be happy to take this. First contribution. What shall I do? Do it and raise a PR?

[2020-05-11 17:42] philwebb commented on #8420
Any chance of changing that in a future release so we can link to `htmlsingle` and not get the redirect? AFAICT there are aren't many `/html5` paths in the other published Spring project Docs.

[2020-05-11 20:24] eleftherias commented on #8489
This feature was added via 07f8154a06629fce97c4b03ca2a6f5156962c4bd and reverted via d91b153cad23cf4b3551c3338a315f3ce97d52b6.

[2020-05-11 20:24] #8489 closed

[2020-05-11 20:40] eleftherias opened #8513 "Avoid using "/path/**/other" patterns in WebFlux PathPatternParser"
As of Spring Framework 5.3, "/path/**/other" patterns will be rejected and an exception will be thrown.
We should avoid using these types of patterns in our tests.
See: https://github.com/spring-projects/spring-framework/issues/24952

[2020-05-11 21:00] #8513 closed

[2020-05-11 22:24] #8149 closed

[2020-05-11 22:25] rwinch commented on #8149
Closed in favor of gh-8452

[2020-05-12 07:37] pszemus commented on #5887
I was trying to use `spring-security-cas` in my webflux application and I prepared a list of missing implementations:

| description | existing blocking implementation | missing reactive implementation |
| --- | ---  | --- |
| Entry point to commence authentication via the JA-SIG CAS on authentication exception | [`CasAuthenticationEntryPoint`](https://docs.spring.io/spring-security/site/docs/curr

[2020-05-12 07:39] martin-v opened #8514 "scopes_supported metadata should not be used as default in ClientRegistrations"
**Describe the bug**
The oauth2-client requests all available scopes on the authorization server by default. That includes also scopes for other clients.

`ClientRegistration.getScopes()` copies all `scopes_supported` from authorization server metadata into scope config for this client. So the oauth2-client requested on each authorization all of these scopes.

As [Keycloak has recently fixed a bug

[2020-05-12 10:28] krajcsovszkig-ms commented on #6881
Hi @jgrandja,

We are having a discussion about the design over on the PR, could you take a look and add your comments?

Thanks!

[2020-05-12 11:14] jmisur commented on #8498
Thank you, a better documentation will help a lot. This can be closed.

[2020-05-12 12:20] rwinch commented on #8484
Thanks @imravichaudhary! The issue is yours. Let us know if you have any questions

[2020-05-12 13:53] SpComb opened #9175 "Thread-unsafe usage of HttpServletResponse corrupting jetty HttpFields state in reactive ResponseBodyEmitter handlers"
**Affects:** 5.2.5.RELEASE

---

We have a Spring Web MVC + jetty application using SSE for notifications. We recently converted our SSE controller from returning a `SseEmitter` to returning a `Flux<ServerSentEvent<?>>`, whereupon we started seeing sporadic `NullPointerException`s from jetty `Response.setHeader` calls for something on the order of 0.02% of requests for these SSE endpoints:

[code]

[2020-05-12 14:03] #5758 closed

[2020-05-12 14:04] rwinch commented on #5758
I closed this in favor of gh-8504

[2020-05-12 14:33] jgrandja commented on #6881
Sure @krajcsovszkig-ms. I will get to it this week for sure.

[2020-05-12 14:37] rwinch commented on #7153
Closing in favor of gh-8450

[2020-05-12 14:37] #7153 closed

[2020-05-12 14:39] krajcsovszkig-ms commented on #6881
Great, thanks @jgrandja

[2020-05-12 15:28] rwinch commented on #7572
@dadikovi I don't think anything needs to be done outside of Spring Security. I believe if these changes are made to Spring Security's `FormLoginRequestBuilder` everything work work correctly:

[code]

Would you be interested in trying to verify this would work and if so putting a PR together based on this work?

[2020-05-12 15:46] rwinch commented on #8510
@juergenzimmermann I think the difference is Spring's WebClient is intended to be used in blocking applications to allow parallel execution. If you need blocking operations, you should use the UserDetailsService instead of ReactiveUserDetailsService. Can you clarify why you feel this is appropriate for ReactiveUserDetailsService?

[2020-05-12 15:59] rwinch commented on #7522
Thanks for the report. Spring Security [AbstractUserDetailsReactiveAuthenticationManager uses publishOn](https://github.com/spring-projects/spring-security/blob/5.3.2.RELEASE/core/src/main/java/org/springframework/security/authentication/AbstractUserDetailsReactiveAuthenticationManager.java#L102) `Schedulers.newParallel` before it [encodes the password](https://github.com/spring-projects/spring-se

[2020-05-12 16:06] bsideup commented on #7522
@rwinch `Schedulers.newParallel` will pass `true` to `rejectBlocking` of `ReactorThreadFactory`:
https://github.com/reactor/reactor-core/blob/a8022380f7d1eb9ef5bdcf0a9e0366d3dad534df/reactor-core/src/main/java/reactor/core/scheduler/Schedulers.java#L520-L524

Consider either using `newParallel(int parallelism, ThreadFactory threadFactory)` or `newBoundedElastic(Schedulers.DEFAULT_POOL_SIZE, queueS

[2020-05-12 16:09] rwinch commented on #7522
@bsideup Why does it do that? Is this actually broken? Do we need to change our behavior?

[2020-05-12 16:13] bsideup commented on #7522
Because `parallel` schedulers are considered for non-blocking stuff (given the very low number of threads).

BTW just realized that there is a 3rd option:
[code]

[2020-05-12 16:26] juergenzimmermann commented on #8510
@rwinch I'm having a reactive microservice, and therefore I'm using `ReactiveUserDetailsService`. Inside the business service I've to find out the roles of the user who was sending an HTTP request to the REST API.

[2020-05-12 16:30] rwinch commented on #8510
Sorry I just reread what was happening and realized it is using coroutines rather than blocking. Please ignore me :)

[2020-05-12 17:55] rwinch commented on #8128
@cbornet Are you still interested in submitting this?

[2020-05-12 18:05] rwinch commented on #7522
After speaking with @bsideup offline, we should be using `Schedulers.boundidElastic()` since there are some JDKs which use blocking operations.

[2020-05-12 18:07] #7522 closed

[2020-05-12 18:17] spring-issuemaster opened #8515 "Fix non-standard HTTP method for CsrfWebFilter"
Backport of gh-8452

[2020-05-12 18:17] spring-issuemaster commented on #8515
Fixed via 06a02ed4bb8ce12ca1cd48b473cae6000f62b474

[2020-05-12 18:17] #8515 closed

[2020-05-12 18:18] spring-issuemaster opened #8516 "Fix non-standard HTTP method for CsrfWebFilter"
Backport of gh-8452

[2020-05-12 18:18] spring-issuemaster commented on #8516
Fixed via bd936165672fe1f72391f8769d7dd651e57d0bc0

[2020-05-12 18:18] #8516 closed

[2020-05-12 18:21] spring-issuemaster opened #8517 "Fix non-standard HTTP method for CsrfWebFilter"
Backport of gh-8452

[2020-05-12 18:21] spring-issuemaster commented on #8517
Fixed via d9f57492d40fa7da2349e93d30b451382f0bc8bd

[2020-05-12 18:21] #8517 closed

[2020-05-12 18:22] spring-issuemaster opened #8518 "Fix non-standard HTTP method for CsrfWebFilter"
Backport of gh-8452

[2020-05-12 18:22] spring-issuemaster commented on #8518
Fixed via baa238e3396f92193903d0fb6f8b6f0dc5add7df

[2020-05-12 18:22] #8518 closed

[2020-05-12 18:23] spring-issuemaster opened #8519 "Blockhound fails on Webflux Security in Java 8,11 and 12, but not 13"
Backport of gh-7522

[2020-05-12 18:23] spring-issuemaster commented on #8519
Fixed via 0f13c5e44d5c036389d229883b27af3265439ead

[2020-05-12 18:23] #8519 closed

[2020-05-12 18:27] cbornet commented on #8128
Yes. Sorry I've been quite busy. I'll do it this week.

[2020-05-12 18:32] spring-issuemaster opened #8520 "AbstractUserDetailsReactiveAuthenticationManager should use Schedulers.boundidElastic()"
Backport of gh-7522

[2020-05-12 18:32] spring-issuemaster commented on #8520
Fixed via ce7c501f9c9d3b4e0e3f0a14a03bc00a58532f35

[2020-05-12 18:32] #8520 closed

[2020-05-12 20:23] dadikovi commented on #7572
@rwinch wow, it works! Thanks!
My suspicion is, that this expects that the merge method of parent will copy all of the headers, params and the URL from the FormLoginRequestBuilder instance.
Probably I'm overthinking it, but I found some places (eg. in MockMultipartHttpServletRequestBuilder) a check if the parent is instance of MockHttpServletRequestBuilder (this implementation does the necessary c

[2020-05-12 20:34] dadikovi commented on #7621
@igorpele do you still want to work on this issue? (I'm just asking because I'm looking for an issue to work, but I can find other one off course)

[2020-05-12 21:05] igorpele commented on #7621
@dadikovi as I got no response on this issue, you are welcome to take it.

[2020-05-13 01:18] jgrandja commented on #8514
Thanks for the report @martin-v.

I don't think this makes sense as the client won't request any scopes if the `scope` property is not configured.

This is actually not a workaround. We typically provide defaults, in order to reduce configuration, but also provide the option to override the default.

I'm going to close this as works as designed.

[2020-05-13 06:18] dlsrb6342 commented on #7522
@rwinch
Thank you for quick response.
Can I know when this changes is released?

[2020-05-13 08:49] martin-v commented on #8514
@jgrandja As in RFC 6749 The OAuth 2.0 Authorization Framework [Section-4.1.1 ](https://tools.ietf.org/html/rfc6749#section-4.1.1) mentioned `scope` is optional, so it is totally fine that client won't request any scopes.

Also in RFC 6749 in [Section 3.3. Access Token Scope](https://tools.ietf.org/html/rfc6749#section-3.3) it is descriped that in case an explicit `scope` isn't requested the autho

[2020-05-13 17:54] #8506 closed

[2020-05-13 17:55] spring-issuemaster opened #8521 "Document NoOpPasswordEncoder will not be removed"
Backport of gh-8506

[2020-05-13 17:55] spring-issuemaster commented on #8521
Fixed via d6f827c50db5664ab6bd6cf61802a80734fb8e0d

[2020-05-13 17:55] #8521 closed

[2020-05-13 17:56] spring-issuemaster opened #8522 "Document NoOpPasswordEncoder will not be removed"
Backport of gh-8506

[2020-05-13 17:56] spring-issuemaster commented on #8522
Fixed via e382c269efaf992b252c243d9b06f03c01c91dba

[2020-05-13 17:56] #8522 closed

[2020-05-13 17:56] spring-issuemaster opened #8523 "Document NoOpPasswordEncoder will not be removed"
Backport of gh-8506

[2020-05-13 17:56] spring-issuemaster commented on #8523
Fixed via faa02e8bc08e3515745b36017df68ec031eaacda

[2020-05-13 17:56] #8523 closed

[2020-05-13 17:57] spring-issuemaster opened #8524 "Document NoOpPasswordEncoder will not be removed"
Backport of gh-8506

[2020-05-13 17:57] spring-issuemaster commented on #8524
Fixed via e8daeacd89c25cf0d6b1cc54084ff4f9561d9e60

[2020-05-13 17:57] #8524 closed

[2020-05-13 17:57] spring-issuemaster opened #8525 "Document NoOpPasswordEncoder will not be removed"
Backport of gh-8506

[2020-05-13 17:57] spring-issuemaster commented on #8525
Fixed via a9c8b350b8c8e895cf0d8fea4246e05619b9ba16

[2020-05-13 17:57] #8525 closed

[2020-05-13 18:09] rwinch commented on #8420
@philwebb Is there something I'm missing here? It wouldn't think there would be so much push back on changing a link. Is this causing some problems that I'm missing?

The issue is that either change is a "breaking" change since one format was removed. Switching to htmlsingle will just cause those using html5 the same problem you are experiencing. We chose this approach because it is consistent wit

[2020-05-13 18:26] philwebb commented on #8420
I'm really just striving for consistency as much as possible across the portfolio. There's no technical reason that we can't link to `/html5` and it's not a massive deal if you don't change it. If you look at the older popular Spring projects, they mostly seem to have settled on `/html` or `/htmlsingle`, e.g:

https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/
https://docs.sprin

[2020-05-13 18:29] philwebb commented on #8420
Asking the same question the other way around, what am I missing? What's the reason to keep `/html5`?

[2020-05-13 18:59] rwinch commented on #8498
Closing in favor of the duplicate issues

[2020-05-13 18:59] #8498 closed

[2020-05-13 19:03] rwinch commented on #5887
Thanks. We still need a reactive CAS client. Is anyone aware of one? If not, could someone create a ticket w/ CAS?

[2020-05-13 21:42] rwinch commented on #7522
It will be released on June 3

FYI: You can click on any of the backported issues above and view the milestone and see when it is scheduled.

[2020-05-13 21:56] rwinch commented on #8420
I'd be open to changing this for 5.4 (our next minor release), but this means you will need to update links twice which seems like more work. If that works for you, I will schedule it for our 5.4.x release

[2020-05-13 21:58] philwebb commented on #8420
Sounds good, it's not a lot of work on our end. I'll open a Boot issue to remind us to migrate back.

[2020-05-13 22:14] rwinch commented on #8420
Thanks @philwebb! I guess I misunderstood the reasoning and was not figuring you wanted to switch twice.

I've schedule this for 5.4

[2020-05-14 10:34] LeoSong121 commented on #6908
Same prolem here

[2020-05-14 13:34] phisad commented on #5607
We also ran into a similar issue, when facing a http proxy to be configured.

First, we simply put the Spring Security 5.2.2.RELEASE modules spring-security-oauth2-resource-server and spring-security-oauth2-jose into the classpath to get the default configurations. (Spring Boot 2.2.5.RELEASE)

This lead to the following exception on startup, because the initial openid-configuration was not fetchab

[2020-05-14 13:48] spring-issuemaster opened #8526 "Fix AntPathRequestMatcher Javadoc"
Backport of gh-8512

[2020-05-14 13:48] spring-issuemaster commented on #8526
Fixed via 9e665388d2affd7c18d3413c1a5d78a89c7763bc

[2020-05-14 13:48] #8526 closed

[2020-05-14 14:06] spring-issuemaster opened #8527 "Fix AntPathRequestMatcher Javadoc"
Backport of gh-8512

[2020-05-14 14:06] spring-issuemaster commented on #8527
Fixed via 9f33ce312ab97d91c5cd33886606de82e9cb999a

[2020-05-14 14:06] #8527 closed

[2020-05-14 14:36] spring-issuemaster opened #8528 "Fix AntPathRequestMatcher Javadoc"
Backport of gh-8512

[2020-05-14 14:36] spring-issuemaster commented on #8528
Fixed via cea2b556d69a32fbc428209f145c300aca8d4c57

[2020-05-14 14:36] #8528 closed

[2020-05-14 14:58] spring-issuemaster opened #8529 "Fix AntPathRequestMatcher Javadoc"
Backport of gh-8512

[2020-05-14 14:58] spring-issuemaster commented on #8529
Fixed via 66f923dab74280e2d98e3d547356a620303eefea

[2020-05-14 14:58] #8529 closed

[2020-05-14 16:03] spring-issuemaster opened #8530 "Fix AntPathRequestMatcher Javadoc"
Backport of gh-8512

[2020-05-14 16:03] spring-issuemaster commented on #8530
Fixed via 3ae6cdf05f38c6dee5722844b9cf7b78248cc323

[2020-05-14 16:03] #8530 closed

[2020-05-14 18:46] rwinch opened #8531 "Build Hangs on RSocket Integration Tests"
NOTE: This appears to be caused by https://github.com/rsocket/rsocket-java/issues/846

The Jenkins build has started to hang. This may be related to https://github.com/reactor/reactor-core/issues/2152

Tne commit that fails is 9e665388d2affd7c18d3413c1a5d78a89c7763bc with OpenJDK12U-jdk_x64_linux_hotspot_12.0.2_10.tar.gz

I get this:

[code]

[2020-05-14 19:54] zeeshanadnan commented on #8034
Hi @eleftherias hope you are doing well in these tough times. If no one is working on this issue i would like to give it a try.

[2020-05-14 20:01] eleftherias commented on #8034
Thanks @zeeshanadnan! The issue is yours.

[2020-05-15 08:16] jmisur opened #8532 "Properly document DelegatingSecurityContextAsyncTaskExecutor"
**Expected Behavior**

MODE_INHERITABLETHREADLOCAL and DelegatingSecurityContextAsyncTaskExecutor should be properly documented next to each other.

**Current Behavior**

People are confused, programs have bugs: https://github.com/spring-projects/spring-security/issues/6856, https://github.com/spring-projects/spring-security/issues/3378, etc.. [stackoverflow](https://stackoverflow.com/search?q=MOD

[2020-05-15 10:27] d3minem opened #8533 "spring-security-custom-authenticationprovider-is-called-twice-and-fails"
I have a similar problem mentioned in this SO thread - [here](spring-security-custom-authenticationprovider-is-called-twice-and-fails).

I have tried both the recommended solution in above SO thread, but the problem still persist. When `CustomAuthProvider` fails with Bad credentials exception, the `ProviderManager` class is basically doing exception handling and it resend the call again to `Custom

[2020-05-15 13:14] rwinch commented on #8531
It also hangs with OpenJDK10U-jdk_x64_linux_hotspot_10.0.2_13.tar.gz

[2020-05-15 17:06] marci74 opened #8535 "Support customization of BearerTokenResolver in JwtIssuerAuthenticationManagerResolver"
**Expected Behavior**

It should be possible to set or customize the BearerTokenResolver inside the JwtIssuerAuthenticationManagerResolver

**Current Behavior**

The customization is not possible.

**Context**

I have to support multiple token issuers and bearer tokens in query parameters. I would like to use the new JwtIssuerAuthenticationManagerResolver but I cannot alter the "allowUriQueryParam

[2020-05-15 17:35] #8326 closed

[2020-05-15 18:21] rwinch commented on #8531
[code]

[2020-05-15 18:43] eleftherias commented on #8510
@juergenzimmermann
I don't think `getRolesAndAwait` and `getAuthoritiesAndAwait` belong as extensions of `ReactiveUserDetailsService`, for the same reason that `getRoles` and `getAuthorities` are not methods in `ReactiveUserDetailsService`.
Roles and authorities are part of `UserDetails` which is why the getters are in that class.

We can modify this issue to be specific to `findByUsernameAndAwait

[2020-05-15 19:00] juergenzimmermann commented on #8510
Yes, it will be equivalent to `findByUsername(username).awaitFirstOrNull()`.

[2020-05-15 19:27] jgrandja opened #8536 "authorization_code grant should use same ServerRequestCache"
`ServerHttpSecurity.OAuth2ClientSpec.configure()` registers `OAuth2AuthorizationRequestRedirectWebFilter` and `OAuth2AuthorizationCodeGrantWebFilter` for the `authorization_code` grant flow. However, these `WebFilter` 's do not share a `ServerRequestCache`.

We should apply the necessary changes so that the configured `ServerRequestCache` is used by both `WebFilter` 's.

Related #8120

[2020-05-16 04:41] parikshitdutta commented on #8536
Hi @jgrandja, can I look into it as well?

[2020-05-16 07:50] jgrandja commented on #8536
Thanks @parikshitdutta. The issue is yours.

[2020-05-16 09:15] justmehyp opened #8537 "Unused field in Md4PasswordEncoder"
It seems that the following line in `Md4PasswordEncoder` is redundant:

https://github.com/spring-projects/spring-security/blob/1e211b6558f558a465d3653c38cd5d46694226be/crypto/src/main/java/org/springframework/security/crypto/password/Md4PasswordEncoder.java#L86

[2020-05-16 09:29] samuelstein commented on #7537
thanks @rwinch. i can understand but google chrome is pushing hard to enforce this.

[2020-05-16 14:42] joshdcollins opened #8539 "OAuth2 Client - JdbcOAuth2AuthorizedClientService - Issue with PostgreSQL"
**Describe the bug**
I receive an exception from the Postgres driver due to type mismatches when using the default functionality of the JdbcOauth2AuthorizedClientService.

**To Reproduce**
1. Point Springboot to a Postgres database - in my case it is a 12.2 database using the driver 42.2.12.
2. Create the oauth2_authorized_client as per https://github.com/spring-projects/spring-security/commit/de8

[2020-05-16 20:15] RobMaskell commented on #4841
@rwinch just so I can stop looking, is that what the thymeleaf guys are waiting for before something like `<div data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">` will work in a webflux / spring security app?

[2020-05-17 17:30] pdeva opened #8541 "no 'addFilterBefore` in kotlin dsl"
**Expected Behavior**

there should be `addFilterBefore` method for http security kotlin dsl, for the equivalent of `http.addFilterBefore` method.

**Current Behavior**

only `addFilterAt` is present in the dsl, but not `addFilterBefore`

**Context**

i have this code, i want to convert to dsl, but i cannot due to lack of equivalent method

[code]

[2020-05-18 05:46] udayrajluhar commented on #5401
@spring-issuemaster @gpoissonnier @leon @michaelpigg @mengelbrecht Hi All, what is the plan for #5401 to be merged and available for use.

[2020-05-18 09:15] bratwurzt opened #8543 "Maven enforcer plugin throws convergence error for version 5.3.2.RELEASE"
[code]

[2020-05-18 15:42] rwinch commented on #8533
Please provide a complete and minimal project to reproduce the problem.

[2020-05-18 15:58] rwinch commented on #8532
Thanks for the report @jmisur Would you be interested in submitting a pull request?

[2020-05-18 16:04] #8128 closed

[2020-05-18 16:06] spring-issuemaster opened #8544 "Blocking in WebSessionServerCsrfTokenRepository"
Backport of gh-8128

[2020-05-18 16:06] spring-issuemaster commented on #8544
Fixed via b6efd5ba76391528ab030ee13ee297d6d7073ed2

[2020-05-18 16:06] #8544 closed

[2020-05-18 16:07] spring-issuemaster opened #8545 "Blocking in WebSessionServerCsrfTokenRepository"
Backport of gh-8128

[2020-05-18 16:07] spring-issuemaster commented on #8545
Fixed via 21c1d98f648bddea715e0485f58294ca295d36ed

[2020-05-18 16:07] #8545 closed

[2020-05-18 16:07] spring-issuemaster opened #8546 "Blocking in WebSessionServerCsrfTokenRepository"
Backport of gh-8128

[2020-05-18 16:07] spring-issuemaster commented on #8546
Fixed via c0154f2315a40e36b1c319b74c91a9953c9dfe34

[2020-05-18 16:07] #8546 closed

[2020-05-18 16:09] spring-issuemaster opened #8547 "Blocking in WebSessionServerCsrfTokenRepository"
Backport of gh-8128

[2020-05-18 16:09] spring-issuemaster commented on #8547
Fixed via e21ef422e799ff7b661b0e731df40ea717597803

[2020-05-18 16:09] #8547 closed

[2020-05-18 16:45] rwinch commented on #7537
Would someone be interested in submitting a pull request using [`ResponseCookie`](https://github.com/spring-projects/spring-security/issues/7537#issuecomment-598610784)?

[2020-05-18 16:53] rwinch commented on #4841
I'm not sure. The issue is that we need `Mono<Boolean>` in the spel expression. So if the return type is a `Mono`, then possibly. However, I'm not sure how it would help theymeleaf since Thymeleaf requires everything to be resolved before the template is rendered (nothing subscribes to the template).

[2020-05-18 17:28] islamazhar opened #8549 "Replacing MD5 hashing for remember me token"
**Expected Behavior**

To hash passwords and secret keys a secure hashing algorithm (e.g., SHA256) should be used.

**Current Behavior**

The current `Simple Hash-Based Token Approach` uses **MD5 hash digest** for hashing `password` and `secret-key` in `Remember-Me Authentication`.

Corresponding [Javadoc link](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#remember-me-h

[2020-05-18 17:29] rwinch commented on #8537
It is not clear to me what you mean. Can you provide more details?

[2020-05-18 18:19] RobMaskell commented on #4841
Thanks for the response @rwinch. I'm trying to trace what might be causing this error from a webflux / spring boot / spring security / okta / thymeleaf app using all the starters and autoconfig etc
`org.thymeleaf.exceptions.TemplateProcessingException: Authorization-oriented expressions (such as those in 'sec:authorize') are restricted in WebFlux applications due to a lack of support in the reacti

[2020-05-18 18:43] rwinch commented on #4841
@RobMaskell No that is a separate issue. Since WebFlux uses Java Configuration it doesn't really do much with SpEL (typically a lambda can be used instead). Please create a ticket for SpEL authorization support in Reactive security and link to your comment.

[2020-05-18 19:06] RobMaskell commented on #4841
@rwinch is it covered by this one https://github.com/spring-projects/spring-security/issues/5867 before I create a new ticket?

[2020-05-18 20:05] d3minem commented on #8533
@rwinch - I was trying to setup the example for you to look at it. But for some reason, not able to reproduce this issue now. When the `BadCredentialsException` is thrown, it attempt for twice and then call the `onUnsuccessfulAuthentication` method. Previously, it was calling the below line:

``` result = parentResult = this.parent.authenticate(authentication);```

in the `ProvideManager`. Some ho

[2020-05-18 22:28] hablutzel1 commented on #4498
Note that the spec has became the standard RFC 8705, "OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens".

In the other hand, there are already some open source implementations like the one from IdentityServer4 (see  https://github.com/IdentityServer/IdentityServer4/tree/master/samples/Clients/src/ConsoleMTLSClient).

[2020-05-18 22:29] jzheaux commented on #8492
Thanks, @eleftherias, this commit looks good. The information in the exception is now in the `Saml2Exception` `cause`.

[2020-05-18 22:29] #8492 closed

[2020-05-18 22:37] jzheaux opened #8551 "Move TestRelyingPartyRegistrations"
`TestRelyingPartyRegistrations` is in `spring-security-config`, but it ought to be in the same package as `RelyingPartyRegistration` in `saml2-service-provider`.

[2020-05-18 22:42] jzheaux opened #8552 "Saml2WebSsoAuthenticationRequesFilter should be post-processed"
It should be possible to use an `ObjectPostProcessor` to post-process the configuration of `Saml2WebSsoAuthenticationRequestFilter`.

Otherwise, there is no clear way to configure its `RequestMatcher` or its `Saml2AuthenticationRequestContextResolver` other than to bypass `saml2Login` on the DSL and instantiate the filter itself.

For additional context, note that `OAuth2LoginConfigurer` post-proc

[2020-05-19 01:06] justmehyp commented on #8537
@rwinch    Sorry that I didn't make it clear at one time. When I read the source code of class `org.springframework.security.crypto.password.Md4PasswordEncoder`, I guessed that it was implemented by `org.springframework.security.crypto.password.Digester`, but I found that `private Digester digester;` was defined in class `Md4PasswordEncoder`, but it was never used. So I think this line of code is

[2020-05-19 03:08] #8551 closed

[2020-05-19 03:08] #8552 closed

[2020-05-19 04:38] justmehyp commented on #8537
This is my PR related to this issue:   [https://github.com/spring-projects/spring-security/pull/8553](https://github.com/spring-projects/spring-security/pull/8553)

[2020-05-19 14:20] eleftherias commented on #8541
Thanks for the report @pdeva.

This was already brought up and fixed in gh-8316.
This functionality is available in version 5.4.0-M1 and will be available in GA releases starting with 5.4.0.

[2020-05-19 14:20] #8541 closed

[2020-05-19 18:26] jzheaux opened #8554 "XML OpenID sample should POST to logout"
**Describe the bug**

Currently [the XML OpenID sample](https://github.com/spring-projects/spring-security/tree/master/samples/xml/openid) uses `GET /logout`, which doesn't work since the `DefaultLogoutPageGeneratingFilter` is skipped for OpenID.

**To Reproduce**

Start up the OpenID sample, navigate to `http://localhost:8080`, specify an OpenID provider to log in with, and then click Logout. The

[2020-05-19 18:31] jzheaux opened #8555 "Java Config hellojs Sample Login Fails"
**Describe the bug**

When attempting to log in to the Java Config `hellojs` sample, it fails with a message:

[code]

**To Reproduce**

Start the JavaConfig `hellojs` sample and attempt a login of `user/password`.

[2020-05-19 18:34] jzheaux opened #8556 "Message Compose in JavaConfig hellojs Sample Fails"
**Describe the bug**

When attempting to compose a message in the Java Config `hellojs` sample, there is a JavaScript error.

**To Reproduce**

Start the JavaConfig `hellojs` sample and log in with `user/password`, click "Compose", fill in the message details and click "Create". The message will get created, but the JavaScript success response will error out.

[2020-05-19 18:35] jzheaux opened #8557 "Update to JQuery 3.5.1"
The `javaconfig/hellojs` and `xml/openid` samples use outdated versions of jQuery.

[2020-05-19 18:44] jgrandja commented on #8543
@bratwurzt Please provide more details and a minimal sample or test that reproduces the error.

[2020-05-19 18:44] #7621 closed

[2020-05-19 18:45] spring-issuemaster opened #8558 "Object ID Identicy conversion to long fails on old schema"
Backport of gh-7621

[2020-05-19 18:45] spring-issuemaster commented on #8558
Fixed via 8399375a8631c806b5ef8ccd795ed6b07e61b80f

[2020-05-19 18:45] #8558 closed

[2020-05-19 19:00] spring-issuemaster opened #8559 "Object ID Identicy conversion to long fails on old schema"
Backport of gh-7621

[2020-05-19 19:00] spring-issuemaster commented on #8559
Fixed via eaaee899fcd367d42128c8cb1b3a4129e8b8ac74

[2020-05-19 19:00] #8559 closed

[2020-05-19 19:02] #8554 closed

[2020-05-19 19:02] #8555 closed

[2020-05-19 19:02] #8556 closed

[2020-05-19 19:02] #8557 closed

[2020-05-19 19:22] jgrandja commented on #8539
@joshdcollins Is the `BYTEA` specific to PostgreSQL? This is the first time I've heard of this datatype.

FYI, it is very difficult to provide an implementation that works out of the box for all databases. This implementation strives to use standard sql datatypes and is a simplified JDBC implementation. However, it is designed to be customizable so user's can provide customizations for database ve

[2020-05-19 20:03] m-aigner opened #8560 "BindAuthenticator's attribute-related functionality should be better documented (designed?)"
This is really long, but you can stop after the "what I want you to do" section if you want; I figured after doing the work I did I might as well write down all I learned somewhere.

I'll be glad to provide Java code if the explanations become unclear at any point.

**What I wanted to do**
I've got an LDAP server where some of the user nodes' attributes are readable by the anonymous user but some

[2020-05-19 21:49] sgilson opened #8562 "Typo in title of SAML2 Sample Readme"
The title of the file samples/boot/saml2login/README.adoc is currently "OAuth 2.0 Login Sample". It should be "SAML 2.0 Login Sample".

[2020-05-20 06:43] dinsceg opened #8563 "Unable to convert claim 'iss' of type 'class java.lang.String' to URL"
I am having string value in iss claim but spring security is expecting iss value as URL.. Is it possible to change something to accept string value instead of URL while validating idtoken in spring security.

[2020-05-20 08:09] gcorsaro commented on #2316
I was better looking to this issue and I think it's misleading. it should be considered as a bug, not enhancement. As showed in my ticket #8427 the issue regards also **mutable** lists. This means that currently it's not possible to use the postfilter on any collection. Changing the scope of this ticket could give different prioritization to this ticket I think.

[2020-05-20 09:03] jvalkeal opened #8564 "Build should use fixed versions for nimbusds"
I'm trying to do a custom build of a Spring Cloud Dataflow which itself have dependencies to Spring Security Oauth2 packages. I'm ending up a dependency issues with both maven and gradle builds for `com.nimbusds:nimbus-jose-jwt`.

Here's maven dep tree from two different projects:
[code]

I think this is caused by using `latest.release` trick with gradle build:
https://github.com/spring-projects/s

[2020-05-20 13:08] spring-issuemaster opened #8565 "Fix Kotlin Sample Documentation"
Backport of gh-8540

[2020-05-20 13:09] rwinch commented on #8565
Fixed via 5eeeac8e513f3152aee139db5ebf637d1df83f10

[2020-05-20 13:09] #8565 closed

[2020-05-20 15:11] rwinch opened #8566 "FilterInvocation Support Default Methods on HttpServletRequest"
`FilterInvocation` creates a dummy `HttpServletRequest` to allow creating dummy `HttpServletRequest` instances. The DummyRequest should support invoking default methods to support https://github.com/spring-projects/spring-framework/issues/25100

Without these changes we will see stack traces that look similar to:

[code]

[2020-05-20 15:26] #8566 closed

[2020-05-20 21:49] jzheaux commented on #8564
@jvalkeal, I believe this is related to an issue in Nimbus: https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/261/please-dont-use-version-ranges-in-library - the constraint matching is because of how Nimbus was publishing their binaries.

Additionally, Spring Security didn't add version ranges until 5.3, so I'm thinking that it's probably due to how Nimbus was re

[2020-05-21 06:57] jvalkeal commented on #8564
I didn't try spring security 5.3.2 but looking actual poms, there's a same issue.
[code]
[spring-security-oauth2-client-5.3.2.RELEASE.pom](https://repo.maven.apache.org/maven2/org/springframework/security/spring-security-oauth2-client/5.3.2.RELEASE/spring-security-oauth2-client-5.3.2.RELEASE.pom)
[spring-security-oauth2-jose-5.3.2.RELEASE.pom](https://repo.maven.apache.org/maven2/org/springframewo

[2020-05-21 07:26] jvalkeal commented on #8564
But you're right about spring security 5.2.4 as nimbus versions pulled in from there indeed have version ranges in their poms. Looks like they removed those ranges from latest versions.

[2020-05-21 08:39] robert-parr opened #8567 "Allow WebClientReactiveClientCredentialsTokenResponseClient to be extended to customise the request body"
I am using the spring security oauth client to request and cache an oauth2 token for machine to machine authentication.

When I request the oauth token I have to specify an 'audience' attribute in the request body, but the WebClientReactiveClientCredentialsTokenResponseClient doesn't support custom parameters, so I am unable to use it.  WebClientReactiveClientCredentialsTokenResponseClient is diff

[2020-05-21 12:26] netbeansuser2019 opened #8568 "Login success handler should be called in proper context"
Login success handler should be called in proper context
Describe the bug
If it is called login success handler it is not ensured RequestContextHolder so
exception could be called if there is any bean that it is using it.
java.lang.IllegalStateException: No thread-bound request found: Are you referring to request attributes outside of an actual web request, or processing a request outside of the o

[2020-05-21 12:27] netbeansuser2019 commented on #8568
Reply to comment to @rwinch #8419 cite:
"You need to ensure you have RequestContextFilter setup before Spring Security is invoked in order to use RequestContextHolder."
It seems that you do not understand a prior issue so I have open new one to be really and properly investigated.
I am addressing :
org.springframework.security.config.annotation.web.configuration.WebSecurityConfigurerAdapter.config

[2020-05-21 13:04] netbeansuser2019 commented on #8568
Ref #8449 rwinch comment
...please provide a complete and minimal sample...

Sorry to say but if you want help you find a way if you don't you try to find obstacles.

So navigate to https://start.spring.io/
and select

Gradle Project
Language Java
Spring Boot 2.2.7
Packaging Jar
Java 11
Dependencies Spring Web

And put into:

@Component
public class MyAppBeans implements org.springframework.contex

[2020-05-21 13:06] netbeansuser2019 commented on #8568
And such MyBean in example it could outside of one project or even 3rdparty source or even several level so one bean call other bean ... so

[2020-05-21 13:19] eleftherias commented on #8563
Thanks for getting in touch, it looks like you have posted [this question](https://stackoverflow.com/questions/61906629/spring-oidc-getting-unable-to-convert-claim-iss-of-type-class-java-lang-str) on StackOverflow, so let's continue the discussion there.
As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-iss

[2020-05-21 13:19] #8563 closed

[2020-05-21 15:05] #5401 closed

[2020-05-21 15:07] spring-issuemaster opened #8569 "ACL : AclImpl.hashCode leads to StackOverflowError"
Backport of gh-5401

[2020-05-21 15:07] spring-issuemaster commented on #8569
Fixed via 892f2f8843b176a57b95ba6e34c96132f9e9b02a

[2020-05-21 15:07] #8569 closed

[2020-05-21 15:08] spring-issuemaster opened #8570 "ACL : AclImpl.hashCode leads to StackOverflowError"
Backport of gh-5401

[2020-05-21 15:08] spring-issuemaster commented on #8570
Fixed via 279ddbe2239fe60694cb2a9465df544feabc906c

[2020-05-21 15:08] #8570 closed

[2020-05-21 15:09] spring-issuemaster opened #8571 "ACL : AclImpl.hashCode leads to StackOverflowError"
Backport of gh-5401

[2020-05-21 15:09] spring-issuemaster commented on #8571
Fixed via 8bb4e72aff20008f7bcf99266fecc7f01826e518

[2020-05-21 15:09] #8571 closed

[2020-05-21 15:09] spring-issuemaster opened #8572 "ACL : AclImpl.hashCode leads to StackOverflowError"
Backport of gh-5401

[2020-05-21 15:09] spring-issuemaster commented on #8572
Fixed via a39efaf883d7a8c0f65d2fef2a6b82337e7d1493

[2020-05-21 15:09] #8572 closed

[2020-05-21 15:12] rwinch commented on #5401
Thanks for the ping @udayrajluhar This is now merged into master and backported through 5.0.x See the list of issues above for details

[2020-05-21 15:55] rwinch commented on #8549
Thanks for creating this issue.

In modern applications, I'd recommend using [Spring Session's Remember Me](https://docs.spring.io/spring-session/docs/current/reference/html5/#spring-security-rememberme) support which allows you to easily offload the session into a data store without the need for cryptography.

I do agree that MD5 is not a good choice. Would you like to provide a pull request that

[2020-05-21 15:59] rwinch commented on #4841
You are right this is the same issue. I had totally forgotten about it. Would you be interested in submitting a PR for the issue?

[2020-05-21 16:05] rwinch commented on #8533
Thanks for the response. I'm going to close this. If you end up getting a complete/minimal sample to reproduce, please feel free to create a new ticket with the sample.

[2020-05-21 16:05] #8533 closed

[2020-05-21 16:10] spring-issuemaster opened #8573 "Polish JDBC Authentication documentation"
Backport of gh-8550

[2020-05-21 16:10] spring-issuemaster commented on #8573
Fixed via c1f737c842338d4c83223caa47a7e10606fef541

[2020-05-21 16:10] #8573 closed

[2020-05-21 16:16] spring-issuemaster opened #8574 "Security issue: mentioning the default strength of `BCryptPasswordEncoder`"
Backport of gh-8542

[2020-05-21 16:16] spring-issuemaster commented on #8574
Fixed via e1f01c6d7722d9c20ea2baa3013496939c74c30c

[2020-05-21 16:16] #8574 closed

[2020-05-21 16:20] rwinch commented on #8537
Thanks for the PR! I'm closing this a duplicate of the PR

[2020-05-21 16:20] #8537 closed

[2020-05-21 16:20] spring-issuemaster opened #8575 "Remove unused field 'digester' in Md4PasswordEncoder"
Backport of gh-8553

[2020-05-21 16:20] spring-issuemaster commented on #8575
Fixed via 5bcfaaf94df0df460e0785b0e7c55f41a4a0429e

[2020-05-21 16:20] #8575 closed

[2020-05-21 16:21] spring-issuemaster opened #8576 "Remove unused field 'digester' in Md4PasswordEncoder"
Backport of gh-8553

[2020-05-21 16:21] spring-issuemaster commented on #8576
Fixed via 774ea6980b130ea428ce47b969df087f0d92e4aa

[2020-05-21 16:21] #8576 closed

[2020-05-21 16:21] spring-issuemaster opened #8577 "Remove unused field 'digester' in Md4PasswordEncoder"
Backport of gh-8553

[2020-05-21 16:21] spring-issuemaster commented on #8577
Fixed via f05d70a4a5de50334edf5ae4689f24633bef7ca2

[2020-05-21 16:21] #8577 closed

[2020-05-21 16:22] spring-issuemaster opened #8578 "Remove unused field 'digester' in Md4PasswordEncoder"
Backport of gh-8553

[2020-05-21 16:22] spring-issuemaster commented on #8578
Fixed via ba81f6a06a144d4f60ec1cf42519af84a5f3f689

[2020-05-21 16:22] #8578 closed

[2020-05-21 16:53] rwinch commented on #8562
Thanks for the report. I saw you sent a pull request at https://github.com/spring-projects/spring-security/pull/8561 but you delete the branch. Any particular reason you did that? Would you be interested in submitting a pull request?

[2020-05-21 17:01] jzheaux commented on #8502
@vpavic can you confirm whether or not it was intentional to leave the `=` signs out of the regex?

It appears that `=` is part of [the definition](https://tools.ietf.org/html/rfc6750#section-2.1):

[code]

[2020-05-21 17:28] sgilson commented on #8562
Hi @rwinch , thanks for the response. After I submitted the PR, I realized I wasn't in a position to sign the Contributor License Agreement quite yet. I wasn't exactly sure what the right course of action was.

[2020-05-21 17:56] jgrandja commented on #8567
@robert-parr Can you please provide the version you are using?

Have you considered providing a customized `WebClient` via `WebClientReactiveClientCredentialsTokenResponseClient.setWebClient()` that is composed of an `ExchangeFilterFunction` using `ExchangeFilterFunction.ofRequestProcessor()`? This would give you full control on modifying the outgoing `ClientRequest`.

[2020-05-21 20:06] ComputerSciencePro commented on #7379
@jgrandja some authorization servers like Auth0 require "audience" in the request body, if it is not there it returns "Non-global clients are not allowed access to APIv1" failure message.  https://medium.com/@svkristof_86488/non-global-clients-are-not-allowed-access-to-apiv1-88877f1e855b

The work around I did was to put property for each audience, all of them have the same key value except the la

[2020-05-21 21:32] rwinch commented on #8568
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-05-21 21:32] #8568 closed

[2020-05-21 21:41] Gittenburg commented on #6374
Would simply saving the serialized `OAuth2AuthorizationRequest` to a cookie and deserializing it on load be save? Or does allowing tampering with the `AuthorizationRequestRepository` introduce security issues?

[2020-05-21 22:09] #8144 closed

[2020-05-21 22:11] rwinch commented on #8144
Marking as duplicate of the PR

[2020-05-21 22:16] rwinch commented on #8562
Thanks for the fast response. Please feel free to resubmit and indicate it as an obvious fix using `@pivotal-issuemaster This is an Obvious Fix` That will make the bot happy.

[2020-05-21 22:55] RobMaskell commented on #5867
@rwinch I'm happy to have a go but if you have any more pointers that would helpful? I'll look at basic SpEL but I like the `AuthorizationDecision` being declarative, being able define those up front and use them from SpEL in a Thymeleaf template sounds interesting if it is even possible?

[2020-05-22 02:10] sgilson commented on #8562
Terrific. Reopened at #8581

[2020-05-22 03:38] islamazhar opened #8582 "Preventing DoS attack in oAuth 2.0 with a valid access token"
**Expected Behavior**

Placing a limit on  the  number of requests a user can make using a `valid access token` to  `resource server` in `OAuth 2.0`

**Current Behavior**

I am considering the following attack scenario in OAuth 2.0 context (a slightly more complex attack scenario than mentioned on [RFC-6819 OAuth 2.0 Threat Model and Security Considerations -Section 4.4.1.12.  Threat: DoS Using Ma

[2020-05-22 07:36] tobske commented on #6557
Just in case someone needs it: Link to docs about MockMvc support for JWT has moved to [here](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#testing-jwt).

[2020-05-22 07:58] bratwurzt commented on #8543
sorry, notifications were muted. Will prepare one next week ASAP.

[2020-05-22 08:00] jgrandja commented on #8543
#8564 may be related

[2020-05-22 10:39] sheiy commented on #4841
Three years, no one to support this feature?

[2020-05-22 15:55] rwinch commented on #2316
It works fine with collections that allow for changing the size. For example, `LinkedList` and `ArrayList` work just fine. There are tests to back this up.

[2020-05-22 19:11] jzheaux commented on #8582
Thanks for all the detail, @islamazhar. No, Spring Security doesn't ship with support for rate limiting, though there is an open ticket for it if you are interested in contributing: #3802

Since I think that addresses your question, I'll close this, but feel free to add more detail if I've misunderstood.

[2020-05-22 19:12] #8582 closed

[2020-05-22 22:20] jzheaux commented on #8535
Thanks for the report, @marci74. I think what needs to be done here is to remove the dependency on the bearer token resolver altogether.

Since the resolver can return an `AuthenticationManager`, it could return one that retrieves the token from the given authentication, e.g.:

[code]

Something similar can be done on the reactive side as well.

Would you be interested in filing a PR to address th

[2020-05-22 23:17] joshdcollins commented on #8539
Thanks @jgrandja I'm in alignment with closing and supporting as-is

[2020-05-22 23:17] #8539 closed

[2020-05-23 01:29] rwinch commented on #8560
Thanks for the excellent and well thought out feedback. Could you create multiple tickets for each item? This will allow things to move more quickly. For example, I think the documentation updates will be pretty easy to get in. We can then try to figure out if any behavior changes need to be made and what they are.

[2020-05-23 04:48] mengelbrecht opened #8585 "Fix typos in BCryptPasswordEncoder documentation"

[2020-05-23 08:07] parikshitdutta commented on #8536
Hi @jgrandja, regret taking more time, super cyclone massacred our place. Anyways, please have a look at PR #8587. I will look forward to your feedback.

Thank you.

[2020-05-24 04:25] jzheaux commented on #3802
Maybe what ought to be done here is what's been done with other large features. Could someone put together a minimal sample that uses a library like [Bucket4j](https://github.com/vladimir-bukhtoyarov/bucket4j) and integrates it into Spring Security with a custom filter? It might give everyone something to look at.

[2020-05-24 10:19] Budlee commented on #5607
One point here is that as the resource server can now support multiple tennants you may not want to use the same Rest Template for each issuer. You may have different setups for each one (different proxies, different security commections).
I have found an issue with this in the JwtDecoderProviderConfigurationUtils.
the RestTemplate not being exposed is a problem.

I have made a draft PR to open it

[2020-05-24 10:54] Budlee opened #8589 "Add logging"
**Expected Behavior**

The Jwt Validators that are provided on the oauth jose package have no logging in them when they fail. It makes it hard when debugging to understand when a Jwt Token has failed and for what reason.
I'm not sure if this is on purpose for security reasons to not log the failure

**Current Behavior**

No loggin in the default JWT Validators

**Context**

This has slowed down de

[2020-05-25 07:50] m-aigner commented on #8560
Hm, yeah, there are definitely multiple issues here. (You're very welcome, by the way.) Here's what I'd do:

1. Issue for documenting how fetching attributes with `BindAuthenticator` works
2. Issue for documenting how `BindAuthenticator.setUserSearch` works (in particular, what bits of the search are ignored)
3. Issue for debating whether changing how `BindAuthenticator` fetches attributes is wort

[2020-05-25 09:17] drenda commented on #4003
I think it's a good feature request. Has anyone considered this request?

[2020-05-25 11:00] jgrandja commented on #8536
I'm really sorry to hear this @parikshitdutta. I hope you and your family are ok? There is no rush for this feature as it's scheduled for 5.4, which is being released early Sep. I will review later this week. Take care  of yourself and family.

[2020-05-25 15:51] aswinmahendiran commented on #8549
Hello @islamazhar thanks for raising this issue.

Hello @rwinch I have raised the PR for the fix. I have updated the tests as well. Please check the PR (#8591).

This is my first PR in any Open Source project. Happy to start my journey in the security field I love the most!!

[2020-05-25 16:10] eleftherias opened #8592 "Use String to specify custom HTTP method in mock request"
In Spring Framework 5.2.7, `MockServerHttpRequest` will accept a custom HTTP method as a `String` parameter.
Going forward we should use
[code]
when testing a request with a custom HTTP method.

The test `matchesRequireCsrfProtectionWhenNonStandardHTTPMethodIsUsed` will need to be updated.

Reference: https://github.com/spring-projects/spring-framework/issues/25109

[2020-05-25 18:10] parikshitdutta commented on #8536
Hi @jgrandja, We are blessed to be safe and secure, but it has devastated our place. Things are getting back to normal. Thanks for asking and caring for us.

I will look forward to your feedback as you finish reviewing changes. On a separate note, is there a way, I can get used to the release calendar and planned features for forthcoming releases?

[2020-05-26 03:37] donhuvy opened #8593 "Broken link in Spring Security reference document"
**Describe the bug**
Broken link in Spring Security reference document.

**To Reproduce**
Go to https://docs.spring.io/spring-security/site/docs/5.3.2.RELEASE/reference/html5/#websocket

Presss broken link:
https://github.com/spring-projects/spring-session/tree/master/samples/boot/websocket

**Expected behavior**
The content is correct.

**Sample**
(No existing)

[2020-05-26 04:16] christian1607 commented on #4003
It would be great, there would be no need to create role combined annotations like @IsAdminAndUSer

[2020-05-26 08:49] lathspell commented on #6764
If I understand correctly the `JwtAuthenticationProvider.authenticate()` does it all correctly as it distinguishes between throwing an `InvalidBearerTokenException` for client errors and `AuthenticationServiceException` for infrastructure problems.

It's the `BearerTokenAuthenticationFilter.doFilterInternal()` that catches only the superclass `AuthenticationException` and logs it with DEBUG level.

[2020-05-26 14:14] eleftherias opened #8594 "Mock request with non-standard HTTP method in test"
Our build is failing when running against the latest Spring Framework snapshot.
The test `matchesRequireCsrfProtectionWhenNonStandardHTTPMethodIsUsed` is failing, because Spring Framework 5.2.7 will no longer allow a `null` HTTP method.
Instead, it provides a method to set a custom HTTP method as a `String`.

That method is not available in versions prior to 5.2.7, so we cannot use it yet.
In orde

[2020-05-26 14:28] #8594 closed

[2020-05-26 15:45] spring-issuemaster opened #8595 "Mock request with non-standard HTTP method in test"
Backport of gh-8594

[2020-05-26 15:45] spring-issuemaster commented on #8595
Fixed via a6dd119266d68f71d820e5024a2057bb8d17745b

[2020-05-26 15:45] #8595 closed

[2020-05-26 16:58] jgrandja commented on #8536
Hey @parikshitdutta - you can see the scheduled releases [here](https://github.com/spring-projects/spring-security/milestones).

I'm glad to hear things are getting back to normal. I wish you and your family luck.

[2020-05-26 19:31] dante-ricalde opened #8596 "BeanCurrentlyInCreationException when used spring security with spring boot 2.3.0.RELEASE and spring.main.lazy-initialization: true and management.server.port"
**Describe the bug**
I get the following error:

Caused by: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'authenticationPrincipalArgumentResolverConfigurer': Requested bean is currently in creation: Is there an unresolvable circular reference?

When I start a minimal spring boot application with spring-security added as dependency and
the follow

[2020-05-26 19:56] spring-issuemaster opened #8597 "Mock request with non-standard HTTP method in test"
Backport of gh-8594

[2020-05-26 19:56] spring-issuemaster commented on #8597
Fixed via 2ebbb6f80a61ca8105a1957082c02301b9fe8aa0

[2020-05-26 19:56] #8597 closed

[2020-05-26 20:19] foo4u commented on #7564
This is a major problem and no one must be using this in production with just Spring Security provided code. The problem is `InMemoryReactiveOAuth2AuthorizedClientService` is the only provided `ReactiveOAuth2AuthorizedClientService`.

I'm going to write one for Redis since this is blocking us as well.

[2020-05-26 21:04] iilkevych commented on #7884
@jgrandja

The problem is not in `authorization_code`. 'AuthenticationWebFilter' has 'authenticationFailureHandler' to handle invalid authentication('authorization_code'). 'OidcAuthorizationCodeReactiveAuthenticationManager' throws 'OAuth2AuthenticationException' which is AuthenticationException and browser is redirected to '/login?failed'

The problem is in
1. 'ServerOAuth2AuthorizationCodeAuthen

[2020-05-27 03:04] yugiking opened #8598 "webclient request return error "tokenType cannot be null""
hi,
I have the similar issue as
https://github.com/spring-projects/spring-security/issues/5983#issuecomment-430620308.

 I am following https://github.com/jgrandja/spring-security-oauth-5-2-migrate/blob/master/client-app/src/main/java/org/springframework/security/oauth/samples/config/WebClientConfig.java to create a webclient with oauth2 config, and use this webclient to request an resource(client

[2020-05-27 04:12] yugiking commented on #8598
Checked the code it should be the reason,  it require the response token_type must be "Bearer", or else it will return a null token type. why it so strict here? any way I can bypass this? just try the https://github.com/jgrandja/oauth2login-demo/tree/linkedin but now work for me.

[2020-05-27 08:29] aotrzonsek opened #8599 "Missing Reactive SwitchUserWebFilter for user impersonation"
**Expected Behavior**

Add the possibility to impersonate a user in Reactive applications as it is possible by using the SwitchUserFilter.

**Current Behavior**

It is not possible to switch the user context, at least I couldn't find anything equivalent.

**Context**

It’s a common use-case that some admin users should be able to log in as any other user.
In our applications we have used this feat

[2020-05-27 10:18] jgrandja commented on #7564
@zhaojunjie163

It seems you are referring to [Spring Security OAuth ](https://spring.io/projects/spring-security-oauth), as [scopedTarget.oauth2ClientContext](https://github.com/spring-projects/spring-security-oauth/blob/c2763adb7202e01d9e87ad9b12cb3692a422caf4/spring-security-oauth2/src/main/java/org/springframework/security/oauth2/config/annotation/web/configuration/OAuth2ClientConfiguration.ja

[2020-05-27 10:18] #7564 closed

[2020-05-27 10:22] jgrandja commented on #7564
@foo4u Please see #7889

Instead of configuring `InMemoryReactiveOAuth2AuthorizedClientService` use `WebSessionServerOAuth2AuthorizedClientRepository` along along with Spring Session backed by Redis. That should work.

[2020-05-27 12:41] rwinch commented on #6374
We would not want to perform Java serialization/deserialization as that can lead to a lot of different types of attacks. The cookie would need to be written as a String that did not allow attackers to control the Java objects that were being created.

[2020-05-27 12:47] rwinch commented on #5867
@RobMaskell I think that is the problem. We don't know the expressions ahead of time and they would need to be evaluated eagerly.

I think from the security side, the first thing we would need to do is support a SpEL implementation of `ReactiveAuthorizationManager`. This could probably help on the method security side as well.

This would at least empower Thymeleaf to be able to enhance things on

[2020-05-27 12:51] Gittenburg commented on #6374
Alright, is there a need to encrypt or sign the cookie?

[2020-05-27 12:51] rwinch commented on #8562
Closing in favour of gh-8581

[2020-05-27 12:51] #8562 closed

[2020-05-27 12:57] spring-issuemaster opened #8600 "Fixing typo in SAML 2.0 Sample README"
Backport of gh-8581

[2020-05-27 12:57] spring-issuemaster commented on #8600
Fixed via 30736184ca88302055e02b368e96b9e0c796e612

[2020-05-27 12:57] #8600 closed

[2020-05-27 15:35] #8585 closed

[2020-05-27 15:37] rwinch commented on #8585
Marking as duplicate of gh-8586

[2020-05-27 15:38] spring-issuemaster opened #8601 "Fix typos in BCryptPasswordEncoder documentation"
Backport of gh-8586

[2020-05-27 15:38] spring-issuemaster commented on #8601
Fixed via 258bd8fa098c62706c1c92c16de57aa6acfe1f69

[2020-05-27 15:38] #8601 closed

[2020-05-27 15:40] rwinch commented on #3802
We should also keep in mind that [Spring Cloud supports rate limiting now](https://cloud.spring.io/spring-cloud-static/spring-cloud-gateway/2.2.2.RELEASE/reference/html/#the-requestratelimiter-gatewayfilter-factory)

[2020-05-27 18:03] eleftherias commented on #8172
I'm starting reactive/exploits/csrf.adoc

[2020-05-27 18:54] eleftherias opened #8602 "Add tokenFromMultipartDataEnabled to server CSRF Kotlin DSL"
We should allow a user to set `tokenFromMultipartDataEnabled` in the Kotlin DSL, just as we do in the Java DSL.
The configuration would look like
[code]

[2020-05-27 19:16] jzheaux opened #8603 "oauth2Client Test Support should not require an HttpSessionOAuth2AuthorizedClientRepository"
**Expected Behavior**

No extra `OAuth2AuthorizedClientRepository` should be required for `oauth2Client` test support to work with `@RegisteredOAuth2AuthorizedClient`.

**Current Behavior**

For `oauth2Client()` test support, and by association `oauth2Login` and `oidcLogin`, require that the `OAuth2AuthorizedClientRepository` in the application context be of type `HttpSessionOAuth2AuthorizedClient

[2020-05-27 19:17] jzheaux opened #8604 "Update to Gradle 6.4.1"

[2020-05-27 19:17] jzheaux opened #8605 "Update to Spring Boot 2.3.0"

[2020-05-27 19:20] jzheaux opened #8606 "Remove ClientRegistrationRepository Mock Beans from Samples"
As of Spring Boot 5.3.0, `@SpringBootTest` and `@WebMvcTest` prepare a `ClientRegistrationRepository`, so introducing a `@MockBean` is unnecessary.

[2020-05-27 19:50] jhamberg commented on #5420
To anyone else who finds their way here because their WebFilter (e.g. AuthenticationWebFilter) is being called twice:

Spring Boot automatically registers any filters marked as a `@Bean` or `@Component` which means that if you want more precise control—like with `addFilterAt`—you should remove the annotation or disable registration of your filter with a [FilterRegistrationBean](https://docs.spring

[2020-05-27 20:30] midumitrescu commented on #8592
hi @eleftherias ,

I would be willing to help with the implementation.

I started comparing some refactoring ideas, in which:

[code]

One can find the comparison under https://github.com/midumitrescu/httpmethod-refactorings

I haven't considered changing MockServerHttpRequest to allow for
[code]

The biggest issue I see is that
[code]
which brings from HttpRequest:

[code]

It feels somehow weird

[2020-05-27 20:37] midumitrescu commented on #8592
Actually, I played arround now with:

[code]

One needs to change the type also in the Builder, of course, but the change is not THAT invasive.

The big advantage is that the constructor is private, so one can be sure that clients initialize instances only through the builder.

[code]

enables easy refactoring of the class.

I will create tomorrow some tests and create a MR, if that's OK.

[2020-05-27 21:19] #8602 closed

[2020-05-27 21:40] eleftherias commented on #8592
Hey @midumitrescu, I see you have already left a comment on the Spring Framework issue.
It looks like the classes you are mentioning, `MockServerHttpRequest`, `HttpMethod`  are all part of Spring Framework.
Is there a change you a proposing for Spring Security as well?

[2020-05-28 00:31] evgeniycheban commented on #7059
@rwinch I can take this task.

[2020-05-28 02:12] DukeTiny opened #8607 "@PreAuthorize("isAnonymous()") needs more config to effect"
First,thank you for design this great framework.
**Describe the bug**
@PreAuthorize("isAnonymous()") needs more config to effect than what I get from Spring Security Reference 5.3.2

**To Reproduce**
When I do this

@Configuration
@EnableGlobalMethodSecurity(prePostEnabled = true)
public class SecurityConfig{}

@RestController
public class TestController {
    @GetMapping("/test1")
    @PreAuthori

[2020-05-28 08:10] midumitrescu commented on #8592
hey @eleftherias  :)

Sorry, I was myself confused.

The original ticket got closed and I assumed the work will be continued here.
I am not seeing anything in spring-security related remotely to allowing extensible HTTP method names.

Should I delete my commets and move them in the original ticket?

[2020-05-28 08:55] ninjacoda opened #8608 "spring-security-oauth2-client:5.3.2 and spring-boot-starter-test:2.3.0 clash over version of transitive dependency json-smart"
**Describe the bug**
When trying to run an integration test the following error occurs:

[code]

This is due to a version clash on transitive dependency `net.minidev:json-smart` between `spring-security-oauth2-client:5.3.2` and `spring-boot-starter-test:2.3.0`.

Here's the partial output from
[code]

[code]

I'm logging this against Spring Security, as moving from `com.nimbusds:oauth2-oidc-sdk:jar

[2020-05-28 09:26] ninjacoda commented on #8608
I did a bit more digging, and it turns out that up to and including `com.nimbusds:oauth2-oidc-sdk:7.0.2`, the library declared the same dependency range of `[1.3.1,2.3]` for `json-smart`. At that point, they changed it due to [this request](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/289/consider-using-explicit-dependencies), but [reintroduced the range for

[2020-05-28 10:01] aswinmahendiran commented on #8549
Hi @rwinch it would be great if you can a look at the PR. I am excited to add my first contribution

[2020-05-28 16:01] rwinch commented on #8560
Thank you for your thoughts. I think the way you split up the issues sounds good.

In terms of the samples needing LDAP installed, I think if you can provide clear instructions for the setup that is fine. The easier you make this, the faster we will be able to help. One option might be to point to a docker image and load the data from a file in the sample repository.

[2020-05-28 16:23] rwinch commented on #8549
@aswinmahendiran There is a duplicate PR https://github.com/spring-projects/spring-security/pull/8580 (I have requested changes on it) Can you work with @islamazhar on which of you is sending a PR?

[2020-05-28 16:33] #8604 closed

[2020-05-28 16:33] #8603 closed

[2020-05-28 16:33] #8605 closed

[2020-05-28 16:33] #8606 closed

[2020-05-28 16:43] rwinch commented on #4003
Anyone interested in putting together a pull request?

[2020-05-28 16:48] parikshitdutta commented on #4003
Hi @rwinch, may I?

[2020-05-28 16:50] rwinch commented on #8599
Thanks for the report @aotrzonsek Would you be interested in submitting a pull request?

[2020-05-28 16:54] rwinch commented on #6374
I cannot think of any reason to do this. The user can make changes to the cookie, but it only impacts their own security and not much different than tampering with redirect URLs sent from the server.

[2020-05-28 16:58] rwinch commented on #4003
@parikshitdutta Thank you for volunteering. The issue is yours

[2020-05-28 16:58] foo4u commented on #7564
@jgrandja thanks for the info. That worked well.

[2020-05-28 17:59] spring-issuemaster commented on #8567
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-05-28 18:42] jzheaux commented on #8459
@nenaraab, to make sure we're solving the right problem here, can you explain what problems you ran into with `@WithMockUser`?

I ask since - in cases where the controller or service has nothing OIDC-specific in it - `@WithMockUser` should work just fine.

[2020-05-29 06:12] #8607 closed

[2020-05-29 06:13] DukeTiny commented on #8607
Igore this i did it wrong

[2020-05-29 08:48] wjlc opened #8609 "OAuth2AuthorizationCodeGrantWebFilter should handle OAuth2AuthorizationException"
@jgrandja

The problem is not in `authorization_code`. `AuthenticationWebFilter` has `authenticationFailureHandler` to handle invalid authentication(`authorization_code`). `OidcAuthorizationCodeReactiveAuthenticationManager` throws `OAuth2AuthenticationException` which is `AuthenticationException` and browser is redirected to `/login?error`

The problem is in
1. `ServerOAuth2AuthorizationCodeAuthe

[2020-05-29 08:51] wjlc commented on #8609
https://github.com/spring-projects/spring-security/issues/7884#issue-558408713

[2020-05-29 10:36] Piotr-Filochowski opened #8610 "PKCE code verifier code challenge generated by client"
Hi,

as i understand PKCE in this flow code verifier and code challenge should be created on a clients front-end side (for example native app).
To implement that i have to add additional parameters to token request (endpoint on clients backend application that is responsible for exchange of authorization code for access token).  I was looking for option for implementing it by customizing spring-se

[2020-05-29 11:03] SirWayne opened #8611 "Old Jose Nimbus version"
**Describe the bug**

If I download the current version with Maven, the POM always contains the outdated Jose nimbus 7.8.1.
[code]
![image](https://user-images.githubusercontent.com/6340898/83252583-caac7200-a1ab-11ea-8df9-2e439e8583b0.png)

The downloaded pom:
[code]

**To Reproduce**
Add dependency in pom.xml
[code]

**Expected behavior**
I would expect the nimbus 8.9 verson like here
https://re

[2020-05-29 11:36] #8611 closed

[2020-05-29 11:36] SirWayne commented on #8611
Ok my mistake sorry :)

[2020-05-29 11:53] jgrandja commented on #8610
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

[2020-05-29 11:53] #8610 closed

[2020-05-29 12:05] iilkevych commented on #8609
Some `ReactiveAuthenticationManager` implementations also can throw `OAuth2AuthorizationException` It seems to be right to check all them in `AuthenticationWebFilter` using one base exception `AccessDeniedException`
Which is actually handled already

[2020-05-29 12:15] jgrandja commented on #8609
@wjlc @iilkevych Thank you for this report.

The issue is in `OAuth2AuthorizationCodeGrantWebFilter` as it does not handle `OAuth2AuthorizationException`, which can be thrown by `ServerOAuth2AuthorizationCodeAuthenticationTokenConverter`.

The fix should be in `OAuth2AuthorizationCodeGrantWebFilter` to handle `OAuth2AuthorizationException` and delegate to `authenticationFailureHandler` on errors.

[2020-05-29 13:14] jgrandja commented on #8598
@yugiking

Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

FYI, the `token_type` is required as per [spec](https://tools.ietf.org/html/r

[2020-05-29 13:14] #8598 closed

[2020-05-29 16:32] zpearce opened #8612 "No way to customize client credentials token request in WebClientReactiveClientCredentialsTokenResponseClient"
**Expected Behavior**

It should be possible to add custom params to the oauth2 token request body when using `WebClientReactiveClientCredentialsTokenResponseClient` but it currently is not.

**Current Behavior**

The non-reactive side of things has a way to customize the token request body (as mentioned [here](https://github.com/spring-projects/spring-security/issues/7781#issuecomment-574736684)

[2020-05-29 17:02] nenaraab commented on #8459
Hi @jzheaux

that's a fair question. You're right, depending on whether developers needs to provide further "userInfo" claims, the `@WithMockOidcUser` must be able to handle that as well.

Here some insights into my current project context:

The scenario (method i want to test):
[code]

I tried to implement tests with these options:
1. using `@WithMockUser`
[code]
which result into a NullPointerEx

[2020-05-29 20:29] Piotr-Filochowski commented on #8610
Okey, thanks for answering. Here is my post on stackoverflow:
https://stackoverflow.com/questions/62062191/additional-parameter-in-oauth2-token-request/62091450#62091450

[2020-05-29 21:48] rwinch opened #8613 "Delay AuthenticationPrincipalArgumentResolver Lookup"
Use `ObjectProvider<AuthenticationPrincipalArgumentResolver>` to delay lookup of `AuthenticationPrincipalArgumentResolver` which can helps avoid `BeanCurrentlyInCreationException`. See gh-8596

[2020-05-29 21:51] #8613 closed

[2020-05-29 21:51] spring-issuemaster opened #8614 "Delay AuthenticationPrincipalArgumentResolver Lookup"
Backport of gh-8613

[2020-05-29 21:51] spring-issuemaster commented on #8614
Fixed via cf142ef0241bdbd5102b75f00ac2648e0979a073

[2020-05-29 21:51] #8614 closed

[2020-05-29 21:51] spring-issuemaster opened #8615 "Delay AuthenticationPrincipalArgumentResolver Lookup"
Backport of gh-8613

[2020-05-29 21:51] spring-issuemaster commented on #8615
Fixed via 24fd9579c5ca8d610b6acf1c669cda83f332f0de

[2020-05-29 21:51] #8615 closed

[2020-05-29 21:54] rwinch commented on #8596
Thanks for the excellent sample. I created https://github.com/spring-projects/spring-framework/issues/25166 and gh-8613 The first issue is for Spring Framework and I think it is the root of the problem. The second issue is a workaround in Spring Security. I'm going to close this issue since there are separate tickets for the action items.

[2020-05-29 21:54] #8596 closed

[2020-05-29 22:15] rwinch commented on #5420
@jhamberg I'd work with the Spring Boot team on that since it is Spring Boot that adds the ``WebFilter``s automatically

[2020-05-29 22:15] #5420 closed

[2020-05-30 00:23] jzheaux commented on #8459
Got it, thanks for the extra insight, @nenaraab.

Since [the proposed PR](https://github.com/spring-projects/spring-security/pull/8461) doesn't address the use cases you've listed, maybe let's take a look together at what supporting claims in the annotation would look like.

Some things don't map well to annotations. In the case of OIDC, claims that are an epoch date or a JSON object map poorly. B

[2020-05-30 13:48] jzheaux commented on #8611
Glad you were able to fix it, @SirWayne!

[2020-05-30 14:13] prashdeep commented on #5593
- Any specific reason why we need to add the `antMatcher` instead of `antMatchers`?
- Is the antMatcher only required for the `Configuration` marked with `Order(1)` ?

[2020-05-30 18:03] jzheaux commented on #8608
Thanks for all the digging you did here, @ninjacoda.

After some of my own, I think it's best to simply upgrade the Nimbus dependencies, that way Spring Security doesn't add any additional managed dependencies to its list. In general, it's a bit easier to only manage the beans that Spring Security depends on directly.

There's a bit of a related discussion going on in https://github.com/spring-pro

[2020-05-30 18:12] jzheaux commented on #8593
@donhuvy thanks for the report!

Would you like to submit a PR to fix the broken link?

[2020-05-30 18:45] Gittenburg commented on #6374
If we want to avoid (de)serialization, how do we deal with `attributes` and `additionalParameters` of `OAuth2AuthorizationRequest`? Because both can contain `java.lang.Object`?

[2020-05-31 05:40] jzheaux commented on #8589
Thanks for raising this, @Budlee. We certainly want to ensure that there's enough logging available.

Before knowing what the right change is, let's get on the same page about what is missing. In Spring Security, each authentication filter logs failures at the DEBUG level, so you can do:

[code]
and you'll see failure information, for example when a bearer token fails validation.

On the Servlet s

[2020-05-31 13:46] donhuvy commented on #8593
oh no,

[2020-05-31 16:58] markhobson opened #8617 "Using OAuth2 client with decentralized providers"
Most OAuth2 client registrations use a centralized provider. For example, Facebook always has an authorization URI of `https://www.facebook.com/v2.8/dialog/oauth`.

Now imagine the hypothetical situation where Facebook becomes decentralized and allows people to run instances of its service on their own servers. These servers may only be known at runtime. How could this service be consumed using OA

[2020-06-01 02:52] dkodippily commented on #8593
@jzheaux  @donhuvy I would like to submit a PR to fix this, it's my first time trying to give back to the community, apart from given guidelines any advice for me ?

[2020-06-01 15:11] rwinch commented on #7059
Thank you @evgeniycheban The issue is yours

[2020-06-01 15:12] yugiking commented on #8598
Thanks @jgrandja  for your answer.
But I don't have the idea how I can write the code, the sample link define a OAuth2AccessTokenResponseClient, but how should I add it to the webclient by WebClientReactiveClientCredentialsTokenResponseClient.setWebClient()? It would be much helpful if you could show me some more detail code.

I also post a question on stackoverflow:   https://stackoverflow.com/qu

[2020-06-01 15:31] rwinch commented on #8607
Thanks for the quick follow up @DukeTiny!

[2020-06-01 18:21] jzheaux opened #8619 "Saml 2.0 WebFlux Support"
It would be nice if there were WebFlux support for SAML 2.0.

This task is a placeholder for breaking down this effort.

[2020-06-01 21:30] rwinch commented on #6374
You would need to use Spring's Conversion APIs to convert it to/from a String. You would avoid including the type information in the String as that is what is used for deserialization attacks.

[2020-06-02 03:11] yugiking commented on #8598
@jgrandja
I just resolve it following:
https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-client-creds-grant
This I can custom my token response by :
OAuth2AuthorizedClientProvider authorizedClientProvider =
        OAuth2AuthorizedClientProviderBuilder.builder()
                .clientCredentials(configurer -> configurer.accessTokenResponseClient(clientCredenti

[2020-06-02 08:45] Jovons opened #8620 "HttpSessionCsrfTokenRepository does not set csrfToken value in response header"
After reading reference, I think for usage cases, when csrfToken is set in response header (not cookie), should use HttpSessionCsrfTokenRepository instead of CookieCsrfTokenRepository. So I had this:
[code]
According to javadoc:
[code]
However, I observed from browser network window, `X-CSRF-TOKEN` never appears in the response header. And during debug step by step, I never found a statement, when

[2020-06-02 11:36] #8593 closed

[2020-06-02 12:40] aotrzonsek commented on #8599
Sure why not, I have to implement it anyway. I will add a comment after I have finished the implementation.

[2020-06-02 14:14] Budlee commented on #8589
@jzheaux this is why i did not see it as I am using reactive for pretty much everything currently.

Would you accept a PR that adds more logging to the reactive implementation and  are there any constaints?

[2020-06-02 16:59] jzheaux commented on #8589
Got it, makes sense.

You've come at the right time. :) Logging is something we're taking a look at generally for the 5.4 release. Some initial work on the reactive side [was just merged](https://github.com/spring-projects/spring-security/pull/8504).

Now, to set expectations, plenty may change in Spring Security's logging story between now and the release. But, I think one place that would probab

[2020-06-02 17:53] jzheaux opened #8623 "JwtDecoder should use Nimbus multiple-algorithm support"
Nimbus 8.18 added support for multiple algorithms to `JWSVerificationKeySelector`.

Upgrading to this will remove Spring Security's internal multiple-algorithm boilerplate.

[2020-06-02 19:11] jgrandja commented on #8598
@yugiking See `ReactiveOAuth2AuthorizedClientProviderBuilder` for configuring the reactive components.

[2020-06-02 19:31] jgrandja commented on #8617
Thanks for getting in touch @markhobson, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

Having said that, I would consider implementing a custom `ClientRegistration

[2020-06-02 19:31] #8617 closed

[2020-06-02 20:24] markhobson commented on #8617
Thanks for the reply @jgrandja. I was torn between asking here or on Stack Overflow, apologies for the noise.

I'm happy with implementing a custom `ClientRegistrationRepository`, it's more the restriction of keying `ClientRegistration`s by a single `registrationId` that's causing the issue. Continuing the above example this leads to N client registrations of id `facebook`. In a decentralized worl

[2020-06-02 20:37] jgrandja commented on #8612
@zpearce `WebClient` allows you to modify the `ClientRequest` and/or `ClientResponse`. See `ExchangeFilterFunction.ofRequestProcessor()` for processing the outgoing `ClientRequest` and `ExchangeFilterFunction.ofResponseProcessor` for processing the incoming `ClientResponse`.

You would then configure `WebClient` with the custom `ExchangeFilterFunction` and finally supply the `WebClient` to `WebCli

[2020-06-02 20:37] #8612 closed

[2020-06-02 20:45] jgrandja commented on #8617
@markhobson The `registrationId` is simply a logical unique identifier. You could name it anything you want, including `(registrationId, providerUrl)`, as long as it's unique within the `ClientRegistrationRepository`.

[2020-06-02 20:47] zpearce commented on #8612
@jgrandja Thank you for your response. I left out an important part of my submission. I need to be able to access the current client registrationId in order to look up the correct audience to add to the body of the token request. With an ExchangeFilterFunction I don't have access to the client registration. On the non-reactive side my Converter would be passed the OAuth2ClientCredentialsGrantReque

[2020-06-02 21:02] eleftherias opened #8625 "Update to groovy 2.4.19"

[2020-06-02 21:04] eleftherias opened #8626 "Update to RSocket 1.0.0"

[2020-06-02 21:05] eleftherias opened #8627 "Update to mockwebserver 3.14.9"

[2020-06-02 21:09] eleftherias opened #8628 "Update to Jython 2.5.3"

[2020-06-02 21:11] eleftherias opened #8629 "Update to okhttp 3.14.9"

[2020-06-02 21:14] eleftherias opened #8630 "Update to Spring Boot 2.2.7"

[2020-06-02 21:14] markhobson commented on #8617
@jgrandja Sure, my fear with this approach was how `DefaultOAuth2AuthorizationRequestResolver` uses this compound `registrationId` to match URLs. I'll continue down this path but it felt a bit inappropriate.

[2020-06-02 21:28] spring-issuemaster commented on #7975
Fixed via 75e248344b28dde79ba6315a42de6df91b884e8d

[2020-06-02 21:28] #7975 closed

[2020-06-02 21:35] jgrandja commented on #8612
You could override `WebClientReactiveClientCredentialsTokenResponseClient.getTokenResponse()` and populate the reactor context with `OAuth2ClientCredentialsGrantRequest` or `OAuth2ClientCredentialsGrantRequest.getClientRegistration()` and then call super().

Alternatively, you could use a delegation-based strategy where the delegator would populate the reactor context and delegate to `WebClientRea

[2020-06-02 22:06] spring-issuemaster commented on #8626
Fixed via e87783024cc2051beb02f056df14a2ed15af341a

[2020-06-02 22:06] #8626 closed

[2020-06-02 22:06] spring-issuemaster commented on #8627
Fixed via 1b93b0c9a66bb51edf581b8abe613974c32c0895

[2020-06-02 22:06] #8627 closed

[2020-06-02 22:06] spring-issuemaster commented on #8628
Fixed via 05b9591e440f21e5e62fa0d8bcc9c1ad337902a4

[2020-06-02 22:06] #8628 closed

[2020-06-02 22:06] spring-issuemaster commented on #8629
Fixed via d9919b838dcb48ba5aec90610b4bed9f60db2714

[2020-06-02 22:06] #8629 closed

[2020-06-02 22:06] spring-issuemaster commented on #8630
Fixed via 7e9c7534f579ad254b8d2ec91572f76b4d1c2326

[2020-06-02 22:06] #8630 closed

[2020-06-02 22:06] spring-issuemaster opened #8631 "Document NoOpPasswordEncoder will not be removed"
Backport of gh-8525

[2020-06-02 22:06] spring-issuemaster commented on #8631
Fixed via 04453cec967b072920832fd32c2afa35446155ca

[2020-06-02 22:06] #8631 closed

[2020-06-02 22:08] eleftherias commented on #8625
Fixed via 04453ce

[2020-06-02 22:08] #8625 closed

[2020-06-02 22:08] eleftherias commented on #8631
This issue was created from a typo in a commit message.
Please ignore.

[2020-06-02 22:11] jzheaux commented on #8543
@bratwurzt Thanks for the report.

This is something that the community should take up with the Nimbus team.

The fact is that the `oauth2-oidc-sdk` and `nimbus-jose-jwt` releases aren't synchronized. For example, [Nimbus released `nimbus-jose-jwt:8:18` today](https://mvnrepository.com/artifact/com.nimbusds/nimbus-jose-jwt/8.18), but [the latest `oauth2-oidc-sdk`](https://mvnrepository.com/artifac

[2020-06-02 22:11] #8543 closed

[2020-06-02 22:18] jzheaux commented on #8564
@jvalkeal Thanks again for the report.

After some additional digging, I believe this is a duplicate of #8543, and so I'm going to close it as such.

So that we've just got one channel for further discussions, please read my reasoning over there and feel free to comment on that ticket if you feel like there's more to discuss.

[2020-06-02 22:18] #8564 closed

[2020-06-02 22:32] eleftherias opened #8632 "Update to Spring Boot 2.1.14.RELEASE"

[2020-06-02 22:34] eleftherias opened #8633 "Update to mockwebserver 3.12.12"

[2020-06-02 22:36] eleftherias opened #8634 "Update to jaxb-impl 2.3.3"

[2020-06-02 22:42] eleftherias opened #8635 "Update to okhttp 3.12.12"

[2020-06-03 00:00] #8623 closed

[2020-06-03 01:52] wjlc commented on #8609
@shazin This is not the correct place for the fix. plz look at issue and replicate it. [https://github.com/spring-projects/spring-security/issues/7884#issue-558408713](url)

[2020-06-03 02:02] eleftherias opened #8636 "Update to mockwebserver 3.12.12"

[2020-06-03 02:03] eleftherias opened #8637 "Update to okhttp 3.12.12"

[2020-06-03 02:04] eleftherias opened #8638 "Update to Jython 2.5.3"

[2020-06-03 02:05] spring-issuemaster commented on #8636
Fixed via af278b58b5c31f67f3b62b34aa6f0b3b3bf56e5b

[2020-06-03 02:05] spring-issuemaster commented on #8637
Fixed via c62789c97628433f83f535a532c4c1864c72ab42

[2020-06-03 02:05] spring-issuemaster commented on #8638
Fixed via b02cae0a0c5999e938c7e24c643df233d15d1c87

[2020-06-03 02:05] #8636 closed

[2020-06-03 02:05] #8637 closed

[2020-06-03 02:05] #8638 closed

[2020-06-03 02:06] #8536 closed

[2020-06-03 02:09] wjlc commented on #8609
@jgrandja OAuth2AuthorizationCodeGrantWebFilter is just used in ServerHttpSecurity.OAuth2Client, it's just a case.

but my `WebFluxSecurityConfig` like this:
      `......
        .and()
            .oauth2Login()
            .authenticationSuccessHandler(new CustomAuthenticationSuccessHandler())
            .authenticationFailureHandler(new CustomAuthenticationFailureHandler())
            .autho

[2020-06-03 02:24] spring-issuemaster commented on #8632
Fixed via 2400e8fde2da45c24066a1156927814e74d7073d

[2020-06-03 02:24] #8632 closed

[2020-06-03 02:24] spring-issuemaster commented on #8633
Fixed via e6630ea0f10329c66f8eb8b6a74afa14304d4460

[2020-06-03 02:24] spring-issuemaster commented on #8634
Fixed via ded83cc1b371d1b4b382f9e84cca337dd7d938bf

[2020-06-03 02:24] spring-issuemaster commented on #8635
Fixed via 7a1833c1dffc6c02b7cb5d290026b4c396534ab9

[2020-06-03 02:24] #8635 closed

[2020-06-03 02:24] #8633 closed

[2020-06-03 02:24] #8634 closed

[2020-06-03 15:11] jzheaux opened #8639 "HTTP Host header attack"
Backport of #4310

[2020-06-03 15:12] jzheaux opened #8640 "HTTP Host header attack"
Backport of #4310

[2020-06-03 15:13] jzheaux opened #8641 "HTTP Host header attack"
Backport of #4310

[2020-06-03 15:13] jzheaux commented on #8641
Closed via 52c80c78e52ed3ffcaf80c418c4a6ea2637d517a

[2020-06-03 15:13] #8641 closed

[2020-06-03 15:14] jzheaux commented on #8639
Closed via e4e73631964de2ea7c72a1d3bdfef7b69d841aef

[2020-06-03 15:14] #8639 closed

[2020-06-03 15:14] jzheaux commented on #8640
Closed via 3e5b65f647702539a12e637a7ba7ec936bfb48a7

[2020-06-03 15:14] #8640 closed

[2020-06-03 15:25] jzheaux opened #8642 "spring-security-aspects:compileSpringIoTestJavaAspect Build Failing"
**Describe the bug**
On the `4.2.x` branch, `:spring-security-aspects:compileSpringIoTestJavaAspect` is failing.

The following is a snippet of the larger error log:

[code]

**To Reproduce**

To reproduce, check out the `4.2.x` branch and run:

[code]

**Additional Background**

Trying a different JDK 8 versions doesn't appear to affect the outcome. The relevant code was written using JDK 5.

The

[2020-06-03 15:51] drgeb commented on #7890
Is there any example of the JDBCReactiveOAuth2AuthorizedClientService that I can start to look at ?

[2020-06-03 16:31] eleftherias opened #8643 "Re-enable RSocket integration tests"
The RSocket integration tests are causing our build to hang, which prevents us from releasing.
See gh-8531

We have temporarily disabled them, but should re-enable them when RSocket 1.0.1 is released.

[2020-06-03 18:26] jgrandja commented on #7890
@drgeb The issue is meant to deliver `JdbcReactiveOAuth2AuthorizedClientService`. The work here hasn't started so there are no examples.

[2020-06-03 19:02] jgrandja commented on #8609
@wjlc Thanks for the feedback.

It looks like `ServerOAuth2AuthorizationCodeAuthenticationTokenConverter` should throw `AuthenticationException` instead of `OAuth2AuthorizationException`. Let me think this one through but I think that is what needs to change.

[2020-06-03 19:04] AbstractConcept commented on #8535
@jzheaux I have run into a very similar issue, if not the same one.

Using an external `oauth2ResourceServer`, in a multi-tenant environment, it should be possible to override / select a custom `JwtDecoder` / `jwtAuthenticationProvider` with a custom `jwtAuthenticationConverter`, as not all of the JWT tokens are the same, and this leads to errors.

Currently, according to the official documentatio

[2020-06-03 19:10] iilkevych commented on #8609
@jgrandja

This is not only issue for `ServerOAuth2AuthorizationCodeAuthenticationTokenConverter`

As I mentioned above:

[2020-06-03 19:13] jzheaux opened #8645 "Update to Kotlin 1.3.72"

[2020-06-03 19:13] jzheaux opened #8646 "Update to Spring Boot 2.2.7.RELEASE"

[2020-06-03 19:13] jzheaux opened #8647 "Update to AppEngine 1.9.80"

[2020-06-03 19:26] jgrandja commented on #8609
@iilkevych

Which specific implementations are you referring to?

[2020-06-03 19:51] AbstractConcept opened #8648 "Support customization of JwtAuthenticationProvider and BearerTokenResolver in multi-tenant systems (related to JwtIssuerAuthenticationManagerResolver)"
**Expected Behavior**

It should be possible to override / customize `BearerTokenResolver` and `JwtAuthenticationProvider` inside `JwtIssuerAuthenticationManagerResolver` class, in a multi-tenant environment, so that the end-user can set non-standard behavior that may be desired (for example, custom JWT parsing).

**Current Behavior**

Customization is not possible at all, end-user is forced to us

[2020-06-03 20:06] iilkevych commented on #8609
`OAuth2AuthorizationCodeReactiveAuthenticationManager` -> `OAuth2AuthorizationExchangeValidator`

[2020-06-03 20:09] jgrandja commented on #8609
Ah yes. Ok let me think about what changes are required here.

[2020-06-03 22:17] jzheaux commented on #8645
Resolved via 35cf44343119e82e72d05f676be0669d33741992

[2020-06-03 22:17] #8645 closed

[2020-06-03 22:17] jzheaux commented on #8646
Resolved via 4213046653db763ca0f3244bce976aeef78351ae

[2020-06-03 22:17] #8646 closed

[2020-06-03 22:17] jzheaux commented on #8647
Resolved via 16723e55b14294d3f52f3611452efdf487b129ae

[2020-06-03 22:17] #8647 closed

[2020-06-04 02:17] loesak opened #8649 "Change OAuth2AuthorizedClientService#saveAuthorizedClient to take in principalName instead of Authentication"
**Expected Behavior**

`OAuth2AuthorizedClientService#saveAuthorizedClient` accepts `OAuth2AuthorizedClient authorizedClient` and `String principalName` instead of `OAuth2AuthorizedClient authorizedClient` and `Authentication principal`

**Current Behavior**

`OAuth2AuthorizedClientService#loadAuthorizedClient` and `OAuth2AuthorizedClientService#removeAuthorizedClient` both take in a `String` for

[2020-06-04 03:49] jzheaux commented on #8648
@AbstractConcept, thanks for the feedback and the ideas. Let's take them one at a time:

I see you've already found #8535 - I look forward to your contribution!

Since `JwtIssuerAuthenticationManagerResolver` is all about converting the JWT's issuer into an `AuthenticationManager`, I imagine what you'd want here is the ability to configure a strategy that can supply a `JwtAuthenticationProvider` f

[2020-06-04 03:49] #8648 closed

[2020-06-04 03:54] jzheaux commented on #8535
Sounds great, @AbstractConcept, the issue is yours.

[2020-06-04 09:30] eamelink opened #8650 "DefaultOAuth2AuthorizationRequestResolver erroneously consumes POST request body"
**Describe the bug**
DefaultOAuth2AuthorizationRequestResolver consumes the request body, by calling `getParameter` on the request, even if the request doesn't match the authorization request base uri.

The bug is in `resolve(HttpServletRequest request)` method, which calls `getAction`, even if the registrationId is null.

**To Reproduce**
Create a filterchain with DefaultOAuth2AuthorizationReques

[2020-06-04 11:46] eamelink commented on #8650
OAuth2AuthorizationCodeGrantFilter has a similar issue.

[2020-06-04 16:15] jzheaux commented on #8608
Fixed via 94737df37865fa754f4c5dd14e5a225a8ce94739

[2020-06-04 16:15] #8608 closed

[2020-06-04 16:17] zeeshanadnan commented on #8034
@eleftherias sorry for being late. I have submitted a pull request.

[2020-06-04 17:58] spring-issuemaster commented on #8567
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-06-04 17:58] #8567 closed

[2020-06-04 19:02] rwinch commented on #8620
@Jovons That is the name of the HTTP request header that a client can provide a valid token on. It is not intended to appear on the response headers.

[2020-06-04 19:02] #8620 closed

[2020-06-05 01:55] Jovons commented on #8620
Hi rwinch, by using HttpSessionCsrfTokenRepository instead of Cookie, there is no CSRF token in response. It was in Set-Cookie when used Cookie.

[2020-06-05 06:29] robert-parr commented on #8567
I attempted to use the ExchangeFilterFunction.ofRequestProcessor() but was unable to update the body (I could create a new one, but not update the existing body).  Having studied the WebClientReactiveClientCredentialsTokenResponseClient class further I fully understand what it is doing now, and am happy to implement the interface and create my own class.

This enhancement is no longer required.  T

[2020-06-05 11:42] codecracker2014 commented on #7537
I would like to take this one. I think this should be fixed for all cookies, also value should be configurable.

[2020-06-05 17:19] rwinch opened #8654 "ReactorContext not available in PayloadSocketAcceptor delegate.accept"
**Describe the bug**
When trying to access Reactor Context from a PayloadInterceptor within the the delegate's accept method, it is not available. This means that the `ReactiveSecurityContext` is not available.

[2020-06-05 17:53] #8654 closed

[2020-06-05 17:54] spring-issuemaster opened #8655 "ReactorContext not available in PayloadSocketAcceptor delegate.accept"
Backport of gh-8654

[2020-06-05 17:54] spring-issuemaster commented on #8655
Fixed via 5a5bed49f6f0067066ebe833b87fbe18ef264e02

[2020-06-05 17:54] #8655 closed

[2020-06-05 17:55] spring-issuemaster opened #8656 "ReactorContext not available in PayloadSocketAcceptor delegate.accept"
Backport of gh-8654

[2020-06-05 17:55] spring-issuemaster commented on #8656
Fixed via c71a893e08db75cb3939ff2a99bddae4669185e4

[2020-06-05 17:55] #8656 closed

[2020-06-05 18:02] rwinch opened #8657 "Support A Well-Known URL for Changing Passwords"
**Expected Behavior**
Spring Security should support https://wicg.github.io/change-password-url/index.html

[2020-06-05 20:35] #8650 closed

[2020-06-06 08:21] wilkinsona commented on #8596
Thanks for tracking this one down, @rwinch.

[2020-06-06 10:15] sendilkumarn commented on #8142
Yeah same here, It looks like Kotlin cannot infer the bounded types. check out [here](https://github.com/sendilkumarn/jhipster-kotlin/runs/744838288?check_suite_focus=true)  for the failing compilation.

[2020-06-07 05:43] norangit opened #8658 "TokenBasedRememberMeServices.makeTokenSignature never get same result when password is encoded by any of bcrypt, pbkdf2, scrypt, sha256"
**Describe the bug**
A clear and concise description of what the bug is.
class: org.springframework.security.web.authentication.rememberme;

[code]
like that is, the method never return the same result if password is encoded by  any of bcrypt, pbkdf2, scrypt, sha256, because these password encoders always out different secret string with same password, then result of md5 will never been same, then

[2020-06-07 14:18] mjeffrey commented on #6053
Keycloak also supports this with either a fixed certificate or a JWK callback.
https://github.com/keycloak/keycloak/pull/4835
Keycloak and in particular the author of this PR have been doing a lot of work to support FAPI standards (needed by a lot of fintechs)

[2020-06-07 16:50] evgeniycheban commented on #8657
@rwinch I would like to work on this.

[2020-06-08 04:32] SentretC opened #8659 "MVC handler method gets null Authentication argument when forwarded from successful login"
**Describe the bug**
Spring Web MVC `@RequestMapping` handler method receives `null` as `Authentication` argument when forwarded from a successful login.
`HttpServletRequest.getRemoteUser()` also returns `null`, while `SecurityContextHolder.getContext().getAuthentication().getName()` returns the username just logged in.

**To Reproduce**
1. Create a handler method which receives an `Authentication

[2020-06-08 07:31] netbeansuser2019 commented on #8568
It is totally bug or if you (Spring team) take it as feature then it is enhancement. In no way it is question.

[2020-06-08 07:38] netbeansuser2019 opened #8660 "Login success handler should be called in proper context"
Login success handler should be called in proper context
Describe the bug
If it is called login success handler it is not ensured RequestContextHolder so
exception could be called if there is any bean that it is using it.
java.lang.IllegalStateException: No thread-bound request found: Are you referring to request attributes outside of an actual web request, or processing a request outside of the o

[2020-06-08 08:52] kostic017 opened #8661 "Ability to easily read attribute values from SAML response"
**Expected Behavior**
I should be able to read attribute values after SAML response is parsed and validated without parsing it myself.

**Current Behavior**
As far I can tell `OpenSamlAuthenticationProvider` parses and validates the response, and then throws away the `Assertion` object. What I'm left with is encrypted response string.

**Context**
I want to show the user's first and last name on m

[2020-06-08 09:33] dpfg opened #8662 "Inconsistent default binding in saml2-service-provider"
**Describe the bug**
Default binding in RelyingPartyRegistration is Redirect. Though it's not propagated down to OpenSamlAuthenticationRequestFactory which has it's own default binding POST

https://github.com/spring-projects/spring-security/blob/master/saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationRequestFactory

[2020-06-08 10:24] snoopysecurity commented on #4310
I noticed this has been patched now, shouldn't there be an advisory for this within https://tanzu.vmware.com/security?

[2020-06-08 14:54] jzheaux commented on #4310
Thanks, @snoopysecurity, for double-checking. Given that these changes don't resolve any CVE, I'm not sure what we'd report there.

[2020-06-08 17:41] #8662 closed

[2020-06-08 18:54] dratler commented on #7791
Hi @eleftherias ,
I'm checking to see if a fix I have to build is working please ignore this commit.
thank you

[2020-06-08 19:23] jzheaux commented on #8661
@kostic017 thanks for reaching out; I think adding attributes to the `Saml2AuthenticatedPrincipal` would be a way to address this.

To add it, it'll be important to maintain Spring Security's independence from OpenSAML, meaning that the resulting authentication shouldn't have any OpenSAML-specific material in it.

One way this could work would be to have `OpenSamlAuthenicationProvider` iterate thr

[2020-06-08 20:00] puce77 commented on #8428
Here is a sample: [8428-spring-security-test-v1.0.zip](https://github.com/spring-projects/spring-security/files/4748260/8428-spring-security-test-v1.0.zip)

If `Assert.notNull(request.getUserPrincipal(), "userPrincipal");` is commented out in the filter, the test run fine, but with this null check the test fail, though the REST service runs fine.

[2020-06-08 20:19] spring-issuemaster commented on #8643
Fixed via 0e37c722e2febe031b94c22a87a65f69cba0554c

[2020-06-08 20:19] #8643 closed

[2020-06-08 20:44] spring-issuemaster opened #8663 "Re-enable RSocket integration tests"
Backport of gh-8643

[2020-06-08 20:44] spring-issuemaster commented on #8663
Fixed via 7a7707b89968e3ef1244a3075a17b4778cc2d5fa

[2020-06-08 20:44] #8663 closed

[2020-06-08 21:13] rwinch commented on #8657
Thank you for volunteering! The issue is yours

[2020-06-08 21:18] eleftherias opened #8664 "Update to RSocket 1.0.1"

[2020-06-08 21:19] spring-issuemaster commented on #8664
Fixed via 98467755adc6dfb168e00d67f7acb7cf25d5615f

[2020-06-08 21:19] #8664 closed

[2020-06-08 22:25] Budlee commented on #8589
@jzheaux i've added some additional debug messages for Jwt and the ReactiveAuth manager. Any suggestions

[2020-06-09 12:44] kostic017 commented on #8661
Well, as you can probably tell, I've created a pull request... (force push to my branch, looks ugly here)

[2020-06-09 14:27] lightoze opened #8668 "A way to re-enable CSRF for OAuth2 bearer token requests"
We have user-facing services which are accessed via OAuth2 proxy, so they are configured as resource server and bearer token is added to request headers by the proxy (from client session).

Currently `OAuth2ResourceServerConfigurer.registerDefaultCsrfOverride` is called unconditionally and it makes it impossible to use conventional CSRF configuration.

On reactive side there seems to be a solution

[2020-06-09 16:32] realulim opened #8669 "Register OAuth2AuthorizedClientArgumentResolver for XML Config"
**Describe the bug**
Normally, when oauth2-login is configured, it is possible to inject @AuthenticationPrincipal and @RegisteredOAuth2AuthorizedClient into controller methods. The former always works, the latter only with Java configuration. With an XML configuration like this:
[code]
And controller code like this:
[code]
I am getting the following stacktrace:

With the equivalent configuration i

[2020-06-09 17:43] rwinch commented on #8620
Yes. `HttpSessionCsrfTokenRepository` stores the expected token in session which is linked by the session id in a cookie and `CookieCsrfTokenRepository` stores the expected token directly in a cookie. Both need the client to specify the actual token so it can be compared against the expected value. The value can be provided in the request parameters or as a header.

[2020-06-09 17:45] rwinch commented on #7537
Thank you @codecracker2014 This issue is yours. I'd suggest creating separate tickets/PRs for any other places that need updated.

[2020-06-09 18:31] rwinch commented on #8658
Thanks for the report.

Can you clarify why the value is changing? I understand that PasswordEncoder will produce different values for the password, but typically the password is only encoded at the time of changing the password so I would expect it to be the same encoded value.

[2020-06-09 18:36] rwinch commented on #8659
@SentretC Thanks for the report. Can you please turn this example into a complete project instead of just code snippets?

[2020-06-09 18:39] rwinch commented on #8660
Please do not post duplicate issues https://github.com/spring-projects/spring-security/issues/8568

As indicated on the previous ticket, it does not look like you are using RequestContext correctly. If you need, help please ask on stackoverflow. You may post a link to stackoverflow on the original issue to help others find your question.

[2020-06-09 18:39] #8660 closed

[2020-06-09 19:37] rwinch commented on #8428
Thanks for the sample @puce77! It appears the issue is with Spring Boot. The problem is that the test does not use `SecurityFilterAutoConfiguration` which is what controls Spring Security's Filter ordering. Can you please [create an issue with Spring Boot](https://github.com/spring-projects/spring-boot/issues/new).

[2020-06-09 19:37] #8428 closed

[2020-06-09 20:29] jgrandja commented on #8649
@loesak `OAuth2AuthorizedClientService.saveAuthorizedClient()` requires an `Authentication` instance to ensure the `OAuth2AuthorizedClient` (client) is correctly associated to the `Authentication` (resource owner OR **client principal**).

Yes, that is correct. However, an `OAuth2AuthorizedClient` is always associated with an `Authentication` and in the `client_credentials` instance the `Authentic

[2020-06-09 20:29] #8649 closed

[2020-06-09 21:13] spring-issuemaster opened #8672 "OAuth2AuthorizationCodeGrantWebFilter should handle OAuth2AuthorizationException"
Backport of gh-8609

[2020-06-09 21:13] spring-issuemaster opened #8673 "OAuth2AuthorizationCodeGrantWebFilter should handle OAuth2AuthorizationException"
Backport of gh-8609

[2020-06-09 21:14] spring-issuemaster opened #8674 "OAuth2AuthorizationCodeGrantWebFilter should handle OAuth2AuthorizationException"
Backport of gh-8609

[2020-06-09 21:28] #8609 closed

[2020-06-09 21:29] spring-issuemaster commented on #8672
Fixed via acf56f24a6159db83285fa3ded2f327a9cb8dcd2

[2020-06-09 21:29] #8672 closed

[2020-06-09 21:29] spring-issuemaster commented on #8673
Fixed via 11c1236261bc492d56e6a95b2fa8ba3a1ad028a2

[2020-06-09 21:29] #8673 closed

[2020-06-09 21:29] spring-issuemaster commented on #8674
Fixed via a372ec9ef5087626e41bf16bc985330a6ddb7d02

[2020-06-09 21:29] #8674 closed

[2020-06-09 21:35] jgrandja commented on #8609
Thanks for all the feedback @wjlc iilkevych.

I just pushed the fix in these commits 4c902bb da4b626. This has been backported to 5.1.x.

[2020-06-09 21:40] jzheaux commented on #8668
Thanks for the report, @lightoze. Can you tell me more about your use case?

I'm asking because, since your proxy is the thing that has the client's session, I'd expect that to be where the CSRF token is generated/stored and where CSRF denials would be performed.

[2020-06-09 21:56] lightoze commented on #8668
In this setup both the proxy and each individual service have their own session. When CSRF is to be used, each service will use it's own session. If we ever want to have cross-service requests possible (not likely at the moment) we'll implement custom shared token repository, but decision when to use CSRF and when not to will be still on individual service side.

[2020-06-10 07:52] puce77 commented on #8428
As suggested I've filed an issue here: https://github.com/spring-projects/spring-boot/issues/21801

[2020-06-10 15:13] sentinalll opened #8675 "Change getMethod() to return configured value in SimpleSavedRequest"
**Expected Behavior**

getMethod() returns value configured for "method" property

**Current Behavior**

returns null

**Context**

It causes failures when the request is resolved on authentication
As a workaround SimpleSavedRequest can be extended with overridden getMethod method

[2020-06-10 15:44] rwinch opened #8676 "Replace whitelist/blacklist with allowlist/blocklist"
The terms whitelist and blacklist should be replaced with allowlist and blocklist. First whitelist and blacklist have negative/racial connotations and have no place in our code base. Second, allowlist and blocklist are much more descriptive than whitelist and blacklist.

Any pubic APIs will be deprecated and removed in our next major release.

[2020-06-10 16:48] rwinch opened #8677 "Deprecate X-Frame-Options ALLOW-FROM"
We should deprecate [X-Frame-Options ALLOW-FROM](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options) directive. It is not longer supported by most browsers. Users should migrate to using [Content-Security-Policy frame-ancestors](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors) instead.

[2020-06-10 16:50] #8676 closed, assigned to rwinch

[2020-06-10 16:50] #8677 closed, assigned to rwinch

[2020-06-10 21:05] spring-projects-issues opened #8678 "RoleHierarchy is not used by AbstractAuthorizeTag"
Backport of gh-7059

[2020-06-10 21:05] #8678 closed, assigned to eleftherias

[2020-06-10 21:10] spring-projects-issues opened #8679 "RoleHierarchy is not used by AbstractAuthorizeTag"
Backport of gh-7059

[2020-06-10 21:10] #8679 closed, assigned to eleftherias

[2020-06-10 21:35] spring-projects-issues opened #8681 "RoleHierarchy is not used by AbstractAuthorizeTag"
Backport of gh-7059

[2020-06-10 21:35] #8681 closed, assigned to eleftherias

[2020-06-10 21:39] jcd006 opened #8682 "SessionRegistry is not updated when ChangeSessionIdAuthenticationStrategy changes sessionId"
**Describe the bug**
I have a spring security application that configures a ConcurrencyControlConfigurer with maximum sessions set to 1 and maxSessionsPreventsLogin set to true. The problem is when I logout and log back the user in I get an error that says the max sessions limit has been reached.

After doing some debugging I've noticed that the spring changes the sessionId multiple times in betwe

[2020-06-10 23:16] jzheaux commented on #8675
Good catch, @sentinalll. I think the intent of this class is to save the method indicated in the constructor that takes a `SavedRequest` instance.

Would you be interested in submitting a PR to update the `SimpleSavedRequest(SavedRequest)` constructor to set the `method` field? Also, to have `getMethod()` return the `method` field?

[2020-06-10 23:33] jzheaux commented on #8682
I think what's needed here is to publish the `HttpSessionEventPublisher` class as well:

[code]

This is detailed in the [Spring Security Reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#ns-concurrent-sessions), but it only contains the XML configuration, so it's easy to overlook.

Would you be interested in submitting a PR to add Java config to that section of

[2020-06-11 03:08] jcd006 commented on #8682
@jzheaux I did declare the bean in the configuration file I just omitted in the code snippet. Also it looks like HttpSessionEventPublisher only publishes the SessionCreated and the SessionDestroyed events not the SessionFixationProtectionEvent that's fired by the ChangeSessionIdAuthenticationStrategy.

I noticed spring-security change the jsessionId a few times but none of those changes made it in

[2020-06-11 03:14] jzheaux commented on #8682
@jcd006 Okay, thanks for the extra information.

When I change Spring Security's hello world sample to work according to your original spec + publish an `HttpSessionEventPublisher`, things appear to work as expected.

Would you please post a sample via GitHub? That will ensure that there's no further miscommunication.

[2020-06-11 12:51] spring-issuemaster opened #8683 "RoleHierarchy is not used by AbstractAuthorizeTag"
Backport of gh-7059

[2020-06-11 12:51] spring-issuemaster commented on #8683
Fixed via b4e51e774012a8916e3355c27355372d5d0a5831

[2020-06-11 12:51] #8683 closed

[2020-06-11 12:52] lightoze commented on #8668
@jzheaux Thanks for the workaround!

[2020-06-11 18:25] fpagliar commented on #8661
Thanks so much for raising this issue!!! This is a big blocker for us.

[2020-06-11 18:53] akefirad opened #8684 "Overriding GlobalMethodSecurityConfiguration fails with overriding beans disabled error!"
**Describe the bug**
The application fails when I try to override `GlobalMethodSecurityConfiguration` class to implement custom permission evaluator, with the following error:

**To Reproduce**
Add Spring Security module and create a class overrding `GlobalMethodSecurityConfiguration` with `@Configuration` annotation or simply build and run [this](https://github.com/akefirad/bad-spring-security) p

[2020-06-11 19:18] kostic017 commented on #8661
@fpagliar Here you can find a nice workaround until fix gets released
https://stackoverflow.com/q/62210172/10479742
https://stackoverflow.com/q/58400571/10479742

[2020-06-11 19:46] norangit commented on #8658
yes, you are right. it is my problems. because I hard code my password to applicaiton.properties. then encoded password in my customized UserDetailsService.loadUserByUsername() method. I should only encode once, after I fixed my code, then rememberme is working as expected.

[2020-06-11 19:46] #8658 closed

[2020-06-11 20:03] sentinalll commented on #8675
Hi @jzheaux, sorry for the delay. Sure, I can work on a PR. With `SimpleSavedRequest` I am trying to handle `ajax` request when the session is already expired. Check if it is `ajax` request -> save `Referer` URL in `SimpleSavedRequest` and put it as a session attribute -> set location header to authorization URI and status unauthorized.

[2020-06-11 20:33] jzheaux commented on #8675
So, am I following correctly to assume that you only need to store the URL and you don't actually need the method?

[2020-06-12 06:32] rajn opened #8685 "Migration path for Spring SAML Extension users"
**Expected Behavior**

We currently are using Spring SAML Extension 1.0.10 in SP mode. We integrate with different IDPs like OAM, OKTA, ADFS etc and it works smoothly.
Now, we need to upgrade as the underlying OpenSAML is quite old.
I see that Spring Security Core is the new place for SAML support and Spring SAML will not be available as a separate library.
It seems not all functionality from Spri

[2020-06-12 07:26] sentinalll commented on #8675
Yes, you are right. I am using `SimpleSavedRequest(String redirectUrl)` constructor. And it fails on a callback from Authorization Server with an error:

[code]

[2020-06-13 00:38] yukihane opened #8689 "ProviderManager#checkState() throws NullPointerException"
**Describe the bug**

When use [`java.util.List.of()`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/List.html#of(E)), [`ProviderManager#checkState()`](https://github.com/spring-projects/spring-security/blob/5.3.3.RELEASE/core/src/main/java/org/springframework/security/authentication/ProviderManager.java#L148) throws `NullPointerException`.

`checkState()` uses `List#conta

[2020-06-13 13:36] evgeniycheban commented on #8657
@rwinch I've submitted PR.

Please take a look when you have a moment.

[2020-06-14 21:35] iilkevych commented on #8609
@jgrandja
Then what changed with this fix?
Main main concern was that application redirects user to identity provider when session expires.
If user did not finish login after session expired and his new session expired then application should redirect user to login again and as soon as user have now session with identity provider hi will login implicitly.
From your previous comment I guess it will

[2020-06-15 04:41] wjlc commented on #8609
you can add custom `authenticationFailureHandler` that returns errorCode, your frontend receive code and redirect `/oauth2/authorization/xxx`, then it will be login because you had session of the identity provider.

[2020-06-15 11:59] rstoyanchev opened #8691 "Support for MatchableHandlerMapping with parsed patterns"
In Spring Framework 5.3 snapshots Spring MVC has support for parsed `PathPattern`s, see https://github.com/spring-projects/spring-framework/issues/24945.

After the changes if a `HandlerMappingIntrospector` returns a `MatchableHandlerMapping` [with](https://github.com/spring-projects/spring-framework/blob/5225a5741197a7e2123437709c2468e4537b0469/spring-webmvc/src/main/java/org/springframework/web/

[2020-06-15 13:22] nenaraab commented on #8459
Hi @jzheaux

that's fine with me. Thanks.

IMHO, the absolut minimum set of configurable standard claims in context of `@WithMockOidcToken` could be:
- `email`
- `given_name` and
- `family_name`

The rest can be enhanced on demand... what do you think?

[2020-06-15 14:46] jzheaux commented on #8675
Thanks for the PR, @sentinalll, I will take a look.

I'd like to continue to take this opportunity to learn more about your use case since I'm not sure that I've seen it before. By default, Spring Security uses `DefaultSavedRequest`.

I gather from your last comment that you are caching the request and redirecting to an authorization server, and then once the OAuth 2.0 flow is complete, you are re

[2020-06-15 15:19] gonozalviii opened #8692 "Kotlin Configuration DSL: Add addFilterBefore() and addFilterAfter() functions"
**Expected Behavior**

I would like to use `addFilterBefore()` and `addFilterAfter()`. Currently only the `addFilterAt()` function is available in the DSL.
Also please use reified types to allow writing `addFilterBefore<BasicAuthenticationFilter>(myFilter)`.
Or let the function at least take a KClass instead of a Class so we can omit the `.java`

**Current Behavior**

The 2 mentioned functions are

[2020-06-15 20:11] jzheaux commented on #7779
Work is underway on this via https://github.com/spring-projects/spring-security/issues/8661. As such, I'll close this as a duplicate. I'd invite those interested to comment on that ticket going forward.

[2020-06-15 20:11] #7779 closed

[2020-06-15 20:13] jzheaux commented on #8619
Closing as a duplicate of https://github.com/spring-projects/spring-security/issues/7954

[2020-06-15 20:13] #8619 closed

[2020-06-15 20:19] jzheaux commented on #7722
@horca, thanks for laying out some of the details here. I think it makes sense to have the SAML 2.0 support align with other authentication filters in Spring Security.

Would you be interested in submitting a PR to have the filter set the details object on the `Saml2AuthenticationToken` instance and have the authentication provider set the details on the `Saml2Authentication` instance?

[2020-06-15 20:23] jzheaux opened #8693 "Support SAML 2.0 SP Metadata Endpoints"

[2020-06-15 20:50] jzheaux commented on #8685
@rajn, thanks for reaching out about this. I think it makes sense to provide support for metadata generation as well as single logout.

Based on your feedback, I've added https://github.com/spring-projects/spring-security/issues/8693 to track Spring Security's SP Metadata support.

Would you mind creating a ticket that indicates what you feel is needed to address your single logout use case?

As f

[2020-06-15 20:57] eleftherias commented on #8692
Thanks for the report @gonozalviii.

This was already brought up and fixed in gh-8316.
This functionality is available in version 5.4.0-M1 and will be available in GA releases starting with 5.4.0.

[2020-06-15 20:57] #8692 closed

[2020-06-15 20:58] rwinch commented on #8684
Thanks for the report @akefirad

There is no need to extend `GlobalMethodSecurityConfiguration`. You can just provide a `PermissionEvaluator` bean and it will be used.

The error is expected behaviour. The [GlobalMethodSecurityConfiguration Javadoc](https://docs.spring.io/spring-security/site/docs/5.3.x/api/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityCon

[2020-06-15 20:58] #8684 closed

[2020-06-15 22:05] jzheaux commented on #8689
@yukihane thank you for the suggestion that the exception be refined. It's a nice improvement to be able to replace an NPE with a more helpful error message.

Would you be interested in submitting a PR to change this check into a for loop?

[2020-06-16 05:08] edmundham opened #8694 "Differentiate JwtException that is thrown by NimbusJwtDecoder"
Hi Spring-Security experts,

I have a feature request which will help error handling on NimbusJwtDecoder.

**Expected Behavior**

`NimbusJwtDecoder#decode` should differentiate its exceptions so that library consumers can do proper checks.

I am proposing a new enum constant class for clear reason for the errors.

It will be something like the below class:
[code]

The above class can be added to t

[2020-06-16 08:28] ninjacoda commented on #8608
Thanks, @jzheaux . Unfortunately,

[code]

still defines

[code]
and

[code]
in its dependency management, so this is still broken for JSON Path asserts:

[code]
and

[code]
I'm not sure this is the right project to report it to, though - or if this ticket will reopen.
If not, I might try the main spring boot project instead...

[2020-06-16 13:28] MatCuk opened #8696 "OAuth2AccessTokenResponse.Builder does not set expiresAt from refresh token"
**Describe the bug**
OAuth2RefreshToken always sets expiresAt to null
https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/OAuth2RefreshToken.java

**To Reproduce**
Have refresh token with "exp" field set.

**Expected behavior**
org.springframework.security.oauth2.core.OAuth2RefreshToken should have expiresAt set f

[2020-06-16 13:48] jzheaux commented on #8608
Thanks for this extra information, @ninjacoda, and sorry this is still a problem for you.

You are correct that Spring Boot manages dependencies via `spring-boot-dependencies` and that filing a ticket there is a good place to begin addressing that concern.

[2020-06-16 14:11] sentinalll commented on #8675
As I can see, `OAuth2AuthorizationRequestRedirectFilter` saves request only if  `ClientAuthorizationRequiredException` is thrown. But in my case, this code is not invoked and the request is not saved. I am configuring `exceptionHandling` for `HttpSecurity` to check if the request was Ajax and do all these steps described above.

[2020-06-16 15:12] jzheaux commented on #8694
@edmundham, thanks for the suggestion. This is also something that I [raised with Nimbus](https://bitbucket.org/connect2id/nimbus-jose-jwt/issues/264/badjwtexception-contains-no) a while back - I think that would probably need to come first since there are many times when Spring Security wouldn't know what code to add.

Perhaps you'd be interested in engaging with Nimbus to supply a PR over there?

[2020-06-16 16:42] edmundham commented on #8694
Hi @jzheaux , thanks for the suggestion. I will take a look at `JwtIssuerValidator` and `JwtIssuerAuthenticationManagerResolver`.

There is another case where I need to check exceptions thrown by one of the default validators (expiry check), but it does seem like an enhancement on Nimbus side. Closing this ticket :)

[2020-06-16 16:42] #8694 closed

[2020-06-16 18:17] gonozalviii opened #8697 "Kotlin Configuration DSL: Use reified types wherever a class is used as a parameter"
**Expected Behavior**

Functions that take a class as a parameter could be written in a idiomatic kotlin way like
`addFilterAt<BasicAuthenticationFilter>(myFilter)` also removing some noise.

**Current Behavior**

The current version of the function takes a java class as a parameter:
`addFilterAt(myFilter, BasicAuthenticationFilter::class.java)`

**Context**

When using any Kotlin DSL I don't expe

[2020-06-16 18:37] spring-issuemaster commented on #8659
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-06-16 20:02] jzheaux commented on #8535
How is this coming, @AbstractConcept? Are you still able to provide a PR?

[2020-06-16 20:13] AbstractConcept commented on #8535
@jzheaux Yes, apologies for the delay. The PR should be submitted by the end of this week (at the latest).

[2020-06-16 21:56] #8689 closed

[2020-06-16 22:24] rwinch commented on #8691
Thanks for the detailed writeup. I've started work on this [in a branch](https://github.com/rwinch/spring-security/tree/gh-8691-patternparser), but I have a few questions.

The first is that Spring Security uses [some default logic](https://github.com/rwinch/spring-security/blob/f640137b8efeb577c1957577cfedb67c521eca78/web/src/main/java/org/springframework/security/web/servlet/util/matcher/MvcRequ

[2020-06-16 23:58] jzheaux commented on #6489
@qavid are you still thinking about submitting a PR for this issue?

[2020-06-17 06:48] ovidiupopa91 commented on #7890
Hi @jgrandja  if it's ok I can take a look and provide the ```JdbcReactiveOAuth2AuthorizedClientService```

[2020-06-17 07:29] sonOfRa opened #8699 "Injecting AuthenticationPrincipal expressions as fields"
**Expected Behavior**
It would be nice if the following would be possible:
[code]

**Current Behavior**
[code]
Currently, the AuthenticationPrincipal and the expressions are only available if injected as method arguments into the controller enpoints.

**Context**
We make use of code generation from swagger and OpenAPI specifications, which generate only the actual parameters of the endpoint as met

[2020-06-17 09:53] benba opened #8700 "OAuth2AuthorizedClientArgumentResolver could use OAuth2AuthorizedClientManager registered in context"
**Describe the bug**
`OAuth2ClientConfiguration.OAuth2ClientWebMvcSecurityConfiguration` does not use the `OAuth2AuthorizedClientManager` provided by the Spring configuration, therefore `@RegisteredOAuth2AuthorizedClient` annotated parameters do not use potential customization done in the config.

**To Reproduce**
Let's say you want to customize the access token response for a refresh like describ

[2020-06-17 10:25] benba opened #8701 "OAuth2AccessTokenResponse should allow to customize behavior in absence of "expires_in" parameter"
**Expected Behavior**
From the spec quoted by `OAuth2AccessTokenResponse` (https://tools.ietf.org/html/rfc6749#section-5.1) the default value could differ depending on the AS.

         RECOMMENDED.  The lifetime in seconds of the access token.  For
         example, the value "3600" denotes that the access token will
         expire in one hour from the time the response was generated.
         I

[2020-06-17 12:36] jgrandja commented on #7890
@ovidiupopa91 That would be great! The issue is yours.

[2020-06-17 12:54] benba opened #8702 "OAuth2AccessTokenResponse.expiresIn() is ignored when initialized from another response"
**Describe the bug**
OAuth2AccessTokenResponse doesn't use values provided to `expiresIn()` method when it was originally built from a previous response (through the `withResponse()` method).

**Expected behavior**
The newly created token response should update `expiresAt` using the value the provided to `expiresIn()`, or maybe throw an exception if keeping the original `expiresAt` value is done o

[2020-06-17 14:43] rwinch opened #8704 "Add Maximum RSocket Connections"
We should allow restricting the maximum number of connections in RSocket by an identifier. Identifiers that should have first class support are the authenticated user and IP Address

[2020-06-17 15:09] jzheaux commented on #8699
Thanks for the suggestion, @sonOfRa.

I think a concern to address here is thread-safety since multiple threads would share the same instance of your controller. How would Spring ensure that each thread gets its own `azp`?

The way it works with `HttpServletRequest` is that Spring injects a proxy to access a thread-local variable. Because `HttpServletRequest` is an interface, this works. `String`

[2020-06-17 15:09] #8699 closed

[2020-06-17 16:30] patelneelj opened #8705 "spring-security-web is not consistence with % and ;"
**Describe the bug**
In the spring version: 5+ (5.1.9 spring-security-web) for `%` and `;`

1) spring framework is throwing full stack trace.
2) with Http response code 500 instead of 400

**To Reproduce**
If I send input filed like for GET /Users/{name} -- Name of User = "User1;" or "User2%" we can see the following response with full stack trace information.

 With this `//`, `\`, or` //` **with

[2020-06-17 17:22] rwinch opened #8706 "Remove Travis"
Now that we use GitHub Actions for Pull Requests (gh-8680) we should remove Travis

[2020-06-17 19:38] rwinch opened #8712 "Use Spring Snapshots in Snapshot Build Again"
Use Spring SNAPSHOTs again in build once https://github.com/spring-projects/spring-framework/issues/25271 is resolved

[2020-06-17 19:56] jzheaux opened #8713 "Simplify Multitenancy Sample"
With https://github.com/spring-projects/spring-boot/issues/19426, the multi-tenancy sample can be simplified, allowing Boot to construct the `JwtDecoder` and `OpaqueTokenIntrospector`.

While here, this sample can also be simplified in a few other ways:

- Use a header instead of a path element
- Extract the custom `AuthenticationManagerResolver` into its own class
- Remove the use of the word "te

[2020-06-17 20:05] #8713 closed

[2020-06-17 22:48] elliedori opened #8715 "Use Github Actions PR pipeline in 4.2.x"
Switch from Travis to Github Actions workflow for PRs

Original PR to master: #8680

[2020-06-17 22:58] elliedori opened #8716 "Use Github Actions PR pipeline in 5.0.x"
Switch from Travis to Github Actions workflow for PRs

Original PR to master: #8680

[2020-06-17 22:58] elliedori opened #8717 "Use Github Actions PR pipeline in 5.1.x"
Switch from Travis to Github Actions workflow for PRs

Original PR to master: #8680

[2020-06-17 22:59] elliedori opened #8718 "Use Github Actions PR pipeline in 5.2.x"
Switch from Travis to Github Actions workflow for PRs

Original PR to master: #8680

[2020-06-17 22:59] elliedori opened #8719 "Use Github Actions PR pipeline in 5.3.x"
Switch from Travis to Github Actions workflow for PRs

Original PR to master: https://github.com/spring-projects/spring-security/pull/8680

[2020-06-18 10:48] rstoyanchev commented on #8691
The null return value means that no matching handler as found and that Spring MVC would return a 404 or some other 4xx code in case of a near match (e.g. 405) when it processes the request. Whether the pattern matching was done with PathPattern's or PathMatcher shouldn't matter since either way it is not a match. So I would think that any default matching that Spring Security uses in this scenario

[2020-06-18 11:41] m-aigner opened #8725 "Document how BindAuthenticator fetches attributes"
As requested, I am splitting the long and unclear #8560 into several issues. This issue is about documenting how `BindAuthenticator` fetches attributes.

## Behaviour

There are two ways to use `BindAuthenticator`. Way one: call `setUserDnPatterns`. Way two: call `setUserSearch`.

If you choose the first way, `BindAuthenticator` will attempt to bind with the dnPatterns you gave it. It will not, as

[2020-06-18 11:45] m-aigner opened #8726 "Document how to tell BindAuthenticator which attributes to fetch"
As requested, I am splitting the long and unclear #8560 into several issues.  This issue is about documenting how one tells `BindAuthenticator` which attributes to fetch.

## Behaviour

I've explained `BindAuthenticator`'s general behaviour in #8725.

With the search-and-bind strategy, you can tell `BindAuthenticator` which attributes to return by calling `setReturningAttributes` on a search which

[2020-06-18 11:50] m-aigner opened #8727 "Think about changing how BindAuthenticator fetches attributes"
As requested, I am splitting the long and unclear #8560 into several issues.  This issue is about (thinking about) changing how `BindAuthenticator` fetches attributes.

## Current behaviour

I've documented the behaviour in #8725. I suspect you'll agree that it's confusing.

## Better behaviour

One of:
  - with both bind strategies, we fetch the attributes with the same
    permissions
  - we let

[2020-06-18 11:52] m-aigner opened #8728 "Think about changing how one tells BindAuthenticator which attributes to fetch"
As requested, I am splitting the long and unclear #8560 into several issues.  This issue is about (thinking about) changing how to tell `BindAuthenticator` which attributes to fetch.

I've described the behaviour in #8726. It's potentially confusing, and somewhat unergonomic.

## Better behaviour

Have a single method the user can call to say "fetch these attributes" which works regardless of auth

[2020-06-18 11:55] m-aigner commented on #8560
So, uh, sorry that this took a literal eternity. I had a fairly busy three weeks, and splitting this up (well) wasn't *no* work. I should be able to respond more quickly in the future.

The repo I promise above is linked in all but one of the issues.

This issue, you can close; I'm not closing it myself, because if you want to tell me something which spans several of the issues I just created (e.

[2020-06-18 14:40] #8712 closed

[2020-06-18 14:47] rwinch commented on #8712
Spring Framework reverted the Kotlin version which fixed building Spring Security against Spring Framework SNAPSHOTs https://github.com/spring-projects/spring-framework/commit/6b355df903e50d5bc7001bfb54c9612f226d8bd0

[2020-06-18 15:58] ButchQiuQiu opened #8729 "An unexpected error occurred while trying to add custom Filter to Security interception chain."
# issue
* An unexpected error occurred while trying to add custom Filter to Security  interception chain.
* If I inject this custom Filter into the Spring container, it will work, but will not appear on the Security interception chain, and will become a normal global Filter.
## Code
[code]
* For example, the execution order does not meet the expectations of methods such as addFilterBefore, and the

[2020-06-18 16:32] jzheaux commented on #8729
Thanks for getting in touch, @ButchQiuQiu, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issu

[2020-06-18 16:32] #8729 closed

[2020-06-18 16:37] ButchQiuQiu commented on #8729
Thinks for your responce.

[2020-06-18 17:11] qavid commented on #6489
@jzheaux I would really like to, but i don't have much time. I'll try this weekend and I will let you know.

[2020-06-18 18:01] #8661 closed

[2020-06-18 19:19] jzheaux commented on #8459
Sure, I think those could be reasonable, @nenaraab.

Let's wait and see if someone has a concrete use case where the `MockMvc` support doesn't help, but OIDC-based annotation support would.

[2020-06-18 20:06] ch4mpy commented on #8459
@jzheaux do you mean something more than unit-testing a secured `@Component` that isn't a `@Controller` (such as a `@Service`) ?

[2020-06-18 20:51] patelneelj commented on #8705
@leon FYI

[2020-06-18 22:54] jzheaux commented on #8459
Sorry, I wasn't clear. I agree that testing a `@Service` is a sensible idea and that a `@WithMockOidcUser` annotation would be helpful there.

What I'm trying to ascertain specifically is what is the minimum set of claims to support for a feature like this to be valuable to the community. It seems like listening for real-world use cases is a good way to figure out what that minimum set is.

Does t

[2020-06-19 00:05] ch4mpy commented on #8459
The app I'm working on now is accessing `sub`, `email` and `preferred_username`.

In my lib, I chose to map all standard claims (from `org.springframework.security.oauth2.core.oidc.IdTokenClaimAccessor` and `org.springframework.security.oauth2.core.oidc.StandardClaimAccessor`). I don't think it's much of a problem to maintain.

[2020-06-19 07:39] vpavic commented on #8502
Sorry for the late follow-up - I don't recall any specific intent around that.

[2020-06-19 08:04] jrehwaldt opened #8730 "Spring Boot 2.3.x refuses JWT tokens with custom `typ` header"
Spring Boot 2.3.x.RELEASE applies additional non-standard validation on JWT tokens due to upgrade to NimbusDS 8.x.

With Spring Boot 2.2.2.RELEASE a JWT token with header field `typ: "JWS"` validates fine. In Spring Boot 2.3.0.RELEASE such a token is rejected due to [a breaking change in NimbusDS 8.x](https://bitbucket.org/connect2id/nimbus-jose-jwt/commits/ee6aec33c6349ebc85de37f4b76da7f1feeb0ee5

[2020-06-19 08:50] jeanblanchard commented on #8693
A side-note: Currently, the entityId for the Service Provider is set to `{baseUrl}/saml2/service-provider-metadata/{registrationId}`, which looks like a metadata URL, but is not bound to an actual endpoint, so that's a bit strange. At least I was surprised and initially thought something was wrong.

[2020-06-19 09:05] jeanblanchard opened #8731 "Support sending SAML 2.0 LogoutRequest to the IdP (Single Logout)"
**Expected Behavior**

It would be nice to be able to send a `samlp:LogoutRequest` to the SAML Identity Provider, to trigger a Single Logout.

**Current Behavior**

Currently you can only do a local logout (=invalidate the session), but you stay authenticated to the IdP.
In an authentication-required app, this means that, as soon as you log out locally, you get immediately redirected to the IdP, w

[2020-06-19 09:11] jeanblanchard commented on #8685
I created #8731 for the "trigger a Single Logout" part, which is pretty important I think.

The other part would be receiving a Single Logout request from the IdP (i.e. the Single Logout was triggered from another SP), but I think it's less important (at least I for one have never used this)

[2020-06-19 15:27] rwinch commented on #8691
This won't work because depending on the rule the user is setting it might be more or less restrictive. For example, the matching might be to denyAll which we would want the pattern to match more things or it might be permitAll in which case we'd want it to match fewer items.

I wonder if there would be a way to expose single `PathPatternParser` so Spring Security could use that vs exposing it on

[2020-06-19 15:33] rstoyanchev commented on #8691
Challenge is, each HandlerMapping can have its own PathPatternParser.

[2020-06-19 15:51] rwinch commented on #8691
I don't think we can parse up front. Spring Security may have a rule specified that matches multiple HandlerMapping instances. Consider a rule of `/admin/**` for security. Spring MVC may have one `HandlerMapingIntrpospector` match `/admin/foo` and another `HandlerMappingIntrospector` match `/admin/bar`.

[2020-06-19 16:13] #8560 closed

[2020-06-19 16:31] rwinch commented on #7890
Another thing to keep in mind is that Spring Framework 5.3 is adding support for r2dbc https://github.com/spring-projects/spring-framework/pull/25065 It might be valuable to build off of that and wait until we are on Spring Framework 5.3

[2020-06-19 16:39] rwinch commented on #8725
The suggested location sounds good to me. We can always refactor things as needed.

[2020-06-19 16:39] rwinch commented on #8726
This sounds good.

[2020-06-19 16:41] rwinch commented on #8728
We cannot revert the behavior as it would break the reporter of that issue. We should instead consider allowing a strategy to be provided or customized.

[2020-06-19 16:42] rwinch commented on #8727
I think the ship has sailed on reverting the commit. We instead need to find a good way to allow users to customize the behavior.

[2020-06-19 17:13] jgrandja commented on #7890
Thanks for the heads up @rwinch. I totally agree that we should wait until Spring Framework 5.3 is out and leverage the provided implementations.

@ovidiupopa91 Let's hold off on this for now. I would rather write less code than more so let's wait until Spring Framework 5.3 is out and then we can proceed.

[2020-06-19 18:41] materia2021 commented on #8730
This is my problem too. Since the IdentityServer4  uses “at+jwt” JWT typ. Token validation always fail. Good thing I have control in the IS4 and set its typ to “jwt”

[2020-06-19 19:56] rwinch commented on #8705
Thanks for the report. This appears to be a duplicate of gh-5007 which was resolved via gh-7052. Starting in Spring Security 5.4 you will be able to configure the `RequestRejectedHandler` by exposing it as a Bean with something like `HttpStatusRequestRejectedHandler` to change how rejected requests are processed.

Can you confirm this is a duplicate?

[2020-06-19 20:07] rwinch commented on #7890
We could start something in a branch that is based of the current Spring Framework snapshots and then it would be ready when Framework released.

[2020-06-19 20:56] patelneelj commented on #8705
@rwinch Thank you for your response. I believe the one which you are talking about  https://github.com/spring-projects/spring-security/issues/5007 is only dealing with "//" or "\".
This is some special edge case, where for "%"  and  ";"  spring security web is throwing 500 response code with the full stack trace.
I think, for % and ; the same expectation we have as in response wise without exposin