[2019-11-01 14:09] jgrandja commented on #7544
@frzme I'm going to close this issue and associated PR since  `DefaultReactiveOAuth2AuthorizedClientManager` is designed to work within a request context and therefore works-as-designed. Keep track of #7569 as this is the `ReactiveOAuth2AuthorizedClientManager` implementation you will need to use to operate outside of a request context.

[2019-11-01 14:17] codemasterover9000 commented on #6947
Hi, we just upgraded to Spring Boot from 2.1.1 to 2.2.0. Now we have a failing test for our custom jwtAuthenticationConverter. It seems the implementation of method Jwt.getClaimAsStringList() has changed.

We had a case test where the authorization server sends a space separated list of authorities. In that case getClaimAsStringList() returned null and we did the parsing ourselves. Now it returns

[2019-11-01 15:24] jgrandja commented on #7583
@janzyka This is an interesting use case. Can you provide more details of the error when the `refresh_token` grant fails on the provider?

As per spec, in [6. Refreshing an Access Token](https://tools.ietf.org/html/rfc6749#section-6):

   verification or is invalid, the authorization server returns an error
   response as described in Section 5.2

If you look at Section 5.2, it seems to me that th

[2019-11-01 16:05] jzheaux opened #7592 "Add OidcIdToken.Builder"
Related to #6851, it would be handy to be able to create an `OidcIdToken` with a builder.

[2019-11-01 16:06] jzheaux opened #7593 "Add OidcUserInfo.Builder"
Related to #6851, it would be nice to be able to construct an `OidcUserInfo` instance using a builder.

[2019-11-01 16:10] mkheck commented on #7160
Hey @jzheaux, I wouldn't mind taking a run at this. Please let me know your thoughts.

[2019-11-01 16:15] elch78 commented on #7586
I made an attempt to fix this [here](https://github.com/elch78/spring-security)

The unit test is green, but I'm not so confident that it's enough since I removed quite a bit of the logic in getLoginEntryPoint method. Maybe we can discuss my changes.

[2019-11-01 16:20] rwinch commented on #7588
@epictecch Thanks for the report. When I first read through this it seems like it is an Eclipse issue since it works fine from the commandline.

I was able to reduce this down to [a sample](https://github.com/rwinch/gh-7588/blob/master/src/test/java/com/example/securitydemo/SecurityDemoApplicationTests.java) that does not even use Spring.

[code]

If you run the sample in STS with `Run As -> JUnit

[2019-11-01 16:20] #7588 closed

[2019-11-01 18:40] spring-issuemaster commented on #4311
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-11-01 18:40] #4311 closed

[2019-11-01 18:57] ReginaldoSantos commented on #4943
+1

[2019-11-01 20:00] ghostd commented on #7569
HI,

Can we expect a sample (in the repo or in the official documentation or elsewhere) showing how to combine those classes to run a batch (or some code without web context) with OAuth ?

Regards

[2019-11-01 20:08] philsttr opened #7594 "Support method security annotations for both synchronous and reactive methods in the same app."
### Summary

I'd like the ability to use method security annotations (e.g. `@PreAuthorize`) on both synchronous and reactive methods within the same application.

`@EnableGlobalMethodSecurity` enables method security annotations (e.g. `@PreAuthorize`) to be used on synchronous methods.  When checks are performed, the `SecurityContext` is read from `SecurityContextHolder`.

`@EnableReactiveMethodSe

[2019-11-02 04:15] planitian commented on #7591
@rwinch Thank you very much

[2019-11-02 04:17] planitian commented on #7588
@ankurpathak I learn,thank you very much

[2019-11-02 08:17] ankurpathak opened #7595 "Build Failure Because of Gradle Task checkstyleNohttp"
Build process for my pull request:
https://github.com/spring-projects/spring-security/pull/7589

 is failing with following stack trace and beacuse of gradle task checkstyleNohttp:
<code>
ankur@ankur-pc:~/IdeaProjects/spring-security$ gradle  clean build integrationTest

[ant:checkstyle] [ERROR] /home/ankur/IdeaProjects/spring-security/config/out/production/resources/org/springframework/security/c

[2019-11-02 08:27] ankurpathak commented on #7569
@jgrandja Here is complete pull request with tests. I have some confusion on name of class and instance variables. So lets agree with some commons on them and if it needs any modification do let me know.

[2019-11-02 22:25] janzyka commented on #7583
@jgrandja First of all, thank you very much for following up! I really appreciate it.

Error on our proprietary corporate OAuth2 is `HTTP 400`:
[code]

I agree this is not according to the spec - in this particular case it should be indeed `invalid_grant`. It may be tricky for me to fix though as I don't own the authorization server. .

Talking from a perspective of long running service with backe

[2019-11-02 23:16] rolaca11 opened #7596 "Allow for multiple Jwt to GrantedAuthorizies converters"
It is quite hard to have multiple converters extract granted authorities from JWT tokens.

In the case of an authorization server created with the latest version of spring-security supporting one, the Jwt tokens generated by the auth server contains a claim named `authorities`, which is an array of strings based on what authorities a user has.

The new version of OAuth Resource server ignores this

[2019-11-03 09:32] ChristianSch opened #7598 "ACL: acl_class class vs class_id_type for BasicLookupStrategy"
### Summary
Hi! I'm trying to use ACL with Spring Boot.

### Actual Behavior
 I used the schemas as specified [here](https://docs.spring.io/spring-security/site/docs/3.0.x/reference/appendix-schema.html) (in this case H2) and I try to use the BasicLookupStrategy. I tried both names, `class` and `class_id_type` for the table `acl_class`, neither work out of the box because BasicLookupStrategy tries

[2019-11-03 14:00] prashdeep opened #7599 "Encoded password does not look like BCrypt with inmemoryAuthentication"
When I am using inmemory authentication using BCryptPassword encoder, Authentication is failing and the logs states that `Encoded password does not look like BCrypt`.
The same code works with DAOAuthenticationProvider.

I have configured inmemory authentication provider with BCryptPassword Encoder and passing the credentials using Postman client. I am getting 401 error.

Expected 200 OK but gettin

[2019-11-04 01:43] LeeHainie opened #7600 "insecurity org.springframework.security.access.expression.SecurityExpressionRoot problem"
private Set<String> getAuthoritySet() {
		if (roles == null) {
			roles = new HashSet<>();
			Collection<? extends GrantedAuthority> userAuthorities = authentication
					.getAuthorities();

			if (roleHierarchy != null) {
				userAuthorities = roleHierarchy
						.getReachableGrantedAuthorities(userAuthorities);
			}

			roles = AuthorityUtils.authorityListToSet(userAuthorities);
		}

		return ro

[2019-11-04 01:44] #7600 closed

[2019-11-04 01:47] LeeHainie opened #7601 "The problem in the org.springframework.security.access.expression.SecurityExpressionRoot"
Code:

        private Set<String> getAuthoritySet() {
		if (roles == null) {
			roles = new HashSet<>();
			Collection<? extends GrantedAuthority> userAuthorities = authentication
					.getAuthorities();

			if (roleHierarchy != null) {
				userAuthorities = roleHierarchy
						.getReachableGrantedAuthorities(userAuthorities);
			}

			roles = AuthorityUtils.authorityListToSet(userAuthorities);

[2019-11-04 01:54] LeeHainie commented on #7601
In line 161.

[2019-11-04 01:57] LeeHainie opened #7602 "The problem in the org.springframework.security.access.expression.SecurityExpressionRoot"
Code:
	private Set<String> getAuthoritySet() {
		if (roles == null) {
			roles = new HashSet<>();
			Collection<? extends GrantedAuthority> userAuthorities = authentication
					.getAuthorities();

			if (roleHierarchy != null) {
				userAuthorities = roleHierarchy
						.getReachableGrantedAuthorities(userAuthorities);
			}

			roles = AuthorityUtils.authorityListToSet(userAuthorities);
		}

		re

[2019-11-04 01:58] #7602 closed

[2019-11-04 03:46] langrp commented on #7452
Duplicate of #[5766](https://github.com/spring-projects/spring-security/issues/5766)

[2019-11-04 03:46] #7452 closed

[2019-11-04 07:40] epictecch commented on #7588
Thank you very much, rwinch.
I opened a bug report for eclipse.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=552646

[2019-11-04 09:55] MichaelVetter commented on #7570
If there are no code adaptions to Spring Security that are necessary because of the dependency update then we can handle the versions with maven. However, users that are not aware of this CVE will get the insecure dependency when they use the other branches.

[2019-11-04 10:45] barrelmonkey commented on #4197
I appreciate this is quite old, but it remains open and I wanted to comment on our recent pen test findings.

the calculateRedirectUrl method strips out the scheme and then looks for the contextPath.
For applications that are running at base it finds '/', removes this, and then returns the rest of the url.

This presents a vulnerability that can be exploited by attackers added more '/' characters

[2019-11-04 13:35] ptahchiev commented on #2603
Wow, I can't believe this issue is still open.

[2019-11-04 14:02] eleftherias commented on #5438
@aj-jaswanth Please see my comments on the PR gh-5439.

[2019-11-04 14:47] heruan commented on #7543
Any feedback about this?

[2019-11-04 16:40] matt-domsch-sp commented on #6053
FYI, the OpenID Foundation Fast Federation Working Group is defining a standard that will require RFC 7523 support. Lack of this in Spring will slow development and adoption of this emerging standard.
https://bitbucket.org/openid/fastfed/src/master/text_spec/FastFed-1.0-Draft-01.txt

[2019-11-04 17:09] rwinch opened #7603 "Update to Spring 5.2.1.RELEASE"
Update to Spring 5.2.1.RELEASE

[2019-11-04 17:09] rwinch opened #7604 "Update to Spring Data Moore-SR1"
Update to Spring Data Moore-SR1

[2019-11-04 17:09] rwinch opened #7605 "Update to AspectJ 1.9.4"
Update to AspectJ 1.9.4

[2019-11-04 17:09] rwinch opened #7606 "Update to GAE 1.9.76"
Update to GAE 1.9.76

[2019-11-04 17:09] rwinch opened #7607 "Update to Reactor Dysprosium-SR1"
Update to Reactor Dysprosium-SR1

[2019-11-04 17:09] rwinch opened #7608 "Update to Bouncy Castle 1.64"
Update to Bouncy Castle 1.64

[2019-11-04 17:09] rwinch opened #7609 "Update to powermock 2.0.4"
Update to powermock 2.0.4

[2019-11-04 17:09] rwinch opened #7610 "Update to Unbounded 4.0.12"
Update to Unbounded 4.0.12

[2019-11-04 17:09] rwinch opened #7611 "Update to hibernate-entitymanager 5.4.8.Final"
Update to hibernate-entitymanager 5.4.8.Final

[2019-11-04 17:09] rwinch opened #7612 "Update to hibernate-validator 6.1.0.Final"
Update to hibernate-validator 6.1.0.Final

[2019-11-04 17:09] rwinch opened #7613 "Update to blockound 1.0.1.RELEASE"
Update to blockound 1.0.1.RELEASE

[2019-11-04 17:13] #7603 closed

[2019-11-04 17:13] #7604 closed

[2019-11-04 17:13] #7605 closed

[2019-11-04 17:13] #7606 closed

[2019-11-04 17:13] #7607 closed

[2019-11-04 17:13] #7608 closed

[2019-11-04 17:13] #7609 closed

[2019-11-04 17:13] #7610 closed

[2019-11-04 17:13] #7611 closed

[2019-11-04 17:13] #7612 closed

[2019-11-04 17:13] #7613 closed

[2019-11-04 17:16] #7532 closed

[2019-11-04 17:24] jgrandja commented on #6053
Thanks for the info @matt-domsch-sp. Would you happen to know which providers currently support RFC 7523?

[2019-11-04 18:12] eleftherias commented on #4507
Closing in favour of gh-4165.

[2019-11-04 18:12] #4507 closed

[2019-11-04 18:50] jzheaux commented on #7596
Thanks for your interest in making Spring Security better, @rolaca11.

It seems to me that supporting the `authorities` claim is already pretty simple:

[code]

So, I'm not really seeing the benefit of adding complexity to the DSL.

There may be value in a `DelegatingJwtGrantedAuthoritiesConverter`, though. Can you explain more about what you are trying to achieve in your application? Is it simply

[2019-11-04 18:56] jzheaux commented on #7595
@ankurpathak, sorry that you had some difficulties here. It looks like the build on that PR is green now.

OOC, I took a look at a couple of the complaints in your pasted log, and they are referencing URLs that are already changed to https on `master`. Is it possible that your fork didn't have the latest from `upstream/master`?

[2019-11-04 19:02] rwinch opened #7614 "Update to Spring Boot 2.1.9.RELEASE"
Update to Spring Boot 2.1.9.RELEASE

[2019-11-04 19:02] rwinch opened #7615 "Update Californium-SR13"
Update Californium-SR13

[2019-11-04 19:02] rwinch opened #7616 "Update to Spring 5.1.11.RELEASE"
Update to Spring 5.1.11.RELEASE

[2019-11-04 19:02] rwinch opened #7617 "Update to Spring Data Lovelace-SR12"
Update to Spring Data Lovelace-SR12

[2019-11-04 19:04] jzheaux opened #7618 "Add oidcLogin MockMvc Test Support"
Related to #6634.

It'd be handy to have test support for `oidcLogin`:

[code]
or
[code]

The result would be an `OAuth2AuthenticationToken` as well as an `OAuth2AuthorizedClient`.

Ideally, tests would work with controllers using `@AuthenticatedPrincipal` as well as `@RegisteredOAuth2AuthorizedClient` annotations.

[2019-11-04 19:04] spring-issuemaster commented on #7614
Fixed via 6c54e5f278d2f3760a537efe13881ac7aab0d582

[2019-11-04 19:04] spring-issuemaster commented on #7615
Fixed via a82047e61b5f6d5b5aad2f1505cb9dadaed9031a

[2019-11-04 19:04] spring-issuemaster commented on #7616
Fixed via dcb3b6940f017e57094b9a8d75bd8497eaa20c45

[2019-11-04 19:04] spring-issuemaster commented on #7617
Fixed via 62529278b501c1e780691273e009964f93578593

[2019-11-04 19:04] #7614 closed

[2019-11-04 19:04] #7615 closed

[2019-11-04 19:04] #7616 closed

[2019-11-04 19:04] #7617 closed

[2019-11-04 19:46] misisol opened #7619 "Spring security Remember me token not removed over logout"
Hi.
Im using Remember me token for my application server.

`    @Bean
    public RememberMeServices rememberMeServices()  {
        TokenBasedRememberMeServices result = new TokenBasedRememberMeServices("High3lf8LooD", userDetailsService);
        result.setAlwaysRemember(true);
        result.setCookieName("remember-me");
        result.setParameter("remember-me");
        result.setTokenValidity

[2019-11-05 03:50] ankurpathak commented on #7595
@jzheaux Yes right. I missed latest pull on upstream/master.

[2019-11-05 03:50] #7595 closed

[2019-11-05 07:39] rolaca11 commented on #7596
Hi,

Yes and originally partly no. Partly no, because I didn't realize you can set a `claimName` to the `JwtGrantedAuthoritiesConverter`, so that was my mistake. However, I do want to extract my granted authorities from both the `scope` and `authorities`.

Another concern is that no matter what, the prefix extracted by an instance of `JwtGrantedAuthoritiesConverter` will have the same prefix. So i

[2019-11-05 09:12] eleftherias commented on #7599
@prashdeep Since you are using a password encoder you will need to encode your password when storing it.
[code]

[2019-11-05 09:58] nucatus opened #7621 "Object ID Identicy conversion to long fails on old schema"
### Summary

In case of an old ACL schema where the `object_id_identity` is of type _bigint_ instead of the current _varchar(36)_, the conversion of the identity to a known type fails.

### Actual Behavior

Conversion of ACL object ID identity fails.

### Expected Behavior

Conversion of the ACL object ID identity should succeed to a known type, or long if no `class_id_type` is provided.

### Conf

[2019-11-05 13:54] rwinch commented on #7543
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-11-05 13:54] #7543 closed

[2019-11-05 13:57] rwinch commented on #7621
Thanks for the report. Can you provide a sample of that reproduces this issue?

[2019-11-05 14:46] judos commented on #5698
I got the same issue. Debugged for a while till I found out it's caused by Spring. Don't get it why they put 400 here.

@rwinch please remove the waiting-for-feedback tag as @kmatusiewicz already responses to you.
The question remains: Why does the class ResourceOwnerPasswordTokenGranter treat it as 400 ?

[2019-11-05 15:13] nucatus commented on #7621
Well, I was just looking at the history of the `aclSchema` and noticed that the type of the `object_id_identity` field changed from `BIGINT NOT NULL` to `VARCHAR(36) NOT NULL` when support for non-Long IDs was added.

In our project we have a schema where the type is `BIGINT UNSIGNED NOT NULL`. When data is extracted from the ResultSet, the mysql driver will convert this type to a BigInteger. In t

[2019-11-06 06:47] quaff commented on #7560
I hit the same problem, and created PR https://github.com/spring-projects/spring-security/pull/7623

[2019-11-06 09:14] heruan commented on #7543
Thank you @rwinch, here's the question: https://stackoverflow.com/questions/58726620

[2019-11-06 10:11] elch78 opened #7624 "OAuth2: Client registry should not try to fetch OIDC configuration in a unit test."
### Summary

In a unit test with Spring Boot Security OAuth Spring tries to load the OIDC configuration, which should not happen in a unit test.

### Actual Behavior
Important part
`Caused by: java.lang.IllegalArgumentException: Unable to resolve the OpenID Configuration with the provided Issuer of "https://dummy.com/"
...
Caused by: org.springframework.web.client.HttpClientErrorException$Forbidde

[2019-11-06 10:15] elch78 commented on #4833
Added another ticket that also relates to test support #7624

[2019-11-06 13:55] spring-issuemaster commented on #7530
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-06 14:25] rwinch commented on #7560
Closing this as a duplicate of gh-7623

[2019-11-06 14:25] #7560 closed

[2019-11-06 14:33] rwinch commented on #7556
We try and focus on the the most frequently used beans for automatic detection. I don't view `UserCache` as such a type. If you need to configure a `UserCache`, expose a `DaoAuthenticationProvider` as a Bean with the `UserCache`.

[2019-11-06 14:33] #7556 closed

[2019-11-06 14:53] #5935 closed

[2019-11-06 14:57] rwinch opened #7625 "Extract HTTP Response Headers Documentation"
### Summary

Similar to how we extracted out the CSRF documentation, we should extract the HTTP headers documentation into the about section and link to servlet and webflux specific docs

[2019-11-06 14:59] rwinch opened #7626 "Extract HTTPS Documentation"
### Summary

Similar to how we extracted out the CSRF documentation, we should extract the HTTP headers documentation into the about section and link to servlet and webflux specific docs

[2019-11-06 15:00] rwinch opened #7627 "Only Hello Spring Security Boot"
### Summary

Spring Boot is the way going forward. We should remove the other hello documentation.

[2019-11-06 15:01] rwinch opened #7628 "Extract Authentication Documentation"
### Summary
Similar to how we extracted out the CSRF documentation, we should extract the authentication into the about section and link to servlet and webflux specific docs

[2019-11-06 15:02] rwinch opened #7629 "Extract Authorization Documentation"
### Summary
Similar to how we extracted out the CSRF documentation, we should extract the authorization documentation into the about section and link to servlet and webflux specific docs

[2019-11-06 15:30] LBoraz commented on #4814
this is still an issue in 5.1.6.RELEASE

[2019-11-06 15:38] svatos-jirka commented on #7530
Hi,

I can use manager.setCreateAuthoritySql, it works. But we are use diferent databases (h2 and ms sql). In this case, I have to use some condition to manager.setCreateAuthoritySql(MS SQL script,...) or manager.setCreateAuthoritySql(H2 SQL script,....).

We solved this issue by add special schema script for MS SQL DB.

[2019-11-06 16:48] matt-domsch-sp commented on #6053
I'm aware of these uses in the wild:

- Ping Federate: https://www.pingidentity.com/en/company/blog/posts/2017/the-latest-pingfederate-release-open-banking-and-much-more.html
- Okta: https://developer.okta.com/docs/guides/build-self-signed-jwt/java/overview/
- Apigee: https://community.apigee.com/articles/35738/rfc7523-in-apigee-edge-exchanging-jwt-for-opaque-o.html
- Atlassian: https://community.

[2019-11-06 17:00] eleftherias commented on #6598
Thank you for all of your input @Dav1dde.

As you mentioned in the comment above, `@AuthenticationPrincipal` is extracting the principal from the exchange instead of the `ReactiveSecurityContextHolder`.
We should have a consistent way of retrieving the principal and therefore should change `AuthenticationPrincipalArgumentResolver` to use the `ReactiveSecurityContextHolder` instead of the exchange.

[2019-11-06 17:18] eleftherias commented on #7601
Thank you for the report @LeeHainie.
I agree that `roles = new HashSet<>();` is unnecessary.
Are you interested in submitting a PR to remove it?

[2019-11-06 17:41] eleftherias commented on #7619
@misisol I was not able to reproduce this issue.
Do you have a minimal sample that demonstrates this behaviour?

[2019-11-06 18:10] prashdeep commented on #7599
Thanks for the solution.

[2019-11-06 18:10] #7599 closed

[2019-11-06 18:49] jgrandja commented on #7624
@elch78

Given that you are using `@SpringBootTest`, the `ApplicationContext` will load and auto-configuration will take effect. And since the `issuer-uri` is configured with `https://dummy.com/`, the exception will trigger via `ClientRegistrations.fromOidcIssuerLocation()`.

You either need to configure a valid `issuer-uri` or exclude the `spring.security.oauth2.client...` configuration all toget

[2019-11-06 18:49] #7624 closed

[2019-11-06 19:34] jgrandja commented on #7583
@janzyka

Agreed. I'll give this some thought with the plan for delivering this improvement.

As you may have noticed, `PasswordOAuth2AuthorizedClientProvider` and `RefreshTokenOAuth2AuthorizedClientProvider` both have minimal logic. They both check if the access token is expired accounting for clock skew and than just delegate to their associated `OAuth2AccessTokenResponseClient`. It's not clear

[2019-11-06 19:57] jgrandja commented on #6947
@codemasterover9000 It's best to log a new issue instead of commenting on a closed issue. If you're still having problems, please log a new issue with as much detail as possible.

[2019-11-06 21:00] janzyka commented on #7583
Regarding disable refresh tokens. Ideally (to me) it would be as easy as not registering the `RefreshTokenOAuth2AuthorizedClientProvider`, this won't fly as `DefaultPasswordTokenResponseClient` acts as if there always was `RefreshTokenOAuth2AuthorizedClientProvider`.

My solution was as follows:

1. Copy the class (eh)
2. Add `supportRefreshTokens` field + constructor:
[code]
3. Amend the return s

[2019-11-06 21:06] Weinrib commented on #4943
Any updates on this?

[2019-11-06 21:38] jgrandja commented on #7583
@janzyka

You could also implement a delegation-based approach as follows:

[code]

[2019-11-06 22:05] janzyka commented on #7583
Cool, that is probably even better. I had to fix the reverted skew sign bug as well along the way but if it was purely for inheritance argument, you are 100% correct. Thanks for the tip!

[2019-11-06 22:15] jgrandja commented on #7583
The fix is available in 5.2.1 see #7511

[2019-11-06 22:34] Dav1dde commented on #6598
@eleftherias yeah I can make a PR for this!
Might take me 1-2 weeks though, currently rather busy with work.

The change to `ReactiveSecurityContextHolder` makes sense to me, but also raises the question why the exchange has a `getPrincipal()` method at all, but I assume there is/was a good reason for it.

[2019-11-07 00:51] tggm opened #7630 "Throwing an Exception inside AuthenticationProvider.authentication() causes a return 200."
### Summary
AuthenticationProvider implementations deal with exceptions differently in the `authenticate()` method.

### Actual Behavior
Consider an `AuthenticationProvider `(`org.springframework.security.authentication.AuthenticationProvider`) implementation. If the `authenticate(Authentication authentication)` method throws a `java.lang.Exception` the framework will return an HTTP 200 code to th

[2019-11-07 03:39] LeeHainie commented on #7601
Yes, I'd love to.

[2019-11-07 03:40] LeeHainie opened #7631 "Thank you for the report @LeeHainie."
Thank you for the report @LeeHainie.
I agree that `roles = new HashSet<>();` is unnecessary.
Are you interested in submitting a PR to remove it?

_Originally posted by @eleftherias in https://github.com/spring-projects/spring-security/issues/7601#issuecomment-550411278_

[2019-11-07 03:40] #7631 closed

[2019-11-07 05:50] misisol commented on #7619
This is all I got for the remember me token system :
<img width="1203" alt="Screen Shot 2019-11-07 at 9 16 47 AM" src="https://user-images.githubusercontent.com/26188869/68363328-c0f3ec00-013f-11ea-88b3-beebbcc0e29b.png">
<img width="1127" alt="Screen Shot 2019-11-07 at 9 17 16 AM" src="https://user-images.githubusercontent.com/26188869/68363334-c5b8a000-013f-11ea-8d2f-b3263f97b320.png">

[2019-11-07 09:27] eleftherias commented on #7601
Closed in 4b4c6e6.

[2019-11-07 09:27] #7601 closed

[2019-11-07 10:45] eleftherias commented on #7619
@misisol Thank you for sharing your code.
Looking at what you have provided I don't see anything that would cause the cookie to remain after logout.
If you can create a minimal sample that reproduces this issue, then we can help you debug it.

[2019-11-07 12:55] #4140 closed

[2019-11-07 15:49] rwinch commented on #7530
That makes sense. We don't plan on providing SQL for all database types, so this is something that is up to users to provide. I'm closing this issue. If you find a passive concrete improvement, please create a new ticket.

[2019-11-07 15:49] #7530 closed

[2019-11-07 16:48] rwinch opened #7636 "Add custom ServerHttpHeadersWriter to HeadersSpec"
### Summary

We should add the ability to have a custom `ServerHttpHeadersWriter` to `HeaderSpec`.

[code]

[2019-11-07 16:56] #7625 closed

[2019-11-07 20:12] rwinch opened #7637 "Provide default WebAuthn Registration Page"
### Summary

Provide default WebAuthn Registration Page

[2019-11-07 20:14] #7637 closed

[2019-11-07 22:19] mkheck commented on #7160
Hi @jzheaux, not sure what happened to my earlier comment, but I'd like to take this on if it makes sense to you. Please let me know.

[2019-11-07 22:45] piacenti opened #7638 "Spring Security OIDC Redirect Port Changes"
### Summary
Need to keep port when getting OIDC redirects
Spring Boot Application with Spring Security

### Actual Behavior
In my application.yml file I have the following under an oauth2 client registration

When hitting https://localhost:8080/someURL it initiates OIDC it redirects to
https://localhost:8443/someURL
It changes the port even though initial call was already HTTPS.

This is a problem

[2019-11-07 23:12] piacenti commented on #7638
Using any other port than 8080 has correct behavior for now...

[2019-11-07 23:12] #7638 closed

[2019-11-08 07:14] misisol commented on #7619
I've checked it again, but this time without using the Serviceworker ( We're using it for PWA ).
This time it works as expected.
But after activating the Serviceworker again, it won't.
What does it has to do with the serviceworker?

My architecture goes as below:
- if the user selects on logout -> user gets logout and redirected to login page.
- when a user is redirected to login page, if the user

[2019-11-08 08:18] frzme commented on #7544
Thank you and sorry for being unresponsive. I think it is rather unfortunate that this exact behavior which worked in the previous version of spring security (and there were also examples doing just this) is now now "broken-as-designed". I'm however fine with a natively supported alternate configuration. I see that someone has already provided one in the linked Issue, I'm happy about that and hope

[2019-11-08 09:50] clemstoquart opened #7640 "Empty RelayState causes errors with ADFS"
Hi Spring security team,

I'm using the brand new SAML 2 support with Spring Boot 2.2.1 and Spring Security 5.2.1 and I have an issue using it with Microsoft ADFS.

The ADFS doesn't like having an empty `RelayState` parameter in the redirect url. A `RelayState=` or removing `RelayState` from the url make the process works.

This behavior is coming from this method :
[code]

While this is probably

[2019-11-08 13:00] eleftherias commented on #7630
@tggm Can you provide some more detail on the type of exception you are trying to throw?
The method signature is as follows
[code]
so this method would not be allowed to throw a `java.lang.Exception`.
It can only throw an `AuthenticationException` or an unchecked exception.

[2019-11-08 14:41] eleftherias commented on #6726
Closing as the mentioned links have been fixed to function as intended. Please re-open if there are any other broken links.

[2019-11-08 19:35] jason-leagueapps commented on #6053
@jgrandja Is my interpretation correct that this POC code only applies to the client side and there isn't any work on the authorization server token endpoint side?  Is this ticket meant only for client support?

TIA!

[2019-11-08 21:12] xak2000 commented on #6726
The mentioned links weren't fixed actually.

I've updated the link to the spring-security documentation's page in the first message to point to the current master branch.

Maybe I described the problem poorly. I didn't mean that links are totally broken. They work, but they point to the totally different section of the spring-framework-reference's page. So, **only the "#hash" part is broken**.

Op

[2019-11-11 10:30] eleftherias commented on #6726
@xak2000 Thank you for such a clear and detailed explanation.
My mistake for closing this issue, I am re-opening it.

[2019-11-11 12:51] frzme commented on #7569
I think it is rather unfortunate that this feature which supported in spring security 5.1 is being treated as an addition. I think it should be treated as an regression and therefore fixed within the scope of the 5.2 release and not postponed till 5.3. Using the "wrong" (previously working) DefaultClientManager fails transparently - for users it looks like it might be working, it's just re-request

[2019-11-11 12:54] ankurpathak commented on #7636
@rwinch I would like to take this one.

[2019-11-11 13:24] cash1981 commented on #6552
@spring-issuemaster Enough information has been issued imo to reopen this

[2019-11-11 14:27] elch78 commented on #7624
If you want to support oauth2 in unit tests you can't just exclude the configuration. The tests have to mock away the network calls to the IDP somehow. I think the issue is valid.

I would prefer @WebMvcTest but that's not supported with Spring Security OAuth2. That's why the test uses @SpringBootTest.

[2019-11-11 14:32] jgrandja commented on #6053
@jason-leagueapps Yes, you are correct. This ticket addresses the client support only. I've updated the subject of this ticket to be more clear.

[2019-11-11 15:05] jgrandja commented on #7624
@elch78

Looking at your test, I don't see any oauth2-client specific tests? I only see an Actuator test.

Yes, you would need to mock this. It's not automatic.

**NOTE:** Keep track of #7620. This might be what you're looking for?

[2019-11-11 15:40] jgrandja commented on #7544
@frzme I'm re-opening and will address this in 5.2.x. My initial analysis was incorrect. Existing applications using `UnAuthenticatedServerOAuth2AuthorizedClientRepository` and upgrading to 5.2 should still work. I'll get back to this shortly.

[2019-11-11 15:43] jgrandja commented on #7569
@frzme Please see [comment](https://github.com/spring-projects/spring-security/issues/7544#issuecomment-552495521)

[2019-11-11 15:46] Felix-Indoing commented on #2629
Hi, maybe it is too late,  but do we have any alternative to this?

[2019-11-11 16:37] jakubnabrdalik opened #7641 "spring-boot-starter-oauth2-client required when using csrf()"
### Summary

In a brand new Spring Boot 2.2.1 with Spring Security, when calling csrf()
(import static org.springframework.security.test.web.servlet.request.SecurityMockMvcRequestPostProcessors.csrf)
without explicit import of spring-boot-starter-oauth2-client, compilation throws java.lang.RuntimeException: java.lang.NoClassDefFoundError: org.springframework.security.oauth2.jwt.Jwt$Builder

This l

[2019-11-11 17:34] #7512 closed

[2019-11-11 18:31] jzheaux commented on #7596
That makes sense, yes. So then you could do:

[code]

Okay, great. Yes, I think there's value in making this a bit simpler, I think in the same way that it's done with `DelegatingOAuth2TokenValidator`.

Would you be interested in changing your PR to only introduce `DelegatingJwtGrantedAuthoritiesConverter` and its corresponding tests? I'd like to hold off for now on changing the DSL, but I think a

[2019-11-11 19:57] #7570 closed

[2019-11-11 20:37] rolaca11 commented on #7596
Of course, however I'll need some time with it, because I'll be busy with other stuff this week

[2019-11-11 23:26] mftruso opened #7642 "Custom SAML Authority Extractor"
### Summary
It doesn't appear possible to use `AuthenticationManagerBuilder` config with `Saml2LoginConfigurer` to provide a custom Authority extractor.

### Actual Behavior
`OpenSamlAuthenticationProvider` always uses the default implementation for `authoritiesExtractor`. See https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/an

[2019-11-12 08:35] MichaelVetter commented on #7570
@jzheaux, why did you use version 7.8.1 instead of the identical 7.9? The NVD database still has the condition "Up to (excluding) 7.9" and the dependency check will fail.

[2019-11-13 02:24] satnav commented on #4814
Even in the 5.2.0.RELEASE this is still an issue

[2019-11-13 12:24] connorsadlervelo commented on #6736
This is a problem for us, too - will it be addressed?

[2019-11-13 15:57] GerryBennett-TexasMutual commented on #5270
I am running into simmilar issue where I am using IIS proxy infornt of  an API Gateway biuld using pring-boot-starter-webflux, spring-boot-starter-oauth2-client, spring-cloud-starter-gateway and spring-cloud-starter-security. In the configfuration for the application I have set the:
server.tomcat.protocol-header: X-Forwarded-Proto
server.use-forward-headers: true
spring.security.oauth2.client.regi

[2019-11-13 19:05] jzheaux commented on #5270
@GerryBennett-TexasMutual, thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to upd

[2019-11-13 20:09] jzheaux commented on #6736
Thanks, @SayakMukhopadhyay and @connorsadlervelo for your interest.

This is a duplicate of https://github.com/spring-projects/spring-security/issues/2629, which is blocked by https://jira.spring.io/browse/DATACMNS-293 - please find the remaining details in those tickets.

[2019-11-13 20:09] #6736 closed

[2019-11-13 21:32] jzheaux commented on #4814
@LBoraz and @satnav, I think there's some confusion caused by a difference between the title of the ticket and the final decision that was made in the PR.

Please see the updated ticket description for details.

[2019-11-13 23:16] jzheaux commented on #7641
@jakubnabrdalik I'm still looking into this. To give a quick update, this appear to behave fine in Java. For example, when I take your sample project and convert it to java, then the tests and application operate fine.

I'll see if I can find out why Groovy projects are loading the class differently.

[2019-11-13 23:40] raphaelDL commented on #5387
apologies, can someone take over this?

[2019-11-14 07:37] patpatpat123 opened #7645 "Saml2Utils Base64.getMimeDecoder() instead of private static Base64.Decoder DECODER = Base64.getDecoder();"
### Summary
Hello Filip Hanik, hello Spring Security Team,

The current utility class:

[code]

Uses .getDecoder();
The decoder should be able to use Base64.getMimeDecoder() as well, or it can results in error.

For instance, once the SAML identity provider respond with the b64 format of an xml, the current DECODER will results in

[code]

As the same b64 with Mimedecode will successfully decode i

[2019-11-14 10:00] ipsi opened #7646 "Unable to use OAuth client without adding server security"
### Summary
I would like to be able to use the OAuth client without having to include all the server side configuration, e.g., if security is provided externally by route services.

I ran into this specifically with `io.pivotal.spring.cloud:spring-cloud-services-starter-config-client`, which needs to pull in Spring Security OAuth2, because AFAICT it connects to the SCC Server via OAuth.

I realise

[2019-11-14 11:43] jgrandja commented on #4943
The Spring Security team has decided to no longer provide support for Authorization Servers.

Please see the latest announcement on [Spring Security OAuth 2.0 Roadmap Update](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update).

[2019-11-14 11:43] #4943 closed

[2019-11-14 11:46] jgrandja commented on #6133
The Spring Security team has decided to no longer provide support for Authorization Servers.

Please see the latest announcement on [Spring Security OAuth 2.0 Roadmap Update](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update).

[2019-11-14 11:46] #6133 closed

[2019-11-14 11:48] jgrandja commented on #6493
The Spring Security team has decided to no longer provide support for Authorization Servers.

Please see the latest announcement on [Spring Security OAuth 2.0 Roadmap Update](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update).

[2019-11-14 11:48] #6493 closed

[2019-11-14 11:49] jgrandja commented on #6320
The Spring Security team has decided to no longer provide support for Authorization Servers.

Please see the latest announcement on [Spring Security OAuth 2.0 Roadmap Update](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update).

[2019-11-14 14:31] jgrandja commented on #7646
@ipsi Can you provide more details on your use case? For example, are you simply using the client to obtain an access token using `client_credentials` and than using the token to call a protected resource with `WebClient`? Please be specific so we can answer your question correctly.

[2019-11-14 17:37] jzheaux commented on #7160
Yes, @mkheck, I think this would be a good fit. Forgive the delay - I've added some more detail to the description, which I wanted to confirm before handing it off.

[2019-11-14 20:14] jzheaux commented on #7636
It's yours, @ankurpathak!

[2019-11-14 21:38] jzheaux commented on #4974
Duplicates https://github.com/spring-projects/spring-security/issues/2884

[2019-11-14 21:38] #4974 closed

[2019-11-14 21:42] fprumbau commented on #5508
We are using Spring-Security since acegi times, always with acl implementation. We updated to every release since. After trying 5.1.6 to 5.2.0 we reverted and tried again with 5.2.1 but have the same error. I wonder if it could be the aftermath of this change. Maybe someone have a clue?

We'are running on Oracle 12 and our error is

org.springframework.core.convert.ConverterNotFoundException: No c

[2019-11-14 22:52] jzheaux commented on #5508
@fprumbau I think the one you are looking for is https://github.com/spring-projects/spring-security/issues/4814

`AclClassIdUtils` has a default `ConversionService` that is uses now. As a workaround, you might consider configuring a `GenericConversionService` for `BasicLookupStrategy`. Otherwise, I'd recommend that you log an issue to make sure this gets sorted out without a workaround.

[2019-11-14 23:18] jzheaux opened #7647 "Polish oauth2-client Error-handling Tests"
When testing error messages, tests are more robust when they test the error message content that is controlled by Spring Security

[2019-11-14 23:18] #7647 closed

[2019-11-15 01:21] TranNgocKhoa opened #7648 "Document Spring Security Ldap: Class LdapUtils is missing information"
### Summary

API Document  `org.springframework.security.ldap.LdapUtils` in ` spring-security-ldap` module is missing.
Link: https://docs.spring.io/autorepo/docs/spring-security/5.2.x-SNAPSHOT/api/org/springframework/security/ldap/LdapUtils.html

                                               javax.naming.Context baseCtx)
                                        throws javax.naming.NamingException

[2019-11-15 08:44] 13940344135 opened #7649 "cannot be cast to class org.springframework.security.web.savedrequest.SavedRequest"
versions：spring security 5.1.5

Spring MVC as the authentication server, spring webflux will be redirected to the spring MVC login page when they are not authenticated, they use redis to share the session.

The problem now is that
When redirected, the webflux service saves the following information to the session to recover the interrupted request:
sessionAttr: SPRING_SECURITY_SAVED_REQUEST,

When

[2019-11-15 11:35] fprumbau commented on #5508
@jzheaux Thanx a lot, you made my day. After registering a proper implementation converting BigDecimal to long everything is good again. :-)

[2019-11-15 13:05] spring-issuemaster commented on #7630
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-15 15:31] fabianfrz opened #7650 "spring security config suddently requires network access"
### Summary

The XML parser fails to load the configuration because the server has no internet access

### Actual Behavior

Spring runs into a timeout after 3 minutes and then it fails to load the XML file.

[code]

### Expected Behavior

spring security loads the xsd from the local jar file

### Configuration

Spring security configuration snippet:

[code]

### Version

Broken: 5.2.1.RELEASE

Spr

[2019-11-15 18:29] tggm commented on #7630
Apologies for the delay.

Yes, in this instance the exception thrown was an Unchecked Exception (Derived from RuntimeException). This caused the framework to return a HTTP 200 code to the client.

[2019-11-15 19:32] TheLawful commented on #7650
The mapping for spring-security.xsd was initially changed to https:// in 5.2. I wrote a bug ticket about that I don't find anymore, but changing the schemaLocation entry to

https://www.springframework.org/schema/security/spring-security.xsd

(https) should fix it. Upcoming releases will understand both http:// and https://.

[2019-11-15 19:35] jzheaux commented on #7650
Closing as a duplicate of https://github.com/spring-projects/spring-security/pull/7623

[2019-11-15 19:35] #7650 closed

[2019-11-15 19:36] TheLawful commented on #7650
Found the ticket.
https://github.com/spring-projects/spring-security/issues/7560

[2019-11-15 22:36] jzheaux commented on #7570
I selected 7.8.1 to ensure the upgrade would be taken up in the next Spring Boot point release.

Certainly, the fact that the CVE was fixed in a minor release upgrade is not ideal - and the fact that a public API got changed in a maintenance release is also not ideal. That said, I've reached out to Nimbus to update the CVE report to include 7.8.1 - you are welcome to add your voice to that: https:

[2019-11-17 14:38] ghostd opened #7651 "Connect2id exception: JSON object member with key "scope" has null value"
Hi,

I use Spring Security 5 (with Spring Boot 2.2.1) to make some oauth authorizations. One of my partners returns this kind of oauth response (the scope attribute is set to null):
[code]

With this response, i get an error with the following exception:

[code]

I already reported the [bug](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/281/) to connect2id.

[2019-11-17 19:50] codependent commented on #6320
RIP Spring Auth Server. This decission makes sense from the point of view of the Spring Team. However it was a nice alternative to other (generally) more complex solutions such as Keycloak.

[2019-11-18 00:02] aliShreef opened #7652 "Override All Default Queries of JdbcUserDetailsManager"
### Summary
I want to map my user table by id not by username column (as default).
i am using JDBC authentication in spring security , i am able to override the select Query in configuration class , but when start application i got this error
     Caused by: java.sql.SQLSyntaxErrorException: Unknown column 'username' in 'field list'
I think this cause by Insert Query
     insert into authorities (

[2019-11-18 08:17] 13940344135 commented on #4789
I can save the request to redis in spring mvc, and then restore the request after webflux authentication?

[2019-11-18 08:39] 13940344135 opened #7653 "Between WebFlux and MVC support saved request for login"
can I save the request to redis in spring mvc and then restore the request after webflux authentication?

Added: I used two services, mvc and webflux. When webflux is not authenticated, it will be redirected to the mvc login page.
However, an exception will occur at this time.
java.lang.ClassCastException: class java.lang.String cannot be cast to class org.springframework.security.web.savedrequest

[2019-11-18 14:26] andysworkshop commented on #7027
Just hit this issue myself in our corporate environment. Because of [this line](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtDecoderProviderConfigurationUtils.java#L42) I'll have to duplicate all the nice provided functionality using an http client configured with our proxy. Will be watching this issue wi

[2019-11-18 16:06] eleftherias opened #7654 "Allow configuring authenticationManagerResolver for SAML2"
### Summary

It should be easier to configure the `authoritiesExtractor`, `authoritiesMapper` and `responseTimeValidationSkew` on the `OpenSamlAuthenticationProvider`.
See gh-7642.

Allowing an `authenticationManagerResolver` for SAML2 login will allow customizing the `OpenSamlAuthenticationProvider`.

This should be similar to [OAuth2ResourceServerConfigurer.authenticationManagerResolver](https:/

[2019-11-18 16:11] eleftherias commented on #7642
Thanks for the report @mftruso.

The reason why the above configuration is not using your custom `OpenSamlAuthenticationProvider` is because you are configuring `saml2Login()` as well, which adds its own `OpenSamlAuthenticationProvider`.
The `OpenSamlAuthenticationProvider` configured by `saml2Login()` will process your request first, and therefore the request will not reach the custom `OpenSamlAu

[2019-11-18 19:19] jgrandja opened #7655 "Provide JDBC implementation of OAuth2AuthorizedClientService"
We should provide a JDBC implementation of `OAuth2AuthorizedClientService`.

Related #7889

[2019-11-18 20:07] jgrandja commented on #7646
@ipsi As discussed offline (Slack), I'm going to close this issue since you'll be raising this with the Spring Cloud Services team.

[2019-11-18 20:07] #7646 closed

[2019-11-18 20:56] jgrandja commented on #7349
@jzheaux

`BearerTokenAuthenticationFilter` is in `...web` sub-package, which is correct. I don't believe it should be moved to `...web.authentication`?

[2019-11-19 00:56] jgrandja commented on #5198
The most flexible method for mapping user authorities is using a [delegation-based strategy](https://docs.spring.io/spring-security/site/docs/current/reference/html/oauth2.html#oauth2login-advanced-map-authorities-oauth2userservice) with `OAuth2UserService`. Closing in favour of this method.

[2019-11-19 00:56] #5198 closed

[2019-11-19 01:06] jgrandja commented on #5134
Closing as the migration is handled by the UAA team.

[2019-11-19 01:06] #5134 closed

[2019-11-19 01:12] jgrandja commented on #4406
Providing an oauth2Login sample using PWS will provide no real value here since the only changes needed to work with PWS but would the values for the client registration properties. The existing [oauth2login sample](https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2login) is sufficient for anyone learning how to configure oauth2Login for any provider.

[2019-11-19 01:12] #4406 closed

[2019-11-19 01:20] jgrandja commented on #5201
This is resolved via #7284 with the new `ServerBearerExchangeFilterFunction` in 5.2.0.

[2019-11-19 01:20] #5201 closed

[2019-11-19 01:30] jgrandja commented on #4512
@rwinch Seems like this is a duplicate of #5381 ?

[2019-11-19 02:54] 13940344135 opened #7656 "The trouble of saveRequest"
When the reactive security is redirected to the login page of the servlet,
Called the RedirectServerAuthenticationEntryPoint class,
The class uses the saveRequest method of the WebSessionServerRequestCache class to save the Request.
This will cause an exception in the security of the servlet:
java.lang.ClassCastException: class java.lang.String cannot be cast to class org.springframework.security.

[2019-11-19 09:42] jgrandja commented on #4411
Closing as invalid

The user can only have 1 authenticated session

[2019-11-19 09:42] #4411 closed

[2019-11-19 11:57] iilkevych commented on #6527
https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-04#section-6.2
**JavaScript Applications with a Backend**

As soon as id/access/refresh tokens exist only in scope of Application Server session logout will make it impossible to reuse id token to access resource server. This means there is no reason to use opaque access token as do not need to check with Authorization server if sessi

[2019-11-19 13:20] OrangeDog opened #7657 "OAuth2.0 Authorization Server use-case"
As directed, here are more details on what I'm using Spring Security OAuth2.0 for.
More information can be provided privately, or clarified on request.

Original overview: http://disq.us/p/25ju58w
The system is a data-sharing platform for academic and industrial research and collaboration.
User authorization, organisation membership/management, and ACLs are managed internally.
Authentication is vi

[2019-11-19 14:00] eleftherias commented on #7630
@tggm I'm having difficulty reproducing the problem.
I am seeing an HTTP 500 status returned when throwing a `RuntimeException` in the `authenticate` method.
Can you please provide a sample that reproduces this issue?

[2019-11-19 14:37] jgrandja commented on #7657
@OrangeDog Thank you for the details. This is very helpful. Over the next few weeks, our plan is to provide samples demonstrating the various features in Spring Security OAuth 2.3.x with the matching feature implementation in Spring Security 5.2.x. The goal of these samples is to help users migrate to Spring Security 5.2.x with ease. Our plan is to use another Authorization Server in the Spring Se

[2019-11-19 14:55] OrangeDog commented on #7657
My `TokenGranter` is very simple:
[code]
It relies on the reserved client id (which is also in a different format to all the ones we assign) being the only one allowed to use "internal". The "(re)issue API token" request handler is then:
[code]

[2019-11-19 18:57] jzheaux commented on #7656
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-11-19 18:57] #7656 closed

[2019-11-19 21:43] pmoerenhout opened #7658 "Typo 'hasPermision()' in GlobalMethodSecurityBeanDefinitionParser.java"
The source file org.springframework.security.config.method.GlobalMethodSecurityBeanDefinitionParser.java has on line 210 the following:
logger.info("Expressions were enabled for method security but no SecurityExpressionHandler was configured. " + "All hasPermision() expressions will evaluate to false.");

The hasPermision() should be written as hasPermission().

[2019-11-19 21:46] jzheaux commented on #7653
Thanks for reaching out, @13940344135. Sorry, but there is no support for combining WebFlux and MVC in the same application.

[2019-11-19 21:46] #7653 closed

[2019-11-19 21:52] jzheaux commented on #7652
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-11-19 21:52] #7652 closed

[2019-11-19 22:18] jzheaux commented on #7651
Thanks, @ghostd, for taking the initiative to reach out to Nimbus. That's great that they were able to meet your needs.

You are correct that we won't take that upgrade until 5.3, which is currently scheduled for March.

Have you considered overriding the `oidc-oauth2-sdk` dependency yourself in your pom?

As for the workaround, while copying 100 lines of code is not ideal, we also won't change an

[2019-11-19 22:40] jzheaux commented on #7649
See https://github.com/spring-projects/spring-security/issues/7653

[2019-11-19 22:40] #7649 closed

[2019-11-19 22:41] jzheaux commented on #7658
Good catch, @pmoerenhout! Would you be interested in submitting a PR to correct the spelling?

[2019-11-19 22:45] jzheaux commented on #7648
Thanks for reaching out, @TranNgocKhoa.

That text is determined in https://github.com/spring-projects/spring-security/blob/master/ldap/src/main/java/org/springframework/security/ldap/LdapUtils.java#L93

Would you be interested in submitting a PR to add the missing documentation?

[2019-11-20 01:56] mftruso commented on #7642
Workaround works great! Thanks @eleftherias!

[2019-11-20 02:23] jzheaux commented on #7598
Sorry to hear you are having trouble, @ChristianSch.

Since `BasicLookupStrategy` doesn't include `class_id_type` by default, I believe the correct fix here is to change `BasicLookupStrategy` to not collaborate with `AclClassIdUtils` by default.

I think these lines:

[code]

Are the ones in error since they assume that `BasicLookupStrategy` wants to work with `AclClassIdUtils` (and by association

[2019-11-20 06:02] aliShreef commented on #7652
@jzheaux Thank you for your feedback , but it seems that my question can be categorize depending on your answer.
what i mean that if spring support for override all default JDBC queries , so this question will be suitable for stack overflow and see how to do this . but if the spring does not support this , so i think this can be categorize as enhancement.

[2019-11-20 07:40] ghostd commented on #7651
Hi,

I overrided the SDK and it works for my case.

I don't know if i can close this issue or if you wish to keep it open to track the upgrade.

Cheers

[2019-11-20 12:24] pmoerenhout commented on #7658
Hi Josh,

I already made it:

https://github.com/spring-projects/spring-security/pull/7659

Regards, Pim

[2019-11-20 13:07] rafahop opened #7661 "Check BCrypt hashed value of a byte array"
### Summary
Since 5.2.0.RELEASE (388a7b62b906bd56deadb7ca45248fa1a63bdf12) BCrypt offers an overloaded [hashpw](https://github.com/spring-projects/spring-security/blob/0d35194b47d1ed0e2558e106aa8658a6aeea17a5/crypto/src/main/java/org/springframework/security/crypto/bcrypt/BCrypt.java#L747) method to hash a byte array. However there is no [checkpw](https://github.com/spring-projects/spring-security

[2019-11-20 14:10] eleftherias commented on #7642
I will close this issue, since we have gh-7654 instead and a workaround for the time being.

[2019-11-20 14:10] #7642 closed

[2019-11-20 16:56] jgrandja opened #7664 "Feature Parity for Legacy OAuth"
This epic tracks the remaining features to be implemented to reach feature parity for Spring Security OAuth 2.x Client and Resource Server.

[2019-11-20 19:24] dfcoffin opened #7665 "OAuth 2.0 Authorization Server Use-Case"
As directed, here are more details on what I'm using Spring Security OAuth2.0 for.
More information can be provided privately, or clarified on request.

Original overview: http://disq.us/p/25ju58w and Gitter Spring Security Channel

The system provides an open source solution for utilities to implement the North American Energy Standards Board (NAESB) Retail Energy Quadrant book 21 (REQ.21) Energy

[2019-11-21 09:17] eleftherias commented on #7619
@misisol Can you please provide us with a minimal sample that reproduces this issue?
This will allow us to efficiently troubleshoot and help resolve the issue.

You may also find it helpful to post a question on StackOverflow, since someone in the community using Serviceworker with Spring Security may have seen this before.

[2019-11-21 10:28] OrangeDog commented on #7665
Out of interest, how long is "long", if they're also opaque?

[2019-11-21 15:45] dfcoffin commented on #7665
Access tokens are UIDs.

[2019-11-21 17:01] OrangeDog commented on #7665
The default UUIDs? I'd call those short. JWTs are long, especially if using RS256.

[2019-11-21 17:39] dfcoffin commented on #7665
Yes, using your definition of long vs short, then our access tokens are short.

[2019-11-21 21:03] jgrandja commented on #7657
@OrangeDog I spoke to @thomasdarimont today who is very experienced using Keycloak, specifically integrating Keycloak within the enterprise at his various clients. He has put together a number of samples demonstrating various integrations using Keycloak. Check out the [keycloak-extension-playground](https://github.com/thomasdarimont/keycloak-extension-playground).

The [virtual-client-storage-prov

[2019-11-21 21:16] jgrandja commented on #7665
@dfcoffin Please see this [comment](https://github.com/spring-projects/spring-security/issues/7657#issuecomment-557271004)

[2019-11-21 21:17] jgrandja commented on #7665
Related #7657

[2019-11-21 21:23] OrangeDog commented on #7657
It still appears to be either impossible, or large amounts of work to do half of the things I require. How do you configure a token store, revocation, using sessions from Spring instead of logging into keycloak?

And the virtual client storage is very confusing. Is all the reflective proxying really necessary? Isn't Keycloak already using JDBC for this (i.e. the H2 and Postgres config)?

[2019-11-21 22:00] dfcoffin commented on #7665
@jgrandja Thank you for the Keycloak comment.  However, Authentication is NOT something the sample needs to provide, since the target customer base are Utilities who already have existing Authentication systems for their current customer web portals (some of which are in the millions) and therefore unlikely to convert existing Authentication systems to implement the NAESB REQ.21 ESPI standard.  Al

[2019-11-21 22:56] jzheaux commented on #7658
Fixed via 7e0740f745d903fdc942dda526c378836bdb33d8

[2019-11-21 22:56] #7658 closed

[2019-11-21 23:21] jzheaux opened #7667 "Update to oauth2-oidc-sdk:6.18.1"

[2019-11-21 23:21] jzheaux commented on #7651
Thanks for the info, @ghostd!

Closing in favor of https://github.com/spring-projects/spring-security/issues/7667

[2019-11-21 23:21] #7651 closed

[2019-11-22 12:08] rajur7 opened #7668 "Getting OAuth2AuthenticationException when Bearer token is empty"
### Summary

### Actual Behavior
   When I do a curl command with an **empty bearer token**
[code]
 I am getting following response
[code]

When I am requesting the server with **empty bearer token** I could see the following stacktrace on the console

[code]
### Expected Behavior
[code]

### Configuration

### Version

    spring-security-web-5.2.1.RELEASE
    spring-security-config-5.2.1.RELEASE

[2019-11-22 15:44] jgrandja commented on #7665
@dfcoffin

You could hook into the Password grant flow using the Authentication hook. It's not just Authentication although the name may be misleading. You could also hook into Client Authentication. Likely more options available but you'll need to dig into the docs.

You could use it only as an Authorization server without any of the Authentication bits. I've used it this way. Dig into the docs a

[2019-11-22 16:20] dfcoffin commented on #7665
Unfortunately, the NAESB REQ.21 ESPI standard prohibits the use of the Implicit and Resource Owner Password Credential Grant flows due to the fact they both present potential security risk.  Only the Client Credential, Authorization Code and Refresh Token Grant flows are allowed by the standard.  If the Password Grant flow is the only way to access an Authorization Server using Keycloak, it is NOT

[2019-11-22 16:43] jgrandja commented on #7665
@dfcoffin

This is not what I meant to say. Maybe I wasn't clear. Keycloak supports all the standard grants and some extension grants. I've used OIDC, Authorization Code, Client Credentials, Refresh Token and Password in my samples. Here is a sample you could check out that I co-presented at Spring one https://github.com/jgrandja/oauth2-protocol-patterns/tree/s1p-2019

I encourage you to spend som

[2019-11-22 18:35] dfcoffin commented on #7665
@jgrandja

Thanks.  I'll checkout the Spring One demo, is there a video of the presentation as well?

[2019-11-22 18:40] jgrandja commented on #7665
@dfcoffin Here you go https://www.youtube.com/watch?v=JnYIsvJY7gM

[2019-11-22 18:49] mraible commented on #5557
@eleftherias Here's a Kotlin-based `SecurityConfiguration` class. How do I change it to use lambdas?

[code]

P.S. I enjoyed learning about this feature on the Bootiful Podcast with @joshlong  today!

[2019-11-22 21:04] rwinch commented on #7657
Sorry you are still having trouble getting all the answers you need. We understand this transition is not going to be easy on anyone.

We are not Keycloak experts and so our advice on using Keycloak should not be considered authoritative. If you need help with Keycloak, I'd suggest you reach out to the [Keycloak Community](https://github.com/spring-projects/spring-security/issues/7657#issuecomment

[2019-11-22 21:04] #7657 closed

[2019-11-22 21:20] OrangeDog commented on #7657
I thought the whole point of this was that @jgrandja was going to either provide concrete examples, or the team was going to concede that this isn't possible with Keycloak (or any other IdP servers) and maybe rethink their support.

[2019-11-22 22:07] #7641 closed

[2019-11-22 22:40] thomasdarimont commented on #7657
Hi @OrangeDog,

I'm a bit late to the party, but I try to answer your Keycloak questions. cc @sebastienblanc

The keycloak-extensions-playground repo that Joe referenced contains some examples for custom Keycloak extensions.
Keycloak provides many extensions points where users can plugin their custom functionality through SPIs (service provider interfaces).
However, Keycloak is quite opinionated c

[2019-11-24 03:40] carlosmontoyargz commented on #4368
Wow that worked like magic, thank you!

[2019-11-24 22:08] ah1508 opened #7670 "error in javadoc for oauth2ResourceServer"
Documentation for `HttpSecurity oauth2ResourceServer(Customizer<OAuth2ResourceServerConfigurer<HttpSecurity>> oauth2ResourceServerCustomizer)` method is wrong :

[code]

`jwtAuthenticationConverter` methd expects a converter, not a decoder.

[2019-11-25 03:20] andyzhaozhao opened #7671 "Why Spring give up Spring Security OAuth Authorization Server ?"

[2019-11-25 08:59] eleftherias commented on #5557
@mraible here is the same configuration using lambdas
[code]

In this example, I have chained all the configuration options, but you can separate them like you have done in the non-lambda configuration if you prefer.

You could also emit the `->` and use the `it` keyword, for example:
[code]

[2019-11-25 16:50] rwinch commented on #7657
@OrangeDog The goal was to be helpful. However, we are not Keycloak experts and so we are not the best resource for figuring out how to use Keycloak.

If you really feel like you need to write your own Authorization Server, then leveraging Spring + Nimbus might be your best option.

[2019-11-25 19:04] rwinch commented on #7645
Thanks for the report. I could see us updating `Saml2WebSsoAuthenticationFilter` to accept an `AuthenticationConverter`. The result of which would be passed into the `AuthenticationManager`. Is this something that you would be interested in submitting a PR for?

In the meantime, there is not a lot of logic in `Saml2WebSsoAuthenticationFilter`, so you can create your own `Filter` that extends `Abst

[2019-11-25 19:07] rwinch commented on #7640
@clemstoquart Thanks for trying the new SAML support and the report! It seems reasonable that if `RelayState` has no value for it to be omitted from the response. Would you be able to submit a PR for this?

[2019-11-25 19:16] clemstoquart commented on #7640
@rwinch Yes I'll try to do that tomorrow

[2019-11-25 19:19] jzheaux commented on #7641
@jakubnabrdalik a fix has been committed to master. Would you please try using 5.2.2.BUILD-SNAPSHOT to see if it fixes your issue and then reply here?

[2019-11-25 21:50] #7626 closed

[2019-11-26 03:47] qrqhuang opened #7672 "Where should I find JdbcTokenStore script for OAuth2"
In spring security official docs home [oauth2.html](https://projects.spring.io/spring-security-oauth/docs/oauth2.html).  the link for  [JDBC version](https://projects.spring.io/spring-security-oauth/docs/JdbcTokenStore) page is not found.

So where can I find the  `JdbcTokenStore` script for OAuth2.

[2019-11-26 10:12] eleftherias commented on #7672
@qrqhuang Here is the [Javadoc for the `JdbcTokenStore`](https://docs.spring.io/spring-security/oauth/site/docs/2.4.0.RELEASE/apidocs/org/springframework/security/oauth2/provider/token/store/JdbcTokenStore.html).
Since this class is part of [spring-security-oauth](https://github.com/spring-projects/spring-security-oauth), can you please create an issue in that project reporting the broken link?

[2019-11-26 10:13] #7672 closed

[2019-11-26 12:20] rieckpil opened #7676 "Add support to fetch the JWT token for OAuth2 client_credentials flow in the background"
We migrated to Spring Security from the [Zalando Tokens library](https://github.com/zalando/tokens) which was able to fetch the JWT Tokens for the OAuth2 `client_credentials` flow in the background with an own thread.

With the Spring Security and using `ClientCredentialsOAuth2AuthorizedClientProvider` we see that the JWT token is refreshed once a new request with the `WebClient` is made and eithe

[2019-11-26 14:03] spring-issuemaster commented on #7630
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-26 14:38] #7627 closed

[2019-11-26 15:00] jgrandja commented on #7657
@OrangeDog

I've provided you a link to a number of samples from @thomasdarimont repo in this [comment](https://github.com/spring-projects/spring-security/issues/7657#issuecomment-557271004).

From my initial analysis of the reference doc and javadoc along with my discussions with @thomasdarimont, Keycloak provides quite a few extension points for customizations. So I believe most customizations a

[2019-11-26 15:08] jgrandja commented on #7665
@dfcoffin I'm going to close this issue as I believe I've provided you a few resources referenced in this issue and #7657 that will help you migrate to Keycloak, if you decide to go down this path. Also, please take a look at this [comment](https://github.com/spring-projects/spring-security/issues/7657#issuecomment-558668726) for additional information.

[2019-11-26 15:08] #7665 closed

[2019-11-26 15:30] guykoth opened #7677 "Improve handling of invalid tokens"
### Summary

When using the AuthenticationPrincipal annotation in a ResourceServer  and passing an invalid JWT  (bad signature) in a controller signature the framework return a generic error 500 where it should return 400 as it is an invalid data from the user. This has previously been reported on [spring-security-oauth](https://github.com/spring-projects/spring-security-oauth/issues/1522) too.

#

[2019-11-26 16:15] dongockien92 commented on #5253
I think spring security should have a setting for table prefix (default is empty string). Example, when developer set prefix is "t", table names become t_groups, t_group_members, ...

[2019-11-26 16:33] jgrandja commented on #7677
@guykoth Please do not double post. This issue belongs in the Spring Security OAuth project so I'll leave [spring-security-oauth#1522](https://github.com/spring-projects/spring-security-oauth/issues/1522) open.

[2019-11-26 16:33] #7677 closed

[2019-11-26 16:49] jgrandja commented on #7676
@rieckpil `AuthorizedClientServiceOAuth2AuthorizedClientManager` was introduced in 5.2, which can be used with `ClientCredentialsOAuth2AuthorizedClientProvider` when operating outside of a request context, eg. background thread. The reactive implementation is coming in 5.3 via #7569.

Does this answer your question?

[2019-11-26 16:58] jgrandja commented on #7671
@andyzhaozhao Please see latest [announcement](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update).

[2019-11-26 16:58] #7671 closed

[2019-11-26 21:47] jakubnabrdalik commented on #7641
After replacing the auth2-client with
compile group: 'org.springframework', name: 'spring-core', version: '5.2.2.BUILD-SNAPSHOT'
and adding https://repo.spring.io/snapshot, tests run all right

Which puzzles me a bit. You did a change in spring-security (https://github.com/spring-projects/spring-security/commit/7cbd1665a6ba5df01ab676db7d945b6599c2000a) but asked me to update the core to the latest

[2019-11-26 22:31] xyloman commented on #5893
@jgrandja we are still dealing with client credentials expiring and the tokens not being refreshed when on spring boot 2.1.10.RELEASE is there a workaround or plans to support refreshing client credential tokens when they are expired in spring security 5.1.x?

[2019-11-26 22:48] spring-issuemaster commented on #7648
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-26 22:56] jzheaux commented on #7641
My apologies, it wasn't my intent to ask you to update core. I should have said:

I'm supposing when you modified your pom, you also brought in spring-security-test 5.2.2.BUILD-SNAPSHOT? If so, great!

[2019-11-26 23:12] #7592 closed

[2019-11-26 23:12] #7593 closed

[2019-11-26 23:12] #7618 closed

[2019-11-27 02:27] xyloman commented on #5893
@jgrandja I should also add that upgrading to spring boot 2.2.1 would likely fix this issue but we are needing spring cloud as well in all use cases.

[2019-11-27 09:19] rieckpil commented on #7676
thanks for the quick response @jgrandja. As we currently just used the reactive alternatives, I'll try to use the `AuthorizedClientServiceOAuth2AuthorizedClientManager` you mentioned.

[2019-11-27 09:40] eleftherias commented on #7670
Thanks for the report @ah1508 ! Would you be interested in submitting a PR to fix the Javadoc?

[2019-11-27 10:27] rieckpil commented on #7676
If we manage to use the `AuthorizedClientServiceOAuth2AuthorizedClientManager` how can we use it to refresh our JWT Token in the background? My main intent is to have a way to refresh the JWT tokens for our different `ClientRegistrations` **NOT ONLY** when an actual `WebClient` makes a request but also manually like e.g. with `@Scheduled`

[2019-11-27 10:28] ChristianSch commented on #7598
Hi,
Thanks for getting back to me. `hasPermission` doesn't really work for me, I don't know why yet. Neither adding both columns to the table `acl_class` nor your proprosal for a fix (well `identifier = rs.getLong("object_id_identity");`) works for me, so I can't even validate any fixes. I'm quite time constrained and need to get this done, but I am interested in a proper fix. So don't wait for me

[2019-11-27 13:28] NicoK opened #7679 "Failure on sparse userinfo with Microsoft identity platform (v2.0)"
### Summary

I've been playing around with Microsoft's identity platform (v2.0) and it seems like it it doing things a bit differently than v1.0 (Azure AD).
I've been using the `issuer-uri` to not have to specify all properties manually and it seems that `OidcUserService#loadUser()` is, by default, retrieving the user info from the `user-info-uri` (here provided by the `.well-known/openid-configur

[2019-11-27 14:49] eleftherias commented on #6598
@Dav1dde The `ServerWebExchange` has a `getPrincipal()` method because `Principal` is not specific to Spring Security.
The Spring Security implementation may use `ReactiveSecurityContextHolder` to look up the principal, but other implementations may not.
This is similar to the `HttpServletRequest` that has the `getUserPrincipal` method.

[2019-11-27 15:44] eleftherias commented on #3308
Fixed via gh-7678

[2019-11-27 15:44] #3308 closed

[2019-11-27 16:30] membersound commented on #7067
So the conclusion is: just name all of your bundles `messages.properties`, and they won't override each other if you have multiple of them in multiple shared libraries.

[2019-11-27 16:32] jfriedenstab commented on #6591
I stumbled upon this issue, too. I would like to create a custom `UserDetails` object in the `@BeforeEach` method which can then be used by `@WithUserDetails`.
Are there any plans to provide a fix for this?

[2019-11-27 21:02] jzheaux opened #7680 "Add Oidc Login Reactive Test Support"
Related to https://github.com/spring-projects/spring-security/issues/7618

The reactive version of this support should be similar to the servlet version.

[2019-11-28 08:46] clemstoquart opened #7681 "Saml2Authentication isn't serializable"
Hi Spring Security team,

I've encounter an issue using the new Saml2 support with Spring Session.

In the `OpenSamlAuthenticationProvider` class in the `authenticate` method we create the authentication this way :
[code]

But this isn't serializable with the default serializer provided by Spring Session.

### Solution

IMO provide an implementation of the `AuthenticatedPrincipal` instead of using

[2019-11-28 09:18] spring-issuemaster commented on #7619
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-28 09:47] eleftherias commented on #7482
@buzzerrookie Is there a reason why you are only registering these specific modules?
[code]
Please take a look at the [Spring Security Jackson documentation](https://docs.spring.io/spring-security/site/docs/5.2.2.BUILD-SNAPSHOT/reference/htmlsingle/#jackson).
You may also find this [sample project](https://github.com/spring-projects/spring-session/tree/2.2.0.RELEASE/spring-session-samples/spring-s

[2019-11-28 11:10] eleftherias commented on #7681
@clemstoquart Thanks for the report and for the work you're doing with the new SAML2 support!
I can see the problem and I agree that creating a SAML2 implementation of `AuthenticatedPrincipal` is an appropriate solution.
Are you interested in submitting a PR for this fix?

[2019-11-28 11:38] buzzerrookie commented on #7482
@eleftherias
`
List<Module> modules = SecurityJackson2Modules.getModules(loader);
mapper.registerModules(modules);
`
The code in the doc registers CoreJackson2Module, CasJackson2Module and WebJackson2Module. There's no need for CAS in my project, so I only register those two specific modules.

[2019-11-28 12:33] marunk20 commented on #5893
I upgraded to `spring boot 2.2.1` version and i still face the same issue... `WebClient` couldn't make successful call to the resource-server once the token that it received for the first time (during boot-up) is expired

[2019-11-28 13:35] eleftherias opened #7682 "Disabling logout in WebFlux does nothing"
### Summary

Although there is a function to disable logout in WebFlux, it does not work.

### Actual Behavior

When disabling logout, a "/logout" page is still generated.

### Expected Behavior

When disabling logout, no "/logout" should be generated.

### Configuration

[code]

[2019-11-28 13:41] #7682 closed

[2019-11-28 14:19] clemstoquart commented on #7681
@eleftherias you're welcome :)

Yes I'm preparing a PR.

[2019-11-28 15:26] spring-issuemaster opened #7684 "DefaultReactiveOAuth2AuthorizedClientManager never calls UnAuthenticatedServerOAuth2AuthorizedClientRepository"
Backport of gh-7544

[2019-11-28 15:29] #7544 closed

[2019-11-28 15:34] spring-issuemaster commented on #7684
Fixed via 19c2209a12c52eec87c7ae67a6b2d455e2ab8fba

[2019-11-28 15:34] #7684 closed

[2019-11-28 15:38] jgrandja commented on #7544
@frzme The fix #7684 has been applied in 5.2.x. This should resolve your issue. Let me know how it goes. Thanks again for reporting this.

[2019-11-29 00:59] jgrandja opened #7685 "WebClient support should get new access token when expired and client_credentials"
Backport gh-5893

[2019-11-29 01:05] jgrandja commented on #7685
Fixed via 450a20a

[2019-11-29 01:05] #7685 closed

[2019-11-29 01:09] jgrandja commented on #5893
Apologies @xyloman, as this should have been back ported to 5.1.x. I reviewed the changes again and this is a patch fix so I went ahead and back-ported via #7685.

[2019-11-29 01:40] jgrandja commented on #7676
@rieckpil

Given the following configuration:

[code]

You could simply call `authorize()` on the `ReactiveOAuth2AuthorizedClientManager` `@Bean` in your `@Scheduled` component in a recurring interval. This way, the access token will be renewed when expired in the `@Scheduled` component instead of when the `WebClient` initiates a request. Makes sense?

[2019-11-29 03:00] krnbr commented on #7439
@jgrandja
is the Authorization Server going to come with new Spring security? Looks like not coming, but I saw someone mentioning as if it will be released with version 5.3

[2019-11-29 06:08] rieckpil commented on #7676
thanks for the example @jgrandja. Now I get it. With the setup above and with Spring Security 5.3 (including the reactive version `AuthorizedClientServiceOAuth2AuthorizedClientManager`) my `@Scheduled` method would execute e.g. the following for each of the registrations:
`authorizedClientManager.authorize(OAuth2AuthorizeRequest.withClientRegistrationId("my-id").build());`?

[2019-11-29 09:07] bilak opened #7686 "[oauth2] access of permitted endpoint with bearer token"
### Summary

Hello, I'm trying to configure spring-cloud-gateway using oauth2 security with keycloak.
Currently I have one enpoint which is permitted. When I access it without bearer token, content is returned. However when I access it with bearer token, spring security complains about token validity.
Is it only configuration issue?

### Actual Behavior

When accessing permitted enpoint and author

[2019-11-29 09:48] eleftherias commented on #7686
Thanks for the report @bilak.

This is expected behaviour.
Please see gh-6067 for more details.

[2019-11-29 10:25] bilak commented on #7686
@eleftherias  thanks for response. It's weird because even when I pass correct token it doesn't work. Is it also expected behaviour?

I'm trying to hide authorization service (keycloak) behind gateway (`/auth/**` endpoint). So I just want to skip entire security for this endpoint. Is it possible or no?

Thanks

[2019-11-29 11:38] eleftherias commented on #7686
@bilak

I was not able to reproduce this with the sample you provided. Given a valid token, the `/permitted.html` returned a `200` response.

One was to accomplish that is to expose another bean with the security configuration for that specific endpoint.

[code]

Alternatively, you can use a matcher to apply security only for the endpoints that require it. For example:
[code]

Going back to the or

[2019-11-29 13:22] bilak commented on #7686
@eleftherias  thank you, that solved my problem. I've also updated the sample application.
I'm just wondering whether it's possible to configure multiple paths with `http.securityMatcher(...)` because it looks like if I configure more than 1, the last one is overriding others.

To your last point, It should be authorisation server which is "unsecured" from gateway point of view, but it is secured

[2019-11-29 13:55] jgrandja commented on #7439
@krnbr Spring Security has decided to not support authorization servers. Please see the latest [announcement](https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update) for further details.

[2019-11-29 14:04] jgrandja commented on #7676
@rieckpil Yes, that is correct. You can achieve the background token renewals using `@Scheduled` and calls to `ReactiveAuthorizedClientManager.authorize()` passing in the `clientRegistrationId` to check for token renewal.

I'm going to close this issue as it seems that I've answered your question.

[2019-11-29 14:04] #7676 closed

[2019-11-29 15:14] eleftherias commented on #7482
@buzzerrookie Can you please provide a minimal sample that reproduces this issue?
Currently I am not able to reproduce it.

[2019-11-29 15:43] eleftherias commented on #7686
@bilak Take a look at `OrServerWebExchangeMatcher`

[2019-11-29 16:18] buzzerrookie commented on #7482
@eleftherias I uploaded a minimal sample project as follows.
[minimal-sample.zip](https://github.com/spring-projects/spring-security/files/3905897/minimal-sample.zip)
A user with username "test1" and password "123456" is configured, and you can use Basic Authentication to gain authentication.
When I visit "/test" path for the first time, it prints true, but then I visit "/test" path for the second

[2019-11-29 16:45] pnewhook opened #7688 "Incomplete Documentation for Setting Up MockMvc and Spring Security"
### Summary

The documentation at https://docs.spring.io/spring-security/site/docs/5.2.1.RELEASE/reference/htmlsingle/#test-mockmvc-setup implies that applying `SecurityMockMvcConfigurers.springSecurity()` is all that's required to enable testing secured controllers with MVC.

### Actual Behavior

Using the example code, shown below, results in the error
[code]

### Expected Behavior

I would expe

[2019-11-29 19:36] jgrandja opened #7689 "Correctly configure authorization requests repository for OAuth2 login"
Backport gh-7675

[2019-11-29 19:42] spring-issuemaster opened #7690 "Correctly configure authorization requests repository for OAuth2 login"
Backport of gh-7675

[2019-11-29 19:42] spring-issuemaster commented on #7690
Fixed via 0babe7d930b6c2aaef9d4b9ad0f65295c3493881

[2019-11-29 19:42] #7690 closed

[2019-11-29 19:47] jgrandja commented on #7689
Fixed via 0babe7d

[2019-11-29 19:47] #7689 closed

[2019-11-30 03:28] rieckpil commented on #7676
thank you @jgrandja

[2019-11-30 12:57] #7686 closed

[2019-12-01 10:02] ghostd commented on #4939
Next: integration tests for the LDAP management

[2019-12-02 09:15] #7688 closed

[2019-12-02 09:17] eleftherias commented on #7688
Thanks for the report @pnewhook!
I have updated to documentation to indicate that you should specify the configuration class in the `@ContextConfiguration` annotation.
You could also use `@AutoConfigureMockMvc` if you are using Spring Boot.

[2019-12-02 09:49] chokPeng commented on #7482
@eleftherias Hi，I also meet the same problem as @buzzerrookie does.And I have try to do as what you say, but it doesn't work. I am using `<artifactId>spring-session-data-redis</artifactId>
  <version>2.2.0.RELEASE</version>`,`<artifactId>spring-boot-starter-security</artifactId>
  <version>2.2.0.RELEASE</version>`.

[2019-12-02 10:07] chokPeng commented on #7482
@eleftherias I do as [](https://github.com/spring-projects/spring-session/tree/2.2.0.RELEASE/spring-session-samples/spring-session-sample-boot-redis-json),and throw an new exception.`Caused by: com.fasterxml.jackson.databind.JsonMappingException: The class with com.robben.bbs.config.AuthUser and name of com.robben.bbs.config.AuthUser is not whitelisted. If you believe this class is safe to deseria

[2019-12-02 10:21] eleftherias commented on #7482
@chokPeng You issue appears to be different.
The original issue does not throw an exception, but rather deserializes the object in an unexpected way.
For your issue, try making you custom class `com.robben.bbs.config.AuthUser` implement `Serializable`.
If you believe there is something broken in Spring Security please create a separate GitHub issue.

[2019-12-02 13:47] phughk commented on #6881
Hi @jgrandja , is there an ETA on this? Which classes should I be looking at to introduce this?

[2019-12-02 13:59] garrychnca opened #7692 "Customize login page"
https://github.com/spring-projects/spring-security/blob/55f1c695e110387f344a21d72d44c3302f5879a9/config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java#L3147

As the above line of code suggests, the `loginPage` is hardcode to a new instance of `LoginPageGeneratingFilter`.

In most of the cases this is sufficient. However, in my case, an extra `challenge` query

[2019-12-02 14:42] eleftherias commented on #7692
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-12-02 14:42] #7692 closed

[2019-12-02 17:11] jgrandja commented on #7679
@NicoK A valid `nameAttributeKey` must be supplied to `DefaultOAuth2User` so this behaviour cannot be changed. See `DefaultOAuth2User.getName()` to see how `nameAttributeKey` is being used. Also see the reference doc on [`userNameAttributeName `](https://docs.spring.io/spring-security/site/docs/5.2.1.RELEASE/reference/htmlsingle/#oauth2Client-client-registration)

Can you provide a sample of the r

[2019-12-02 18:11] dhruvgupta6 commented on #7583
Can you please have a look here. https://stackoverflow.com/questions/59144160/spring-oauth2-client-automatically-refresh-expired-access-token

[2019-12-02 18:16] agamgupta6 commented on #7583
can you suggest if this is right approach to refresh token?  https://stackoverflow.com/questions/59144160/spring-oauth2-client-automatically-refresh-expired-access-token

[2019-12-02 19:32] garrychnca commented on #7692
@eleftherias

Thanks for the reply.

However, I think this issue aims to ask for enhancement against more flexibility when configuring the `ServerRequestSecurity`. As mentioned in the description, and the code snipet, it is clear that for the current implementation one cannot configure the `loginPage` to use another class which provides more custom login page generation.

Given what I have said, d

[2019-12-02 21:11] pthorson commented on #5543
Note: `OidcConfigurationProvider` moved to `ClientRegistrations` in https://github.com/spring-projects/spring-security/commit/742716fae3695317f4587ca41b91710ebce40a56

[2019-12-03 00:17] jzheaux commented on #7636
Hi, @ankurpathak, will you still be able to take a look at this?

[2019-12-03 00:29] jzheaux commented on #7535
I do see the appeal of aligning with `hasAnyRole` et al, but I believe that exposing a bean is preferred in this case.

I've got a bit more detail in https://github.com/spring-projects/spring-security/pull/7536#issuecomment-560942262, but if you feel like there is more to discuss, feel free to comment here.

[2019-12-03 00:29] #7535 closed

[2019-12-03 02:32] ankurpathak commented on #7636
@jzheaux I will submit pr in this week

[2019-12-03 05:52] #7680 closed

[2019-12-03 06:04] buzzerrookie commented on #7482
@eleftherias Can you reproduce this issue with my sample project ?

[2019-12-03 07:22] fhanik commented on #7654
@eleftherias I've been reviewing this, and implemented a possible solution in [1d71a62](https://github.com/fhanik/spring-security/commit/1d71a62c44b3b25f170ea9e391ccc016811be573).

It does however become difficult to justify the use of a `AuthenticationManagerResolver` simply for the ability to configure setters on the authentication provider.

The `AbstractAuthenticationFilterConfigurer` calls [`

[2019-12-03 07:53] eleftherias commented on #7654
@fhanik The idea with having the `AuthenticationManagerResolver` configurable is that it would support multi-tenancy in the future.
For now, we only need the ability to set the options on the provider.
I will leave it up to you to decide which option is best.

[2019-12-03 09:06] hejianchao commented on #4442
Is there a switch to turn off the nonce?

[2019-12-03 11:21] NicoK commented on #7679
Hi @jgrandja,
I agree for `DefaultOAuth2User`, however, I'm actually talking about how `OidcUser` is created

It that built via https://github.com/spring-projects/spring-security/blob/833bfd0c22a4f026b10d9878e410dbadc89d2b3e/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/userinfo/OidcUserService.java#L96 and is based on the `id_token` and on a `DefaultOAuth2User

[2019-12-03 13:53] andyzhaozhao commented on #7671
So how about keycloak？

[2019-12-03 13:58] erlendfg commented on #6881
We also need private_key_jwt as a client authentication method in order to implement an integration to the Norwegian ID-porten. We are forced to change client secret often unless we are using private_key_jwt, so I'm looking forward to the 5.3 relase.

[2019-12-03 14:03] spring-issuemaster commented on #7630
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-03 14:03] #7630 closed

[2019-12-03 19:18] jgrandja commented on #6881
@phughk Our goal is to provide `client_secret_jwt` and `private_key_jwt` client authentication method support in the 5.3.0 release. We could use some help for sure.

The first place to look at is `OAuth2AccessTokenResponseClient`, which defines the contract for exchanging an authorization grant for an access token. We have implementations `DefaultAuthorizationCodeTokenResponseClient`, `DefaultClie

[2019-12-03 19:23] jgrandja commented on #4442
@hejianchao No there isn't a setting/property available to turn it off. Are you having issues with it? Why do you want it disabled?

[2019-12-03 22:48] spring-issuemaster commented on #7648
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-03 22:48] #7648 closed

[2019-12-03 22:56] pthorson opened #7695 "Allow customization of Provider Configuration Metadata for Client Registration"
It would be nice to have a means to add entries or modify entries in the ClientRegistration.ProviderDetails.configurationMetadata

The method `ClientRegistrations.fromOidcIssuerLocation` returns a `ClientRegistration.Builder` which can be used to further modify the `ClientRegistration`. The `providerConfigurationMetadata` can also be overridden, but since it contains a Map, those values returned b

[2019-12-04 01:21] jgrandja commented on #7679
@NicoK

The attributes returned from the ID Token and UserInfo endpoint is provider specific and may vary across provider implementations. The only required attributes are typically `sub` and `iss` in the ID Token. Almost all attributes are optional for UserInfo endpoint. If you want specific attributes to be returned from the UserInfo endpoint than you'll need to configure this on the provider si

[2019-12-04 01:21] #7679 closed

[2019-12-04 02:32] hejianchao opened #7696 "Consider adding switch to enable or disable OIDC nonce"
@hejianchao No there isn't a setting/property available to turn it off. Are you having issues with it? Why do you want it disabled?

_Originally posted by @jgrandja in https://github.com/spring-projects/spring-security/issues/4442#issuecomment-561318109_

This issue was created for two reasons:
1. Some cloud vendors do not fully support OIDC nonce,  and an error will be reported: `invalid nonce`
2

[2019-12-04 03:02] NicoK commented on #7679
I think, I may have been a bit unclear, but you actually brought it to the point:

### Expected behaviour

`nameAttributeKey` should be present in the ID Token **OR** the UserInfo

### Actual behaviour

- if UserInfo is fetched: `nameAttributeKey` must be present in UserInfo
- if UserInfo is not fetched: `nameAttributeKey` must be present in ID token

This is even supported by the fact that actual

[2019-12-04 08:17] imzion opened #7697 "How can I prevent the Oauth2 resource server from producing random passwords?"
### Summary
When I build a resource server with springboot 2.2.1.RELEASE and springcloud Hoxton.RC2, a random password is automatically generated, I do not want this random password to be generated

### Actual Behavior
Using generated security password: db43c354-f90f-4023-a5a9-9d8d66197af6

### Expected Behavior
The resource server does not produce the random password

### Configuration
@Configura

[2019-12-04 13:35] misisol opened #7698 "Rest httpBasic authentication problem when using custom UserDetailsService"
### Summary

I wanted to authenticate the user in httpBasic and I didn't need to create a session or go for JWT or whatever.
So I've implemented the UserDetailsService and WebSecurityConfigurerAdapter
First I came with creating some In memory users as below and every thing worked as expected :

[code]

`

Then I wanted to replace in memory users with the real ones in my Mongo database.
So I replac

[2019-12-04 14:00] jgrandja commented on #7679
@NicoK

Slight correction:

- if UserInfo is fetched: `nameAttributeKey` must be present in UserInfo **OR ID token**
- if UserInfo is not fetched: nameAttributeKey must be present in ID token

[2019-12-04 14:05] NicoK commented on #7679
yes, that is the expected behaviour but this is not what is currently happening and is actually what I tried to describe above

[2019-12-04 14:08] jgrandja commented on #7697
@imzion This issue should have been posted to [Spring Security OAuth](https://github.com/spring-projects/spring-security-oauth/issues). Also, general usage questions should be posted on Stack Overflow. We use GitHub issues to track bugs and enhancements.

[2019-12-04 14:08] #7697 closed

[2019-12-04 14:16] jgrandja commented on #7679
@NicoK I guess I'm still not seeing an issue here. At this point, to clarify things for me, please put together a test that reproduces the issue you are having. Take a look at the tests in `OidcUserServiceTests` for a starting point for your test. You can post the test here.

[2019-12-04 15:15] patricklucas commented on #7679
@jgrandja if I understand @NicoK correctly, the problem is that while there is no _technical_ reason a claim `nameAttributeKey` needs to be returned by the UserInfo Endpoint, Spring Security implicitly requires it.

The `sub` claim is by definition the "primary key" for both the ID and Access Tokens as well as the response from the UserInfo endpoint, and so is sufficient to "join" the claims from

[2019-12-04 19:28] philsttr opened #7699 "Introduce Reactive OAuth2Authorization success/failure handlers"
### Summary

When an OAuth2 Client sends a token to a downstream OAuth2 Resource Server, and the OAuth2 Resource Server returns an HTTP 401 response, I would like to prevent the OAuth2 Client from sending that same token in future requests (and instead retrieve a new token for future requests).

Currently, spring-security-oauth2-client provides good support for re-retrieving/refreshing tokens befo

[2019-12-05 02:37] Choi-JinHwan opened #7700 "spring security docs typo"
in this section [https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#access-control-using-preauthorize-and-postauthorize](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#access-control-using-preauthorize-and-postauthorize)

[code]
`@P` to `@PreAuthorize`

[2019-12-05 02:43] Choi-JinHwan commented on #7700
my mistake..

[2019-12-05 02:43] #7700 closed

[2019-12-05 05:36] imzion commented on #7697
Okay thank you！

[2019-12-05 09:19] spring-issuemaster commented on #7619
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-05 09:19] #7619 closed

[2019-12-05 14:46] xinghen110 opened #7701 "feign has conflict with @EnableWebFluxSecurity"
### Summary
Authorization spring-cloud-gateway with spring-security(use @EnableWebFluxSecurity), and provid userInfoService by a microservice through http (by feign). It cause a cycle dependencies exception:

Description:

The dependencies of some of the beans in the application context form a cycle:

   webSecurityConfig defined in file [C:\Users\hexin\IdeaProjects\springcloud\gateway\target\clas

[2019-12-05 22:22] jgrandja commented on #6484
@bdemers Apologies for the delay. The fix I have in place will resolve this issue along with #5562. Instead of returning 500 status, a 302 status will be returned and redirected to `/login?error`. This is the same behaviour for the servlet version of `oauth2Login()`.

[2019-12-05 22:24] #6484 closed

[2019-12-05 22:33] spring-issuemaster opened #7703 "WebFlux oauth2Login returns 500 when bad client credentials"
Backport of gh-5562

[2019-12-05 22:33] spring-issuemaster opened #7704 "WebFlux oauth2Login returns 500 when bad client credentials"
Backport of gh-5562

[2019-12-06 01:11] #5562 closed

[2019-12-06 01:15] spring-issuemaster commented on #7703
Fixed via e4aa3be4c5bd6b0f8b046e7f4265139f39240e21

[2019-12-06 01:15] #7703 closed

[2019-12-06 02:24] spring-issuemaster commented on #7704
Fixed via 459e8f1a11753ee9f983042ce255b2b3ec94342b

[2019-12-06 02:24] #7704 closed

[2019-12-06 15:38] breitling opened #7705 "OAUTH2 failure with java.net.SocketException in RemoteTokenServices..."
### Summary

At times our web service endpoints are getting "Unexpected end of file from server" errors when trying to authenticate with OAUTH2.

(I have a detailed explanation and a solution for this if you are interest...) you can reach out to me at bobb@sg360.com or bob.breitling@gmail.com if you are interested in having a discussion about this situation.

### Actual Behavior

We are getting sp

[2019-12-06 16:11] jgrandja opened #7706 "Remove redundant validation for redirect-uri"
The OAuth 2.0 implementations of `AuthenticationProvider` and `ReactiveAuthenticationManager` perform an exact match on `OAuth2AuthorizationRequest.getRedirectUri()` and `OAuth2AuthorizationResponse.getRedirectUri()`, which is redundant given that the exact matching is also happening in the associated `Filter` and `WebFilter`.

We should remove this double validation since the check will always pa

[2019-12-06 16:53] spring-issuemaster opened #7707 "Remove redundant validation for redirect-uri"
Backport of gh-7706

[2019-12-06 16:53] spring-issuemaster opened #7708 "Remove redundant validation for redirect-uri"
Backport of gh-7706

[2019-12-06 16:55] #7706 closed

[2019-12-06 17:03] spring-issuemaster commented on #7707
Fixed via 148b570a987316269a692d4a910fd7593bc1bccc

[2019-12-06 17:03] #7707 closed

[2019-12-06 17:13] spring-issuemaster commented on #7708
Fixed via 798c48eee3a8b82e349e50b95d1d20b05999f87a

[2019-12-06 17:13] #7708 closed

[2019-12-06 18:38] rh-id commented on #4557
can I have this issue ? I'm a first timer in open source though, could you guide me on how to do it?

so far I had explore the codes and i came up with the following checklist on what should be modified:
1. update Elements class to add "oauth2-login"
2. Create new parser "OAuth2LoginBeanDefinitionParser" that extends AbstractSingleBeanDefinitionParser in org.springframework.security.config.oauth2

[2019-12-06 19:49] jgrandja commented on #7699
@philsttr This sounds like a valuable enhancement. Would you be interested in submitting a PR for this?

[2019-12-06 20:48] jgrandja commented on #7696
@hejianchao Regarding your comment:

If this is the case than the provider is NOT OpenID Connect compliant.

As per spec, in the [ID Token section](https://openid.net/specs/openid-connect-core-1_0.html#IDToken):

The Authorization Server MUST include the nonce Claim in the ID Token if it was sent in the Authentication Request.

If you need to override the Authentication Request to not include the

[2019-12-06 21:32] jgrandja commented on #7695
@pthorson You can customize the value of the `end_session_endpoint` as follows:

[code]

NOTE: `ClientRegistration.withClientRegistration(registration)` is available in 5.2.0.

I'm going to close this issue as I feel I provided you a solution. We can always reopen if need be.

[2019-12-06 21:32] #7695 closed

[2019-12-07 01:04] philsttr commented on #7699
Yeah, I could tackle the implementation, once we settle on an approach.  I'd like your input on what approach to take, before I get started.

My current thinking is to:

1. expose a new method in `ReactiveOAuth2AuthorizedClientManager` for invalidating an `OAuth2AuthorizedClient`.  (named `invalidate` ?)
   * This would have to be a default method for backwards compatibility, with a default implem

[2019-12-07 04:24] hejianchao commented on #7696
@jgrandja It works but not so convenient, For optional parameters like nonce, switches are a more convenient way. Anyway, thanks for your information.

[2019-12-07 14:40] bertramn commented on #5351
Hmm not too sure how the [multi tenant example](https://github.com/spring-projects/spring-security/blob/master/samples/boot/oauth2resourceserver-multitenancy/src/main/java/sample/OAuth2ResourceServerSecurityConfiguration.java) is of use to anyone wanting to run a Resource Server that can validate JWTs from different issuers. It just flip-flops the `AuthenticationManager` back and forth between pat

[2019-12-08 10:21] rchigvintsev opened #7709 "Allow to set custom BodyExtractor for OAuth 2.0 access token response"
Recently I faced the issue when some OAuth 2.0 provider did not return token type in the access token response. Spring expects "token_type" parameter and throws exception when it is missing. The solution I came up was to change response body and set token type "Bearer" manually. For now it is not easy to do since `org.springframework.security.oauth2.client.endpoint.WebClientReactiveAuthorizationCo

[2019-12-08 10:33] jgrandja commented on #7696
@hejianchao

Which provider are you having this issue with? Could you provide more details around the error message? Is the error message being triggered by the provider or client?

[2019-12-08 16:51] sandmannn commented on #7572
Looks like there are two additional components to this change, one in spring-framework and another in spring-security.

Firstly, we need to read the post processors from the parent during the merge() call and save them in the instance of the `FormLoginRequestBuilder`.   We need to create an additional interface that has the capability to provide its internally stored postProcessorts via getPostPro

[2019-12-09 02:09] hejianchao commented on #7696
The method that throws the exception is: `org.springframework.security.oauth2.client.oidc.authentication.OidcAuthorizationCodeAuthenticationProvider#authenticate`:
[code]

[2019-12-09 15:21] berschmoe opened #7711 "SAML2 HTTP-Redirect: Missing Signature and SigAlg parameters in SAMLRequest Url (AuthNRequest)"
### Summary
I'm currently update to Spring Security 5.2.1. and start to use the integrated SAML 2 implementation.

During the integration I noticed that my identity provider (_Keycloak_) does not accept the signed _AuthNRequest_.

The reason is that SAML 2 expects different signature for different bindings (POST or Redirect) - at least that's how I understand it.
- If a _POST binding_ is used the

[2019-12-09 16:00] jzheaux opened #7712 "Add opaque token test support"
An application can mock a `jwt()` authentication in a test using the `JwtRequestPostProcessor`.

It would be nice to be able to do this for opaque tokens:

[code]

[code]

[code]

[2019-12-09 20:54] jgrandja commented on #7696
@hejianchao Which provider are you using?

[2019-12-09 23:52] jzheaux opened #7713 "ProviderManager should have a varargs constructor"
`oauth2ResourceServer()` introduces a couple of `authenticationManager()` methods for complete control over the authentication mechanism:

[code]

This can be leveraged to construct a custom `JwtAuthenticationProvider`:

[code]

However, the method reference shortcut may seem a bit terse for some tastes.

As an alternative, code can construct an instance of `ProviderManager`:

[code]

This could b

[2019-12-10 02:50] okhowang opened #7714 "OAuth2AuthorizationRequest support for some non-standard oauth provider"
### Summary

in china, some oauth provider's implementation is not standard enough
for example [wechat](https://developers.weixin.qq.com/doc/offiaccount/en/OA_Web_Apps/Wechat_webpage_authorization.html), it use `appid` instead of `client_id` and must add url hash `#wechat_redirect`
can we add more customization for OAuth2AuthorizationRequest and OAuth2AuthorizationRequestResolver

### Actual Behav

[2019-12-10 09:11] rnavarropiris commented on #6557
We avoided the issue in Spring Boot 2.1.x of no JWT support by just disabling security in the test (which is marked as deprecated):

[code]

however, this was removed in Spring Boot 2.2.x, so we cannot upgrade.

What is the roadmap/target release for this fix?

[2019-12-10 10:03] samanthacatania opened #7715 "Support for Password Grant Type"
### Summary
 When I try to configure my Spring Boot application to perform OAuth2 authentication using the password grant-type I get the following exception:

### Actual Behavior

I am building a REST API that connects to another REST API that implements OAuth2 authentication (in this particular scenario it is Salesforce API). The REST API I am building will never interact directly with the user s

[2019-12-10 11:12] PyvesB opened #7716 "Add and remove users from MapReactiveUserDetailsService"
### Summary

When using Spring's security with the Webflux framework, removing and adding users dynamically isn't straightforward.

### Actual Behavior

[MapReactiveUserDetailsService](https://github.com/spring-projects/spring-security/blob/master/core/src/main/java/org/springframework/security/core/userdetails/MapReactiveUserDetailsService.java) only has two public methods: find a user by name an

[2019-12-10 12:02] jgrandja commented on #7699
@philsttr I'm not sure if `ReactiveOAuth2AuthorizedClientManager.invalidate()` makes sense.

I'm leaning towards introducing 2 new strategies similar to `ServerAuthenticationSuccessHandler` and `ServerAuthenticationFailureHandler`, which is used by `AuthenticationWebFilter`. This design would align the authorization flow with the authentication flow to provide some consistency.

For example:

[cod

[2019-12-10 12:02] jgrandja commented on #7699
Related #7583

[2019-12-10 12:03] jgrandja commented on #7583
@janzyka This issue will likely be resolved by #7699

[2019-12-10 17:49] jzheaux commented on #6320
We'd like to thank everyone for your feedback on the decision to not support Authorization Server. Due to community feedback and some internal discussions, we are taking another look at this decision. We'll notify the community on any progress.

[2019-12-10 17:49] philsttr commented on #7699
A few questions/comments:

What would have a reference to the handlers, detect authentication success/failure, and call the handlers? `ServerOAuth2AuthorizedClientExchangeFilterFunction`?

Since `ServerOAuth2AuthorizedClientExchangeFilterFunction` has a `ReactiveOAuth2AuthorizedClientManager` (either a `DefaultReactiveOAuth2AuthorizedClientManager` or `AuthorizedClientServiceReactiveOAuth2Authoriz

[2019-12-10 17:49] #7640 closed

[2019-12-10 19:29] spring-issuemaster opened #7717 "Provide reactive implementation of AuthorizedClientServiceOAuth2AuthorizedClientManager"
Backport of gh-7569

[2019-12-10 19:36] #7569 closed

[2019-12-10 19:39] spring-issuemaster commented on #7717
Fixed via 840d3aa9861d550ff8b90fc6e78f605bb53c8039

[2019-12-10 19:39] spring-issuemaster commented on #7717
Fixed via 4c5c4f6cce427f88573bf57700d891181f3ce475

[2019-12-10 19:39] #7717 closed

[2019-12-10 19:46] jgrandja commented on #7544
@frzme FYI, we just merged the new  `AuthorizedClientServiceReactiveOAuth2AuthorizedClientManager` and backported to 5.2.x #7717

[2019-12-10 20:15] jgrandja commented on #7699
The `ReactiveOAuth2AuthorizedClientManager` implementations would have these handlers with associated setters so applications can customize. This would handle the following cases:

1) Client is not authorized and the authorization request fails, eg. client requests a scope that they are not allowed to request.
2) Client is authorized but the token is expired and the refresh token request fails, eg

[2019-12-10 20:42] jgrandja commented on #7715
@samanthacatania The `password` grant was added in 5.2.0 release. See the [reference doc](https://docs.spring.io/spring-security/site/docs/5.2.1.RELEASE/reference/htmlsingle/#oauth2Client-password-grant) and this [sample](https://github.com/jgrandja/spring-security-oauth-5-2-migrate).

You are using a pre 5.2 version if you're getting that error message.

[2019-12-10 20:42] #7715 closed

[2019-12-10 20:55] jgrandja commented on #7714
@okhowang You can customize the `OAuth2AuthorizationRequest` by supplying a custom `OAuth2AuthorizationRequestResolver`. See the [reference doc](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#customizing-the-authorization-request) for an example.

You can also [customize the Token Request](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle

[2019-12-10 20:55] #7714 closed

[2019-12-10 21:15] philsttr commented on #7699
Ok, I think I'm following you now.  I was only thinking about using these handlers when communicating with a resource server.   But you make an excellent point that these same handlers could be used when communicating with the authorization server to retrieve/refresh a token (your cases 1-3)

Yeah, this was the original use case for this issue.  I'd like to have `ServerOAuth2AuthorizedClientExchan

[2019-12-10 21:16] jgrandja commented on #4557
Thanks for the offer @rh-id. We typically label `status: first-timers-only` for first time issues. This one is a bit more involved. However, if you're keen on working on this than I would propose we both work on it that way I can guide you through the process and help with the implementation. Alternatively, I can find another issue for you to work on. Let me know your preference.

[2019-12-11 01:40] atoztoa opened #7718 "Force logout on access token expiry."
### Summary

When access token expires, I am calling `/authorize` endpoint and it returns a new `code` which in turn allows me to get a fresh token. What is the point of have `accessTokenValiditySeconds` if the user can keep getting fresh tokens without logging in again?

I know the ask is brief. I want to start a discussion to understand what the expected behavior is. When access token expires, s

[2019-12-11 02:38] okhowang commented on #7714
OAuth2AuthorizationRequestResolver has many common logic, for example pkcs and so on.
i just want use OAuth2AuthorizationRequestResolver and customizer OAuth2AuthorizationRequest.Builder

[2019-12-11 07:40] rh-id commented on #4557
hi @jgrandja . i'm fine with either options if there are more priority issues that you think more suitable then I could help on that

[2019-12-11 08:14] jgrandja commented on #7718
@atoztoa Please ask questions on StackOverflow. GitHub issues are for bug reports and feature requests only. Thank you.

[2019-12-11 08:14] #7718 closed

[2019-12-11 08:21] jgrandja commented on #7714
@okhowang I'm not sure I understand your request. Can you provide a more detailed explanation or even a code sample of what you would like to accomplish?

[2019-12-11 08:42] springfan opened #7719 "CookieCsrfTokenRepository doesn't work properly with CsrfFilter"
Spring v2.1.4.RELEASE

`CookieCsrfTokenRepository` is a dedicated class to make CSRF integration with AngularJS work out of the box / pretty easy.

In an AngularJS application it's enough enable CSRF by using the `CookieCsrfTokenRepository` and AngularJS automatically adds the CSRF header to POST and other requests:
Enable CSRF in the WebConfig through ` `http.csrf().csrfTokenRepository(CookieCsrf

[2019-12-11 08:55] jgrandja commented on #7699
I'd rather keep the `ReactiveOAuth2AuthorizedClientManager` contract minimal (functional). As well, I see the handling of errors an implementation detail so I feel it makes sense to define this in the implementation rather than the interface. We currently provide setters for these type of handlers in `AuthenticationWebFilter` or `AbstractAuthenticationProcessingFilter` so we would follow the same

[2019-12-11 09:52] jgrandja commented on #7709
@rchigvintsev Have you considered supplying a custom `WebClient` via `WebClientReactiveAuthorizationCodeTokenResponseClient.setWebClient()` configured as follows:

[code]

This configuration should allow you to post-process the response and return a modified response before the default `OAuth2BodyExtractors.oauth2AccessTokenResponse()` is applied - avoiding the error from occurring. I believe this

[2019-12-11 11:53] jgrandja commented on #4557
@rh-id This is an important feature and needs to get into 5.3.0. So let's work on this together. I think the best approach would be for me to put together the initial "Draft PR" and we can work from there. I'll think of an approach that will make it easy for you to implement the necessary artifacts. I'll submit the Draft PR end of week or early next week and we can go from there. Sound good?

[2019-12-11 12:45] rh-id commented on #4557
@jgrandja sounds good  👍

[2019-12-11 13:39] rchigvintsev commented on #7709
@jgrandja
Yes, I implemented almost the same `ExchangeFilterFunction` and of course it works but using custom body extractor looks like a cleaner solution to me:

    WebClientReactiveAuthorizationCodeTokenResponseClient
            = new WebClientReactiveAuthorizationCodeTokenResponseClient();
    client.setTokenResponseBodyExtractor(NaughtyOAuth2ProviderBodyExtractor())

    public class Naughty

[2019-12-11 13:50] springfan commented on #7719
The following change in the class `ModifiedCookieCsrfTokenRepository` makes it work for me:

`static final String DEFAULT_CSRF_HEADER_NAME = "X-XSRF-TOKEN";`

to

`static final String DEFAULT_CSRF_HEADER_NAME = "x-xsrf-token";`

[2019-12-11 13:51] springfan commented on #7719
The following change in the class CookieCsrfTokenRepository makes it work for me:

static final String DEFAULT_CSRF_HEADER_NAME = "X-XSRF-TOKEN";

to

static final String DEFAULT_CSRF_HEADER_NAME = "x-xsrf-token";

[2019-12-11 14:09] jgrandja commented on #7709
@rchigvintsev

IMO, it's pretty similar but it does help with reading/writing the response body which is convenient. However, there are quite a few configuration points for `WebClient` and it really should be configured directly with `WebClient`.

If we were to provide `setTokenResponseBodyExtractor()` than I could see a user requesting `setTokenRequestBodyInserter()` or `setDefaultHeaders()` etc.

[2019-12-11 14:21] jgrandja commented on #4557
@rh-id If you haven't already, please get familiar with the [contributing guidelines](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md).

[2019-12-11 15:01] rchigvintsev commented on #7709
@jgrandja
This makes sense, of course, although using a filter still seems to me like a diving to a lower API level.
Maybe it would be better to have some not related to `WebClient` method/interface for converting map of parameters from response body to `OAuth2AccessTokenResponse`.
Anyway thanks for considering this issue! I'm going to close it.

[2019-12-11 15:09] #7709 closed

[2019-12-11 15:12] jgrandja commented on #7709
Thank you for understanding @rchigvintsev

[2019-12-11 15:38] gtiwari333 commented on #7719
Hi @springfan ,

You can update the header name using CookieCsrfTokenRepository.setHeaderName(String ) metthod

See below:
[code]

[2019-12-11 15:46] elefeint opened #7720 "Upgrade com.nimbusds:nimbus-jose-jwt dependency"
### Summary

Upgrade `com.nimbusds:nimbus-jose-jwt` to version 7.9 or higher (it is currently [7.8.1](https://github.com/spring-projects/spring-security/blob/bc2aedac69d30585e18f6f761ae363223d8571fc/gradle/dependency-management.gradle#L59), which seems to be the final bugfix version for 7.8 branch)

There is a medium severity validation security vulnerability ([snyk](https://app.snyk.io/vuln/SNYK-

[2019-12-11 16:32] philsttr commented on #7699
Ok, that works for me.  I think I have enough to start on an implementation.  I have a couple other things on my plate, but should be able to start soon.

[2019-12-11 16:35] sdoxsee opened #7721 "RequestCacheSpec not used on RedirectServerAuthenticationEntryPoint for OAuth2LoginSpec.configure"
### Summary

The `RequestCache` set in the RequestCacheSpec is not used on RedirectServerAuthenticationEntryPoint for OAuth2LoginSpec.configure

### Actual Behavior

From `ServerHttpSecurity`
[code]

`RedirectServerAuthenticationEntryPoint`'s RequestCache remains the default `WebSessionServerRequestCache` rather than the one set on the `RequestCacheSpec` for `ServerHttpSecurity`

### Expected Beha

[2019-12-11 16:56] sdoxsee commented on #5766
Seems odd to require a workaround to add the CsrfToken for CookieServerCsrfTokenRepository. I'm a reactive rookie but this is my what I currently have working for my functional routes (since `@ControllerAdvise` won't work for unless you're using the annotated programming model)
[code]
@rwinch could we re-open this and think about a more intuitive experience? See upvotes on https://github.com/sprin

[2019-12-11 17:15] jgrandja commented on #7699
Sounds good and thanks for all your great work @philsttr

[2019-12-11 19:11] jzheaux commented on #5485
Per @rwinch's comment, this is already taken care of via `HttpHeaders`.

[2019-12-11 19:11] #5485 closed

[2019-12-11 21:25] horca opened #7722 "Saml2WebSsoAuthenticationFilter ignores the authentication details"
Hello Spring Security team,

#### Problem
When using the `UsernamePasswordAuthenticationFilter` we are setting custom authentication details with `AuthenticationDetailsSource` to be used further down the security chain. Unfortunately, the `Saml2WebSsoAuthenticationFilter` does not populate the authentication details even though it inherits from `AbstractAuthenticationProcessingFilter` which allows

[2019-12-11 21:38] rwinch opened #7723 "DelegatingServerLogoutHandler Should Execute Sequentially"
### Summary

Currently Spring Security's `DelegatingServerLogoutHandler` executes the delegates in parallel. This causes issues like https://github.com/spring-projects/spring-session/issues/1523 Instead `DelegatingServerLogoutHandler` should execute sequentially.

[2019-12-11 21:39] #7723 closed

[2019-12-11 22:34] jzheaux opened #7724 "Add JwtAuthenticationManagerResolver"
Related to #6778 and #5351

It would be nice if there were an `AuthenticationManagerResolver` implementation that simplified the resolution of `AuthenticationManager`s by the `iss` JWT claim.

[2019-12-11 23:42] philsttr commented on #7699
Next observations after looking deeper into this:

**1.** It seems like this change also needs to be made in non-reactive environments.  I'll take a look at this as well as part of this issue.

**2.** I'm trying to figure out where to get the values to pass as the arguments needed by the *OAuth2AuthorizedClientRepository/Service save/removeAuthorizedClient methods.

Specifically:
* `Authentication

[2019-12-12 02:01] fhanik commented on #7722
I feel these two are related, and one solution could satisfy both
https://github.com/spring-projects/spring-security/issues/7465

[2019-12-12 02:15] okhowang commented on #7714
for example, when call with a standard oauth provider
spring security will redirect to url like `https://some.domain.com/authorize?client_id=foo&scope=bar&response_type=code&redirect_uri=https://some.url/`
but in wechat it will be `https://some.domain.com/authorize?appid=foo&scope=bar&response_type=code&redirect_uri=https://some.url/#wechat_redirect`

of course, i can customize OAuth2Authorization

[2019-12-12 02:26] spring-issuemaster opened #7725 "DelegatingServerLogoutHandler Should Execute Sequentially"
Backport of gh-7723

[2019-12-12 02:26] spring-issuemaster commented on #7725
Fixed via 6db7b457b7cab698264732c7bfa19e4699a79f1c

[2019-12-12 02:26] #7725 closed

[2019-12-12 09:21] horca commented on #7722
I'm not really sure if this issue relates to the UserService and AuthenticatedPrincipal... Please see [this commit](https://github.com/horca/spring-security/commit/a524e40dbdc9d53a61837e117580ec80a77bd843) for more information on what I'm trying to achieve (same mechanism as UsernamePasswordAuthenticationFilter).

[2019-12-12 11:32] eleftherias commented on #7692
@garrychnca Can you add some more details describing what you are trying to accomplish?
Would it be possible by setting a custom `authenticationEntryPoint`?

[2019-12-12 13:49] spring-issuemaster opened #7727 "DelegatingServerLogoutHandler Should Execute Sequentially"
Backport of gh-7723

[2019-12-12 13:49] spring-issuemaster commented on #7727
Fixed via c395da3e040107720850aa44bb315f2b667fae33

[2019-12-12 13:49] #7727 closed

[2019-12-12 14:12] rwinch opened #7728 "DelegatingServerAuthenticationSuccessHandler Should Execute Sequentially"
### Summary

Currently Spring Security's DelegatingServerAuthenticationSuccessHandler executes the delegates in parallel. This can cause race conditions. Instead it should be executed sequentially.

Related gh-7723

[2019-12-12 14:33] #7728 closed

[2019-12-12 15:17] spring-issuemaster opened #7729 "DelegatingServerAuthenticationSuccessHandler Should Execute Sequentially"
Backport of gh-7728

[2019-12-12 15:17] spring-issuemaster commented on #7729
Fixed via bd6ff1f319cb810dc362b851040b426d79c0e115

[2019-12-12 15:17] #7729 closed

[2019-12-12 15:19] Dav1dde commented on #6598
@eleftherias once again, thanks for the great discussion and the time you invested  into this issue and I am glad, we together, could make Spring (Security) a tiny bit better :)

[2019-12-12 15:19] #6598 closed

[2019-12-12 15:31] spring-issuemaster opened #7730 "DelegatingServerAuthenticationSuccessHandler Should Execute Sequentially"
Backport of gh-7728

[2019-12-12 15:31] spring-issuemaster commented on #7730
Fixed via 113666051868a2b2f0621567dd8ad0948c88cdb4

[2019-12-12 15:31] #7730 closed

[2019-12-12 16:11] #7681 closed

[2019-12-12 17:23] rwinch opened #7731 "CompositeServerHttpHeadersWriter Should Execute Sequentially"
### Summary
Currently Spring Security's CompositeServerHttpHeadersWriter executes the delegates in parallel. This can cause race conditions. Instead it should be executed sequentially.

Related gh-7723

[2019-12-12 17:24] #7731 closed

[2019-12-12 17:42] spring-issuemaster opened #7732 "CompositeServerHttpHeadersWriter Should Execute Sequentially"
Backport of gh-7731

[2019-12-12 17:42] spring-issuemaster commented on #7732
Fixed via 29eb8b91776ebdf35f0c29d5e0d64b4a5ec10194

[2019-12-12 17:42] #7732 closed

[2019-12-12 20:03] fhanik commented on #7720
I've requested input from @jzheaux. I remember there may be some incompatibilities that need to be resolved prior to fixing this.

[2019-12-12 20:12] fhanik commented on #7719
Header names should be [case insensitive](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2).

Given that there is a working mitigation through configuration, I'm marking this as an enhancement and requesting feedback from @rwinch prior to  making changes.

I'm thinking that

Should be (in the scenario where the header map is all in lowercase)

[2019-12-12 20:30] fhanik commented on #7716
For feature parity it would be reasonable to expect a [`ReactiveUserDetailsManager`](https://github.com/spring-projects/spring-security/blob/b93528138e2b2f7ad34d10a040e6b7ac50fc587a/core/src/main/java/org/springframework/security/provisioning/UserDetailsManager.java#L28-L59) interface similar to its [servlet counterpart](https://github.com/spring-projects/spring-security/blob/b93528138e2b2f7ad34d1

[2019-12-12 20:34] fhanik commented on #7701
I'm not able to decipher what the bug is, and if it is a problem in Spring Security. Would you care to provide a link to a *sample source code*, preferably as small as possible that would highlight the actual problem you are running into?

[2019-12-12 20:42] fhanik commented on #7698
Hi @misisol

This appears to be a question around configuration, rather than a bug in the Spring Security codebase.
You can review [existing questions[1]](https://stackoverflow.com/search?q=%5Bspring-security%5D+custom+userdetailsservice) on StackOverflow, or perhaps ask a new one.

Remember, if you provide a link to a usable sample you may get a better response.

There are [some posts [2]](https:

[2019-12-12 20:42] #7698 closed

[2019-12-12 20:44] spring-issuemaster opened #7735 "CompositeServerHttpHeadersWriter Should Execute Sequentially"
Backport of gh-7731

[2019-12-12 20:44] spring-issuemaster commented on #7735
Fixed via 0f8927b500ee3b34e2a2b82e5d3e147ff0434667

[2019-12-12 20:44] #7735 closed

[2019-12-12 20:54] jgrandja commented on #7699
**(1)**

Yes it does. I was planning on adding another ticket for the Servlet implementation. However, it would be ideal to have both merged together. Thanks for looking into this as well !

**(2)**

Agreed. We should pass in the `Authentication` instead of `String` for principal

I feel we need to pass in all required arguments into the handler. We just need to figure out the best way to do this

[2019-12-12 21:04] spring-issuemaster opened #7736 "CompositeServerHttpHeadersWriter Should Execute Sequentially"
Backport of gh-7731

[2019-12-12 21:04] spring-issuemaster commented on #7736
Fixed via 8da27b5f414adff0d86b3553feee9f7c7b2296a6

[2019-12-12 21:04] #7736 closed

[2019-12-12 21:22] PyvesB commented on #7716
Yes, I can give it a go!

[2019-12-12 21:26] jgrandja commented on #7714
Ok I understand now.

So let's say we add `DefaultOAuth2AuthorizationRequestResolver.setAuthorizationRequestConsumer(Consumer<OAuth2AuthorizationRequest.Builder> builderConsumer)`. This will allow you to supply a `Consumer` and hook into the build process.

However, it still will not let you change the parameter names. You need to change `client_id` to `appid` but the `Consumer` will only allow yo

[2019-12-12 21:30] rwinch opened #7737 "Docs ServerRSocketFactoryCustomizer->ServerRSocketFactoryProcessor"
### Summary

The documentation incorrectly used ServerRSocketFactoryCustomizer which
was renamed to ServerRSocketFactoryProcessor. The docs now use the correct
class name

[2019-12-12 21:30] #7737 closed

[2019-12-12 21:31] spring-issuemaster opened #7738 "Docs ServerRSocketFactoryCustomizer->ServerRSocketFactoryProcessor"
Backport of gh-7737

[2019-12-12 21:31] spring-issuemaster commented on #7738
Fixed via b00999deed40d22b78472a28b41a17808d98afdf

[2019-12-12 21:31] #7738 closed

[2019-12-12 21:58] rwinch commented on #7719
@springfan Thank you for the report.

As [mentioned](https://github.com/spring-projects/spring-security/issues/7719#issuecomment-565166909) and stated in [HttpServletRequest.getHeader(String) Javadoc](https://docs.oracle.com/javaee/6/api/javax/servlet/http/HttpServletRequest.html#getHeader(java.lang.String)), the header name is case insensitive. For that reason, This seems like a bug elsewhere and

[2019-12-12 22:09] philsttr commented on #7699
**(1)** 👍

**(2)**  I like the introduction of *Event with attributes.  Excellent idea.

**(3)** 👍

**(4)** Ok, yeah, after looking at the rfc, I can see now how an `OAuth2Error` makes sense when handling responses from a resource server.  I'll introduce new constants for `invalid_token` and `insufficient_scope` in `OAuth2ErrorCodes` as part of this change.

**(5)** 👍

**(6)**
The next (hopefully

[2019-12-12 22:13] spring-issuemaster opened #7739 "Saml2Authentication isn't serializable"
Backport of gh-7681

[2019-12-12 22:54] pthorson commented on #7695
OK I was still on 5.2.0 M2. I see the new method now that I have upgraded 5.2.1.

The ClientRegistration Build still sets the Map unmodifiable in its call to create:

    	providerDetails.configurationMetadata = Collections.unmodifiableMap(this.configurationMetadata);

So I just have to copy it after grabbing it and then it can be modified and built again:

    	Map<String, Object> unmofifiableCon

[2019-12-13 00:52] xBioDreadx commented on #6461
Maybe there are already appeared some examples of this use case?
Can you point to some of spring auth tools that can be used for it?

[2019-12-13 01:54] xinghen110 commented on #7701
I slove it in spring-cloud-security area, by use ObjectProvider<MyFeignClient>, thx and i will close this issue.

[2019-12-13 01:54] #7701 closed

[2019-12-13 02:54] okhowang commented on #7714
final redirect uri is make by `OAuth2AuthorizationRequest.Builder#buildAuthorizationRequestUri`
I write a builder which use a parameterNameMap to map oauth2 original parameterName to provider's parametersName now
[code]

[2019-12-13 03:31] dengqingguo opened #7740 "Question about PersistentRememberMeServices series generation algorithm"
### Summary
Series relates to username, it should be unique.AFAIK,SecureRandom do not guarantee unique.How did Spring Security solve it?

### Actual Behavior
[code]

[2019-12-13 06:08] NaozumiTaromaru opened #7741 "LDAP search base require JNDI escaping in addition to LDAP escaping for special characters"
### Summary

When use `<sec:ldap-authentication-provider>` with `<sec:password-compare>`, user's dn lacks JNDI escaping.
Strictly speaking, method that requires JNDI escaping is used when PasswordComparisonAuthenticator is used.
When passing dn to the Context, javax.naming.Name should be used instead of String.

see: https://docs.oracle.com/javase/jndi/tutorial/beyond/names/syntax.html

### Actual

[2019-12-13 08:53] soarten commented on #7696
I also ran into this issue using a proprietary in house IdP from a large organization. This IdP provides a limited openid feature set and does not support nonce parameters. It does however integrate with well known clients like Keycloak and others.

Although one can navigate around this problem as was suggested above. This is not a very clean solution. It would be nice to have a switch to disable

[2019-12-13 09:01] eleftherias commented on #7739
Fixed in 0782228914b46919a0bfc126e0045eed92565957.

[2019-12-13 09:01] #7739 closed

[2019-12-13 09:10] eleftherias commented on #7482
@buzzerrookie Yes, thank you for providing the sample.
I initially misunderstood the issue, but I can now see the problem with the deserialization.
I will leave some comments in your PR.

[2019-12-13 09:27] springfan commented on #7719
The idea @gtiwari333 suggested worked for me:

[code]

I stand corrected. It's a 405 but the error is `Method Not Allowed` with message `'POST' not supported`:
`{"timestamp":"2019-12-13T09:23:35.948+0000","status":405,"error":"Method Not Allowed","message":"Request method 'POST' not supported","trace":"org.springframework.web.HttpRequestMethodNotSupportedException: Request method 'POST' not suppor

[2019-12-13 09:44] springfan commented on #7719
Here is the concrete class that implements the HttpServletRequest in the mentioned case:

![image](https://user-images.githubusercontent.com/47181783/70790463-692b4f00-1d95-11ea-85bb-9d811670797b.png)

[2019-12-13 11:39] spring-issuemaster commented on #7682
Fixed via 0d24e2b8cfc872327656907e4fc889351bcaacc7

[2019-12-13 11:44] spring-issuemaster opened #7742 "Disabling logout in WebFlux does nothing"
Backport of gh-7682

[2019-12-13 11:46] eleftherias commented on #7742
Fixed via 0d24e2b8cfc872327656907e4fc889351bcaacc7

[2019-12-13 11:46] #7742 closed

[2019-12-13 16:57] #7661 closed

[2019-12-13 18:14] fhanik commented on #7741
Thank you for a very detailed report @NaozumiTaromaru . The double escaping between JNDI and LDAP is indeed confusing and can create regressions if we don't tread carefully, as there may be implementations that have added escaping on top of the existing code base.

If you wish to collaborate on this let me know. Regression is something we wish to avoid.

[2019-12-13 18:25] fhanik commented on #7740
Thank you for the report @dengqingguo

I believe this class may have been written before `java.util.UUID` was introduced. While a collision is unlikely, switching to `UUID` seems like a reasonable enhancement.

[2019-12-13 19:39] jgrandja commented on #7699
**(6)**
I feel option A makes the most sense. I would introduce a new exception named `ClientAuthorizationException`. This exception would serve as the base exception for all authorization related errors for client. The new hierarchy would be:

`OAuth2AuthorizationException` <- `ClientAuthorizationException` <- `ClientAuthorizationRequiredException`

We could than push `ClientAuthorizationRequired

[2019-12-14 04:39] buzzerrookie commented on #7482
@eleftherias I have pushed another commit to branch gh-7482. Could you have a look to see whether it is ok? Thank you.

[2019-12-14 11:09] PyvesB commented on #7716
Just to clarify, are you suggesting to create a new `ReactiveUserDetailsManager` interface and make `MapReactiveUserDetailsService` implement it? If we closely follow the servlet equivalents, the hierarchy could look like the following:
[code]

The issue with this approach is that `MapReactiveUserDetailsService` would be somewhat misnamed, it should ideally be called `MapReactiveUserDetailsManager

[2019-12-14 21:14] JohnWu-Pro opened #7745 "SecurityMockMvcConfigurer regression in Spring Boot 2.2.1"
### Summary

SecurityMockMvcConfigurer$DelegateFilter is not null-safe, if no `springSecurityFilterChain` is available.

### Actual Behavior

[code]

### Expected Behavior

No exception should be thrown even when no `springSecurityFilterChain` is available.

### Configuration

Our application uses spring security, and `org.springframework.security.test.web.servlet.setup.SecurityMockMvcConfigurers`

[2019-12-15 15:56] samanthacatania commented on #7715
Thanks for pointing me in the right direction. One further question, I noticed that in the sample the reactive `WebClient` is used. Are you aware if the current implementation is compatible with any other clients please?

[2019-12-15 16:27] ThomasVitale commented on #7713
Hi @jzheaux, I would like to work on this issue.

[2019-12-16 01:57] dengqingguo commented on #7740
Got it.Thanks for your reply. @fhanik

[2019-12-16 10:37] hbourada opened #7746 "AuthenticationProviderBeanDefinitionParser does not support UserDetailsPasswordService"
### Summary
`<security:authentication-provider>` XML configuration element is missing a `user-details-password-service` child or attribute to set a `UserDetailsPasswordService` property

### Actual Behavior
No means to set  UserDetailsPasswordService by XML configuration for `<security:authentication-provider>` and `DaoAuthenticationProvider` is missing a verification in `doAfterPropertiesSet` to

[2019-12-16 12:19] horca commented on #7722
Setting the details within the authentication provider is not needed as they are copied inside the `ProviderManager`

[2019-12-16 17:14] rwinch opened #7747 "Remote sitemesh dependency"
### Summary

Our build currently depends on sitemesh, but it hasn't been updated in a very long time. We should remove it from our builds and instead rely on thymeleaf support.

[2019-12-16 18:38] ch4mpy commented on #6557
@rnavarropiris  JWT authentication testing support is integrated in spring security 5.2 with "flow" API ([see samples](https://github.com/spring-projects/spring-security/blob/master/samples/boot/oauth2resourceserver/src/test/java/sample/OAuth2ResourceServerControllerTests.java))

For annotation (or introspection) support you can see [this lib](https://github.com/ch4mpy/spring-addons/tree/master/sp

[2019-12-17 00:38] jgrandja commented on #7714
@okhowang I just submitted #7748. Please see this [test](https://github.com/spring-projects/spring-security/pull/7748/files#diff-90727aef1dcd758095c8cedb4e7cafd5R447), which should handle your use case. Please let me know if this will work for you.

[2019-12-17 00:48] jgrandja commented on #7696
@hejianchao @soarten I took a look at pac4j and I see that it provides a switch `setUseNonce(true)`. I'm not a fan of this approach since every extended parameter would need an associated `setUseExtendedParameter(true)`. And there are quite a few OIDC specific extension parameters. This will quickly make `DefaultOAuth2AuthorizationRequestResolver` unwieldy.

Instead of the switch approach, we're l

[2019-12-17 02:48] okhowang commented on #7714
In parameters, it looks like ok
but how to it for url segment, aka hash? or more?
we may not need a Consumer for `OAuth2AuthorizationRequest.Builder`
a interface for `OAuth2AuthorizationRequest.Builder` may be better?
and we can set a customize implementation of RequestBuilder for `DefaultOAuth2AuthorizationRequestResolver`

[2019-12-17 03:40] hejianchao commented on #7696
@jgrandja Great, through `Consumer<OAuth2AuthorizationRequest.Builder>`, it can be more flexible and convenient for users to control the request, which solved my problem. Thank you.

[2019-12-17 04:23] philsttr commented on #7699
I made a first pass at introducing reactive success/failure handlers today.

See the https://github.com/philsttr/spring-security/tree/gh-7699 branch for work-in-progress.

I have lots of unit tests to write, but the basics are there.

[2019-12-17 09:20] jgrandja commented on #7714
@okhowang

You can do this:

[code]

I'm not sure if an interface would be better. I believe a `Consumer` is simpler.

Do you see any limitations with the `Consumer<OAuth2AuthorizationRequest.Builder>` approach? If so, please provide specific details so I can understand and improve.

[2019-12-17 09:32] jgrandja commented on #7715
At the moment, `WebClient` is the only HTTP Client supported by Spring Security 5.2 via `ServletOAuth2AuthorizedClientExchangeFilterFunction` and `ServerOAuth2AuthorizedClientExchangeFilterFunction` (reactive).

However, you may use `OAuth2AuthorizedClientManager` (or `ReactiveOAuth2AuthorizedClientManager`) in collaboration with any HTTP Client of your choosing. All you need is the access token t

[2019-12-17 09:46] okhowang commented on #7714
`#wechat_redirect` need be add on authorizationUri not redirectUri
or builder add a hash optional
like below
[code]

[2019-12-17 13:09] csyperski opened #7749 "Saml2 Xml Sample"
### Summary

There are many of us migrating away form the spring-security-saml as it is no longer maintained, and I would really like to see an XML based sample of how to get up and running with the Saml Sp implementation that is now part of 5.2.0+.  I believe a sample XML project would help many of us make the transition.

### Actual Behavior

There currently aren't any xml-based samples using Sa

[2019-12-17 15:42] hbourada opened #7750 "JdbcUserDetailsManager does not implements UserDetailsPasswordService"
### Summary
`JdbcUserDetailsManager` does not implements `UserDetailsPasswordService` like `InMemoryUserDetailsManager`

### Actual Behavior
We ca not upgrade password encoding when using  `JdbcUserDetailsManager`

### Expected Behavior
JdbcUserDetailsManager is not easy to extends because sql fields are `private` as `createUserSql`  and not getters for them.

### Configuration

### Version
5.2

#

[2019-12-17 17:47] jzheaux commented on #6778
@gburboz @xsreality @bertramn Would you comment on how well this implementation would address your multi-tenancy use cases?

The essence of the idea is:

[code]

or

[code]

Where said `Function` could be `Map#get`, `Repository#load`, etc.

[2019-12-17 18:29] jzheaux commented on #7713
@ThomasVitale it's yours

[2019-12-17 18:44] jzheaux commented on #5351
@bertramn, you are right that 5.2.x doesn't support any specific multi-tenancy model for resource servers. `AuthenticationManagerResolver` gives applications a place to address their multi-tenancy use case, be it whatever it may. In 5.2.x, there is just the interface and DSL hook.

#7724 demonstrates one way Spring Security might be able to support your use case for JWTs and multiple issuers - fee

[2019-12-17 19:32] jgrandja commented on #7714
I thought you need to add to `redirect_uri`?

[2019-12-17 19:53] okhowang commented on #7714
I'm sorry for bad case
in wechat doc it's like `https://open.weixin.qq.com/connect/oauth2/authorize?appid=APPID&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect`

[2019-12-17 20:15] jgrandja commented on #7699
That is an excellent first pass @philsttr ! I'm excited about this new feature ! Thank you for your great work 👍

[2019-12-17 20:19] jgrandja commented on #7714
ok so `#wechat_redirect` is appended at the end of `URI`. Let me see what I can come up with to support this.

[2019-12-17 21:33] spring-issuemaster opened #7751 "RequestCacheSpec not used on RedirectServerAuthenticationEntryPoint for OAuth2LoginSpec.configure"
Backport of gh-7721

[2019-12-17 21:33] #7721 closed

[2019-12-17 21:34] #7654 closed

[2019-12-17 21:43] sdoxsee commented on #7721
Thanks @fhanik!

[2019-12-17 23:23] DominikSchulze opened #7752 "Switching from HTTPS to HTTP: JSESSIONID gets lost on login"
### Summary

I have switched from https to http by removing ```server.ssl.*``` from application.properties and changing the port. In Chrome I also deleted the cookies by clicking next to the URL. I am not able to login anymore.
The login success handler gets called and a JSESSIONID is replied from /login, but the redirect (302) does not work. The request header does not contain JSESSIONID even tho

[2019-12-18 14:30] jgrandja commented on #7699
@philsttr To make things easier during the review process, let's focus on the reactive implementation first and submit in it's own PR. After it's merged, we can switch to the Servlet implementation.

[2019-12-18 15:53] eleftherias commented on #5154
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-12-18 15:53] #5154 closed

[2019-12-18 16:05] eleftherias commented on #7752
Thanks for the report @DominikSchulze. I am not able to reproduce this issue, could you please share a minimal sample that reproduces the issue that you are seeing?

[2019-12-18 16:32] soarten commented on #7696
Using switches for all sorts of options is far from ideal indeed, this would be a better solution!

[2019-12-18 16:35] #7482 closed

[2019-12-18 16:44] spring-issuemaster commented on #7751
Fixed via b754a3d6353112fd44c41ffed9b89649caaadae4

[2019-12-18 16:44] #7751 closed

[2019-12-18 17:50] #7720 closed

[2019-12-18 18:25] mlschechter commented on #6320
This is exceptionally useful functionality if you have any need for a custom authentication mechanism; most off-the-shelf solutions like Keycloak limit customization and require you to switch your authentication to them. This is very difficult when they don't support platform-like capabilities (such as multi-level multi-tenancy).

Please keep this in the Spring framework.

[2019-12-18 19:43] hanscrg opened #7754 "Netty http client connection reset by peer in spring-security"
There are two issues here, one is directly related to Netty which is used by Spring Security - Connection rest by peer, but it is also about how Spring Security configure it; the other issue is no documented way for applications leverage Spring security to customized Spring Security's webclient or httpclientconnector - Netty HTTP Client.

We uses Spring Cloud Gateway/Spring Security for Authentica

[2019-12-18 22:22] jzheaux commented on #7745
Have you already tried the RestAssured support for turning off security?

For example. you could do something like:

[code]

And then in your test doing:

[code]

The RestAssured folks may have a different opinion on the preferred way to shut off security for a request.

I prefer the above solution since Spring Security's test support probably shouldn't be added at all if Spring Security isn't con

[2019-12-18 23:14] jzheaux commented on #7718
@atoztoa, access tokens expire so that clients are forced to request a renewal on a periodic basis. The authorization server may choose to grant or deny that request.

If the client calls `/authorize`, for example, the authorization server may choose to show a login page instead of issuing a new `code`.

As @jgrandja said, StackOverflow is probably a better place for questions - feel free to add a

[2019-12-19 14:33] jzheaux commented on #6557
@rnavarropiris, to add to @ch4mpy's comment, Spring Security's MockMvc support for JWTs is documented [in the reference](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#literal-jwt-requestpostprocessor-literal).

[2019-12-19 17:25] MichaelVetter commented on #7720
The security vulnerability is fixed in version 7.8.1 (see #7570) but it is helpful that you upgraded the version.

[2019-12-19 18:57] jzheaux commented on #7720
Correct, @MichaelVetter, because Spring Security was on 7.8.1, there's no security issue. It's always the goal to upgrade to the latest possible, though, so this was a good ticket either way.

[2019-12-19 19:35] zerkowsm opened #7757 "Spring OAuth2 Resource Server - user-name-attribute not reflected in SecurityContextHolder"
### Summary
user-name-attribute not reflected in SecurityContextHolder. This is the follow up on https://stackoverflow.com/questions/59410641/spring-oauth2-resource-server-user-name-attribute-not-reflected-in-securitycon

### Actual Behavior

JwtAuthenticationConverter has
[code]
where:
[code]
### Expected Behavior

`JwtAuthenticationConverter` convert method if there is userNameAttribute set shou

[2019-12-19 19:38] elefeint commented on #7720
Ah, so it was a false positive because CVE did not get updated. Good to know, thanks!

[2019-12-19 20:03] JohnWu-Pro commented on #7745
I worked out a workaround while I was filing the issue. And, both of your suggestions work as well.

On the other side, `SecurityMockMvcConfigurer` is still not null-safe, from the coding style point of view.

[2019-12-20 00:16] jzheaux commented on #7757
Thanks for the report, @zerkowsm. I responded via the SO ticket since I don't believe this to be a bug; however, feel free to comment further if you feel there's more to discuss.

[2019-12-20 00:16] #7757 closed

[2019-12-20 00:28] jzheaux commented on #7745
The way null-safety is achieved in Spring Security is typically to throw an exception when a null is not permissible. So, while I agree `SecurityMockMvcConfigurer#DelegateFilter` could be polished, your particular outcome would be the same.

I agree that it would be better for `DelegateFilter` to be null-safe. Would you be interested in submitting a PR that did something like the following:

[code

[2019-12-20 02:03] fhanik commented on #7711
@berschmoe

Thank you for your report. You are absolutely correct. I had originally implemented this as a `POST` binding and when I switched it to `REDIRECT` I didn't go back to the spec to check the signatures.

The BINDING spec covers this in detail in section [3.4.4.1 DEFLATE Encoding](https://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf)

Some Identity Providers, like Okta,

[2019-12-20 06:52] zerkowsm commented on #7757
Thanks, I do not know where should I reply but SO has limits for comments so I will do that here.
Yes, it works as you wrote only casting to `JwtAuthenticationToken` is missing. But isn’t it rather kind of workaround with constructing ‘the same’ object twice… still – works, thanks!
I’m just wondering if instead of having it hard coded it wouldn't be nice to have it configurable. I know that there

[2019-12-20 07:37] NaozumiTaromaru commented on #7741
If you pay attention to the following three, I think that regressions will not occur.

 * String dn is according to RFC2253. In other words, the value of dn is after LDAP escaping according to RFC2253.
   * I think this is already done in most places.
 * When passing dn to each method of InitialLdapContext as seach base, pass it as Name. (Do not write JNDI escape logic.)
   * The common thing abou

[2019-12-20 14:34] setu9760 opened #7760 "ActiveDirectoryLdapAuthenticationProvider does not implement support for multiple urls"
### Summary

The javadoc for `ActiveDirectoryLdapAuthenticationProvider` constructors says the param `url` supports multiple URLs. The javadoc however does not define how the multiple URLs needs to be supplied (i.e delimiter specification). Upon trying to supply this param as multiple URLs as a comma or pipe separated list this string is used as is during the ldap binding

### Actual Behavior

By

[2019-12-20 14:57] JohnWu-Pro commented on #7745
I tried to submit a PR but somehow I couldn't push my changes to github and I don't have time to figure out why at this moment :-P.

So, here is the updated `org.springframework.security.test.web.servlet.setup.SecurityMockMvcConfigurer.DelegateFilter`, to make it more permissible.

[code]

[2019-12-20 15:21] hbourada opened #7761 "PasswordEncoderFactories is inflexible"
### Summary
org.springframework.security.crypto.password.PasswordEncoderFactories is inflexible as it impose `bcrypt` as default encoder id for the created `DelegatingPasswordEncoder`

### Actual Behavior
PasswordEncoderFactories is not customizable it has only one static method returning a `PasswordEncoder` instead `DelegatingPasswordEncoder`:
```public static PasswordEncoder createDelegatingPass

[2019-12-20 15:50] allw0rth opened #7763 "Discoverable Oauth2 provider for Spring Security"
My goal is to have a spring boot application utilize a discoverable Oauth2 provider that can be started from any hostname/port in the network. Instead of relying on hardcoded properties such as spring.security.oauth2.client.provider.provider.authorization-uri, the url would be dynamically configured at runtime.

Originally I was looking into providing a custom configuration for InMemoryClientRegis

[2019-12-20 16:40] OrangeDog commented on #7598
@jzheaux

What's this then ([BasicLookupStrategy.java:96](https://github.com/spring-projects/spring-security/blob/5.2.1.RELEASE/acl/src/main/java/org/springframework/security/acls/jdbc/BasicLookupStrategy.java#L96))?

	private final static String DEFAULT_SELECT_CLAUSE_ACL_CLASS_ID_TYPE_COLUMN = ", acl_class.class_id_type  ";

As far as I can tell, all that needs to happen is change that to `acl_cl

[2019-12-20 18:59] jzheaux commented on #7745
@JohnWu-Pro, sorry to hear you are having trouble with GitHub, and thank you for the code snippet.

I don't think this is the route that we want to go, though.

Basically instead of this:

[code]

We should do:

[code]

This lines up more with Spring Security's fundamental design principle of erroring when something is misconfigured (e.g. trying to use Spring Security's test support without settin

[2019-12-20 22:24] jzheaux commented on #7712
Related to, though more specific than https://github.com/spring-projects/spring-security/issues/7528

[2019-12-20 22:37] #7712 closed

[2019-12-21 00:07] jzheaux commented on #7750
Thanks for the report, @hbourada.

It does make sense to implement `UserDetailsPasswordService` for upgrading passwords in a database; however, this is risky specifically for `JdbcUserDetailsManager` from a backward compatibility standpoint. If `JdbcUserDetailsManager` were to implement `UserDetailsPasswordService`, it would break applications whose `password` column was too narrow to accept the n

[2019-12-21 00:18] jzheaux commented on #7598
Glad you got things working, @ChristianSch.

As a side note, the reference documentation is something we're working on improving - feel free to file a ticket if you have specific recommendations. Regarding the Baeldung article, I know that they are pretty open to you opening issues on their repo and updating their articles accordingly.

[2019-12-21 10:47] hbourada commented on #7750
Thank's for your response
The same problem occurs with the suggested code if password column is too narrow to accept the new encoded password.
We can make a defensive approach if we can't update to new password and log a warning to tell user that UserDetailsPasswordService was not able to update password and let previous one.
Regards

[2019-12-21 17:18] clavinovahan opened #7765 "Spring Security WebFlux IP Whitelist"
In the latest Spring Security which leverages WebFlux, the security config works like below,

SecurityWebFilterChain springSecurityFilterChain(ServerHttpSecurity http) {
    http.authorizeExchange().pathMatchers("/**") ....

Before there is a method hasIpAddress("xxx.xxx.xxx.xxx") we can use to config IP whitelist, now it's gone.

How to specify IP whitelist for new Spring Security Webflux?

[2019-12-21 18:22] Andrej37 commented on #7670
Привет

[2019-12-21 19:31] kittybossqueen71 opened #7766 "5332480121104337"
### Summary

### Actual Behavior

### Expected Behavior

### Configuration

### Version

### Sample

[2019-12-22 08:45] Hardik-Bardiya commented on #7629
no

[2019-12-23 07:23] Koprvhdix opened #7767 "Could I config HTTP method of requesting refresh token?"
### Summary
When I developed, I hoped use json to post the refresh token request. Is there any selution?

### Actual Behavior

### Expected Behavior

### Configuration

### Version

### Sample

[2019-12-23 11:42] arahlf opened #7768 "Security configurations causing StackOverflowError"
Using Spring to configure a server application with a PreAuthenticatedAuthenticationProvider, but when running it I end up with a StackOverflowError. An example project that reproduces the issue (run the tests) is here: https://github.com/arahlf/StackOverflowErrorExample

The end of the stack trace looks like:

[code]

I [posted this initially](https://github.com/spring-projects/spring-boot/issues

[2019-12-23 14:44] sarahkl85 commented on #7629
Yes

On Sun, Dec 22, 2019, 2:45 AM Hardik-Bardiya <notifications@github.com>
wrote:

[2019-12-23 23:41] jzheaux commented on #7766
It's unclear what this issue is for, @kittybossqueen71. Please add detail before reopening again.

[2019-12-23 23:41] #7766 closed

[2019-12-23 23:42] jzheaux commented on #7767
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-12-23 23:42] #7767 closed

[2019-12-24 02:11] Koprvhdix commented on #7767
Thank you. I'm sorry for openning this issues, and I will ask this question in Stack Overflow.

[2019-12-25 16:07] spring-issuemaster commented on #7752
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-12-25 19:24] codependent opened #7770 "Support Keycloak's OIDC backchannel logout"
### Summary

I have been using Keycloak's Spring Boot Adapter so far. The problem is the continuous necessity to keep the dependency up-to-date in every platform update. That's why, with Spring Security 5.2.x+ generic support, I had considered delegating this integration to Spring's.

There's one specific feature from Keycloak that isn't currently supported: single logout through the backchannel.

[2019-12-25 20:09] codependent opened #7771 "WebClient access token propagation for OIDC logged client"
### Summary

The whole context can be [found on Stackoverflow](https://stackoverflow.com/questions/59478787/spring-boot-2-oidc-oauth2-client-resource-server-not-propagating-the-access).

### Actual Behavior

Despite configuring a WebClient to propagate the access token after OIDC logging of a Spring Boot Oauth2 Client application...
[code]

The token is not propagated since `ServletBearerExchangeF

[2019-12-25 23:39] codependent commented on #7771
The point here is that `ServletBearerExchangeFilterFunction` is meant to be used in a [Resource Server](https://docs.spring.io/spring-security/site/docs/5.2.1.RELEASE/reference/htmlsingle/#bearer-token-propagation).

However, in my opinion, [OIDC clients](https://docs.spring.io/spring-security/site/docs/5.2.1.RELEASE/reference/htmlsingle/#webflux-oauth2-login) should also be able to propagate the

[2019-12-26 07:44] codependent commented on #7770
This is how Keycloak's adapter sends that information (along with the hostname:

[code]

The same could be achieved if there were some way to hook those additional parameters into the `OAuth2AuthorizationCodeGrantRequestEntityConverter`, e.g.:

[code]

[2019-12-26 14:21] codependent commented on #6266
In case someone ends up here looking for a solution, what @jgrandja suggested works great, e.g.:

[code]

[2019-12-27 13:25] #7670 closed

[2019-12-27 14:00] eleftherias opened #7774 "Use lambda DSL in all samples in documentation"
### Summary

Currently some of the samples in the Spring Security documentation are using the lambda DSL.
We should update all of the samples to use the lambda DSL.

The formatting should look like this:
[code]

[2019-12-28 18:48] ThomasVitale commented on #7713
@jzheaux do you have any recommendation to handle the ambiguity when passing `null` to the constructor? Would it be ok to force a `Collections.emptyList()` argument instead of `null` in case of no `AuthenticationProviders` passed to the `ProviderManager`? What about backward compatibility?

[2019-12-29 12:52] h7asoka opened #7776 "AuthenticationEntryPoint commence Why is it executed twice"
### Summary
AuthenticationEntryPoint  commence method Why is it executed twice

### Actual Behavior
throw new UsernameNotFoundException , AuthenticationEntryPoint  commence method Why is it executed twice

### Expected `Behavior`
1. throw new UsernameNotFoundException
2. First AuthenticationEntryPoint  commence method output UsernameNotFoundException message
3. Then AuthenticationEntryPoint  comme

[2019-12-30 05:14] bjconlan opened #7777 "Add a SignatureAlgorithm value to support the 'none' alg type."
### Summary
While inherently noted as bad practice (https://connect2id.com/products/nimbus-jose-jwt/vulnerabilities), the 'none' Jwk Algorithm sent by an authentication server should be supported as a SignatureAlgorithm. (This seems to be the case often in poorly configured or older ping federate/ping identity servers)

Currently there is no way to use the NimbusJwtDecoder builder class support th

[2019-12-30 05:21] bjconlan commented on #7777
This could perhaps fall under #7269

[2019-12-30 05:30] bjconlan commented on #7777
Actually after tracing the codepath this looks to just be a case of our auth servers being poorly implemented or setup. There shouldn't be a need for this if explicitly using signed jwt tokens (and falling back to plain tokens identifies something is incorrect when using JWK's. Closing.

[2019-12-30 05:30] #7777 closed

[2019-12-30 13:50] mikhail-putilov opened #7778 "Nullable parameter throws NPE"
https://github.com/spring-projects/spring-security/blob/0295b51e78302eed1fe37ffeb763e8afce0fb1ac/test/src/main/java/org/springframework/security/test/web/reactive/server/SecurityMockServerConfigurers.java#L173

Clearly there is an error when passing `null` as `httpHandlerBuilder` the method throws NPE.
I got this exception when I wanted to use it like this:
[code]

Stacktrace is:
[code]
I found no

[2019-12-30 15:21] berschmoe opened #7779 "SAML2 Assertion: Support to map additional user attributes"
### Summary
With the current implementation - in Spring Security 5.2.1 - it works very well to map external roles / authorities to internal authorities (using a custom `AuthoritiesExtractor`).

For all other user data (e.g. mail, country ...), which are also sent within the assertion, there is currently no possibility to read out the data.

It would be nice if we had something similar to the LDAP

[2019-12-30 16:58] jzheaux commented on #7778
@mikhail-putilov thanks for reporting this. Would you be able to provide a minimal sample that reproduces this behavior?

[2019-12-30 17:02] jzheaux commented on #7776
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-12-30 17:02] #7776 closed

[2019-12-30 17:28] jzheaux commented on #7713
@ThomasVitale good question

[code]

is not a supported use of that class, so I don't think there's much to worry about in the way of disambiguation. That is, if folks are doing that for some reason, they are on their own to make it work as they upgrade.

That said, we ought to continue to correctly error when null values are provided, so you might consider adding something like:

[code]
To the `c

[2019-12-30 17:37] fhanik commented on #7779
Thank you for the report

Linking with: https://github.com/spring-projects/spring-security/issues/7465 as there are a few issues around extracting user data from an assertion

[2019-12-30 18:00] jzheaux commented on #7771
@codependent Have you considered `ServerOAuth2AuthorizedClientExchangeFilterFunction`?

https://github.com/spring-projects/spring-security/blob/master/samples/boot/oauth2webclient-webflux/src/main/java/sample/config/WebClientConfig.java#L38

[2019-12-30 23:01] codependent commented on #7771
Oops, I can't believe I missed `ServerOAuth2AuthorizedClientExchangeFilterFunction` in the documentation. Thanks @jzheaux.

[2019-12-30 23:01] #7771 closed

[2019-12-31 21:34] juliusspencer commented on #1945
Hi, I have the same issue trying to migrate from 2.0.9 to 2.1.6 of spring-boot:

Is there any article that details how to get handle this with a number of users who have Oauth access and refresh tokens?

[2020-01-01 16:07] spring-issuemaster commented on #7752
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-01-01 16:07] #7752 closed

[2020-01-01 23:45] #7645 closed

[2020-01-02 08:59] jpiccaluga opened #7781 "Add possibility to insert extra form data parameter when getting access token with oauth2 client_credential flow"
### Summary

Some OIDC/OAuth2 provider like Auth0 requires audience parameter set in the post body when calling /oauth/token endpoint to retrieve access token with the client_credentials flow. They do this because an machine to machine client could potentially get access to multiple api resource server.
In order to make client_credentials work with OAuth2 provider specificity we need to re-impleme

[2020-01-02 11:03] lizz365 opened #7782 "Form Login authenticationFailureHandler is not used in ServerHttpSecurity"
### Summary
Use custom method when login fails, but authenticationFailureHandler method is invalid

### Actual Behavior

Use the wrong user in the page  at "/login",forward an authentication error page is "login?error".

### Expected Behavior
Use the wrong user in the page  at "/login",Execute my custom method.

### Configuration
[code]
[code]

[code]

### Version
5.2.1-RELEASE

### Reference
[cod

[2020-01-02 18:47] eleftherias commented on #7761
Thanks for the report @hbourada.

This is a duplicate of gh-5939.
You can check out that issue for a workaround.

[2020-01-02 18:47] #7761 closed

[2020-01-02 23:41] jchambers-ln opened #7783 "AbstractRequestParameterAllowFromStrategyTests and intern WhiteListedAllowFromStrategy uses querystring parameters"
If you have configured

[code]

The code that is eventually called to see if the calling website should be able to frame it is:

[code]

Where as request.getParameter is set via query string from the calling website... that is if I know what you have set in your white list I can simply make my IFrame have:
```<iframe src="http://somewebsite?x-frames-allow-from=somethingthatiswhitelisted"></iframe>

[2020-01-03 00:26] jchambers-ln commented on #7783
Actually probably more accurately should add a new class RefererWhiteListedAllowFromStrategy

Something like:
[code]

Then it can be used with something like: (note request.getHeader("referer"); typically has the trailing slash, so for hardened code probably would want to make the code handle with or without trailing slash.)

[code]

For now I've just done something similar with a local class to m

[2020-01-03 10:16] dstr89 commented on #7598
I have the same issue on Postgrees (spring-boot 2.2.2).

[code]

[2020-01-03 18:57] bmistry13 opened #7786 "Security Vulnerability CVE-2018-1258 Fix needed"
I am using the latest version of spring-security spring-security-core-5.2.1.RELEASE.jar and we scan for NCC dependency check we can get the following reported venerability.

CVE-2018-1258
https://nvd.nist.gov/vuln/detail/CVE-2018-1258
https://pivotal.io/security/cve-2018-1258

### Summary

I would like to know which version has a security fix.  Do you have a patch for this venerability?

### Actua

[2020-01-03 21:52] setu9760 commented on #7760
Happy to open a PR for this if someone from spring team can confirm how they would like this to be fixed? Below are the three suggestions I could think of;

- Keep the current constructor as is and provide and additional constructor which takes list of strings for url field. This maintains backwards compatibility.
- Only keep the current constructor but split the url parameter value by a delimiter

[2020-01-04 01:10] #6224 closed

[2020-01-06 14:57] OrangeDog commented on #3737
Have there been any thoughts/progress on this? Without consistent means to (de)serialize core Spring Security objects, upgrades become very difficult.

As well as Session storage, the same applies to Cache (e.g. used by Spring Security ACL) and OAuth implementations. Not even a `SimpleGrantedAuthority` (which is little more than a String) can be serialised across minor versions at the moment.

The

[2020-01-06 20:44] rwinch opened #7787 "Use Gradle Platform / Constraints"
### Summary

Switch to the built in platform and constraints

[2020-01-06 20:44] rwinch opened #7788 "Manage Versions using Version Locking"
### Summary
We should use Gradle's version locking and dependency ranges for managing our versions

[2020-01-06 20:47] #7787 closed

[2020-01-06 20:47] #7788 closed

[2020-01-06 21:38] jzheaux commented on #7786
@bmistry13 Thanks for the report. The linked CVE states that Spring Security is only vulnerable in conjunction with Spring Framework 5.0.5:

If you are not bringing in Spring Framework 5.0.5.RELEASE through a transitive dependency, then you are not affected.

[2020-01-06 21:38] #7786 closed

[2020-01-07 00:58] jzheaux opened #7789 "Add oauth2Login MockMvc Test Support"
Related to #7618

When testing applications that use OAuth 2.0 Login, it would be nice to have MockMvc support like:

[code]
or
[code]

as well as other builder methods relative to generating an authentication statement around an `OAuth2User` principal.

Note that the `attribute` method is necessary since the OAuth 2.0 spec doesn't specify any particular claims. It, then, correlates to the `idToke

[2020-01-07 11:02] huehnerlady opened #7790 "Migrate from spring-security-oauth"
Hi,

I want to migrate from Spring-security-oauth to spring security as the oauth lib is deprecated.
I found this [Migration Guide](https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide)

Unfortunately this is not sufficient for me to understand the migration process of my code, I could not really find examples either.
My [stackoverflow question](https://stackoverflow.c

[2020-01-07 14:25] ybbabr19 opened #7791 "No log message or exception if expected ldif file does not exist"
### Summary
When configuring an embedded ldap server to import an ldif file (e.g., users.ldif), no log message (at not level) is written nor any exception is thrown if the provided file does not exist (e.g., uesrs.ldif):
[code]
While it is arguably legitimate not to throw an exception in this case and load the ldif file from a default location, logging a message out that warns the user that the co

[2020-01-07 15:28] Sachpat opened #7792 "CVE-2019-17195 with org.springframework.security:spring-security-oauth2-jose:jar:5.1.7 due to com.nimbusds:nimbus-jose-jwt:jar:6.0.2"
Dear colleagues,

As org.springframework.security:spring-security-oauth2-jose:jar:5.1.7 brings in com.nimbusds:nimbus-jose-jwt:jar:6.0.2, which has the vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-17195, can you please upgrade the dependency com.nimbusds:nimbus-jose-jwt to 7.9 which doesn’t have this vulnerability? Or at least let us know if org.springframework.security:sp

[2020-01-07 20:17] sdavids13 opened #7793 "Invalid OAuth2 login attempts don't emit a corresponding ApplicationEvent"
### Summary

I would like to log requests for invalid attempts for authenticating via OAuth 2.0 bearer tokens (via JWT) for which I have ApplicationListeners for both `AbstractAuthenticationEvent` and `AbstractAuthorizationEvent` events which log failures as they are seen. Currently when presented with invalid JWT bearer tokens a 401 HTTP response is provided but no Application Listener events are

[2020-01-07 21:31] #7789 closed

[2020-01-07 21:43] jzheaux opened #7794 "OidcLoginRequestPostProcessor should respect configuration order"
Currently, the `OidcLoginRequestPostProcessor` documentation states:

This means that if an app does:

[code]

Then the second call will have no effect.

This isn't consistent, though, with how other builders in Spring Security work. Generally speaking, builders should respect the order in which its methods are invoked,

Instead,

[code]
should cause the builder to give precedence to the authoriti

[2020-01-07 22:30] jgrandja commented on #7781
@jpiccaluga It is already possible to customize the Access Token request. Take a look at the [reference doc](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#customizing-the-access-token-request-3) where you can specify a custom `DefaultClientCredentialsTokenResponseClient.setRequestEntityConverter()`.

For the reactive side, you can supply a custom `WebClient` to `We

[2020-01-07 22:30] #7781 closed

[2020-01-08 00:44] jzheaux commented on #7794
This should be addressed for `OidcLoginMutator` as well.

[2020-01-08 00:44] #7794 closed

[2020-01-08 06:30] #7724 closed

[2020-01-08 06:31] jzheaux commented on #5385
Closed via de87675

[2020-01-08 06:31] #5385 closed

[2020-01-08 12:54] vvtelu opened #7795 "Allowing to configure logo in default login page"
### Summary

With the current implementation - in Spring Security Web 5.2.1 - To make configurable logo in the default login page

### Expected Behavior

Showing the configurable logo in the default login page

### Configuration

Through REST API Call to get the logo details and image related attributes.

### Version

5.2.1 RELEASE

[2020-01-08 16:00] eleftherias opened #7797 "Update to Spring Boot 2.2.2.RELEASE"
### Summary

Update to Spring Boot 2.2.2.RELEASE

[2020-01-08 16:02] #7797 closed

[2020-01-08 18:32] sdavids13 commented on #7793
I attempted to get the event publisher to recognize the OAuth2AuthenticationException by adding the following bean to the Application Context:
[code]

I continued to get log messages saying:
[code]

I then wired in the event publisher into the WebSecurityConfigurerAdapter via:
[code]

Still that didn't work... I then tried to set the properties again in the constructor which still doesn't work eit

[2020-01-08 20:04] jpiccaluga commented on #7781
@jgrandja Thanks for your response.
My concern with this approach is that we have to splits the configuration. With spring boot it will give something like this.
[code]
This is not very elegant.

Something like this is preferable:
[code]
What do you think?

[2020-01-08 20:06] eleftherias opened #7798 "Build task "snapshots" should not use locked dependencies"
In the Jenkins pipeline the "snapshots" task should not use the locked dependency versions, since it overrides them with snapshot versions.

[2020-01-08 20:09] jpiccaluga commented on #7781
This is not a lot of code to change. If you agree on that it will be more readable and easier for a developer to understand how to enrich the form data, I can submit you a PR.
Let me know.
Cheers

[2020-01-08 20:10] eleftherias opened #7799 "Allow disabling dependency locking"
### Summary

There are certain gradle tasks that cannot use the locked dependency versions.
We should have a parameter (`locksDisabled`) that allows a task to be run without using the locked dependency versions.

[2020-01-08 20:11] #7799 closed

[2020-01-08 20:26] #7798 closed

[2020-01-08 22:19] jzheaux opened #7800 "OpaqueTokenRequestPostProcessor should respect configuration order"
Related to #7794

[2020-01-09 04:35] jzheaux commented on #7793
@sdavids13, thanks for the report, and sorry to hear about all the debugging woes!

I did a bit of digging and found that the `OAuth2ResourceServerConfigurer` is relying on this `AuthenticationEventPublisher` in `WebSecurityConfigurerAdapter#getHttp`:

[code]

It would be better if this first looked for an `AuthenticationEventPublisher` bean, and then defaulted if it couldn't find one.

In the mea

[2020-01-09 07:40] william566066 commented on #7067
i had some problem where create UnanimousBased as a Bean
`
@Bean
public AccessDecisionManager accessDecisionManager() {
        List<AccessDecisionVoter<? extends Object>> decisionVoters
            = Arrays.asList(
            new WebExpressionVoter(),
            // new RoleVoter(),
            //new RoleBasedVoter(),
            new C2RoleVoter(c2Authorization()));
        return new UnanimousB

[2020-01-09 13:46] klr8 commented on #6804
FYI:
Simply overriding org.apache.directory.server:apacheds-core-avl to version 1.5.7 seems to fix the issue for us.
More specifically, we keep all other ApacheDS dependencies on 1.5.5, and simply add the following to the POM:
[code]

[2020-01-09 18:04] rwinch opened #7801 "Modernize Documentation Styling"
### Summary

We should update the documentation style to match that of the other projects by leveraging the latest styling, menu, and block toggle plugin.

[2020-01-09 18:05] #7801 closed

[2020-01-09 21:05] jzheaux commented on #7795
Thanks for putting some thought into this, @vvtelu. However, it's not intended that this page be customizable. The default login page is meant to be a reasonable default. If you want to customize the page, then you can do so by [creating your own login page](https://docs.spring.io/spring-security/site/docs/current/guides/html5/form-javaconfig.html).

[2020-01-09 21:05] #7795 closed

[2020-01-09 21:06] jzheaux commented on #7792
Yes, Spring Security 5.1.7 is compatible with Nimbus JOSE 7.9.

[2020-01-10 01:58] sdavids13 commented on #7793
Looks like the work-around you provided works - thanks! Might I also suggest you add the following code as well:
[code]

[2020-01-10 11:33] joao-rebelo opened #7803 "OpenID Connect Discovery in NAT / PAT environments"
### Summary

Within a NAT / PAT environment where resource server is on internal network and clients are outside we need to configure the ID provider (keycloak for example) with a frontend url.
This frontend url is then used as the issuer

This causes that address for discovery (as seen from the resource server) is different from the issuer

### Actual Behavior

In this scenario the OIDC discovery

[2020-01-10 12:12] #7774 closed

[2020-01-10 12:46] artem-smotrakov commented on #7792
By the way, how about adding a dependency checker to catch such issues? For example, we can add OWASP Dependency Check to the CI/CD pipeline, or use depandabot (or similar tool). If it's okay, I can try to integrate a preferred tool.

@jzheaux What do you think?

[2020-01-10 17:30] VonUniGE opened #7805 "Manage Bouncycastle optional dependencie versions in a Maven BOM"
### Summary

I'm using Maven and spring-security-crypto. I need to import the org.bouncycastle:bcpkix-jdk15on optional dependency. I don't want to manage myself the version number of this dependency.

### Actual Behavior

I have to set explicitly the version of bcpkix-jdk15on in my pom.xml:
[code]

### Expected Behavior
Use a BOM as said in the Spring Security documentation:
[code]
and don't set t

[2020-01-10 18:51] ThomasVitale commented on #7713
@jzheaux thanks for your answer, it solved my doubts.

I have just created a PR. I have added the varargs constructor and updated the tests to use it, both to actually test the constructor and also to improve their readability.

The test checking the exception thrown when a null value was passed to the constructor is now using an empty collection to trigger the validation, making sure the exceptio

[2020-01-10 21:36] rwinch opened #7807 "Update cas-server-webapp"
### Summary

Our samples are using an old version of cas-server-webapp. We should try to update to the latest version

[2020-01-11 00:31] #7800 closed

[2020-01-11 07:50] nkonev opened #7808 "Please provide way to set stateGenerator for DefaultOAuth2AuthorizationRequestResolver"
# Summary

I want to pass current url(or arbitrary data for example) through OAuth2 state to be able to return to page from which I start OAuth2 authentication. It is written [here](https://www.oauth.com/oauth2-servers/server-side-apps/authorization-code/) that

Currently I need to use reflection (see oAuth2AuthorizationRequestResolver() method in provided example) to achieve it.

### Expected Beh

[2020-01-11 12:55] jpiccaluga opened #7810 "Improve configuration and customization of oauth2 client registration"
@jgrandja Thanks for your response.
My concern with this approach is that we have to split the configuration. With spring boot it will give something like this.
[code]
This is not very elegant.

Something like this is preferable:
[code]
What do you think?

_Originally posted by @jpiccaluga in https://github.com/spring-projects/spring-security/issues/7781#issuecomment-572233926_

[2020-01-11 20:15] nkonev opened #7811 "Please provide way to set OAuth2LoginAuthenticationFilter into OAuth2LoginConfigurer"
### Summary

I want to set my own OAuth2LoginAuthenticationFilter into OAuth2LoginConfigurer

### Version
org.springframework.security:spring-security-config:5.2.1.RELEASE

Particularly it would to help mitigate https://github.com/spring-projects/spring-security/issues/7803

[2020-01-12 01:42] jzheaux opened #7814 "Add JwtValidatorBuilder"
It would be nice to be able to more easily configure sophisticated validation chains using `JwtValidators`.

Currently, to create a validator that checks the issuer and the audience, one needs to do:

[code]

However, something like the following might be nicer:

[code]

Such a builder would likely need methods for custom claims as well.

[2020-01-12 09:35] #7811 closed

[2020-01-13 08:08] travis1111 opened #7816 "Please delete"
Please delete

[2020-01-13 08:12] #7816 closed

[2020-01-13 08:12] travis1111 commented on #7816
please delete

[2020-01-13 15:57] huehnerlady commented on #7790
What I am actually trying to achieve is using something like described [here](https://github.com/spring-projects/spring-security-oauth/issues/311) with the new spring-security mechanism.

Unfortunately I am stuck and do not understand how to change the code to accommodate this.

[2020-01-13 17:32] spring-issuemaster opened #7818 "Switch Travis Build to use OpenJDK8"
Backport of gh-7169

[2020-01-13 17:32] spring-issuemaster commented on #7818
Fixed via 8711ba5a302df9fb708d889c304ff166f5cb836b

[2020-01-13 17:32] #7818 closed

[2020-01-13 17:34] spring-issuemaster opened #7819 "Switch Travis Build to use OpenJDK8"
Backport of gh-7169

[2020-01-13 17:34] spring-issuemaster commented on #7819
Fixed via f2ee151d635122bc29e277be96aaa7faa984053b

[2020-01-13 17:34] #7819 closed

[2020-01-13 17:36] spring-issuemaster opened #7820 "Switch Travis Build to use OpenJDK8"
Backport of gh-7169

[2020-01-13 17:36] spring-issuemaster commented on #7820
Fixed via b87ea1373d6493454e873fae79c5e3495aa61cf9

[2020-01-13 17:36] #7820 closed

[2020-01-13 17:37] jzheaux commented on #7790
@huehnerlady I've responded on StackOverflow. Let's go ahead and move the rest of our conversation over there.

[2020-01-13 17:37] #7790 closed

[2020-01-13 19:24] jzheaux commented on #7793
@sdavids13 I'm glad the workaround worked!

As for adding the exception by default, my concern is that not all `OAuth2AuthenticationException`s are due to bad credentials, so the event could be misleading.

One way might be to simplify how custom mappings are added. It seems reasonable to overload `setAdditionalExceptionMappings` to take a more powerful type:
[code]
And then you could instead do:

[2020-01-13 19:53] jzheaux commented on #7803
@nkonev Thanks for the report.

This is actually [according to spec](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata):

So, even if you could specify the discovery URL in full, the spec doesn't allow it to be something not based on the issuer.

[2020-01-13 19:53] #7803 closed

[2020-01-13 20:49] jzheaux commented on #7793
I should have mentioned that I do also agree that we should probably have some kind of OAuth mapping there - we probably just need a more specific exception type.

[2020-01-13 22:35] jzheaux opened #7822 "Add InvalidBearerTokenException"
Related to https://github.com/spring-projects/spring-security/issues/7793#issuecomment-573863533

It'd be nice to have an exception dedicated to invalid bearer tokens, allowing `DefaultAuthenticationEventPublisher` to map that exception to an appropriate event.

[2020-01-13 22:43] jzheaux opened #7823 "Add BearerTokenErrors"
Because Bearer Token Error handling is based on [a spec](https://tools.ietf.org/html/rfc6750#section-3.1), there are only a few things that end up changing, depending on the kind of error.

For example, if we have an `invalid_request`, by default, we will always have a status code of 400, a uri pointing to that reference in the spec, and no scopes listed. Only the description is likely to change.

[2020-01-13 23:57] jzheaux opened #7824 "DefaultAuthenticationEventPublisher should be configurable via Map"
`DefaultAuthenticationEventPublisher` can be configured with additional exception mappings via `setAdditionalExceptionMappings(Properties)`.

It would be nice to overload this method to take a `Map` instead of a `Properties` object since `Map` is an interface and is more widely used.

To complete this ticket requires two steps, then:

1. Add a new `setAdditionalExceptionMappings(Map)` method, e.g.

[2020-01-14 00:05] jzheaux opened #7825 "DefaultAuthenticationEventPublisher should allow configuring a default event"
`DefaultAuthenticationEventPublisher` will drop any exceptions that it doesn't have mapped. This means that an application needs to use `setAdditionalExceptionMappings` to provide any mappings not provided by default.

It would be nice to be able to configure a default event that gets fired for any unmapped exceptions:

[code]

With the above configuration, an `AuthenticationFailureBadCredentialsE

[2020-01-14 00:15] jzheaux commented on #7793
@sdavids13 Feel free to take [the PR](https://github.com/spring-projects/spring-security/pull/7826) for a spin to see if it suits your needs. It introduces `InvalidBearerTokenException` which gets thrown whenever the resource server fails to authenticate the bearer token.

[2020-01-14 00:19] jzheaux opened #7827 "Add Opaque Token Reactive Test Support"
Related to #7712 - just the reactive equivalent

[2020-01-14 00:21] jzheaux opened #7828 "Add oauth2Login Reactive Test support"
Related to #7789 - just add the reactive bits

[2020-01-14 00:59] #7828 closed

[2020-01-14 11:47] joao-rebelo commented on #7803
Actually from the [spec](https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery) as well:

I believe this sentence goes in the direction of what is being requesting.
In an NAT / PAT environment the issuer would need to be a public well-known value understood by all parties, although the server providing its discovery should be located in an address known to the party

[2020-01-14 16:14] eleftherias commented on #5438
## Use Case

### Summary
When using the `changeSessionId` session fixation protection strategy (which is also the default) and setting the `maximumSessions` to 1, the expired session information is not removed from `SessionRegistryImpl`.

To reproduce this, while running in debug, log in using one browser and then log in with the same user in a different browser.
Check the `sessionIds` list in `Se

[2020-01-14 17:21] mftruso opened #7831 "SAML2 Destination mismatch behind Load Balancer"
### Summary
- The SAML Extension had a [specific bean](https://docs.spring.io/spring-security-saml/docs/current/reference/htmlsingle/#configuration-load-balancing) for applications behind an LB
- [OpenSamlAuthenticationProvider.validateSaml2Response](https://github.com/spring-projects/spring-security/blob/af415948b158a4f096950070c5270b078f7e556b/saml2/saml2-service-provider/src/main/java/org/sprin

[2020-01-14 17:56] jgrandja commented on #7770
@codependent

It seems that you are referring to [OpenID Connect Back-Channel Logout 1.0](https://openid.net/specs/openid-connect-backchannel-1_0.html)?

But when I read...

This does not sound like OIDC back-channel logout.

Can you provide a link to the Keycloak reference docs for this feature so I can better understand?

[2020-01-14 19:07] #7515 closed

[2020-01-14 19:07] #4400 closed

[2020-01-14 20:29] jgrandja commented on #7781
@jpiccaluga

Given the proposed additional configuration:

[code]

Which specific endpoint is posted `additional-form-data`? This name is too generic as there are multiple points where requests are made via the client protocols, eg. Authorization Request, Token Request, and UserInfo request. There are a few others as well.

The biggest issue with this configuration approach is that the form data i

[2020-01-14 22:06] jpiccaluga commented on #7781
@jgrandja
I agree that it's too generic a better name would be:
[code]
This yaml configuration should be applied in OAuth2ClientProperties.java of spring boot project [here](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/security/oauth2/client/OAuth2ClientProperties.java) and at this leve

[2020-01-14 22:58] codependent commented on #7770
@jgrandja

Actually their backchannel logout documentation is kind of obscure, and I don't think they follow that spec. [This is](https://www.keycloak.org/docs/latest/server_admin/index.html) how clients should be configured to support b-c logout:

That is to say we have to set it up to the root of our application: http://xxx/context-root

Their adapters work this way, as shown above:

1. When exc

[2020-01-15 08:30] eleftherias commented on #2846
Closing as resolved. See comment above for details.

[2020-01-15 08:30] #2846 closed

[2020-01-15 12:53] eleftherias commented on #2156
There are now LDAP examples, including LDIF files provided in the [samples](https://github.com/spring-projects/spring-security/tree/master/samples).

[2020-01-15 12:53] #2156 closed

[2020-01-15 13:05] eleftherias opened #7832 "Incorrect LDIF file example in LDAP documentation"
### Summary

The documentation section  "\<ldap-server\> Attributes" describes the default LDIF file resource as "classpath*:*.ldiff", and gives the example "classpath:init.ldiff".

Both have an incorrect extension.
They should instead be  "classpath*:*.ldif" and  "classpath:init.ldif" respectively.

[2020-01-15 15:35] jgrandja commented on #7808
@nkonev The value of the `state` parameter is used internally by the client. It should not be enhanced by the application with additional data, eg. Referer.

Please see [spec](https://tools.ietf.org/html/rfc6749#section-4.1.1) for details:

         RECOMMENDED.  An opaque value used by the client to maintain
         state between the request and callback.  The authorization
         server inclu

[2020-01-15 15:35] #7808 closed

[2020-01-15 15:50] eleftherias opened #7833 "Default LDIF file not picked up in LDAP "unboundid" mode"
### Summary

When using LDAP, if a file matching "*.ldif" exists on the classpath, then it should be used, if no other LDIF file is specified.
However, when using "unboundid" mode, the file on the classpath is not picked up unless explicitly specified.

### Sample

This issue can be demonstrated using the [LDAP sample](https://github.com/spring-projects/spring-security/tree/master/samples/xml/ldap

[2020-01-15 16:05] eleftherias commented on #7833
This issue occurs because `UnboundIdContainer` gets the LDIF file using
[code]
which expects the resource name to be prefixed with `"classpath:"`.

However, the default LDIF file used is `"classpath*:*.ldif`" which indicates that multiple resources are expected.

A possible solution is to use `getResources` instead, in `UnboundIdContainer`, similarly to `ApacheDSContainer`

[2020-01-15 16:22] jgrandja commented on #7781
@jpiccaluga

Not all custom form parameters are static in nature. Some of the custom form data that is required for an endpoint may need to be derived dynamically by the application. This is a very common use case. With the application property approach, you could only configure static data which is quite limiting.

The current ability to add custom parameters in either the [Authorization Request]

[2020-01-15 16:26] jgrandja commented on #7810
Closing as duplicate of [#7781](https://github.com/spring-projects/spring-security/issues/7781#issuecomment-572233926)

[2020-01-15 16:26] #7810 closed

[2020-01-15 16:28] fhanik commented on #7831
Hi @mftruso

The Response doesn't need to contain a `Destination` attribute. If the IDP omits it, the validation will not take place. Thus, it's optional for the IDP

I'm inclined to say that this is not an issue because there are options.
When proxies were relatively new, the backend servers had to have workarounds, like the bean you mention.

Today, proxies should be sending `X-Forwarded-` heade

[2020-01-15 16:48] jgrandja commented on #7770
Yes agreed I couldn't find anything.

We do not implement provider specific implementations. Our goal is to be spec-compliant but providing the right amount of extension hooks to allow the user to customize if necessary.

We could consider adding support for OpenID Connect Back-Channel Logout 1.0, however, we cannot add any proprietary logic specific to a provider.

[2020-01-15 17:38] xak2000 opened #7834 "Add constructor to JwtAuthenticationToken that takes principal"
Currently, `JwtAuthenticationToken` always pass one `Jwt` instance to super constructor (`AbstractOAuth2TokenAuthenticationToken`) as `token`, `principal` and `credentials`. So, that implies that all three values must always be a jwt token itself.

I don't see any reason why `principal` in JWT token must always be the token itself. It already represents both `token` and `credentials`. But for `pri

[2020-01-15 18:14] xak2000 commented on #6237
I created somehow related issue #7834.

I think, if it will be implemented, then we obtain an ability to use `UserDetailsService` or any other service to create a principal based on JWT claims.

@jzheaux, you say:

Can you explain a bit? I don't understand the point. Yes, authorities play a big role in Resource Server semantics, but User (subject) is also important. They both complement each other

[2020-01-15 23:38] jzheaux commented on #6237
Yes, it does make sense to differentiate between the two types of authorities; that is, authorities that the resource server grants to the user and authorities that the user grants to the client. These are authority-based concerns that already fit nicely into the current model (e.g. with a granted authorities converter).

For sure!

* HTTP Basic is _user-based_ since "who" is intrinsic to the prot

[2020-01-15 23:40] mftruso commented on #7831
@fhanik thanks for the quick response!

Our IDP solution did not have the ability to remove the `Destination` attribute and institutional policy disallowed changing our Tomcat configuration.

Adding a filter using `HttpServletRequestWrapper` worked for us in this instance. Thanks again!

[2020-01-15 23:58] jzheaux commented on #7803
@joao-rebelo I believe what you are referring to is the WebFinger request that can precede the Metadata request. For example, if my application doesn't know the issuer, it can make a WebFinger request to discover the issuer. If it already knows the issuer, then it can skip this step.

From earlier in Section 2:

`ClientRegistrations.fromIssuerLocation` begins at Section 4 since the issuer is being

[2020-01-16 00:03] fhanik commented on #7831
@mftruso Thank you for the feedback! I will close this issue as _Will not fix_. If you have further questions you can also find us on the Gitter channel - https://gitter.im/spring-projects/spring-security

[2020-01-16 00:03] #7831 closed

[2020-01-16 00:29] fhanik commented on #7783
hi @jchambers-ln

Looking through the history and some [stackoverflow](https://stackoverflow.com/questions/56512445/whitelistedallowfromstrategy-does-not-work), this works as designed.

As you mention, it's not really a protection scheme, and you have a valid workaround.
I'm going to close this categorized as _not and issue_.

If you feel strongly about making the case for an enhancement, I would

[2020-01-16 00:29] #7783 closed

[2020-01-16 00:38] fhanik commented on #7754
hi @hanscrg

Thank you for the detailed description and sample.
I'm not actually seeing an issue in your initial response. Rather I see a question

We reserve Github issues for bugs and enhancements for practical reasons. Questions we encourage you to go to https://stackoverflow.com/questions/tagged/spring-security and ask, as that community is fairly large.

We also have a Gitter channel, albeit

[2020-01-16 00:38] #7754 closed

[2020-01-16 03:02] leogong commented on #5007
i found this code in the `StrictHttpFirewall` class.
[code]
Why add this code? i think browsers support this .

Thx

[2020-01-16 09:23] peterkeller opened #7835 "BasicAuthenticationFilter ignores credentials charset"
### Summary

`BasicAuthenticationConverter` in `BasicAuthenticationFilter` ignores given credentials charset.

### Actual Behavior

We try to override the credential charset using an `ObjectPostProcessor`:
[code]
Actual implementation of `BasicAuthenticationFilter#setCredentialsCharset`:

[code]
However, the given `credentialCharset` is never used in `BasicAuthenticationFilter` and especially not

[2020-01-16 10:52] joao-rebelo commented on #7803
Straight to what I expect:

Be able to configure the url for the discovery, and that it doesn't require to be related to the issuer.

explanation:
on the NAT / PAT the issuer must be the public url of the ID Manager.
But if the Resource Server is inside the private network he knows the ID Manager on a different location.

On my working / not working example, the port 9420 is the public one, and 94

[2020-01-16 13:04] rosemead opened #7836 "documentation: when should org.springframework.security.config.annotation.web.configuration.WebSecurityConfigurerAdapter#authenticationManagerBean be overriden?"
Hi.
I have a scenario where the Authentication manager comprises multiple providers. One of those is spring's DaoAuthenticationProvider (+a UserDetailsService).

I've added the following to the security `@Configuration`:

[code]
Thinking that's all there was to it. I suspect though this isn't the case. I could only get auth to work after adding:

[code]

(without declaring the bean, getting: `Ille

[2020-01-16 15:47] eleftherias commented on #7791
Thanks for the report @ybbabr19.

I agree that the application should not fail silently if the LDIF file is not found.
I think it is best to throw an exception.
Then it will behave the same as `ApacheDSContainer`.

Are you interested in submitting a PR to fix this?

[2020-01-16 15:55] jpiccaluga commented on #7781
First of all application properties is related to spring boot [here](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/security/oauth2/client/OAuth2ClientProperties.java).
As you can see this approach is already mainly used.

Secondary in spring security repo I only suggest to modifiy `Clien

[2020-01-16 16:56] codependent commented on #7770
I understand, there's no point in adding custom behaviour in a generalistic framework.

I guess I could get by if I extend `OAuth2AuthorizationCodeGrantRequestEntityConverter` to provide that information, and use my extended class instead.  Not sure this can be done:

1. Is there a way to access the HttpSession id and the host name in `private MultiValueMap<String, String> buildFormParameters`? Ma

[2020-01-16 17:17] rwinch opened #7838 "Update Gradle 6.1"
### Summary

Update to Gradle 6.1

[2020-01-16 17:18] #7838 closed

[2020-01-16 17:42] codependent commented on #7770
Answering myself, I managed to solve the previous questions and hook in my own implementation:

[code]

[code]

Now Keycloak has access to the registered clients and invokes them successfully:

[code]

[2020-01-16 17:54] codependent commented on #7770
@jgrandja Could you give me some hint how to do replicate this with a Webflux reactive application?

[2020-01-16 18:18] nithinkota opened #7839 "Client Loading More times in token end point"
Token api I am using `http://localhost:8086/oauth/token` with grant type password
Input:
[code]
First hit After running the application:
Client is loading is 4 times (**loadClientByClientId** method from **ClientDetailsService** interface)
Authenticating user one time (**authenticate** method from **AuthenticationManager** interface)
Again Client Authenticating 3 times

From second hit:
Client is