[2019-03-26 22:42] #6682 closed

[2019-03-26 22:43] #6686 closed

[2019-03-26 22:43] #6679 closed

[2019-03-26 22:44] #6678 closed

[2019-03-26 22:44] #6677 closed

[2019-03-26 22:44] #6676 closed

[2019-03-26 22:44] #6675 closed

[2019-03-26 22:45] #6674 closed

[2019-03-26 22:45] #6684 closed

[2019-03-26 22:45] #6673 closed

[2019-03-26 22:45] #6672 closed

[2019-03-26 22:46] #6671 closed

[2019-03-26 22:46] #6670 closed

[2019-03-26 22:46] #6669 closed

[2019-03-26 22:46] #6668 closed

[2019-03-26 22:47] #6667 closed

[2019-03-26 22:47] #6666 closed

[2019-03-26 22:47] #6663 closed

[2019-03-27 09:08] hatzlj opened #6687 "Allow to distinguish between non-existent domain-objects and missing permisison for a domain-object"
I would like to suggest an improvement to spring-security-acl that allows us to distinguish between non-existent domain-objects and missing permissions for a domain object easier.

Currently when using AclPermissionEvaluator we get an AccessDeniedException when either there is no Acl found for the oid/sid at all or if there is an Acl found but permission is granted to the sid for the desired oid.

[2019-03-27 13:25] jgrandja opened #6688 "Update to mockwebserver 3.12.2"
Update to mockwebserver 3.12.2

[2019-03-27 13:26] jgrandja opened #6689 "Update to okhttp 3.12.2"
Update to okhttp 3.12.2

[2019-03-27 13:50] jgrandja opened #6690 "Update to unboundid-ldapsdk 4.0.10"
Update to unboundid-ldapsdk 4.0.10

[2019-03-27 13:55] jgrandja opened #6691 "Update to commons-codec 1.12"
Update to commons-codec 1.12

[2019-03-27 14:04] jgrandja opened #6692 "Update to httpcomponents:httpclient 4.5.7"
Update to httpcomponents:httpclient 4.5.7

[2019-03-27 14:09] jgrandja opened #6693 "Update to bouncycastle:bcpkix-jdk15on 1.61"
Update to bouncycastle:bcpkix-jdk15on 1.61

[2019-03-27 14:13] jgrandja opened #6694 "Update to bouncycastle:bcprov-jdk15on 1.61"
Update to bouncycastle:bcprov-jdk15on 1.61

[2019-03-27 14:18] jgrandja opened #6695 "Update to hibernate-entitymanager 5.2.18.Final"
Update to hibernate-entitymanager 5.2.18.Final

[2019-03-27 14:22] jgrandja opened #6696 "Update to hibernate-validator 6.0.16.Final"
Update to hibernate-validator 6.0.16.Final

[2019-03-27 14:29] jgrandja opened #6697 "Update to cas-client-core 3.5.1"
Update to cas-client-core 3.5.1

[2019-03-27 14:35] jgrandja opened #6698 "Update to htmlunit-driver 2.33.3"
Update to htmlunit-driver 2.33.3

[2019-03-27 14:40] jgrandja opened #6699 "Update to selenium-api 3.141.59"
Update to selenium-api 3.141.59

[2019-03-27 14:43] jgrandja opened #6700 "Update to selenium-java 3.141.59"
Update to selenium-java 3.141.59

[2019-03-27 14:45] jgrandja opened #6701 "Update to selenium-support 3.141.59"
Update to selenium-support 3.141.59

[2019-03-27 14:48] jgrandja opened #6702 "Update to jcl-over-slf4j 1.7.26"
Update to jcl-over-slf4j 1.7.26

[2019-03-27 14:50] jgrandja opened #6703 "Update to jul-to-slf4j 1.7.26"
Update to jul-to-slf4j 1.7.26

[2019-03-27 14:52] jgrandja opened #6704 "Update to log4j-over-slf4j 1.7.26"
Update to log4j-over-slf4j 1.7.26

[2019-03-27 14:55] jgrandja opened #6705 "Update to slf4j-api 1.7.26"
Update to slf4j-api 1.7.26

[2019-03-27 14:58] jgrandja opened #6706 "Update to slf4j-nop 1.7.26"
Update to slf4j-nop 1.7.26

[2019-03-27 15:12] jgrandja opened #6707 "Update to Spring Boot 2.0.8.RELEASE"
Update to Spring Boot 2.0.8.RELEASE

[2019-03-27 15:18] jgrandja opened #6708 "Update to Reactor Bismuth-SR17"
Update to Reactor Bismuth-SR17

[2019-03-27 15:22] jgrandja opened #6709 "Update to Spring 5.0.13.RELEASE"
Update to Spring 5.0.13.RELEASE

[2019-03-27 15:23] jgrandja opened #6710 "Update to Spring Data Kay-SR14"
Update to Spring Data Kay-SR14

[2019-03-27 15:38] #6708 closed

[2019-03-27 15:38] #6707 closed

[2019-03-27 15:38] #6706 closed

[2019-03-27 15:39] #6705 closed

[2019-03-27 15:39] #6703 closed

[2019-03-27 15:39] #6702 closed

[2019-03-27 15:39] #6701 closed

[2019-03-27 15:39] #6700 closed

[2019-03-27 15:40] #6699 closed

[2019-03-27 15:40] #6698 closed

[2019-03-27 15:40] #6697 closed

[2019-03-27 15:40] #6696 closed

[2019-03-27 15:40] #6695 closed

[2019-03-27 15:41] #6694 closed

[2019-03-27 15:41] #6693 closed

[2019-03-27 15:41] #6692 closed

[2019-03-27 15:41] #6691 closed

[2019-03-27 15:41] #6690 closed

[2019-03-27 15:42] #6689 closed

[2019-03-27 15:42] #6688 closed

[2019-03-27 17:04] philsttr opened #6711 "OAuth2 client integration with WebSocketClient"
In spring-security-oauth2-client 5.1, OAuth2 client is supported fairly well with webflux's `WebClient` via `ServerOAuth2AuthorizedClientExchangeFilterFunction`.

However, there is no equivalent support for webflux's `WebSocketClient`.  For example, I would like to:
* obtain an access token from `ClientRegistration` / `OAuth2AuthorizedClient`
* automatically refresh the token before sending it if

[2019-03-27 18:22] jgrandja opened #6712 "Update to commons-codec 1.12"
Update to commons-codec 1.12

[2019-03-27 18:51] jgrandja opened #6713 "Update to aspectj 1.8.14"
Update to aspectj 1.8.14

[2019-03-27 18:55] jgrandja opened #6714 "Update to bouncycastle:bcpkix-jdk15on 1.61"
Update to bouncycastle:bcpkix-jdk15on 1.61

[2019-03-27 19:14] fhanik commented on #6680
Please provide more information.
Is the API access point on a resource server or an authorization server, what type of token validation (offline, or online by calling `/introspect`)

The user gets locked on the authorization server. That's the only place where access can be closed down. If you are using a resource server with offline validation, the token will remain active until it expires.

[2019-03-27 19:25] jgrandja opened #6715 "Update to Spring Boot 1.5.19"
Update to Spring Boot 1.5.19

[2019-03-27 20:04] jgrandja opened #6716 "Update to Spring 4.3.23"
Update to Spring 4.3.23

[2019-03-27 20:05] #6715 closed

[2019-03-27 20:05] #6714 closed

[2019-03-27 20:05] #6713 closed

[2019-03-27 20:05] #6712 closed

[2019-03-27 20:13] jgrandja opened #6718 "Update to Spring Data Ingalls-SR20"
Update to Spring Data Ingalls-SR20

[2019-03-27 20:27] AndreasKl commented on #6639
The port for `@LocalServerPort` is known after the web container (reactor-netty) is started, however the `PortMapper` is needed to configure the `HttpsRedirectWebFilter` which is needed to configure the web-container. At least in my setup the cycle breaks the startup.

[2019-03-28 00:14] philsttr commented on #6711
I'm not proud of this, but what I ended up doing as a workaround (rather than copy/paste `ServerOAuth2AuthorizedClientExchangeFilterFunction`) to capture the `Authorization` header value so that I can reuse it in other places (e.g. `WebSocketClient`) is:

1. Create an `ExchangeFunction` that has two filters that execute in the following order:
   * `ServerOAuth2AuthorizedClientExchangeFilterFuncti

[2019-03-28 00:22] DarrenForsythe commented on #6683
To add, I think this is a minor blocker to more enterprise companies picking up Spring 5 easily. I've seen enough Spring Boot applications that the usage of Oauth2Resttemplate can just be used anywhere without fail, developers seem to be expecting the same experience between Servlet/Reactive.

I wouldn't expect WebClient to be as easily transferable but lack of a Spring Security class to expose a

[2019-03-28 04:02] maduraimvr commented on #5007
Check my answer in below thread:

https://stackoverflow.com/a/55383661/8174613

[2019-03-28 06:30] sinisin commented on #6600
Thanks, it was a config issue. I had not provided the scope properly.

[2019-03-28 06:30] #6600 closed

[2019-03-28 10:46] lrozenblyum commented on #3189
To overcome this problem I wrapped it with a synchronized decorator as mentioned: https://github.com/spring-projects/spring-security/issues/5775

[2019-03-28 12:12] rs017991 commented on #6639
@AndreasKl In my case I just wanted it to always return **443** regardless as to which port I am listening on (creating a PortMapper to do that is quite easy and does not need **@LocalServerPort**)

If you really do need to know the server port in order to determine the HTTPS port, then I suppose a less-elegant solution could be something like:
[code]

[2019-03-28 15:07] balasenthil-d commented on #6023
I am facing the same problem. Both Spring MVC and webflux come as part of spring-boot-starter-webflux right. How can I exclude Spring MVC  ?

[2019-03-28 17:38] jdrossl opened #6720 "Duplicated filterChain when overriding beans"
### Summary

Using a war overlay I set the same `name` attribute for both `http` beans and it is overridden as expected, but the filter chain is duplicated.

### Actual Behavior

I can see in the log the override message:
[code]
But the same filterChain object is sent twice in the constructor:

<img width="667" alt="Screen Shot 2019-03-28 at 11 24 55 AM" src="https://user-images.githubusercontent.

[2019-03-28 20:15] rs017991 opened #6721 "ChannelProcessingFilter misuse of 'committed'"
### Summary

ChannelProcessingFilter short-circuits the entire filter chain if the response is already committed.

### Actual Behavior

If the response has already been committed by the time it hits ChannelProcessingFilter, the filter mistakenly assumes that the commit was done by the ChannelDecisionManager, and does not allow the filter chain to continue.

It also does not throw an exception or l

[2019-03-29 03:56] #6639 closed

[2019-03-29 04:03] #6612 closed

[2019-03-29 15:37] a-sayyed commented on #5007
A much easier and simpler way to handle it could be by using Spring AOP. We can wrap the default FilterChainProxy execution with a try-catch block and translate the exception to a 400 response.

see: https://stackoverflow.com/a/55420714

[2019-03-29 17:34] SayakMukhopadhyay commented on #4814
Any idea which version of Spring security this would be available in? I have seen that it is available in 5.2.0M1 and the GA is scheduled to be in July. It would be great if this is available in 5.1.5. This would mean that I can update spring boot to 2.1.4 and get this fix in a week or so.

[2019-03-29 18:32] gandrade commented on #5939
Would be an issue have `createDelegatingPasswordEncoder(String encodingId)` in order to set an encoder from the existing list?  Today, `bcrypt` it's the default encodingId, it would be just a way to overwrite this behavior, but still relying on the already provided encoders, not overwriting those.

[2019-03-29 19:15] jzheaux opened #6722 "Introduce AuthenticationManagerResolver"
It would be handy to be able to resolve an `AuthenticationManager` based on request criteria, for example:

[code]

Note that this may complement #6625.

[2019-03-29 19:44] jgrandja commented on #6609
@fritzdj

Can you please open a new issue so we can continue this there. Also, can you share the code in the new issue so we can get more into the details. Thanks.

[2019-03-29 21:01] #5351 closed

[2019-03-29 21:01] #6722 closed

[2019-03-29 21:11] jzheaux opened #6723 "Introduce ReactiveAuthenticationManagerResolver"
Like `AuthenticationManagerResolver` in #6722, a reactive equivalent would be nice.

[2019-03-30 17:57] rhamedy commented on #6723
@jzheaux can I work on this?

[2019-03-30 18:54] mraible opened #6724 "Can't use UUID as ID with custom UserDetails"
### Summary

I'm trying to convert my [21-Points Health](https://github.com/mraible/21-points) application to use UUID for IDs. This app is based on JHipster 5.x.

I'm doing it to solve [this issue](https://github.com/mraible/21-points/issues/50) and because [Heroku recommends it](https://devcenter.heroku.com/articles/preparing-a-spring-boot-app-for-production-on-heroku#use-uuids-for-all-postgres-

[2019-03-30 18:56] mraible commented on #6724
You can see my custom `UserDetailsService` at [`DomainUserDetailsService.java`](https://github.com/mraible/21-points/blob/master/src/main/java/org/jhipster/health/security/DomainUserDetailsService.java).

[2019-03-30 20:18] jzheaux commented on #6724
@mraible What is making you think it is Spring Security? The reason I ask is that the stack trace looks like the error is happening in the `at com.sun.proxy.$Proxy188.findOneWithAuthoritiesByLogin(Unknown Source)` call, before `DomainUserDetailsService` tries to adapt it to a Spring Security domain object.

I would figure that Hibernate would be doing the mapping from the `ResultSet` to the [User

[2019-03-30 21:17] mraible commented on #6724
@jzheaux I assumed it's caused by Spring Security because the class with `findOneWithAuthoritiesByLogin()` is a JpaRepository interface:

[code]

... and there's no instances of `parseLong()` in my code. Based on the end of the stack trace, maybe it's caused by H2? I'll investigate more.

[2019-03-30 21:22] mraible commented on #6724
I was able to fix it by adding a `UUIDConverter.java`:

[code]

Sorry for the noise!

[2019-03-30 21:22] #6724 closed

[2019-03-31 19:21] xak2000 opened #6726 "Many broken URLs in the documentation pointing to spring reference with #hash part"
For example [here](https://github.com/spring-projects/spring-security/blob/master/docs/manual/src/docs/asciidoc/_includes/servlet/integrations/websocket.adoc#websocket-authorization-on-destinations) there are several links referencing to spring reference documentation:

- [broker prefix](https://docs.spring.io/spring/docs/current/spring-framework-reference/html/websocket.html#websocket-stomp) whic

[2019-04-01 10:56] thirunar commented on #5887
@rwinch is there an update on this? I see, there is no open issue or pull request in CAS libraries. Is there a workaround in spring-security?

[2019-04-01 14:12] jzheaux opened #6727 "Multi-tenancy for Reactive Resource Server"
Related to #5351.

Let's add the reactive equivalent of Resource Server's multi-tenancy support.

[2019-04-01 14:12] #6664 closed

[2019-04-01 14:13] jzheaux commented on #6723
@rhamedy I'm glad you're interested!

It would be great to be done in conjunction with https://github.com/spring-projects/spring-security/issues/6727. Could you work on both?

[2019-04-01 14:19] rhamedy commented on #6727
@jzheaux Can I work on this? ☺️

[2019-04-01 14:22] rhamedy commented on #6723
@jzheaux yes I would be interested in both. I actually commented on the other issue before seeing this 😂

[2019-04-01 14:36] #6709 closed

[2019-04-01 14:45] jzheaux commented on #6727
Yes, sir, it's yours!

[2019-04-01 15:22] #6716 closed

[2019-04-01 15:33] jgrandja opened #6728 "Document OpenID Connect Discovery for client (Servlet)"
OpenID Connect Discovery for client was introduced in 5.1 and was documented for [spring-webflux](https://docs.spring.io/spring-security/site/docs/5.1.4.RELEASE/reference/htmlsingle/#webflux-oauth2-login-openid-provider-configuration), however, there is no documentation for the Servlet support.

We need to document the support on the Servlet side. It should be very similar to what is documented on

[2019-04-01 19:42] jgrandja commented on #6683
@DarrenForsythe I'm not in favour of adding a no-op `OAuth2AuthorizedClientRepository` as it simply does not provide any value to the framework. Also, I don't see how the _Working Impl_ you provided even works?

You have `oauth2.setDefaultClientRegistrationId("test")`, which would attempt to lookup the "test" client registration in `ClientRegistrationRepository` and than the associated `OAuth2Auth

[2019-04-01 20:38] jgrandja opened #6729 "Defer downstream filter execution if no OAuth2AuthorizedClient is found"
Backport #6719

[2019-04-01 20:41] jgrandja commented on #6729
Merged via 2df411f

[2019-04-01 20:41] #6729 closed

[2019-04-01 21:02] jgrandja opened #6730 "Make UnAuthenticatedServerOAuth2AuthorizedClientRepository threadsafe"
Backport #6717

[2019-04-01 21:11] jgrandja commented on #6730
Merged via 4c53066

[2019-04-01 21:11] #6730 closed

[2019-04-01 21:47] LukeButters opened #6731 "FirewalledResponse isn't as fast as it could be."
### Summary
It looks some amount of time is being spent in checking if header keys and values have a `\n` or `\r` character in them. I think the problem is that a regex is used, which is generally not a fast solution.

Trying out a solution such as:
[code]
Runs quite a bit faster from `169ms` down to `28ms`.

Although this is only taking a fraction of the time to complete a request (for me where I

[2019-04-01 21:56] jgrandja commented on #6638
@xyting Please provide more information as I don't quite understand what you are trying to achieve. **NOTE:** Exposing the `authorizationRedirectStrategy` will not necessarily be the right solution for you.

Please provide detailed information on the oauth client you need to configure and the flow / use case you are trying to acheive.

[2019-04-01 22:03] simmac commented on #5354
I'm currently working on wrapping the BouncyCastle-Generator into a Spring Security-PasswordEncoder.

If my employer gives me the right to publish this via a PR, I will do so soon (within the next few weeks) :)

[2019-04-01 23:15] jzheaux commented on #6731
@LukeButters, this looks like a reasonable optimization. Would you mind submitting a PR for it?

[2019-04-01 23:42] LukeButters commented on #6731
Sure.

[2019-04-02 04:51] rhamedy commented on #6500
Hi @jzheaux, I have made some progress with and I wanted to briefly described it here before creating a PR to ensure that I have not invented something new.

**Assumption:**
I assume we cannot drop the existing public method `fromOidcIssuerLocation(String issuer)` as it is probably because used and the least we can do is `Deprecate` it. I have made the modifications in a way ensure that both the e

[2019-04-02 07:04] LukeButters commented on #6731
Hi I made this pull request https://github.com/spring-projects/spring-security/pull/6732
let me know if I made any mistakes.

[2019-04-02 09:32] jgrandja commented on #6548
@dfcoffin As an FYI, we are not planning on changing the existing implementation of `DefaultOAuth2AuthorizationRequestResolver` that added support for PKCE via #6485.

Also, please see this [comment](https://github.com/spring-projects/spring-security/pull/6485#discussion_r259136392) as Okta **does support** PKCE for confidential clients.

The goal of this issue is to provide support for users that

[2019-04-02 13:47] jzheaux opened #6733 "Introduce Migration Guidance for Spring Security's OAuth 2.0 Support"
Spring Security 5.0 introduced first-class support for OAuth 2.0, yet many aren't aware of this change or they are struggling with understanding how to change their existing code to use the new support.

There's a [migration guide for Spring Security 3 to 4](https://github.com/spring-projects/spring-security-migrate-3-to-4) which contains several migration examples. This seems like a good format t

[2019-04-02 14:47] #6665 closed

[2019-04-02 15:16] jzheaux opened #6734 "Align JavaDoc in SecureRandomFactoryBean"

[2019-04-02 15:32] #6734 closed

[2019-04-02 16:41] xyloman commented on #5893
@rwinch will this feature be back ported to spring security 5.1.x and included in spring boot 2.1.x?

[2019-04-02 16:45] #6710 closed

[2019-04-02 17:34] #6718 closed

[2019-04-02 18:43] vann586 opened #6735 "OAuth2 Resource Server Extracting Authorities Manually"
### Summary

The following code files show an example of how I test the “/auth/test2”. The actual result is the debug never stop “return getScopes(jwt)” instead it returns the following:
Completed 401 UNAUTHORIZED

I need help to figure out the outcome of the “/auth/test2”.
[code]
### Actual Behavior

The actual behavior “/auth/test2” is the debug returned:
Completed 401 UNAUTHORIZED

### Expected

[2019-04-02 20:06] DarrenForsythe commented on #6683
@jgrandja

I was able to hack together what I've been seeing, based of mixing a couple of your samples to re-create a client credentials flow. Sorry its a lot messy,

1. the `SecurityConfig` sets all requests to Authenticated.
1. the jwt decoder if it picks up the access_token is equal to `test-token` it creates a rough jwt.
1. the `jwtAuthenticationConverter` creates a basic `TestingAuthenticatio

[2019-04-03 09:27] SayakMukhopadhyay opened #6736 "Support for pagination while using ACL based @PostFilter"
### Summary

When an entity repository is under ACL based security, it suffers from a huge issue of being unable to handle pagination. This has been previously been said due to how the paged result is fetched first and then ACL is applied over it which potentially would return less number of records than the page size. But this is an extremely common use case and as such a implementation would gre

[2019-04-03 18:21] jgrandja opened #6737 "Optimize settings.gradle"
The script inside `settings.gradle` dynamically searches for all `*.gradle` files to determine the list of gradle projects/modules. This script needs to be optimized as the initial filter of excluded files/directories searches in certain directories like `src`, `build` and `out`, which is resulting in a costly search.

It may be as simple as adding `'**/build', '**/src', '**/out'` in the excludes

[2019-04-04 02:00] ttjkst opened #6738 "why not org.springframework.security.web.access.expression.WebExpressionConfigAttribute is not public ?"
please change org.springframework.security.web.access.expression.WebExpressionConfigAttribute to public

[2019-04-04 02:23] LukeButters commented on #6731
anything I should do for this one?

[2019-04-04 08:01] sdeleuze commented on #6624
Like for Spring Boot features I use in Spring Fu, the idea would be to use package private only setters, use the same Spring Security package on Spring Fu side and later reintegrating the DSL in Spring Security itself. That's why I am only asking for package private access, nothing more.

I will use `ServerHttpSecurity` but I think I need to be able to register the previously mentioned configurati

[2019-04-04 08:07] xyting commented on #6638
@jgrandja Thanks your reply!
# Static Resouces such as SPA hosted in Nginx
![image](https://user-images.githubusercontent.com/14950276/55538647-76b21480-56f1-11e9-8757-f595006c3eea.png)
# Loading Data by AJAX Request
Because all the data loading by AJAX request, and then Nginx request RESTful API servers.
![image](https://user-images.githubusercontent.com/14950276/55539496-58e5af00-56f3-11e9-9801-

[2019-04-04 17:35] jgrandja commented on #4494
Closing in favour of #6733

[2019-04-04 17:35] #4494 closed

[2019-04-05 03:45] abakran1 commented on #6594
I came across the same issue where I see the {} are being used as part of the salt in MessageDigestPasswordEncoder.  Why offer the legacy migration process if it is not supported at all, we need a way for legacy users to migrate over.

[2019-04-05 11:05] thirunar opened #6741 "Support for Reactive CAS implementation"
I'm trying to implement **CAS** authentication using `spring-security`. Ours is a reactive app and it seems like `spring-security` doesn't have `WebFilter` for CAS authentication. I also see that `java-cas-client` library doesn't have any reactive support.

Is there a plan to have a reactive wrapper for CAS authentication in spring-security or Is there documentation to have our own reactive implem

[2019-04-05 14:01] gandrade commented on #5939
Let's take the following snippet as sample:

[code]

For whom that needs to overcome the default encoder implementation, which it's the case, I need to create a new instance of `MessageDigestPasswordEncoder("SHA-1")` and to invoke `setDefaultPasswordEncoderForMatches` passing a `MessageDigestPasswordEncoder` instance.  However, there's already an `SHA-1` implementation inside of `PasswordEncoderFa

[2019-04-05 14:30] jzheaux commented on #6741
@thirunar It looks like you found https://github.com/spring-projects/spring-security/issues/5887. If you'd like to begin a PR, then that would be a good ticket to work from.

As Rob said, there would need to be a reactive CAS library as well.

[2019-04-05 14:30] #6741 closed

[2019-04-05 15:14] jzheaux commented on #6738
@ttjkst Can you explain what you are trying to achieve? Making that public might not be the right solution.

[2019-04-05 15:27] jzheaux commented on #6735
@vann586 Thanks for the report! Sorry to hear you are having trouble.

StackOverflow is the recommended platform for troubleshooting configurations. Will you please simplify your sample down to the minimum possible and then post your question there? There is typically someone on the team hanging out over there, looking for questions.

Then, if you don't get an answer over there, please feel free t

[2019-04-05 15:27] #6735 closed

[2019-04-05 15:41] jzheaux commented on #6500
@rhamedy You are correct that `fromOidcIssuerLocation` will remain. It's a nice optimization for users who specifically want to do OIDC-based discovery.

My thoughts on the method are that it would just be `fromIssuer(String issuer)` for now, leaving the `ClientType` out until the API has more time to bake. As you said, this might change if and when the API supports custom discovery endpoints. The

[2019-04-05 16:00] hauntingEcho opened #6742 "OAuth2 Authorization grant flow not refreshing expired access/ID tokens"
### Summary
When a user's access and ID tokens expire, they should be considered invalid and refreshed using the refresh token.  If unable to do so, the user's session should be expired.

### Actual Behavior

currently, the behavior of `HttpSecurity::oauth2Login`, when used with an `openid` scope, will:
* retrieve a user's tokens at login
* not use the tokens' expiration time to dictate session li

[2019-04-05 16:02] rhamedy commented on #6500
If I understand correctly, the new `fromIssuer(String issuer)` method will only do `oauth2-authorization-server` related request?  I do not see a problem with that, except a slight confusion if the new api is used for the purposes of `OIDC` and I suppose we can clarify that with the help of some javadocs.

I will raise a PR next week! Thanks for clarifying my confusions :slightly_smiling_face:

[2019-04-05 16:22] jzheaux commented on #4814
@SayakMukhopadhyay, we try and follow semantic versioning principles, which means [no new public APIs in a patch release](https://semver.org/#spec-item-7).

Since this PR exposes new public methods (e.g. `BasicLookingStrategy#setConversionService`), it means that we should wait for the 5.2 release.

[2019-04-05 16:38] jzheaux commented on #6023
@balasenthil-d I'm not sure I understand the problem you are having, no extra work should need to be done to exclude Spring MVC, so I'm imagining that you are perhaps invoking it somehow, for example by using both `@EnableWebSecurity` and `@EnableWebFluxSecurity`.

[2019-04-05 17:11] jzheaux commented on #6500
Correct, `fromIssuer` would only do `oauth2-authorization-server`, though we may add more sophisticated support later. There might be some value in calling it `fromOAuth2IssuerLocation` if you think that clarifies its usage.

This also means that `fromOidcIssuerLocation` would need an update in order to comply with [Section 5](https://tools.ietf.org/html/rfc8414#section-5).

[2019-04-05 19:21] jzheaux commented on #6636
@andyzhaozhao Currently, Spring Security's refresh logic is [embedded inside](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServletOAuth2AuthorizedClientExchangeFilterFunction.java#L290) of a couple of `ExchangeFilterFunction`s that are handy for `WebClients`, as that was our

[2019-04-05 19:22] #6636 closed

[2019-04-05 19:38] rhamedy commented on #6500
I will go with `fromOAuth2IssuerLocation` option as it aligns well with `fromOidcIssuerLocation` and reduces the confusion. I will see how much of the existing code I can refactor to make it reusable by both :+1: taking into account the [Section 5](https://tools.ietf.org/html/rfc8414#section-5)

[2019-04-05 19:41] jgrandja commented on #6742
@hauntingEcho `oauth2Login()` is another authentication mechanism provided that allows a user to log into an application and establish an authenticated session via `HttpSession`. Even though OpenID Connect is leveraged to achieve this in `oauth2Login()`, the end result is an authenticated `HttpSession` with the application. However, the user has also logged into the OpenID Connect provider during

[2019-04-05 19:41] #6742 closed

[2019-04-05 19:58] jzheaux opened #6743 "Reactive Clear-Site-Data Support"
Related to #4187

It would be nice to have the reactive equivalent of Clear Site Data support.

[2019-04-05 20:35] ajmalch opened #6744 "remove final from convert method in JwtAuthenticationConverter"
### Summary

I wanted to extend JwtAuthenticationConverter in the resource server and override convert method to return my own implementation of  AbstractAuthenticationToken from the Jwt.

### Actual Behavior

Currently the method in JwtAuthenticationConverter is final as  below
[code]

### Expected Behavior

I am thinking that final could be removed so that I can override convert method as below

[2019-04-05 21:28] hauntingEcho commented on #6742
The way I'm reading the spec, the session lifespan of Relying Parties should be the minimum between the two of the RP's configured maximum lifespan, and the ID token's expiration.  This is similar to the behavior of SAML2's `SessionNotOnOrAfter` in an `AuthnStatement`.  If a user's session at RPs is intended to be able to outlive sessions at the provider, there's nothing in the spec stopping the p

[2019-04-05 21:47] jzheaux opened #6745 "Update to Gradle 5.3.1"
It would be great to have Spring Security builds running on the latest Gradle.

Basically, this can be done by updating the [gradle-wrapper.properties file](https://github.com/spring-projects/spring-security/blob/master/gradle/wrapper/gradle-wrapper.properties#L3):

[code]

And testing the build with `./gradlew clean build integrationTest` (locally), with Travis (submitting your PR will do this),

[2019-04-06 00:46] jzheaux commented on #6744
Good question, @ajmalch, thanks for reaching out. I think you have the right idea in implementing the `Converter` interface yourself.

The reason is that it's good to favor composition over inheritance. The existing construct encourages that approach.

Note also that this converter does very little, largely delegating to a granted authorities converter, which means that making that method extensib

[2019-04-06 00:46] #6744 closed

[2019-04-06 01:20] subatron opened #6746 "Spring Security x509 won't allow multiple authentication"
### Summary
With form login, you can re-authenticate a user via username/password at any time with Spring Security. With x509 authentication, this doesn't work and Spring always returns the last cert seen, even if you clear the context.

### Actual Behavior
With http.x509() enabled, Spring Security acquires a cert but won't allow the user re-authenticate with another cert unless the SSL state is c

[2019-04-06 01:45] ttjkst commented on #6738
Ｉwant to customized my FilterInvocationSecurityMetadataSource which it can read mata-source from database.And I want to reuse
org.springframework.security.web.access.expression.WebExpressionConfigAttribute code.

[2019-04-06 05:22] SayakMukhopadhyay commented on #4814
That's a bummer. In the meantime I have worked around the issue using reflection. For anyone looking for help here is the relevant code snippet:

[code]

[2019-04-06 10:32] sayembd commented on #6745
Hi, can I take this issue please?

[2019-04-06 13:58] jzheaux commented on #6745
For sure, @sayembd! It's yours.

[2019-04-06 21:02] sayembd commented on #6745
Hi @jzheaux, I've just submitted a PR: #6747.

[2019-04-06 21:39] ch4mpy commented on #6557
Hi there ! Sorry for long silence, I was not allowed to stop at wish to find internet connection.

I'm really exited to share my latest work. I spent way more time on this lib than I initially thought, but I feel the result is worth the effort.

This long offline session gave me time to refine existing code and augment the lib. I worked on quite a few axes:
  * one more way to configure unit tests

[2019-04-06 21:40] sayembd commented on #6743
@jzheaux can I please take this issue?

[2019-04-06 21:49] ch4mpy commented on #6634
Missed the part of the spec with the Jwt instance. Will fix that soon.

Went further this spec as I propose equivalents for Bearer access-token and OidcId token.

All is based on commons I initiated for annotations equivalents (https://github.com/spring-projects/spring-security/issues/6557)

[2019-04-06 22:07] ch4mpy commented on #6557
By the way, @jzheaux , di you have any opportunity to talk with @jgrandja who first came up with the need to support custom claims ? See his comment from March the 5th:

I later noticed that for instance neither "scope" nor "scp" are listed as standard claims. My unit tests always use it as custom

[2019-04-07 03:30] dillius commented on #6046
Is there a way to solve this problem if you are using functional framework in Spring 5? The ControllerAdvice doesn't seem to have any effect if you aren't actually defining Controllers.

[2019-04-07 14:11] dillius commented on #5766
I am in the same boat. I have been trying for more than a day now to find a solution that works to includes CSRF information for ajax requests from a non-templated front end, and using functional routing.

There doesn't seem to be a good example or pattern, though I'm about to give @plewand 's CsrfHelperFilter a try.

[2019-04-07 15:32] dillius commented on #5758
Are there any alternative recommendations for debugging security issues until the Reactor team has time to give this some thought?

I'm trying to debug CSRF issues and it is basically guesswork.

[2019-04-07 15:34] dillius commented on #5766
@plewand 's solution did finally result in my having access to a CSRF token in a cookie for my frontend, though I'm still working out having Spring Security actually accept it on a subsequent POST request.

[2019-04-07 16:14] kazuki43zoo opened #6757 "Request was rejected for welcome page of under WEB-INF"
### Summary

Request was rejected for welcome page of under `WEB-INF` directory as follow:

[code]

### Actual Behavior

`org.springframework.security.web.firewall.RequestRejectedException` is occurred as follow:

[code]

### Expected Behavior

Render the content of `home.jsp`.

### Version

* 5.0.4 - 5.1.5 (5.0.3 work fine)

### Sample

[gh-spring-security-6757.zip](https://github.com/spring-proj

[2019-04-07 16:33] kazuki43zoo commented on #6757
Run the sample application using cargo maven plugin.

[code]

Access the sample application using cURL.

[code]

[2019-04-07 22:21] smitchell opened #6758 "Spring Boot 2 upgrade causes "At least one redirect_uri must be registered with the client.""
### Summary

After upgrading an existing authentication server to Spring Boot 2, the shared custom login page in the authentication service no longer redirects the user back to the original protected URI.

### Actual Behavior

1. The user attempts to access a protected, proxied web resource.
2. The user is redirected to the shared, custom login page in the authentication service.
3. The user posts

[2019-04-08 00:32] flashbazbo commented on #5679
Any status on this issue? Preventing upgrade to spring 5.1.x.

[2019-04-08 05:38] hpardess opened #6759 "Digest Authentication failed to match"
http://www.kenansevindik.com/feature-interaction-problems-and-spring-security/

Failed to authenticate the user as I have password in database in encrypted format (BCryptPasswordEncoder) but digest auth feature require the password in plain text.

`2019-04-08 10:04:34 DEBUG o.s.s.w.a.w.DigestAuthenticationFilter - Expected response: '566f382eec8c9784e49487d3fce5ba35' but received: '027c1a2bdd89852

[2019-04-08 11:46] OrangeDog commented on #3087
Just to clarify, it is known that by default `.sessionManagement()` disables ALL rewriting?
While technically correct, rather than "disallows HTTP sessions to be included in the URL", the documentation should be clear on this.

[2019-04-08 13:47] smitchell commented on #6758
The other piece to the puzzle is our Zuul/Ribbon proxy server, which is still 1.5.13.RELEASE. I think the answer to how I can write a unit test in the authentication service lies in understanding the interaction with Zuul, or more specifically, the Spring Security 4 @EnableOAuthSso annotation on our proxy service.

[code]

[2019-04-08 15:30] jzheaux commented on #6758
@smitchell, these are good questions. Since your questions are about the `spring-security-oauth` project, would you do me a favor and copy this over to https://github.com/spring-projects/spring-security-oauth?

I'm happy to copy it myself, but this way, it will preserve the history of who asked the question.

[2019-04-08 15:41] jzheaux commented on #3087
Good point, @OrangeDog. Would you like to submit a PR with some improved documentation around this?

[2019-04-08 15:47] smitchell commented on #6758
@jzheaux - Josh, I opened a spring-security issue last night. Can it be moved or should I create a new one and refer to it? https://github.com/spring-projects/spring-security/issues/6758

[2019-04-08 15:56] jzheaux commented on #4814
Thanks for reaching out with a workaround, @SayakMukhopadhyay, and sorry if you are experiencing some heartburn over it. The community as a whole gets a lot of benefit from knowing that patch releases are always backward-compatible, which is why we adhere to it.

[2019-04-08 16:05] jzheaux commented on #6758
Would you please create a new one over in `spring-security-oauth`? Thanks!

[2019-04-08 16:11] #6731 closed

[2019-04-08 16:14] smitchell commented on #6758
@jzheaux This issue was moved to https://github.com/spring-projects/spring-security-oauth/issues/1656

[2019-04-08 16:14] #6758 closed

[2019-04-08 17:27] Addvilz opened #6760 "Expose GENSALT_DEFAULT_LOG2_ROUNDS as public constant"
### Summary

Allow public access to default number of rounds currently defined at `org.springframework.security.crypto.bcrypt.BCrypt#GENSALT_DEFAULT_LOG2_ROUNDS`

This would allow adaptive default for library users with increased factor.

Ex. `GENSALT_DEFAULT_LOG2_ROUNDS + 2`.

Whenever the default is updated by the library, factor locally would also bump, allowing for "strength relative to defaul

[2019-04-08 19:21] jzheaux commented on #6743
For sure! It's yours, @sayembd

[2019-04-08 20:02] #6745 closed

[2019-04-08 20:24] jgrandja commented on #6683
@DarrenForsythe I put together a [sample](https://github.com/jgrandja/oauth2-client-demo/tree/unauthn-oauth2client-repo) that includes the equivalent of `UnAuthenticatedServerOAuth2AuthorizedClientRepository` (on the reactive side) for Servlet applications - [`UnauthenticatedPrincipalOAuth2AuthorizedClientRepository`](https://github.com/jgrandja/oauth2-client-demo/blob/unauthn-oauth2client-repo/cl

[2019-04-08 20:51] jgrandja commented on #6638
@xyting Diagrams do not provide the detailed information that I need to help you troubleshoot. In the future, it would be very helpful if you could provide a [complete and minimal sample](https://stackoverflow.com/help/mcve) that reproduces the issue and share it via a GitHub repository. This will allow us to efficiently troubleshoot and help resolve the issue. The sample should contain the minimu

[2019-04-08 20:51] #6638 closed

[2019-04-08 21:03] jgrandja commented on #5893
@xyloman This is a **new feature** so it won't be back-ported to 5.1.x.

[2019-04-08 21:09] jzheaux commented on #6738
Thanks for the extra detail. Since this is actually a duplicate, let's continue our conversation over on https://github.com/spring-projects/spring-security/issues/1964.

[2019-04-08 21:09] #6738 closed

[2019-04-08 21:14] jzheaux commented on #1964
@ttjkst You mentioned in #6738 that you wanted to reuse the code in `WebExpressionConfigAttribute` for your database-driven `FilterInvocationSecurityMetadataSource`.

This seems a bit odd to me since `ConfigAttribute` is a very simple interface to implement, and it's not clear to me what behavior you are trying to get out of it. Can you explain in more detail what kinds of problems you are running

[2019-04-09 01:16] jgrandja commented on #6742
@hauntingEcho Great points. In reference to section 4.  [Session Status Change Notification](https://openid.net/specs/openid-connect-session-1_0.html#ChangeNotification):

The keyword here is **MAY**. Also, the OpenID Connect Session Management spec [is OPTIONAL](https://openid.net/connect/) as part of an OpenID Connect 1.0 implementation. Therefore, session management may not be supported by cert

[2019-04-09 02:06] xyting commented on #6638
Recently, I read the source code. I know what you say. However, if have an `Nginx` between `User-Agent` and `backend Spring Security server`, many cases, such as `Authorization Code Grant` get the redirect url will be wrong.

[2019-04-09 03:11] hauntingEcho commented on #6742
I agree that it could make sense to consider this a feature request.  My reading of section 4 there was as a method to determine whether the OP session had ended early (which could otherwise end up using a *much* more frequent `prompt=none` heartbeat than the id_token's expiry and cause obnoxious amounts of traffic).  I had discussed it some on the gitter thread, but the conversation moved on pret

[2019-04-09 08:31] jgrandja commented on #6638
@xyting

This seems to be a separate issue? Please keep issues separate going forward. Looks like you need to configure the [`ForwardedHeaderFilter`](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/filter/ForwardedHeaderFilter.java). Here is the [Spring Security reference](https://docs.spring.io/spring-security/site/docs/current/refe

[2019-04-09 09:33] jgrandja commented on #6624
I get it now...somehow I misunderstood when I read your comments previously. Let me put something together for you and we can review from there.

[2019-04-09 13:06] DarrenForsythe commented on #6683
@jgrandja Tested it this morning, looks good to me.

[2019-04-09 16:31] dfcoffin commented on #6733
@ankurpathak That is also my understand, which is why I suggested it needs to be added to any migration documentation project, so individuals attempting to migrate with Authorization Server Spring Security Oauth implementations don't start and then find out they can't complete the migration.

@jzheaux Please correct me if Spring Security 5.2.0 incorporates the Authorization Server support

[2019-04-09 18:15] #6220 closed

[2019-04-09 18:18] jzheaux commented on #6025
Note that PowerMock released a 2.0.0 version that addresses the JDK 12 issue. because of this, we don't need this as immediately, but will keep it open as there is still value in reducing dependencies. For example, [if Mockito adds support for static methods](https://github.com/mockito/mockito/issues/1013), it would be nice to use only one mocking library going forward.

[2019-04-09 19:51] jgrandja commented on #6733
@dfcoffin

Authorization Server support has not started yet and therefore will not be included in the 5.2.0 release. We started planning from a high-level in #6320 but the work won't start until we're at RC1 phase for 5.2.0 (at least). The plan is to release initial support for Authorization Server in the 5.3.0 release.

[2019-04-09 19:59] jgrandja commented on #6624
@sdeleuze See #6761 and please confirm if this is what you're looking for.

@rwinch Please review and let me know if you're good with this approach. I'll add tests to complete the PR after we're all on the same page.

[2019-04-09 20:23] sdeleuze commented on #6624
@jgrandja Yes this is exactly that :-) I have just added a question in the PR, see https://github.com/spring-projects/spring-security/pull/6761/commits/85abc75a2e98bfec7eed94ff8e8eedbdad9c0f60#r273683479.

[2019-04-09 20:24] ch4mpy commented on #6634
I tried to correct as much as possible before going at see again but am quite unsatisfied with my push:
  * Applied modifications on a [`gh-6557--reviews` branch](https://github.com/ch4mpy/spring-security/tree/gh-6557--reviews/test) containing everything to benefit IDE refactoring features but run out of time to report on "JWT flow" branch you are commenting
  * I pulled master and rebased on it b

[2019-04-09 21:01] jzheaux opened #6762 "Introduce a Map-based AuthenticationManagerResolver"
Recently, #6722 introduced a contract for resolving an `AuthenticationManager` via some context, like a request.

A natural implementation for this would be one that contained a `Map<RequestMatcher, AuthenticationManager>` and selected the `AuthenticationManager` from the configured `Map`.

This aligns with other request-matching API implementations like `DelegatingAuthenticationEntryPoint`  and `

[2019-04-10 02:41] clevertension commented on #6762
i can't find `AuthenticationMatcher` in the repo, do you mean `AuthenticationManager`?

[2019-04-10 06:42] umi-soft opened #6763 "can I use AccessDecisionManager and SecurityMetadataSource with web flux"
### Summary

can I use `AccessDecisionManager` and `SecurityMetadataSource` with web flux ，
i want to use with spring cloud gateway。 but how to do?

[2019-04-10 10:10] dmitriychernov7 commented on #6545
I agree. I expected that security checks go first, and only then validation. because validation rules can contain some specific checks like "existing entity by name or id".

[2019-04-10 10:55] jgrandja commented on #6683
@DarrenForsythe Thank you for validating.

Did you notice `UnauthenticatedPrincipalOAuth2AuthorizedClientRepository.setUnauthenticatedPrincipalSupplier()` and would you find this useful? The goal is to provide the flexibility that will allow the user to specify an `Authentication` to use (via a `Supplier`) when looking up the `OAuth2AuthorizedClient`. I'd like to hear from you if there is a use ca

[2019-04-10 13:48] ttjkst commented on #1964
I think you are right，  the WebExpressionConfigAttribute is appropriate for WebExpressionVoter but not for my idea.I prepare to write a class  which implements ConfigAttribute。Would you have some  demo for customizeding AccessDecisionVoter  with spring boot

[2019-04-10 17:08] jzheaux commented on #6733
@dcoffin, while 5.2 won't introduce new Authorization Server support, you are right that it would probably be valuable to make the migration scenarios clear to the reader (so they don't assume the guide is about Authorization Server). Also, we can add more scenarios when 5.3 is released.

[2019-04-10 17:10] jzheaux commented on #6762
Good catch, @clevertension. I've updated the description.

[2019-04-10 19:19] #6443 closed

[2019-04-10 19:36] catchin opened #6764 "Improvement: Log RemoteKeySourceException on higher log level instead of wrapping it and logging with debug"
### Summary

Currently, in spring-security-oauth2-resource-server / spring-security-oauth2-jose, when an exception occurs for retrieving the JWK set by nimbus library, it is silently swallowed.

### Actual Behavior

Include OAuth2 resource server support according to documentation and specify spring.security.oauth2.resourceserver.jwt.jwk-set-uri to be some invalid URL. When a client tries to authe

[2019-04-11 12:56] mp911de opened #6766 "Move off org.s.d.r.query.spi.EvaluationContextExtension to org.s.d.spel.spi.EvaluationContextExtension"
`org.springframework.data.repository.query.spi.EvaluationContextExtension` was deprecated with Spring Data 2.1 in favor of the newly introduced `org.springframework.data.spel.spi.EvaluationContextExtension`.

Spring Data Moore M3 has removed deprecared API and so clients wanting to use Spring Data with Spring Security require this change.

[2019-04-11 12:57] bclozel opened #6767 "SecurityEvaluationContextExtension should not implement deprecated EvaluationContextExtension"
The `spring-data-commons` module previously provided a `org.springframework.security.data.repository.query.EvaluationContextExtension` which has been deprecated and replaced by `org.springframework.data.spel.spi.EvaluationContextExtension`.

In Spring Data Moore M3, this class has been removed in https://github.com/spring-projects/spring-data-commons/commit/0bf160eb971819ea64bed92c5bc1fa323fd5f2b7

[2019-04-11 12:58] bclozel commented on #6767
Closing as a duplicate of #6766

[2019-04-11 12:58] #6767 closed

[2019-04-11 13:44] OrangeDog commented on #6629
Because that's how your code works. The configurer calls `http.getSharedObject(AuthenticationManager.class)`. That manager is configured via the adaptor's `configure(AuthenticationManagerBuilder auth)` method, where you can add `AuthenticationProvider`s to it.

Nothing in OAuth2 requires a Bearer Token to have any particular implementation, and a bearer token is by definition opaque. Neither does

[2019-04-11 13:51] jgrandja opened #6768 "Update to Spring 5.2.0.M1"
Update to Spring 5.2.0.M1

[2019-04-11 13:54] jgrandja opened #6769 "Update to Spring Data Moore-M3"
Update to Spring Data Moore-M3

[2019-04-11 13:59] jgrandja opened #6770 "Update to Spring Boot 2.2.0.M1"
Update to Spring Boot 2.2.0.M1

[2019-04-11 14:10] DarrenForsythe commented on #6683
Struggling to think of use cases currently for it but I do always enjoy extensibility if its easy to provide/maintain, esp as it's a final class.

I was able to do another verification through another use case, MQ Message > Call back to client creds secured resource > Assertation Exception due to no servlet request. Dropped in your impl and worked.

[2019-04-11 14:22] #6766 closed

[2019-04-11 14:22] #6768 closed

[2019-04-11 14:22] #6769 closed

[2019-04-11 14:22] #6770 closed

[2019-04-11 18:18] jgrandja opened #6771 "JwkSourceReactiveJwtDecoderBuilder should be typed SignedJWT instead of JWT"
We should consider removing `NimbusReactiveJwtDecoder.JwkSourceReactiveJwtDecoderBuilder` since it's not used.

I also noticed that the equivalent does not exist in `NimbusJwtDecoder`.

If we decide to keep it than we should change the generic types from `Function<JWT, Flux<JWK>>`  to `Function<SignedJWT, Flux<JWK>>`.

[2019-04-11 18:26] jgrandja commented on #6683
Thanks @DarrenForsythe. I'll get to this after I complete a couple of other pre-requisite tasks.

[2019-04-12 11:38] JokerSun opened #6773 "This could be a bug that no check null in AuthorityUtils.java."
I guess there is a bug in org.springframework.security.core.authority.AuthorityUtils.java
[code]

[2019-04-12 12:07] RoyJacobs commented on #5766
The workaround works fine, even if you don't explicitly set the cookie yourself. Just subscribing is enough, i.e. (Kotlin, sorry):

[code]

[2019-04-12 14:50] cbornet commented on #5766
Why not implementing the same behavior in Webflux as in Webmvc ?

[2019-04-12 16:28] jzheaux opened #6774 "Add JDK 12 Build"
Add JDK 12 to Jenkins

[2019-04-12 16:30] #6774 closed

[2019-04-12 16:32] jzheaux commented on #6773
Good catch, @JokerSun! Would you like to contribute a PR that adds an `Assert` to the beginning of this method?

[2019-04-12 17:28] jzheaux commented on #6771
Agreed that it should be `SignedJWT`.

This implementation addresses https://github.com/spring-projects/spring-security/pull/6367 and is intended to simplify the construction of a `Converter<SignedJWT, Mono<JWTClaimSet>>`. Constructing one of these is more complex than a `JWTProcessor` (the rough `NimbusJwtDecoder` equivalent) because the user can't simply supply an implementation of `JWKSource` w

[2019-04-12 18:25] #5465 closed

[2019-04-12 18:29] jgrandja commented on #5465
@sirianni This new feature has been added and is now in master. We're planning to release 5.2.0.M2 this coming Monday so feel free to try this out and let me know how it goes. FYI, the changes are in this commit bed3371

[2019-04-12 18:34] jgrandja commented on #6425
Closing this as the current names make sense and therefore no need to rename.

[2019-04-12 18:34] #6425 closed

[2019-04-13 09:32] JokerSun commented on #6773
Well,i will fix this bug and contribute a PR later, thanks for your supporting.

[2019-04-13 12:38] dillius commented on #5766
I tend to agree that this should remain open as a bug.

This step seems like it should be unnecessary; correct configuration of the CookieServerCsrfTokenRepository should result in the cookie being utilized in the same manner as it would for WebMVC. This is an extra, unintuitive step

[2019-04-13 21:28] Maxvgrad commented on #5909
@rwinch may i solve this issue?
We could use converter before and after object_identity saved and retrieved from db and check if object_id_type is supported.

[2019-04-13 23:59] DarrenForsythe commented on #6683
No, thank you! I appreciate this being added and quick turn around. Hopefully bump into you in the elevator at S1P again this year @jgrandja  😄

[2019-04-14 01:21] #5553 closed

[2019-04-14 01:39] #6494 closed

[2019-04-14 02:35] #5462 closed

[2019-04-14 02:58] #6553 closed

[2019-04-14 03:01] jzheaux opened #6776 "Fix Broken Documentation Link"
Backport of #6555

[2019-04-14 03:01] jzheaux commented on #6776
Fixed via f03d726e498ed2e7ad2842a3c10ee172f868271e.

[2019-04-14 03:01] #6776 closed

[2019-04-14 14:47] sayembd commented on #6743
Hi @jzheaux, I have just added a PR: #6777. Feedback/improvement suggestions are highly appreciated!

[2019-04-14 19:04] gburboz opened #6778 "Resource Server - Multi-Tenant Jwt Decoder by Issuer"
### Summary
This is related to Issue #5351 but takes different approach to support multi-tenant Jwt Decoders by issuer

### Actual Behavior

Currently Resource Server with jwt is configured as shown below which is then configured with underlying `NimbusJwtDecoder` to decode tokens.

[code]
OR
[code]

### Expected Behavior
Proposal is to add `MultiTenantDelegatingJwtDecoder` which is composed of mu

[2019-04-15 02:40] fritzdj opened #6780 "OAuth2 Client Credentials Flow: Getting access tokens in the service/data tier"
**Summary**
Currently there is a way to auto-wire OAuth2AuthorizedClientService in a component in the service/data tier to lookup the OAuth2AuthorizedClient. This works, but you would still need to use OAuth2AuthorizedClientArgumentResolver to resolve OAuth2AuthorizedClient in web-tier first. My suggestion is to make things more self-contained in service/data tier by allowing OAuth2AuthorizedClien

[2019-04-15 14:59] xyting commented on #6638
@jgrandja Thanks!

[2019-04-15 15:49] jgrandja opened #6781 "Update to nimbus-jose-jwt 7.0.1"
Update to nimbus-jose-jwt 7.0.1

[2019-04-15 15:52] jgrandja opened #6782 "Update to oauth2-oidc-sdk 6.8"
Update to oauth2-oidc-sdk 6.8

[2019-04-15 15:56] jgrandja opened #6783 "Update to com.squareup.okhttp3 3.14.1"
Update to com.squareup.okhttp3 3.14.1

[2019-04-15 15:58] jgrandja opened #6784 "Update to commons-codec 1.12"
Update to commons-codec 1.12

[2019-04-15 16:01] jgrandja opened #6785 "Update to org.aspectj:* 1.9.3"
Update to org.aspectj:* 1.9.3

[2019-04-15 16:03] jgrandja opened #6786 "Update to assertj-core 3.12.2"
Update to assertj-core 3.12.2

[2019-04-15 16:05] jgrandja opened #6787 "Update to bcpkix-jdk15on 1.61"
Update to bcpkix-jdk15on 1.61

[2019-04-15 16:06] jgrandja opened #6788 "Update to bcprov-jdk15on:1.61"
Update to bcprov-jdk15on:1.61

[2019-04-15 16:10] jgrandja opened #6789 "Update to hibernate-entitymanager 5.4.2.Final"
Update to hibernate-entitymanager 5.4.2.Final

[2019-04-15 16:12] jgrandja opened #6790 "Update to mockito-core 2.27.0"
Update to mockito-core 2.27.0

[2019-04-15 16:17] jgrandja opened #6791 "Update to org.apache.httpcomponents:httpclient 4.5.8"
Update to org.apache.httpcomponents:httpclient 4.5.8

[2019-04-15 16:20] jgrandja opened #6792 "Update to net.sourceforge.htmlunit:htmlunit 2.34.1"
Update to net.sourceforge.htmlunit:htmlunit 2.34.1

[2019-04-15 16:21] jgrandja opened #6793 "Update to net.sourceforge.htmlunit:neko-htmlunit 2.34.0"
Update to net.sourceforge.htmlunit:neko-htmlunit 2.34.0

[2019-04-15 16:53] #6781 closed

[2019-04-15 16:53] #6782 closed

[2019-04-15 16:53] #6783 closed

[2019-04-15 16:53] #6784 closed

[2019-04-15 16:53] #6785 closed

[2019-04-15 16:53] #6787 closed

[2019-04-15 16:53] #6788 closed

[2019-04-15 16:53] #6789 closed

[2019-04-15 16:53] #6791 closed

[2019-04-15 16:53] #6792 closed

[2019-04-15 16:53] #6793 closed

[2019-04-15 19:17] hauntingEcho commented on #6742
to follow back up on this a bit, I think this ultimately would become two tickets:
* requesting support for limiting the session lifespan to that set by identity providers via the ID token's expiration.  I haven't really found where this would best go (the best solution we've had internally so far is extending SessionRegistryImpl) - would this make the most sense against this project?
* requesting

[2019-04-15 21:39] nealeu commented on #5907
@rwinch Started on [code for a PR](https://github.com/nealeu/spring-security/tree/gh-5907-metadata-memory).  Aiming to get something within next few days around other commitments.

[2019-04-16 10:17] nealeu commented on #5907
@rwinch I think we need a clear picture for GlobalMethodSecurityConfiguration which at the moment offers limited customisation via customMethodSecurityMetadataSource(), which is still then passed in to the default DelegatingMethodSecurityMetadataSource.

I think this is the way to go instead, and this [method extraction](https://github.com/nealeu/spring-security/commit/c53c830e2f5ab5a844e4c374799e

[2019-04-16 12:58] nealeu commented on #6763
This is a question better asked on StackOverflow.

You can check out the webflux samples such as https://github.com/spring-projects/spring-security/tree/5.1.x/samples/boot/hellowebflux-method/src/main/java/sample, which I suspect gives you what you need.

[2019-04-16 13:21] nealeu commented on #6759
The same password will always be required from the end user.  This is not a bug but intended behaviour as per the Spring Security documentation.

[2019-04-16 13:37] jgrandja commented on #6546
Closed via #6562

[2019-04-16 13:37] #6546 closed

[2019-04-16 16:19] mraible opened #6795 "Using issuer-uri with Spring Security OAuth + Okta: name "Okta" not displayed"
### Summary

If I integrating Spring Security OAuth into a Spring Boot project and specify the following settings, everything works as expected:

[code]

By "expected", I mean both "GitHub" and "Okta" show up on the login form.

<img width="1077" alt="Screen Shot 2019-04-16 at 10 14 22 AM" src="https://user-images.githubusercontent.com/17892/56226590-c4534900-6030-11e9-9ed2-940c971a9736.png">

How

[2019-04-16 19:40] simpleway commented on #6638
@jgrandja I bump into the same issue as @xyting I did not use customized RedirectStrategy, but use google OpenIDC IdP with [OAuth2Login Sample](https://github.com/spring-projects/spring-security/tree/5.1.3.RELEASE/samples/boot/oauth2login).

After tracing the code a little bit, and found the request matcher logic in `OAuth2LoginConfigurer` might contribute to this behavior:
`
		RequestMatcher logi

[2019-04-17 13:05] maczikasz commented on #5188
Any update here? It's been quite a few months since

[2019-04-17 14:17] ch4mpy opened #6797 "Jwt converters small improvements"
Proposed `JwtAuthenticationConverter` modifications:
  * have granted-authorities converter injected from constructor
  * mark default constructor deprecated so that users get notified they really should consider providing their own granted-authorities converter (or intentionally use default one)

Proposed `JwtGrantedAuthoritiesConverter` modifications (which currently is both a granted-authority

[2019-04-17 14:28] jgrandja commented on #6795
@mraible This behaviour is expected.

By default, the `issuer-uri` is used for `ClientRegistration.clientName` when the `ClientRegistration` is resolved using OpenID Connect discovery - see `ClientRegistrations.fromOidcIssuerLocation()`.

However, when **not** using OpenID Connect discovery, as in the first configuration than `ClientRegistration.clientName` defaults to `Okta`  - see `CommonOAuth2P

[2019-04-17 16:10] Kevin0010 commented on #4243
I think that the behavior of spring security's session manage is very strange, you can try this:
1 set `httpServletRequest.getSession().setMaxInactiveInterval(1)`
2 run app and login
3 wait 3s or more now if you get all principals (though some api) you will find the Expected Behavior you expect
**4 but if you reopen the browser and get the all pricipals again ,you will see nothing! So strange!**

[2019-04-17 19:46] mraible commented on #6795
@jgrandja This logic seems odd because the information (`provider.okta`) is there even with OIDC discovery. Are you saying that if all URIs are present, then the name calculation is different?

[2019-04-18 13:16] jgrandja commented on #6795
@mraible

`provider.okta` is used for the `clientRegistrationId` which is different than what is displayed in the login page - "Okta" comes from `ClientRegistration.clientName` == "Okta" via `CommonOAuth2Provider.OKTA`.

Yes, the name calculation is different. If OpenID Connect Discovery is used (because `issuer-uri` is present) than `ClientRegistrations.fromOidcIssuerLocation()` is called which d

[2019-04-18 16:37] jzheaux commented on #6797
Thanks for the improvement proposals, @ch4mpy.

I don't see this as beneficial since the defaults are reasonable. Intentionally specifying every dependency is certainly one way to approach configuration, but I don't see a reason to push developers down that path (they can still certainly do that if they wish by intentionally calling the setter). Generally speaking, if a class needs the application

[2019-04-18 16:37] #6797 closed

[2019-04-18 19:23] jzheaux opened #6798 "Opaque Token Support for Custom Parameters"
Opaque Token Resource Server simplifies authorizing a Bearer Token request against an OAuth 2.0 `/introspect` endpoint.

However, it only sends the `token` request attribute, with no way to add custom parameters to the request.

It would be nice if the application could easily pass other parameters to the `/introspect` endpoint.

Note that this ticket is restricted to custom parameters that don't

[2019-04-18 19:47] jgrandja opened #6800 "MappedJwtClaimSetConverter should not mutate claim set"
`MappedJwtClaimSetConverter` allows the ability to add/remove a claim and rename a claim name in the claim set. This use case does not seem valid. After the Authorization Server creates/signs the `Jwt`, it should never be altered by a Resource Server or Client. It should only be decoded and used as-is.

Ideally we should remove this capability but this will break compatibility since it was introdu

[2019-04-18 21:23] jgrandja commented on #6780
@fritzdj Are you aware of `ServletOAuth2AuthorizedClientExchangeFilterFunction` (Servlet) and `ServerOAuth2AuthorizedClientExchangeFilterFunction` (Reactive) which provides integration with `WebClient`?

These `ExchangeFilterFunction`'s are capable of fetching new (or refresh expired) access tokens (for `authorization_code`) and also fetch new access tokens for `client_credentials`. The  `WebClien

[2019-04-18 22:00] jzheaux commented on #6800
I think this is a reasonable perspective. We should discuss the pros and cons.

First, we have added claims in the past, before this converter existed. For example, in `NimbusJwtDecoderJwkSupport`, the code indicated in the `Jwt` constructor a value for `issuedAt` that was never specified by the JWT. While it manifests itself in a slightly different way in `MappedJwtClaimSetConverter`, it was part

[2019-04-18 22:13] #6773 closed

[2019-04-19 18:56] mraible commented on #6795
okta.client-name is good enough for now. Thanks Joe!

[2019-04-19 18:56] #6795 closed

[2019-04-19 23:46] #6743 closed

[2019-04-20 05:55] Maxvgrad commented on #5909
Probably it's more correct to use Long instead of String as identifier of ObjectIdentityImpl.

[code]
Later on the identifier would be converted to String before database insertion.

[code]

It was an issue with conversion from Long to String before insertion but it is solved within [5508](https://github.com/spring-projects/spring-security/issues/5508). Probably current issue could be closed.

[2019-04-20 10:19] netmikey opened #6802 "Form Login not possible when a single OAuth2 Provider is configured"
### Summary

When using a Form Login, a single OAuth2 provider and the auto-generated login page, the auto-configured `AuthenticationEntryPoint` will redirect to the provider immediately, bypassing the login page and effectively preventing form login.

### Actual Behavior

When trying to access a protected resource, spring security will immediately redirect to the OAuth2 provider's authentication

[2019-04-20 20:39] Maxvgrad opened #6803 "NPE in ExpressionBasedPreInvocationAdvice"
### Summary

Get NPE while using @PreFilter before method invocation, if the method accepts more then one argument and annotation attribute _filterTarget_ is not set.

### Actual Behavior

[code]

### Expected Behavior

Provide a related exception message.

### Version

spring-security-core-5.0.9.RELEASE

### Sample

[code]

[2019-04-20 21:56] tbialecki opened #6804 "usage of sun/reflect/Reflection in transitive dependency of org.springframework.security.ldap.server.ApacheDSContainer"
I'am using Spring Boot 2.1.5.RELEASE with preconfigured spring-security 5.1.5.RELEASE
It seem that transitive dependency of spring-security-ldap:5.1.5.RELEASE is still using sun. packages which does not cooperate with JDK 12. (org.apache.directory.server.apacheds-core:1.5.5)

[code]

[2019-04-22 00:26] ch4mpy commented on #6797
@jzheaux thanks for your detailed explanations. I might have additional questions, thought.

I had started to prepare a PR to illustrate my point, but it stilled required some polish when I last connected. I submit it now, but just for illustration purpose as I understand this not the kind of change you'd like to introduce in a second milestone.

My understanding of current Spring stack, even befo

[2019-04-22 00:38] ch4mpy opened #6807 "Potential incoherent issue and expiry instants in Oauth2 tokens"
As pointed in https://github.com/spring-projects/spring-security/issues/6634 (and https://github.com/spring-projects/spring-security/issues/6557), it seems possible to build tokens with issue and expiry instants and differing with what is exposed in claims (or attributes for opaque tokens).

I propose here a rather radical way to prevent this: removing issue and expiration instants members from `A

[2019-04-22 00:43] fritzdj commented on #6780
Thanks @jgrandja. It does look like this would meet our needs if we were to do some refactoring and use `ServletOAuth2AuthorizedClientExchangeFilterFunction` (Servlet) with `WebClient` instead of using `RestTemplate`. However, it may make sense to put something similar in place for projects where `RestTemplate` is used. While converting to `WebClient` may seem trivial, it could be more of a large

[2019-04-22 00:45] ch4mpy commented on #6634
@jzheaux first, please forgive me for my last comment typo, It's you who I intented to ping at first rank as you are the one reviewing the PR.
Do you have request changes I missed, still needing change? I'll be available frequently next week, but offline again mot of first half of May.

[2019-04-22 02:02] rhamedy commented on #6727
Hi @jzheaux

Started working on this ticket and would be helpful to get some direction from your end. Looking through your PR [PR 6563](https://github.com/spring-projects/spring-security/pull/6563)

- Added
[code]

- The `Reactive` equivalent of `OAuth2ResourceServerConfigurer` is `ServerHttpSecurity.OAuth2ResourceServerSpec`? Is that correct? Curious what is the design decision behind `ServerHttp

[2019-04-22 03:33] xyting commented on #6638
@simpleway

maybe as following will be better:
1. http status: 401;
2. custom head, such as `redirectUrl` = redirect url

[2019-04-22 13:15] jgrandja commented on #6807
Closing - see comments in #6808

[2019-04-22 13:15] #6807 closed

[2019-04-22 13:27] jgrandja commented on #6780
@fritzdj

What re-factoring changes are you referring to? Can you be more specific and provide details. The only place `RestTemplate` is used in `ServletOAuth2AuthorizedClientExchangeFilterFunction` is indirectly via the injected `OAuth2AccessTokenResponseClient<OAuth2ClientCredentialsGrantRequest>`.

[2019-04-22 15:13] adamzimny opened #6809 "Confusing example - WebMvcConfigurer vs WebSecurityConfigurerAdapter"
### Summary
In Spring Security documentation in the hello-web example here:
   https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#hello-web-security-java-configuration
the code is:
[code]
This suggests that custom implementation of `WebMvcConfigurer` interface is the standard way of Spring Security configuration.

Further down in the documentation usage of `WebSec

[2019-04-23 00:41] jgrandja opened #6811 "Align code in oauth2-client extensions for WebClient"
The `WebClient` extensions for OAuth 2.0 Client are supported via `ServletOAuth2AuthorizedClientExchangeFilterFunction` (Servlet) and `ServerOAuth2AuthorizedClientExchangeFilterFunction` (WebFlux).

The `ServerOAuth2AuthorizedClientExchangeFilterFunction` (WebFlux) uses a collaborator `OAuth2AuthorizedClientResolver` to realize part of the feature set. However, `ServletOAuth2AuthorizedClientExchan

[2019-04-23 08:56] jgrandja commented on #5584
Resolved via 742716f

[2019-04-23 08:56] #5584 closed

[2019-04-23 09:39] jgrandja commented on #6250
Closing due to lack of feedback.

[2019-04-23 09:39] #6250 closed

[2019-04-23 09:52] jgrandja commented on #5385
@jzheaux Has this been solved via #5351?

[2019-04-23 09:56] jgrandja commented on #5334
This may be resolved as a result of sub-tasks required in #6811

[2019-04-23 10:05] jgrandja commented on #5134
The UAA team is currently working on migrating the samples to use Spring Security 5.1.x. I'm providing support to them for this migration.

[2019-04-23 16:43] alwyn commented on #6003
@jgrandja have you got any ideas on how you plan to implement this?

I am in need of this and looking at coding it, but I'm new to framework internals and oauth2, so currently I'm just following breadcrumbs and maybe naively basing it on client credentials.

[2019-04-23 17:21] #6624 closed

[2019-04-23 21:31] jzheaux commented on #6498
I propose we introduce the `OAuth2TokenAttributes` class. It would contain the original token and its associated attributes.

I'd imagine that we'd introduce `AbstractOAuth2TokenAuthenticationToken#getAttributes`:

[code]

This would then enable an application to do:

[code]

Or:

[code]

[2019-04-24 02:26] simpleway opened #6812 "OAuth2LoginConfigurer should not redirect for Ajax request"
This issue is related to #6638.
I use single OpenIDC IdP (google) from [OAuth2Login Sample](https://github.com/spring-projects/spring-security/tree/5.1.3.RELEASE/samples/boot/oauth2login). Added a rest endpoint that use the same security configuration. When an ajax request to the rest endpoint with an expired JSESSIONID or no JESSIONID at all, the response is a redirect to google IdP. The redirect

[2019-04-24 10:17] franky-li commented on #4943
Any update on this?

[2019-04-24 12:44] sdoxsee commented on #6548
For anyone tracking this, I just wanted to provide an update. @jgrandja I like your idea. This feature is very interesting to me but not acutely necessary. I am looking for opportunities to work on it but it will be on my own free time. Thanks!

[2019-04-24 15:32] hauntingEcho opened #6814 "support limiting session lifespan by the expiry of OpenID Connect identity tokens"
Per the [OpenID Connect Session Management draft spec section 4](https://openid.net/specs/openid-connect-session-1_0.html#ChangeNotification):
[code]
This could be read a few ways (see also the discussion in #6742 ):
* that the expiration date should be an upper bound on session lifespan, but other options to end the session sooner are provided in the session management spec
* that respecting the

[2019-04-24 18:35] hauntingEcho opened #6815 "Support prompt in OIDC flows"
### Summary
Some workflows in OpenID Connect are dependent on being able to use `prompt=none` to asynchronously refresh the session in the background.  In particular, the draft specs for [session management](https://openid.net/specs/openid-connect-session-1_0.html#RPiframe) depend on the ability to use `prompt=none` via requests in a hidden iframe (see section 4.1).  This is analogous to using `is

[2019-04-24 19:26] hauntingEcho commented on #6742
I've broken those two into #6814 & #6815 - I understand that these may not be a priority for spring-security overall right now, but my short-term goal at this point is just to have viable feature-request tickets that I can reference from our internal tickets

[2019-04-24 21:02] ch4mpy commented on #6807
I understand you don't want to introduce breaking changes at this stage. Few remarks on the working branch I linked to this ticket:
  * neither marking `getIssuedAt()` and `getExpiresAt()` as abstract (and providing implementations retrieving it from attributes in concreate classes) nor removing `issuedAt` and `expiresAt` properties in `AbstractOAuth2Token` requires breaking changes
  * I don't in

[2019-04-24 21:06] jzheaux opened #6816 "Consolidate GrantedAuthority List support"
There are a number of places in the code that need to create a `List<GrantedAuthority>` from a list of authority roots.

`AuthorityUtils.createAuthorityList(String...)` already exists.

However, there is another common use case found in `UserBuilder` and `UserRequestPostProcessor` and will likely get added in other places:

[code]

Mainly, this is handy for specifying roles without worrying about

[2019-04-24 21:11] ch4mpy commented on #6807
On a purely theoretical point of vue, I'm always puzzled when I have more than a single representation of a value in an app.

Here we have two different representations for issue and expiration dates in the same classes: one as `AbstractOAuth2Token` member (and as so in each subclass) and one as claim (or attribute for introspection tokens).

IMO this is a design smell. One of the two should be re

[2019-04-24 21:56] jzheaux commented on #6804
That is correct, ApacheDS does not have a GA release that is compatible with JDK 12. The ApacheDS project has been stagnant for some time now.

Alternatively, you can use `UnboundIdContainer`.

I'm going to close this as answered, but please feel free to reopen if you have a specific request.

[2019-04-24 21:56] #6804 closed

[2019-04-25 01:47] clevertension commented on #6816
@jzheaux can i working on this issue?

[2019-04-25 02:54] jzheaux commented on #5385
@jgrandja good question - it's certainly possible via #5351 but it would not be very efficient. The resulting `AuthenticationManagerResolver` would need to parse the JWT and select the appropriate `JwtAuthenticationManager` instance accordingly, at which point it would be parsed again by the underlying `JwtDecoder`.

It seems to me that a `JwtDecoder` implementation may be better suited for this u

[2019-04-25 03:00] jgrandja commented on #6807
@ch4mpy As already mentioned in this [comment](https://github.com/spring-projects/spring-security/pull/6808#discussion_r277279250)

If you look at the hierarchy of `AbstractOAuth2Token` you will notice 4 sub-classes:
- `OAuth2AccessToken` - represents an [OAuth 2.0 Access Token](https://tools.ietf.org/html/rfc6749#section-5.1)
- `OAuth2RefreshToken` - represents an OAuth 2.0 Refresh Token
- `OidcI

[2019-04-25 03:06] jzheaux commented on #6727
Yes, that's correct. We haven't broken things out yet just because there hasn't yet been the need.

Actually, there isn't a special filter on the reactive side. The programming model is a bit more simplified on the reactive side. You can see the filter set up just as an [`AuthenticationWebFilter`](https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframewo

[2019-04-25 03:13] jzheaux commented on #6778
Related to https://github.com/spring-projects/spring-security/issues/5385

[2019-04-25 03:58] gburboz commented on #6778
@jzheaux and @jgrandja , can you please review pull request #6817

[2019-04-25 17:19] jzheaux commented on #6778
@gburboz Thanks for reaching out! It's good to see you again, @gburboz.

This ticket is one that we've been discussing a bit internally. We'll get back to you as soon as possible.

[2019-04-25 23:21] jzheaux commented on #6809
@adamzimny I agree with your analysis, thanks for the report. Would you be able to submit a PR with the needed change?

[2019-04-26 07:17] bendem commented on #4557
Hi, I'd like to request once again that feature. I just had to migrate our xml config for security to java config because there was no equivalent to `org.springframework.security.config.annotation.web.builders.HttpSecurity#oauth2Login` in xml. The Java config is less clear and more error prone. It's really annoying that there is no parity between the capabilities of `org.springframework.security.c

[2019-04-26 11:09] kujaomega commented on #6780
Hi @jgrandja. The workaround you propose with ServletOAuth2AuthorizedClientExchangeFilterFunction which provides integration with WebClient works well if you only have one authenticated client.

I think that, what @fritzdj tries to propose is an easy way to get new access tokens if needed. I think there is no such way in spring security.

The case where you have lot's of clients. A client use Oaut

[2019-04-26 14:02] rwinch commented on #6498
@jzheaux Can you outline what OAuth2TokenAttributes looks like (what methods are on it)?

[2019-04-26 14:09] sdeleuze opened #6818 "Switch to proxy-less configuration by leveraging @Configuration(proxyBeanMethods = false)"
As part of our Spring efficiency effort, we have recently migrated almost all `@Confguration` in Spring Framework 5.2 and Spring Boot 2.2 to be usable without CGLIB proxies. It would be great for end users and consistent from a portfolio perspective if Spring Security 5.2 could do the same.

[This Spring Framework commit](https://github.com/spring-projects/spring-framework/commit/1a8b3fba942146186

[2019-04-26 14:11] rwinch commented on #6818
We can use https://github.com/wilkinsona/spring-boot-development-eclipse-plugin to help find places that need replaced

[2019-04-26 14:13] rwinch commented on #6812
@simpleway This seems like a reasonable improvement. Would you be interested in submitting a PR?

[2019-04-26 15:06] fritzdj commented on #6780
@jgrandja, by "re-factoring" I meant in a web app (not Spring Security itself). In many legacy web applications, RestTemplate is used all over the place. Switching to WebClient would take some effort. I think there should be a way to just grab new access tokens in the service/data tier of a web application (for one to many authenticated clients) while using RestTemplate if desired.

Good point by

[2019-04-26 17:22] jzheaux commented on #6498
Good question, @rwinch.

`OAuth2TokenAttributes` would have at least two methods in it:

[code]

Originally, I was thinking it would also contain `String getTokenValue()`; however, not all OAuth `Authentication` implementations keep track of the raw token, so I think that would limit `getTokenValue`'s utility.

[2019-04-26 17:31] laszlocsontos commented on #6638
I've just run into this as well.

Let me explain my use case.

1) The user is at https://app.example.com/login, note that this is an SPA
2) `Login with Google` is clicked
3) The SPA performs an Ajax POST request to `http://api.example.com/oauth2/authorization` with Axios. At this point you'll encounter a CORS error. There's no way to prevent the browser from trying to follow that redirect `OAuth2A

[2019-04-26 18:17] rwinch commented on #6638
@laszlocsontos I think it makes more sense to edit the `AuthenticationEntryPoint` which determines at a high level what happens if you are not authenticated. See gh-6812

[2019-04-26 18:21] Vaelyr commented on #6780
I am not sure if it is planned in the future, but I'd also like to be able to obtain access token through different mechanism. For example we are using Feign Client instead, so using `ServletOAuth2AuthorizedClientExchangeFilterFunction` doesn't seem to be an option. Refactoring to Webclient would be our only option or somekind of custom interceptor for Feign like it used to be.

In Spring Cloud Se

[2019-04-26 20:34] rwinch opened #6819 "Add nohttp to Build"
### Summary

Use nohttp in build

[2019-04-26 20:35] #6819 closed

[2019-04-26 20:40] #6803 closed

[2019-04-27 05:42] laszlocsontos commented on #6638
Thanks @rwinch for your suggestion and although https://github.com/spring-projects/spring-security/issues/6812 seems similar, I don't have that problem, because I've already added `AuthenticationEntryPoint` for that purpose, which indeed returns 401.

There are basically three parts of the OAuth2 process.

1) Request to `/oauth2/authorization/google` which redirects to Google and saves the `OAuth2

[2019-04-27 06:56] mehdichitforoosh opened #6821 "Support for RemoteAclService to get permissions in microservices"
### Summary
If we have a microservice to manage the Acl permissions, we need a `RemoteAclService` to get permissions like `RemoteTokenServices` for getting token in Spring Cloud Security,Is it a good design to have a separate microservice for acl?

[2019-04-28 19:07] jgrandja commented on #6548
No worries @sdoxsee and thanks for the update!

[2019-04-28 19:14] jgrandja commented on #6003
Thanks for reaching out @alwyn. This feature will be implemented in `ServletOAuth2AuthorizedClientExchangeFilterFunction` and `ServerOAuth2AuthorizedClientExchangeFilterFunction`. However, depending on the outcome of the re-factoring exercise in #6811 , it may be implemented in a separate `ExchangeFilterFunction`. I plan on working on #6811 this coming week and after that is merged than we can sta

[2019-04-28 19:39] jgrandja commented on #6800
Yes, this is one instance only where it has happened. However, the reasoning makes sense IMO. If the `exp` is provided in the JWT but the `iat` **was not provided** than we default to `exp` minus 1 sec. This logic is more defensive than anything as I believe if `exp` is provided than more than likely `iat` is provided. However, the logic is on the defensive side and I don't believe this will affec

[2019-04-28 20:08] jgrandja commented on #6771
Thanks for the explanation @jzheaux. This make sense. We only need to change `JWT` to `SignedJWT`. I updated the ticket.

[2019-04-29 06:08] jgrandja commented on #6780
Sorry for my misunderstanding @fritzdj regarding the re-factoring you mentioned. I understand your goal and it makes sense. Keep an eye out on #6811 as the goal there is to address re-use and likely resolve this issue at the same time. I'll keep this issue open either way until #6811 is resolved, which I'm planning on starting this week.

[2019-04-29 06:10] jgrandja commented on #6780
@Vaelyr We're planning on addressing the re-use of the logic in the `ServletOAuth2AuthorizedClientExchangeFilterFunction` outside of `WebClient`. The end-goal is to allow better reuse for Feign Client or `RestTemplate`. Please track #6811 for progress.

[2019-04-29 06:23] jgrandja commented on #6780
@kujaomega

Yes, that is correct but this was a quick workaround I provided and would not have this limitation when the real solution is in place, which is planned via #6811, #6683, a new ticket or a combination of these.

At the moment, we only provide an in-memory implementation of `OAuth2AuthorizedClientRepository`. If you require persistence, you can implement your own `OAuth2AuthorizedClientR

[2019-04-29 13:08] ch4mpy commented on #6807
@jgrandja please refer to the ticket title. My motivation to open it was "Potential incoherent issue and expiry instants in Oauth2 tokens". Not promote claims / attributes as `AbstractOAuth2Token` member (which is only one way to achieve that and the result of my explorations to get a "closer to the RFC" implementation on a branch of mine I shared just as a _support for discussion_, not for it to

[2019-04-29 14:17] OrangeDog commented on #6629
Now I've started using `@EnableAuthorizationServer` it the situation looks even more silly.
Via the provided `TokenStore` implementations you can persist access tokens in memory, JDBC and Redis but it's not possible to use any of them in your `.oauth2ResourceServer()`.

[2019-04-29 17:03] SayakMukhopadhyay commented on #4149
Check the last comment by the OP in this thread https://stackoverflow.com/questions/30835674/spring-security-boot-replace-default-daoauthenticationprovider

I was facing a similar issue and this fixed it.

[2019-04-29 19:39] #6632 closed

[2019-04-29 20:34] botcoder opened #6823 "Support JwtValidationException on JwtReactiveAuthenticationManager"
### Summary

[JwtReactiveAuthenticationManager](https://github.com/spring-projects/spring-security/blob/5.1.x/oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtReactiveAuthenticationManager.java#L78) returns a _BearerTokenError_, regardless of the _OAuth2Error_ returned by a JwtValidationException.

### Actual Behavior

[code]

### Ex

[2019-04-30 01:59] xyting commented on #6638
@laszlocsontos I also solve this by providing custom `AuthenticationEntryPoint`, like this:
[code]

[2019-04-30 02:31] andyzhaozhao opened #6824 "Default login page's css "https://getbootstrap.com/docs/4.0/examples/signin/signin.css" is too slow in china."
"https://getbootstrap.com/docs/4.0/examples/signin/signin.css " always cost about 15 seconds in chinese network.

[2019-04-30 03:59] alurysharad commented on #6771
Hello
Is anyone working on this ?

Thank you
Sharad

[2019-04-30 08:10] laszlocsontos commented on #6638
@xyting I've already got a custom `AuthenticationEntryPoint`, but that doesn't seem to solve this problem for me. Actually I don't see what code path would lead to that `AuthenticationEntryPoint` from `OAuth2AuthorizationRequestRedirectFilter`.

Could you please elaborate a bit more on how you've successfully integrated the OAuth2 flow with a single page app?

[2019-04-30 11:29] readonlynetwork opened #6826 "Spring Security with Client Cert"
Please add support to get raw certificate for check via HttpSecurity.x509() or new service for arbitrary code
Sometimes the subject name checking is not enought.
- raw public key checking
- subject alternative names checking

[2019-04-30 15:47] jgrandja commented on #6638
@laszlocsontos It can be challenging integrating a SPA with `oauth2Login()` and we need to provide better documentation and samples for these use cases. There is some context in #6461, however it's more around native-based apps and is a similar challenge as SPA.

You mention that your app is completely stateless, however, this is not actually true. After you authenticate with Spring Security, ther

[2019-04-30 16:43] jzheaux commented on #6771
@alurysharad, no, are you interested in submitting a PR for it?

[2019-04-30 16:54] laszlocsontos commented on #6638
Yes @jgrandja, it's challenging indeed. :)

I've actually disabled that with `sessionManagement().sessionCreationPolicy(STATELESS)`. Does Spring Security store `Authentication` in the session nonetheless?

Yeah, currently I couldn't achieve that with Spring Security's OAuth2 support indeed, but it would be possible to that with minimal engineering effort I believe. I'll explain below.

After tryin

[2019-04-30 17:35] jgrandja commented on #6638
@laszlocsontos I didn't really get a response from you regarding my comments/suggestions. Based on your comments it seems to me that you're doing things differently than how OpenID Connect is designed to work. FYI, there have been a few SPA implementations using `oauth2Login()` successfully based on feedback from other users over the last while.

Please try the suggestion I have provided to re-con

[2019-04-30 19:04] simpleway commented on #6812
@rwinch Sure, I can work on a PR.
In the meanwhile, I found a workaround for this issue.
Add the following in customized `WebSecurityConfigurerAdapter.configure(HttpSecurity)` method
[code]
Not ideal, since hardcoded OpenID Connect provider login page, but good enough to overwrite the default behavior.

[2019-04-30 20:03] jgrandja commented on #6812
@simpleway This isn't an oauth-specific issue. If your application was using `http.formLogin()` instead of `http.oauth2Login()`, you would get the same behaviour and get redirected to `/login` instead. The logic for creating the `RequestMatcher`  comes from `AbstractAuthenticationFilterConfigurer`, which both `FormLoginConfigurer` and `OAuth2LoginConfigurer` inherit from.

I personally feel that t

[2019-04-30 20:38] jgrandja commented on #4557
@bendem Unfortunately, this support won't be added in the upcoming 5.2 release. There are other higher priority items that we're targeting for 5.2. As an FYI, we prioritize tasks based on user demand and given that there are only 2 upvotes on this issue there isn't much demand for it. This doesn't mean we won't add the support though, it just means it's on the lower priority list.

[2019-04-30 21:07] jgrandja commented on #6802
Thanks for the report @netmikey. Would you be interested in submitting a PR for this fix?

[2019-04-30 23:15] simpleway commented on #6812
@jgrandja I would recommend to separate API endpoints to use Bearer token with oauth2ResourceServer configuration. However, this will require UI component to hand over access token or JWT, which need additional development cycles.

Although sharing the same `RequestMatcher`, `formLogin()` most likely redirect to same domain,  while `oauth2Login()` will redirect to an external domain. Google Chrome

[2019-04-30 23:30] jzheaux commented on #6629
@OrangeDog could you provide a sample of what you can't do without copying `OAuth2ResourceServerConfigurer`?

You and I are both proposing ways to change the code from its current state. My question is in the context of our conversation here, which is where you'd provide an `authenticationManager` via the DSL:

[code]

Would you still need an `AuthenticationProvider` in that case? Is there somethi

[2019-04-30 23:50] OrangeDog commented on #6629
I've just stopped using this completely now. The resource server configuration in spring-security-oauth2 provides far more functionality, far more flexibly, so I'm using that.

[2019-05-01 00:35] jzheaux commented on #6629
@OrangeDog I'm glad that you found something that addresses your needs. Sorry that we couldn't find a solution together.

Just in case it's not clear, note that `spring-security-oauth2` is in maintenance mode. We still support it as a team, though it's soon to be marked for deprecation.

[2019-05-01 01:59] alurysharad commented on #6771
Yes

[2019-05-01 02:22] rhamedy commented on #6802
I could work on this if @netmikey didn't want to 👍

[2019-05-01 09:56] jgrandja commented on #6802
Thanks @rhamedy for the offer. Let's provide @netmikey a chance to respond. If it's not picked up by end of next week than feel free to take it on. Thanks!

[2019-05-01 10:14] jgrandja commented on #6812
@simpleway

I don't really understand this statement. Which API endpoints are you referring to? This does not seem related to the issue on hand?

This is not completely true. If an unauthenticated request comes in than the `AuthenticationEntryPoint` will redirect to `/login` for both `formLogin()` and `oauth2Login()` (on same host). However, if there is only 1 `ClientRegistration` than `oauth2Logi

[2019-05-01 10:53] OrangeDog commented on #6629
I see. I would suggest you ensure there is equivalent functionality (or at least the extension points) in core before doing that.

So far (on the resource server side) I've found the `TokenStore` and `OAuth2SecurityExpressionMethods` useful, though I am developing in a quite exploratory manner as new needs arise. The `TokenStore` also provides an opportunity to consistently customise the `OAuth2Au

[2019-05-01 10:55] netmikey commented on #6802
Thanks, @jgrandja. Since I'm pretty busy those days, please go ahead @rhamedy 👍

[2019-05-01 13:57] #3980 closed

[2019-05-01 14:28] rwinch opened #6828 "Connect to Backport Bot"
### Summary

Connect spring-security to https://github.com/spring-io/backport-bot

[2019-05-01 15:10] #6771 closed

[2019-05-01 16:59] jzheaux opened #6829 "OAuth2IntrospectionAuthenticationToken should be marked as @Transient"
By default, Resource Server should be stateless. This is achieved in its JWT support via the `@Transient` annotation:

[code]

For introspection, it would be better if `OAuth2IntrospectionAuthenticationToken` did the same thing:

[code]

It'd also be good to add a test to confirm that by default no session is created when an app is configured for introspection.

[2019-05-01 17:02] jzheaux opened #6830 "Expose strategy for converting Introspection Response into Authentication"
Related to #5629

Like it is for Resource Server JWT support, it should be simple to customize the authentication token that gets returned from the introspection support, e.g.:

[code]

We should add support for this both on the servlet and on the reactive sides.

[2019-05-01 17:10] jzheaux commented on #6498
@kwolfp I believe we can start work on this ticket now. Are you still interested in submitting a PR?

[2019-05-01 18:03] jzheaux commented on #6629
Yes, we'll officially deprecate once we have feature parity. The extension points may change, of course.

Thanks for the feedback about what you are using in `spring-security-oauth2`. Feel free to continue to reach out on what is working for you.

Some quick notes about that:

These are both possible in the new JWT support via a custom authentication token. Opaque Token support for the same is com

[2019-05-01 18:03] #6629 closed

[2019-05-01 18:55] rhamedy commented on #6802
Thanks both :slightly_smiling_face:

@jgrandja anything I should know or keep in mind when working towards a fix in addition to the pointers that @netmikey included in the PR description?

[2019-05-01 22:28] jzheaux opened #6831 "Consider Checking RFC 6749 Constraints in OAuth2Error"
`BearerTokenError` validates its constructor parameters against [the character set specified by RFC 6750](https://tools.ietf.org/html/rfc6750#section-3.1). For example:

[code]

This is because`BearerTokenError` is a class that intentionally represents OAuth 2.0 bearer token errors from RFC 6750.

We ought to consider having `OAuth2Error` validate its constructor parameters against [the character

[2019-05-01 22:49] jzheaux commented on #6824
@andyzhaozhao Sorry to hear that's slow for you. While this page is not intended for production use, we do want developers to have a pleasant experience with it.

Just double-checking - I'm supposing that the response gets cached? I'd imagine that after the first request, its snappy for a certain period of time after. Also, does this affect your ability to use the page at all?

You might consider

[2019-05-01 23:08] jzheaux commented on #6823
@botcoder Good analysis, I agree that this should be improved.

Since there is nothing in the specification that indicates how to handle multiple error messages, and we don't want to lose the other errors if there are multiple, we'd probably want to instead make sure the entire `JwtException` gets propagated, like it does on the servlet side:

[code]

This way, you can still get access to all the

[2019-05-01 23:24] jzheaux opened #6832 "Jwt DSL Configuration should accept an AuthenticationManager"
In Reactive Resource Server, one can switch out the JWT authentication manager:

[code]

It'd be nice to have this same feature on the Servlet side. This `AuthenticationManager` would be used by the `BearerTokenAuthenticationFilter` instead of any shared one.

[2019-05-02 01:33] huytn12 commented on #6829
I can help you with this

[2019-05-02 01:33] jzheaux commented on #6829
Awesome, @huytn12. It's yours!

[2019-05-02 09:22] jgrandja commented on #6802
@rhamedy Nothing that comes to mind at the moment. But feel free to ask any questions along the way. Thanks for taking this on.

[2019-05-02 10:03] jgrandja commented on #6778
@gburboz I think a `JwtDecoder` implementation that delegates to one of it's composed `JwtDecoder`(s) based on the `iss` claim makes a lot of sense to provide further support for multi-tenancy. This was my initial thinking when #5385 was logged.

Looking at `MultiTenantDelegatingJwtDecoder` provides this but I think there is a limitation with `Map<String, JwtDecoder> decoderByIssuer`. The class is

[2019-05-02 11:29] svanschooten commented on #4435
Any update on this issue? We are very anxious to start working with JWE instead of rolling our own. Does this also deal with publishing a JWKS from Spring so we can implement this in our Authentication Service?

[2019-05-02 15:21] rwinch commented on #6826
@readonlynetwork If you need more flexibility, I suggest you create your own version of [X509AuthenticationFilter](https://github.com/spring-projects/spring-security/blob/5.1.5.RELEASE/web/src/main/java/org/springframework/security/web/authentication/preauth/x509/X509AuthenticationFilter.java)

[2019-05-02 15:21] #6826 closed

[2019-05-02 17:16] rwinch commented on #6830
I realize this is probably not finalized, but I'm wondering if we need introspection in the method name?

[2019-05-02 18:08] jzheaux commented on #6830
I think it depends on the contract.

For JWT, the code is:

[code]

And that's because the contract is `Converter<Jwt, ? extends AbstractAuthenticationToken>`.

The contract here isn't quite as clear since it would require both the token and its attributes, which there isn't a class for like there is for `Jwt`.

[2019-05-02 19:59] eleftherias opened #6834 "OAuth2 sample for multitenancy always responds with 401"
### Summary

When running the OAuth2 sample for multitenancy (oauth2resourceserver-multitenancy), any request will respond with a `401 Unauthorized` status.
Additionally, the Readme is outdated and does not reference the correct endpoints.

### Actual Behavior

- Run oauth2resourceserver-multitenancy locally.
- Make a request to `/tenantOne` using the provided valid token.
- The server responds wi

[2019-05-02 20:30] jgrandja commented on #6812
@simpleway We investigated this further and discovered a bug. I apologize for the confusion on my part as I didn't fully understand the actual problem you were having.

When the application has one `ClientRegistration` configured than unauthenticated requests will automatically be redirected to the provider - including XHR requests, which is the issue you are facing. The fix applied will short-cir

[2019-05-02 20:30] #6812 closed

[2019-05-02 20:38] jgrandja opened #6835 "oauth2Login does not auto-redirect for XHR request"
Backport #6812

[2019-05-02 20:41] jgrandja commented on #6638
@xyting @laszlocsontos We discovered a bug and the fix has been applied. It may fix the issue you are having. Please see this [comment](https://github.com/spring-projects/spring-security/issues/6812#issuecomment-488821443) for more details.

[2019-05-02 20:47] jgrandja commented on #6835
Closed via ac3f9b8

[2019-05-02 20:47] #6835 closed

[2019-05-03 05:53] rhamedy commented on #6802
Hi @jgrandja

I wanted to run these changes and questions by you before creating a pull request. For the actual issue pointed out in the description of the ticket, I did the following

[code]
to following and verified it with a test 👍

[code]
I could not find an alternative `method` to check if `formLogin` is configured 🤔

Secondly, I noticed that the same issue is there in the reactive side as we

[2019-05-03 07:55] zulname opened #6837 "DelegatingSecurityContextAsyncTaskExecutor causes potential memory leak"
I am using a DelegatingSecurityContextAsyncTaskExecutor to pass the security context on to async threads. The threads are taken from a Pool which is configured as:

	  @Bean
	  public TaskExecutor threadPoolTaskExecutor() {
		final ThreadPoolTaskExecutor executor = new ThreadPoolTaskExecutor();
		executor.setCorePoolSize(10);
		executor.setMaxPoolSize(100);
		executor.setQueueCapacity(50);
		execu

[2019-05-03 10:02] rblessings opened #6838 "Authenticating user with ReactiveSecurityContextHolder not working"
Hello, am struggling to  manually authenticate a user using ReactiveSecurityContextHolder.
Googled a bit and found out that i need a WebSessionServerSecurityContextRepository somewhere but don;t know how to plug it in. Didn;t find any stackoverflow answer.

[code]

[2019-05-03 10:02] rblessings commented on #6838
Java code example are also welcome.

[2019-05-03 13:32] songokudbz commented on #5631
Spring Boot: 2.1.3.RELEASE
Spring Security OAuth2 Client: 2.1.3.RELEASE

Adding server.use-forward-headers=true and server.tomcat.internal-proxies=.* does not work :(

[2019-05-03 14:12] rblessings commented on #6838
Sorted. If there's even a shorter solution will gladly refactor my code.

**Problem:** automatically authenticate user after successful signup

[code]

[code]

[code]

[2019-05-03 14:13] #6838 closed

[2019-05-03 15:06] gburboz commented on #6778
@jgrandja these were my exact thoughts if we should make it more generic to support mapping based off any user specified claim. However, it was trade off between simplicity and flexibility so I decided to keep it simpler unless we see some demand for such use cases. Note that claims in JWT need not be plain String, they can be complex objects as well.

[2019-05-03 15:08] gburboz commented on #6778
On a separate unrelated note **`iss` claim value, we should consistently make as URI** instead of URL or String because of it's semantics during equals comparison.
* URL will use underlying Hostname/IP lookup which in some environments could give different results even for same hostname in URL and has overhead of DNS lookup.
* We cannot even keep it as String because scheme and hostname part of it

[2019-05-03 19:20] rwinch commented on #6837
Thanks for reaching out! `ThreadPoolTaskExecutor` is a `DisposableBean` which means that to shut it down properly `ThreadPoolTaskExecutor.destroy()` must be invoked.

In sample where you are only using `ThreadPoolTaskExecutor` (i.e. not using `DelegatingSecurityContextAsyncTaskExecutor`) the `ThreadPoolTaskExecutor` is exposed as a bean. Since it is a Bean and implements `DisposableBean`, Spring w

[2019-05-03 19:23] rwinch commented on #5631
@songokudbz That doesn't provide very many details. Please create a ticket at https://github.com/spring-projects/spring-security-oauth/issues/new that provides a sample and details on how to reproduce.

[2019-05-03 19:25] rwinch commented on #6838
Thanks for the follow up. You are right, you must explicitly save the user. This is different from the servlet APIs where simply setting the SecurityContextHolder will save the user. The difference is intentional as the implicit saving has let to lots of issues (i.e. determining when to save the user or not).

[2019-05-03 20:27] rblessings commented on #6838
Ok, thanks for the heads up!

[2019-05-03 20:57] songokudbz commented on #5631
@rwinch I managed to make it work. I am deploying my Spring Boot 2 application as a WAR file in a Tomcat Docker Image. Inside I needed to configure server.xml with a "Valve" to support the X-Forwarded-Porto logic.
Thanks

[2019-05-03 21:26] jgrandja commented on #6802
@rhamedy I would like to avoid the `http.getConfigurer(FormLoginConfigurer.class)` conditional check, as I don't feel `OAuth2LoginConfigurer` should be aware of (or have reference) to `FormLoginConfigurer`. I'll investigate on my end and you continue as well and we'll figure out an alternative approach.

I would leave the reactive changes out for now. Let's figure out the apprach for the fix on se

[2019-05-03 21:37] #6834 closed

[2019-05-03 23:30] afrancoc2000 commented on #6374
Hi @jgrandja, How many votes do you need?

[2019-05-04 10:06] sayembd commented on #6798
Hi @jzheaux, I would like to work on this issue.

[2019-05-04 15:20] heyarny opened #6840 "New session is created on unavailable pages (404)"
### Summary

I'm using sessions with redis enabled which all works great.
I started to notice that my client started losing sessions when accessing to 404 pages.
There are different sessions created with the same session-name and thus my client is having an invalid session when going back to a valid url.

I have a custom ErrorController which simply displays any error in the format needed for my a

[2019-05-04 15:57] heyarny commented on #6840
Another thing I noticed, which underlines my presumption is the use of a EventListener bind to SessionCreatedEvent.

So accessing any valid url -> SessionCreatedEvent is raised.
accessing any invalid url which is handled by ErrorController -> SessionCreatedEvent is not raised, but new session is still appearing.

[2019-05-04 16:11] heyarny commented on #6840
For now I've found an ugly workaround, just in case someone is having the same issue:

[code]

This way the embedded server is using a different name than spring and is leaving it alone.

[2019-05-04 18:57] rhamedy commented on #6802
Sounds good. I will look into other options 👍

[2019-05-04 22:59] xsreality commented on #6778
@gburboz I am working on a similar problem at my company where I need to be able to connect to multiple identity providers with unique issuer URLs. Your solution is promising but the underlying `Map<String, JwtDecoder> decoderbyIssuer` is initialized at startup. In the scenario of a new tenant added (with its own issuer), is there a way to update the map?

To address this, I came up with a solutio

[2019-05-05 05:51] jzheaux commented on #6798
@sayembd, it's yours!

[2019-05-05 06:11] clevertension commented on #6832
@jzheaux can i working on this issue?

[2019-05-05 12:51] erbrecht commented on #6320
I've been looking for support for passing JWTs by reference in addition to the default by value type. Is this something that is planned at all? Is it appropriate to ask here? I was going to create an issue when I came across this one and I figured this was probably more appropriate.

[2019-05-06 01:46] HarryTheCoder opened #6843 "java.lang.IllegalAccessError when resource server introspect token from oauth2 server"
### Summary
I use ORY HYDRA as oauth2 server.  I am  testing [oauth2resourceserver-opaque](https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2resourceserver-opaque) example. While parsing json string to JSONObject, the underline library json-smart  was trying to access private field of ava.net.URL, and caused an java.lang.IllegalAccessError.

## Actual Behavior
On cl

[2019-05-06 07:05] zulname commented on #6837
Thanks very much. That solved the reported problem. There is one remaining exception which I have not reported above but still persists. When stopping the app or shutting it down I get the following warning.

	06-May-2019 08:35:12.794 WARNUNG [http-nio-11003-exec-16] org.apache.catalina.loader.WebappClassLoaderBase.clearReferencesJdbc The web application [leak] registered the JDBC driver [org.h2.D

[2019-05-06 13:23] jgrandja commented on #6320
@erbrecht

Can you provide more details here? It's not clear to me what you're looking for exactly.

Also, given this is a question, please ask on StackOverflow first. We prefer to keep issues for bug reports and new feature requests and/or enhancements.

If you are looking for a new feature or enhancement, please log a new issue and provide as much detail as possible. Thank you.

[2019-05-06 13:31] jgrandja commented on #6374
Hi @afrancoc2000. There is no specific number of votes we target but this one has enough to start prioritizing. However, we are pretty jammed with higher priority tasks that need to get into the upcoming 5.2 release so this one will take lower priority. It would be helpful if someone from the community would contribute a PR for this as I believe it would be fairly trivial. Would you be interested

[2019-05-06 14:01] rwinch commented on #5558
Closing this in favor of #5557

[2019-05-06 14:03] rwinch commented on #6001
Closing this in favor of gh-5557

[2019-05-06 14:03] #6001 closed

[2019-05-06 15:24] jgrandja commented on #6374
@afrancoc2000 Can you provide details on why you require a cookie implementation of `AuthorizationRequestRepository`. I'd like to understand your use case before we proceed with any work. Thanks.

[2019-05-06 15:58] #6225 closed

[2019-05-06 15:59] afrancoc2000 commented on #6374
Sure the reason is microservices applications, today the best way of handling this type of apps is making them stateless so any app can respond to any request.

The authorization can be easily saved and restored from a jwt cookie thats better than having a session because for sessions I need an extra component like a redis cache, that means more infrastructure, more points of failure and the posib

[2019-05-06 16:52] spring-issuemaster opened #6844 "Connect to Backport Bot"
Backport of gh-6828

[2019-05-06 16:53] #6844 closed

[2019-05-06 16:53] #6828 closed

[2019-05-06 17:22] jzheaux commented on #6225
I like the new labels, @rwinch, thanks for doing this.

[2019-05-06 17:34] jzheaux commented on #6832
Actually, in this case, I nearly have a PR ready myself, I just failed to mark it in progress. Thanks for checking, though, @clevertension!

[2019-05-06 21:41] jgrandja commented on #6374
@afrancoc2000 The `AuthorizationRequestRepository` is responsible for persisting the `OAuth2AuthorizationRequest` as part of the `authorization_code` grant flow. Please see [Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.1) for more details.

It does not save a `Jwt` as it seems that is your understanding?

Please correct me if I'm misunderstanding your comments?

[2019-05-06 21:47] jgrandja commented on #4435
@svanschooten Not yet. We're trying to get this into 5.2 but we're working on other priorities at the moment.

No. Jwk is not related to this issue. That would be an Authorization Server feature.

[2019-05-07 01:53] gburboz commented on #6778
@xsreality your use case and solution is very interesting but I am not sure how common this use case is.  I would suggest @jgrandja and @jzheaux to comment on if we want to bring this feature into JwtDecoder itself or not.

Alternative-1: Share instance of `ConcurrentHashMap<String, JwtDecoder> decoderbyIssuer` between `JwtDecoder` and a registry of your choice that can register/unregister decoder

[2019-05-07 03:00] clevertension commented on #6832
@jzheaux it's good, thanks for reply :smiley:

[2019-05-07 05:57] BerserkGuts opened #6846 "oauth2 open 2 login page redirect not correct"
**scenario**
     I have an oauth2 server  implemented by using @EnableAuthorizationServer and two oauth client implemented by using @EnableOAuth2Sso. Eeverything goes well when I only open one login page at a time and login into system.
**problem**
- When I request one url then redirect to login page,I don't login in immediately，I just open a new tab of same browser and request same url，and redir

[2019-05-07 14:07] jzheaux commented on #6544
It's not yet clear the means by which dynamic credentials ought to be provided.

An obvious first candidate is using `ClientRegistration` and `ClientRegistrationRepository` since these hold client ids and secrets already, and these are in `oauth2-client`. `ClientRegistration` turns out to not be such a great fit, though, since it is focused on OAuth 2.0 grant flows. A grant flow is just one of num

[2019-05-07 15:06] jgrandja commented on #6544
@jzheaux If we decide to wait on this, I would still rather remove the constructor

`NimbusOAuth2TokenIntrospectionClient(String introspectionUri, String clientId, String clientSecret)`

and instead use

`NimbusOAuth2TokenIntrospectionClient(String introspectionUri, RestOperations restOperations)`

by supplying it with the a configured `restOperations` that uses a `BasicAuthenticationInterceptor`

[2019-05-07 15:27] jgrandja commented on #6846
@BerserkGuts This question is mean for the [Spring Security OAuth](https://spring.io/projects/spring-security-oauth) project and therefore should be logged [here](https://github.com/spring-projects/spring-security-oauth/issues).

Also, we prefer questions be posted on StackOverflow, as issues are meant for bug reports and new feature requests or enhancements.

I'm going to close this issue but fee

[2019-05-07 15:27] #6846 closed

[2019-05-07 17:51] rwinch commented on #6840
Are you using Spring Session?

[2019-05-07 18:02] erbrecht opened #6848 "Support for passing JWT by reference"
### Summary

I've seen some talks and articles recently that go into JWTs and passing them by value and by reference. The default behavior, at least for the spring implementations I've seen, is to pass a JWT by value, meaning the actual JWT is passed to a client. In the case of a mobile or native app, it may be desirable for the authorization server to pass a JWT by reference, where an opaque iden

[2019-05-07 18:18] jzheaux commented on #6843
@HarryTheCoder thanks for the report, we should have a fix soon.

[2019-05-07 18:22] rwinch commented on #6837
I don't think I'm in a good position to answer your question authoritatively as it seems unrelated to Spring Security. However, it does seem like it could be the same issue. I'd suggest reaching out to Spring Framework or Tomcat to investigate the issue further.

Given this...I'm going to close the issue.

[2019-05-07 18:22] #6837 closed

[2019-05-07 19:08] jgrandja commented on #6802
@rhamedy If you look at the logic in `OAuth2LoginConfigurer.initDefaultLoginFilter()`, it obtains a reference to `DefaultLoginPageGeneratingFilter` which `FormLoginConfigurer` does the same. Maybe you can check `DefaultLoginPageGeneratingFilter.isEnabled()` which will return `true` if `formLogin()` is enabled. I think this should work. But I'm also wondering if there might be an ordering issue bet

[2019-05-07 19:15] jgrandja commented on #6802
@netmikey As a temporary workaround, you can configure `httpSecurity.oauth2Login().loginPage("/custom-login")` to specify your custom login page and you won't have the same issue with the auto-redirect.

The auto-redirect only happens when there is one client configured and no custom `loginPage()` configured. Just as an FYI, the default login page is provided as a convenience for development or sa

[2019-05-07 19:20] #6843 closed

[2019-05-07 19:26] jgrandja commented on #6848
@erbrecht There are 2 types of tokens - self-contained and opaque. Self-contained tokens contain all the attributes within it, e.g. a `Jwt`. On the other end, opaque tokens (or reference tokens) is a unique identifier that points to the set of attributes associated to it in a protected datastore on the Authorization Server. When the client needs to access some (or all) of the attributes of the opa

[2019-05-07 19:26] #6848 closed

[2019-05-07 20:36] rwinch commented on #6800
The issue is not intrinsic to `MappedJwtClaimSetConverter`, but to the fact that the `JwtDecoder` implementations allow a `Converter<Map<String, Object>, Map<String, Object>>` to convert the claims.

I agree with Josh that the JWT has not been manipulated, but just the Java representation of claims. We already mutate the result by converting it. Even though the implementation is operating on indiv

[2019-05-07 23:02] jzheaux opened #6849 "OpaqueToken DSL should accept an AuthenticationManager"
Same rationale as https://github.com/spring-projects/spring-security/issues/6832, but for `opaqueToken()`:

[code]

[2019-05-07 23:08] #6832 closed

[2019-05-07 23:08] #6849 closed

[2019-05-07 23:14] jzheaux commented on #6824
@andyzhaozhao, fyi, we're waiting for some feedback on you in order to move forward on this ticket. If we haven't heard from you by next week, then we'll close the ticket.

[2019-05-07 23:42] jzheaux commented on #6544
I don't have a very strong opinion here, though we have seen the benefit in the past of having two configurations: an easy one and an open one (I'm making up these terms).

For example, in the case of `NimbusJwtDecoder`, there is the constructor that takes the algorithm and the JWK Set URL (easy), and then there is the constructor that takes a `JWTProcessor` (open).

This is a pattern common to th

[2019-05-08 00:29] jgrandja commented on #6800
Very true. Essentially a user can completely convert any/all claims from the original JWT claim set, which provides quite a bit of control. I wonder if we allowed for too much control here?

Given the Map in Map out contract, I agree that it shouldn't be a surprise. However, my  understanding of the original issue #5223 and the one currently in flight #6245 is all about **type conversion**. To be

[2019-05-08 00:29] #6800 closed

[2019-05-08 05:43] netmikey commented on #6802
I know, and I'm working on a custom login already.

The default form is very convenient for starting development though, and I found its behavior confusing, especially for someone starting on that subject.

[2019-05-08 08:33] drahkrub commented on #6837
Another possibility:

    @Bean
    public TaskExecutor threadPoolTaskExecutor() {

        final ThreadPoolTaskExecutor executor = new ThreadPoolTaskExecutor();
        executor.setCorePoolSize(10);
        executor.setMaxPoolSize(100);
        executor.setQueueCapacity(50);
        executor.setThreadNamePrefix("Leak-");
        executor.initialize();

        return new DelegatingSecurityContext

[2019-05-08 09:49] ExpDev07 commented on #6548
Any updates on this? I am trying to integrate Snapchat Login Kit with Spring Security OAuth2, and let me just say: it's a pain in the ass (Snapchat has the worst documentation I've ever read, maybe because it's still in development). Although not documented, the Login Kit requires the PKCE parameters (code_verifier, code_challenge, and code_challenge_method) passed.

Now, I started writing a rathe

[2019-05-08 16:13] pthorson commented on #6809
Can same be checked in for 5.1.x branch? Thank you.

[2019-05-08 16:33] jzheaux commented on #6498
I've just summarized the work to be done for this ticket up in [the description](https://github.com/spring-projects/spring-security/issues/6498#issue-405803698).

[2019-05-08 20:32] alexvk82 commented on #4260
I confirm the problem too

[2019-05-08 20:55] heyarny commented on #6840
@rwinch no, I'm not.

It's all autoconfigured.

This is my pom:
[code]

my security config:
[code]

and then the application.properties:
[code]

[2019-05-08 22:17] pthorson commented on #5465
@jgrandja Except in Test, how does one setJwsAlgorithmResolver? I can't seem to get the value to be anything but RS256.

[2019-05-08 22:54] jzheaux commented on #6778
Yes, I agree that there is an advantage to using a contract where the `JwtDecoder` can be resolved at runtime. `ClientRegistrationRepository` exists for this same reason for OAuth 2.0 Clients. I think `Function<String, JwtDecoder>` or `Function<JWT, NimbusJwtDecoder>` show some promise.

Can you clarify @xsreality which you are stating is preferable and why? Subdomains and paths are often used for

[2019-05-09 01:53] jzheaux opened #6851 "Introduce Jwt.Builder"
Since there are many aspects to building a `Jwt`, it'd be nice to have a builder to simplify that work:

[code]

The builder would contain at least four configuration methods:

[code]

And would be inlined in `Jwt`, as the code does with other builders like `ClientRegistration.Builder`.

To assist with type coherence, it could also have helper methods for [the claims specified in RFC 7519](https:/

[2019-05-09 02:27] xyting commented on #6638
@jgrandja Thanks

[2019-05-09 04:41] rhamedy commented on #6802
hi @jgrandja last week I spent some quite some time debugging alternative options and a majority of my attempts resulted it either in `no success` or `failing existing test`. I added the following breaking test

[code]
That above test breaks with no fix 👍 and then I proceeded with adding alternative fixes to `http.getConfigurer(FormLoginConfigurer.class)` which you rightly stated that is not the r

[2019-05-09 14:16] lhaidacher commented on #5465
you just have to create your own JwtDecoderFactory<ClientRegistration>-Bean like:

[code]

[2019-05-09 15:31] #6823 closed

[2019-05-09 15:37] jzheaux commented on #6424
Closing in favor of https://github.com/spring-projects/spring-security/issues/6798, which describes a more concrete solution.

[2019-05-09 15:37] #6424 closed

[2019-05-09 21:10] jgrandja commented on #6609
I re-evaluated this issue and the requirements are not correct. The `OAuth2AuthorizedClientArgumentResolver` is not intended to act in the role of an OAuth Client, therefore, it is not responsible for refreshing/renewing **expired access tokens**. This responsibility belongs to the OAuth Client - to check the **existing access token** for expiry before it attempts to request a protected resource.

[2019-05-09 21:10] #6609 closed

[2019-05-09 21:14] jgrandja commented on #6610
Closing this as invalid - see [comment](https://github.com/spring-projects/spring-security/issues/6609#issuecomment-491067618)

[2019-05-09 21:14] #6610 closed

[2019-05-10 01:57] ExpDev07 opened #6854 "Make #buildFormParameters in the oauth2 client auth converters protected"
I was working with making a custom converter for the "OAuth2AuthorizationCodeGrantRequest" to add support for the PKCE spec. However, I still wanted the base functionality of "OAuth2AuthorizationCodeGrantRequestEntityConverter", and just wanted to add some parameters.

The way to do this, per the official documentation, is to just create a new class implementing "Converter<OAuth2AuthorizationCodeG

[2019-05-10 14:10] kalyaniyerra commented on #6609
#6610  is still valuable. I actually use the @RegisteredOAuth2AuthorizedClient in my controller and use the accesstoken to pass it on to a different client. I am not using the WebClient. I have a need to use 3rd party HTTP client that underneath uses the okHTTP client. In this scenario, it would be beneficial for adding the logic to retrieve the access token again if it is expired since the 3rd pa

[2019-05-10 14:30] jukkasi commented on #3378
I recently ran into this issue. Changing strategy does not fix the issue, because same SecurityContext instance is always shared between threads that context has been passed to. Therefore any thread changing the context will affect all threads. This is problematic if user who started job threads for example logs out and some running jobs are not completed yet, they will lose access to context at l

[2019-05-10 15:03] jukkasi opened #6856 "Using strategy MODE_INHERITABLETHREADLOCAL is dangerous with thread pools"
### Summary

When Spring Async annotation is used, it is often instructed to set SecurityContextHolder.setStrategyName(SecurityContextHolder.MODE_INHERITABLETHREADLOCAL) so that security context is accessible in spawned threads.

However with thread pools (for Spring Boot pool is auto-configured)  this is highly dangerous, because when thread is reused from pool, also security context which was se

[2019-05-10 21:19] spring-issuemaster commented on #3406
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3375
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3363
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3322
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3286
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3274
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3224
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3212
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3169
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3161
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3127
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3062
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3029
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3025
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #3004
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2962
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2904
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2761
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2640
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2635
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2628
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-10 21:19] spring-issuemaster commented on #2604
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-11 10:03] bertramn commented on #6778
I am not very close to the spring oauth code, so perhaps treat the comment as user feedback ;).

If multi-tenancy can't easily be added, maybe the current implementation is not aligned to the token processing stages of a resource server.

We had this need a year ago (#5351) and ended up implementing a bunch of components including an authentication filter along these lines:

1. parse token
2. extr

[2019-05-11 16:59] ch4mpy opened #6857 "SecurityContextRequestPostProcessorSupport small-improvements"
1. `SecurityContextRequestPostProcessorSupport` does not define abstract method. There is no need for it to be abstract
2. `SecurityContextRequestPostProcessorSupport` is stateless. There is no need for it to be a parent class, it can be a collaborator or an interface instead
3. both `SecurityContextRequestPostProcessorSupport` and `TestSecurityContextRepository` could be of great use to framework

[2019-05-11 17:06] ch4mpy opened #6859 "Git ignore `.attach_pid*` files"
Sometimes, when test run, `.attach_pid*` remain in the file system.
Adding it to `.gitignore` prevents from accidentally adding it to subsequent commits.

[2019-05-13 09:07] Xarvalus commented on #6552
While seeking for currently possible solution there are some workarounds posted on StackOverflow: [Disable WebSession creation when using spring-security with spring-webflux](https://stackoverflow.com/questions/56056404/disable-websession-creation-when-using-spring-security-with-spring-webflux).

Involving `WebSessionManager` methods overriding & manual `SecurityWebFilterChain` functionality disab

[2019-05-13 10:19] SparkMonkey commented on #6491
I used the following code as work around :

[code]

So i can do the following without trouble :

[code]

[2019-05-13 11:30] JokerSun opened #6862 "Repeating configure cors of http security doesn't work."
In my case, I will construct a dev environment for a web developer, then she hopes to debug in local, so I write the spring security config like this:
[code]

The code is very simple that allows cors if the 'dev' profile is active, but it doesn't work.
So, I change my code to this:
[code]
OK, it work, but why.
I can't understand why repeating configure http security doesn't work.

[2019-05-13 13:30] rwinch commented on #6544
I think it makes sense to have something that is simple for users to leverage using the client id and client secret. Perhaps it would be better served as a builder to avoid complications with other strategies that leverage two Strings as credentials.

[2019-05-13 13:32] jgrandja commented on #6609
@kalyaniyerra Please see #6811 as the goal there is to allow better reuse of the existing logic in `ServletOAuth2AuthorizedClientExchangeFilterFunction`.

[2019-05-13 13:43] rwinch commented on #4260
Thanks for the confirmation @alexvk82! Would you be interested in submitting a PR to fix the documentation?

[2019-05-13 13:48] rwinch commented on #6840
The fact that you have the dependency `spring-session-data-redis` means that you are using Spring Session. I suspect the issue is that Spring Session's SessionRepositoryFilter is not being invoked for error pages. Can you try adding this to your configuration?

[code]

[2019-05-13 14:13] jgrandja commented on #6854
@ExpDev07 Are you aware that PKCE client support has already been added via #6485.

[2019-05-13 14:23] jgrandja commented on #6548
@ExpDev07 Please see #6485 as PKCE client support has already been implemented. I believe this is what you're looking for as PKCE is intended for **public clients**. This specific issue is focused around enabling PKCE for **confidential clients**, which is a specialized use case and it's still up for debate on whether this will be implemented.

[2019-05-13 14:37] jzheaux commented on #6544
@rwinch, you've also indirectly pointed out that the JWK Set URL construction is a builder, not a constructor, so there may also be some power in exposing this in a similar way (builder or factory, as you said) for consistency.

[2019-05-13 15:18] jzheaux commented on #6798
@sayembd how is this coming along? Do you have any questions?

[2019-05-13 15:28] rexave opened #6863 "Add OAuth2LoginSpec.authenticationSuccessHandler"
In imperative spring security configuration, we can customize the `successHandler` of an `oAuth2Login` configuration with
`org.springframework.security.config.annotation.web.configurers.AbstractAuthenticationFilterConfigurer#successHandler`

I didn't find this feature in reactive branch of spring security on `org.springframework.security.config.web.server.ServerHttpSecurity#oauth2Login`

### Versi

[2019-05-13 15:49] jgrandja commented on #6802
@rhamedy

Take a look at `WebSecurityConfigurerAdapter.getHttp()` and you will notice that `HttpSecurity.apply(new DefaultLoginPageConfigurer<>())` is called when defaults are enabled. So in common configurations, `DefaultLoginPageConfigurer` will be available so it can be configured by  `FormLoginConfigurer` and/or `OAuth2LoginConfigurer`.

My original suggestion on checking `DefaultLoginPageGene

[2019-05-13 15:59] eleftherias opened #6864 "Update to Spring 5.2.0.M2"
Update to Spring 5.2.0.M2

[2019-05-13 16:48] rwinch commented on #6856
Can you point me to where you are seeing these instructions? The inherited mode is generally only useful when a new Thread is created each time. Spring Security provides [Concurrency Support](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#concurrency) which ensures the context is cleared out appropriately.

[2019-05-13 16:51] rwinch commented on #3378
I think it would be useful if someone could put together a sample and detailed instructions on how to reproduce the originally reported issue in wildfly.

[2019-05-13 17:02] jzheaux opened #6865 "Add constructor to JwtAuthenticationToken that takes a principal name"
`OAuth2IntrospectionAuthenticationToken` takes a name as a constructor parameter and otherwise defaults to the token's SUB claim for the principal name.

`JwtAuthenticationToken`, on the other hand, provides no way to customize this.

It'd be nice to do the same for `JwtAuthenticationToken`:

[code]

This encourages composition over inheritance while also keeping the application from having to cre

[2019-05-13 17:10] jukkasi commented on #6856
By instructed I mean first 10 hits from Google, granted that none is "official" documentation.

I am aware of DelegatingSecurityContextRunnable but it leads to other issue I linked because same SecurityContext is still used, granted that sometimes it might be useful.

But like I said it works and should be used for any type of executor so it would be safer that INHERITABLETHREADLOCAL mode would no

[2019-05-13 17:18] ddevrien opened #6866 "OAuth2LoginAuthenticationFilter should set AuthenticationDetails"
### Summary

`OAuth2LoginAuthenticationFilter` is not setting a `WebAuthenticationDetails` on the `OAuth2AuthenticationToken` object that is returned. It does set a WebAuthenticationDetails on the authenticationRequest but this instance is lost later on.

 I'm doing some post-processing in a `AuthenticationSuccessHandler ` using a custom WebAuthenticationDetails which is currently only working for

[2019-05-13 17:19] sayembd commented on #6798
@jzheaux I was familiarising myself with the relevant part of the code base as I was totally unfamiliar with it, and also the way converters are plugged in via configuration. Apologies for the delay.

If I haven't misunderstood anything from my investigation (after studying the `DefaultClientCredentialsTokenResponseClient` and the `DefaultAuthorizationCodeTokenResponseClient`), then this is what I

[2019-05-13 17:52] eleftherias opened #6867 "Update to Reactor Dysprosium-M1"
Update to Reactor Dysprosium-M1

[2019-05-13 18:30] jzheaux commented on #6798
Correct on all points, @sayembd. Thanks for all your research.

Good question. It's not necessarily true that all implementations will be `RestOperations`-based, which is really the only circumstance where a setter like this would make sense. That makes `setRequestEntityConverter` an implementation detail that we don't want to expose in the interface.

[2019-05-13 18:37] ExpDev07 commented on #6854
@jgrandja Oh no, I did not see that. Any documentation on how to use it?

[2019-05-13 19:40] rwinch commented on #6857
Can you describe what you are trying to achieve that is not simple at this time?

[2019-05-13 19:42] #6859 closed

[2019-05-13 19:43] rwinch commented on #6859
Closed as duplicate of gh-5860

[2019-05-13 20:10] #6867 closed

[2019-05-13 20:13] ExpDev07 commented on #6854
@jgrandja I can't seem to find it. I am using: https://mvnrepository.com/artifact/org.springframework.security/spring-security-oauth2-client/5.1.5.RELEASE (latest) and it's not there? Must I use another version?

[2019-05-13 20:55] jgrandja commented on #6854
@ExpDev07 As indicated in #6485, it's been released in 5.2.0.M2.

You can find documentation in the reference:

[OAuth 2.0 Login](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2login)
[OAuth 2.0 Client](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2client)

**NOTE:** The PKCE parameters will automatically be added if the

[2019-05-13 20:55] #6854 closed

[2019-05-13 20:57] sayembd commented on #6798
Hi @jzheaux, thanks for your prompt reply! I've just opened a PR: #6870.

[2019-05-13 22:44] heyarny commented on #6840
Ok, I didn't know that. Still strange that this is happening on error pages only.

Your advice didn't work. It's still creating a different session.

[2019-05-13 23:48] jzheaux opened #6871 "Consider having ReactiveJwtDecoderFactory return a Mono"
The reactive interface for creating a `ReactiveJwtDecoder` from some context looks like:

[code]

This is used, for example, in `OidcAuthorizationCodeReactiveAuthenticationManager` to construct a `ReactiveJwtDecoder` based on `ClientRegistration`:

[code]

Since this action is performed at request time, an implementation that did a DB lookup to create the `ReactiveJwtDecoder` would be blocking.

T

[2019-05-14 03:10] Mr-Zhe opened #6872 "JdbcTokenRepositoryImpl createNewToken() why is the last_used field inserted 8 hours less than the system time"
### Summary

### Actual Behavior

### Expected Behavior

### Configuration

### Version 5.1.1.RELEASE

### Sample

[2019-05-14 03:14] Mr-Zhe commented on #6872
I don't have concurrency

[2019-05-14 08:57] #6872 closed

[2019-05-14 08:58] Mr-Zhe commented on #6872
My mysql time zone setting is incorrect

[2019-05-14 09:20] rexave opened #6873 "addFilterAt use a SecurityWebFiltersOrder converted to int instead of int"
### Summary

It is impossible to **add** a custom filter because it replace the default filter.

### Actual Behavior

in `org.springframework.security.config.web.server.ServerHttpSecurity#addFilterAt`

`.addFilterAt(myFilter, SecurityWebFiltersOrder.AUTHENTICATION)`
add the filter "somewhere around" `AuthenticationWebFilter` :)

### Expected Behavior

`.addFilterAt(myFilter, SecurityWebFiltersOrde

[2019-05-14 12:26] ExpDev07 commented on #6854
@jgrandja Per Snapchat Kit's definition, I must include client-secret and have PKCE flow (https://docs.snapchat.com/docs/login-kit#web). This would then not be possible with this milestone?

[2019-05-14 13:18] pthorson commented on #5465
Did this change include dynamically choosing the Algorithm? At ".well-known/openid-configuration" our auth server responds with multiple values:  "id_token_signing_alg_values_supported":["none","HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512"]. Of course the token header has a specific value but I'm not sure if a client would know this value ahead of time.

[2019-05-14 13:48] #6798 closed

[2019-05-14 13:53] jgrandja commented on #5465
No it doesn't include this change as we cannot randomly choose the algorithm given that `id_token_signing_alg_values_supported` can return more than one value. However, this can easily be implemented by inspecting the resolver input  `clientRegistration.getProviderDetails().getConfigurationMetadata()` for the `id_token_signing_alg_values_supported` key and determining which algorithm to return.

*

[2019-05-14 14:00] jgrandja commented on #6854
@ExpDev07

I cannot see the requirement for `client-secret` in the link you provided.

I only see

 Client ID from the developer portal

Can you provide the exact link and text where the `client-secret` with PKCE requirement is stated?

[2019-05-14 14:22] ExpDev07 commented on #6854
@jgrandja it’s states under “2.5 Exchange authorization code for refresh and access token” in that link I provided (you have to scroll down a bit).

[2019-05-14 14:40] #6226 closed

[2019-05-14 14:40] #6227 closed

[2019-05-14 14:40] rwinch commented on #6227
https://github.com/spring-io/backport-bot

[2019-05-14 14:45] #6864 closed

[2019-05-14 15:58] jgrandja commented on #6854
@ExpDev07 For public (PKCE) clients, the token endpoint request requires the [`code_verifier`](https://tools.ietf.org/html/rfc7636#page-10) parameter as well and there is no mention of it in the section you pointed out. The link you provided actually has no reference to PKCE either?

[2019-05-14 16:24] ExpDev07 commented on #6854
@jgrandja I know it doesn't make any reference to it, because Snapchat has decided not to document it. However, when you make requests without the PKCE parameters, you get "PKCE parameters are missing".

So is it any way for me to make the current Spring oauth2-client work with Snapchat authentication. It's really difficult to figure anything out due to the poor job Snapchat has done with document

[2019-05-14 17:50] eleftherias opened #6874 "Charter: Explore use of nested builders in DSL"
**Explore** how other spring projects are using nested builders in their DSL.
Specific examples can be found in Spring Cloud Gateway and Spring Integration.

**Outputs**:
- A configuration style that will suit Spring Security

[2019-05-14 17:56] eleftherias opened #6875 "Charter: Explore Spring Security DSL to find nested builder candidate"
**Explore** the methods used in the Spring Security DSL in order to find candidate that can be converted to use a nested builder pattern.

**Outputs**:
- A method in the Spring Security DSL that will be the first to be rewritten to support the nested builder pattern.

[2019-05-14 17:57] jzheaux commented on #6516
@vishalvrv9 Is this something that you'd still like to work on?

[2019-05-14 18:01] vishalvrv9 commented on #6516
Hey @jzheaux, Yeah definitely. Apologies lost track of it. Will try submitting a PR as soon as possible.

[2019-05-14 18:59] jgrandja commented on #6854
@ExpDev07 I'll try Snapchat on my end and see what I come up with. Give me a couple days though as I'm about to travel to a conference.

[2019-05-14 18:59] jzheaux opened #6876 "Polish Resource Server DSL Error Messaging"
It is possible to configure Resource Server like so:

[code]

However, this configuration doesn't make sense because `AuthenticationManagerResolver` supercedes any individually configured authentication mechanism.

We should error in this case since it's an invalid configuration. Specifically, if an `AuthenticationManagerResolver` is specified, then we should error if either `jwt` or `opaqueToken`

[2019-05-14 19:54] jzheaux commented on #6500
@rhamedy thanks for your patience while @rwinch and I did a bit more experimentation around this API and what it might grow into down the road.

Let's make a slight adjustment to the two contracts:

* `fromOidcIssuerLocation` - no changes, it will simply continue to hit the legacy OIDC endpoint
* `fromIssuerLocation` (note the name change) - a new method that will query all three endpoints, first

[2019-05-14 21:28] jzheaux opened #6877 "Charter: Explore Authorization Servers that support JWE"
**Explore** what JWE algorithms existing Authorization Servers support and what needs to be done to integrate OAuth 2.0 Clients and Resource Servers with them.

**Output**
* A list of at least two Authorization Servers from which to build sample clients and resource servers

[2019-05-14 22:12] jzheaux commented on #6634
There's been some discussion about the contract on #6748, and I'd like to update the ticket here with some changes to the original proposal found in the ticket's description.

It will likely be more flexible to separate `Jwt` configuration from any remaining authentication configuration, so let's do:

[code]

as already stated.

Let's also support:

* Providing claims:

[code]

* Providing headers

[2019-05-15 00:25] ch4mpy commented on #6857
I can't contribute test `MockMVC` request post-processor or `WebTestClient` extending something else (breaks existing patterns as all other security related `RequestPostProcessor`s extend `SecurityContextRequestPostProcessorSupport`).

Use case at the very bottom ofhttps://github.com/ch4mpy/spring-security/blob/gh-6634--jwt-reactive-flow/test/src/main/java/org/springframework/security/test/web/ser

[2019-05-15 14:58] rwinch opened #6879 "Create Hello RSocket Sample"
### Summary
The sample will be used to add security to afterwards

[2019-05-15 15:34] rwinch opened #6880 "Update Snapshot Builds to use Spring Framework 5.1.x"
### Summary
The 5.1.x code will only update patch versions of Spring Framework, so we should lock down the Snapshot tests to use the latest 5.1.x changes

[2019-05-15 15:36] #6880 closed

[2019-05-15 15:55] jzheaux commented on #4435
@salgmachine @svanschooten What is the authorization server you are using that issues encrypted JWTs? Or are you planning on rolling your own? (Note that this ticket is Resource Server-focused)

[2019-05-15 15:59] rwinch commented on #6552
Can you describe in more detail what you are trying to do (i.e. what is creating the session, if it is authentication how are you authenticating, etc) and why (i.e. why disable sessions)?

[2019-05-15 16:08] rwinch commented on #6862
`DemoConfig` and `DevWebSecurityConfig` are different slices of the application and only the first slice that matches will be executed. This means that for the first configuration `DemoConfig` is being used for the request which does not have cors enabled. One way to fix it is to enable cors in the `DemoConfig`. Another is to add a `@Profile` to `DemoConfig` so it is disabled if the developer prof

[2019-05-15 16:08] #6862 closed

[2019-05-15 16:15] salgmachine commented on #4435
@jzheaux
For the PoC I just used a spring oauth2 auth server with a custom JwtAccessTokenConverter (I think .. been some time since I did this)
I'm not planning to use this in production, was really more of a "what would it take" kind of thing,
I'd rather delegate this stuff to the framework when it becomes available :)

[2019-05-15 17:50] Xarvalus commented on #6552
@rwinch you have detailed information on the request from @tine2k comment & from mentioned SO question link

Common scenario in Spring is to disable session creation with `SessionCreationPolicy.STATELESS` when the app is using JWT.

We would love to see that possibility in Spring Webflux too, without unnecessary workarounds.

[2019-05-15 18:21] beuvenar opened #6881 "Add support for OAuth 2.0 Client authentication methods"
Currently, Spring Security only supports basic and post authentication methods between client and authorization server. Would it be possible to add other support for other OpenID authentication methods in a future version of Spring Security, in particular client_secret_jwt and private_key_jwt (see https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication)?

Related #8175

[2019-05-15 19:13] rwinch commented on #6863
This sounds like a reasonable enhancement request. Would you be interested in submitting a Pull Request?

As you mentioned you can work around this using `addFilterAt`. See https://github.com/spring-projects/spring-security/blob/e7f93f221d4b828d336627f5147a3edd02a8c28d/config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java#L814 for what needs to be done

[2019-05-15 19:18] rwinch commented on #6856
If you do not inject a `SecurityContext`, then the current context is used automatically. This means it is not the same `SecurityContext`. For that reason, I'm not sure I understand your concern about using the concurrency support. Can you please expand on why it will not work for you?

[2019-05-15 19:20] rwinch commented on #6866
Thanks for reaching out @ddevrien! Would you be interested in submitting a Pull Request for this?

[2019-05-15 19:34] rwinch commented on #6840
Please produce a sample that reproduces the issue.

[2019-05-15 19:42] rwinch commented on #6871
Another way to achieve this is to create a delegating `ReactiveJwtDecoder` which would do any blocking operations within its decode method.

[2019-05-15 19:42] eleftherias commented on #6874
**Results**

A Configuration that currently looks like
[code]
using nested builders would looks like
[code]
This can use the `java.util.function.Consumer` interface similar to:
- Spring Integreation's [IntegrationFlows](https://github.com/spring-projects/spring-integration-java-dsl/blob/20be49d062c473e7e9c0a78e6148587458803d05/src/main/java/org/springframework/integration/dsl/IntegrationFlows.java

[2019-05-15 19:42] #6874 closed

[2019-05-15 20:02] rwinch commented on #6873
Thanks for the report! Support for `addFilterBefore` and `addFilterAfter` was added in gh-6138

[2019-05-15 20:02] #6873 closed

[2019-05-15 20:15] rwinch opened #6882 "Consider reverting "Add custom parameters to token introspection requests""
### Summary

If a request needs modified it can be done by injecting a `RestTemplate` that has a `ClientHttpRequestInterceptor` that modifies the request before passing it to the `ClientHttpRequestExecution`.

[2019-05-15 20:20] rwinch opened #6883 "Jwt decoding should support multiple algorithms"
### Summary

We should add a strategy where Jwt decoders can delegate to other Jwt decoders based upon the algorithm that is in the JWT that was passed into it. This would allow supporting multiple algorithms returned by an IdP as discussed in https://github.com/spring-projects/spring-security/issues/5465#issuecomment-492233620

A possible way to do this would be to have a `JwtDecoder` implementat

[2019-05-15 20:22] rwinch commented on #5465
@pthorson @jgrandja I think it would be nice if we could support multiple algorithms. I created gh-6883 to allow supporting any of the algorithms returned by the IdP

[2019-05-15 20:33] ddevrien commented on #6866
PR made: https://github.com/spring-projects/spring-security/pull/6884
I'm not really familiar with Github and I wasn't sure how to reference a PR to this issue 😃

[2019-05-15 22:52] heyarny commented on #6840
I tried to create a small sample application, but it's working fine there.
Something, probably some dependency or hell knows what is causing spring-boot to force to configure sessions.

I've removed a lot of stuff from my application, switched to tomcat, enabled debugging, disabled session auto-configuration (I guess?), even set to not use sessions at all! But yet, it still creates sessions.

[cod

[2019-05-16 00:08] heyarny commented on #6840
Ok, I think I'm close to the issue.

As soon I'm using JSP, the session configuration is ignored. The embedded servlet just creates an session.

[2019-05-16 00:48] heyarny commented on #6840
There you go:
https://github.com/heyarny/spring-security-session-bug

So there are following issues:
1. if you request "/" which is a RestController: session settings are applied as set
2. if you request "/doesntexist" then DefaultErrorController executed with JSP: session settings are ignored, embedded servlet is always creating its own session (and overwriting an existing, if available)
3. if yo

[2019-05-16 03:23] JokerSun commented on #6862
@rwinch Thanks for your reply, I have split my configuration into 'dev' and 'prod' already, that works well.

[2019-05-16 07:49] svanschooten commented on #4435
@jgrandja, @jzheaux We are using Ping Federate for our authentication federation, creating a singular token for multiple login types such as EHerkenning (Dutch login method based on your bsn/ssn for government linked companies), Azure AD and a local database.

The resource server has to either:
A) Be able to serve a JWKS so the AS can get the public key and encrypt, so the RS can decrypt
B) Be abl

[2019-05-16 09:31] jukkasi commented on #6856
I'm not sure what you mean by injecting SecurityContext.

What I'm trying to say in this issue is that when MODE_INHERITABLETHREADLOCAL is used along with thread pool executor, which is created by default for example by Spring Boot autoconfiguration, and which is not wrapped by DelegatingSecurityContextExecutor, you get a very serious problem where tasks are executed possibly by using a wrong secu

[2019-05-16 10:39] zeratul021 commented on #6239
@rwinch has there been any discussion or triaging done between you guys?
Thanks for the update!

[2019-05-16 12:49] steve-todorov commented on #6506
@rwinch ping, are there any updates on this? :)

[2019-05-16 16:16] eleftherias commented on #6875
**Results**

`httpBasic()` using the `HttpBasicConfigurer` can be the first method to be rewritten using nested builders.
A configuration that is currently written in the following way
[code]
will be equivalent to
[code]

[2019-05-16 18:31] #6875 closed

[2019-05-16 19:12] eleftherias opened #6885 "Allow http basic auth to be configured using nested builder"
Support nested builder
------
Currently HTTP basic authentication can be configured in the following way.
[code]

We should allow configuration using a nested builder, as follows.
[code]
The remaining methods should also be available in the nested builder, `authenticationEntryPoint`, `authenticationDetailsSource`.

Remove need for `and()`
------
Any subsequent configurations to HttpSecurity will *

[2019-05-16 21:07] mkheck commented on #4442
Hey @jgrandja, I'll take this one on.

[2019-05-16 23:52] HaydenMeloche commented on #6865
I'd like to submit a PR for this issue. Taking a look at `JwtAuthenticationToken` it doesn't currently have a `name` value like `JwtAuthenticationToken` does. I also noticed that currently `getName` returns the tokens subject. Should I be creating a new name variable or setting something somewhere else?

Sorry if silly question, first time around here :)

[2019-05-17 00:21] rhamedy commented on #6802
Make sense. I will give it some more thoughts in the coming days and will update here.

[2019-05-17 01:42] ch4mpy commented on #6634
In addition to what was written above by @jzheaux (and knowing following are points we do not agree on):

Regarding the `JwtAuthenticationToken.Builder`, but this applies to any OAuth2 authentication builders (being a MockMvc request post processor, WebTestClient configurer or annotation SecurityContextFactory delegate) contract:
1. I think it would be strange for a builder to have immutable value

[2019-05-17 04:15] ieugen commented on #6491
I've also encountered this issue while configuring a custom expression evaluator.

[2019-05-17 04:18] rhamedy commented on #6865
@HaydenMeloche if I understand correctly, you will be mimicking the `OAuth2IntrospectionAuthenticationToken` by adding `name` and introducing the suggested `constructor`.

As far the `getName` question, if you look at  `OAuth2IntrospectionAuthenticationToken` constructor the line `this.name = name == null ? (String) attributes.get(SUBJECT) : name;` does the trick of either setting the provided nam

[2019-05-17 08:17] furti opened #6886 "OpenID Connect Userinfo not fetched for custom claims"
### Summary

@jgrandja
We have a Problem retrieving the Userinfo data for our custom Identity Provider that implements OpenID Connect.
I stumbled accross https://github.com/spring-projects/spring-security/issues/4451 and can totally understand why you made the retrieval of the userinfo optional.

But as far as I understand the specification, one can define custom claims https://openid.net/specs/op

[2019-05-17 10:19] ch4mpy commented on #6857
@rwinch, I won't be able any longer to execute changes you would request. When opening this ticket,  I thought a week would have been enough to solve it. I now have to go at sea, with almost no Internet connection for the coming two month, sorry. I hope I managed to give modification rights to Spring team.

Please note there are two commits on this branch:
* first removes all dependencies from req

[2019-05-17 10:37] ch4mpy commented on #6557
If anybody gets there some day, it's now faster to start from https://github.com/ch4mpy/spring-addons/tree/master/spring-security-test-oauth2-addons. It contains flow APIs for Introspection and OidcId authentications in addition to Jwt one. It also exposes annotations for all 3.

Only branch with flow APIs for Jwt was updated with reviews and diverged a lot from others.

[2019-05-17 13:40] veskop86 commented on #4557
Here is one more request :)

[2019-05-17 13:52] veskop86 commented on #5666
IMHO first DSL is more precise, especially in part related to userInfoEndpoint()

[2019-05-17 14:01] dfcoffin commented on #6733
@jzheaux Is there a timeline for when 5.3 is planned for release?  I have a legacy open source system built with Spring-Security-OAuth that requires support for both an Authorization and Resource Server capability in the same application.  I',m planning to migrate to Spring Security 5, but lack of Authorization Server support is a blocking condition.

[2019-05-17 15:50] #3337 closed

[2019-05-17 16:13] rwinch commented on #6552
WebFlux works differently that the imperative equivalent. This means that JWT does not create a session on authentication by default.

[2019-05-17 16:15] rwinch commented on #6881
Thanks for the report @beuvenar! @jgrandja will take a look at this issue soon

[2019-05-17 16:31] Xarvalus commented on #6552
According to OP of the SO question [linkebon ~ Disable WebSession creation when using spring-security with spring-webflux](https://stackoverflow.com/q/56056404) it seems to not be disabled by default. Feel free to post your solution up there.

[2019-05-17 18:19] rhamedy commented on #6500
Hi @jzheaux I will look into what you are suggesting and come back if I have any questions. If the order `should try OIDC and then legacy OIDC in order to adhere to RFC 8414` didn't matter then we could make `fromOidcIssuerLocation` call `fromIssuerLocation` since `fromIssuerLocation` is going to be doing that job anyway but, if order is important then I suppose the changes you are proposing is fa

[2019-05-17 20:06] rwinch commented on #6840
Thanks for the sample.

It is hard to understand what you mean by "session settings are ignored". Can you please provide complete directions on how to reproduce the problem, what you expect to happen (and why), and what actually happens?

[2019-05-17 20:15] rwinch commented on #6856
Yes you should not use `MODE_INHERITABLETHREADLOCAL` in a pooled environment. If you do that, you have a misconfiguration and there isn't much we can do.

Logging out is not going to cancel any tasks that are running in the background. You will have issues with this regardless, because most likely the task is going to get the `SecurityContext` and store it in a variable which we won't have access

[2019-05-17 20:17] rwinch commented on #6239
Thanks for the nudge @zeratul021! Is this something you could provide a PR for?

[2019-05-17 20:20] heyarny commented on #6840
As I've already wrote.
The settings/config is:

[code]

Run the example.
1. Send request to root "/" => No session is created (works as intended via config)
2. Send request to 404 "/doesntexist" => Session is created by the embedded server, not spring!
3. Send request to "/jsp" => Session is created as configured via properties/config (redis), but they shouldn't as it clearly says "SessionCreation

[2019-05-17 20:49] rwinch commented on #6506
Thanks for the ping everyone.

I'm ok with this happening. However, we need to first decide on a design. I'd take a look at how the reactive bits work and model after that.

[2019-05-17 20:55] rwinch commented on #6885
To keep things simple I'd say we should hold off on `httpBasic(HttpBasicConfigurer::disable)` since users will be able to do `httpBasic(httpBasicConfig -> httpBasicConfig.disable())`.

[2019-05-17 21:01] rwinch commented on #6491
Note: We are still waiting on a complete sample to reproduce the problem.

[2019-05-17 21:11] rwinch commented on #6840
Thank you for explaining. You are actually describing two different things.

The Spring Security configuration only impacts Spring Security's usage of sessions for authentication. This session is created because JSPs will create a session by default. To disable it, you need to add this to the JSP:

[code]

This appears to be a bug within Spring Session. I'm going to transfer this issue to Spring S

[2019-05-17 21:15] eleftherias commented on #6885
@rwinch I believe those are equivalent (assuming that we continue to use the `HttpBasicConfigurer`). The IDE will actually prompt you to replace the lambda with the method reference.

[2019-05-17 21:17] spring-issuemaster commented on #3406
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3406 closed

[2019-05-17 21:17] spring-issuemaster commented on #3375
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3375 closed

[2019-05-17 21:17] spring-issuemaster commented on #3363
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3363 closed

[2019-05-17 21:17] spring-issuemaster commented on #3286
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3286 closed

[2019-05-17 21:17] spring-issuemaster commented on #3274
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3274 closed

[2019-05-17 21:17] spring-issuemaster commented on #3224
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3224 closed

[2019-05-17 21:17] spring-issuemaster commented on #3169
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3169 closed

[2019-05-17 21:17] spring-issuemaster commented on #3161
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3161 closed

[2019-05-17 21:17] spring-issuemaster commented on #3127
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3127 closed

[2019-05-17 21:17] spring-issuemaster commented on #3062
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3062 closed

[2019-05-17 21:17] spring-issuemaster commented on #3029
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3029 closed

[2019-05-17 21:17] spring-issuemaster commented on #3025
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #3025 closed

[2019-05-17 21:17] spring-issuemaster commented on #2962
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:17] #2962 closed

[2019-05-17 21:18] spring-issuemaster commented on #2904
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:18] #2904 closed

[2019-05-17 21:18] spring-issuemaster commented on #2761
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:18] #2761 closed

[2019-05-17 21:18] spring-issuemaster commented on #2640
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:18] #2640 closed

[2019-05-17 21:18] spring-issuemaster commented on #2635
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:18] #2635 closed

[2019-05-17 21:18] spring-issuemaster commented on #2628
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:18] #2628 closed

[2019-05-17 21:18] spring-issuemaster commented on #2604
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:18] #2604 closed

[2019-05-17 21:22] spring-issuemaster commented on #3322
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:22] #3322 closed

[2019-05-17 21:22] spring-issuemaster commented on #3212
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-17 21:22] #3212 closed

[2019-05-17 23:21] SparkMonkey commented on #6491
What do you mean by a complete sample ? You mean an entire project ? How ?

I can do it. It's just an empty spring boot 2.1.4 project, with spring security and the code in previous comments.

[2019-05-18 01:39] carlspring commented on #6506
@rwinch :

Would you mind elaborating on what you mean by that? Are you looking for some diagrams and flow charts, or what? Or, do you need to go over the code again?

[2019-05-18 05:32] jgrandja commented on #6881
@beuvenar We definitely plan on adding support for other client authentication methods at some point and based on user demand. I'm not sure it will get into the next release 5.2 though. Is there a reason you are requested for `client_secret_jwt` and `private_key_jwt`? Do you require this? Which provider are you using that supports these authn methods?

[2019-05-18 05:50] jgrandja commented on #4435
@svanschooten

Yes this makes sense. This is an interesting use case and we would like to learn more. Quite honestly, we've been struggling finding use cases for JWE. From our initial research so far, it doesn't seem to be widely used so we're debating on bringing in this support for 5.2 until it's more widely adopted as JWS is.

Can you point us to  the PingFederate docs or any other references t

[2019-05-18 06:05] jgrandja commented on #6882
@rwinch Yes, `ClientHttpRequestInterceptor` is another option but why can't we have a `RequestEntity` `Converter` as another option? Both these configuration options are currently available in:

[code]

I think consistency makes sense here.

[2019-05-18 21:26] jjstreet opened #6888 "UnAuthenticatedServerOAuth2AuthorizedClientRepository cannot be used within running request handlers"
### Summary
`UnAuthenticatedServerOAuth2AuthorizedClientRepository` throws an assertion failure because `ServerWebExchange` is not null when trying to use a client_credential protected resource during a web request. The associated `OAuth2AuthorizedClientResolver` ends up grabbing and providing the current ServerWebExchange from the current context.

### Actual Behavior

I attempted to use an `UnAu

[2019-05-18 22:56] zeratul021 commented on #6239
Yeah, I'll have a look.

On Fri, May 17, 2019, 22:17 Rob Winch <notifications@github.com> wrote:

[2019-05-20 02:47] wangzw opened #6890 "OAuth2Login should process authenticated requests"
Use case:

We have a system A use OAuth2Login to implement user login(Code flow). And another system B works as OAuth2 provider.

Step 1: A supervisor login system A. Everything works well.
Step 2: Supervisor close browser without logout. System A session is still available.
Step 3: A non-privilege user login system B to do something, Everything works well. Session of system B is reset to non-priv

[2019-05-20 06:36] voliveira89 commented on #5188
Any update on this?

[2019-05-20 07:49] svanschooten commented on #4435
@jgrandja I agree, most of the webtoken standard is defined to have easily inspectable tokens containing non-private information. But since we are dealing with some quasi-sensitive information (such as a ssn/bsn pseudonym)  we do not want to minimize the information leakage. Adoption is very sparse, since most secure platforms roll their own secure data channel (either encrypted in a token or thro

[2019-05-20 13:51] AdedayoA opened #6891 "Spring Security Pooling & Re-Try"
### Summary
We are trying to implement LDAP with extra configurations using the DefaultSpringSecurityContextSource class. As one of our security guidelines, re-trying is a property that must be implemented, but in contextSource there is no method that allows this. Does Spring Boot automatically have some sort of re-trying built in with pooling?

### Actual Behavior
After starting up Spring Boot, L

[2019-05-20 14:05] jzheaux commented on #6634
Your contribution is much appreciated, we certainly wouldn't have `jwt` test support without it, and you deserve the credit for that. I'll consult with the team to see what is the right maneuver here.

[2019-05-20 14:24] jzheaux commented on #6865
@HaydenMeloche welcome! Yes, @rhamedy's analysis is correct, and yes, it'd be great to see a PR from you.

[2019-05-20 16:23] jzheaux commented on #6882
I see @rwinch's point here that the application could simply add parameters in an interceptor, but the API seems rather cumbersome since the body is a serialized byte array:

[code]

Whereas with a converter, we get:

[code]

It's not clear to me how the former is more effective than the latter since, with the former, I have to add the extra (de)serialization boilerplate.

I think an interceptor m

[2019-05-20 16:52] spring-issuemaster commented on #3378
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-20 18:55] rwinch commented on #6857
I'm closing this as invalid because user's can easily delegate to the existing public APIs to achieve the same things. For example:

[code]

[2019-05-20 18:55] #6857 closed

[2019-05-20 18:56] jzheaux opened #6892 "Add null checks to constructors"
Related to #6542

`RequestKey`, `JaasGrantedAuthority`, and `SwitchUserGrantedAuthority` each anticipate certain `final` members will be non-null without requiring such in the constructor.

For example, `RequestKey` does the following in `equals`:

[code]

Where `url` is a member variable. But, the constructor does nothing to ensure this behavior will actually work:

[code]

For `RequestKey`, we s

[2019-05-20 19:12] rwinch commented on #4557
Please just use :+1: on the first comment (issue description) to indicate votes. It makes it much easier for us to add that up than counting comments. Thanks :)

[2019-05-20 21:07] rwinch commented on #6552
Can you please provide a sample that reproduces the issue?

[2019-05-20 21:10] rwinch commented on #6885
Oops. My mistake. You are right :)

[2019-05-20 21:13] rwinch commented on #6491
Thanks that would be very much appreciated.

NOTE: While it seems trivial to ask for the Spring Security team to create the sample, it is important to remember that all the little things we do adds up. FOr this reason, we prioritize issues that have complete samples.

[2019-05-20 21:17] rwinch commented on #6506
Thanks for reaching out @carlspring! I'd first call dibs on the work (so that others aren't duplicating efforts). I'd then look at how `AuthenticationWebFilter` looks and provide an outline (just method signatures) that looks similar as a proposal.

[2019-05-20 21:18] rwinch commented on #6888
Thanks for the report @jjstreet! @jgrandja will look at this soon

[2019-05-20 21:25] jjstreet commented on #6888
I can see a need for client_credential protected resources to be accessible both during and outside of a user request. To keep my complexity low, Id like to reuse WebClient instances, especially if they are wrapped by a business-oriented class. Therefore, I think being able to use this repository in both cases is beneficial. Especially since the other implementations of `ServerOAuth2AuthorizedClie

[2019-05-20 21:26] rwinch commented on #6890
Thanks @wangzw! @jgrandja will take a look soon

[2019-05-21 18:51] carlspring commented on #6506
@rwinch ,

Have you had a chance to look at the pull request @sbespalov submitted for this? Do you mean to say that you'll be re-implementing this, or what...? Would you mind outlining your plan, so that we could see how we can help improve the proposed pull request, if necessary?

[2019-05-21 20:11] rwinch commented on #5188
Unfortunately there are no updates. It is likely something that would be in 5.3.x

[2019-05-21 20:15] rwinch commented on #6891
This appears to be a better question for Stack Overflow. You will find it is answered already https://stackoverflow.com/questions/37661729/ldap-connection-pooling-with-spring-security If you have follow ups, please ask on Stack Overflow.

[2019-05-21 20:15] #6891 closed

[2019-05-21 20:25] rwinch commented on #6882
Thanks @jzheaux Closing as I agree with your analysis

[2019-05-21 20:25] #6882 closed

[2019-05-21 20:48] rwinch commented on #6506
My comment was confusing. Sorry for the misunderstanding.

First, I did have time to look at the PR. The [feedback I provided](https://github.com/spring-projects/spring-security/pull/6496#issuecomment-460420948) still stands.

The security team doesn't currently have time for this issue. So if you would like to contribute it please use the following steps:

* If you want to work on it call dibs on

[2019-05-22 06:44] liptga opened #6894 "WebSecurityConfiguration NullPointerException when ObjectPostProcessor is not present"
### Summary
`org.springframework.security.config.annotation.web.configuration.WebSecurityConfiguration.objectObjectPostProcessor `field is marked as not required. When it is not present, the method `springSecurityFilterChain` throws a `NullPointerException`

### Actual Behavior
If there are `webSecurityConfigurers`, and there is no `objectObjectPostProcessor` org.springframework.security.config.an

[2019-05-22 10:20] beuvenar commented on #6881
@jgrandja We are currently using Srping Security to implement an integration with OIDC provider of EU Login (formerly ECAS), the authentication service of European Commission. They recommend to use client_secret_jwt or private_key_jwt as authentication methods (but they also support basic method so we are not blocked).

[2019-05-22 10:25] beuvenar commented on #6548
@jgrandja We need to interact with a provider that requires PKCE for confidential clients. Note that it is recommended by specifications to use PKCE even for confidential clients (see note in section 3.1.1 of https://tools.ietf.org/html/draft-ietf-oauth-security-topics-12#section-3.1.1)so I think this should be supported by Spring Security.

[2019-05-22 14:26] rwinch commented on #6894
While I think it is good to avoid the `NullPointerException`, I think the crux of this problem is you are somehow getting a null `ObjectPostProcessor`. Can you please put together a sample that demonstrates this happening?

[2019-05-22 15:28] liptga commented on #6894
The test context may be completely wrong configured, still the following test throws the NPE in my project:

[code]

[2019-05-22 15:59] jzheaux commented on #6500
@rhamedy I suppose you could look at a private method that takes a list of URIs and hits them in sequence. Then `fromOidcIssuerLocation` could call that with just one URI.

As I've played around with the Nimbus API, I found it a bit easier to just use `AuthorizationServerMetadata` directly, and then extract the `user_info_endpoint` property directly from the map, similarly to how `JwtDecoders` doe

[2019-05-22 19:10] clementkng commented on #6892
Hi @jzheaux, is this issue open for contribution? If so, I would like to try working on this since I'm interested in learning more about this project.

[2019-05-22 20:52] #6634 closed

[2019-05-22 20:52] #6851 closed

[2019-05-22 21:10] jzheaux opened #6896 "Mock Jwt Support should accept a fully-configured Jwt"
A tester can configure a mock request with a `Jwt` like so:

[code]

Or like so:

[code]

It'd be nice to also accept a fully-configured `Jwt`:

[code]

Both on the servlet side as well as the reactive side:

[code]

[2019-05-22 22:02] orochies opened #6897 "Cache in DelegatingMethodSecurityMetadataSource"
### Summary

How can I delete a key from the internal cache in DelegatingMethodSecurityMetadataSource?

Another option to use another delegate?

I need to update the ConfigAttributes on runtime, but the DelegatingMethodSecurityMetadataSource cache does not allow me to do it, thanks.

### Actual Behavior

The cache can not be accessed to delete.

### Expected Behavior

Allow delete cache or a key f

[2019-05-22 22:31] sandmannn commented on #6896
Hi, I would like to pick this up

[2019-05-22 22:56] jzheaux commented on #6896
Thanks, @sandmannn! It's yours.

[2019-05-22 22:57] jzheaux commented on #6892
Yes, @clementkng, it certainly is. Thanks for your interest! The ticket is yours.

[2019-05-22 22:58] dfcoffin commented on #6892
@jzheaux is there a list of which class constructors and values should be verified as containing non-null values?

[2019-05-22 23:04] jzheaux commented on #6892
Thanks for the question, @dfcoffin:

`RequestKey` -> `url`
`JaasGrantedAuthority` -> `role`, `principal`
`SwitchUserGrantedAuthority` -> `role`, `source`

[2019-05-23 08:51] FrontierPsychiatrist opened #6899 "spring-security-test: @AliasFor for meta-annotation attributes does not work with @WithMockUser"
### Summary

I would like to create a meta annotation for `@WithMockUser` from Spring Security Test that uses `@AliasFor` to set the username, but the aliased attribute does not work.

### Actual Behavior

I created the following annotation. The goal is to have an annotation that has a role preset but still allows switching the username.

[code]

But when using this in a test like

[code]

the use

[2019-05-23 18:30] ExpDev07 commented on #6548
^

[2019-05-23 23:37] HaydenMeloche commented on #6865
I believe this issue can be closed now.
https://github.com/spring-projects/spring-security/pull/6893

[2019-05-24 05:39] jzheaux commented on #6865
Closed via https://github.com/spring-projects/spring-security/commit/f84ab3a2558d5258d99e169725c87c9ee37cd020

[2019-05-24 05:39] #6865 closed

[2019-05-24 13:23] eleftherias opened #6902 "Migrate LogoutConfigurerTests from groovy to java"

[2019-05-24 13:26] #6902 closed

[2019-05-24 13:26] eleftherias commented on #6902
Issue moved to [spring-projects/spring-security-team-tasks #5](https://github.com/spring-projects/spring-security-team-tasks/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-24 14:38] sdoxsee commented on #6548
@beuvenar and @ExpDev07 I'm interested in working on this but I'm still quite busy at the moment. If either of you need this urgently and are able to work on it, I'd be happy to pass this off to you. Our thoughts to date on how to implement this are part of this issue. I'm sure @jgrandja would be happy to provide feedback on any additional ideas you may have. Otherwise and in the mean time, feel f

[2019-05-24 16:51] clementkng commented on #6892
@jzheaux the integration test seems to be failing for me locally even though I am running `./gradlew clean build integrationTest` on master with no changes. I'm not sure if this OK behavior, and whether we're supposed to run the above command or `./gradlew build` suffices for testing.

[2019-05-24 17:15] jzheaux commented on #6892
What is the error you're seeing? Note that `integrationTest` on the full suite fails for JDK 11 on some of the samples.

[2019-05-24 18:06] clementkng commented on #6892
I'm currently running the project on the Windows Subsystem for Linux using JDK 10. Just wanted to make sure it's unexpected behavior before diving in. I'm getting a selenium.NoSuchElementException and a junit.ComparisonFailure.

![image](https://user-images.githubusercontent.com/24197092/58347816-b2c14600-7e13-11e9-8c80-58cd4a8dafe9.png)

[2019-05-24 19:54] eleftherias opened #6903 "Logout URL does not support "OPTIONS" request"
### Summary
When making an "OPTIONS" request to the logout URL (default `/logout`) the response is a `404 Not Found`.
Based on the following test, it should return a `200 OK`.
https://github.com/spring-projects/spring-security/blob/af3c6d49728fc3b2270a07ce09827fb1e4890c6d/config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/LogoutConfigurerTests.groovy#L106
However

[2019-05-24 20:16] spring-issuemaster commented on #6856
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-25 18:09] vishalvrv9 commented on #6516
@jzheaux have submitted PR #6904

[2019-05-26 09:53] taijitdf commented on #6824
OK.thank you very much!

[2019-05-27 14:43] ELIASIVANCARRILLO opened #6905 "Firebase Authentication oauth2login"
Hi all

Is it possible to implement Firebase based authentication using Oauth2Login with Spring boot 2.1?? I want to implement social login with Google, Facebook and TW, all of these through Firebase authentication.

Thanks

[2019-05-27 16:51] spring-issuemaster commented on #3378
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-27 16:51] #3378 closed

[2019-05-27 20:27] Daimanta opened #6907 "Salt of specific length throws StringIndexOutOfBoundsException in BcryptPasswordEncoder"
### Summary

When executing the function `public static String hashpw(byte passwordb[], String salt)` in BCrypt.java and entering a salt of exactly length 28, the line `real_salt = salt.substring(off + 3, off + 25);` throws an StringIndexOutOfBoundsException in some cases. This only occurs when the salt is length 2 as a salt of lesser length gets rejected while salts of greater length do not get t

[2019-05-27 21:11] spring-issuemaster commented on #6552
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-27 21:16] spring-issuemaster commented on #6491
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-28 02:04] #6824 closed

[2019-05-28 06:32] Allurx opened #6908 "AccessDeniedHandler and AuthenticationEntryPoint does not work Because of the global exception handler"
### Summary

AccessDeniedHandler and AuthenticationEntryPoint do not work because the global exception handler is defined

### Actual Behavior
When the request has an AuthenticationException or an AccessDeniedException, it does not enter my custom AccessDeniedHandler and AuthenticationEntryPoint.

1、Access to protected resources
2、Console prints AccessDeniedException,it does not enter my custom Ac

[2019-05-28 09:02] TheFonz2017 opened #6909 "NimbusJwtDecoderJwkSupport shoudl offer method to get OAuth2TokenValidator"
### Summary
`NimbusJwtDecoderJwkSupport` is the underlying implementation for Spring Security `JwtDecoder`.

`NimbusJwtDecoderJwkSupport` provides a method to `setJwtValidator(OAuth2TokenValidator<Jwt>)`, but it does not have a method to retrieve the set validator(s).

`NimbusJwtDecoderJwkSupport` is used to auto-configure a `JwtDecoder` bean in `OAuth2ResourceServerJwkConfiguration` and its insta

[2019-05-28 09:12] spring-issuemaster commented on #5541
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-28 09:48] heruan opened #6910 "An invalid remember-me cookie should throw a RememberMeAuthenticationException"
### Summary

If an invalid remember-me token is provided by a counterfeit cookie, an `IllegalArgumentException` is thrown:

[code]
### Expected Behavior

A `RememberMeAuthenticationException` is thrown.

### Version

`spring-security-web-5.1.5.RELEASE.jar:5.1.5.RELEASE`

[2019-05-28 10:42] aaronjwhiteside opened #6911 "WebClientReactiveClientCredentialsTokenResponseClient should not set Authorization header when ClientAuthenticationMethod.POST"
### Summary

`WebClientReactiveClientCredentialsTokenResponseClient` always sets an `Authorization` header for basic auth even if the `ClientAuthenticationMethod` is `POST`.

### Actual Behavior
[code]

Results in a request being made to the `tokenUri` with `Basic XXXX` in the `Authorization` header.

### Expected Behavior

There should be no `Authorization` header set at all, the client id and cl

[2019-05-28 11:19] aaronjwhiteside opened #6912 "OAuth2AuthorizedClientResolver discards any refresh_token in clientCredentialsResponse()"
### Summary

`OAuth2AuthorizedClientResolver` discards any `refresh_token` in `clientCredentialsResponse()`

The spec states that

https://tools.ietf.org/html/rfc6749#section-4.4.3

Which means it's possible but not recommend to send a `refresh_token` for the Client Credentials Grant type.

   there may exist valid reasons in particular circumstances when the
   particular behavior is acceptable o

[2019-05-28 11:34] aaronjwhiteside opened #6913 "ServerOAuth2AuthorizedClientExchangeFilterFunction does not deal with expired client_credentials tokens"
### Summary

`ServerOAuth2AuthorizedClientExchangeFilterFunction` does not deal with expired `client_credentials` tokens

### Actual Behavior

Tokens obtained via

[code]

And have expired are not refreshed or re-requested.

This causes the filter to make requests to resources with expired tokens, indefinitely.

Obviously those requests fail..

### Expected Behavior

It is possible but not recomme

[2019-05-28 22:39] jzheaux commented on #6733
@dfcoffin Thanks for asking. No, 5.3 has not been slated yet; I'd imagine it would be some time mid next year.

[2019-05-28 23:19] alwaysastudent commented on #5201
Is this coming ?

[2019-05-29 04:50] clementkng commented on #6892
@jzheaux I've created a PR for the issue [here](https://github.com/spring-projects/spring-security/pull/6915)

[2019-05-29 09:23] ublanquet-concord opened #6917 "BCrypt passwordEncoder rely on toString()"
Security guidelines recommend you don't use strings for sensitive data like password, but the current BCrypt implementation rely on it.

http://docs.oracle.com/javase/6/docs/technotes/guides/security/crypto/CryptoSpec.html#PBEEx

[2019-05-29 10:01] florian42 commented on #6829
Submitted PR for review: https://github.com/spring-projects/spring-security/pull/6918

[2019-05-29 12:33] asaikali commented on #6020
It would be great if the client adapters can be generalized in such a way that it is possible to package them in a .jar and have them be found automatically by spring security. I am thinking of a user experience similar to Spring Boot [`@ConfigurationProperties`](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-typesafe

[2019-05-29 12:40] dnl50 commented on #6790
There seems to be an issue with gradle not properly resolving the `net.bytebuddy:byte-buddy` dependency of Mockito when updating to version `2.27.0`. The following exception occurs when running JUnit Tests using the `MockitoJUnitRunner` when initializing the mocks:

[code]

Updating the dependency of Byte Buddy to version `1.9.10`, which is the required version of Mockito `2.27.0`, explicitly, see

[2019-05-29 14:42] #6829 closed

[2019-05-29 16:16] jzheaux commented on #6910
@heruan I think it would be better to throw `InvalidCookieException` since that is what is thrown in other malformed circumstances in the method.

Would you like to submit a PR for this?

[2019-05-29 16:55] heruan commented on #6910
Sure! Currently, the only exception which is caught is `UnsupportedEncodingException` and it's just logged. I'd generalize the type to be just `Exception` or add `InvalidArgumentException` to the existing catch clause, so that the invalid part is skipped; then, it's the caller responsibility to check the length of the returned array to be compliant and throw otherwise, e.g. in
https://github.com/s

[2019-05-29 22:32] jzheaux commented on #6896
@sandmannn how are things coming? Do you have any questions?

[2019-05-30 19:38] hauntingEcho opened #6922 "nothing logged when OAuth2 connection fails"
### Summary
No message is logged when an OIDC session fails to connect to the identity provider after a token is provided.  This is likely a specific instance of #5262

### Actual Behavior

trying to debug an OpenID-Connect application, I was receiving no hints until I added `-Djavax.net.debug=all` to read the communication between my application & the OIDC provider.  My application was receiving

[2019-05-30 20:04] sandmannn commented on #6896
I think servlet and reactive can be addressed in different PRs. Lets start iterating on servlet part in this PR https://github.com/spring-projects/spring-security/pull/6923
What would be the best place to put tests for it? Up to now I found only https://github.com/sandmannn/spring-security/blob/d0f5b428847c1050d38da7d2af98eb2cda6a9b9e/samples/boot/oauth2resourceserver/src/test/java/sample/OAuth2Re

[2019-05-30 21:28] jzheaux commented on #6896
I'd recommend placing them in https://github.com/spring-projects/spring-security/blob/master/test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsJwtTests.java

[2019-05-30 22:53] pthorson commented on #6922
If you configure a custom `.failureHandler` you might be able to get the error message (and prevent the loop).

Something simple like this will spit out the error messages anyway

            .oauth2Login()
            	.loginPage(loginPage) // should send us directly to oidc login
            	.successHandler(customSuccessHandler())
            	.failureHandler(new CustomAuthenticationFailureHand

[2019-05-31 08:19] clementkng commented on #6498
Hi @jzheaux, I'm interested in trying out this ticket.

[2019-05-31 12:03] php-coder commented on #4929
To me it looks like an expected behavior. Perhaps, it's because I remember that from XML configuration where the order gotcha was a very famous and often seen.

[2019-05-31 15:16] jgrandja commented on #6922
@hauntingEcho This is a duplicate of #5262. As the ticket indicates, we need to add logging in the oauth2 modules as logging is not existent at the moment. We're trying to get tp this but there are other higher priority items we need to get into the upcoming 5.2 release. I'm going to close this issue and please keep track of #5262.

[2019-05-31 15:16] #6922 closed

[2019-05-31 15:23] jgrandja commented on #6020
@asaikali As always, out goal is to make things as simple as possible. So I think having an approach where developers include a jar that automatically configures a custom configuration for a provider makes sense. We'll have a look at this approach when we get to this issue.

[2019-05-31 15:32] jgrandja commented on #5201
@alwaysastudent This won't make it into the 5.2 release. Also, we don't have plans on directly supporting `RestTemplate` and we haven't had discussions on providing support for FeignClient either. The current support is with `WebClient`.

You can easily implement Token Relay using any HTTP client of your choosing. All you need is the `Jwt`, which you can easily resolve `JwtAuthenticationToken` in

[2019-05-31 15:34] lgraf opened #6925 "OAuth2TokenValidator examples use non existing method name for creating the NimbusJwtDecoder"
### Summary
The code examples for `OAuth2TokenValidator` use methods that are not exist, for creating a `NimbusJwtDecoder`/`NimbusReactiveJwtDecoder`.

This effects both validator examples (`JwtTimestampValidator` and custom `AudienceValidator`) in both documentations (servlet/reactive).

I have seen that changes to this api are planned (#6010), but i think this change can be helpful in the interi

[2019-05-31 15:47] jgrandja commented on #6913
@aaronjwhiteside This feature has been implemented via #5893. It's been available since 5.2.0.M1 release.

[2019-05-31 15:47] #6913 closed

[2019-05-31 15:55] jgrandja commented on #6912
@aaronjwhiteside I'm closing this as a client configured for `client_credentials` should **renew** an expired access token by fetching a new one instead of **refreshing** using a refresh token. Please see the [comment](https://github.com/spring-projects/spring-security/issues/6913#issuecomment-497759618) for additional details.

[2019-05-31 15:55] #6912 closed

[2019-05-31 17:28] jzheaux commented on #6498
Sounds great, @clementkng, glad to have you working on it.

Note that the discussion is probably good for background, but the consensus can be found in the description itself.

[2019-05-31 17:38] jzheaux commented on #6925
@lgraf, thanks for the report! Actually, I'll bet this is just a typo - I agree with your analysis that the examples should use `fromOidcIssuerLocation`.

Would you be interested in submitting a PR to fix that?

[2019-05-31 17:42] jzheaux commented on #4929
Thanks for bumping this issue, @php-coder. You are correct that this is expected behavior and is unlikely to change.

[2019-05-31 17:42] #4929 closed

[2019-05-31 17:45] #6786 closed

[2019-05-31 18:10] jzheaux commented on #6516
Thanks, @vishalvrv9! I left a bit of feedback in the PR.

[2019-05-31 18:38] jzheaux commented on #6909
@TheFonz2017, thanks for the report.

The current guidance, which you pointed out, is still preferred:

[code]

There's also `JwtValidators.createDefault()` which leaves out the issuer validation.

If those don't address your issue, can you explain some more detail about what you are trying to do that isn't simple?

[2019-05-31 18:56] spring-issuemaster opened #6926 "WebClientReactiveClientCredentialsTokenResponseClient should not set Authorization header when ClientAuthenticationMethod.POST"
Backport of gh-6911

[2019-05-31 19:03] #6911 closed

[2019-05-31 19:09] jgrandja commented on #6911
Thanks for the report @aaronjwhiteside. The fix has been applied and pushed to master.

[2019-05-31 19:15] jzheaux commented on #6907
Thanks for the report, @Daimanta.

Actually, isn't a salt length of 28 is valid in some cases?

`$2$10$` + 22 characters = 28 characters

I think the problem is that the check doesn't take into account when the salt version is `2` vs when it's `2a`, `2b`, or `2y`.

I'd probably add something after the offset has been determined like:

[code]
Would you be interested in submitting a PR for this chan

[2019-05-31 19:30] spring-issuemaster commented on #6926
Fixed via 163445acebc2afe09ba44d032b6536464fac81d2

[2019-05-31 19:30] #6926 closed

[2019-05-31 19:32] jzheaux opened #6928 "JenkinsFile should always indicate the JDK in use"
For most build tasks in the `JenkinsFile`, the JDK is unspecified, counting on the build boxes to have a default JDK set.

While this may be a reasonable assumption, it would be better if each task clearly indicated the JDK version.

[2019-05-31 19:37] lgraf commented on #6925
@jzheaux i opened a PR where the method names are fixed (#6927).

[2019-05-31 19:38] jzheaux opened #6929 "Disable docs and schema deployment"
Builds are failing on https://jenkins.spring.io/job/spring-security due to an issue between the build boxes and ssh'ing the docs and schema to the docs server.

Initially, it appeared that this was going to be fixed this week - as it seems it may go into next week, let's disable these two steps, adding them back in once the infrastructure is repaired.

[2019-05-31 19:41] #6928 closed

[2019-05-31 19:59] jgrandja commented on #6905
@ELIASIVANCARRILLO Questions are better suited on StackOverflow. Please search on StackOverflow first and if you can't find the answer than please post your question there.

We prefer to use GitHub issues for bug reports or new feature and enhancement requests.

[2019-05-31 19:59] #6905 closed

[2019-05-31 19:59] spring-issuemaster opened #6931 "JenkinsFile should always indicate the JDK in use"
Backport of gh-6928

[2019-05-31 19:59] spring-issuemaster commented on #6931
Fixed via 9c17e235d7ab43e21f608497871ad7913c1f5d2e

[2019-05-31 19:59] #6931 closed

[2019-05-31 20:07] spring-issuemaster opened #6933 "JenkinsFile should always indicate the JDK in use"
Backport of gh-6928

[2019-05-31 20:07] spring-issuemaster commented on #6933
Fixed via facc7299e36de698c5b25599257f937936107813

[2019-05-31 20:07] #6933 closed

[2019-05-31 20:18] spring-issuemaster commented on #6856
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-31 20:18] #6856 closed

[2019-05-31 22:18] dnl50 commented on #6863
I would like to submit a pull request in case @rexave is not interested!

[2019-06-01 03:52] spring-issuemaster opened #6939 "Disable docs and schema deployment"
Backport of gh-6929

[2019-06-01 03:52] spring-issuemaster commented on #6939
Fixed via ad1773c488625f6ec7443c75b60b2833e07683a7

[2019-06-01 03:52] #6939 closed

[2019-06-01 03:52] spring-issuemaster opened #6940 "Disable docs and schema deployment"
Backport of gh-6929

[2019-06-01 03:52] spring-issuemaster commented on #6940
Fixed via c3b4cabb9f6b231ce6d650b39a3014582667ac06

[2019-06-01 03:52] #6940 closed

[2019-06-01 04:05] #6929 closed

[2019-06-01 16:52] gburboz commented on #6778
@jzheaux and @jgrandja do we have any update or direction how we would want to proceed with this issue?

[2019-06-02 08:35] rexave commented on #6863
of course @dnl50
Your help is appreciated :) I didn't had the time lately  =]

[2019-06-02 13:50] EtachGu commented on #6320
Does the work on Authorization Server PKCE support  start ?