[2015-06-19 07:02] rwinch opened #3660 "SEC-3013: Missing messages_en.properties"
Backported https://github.com/spring-projects/spring-security/issues/3223

[2015-06-19 07:57] #3126 closed, assigned to rwinch

[2015-06-19 08:14] #3220 closed, assigned to rwinch

[2015-06-22 06:33] spring-issuemaster opened #3224 "SEC-3014: Unable to Install all spring-\* jars into my local Maven cache"
[Nikita Eshkeev](https://jira.spring.io/secure/ViewProfile.jspa?name=neshkeev) (Migrated from [SEC-3014](https://jira.spring.io/browse/SEC-3014?redirect=false)) said:

I can't start working on spring-security because I can't neither install nor build spring security.
I did:
1) I cloned the github repository (https://github.com/spring-projects/spring-security.git)
2) I executed ./gradlew install
I

[2015-06-22 09:28] spring-projects-issues opened #3225 "SEC-3015: Better handling for ldap PASSWORD_NEEDS_RESET error code"
[Ben Kiefer](https://jira.spring.io/secure/ViewProfile.jspa?name=benkiefer) (Migrated from [SEC-3015](https://jira.spring.io/browse/SEC-3015?redirect=false)) said:

Is there any way we can get a new exception bubbled out of the ActiveDirectoryLdapAuthenticationProvider for this, or even map it to the CredentialsExpiredException or an extension of this exception?

Right now, it ends up leaving as a

[2015-06-23 07:28] spring-issuemaster opened #3161 "SEC-3016: Security HttpSecurity Custom Filter Java Config"
[Igor Dmitriev](https://jira.spring.io/secure/ViewProfile.jspa?name=shoot3r) (Migrated from [SEC-3016](https://jira.spring.io/browse/SEC-3016?redirect=false)) said:

How can I configure my security context on Java based approach
to add custom filter to HttpSecurity
There is a xml config :

<http auto-config="false" use-expression="true" entry-point-ref="entryPoint">
  <custom-filter ref=myFilter"

[2015-06-23 12:53] spring-projects-issues opened #3226 "SEC-3017: AntPathMatcher isn't fully conform Ant Style"
Migrated from [SEC-3017](https://jira.spring.io/browse/SEC-3017?redirect=false)

[2015-06-24 08:25] spring-issuemaster opened #3229 "SEC-3018: Fix typo in xsd"
[Florian Waltersdorfer](https://jira.spring.io/secure/ViewProfile.jspa?name=florian.waltersdorfer) (Migrated from [SEC-3018](https://jira.spring.io/browse/SEC-3018?redirect=false)) said:

in the documentation section of the attribute "create-session"
"This differs from the use of "never" which {color:red}_mans_{color} that Spring Security will not create a session, but will make use of one if the

[2015-06-25 11:54] spring-projects-issues opened #3230 "SEC-3019: BasicAuthenticationFilter ignores remember-me authentication"
[Chris Beams](https://jira.spring.io/secure/ViewProfile.jspa?name=cbeams) (Migrated from [SEC-3019](https://jira.spring.io/browse/SEC-3019?redirect=false)) said:

Repro:
- Configure an application to use `httpBasic` auth and `rememberMe` authentication.
- Notice that no `remember-me` cookie is set by the server, even on a successful authentication

Problem: the `RememberMeServices` and other relat

[2015-06-25 11:54] rwinch opened #3661 "SEC-3019: BasicAuthenticationFilter ignores remember-me authentication"
Backported https://github.com/spring-projects/spring-security/issues/3230

[2015-06-26 08:22] spring-projects-issues opened #3166 "SEC-3020: HttpServletRequest.isUserInRole("ROLE_<anything>") returns false with defaults"
[Anthony Gerrard](https://jira.spring.io/secure/ViewProfile.jspa?name=anthonygerrard) (Migrated from [SEC-3020](https://jira.spring.io/browse/SEC-3020?redirect=false)) said:

I'm just trying to upgrade from Spring Security 3.1 to 4.0.1 and have discovered a breaking change in the behaviour of request.isUserInRole().

In Spring 3.1 the following was returning true and now returns false:

request.is

[2015-06-28 04:22] spring-projects-issues opened #3232 "SEC-3021: Spring HTTP Strict Transport Security (HSTS) And FireFox"
[Alireza Fattahi](https://jira.spring.io/secure/ViewProfile.jspa?name=afattahi) (Migrated from [SEC-3021](https://jira.spring.io/browse/SEC-3021?redirect=false)) said:

The spring security (4.0.1.Release) set the HSTS host by default for https protocol and you can see `Strict-Transport-Security: max-age=31536000 ;` in the response header (I used Firefox>Web Development>Network  ).

But when I look

[2015-06-30 07:55] spring-projects-issues opened #3234 "SEC-3022: GlobalMethodSecurityConfiguration should autowired RoleHierarchy as it does for PermissionEvaluator"
[Adrien SAUVEZ](https://jira.spring.io/secure/ViewProfile.jspa?name=asauvez) (Migrated from [SEC-3022](https://jira.spring.io/browse/SEC-3022?redirect=false)) said:

In GlobalMethodSecurityConfiguration.setPermissionEvaluator(), the config seeks a PermissionEvaluator from the context and inject it in defaultMethodExpressionHandler.

The defaultMethodExpressionHandler has also a setRoleHierarchy()

[2015-06-30 20:35] spring-projects-issues opened #3235 "SEC-3023: Unable to use OAuth2 in Web Logic"
[Wilson Lopez](https://jira.spring.io/secure/ViewProfile.jspa?name=wilson2330) (Migrated from [SEC-3023](https://jira.spring.io/browse/SEC-3023?redirect=false)) said:

Unable to use Open Authentication / Spring Security in Web Logic

[2015-07-01 06:46] #3235 closed, assigned to rwinch

[2015-07-01 07:17] spring-projects-issues opened #3176 "SEC-3024: Support ApacheDS 2.0.M20"
Migrated from [SEC-3024](https://jira.spring.io/browse/SEC-3024?redirect=false)

[2015-07-01 07:21] #3232 closed, assigned to rwinch

[2015-07-02 08:54] spring-projects-issues opened #3236 "SEC-3025: CORS: Add SpringMvcRequestMatchers.mvcPreFlightRequest"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3025](https://jira.spring.io/browse/SEC-3025?redirect=false)) said:

This should simply delegate to CorsUtils.isPreFlightRequest to allow preflight requests to pass through (permitAll). We keep this distinct to ensure that it is only used in Spring MVC which places certain guarantees that if CorsUtils.isPre

[2015-07-03 07:22] spring-projects-issues opened #3185 "SEC-3026: simpSubscribeDestMatchers should match also the disconnect event"
[Alex](https://jira.spring.io/secure/ViewProfile.jspa?name=dusty) (Migrated from [SEC-3026](https://jira.spring.io/browse/SEC-3026?redirect=false)) said:

In my websocket security I've a rule similar to the usual one:

bq.      .simpSubscribeDestMatchers("/topic/**").permitAll()

this is nice because it allows any client to subscribe to public queues, but it has a problem: it does not allow them t

[2015-07-05 04:03] spring-projects-issues opened #3237 "SEC-3028: @EnableWebSecurity does not create AuthenticationPrincipalArgumentResolver"
[Joseph](https://jira.spring.io/secure/ViewProfile.jspa?name=fawzyj) (Migrated from [SEC-3028](https://jira.spring.io/browse/SEC-3028?redirect=false)) said:

In the documentation, it is said the @EnableWebMvcSecurity is deprecated and its functionality replaced by @EnableWebSecurity, but when using @EnableWebSecurity only, @AuthenticatedPrinciple arguments is not properly populated anymore, i have

[2015-07-06 00:46] spring-projects-issues opened #3186 "SEC-3029: Spring Security 4.x is not compatible with Spring 4.2.x"
[Tomas Repel](https://jira.spring.io/secure/ViewProfile.jspa?name=trepel) (Migrated from [SEC-3029](https://jira.spring.io/browse/SEC-3029?redirect=false)) said:

I tried to use Spring 4.2.0.RC2 with Spring Security 4.0.1.RELEASE and I found that JdbcMutableAclService class (1) uses queryForLong  method (2) of JdbcTemplate interface. However, queryForLong method is deprecated in Spring 4.1.x and i

[2015-07-06 08:50] spring-projects-issues opened #3238 "SEC-3030: Reduce in memory lifetime of passwords"
[Caleb Cushing](https://jira.spring.io/secure/ViewProfile.jspa?name=xenoterracide) (Migrated from [SEC-3030](https://jira.spring.io/browse/SEC-3030?redirect=false)) said:

The entire problem is described on SO http://stackoverflow.com/a/31249173/206466 . But the short of it is, with the G1 collector and String Deduplication turned on, how long will "password123" remain in memory? potentially too l

[2015-07-07 10:01] spring-projects-issues opened #3239 "SEC-3031: DelegatingSecurityContextRunnable & DelegatingSecurityContextCallable should only modify SecurityContext when invoked on new Thread"
[Michael Martineau](https://jira.spring.io/secure/ViewProfile.jspa?name=mike.martineau) (Migrated from [SEC-3031](https://jira.spring.io/browse/SEC-3031?redirect=false)) said:

When an ExecutorService (ThreadPoolExecutor) is setup with a CallerRunsPolicy for the RejectedExecutionHandler and the caller thread is used to run the task, the spring security DelegatingSecurityContextCallable and Delegat

[2015-07-07 10:01] rwinch opened #3621 "SEC-3031: DelegatingSecurityContextRunnable & DelegatingSecurityContextCallable should only modify SecurityContext when invoked on new Thread"
Backported https://github.com/spring-projects/spring-security/issues/3239

[2015-07-08 09:53] spring-projects-issues opened #3240 "SEC-3032: logout-success-url default is not what it's documented"
[doom777](https://jira.spring.io/secure/ViewProfile.jspa?name=doom777) (Migrated from [SEC-3032](https://jira.spring.io/browse/SEC-3032?redirect=false)) said:

The xsd and the docs claims that the default logout success url is '/', which is what it used to be. Now it was changed to `/login?logout`.

[2015-07-09 08:29] spring-projects-issues opened #3241 "SEC-3033: IndexOutOfBoundsException in JSF 2 based application after upgrate to Spring Security 4.0.1.RELEASE"
[Tomas Repel](https://jira.spring.io/secure/ViewProfile.jspa?name=trepel) (Migrated from [SEC-3033](https://jira.spring.io/browse/SEC-3033?redirect=false)) said:

I have simple Spring 4.1.7, Spring Security, JSF 2.2 based application running on WildFly 9 that works with Spring Security 3.2.x just fine.

After upgrade to Spring Security 4.0.x I am getting IndexOutOfBoundsException

[code]

I create

[2015-07-09 21:24] #3226 closed, assigned to rwinch

[2015-07-10 01:05] spring-projects-issues opened #3242 "SEC-3034: AclPermissionEvaluator.resolvePermission fails with Turkish Locale"
[Kenan Sevindik](https://jira.spring.io/secure/ViewProfile.jspa?name=ksevindik) (Migrated from [SEC-3034](https://jira.spring.io/browse/SEC-3034?redirect=false)) said:

When a permission name like "write" is passed into AclPermissionEvaluator.resolvePermission method, it first tries to resolve it as is. If not, it then calls permString.toUpperCase() and tries so. However, lowercase "write" is chan

[2015-07-10 01:05] rwinch opened #3662 "SEC-3034: AclPermissionEvaluator.resolvePermission fails with Turkish Locale"
Backported https://github.com/spring-projects/spring-security/issues/3242

[2015-07-11 10:19] spring-projects-issues opened #3201 "SEC-3035: SecurityContextHolderAwareRequestWrapper#isUserInRole adds role prefix to already prefixed role"
[Aleksandr Mashchenko](https://jira.spring.io/secure/ViewProfile.jspa?name=aleksandr) (Migrated from [SEC-3035](https://jira.spring.io/browse/SEC-3035?redirect=false)) said:

SecurityContextHolderAwareRequestWrapper#isUserInRole adds role prefix even if passed role already has one.

Currently calling `request.isUserInRole("ROLE_ADMIN")` fails because `ROLE_ADMIN` becomes `ROLE_ROLE_ADMIN` in `Secu

[2015-07-12 21:41] spring-projects-issues opened #3243 "SEC-3036: Allow using Spring Security's WebSocket XML Configuration with Spring MVC Java Configuration"
[Juan David Ortiz](https://jira.spring.io/secure/ViewProfile.jspa?name=donzitro) (Migrated from [SEC-3036](https://jira.spring.io/browse/SEC-3036?redirect=false)) said:

This is the relevant part of the stacktrace I'm getting after upgrading to Spring Security 4.0.1 and trying to use the new Websocket Security feature:

Caused by: java.lang.NullPointerException: null
    at org.springframework.sec

[2015-07-13 06:45] #3201 closed, assigned to rwinch

[2015-07-13 20:47] spring-projects-issues opened #3244 "SEC-3037: Augment Spring Security Expressions"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3037](https://jira.spring.io/browse/SEC-3037?redirect=false)) said:

We should support easily configuring additional expressions with Spring Security (similar to how Spring Data does).

[2015-07-14 02:21] spring-projects-issues opened #3207 "SEC-3038: Warn of default HSTS header impact in migration docs"
[Thomas Timbul](https://jira.spring.io/secure/ViewProfile.jspa?name=ttimbul) (Migrated from [SEC-3038](https://jira.spring.io/browse/SEC-3038?redirect=false)) said:

The enabling of HSTS by default can have a huge impact on sites that have never used HSTS before and may be unaware that this can (and likely will) break a site with mixed content.

Although the documentation mentions that HSTS is now

[2015-07-14 02:29] spring-projects-issues opened #3245 "SEC-3039: Emit error on startup when using HSTS together with require-channel="http""
[Thomas Timbul](https://jira.spring.io/secure/ViewProfile.jspa?name=ttimbul) (Migrated from [SEC-3039](https://jira.spring.io/browse/SEC-3039?redirect=false)) said:

Using HSTS and specifying `require-channel="http"` anywhere amounts to invalid configuration. Doing so would break a site.

In such case a clear and prominent error should be emitted on startup pointing the user to the documentation,

[2015-07-15 07:54] spring-projects-issues opened #3246 "SEC-3040: Session Fixation Protection cannot be disabled when using custom Session Control Strategy"
[Timmy Schweer](https://jira.spring.io/secure/ViewProfile.jspa?name=tektimmy) (Migrated from [SEC-3040](https://jira.spring.io/browse/SEC-3040?redirect=false)) said:

I'm using spring security for an GWT application and I upgraded from Spring Security 3.x to 4.0.1.
The authentication sessions are invalidated randomly, sometimes directly after login and sometimes never. So I wanted to deactivate Se

[2015-07-15 08:32] spring-projects-issues opened #3247 "SEC-3041: WithSecurityContextTestExecutionListener Requires ApplicationContext"
Migrated from [SEC-3041](https://jira.spring.io/browse/SEC-3041?redirect=false)

[2015-07-15 08:33] spring-projects-issues opened #3248 "SEC-3042: Add SecurityTestExecutionListeners"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3042](https://jira.spring.io/browse/SEC-3042?redirect=false)) said:

We should provide meta annotation to run only the WithSecurityContextTestExecutionListener instead of needing @TestExecutionListeners(inheritListeners=false, listeners=WithSecurityContextTestExecutionListener.class)

[2015-07-16 05:57] spring-projects-issues opened #3249 "SEC-3043: Improve Meta Annotation Support"
Migrated from [SEC-3043](https://jira.spring.io/browse/SEC-3043?redirect=false)

[2015-07-16 08:15] spring-projects-issues opened #3250 "SEC-3044: Filter Serialization of Properties with Jackson using Spring Security"
Migrated from [SEC-3044](https://jira.spring.io/browse/SEC-3044?redirect=false)

[2015-07-16 09:18] #3199 closed, assigned to rwinch

[2015-07-16 12:25] #3137 closed, assigned to rwinch

[2015-07-16 15:17] #3241 closed, assigned to rwinch

[2015-07-17 12:48] spring-projects-issues opened #3251 "SEC-3045: EnableGlobalMethodSecurity mode=ASPECTJ creates proxies if InfrastructureAdvisorAutoProxyCreator is Added"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3045](https://jira.spring.io/browse/SEC-3045?redirect=false)) said:

If `InfrastructureAdvisorAutoProxyCreator` exists, then Spring Security will create proxies for security related classes when `@EnableGlobalMethodSecurity(mode=ASPECTJ, ...`.

This is due to the fact that `GlobalMethodSecurityConfiguration

[2015-07-17 12:51] #2810 closed, assigned to rwinch

[2015-07-17 12:51] #2921 closed, assigned to rwinch

[2015-07-17 12:51] #3594 closed, assigned to rwinch

[2015-07-17 13:48] spring-projects-issues opened #3252 "SEC-3046: Add AspectJ class level support for PreAuthorize, PostAuthorize PreFilter & PostFilter"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3046](https://jira.spring.io/browse/SEC-3046?redirect=false)) said:

AnnotationSecurityAspect does not join at the class level for PreAuthorize, PostAuthorize, PreFilter, PostFilter

[2015-07-17 14:13] #2143 closed, assigned to rwinch

[2015-07-17 14:13] #3536 closed, assigned to rwinch

[2015-07-20 12:02] spring-projects-issues opened #3253 "SEC-3047: SecurityContextHolderAwareRequestFilter RequestFactory on property change"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3047](https://jira.spring.io/browse/SEC-3047?redirect=false)) said:

We should update the RequestFactory when SecurityContextHolderAwareRequestFilter properties change to ensure a consistent state.

[2015-07-20 12:27] spring-projects-issues opened #3254 "SEC-3048: Passwords as Strings"
[Varun Achar](https://jira.spring.io/secure/ViewProfile.jspa?name=varunach) (Migrated from [SEC-3048](https://jira.spring.io/browse/SEC-3048?redirect=false)) said:

According to the Java Cryptography Architecture guide:

_It would seem logical to collect and store the password in an object of type java.lang.String. However, here's the caveat: Objects of type String are immutable, i.e., there are n

[2015-07-20 13:41] #3238 closed, assigned to rwinch

[2015-07-20 13:42] #3254 closed, assigned to rwinch

[2015-07-20 14:38] spring-projects-issues opened #3215 "SEC-3049: Adding @Validated annotation creates Proxy when in AspectJ mode"
[Craig Chapman](https://jira.spring.io/secure/ViewProfile.jspa?name=craigchapman1975) (Migrated from [SEC-3049](https://jira.spring.io/browse/SEC-3049?redirect=false)) said:

When configuring Global Method Security and/or Transaction Management in AspectJ mode, the advised class is not created as a proxy. However, if you wish to then add JSR-303 validation to the advised class by adding @Validated

[2015-07-20 14:41] #3216 closed, assigned to rwinch

[2015-07-21 22:01] spring-projects-issues opened #3255 "SEC-3050: 3.x to 4.x migration guide has bad markup"
[Blair Zajac](https://jira.spring.io/secure/ViewProfile.jspa?name=blairzajac) (Migrated from [SEC-3050](https://jira.spring.io/browse/SEC-3050?redirect=false)) said:

There is broken markup just  a few paragraphs down from

[http://docs.spring.io/spring-security/site/migrate/current/3-to-4/html5/migrate-3-to-4-xml.html#m3to4-xmlnamespace-filter-security-metadata-source]

You can see in the generat

[2015-07-22 06:26] spring-projects-issues opened #3256 "SEC-3051: Add AbstractPreAuthenticatedProcessingFilter principalChanged(HttpServletRequest, Authentication)"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3051](https://jira.spring.io/browse/SEC-3051?redirect=false)) said:

This will allow implementations to override a method to determine if the principal has changed. See SEC-2078

[2015-07-22 06:26] rwinch opened #3663 "SEC-3051: Add AbstractPreAuthenticatedProcessingFilter principalChanged(HttpServletRequest, Authentication)"
Backported https://github.com/spring-projects/spring-security/issues/3256

[2015-07-22 06:27] #2302 closed, assigned to rwinch

[2015-07-22 06:27] #3462 closed, assigned to rwinch

[2015-07-22 06:54] #3215 closed, assigned to rwinch

[2015-07-22 07:17] #3017 closed, assigned to rwinch

[2015-07-22 20:38] spring-projects-issues opened #3257 "SEC-3052: s/CsrfFilter.DEFAULT_MATCHER/CsrfFilter.DEFAULT_CSRF_MATCHER/"
[Blair Zajac](https://jira.spring.io/secure/ViewProfile.jspa?name=blairzajac) (Migrated from [SEC-3052](https://jira.spring.io/browse/SEC-3052?redirect=false)) said:

In docs/manual/src/docs/asciidoc/_includes/websocket.adoc is this line:

<b:constructor-arg value="#{T(org.springframework.security.web.csrf.CsrfFilter).DEFAULT_MATCHER}"/>

The DEFAULT_MATCHER should be DEFAULT_CSRF_MATCHER: http://

[2015-07-22 20:38] rwinch opened #3622 "SEC-3052: s/CsrfFilter.DEFAULT_MATCHER/CsrfFilter.DEFAULT_CSRF_MATCHER/"
Backported https://github.com/spring-projects/spring-security/issues/3257

[2015-07-23 07:07] spring-projects-issues opened #3227 "SEC-3053: Why is the CAS endpoint now /login/cas instead of /j_spring_cas_security_check?"
[Jérôme Leleu](https://jira.spring.io/secure/ViewProfile.jspa?name=jleleu) (Migrated from [SEC-3053](https://jira.spring.io/browse/SEC-3053?redirect=false)) said:

Hi Rob,

It's not a blocker bug, but I didn't know how to contact you or open a proper discussion for Spring Security.
I notice the endpoint for CAS server has changed from /j_spring_cas_security_check to /login/cas.
How does it come? I

[2015-07-23 07:38] #3167 closed, assigned to rwinch

[2015-07-23 07:38] #2713 closed, assigned to rwinch

[2015-07-23 07:38] #3153 closed, assigned to rwinch

[2015-07-23 07:38] #3164 closed, assigned to rwinch

[2015-07-23 07:38] #3182 closed, assigned to rwinch

[2015-07-23 07:38] #3206 closed, assigned to rwinch

[2015-07-23 07:38] #3573 closed, assigned to rwinch

[2015-07-23 07:38] #3657 closed, assigned to rwinch

[2015-07-23 07:38] #3156 closed, assigned to rwinch

[2015-07-23 07:38] #3173 closed, assigned to rwinch

[2015-07-23 07:38] #3175 closed, assigned to rwinch

[2015-07-23 07:38] #3240 closed, assigned to rwinch

[2015-07-23 07:38] #3256 closed, assigned to rwinch

[2015-07-23 07:38] #3663 closed, assigned to rwinch

[2015-07-23 07:38] #3141 closed, assigned to rwinch

[2015-07-23 07:38] #3162 closed, assigned to rwinch

[2015-07-23 07:38] #3186 closed, assigned to rwinch

[2015-07-23 07:38] #3200 closed, assigned to rwinch

[2015-07-23 07:38] #3248 closed, assigned to rwinch

[2015-07-23 07:38] #3655 closed, assigned to rwinch

[2015-07-23 07:38] #3160 closed, assigned to rwinch

[2015-07-23 07:38] #3177 closed, assigned to rwinch

[2015-07-23 07:38] #3193 closed, assigned to rwinch

[2015-07-23 07:38] #3213 closed, assigned to rwinch

[2015-07-23 07:38] #3221 closed, assigned to rwinch

[2015-07-23 07:38] #3253 closed, assigned to rwinch

[2015-07-23 07:38] #3658 closed, assigned to rwinch

[2015-07-23 07:38] #3659 closed, assigned to rwinch

[2015-07-23 07:38] #3163 closed, assigned to rwinch

[2015-07-23 07:38] #3203 closed, assigned to rwinch

[2015-07-23 07:38] #3230 closed, assigned to rwinch

[2015-07-23 07:38] #3255 closed, assigned to rwinch

[2015-07-23 07:38] #3619 closed, assigned to rwinch

[2015-07-23 07:38] #3661 closed, assigned to rwinch

[2015-07-23 07:38] #3055 closed, assigned to rwinch

[2015-07-23 07:38] #3090 closed, assigned to rwinch

[2015-07-23 07:38] #3197 closed, assigned to rwinch

[2015-07-23 07:38] #3214 closed, assigned to rwinch

[2015-07-23 07:38] #3247 closed, assigned to rwinch

[2015-07-23 07:38] #3172 closed, assigned to rwinch

[2015-07-23 07:38] #3174 closed, assigned to rwinch

[2015-07-23 07:38] #3242 closed, assigned to rwinch

[2015-07-23 07:38] #3656 closed, assigned to rwinch

[2015-07-23 07:38] #3662 closed, assigned to rwinch

[2015-07-23 07:39] #3136 closed, assigned to rwinch

[2015-07-23 10:24] #3227 closed, assigned to rwinch

[2015-07-24 02:59] #3251 closed, assigned to rwinch

[2015-07-24 09:45] spring-projects-issues opened #3258 "SEC-3054: spring-security basic authorization return nothing if there is the header: "Accept: application/xml""
[sahka](https://jira.spring.io/secure/ViewProfile.jspa?name=sahka) (Migrated from [SEC-3054](https://jira.spring.io/browse/SEC-3054?redirect=false)) said:

spring-security basic authorization return nothing if there is the header: "Accept: application/xml"
If "Accept: application/json" - all is ok.
Spring version 4.2.0/

[2015-07-24 14:34] #3258 closed, assigned to rwinch

[2015-07-25 00:43] spring-projects-issues opened #3228 "SEC-3055: request.isUserInRole add an extra "ROLE_""
[Alireza Fattahi](https://jira.spring.io/secure/ViewProfile.jspa?name=afattahi) (Migrated from [SEC-3055](https://jira.spring.io/browse/SEC-3055?redirect=false)) said:

When calling the request.isUserInRole, the underling class: SecurityContextHolderAwareRequestWrapper:isGranted adds an extra "ROLE_" prefix so calling the request.isUserInRole("ROLE_TEST"); will cause too : ROLE_ROLE_TEST.

[2015-07-25 05:51] #3223 closed, assigned to rwinch

[2015-07-25 05:51] #3660 closed, assigned to rwinch

[2015-07-25 06:35] #3166 closed, assigned to rwinch

[2015-07-25 06:36] #3228 closed, assigned to rwinch

[2015-07-28 01:18] spring-projects-issues opened #3259 "SEC-3056: Fix JavaDoc errors for JDK8"
[Thomas Darimont](https://jira.spring.io/secure/ViewProfile.jspa?name=thomasd) (Migrated from [SEC-3056](https://jira.spring.io/browse/SEC-3056?redirect=false)) said:

Due to more strict javadoc checks in Java 8 one currently cannot build spring-security with javadoc via a plain `./gradlew install` as a fallback one has to skip javadoc generation `./gradlew install -x javadoc`.

Since the JavaDoc

[2015-07-28 09:15] spring-projects-issues opened #3260 "SEC-3057: Spring Security Distribution Missing Files"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3057](https://jira.spring.io/browse/SEC-3057?redirect=false)) said:

1) A lot of jars are missing from dist directory in spring-security-4.0.2.RELEASE-...

There are no *-sources.jar, no *-javadoc.jar, and the following 5 components are missing as a whole: spring-security-aspects, spring-security-cas, sprin

[2015-07-28 09:15] rwinch opened #3624 "SEC-3057: Spring Security Distribution Missing Files"
Backported https://github.com/spring-projects/spring-security/issues/3260

[2015-07-28 09:15] rwinch opened #3664 "SEC-3057: Spring Security Distribution Missing Files"
Backported https://github.com/spring-projects/spring-security/issues/3260

[2015-08-02 22:35] spring-projects-issues opened #3261 "SEC-3058: Failed to run with CAS client v3.4.0"
[Simon Wong](https://jira.spring.io/secure/ViewProfile.jspa?name=simonwg) (Migrated from [SEC-3058](https://jira.spring.io/browse/SEC-3058?redirect=false)) said:

In CAS Client v3.4.0, the org.jasig.cas.client.util.CommonUtils.constructServiceUrl() comes with 7 parameters, with 6 parameters in v3.3.3
The new parameter is noserviceParameterName

This will break the code org.springframework.security

[2015-08-02 22:39] spring-projects-issues opened #3231 "SEC-3059: Failed to run with CAS client v3.4.0"
[Simon Wong](https://jira.spring.io/secure/ViewProfile.jspa?name=simonwg) (Migrated from [SEC-3059](https://jira.spring.io/browse/SEC-3059?redirect=false)) said:

In CAS Client v3.4.0, the org.jasig.cas.client.util.CommonUtils.constructServiceUrl() comes with 7 parameters, with 6 parameters in v3.3.3
The new parameter is noserviceParameterName

This will break the code org.springframework.security

[2015-08-02 23:09] spring-projects-issues opened #3233 "SEC-3060: Failed to run with CAS client v3.4.0"
[Simon Wong](https://jira.spring.io/secure/ViewProfile.jspa?name=simonwg) (Migrated from [SEC-3060](https://jira.spring.io/browse/SEC-3060?redirect=false)) said:

In CAS Client v3.4.0, the org.jasig.cas.client.util.CommonUtils.constructServiceUrl() comes with 7 parameters, with 6 parameters in v3.3.3
The new parameter is noserviceParameterName

This will break the code org.springframework.security

[2015-08-02 23:09] spring-projects-issues opened #3262 "SEC-3061: Failed to run with CAS client v3.4.0"
[Simon Wong](https://jira.spring.io/secure/ViewProfile.jspa?name=simonwg) (Migrated from [SEC-3061](https://jira.spring.io/browse/SEC-3061?redirect=false)) said:

In CAS Client v3.4.0, the org.jasig.cas.client.util.CommonUtils.constructServiceUrl() comes with 7 parameters, with 6 parameters in v3.3.3
The new parameter is noserviceParameterName

This will break the code org.springframework.security

[2015-08-04 11:29] spring-projects-issues opened #3263 "SEC-3062: WebMvcSecurityConfiguration may unnecessarily create RequestDataValueProcessor"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3062](https://jira.spring.io/browse/SEC-3062?redirect=false)) said:

We cannot simply use `@ConditionalOnMissingBean` with standard Spring Framework since there may be ordering issues. This means that `RequestDataValueProcessor` may be created unnecessarily in some circumstances.

 Now users must define req

[2015-08-04 11:29] rwinch opened #3665 "SEC-3062: WebMvcSecurityConfiguration may unnecessarily create RequestDataValueProcessor"
Backported https://github.com/spring-projects/spring-security/issues/3263

[2015-08-04 12:19] spring-projects-issues opened #3264 "SEC-3063: OnMissingBeanCondition avoid initializing beans"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3063](https://jira.spring.io/browse/SEC-3063?redirect=false)) said:

`OnMissingBeanCondition` should use BeanTypeRegistry.getNamesForType to avoid initializing any beans

[2015-08-04 12:19] rwinch opened #3666 "SEC-3063: OnMissingBeanCondition avoid initializing beans"
Backported https://github.com/spring-projects/spring-security/issues/3264

[2015-08-05 19:09] spring-projects-issues opened #3265 "SEC-3064: checkUserScopes is not working as expected"
[Jonathan Scherman](https://jira.spring.io/secure/ViewProfile.jspa?name=scherman) (Migrated from [SEC-3064](https://jira.spring.io/browse/SEC-3064?redirect=false)) said:

In the class [DefaultOAuth2RequestFactory](https://github.com/spring-projects/spring-security-oauth/blob/b5194b432746aafa5fb25431043142e5bce8130d/spring-security-oauth2/src/main/java/org/springframework/security/oauth2/provider/r

[2015-08-05 19:21] spring-projects-issues opened #3266 "SEC-3065: Injecting custom UserDetailsService is still using default one"
[Jonathan Scherman](https://jira.spring.io/secure/ViewProfile.jspa?name=scherman) (Migrated from [SEC-3065](https://jira.spring.io/browse/SEC-3065?redirect=false)) said:

Apparently when injecting custom UserDetailsService is still using the default one. It authenticates with custom in first place and then with default. This last authentication could be big trouble if the database structure would

[2015-08-06 06:50] #3266 closed, assigned to rwinch

[2015-08-06 06:53] #3265 closed, assigned to rwinch

[2015-08-06 17:18] spring-projects-issues opened #3267 "SEC-3066: DefaultMethodSecurityExpressionHandler does not handle NotFoundException when using a PermissionCacheOptimizer"
[Steven Pearce](https://jira.spring.io/secure/ViewProfile.jspa?name=stexxen) (Migrated from [SEC-3066](https://jira.spring.io/browse/SEC-3066?redirect=false)) said:

To Trigger:
When `DefaultMethodSecurityExpressionHandler` is used with `AclPermissionCacheOptimizer` and a method is annotated with
  `@PostFilter("hasPermission(filterObject, 'read')")`

If any of the returned objects do not have a c

[2015-08-07 07:12] spring-issuemaster opened #3268 "SEC-3067: Distinguishing BadCredentials and UsernameNotFound from events"
[Xavier Dury](https://jira.spring.io/secure/ViewProfile.jspa?name=kalgon) (Migrated from [SEC-3067](https://jira.spring.io/browse/SEC-3067?redirect=false)) said:

Currently, `DefaultAuthenticationEventPublisher` fires an `AuthenticationFailureBadCredentialsEvent` in case of `BadCredentialsException` or `UsernameNotFoundException`.

Therefore, event listeners cannot distinguish between the 2 scenar

[2015-08-10 02:08] spring-projects-issues opened #3270 "SEC-3068: project spring-security-samples-tutorial logout link is not working"
[Babak Yakhchali](https://jira.spring.io/secure/ViewProfile.jspa?name=yakhchali) (Migrated from [SEC-3068](https://jira.spring.io/browse/SEC-3068?redirect=false)) said:

when clicking on logout link (http://localhost:8080/spring-security-samples-tutorial-xml/logout) you will get 404 not found. If I change the mehtod to post( using other samples) everything works fine. I tested it on github master

[2015-08-11 00:39] spring-projects-issues opened #3272 "SEC-3069: ConcurrentSessionFilter should respond with 401 or 403 instead of 200, when session was expired"
[Sanjaya Kumar Patel](https://jira.spring.io/secure/ViewProfile.jspa?name=skpatel20) (Migrated from [SEC-3069](https://jira.spring.io/browse/SEC-3069?redirect=false)) said:

When coding a REST API for some client, the client would expect an error response if a login session was expired due to a concurrent session being opened somewhere else. ConcurrentSessionFilter is used for sending the message

[2015-08-12 22:11] spring-projects-issues opened #3273 "SEC-3070: Logout invalidate-session=false and Spring Session doesn't work"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3070](https://jira.spring.io/browse/SEC-3070?redirect=false)) said:

The problem is that the HttpSessionSecurityContextRepository has:

[code]

When using SecurityContextHolder.getContext().setAuthentication(null) it means that contextObject.equals(contextBeforeExecution) will return true so the attribute i

[2015-08-12 22:11] rwinch opened #3625 "SEC-3070: Logout invalidate-session=false and Spring Session doesn't work"
Backported https://github.com/spring-projects/spring-security/issues/3273

[2015-08-12 22:11] rwinch opened #3667 "SEC-3070: Logout invalidate-session=false and Spring Session doesn't work"
Backported https://github.com/spring-projects/spring-security/issues/3273

[2015-08-17 19:29] spring-issuemaster opened #3274 "SEC-3071: IE10/11, cache enabled causes web fonts to not load"
[Ajdin Hedzic](https://jira.spring.io/secure/ViewProfile.jspa?name=ajdinhedzic) (Migrated from [SEC-3071](https://jira.spring.io/browse/SEC-3071?redirect=false)) said:

In IE11 (probably other IE versions but not verified) if a user added no-cache to headers then JavaScript resources MUST be excluded from that, otherwise resources such as font awesome will not work.

Works in HTTPS in Chrome/Firef

[2015-08-18 06:16] spring-projects-issues opened #3275 "SEC-3072: Provide Freemarker macro library"
[Angel D. Segarra](https://jira.spring.io/secure/ViewProfile.jspa?name=asegarra) (Migrated from [SEC-3072](https://jira.spring.io/browse/SEC-3072?redirect=false)) said:

Spring Framework Web MVC currently ships Freemarker and Velocity macro libraries along with the JSP taglib , but Spring security ships only a JSP taglib which leaves users of the other technologies without good options out of the

[2015-08-18 09:47] spring-projects-issues opened #3276 "SEC-3073: JSPAuthorizeTag authorizeUsingUrlCheck only compares against first WebInvocationPrivilegeEvaluator"
[jason smith](https://jira.spring.io/secure/ViewProfile.jspa?name=jasonparallel) (Migrated from [SEC-3073](https://jira.spring.io/browse/SEC-3073?redirect=false)) said:

In AbstractAuthorizeTag, authorizeUsingUrlCheck calls getPrivilegeEvaluator which on line 347 returns the first WebInvocationPrivilegeEvaluator ignoring others.

An application might have multiple WebInvocationPrivilegeEvaluators

[2015-08-18 09:58] #2269 closed, assigned to rwinch

[2015-08-18 09:58] #3276 closed, assigned to rwinch

[2015-08-18 14:59] #1382 closed, assigned to nobody

[2015-08-18 20:41] spring-projects-issues opened #3277 "SEC-3074: Support Test Meta Annotations"
Migrated from [SEC-3074](https://jira.spring.io/browse/SEC-3074?redirect=false)

[2015-08-19 02:18] spring-projects-issues opened #3278 "SEC-3075: SecurityContextHolder.getContext() returns same instance to threads which are alive"
[Changsung Kim](https://jira.spring.io/secure/ViewProfile.jspa?name=changsung) (Migrated from [SEC-3075](https://jira.spring.io/browse/SEC-3075?redirect=false)) said:

SecurityContextHolder.getContext() returns same instance to threads which are alive and are different from each other frequently.

My project is web server base on spring boot and spring security. Below are test code of my project.

[2015-08-19 13:15] spring-projects-issues opened #3280 "SEC-3076: Support Method Security Meta Annotations"
Migrated from [SEC-3076](https://jira.spring.io/browse/SEC-3076?redirect=false)

[2015-08-19 14:03] spring-projects-issues opened #3281 "SEC-3077: Update to Groovy 2.4.4"
Migrated from [SEC-3077](https://jira.spring.io/browse/SEC-3077?redirect=false)

[2015-08-19 14:04] spring-projects-issues opened #3283 "SEC-3078: Update to Spring 4.2"
Migrated from [SEC-3078](https://jira.spring.io/browse/SEC-3078?redirect=false)

[2015-08-19 14:04] spring-projects-issues opened #3284 "SEC-3079: Update to Gradle 2.6"
Migrated from [SEC-3079](https://jira.spring.io/browse/SEC-3079?redirect=false)

[2015-08-19 14:06] spring-projects-issues opened #3285 "SEC-3080: Remove invalid characters from the reference"
Migrated from [SEC-3080](https://jira.spring.io/browse/SEC-3080?redirect=false)

[2015-08-19 14:07] #3285 closed, assigned to rwinch

[2015-08-19 14:08] #3277 closed, assigned to rwinch

[2015-08-19 14:08] #3280 closed, assigned to rwinch

[2015-08-19 14:08] #3249 closed, assigned to rwinch

[2015-08-19 14:09] #3281 closed, assigned to rwinch

[2015-08-19 14:09] #3284 closed, assigned to rwinch

[2015-08-19 14:10] #3165 closed, assigned to rwinch

[2015-08-19 23:48] spring-issuemaster opened #3286 "SEC-3081: @PreAuthorize not inherited on overridden generic method"
[Christopher Smith](https://jira.spring.io/secure/ViewProfile.jspa?name=w_c_smith) (Migrated from [SEC-3081](https://jira.spring.io/browse/SEC-3081?redirect=false)) said:

I have mappings and security annotations defined in an abstract base controller class, then subclass that controller to provide HTML and versioned JSON implementations. Up until now, I've been able to apply `@PreAuthorize` to an

[2015-08-20 02:52] spring-projects-issues opened #3287 "SEC-3082: SavedRequest parameters are treated as case-insensitive"
[Mike Noordermeer](https://jira.spring.io/secure/ViewProfile.jspa?name=miken) (Migrated from [SEC-3082](https://jira.spring.io/browse/SEC-3082?redirect=false)) said:

The `DefaultSavedRequest` stores parameters in a case-insensitive `TreeMap`, but with a normal `HttpServletRequest` parameter names are case-sensitive.

Basically, this `TreeMap` should not use a case-insensitive comparator: https://

[2015-08-20 02:52] rwinch opened #3626 "SEC-3082: SavedRequest parameters are treated as case-insensitive"
Backported https://github.com/spring-projects/spring-security/issues/3287

[2015-08-20 02:52] rwinch opened #3668 "SEC-3082: SavedRequest parameters are treated as case-insensitive"
Backported https://github.com/spring-projects/spring-security/issues/3287

[2015-08-20 03:24] spring-projects-issues opened #3288 "SEC-3083: SecurityMockMvcRequestPostProcessors.user stops working when upgrading from 4.0.0 to 4.0.2"
[Jean Noel Delavalade](https://jira.spring.io/secure/ViewProfile.jspa?name=jnd77) (Migrated from [SEC-3083](https://jira.spring.io/browse/SEC-3083?redirect=false)) said:

Unit tests of controllers stopped passing when I upgraded Spring Security from 4.0.0 to 4.0.2.

Controller method:

[code]

Unit test:

[code]

With 4.0.0, there is no issue.
But with 4.0.2, user is not resolved in the controller

[2015-08-20 06:55] #3061 closed, assigned to rwinch

[2015-08-20 07:22] spring-projects-issues opened #3289 "SEC-3084: Document SecurityContextRequestPostProcessorSupport subclasses only associate to HttpServletRequest (not SecurityContextHolder)"
Migrated from [SEC-3084](https://jira.spring.io/browse/SEC-3084?redirect=false)

[2015-08-20 07:31] #3289 closed, assigned to rwinch

[2015-08-20 08:50] #2933 closed, assigned to rwinch

[2015-08-20 15:13] #2283 closed, assigned to rwinch

[2015-08-20 17:22] #3288 closed, assigned to rwinch

[2015-08-20 18:56] #2407 closed, assigned to rwinch

[2015-08-21 02:29] #3283 closed, assigned to rwinch

[2015-08-22 20:32] spring-projects-issues opened #3290 "SEC-3085: Logs in Spring Security 4 with log4j and set MDC not working"
[Alireza Fattahi](https://jira.spring.io/secure/ViewProfile.jspa?name=afattahi) (Migrated from [SEC-3085](https://jira.spring.io/browse/SEC-3085?redirect=false)) said:

In a web application environment with spring security 4, slf4j ( with log4j2 implementation) , there is a filter which is run at the top as soon as the request is received and always set the MDC parameters in thread as below

[code

[2015-08-23 16:54] spring-projects-issues opened #3291 "SEC-3086: Override websocket Session object to provide Principal"
[zhouyanming](https://jira.spring.io/secure/ViewProfile.jspa?name=quaff) (Migrated from [SEC-3086](https://jira.spring.io/browse/SEC-3086?redirect=false)) said:

please see JIRA SEC-2180

javax.websocket.Session.getUserPrincipal() should return same principal like UsernamePasswordAuthenticationToken with HttpServletRequest.getUserPrincipal(), It works fine with tomcat, but failed with jetty and wi

[2015-08-24 00:02] spring-issuemaster opened #3292 "SEC-3087: OAuth token interfaces shoud be Serializable"
[Libor Ondrusek](https://jira.spring.io/secure/ViewProfile.jspa?name=librucha) (Migrated from [SEC-3087](https://jira.spring.io/browse/SEC-3087?redirect=false)) said:

I think both of OAuth2 token interfaces shoud be serializable.

[code]

If somebody will implement own token services using JPA, tokens can be serialized and deserialized using JPA provider way.

[2015-08-26 04:52] spring-projects-issues opened #3293 "SEC-3088: HttpSession timeout Is NOT working when using Spring Security and Websocket"
[Mohsen Mahmoudi](https://jira.spring.io/secure/ViewProfile.jspa?name=mohsen.mahmoudi.91) (Migrated from [SEC-3088](https://jira.spring.io/browse/SEC-3088?redirect=false)) said:

Hi. My Application contains Spring MVC , Security and Websocket. before i add Spring Websocket , HttpSession timeout was working good. unfortunately , when i add Spring Websocket into appication , timeout is not working..

[2015-08-27 06:12] #3293 closed, assigned to rwinch

[2015-08-27 06:29] spring-projects-issues opened #3295 "SEC-3089: Typo in OAuth 2 Developers Guide"
[Rafael Membrives Mondragón](https://jira.spring.io/secure/ViewProfile.jspa?name=rmembrives) (Migrated from [SEC-3089](https://jira.spring.io/browse/SEC-3089?redirect=false)) said:

There is a typo in "Configuring Client Details" section:

authorizedGrantTypes: _Grasnt_ types that are authorized for the client to use. Default value is empty.

[2015-08-27 09:42] spring-issuemaster opened #3296 "SEC-3090: password-encoder does not work when authentication-manager@id is specified"
# Updated

When `<authentication-manager>` specifies an id, the `<password-encoder>` is not used because the parser changes the bean id without aliasing it to `BeanIds.AUTHENTICATION_MANAGER` which is used by `AuthenticationManagerBeanDefinitionParser` to look up the `AuthenticationManager` bean.

# Original
[royqh1979](https://jira.spring.io/secure/ViewProfile.jspa?name=royqh1979) (Migrated from

[2015-08-27 09:49] spring-issuemaster opened #3297 "SEC-3091: Issue tracker link is wrong"
[Emerson Farrugia](https://jira.spring.io/secure/ViewProfile.jspa?name=mers) (Migrated from [SEC-3091](https://jira.spring.io/browse/SEC-3091?redirect=false)) said:

The issue tracker link on the main page (http://projects.spring.io/spring-security/) between the GitHub link and the Bamboo link points to

http://jira.springsource.org/browse/SEC

which doesn't work. The link should be

https://jira.

[2015-08-27 16:27] spring-issuemaster opened #3298 "SEC-3092: Misleading reference manual description of spring-security-config module"
[Emerson Farrugia](https://jira.spring.io/secure/ViewProfile.jspa?name=mers) (Migrated from [SEC-3092](https://jira.spring.io/browse/SEC-3092?redirect=false)) said:

In 1.4.3, the reference manual says

bq. Config - spring-security-config.jar ... Contains the security namespace parsing code. You need it if you are using the Spring Security XML namespace for configuration. The main package is org.s

[2015-08-27 20:16] spring-projects-issues opened #3300 "SEC-3094: Create @WithAnonymousUser and anonymous() MockMvcRequestPostProcessor"
Migrated from [SEC-3094](https://jira.spring.io/browse/SEC-3094?redirect=false)

[2015-08-27 20:19] #3300 closed, assigned to rwinch

[2015-08-30 09:39] spring-projects-issues opened #3302 "SEC-3095: Add Ant multi-pattern support"
[Fabien Baligand](https://jira.spring.io/secure/ViewProfile.jspa?name=fbaligand) (Migrated from [SEC-3095](https://jira.spring.io/browse/SEC-3095?redirect=false)) said:

This would be great to add ant multi-pattern support.

This would allow such a configuration :

[code]

Ant itself supports it out-of-the-box.

[2015-09-01 14:49] spring-projects-issues opened #3303 "SEC-3096: Is it possible to make class ActiveDirectoryLdapAuthenticationProvider customizable?"
[Arnošt Havelka](https://jira.spring.io/secure/ViewProfile.jspa?name=arnost.havelka@gmail.com) (Migrated from [SEC-3096](https://jira.spring.io/browse/SEC-3096?redirect=false)) said:

Well we are using Active Directory authentication. I'm not sure what's the reason, but our AD has not sAMAccountName as "user@my.domain.com", but only as "user".

Our current solution is to copy&paste class ActiveDir

[2015-09-02 04:16] spring-projects-issues opened #3269 "SEC-3097: CsrfRequestPostProcessor does not with overridden HttpSession"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3097](https://jira.spring.io/browse/SEC-3097?redirect=false)) said:

When the HttpSession is overridden (i.e. Spring Session) then CsrfRequestPostProcessor does not work. This is due to the fact that the CsrfRequestPostProcessor sees the unwrapped request, so the CsrfToken is persisted using the unwrapped r

[2015-09-02 04:21] #3269 closed, assigned to rwinch

[2015-09-02 08:17] spring-projects-issues opened #3271 "SEC-3098: PasswordComparisonAuthenticator can return too many attributes"
[Wendell Beckwith](https://jira.spring.io/secure/ViewProfile.jspa?name=binyan) (Migrated from [SEC-3098](https://jira.spring.io/browse/SEC-3098?redirect=false)) said:

Here's the authenticate method for the PAC:

[code]

If the authentication is done via userDN patterns then the resulting DirContextOperations result has only the attributes set in the getUserAttributes() method.  However, if the co

[2015-09-02 08:38] spring-projects-issues opened #3304 "SEC-3099: ChangeSessionIdAuthenticationStrategy seems to be swallowing an exception resulting in null authentication in security context holder"
[Stephen Morrison](https://jira.spring.io/secure/ViewProfile.jspa?name=steviemo) (Migrated from [SEC-3099](https://jira.spring.io/browse/SEC-3099?redirect=false)) said:

Hi folks,
Upon upgrading from 3.2.6.RELEASE -> 3.2.7.RELEASE I'm no longer able to authenticate successfully with my web application. (I'm using Spring Boot:
"org.springframework.boot:spring-boot-starter-security:1.2.2.RELEASE" ->

[2015-09-04 18:49] spring-issuemaster opened #3305 "SEC-3100: Modify Content Security Policy to allow LiveReload when devtools enabled"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3100](https://jira.spring.io/browse/SEC-3100?redirect=false)) said:

Ensure Spring Security has proper hooks for https://github.com/spring-projects/spring-boot/issues/3894#issuecomment-137814509

[2015-09-04 23:33] spring-issuemaster opened #3279 "SEC-3102: Formatting error in DelegatingFilterProxy section"
[James Garrison](https://jira.spring.io/secure/ViewProfile.jspa?name=jhgarrison) (Migrated from [SEC-3102](https://jira.spring.io/browse/SEC-3102?redirect=false)) said:

!spring001.png|thumbnail!

[2015-09-08 16:33] spring-issuemaster opened #3282 "SEC-3103: Logout Success Content Negotiation"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3103](https://jira.spring.io/browse/SEC-3103?redirect=false)) said:

Add default content negotiation for Logout Success (similar to AthenticationEntryPoint). This would mean if I logged out with a REST and/or AJAX call I would get an HTTP status of no content. If I logged out using the standard browser I wo

[2015-09-09 17:05] #3088 closed, assigned to rwinch

[2015-09-10 12:24] spring-projects-issues opened #3306 "SEC-3104: Security annotation error customization"
[Gökhan Öner](https://jira.spring.io/secure/ViewProfile.jspa?name=gokhanoner) (Migrated from [SEC-3104](https://jira.spring.io/browse/SEC-3104?redirect=false)) said:

@PreAuthorize, @PostAuthorize, @Secured annotation can have a parameter to point custom message property in order to set detailed & more user friendly exception messages.

This could also be done by providing a param. to define an cl

[2015-09-12 20:08] spring-issuemaster opened #3307 "SEC-3105: Support LogoutSuccessEvent"
[Kazuki Shimizu](https://jira.spring.io/secure/ViewProfile.jspa?name=kazuki43zoo) (Migrated from [SEC-3105](https://jira.spring.io/browse/SEC-3105?redirect=false)) said:

I want to add new event for indicates a logout success.

usage examples :
- Update login status of account (e.g. active -> idle)
- Create a authentication log to database or log file
- etc ...

This event fires at follows:
- logo

[2015-09-16 12:34] spring-issuemaster opened #3308 "SEC-3106: Option in BasicAuthenticationFilter to log more exception info"
[Bill Chen](https://jira.spring.io/secure/ViewProfile.jspa?name=billc.cn) (Migrated from [SEC-3106](https://jira.spring.io/browse/SEC-3106?redirect=false)) said:

The current code in `doFilterInternal()` logs in this way:

`logger.debug("Authentication request for failed: " + failed);`

which, in most cases just produces: "Authentication request for failed: org.springframework.security.authenticat

[2015-09-17 20:27] spring-projects-issues opened #3309 "SEC-3107: InMemoryTokenStore does not remove userName mapping to accessToken"
[Hugo Francisco Baes Junior](https://jira.spring.io/secure/ViewProfile.jspa?name=hugobaes) (Migrated from [SEC-3107](https://jira.spring.io/browse/SEC-3107?redirect=false)) said:

When InMemoryTokenStore stores an accessToken, it also maps the corresponding user by combining the clientId with the username using getApprovalKey(authentication).

`LINE 153: addToCollection(this.userNameToAccessTokenS

[2015-09-18 08:48] spring-projects-issues opened #3310 "SEC-3108: DigestAuthenticationFilter should use SecurityContextHolder.createEmptyContext()"
[Kristian Laakkonen](https://jira.spring.io/secure/ViewProfile.jspa?name=krisse7) (Migrated from [SEC-3108](https://jira.spring.io/browse/SEC-3108?redirect=false)) said:

When using Digest authentication and there are concurrent requests from the same session, it is possible that the Authentication object returned by SessionContextHolder.getContext().getAuthentication() does not have its authoriti

[2015-09-18 08:48] rwinch opened #3669 "SEC-3108: DigestAuthenticationFilter should use SecurityContextHolder.createEmptyContext()"
Backported https://github.com/spring-projects/spring-security/issues/3310

[2015-09-18 08:48] rwinch opened #3670 "SEC-3108: DigestAuthenticationFilter should use SecurityContextHolder.createEmptyContext()"
Backported https://github.com/spring-projects/spring-security/issues/3310

[2015-09-18 14:19] spring-projects-issues opened #3311 "SEC-3109: Concurrent/ThreadPoolTaskScheduler don't work with DelegatingSecurityContextExecutor"
[Matthias Nöbl](https://jira.spring.io/secure/ViewProfile.jspa?name=matthias) (Migrated from [SEC-3109](https://jira.spring.io/browse/SEC-3109?redirect=false)) said:

We have a setup with Spring Boot with scheduling. To use method security with background jobs we want to use the DelegatingSecurityContextScheduledExecutorService like described here: http://www.petrikainulainen.net/programming/sprin

[2015-09-18 14:19] rwinch opened #3671 "SEC-3109: Concurrent/ThreadPoolTaskScheduler don't work with DelegatingSecurityContextExecutor"
Backported https://github.com/spring-projects/spring-security/issues/3311

[2015-09-18 14:19] rwinch opened #3672 "SEC-3109: Concurrent/ThreadPoolTaskScheduler don't work with DelegatingSecurityContextExecutor"
Backported https://github.com/spring-projects/spring-security/issues/3311

[2015-09-23 13:27] spring-projects-issues opened #3312 "SEC-3110: Conflict Between CsrfFilter and FilterSecurityInterceptor"
[Kevin Conaway](https://jira.spring.io/secure/ViewProfile.jspa?name=kevinconaway) (Migrated from [SEC-3110](https://jira.spring.io/browse/SEC-3110?redirect=false)) said:

There appears to be a conflict between the CsrfFilter and FilterSecurityInterceptor because the CsrfFilter is ordered before FilterSecurityInterceptor

I have a service where both CSRF is required and the user must be authenticat

[2015-09-23 21:29] #2898 closed, assigned to rwinch

[2015-09-25 20:24] spring-projects-issues opened #3313 "SEC-3111: Fixes to messages_it.properties"
Migrated from [SEC-3111](https://jira.spring.io/browse/SEC-3111?redirect=false)

[2015-09-25 20:25] spring-projects-issues opened #3294 "SEC-3112: Fix reference to Null Object pattern in the manual"
Migrated from [SEC-3112](https://jira.spring.io/browse/SEC-3112?redirect=false)

[2015-09-25 20:25] #3313 closed, assigned to rwinch

[2015-09-25 20:26] #3294 closed, assigned to rwinch

[2015-09-25 20:29] spring-projects-issues opened #3314 "SEC-3113: pom.xml repository name snasphot -> snapshot"
Migrated from [SEC-3113](https://jira.spring.io/browse/SEC-3113?redirect=false)

[2015-09-25 20:29] #3314 closed, assigned to rwinch

[2015-09-26 11:17] spring-projects-issues opened #3323 "SEC-3123: Encrypted property value support"
[sreekanth](https://jira.spring.io/secure/ViewProfile.jspa?name=sreekanth.nair@egovernments.org) (Migrated from [SEC-3123](https://jira.spring.io/browse/SEC-3123?redirect=false)) said:

Its good to have encrypted property value support for property file, now we have to use jasypt to enable this functionality unfortunately jasypt doesn't have support for @PropertySource (java config). Though jasypt

[2015-09-27 15:54] spring-projects-issues opened #3315 "SEC-3114: No authentication provider found is a DEBUG statement"
[Brandon McCulligh](https://jira.spring.io/secure/ViewProfile.jspa?name=gwnp) (Migrated from [SEC-3114](https://jira.spring.io/browse/SEC-3114?redirect=false)) said:

I was seeing extremely odd behaviour in one of my applications while adding in a secure section where the application was calling my custom AuthenticationProvider service and authenticating but the app would loose the authentication

[2015-09-29 23:23] spring-projects-issues opened #3316 "SEC-3115: allow saved-request redirection for manual authentication"
[Christopher Smith](https://jira.spring.io/secure/ViewProfile.jspa?name=w_c_smith) (Migrated from [SEC-3115](https://jira.spring.io/browse/SEC-3115?redirect=false)) said:

In certain circumstances, I would like to permit a user who's just created an account to be immediately authenticated and redirected to the protected resource that triggered an original login request. The redirect is handled by

[2015-10-01 20:49] spring-projects-issues opened #3299 "SEC-3116: Remove Unnecessary javadoc in WebSecurity"
Migrated from [SEC-3116](https://jira.spring.io/browse/SEC-3116?redirect=false)

[2015-10-01 20:51] #3299 closed, assigned to rwinch

[2015-10-01 21:18] #2983 closed, assigned to rwinch

[2015-10-01 21:20] spring-projects-issues opened #3301 "SEC-3117: Fixed incorrect dn in samples"
Migrated from [SEC-3117](https://jira.spring.io/browse/SEC-3117?redirect=false)

[2015-10-01 21:23] #3301 closed, assigned to rwinch

[2015-10-01 21:30] #3295 closed, assigned to rwinch

[2015-10-01 21:36] #3290 closed, assigned to rwinch

[2015-10-02 10:28] spring-projects-issues opened #3317 "SEC-3118: @EnableWebSecurity fails when AllowCircularReferences is disabled"
[Madis Pärn](https://jira.spring.io/secure/ViewProfile.jspa?name=madis.parn) (Migrated from [SEC-3118](https://jira.spring.io/browse/SEC-3118?redirect=false)) said:

GenericApplicationContext.setAllowCircularReferences(false) and @EnableWebSecurity together produce execption:

[code]

[2015-10-02 17:31] #3309 closed, assigned to nobody

[2015-10-04 21:50] spring-projects-issues opened #3318 "SEC-3119: Allow extending SecurityContextChannelInterceptor"
[Allar Saarnak](https://jira.spring.io/secure/ViewProfile.jspa?name=allar) (Migrated from [SEC-3119](https://jira.spring.io/browse/SEC-3119?redirect=false)) said:

Currently it's not possible to extend SecurityContextChannelInterceptor, because it's final.
Extending SecurityContextChannelInterceptor would be useful for authenticating from custom headers, like custom token.
Useful when overriding m

[2015-10-07 10:38] spring-projects-issues opened #3319 "SEC-3120: HSTS Documentation still refers to hsts() instead of httpStrictTransportSecurity()"
[Andrei Ivanov](https://jira.spring.io/secure/ViewProfile.jspa?name=shadow) (Migrated from [SEC-3120](https://jira.spring.io/browse/SEC-3120?redirect=false)) said:

The Java config sample at http://docs.spring.io/spring-security/site/docs/4.0.2.RELEASE/reference/htmlsingle/#overriding-defaults doesn't work:

[code]

[code]

But `HttpSecurity` doesn't provide a `httpStrictTransportSecurity()` metho

[2015-10-07 10:38] rwinch opened #3673 "SEC-3120: HSTS Documentation still refers to hsts() instead of httpStrictTransportSecurity()"
Backported https://github.com/spring-projects/spring-security/issues/3319

[2015-10-07 14:04] spring-issuemaster opened #3320 "SEC-3121: Support for bcrypt revision $2b$"
[Peter De Wachter](https://jira.spring.io/secure/ViewProfile.jspa?name=pdewacht) (Migrated from [SEC-3121](https://jira.spring.io/browse/SEC-3121?redirect=false)) said:

In February 2014 a new revision of the bcrypt algorithm was published, which Spring Security does not yet implement. This is starting to cause interoperability problems, as various tools now generate bcrypt hashes that are not sup

[2015-10-08 14:00] spring-projects-issues opened #3321 "SEC-3122: DelegatingSecurityContextScheduledExecutorService only sets SecurityContext at first run of a scheduled task - subsequent runs do not have the SecurityContext set"
[Peter Rainer](https://jira.spring.io/secure/ViewProfile.jspa?name=prainer) (Migrated from [SEC-3122](https://jira.spring.io/browse/SEC-3122?redirect=false)) said:

When using DelegatingSecurityContextScheduledExecutorService to set a security context for a scheduled task, it works perfectly fine for the first task execution, but subsequent executions are (re-)scheduled by the same thread which wa

[2015-10-08 15:38] #3321 closed, assigned to rwinch

[2015-10-13 18:30] spring-projects-issues opened #3324 "SEC-3124: Fix broken Javadoc related to `<` and `>`"
Migrated from [SEC-3124](https://jira.spring.io/browse/SEC-3124?redirect=false)

[2015-10-13 18:30] rwinch opened #3674 "SEC-3124: Fix broken Javadoc related to `<` and `>`"
Backported https://github.com/spring-projects/spring-security/issues/3324

[2015-10-15 03:31] spring-projects-issues opened #3325 "SEC-3125: how to distinguish session timeout from exceeding the maxSession"
[xtf](https://jira.spring.io/secure/ViewProfile.jspa?name=xtf) (Migrated from [SEC-3125](https://jira.spring.io/browse/SEC-3125?redirect=false)) said:

I have set up session-management below:
 <session-management session-fixation-protection="migrateSession" invalid-session-url="/login?sessionTimeout">
            <concurrency-control max-sessions="1" expired-url="/login?sessionExceeded"

[2015-10-15 17:52] #3312 closed, assigned to rwinch

[2015-10-16 16:26] spring-issuemaster opened #3322 "SEC-3126: XML Parsing Error: undefined entity"
[ROBERSON SATHLER NASCIMENTO](https://jira.spring.io/secure/ViewProfile.jspa?name=robersonsn) (Migrated from [SEC-3126](https://jira.spring.io/browse/SEC-3126?redirect=false)) said:

When I put _@Secured(['ROLE_ADMIN'])_ as below, it occurs the following error:

@Secured(['ROLE_ADMIN'])
class RedeController {
...
    }

XML Parsing Error: undefined entity Location: ...
<a href="#">Skip to content&

[2015-10-16 18:52] spring-projects-issues opened #3326 "SEC-3127: Upgrade to Powermock 1.6.2"
[Andy Wilkinson](https://jira.spring.io/secure/ViewProfile.jspa?name=awilkinson) (Migrated from [SEC-3127](https://jira.spring.io/browse/SEC-3127?redirect=false)) said:

I'm currently in the awkward situation where I can't build Spring IO Platform 1.1.x due to competing requirements for the version of Mockito between Spring LDAP and Spring Security due to the use of Powermock and its dependency on

[2015-10-17 14:59] spring-projects-issues opened #3327 "SEC-3128: RoleVoter throws NPE with null Authentication"
[Janne Valkealahti](https://jira.spring.io/secure/ViewProfile.jspa?name=jvalkeal) (Migrated from [SEC-3128](https://jira.spring.io/browse/SEC-3128?redirect=false)) said:

Using AccessDecisionManager manually(just like how webflow integrates with security) is causing NPE if no `Authentication` is present:

[code]

[code]

While I could handle null `Authentication` in my class calling `accessDecisio

[2015-10-17 14:59] rwinch opened #3627 "SEC-3128: RoleVoter throws NPE with null Authentication"
Backported https://github.com/spring-projects/spring-security/issues/3327

[2015-10-17 14:59] rwinch opened #3675 "SEC-3128: RoleVoter throws NPE with null Authentication"
Backported https://github.com/spring-projects/spring-security/issues/3327

[2015-10-22 15:04] spring-projects-issues opened #3328 "SEC-3129: Update to Spring 4.2.2"
Migrated from [SEC-3129](https://jira.spring.io/browse/SEC-3129?redirect=false)

[2015-10-22 20:41] spring-issuemaster opened #3329 "SEC-3130: PathVariableSecurityEvaluationContextPostProcessor fails with different case"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3130](https://jira.spring.io/browse/SEC-3130?redirect=false)) said:

If we pass in a URL that contains upper case, PathVariableSecurityEvaluationContextPostProcessor fails with message like:

[code]

[2015-10-22 21:49] spring-projects-issues opened #3330 "SEC-3131: JdbcMutableAclService can be very slow to update ACLs with many children, grandchildren etc"
[Simon van der Sluis](https://jira.spring.io/secure/ViewProfile.jspa?name=simon.vandersluis@edmi.co.nz) (Migrated from [SEC-3131](https://jira.spring.io/browse/SEC-3131?redirect=false)) said:

The JdbcMutableAclService method public MutableAcl updateAcl(MutableAcl acl)
calls clearCacheIncludingChildren(ObjectIdentity objectIdentity), which recursively works it's way through all of an ObjectIdentit

[2015-10-23 15:24] spring-projects-issues opened #3331 "SEC-3132: securityBuilder cannot be null"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3132](https://jira.spring.io/browse/SEC-3132?redirect=false)) said:

If a custom SecurityConfigurerAdapter tries to apply additional SecurityConfigurerAdapter, then it will cause the following error

[code]

[2015-10-23 15:24] rwinch opened #3676 "SEC-3132: securityBuilder cannot be null"
Backported https://github.com/spring-projects/spring-security/issues/3331

[2015-10-23 15:24] rwinch opened #3677 "SEC-3132: securityBuilder cannot be null"
Backported https://github.com/spring-projects/spring-security/issues/3331

[2015-10-26 09:59] spring-projects-issues opened #3332 "SEC-3133: Documentation does not match code example for formLogin example"
[Robert Hunt](https://jira.spring.io/secure/ViewProfile.jspa?name=roberthunt87@gmail.com) (Migrated from [SEC-3133](https://jira.spring.io/browse/SEC-3133?redirect=false)) said:

Section 10.3.1 of the Spring security documentation (Testing Form Based Authentication) states:

_We can also customize the parameters names that the username and password are included on. For example, this is the above r

[2015-10-26 09:59] rwinch opened #3678 "SEC-3133: Documentation does not match code example for formLogin example"
Backported https://github.com/spring-projects/spring-security/issues/3332

[2015-10-26 22:03] #3239 closed, assigned to rwinch

[2015-10-26 22:03] #3621 closed, assigned to rwinch

[2015-10-27 03:36] #2803 closed, assigned to rwinch

[2015-10-27 03:55] #3037 closed, assigned to rwinch

[2015-10-27 03:57] #3278 closed, assigned to rwinch

[2015-10-27 15:04] spring-issuemaster opened #3333 "SEC-3134: Consider Moving to Github Issues"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3134](https://jira.spring.io/browse/SEC-3134?redirect=false)) said:

Github issues does have limitations (i.e. only single fix version). However, we should consider moving to Github Issues to increase collaboration. For this to work we would need a good migration script from JIRA to Github.

[2015-10-27 15:15] #3262 closed, assigned to rwinch

[2015-10-27 17:44] spring-projects-issues opened #3334 "SEC-3135: authorizeRequests().antMatchers(<any-method>).authenticated() fails"
[Abhijit Sarkar](https://jira.spring.io/secure/ViewProfile.jspa?name=asarkar) (Migrated from [SEC-3135](https://jira.spring.io/browse/SEC-3135?redirect=false)) said:

When chaining ant matchers, the last one needs a URL pattern else it throws exception.

[code]

[2015-10-27 17:44] rwinch opened #3629 "SEC-3135: authorizeRequests().antMatchers(<any-method>).authenticated() fails"
Backported https://github.com/spring-projects/spring-security/issues/3334

[2015-10-27 17:44] rwinch opened #3679 "SEC-3135: authorizeRequests().antMatchers(<any-method>).authenticated() fails"
Backported https://github.com/spring-projects/spring-security/issues/3334

[2015-10-27 17:44] #2938 closed, assigned to rwinch

[2015-10-27 17:51] spring-projects-issues opened #3335 "SEC-3136: Allow for array Http methods and varargs patterns for Ant matcher"
[Abhijit Sarkar](https://jira.spring.io/secure/ViewProfile.jspa?name=asarkar) (Migrated from [SEC-3136](https://jira.spring.io/browse/SEC-3136?redirect=false)) said:

Often times, the same security requirement applies to multiple Http methods. For example, "any POST, DELETE, PUT or PATCH must only be accessible to the admins, regardless of the URL pattern". The Ant matchers have 2 methods, one tha

[2015-10-27 18:01] #3233 closed, assigned to rwinch

[2015-10-27 19:07] #2597 closed, assigned to rwinch

[2015-10-27 19:59] #2450 closed, assigned to rwinch

[2015-10-28 20:54] spring-projects-issues opened #3336 "SEC-3137: Ensure the 4.0.2 release of spring-security-web includes an OSGi manifest."
[Keith Garry Boyce](https://jira.spring.io/secure/ViewProfile.jspa?name=garpinc) (Migrated from [SEC-3137](https://jira.spring.io/browse/SEC-3137?redirect=false)) said:

Hi.. I'm trying to use spring-security-web in an osgi app via gemini-blueprint. The core and config seem to have the osgi manifest but in spring-security-web it's missing. Can you fix this and any other similar bundles?

[2015-10-29 14:28] #2723 closed, assigned to rwinch

[2015-10-29 15:41] #3336 closed, assigned to rwinch

[2015-10-29 16:33] #3231 closed, assigned to rwinch

[2015-10-29 16:33] #3261 closed, assigned to rwinch

[2015-10-29 21:31] #3237 closed, assigned to rwinch

[2015-10-29 21:33] #3146 closed, assigned to rwinch

[2015-10-30 14:14] spring-issuemaster opened #3337 "SEC-3138: Improve / fix JavaDoc for AbstractAuthenticationFilterConfigurer.defaultSuccessUrl(String)"
[Oliver Gierke](https://jira.spring.io/secure/ViewProfile.jspa?name=olivergierke) (Migrated from [SEC-3138](https://jira.spring.io/browse/SEC-3138?redirect=false)) said:

`AbstractAuthenticationFilterConfigurer.defaultSuccessUrl(String)` currently states it's a shortcut for a call to itself. I assume it's supposed to be a shortcut for `defaultSuccessUrl(String, boolean)`.

Also it would be great t

[2015-10-30 21:32] #2417 closed, assigned to rwinch

[2015-10-30 21:32] #2458 closed, assigned to rwinch

[2015-10-30 21:32] #2736 closed, assigned to rwinch

[2015-10-30 21:32] #3270 closed, assigned to rwinch

[2015-10-30 21:32] #3310 closed, assigned to rwinch

[2015-10-30 21:32] #3319 closed, assigned to rwinch

[2015-10-30 21:32] #3324 closed, assigned to rwinch

[2015-10-30 21:32] #3326 closed, assigned to rwinch

[2015-10-30 21:32] #3328 closed, assigned to rwinch

[2015-10-30 21:32] #3331 closed, assigned to rwinch

[2015-10-30 21:32] #3564 closed, assigned to rwinch

[2015-10-30 21:32] #3565 closed, assigned to rwinch

[2015-10-30 21:32] #3576 closed, assigned to rwinch

[2015-10-30 21:32] #3577 closed, assigned to rwinch

[2015-10-30 21:32] #3669 closed, assigned to rwinch

[2015-10-30 21:32] #3670 closed, assigned to rwinch

[2015-10-30 21:32] #3673 closed, assigned to rwinch

[2015-10-30 21:32] #3674 closed, assigned to rwinch

[2015-10-30 21:32] #3676 closed, assigned to rwinch

[2015-10-30 21:32] #3677 closed, assigned to rwinch

[2015-10-30 21:32] #3071 closed, assigned to rwinch

[2015-10-30 21:32] #3149 closed, assigned to rwinch

[2015-10-30 21:32] #3257 closed, assigned to rwinch

[2015-10-30 21:32] #3259 closed, assigned to rwinch

[2015-10-30 21:32] #3260 closed, assigned to rwinch

[2015-10-30 21:32] #3273 closed, assigned to rwinch

[2015-10-30 21:32] #3287 closed, assigned to rwinch

[2015-10-30 21:32] #3311 closed, assigned to rwinch

[2015-10-30 21:32] #3327 closed, assigned to rwinch

[2015-10-30 21:32] #3332 closed, assigned to rwinch

[2015-10-30 21:32] #3622 closed, assigned to rwinch

[2015-10-30 21:32] #3624 closed, assigned to rwinch

[2015-10-30 21:32] #3625 closed, assigned to rwinch

[2015-10-30 21:32] #3626 closed, assigned to rwinch

[2015-10-30 21:32] #3627 closed, assigned to rwinch

[2015-10-30 21:32] #3648 closed, assigned to rwinch

[2015-10-30 21:32] #3649 closed, assigned to rwinch

[2015-10-30 21:32] #3664 closed, assigned to rwinch

[2015-10-30 21:32] #3667 closed, assigned to rwinch

[2015-10-30 21:32] #3668 closed, assigned to rwinch

[2015-10-30 21:32] #3671 closed, assigned to rwinch

[2015-10-30 21:32] #3672 closed, assigned to rwinch

[2015-10-30 21:32] #3675 closed, assigned to rwinch

[2015-10-30 21:32] #3678 closed, assigned to rwinch

[2015-10-30 22:00] spring-projects-issues opened #3338 "SEC-3139: Anonymous authentication token not passed to Controller"
[James Garrison](https://jira.spring.io/secure/ViewProfile.jspa?name=jhgarrison) (Migrated from [SEC-3139](https://jira.spring.io/browse/SEC-3139?redirect=false)) said:

Consider the following RequestMapping in a SpringMVC controller:

[code]

I got this (use of an `Authentication` controller parameter) from [here](http://www.baeldung.com/get-user-in-spring-security).

If the user is "really" auth

[2015-10-31 01:45] #3334 closed, assigned to rwinch

[2015-10-31 01:45] #3629 closed, assigned to rwinch

[2015-10-31 01:45] #3679 closed, assigned to rwinch

[2015-10-31 13:21] spring-projects-issues opened #3340 "SEC-3140: A user with an expired session can send messages throught websocket"
[Danilkovich Denis](https://jira.spring.io/secure/ViewProfile.jspa?name=danilychen) (Migrated from [SEC-3140](https://jira.spring.io/browse/SEC-3140?redirect=false)) said:

In my application I have an websocket-based chat. And only authenticated users cat post messages. My spring-security config is below

[code]

and when in my admin consloe I make user session expired:

[code]

user can send any

[2015-11-02 14:36] spring-projects-issues opened #3339 "SEC-3141: Spring Boot Actuate: setting all endpoints as sensitive makes all accessible"
[Benjamin Cody](https://jira.spring.io/secure/ViewProfile.jspa?name=ben.cody@gmail.com) (Migrated from [SEC-3141](https://jira.spring.io/browse/SEC-3141?redirect=false)) said:

I've set up a Spring Boot project and added the Actuator dependency, so that I can make use of the monitoring functionality.

Per default, all endpoints except 2 (health and info) are sensitive (http://docs.spring.io/spring

[2015-11-02 15:58] #3339 closed, assigned to rwinch

[2015-11-06 15:33] spring-issuemaster opened #3342 "SEC-3142: Docs: Migrating from Spring Security 3.x to 4.x"
[Mateus Antunes Braga](https://jira.spring.io/secure/ViewProfile.jspa?name=mateusbraga) (Migrated from [SEC-3142](https://jira.spring.io/browse/SEC-3142?redirect=false)) said:

The Migrating from Spring Security 3.x to 4.x page fails to say that the default value of the logout-success-url attribute of <logout> changed from "/" to <form-login-login-page>/?logout.

Compare
http://docs.spring.io/spri

[2015-11-10 12:07] spring-issuemaster opened #3341 "SEC-3143: SessionManagementConfigurer does not allow to customize the default sessionAuthenticationStrategy"
[Diego Díez Ricondo](https://jira.spring.io/secure/ViewProfile.jspa?name=didiez) (Migrated from [SEC-3143](https://jira.spring.io/browse/SEC-3143?redirect=false)) said:

The SessionManagementConfigurer doesn't allow to customize the default sessionAuthenticationStrategy due to a typo in the following method:

[code]

Where it says:
[code]
it must be
[code]

[2015-11-10 13:54] spring-issuemaster opened #3343 "SEC-3144: NullPointerException when no SecurityFilterChain matches in WebTestUtils"
[Thibault Kruse](https://jira.spring.io/secure/ViewProfile.jspa?name=tkruse) (Migrated from [SEC-3144](https://jira.spring.io/browse/SEC-3144?redirect=false)) said:

In WebTestUtils, around line 118:
[code]
throws NPE if "filters" is null (as in my case).

[2015-11-10 15:45] spring-projects-issues opened #3344 "SEC-3145: @AuthenticationPrincipal and @EnableWebSecurity do no inject authenticated User in RestController"
[Rémi Doolaeghe](https://jira.spring.io/secure/ViewProfile.jspa?name=r%C3%A9mi%20doolaeghe) (Migrated from [SEC-3145](https://jira.spring.io/browse/SEC-3145?redirect=false)) said:

When a user is logged using Spring Security default mechanism (UserDetailsService, SecurityContextHolder...),
Then the authenticated user should normally be injectable directly in a REST controller method using annotati

[2015-11-11 21:56] spring-issuemaster opened #3346 "SEC-3146: @WithUserDetails should have attribute "bean""
[Joseph](https://jira.spring.io/secure/ViewProfile.jspa?name=fawzyj) (Migrated from [SEC-3146](https://jira.spring.io/browse/SEC-3146?redirect=false)) said:

@WithUserDetails test annotation should add an attribute to specify which UserDetailsService bean to use in case multiple beans of the same type defined.

In my case, I have an application with a rest API, I use 2 UserDetailsService implement

[2015-11-12 17:46] #3344 closed, assigned to rwinch

[2015-11-12 18:00] spring-projects-issues opened #3347 "SEC-3147: Include the error parameter into authentication-failure-url when login-page is customized"
[Kazuki Shimizu](https://jira.spring.io/secure/ViewProfile.jspa?name=kazuki43zoo) (Migrated from [SEC-3147](https://jira.spring.io/browse/SEC-3147?redirect=false)) said:

If XML Config used, parameter that indicate error does not include into `authentication-failure-url`.

_[XML Config]_
- login-page : /loginForm
- authentication-failure-url : /loginForm

_[Java Config]_
- login-page : /loginForm

[2015-11-12 18:00] rwinch opened #3680 "SEC-3147: Include the error parameter into authentication-failure-url when login-page is customized"
Backported https://github.com/spring-projects/spring-security/issues/3347

[2015-11-12 18:00] rwinch opened #3681 "SEC-3147: Include the error parameter into authentication-failure-url when login-page is customized"
Backported https://github.com/spring-projects/spring-security/issues/3347

[2015-11-12 19:43] spring-issuemaster opened #3348 "SEC-3148: Remove Unnecessary code from WebSecurityConfiguration"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3148](https://jira.spring.io/browse/SEC-3148?redirect=false)) said:

There is [code](https://github.com/spring-projects/spring-security/blob/4.0.3.RELEASE/config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfiguration.java#L209-L225) that is no longer necessar

[2015-11-12 20:19] spring-projects-issues opened #3351 "SEC-3149: Remember Me cookie name should be SPRING_SECURITY_REMEMBER_ME_COOKIE"
Migrated from [SEC-3149](https://jira.spring.io/browse/SEC-3149?redirect=false)

[2015-11-12 20:23] #3351 closed, assigned to rwinch

[2015-11-12 21:40] spring-projects-issues opened #3353 "SEC-3150: Escape ' character in messages_fr.properties"
Migrated from [SEC-3150](https://jira.spring.io/browse/SEC-3150?redirect=false)

[2015-11-12 21:40] rwinch opened #3682 "SEC-3150: Escape ' character in messages_fr.properties"
Backported https://github.com/spring-projects/spring-security/issues/3353

[2015-11-12 21:42] #3347 closed, assigned to rwinch

[2015-11-12 21:42] #3680 closed, assigned to rwinch

[2015-11-12 21:42] #3681 closed, assigned to rwinch

[2015-11-12 21:45] #3353 closed, assigned to rwinch

[2015-11-12 21:45] #3682 closed, assigned to rwinch

[2015-11-12 22:03] spring-projects-issues opened #3360 "SEC-3151: Polish Documentation"
Migrated from [SEC-3151](https://jira.spring.io/browse/SEC-3151?redirect=false)

[2015-11-12 22:04] #3360 closed, assigned to rwinch

[2015-11-12 22:20] spring-projects-issues opened #3362 "SEC-3152: Add @Retention to @WithMockCustomUser Documentation"
Migrated from [SEC-3152](https://jira.spring.io/browse/SEC-3152?redirect=false)

[2015-11-12 22:20] rwinch opened #3631 "SEC-3152: Add @Retention to @WithMockCustomUser Documentation"
Backported https://github.com/spring-projects/spring-security/issues/3362

[2015-11-12 22:22] #3362 closed, assigned to rwinch

[2015-11-12 22:22] #3631 closed, assigned to rwinch

[2015-11-13 07:46] spring-issuemaster opened #3363 "SEC-3153: Disable SessionAuthenticationStrategy when specified stateless on session creation policy"
[Kazuki Shimizu](https://jira.spring.io/secure/ViewProfile.jspa?name=kazuki43zoo) (Migrated from [SEC-3153](https://jira.spring.io/browse/SEC-3153?redirect=false)) said:

I specify a stateless on session creation policy using Java Config. However, session strategy for session fixation protection is enabled. (`ChangeSessionIdAuthenticationStrategy` is called when login succeeded on Servlet 3.1 envi

[2015-11-16 15:09] spring-issuemaster opened #3364 "SEC-3154: Repeated "Skip invoking on" logs with no content"
[Dave Syer](https://jira.spring.io/secure/ViewProfile.jspa?name=david_syer) (Migrated from [SEC-3154](https://jira.spring.io/browse/SEC-3154?redirect=false)) said:

When I log onto a failry vanilla Boot app with DEBUG logging on I get a large number of these log entries:

[code]

with no further information. One would be enough, or else some more information to see what is being skipped, assuming

[2015-11-16 15:09] rwinch opened #3683 "SEC-3154: Repeated "Skip invoking on" logs with no content"
Backported https://github.com/spring-projects/spring-security/issues/3364

[2015-11-17 22:15] spring-issuemaster opened #3365 "SEC-3155: Outdated JavaDoc for the requestMatchers() method in HttpSecurity"
[Jacques Etienne Beaudet](https://jira.spring.io/secure/ViewProfile.jspa?name=jebeaudet) (Migrated from [SEC-3155](https://jira.spring.io/browse/SEC-3155?redirect=false)) said:

The JavaDoc for `HttpSecurity` method `requestMatchers()` says :
bq. Invoking requestMatchers() will override previous invocations of requestMatchers(), antMatcher(String), regexMatcher(String), and requestMatcher(RequestM

[2015-11-18 20:37] spring-projects-issues opened #3366 "SEC-3156: Cannot replace a standard filter"
[Keith Garry Boyce](https://jira.spring.io/secure/ViewProfile.jspa?name=garpinc) (Migrated from [SEC-3156](https://jira.spring.io/browse/SEC-3156?redirect=false)) said:

It says here that a filter can be replaced.
position The explicit position at which the custom-filter should be placed in the chain. _Use if you are replacing a standard filter._

Then here is says:

I have a use case where I want

[2015-11-18 22:12] #1643 closed, assigned to nobody

[2015-11-19 00:01] spring-projects-issues opened #3367 "SEC-3157: deleteEntries in updateAcl causing deadlocks with concurrent updates"
[Eric Henry](https://jira.spring.io/secure/ViewProfile.jspa?name=eric.henry) (Migrated from [SEC-3157](https://jira.spring.io/browse/SEC-3157?redirect=false)) said:

When running project integration tests concurrently, I'm seeing a lot of DeadlockLoserDataAccessExceptions. After a good amount of research I came across [this StackOverflow answer](http://stackoverflow.com/a/23619671).

Using the Jdb

[2015-11-19 08:59] spring-projects-issues opened #3368 "SEC-3158: findRequiredWebApplicationContext requires Spring 4.2.x"
[Burkhard Graves](https://jira.spring.io/secure/ViewProfile.jspa?name=dhukas) (Migrated from [SEC-3158](https://jira.spring.io/browse/SEC-3158?redirect=false)) said:

Inside [AbstractAuthorizeTag](https://github.com/spring-projects/spring-security/blob/4.0.3.RELEASE/taglibs/src/main/java/org/springframework/security/taglibs/authz/AbstractAuthorizeTag.java) the static method [SecurityWebApplication

[2015-11-19 08:59] rwinch opened #3684 "SEC-3158: findRequiredWebApplicationContext requires Spring 4.2.x"
Backported https://github.com/spring-projects/spring-security/issues/3368

[2015-11-22 00:38] spring-projects-issues opened #3369 "SEC-3159: Java doc inaccurate on HttpSecurity#headers"
Migrated from [SEC-3159](https://jira.spring.io/browse/SEC-3159?redirect=false)

[2015-11-23 15:51] spring-projects-issues opened #3370 "SEC-3160: Invalid HTTP verb throws 500 not 400"
[Kris](https://jira.spring.io/secure/ViewProfile.jspa?name=krism) (Migrated from [SEC-3160](https://jira.spring.io/browse/SEC-3160?redirect=false)) said:

Had a few cases of a bad client request which doesn't match a valid HTTP verb, i would expect this to be returned as a 400 Bad Request, instead our access log showed as a 500.

[code]

[2015-11-25 15:21] #1414 closed, assigned to nobody

[2015-11-25 15:22] spring-issuemaster opened #3371 "SEC-3161: InvalidSessionStrategy Not Configurable From Security Config"
[Alper Kanat](https://jira.spring.io/secure/ViewProfile.jspa?name=alperkanat) (Migrated from [SEC-3161](https://jira.spring.io/browse/SEC-3161?redirect=false)) said:

Hi,

I have a security configuration defined like below. It seems like InvalidSessionStrategy isn't configurable by using the configure(final HttpSecurity http) method in WebSecurityConfigurerAdapter.

I tried manually defining a bea

[2015-11-29 02:48] spring-projects-issues opened #3372 "SEC-3162: Migration Guide postProcessBeforeInitialization listed twice"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3162](https://jira.spring.io/browse/SEC-3162?redirect=false)) said:

The method `postProcessBeforeInitialization` is listed twice in the migration guide.

[2015-11-29 02:52] #3372 closed, assigned to rwinch

[2015-11-29 02:57] #3054 closed, assigned to rwinch

[2015-11-29 02:57] #3370 closed, assigned to rwinch

[2015-11-29 02:57] #3646 closed, assigned to rwinch

[2015-11-29 03:00] #3369 closed, assigned to rwinch

[2015-11-29 03:08] #2984 closed, assigned to rwinch

[2015-11-29 13:50] spring-projects-issues opened #3345 "SEC-3163: SessionFixationProtectionStrategy. When migrateSessionAttributes = false retains attributes with SPRING_SECURITY_ prefix"
[Krzysztof Szymko](https://jira.spring.io/secure/ViewProfile.jspa?name=kszymko) (Migrated from [SEC-3163](https://jira.spring.io/browse/SEC-3163?redirect=false)) said:

When springsecurity.sessionFixationPrevention.migrate = false, we do not want to copy the session attributes of the existing session to the new session after login.

Existing code allowed to copy SPRING_SECURITY_SAVED_REQUEST attri

[2015-12-01 07:18] spring-projects-issues opened #3373 "SEC-3164: Optimize DefaultRequiresCsrfMatcher"
[Alex Panchenko](https://jira.spring.io/secure/ViewProfile.jspa?name=apanchenko) (Migrated from [SEC-3164](https://jira.spring.io/browse/SEC-3164?redirect=false)) said:
1. Currently DefaultRequiresCsrfMatcher unnecessary uses regular expressions.
2. CsrfFilter#requireCsrfProtectionMatcher is initialized with a new instance, despite the already declared constant

[2015-12-01 15:28] spring-projects-issues opened #3374 "SEC-3165: Get domain object instance based on runtime class in voters"
[Olivier Ailloud](https://jira.spring.io/secure/ViewProfile.jspa?name=oailloud) (Migrated from [SEC-3165](https://jira.spring.io/browse/SEC-3165?redirect=false)) said:

The method `getDomainObjectInstance` in `AbstractAclVoter` loops through the parameters and looks for any parameter whose +declared+ class is assignable from the processDomainObjectClass.
But when the parameter's type is an interfa

[2015-12-02 20:10] #3373 closed, assigned to rwinch

[2015-12-03 17:37] spring-issuemaster opened #3375 "SEC-3166: If the argument requestMap to ExpressionBasedFilterInvocationSecurityMetadataSource is modified after the object is constructed then those changes don't take effect"
[Keith Garry Boyce](https://jira.spring.io/secure/ViewProfile.jspa?name=garpinc) (Migrated from [SEC-3166](https://jira.spring.io/browse/SEC-3166?redirect=false)) said:

I am dynamically building up the intercept-urls and I was modifying the requestMap as new servlets came online. and this was working fine for org.springframework.security.web.access.intercept.DefaultFilterInvocationSecurityMetadat

[2015-12-04 04:17] #3368 closed, assigned to rwinch

[2015-12-04 04:17] #3684 closed, assigned to rwinch

[2015-12-04 09:41] spring-projects-issues opened #3376 "SEC-3167: SessionManagementConfigurer does not allow to override the default sessionAuthenticationStrategy when maximumSession is used"
[Etienne Dethoor](https://jira.spring.io/secure/ViewProfile.jspa?name=etienne.dethoor@gmail.com) (Migrated from [SEC-3167](https://jira.spring.io/browse/SEC-3167?redirect=false)) said:

The `sessionManagementConfigurer` doesn't allow to override the default `sessionAuthenticationStrategy` when the `maximumSessions` is used.

In my Boot Application, i use this configuration for the security :

[cod

[2015-12-04 16:50] #3376 closed, assigned to rwinch

[2015-12-08 15:10] spring-projects-issues opened #3377 "SEC-3168: Support Custom InvalidSessionStrategy"
Migrated from [SEC-3168](https://jira.spring.io/browse/SEC-3168?redirect=false)

[2015-12-08 15:21] #3377 closed, assigned to rwinch

[2015-12-08 15:39] #3345 closed, assigned to rwinch

[2015-12-09 15:20] #3264 closed, assigned to rwinch

[2015-12-09 15:20] #3666 closed, assigned to rwinch

[2015-12-11 16:07] #3263 closed, assigned to rwinch

[2015-12-11 16:07] #3665 closed, assigned to rwinch

[2015-12-11 21:02] spring-issuemaster opened #3378 "SEC-3169: Security context is propagated but not cloned in @Async methods"
[Mathieu Lachance](https://jira.spring.io/secure/ViewProfile.jspa?name=matlach) (Migrated from [SEC-3169](https://jira.spring.io/browse/SEC-3169?redirect=false)) said:

In Wildfly with Java EE, whenever you run an asynchronous task using @Asynchronous, the security context is getting cloned and then pushed to the new async thread.
see bug:
https://issues.jboss.org/browse/WFLY-2016
and commit:
http

[2015-12-14 15:45] spring-projects-issues opened #3379 "SEC-3170: Custom RememberMeServices that does not implement LogoutHandler fails"
[Nikos Kastamoulas](https://jira.spring.io/secure/ViewProfile.jspa?name=nikosk) (Migrated from [SEC-3170](https://jira.spring.io/browse/SEC-3170?redirect=false)) said:

_the issue_

When your RememberMe service does not implement LogoutHandler the RememberMeConfigurer sets a null logout handler [RememberMeConfigurer:287](https://github.com/spring-projects/spring-security/blob/master/config/src/mai

[2015-12-15 08:42] spring-issuemaster opened #3380 "SEC-3171: Provide more information when reporting a duplicate WebSecurityConfigurer ordering"
[Andy Wilkinson](https://jira.spring.io/secure/ViewProfile.jspa?name=awilkinson) (Migrated from [SEC-3171](https://jira.spring.io/browse/SEC-3171?redirect=false)) said:

When a duplicate WebSecurityConfigurer order is detected, an exception like the following is thrown:

[code]

If possible, it would be helpful for the message to describe both WebSecurityConfigurers that are involved, not just the

[2015-12-15 09:59] spring-projects-issues opened #3381 "SEC-3172: POSTing /logout while session expired been blocked by CSRF Filter"
[Pei-Tang Huang](https://jira.spring.io/secure/ViewProfile.jspa?name=tan9) (Migrated from [SEC-3172](https://jira.spring.io/browse/SEC-3172?redirect=false)) said:

While session is expired, user click the logout button (which invokes form POST) will get following message:

Rather than been redirected to login page. What is the best practice to workaround it and keep /logout page as secure as possi

[2015-12-15 15:14] spring-projects-issues opened #3382 "SEC-3173: Update to cas-client-3.4.1"
Migrated from [SEC-3173](https://jira.spring.io/browse/SEC-3173?redirect=false)

[2015-12-15 15:55] #3379 closed, assigned to rwinch

[2015-12-16 03:10] #3382 closed, assigned to rwinch

[2015-12-16 15:49] spring-projects-issues opened #3383 "SEC-3174: Combine Spring Security Test and MockMVC throws IllegalStateException"
[Rémi Doolaeghe](https://jira.spring.io/secure/ViewProfile.jspa?name=r%C3%A9mi%20doolaeghe) (Migrated from [SEC-3174](https://jira.spring.io/browse/SEC-3174?redirect=false)) said:

I try to write a unit test for a controller in Spring MVC, involving Spring Security. For isolation purpose, I need to mock the service present in a Rest controller.

To do this, I use this piece of code:

[code]

This

[2015-12-16 16:50] #3383 closed, assigned to rwinch

[2015-12-16 21:40] spring-issuemaster opened #3384 "SEC-3175: Migrate to AssertJ"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3175](https://jira.spring.io/browse/SEC-3175?redirect=false)) said:

We should migrate fest assert, JUnit, and Hamcrest assertions to AssertJ

[2015-12-17 00:43] spring-projects-issues opened #3385 "SEC-3176: Spring-Security Circular Reference issue"
[Ninad Divadkar](https://jira.spring.io/secure/ViewProfile.jspa?name=nsdiv@hotmail.com) (Migrated from [SEC-3176](https://jira.spring.io/browse/SEC-3176?redirect=false)) said:

when I disallow circularReferences in the project, Spring-security throws an exception.
Here is how I start up the application

{{ConfigurableApplicationContext ctx = new SpringApplicationBuilder(Application.class)

[2015-12-18 09:55] spring-projects-issues opened #3349 "SEC-3177: Ability to intercept/handle messages sent to forbidden STOMP queues"
[Alex](https://jira.spring.io/secure/ViewProfile.jspa?name=dusty) (Migrated from [SEC-3177](https://jira.spring.io/browse/SEC-3177?redirect=false)) said:

If I enable websocket and message broker security and a client send a messages to a queue where he has no access the server logs a big error of this kind with the whole stack trace (internal to spring security):

[code]

I don't want to log all

[2015-12-21 20:50] spring-projects-issues opened #3350 "SEC-3178: Update to junit-4.12"
Migrated from [SEC-3178](https://jira.spring.io/browse/SEC-3178?redirect=false)

[2015-12-21 21:01] #2988 closed, assigned to rwinch

[2015-12-21 21:22] spring-projects-issues opened #3386 "SEC-3179: Set Explicit Spring IO Version"
Migrated from [SEC-3179](https://jira.spring.io/browse/SEC-3179?redirect=false)

[2015-12-21 22:14] spring-issuemaster opened #3387 "SEC-3180: Migrate off of JUnit 3"
Migrated from [SEC-3180](https://jira.spring.io/browse/SEC-3180?redirect=false)

[2015-12-21 22:46] #3386 closed, assigned to rwinch

[2015-12-21 22:46] #3350 closed, assigned to rwinch

[2015-12-21 23:22] spring-projects-issues opened #3388 "SEC-3181: Fix Reference Document Formatting"
[Rob Winch](https://jira.spring.io/secure/ViewProfile.jspa?name=rwinch) (Migrated from [SEC-3181](https://jira.spring.io/browse/SEC-3181?redirect=false)) said:

The code ticks was broken.

It looked like this
Authentication"request" object is built and then presented to theAuthenticationManager`.

Now fixed to
Authentication "request" object is built and then presented to the AuthenticationManager

[2015-12-21 23:23] #3388 closed, assigned to rwinch

[2015-12-22 00:40] spring-projects-issues opened #3352 "SEC-3182: Inspect redirected URLs through the filter chain"
[Takuya Iwatsuka](https://jira.spring.io/secure/ViewProfile.jspa?name=iwatsuka) (Migrated from [SEC-3182](https://jira.spring.io/browse/SEC-3182?redirect=false)) said:

We have a request for a new feature.
Briefly, it is that whenever redirected by applications, the target URLs are checked through the filter chain.

We use a custom AuthenticationHandler to achieve the requirements below.
- specify

[2015-12-30 16:00] #3381 closed, assigned to rwinch

[2015-12-30 17:55] spring-issuemaster opened #3389 "SEC-3183: Add AuthenticationSuccessHandler support to AbstractPreAuthenticatedProcessingFilter"
[Tomoyuki Ikeya](https://jira.spring.io/secure/ViewProfile.jspa?name=ikeyat) (Migrated from [SEC-3183](https://jira.spring.io/browse/SEC-3183?redirect=false)) said:

`AbstractPreAuthenticatedProcessingFilter` is useful to support SSO authentication that add principals in HTTP header.
It has authentication success handler method `successfulAuthentication()` and triggers `InteractiveAuthenticationSu

[2015-12-30 21:42] spring-projects-issues opened #3390 "SEC-3184: PersistentTokenBasedRememberMeServices.logout doesn't work properly with SessionCreationPolicy.STATELESS"
[Scott Albertine](https://jira.spring.io/secure/ViewProfile.jspa?name=scott.albertine) (Migrated from [SEC-3184](https://jira.spring.io/browse/SEC-3184?redirect=false)) said:

In the PersistentTokenBasedRememberMeServices.logout method, there's a clause that (as it should) deletes all persisted tokens for the current user, assuming we know who the current user is.  This is great!  However, in my a

[2015-12-31 10:25] spring-issuemaster opened #3354 "SEC-3185: Broken Link in Reference Doc"
[Abhijit Sarkar](https://jira.spring.io/secure/ViewProfile.jspa?name=asarkar) (Migrated from [SEC-3185](https://jira.spring.io/browse/SEC-3185?redirect=false)) said:

The link to the blog article for creating a custom decision voter is broken.

Doc page: https://docs.spring.io/spring-security/site/docs/current/reference/html/authz-arch.html

Section: Custom Voters

Broken Link: http://blog.springs

[2015-12-31 10:48] spring-projects-issues opened #3391 "SEC-3186: Clear SavedRequest when user accesses unsecured page"
[Lukas Makor](https://jira.spring.io/secure/ViewProfile.jspa?name=admiral18) (Migrated from [SEC-3186](https://jira.spring.io/browse/SEC-3186?redirect=false)) said:

When a user tries to access a page which is only allowed for authorized users, the user is redirected to the login page and the original request is saved in the HttpRequestCache.
However when the user then accesses a public page the s

[2016-01-03 17:34] spring-projects-issues opened #3392 "SEC-3187: LdapUserDetailsManager password change with LDAP operation (RFC 3062)"
[Mark Janssen](https://jira.spring.io/secure/ViewProfile.jspa?name=praseodym) (Migrated from [SEC-3187](https://jira.spring.io/browse/SEC-3187?redirect=false)) said:

Currently the [LdapUserDetailsManager changePassword method](https://github.com/spring-projects/spring-security/blob/1f32e96d31c6a149e480ebdb5ce0274889877995/ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDe

[2016-01-05 19:16] spring-issuemaster opened #3393 "SEC-3188: Clearly document the configurers of WebSecurityConfigurerAdapter"
[Abhijit Sarkar](https://jira.spring.io/secure/ViewProfile.jspa?name=asarkar) (Migrated from [SEC-3188](https://jira.spring.io/browse/SEC-3188?redirect=false)) said:

There is no documentation of how the various configurers of `WebSecurityConfigurerAdapter` work together. You get a different configurer if you use `and()` than if you keep chaining with `.`. The Spring doc still uses examples using

[2016-01-11 14:25] spring-issuemaster opened #3355 "SEC-3190: RememberMe cookies cant handle username containing colon (":")"
[Jeremy Waters](https://jira.spring.io/secure/ViewProfile.jspa?name=jaffadog) (Migrated from [SEC-3190](https://jira.spring.io/browse/SEC-3190?redirect=false)) said:

I have confirmed this issue with TokenBasedRememberMeServices.  The remember me cookie is a string of the form:

username + ":" + expiryTime + ":" + Md5Hex(username + ":" + expiryTime + ":" + password + ":" + key)

This is 3 tokens s

[2016-01-12 09:47] spring-projects-issues opened #3395 "SEC-3191: Allow AuthenticationProviders to determine if Authentication instances are supported"
[Jean-Pierre Bergamin](https://jira.spring.io/secure/ViewProfile.jspa?name=ractive) (Migrated from [SEC-3191](https://jira.spring.io/browse/SEC-3191?redirect=false)) said:

The `AuthenticationProvider` interface has the `boolean supports(Class<?> authentication)` method to let the provider decide if it supports an specific type of Authentication. Let the provider also decide if it supports a speci

[2016-01-14 01:31] spring-issuemaster opened #3396 "SEC-3192: HSTS preload token"
[Oleksandr Golonzovskyi](https://jira.spring.io/secure/ViewProfile.jspa?name=golonzovsky) (Migrated from [SEC-3192](https://jira.spring.io/browse/SEC-3192?redirect=false)) said:

HSTS header provide agent with a hint to use SSL for specific domain. However first access to a specific domain is a potential attack surface. Predefined list is maintained by Chrome and used by other browsers to avoid th

[2016-01-17 08:07] spring-projects-issues opened #3397 "SEC-3194: AbstractSecurityWebApplicationInitializer don't have way to customize url mappings"
[Artur](https://jira.spring.io/secure/ViewProfile.jspa?name=artur-yolchyan) (Migrated from [SEC-3194](https://jira.spring.io/browse/SEC-3194?redirect=false)) said:

AbstractSecurityWebApplicationInitializer don't have way to customize url mappings, if there will be one abstract method which will return the url, so it always not do filter on '/*'

[2016-01-17 20:10] spring-projects-issues opened #3356 "SEC-3195: Authentication Entry point in case of JS clients ignores authException details"
[Muhammad](https://jira.spring.io/secure/ViewProfile.jspa?name=mhewedy) (Migrated from [SEC-3195](https://jira.spring.io/browse/SEC-3195?redirect=false)) said:

In the `HttpBasicConfigurer#HttpBasicConfigurer` contractor, spring security set the auth entry point to HttpStatusEntryPoint in case of JS apps.

Why not also send the exception message with 401 code to the client?

IMHO; In most case the

[2016-01-20 11:01] spring-issuemaster opened #3398 "SEC-3196: Broken formatting in chapter 11.1"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3196](https://jira.spring.io/browse/SEC-3196?redirect=false)) said:

See formatting at the at of the chapter:
!broken-formatting.png|thumbnail!

It shouldn't probably look like that.

[2016-01-20 13:15] spring-issuemaster opened #3399 "SEC-3197: Use XML Namespace for PreAuth Sample"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3197](https://jira.spring.io/browse/SEC-3197?redirect=false)) said:

While trying to understand the preauth support in Spring Security, I check the [`preauth-xml`](https://github.com/spring-projects/spring-security/blob/master/samples/preauth-xml/) sample. The provided [`beans.xml`](https://github.c

[2016-01-21 09:00] spring-issuemaster opened #3357 "SEC-3198: SecurityContextHolderAwareRequestWrapper#getRemoteUser ignores Authenticaion#getName"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3198](https://jira.spring.io/browse/SEC-3198?redirect=false)) said:

The public method `getRemoteUser` tries to `return auth.getPrincipal().toString()` but there is no guarantee that the principal which is an arbitrary implementation will acttually return the remote user. The assumption that it does

[2016-01-21 09:10] spring-projects-issues opened #3358 "SEC-3199: security:jee preauthentication and SecurityContextHolderAwareRequestWrapper do not play nice together"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3199](https://jira.spring.io/browse/SEC-3199?redirect=false)) said:

If you have configured to use `security:jee` and likely expect `request#getUserPrincipal` to return the original principal created by your container, you are out of luck.

Preauth implementation completely removes the ability to ac

[2016-01-21 10:19] spring-projects-issues opened #3359 "SEC-3200: Provide a securty:jee-simple element which wraps as little as possible"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3200](https://jira.spring.io/browse/SEC-3200?redirect=false)) said:

Currently the preauth chain wraps information in a `User` objects which defeats the use of the original `request#getUserPrincipal`. It would be helpful if a `security:jee-simple` (mutually exclusive with `security:jee`) would wrap

[2016-01-21 22:23] spring-projects-issues opened #3400 "SEC-3201: JdbcTokenStore logs access token - sensitive info leak"
[Juraj Misur](https://jira.spring.io/secure/ViewProfile.jspa?name=jmisur) (Migrated from [SEC-3201](https://jira.spring.io/browse/SEC-3201?redirect=false)) said:

Using spring-security-oauth2 2.0.8.RELEASE.

JdbcTokenStore logs access token whenever it's not found in database:

[code]

in:
- readAuthenticationForRefreshToken
- readRefreshToken
- readAuthentication
- readAccessToken

When user logs

[2016-01-22 13:51] spring-issuemaster opened #3401 "SEC-3202: Add authentication-success-handler-ref to security:jee"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3202](https://jira.spring.io/browse/SEC-3202?redirect=false)) said:

I have a usecase where the authenticated request from the container needs to be examined and some specific data needs to be written to a database. An `AuthenticationSuccessHandler` is the best approach for this but `security:jee` d

[2016-01-24 11:09] spring-issuemaster opened #3402 "SEC-3203: GlobalMethodSecurityConfiguration typo in autowiring log message"
[Robert Novotny](https://jira.spring.io/secure/ViewProfile.jspa?name=novotnyr) (Migrated from [SEC-3203](https://jira.spring.io/browse/SEC-3203?redirect=false)) said:

GlobalMethodSecurityConfiguration has two typos:

* method `setMethodSecurityExpressionHandler` logs a message "Not autwiring PermissionEvaluator since size != 1". However, there are no PermissionEvaluators involved. Instead, method

[2016-01-25 12:24] spring-projects-issues opened #3403 "SEC-3204: InMemoryUserDetailsManager NullPointerException"
# Updated

We should provide better error messages when an invalid user format is provided
# Original

[Henrik Sachse](https://jira.spring.io/secure/ViewProfile.jspa?name=henrik.sachse) (Migrated from [SEC-3204](https://jira.spring.io/browse/SEC-3204?redirect=false)) said:

The `org.springframework.security.provisioning.InMemoryUserDetailsManager` may throw a `NullPointerException` when an invalid

[2016-01-27 12:24] spring-issuemaster opened #3361 "SEC-3205: Add 'Cache-Control: private' to default security HTTP headers"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3205](https://jira.spring.io/browse/SEC-3205?redirect=false)) said:

Adding `Cache-Control: private` would helpfully indicate for an intermediate (proxy) that this response is intended for a single user only. See reference.

[2016-01-27 12:26] spring-issuemaster opened #3404 "SEC-3206: Having <security:headers defaults-disabled="true" /> only gives unreadible exception"
[Michael Osipov](https://jira.spring.io/secure/ViewProfile.jspa?name=michael-o) (Migrated from [SEC-3206](https://jira.spring.io/browse/SEC-3206?redirect=false)) said:

If you configure `<security:headers defaults-disabled="true" />` only, you get this exception stack:

[code]

This doesn't really help to understand the problem that this element needs at least one nested element.

[2016-01-27 23:22] spring-projects-issues opened #3405 "SEC-3207: Dynamic method execution security"
[Mario Casari](https://jira.spring.io/secure/ViewProfile.jspa?name=mcasari) (Migrated from [SEC-3207](https://jira.spring.io/browse/SEC-3207?redirect=false)) said:

I would like to suggest an improvement that would easily provide an interesting additional facility using only current ACL features. Sometimes there is the need to dynamically secure method execution on a permission rather than on a ro

[2016-01-29 09:11] spring-issuemaster opened #3406 "SEC-3208: Fast Login and Logout is causing an Exception on Wildfly 10"
[cns-web](https://jira.spring.io/secure/ViewProfile.jspa?name=cns-web) (Migrated from [SEC-3208](https://jira.spring.io/browse/SEC-3208?redirect=false)) said:

If i perform a login and a logout immediately after seeing the page again, the following exception happens. If i use JAAS authentication on WF (Without spring security everything is fine.)

[code]

The login is done by using the 'DefaultJaa

[2016-02-01 20:23] spring-projects-issues opened #3407 "SEC-3209: Add Code of Conduct"
Migrated from [SEC-3209](https://jira.spring.io/browse/SEC-3209?redirect=false)

[2016-02-01 20:24] #3407 closed, assigned to rwinch

[2016-02-02 09:22] spring-issuemaster opened #3408 "SEC-3210: Ability to configure remember me cookie domain"
[Adrien SAUVEZ](https://jira.spring.io/secure/ViewProfile.jspa?name=asauvez) (Migrated from [SEC-3210](https://jira.spring.io/browse/SEC-3210?redirect=false)) said:

I have a site with different locale (en.sample.org, fr.sample.org) and I would like to have to global "remember-me" cookie for all of them. If you are logged on one, your are logged on all of them. It work only if the domain of the co

[2016-02-02 11:31] spring-issuemaster opened #3409 "SEC-3211: SecurityContextRequestPostProcessorSupport dirties context and causes side effects"
[Martin Bonato](https://jira.spring.io/secure/ViewProfile.jspa?name=martin.bonato@prime-sign.com) (Migrated from [SEC-3211](https://jira.spring.io/browse/SEC-3211?redirect=false)) said:

Using SecurityMockMvcRequestPostProcessors like `authentication()`, `securityContext()`, `testSecurityContext()`, `user()`, etc. in unit tests might cause side effects on other tests in the same application contex

[2016-02-04 08:33] spring-projects-issues opened #3410 "SEC-3212: Unable to use @PostFilter with Spring Data paging"
[Chen Li](https://jira.spring.io/secure/ViewProfile.jspa?name=richardwy) (Migrated from [SEC-3212](https://jira.spring.io/browse/SEC-3212?redirect=false)) said:

I was trying to authorize apis work with Spring Data JPA. When I try to authorize permission for getting page of entities, it throws the exception: java.lang.IllegalArgumentException: Filter target must be a collection or array type, but

[2016-02-04 15:22] spring-issuemaster opened #3411 "SEC-3213: Please update standard reference about missing default constructor in ConcurrentSessionFilter"
[Mohsen Saboorian](https://jira.spring.io/secure/ViewProfile.jspa?name=mohsens) (Migrated from [SEC-3213](https://jira.spring.io/browse/SEC-3213?redirect=false)) said:

Please update the documentation about missing public constructor in org.springframework.security.web.session.ConcurrentSessionFilter.
Please see:
[http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#sessio

[2016-02-05 07:43] #3410 closed, assigned to rwinch

[2016-02-05 18:43] #262 closed, assigned to nobody

[2016-02-06 04:52] rwinch commented on #1637
This issue duplicates #1616

[2016-02-06 04:52] rwinch commented on #1638
This issue duplicates #1623

[2016-02-06 04:52] rwinch commented on #1628
This issue duplicates #1656

[2016-02-06 04:52] rwinch commented on #1629
This issue duplicates #1382

[2016-02-06 04:52] rwinch commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 04:52] rwinch commented on #1597
This issue duplicates #1578

[2016-02-06 04:52] rwinch commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 04:52] rwinch commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 04:52] rwinch commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 04:52] rwinch commented on #2901
This issue relates to #2814

[2016-02-06 04:52] rwinch commented on #2921
This issue duplicates #2810

[2016-02-06 04:52] rwinch commented on #1579
This issue supersedes #1576

[2016-02-06 04:52] rwinch commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 04:52] rwinch commented on #2888
This issue depends on #2891
This issue depends on #2892

[2016-02-06 04:52] rwinch commented on #2889
This issue depends on #2893
This issue depends on #2894

[2016-02-06 04:52] rwinch commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 04:52] rwinch commented on #3370
This issue duplicates #3054

[2016-02-06 04:52] rwinch commented on #762
This issue depends on #672
This issue duplicates #672

[2016-02-06 04:52] rwinch commented on #765
This issue duplicates #749

[2016-02-06 04:52] rwinch commented on #768
This issue is related to #690

[2016-02-06 04:52] rwinch commented on #770
This issue depends on #862
This issue depends on #819
This issue is related to #533

[2016-02-06 04:52] rwinch commented on #772
This issue is related to #752
This issue is related to #755

[2016-02-06 04:52] rwinch commented on #3377
This issue duplicates #3371

[2016-02-06 04:52] rwinch commented on #789
This issue depends on #976

[2016-02-06 04:52] rwinch commented on #793
This issue depends on #791
This issue depends on #807
This issue depends on #863
This issue depends on #915
This issue depends on #929
This issue depends on #788
This issue depends on #833
This issue depends on #850
This issue depends on #743

[2016-02-06 04:52] rwinch commented on #797
This issue is related to #798

[2016-02-06 04:52] rwinch commented on #802
This issue is related to #745

[2016-02-06 04:52] rwinch commented on #808
This issue relates to #2166

[2016-02-06 04:52] rwinch commented on #812
This issue depends on #811

[2016-02-06 04:52] rwinch commented on #813
This issue is related to #837

[2016-02-06 04:52] rwinch commented on #819
This issue is related to #821
This issue is related to #877

[2016-02-06 04:52] rwinch commented on #822
This issue is related to #655

[2016-02-06 04:52] rwinch commented on #3321
This issue duplicates #3311

[2016-02-06 04:52] rwinch commented on #851
This issue depends on #807
This issue depends on #850

[2016-02-06 04:52] rwinch commented on #856
This issue depends on #855

[2016-02-06 04:52] rwinch commented on #860
This issue duplicates #833

[2016-02-06 05:09] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 05:09] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 05:09] spring-issuemaster commented on #2901
This issue relates to #2814

[2016-02-06 05:09] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 05:09] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 05:09] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 05:09] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 05:09] spring-issuemaster commented on #2888
This issue depends on #2891
This issue depends on #2892

[2016-02-06 05:09] spring-issuemaster commented on #2889
This issue depends on #2893
This issue depends on #2894

[2016-02-06 05:09] spring-issuemaster commented on #768
This issue is related to #690

[2016-02-06 05:09] spring-issuemaster commented on #770
This issue depends on #862
This issue depends on #819
This issue is related to #533

[2016-02-06 05:09] spring-issuemaster commented on #1579
This issue supersedes #1576

[2016-02-06 05:09] spring-issuemaster commented on #772
This issue is related to #752
This issue is related to #755

[2016-02-06 05:09] spring-issuemaster commented on #793
This issue depends on #791
This issue depends on #807
This issue depends on #863
This issue depends on #915
This issue depends on #929
This issue depends on #788
This issue depends on #833
This issue depends on #850
This issue depends on #743

[2016-02-06 05:09] spring-issuemaster commented on #789
This issue depends on #976

[2016-02-06 05:09] spring-issuemaster commented on #797
This issue is related to #798

[2016-02-06 05:09] spring-issuemaster commented on #812
This issue depends on #811

[2016-02-06 05:09] spring-issuemaster commented on #819
This issue is related to #821
This issue is related to #877

[2016-02-06 05:09] spring-issuemaster commented on #802
This issue is related to #745

[2016-02-06 05:09] spring-issuemaster commented on #808
This issue relates to #2166

[2016-02-06 05:09] spring-issuemaster commented on #813
This issue is related to #837

[2016-02-06 05:09] spring-issuemaster commented on #822
This issue is related to #655

[2016-02-06 05:09] spring-issuemaster commented on #851
This issue depends on #807
This issue depends on #850

[2016-02-06 05:09] spring-issuemaster commented on #856
This issue depends on #855

[2016-02-06 05:09] spring-issuemaster commented on #841
This issue is related to #976

[2016-02-06 05:09] spring-issuemaster commented on #848
This issue is related to #655

[2016-02-06 05:09] spring-issuemaster commented on #1681
This issue is related to #1511

[2016-02-06 05:09] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 05:09] spring-issuemaster commented on #1674
This issue depends on #1700

[2016-02-06 05:09] spring-issuemaster commented on #2977
This issue duplicates #2302

[2016-02-06 05:09] spring-issuemaster commented on #2986
This issue duplicates #2815

[2016-02-06 05:09] spring-issuemaster commented on #1652
This issue supersedes #1670

[2016-02-06 05:09] spring-issuemaster commented on #2873
This issue relates to #2961

[2016-02-06 05:09] spring-issuemaster commented on #2952
This issue duplicates #2920

[2016-02-06 05:09] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 05:09] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 05:13] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 05:13] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 05:13] spring-issuemaster commented on #2901
This issue relates to #2814

[2016-02-06 05:13] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 05:13] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 05:13] spring-issuemaster commented on #2889
This issue depends on #2893
This issue depends on #2894

[2016-02-06 05:13] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 05:13] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 05:13] spring-issuemaster commented on #768
This issue is related to #690

[2016-02-06 05:13] spring-issuemaster commented on #1579
This issue supersedes #1576

[2016-02-06 05:13] spring-issuemaster commented on #2888
This issue depends on #2891
This issue depends on #2892

[2016-02-06 05:13] spring-issuemaster commented on #770
This issue depends on #862
This issue depends on #819
This issue is related to #533

[2016-02-06 05:13] spring-issuemaster commented on #772
This issue is related to #752
This issue is related to #755

[2016-02-06 05:13] spring-issuemaster commented on #793
This issue depends on #791
This issue depends on #807
This issue depends on #863
This issue depends on #915
This issue depends on #929
This issue depends on #788
This issue depends on #833
This issue depends on #850
This issue depends on #743

[2016-02-06 05:13] spring-issuemaster commented on #789
This issue depends on #976

[2016-02-06 05:13] spring-issuemaster commented on #797
This issue is related to #798

[2016-02-06 05:13] spring-issuemaster commented on #812
This issue depends on #811

[2016-02-06 05:13] spring-issuemaster commented on #813
This issue is related to #837

[2016-02-06 05:13] spring-issuemaster commented on #819
This issue is related to #821
This issue is related to #877

[2016-02-06 05:13] spring-issuemaster commented on #802
This issue is related to #745

[2016-02-06 05:13] spring-issuemaster commented on #808
This issue relates to #2166

[2016-02-06 05:13] spring-issuemaster commented on #822
This issue is related to #655

[2016-02-06 05:13] spring-issuemaster commented on #848
This issue is related to #655

[2016-02-06 05:13] spring-issuemaster commented on #851
This issue depends on #807
This issue depends on #850

[2016-02-06 05:13] spring-issuemaster commented on #856
This issue depends on #855

[2016-02-06 05:13] spring-issuemaster commented on #841
This issue is related to #976

[2016-02-06 05:13] spring-issuemaster commented on #1674
This issue depends on #1700

[2016-02-06 05:13] spring-issuemaster commented on #1681
This issue is related to #1511

[2016-02-06 05:13] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 05:13] spring-issuemaster commented on #1652
This issue supersedes #1670

[2016-02-06 05:13] spring-issuemaster commented on #2873
This issue relates to #2961

[2016-02-06 05:13] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 05:13] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 05:13] spring-issuemaster commented on #1504
This issue duplicates #787

[2016-02-06 05:13] spring-issuemaster commented on #1515
This issue duplicates #1522

[2016-02-06 05:13] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 05:18] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 05:18] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 05:18] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 05:18] spring-issuemaster commented on #2901
This issue relates to #2814

[2016-02-06 05:18] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 05:18] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 05:18] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 05:18] spring-issuemaster commented on #1579
This issue supersedes #1576

[2016-02-06 05:18] spring-issuemaster commented on #2888
This issue depends on #2891
This issue depends on #2892

[2016-02-06 05:18] spring-issuemaster commented on #2889
This issue depends on #2893
This issue depends on #2894

[2016-02-06 05:18] spring-issuemaster commented on #768
This issue is related to #690

[2016-02-06 05:18] spring-issuemaster commented on #770
This issue depends on #862
This issue depends on #819
This issue is related to #533

[2016-02-06 05:18] spring-issuemaster commented on #772
This issue is related to #752
This issue is related to #755

[2016-02-06 05:18] spring-issuemaster commented on #793
This issue depends on #791
This issue depends on #807
This issue depends on #863
This issue depends on #915
This issue depends on #929
This issue depends on #788
This issue depends on #833
This issue depends on #850
This issue depends on #743

[2016-02-06 05:18] spring-issuemaster commented on #797
This issue is related to #798

[2016-02-06 05:18] spring-issuemaster commented on #789
This issue depends on #976

[2016-02-06 05:18] spring-issuemaster commented on #812
This issue depends on #811

[2016-02-06 05:18] spring-issuemaster commented on #813
This issue is related to #837

[2016-02-06 05:18] spring-issuemaster commented on #819
This issue is related to #821
This issue is related to #877

[2016-02-06 05:18] spring-issuemaster commented on #802
This issue is related to #745

[2016-02-06 05:18] spring-issuemaster commented on #808
This issue relates to #2166

[2016-02-06 05:18] spring-issuemaster commented on #822
This issue is related to #655

[2016-02-06 05:18] spring-issuemaster commented on #851
This issue depends on #807
This issue depends on #850

[2016-02-06 05:18] spring-issuemaster commented on #856
This issue depends on #855

[2016-02-06 05:18] spring-issuemaster commented on #841
This issue is related to #976

[2016-02-06 05:18] spring-issuemaster commented on #848
This issue is related to #655

[2016-02-06 05:18] spring-issuemaster commented on #1681
This issue is related to #1511

[2016-02-06 05:18] spring-issuemaster commented on #1674
This issue depends on #1700

[2016-02-06 05:18] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 05:18] spring-issuemaster commented on #1652
This issue supersedes #1670

[2016-02-06 05:18] spring-issuemaster commented on #2873
This issue relates to #2961

[2016-02-06 05:18] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 05:18] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 05:18] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 05:18] spring-issuemaster commented on #2783
This issue relates to #2809

[2016-02-06 05:18] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 05:53] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 05:53] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 05:53] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 05:53] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 05:53] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 05:53] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 05:54] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 05:54] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 05:54] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 05:54] spring-issuemaster commented on #1500
This issue is related to #1499

[2016-02-06 05:54] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 05:54] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 05:54] spring-issuemaster commented on #1494
This issue supersedes #1136

[2016-02-06 05:54] spring-issuemaster commented on #1499
This issue is related to #1500

[2016-02-06 05:54] spring-issuemaster commented on #2784
This issue supersedes #2569

[2016-02-06 05:54] spring-issuemaster commented on #2797
This issue duplicates #2756

[2016-02-06 05:54] spring-issuemaster commented on #2781
This issue supersedes https://jira.spring.io/browse/SPR-11698

[2016-02-06 05:54] spring-issuemaster commented on #2782
This issue duplicates #2755

[2016-02-06 05:54] spring-issuemaster commented on #2785
This issue relates to #2241

[2016-02-06 05:54] spring-issuemaster commented on #1461
This issue supersedes #1405

[2016-02-06 05:54] spring-issuemaster commented on #1475
This issue duplicates #1178

[2016-02-06 05:54] spring-issuemaster commented on #1477
This issue supersedes #1459
This issue supersedes #1476

[2016-02-06 05:54] spring-issuemaster commented on #1481
This issue supersedes #1340
This issue supersedes #1254

[2016-02-06 05:54] spring-issuemaster commented on #1454
This issue supersedes #1328
This issue supersedes #1301

[2016-02-06 05:54] spring-issuemaster commented on #2756
This issue relates to #2990

[2016-02-06 05:54] spring-issuemaster commented on #2758
This issue duplicates #2892

[2016-02-06 05:54] spring-issuemaster commented on #2763
This issue relates to #2744

[2016-02-06 05:54] spring-issuemaster commented on #873
This issue is related to #770

[2016-02-06 05:54] spring-issuemaster commented on #3233
This issue duplicates #3261

[2016-02-06 05:54] spring-issuemaster commented on #3262
This issue duplicates #3261

[2016-02-06 05:54] spring-issuemaster commented on #3264
This issue relates to #3263

[2016-02-06 05:54] spring-issuemaster commented on #874
This issue depends on #823

[2016-02-06 05:54] spring-issuemaster commented on #3231
This issue duplicates #3261

[2016-02-06 05:54] spring-issuemaster commented on #3256
This issue relates to #2302

[2016-02-06 05:54] spring-issuemaster commented on #3228
This issue duplicates #3166

[2016-02-06 05:54] spring-issuemaster commented on #3254
This issue duplicates #3238

[2016-02-06 05:57] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 05:57] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 05:57] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 05:57] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 05:57] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 05:57] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 05:57] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 05:57] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 05:57] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 05:57] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 05:57] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 05:57] spring-issuemaster commented on #2781
This issue supersedes https://jira.spring.io/browse/SPR-11698

[2016-02-06 05:57] spring-issuemaster commented on #3251
This issue relates to #3216
This issue relates to #2921
This issue relates to #2810
This issue supersedes #3216

[2016-02-06 05:57] spring-issuemaster commented on #891
This issue is related to https://jira.spring.io/browse/SPR-487
This issue is related to #761

[2016-02-06 05:57] spring-issuemaster commented on #3239
This issue relates to #3311

[2016-02-06 05:57] spring-issuemaster commented on #3252
This issue relates to #3216

[2016-02-06 05:57] spring-issuemaster commented on #3166
This issue relates to #3137

[2016-02-06 05:57] spring-issuemaster commented on #3201
This issue duplicates #3166

[2016-02-06 05:57] spring-issuemaster commented on #3226
This issue relates to https://jira.spring.io/browse/SPR-13116

[2016-02-06 05:57] spring-issuemaster commented on #3236
This issue supersedes #2486

[2016-02-06 05:57] spring-issuemaster commented on #900
This issue is related to #792

[2016-02-06 05:57] spring-issuemaster commented on #907
This issue depends on https://jira.spring.io/browse/SPR-4459

[2016-02-06 05:57] spring-issuemaster commented on #3220
This issue duplicates #3199

[2016-02-06 05:57] spring-issuemaster commented on #932
This issue depends on #1109

[2016-02-06 05:57] spring-issuemaster commented on #948
This issue is related to #474

[2016-02-06 05:57] spring-issuemaster commented on #1536
This issue supersedes #1505

[2016-02-06 05:57] spring-issuemaster commented on #3216
This issue relates to #2921
This issue relates to #2810

[2016-02-06 05:57] spring-issuemaster commented on #941
This issue is related to #660

[2016-02-06 05:57] spring-issuemaster commented on #3288
This issue relates to #3061

[2016-02-06 05:57] spring-issuemaster commented on #3289
This issue relates to #3288

[2016-02-06 05:57] spring-issuemaster commented on #1560
This issue supersedes #1557

[2016-02-06 05:57] spring-issuemaster commented on #3276
This issue duplicates #2269

[2016-02-06 05:57] spring-issuemaster commented on #1524
This issue supersedes #1547

[2016-02-06 05:57] spring-issuemaster commented on #1527
This issue duplicates #1178

[2016-02-06 05:57] spring-issuemaster commented on #1546
This issue duplicates #1399

[2016-02-06 05:57] spring-issuemaster commented on #2828
This issue duplicates #2687

[2016-02-06 06:03] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 06:03] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 06:03] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 06:03] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 06:03] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 06:03] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 06:03] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 06:03] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 06:03] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 06:03] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 06:03] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 06:03] spring-issuemaster commented on #2781
This issue supersedes https://jira.spring.io/browse/SPR-11698

[2016-02-06 06:03] spring-issuemaster commented on #891
This issue is related to https://jira.spring.io/browse/SPR-487
This issue is related to #761

[2016-02-06 06:03] spring-issuemaster commented on #3226
This issue relates to https://jira.spring.io/browse/SPR-13116

[2016-02-06 06:03] spring-issuemaster commented on #907
This issue depends on https://jira.spring.io/browse/SPR-4459

[2016-02-06 06:03] spring-issuemaster commented on #2821
This issue duplicates #2763

[2016-02-06 06:03] spring-issuemaster commented on #2228
This issue duplicates #2215

[2016-02-06 06:03] spring-issuemaster commented on #2232
This issue duplicates #1333

[2016-02-06 06:03] spring-issuemaster commented on #2817
This issue relates to #2813

[2016-02-06 06:03] spring-issuemaster commented on #997
This issue is related to #360

[2016-02-06 06:03] spring-issuemaster commented on #1807
This issue duplicates #1739

[2016-02-06 06:03] spring-issuemaster commented on #1818
This issue duplicates #1749

[2016-02-06 06:03] spring-issuemaster commented on #3115
This issue relates to #2938
This issue relates to https://jira.spring.io/browse/SPR-13614
This issue relates to https://jira.spring.io/browse/SPR-10110

[2016-02-06 06:03] spring-issuemaster commented on #983
This issue depends on #984
This issue depends on #964

[2016-02-06 06:03] spring-issuemaster commented on #986
This issue is related to #983

[2016-02-06 06:03] spring-issuemaster commented on #2296
This issue relates to #2137

[2016-02-06 06:03] spring-issuemaster commented on #977
This issue is related to #917

[2016-02-06 06:03] spring-issuemaster commented on #1016
This issue is related to #729

[2016-02-06 06:03] spring-issuemaster commented on #2288
This issue depends on https://jira.spring.io/browse/SPR-9858

[2016-02-06 06:03] spring-issuemaster commented on #2294
This issue relates to #1692

[2016-02-06 06:03] spring-issuemaster commented on #1005
This issue supersedes #1358

[2016-02-06 06:03] spring-issuemaster commented on #2290
This issue duplicates #2223

[2016-02-06 06:03] spring-issuemaster commented on #1008
This issue relates to #1954

[2016-02-06 06:03] spring-issuemaster commented on #2274
This issue duplicates #2253

[2016-02-06 06:04] spring-issuemaster commented on #1038
This issue is related to #384

[2016-02-06 06:04] spring-issuemaster commented on #2278
This issue depends on https://jira.spring.io/browse/SPR-9895

[2016-02-06 06:49] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 06:49] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 06:49] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 06:49] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 06:49] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 06:49] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 06:49] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 06:49] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 06:49] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 06:49] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 06:49] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 06:49] spring-issuemaster commented on #2781
This issue supersedes https://jira.spring.io/browse/SPR-11698

[2016-02-06 06:49] spring-issuemaster commented on #891
This issue is related to https://jira.spring.io/browse/SPR-487
This issue is related to #761

[2016-02-06 06:49] spring-issuemaster commented on #907
This issue depends on https://jira.spring.io/browse/SPR-4459

[2016-02-06 06:49] spring-issuemaster commented on #3226
This issue relates to https://jira.spring.io/browse/SPR-13116

[2016-02-06 06:50] spring-issuemaster commented on #3115
This issue relates to #2938
This issue relates to https://jira.spring.io/browse/SPR-13614
This issue relates to https://jira.spring.io/browse/SPR-10110

[2016-02-06 06:50] spring-issuemaster commented on #2288
This issue depends on https://jira.spring.io/browse/SPR-9858

[2016-02-06 06:50] spring-issuemaster commented on #1037
This issue duplicates #1005

[2016-02-06 06:50] spring-issuemaster commented on #2266
This issue relates to #2263
This issue relates to #2279

[2016-02-06 06:50] spring-issuemaster commented on #2278
This issue depends on https://jira.spring.io/browse/SPR-9895

[2016-02-06 06:50] spring-issuemaster commented on #2271
This issue duplicates #2105

[2016-02-06 06:50] spring-issuemaster commented on #2273
This issue duplicates #2360
This issue relates to https://jira.spring.io/browse/SPR-9356

[2016-02-06 06:50] spring-issuemaster commented on #1026
This issue depends on #687

[2016-02-06 06:50] spring-issuemaster commented on #2267
This issue duplicates #2445

[2016-02-06 06:50] spring-issuemaster commented on #2269
This issue duplicates #2307

[2016-02-06 06:50] spring-issuemaster commented on #1045
This issue is related to #1005

[2016-02-06 06:50] spring-issuemaster commented on #1049
This issue is related to #1036

[2016-02-06 06:50] spring-issuemaster commented on #2248
This issue relates to #2246

[2016-02-06 06:50] spring-issuemaster commented on #3117
This issue duplicates #3114

[2016-02-06 06:50] spring-issuemaster commented on #3126
This issue duplicates #3204

[2016-02-06 06:50] spring-issuemaster commented on #3136
This issue relates to #3107

[2016-02-06 06:50] spring-issuemaster commented on #3199
This issue duplicates #3156

[2016-02-06 06:50] spring-issuemaster commented on #1853
This issue relates to #1963

[2016-02-06 06:50] spring-issuemaster commented on #1873
This issue duplicates #1846

[2016-02-06 06:50] spring-issuemaster commented on #1875
This issue relates to https://jira.spring.io/browse/SEC-1967
This issue supersedes #1766

[2016-02-06 06:50] spring-issuemaster commented on #3175
This issue relates to #3177

[2016-02-06 07:00] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 07:00] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 07:00] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 07:00] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 07:00] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 07:00] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 07:00] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 07:00] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 07:00] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 07:00] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 07:00] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 07:00] spring-issuemaster commented on #2781
This issue supersedes https://jira.spring.io/browse/SPR-11698

[2016-02-06 07:00] spring-issuemaster commented on #891
This issue is related to https://jira.spring.io/browse/SPR-487
This issue is related to #761

[2016-02-06 07:00] spring-issuemaster commented on #3226
This issue relates to https://jira.spring.io/browse/SPR-13116

[2016-02-06 07:00] spring-issuemaster commented on #907
This issue depends on https://jira.spring.io/browse/SPR-4459

[2016-02-06 07:01] spring-issuemaster commented on #3115
This issue relates to #2938
This issue relates to https://jira.spring.io/browse/SPR-13614
This issue relates to https://jira.spring.io/browse/SPR-10110

[2016-02-06 07:01] spring-issuemaster commented on #2288
This issue depends on https://jira.spring.io/browse/SPR-9858

[2016-02-06 07:01] spring-issuemaster commented on #2278
This issue depends on https://jira.spring.io/browse/SPR-9895

[2016-02-06 07:01] spring-issuemaster commented on #2273
This issue duplicates #2360
This issue relates to https://jira.spring.io/browse/SPR-9356

[2016-02-06 07:01] spring-issuemaster commented on #1875
This issue relates to https://jira.spring.io/browse/SEC-1967
This issue supersedes #1766

[2016-02-06 07:01] spring-issuemaster commented on #3170
This issue duplicates #3156

[2016-02-06 07:01] spring-issuemaster commented on #1821
This issue duplicates #1842

[2016-02-06 07:01] spring-issuemaster commented on #3159
This issue relates to #3153

[2016-02-06 07:01] spring-issuemaster commented on #1855
This issue duplicates #1848

[2016-02-06 07:01] spring-issuemaster commented on #3149
This issue depends on https://jira.spring.io/browse/SPR-12945
This issue relates to #3061

[2016-02-06 07:01] spring-issuemaster commented on #3157
This issue duplicates #3132

[2016-02-06 07:01] spring-issuemaster commented on #1846
This issue relates to #1848

[2016-02-06 07:01] spring-issuemaster commented on #3140
This issue relates to #2984

[2016-02-06 07:01] spring-issuemaster commented on #1730
This issue depends on #1943

[2016-02-06 07:01] spring-issuemaster commented on #1729
This issue depends on #1344

[2016-02-06 07:01] spring-issuemaster commented on #1733
This issue relates to #2238
This issue supersedes #1616

[2016-02-06 07:01] spring-issuemaster commented on #1732
This issue is related to #1730
This issue supersedes #1432

[2016-02-06 07:01] spring-issuemaster commented on #1071
This issue duplicates #873

[2016-02-06 07:01] spring-issuemaster commented on #1710
This issue supersedes #772

[2016-02-06 07:01] spring-issuemaster commented on #3017
This issue duplicates #2302

[2016-02-06 07:01] spring-issuemaster commented on #1703
This issue is related to #1704

[2016-02-06 07:01] spring-issuemaster commented on #2926
This issue relates to #2656

[2016-02-06 07:01] spring-issuemaster commented on #3016
This issue duplicates #3042

[2016-02-06 07:01] spring-issuemaster commented on #2938
This issue relates to https://jira.spring.io/browse/SPR-13614

[2016-02-06 07:01] spring-issuemaster commented on #1093
This issue is related to https://jira.spring.io/browse/LDAP-113

[2016-02-06 07:01] spring-issuemaster commented on #2919
This issue supersedes #2815

[2016-02-06 07:01] spring-issuemaster commented on #1694
This issue depends on https://jira.spring.io/browse/SPR-7074

[2016-02-06 07:01] digitalserenity commented on #3370
Yep thanks! Upgrading resolved

[2016-02-06 07:01] spring-issuemaster commented on #2918
This issue relates to #3008

[2016-02-06 07:01] spring-issuemaster commented on #1097
This issue duplicates #903

[2016-02-06 07:01] spring-issuemaster commented on #1130
This issue is related to #1091
This issue is related to #1113

[2016-02-06 07:01] spring-issuemaster commented on #1132
This issue is related to #1133
This issue is related to #1138

[2016-02-06 07:01] spring-issuemaster commented on #1116
This issue is related to #772

[2016-02-06 07:01] spring-issuemaster commented on #1141
This issue supersedes #1124

[2016-02-06 07:01] spring-issuemaster commented on #3030
This issue duplicates #3095

[2016-02-06 07:01] spring-issuemaster commented on #3112
This issue duplicates #3114

[2016-02-06 07:01] spring-issuemaster commented on #1801
This issue relates to #2246
This issue relates to #2248

[2016-02-06 07:01] spring-issuemaster commented on #1798
This issue relates to #1799

[2016-02-06 07:01] spring-issuemaster commented on #3101
This issue relates to #2404

[2016-02-06 07:01] spring-issuemaster commented on #3003
This issue relates to #3070

[2016-02-06 07:01] spring-issuemaster commented on #3000
This issue relates to https://jira.spring.io/browse/SPR-12732

[2016-02-06 07:01] spring-issuemaster commented on #3093
This issue relates to #2624

[2016-02-06 07:01] spring-issuemaster commented on #3094
This issue relates to #3010

[2016-02-06 07:02] spring-issuemaster commented on #3091
This issue relates to #3088

[2016-02-06 07:02] spring-issuemaster commented on #1780
This issue is related to #1781

[2016-02-06 07:02] spring-issuemaster commented on #3086
This issue relates to https://jira.spring.io/browse/SPR-12845

[2016-02-06 07:02] spring-issuemaster commented on #2992
This issue relates to #2990

[2016-02-06 07:02] spring-issuemaster commented on #1769
This issue is related to #1552

[2016-02-06 07:02] spring-issuemaster commented on #1757
This issue supersedes #1790

[2016-02-06 07:02] spring-issuemaster commented on #3070
This issue supersedes #2718

[2016-02-06 07:02] spring-issuemaster commented on #3056
This issue relates to #2624

[2016-02-06 07:02] spring-issuemaster commented on #1743
This issue is related to #1656

[2016-02-06 07:02] spring-issuemaster commented on #3042
This issue relates to https://jira.spring.io/browse/SPR-12646

[2016-02-06 07:02] spring-issuemaster commented on #2950
This issue supersedes #2881

[2016-02-06 07:02] spring-issuemaster commented on #3037
This issue duplicates #2416

[2016-02-06 07:02] spring-issuemaster commented on #2460
This issue duplicates #2447

[2016-02-06 07:02] spring-issuemaster commented on #2459
This issue depends on #2780

[2016-02-06 07:02] spring-issuemaster commented on #1160
This issue duplicates #1038

[2016-02-06 07:07] spring-issuemaster commented on #2916
This issue duplicates https://jira.spring.io/browse/SPR-12058

[2016-02-06 07:07] spring-issuemaster commented on #2812
This issue relates to https://jira.spring.io/browse/DATAMONGO-874

[2016-02-06 07:07] spring-issuemaster commented on #2894
This issue depends on https://jira.spring.io/browse/SPR-11968

[2016-02-06 07:07] spring-issuemaster commented on #2897
This issue depends on https://jira.spring.io/browse/DATAJPA-564

[2016-02-06 07:07] spring-issuemaster commented on #2893
This issue depends on https://jira.spring.io/browse/SPR-11967

[2016-02-06 07:07] spring-issuemaster commented on #2887
This issue depends on https://jira.spring.io/browse/SPR-12226

[2016-02-06 07:07] spring-issuemaster commented on #1651
This issue depends on #1650
This issue supersedes https://jira.spring.io/browse/SES-32

[2016-02-06 07:07] spring-issuemaster commented on #2937
This issue depends on https://jira.spring.io/browse/SPR-12217

[2016-02-06 07:07] spring-issuemaster commented on #2923
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue supersedes #2771

[2016-02-06 07:07] spring-issuemaster commented on #1533
This issue is related to https://jira.spring.io/browse/SWS-551

[2016-02-06 07:07] spring-issuemaster commented on #2801
This issue depends on https://jira.spring.io/browse/SPR-8854
This issue depends on https://jira.spring.io/browse/SPR-11466
This issue depends on https://jira.spring.io/browse/SPR-11497

[2016-02-06 07:08] spring-issuemaster commented on #2781
This issue supersedes https://jira.spring.io/browse/SPR-11698

[2016-02-06 07:08] spring-issuemaster commented on #891
This issue is related to https://jira.spring.io/browse/SPR-487
This issue is related to #761

[2016-02-06 07:08] spring-issuemaster commented on #3226
This issue relates to https://jira.spring.io/browse/SPR-13116

[2016-02-06 07:08] spring-issuemaster commented on #907
This issue depends on https://jira.spring.io/browse/SPR-4459

[2016-02-06 07:08] spring-issuemaster commented on #3115
This issue relates to #2938
This issue relates to https://jira.spring.io/browse/SPR-13614
This issue relates to https://jira.spring.io/browse/SPR-10110

[2016-02-06 07:08] spring-issuemaster commented on #2288
This issue depends on https://jira.spring.io/browse/SPR-9858

[2016-02-06 07:08] spring-issuemaster commented on #2278
This issue depends on https://jira.spring.io/browse/SPR-9895

[2016-02-06 07:08] spring-issuemaster commented on #2273
This issue duplicates #2360
This issue relates to https://jira.spring.io/browse/SPR-9356

[2016-02-06 07:08] spring-issuemaster commented on #1875
This issue relates to https://jira.spring.io/browse/SEC-1967
This issue supersedes #1766

[2016-02-06 07:09] spring-issuemaster commented on #3149
This issue depends on https://jira.spring.io/browse/SPR-12945
This issue relates to #3061

[2016-02-06 07:09] spring-issuemaster commented on #2938
This issue relates to https://jira.spring.io/browse/SPR-13614

[2016-02-06 07:09] spring-issuemaster commented on #1093
This issue is related to https://jira.spring.io/browse/LDAP-113

[2016-02-06 07:09] spring-issuemaster commented on #1694
This issue depends on https://jira.spring.io/browse/SPR-7074

[2016-02-06 07:09] spring-issuemaster commented on #3000
This issue relates to https://jira.spring.io/browse/SPR-12732

[2016-02-06 07:09] spring-issuemaster commented on #3086
This issue relates to https://jira.spring.io/browse/SPR-12845

[2016-02-06 07:09] spring-issuemaster commented on #3042
This issue relates to https://jira.spring.io/browse/SPR-12646

[2016-02-06 07:09] spring-issuemaster commented on #1164
This issue is related to https://jira.spring.io/browse/SPR-4992

[2016-02-06 07:09] spring-issuemaster commented on #2452
This issue supersedes #2401

[2016-02-06 07:09] spring-issuemaster commented on #1166
This issue is related to #1005

[2016-02-06 07:10] spring-issuemaster commented on #2449
This issue relates to #2253

[2016-02-06 07:10] spring-issuemaster commented on #1187
This issue duplicates #978

[2016-02-06 07:10] spring-issuemaster commented on #2430
This issue duplicates #2421

[2016-02-06 07:10] spring-issuemaster commented on #1169
This issue duplicates #1168

[2016-02-06 07:10] spring-issuemaster commented on #1207
This issue is related to #788

[2016-02-06 07:10] spring-issuemaster commented on #1206
This issue relates to #1909

[2016-02-06 07:10] spring-issuemaster commented on #1210
This issue is related to #1209

[2016-02-06 07:10] spring-issuemaster commented on #1200
This issue depends on #1005

[2016-02-06 07:10] spring-issuemaster commented on #1224
This issue supersedes #740

[2016-02-06 07:10] spring-issuemaster commented on #1213
This issue is related to #1005

[2016-02-06 07:10] spring-issuemaster commented on #1248
This issue depends on https://jira.spring.io/browse/SPR-5189

[2016-02-06 07:11] spring-issuemaster commented on #1250
This issue supersedes #1243
This issue supersedes #534

[2016-02-06 07:11] spring-issuemaster commented on #1249
This issue supersedes #1337

[2016-02-06 07:11] spring-issuemaster commented on #2503
This issue duplicates #2525

[2016-02-06 07:11] spring-issuemaster commented on #2512
This issue duplicates https://jira.spring.io/browse/SPR-10860

[2016-02-06 07:11] spring-issuemaster commented on #2485
This issue relates to https://jira.spring.io/browse/SPR-10041

[2016-02-06 07:11] spring-issuemaster commented on #2486
This issue relates to https://jira.spring.io/browse/SPR-9278

[2016-02-06 07:11] spring-issuemaster commented on #2069
This issue duplicates #1848

[2016-02-06 07:11] spring-issuemaster commented on #2043
This issue duplicates #2042

[2016-02-06 07:11] spring-issuemaster commented on #378
This issue duplicates #369

[2016-02-06 07:11] spring-issuemaster commented on #370
This issue duplicates #365

[2016-02-06 07:11] spring-issuemaster commented on #2039
This issue duplicates #2035

[2016-02-06 07:12] spring-issuemaster commented on #418
This issue duplicates #412

[2016-02-06 07:12] spring-issuemaster commented on #401
This issue duplicates #400

[2016-02-06 07:12] spring-issuemaster commented on #402
This issue is related to #976

[2016-02-06 07:12] spring-issuemaster commented on #458
This issue duplicates #506

[2016-02-06 07:12] spring-issuemaster commented on #459
This issue depends on #513

[2016-02-06 07:12] spring-issuemaster commented on #2114
This issue duplicates #2106

[2016-02-06 07:12] spring-issuemaster commented on #2111
This issue relates to #2109

[2016-02-06 07:12] spring-issuemaster commented on #2112
This issue duplicates #2105

[2016-02-06 07:12] spring-issuemaster commented on #2080
This issue relates to #1477

[2016-02-06 07:12] spring-issuemaster commented on #2362
This issue duplicates https://jira.spring.io/browse/DATACMNS-292
This issue relates to https://jira.spring.io/browse/SPR-10353

[2016-02-06 07:12] spring-issuemaster commented on #2353
This issue relates to #1617

[2016-02-06 07:13] spring-issuemaster commented on #2343
This issue duplicates #2359

[2016-02-06 07:13] spring-issuemaster commented on #2313
This issue relates to #2223

[2016-02-06 07:13] spring-issuemaster commented on #2333
This issue relates to #2189

[2016-02-06 07:13] spring-issuemaster commented on #1906
This issue relates to #1928

[2016-02-06 07:13] spring-issuemaster commented on #2398
This issue relates to #2397

[2016-02-06 07:13] spring-issuemaster commented on #2360
This issue relates to https://jira.spring.io/browse/SPR-9356

[2016-02-06 07:13] spring-issuemaster commented on #2375
This issue duplicates #2343

[2016-02-06 07:13] spring-issuemaster commented on #2371
This issue relates to #2369

[2016-02-06 07:13] spring-issuemaster commented on #2370
This issue relates to #2372

[2016-02-06 07:13] spring-issuemaster commented on #474
This issue relates to #2006

[2016-02-06 07:13] spring-issuemaster commented on #1952
This issue duplicates #1224

[2016-02-06 07:14] spring-issuemaster commented on #471
This issue depends on #487

[2016-02-06 07:14] spring-issuemaster commented on #473
This issue is related to #976

[2016-02-06 07:14] spring-issuemaster commented on #461
This issue depends on #512

[2016-02-06 07:14] spring-issuemaster commented on #491
This issue duplicates #460

[2016-02-06 07:14] spring-issuemaster commented on #494
This issue duplicates #445

[2016-02-06 07:14] spring-issuemaster commented on #484
This issue depends on #460

[2016-02-06 07:14] spring-issuemaster commented on #532
This issue depends on #843
This issue depends on #845
This issue depends on #844

[2016-02-06 07:14] spring-issuemaster commented on #2022
This issue duplicates #1974

[2016-02-06 07:14] spring-issuemaster commented on #2021
This issue relates to #2402

[2016-02-06 07:14] spring-issuemaster commented on #2004
This issue duplicates https://jira.spring.io/browse/SPR-7393

[2016-02-06 07:14] spring-issuemaster commented on #1989
This issue supersedes #1962

[2016-02-06 07:15] spring-issuemaster commented on #1972
This issue relates to #2968

[2016-02-06 07:15] spring-issuemaster commented on #1960
This issue supersedes #1540

[2016-02-06 07:15] spring-issuemaster commented on #1966
This issue supersedes #1946
This issue supersedes #1947

[2016-02-06 07:15] spring-issuemaster commented on #2711
This issue relates to #2614

[2016-02-06 07:15] spring-issuemaster commented on #1415
This issue supersedes #1062

[2016-02-06 07:15] spring-issuemaster commented on #2716
This issue duplicates #2302

[2016-02-06 07:15] spring-issuemaster commented on #1414
This issue supersedes #740

[2016-02-06 07:15] spring-issuemaster commented on #1413
This issue supersedes #740
This issue supersedes #1097

[2016-02-06 07:15] spring-issuemaster commented on #1412
This issue depends on #1435
This issue depends on #1444

[2016-02-06 07:15] spring-issuemaster commented on #1407
This issue is related to #1136

[2016-02-06 07:15] spring-issuemaster commented on #2708
This issue duplicates #2316

[2016-02-06 07:16] spring-issuemaster commented on #1406
This issue duplicates #1335

[2016-02-06 07:16] spring-issuemaster commented on #1396
This issue is related to #1381

[2016-02-06 07:16] spring-issuemaster commented on #2698
This issue depends on https://jira.spring.io/browse/SPR-11373
This issue relates to #2694

[2016-02-06 07:16] spring-issuemaster commented on #1388
This issue supersedes #740

[2016-02-06 07:16] spring-issuemaster commented on #1386
This issue supersedes #740

[2016-02-06 07:16] spring-issuemaster commented on #2685
This issue relates to #2656

[2016-02-06 07:16] spring-issuemaster commented on #2684
This issue relates to #2656

[2016-02-06 07:16] spring-issuemaster commented on #2678
This issue duplicates #2675

[2016-02-06 07:16] spring-issuemaster commented on #2666
This issue duplicates #2671

[2016-02-06 07:16] spring-issuemaster commented on #1359
This issue duplicates #1302

[2016-02-06 07:16] spring-issuemaster commented on #2663
This issue duplicates #2416

[2016-02-06 07:17] spring-issuemaster commented on #1357
This issue depends on #1224

[2016-02-06 07:17] spring-issuemaster commented on #2647
This issue relates to #2652

[2016-02-06 07:17] spring-issuemaster commented on #1352
This issue duplicates #1351

[2016-02-06 07:17] spring-issuemaster commented on #2645
This issue relates to https://jira.spring.io/browse/SPR-11251

[2016-02-06 07:17] spring-issuemaster commented on #2644
This issue relates to #2636

[2016-02-06 07:17] spring-issuemaster commented on #2630
This issue duplicates #2606

[2016-02-06 07:17] spring-issuemaster commented on #1451
This issue duplicates #1289

[2016-02-06 07:17] spring-issuemaster commented on #1444
This issue depends on #1443

[2016-02-06 07:17] spring-issuemaster commented on #1443
This issue is related to #1346

[2016-02-06 07:17] spring-issuemaster commented on #1429
This issue supersedes #1215
This issue supersedes #1427

[2016-02-06 07:17] spring-issuemaster commented on #578
This issue depends on #621

[2016-02-06 07:18] spring-issuemaster commented on #580
This issue is related to #917

[2016-02-06 07:18] spring-issuemaster commented on #1419
This issue supersedes #1712

[2016-02-06 07:18] spring-issuemaster commented on #572
This issue duplicates #577

[2016-02-06 07:18] spring-issuemaster commented on #597
This issue duplicates #605

[2016-02-06 07:18] spring-issuemaster commented on #584
This issue depends on #576

[2016-02-06 07:18] spring-issuemaster commented on #586
This issue duplicates #533

[2016-02-06 07:18] spring-issuemaster commented on #587
This issue is related to #849

[2016-02-06 07:18] spring-issuemaster commented on #611
This issue duplicates #589

[2016-02-06 07:18] spring-issuemaster commented on #614
This issue duplicates #360

[2016-02-06 07:18] spring-issuemaster commented on #616
This issue duplicates #557

[2016-02-06 07:18] spring-issuemaster commented on #609
This issue depends on #301

[2016-02-06 07:19] spring-issuemaster commented on #602
This issue duplicates #589

[2016-02-06 07:19] spring-issuemaster commented on #629
This issue depends on #594

[2016-02-06 07:19] spring-issuemaster commented on #622
This issue duplicates #567

[2016-02-06 07:19] spring-issuemaster commented on #625
This issue depends on #466

[2016-02-06 07:19] spring-issuemaster commented on #653
This issue is related to #533

[2016-02-06 07:19] spring-issuemaster commented on #638
This issue depends on #640

[2016-02-06 07:19] spring-issuemaster commented on #2720
This issue duplicates #2721

[2016-02-06 07:19] spring-issuemaster commented on #2596
This issue duplicates #2488

[2016-02-06 07:19] spring-issuemaster commented on #1296
This issue depends on #1290

[2016-02-06 07:19] spring-issuemaster commented on #1272
This issue supersedes #1253

[2016-02-06 07:19] spring-issuemaster commented on #1265
This issue duplicates #1367

[2016-02-06 07:20] spring-issuemaster commented on #2551
This issue duplicates #2517

[2016-02-06 07:20] spring-issuemaster commented on #2529
This issue relates to #2526

[2016-02-06 07:20] spring-issuemaster commented on #1346
This issue is related to #1444

[2016-02-06 07:20] spring-issuemaster commented on #1342
This issue duplicates #1331

[2016-02-06 07:20] spring-issuemaster commented on #1347
This issue supersedes #1269

[2016-02-06 07:20] spring-issuemaster commented on #1336
This issue duplicates #1331

[2016-02-06 07:20] spring-issuemaster commented on #662
This issue duplicates #668

[2016-02-06 07:20] spring-issuemaster commented on #1320
This issue duplicates #761

[2016-02-06 07:20] spring-issuemaster commented on #694
This issue duplicates #668

[2016-02-06 07:20] spring-issuemaster commented on #2607
This issue duplicates #2162

[2016-02-06 07:20] spring-issuemaster commented on #2612
This issue relates to #1325

[2016-02-06 07:21] spring-issuemaster commented on #1310
This issue duplicates #1159

[2016-02-06 07:21] spring-issuemaster commented on #685
This issue duplicates #360

[2016-02-06 07:21] spring-issuemaster commented on #689
This issue depends on #360

[2016-02-06 07:21] spring-issuemaster commented on #690
This issue depends on #689

[2016-02-06 07:21] spring-issuemaster commented on #2181
This issue duplicates #2192

[2016-02-06 07:21] spring-issuemaster commented on #2176
This issue duplicates #2102

[2016-02-06 07:21] spring-issuemaster commented on #2177
This issue relates to #2252

[2016-02-06 07:21] spring-issuemaster commented on #707
This issue is related to #917

[2016-02-06 07:21] spring-issuemaster commented on #710
This issue depends on #819
This issue depends on #868

[2016-02-06 07:21] spring-issuemaster commented on #701
This issue duplicates #698

[2016-02-06 07:21] spring-issuemaster commented on #2174
This issue duplicates #2113

[2016-02-06 07:22] spring-issuemaster commented on #703
This issue is related to #669

[2016-02-06 07:22] spring-issuemaster commented on #2160
This issue duplicates #2100

[2016-02-06 07:22] spring-issuemaster commented on #731
This issue depends on #559

[2016-02-06 07:22] spring-issuemaster commented on #734
This issue is related to #849
This issue is related to #826

[2016-02-06 07:22] spring-issuemaster commented on #728
This issue duplicates #683

[2016-02-06 07:22] spring-issuemaster commented on #722
This issue duplicates #684

[2016-02-06 07:22] spring-issuemaster commented on #725
This issue duplicates #668

[2016-02-06 07:22] spring-issuemaster commented on #2139
This issue duplicates #2113

[2016-02-06 07:22] spring-issuemaster commented on #755
This issue is related to #752

[2016-02-06 07:22] spring-issuemaster commented on #758
This issue duplicates #596

[2016-02-06 07:22] spring-issuemaster commented on #2143
This issue relates to #3114
This issue supersedes #2448

[2016-02-06 07:23] spring-issuemaster commented on #2145
This issue duplicates #2166

[2016-02-06 07:23] spring-issuemaster commented on #746
This issue is related to #731

[2016-02-06 07:23] spring-issuemaster commented on #2126
This issue duplicates #2123

[2016-02-06 07:23] spring-issuemaster commented on #2629
This issue depends on https://jira.spring.io/browse/DATACMNS-293

[2016-02-06 07:23] spring-issuemaster commented on #2220
This issue relates to #2215

[2016-02-06 07:23] spring-issuemaster commented on #2219
This issue relates to #2215

[2016-02-06 07:23] spring-issuemaster commented on #2223
This issue depends on #2301

[2016-02-06 07:23] spring-issuemaster commented on #2215
This issue relates to #2125

[2016-02-06 07:23] spring-issuemaster commented on #2209
This issue depends on #2211

[2016-02-06 07:23] spring-issuemaster commented on #2203
This issue relates to #2206

[2016-02-06 08:04] deki commented on #1998
Duplicates #2173

[2016-02-06 08:17] kaosko commented on #778
While the issue is closed, I **must** note how both refreshing and absurd it was to get a notification about this issue now, almost 10 years later, as it was the one that originally pushed me to look for alternative options for Acegi such as JSecurity (now Apache Shiro), become a committer for it and eventually write a module that would implement rolling tokens for your end-to-end (http://www.tyna

[2016-02-06 10:47] visusnet commented on #2786
This is the mentioned pull request: https://github.com/spring-projects/spring-security/pull/63

[2016-02-06 18:48] jadekler commented on #3320
This is kind of interesting. What's the general approach for this? Support both through config + defaults, switch to supporting the new one, etc?

[2016-02-07 08:04] pnreddysvu commented on #3060
+1

[2016-02-07 08:51] LinkedList commented on #3354
This was fixed in [this commit](https://github.com/spring-projects/spring-security/commit/5c36c9f659d57c3bc868f82642b4298a6190992d). The issue can be closed.

[2016-02-07 11:33] pdewacht commented on #3320
The reference URL got lost in the migration. This message explains the change:
https://marc.info/?l=openbsd-misc&m=139320023202696

[2016-02-07 13:47] jtdev commented on #3079
The security model is an implementation of http://jaspan.com/improved_persistent_login_cookie_best_practice , which is not suitable for a multi threaded environment. Since the web is almost always multi threaded, it is simply broken.
A simple double click on a page refresh can trigger a CookieTheftException if the page doesn't respond quick enough.

See also https://www.drupal.org/node/327263#comm

[2016-02-09 14:02] gazal-k commented on #2629
Looks like some of the code here: https://github.com/rwinch/spring-security-data is to address this issue. Is there any plan to bring that into `org.springframework.security/spring-security-data`?

[2016-02-09 14:13] rwinch commented on #2629
@gazal-k Thanks for your feedback! You are right that the playground is in spring-security-data project. However, it is far from complete at the moment. What's more it is depending on a feature branch of Spring Data. For this issue to progress we need more work on https://jira.spring.io/browse/DATACMNS-293 to be completed. So *please* vote (and have your friends vote) on https://jira.spring.io/bro

[2016-02-09 16:25] gazal-k commented on #2629
:+1: shall do @rwinch

[2016-02-11 17:20] andrei-ivanov opened #3697 "SwitchUserFilter.ROLE_PREVIOUS_ADMINISTRATOR cannot be overridden"
Using the switch user functionality, I'm trying to see if the current user has the PREVIOUS_ADMINISTRATOR role using a different prefix than the standard one.
This fails since the name is hardcoded with the prefix: `org.springframework.security.web.authentication.switchuser.SwitchUserFilter.ROLE_PREVIOUS_ADMINISTRATOR = "ROLE_PREVIOUS_ADMINISTRATOR"`

[2016-02-11 18:44] whittle opened #3698 "JavaConfig of AuthenticationProvider ignored"
I have created a minimal application demonstrating what I believe to be a bug in Spring Security’s JavaConfig, where a custom AuthenticationProvider is explicitly configured on both the HttpSecurity and the AuthenticationManagerBuilder, but is ignored. The demonstration can be found at https://github.com/whittle/secbug.

[2016-02-11 19:08] rwinch commented on #3698
Thanks for the report @whittle!

Can you explain why you think this is not working? The reason I ask is that when you use the protected method the AuthenticationManagerBuilder is not scoped so that Boot can see it. This means Spring Boot will expose a default AuthenticationManager still. However, authentication to your `HttpSecurity` endpoints should still be done using the configuration you provi

[2016-02-11 19:33] rwinch commented on #3697
@andrei-ivanov Thanks for the submission! If this is something you are interested in, can you submit a PR to have a member variable for the previous administrator's role that defaults to  `SwitchUserFilter.ROLE_PREVIOUS_ADMINISTRATOR`. You would then provide a setter to allow overriding the default.

[2016-02-12 14:58] andrei-ivanov commented on #3697
PR created.

[2016-02-15 12:18] andrei-ivanov commented on #3697
BTW, why give up on Jira?
I find it much nicer than the GH issues tracker.

[2016-02-15 14:04] rwinch commented on #3697
@andrei-ivanov Thank you for creating a PR! I have responded to the PR!

Thank you for your feedback. I agree that JIRA has some advantages over GitHub issues. However, we have gotten lots of feedback that users prefer GitHub issues as they already have accounts, integrates better with their tooling, etc. I have also found that the projects using GitHub issues have a lot more community involvement

[2016-02-15 15:04] #3697 closed

[2016-02-15 15:09] andrei-ivanov commented on #3697
BTW, I think some mechanism would be nice to set the role prefix in a single place.
Currently I have this in 4 places:
[code]

[2016-02-15 15:12] rwinch commented on #3697
@andrei-ivanov Thanks for the suggestion. I have been considering this myself. Do you think you could create a new issue (perhaps even a PR)? I'm thinking we could create a Bean that has the defaultRolePrefix on it and then update all the default objects to look for this bean and update the default.

[2016-02-15 15:35] andrei-ivanov opened #3701 "Create single point of defining the default role prefix"
If one wants to change the default role prefix this must be done in more than one place and this can lead to errors if one of them is forgotten.
Currently I set it in 4 places:
[code]
Some strategy should be created to set the default role in a single place and the other components should use it.

[2016-02-15 16:10] rwinch commented on #3701
@andrei-ivanov Thanks for creating this! I don't suppose you are interested in creating a PR too?

[2016-02-15 16:11] andrei-ivanov commented on #3701
I can try. Any suggestions of component? :)

[2016-02-15 16:15] rwinch commented on #3701
This would be something easy to change as we think more about it. However, perhaps something like `org.springframework.security.config.core.GrantedAuthorityDefaults` makes sense?

[2016-02-16 04:13] rwinch opened #3702 "ScryptPasswordEncoder"
An idea is https://github.com/wg/scrypt

NOTE: There is other password storage advice here https://paragonie.com/blog/2016/02/how-safely-store-password-in-2016

[2016-02-17 13:44] whowrotethiscode opened #3703 "Make classes DefaultPreAuthenticationChecks and DefaultPostAuthenticationChecks public"
Can DefaultPreAuthenticationChecks and DefaultPostAuthenticationChecks (in AbstractUserDetailsAuthenticationProvider) be changed to public (from private)?

It would be useful to extend those classes...
...to append some additional checks to the default checks.
...and avoid copying the default checks code to a custom implementation

[2016-02-18 01:32] icey502 commented on #3320
You guys are welcome to my version of the bcrypt code, it is essentially the same except I replaced the hard-coded version string usage with something that I could modify to comply with the PHP stack I was up against at the time.  Trivial workaround once I realized what was happening.  I could imagine a "real" solution involving either a configuration setting or some kind of apriori inspection of

[2016-02-18 02:39] rwinch opened #3704 "Authenticating using same session does not clean up SessionRegistry"
Using the following configuration:

[code]

A user performs the following steps:

* Open three tabs to a log in page
* Authenticate in the first tab
* Authenticate in the second tab
* Authenticate in the third tab

The user is not allowed to authenticate. This happens for two reasons:

* The second authentication is allowed only because we check to see if the current session is the same as one of

[2016-02-18 18:55] TYsewyn opened #3706 "HTTP Public Key Pinning"
See http://tools.ietf.org/html/rfc7469

[2016-02-18 19:50] rwinch commented on #3706
Thanks for the report @TYsewyn! Any chance you would be interested in submitting a PR?

[2016-02-18 19:53] rwinch commented on #3706
Just saw your tweet https://twitter.com/tysewyn/status/700393662690258944 ! I'm looking forward to seeing the PR :)

[2016-02-18 20:00] TYsewyn commented on #3706
Since it is labeled as a new feature/improvement, is it safe to assume it will be picked up in the 4.1 release?

[2016-02-18 20:01] rwinch commented on #3706
@TYsewyn Assuming you get a PR by then, yes that would be the plan :)

[2016-02-18 20:02] rwinch commented on #3706
PS Getting 4.1 out is going to be my primary goal in the coming days.

[2016-02-19 00:03] ndouba commented on #2571
+1

[2016-02-19 02:43] rwinch commented on #2571
@ndouba Thanks for the input and submitting the PR!

This is related if not a duplicate of https://github.com/spring-projects/spring-security/issues/1388#issuecomment-180595870

I'm going to need some time to look into some of the history behind the issue. Also, (assuming we accept the change) I'm a bit hesitant to update existing code in a non-passive way. We may need to add a flag to the class t

[2016-02-19 07:42] ndouba commented on #2571
Maybe a better alternative to my PR is to create a new interface (PermissionComparisonStrategy) which allows people to inject their own permission comparison into the DefaultPermissionGrantingStrategy bean? I can also see how some people may want to implement their own version of it (i.e. mask1 > mask2, or if mask1 == ADMINISTER || (mask1 & mask2) != 0, etc.).

From:  Rob Winch <notifications@gith

[2016-02-19 17:36] asaarnak commented on #3217
Useful. Pure websocket for login/authentication. As the popularity of single page apps (frontend/backend separation) increase and all major browsers support websocket, some would use only websocket througtout the app.

[2016-02-19 17:48] Polve commented on #3217
Right.
But the more useful use case for me is from non-webapp applications, i.e.: to expose APIs used by standalone applications for example on the commandline, on Android, or on the desktop.

Unfortunately I've yet to find a workaround.

[2016-02-19 20:25] danilcha opened #3709 "Adding @Secured to an unused action method empties controller fields"
This issue has many times been unsuccessfully questioned in StackOverflow:
- [@Secured in controller @Autowired not work](http://stackoverflow.com/questions/23193329/secured-in-controller-autowired-not-work)
- [spring session scope form is null when using @Secured](http://stackoverflow.com/questions/24804845/spring-session-scope-form-is-null-when-using-secured)
- [Struts2 + Spring Security 2.06: V

[2016-02-20 03:04] rwinch commented on #3709
@danilcha Thanks for the report!

CGLIB proxying will not work properly due to the fact that the `registration` method is private. This is a known limitation with proxy based AOP. If you change the method to public, then `hello` should be non-null.

[2016-02-20 10:45] danilcha commented on #3709
@rwinch Thank you, yes, I for some reason made it private. Now it works. Can you track such cases and write a warning into the log? Many people were struggling with this, thinking their `@Autowired` or `@Inject` do not work.

In general, I know that `@Secured` should not be used in controllers, OK, I understand why. Is there some alternative that can be used in controllers instead of using `author

[2016-02-21 11:35] eddumelendez commented on #3176
Should 1.5.5 and 2.0.0.M21 versions supported?

[2016-02-22 05:38] sambiomatters opened #3710 "No session fixation protection on remember-me login"
It appears that there is no session fixation strategy being called when the remember-me filter authenticates the user using the remember-me cookie. The session id remains the same. I think this would only be exploitable via an XSS vulnerability, or if url rewriting is enabled.

[2016-02-22 05:40] sambiomatters opened #3711 "No CSRF protection on remember-me authentication"
There does not appear to be any CSRF protection for remember-me logins using the Java Spring Config (unless you make a custom request matcher). I realise this is probably by design, to allow links to function correctly. The extent of the "attack" would be to cause the current user to be logged in again. I'm not sure if there's any further attack vectors possible after this.

Is there any way we co

[2016-02-22 12:15] sambiomatters commented on #3711
Closing as Synchronizer Token flow is not logical for most standard uses of remember me tokens.

I can see this is probably handled better for our use cases (SPA with REST) by sending the remember me token in the header.

Feel free to re-open if you think the config option has merit.

[2016-02-22 12:16] #3711 closed

[2016-02-23 00:16] gustavolira opened #3712 "@Secured is is not recognizing user roles"
Hi,

It looks very strange behavior, probably a bug.
I have a Spring boot 1.3.2 as backend API using Rest Service and I have another application using Angular 2 consuming these services.
All the security stuff is working ok with JWT Token, I can restricted my services for logged users, I can check the user logged and so on. Authorization is not working 100%, If I add on my services `@Secured` or `

[2016-02-23 03:54] rwinch commented on #3712
@gustavolira Thanks for the report. You are going to need to provide me with more details for me to be able to help you. There are tests that demonstrate this work, so this is either a setup issue on your side or some sort of edge case.

[2016-02-23 11:11] rscipien opened #3713 "Logout and InvalidSessionStrategy"
I have problem during logout when I have set invalid session url.
[code]
Spring goes to Logout filter invalidate session and then in SessionManagerFilter check it session is valid. In that moment request point to login?logout but goes to invalidSessionStrategy and change that to login?sessionExpired. Maybe in SimpleRedirectInvalidSessionStrategy there should be some check if that url have set perm

[2016-02-23 12:06] gustavolira commented on #3712
@rwinch thanks for you attention.
I wil put here my configs maybe you can find something wrong.
Controller:
[code]
Spring Security Config:
[code]
My filter:
[code]
Main config
[code]

[2016-02-23 20:27] rwinch commented on #3712
@gustavolira Thanks for the update. Nothing in your configuration jumps out at me. Can you put together a complete & minimal example that reproduces the problem?

[2016-02-23 20:49] gustavolira commented on #3712
I'm using two applications, one with spring and another one that are using angular 2 for you reproduce you would be able to run these two applications, it's ok for you?

[2016-02-23 20:51] gustavolira commented on #3712
I'm thinking to create this funcional of "@Secured" on hands, putting at beginning of each method the verification of my roles, if role was not found I trow AccessDeniedException, I think would be the same behavior but I don't know about performance

[2016-02-23 21:03] rwinch commented on #3712
@gustavolira

The easier it is for me to run the application(s) the faster you will get a response. I tend to prioritize things that are easier so I can get more done. It also rewards those that are willing to put in effort to simplify the problem for me.

You can place the code within your method. However, this means you do not have the benefits of AOP.

[2016-02-24 07:38] mdeinum opened #3714 "Events fired multiple times with chained ProviderManagers"
In one of our applications we have a couple of `ApplicationListener` implementations which operate on certain events from Spring Security. One is for logging and another is for disabling the user after a number of failed login attempts.

We noticed that the `AuthenticationSuccessEvent` and `AuthenticationFailureBadCredentialsEvent` where fired multiple times. After some debugging we noticed that t

[2016-02-24 12:19] gustavolira commented on #3712
@rwinch Just to update. At beginning of the service I put:
[code]
At method HasRole.check I put:
[code]
And it's working, so for me sounds like a bug has @Secured not being recognizing user roles.
I agree that you need an environment to be able to reproduce this problem, as soon as possible I will share with you this environment

[2016-02-24 14:14] gustavolira commented on #3712
I will close this Issue and apologize for time spent.
I could figure out what was happening. was a line break issue in the database records...

[2016-02-24 14:14] #3712 closed

[2016-02-24 14:43] rwinch commented on #3712
@gustavolira I'm glad you figured it out!

[2016-02-24 14:49] rwinch commented on #3714
@mdeinum Thanks for reporting the issue!

At first glance this appears to be a bug. We should only be firing a single event.

Any chance you would be interested in figuring out a PR for this?

[2016-02-25 07:09] mdeinum commented on #3714
@rwinch I'll have a stab at it. First let me try to create a sample which replicates the behavior. Is there a *spring-security-issues` repository. I'm also wondering if this is a configuration issue (that it possible need not chain {{ProviderManager}}s )or a {{ProviderManager}} issue)

[2016-02-25 17:02] #3683 closed

[2016-02-25 17:32] rwinch opened #3715 "Update to Spring 4.2.5"

[2016-02-25 17:33] rwinch opened #3716 "Update to Spring 4.2.5"
Backport of #3715

[2016-02-25 17:35] #3715 closed

[2016-02-25 17:38] #3716 closed

[2016-02-26 21:17] hmolsen opened #3718 "ProviderManager with multiple AuthenticationProviders erroneously successfully authenticates after a prior provider correctly throws AuthenticationException"
Some background on what I am doing:
I have a SpringBoot (1.3.3.RELEASE) application with SpringSecurity and I am trying to add two factor authentication. Therefore I extended the `DaoAuthenticationProvider` with my `TfaAuthenticationProvider`, which overrides the `additionalAuthenticationChecks`method. This one checks the 2FA token and throws an AuthenticationException if something goes wrong.

[c

[2016-02-26 21:43] hmolsen commented on #3718
My current workaround is hard erasing of the credentials in case of an error, then the later authentication of the `DaoAuthenticationProvider` fails:

[code]

[2016-02-29 06:28] chrylis opened #3719 "MockMvc discards modified SecurityContext"
I am testing a Spring MVC controller that updates a customer's subscription and then immediately refreshes the security context to apply the new settings:

[code]

This works correctly run live. However, when using `@WithUserDetails` and MockMvc, the change in the context applied in the controller method is discarded between requests, so that when I make a subsequent request I see the stale data.

[2016-02-29 08:24] chrylis commented on #3719
Now that I am returning for further enhancements, the `SecurityContext` injection has stopped working; instead, Spring is injecting a JDK proxy with no backing targets whatsoever, and so all calls are silently dropped. If using the `SecurityContext` as a method parameter is not supported (and I don't see an argument resolver for it), I'm mystified whether it worked in the first place (and perhaps

[2016-02-29 09:42] #3719 closed

[2016-02-29 09:44] chrylis opened #3720 "MVC argument resolver for SecurityContext"
Getting a reference to the `SecurityContext` is needed for safely updating information about the logged-in user, but there is no MVC argument resolver for it. I have a trivial implementation that I'm using in my own code and would be happy to prepare a PR for it if it's considered worth including in the mainline.

[2016-02-29 14:00] rwinch commented on #3719
@chrylis

`@WithUserDetails` will establish the same user for ever request. This is as designed. If you want the initial user to only be on the first request you can use [.with(user(userDetails))](http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#test-mockmvc-securitycontextholder-rpp).

We have moved to GitHub issues, so this is the correct place :) We are hoping GitHu

[2016-02-29 14:03] rwinch commented on #3720
@chrylis Thanks for the offer. This does sound somewhat appealing. However, I'm concerned about the usage of SecurityContext and setting a new `Authentication` directly as this can cause race conditions. From [the reference](http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#tech-intro-sec-context-persistence)

I wonder if we can accomplish something similar without the

[2016-02-29 22:34] poznachowski opened #3721 "@WithSecurityContext test without MockMVC"
I have a Spring Boot application (REST-based using JAX-RS) and couple of endpoints secured with a custom `AuthenticationProvider`. For integration testing I'm not using MockMVC, but REST-assured.
How can I make use of `@WithSecurityContext` annotation to mock my `SecurityContext`?

[2016-02-29 22:36] chrylis commented on #3719
Is `@WithUserDetails` supposed to reset the authentication for every _request_ or just every test case? I have some test cases where I need to fiddle with the user's database attributes (which of course happens after the stock `Authentication` object is created), and modifying the DB and then logging in seems to retain the new login as I expected.

[2016-02-29 22:38] rwinch commented on #3719
@chrylis Every request. If you need to control it on each specific request, then you need to use  [.with(user(userDetails))](http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#test-mockmvc-securitycontextholder-rpp).

[2016-02-29 22:39] chrylis commented on #3720
In my case, at least, I'm explicitly *trying* to set the new `Authentication` globally (ideally, including across all sessions, as in spring-session#398. Is the concern that some users would expect the injected context to be request-scoped and thus might munge the rest of the session accidentally?

[2016-02-29 22:42] rwinch commented on #3720
@chrylis I'm not sure I understand. Can you please clarify?

[2016-02-29 22:46] rwinch commented on #3721
@poznachowski I don't think this is currently possible. Does REST-assured have some hook like MockMvc's `RequestPostProcessor`?

[2016-02-29 22:47] chrylis commented on #3720
In my case, I have changed a user's permissions (cached in the session) and want to replace the `Authentication` object for all of that user's future requests to reflect the permission change. Altering the security context (which AIUI in Spring MVC writes through to the session) is *supposed* to modify all the concurrent requests.

The race condition you describe, if I'm interpreting correctly, ap

[2016-02-29 22:48] chrylis commented on #3719
This actually works the way that I expected it to (login does update the security context persistently). I'm using the MockMvc HtmlUnit support, so the `.with` isn't even an option.

[2016-02-29 22:51] rwinch commented on #3720
Correct. It seems it would lead to improper usage in real world scenarios.

[2016-02-29 23:02] chrylis commented on #3720
I'm sure that the temporary case is used frequently, but I've actually used the permanent case multiple times but never the temporary one.

In the run-as case, I believe that the user needs to operate through the context holder anyway to set the new empty-and-then-filled context as the current context and then restore it, meaning that there is little advantage to having an annotation parameter tha

[2016-03-01 02:13] rwinch commented on #3720
@chrylis I guess what I'm trying to get at is that we could support something like this, but in a less error prone way.

Perhaps we can allow a user to return an `Authentication` object and mark the method with `@AuthenticatedWith`. Spring Security would have a `ReturnValueHandler` that would then populate the `SecurityContextHolder` properly. It could also send the user to the saved request, etc.

[2016-03-01 03:39] chrylis commented on #3720
I'm looking at MVC request handlers here; the return value is already "taken" by the HTTP response in one form or another. In the instant case, the user is redirected back to the "account view" page, and if this part gets exposed as a JSON API, the user will get some form of plan-status object back. The authentication refresh necessarily happens as a side effect.

[2016-03-01 15:25] rwinch commented on #3702
PR submitted at #3717

[2016-03-01 16:45] rwinch commented on #3718
@hmolsen I think you have found a documentation bug. `ProviderManager` has (for as long as I can remember) behaved this way. The intention is for `ProviderManager` to stop at the first supported `AuthenticationProvider` that returns success. If it fails, it continues. This is necessary, for example, for users that keep users in multiple data stores.

One option is to create a composite `Authentica

[2016-03-01 16:49] rwinch opened #3722 "Javadoc on ProviderManager.authenticate clarification"
The javadoc on `ProviderManger` should make it clear that an `AuthenticationException` from an `AuthenticationProvider` will cause additional `AuthenticationProvider`s to be tried.

[2016-03-01 16:49] rwinch commented on #3718
I created #3722 to address the javadoc issue.

I'm going to close this issue since you have a workaround and I provided an alternative. If you have follow up please feel free to reopen.

[2016-03-01 16:49] #3718 closed

[2016-03-01 17:24] rwinch commented on #3714
@mdeinum

There is now :) https://github.com/spring-projects/spring-security-issues

It is possible that this could be cleaned up, but I still think that the eventing should be a single event.

[2016-03-01 22:08] haghar commented on #2825
I have tried to implement the second suggestion mentioned

But It does not redirect either, I'm using annotations to configure my webapp:

    http.addFilterBefore(sessionManagmentFilter(), SessionManagementFilter.class);
    ....
    @Bean
    public SessionManagementFilter sessionManagmentFilter() {
        SessionManagementFilter sessionManagementFilter =
                new SessionManagementFi

[2016-03-02 06:45] mdeinum commented on #3714
@rwinch will create a small project (at least test case) that show the issues. Expect a pull request soon.

[2016-03-02 08:35] mauromol commented on #2825
Meanwhile I have also used the new `InvalidSessionStrategy` implementation I linked before with success. It's working fine for me.
However, I'm using XML to configure the whole thing. Here is an excerpt:

[code]

Hope this helps.

[2016-03-02 13:50] idcox opened #3723 "Unexpected error in trace logging when instantiating InMemoryUserDetailsManager"
We have migrate our application from using Spring Security v3.0.0 to use Spring IO version 1.1.3 (and hence Spring Security version 3.2.7)

We previous defined an InMemoryDaoImpl bean. This is deprecated in version 3.2.7 and using it yielded errors when used in our Spring IO implementation. As a result, we followed the deprecation guidance and also section 4.5.11 of a Spring migration guide (http:

[2016-03-02 14:50] asaarnak commented on #3217
@Polve > "used by standalone applications for example on the commandline"

_Web application can also be a standalone application, just static css/html/js singe page application that communicates with backend by websocket only.
It's more common today to seperate backend and frontend to different projects._

@Polve > "Unfortunately I've yet to find a workaround."

_You could take a look at this: [ht

[2016-03-02 15:40] rwinch commented on #3723
@idcox Thank you for the question. This is expected behavior. The TRACE is not intending to inform you there is an error, but help you troubleshoot in the event you were expecting it to convert to an ENUM. You can find [TypeConverterDelegate](https://github.com/spring-projects/spring-framework/blob/v4.1.7.RELEASE/spring-beans/src/main/java/org/springframework/beans/TypeConverterDelegate.java#L336)

[2016-03-02 15:40] #3723 closed

[2016-03-02 15:41] rwinch commented on #3714
@mdeinum Thanks!

[2016-03-02 18:10] idcox commented on #3723
@rwinch - thanks for your response. Much appreciated

[2016-03-02 22:57] rwinch commented on #3706
@TYsewyn I had one more pass. After that I think we are done!

[2016-03-03 15:18] rwinch opened #3725 "Forward after authentication attempts"
We should make forwarding after authentication success / failure easier

* [x] #3726
* [x] #3727
* [x] #3728

We should also investigate other places this makes sense. For example, authorization failure.

See  also https://jira.spring.io/browse/SPR-14014

[2016-03-03 16:01] rwinch opened #3726 "ForwardAuthenticationSuccessHandler"
Spring Security does not currently provide an `AuthenticationSuccessHandler` that forwards the request. However, this is something that really should be provided

[2016-03-03 16:05] rwinch opened #3727 "ForwardAuthenticationFailureHandler"
Currently Spring Security allows you to forward when authentication fails using `SimpleUrlAuthenticationFailureHandler` and setting the `forwardToDestination=true`. The `AuthenticationException` will be present on the `HttpServletRequest` attribute named `WebAttributes.AUTHENTICATION_EXCEPTION`.

While this is nice, it would be nice to create a specific class that is intended for this, so it is mo

[2016-03-03 16:06] rwinch opened #3728 "Forward after authentication attempt configuration support"
We should provide first class configuration support for forwarding after authentication attempts (both success / failure). For example, we might have the following:

[code]

In XML configuration something like the following would be provided:

[code]

Something similar would be provided for authentication success.

[2016-03-03 18:17] ro0sterjam commented on #1172
So is this not going to be handled?

[2016-03-03 18:32] TYsewyn commented on #3706
@rwinch All last notes were changed/implemented and all commits were squashed so I think we're good to go here!

[2016-03-03 20:06] #3702 closed

[2016-03-03 20:34] #3706 closed

[2016-03-03 21:28] rwinch commented on #3706
@TYsewyn Thanks again for the PR! This is now merged into master :)

[2016-03-03 21:31] rwinch commented on #1172
@ro0sterjam Honestly, I'm not sure what else would be done (the issue was closed in 2009 within JIRA and just was migrated as closed recently)

[2016-03-03 21:34] #3722 closed

[2016-03-03 21:41] #3333 closed

[2016-03-03 21:41] rwinch commented on #3333
We are now moved to GitHub issues

[2016-03-04 16:12] shollander commented on #1901
+1 For this feature. I think it would be very useful.

Another element of this along the same lines would be to add support for all [method security expressions](http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#method-security-expressions) such as the ```@Pre``` and ```@Post``` annotations.

Something like this would be very useful:
[code]

If I have a service that con

[2016-03-04 17:34] TYsewyn commented on #3384
@rwinch I'll pick this up further, if it's ok?

[2016-03-04 17:37] rwinch commented on #3706
@TYsewyn I'm going to mention those that contribute when the release is announced. Do you have a preferred way for me to give you credit (i.e. link to github, link to twitter, link to your website, etc)?

[2016-03-04 17:41] TYsewyn commented on #3706
Link to twitter is fine for me!

[2016-03-04 17:41] rwinch commented on #3384
@TYsewyn Thanks for the offer! I'm real excited how active you have been :) I think this one will be taken care of in a PR #248 I'm just struggling to get all the PRs I've been getting merged.

[2016-03-04 17:43] rwinch commented on #3706
@TYsewyn Great. To make it easier for me later https://twitter.com/TYsewyn

[2016-03-04 19:06] toughpheeckouse opened #3730 "Does not handled NotFoundException in AclAuthorizationStrategyImpl.securityCheck"
In case when then currently authenticated user does not have requiredAuthority to change acl then
performed check:
[code]
but Acl.isGranted may throws NotFoundException and if it will be thrown then AclAuthorizationStrategyImpl.securityCheck does not throw AccessDeniedException as expected.

[2016-03-05 08:07] wwadge commented on #3572
PR: https://github.com/spring-projects/spring-security/pull/3731

[2016-03-05 09:10] kazuki43zoo commented on #3323
:+1:

[2016-03-05 12:59] linuxjackto1 commented on #404
thanks www.movied.org

[2016-03-05 13:00] linuxjackto1 commented on #403
thanks www.movied.org

[2016-03-05 13:03] linuxjackto1 commented on #406
thanks www.movied.org

[2016-03-05 13:07] linuxjackto1 commented on #407
thanks www.movied.org

[2016-03-05 13:10] linuxjackto1 commented on #410
thanks www.movied.org

[2016-03-05 13:11] linuxjackto1 commented on #409
thanks www.movied.org

[2016-03-05 13:11] linuxjackto1 commented on #408
thanks www.movied.org

[2016-03-05 13:13] linuxjackto1 commented on #405
thanks www.movied.org

[2016-03-05 13:18] linuxjackto1 commented on #411
thanks www.movied.org

[2016-03-05 13:28] linuxjackto1 commented on #421
thanks www.movied.org

[2016-03-05 13:29] linuxjackto1 commented on #420
thanks www.movied.org

[2016-03-05 13:29] linuxjackto1 commented on #419
thanks www.movied.org

[2016-03-05 13:32] linuxjackto1 commented on #418
thanks www.movied.org

[2016-03-05 13:33] linuxjackto1 commented on #417
thanks www.movied.org

[2016-03-05 13:34] linuxjackto1 commented on #416
thanks www.movied.org

[2016-03-05 13:35] linuxjackto1 commented on #415
thanks www.movied.org

[2016-03-05 13:36] linuxjackto1 commented on #414
thanks www.movied.org

[2016-03-05 13:37] linuxjackto1 commented on #413
thanks www.movied.org

[2016-03-05 13:38] linuxjackto1 commented on #412
thanks www.movied.org

[2016-03-05 13:42] linuxjackto1 commented on #422
thanks www.movied.org

[2016-03-05 13:45] linuxjackto1 commented on #423
thanks www.movied.org

[2016-03-05 13:49] linuxjackto1 commented on #424
thanks www.movied.org

[2016-03-05 13:50] linuxjackto1 commented on #427
thanks www.movied.org

[2016-03-05 13:51] linuxjackto1 commented on #426
thanks www.movied.org

[2016-03-05 13:55] linuxjackto1 commented on #425
thanks www.movied.org

[2016-03-05 14:05] linuxjackto1 commented on #428
thanks www.movied.org

[2016-03-05 14:07] linuxjackto1 commented on #430
thanks www.movied.org

[2016-03-05 14:09] linuxjackto1 commented on #429
thanks www.movied.org

[2016-03-05 14:11] linuxjackto1 commented on #432
thanks www.movied.org

[2016-03-05 14:12] linuxjackto1 commented on #435
thanks www.movied.org

[2016-03-05 14:13] linuxjackto1 commented on #434
thanks www.movied.org

[2016-03-05 14:17] linuxjackto1 commented on #433
thanks www.movied.org

[2016-03-05 14:20] linuxjackto1 commented on #436
thanks www.movied.org

[2016-03-05 14:22] linuxjackto1 commented on #438
thanks www.movied.org

[2016-03-05 14:23] linuxjackto1 commented on #437
thanks www.movied.org

[2016-03-05 14:24] linuxjackto1 commented on #444
thanks www.movied.org

[2016-03-05 14:25] linuxjackto1 commented on #442
thanks www.movied.org

[2016-03-05 14:26] linuxjackto1 commented on #441
thanks www.movied.org

[2016-03-05 14:27] linuxjackto1 commented on #440
thanks www.movied.org

[2016-03-05 14:27] linuxjackto1 commented on #431
thanks www.movied.org

[2016-03-05 14:28] linuxjackto1 commented on #439
thanks www.movied.org

[2016-03-05 14:33] linuxjackto1 commented on #446
thanks www.movied.org

[2016-03-05 14:34] linuxjackto1 commented on #445
thanks www.movied.org

[2016-03-05 14:40] linuxjackto1 commented on #443
thanks www.movied.org

[2016-03-05 14:40] linuxjackto1 commented on #448
thanks www.movied.org

[2016-03-05 14:41] linuxjackto1 commented on #447
thanks www.movied.org

[2016-03-05 14:43] linuxjackto1 commented on #449
thanks www.movied.org

[2016-03-05 14:44] linuxjackto1 commented on #450
thanks www.movied.org

[2016-03-05 14:54] linuxjackto1 commented on #451
thanks www.movied.org