[2019-01-08 21:12] jgrandja opened #6374 "Provide Cookie implementation of AuthorizationRequestRepository"
We should consider providing a `Cookie` based implementation of `AuthorizationRequestRepository`.

[2019-01-08 21:14] jgrandja commented on #5313
@alexander00001 I added this ticket #6374. Feel free to upvote.

[2019-01-08 22:00] jzheaux commented on #5937
I've opened a ticket with Nimbus and we'll see where that goes: https://bitbucket.org/connect2id/nimbus-jose-jwt/issues/296/consider-having-jwtprocessor-accept-key

[2019-01-08 22:23] LukeButters commented on #6002
I made a PR https://github.com/spring-projects/spring-security/pull/6376 hopefully that is how you want it.

[2019-01-09 01:49] clevertension commented on #6324
let me clarify the requirement with my demo project
i create a ** UserNameCheckProvider** to check if the username is started with fuck, then i create a userDetailsService with specific username and password

![image](https://user-images.githubusercontent.com/346723/50870554-71477580-13f3-11e9-9732-85bb7092b056.png)

so now, my expectation is we can only allow user to login with (username="user" a

[2019-01-09 03:36] peterwkc85 commented on #6364
I believe the developer has better visibility in it. Please help before closing it.

[2019-01-09 13:54] denisw opened #6377 "Open ID Connect issuer URI "cleanup" before discovery breaks issuer URI matching"
### Summary

When doing OpenID Connect issuer discovery, Spring Security removes any trailing slash from the issuer URI before appending `/.well-known/openid-configuration`, as mandated by the spec. However, after having fetched the configuration, the the returned configuration's issuer URI matched against the "cleaned up" version of the issue URI, rather than the the originally provided one.

Thi

[2019-01-09 14:36] denisw commented on #6377
@jgrandja Thanks for the quick reply! Things work perfectly with the 2.1.2 snapshot. :) I will close the issue now.

[2019-01-09 14:36] #6377 closed

[2019-01-09 15:34] #6323 closed

[2019-01-09 16:05] wimdeblauwe opened #6378 "Allow the ability to deny login based on the Oauth2 client for certain user roles"
### Summary

Allow the ability to deny login based on the Oauth2 client for certain user roles. This is currently possible, but a bit hacky to implement.

### Actual Behavior

In my Spring Boot 2.x application, I have 2 Oauth2 clients. Certain user roles are only allowed to log on via a certain Oauth2 client. See https://stackoverflow.com/questions/54097966/spring-oauth2-authorization-server-diffe

[2019-01-09 16:20] jgrandja commented on #6378
@wimdeblauwe Since your issue references the [Spring Security OAuth](https://spring.io/projects/spring-security-oauth) project, can you please log the issue [here](https://github.com/spring-projects/spring-security-oauth/issues). Thank you.

[2019-01-09 16:20] #6378 closed

[2019-01-09 17:20] jzheaux commented on #5937
My point in the ticket was to highlight how Spring Security solves the problem today, via a custom `SecurityContext`, and to gauge whether or not that was contrary to its intended use.

Vladimir confirmed in his reply that this kind of scenario is what `SecurityContext` was meant for, which actually was contrary to my expectations.

[2019-01-09 18:02] rwinch commented on #6364
Please post a link to StackOverflow and we can help there.

[2019-01-09 18:12] #6373 closed

[2019-01-09 19:23] rwinch commented on #3396
Closing as duplicate of gh-6312

[2019-01-09 19:23] #3396 closed

[2019-01-09 19:38] rwinch commented on #5548
Thank you for the follow up.

A `null` password is not valid argument, so it is not surprising to get a `NPE` for that. That means that your input was invalid. Let me know once you figure out a way to reproduce the issue.

[2019-01-09 21:05] jzheaux commented on #6350
@peterwkc85 I noticed your conversation with @rwinch [here](https://github.com/spring-projects/spring-security/issues/6364#issuecomment-452793832).

Instead of you trying to maintain several conversations at once, it would be better to take this conversation over to StackOverflow.

Will you please post your question there and link it to this and the other ticket you logged? I think that will get y

[2019-01-09 21:13] rwinch commented on #6324
Thank you for the additional details on your requirements.

Perhaps it is better to prevent such usernames from being created in the first place?

If that doesn't work, you can use [DaoAuthenticationProvider.setPreAuthenticationChecks](https://github.com/spring-projects/spring-security/blob/575d943f1af11fca767781b2b0c549d1cd36433f/core/src/main/java/org/springframework/security/authentication/dao/

[2019-01-09 21:13] #6324 closed

[2019-01-09 21:21] pminearo commented on #5548
I have been thinking about the issue for the past couple of days and I may know what is going on.  It is a "leap of faith" since I don't have any real hard evidence. BUT it does seem to fit.

In our application we have Spring Session and Spring Security. In the web.xml file, Spring Session comes before Spring Security.  This means Spring Session looks at the request before Spring Security.  We wer

[2019-01-09 21:23] jgrandja opened #6379 "Expose ID Token JwtDecoderFactory"
`DefaultJwtDecoderFactory` in `OidcAuthorizationCodeAuthenticationProvider` and `OidcAuthorizationCodeReactiveAuthenticationManager` is responsible for providing the `JwtDecoder` used for ID Token verification. Both are declared as `private static`.

The user may need to customize the `JwtDecoder` in certain scenarios, for example, configuring a clock skew (#5839). Given this, we should extract bo

[2019-01-09 21:37] jgrandja commented on #5839
@zcwang3 @gburboz @yannick-fernand Clock skew can now be configured via `OidcIdTokenValidator.setClockSkew()`. However, it's not that easy to configure it at the moment as it will require some code duplication on the user's end. This is being addressed in #6379. I'm in the process of putting a PR for this. After #6379 is resolved, it should be fairly straight forward to configure a clock skew per

[2019-01-09 21:56] rwinch commented on #5548
The `null` password means something went wrong. It should thrown an `Exception`. A user cannot enter a `null` password. As the test demonstrates, an empty password works as expected.

It might be helpful to share the complete stacktrace you have as well.

[2019-01-09 22:05] pminearo commented on #5548
The complete stack trace is in the original comment above.

[2019-01-09 22:36] jgrandja commented on #6379
I was planning on it but would be happy to hand it over to you :)

[2019-01-09 22:43] jgrandja commented on #6379
The 2 things to keep in mind for this task:

- The name `DefaultJwtDecoderFactory` will need to be renamed to be more specific. Maybe `IdTokenDecoderFactory`?
- The user should be able to configure `OidcIdTokenValidator.setClockSkew()` per provider if required. This means that each `OidcIdTokenValidator`  may have a different clock skew setting. When you think about it, if the application has Goog

[2019-01-10 06:39] peterwkc85 commented on #6350
How to retrieve the encryptor password or using the encryptor password?

[2019-01-10 07:46] PawelJ-PL commented on #6340
I have prepared example app: https://github.com/PawelJ-PL/spring-security-csrf-error
How to reproduce error:

1) Build and run app
2) In web browser go to endpoint `/do/something` (`GET` request)
3) You will be redirected to login page. Enter username: `user` and password printed in console
4) You will be redirected to page with contnt `QWERTY`. Copy SESSION cookie
5) Using curl (or similar tool)

[2019-01-10 15:08] jgrandja commented on #6379
@raphaelDL Just a heads up that I'm hoping to get this merged before end of day Monday as 5.2.0.M1 is being released on Tue. Do you think you'll be able to have something for review by end of day today or tomorrow morning? No pressure at all if you don't have the cycles. Either way let me know and if you don't have the time than I can wrap this up fairly quickly.

[2019-01-10 15:10] jzheaux commented on #6350
@peterwkc85 Github really isn't the best place for support questions. I'm happy to help you further - please post your question to StackOverflow, and then add a link to your StackOverflow question here. Thanks!

[2019-01-10 15:15] raphaelDL commented on #6379
Sure, I'm working on it, can you give me ideas on the multiple clock skew settings in `OidcIdTokenValidator` ? I can do it  if you outline that for me... or I can leave it to you, whatever you feel like. I completely understand the schedule.

[2019-01-10 15:31] jgrandja commented on #6379
As far as being able to support a different clock skew setting per provider, I think this will do the trick.

[code]

Let's go with this for now and we can refine from here.
Thanks!

[2019-01-10 15:35] jgrandja commented on #6379
Btw, the current implementations compose 2 `OAuth2TokenValidator` as follows:

[code]

`JwtTimestampValidator` is redundant so we don't need it. The new implementations should only contain `OidcIdTokenValidator` as the default, as per example above.

[2019-01-10 15:36] jzheaux commented on #5937
@GregoireW I think the next step is to work with Nimbus to see if we can get some of the Spring Security code accepted there, in order to legitimize and clarify the approach. Since it's Nimbus's position that it's okay, let's see if we can get a stronger API definition on that side of things.

At the very least, `JWKContext` or something similar should live in Nimbus. I'll submit a PR to Nimbus as

[2019-01-10 15:40] jzheaux opened #6380 "JwtTimestampValidator should change maxClockSkew to clockSkew"
`JwtTimestampValidator` has a property called [`maxClockSkew`](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtTimestampValidator.java#L47).

Let's simplify this to `clockSkew`. We need to change the field name, the constructor parameter, and the error message in the constructor.

[2019-01-10 15:44] rwinch commented on #5548
Thanks. Sorry I had missed that.

Based on the stacktrace this his happening at the time of authentication and so Spring Session should not impact this.

This is really outside of the scope of Spring Security as it is more about error reporting and is applicable to any error you might have. Typically you can configure your logger to include things like the request URL. For example, you can configu

[2019-01-10 15:48] GregoireW commented on #5937
I already do something on my projects to make it works (and it is ok),

My main issue is that some "common" classes are protected, it means I need to copy a lot of code (or create a beautiful package org.springframework.security.oauth2.jwt in my applications ) to be able to make this work.

It is why I'm so motivated to upgrade this on spring side to drop those things as soon as possible ;)

[2019-01-10 16:04] GregorEeckels opened #6381 "[Suggestion] Make oauth2-resource-server independant of spring.security.web"
### Summary
In [spring-security-oauth2-resource-server.gradle](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-resource-server/spring-security-oauth2-resource-server.gradle) should contain Spring Security Web only as an optional dependency, as it is possible to use classes from [here](https://github.com/spring-projects/spring-security/tree/master/oauth2/oauth2-resource

[2019-01-10 16:13] #6223 closed

[2019-01-10 16:15] raphaelDL commented on #6379
Ok Joe, thank you for your help.. I committed additional changes. I'm working on a test for the customization

[2019-01-10 16:28] rwinch opened #6382 "MethodSecurityEvaluationContext Should Check Parameter Names Are Not Null"
### Summary
Backport of gh-6223

[2019-01-10 16:28] rwinch commented on #6382
Fixed via 80b123bf362b6bc910590992b1ac09035af99686

[2019-01-10 16:34] rwinch opened #6383 "MethodSecurityEvaluationContext Should Check Parameter Names Are Not Null"
### Summary
Backport of gh-6223

[2019-01-10 16:34] rwinch commented on #6383
Fixed via 88d57e0b8eadd7ee4ffb2ccb5640d23f3cc2958e

[2019-01-10 16:34] #6383 closed

[2019-01-10 16:37] rwinch opened #6384 "MethodSecurityEvaluationContext Should Check Parameter Names Are Not Null"
### Summary
Backport of gh-6223

[2019-01-10 16:41] rwinch commented on #6384
Fixed via e8d58498b0a1992e6d28967780ab544ebdce4c3a

[2019-01-10 16:41] #6384 closed

[2019-01-10 16:51] ST-DDT commented on #6381
The same issue applies to other parts of spring-security as well.
(Lately) there is a rich influx of new technologies that mirror similar behavior as web does (having headers along with the actual data). Examples for such technologies are gRPC and many message brokers such as kafka. These are totally independent of web, but would still benefit from the features offered by spring-security such as B

[2019-01-10 16:54] rwinch commented on #6381
@ST-DDT Thanks for the comment. Can you please create a new issue to discuss more specifics on your concerns?

[2019-01-10 16:59] jgrandja opened #6385 "Update to Spring Data Lovelace-SR4"
Update to Spring Data Lovelace-SR4

[2019-01-10 17:01] jgrandja opened #6386 "Update to Spring Framework 5.1.4"
Update to Spring Framework 5.1.4

[2019-01-10 17:04] jgrandja opened #6387 "Update to Reactor Californium-SR4"
Update to Reactor Californium-SR4

[2019-01-10 17:13] ST-DDT opened #6388 "Suggestion: Allow spring security to be reused for non-web based applications"
### Summary

The authentication reading/authentication request creation is not reuseable, because it's embedded in web related classes.

### Description

(Lately) there is a rich influx of new technologies that mirror similar behavior as web does (having headers along with the actual data). Examples for such technologies are gRPC and many message brokers such as kafka. These are totally independen

[2019-01-10 17:26] jgrandja opened #6389 "Update to spring-build-conventions:0.0.23.RELEASE"
Update to spring-build-conventions:0.0.23.RELEASE

[2019-01-10 18:31] forgo commented on #4442
@jgrandja Was this implemented?

[2019-01-10 18:31] jgrandja opened #6390 "Update to Spring Framework 5.0.12"
Spring Framework 5.0.12

[2019-01-10 18:33] jgrandja opened #6391 "Update to Spring Data Kay-SR13"
Update to Spring Data Kay-SR13

[2019-01-10 18:35] jgrandja opened #6392 "Update to Reactor Bismuth-SR15"
Update to Reactor Bismuth-SR15

[2019-01-10 18:47] jgrandja opened #6394 "Update to cglib-nodep 3.2.10"
Update to cglib-nodep 3.2.10

[2019-01-10 18:53] jgrandja opened #6395 "Update to com.fasterxml.jackson.core 2.9.8"
Update to com.fasterxml.jackson.core 2.9.8

[2019-01-10 18:58] jgrandja opened #6396 "Update to com.squareup.okhttp3 3.12.1"
Update to com.squareup.okhttp3 3.12.1

[2019-01-10 19:05] jgrandja opened #6397 "Update to org.powermock 2.0.0"
Update to org.powermock 2.0.0

[2019-01-10 19:08] jgrandja opened #6398 "Update to Spring Boot 2.0.7"
Update to Spring Boot 2.0.7

[2019-01-10 19:09] aschatten commented on #4874
Related issue that causes the migration to fail if Spring Security OAuth lib is used and it saves Spring Security objects in a database: https://github.com/spring-projects/spring-security-oauth/issues/662

[2019-01-10 19:11] jgrandja opened #6399 "Update to thymeleaf-extras-springsecurity4 3.0.4.RELEASE"
Update to thymeleaf-extras-springsecurity4 3.0.4.RELEASE

[2019-01-10 19:13] #6399 closed

[2019-01-10 19:32] #6398 closed

[2019-01-10 19:32] #6397 closed

[2019-01-10 19:32] #6396 closed

[2019-01-10 19:32] #6395 closed

[2019-01-10 19:33] #6394 closed

[2019-01-10 19:33] #6392 closed

[2019-01-10 19:33] #6391 closed

[2019-01-10 19:33] #6390 closed

[2019-01-10 19:41] jgrandja opened #6400 "Update to cglib-nodep 3.2.10"
Update to cglib-nodep 3.2.10

[2019-01-10 19:43] jgrandja opened #6401 "Update to com.fasterxml.jackson.core 2.9.8"
Update to com.fasterxml.jackson.core 2.9.8

[2019-01-10 19:47] jgrandja opened #6402 "Update to com.squareup.okhttp3 3.12.1"
Update to com.squareup.okhttp3 3.12.1

[2019-01-10 19:49] jgrandja opened #6403 "Update to ehcache 2.10.6"
Update to ehcache 2.10.6

[2019-01-10 19:52] jgrandja opened #6404 "Update to org.powermock 2.0.0"
Update to org.powermock 2.0.0

[2019-01-10 19:54] jgrandja opened #6405 "Update to Spring Boot 2.1.1.RELEASE"
Update to Spring Boot 2.1.1.RELEASE

[2019-01-10 20:11] #6405 closed

[2019-01-10 20:11] #6404 closed

[2019-01-10 20:12] #6403 closed

[2019-01-10 20:12] #6402 closed

[2019-01-10 20:12] #6401 closed

[2019-01-10 20:12] #6400 closed

[2019-01-10 20:12] #6389 closed

[2019-01-10 20:12] #6387 closed

[2019-01-10 20:12] #6386 closed

[2019-01-10 20:13] #6385 closed

[2019-01-10 20:25] jgrandja opened #6406 "Update to Spring Framework 4.3.22"
Update to Spring Framework 4.3.22

[2019-01-10 20:27] jgrandja opened #6407 "Update to Spring Data Ingalls-SR18"
Update to Spring Data Ingalls-SR18

[2019-01-10 20:38] jgrandja opened #6408 "Update to spring-boot-gradle-plugin 1.5.18"
Update to spring-boot-gradle-plugin 1.5.18

[2019-01-10 20:48] jgrandja opened #6409 "Update to cglib-nodep 3.2.10"
Update to cglib-nodep 3.2.10

[2019-01-10 20:51] jgrandja opened #6410 "Update to spring-io-plugin 0.0.8"
Update to spring-io-plugin 0.0.8

[2019-01-10 20:53] jgrandja opened #6411 "Update to ehcache 2.10.6"
Update to ehcache 2.10.6

[2019-01-10 20:55] rwinch commented on #6340
Thanks for the sample and the steps to reproduce. It seems like it might be related to a strange behavior in Jetty. Tomcat works just fine. Here is what is happening in Jetty when the request comes in for a POST:

* Spring Security processes the request with `SecurityContextPersistenceFilter` which wraps the request (as expected) and marks it as processed
* In CsrfFilter the request is rejected an

[2019-01-10 20:58] jgrandja opened #6412 "Update to org.powermock 1.6.6"
Update to org.powermock 1.6.6

[2019-01-10 21:10] rwinch commented on #6340
This appears to be a bug in Spring Session, so I'm transferring the issue there.

[2019-01-10 21:16] raphaelDL commented on #6379
hey Joe, I was looking at the code of  `setJwtValidatorFactory` I wrote it as a pure setter, but thinking on the scenario when the user wants to customize the validator when the decoder is already built, shouldn't it be something like this???
[code]

[2019-01-10 21:31] jgrandja commented on #6379
I'm not sure I follow? When the `JwtDecoder` is built for a specific `ClientRegistration` than the `jwtValidatorFactory` will get called to associate the validator. This only happens once. If the user called `setJwtValidatorFactory()` with a different validator factory than it will never get called again for the previously built `ClientRegistration` because when `createDecoder` is called the secon

[2019-01-10 21:42] raphaelDL commented on #6379
Yes I understand,  I was thinking what happens when yo do this:

you call `setJwtValidatorFactory(custom)`,  The custom validator is no longer the default
then call `createDecoder(client_reg_1)`.  created with a custom validator
then call `createDecoder(client_reg_2)`. It uses the previous validator meant for the client_reg_1 ? shouldn't it be the default?
am I lost? :s

[2019-01-10 22:02] #6411 closed

[2019-01-10 22:02] #6409 closed

[2019-01-10 22:02] #6408 closed

[2019-01-10 22:02] #6407 closed

[2019-01-10 22:02] #6406 closed

[2019-01-10 22:22] jgrandja commented on #6379
This is what I'm envisioning the user would provide:

[code]

With this custom `jwtValidatorFactory`, the user has set a different clock skew for google and okta and all other created validators keep the default.

Makes sense?

[2019-01-11 01:41] thorntonrp opened #6413 "Improve StandardClaimAccessor getUpdatedAt to support String updated_at"
StandardClaimAssessor.getUpdatedAt() throws an IllegalArgumentException when the "updated_at" claim is being returned as a string.  This is because there are several providers (unfortunately) that aren't following the spec with regard to this claim. (My company is using ForgeRock.) These providers are unlikely to change their behavior, because many of their clients now rely on this aberrant behavi

[2019-01-11 09:08] GregoireW commented on #5937
Anyway I refactor stuff to be cleaner with somehow what I use on my project now

[2019-01-11 10:47] eusokolov commented on #4841
Also waiting for this PR

[2019-01-11 11:45] edeandrea commented on #4841
Sorry I just have not had time to get back to this. I don't work for Spring - I just do this in my spare time. I'll see if I can allocate some time to get back to this.

[2019-01-11 12:21] mjagus opened #6414 "Security-related HTTP headers not written if response is committed during INCLUDE dispatch and RequestDispatcher is not obtained via HttpServletRequest object"
### Summary

In #5499 a bug was fixed which caused security-related headers to not appear in HTTP response if that response was commited during INCLUDE dispatch. The solution was to wrap both `HttpServletRequest` and `RequestDispatcher` object in order to intercept `RequestDispatcher::include` call. That fix doesn't work if RequestDispatcher is obtained via some other means than `HttpServletReques

[2019-01-11 13:43] jgrandja commented on #6413
@thorntonrp Thanks for the report. Yes, we've had other issues reported that are similar to this one. This will be resolved via #6245 to allow for compatibility between providers and their data formats. We also intend on providing a hook to allow the user to provide the expected data formats coming back from the provider for greater flexibility.

I'm going to close this issue so please follow #624

[2019-01-11 13:43] #6413 closed

[2019-01-11 13:45] jgrandja commented on #6413
In the meantime, you can use `getClaimAsString(StandardClaimNames.UPDATED_AT)`

[2019-01-11 14:09] jzheaux commented on #6414
Thanks for the report, @mjagus! Would you be able to post a simple example that reproduces the issue?

[2019-01-12 01:42] bestwmm opened #6417 "Invalid html in default login page"
### Summary
Invalid html in spring-security/web/src/main/java/org/springframework/security/web/authentication/defaultLoginPageGeneratingFilter.java::generateLoginPageHtml.

### Actual Behavior
div class="container" at line 237 is not closed.  Closing div required around line 291 before "</body>".

Page does not validate, but Chrome gracioiusly display the page correctly.

### Expected Behavior
Pas

[2019-01-12 07:52] mjagus commented on #6414
@jzheaux I added sample application to the main post. It's a modified sample application from #5499 that obtains `RequestDispatcher` from `ServletContext' object instead of `HttpServletRequest`.

[2019-01-12 12:53] sikierto commented on #4857
May I know the reason? I am having this error also. It is working fine. Until I restarted my IDE and get this error.

PageNotFound             : No mapping for GET /css/main.css

[2019-01-12 22:02] darthCodr commented on #6380
Hello, @jzheaux can I work on this issue?

[2019-01-13 13:53] edeandrea commented on #3743
I'm working on another PR and have come across this change. Isn't this line from DefaultMethodSecurityExpressionHandler a race condition?

return original.filter(filterObject -> {			rootObject.setFilterObject(filterObject);
				return ExpressionUtils.evaluateAsBoolean(filterExpression, ctx);
			})

The EvaluationContext and therefore the root object is a shared resource and setting the filter obje

[2019-01-13 21:11] rozagerardo commented on #6341
Thanks @rwinch !
I now created [PR #6418](https://github.com/spring-projects/spring-security/pull/6418) to solve this.
I'm looking forward to you comments, and please let me know if I can do anything else to help you :) cheers!

[2019-01-14 13:00] micd opened #6420 "Change header name to extract authorization token"
### Summary

Hi! I want to configure Web flux security to use different header name to retrieve token from http request. By default "Authorization" is used. I would like to define my own name. Is it possible to provide such configuration? I know for older version of Spring security I could write my own token extractor. Is there anything like for Spring Security 5+?

I would be grateful for your he

[2019-01-14 14:51] denisw opened #6421 "WebSessionServerRequestCache doesn't save URL query parameters"
### Summary

When protecting a Webflux route with `oauth2login()`, the redirect back to that route after login misses any query parameters passed in the original request to that route. That seems to be caused by `WebSessionServerRequestCache` only saving the path, not the parameters.

For the purposes of the following sections, let's say the client requests `GET /protected?foo=bar`, but is not log

[2019-01-14 15:36] zeratul021 commented on #6239
Hello @rwinch , sorry for delay.

I checked our forwarding setup and it's working in our case.

However, what I'm trying to do is, irrespectively of what scheme the user originally used to access the CloudFoundry/standalone app, I want him to be redirected to secure (https) scheme after successful OAuth2 authentication.

Currently I'm doing that by providing redirect-uri with a hardcoded server ur

[2019-01-14 16:10] jzheaux opened #6422 "Support Bearer Token Authentication of Introspection endpoint"
Related to https://github.com/spring-projects/spring-security/issues/5200 and https://github.com/spring-projects/spring-security/pull/6352#discussion_r247270792

[2019-01-14 16:11] mtraut opened #6423 "XML configuration with multiple security:http register multiple requestDataValueProcessor"
### Summary

We use multiple XML configuration for different realms. If CSRF is not disabled, the application startup fails beause of multiple registrations of requestDataValueProcessor bean.

### Actual Behavior

see org.springframework.security.config.http.CsrfBeanDefinitionParser.parse()
[code]

unconditionally registers bean

### Expected Behavior

CsrfBeanDefinitionParser should check presenc

[2019-01-14 16:12] jzheaux opened #6424 "Add Support to Customize Introspection Request"
Related to #5200 and https://github.com/spring-projects/spring-security/pull/6352#discussion_r247268474

[2019-01-14 16:53] jzheaux commented on #6420
Hi, @micd, please have a look at [`ServerAuthenticationConverter`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/server/authentication/ServerAuthenticationConverter.java). It takes a `ServerWebExchange` and returns an `Authentication`, which could be used to extract a header like so:

[code]

Also, thank you for the question! In t

[2019-01-14 16:53] #6420 closed

[2019-01-14 17:32] jzheaux commented on #3743
@edeandrea I agree that if the `Stream` instance is parallelized, then calls to the `filter`'s lambda may happen in parallel, all operating on the same `MethodSecurityExpressionOperations` instance.

Creating a new context for each object in the stream could be expensive, and so I'm inclined to either error when the stream is parallelized, e.g. `Parallel Streams not supported`, or have the user ex

[2019-01-14 17:33] #6380 closed

[2019-01-14 17:35] jzheaux commented on #6380
@darthCodr Thanks for your interest, but this was picked up already by @ajavorskidev. My apologies for not noting that in the ticket earlier when the PR was submitted.

[2019-01-14 17:35] edeandrea commented on #3743
Thanks for the input @jzheaux. My fear though is what we are going to run into the same issue when supporting reactive types with filters. Can we really say we don't support pre/post filtering on reactive types?

[2019-01-14 18:30] jzheaux commented on #6414
@mjagus Awesome, thanks.

I'll do a bit more digging, but a brief look at the Servlet Spec doesn't point to a straight-forward way to intercept `ServletContext`'s request dispatcher facilities. Do you have any recommendations?

[2019-01-14 18:36] #6379 closed

[2019-01-14 19:21] rwinch commented on #6388
Can you propose something more concrete? As I see it we need to have controller code in either case that translates between the APIs.

[2019-01-14 19:34] rwinch commented on #4841
@edeandrea If it is something that you aren't able to find time for, is this something that you feel might be worth seeing if someone else has time to contribute?

[2019-01-14 19:37] rwinch commented on #6417
Thanks for the report @bestwmm! Would you be interested in submitting a PR for this?

[2019-01-14 19:41] rwinch commented on #4857
It is likely because you need a line for permitAll for anything that starts with `/resources/`. For example:

[code]

If you continue to have problems, please ask on StackOverflow which is the best place for questions

[2019-01-14 19:46] edeandrea commented on #4841
@rwinch I'm fine to hand this off or collaborate with someone else that may have more time for this. Unfortunately I just got really busy with other things & haven't had a chance to come back to it. If anyone else would like to take over from where I left off I'm fine with that.

[2019-01-14 19:51] micd commented on #6420
@jzheaux , thank you, I appreciate that!

Sure, I will try to move there (hopefully I will remember about that).

God bless you!

[2019-01-14 20:02] jgrandja opened #6425 "Consider renaming OidcIdTokenDecoderFactory"
We may need to rename `OidcIdTokenDecoderFactory` and `ReactiveOidcIdTokenDecoderFactory` to be more specific, given that both factories create `JwtDecoder` using `ClientRegistration.ProviderDetails.jwkSetUri` for it's key source. There will likely be other factory implementations that create `JwtDecoder` using a different key source, e.g. statically configured key(s).

#5465 may provide some idea

[2019-01-14 20:14] rwinch commented on #3743
I think at this point we need to create a new context for each object. It may be costly, but it is something we can optimize later if we have issues with it.

[2019-01-14 20:15] ST-DDT commented on #6388
Yes, I'll try specify my proposal a bit.

Add the following to spring-security-core or a new module without references to web, but will be used in spring-security-web:

[code]

And do the same for other token based authentication schemes such as DigestAuth (maybe even for Bearer Tokens , but then without interpreting the Token: `new BearerAuthenticationToken(String token)`

And move the (X509) cer

[2019-01-14 20:31] rwinch commented on #6239
@zeratul021 Yes it does make sense to me. We would need to figure out how to handle the port too.

cc @jgrandja

[2019-01-14 20:39] rwinch commented on #6423
Thank you for the report. Can you please provide a minimal and complete sample to reproduce the problem?

[2019-01-14 20:46] rwinch commented on #4841
Thanks for the fast response. It's ok  you haven't had time...we all appreciate the transparency. I just wanted to find out if that was alright by you. Now that it is out there, we can see if anyone else might have the time to pick this up.

[2019-01-14 20:48] edeandrea commented on #4841
I do have some locally un-committed changes I've made based on some of the other review comments. I'm happy to post them to my own fork under a separate branch for others to look at as well and/or use as a reference.

[2019-01-14 21:39] jgrandja opened #6426 "Update to cglib-nodep 3.2.10"
Update to cglib-nodep 3.2.10

[2019-01-14 21:42] jgrandja opened #6427 "Update to jackson.core 2.9.8"
Update to jackson.core 2.9.8

[2019-01-14 21:46] jgrandja opened #6428 "Update to nimbus-jose-jwt 6.5.1"
Update to nimbus-jose-jwt 6.5.1

[2019-01-14 21:47] jgrandja opened #6429 "Update to oauth2-oidc-sdk 6.5"
Update to oauth2-oidc-sdk 6.5

[2019-01-14 21:51] jgrandja opened #6430 "Update to com.squareup.okhttp3 3.12.1"
Update to com.squareup.okhttp3 3.12.1

[2019-01-14 21:51] jzheaux commented on #6381
I like where this idea is headed, @GregorEeckels, but I think that the 95% use case is that users want the `web` dependency, so it makes the most sense to include it for them and ask the 5% to exclude it (instead of the inverse).

Down the road, maybe we could look at creating a new non-web oauth2 module that `spring-security-oauth2-resource-server` depends on; as concrete use cases for other prot

[2019-01-14 21:51] #6381 closed

[2019-01-14 21:53] jgrandja opened #6431 "Update to ehcache 2.10.6"
Update to ehcache 2.10.6

[2019-01-14 21:55] jgrandja opened #6432 "Update to hibernate-entitymanager 5.4.0.Final"
Update to hibernate-entitymanager 5.4.0.Final

[2019-01-14 21:57] rwinch commented on #6388
It appears you are looking for some utility methods. The example you provide appears to be looking for HTTP basic authentication utility methods. However, I'm not really convinced that a non-web based application is going to be using HTTP Basic authentication. It is likely to deliver credentials another way entirely. Do you have a sample application that you are working with or that you could poin

[2019-01-14 21:58] jgrandja opened #6433 "Update to org.powermock 2.0.0"
Update to org.powermock 2.0.0

[2019-01-14 22:01] jgrandja opened #6434 "Update to htmlunit-driver 2.33.3"
Update to htmlunit-driver 2.33.3

[2019-01-14 22:03] jgrandja opened #6435 "Update to Spring Boot 2.1.2"
Update to Spring Boot 2.1.2

[2019-01-14 22:08] jgrandja opened #6436 "Update to Reactor Californium-SR4"
Update to Reactor Californium-SR4

[2019-01-14 22:11] jgrandja opened #6437 "Update to Spring Framework 5.1.4"
Update to Spring Framework 5.1.4

[2019-01-14 22:11] jzheaux commented on #6414
@mjagus Looking at the SiteMesh code, I see that it uses the [servlet context for forwards](https://github.com/sitemesh/sitemesh3/blob/ce6f3cea433db8678b0e47c063e3ae1bd835d362/sitemesh/src/main/java/org/sitemesh/webapp/WebAppContext.java#L178). Does SiteMesh use it for includes as well somewhere?

[2019-01-14 22:14] jgrandja opened #6438 "Update to Spring Data Lovelace SR4"
Update to Spring Data Lovelace SR4

[2019-01-14 22:59] #6426 closed

[2019-01-14 22:59] #6427 closed

[2019-01-14 22:59] #6428 closed

[2019-01-14 22:59] #6429 closed

[2019-01-14 22:59] #6430 closed

[2019-01-14 22:59] #6431 closed

[2019-01-14 22:59] #6432 closed

[2019-01-14 22:59] #6433 closed

[2019-01-14 22:59] #6435 closed

[2019-01-14 22:59] #6436 closed

[2019-01-14 22:59] #6437 closed

[2019-01-14 22:59] #6438 closed

[2019-01-14 23:18] ST-DDT commented on #6388
And "access" to the authentication classes, so I don't have to reimplement everything. Currently most authentication schemes are implemented in spring-security-web and thus forces me to add it as a dependency. But if I do that, then spring-boot will try to actually "setup" it but will fail because there is no web endpoint (at least from the spring perspective).

gRPC is very close to actual web re

[2019-01-14 23:39] bestwmm commented on #6417
What’s a PR?  (Pull Request + submission with fix?)

From: Rob Winch [mailto:notifications@github.com]
Sent: Tuesday, January 15, 2019 4:37 AM
To: spring-projects/spring-security
Cc: bestwmm; Mention
Subject: Re: [spring-projects/spring-security] Invalid html in default login page (#6417)

Thanks for the report @bestwmm <https://github.com/bestwmm> ! Would you be interested in submitting a PR for

[2019-01-15 02:52] ief2009 commented on #6292
'//' is forbidden for hard code in `isNormalized()`,so expose the `blacklist` available may not enough.

![image](https://user-images.githubusercontent.com/1955449/51155745-7a34bd00-18b3-11e9-8b71-9fa28793102e.png)

my advice is:

1. remove '//' check from `isNormalized()` method

2. add a new field **forbidden_double_forward_slash**

`private static final List<String> FORBIDDEN_DOUBLE_FORWARDSLAS

[2019-01-15 08:08] darthCodr commented on #6380
@jzheaux It's fine. I will wait for the next one. Thanks.

[2019-01-15 10:06] clevertension commented on #6292
@ief2009  good catch, i check the source code carefully and find that **double slash** is actually hard coded in the **isNormalized** method, so the method exposure can not solve this issue

@rwinch i think this PR is good, it can both solve this **double slash** issue and give a more  flexible way to process the blacklist, please check it

[2019-01-15 10:43] jgrandja opened #6440 "Update to spring-build-conventions 0.0.23.RELEASE"
Update to spring-build-conventions 0.0.23.RELEASE

[2019-01-15 10:48] #6434 closed

[2019-01-15 10:48] #6440 closed

[2019-01-15 13:57] jgrandja commented on #5839
@zcwang3 @gburboz @yannick-fernand #6379 has been resolved which allows the user to configure the clock skew (per provider) in a straight forward way. The following example demonstrates a custom clock skew setting for `google` and `okta` - all other providers default to 60.

[code]

**NOTE:** Please be aware that `OidcIdTokenDecoderFactory` may be renamed depending on the outcome of #6425. This wi

[2019-01-15 13:58] nealeu commented on #5907
Hi Rob,

I'll have a look and see what I can do.  I've been swamped, but may be able to do something now.

[2019-01-15 15:01] rwinch opened #6442 "UrlAuthorizationConfigurer should not call hasRole(ROLE_ANONYMOUS)"
### Summary

Backport of gh-6353

[2019-01-15 15:02] rwinch commented on #6442
7f2f12c428855f9972f2c439f37f9e2f7309b179

[2019-01-15 15:02] #6442 closed

[2019-01-15 15:26] mjagus commented on #6414
@jzheaux It does use includes as well. For example here: https://github.com/sitemesh/sitemesh2/blob/master/src/java/com/opensymphony/sitemesh/compatability/OldDecorator2NewDecorator.java
This is actually the code that causes the problem in our app.

As for suggestions, at first I thought that `HeaderWriterFilter` should be changed to apply headers immediately just before passing control to another

[2019-01-15 15:53] jgrandja opened #6443 "OidcIdTokenValidator ensures clockSkew is positive number"
`OidcIdTokenValidator.setClockSkew()` should assert that the `clockSkew` is `>= 0`.

[2019-01-15 18:49] sdoxsee commented on #4943
Hey @jgrandja, excited to hear that this is on the priority list. I think that the Client support of this is arguably more important than the Authorization Server (AS) support as many AS's already support this (e.g. Okta, Auth0, MitreID, Keycloak, etc....if I'm not mistaken). I'm seeing a lot of [recommendations](https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2/) for it i

[2019-01-15 18:58] jgrandja commented on #4943
@sdoxsee Thanks for the feedback! We can certainly build the client support first since AS support will still be a while. Would you be interested in submitting a PR for this?

[2019-01-15 19:03] jgrandja commented on #6266
@wtatum I'm going to close this issue based on the assumption that you have things working. We can re-open if your require further assistance.

[2019-01-15 19:03] #6266 closed

[2019-01-15 19:09] jgrandja commented on #6282
@dmusicant-eagle I'm going to close this based on lack of feedback. We can re-open if you can provide more details around my comment.

[2019-01-15 19:09] #6282 closed

[2019-01-15 19:20] sdoxsee commented on #4943
@jgrandja cool! I'll take a look to see what's required.

[2019-01-15 19:34] rwinch commented on #6417
Yes. If you are wanting to learn more, GitHub has more information on what a [Pull Request (PR)](https://help.github.com/articles/about-pull-requests/) is. If you are unable to help, that is fine, but your help is always welcome :)

[2019-01-15 19:42] #6292 closed

[2019-01-15 19:44] #6421 closed

[2019-01-15 19:47] rwinch opened #6444 "WebSessionServerRequestCache doesn't save URL query parameters"
### Summary
Backport of gh-6421

[2019-01-15 19:47] rwinch commented on #6444
Fixed via 548dc4496

[2019-01-15 19:47] #6444 closed

[2019-01-15 19:51] rwinch opened #6445 "WebSessionServerRequestCache doesn't save URL query parameters"
### Summary
Backport of gh-6421

[2019-01-15 19:54] jgrandja opened #6446 "Support PKCE for Client"
We should add client support for [PKCE](https://tools.ietf.org/html/rfc7636).

Related #4943

[2019-01-15 19:57] jgrandja commented on #4943
@sdoxsee Thank you. I've added #6446 to track the client support feature.

[2019-01-15 20:12] raphaelDL commented on #6425
Something like:

OidcIdTokenDecoderWithJwkSetUriFactory

🤔

[2019-01-15 20:18] jgrandja commented on #6425
Yeah I was thinking something similar - with JwkSet in the name - but I'm not convinced we want it in the name. This one can wait until #5454 is done which I'm starting work on.

If you're looking for another ticket to work on and having trouble finding one let me know.

[2019-01-15 20:22] vishalvrv9 commented on #6443
Hey @jgrandja
New Lurker here. Would be more than willing to help. 😄

From my initial analysis, it seems like I need to update `OidcIdTokenValidator.java` i.e.

within `OidcIdTokenValidator.java`,

`Assert.notNull(clockSkew, "clockSkew cannot be null");` inside the `setClockSkew` method should be changed to `Assert.isTrue(clockSkew, "clockSkew should be greater than 0");`

Please let me know if I'

[2019-01-15 21:02] jgrandja commented on #5387
@rwinch I'm not sure I understand the issue with the test(s). Can you please provide more detail.

[2019-01-15 21:08] jgrandja commented on #6443
@vishalvrv9 Thanks for the offer! This is yours. Yes, you have it right as far as what changes are required. The main reason for this change is to prevent the user from configuring a negative value. Also, please ensure you write a test for this. Thanks so much!

[2019-01-15 21:31] wilkinsona commented on #6411
EhCache 2.10.6 [requires Java 8](https://github.com/spring-projects/spring-boot/issues/14962#issuecomment-433923833). I wonder if it wouldn't be better for Security 4.2.x to stick with 2.10.5.

[2019-01-16 01:55] ankurpathak commented on #6417
@rwinch I would like to take this one.

[2019-01-16 15:12] nickbr23 commented on #5598
Have the static routes:

/oauth2/authorization/{registrationId}
/login/oauth2/code/{registrationId}

Been made overridable or configurable yet?

[2019-01-16 16:17] raphaelDL commented on #6425
yup maybe another one, please

[2019-01-16 16:44] rwinch commented on #6423
You are right that the `CsrfBeanDefinitionParser` should only register a new `requestDataValueProcessor` if it is not already found. Would you be interested in submitting a Pull Request?

You can work around this by providing the following setting `spring.main.allow-bean-definition-overriding=true` which is the default for non Spring Boot applications.

[2019-01-16 17:05] rwinch commented on #6417
Thanks @ankurpathak! The issue is yours.

@bestwmm If you are wanting to help out with another issue, please use the Help Wanted tag to find issues we feel are good for contributions.

[2019-01-16 17:10] #6312 closed

[2019-01-16 17:10] jgrandja commented on #5387
`OAuth2LoginApplicationTests` currently uses `SecurityTestConfig` for the integration tests. We should remove `SecurityTestConfig` so that we're actually testing the `WebSecurityConfigurerAdapter` that the samples uses.

We also want the integration tests to follow the same pattern as in `FormJcTests` where pages are defined.

[2019-01-16 19:18] jgrandja commented on #5598
@nickbr23 @VijaySidhu The configuration points for overriding the authorization request and authorization response base uri's is not available as of yet. Is anyone interested in submitting a PR for this?

At the moment I'm think we need the following:

`OAuth2LoginSpec.authenticationMatcher(ServerWebExchangeMatcher matcher)`

`OAuth2LoginSpec.authorizationRequestResolver(ServerOAuth2AuthorizationR

[2019-01-17 02:10] HeyKJ opened #6447 "Cannot initialize context because there is already a root application context present"
i have a issue using spring security in spring legecy project.
i posted this issue on stackoverflow.
please check this url.
https://stackoverflow.com/questions/54227291/using-spring-security-in-spring-legecy-project-has-error

[2019-01-17 07:21] hartmut-co-uk commented on #5598
I succeeded getting it working, see following snippet:
[code]

Please note `MyOAuth2LoginReactiveAuthenticationManager` and `accountService` are custom..
[code]

[2019-01-17 07:57] tomcatGu opened #6449 "How to use service name as part of authorization-uri for the provider of the oauth2 client"
Here is my application.yml:
...
  security:
    oauth2:
      client:
        registration:
          test:
            client-id: webapp
            client-secret: 123456
            authorization-grant-type: authorization_code
            redirect-uri-template: http://localhost:6601/login/oauth2/code/test
        provider:
          test:
            authorization-uri: http://localhost:9000/oaut

[2019-01-17 08:08] bestwmm commented on #6417
Thank you.

[2019-01-17 08:34] nickbr23 commented on #5598
That would work.

For just overriding the uri's, it should be as simple as providing:

`OAuth2LoginSpec.authorizationRequestBaseUri(String authorizationRequestBaseUri)`
`OAuth2LoginSpec.loginProcessingUrl(String loginProcessingUrl)`

So that it mirrors the servlets builder.

[2019-01-17 11:47] zacader opened #6450 "remember me don't work"
remember me don't work .  remember me cookie has Already generated，but when I re-opened the browser visit website, I re-entered the login interface.

my code is here, i don't know what's going wrong.

spring boot version is   2.1.2.RELEASE
spring sercurity version  is   5.1.3 RELEASE
database is sqlserver

[code]

[2019-01-17 12:20] ankurpathak commented on #6423
Pull request for issue:
https://github.com/spring-projects/spring-security/pull/6451

[2019-01-17 12:59] mtraut commented on #6423
thx for helping. I've never created a pull request before.

[2019-01-17 13:16] ankurpathak commented on #6423
@mtraut Please link your pull request with Issue.

[2019-01-17 13:19] mtraut commented on #6423
I have none - as i said, i hesitated to start as i've not made it before. You are the one and only...

[2019-01-17 13:35] chschu opened #6452 "CsrfFilter and LazyCsrfTokenRepository use illegal request attribute name javax.servlet.http.HttpServletResponse"
### Summary

```CsrfFilter``` sets the request attribute ```"javax.servlet.http.HttpServletResponse"```, which is later used by ```LazyCsrfTokenRepository``` to obtain the current response.

According the the Javadoc of ```ServletRequest.setAttribute(String, Object)``` names like ```"javax.*"``` are "reserved for use by Oracle Corporation".

The name of the request attribute should be changed.

##

[2019-01-17 16:11] ankurpathak commented on #6450
@zacader Can u please provide a Sample
application.

[2019-01-17 17:40] jgrandja commented on #6449
@tomcatGu If you have a question or need help with a specific topic, please search for an answer on StackOverflow first. If you can't find the answer than please post your question on StackOverflow. If you don't get an answer on StackOverflow after a few days, feel free to create a ticket with a link to the StackOverflow question. Our preference is to keep GitHub issues for bug reports or new feat

[2019-01-17 17:40] #6449 closed

[2019-01-17 19:14] rwinch commented on #6447
If it has been a few days, it is fine to post here with a link. However, please give time for an answer before posting.

[2019-01-17 19:14] #6447 closed

[2019-01-17 19:39] jgrandja commented on #5598
Thanks for the feedback @nickbr23

[code]

This does not actually mirror the DSL in `OAuth2LoginConfigurer`. Check out the full DSL [here](https://docs.spring.io/spring-security/site/docs/5.1.3.RELEASE/reference/htmlsingle/#oauth2login-advanced)

The preference is to use `ServerOAuth2AuthorizationRequestResolver ` over just configuring the authorization request URI as it provides more flexibility.

[2019-01-17 20:36] jzheaux opened #6453 "Add a composite HeaderWriter class"
`DelegatingRequestMatcherHeaderWriter` would be handier in combination with a composite `HeaderWriter` implementation:

[code]

It would also simplify code in certain areas like `HeaderWriterFilter`:

[code]

would simplify to:

[code]

[2019-01-17 20:42] jzheaux opened #6454 "Consider having HeaderWriters check before writing"
Related to https://github.com/spring-projects/spring-security/issues/5193

`CacheControlHeaderWriter` checks first before writing its corresponding headers.

Since `HeaderWriterFilter` writes headers at the end of a request, it makes sense that each `HeaderWriter` implementation would check whether its corresponding headers have already been written before overriding them.

That is, instead of doi

[2019-01-18 01:41] zacader commented on #6450
Here is my project [https://github.com/zacader/springbootsecurity](url)    @ankurpathak
Who can help me solve this problem? I don't know how to solve it.

[2019-01-18 07:04] ankurpathak commented on #6453
@jzheaux I would like to take this one.

[2019-01-18 09:14] zacader commented on #6450
it seems that TokenBasedRememberMeServices.processAutoLoginCookie()  Identified remember me
cookie is invalid and throw
`InvalidCookieException("Cookie token[2] contained signature '"
					+ cookieTokens[2] + "' but expected '" + expectedTokenSignature + "'");`
Why is this happening?

[2019-01-18 09:38] ankurpathak commented on #6450
@zacader I don't have SQL Server on my Machine. I was looking for some running simple(can use inmemory database" so I can reproduce the case to  look into it.

[2019-01-18 10:44] Kiddinglife commented on #5320
really need this!!

[2019-01-18 11:01] ankurpathak commented on #6453
Here is a pull request:
https://github.com/spring-projects/spring-security/pull/6455

[2019-01-18 13:01] ankurpathak commented on #6454
I will be working on this.

[2019-01-18 13:42] ankurpathak commented on #6454
Here is a pull request:
https://github.com/spring-projects/spring-security/pull/6456

[2019-01-18 17:26] jzheaux opened #6458 "Fix Formatting in Implicit OAuth2AuthorizedClient section"
Related to https://github.com/spring-projects/spring-security/pull/6457

[2019-01-18 17:28] jzheaux commented on #6458
Fixed via e6bb9bfdcadfb3533dffa222bef83a1155e42038

[2019-01-18 17:28] #6458 closed

[2019-01-18 20:45] jzheaux opened #6459 "Update to nimbus-jose-jwt:6.7"
Related to https://github.com/spring-projects/spring-security/issues/5937

[2019-01-18 21:01] darthCodr commented on #6459
Hello @jzheaux  can I work on this?

[2019-01-19 00:10] jzheaux commented on #6459
For sure, @darthCodr! It's yours. As a reminder, you can find the dependencies in [dependency-management.gradle](https://github.com/spring-projects/spring-security/blob/master/gradle/dependency-management.gradle).

[2019-01-19 05:32] Aroj opened #6460 "Autoconfiguration of spring security is not working in spring boot 2.1.2.RELEASE"
### Actual Behavior

Endpoints are not getting secured by default even after including sprint security starter in pom.xml from spring boot version 2.1.2.RELEASE.
I am not even getting the below line when using spring boot version 2.1.2.RELEASE on application startup
   Using default security password: ce6c3d39-8f20-4a41-8e01-803166bb99b6

### Expected Behavior

Endpoints should get secured the mom

[2019-01-19 10:12] jgrandja commented on #5598
`OAuth2LoginSpec.getLinks` is used for the default login page. If the user provides a `customAuthorizationRequestResolver`, it is also their responsibility to provide a custom login page that uses the custom authorization request base uri used by `customAuthorizationRequestResolver`. So this is not an issue as `OAuth2LoginSpec.getLinks` does not need to be updated as part of the changes required f

[2019-01-19 11:10] jgrandja commented on #5387
@raphaelDL Would you be interested in taking this on?

[2019-01-19 14:05] jzheaux commented on #6460
@Aroj since we have tests to verify scenarios like these, would you please provide a [minimal sample](http://sscce.org/) that reproduces the issue so we can see what we missed?

[2019-01-20 06:15] ankurpathak opened #6461 "Integration of Faceboot OAuth Android, IOS SDK, Google Open ID Android, IOS SDK with Spring Security"
@jgrandja @rwinch @jzheaux I am working on a project with Android and IOS developers.
We have our backend as full Spring Stack(Spring Boot) and Front end as Native Android & Native
IOS Apps.
We want to do login with Google and Facebook in our Frontend(Native Android & Native IOS Apps).
Frontend developes have already implemented:
1. Login with Facebook useing SDK provided by facebook for Native An

[2019-01-20 14:46] vishalvrv9 commented on #6443
Hey @jgrandja,
I was struggling with writing suitable test cases for this particular change.

Firstly, I tried looking for a test case within `OidcIdTokenValidatorTests` for the previous use case i.e. `Assert.notNull(clockSkew, "clockSkew cannot be null");` but there was no test where the `clockSkew` was mocked as null.

Another thing I noticed is `OidcIdTokenValidatorTests` contain `xxxxThenHasEr

[2019-01-21 13:12] buckett opened #6463 "OAuth2 access token response parsing fails with nested JSON object"
### Summary

When parsing OAuth2 access token response a nested JSON object causes the response parsing to fail.

### Actual Behavior

When attempting to use Spring Security OAuth to allow logins against a provider that responds with objects in their access token reponse an error message is shown:

[code]

### Expected Behavior

According to the OAuth spec https://tools.ietf.org/html/rfc6749#secti

[2019-01-21 14:04] buckett commented on #6463
An example response that triggers this bug is:
[code]

[2019-01-21 15:28] buckett commented on #6463
To workaround this I copied `OAuth2AccessTokenResponseHttpMessageConverter` into my own project and updated the `tokenResponseParameters` to be a `Map<String, Object>`. Here's a gist of the file: https://gist.github.com/buckett/7fe338901b4fcfefb6cfce637629af3f

Then I just connect this converter up to the `RestTemplate` that's used by the OAuth 2 code:

[code]

This isn't the actual code I'm using

[2019-01-21 21:55] #6453 closed

[2019-01-21 23:31] jgrandja commented on #6443
@vishalvrv9

You're right and this test needs to be there. Looks like it was missed. Thanks for pointing that out. Can you please add this test as well. For an example of how to write this test take a look at `OidcIdTokenDecoderFactoryTests.setJwtValidatorFactoryWhenNullThenThrowIllegalArgumentException`. It should be the same like this one.

For the negative `Duration` test, it should be named `s

[2019-01-22 02:51] itm94lj commented on #3010
I'm confusing why j_username changed to username.
 In Java™ Servlet Specification version 4.0 13.6.3 section
"The login form must contain fields for entering a username and a
password. These fields must be named j_username and j_password, respectively."
Does this means we decide  not to comply with this specification?
My English is poor so ignore any syntax mistake.

[2019-01-22 07:10] darthCodr commented on #6459
Hello @jzheaux. Here is the PR. Fixes: gh-6459

[2019-01-22 09:02] jgrandja opened #6465 "adding query parameter to authorization_uri creates malformed url"
Backport #5760

[2019-01-22 09:07] jgrandja commented on #6465
Closed via e6aa141

[2019-01-22 09:07] #6465 closed

[2019-01-22 10:14] superdurszlak opened #6466 "Application fails to find *.jks keystore included in JAR"
### Summary

When our Spring Boot application is run from *.jar archive, any connections to our LDAP server (via LDAPS protocol) fails due to JKS file not being found:
[code]

The same application works just fine as long as it is run as Gradle task:
[code]

For LDAP connection handling, org.springframework.ldap.core.support.LdapContextSource is used.

### Actual Behavior

Part of our stack trace:

[2019-01-22 10:22] jgrandja commented on #6463
@buckett The solution you implemented with providing your own `AbstractHttpMessageConverter<OAuth2AccessTokenResponse>` is exactly what you would do for these kind of custom token responses. This is the main extension point for `RestTemplate`, the `HttpMessageConverter` for request/response serializing/deserializing. `OAuth2AccessTokenResponseHttpMessageConverter` is simply a default implementatio

[2019-01-22 10:48] jgrandja commented on #6461
@ankurpathak

Agreed. And we should provide an easy way for mobile developers to implement this in a secure manner. Native apps can be tricky.

Let me dig into this a bit deeper and get back to you. In the meantime, you may find this useful - [OAuth 2.0 for Native Apps](https://tools.ietf.org/html/rfc8252).

[2019-01-22 14:55] buckett commented on #6463
When I read the spec I was reading that paragraph as applying to the previously specified parameters (access_token, token_type, expires_in, refresh_token, scope).

It also goes on to say that the "the client MUST ignore unrecognized values names in the response", which again suggests we should be a little more forgiving in how we deal with unexpected value names.

If nothing else it would have bee

[2019-01-22 14:58] nickbr23 commented on #5598
PR has been created: https://github.com/spring-projects/spring-security/pull/6462

[2019-01-22 17:36] jgrandja commented on #6463
As per spec:

   sizes of tokens and other values received from the authorization
   server are left undefined.  **The client should avoid making
   assumptions about value sizes.**  The authorization server SHOULD
   document the size of any value it issues.

I see your point based on the reference in **bold**.

Our goal is to make it easy for the user so this is valuable feedback for us. Do you

[2019-01-22 19:20] #6417 closed

[2019-01-22 19:36] rwinch opened #6468 "HTML markup fixed in DefaultLoginPageGeneratingFilter"
### Summary
Backport of gh-6417

[2019-01-22 19:37] rwinch commented on #6468
Fixed via be7d2a3c41b6eeff3ff2ea4a81b8d301231a2d72

[2019-01-22 19:37] #6468 closed

[2019-01-22 19:56] #6423 closed

[2019-01-22 20:03] rwinch opened #6469 "XML configuration with multiple security:http register multiple requestDataValueProcessor"
### Summary

Backport of gh-6423

[2019-01-22 20:03] rwinch commented on #6469
Fixed via 0aaaaf9f2f0be6eb128b1f2a0595ce681d949fde

[2019-01-22 20:03] #6469 closed

[2019-01-22 20:05] rwinch opened #6470 "XML configuration with multiple security:http register multiple requestDataValueProcessor"
### Summary
Backport of gh-6423

[2019-01-22 20:05] rwinch commented on #6470
Fixed via 64ec35cca97cbbdb7f826eb3ef146dbce8846e3d

[2019-01-22 20:07] rwinch opened #6471 "XML configuration with multiple security:http register multiple requestDataValueProcessor"
### Summary
Backport of gh-6423

[2019-01-22 20:07] rwinch commented on #6471
Fixed via 41a7d822116b5c136015e4350009c46cdae08ac5

[2019-01-22 20:07] #6471 closed

[2019-01-22 20:08] #6470 closed

[2019-01-22 20:30] rwinch commented on #5320
I don't think there is anything special that needs to be done here. This can be done using Spring Beans. Create a bean that performs the check and then invoke it using [SpEL](https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#expressions).

[2019-01-22 20:42] rwinch commented on #3010
This is to avoid [Information Leak (information disclosure)](https://www.owasp.org/index.php/Information_Leak_(information_disclosure))

[2019-01-22 20:45] rwinch commented on #6466
Thanks for the report. To help us troubleshoot this faster, Can you please put together a complete and minimal example?

[2019-01-22 21:16] superdurszlak commented on #6466
It would take some time, I cannot publish the original source code - but I will try to reproduce our case from memory.

Our ContextSource bean looks something like this:
[code]

Then in our custom AuthenticationProvider we authenticate user as follows:
[code]

[2019-01-22 23:41] #6459 closed

[2019-01-23 08:13] rexave opened #6472 "Use proxy to get access token"
### Summary

While using the sample provided by @spencergibb at https://github.com/spring-cloud-samples/sample-gateway-oauth2login , i couldn't configure the gateway to use http proxy.

### Actual Behavior

The webclient used for that isn't configurable.
`org.springframework.security.oauth2.client.endpoint.WebClientReactiveAuthorizationCodeTokenResponseClient#webClient`

### Expected Behavior

Can

[2019-01-23 10:17] martinwithaar commented on #6281
I changed my `springBootVersion` from `'2.1.1.RELEASE'` to `'2.1.2.RELEASE'` and can confirm it solved my issue.

[2019-01-23 10:22] siepkes opened #6473 "Reactive security does not seem to work in any other scenario then Web(Flux)"
### Summary

I'm trying to create a reactive gRPC server endpoint which is secured with Spring Security. I've tried to get Spring Security working in a reactive environment without Spring WebFlux but can't get it to work. It isn't explicitly stated in the documentation but I'm beginning to suspect this isn't currently possible with Spring Security.

### Actual Behavior

When using something like:

[2019-01-23 13:13] j-m-baker opened #6474 "Disable OAuth2WebSecurityConfiguration through property."
### Summary

Our project will include the spring-security-oauth2-core and client libraries, which causes the OAuth2WebSecurityConfiguration class to create a WebSecurityConfigurationAdapter unless it finds one pre-configured.

### Actual Behavior

This may seem sensible and works for simple use-cases, but one may wish to include the oauth2 library and not see oauth2 automatically enabled - for exa

[2019-01-23 15:12] jgrandja commented on #6474
@j-m-baker This is a Spring Boot specific feature so it should be logged [here](https://github.com/spring-projects/spring-boot/issues).

Spring Boot already provides the capability for disabling auto-configuration. See [Disabling Specific Auto-configuration Classes](https://docs.spring.io/spring-boot/docs/2.1.2.RELEASE/reference/htmlsingle/#using-boot-disabling-specific-auto-configuration).

The s

[2019-01-23 15:12] #6474 closed

[2019-01-23 15:32] matt00000001 commented on #5508
@rwinch What do you mean by:

Instead, we recommend using the Spring Data support.

Are you saying do not use Spring ACL?  I don't see a data level security called Spring Data...  So I'm confused.

[2019-01-23 15:40] rwinch commented on #6466
@superdurszlak Understood that you cannot publish the original report and that it takes time. By putting a sample for us to reproduce the issue we are much more likely to be able to figure out the issue and fix it given that we cannot even see the code with the issue. I'd encourage you to ensure that the sample is as simple and self contained as possible (i.e. use in memory ldap)

[2019-01-23 16:01] favetelinguis opened #6475 "exposing setAuthenticationConverter in FormLoginSpec"
Some login flows requires more parameters then user/pwd. If using a cutom login page with additional parameters it would be nice if one could supply a custom `ServerAuthenticationConverter`. The alternative now is to write a fully custom WebFilter to replace the FormLoginSpec.

[2019-01-23 16:24] mickaeltr opened #6476 "Add ability to avoid "no-store" in default Cache-Control header"
### Summary

By default, Spring Security only allows turning off the default Cache-Control header. I would like to be able to customize it in order to avoid the "no-store" instruction.

### Actual Behavior

Default Cache-Control header is: **no-cache, no-store, max-age=0, must-revalidate**

That does not allow storing the HTTP response (in any browser or proxy cache). Thus, HTTP bodies must always

[2019-01-23 16:24] jgrandja opened #6477 "OAuth2LoginSpec discovers ReactiveOAuth2AccessTokenResponseClient @Bean"
We should allow for a `@Bean` of type `ReactiveOAuth2AccessTokenResponseClient<OAuth2AuthorizationCodeGrantRequest>` to be discovered by `OAuth2LoginSpec`.

This will allow the user to register a `WebClientReactiveAuthorizationCodeTokenResponseClient` `@Bean` with a configured `WebClient` via `WebClientReactiveAuthorizationCodeTokenResponseClient.setWebClient()`.

[2019-01-23 16:35] jgrandja commented on #6472
Thanks for the report @rexave.

`WebClientReactiveAuthorizationCodeTokenResponseClient.setWebClient()` has been implemented via #6182.

However, in order to make it easier for the user to provide a `WebClientReactiveAuthorizationCodeTokenResponseClient` with a configured `WebClient`, we need to resolve #6477.

I'm going to close this issue so please track the progress for #6477. Would you be inter

[2019-01-23 16:35] #6472 closed

[2019-01-23 18:44] favetelinguis commented on #6475
Is [this](https://stackoverflow.com/questions/54310662/pass-additional-login-parameters-from-custom-webflux-loginform?noredirect=1#comment95454689_54310662) SO question a better explanation? If not just tell what I should add to clear the issue.

[2019-01-23 19:15] darthCodr commented on #6477
Hello @jgrandja Does this have to do with autowiring that bean?

I’ll like to work on it regardless.

[2019-01-23 20:05] jgrandja commented on #6477
@darthCodr Yes, it's all about wiring the `ReactiveOAuth2AccessTokenResponseClient` `@Bean` if the application has registered it, otherwise same behaviour as today. Take a look at `getOauth2UserService()` or `getOidcUserService()` - it will follow the same pattern.
Please add a test as well. Thanks for taking this on!

[2019-01-24 00:09] cbornet commented on #4932
I think this has been done in https://github.com/spring-projects/spring-security/commit/1eaecc12ec94f8f46d9c01af214966a47e976d52

[2019-01-24 07:09] zacader commented on #6450
I have a lot of work to do now, and I will submit a sample when I am free. @rwinch

[2019-01-24 08:35] be-hase commented on #4932
Oh, that's right.
I'll close this issue.

[2019-01-24 14:41] rwinch commented on #6475
The SO link you provided doesn't seem to work on additional parameters, so I'm not sure how it relates to your question.

Perhaps you can provide me with a complete sample that illustrates the pain you are currently having?

[2019-01-24 15:12] rwinch opened #6478 "Add StaticHeadersWriter.setIgnoreIfContainsHeader(boolean)"
### Summary

We should add a property to StaticHeadersWriter that indicates it should skip adding a header if the header already exists.

[2019-01-24 15:13] rwinch commented on #6476
Thanks for the follow up @mickaeltr!

It appears the reason is that `StaticHeadersWriter` is adding the header without checking to see if it exists. We should add a boolean property to allow for that behavior. I created gh-6478 for it. Would you be interested in submitting a Pull Request for that? If so please claim it by commenting on the issue.

In the meantime you can do something like this:

[

[2019-01-24 15:25] superdurszlak commented on #6466
I didn't have time to prepare minimal PoC, but we took a closer look at the logs and that's what we found in the stack trace.

It looks like spring-tx transaction interceptor attempted to wrap our JDBC connection and failed to initialize transaction because of connection timeout, which was apparently caused by ```com.mysql.jdbc.exceptions.jdbc4.MySQLNonTransientConnectionException: Cannot open JKS

[2019-01-24 15:42] #5598 closed

[2019-01-24 16:22] mickaeltr commented on #6476
Thanks @rwinch, I'll let you know if I manage to setup Spring Security on my machine.

[2019-01-24 19:12] stuffToDo commented on #5007
"reasonable workaround" ... does not work. It does respond with the configured 400 JSP but still logs the exception with stacktrace. The exception is logged here (StandardWrapperValve)...

`
} catch (Throwable e) {
            ExceptionUtils.handleThrowable(e);
            container.getLogger().error(sm.getString(
                    "standardWrapper.serviceException", wrapper.getName(),

[2019-01-25 03:55] ankurpathak commented on #6478
I would like to take this one.

[2019-01-25 04:00] ankurpathak commented on #6478
@rwinch With this issue:
https://github.com/spring-projects/spring-security/issues/6454
and corresponding pull request:
https://github.com/spring-projects/spring-security/pull/6456
now be will be lready checking for if header already exists
before writing header in any HeaderWriter.

[2019-01-25 08:41] ankurpathak commented on #6478
@mickaeltr We can modify method something like this to acheive:
public void writeHeaders(HttpServletRequest request, HttpServletResponse response) {
		for (Header header : headers) {
			for (String value : header.getValues()) {
				if(!hasHeader(response, header.getName(), value)){
					response.addHeader(header.getName(), value);
				}
			}
		}
	}

	private boolean hasHeader(HttpServletResponse r

[2019-01-25 09:37] mickaeltr commented on #6478
@ankurpathak In my case, I think that still would not work

I would like my static `Cache-Control` to be: `max-age=0, no-cache, must-revalidate`

I would like to override it, for example with: `max-age=3600`

With your implementation, I understand that I would get `max-age=3600, no-cache, must-revalidate` instead of only `max-age=3600`.

So I am more in favor of an ignoreIfContainsHeader flag, as

[2019-01-25 09:50] mickaeltr commented on #6476
This is what my workaround looks like for the moment:
[code]

[2019-01-25 10:17] ankurpathak commented on #6478
@mickaeltr This will cover your case I think.
[code]

[2019-01-25 10:21] mickaeltr commented on #6478
Yes that would work for me. 👍
However that would break backward compatibility… I am not sure what is the policy about that.

[2019-01-25 12:14] siepkes commented on #6473
Apparently I needed more coffee I got it wrong and the solution is actually to simply use:
[code]

I think I messed up by mixing my test results with my JSR-250 annotations test results (which don't work with reactive).

Sorry for the noise!

[2019-01-25 12:14] #6473 closed

[2019-01-25 14:32] rwinch opened #6481 "Missing spring: prefix on jwk-set-uri example"
### Summary
Backport of gh-6479

[2019-01-25 14:33] rwinch commented on #6481
Fixed via 007ee7652b15421a1c642fd864ab5355e99c0705

[2019-01-25 14:33] #6481 closed

[2019-01-25 14:34] superdurszlak commented on #6466
Now it's time to humble myself and admit that the entire issue apparently boils down to three points:
* configuration on our side led to using our trust store for just about every SSL connection
* this includes SSL connection with DB, apparently enabled by spring-tx, which made Spring attempt to use the keystore
* this is where entire 'keystore could not be found' affair surfaces

While we still n

[2019-01-25 14:34] #6466 closed

[2019-01-25 15:13] rwinch commented on #5007
This is likely something you want to be drawn to your attention since it may be someone trying to bypass the firewall. If you are not interested in that log, you can also create a Filter that catches the exception and handles it.

[2019-01-25 15:15] #6341 closed

[2019-01-25 15:40] rwinch commented on #6478
@ankurpathak Thanks for pointing that out. You are right this is a duplicate.

@mickaeltr You are right to worry about passivity. We will move that discussion to the existing tickets though

[2019-01-25 15:40] #6478 closed

[2019-01-25 15:42] rwinch commented on #6473
Thanks for following up with us!

[2019-01-25 15:44] rwinch commented on #6466
Thanks for following up @superdurszlak! No apologies necessary. We appreciate you taking the time to try and make Spring better :smile:

[2019-01-25 16:07] bdemers opened #6482 "Cannot set redirect url/template for Webfulx OAuth2"
### Summary

`ServerHttpSecurity` does NOT have a method to set the OAuth (auth code flow) redirect URI/template.

The equivalent for `HttpSecurity` is:
[code]

It looks like the default patterns are hardcoded.

I was expecting the OAuth2  config to be similar between `HttpSecurity` and `ServerHttpSecurity`

### Version

5.1.4

If I'm just not seeing the correct method to set this let me know!

[2019-01-25 16:16] jgrandja commented on #6482
@bdemers This configuration option was added just this week via #5598.

See `OAuth2LoginSpec.authenticationMatcher(ServerWebExchangeMatcher authenticationMatcher)`.

**Note:** This is only available in master which is 5.2.x.

I'll close this issue but we can reopen if you require further assistance.

[2019-01-25 16:16] #6482 closed

[2019-01-25 16:19] bdemers commented on #6482
Sweet! my search-fu failed me :)

Thanks again @jgrandja !

[2019-01-25 16:51] rwinch opened #6483 "ServletOAuth2AuthorizedClientExchangeFilterFunction Does Not Work For Chained Reactive Methods"
### Summary

The defaults for ServletOAuth2AuthorizedClientExchangeFilterFunction are performed on the main thread so that ThreadLocal's like SecurityContextHolder and RequestContextHolder can be accessed. The problem is that when chaining occurs, the thread has also chained. This means these defaults cannot be accessed.

An example would be something like this:

[code]

We should find a way to en

[2019-01-25 18:02] rozagerardo commented on #6341
Thanks for the support @rwinch it's been a nice first experience contributing to this project :)
I'd like to get involved more with the Spring project, so I'll try to pick another task soon (either from spring-security or from any other project).
Any suggestion or feedback for me is always appreciated. Cheers!

[2019-01-25 18:14] #6359 closed

[2019-01-28 06:10] ankurpathak commented on #6461
@jgrandja Is this specification in Practice ie any Real Example useing it? Because most of OAuth and OpenID provider like Facebook, Google, Linkedin are providing SDK for Native Apps for doing Login With Them.

[2019-01-28 14:21] nseb commented on #5228
No Workaround ?
even if instagram does not support the protocol completely, it would be interesting that spring proposes the integration, because it is only Instagram finally ;-)

[2019-01-28 16:33] jgrandja commented on #6477
@darthCodr

Yes, this is exactly where you would apply the change.

Let's go with `ReactiveOAuth2AccessTokenResponseClient getAccessTokenResponseClient()`

It should behave as it currently does today, which is defaulting to `WebClientReactiveAuthorizationCodeTokenResponseClient client = new WebClientReactiveAuthorizationCodeTokenResponseClient()` in `createDefault()`.

[2019-01-28 17:09] jgrandja commented on #6461
@ankurpathak

I'm not aware of any applications/libraries that are using it. However, I would expect there are a few out there given this reference documents **best practices on how to integrate with native apps**.

[2019-01-28 17:11] bdemers opened #6484 "WebFlux OIDC expired id token causes 500 status code"
### Summary

For testing I've created a mock OAuth IdP which returns expired (along with otherwise invalid) ID tokens.  These tokens cause 500 status codes to be returned, I would expect any invalid token to result in a 401 status code.

Similar errors also cause 500s, for example if the [expire date is before the issued date](https://github.com/spring-projects/spring-security/blob/ec970c9b8e7c2d6

[2019-01-28 17:33] jgrandja commented on #6484
@bdemers I think this is related to #5562

[2019-01-28 17:42] bdemers commented on #6484
@jgrandja Agreed! though the id token JWT _could_ be invalid after it is received.

Thanks for linking them!

[2019-01-28 19:23] sdoxsee commented on #6446
Hi @jgrandja. Added a PR but it's definitely not "ready-to-go". I've added some questions to the PR that can be discussed. Thanks.

[2019-01-28 21:24] jzheaux opened #6486 "Improve formatting of LDAP snippets in Reference Documentation"
Related to https://stackoverflow.com/questions/54404613/spring-ldap-login-and-get-member-of

[2019-01-28 22:40] jzheaux opened #6487 "Add Reactive CSRF Documentation"
Related to https://stackoverflow.com/questions/54408961/disable-authentication-and-csrf-for-a-given-path-in-spring-weblux/54411308#54411308

[2019-01-29 04:07] BruceZu commented on #3995
in your case it is CompositeSessionAuthenticationStrategy#0; But it can be CompositeSessionAuthenticationStrategy#1in other scenario.  this is not an elegant way

[2019-01-29 12:52] xingfudeshi opened #6488 "antPathMacher doesn't mache my uri."
### Summary

i am currently using spring cloud gateway，and using spring security for the access control.(reactive).
i would like give all permission to an uri(exclude it from filter so any one can visit it without login)，the uri is:/image/myImage/view/some md5 value.jpg，but when i configured it as below:
.pathMatchers("/**/view/*").permitAll()
it seems dose not match my uri.

but when i create a a

[2019-01-29 12:55] mhnagaoka commented on #3995
I agree :smiley:
The way I ended up doing was something along these lines: https://stackoverflow.com/a/39715342/710780 (not that much better, though.)

[2019-01-29 12:59] xingfudeshi commented on #6488
spring security 2.0.×

[2019-01-29 14:34] jzheaux opened #6489 "Simplify retrieving Introspection-specific attributes"
Related to #5200 and https://github.com/spring-projects/spring-security/pull/6352#discussion_r251856850

One way to simplify would be by creating an `IntrospectionClaimAccessor` similar to `JwtClaimAccessor`.

[2019-01-29 16:24] jzheaux commented on #6488
@xingfudeshi I appreciate what you've done here to reduce this to a very simple and self-contained explanation - I wonder if `/**/**/view/*` works?

Either way, these types of questions are better suited for StackOverflow. If my above suggestion isn't what you need, would you please do me the favor of posting this question to StackOverflow and add to your explanation all matchers listed underneath

[2019-01-29 16:24] #6488 closed

[2019-01-29 16:25] jzheaux commented on #6486
FIxed via c4b1747

[2019-01-29 16:25] #6486 closed

[2019-01-29 17:09] jgrandja commented on #6446
Thanks @sdoxsee ! I will get to this within the next 2 days. Just need to address a couple other issues first.

[2019-01-29 18:17] saagar2000 commented on #3191
@rwinch Can you please make the `ActiveDirectoryLdapAuthenticationProvider `non final ?
We can extend the `ActiveDirectoryLdapAuthenticationProvider  `and override the `doAuthentication()` to perform additional checks before calling the ldap piece.

[2019-01-29 19:51] rwinch commented on #6341
Thanks again for your contribution! If you are looking for more tasks to work on, you can find ideal tickets with the [Help Wanted](https://github.com/spring-projects/spring-security/labels/help%20wanted) label. Of course if you find something else, please just let us know and we can help determine if it is something we are interested in contributions for.

[2019-01-29 20:53] jzheaux commented on #4187
[The `Clear-Site-Data` header](https://www.w3.org/TR/clear-site-data/) is now supported by [the majority of browsers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Clear-Site-Data#Browser_compatibility) with compatibility coming soon for others.

Spring Security could simplify `Clear-Site-Data` configuration via an implementation of `HeaderWriter` and an implementation of `LogoutHandle

[2019-01-29 22:47] #6104 closed

[2019-01-30 00:31] saagar2000 opened #6490 "Make the ActiveDirectoryLdapAuthenticationProvider class non final"
Can you please make the ActiveDirectoryLdapAuthenticationProvider non final ?
We can extend the ActiveDirectoryLdapAuthenticationProvider and override the doAuthentication() to perform additional checks before calling the ldap piece.

[2019-01-30 00:55] jzheaux commented on #5350
@wtatum It looks like I'll go ahead and submit a PR for this. I'll reach out to you for feedback to see if it meets your needs.

[2019-01-30 08:42] jkapec opened #6491 "Overriding GlobalMethodSecurityConfiguration.customMethodSecurityMetadataSource"
In previous Spring versions, bean overriding was allowed, but Spring 5 brings disabling by default. Its OK, but not for creating custom `methodSecurityMetadataSource` definition. I use it for custom annotation defining rules for authorization.
When I override `customMethodSecurityMetadataSource` in my confuiguration extending `GlobalMethodSecurityConfiguration `, I get already defined exception:
[

[2019-01-30 12:04] wtatum commented on #5350
Sorry I sorry if dropped off the radar on this one. If you are able to take
it in then please go ahead. I'm happy to provide feedback.

Will

On Tue, Jan 29, 2019, 7:55 PM Josh Cummings <notifications@github.com wrote:

[2019-01-30 13:54] darthCodr commented on #6477
Hello, @jgrandja
I currently have this:

`		private ReactiveOAuth2AccessTokenResponseClient<OAuth2AuthorizationCodeGrantRequest> getAccessTokenResponseClient() {
			ResolvableType type = ResolvableType.forClassWithGenerics(ReactiveOAuth2AccessTokenResponseClient.class, OAuth2AuthorizationCodeGrantRequest.class);
			ReactiveOAuth2AccessTokenResponseClient<OAuth2AuthorizationCodeGrantRequest> bean =

[2019-01-30 16:33] rwinch commented on #3995
What exactly are you needing to do? Have you considered using the framework to create the UsernamePasswordAuthenticationFilter and then using a BeanPostProcessor to customize it?

[2019-01-30 16:42] chrylis commented on #6320
I have repeated a particular implementation pattern enough times that I'm planning to develop a modular open-source auth-server solution that covers similar ground as Okta/the old Stormpath but has the control of in-house deployment and customized authentication steps/rules that have caused my clients to need an in-house solution. This is still in the planning stage, but I have a reasonably reliab

[2019-01-30 21:31] duke-cliff opened #6492 "Missing error detail message in response body for access deny"
https://github.com/spring-projects/spring-security/blob/5c2ee09bc3a0fe0a14b0aa86d1946542c4ca2aab/web/src/main/java/org/springframework/security/web/access/AccessDeniedHandlerImpl.java#L77

Before we used to see detail error messages from accessDeniedException, but after spring boot 2 upgrade, the message is always just "Forbidden".

This line should be:
response.sendError(HttpStatus.FORBIDDEN.valu

[2019-01-30 21:32] duke-cliff commented on #6492
It's useful in unit tests

[2019-01-30 21:49] jgrandja commented on #6477
You would call it in `createDefault()` and pass it when instantiating `OAuth2LoginReactiveAuthenticationManager`

[2019-01-30 22:02] chrylis opened #6493 "Support max_age parameter for OAuth2 authorization server"
Pending #6320, I have an application where [the OICD `max_age` parameter](https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1) would be useful to have for forcing re-authentication before a sensitive operation. I'd like to include this feature in the new support.

[2019-01-30 22:05] chrylis commented on #6320
As long as Zoom is working on Linux clients this week, happy to. You can find me at my name on the Android people's mail service.

[2019-01-30 22:15] rwinch commented on #6225
### Summary

Spring Boot and Spring Framework are using some nice conventions for the GitHub labels. We should try and do the same.

Here is the proposal:

[code]

[2019-01-30 22:38] jzheaux commented on #6225
I like it. Some notes about the proposal:

I was hoping that Issue search would not require an exact match on labels, but in Spring Framework, a search for `label:waiting-for-triage` returns nothing, but `label:"status: waiting-for-triage"` returns appropriately. Adding this extra syntax will make it harder for folks to search for issues to contribute to. Is that something we want to try and addre

[2019-01-31 00:07] jzheaux opened #6494 "Add RSA Key Converters"
Spring Security supports supplying an RSA public key in its OAuth 2.0 APIs.

Local keys, though, are often distributed in files or as a PEM-encoded configuration property. It would be nice to have some support for converting an encoded RSA key into the appropriate JCA instance, e.g. `RSAPublicKey`.

One way to do this would be by using the `Converter` interface:

[code]

Which then users could use

[2019-01-31 15:36] rwinch commented on #3191
We try and prefer composition to inheritance. Would allowing an `LdapAuthoritiesPopulator` to be injected solve the issue for you?

[2019-01-31 15:38] rwinch commented on #6490
Thanks for the report. This is a duplicate of gh-3191. Let's move the discussion over there

[2019-01-31 15:38] #6490 closed

[2019-01-31 15:50] rwinch commented on #6491
Thanks for the report. To speed things up a bit can you put together a complete sample and post a link the the project?

We cannot use conditionals in Spring Security's code base because that is a Boot dependency which Spring Security doesn't rely on.

[2019-01-31 15:56] rwinch commented on #6492
Please see gh-4587

[2019-01-31 15:56] #6492 closed

[2019-01-31 16:01] rwinch commented on #6493
Thanks for reaching out. Are you looking to provide this via the authorization server or the client (or both)?

[2019-01-31 18:53] saagar2000 commented on #3191
@rwinch Not sure `LdapAuthoritiesPopulator `is going to help us. We are looking for a way to augment the authentication piece to look in both db and ldap. For instance if the user is found in both db and ldap follow with next steps else reject the request. We would like to do minimal change and use the existing `ActiveDirectoryLdapAuthenticationProvider `for the most part.  If possible we would li

[2019-01-31 19:01] darthCodr commented on #6477
Hello @jgrandja I have implemented this and it's fine.
I'm a bit confused as to where to implement the tests. Kindly assist. Many thanks.

[2019-01-31 20:04] chrylis commented on #6493
To my knowledge, this is a server-based operation; the client calls `authorize` and requests a specific limit on the time since the last active authentication (in many cases, zero to force a reauthentication for some specific operation such as a crypto withdrawal). I suppose that some sort of API support in the client could be useful, but at this point I don't have the experience I'd need to know

[2019-01-31 22:08] jgrandja commented on #6320
Sorry but I don't have an Android. What would be an easier way to get in touch with you?

[2019-02-01 01:47] zacader commented on #6450
Here is my sample https://github.com/zacader/springbootsecurityh2  @rwinch

[2019-02-01 07:20] jochenchrist opened #6497 "OAuth2LoginAuthenticationProvider should respect jwk-set-uri"
### Summary

When registering a OAuth2 Provider, a JWK Set URI can be set, according to
https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2login-boot-property-mappings

`spring.security.oauth2.client.provider.[providerId].jwk-set-uri`

From the documentation, it is not clear, that this URI is only used with OpenID Connect.

### Actual Behavior

This URI is not res

[2019-02-01 17:41] jzheaux opened #6498 "Simplify access to OAuth 2.0 token attributes"
Related to #5200 and https://github.com/spring-projects/spring-security/pull/6352#discussion_r253137232

We should introduce `OAuth2TokenAttributes`, a class that holds an OAuth 2.0 Token's attributes. To this point, each authentication token has exposed attributes simply as a `Map`.

It works out best, though, when an new class's usage can be demonstrated, ensuring that the API is correct. So, to

[2019-02-01 21:08] jgrandja commented on #6477
The tests should go in `OAuth2LoginTests`. Thanks.

[2019-02-01 21:47] jgrandja commented on #6443
Hi @vishalvrv9. How are things going?

[2019-02-01 21:50] jzheaux opened #6500 "JwtDecoders and ClientRegistrations should support RFC 8414"
Related to https://github.com/spring-projects/spring-security/issues/5543

`JwtDecoders` and `ClientRegistrations` can already retrieve configuration via an OIDC Provider Configuration Endpoint:

[code]

[RFC 8414](https://tools.ietf.org/html/rfc8414) defines a metadata endpoint not tied directly to OIDC, meaning that we should not use the OIDC-specific method here but instead introduce a new one.

[2019-02-01 22:40] jzheaux opened #6501 "Add support for HeaderWriterFilter to write headers at the beginning of the request"
Related to https://github.com/spring-projects/spring-security/issues/6414

Let's add some support to `HeaderWriterFilter` for writing headers at the beginning of the request:

[code]

Which would then allow folks to post process the `HeaderWriterFilter` and configure it:

[code]

`HeaderWriterFilter` writes headers at the end of the request. However, headers cannot be written after an include.

If

[2019-02-01 22:41] jzheaux commented on #6414
@mjagus I've written up a ticket for this https://github.com/spring-projects/spring-security/issues/6501. Would you be interested in submitting a PR?

[2019-02-02 14:16] mamachanko opened #6502 "Clarify quick start section in README"
The quick start section of the README points to https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/ saying:

However, there is no _Getting Started_ page in the docs.

[2019-02-03 14:37] vishalvrv9 commented on #6443
Hey @jgrandja,
Apologies for the late reply. My computer gave up and I finished setting up dev environments, paths etc onto my new machine.

About the issue, I have made the necessary changes. The junit tests are passing.
But when I try building the project, using
`./gradlew build` OR `./gradlew clean build integrationTest`
the build is failing.
The error I'm getting is:
![image](https://user-imag

[2019-02-03 19:28] farrault opened #6503 "Refreshing access token may remove refresh token from AuthorizedClient"
### Summary

When a WebClient (configured with ServletOAuth2AuthorizedClientExchangeFilterFunction) automatically refresh an access token using an available refresh token, the refresh token may be lost, preventing any further refresh.
This happen when the authorization server doesn't return the refresh token on the Token Endpoint response (Which is the case of Google)

This issue seems to be the s

[2019-02-04 10:42] jgrandja commented on #6443
@vishalvrv9 Are you using the native Terminal application packaged with Mac OSX? You might want to look at this [article](https://aaronbonner.io/post/570462273/character-encoding-and-mac-osx).

Also, I use [iTerm2](https://iterm2.com/) for my CLI and would highly recommend this over Terminal. I've never had any encoding issues with iTerm2. See if the same problem persists using iTerm2 and let me k

[2019-02-04 11:01] jgrandja commented on #6503
Thanks for the report @farrault. I can see the issue here. As outlined in the spec, in section [6.  Refreshing an Access Token](https://tools.ietf.org/html/rfc6749#section-6)

   the client MUST discard the old refresh token and replace it with the
   new refresh token.  The authorization server MAY revoke the old
   refresh token after issuing a new refresh token to the client.  If a
   new refre

[2019-02-04 12:07] jgrandja commented on #5940
We should consider introducing `OAuth2AuthorizationRequest.attributes` (of type `Map<String, Object>`), which would serve the similar purpose as `ServletRequest.getAttribute()` and `RequestAttributes`. The `registrationId` would than be stored in `OAuth2AuthorizationRequest.attributes`.

This makes a lot of sense as I'm anticipating we'll need a place to store contextual information associated to

[2019-02-04 18:53] kwolfp commented on #6498
Hello,
this issue is available for first timer?

[2019-02-04 20:31] rwinch commented on #3191
If we extract the existing logic into `DefaultLdapAuthoriesPopulator` and then you created a new implementation you could do something like this:

[code]

Does that work for you?

[2019-02-04 22:21] jzheaux commented on #6338
@yoshikawaa Thanks for you post!

There are a couple of ways that I think this could be addressed.

One option you have is that, in a forward, the original request uri is saved in the request as an attribute, which you could obtain like so:

[code]

A slightly less powerful way is to configure so the headers are written at the beginning of the request: https://github.com/spring-projects/spring-sec

[2019-02-04 22:21] #6338 closed

[2019-02-05 01:49] saagar2000 commented on #3191
Thanks @rwinch. I believe your answer solves the problem when we would like to load roles from multiple places like db and ldap. My ask was for authentication part which I believe can be accomplished by extracting the existing logic inside `doAuthentication `into `ActiveDirectoryLdapAuthenticator` and I will create a class like this. Not sure this is not the approach.

[code]

[2019-02-05 01:57] yoshikawaa commented on #6338
@jzheaux Thanks for your reply and suggestion.

I agree to your opinion.
By improving the `RequestMatcher`, we can solve the problem.
I think that it can be fiexed by modifying `AntPathRequestMatcher` as follows::

* from
[code]

* to
[code]
If we **really want to match forwarded or included URLs**, this is not appropriate, but I do not think there is such a requirement...

How do you think?

[2019-02-05 01:58] ankurpathak commented on #6501
I would like to take this one.

[2019-02-05 02:49] yoshikawaa commented on #6338
@jzheaux
https://github.com/jzheaux/spring-security/commit/05da7bd7e6968c5fe7cfd4541abeb34be75fe598 can also resolve this problem.
I hope that any solution will be applied.

[2019-02-05 09:41] sbespalov opened #6506 "AuthenticationSupplier feature for Web Security"
The proposal is to have generic Authentication filter which will be able to provide single authentication strategy regardless of authentication type.

The Servlet API based authentication process commonly consist of following stages:
1. Expose `Authentication` from request (supply);
2. If there is no supported `Authentication` provided then proceed filter chain;
3. If there is supported `Authentic

[2019-02-05 09:49] sbespalov commented on #6506
@rwinch let me clarify why `AuthenticationSupplier` was extended from `AuthenticationEntryPoint`

the reason is that in case of failed authentication, which was supplied, we should commence same authentication scheme, that was supplied.

[2019-02-05 16:33] darthCodr commented on #6477
Hello @jgrandja. I found some existing tests in `OAuth2LoginTests` that check `ReactiveOAuth2AccessTokenResponseClient<OAuth2AuthorizationCodeGrantRequest>`. I don't know how to test it without messing up existing code. Is there an implementation I could use as a guide? I would appreciate.

Sincere apologies for the delay.

[2019-02-05 17:49] rwinch commented on #6502
Thanks for the report. I have made this part of our larger documentation efforts See gh-2567

[2019-02-05 19:02] jzheaux commented on #6501
It's yours, @ankurpathak!

[2019-02-05 19:32] vishalvrv9 commented on #6443
Hey @jgrandja
Was using the built in IDE terminal for intellij. Using iterm2 henceforth and the `gh-6443-clockSkew-assertion` did the trick.

New impediment:
I cloned the spring-security project and created a local branch for the same. Checked out to the concerned feature-branch and have committed the changes locally. But when I try pushing the changes using `git push origin gh-6443-clockSkew-asse

[2019-02-05 19:59] jzheaux commented on #6338
@yoshikawaa I also wondered about that and dug into the request matchers a bit to see if modifying them was an option.

The challenge is finding a non-breaking change. The request matchers as well as `UrlPathHelper` take the stance of getting the request details of the inner-most request context (request, forward, include). You are suggesting logic that elevates the original request as more import

[2019-02-05 20:10] jgrandja commented on #6443
@vishalvrv9

You need to **fork** spring-security and than clone your fork locally. Than you will push your local branch to your fork. From your fork, you'll be able to create a PR from the branch. Makes sense?

[2019-02-05 20:19] jgrandja commented on #6503
Thanks @farrault ! I will get to this by tomorrow.

[2019-02-05 20:31] rwinch commented on #3191
I'm not sure I understand. In particular, I'm not sure how this issue (making  ActiveDirectoryLdapAuthenticationProvider non-final) relates to your comment above.

[2019-02-05 20:35] rwinch commented on #6506
Thank you for getting the conversation going. I can see value in a generic Filter. However, I think that we need to discuss this with the team as it is a big change for users (it would deprecate a lot of existing Filters). I do like the idea in principal, and it aligns with how the reactive part works.

I do think we need to separate the entry point from the supplier. The entry point is typically

[2019-02-05 22:26] chrylis opened #6507 "Question regarding *Spec naming convention"
It may be too late to change this anyhow, but what's the history behind the use of `*Spec` for a number of configurationish objects? In particular, this collides with Spock conventions and seems like a likely source of build conflicts.

[2019-02-06 01:33] yoshikawaa commented on #6338
@jzheaux I think so, too.

I understand that `AntPathRequestMatcher` handles the original request or handles the forwarded request in some cases. Changing to always handle the first request path will have a bad influence on other uses.

Certainly, extending `pathPathHelper` will be resolved this problem.
However, it's nonsense that we must extend whenever we intend to handle the original request p

[2019-02-06 02:13] sbespalov commented on #6506
@rwinch thanks, will wait for your response

[2019-02-06 02:51] sbespalov commented on #6506
In this case `ExceptionTranslationFilter` will use regular `AuthenticationEntryPoint` (`BasicAuthenticationEntryPoint` or any other) if there was `AccessDeniedException`.

I mean the case when we receive invalid credentials, provided with specific `AuthenticationSupplier`, in request, then we should prompt for another credentials with same authentication type that was supplied.

[2019-02-06 09:45] piyushsoni21 commented on #5007
One way to handle "//" in url

@Component
@Order(Ordered.HIGHEST_PRECEDENCE)
public class RequestRejectedExceptionFilter extends GenericFilterBean {

    @Override
    public void doFilter(ServletRequest request, ServletResponse response, FilterChain chain) throws IOException, ServletException {
        HttpServletResponse res = (HttpServletResponse) response;
        HttpServletRequest req = (Htt

[2019-02-06 11:54] jgrandja commented on #6477
@darthCodr

No worries, it's not urgent. It's planned for 5.2.0.M2 so we have some time. The tests need to go with the PR so let's keep working through it.

Take a look at `OAuth2LoginTests.oauth2LoginWhenCustomJwtDecoderFactoryThenUsed()`.

Note how it registers:

[code]

and `jwtDecoderFactory` was declared as:

`ReactiveJwtDecoderFactory<ClientRegistration> jwtDecoderFactory = spy(new JwtDecode

[2019-02-06 12:03] ankurpathak commented on #6501
Pull request for the issue:
https://github.com/spring-projects/spring-security/pull/6509

[2019-02-06 16:16] DarkTeToN commented on #5456
You should try with this one:
spring.**servlet**.multipart.enabled=false

[2019-02-06 17:55] rwinch commented on #6507
I'm not sure how it will cause build conflicts but you are right here isn't much we can do about this now. This convention comes from Spring Framework.

[2019-02-06 17:56] rwinch commented on #6507
Closing as answered. If you have follow ups, please feel free to respond and/or reopen

[2019-02-06 17:56] #6507 closed

[2019-02-06 18:02] rwinch commented on #6406
@augustd [Looks up to date](https://search.maven.org/artifact/org.springframework.security/spring-security-web/5.1.3.RELEASE/jar) to me.

[code]
Perhaps you have some dependency management in place that is causing issues? If you continue to have problems, please post on StackOverflow which is the preferred place for questions.

[2019-02-06 18:07] rwinch commented on #6506
That is a separate API too. In that case you use an `AuthenticationFailureHandler`. That handler should not be tied to how the authentication is obtained from the request.

[2019-02-07 00:10] jsm174 commented on #4307
Is this really fixed in Spring Security 5.0.2+? I'm seeing the same behavior in 5.0.11?

[2019-02-07 03:18] #6454 closed

[2019-02-07 14:04] mjagus commented on #6414
Hi @jzheaux !

Making such thing configurable seems like a great idea, but I think it would be way better to configure it on a  `HeaderWriter` level instead. Our application uses a mix of JSP views and REST endpoints which may need to be cached. So potentially we would still need to add `Cache-Control` related headers using deferred approach (just so we can avoid #2953) while applying all the othe

[2019-02-07 14:22] pbialonc opened #6511 "CsrfConfigurer accessDeniedHandler logic"
### Summary
Is it by design that:
CsrfConfigurer does not reuse accessDeniedHandler logic from ExceptionHandlingConfigurer?

### Actual Behavior

CsrfConfigurer is using getAccessDeniedHandler to get accessDeniedHandler and creates its own if no handler specified.
In case we've specified only defaultDeniedHandlerMappings in ExceptionHandlingConfigurer there is RequestMatcherDelegatingAccessDeniedH

[2019-02-07 14:41] amanganiello90 opened #6512 "Add SpEL Support for Reactive AuthorizeExchangeSpec"
### Summary

Non-reactive spring security (4.x) provides access method where you can pass an Expression-Based-Access-Control to evaluate and/or authority/role permissions for allowing access.
In the reactive spring security the access method require an implementation of  **ReactiveAuthorizationManager<T>** or you can use a static method of it:
[code]
In the spring-security 5.2.x development versio

[2019-02-07 15:42] jzheaux commented on #6498
I'm of the mind that `@CurrentAuthentication` would be more common. Or, at least, I think that I would almost never do:

[code]

And so I'd always be at least typing `@CurrentSecurityContext(expression="authentication` followed by whatever I needed from it.

What about:

[code]

Also, what I like about both is that it's possible for a user to do something like:

[code]

with minimal effort by doin

[2019-02-07 15:50] rwinch commented on #5456
I'm closing this as invalid because it is not a Spring Security issue. If others are having this issue, please report to Spring Framework at https://github.com/spring-projects/spring-framework/issues

[2019-02-07 15:50] #5456 closed

[2019-02-07 16:10] rwinch commented on #4307
I'm closing this issue as no samples have been produced. Anyone experiencing an issue should create a new issue and put together a sample using the latest version of Spring Security. Without a sample it is difficult if not impossible to solve the issue (which with these header issues are often subtle).

Be aware of https://github.com/spring-projects/spring-security/pull/6509 which eagerly writes t

[2019-02-07 16:10] #4307 closed

[2019-02-07 16:14] jsm174 commented on #4307
Apologizes for the comment. Forgot to update it.

I was using a system with zuul which was adding these headers back.

(https://github.com/spring-cloud/spring-cloud-netflix/issues/2799)

[2019-02-07 16:27] jzheaux opened #6513 "Add Reactive Opaque Token Support to Resource Server"
The reactive equivalent for #5200

[2019-02-07 17:16] #5940 closed

[2019-02-07 18:50] vishalvrv9 commented on #6443
@jgrandja
Have submitted the PR #6514 :)

[2019-02-07 19:40] #5200 closed

[2019-02-07 20:34] #6503 closed

[2019-02-07 20:43] jgrandja opened #6515 "Refreshing access token may remove refresh token from AuthorizedClient"
Backport #6503

[2019-02-07 21:00] jgrandja commented on #6515
Closed via 51f905c

[2019-02-07 21:00] #6515 closed

[2019-02-08 00:37] jzheaux opened #6516 "OAuth2ResourceServer configuration tests use deprecated extractAuthorities"
`JwtAuthenticationConverter#extractAuthorities` was deprecated in #6273 via 0f7dff3.

`OAuth2ResourceServerConfigurerTests` and `OAuth2ResourceServerSpecTests` should be updated to no longer use it, changing instead to use `setJwtGrantedAuthoritiesConverter`.

[2019-02-08 07:02] vishalvrv9 commented on #6516
Hey @jzheaux, haven't completely analyzed the issue but would like to work on it. Can I take this up?

[2019-02-08 09:16] sbespalov commented on #6506
yeah, but there was no `AuthenticationFailureHandler` interface changes proposed.

I can try to think how to split `AuthenticationSupplier` from `AuthenticationEntryPoint`, but it's also important to know would you accept [AuthenticationType](https://github.com/sbespalov/spring-security/blob/17d3ff82388f835f58b6a85543cb94390c3e957d/web/src/main/java/org/springframework/security/web/authentication/

[2019-02-08 09:18] aliiitarek opened #6517 "[Bug] DefaultRedirectResolver.redirectMatches() does not match prefix"
### Summary
Recently we upgraded from 2.1.0.RELEASE to 2.3.3.RELEASE and found that `DefaultRedirectResolver`.`redirectMatches()` method behaved differently from previous behavior although javadoc is the same, namely `For a URL, this implementation tests if the user requested redirect STARTS with the registered redirect`.

**For reference redirectMatches() in 2.1.0.RELEASE was _correctly as follow

[2019-02-08 09:29] #6517 closed

[2019-02-08 16:53] jzheaux commented on #6516
Yep, it's yours!

[2019-02-08 17:08] jgrandja opened #6518 "Properties should reference scope not scopes"
Backport #6510

[2019-02-08 17:10] jgrandja commented on #6518
Closed via 7633fbf

[2019-02-08 17:10] #6518 closed

[2019-02-08 23:46] kwolfp commented on #6498
@jzheaux when I tried to implement your idea with `@OAuth2TokenAttributes Map<String, Object> ...`  (just for fun), I cannot implement resolver for `@OAuth2TokenAttributes` because `MapMethodProcessor` resolvs all parameters with `Map` type.

[2019-02-10 20:16] rhamedy commented on #4187
Can I work on this issue?

@jzheaux thank you for your insightful comment. Is there anything else that I should know as a first time contributor?

Even though this task is not labeled as **first-timers-only** , I would love to work on it since I have previously used Spring Framework and (even did some debugging of Spring OAuth2 - obviously different).

[2019-02-10 20:26] amitsehgal opened #6520 "Multiple OncePerRequestFilter alongside Spring security AbstractAuthenticationProcessingFilter works locally - issue in PCF"
### Summary
Multiple OncePerRequestFilter alongside Spring security AbstractAuthenticationProcessingFilter works locally - issue in PCF

### Actual Behavior

I have a requirement to use spring security and also other simple OncePerRequest filter in spring-boot which are not called from spring security. I did remove @Component from non-spring security filters and loading them explicitly in AppConfi

[2019-02-11 02:28] zacader commented on #6450
If my code doesn't have any problems, I really don't know what the problem is. I'm still a novice and I don't know how to solve it. Here is bug repetition video https://github.com/zacader/springbootsecurityh2/blob/master/bug_Demonstration.rar ,
Still in use is my sample https://github.com/zacader/springbootsecurityh2.
Browser：chrome
operating system: win10  x64
I couldn't think of any other detail

[2019-02-11 02:43] zacader commented on #6450
I think i did not used incognito and logout . I have implemented remember me use apache shiro.  shiro's
remember me is working fine. But i still want to know what the problem is, hope to get help.
@rwinch

[2019-02-11 05:24] rhamedy opened #6521 "Fix broken link in README.adoc"
### Summary
The **Pull Request** link to Github's article in README.adoc is broken. See https://github.com/spring-projects/spring-security#contributing

### Actual Behavior
Clicking the **Pull Request** link results in 404.

### Expected Behavior
Clicking the **Pull Request** link should navigate to the correct Github page https://help.github.com/articles/creating-a-pull-request

### Configuration

[2019-02-11 05:24] rhamedy commented on #6521
Will create a quick PR for this 👍

[2019-02-11 19:21] jzheaux commented on #4187
@rhamedy yes, it's yours!

[2019-02-12 07:32] artus opened #6524 "Which characters are blocked by the built-in firewall?"
### Summary

Certain requests get blocked by the internal firewall. I can not find a list of which characters are allowed and which are not.

### Configuration

[code]

### Version

Version: 4.2.11-RELEASE

### Sample

This is the exception message:

[2019-02-12 08:37] bsideup opened #6525 "Consider replacing `.flatMap` with `.handle` where appropriate for performance reasons"
Hello.

https://github.com/spring-projects/spring-security/blob/0c2a7e03f780113867dd23c7c6f5f407bc854aed/core/src/main/java/org/springframework/security/authentication/ReactiveAuthenticationManagerAdapter.java#L44-L51

cases like this can be replaced with Reactor's [`.handle` operator](
https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#handle-java.util.function.BiCon

[2019-02-12 10:27] bsideup commented on #6525
Worth mentioning that the linked method can also be replaced with `Mono.fromCallable(...).subscribeOn(Schedulers.elastic())`

[2019-02-12 21:27] thelabdude opened #6527 "TokenRelay filter (in gateway) is getting the access_token vs. id_token when using Google OIDC"
### Summary
I have OpenID Connect based authn working in a Spring Cloud Gateway app with Okta and Google. However, when I use the TokenRely filter (to send the JWT to upstream services), the `access_token` value returned by the request to `https://www.googleapis.com/oauth2/v4/token` is sent instead of the `id_token` (JWT). However, this works with Okta so I'm not sure if this an issue with Google'

[2019-02-12 21:46] thelabdude commented on #6527
Sorry, I didn't include my security config (webflux): ```  @Bean
  public SecurityWebFilterChain springSecurityFilterChain(ServerHttpSecurity http) {
    http.csrf().disable().authorizeExchange()
        .matchers(PathRequest.toStaticResources().atCommonLocations()).permitAll()
        .pathMatchers("/actuator/**", "/**/api-docs", "/**/swagger-ui.html").permitAll()
        .anyExchange().authentic

[2019-02-13 02:36] jzheaux commented on #6498
Thanks for looking into that, @kwolfp.

If `MapMethodProcessor` takes precedence regardless, then a solution based off of resolving to a `Map` won't be ideal.

This points me in the direction of a first-class object to represent attributes, e.g. `OAuth2TokenAttributes` yielding `@CurrentAuthentication(expression="some expression") OAuth2TokenAttributes attributes`

[2019-02-13 03:31] thelabdude commented on #6527
I worked around this with my own WebFillter that does:
[code]

[2019-02-13 04:30] rhamedy commented on #4187
Thanks. I will start working on this. I read the clear-site-data webpsec and understand its purpose. I will just how to figure out how the `HeaderWriter` and `LoginHandler` works and then I should be able to come up with a implementation and discuss it here before making a PR 👍

[2019-02-13 10:01] jgrandja commented on #6527
@thelabdude

The ID Token is only used by the OAuth Client (relying party) to authenticate the user as it **relies** on the ID Token to successfully authenticate the user. The ID Token is rarely used to pass to protected resources. The Access Token is typically what is used to pass to protected resources on Resource Servers.

The Token Relay filter is behaving as expected so I'm going to close thi

[2019-02-13 10:01] #6527 closed

[2019-02-13 14:22] jkapec commented on #6491
Safe solution can be for example changing in bean initialization method `methodSecurityMetadataSource` to use new `MethodSecurityMetadataSourceConfigurer`:
[code]
then it should like:
[code]

If someone need to use own source, it is enough to create custom `MethodSecurityMetadataSourceConfigurer` bean.

[2019-02-13 15:21] jzheaux opened #6528 "Update to Spring Framework 5.1.5"

[2019-02-13 15:22] jzheaux opened #6529 "Update to Spring Data Lovelace-SR5"

[2019-02-13 16:00] darthCodr commented on #6477
Thanks a lot for your help @jgrandja
I did a PR gh-6530

Kindly check. Thanks.

[2019-02-13 16:01] jzheaux opened #6531 "Update to Spring Reactor Californium-SR5"

[2019-02-13 16:04] jzheaux opened #6532 "Update to appengine 1.9.71"

[2019-02-13 16:08] thelabdude commented on #6527
@jgrandja Ok, I understand about the access_token vs. id_token, but there's still an issue with the Google OIDC implementation. I switched my code back to using the TokenRelay filter and now my upstream service is showing this:
[code]
So whatever Google is putting in the `access_token` is certainly not a JWT and isn't valid upstream. It works with Okta. So there's still an issue here and I don't t

[2019-02-13 16:21] jzheaux opened #6533 "Update to Spring Boot 2.1.2"

[2019-02-13 16:23] jgrandja commented on #6527
Google does not issue `JWT` formatted access tokens - it's opaque. Okta is JWT. The protected resource that receives the access token should be configured as such to know what the expected access token format is - opaque vs. JWT.

[2019-02-13 16:39] jzheaux opened #6534 "Update to org.apache.httpcomponents to 4.5.7"

[2019-02-13 16:43] thelabdude commented on #6527
Ah I see now thank you. Sorry for the confusion there. What I'm trying to do is pass a JWT from the Gateway to upstream services as a mechanism for identifying users and their roles (JWT for stateless sessions basically). I guess I got lulled into thinking this was a valid approach because of Okta using the JWT for their access_token. Do you have any recommendations on how to achieve this with Goo

[2019-02-13 16:45] jzheaux opened #6535 "Update to org.seleniumhq.selenium:htmlunit-driver 2.33.3"

[2019-02-13 16:48] jzheaux opened #6536 "Update to org.bouncycastle:bcpkix-jdk15on 1.61"

[2019-02-13 16:50] jzheaux opened #6537 "Update to org.jasig.cas.client:cas-client-core 3.5.1"

[2019-02-13 16:57] #6483 closed

[2019-02-13 17:06] jgrandja opened #6538 "ServletOAuth2AuthorizedClientExchangeFilterFunction Does Not Work For Chained Reactive Methods"
Backport #6483

[2019-02-13 17:16] jzheaux commented on #6535
Not doing this as this maintenance release is not backwards compatible from 2.33.0

[2019-02-13 17:16] #6535 closed

[2019-02-13 17:18] jgrandja commented on #6538
Resolved via 091cbe5

[2019-02-13 17:19] #6538 closed

[2019-02-13 17:33] #6528 closed

[2019-02-13 17:33] #6529 closed

[2019-02-13 17:33] #6531 closed

[2019-02-13 17:33] #6532 closed

[2019-02-13 17:33] #6533 closed

[2019-02-13 17:33] #6534 closed

[2019-02-13 17:33] #6536 closed

[2019-02-13 17:33] #6537 closed

[2019-02-14 02:05] rwinch commented on #6511
It appears like it should be using the default access denied handler. If you are having a problem, please provide a complete and minimal sample to reproduce the issue.

[2019-02-14 02:12] rwinch commented on #6512
Thanks for the feedback.

I'm not sure it makes sense to allow SpEL here given that the baseline JDK version is Java 8 which allows for lambdas. Using a lambda is much simpler and will allow for better performance.

Can you explain why you want SpEL vs using a lambda?

PS: It should be noted that SpEL also doesn't work that well for reactive types. For example, expressing something like `bean.go(e

[2019-02-14 05:22] sbespalov commented on #6506
@rwinch have you bean able to decide something on `AuthenticationSupplier` feature in general?

this also needs your response.

[2019-02-14 07:57] amanganiello90 commented on #6512
Hi @rwinch,
thanks for the response.
My issue is that I want to evaluate a particolar espression for permissions. For example:
[code]
Or
[code]
and so on.

This feature is enabled for not reactive, passing has_Authority("ROLE_1") && has_Authority("ROLE_2") as SpEl in access method.

Can I have a similar possibility for  the Reactive AuthorizeExchangeSpec? Or you can support me with an example (wit

[2019-02-14 14:45] jgrandja commented on #6527
@thelabdude The one thing to keep in mind is that the provider that issues the token is the provider that validates the token. So if you have a token issued by Google, than your downstream service needs to validate the token using Google - either through token introspection endpoint (if opaque) or local public key if JWT (not the case for google). Here is a full sample demonstrating the client and

[2019-02-14 14:49] paskos opened #6539 "Add section on reactive security in Spring Security Architecture"
### Summary

Securing reactive web apps is absent from [Spring Security Architecture](https://spring.io/guides/topicals/spring-security-architecture) topical guide.

[2019-02-14 14:55] thelabdude commented on #6527
Thank you for the explanation and link. Spring Security is truly amazing!

[2019-02-15 19:57] rwinch commented on #4307
@jsm174 I'm not sure I understand. It sounds as though Spring Cloud was what was adding the headers vs Spring Security?

If there is an actual issue, please open a new issue with all the details (including sample) to reproduce.

[2019-02-15 20:00] jsm174 commented on #4307
Correct. There is no issue @rwinch . Thanks.

[2019-02-15 21:02] #6215 closed

[2019-02-15 21:04] rwinch opened #6543 "Fix OAuth2 Client with Ditributed Session"
### Summary

Backport of gh-6215

[2019-02-15 21:05] rwinch commented on #6543
Closed via 4141ddbde2d2b691e7bf8f5394e82483be0a339a

[2019-02-15 21:05] #6543 closed

[2019-02-15 21:29] rwinch commented on #6520
Can you clarify why you think this is an issue with Spring Security vs some other component?

I think you are going to need to provide more details. What version of the buildpack are you using? Can you provide a complete and minimal sample that reproduces the problem?

[2019-02-15 21:35] rwinch commented on #6450
@zacader The videos you provided do not work for me. Given this is a question rather than a bug/feature enhancement, I'm closing this. Please create a question on StackOverflow.

A few suggestions:

* Try clearing your cookies
* Try another browser
* Include the HTTP request/response for when you log in and when you try to use the remember me feature
* Include logs from Spring Security

You could

[2019-02-15 21:35] #6450 closed

[2019-02-15 21:41] #6521 closed

[2019-02-15 21:59] #6513 closed

[2019-02-15 22:02] rwinch opened #6544 "Opaque Token Support with Dynamic Credentials"
### Summary

I think it may make sense to provide first class support (or since we haven't hit GA change our current support) for opaque token support with dynamic credentials. Currently, there is no first class API for supporting rotating the client credentials.

I wonder if it makes sense to use the ClientRegistrationRepository which could be used for looking up both the client key/secret but al

[2019-02-15 23:04] rwinch commented on #6525
Thanks for the suggestion @bsideup!

Can you please explain why that is going to produce better performance? Also, how much performance increase are we talking about? I'm asking because I want to know if this is a micro optimization or something that will be really noticeable.

Thanks again!

[2019-02-15 23:26] jzheaux commented on #6544
Would propose that this introduce an optional dependency on `oauth2-client` - it would at least be optional based on configuring for opaque tokens.

I'm imagining that this would replace the existing constructors - is there value in keeping the (clientId, clientSecret) constructor, though?

[2019-02-16 09:37] bsideup commented on #6525
@rwinch when you use `.flatMap`, you must create an inner publisher, subscribe on it (although there is a fast path in case of `Callable` publishers, but be aware that in case of `Mono.error` it will throw it)

`Mono.fromCallable(...).subscribeOn(Schedulers.elastic())` here is ofc a clear winner, but, on a topic of `.flatMap` vs `.handle`, `.handle` wins with a lower number of allocations, better

[2019-02-17 10:41] mangei commented on #5508
@nenaraab & @rwinch: Thanks for your time and work to fix this issue! I appreciate this a lot =)

[2019-02-18 08:37] pbialonc commented on #6511
Here is minimal project reproducing the issue:
https://github.com/pbialonc/csrf

CsrfApplicationTests fails on shouldReturnTeapot as only accessDeniedHandler logic is applied for csrf configurer and defaultAccessDeniedHandlerFor does not take any effect.

This is not an issue for me as I could use global accessDeniedHandler or build custom handler, but I think this is an issue in general.

[2019-02-18 09:41] darthCodr commented on #6477
Hello @jgrandja the PR failed.  I can't place what I did wrong. I would appreciate your help with the tests. Many thanks.

[2019-02-18 10:20] pbialonc opened #6545 "@PreAuthorize is executed after @Valid validation"
### Summary
@PreAuthorize is executed after @Valid validation

### Actual Behavior
@PreAuthorize is executed after @Valid validation

Using @PreAuthorize to check user permissions/authorities result in user first getting information of not valid request and then about not having permissions.
Workaround for this is custom annotation or using http.authorizeRequests() in configuration classes.

### E

[2019-02-18 17:43] #6501 closed

[2019-02-19 15:06] jzheaux commented on #6516
@vishalvrv9 wanted to check in to see how things are going. Are there any questions I can answer for you?

[2019-02-20 01:52] sbespalov commented on #6506
@rwinch can you please provide a feedback, so I can proceed with this task?

[2019-02-20 05:48] rhamedy commented on #4187
Hi @jzheaux ,

I wanted to share what I have done some far to get some feedback as well as ask the question that came up.

**Questions**
1. Should this header be included as a default in [HeaderConfigurer.java](https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurer.java)?
2. Curious how do

[2019-02-20 14:56] jgrandja commented on #6477
@darthCodr The issue is with this line

`verify(tokenResponseClient).getTokenResponse(any()).thenReturn(Mono.just(accessTokenResponse))`

change it to the following and it will pass

`verify(tokenResponseClient).getTokenResponse(any())`

You will notice a few lines above the `verify` we mock the response with `when`

`when(tokenResponseClient.getTokenResponse(any())).thenReturn(Mono.just(accessTok

[2019-02-20 15:27] jzheaux commented on #4187
Good questions, @rhamedy:

1. No, not at this point. The user can easily use the `LogoutConfigurer` to specify the logout handler to use
2. `HeadersBeanDefinitionParser` is part of XML config and doesn't need to be updated at this time, for the same reason that `HeadersConfigurer` doesn't need updating.
3. I think if we do `HeaderWriterLogoutHandler`, then users will be able to indicate any header

[2019-02-20 18:05] rwinch commented on #6524
You can find details in the [Javadoc](https://docs.spring.io/spring-security/site/docs/4.2.11.RELEASE/apidocs/org/springframework/security/web/firewall/StrictHttpFirewall.html) In the future, please ask questions on StackOverflow.

[2019-02-20 18:05] #6524 closed

[2019-02-20 19:17] rwinch commented on #6498
@jzheaux I'd prefer to make it resolve the `SecurityContext` since it can do anything then. We can always provide our own `@CurrentAuthentication` that is annotated with `@CurrentSecurityContext(expression = "authentication")`

[2019-02-20 19:22] rwinch commented on #6491
@jkapec Do you have a complete sample that reproduces the issue?

[2019-02-20 20:07] rwinch commented on #6512
# .access("ROLE_1  || ROLE_2")

For the first example, gh-6306 (5.2.0.M1) added support to use

[code]

Alternatively, you can do something like:

[code]

# .access("!ROLE_1")

This is a sample using lambdas and building off the components that already exist.

[code]

If you want you can also look at the actual implementation of [AuthorityReactiveAuthorizationManager](https://github.com/spring-pro

[2019-02-20 20:07] #6512 closed

[2019-02-20 20:47] rwinch commented on #6539
Thanks for the report. That guide is not part of the security project itself, but its own repository at https://github.com/spring-guides/top-spring-security-architecture If you want something in that document changed, I would suggest creating a ticket there.

For what it is worth, we are working on efforts to rewrite the entire reference as part of gh-6539. During that rewrite we will be ensuring

[2019-02-20 20:47] #6539 closed

[2019-02-20 22:10] jzheaux opened #6546 "Introduce @CurrentSecurityContext for method arguments"
A user can easily obtain the current user principal using the `@AuthenticationPrincipal` annotation, say in a Spring MVC application:

[code]

It would be nice to be able to do something more fundamental, like obtain the current security context:

[code]
and thus:
[code]

This ought to work for both Servlet and WebFlux applications, so we'd need to have two argument resolvers, one that retrieved t

[2019-02-20 22:11] jzheaux commented on #6498
I think we're ready to split this out a bit, then. I've created a ticket to [introduce `@CurrentSecurityContext` ](https://github.com/spring-projects/spring-security/issues/6546) so that can easily be identified as a separate and new feature. Here we can continue to discuss how to get token attributes in a unified way, likely based on that new feature.

[2019-02-21 02:41] rhamedy commented on #4187
Thank you @jzheaux for answering my questions and feedback.

I had initially thought of a constructor with `String headerValue` but, then dismissed that because of validation of `headerValue` but, your points about resilience to change as well as ease of read make sense. I will go ahead with the `varargs` version as it's more concise.

I will make the `LogoutHandler` implementation more generic as

[2019-02-21 09:55] clevertension commented on #6546
@jzheaux are you working on this issue, if not, i think i can provide a PR :)

[2019-02-21 12:27] stochmalm commented on #5299
How about using synchronizer token pattern by default if session creation policy is set to STATELESS?

[2019-02-21 15:15] jzheaux commented on #6546
It's yours, @clevertension!

[2019-02-21 16:25] Ernir commented on #5103
I am currently running Spring Security version 5.1.4, and this does not seem to be fully resolved. I see a `Jsr250MethodSecurityMetadataSource` bean, but the issue is effectively unchanged. Adding `@EnableGlobalMethodSecurity(jsr250Enabled = true)` to a configuration class that already has `@EnableReactiveMethodSecurity` now results in _three_ beans being found:

[code]

Was this fixed in 5.1?

[2019-02-21 16:43] jzheaux commented on #5103
@Ernir no, there isn't Reactive support for JSR annotations yet - this ticket will remain open until that support is added.

[2019-02-21 17:58] rptmat57 opened #6547 "Allow placeholder in headers disabled properties"
### Summary
In the xml configuration for Spring Security, the xsd fail to validate attribute disabled of the headers element when using a placeholder

### Actual Behavior
error thrown: cvc-datatype-valid.1.2.1: '${security.headers.disabled}' is not a valid value for 'boolean'

### Expected Behavior
it should work and resolve the property

### Configuration
<security:headers disabled="${security.he

[2019-02-21 21:55] jgrandja opened #6548 "Consider enabling PKCE for confidential clients"
The goal of [PKCE](https://tools.ietf.org/html/rfc7636) is to provide an added level of security for **OAuth 2.0 public clients** (utilizing the Authorization Code Grant) from an authorization code interception attack.

However, based on OAuth 2.0 Security Best Current Practice, in [section 2.1.1.  Authorization Code Grant](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-11#section-2.

[2019-02-22 00:32] dfcoffin commented on #6548
IETF RFC 8252 "OAuth 2.0 for Native Apps" modifies RFC 6749 "The OAuth 2.0 Authorization Framework" and states in Section

[Appendix A.  Server Support Checklist

   OAuth servers that support native apps must:

   1.  Support private-use URI scheme redirect URIs.  This is required
       to support mobile operating systems.  See Section 7.1.

   2.  Support "https" scheme redirect URIs for use wi

[2019-02-22 00:46] dennysfredericci opened #6549 "Where is HttpCookieOAuth2AuthorizationRequestRepository ?"
Hi Folks,

I found the section below in spring [security reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-authorization-request-repository).

Where is the HttpCookieOAuth2AuthorizationRequestRepository class? I didn't find this class in spring-security repository, maybe was removed or renamed...

[2019-02-22 01:10] dennysfredericci commented on #6549
Looks like we never had an official implementation of HttpCookieOAuth2AuthorizationRequestRepository...

https://github.com/spring-projects/spring-security/issues/5313

[2019-02-22 04:35] jgrandja commented on #6549
@dennysfredericci

An implementation was never provided. This is just a sample code snippet showing how to configure a custom `AuthorizationRequestRepository`.

I'm going to close this is answered.

[2019-02-22 04:35] #6549 closed

[2019-02-22 05:48] clevertension commented on #6546
do we need to support the property dig with Authentication?

[code]

[2019-02-22 06:08] rhamedy commented on #4187
https://github.com/spring-projects/spring-security/pull/6550
@jzheaux FYI ^

[2019-02-22 08:14] Ernir commented on #5103
Thank you for your reply, @jzheaux. Can you tell me if reactive support for the annotations is scheduled for a particular version?

I am also interested in the original `@Secured` annotation.

[2019-02-22 08:16] ssjsyswa opened #6551 "permitAll does'nt work"
### Summary

I set HTTP OPTIONS Request permitAll,But Request also had been intercepted

### Actual Behavior

### Expected Behavior

### Configuration

springboot , vue.js

### Version

Version  :<artifactId>spring-boot-starters</artifactId>
               <version>2.0.6.RELEASE

### Sample

I had  set
1:)
HttpSecurity.requestMatchers().antMatchers(HttpMethod.OPTIONS)
                .and()

[2019-02-22 10:52] tine2k opened #6552 "Session Creation Policy with Webflux Security"
I am developing a reactive Spring Boot application with Spring Cloud Gateway and Spring Security using only Webflux and no Spring MVC (SB 2.1.3 and Greenwich.RELEASE).

I want my application NOT to create any session cookies. In a Spring MVC application this is achievable with
`httpSecurity.sessionManagement().sessionCreationPolicy(SessionCreationPolicy.STATELESS);`

Is there an equivalent for Web

[2019-02-22 11:29] cbornet commented on #5766
The non-reactive version of the csrf filter generates the token even if the request doesn't match `requireCsrfProtectionMatcher`. Shouldn't it be done the same way on the reactive part ?

[2019-02-22 13:07] wtatum commented on #5758
I think I have a good understanding of what makes this so challenging to resolve, but I'd like to quickly voice concern that this isn't being looked into more. There are some use cases that are inherently reactive in nature (a good example is Spring Cloud Gateway) but also strongly benefit from a traceable, auditable security framework.

I also understand the the framework authors can't always "co

[2019-02-22 15:21] CodingSpiderFox opened #6553 "Broken URL in documentation"
The link for the Transient annotation in section 2.1 is broken in the docs: https://docs.spring.io/spring-security/site/docs/5.1.4.RELEASE/reference/htmlsingle/#community

[2019-02-22 15:21] jzheaux commented on #6546
@rwinch Is there a compelling need for `errorOnInvalidType`?

[2019-02-22 16:52] jzheaux commented on #5103
I believe this ticket is tracking the Reactive JSR250 (@Secured) support, so once it's scheduled, you'll see a milestone selected in the right-hand column of the ticket.

If you would like, I'd be happy to help you get a PR going to add the support. Would you be interested in doing that?

[2019-02-22 16:53] jzheaux commented on #4187
Thanks, @rhamedy! I've left some feedback inline in the PR.

[2019-02-22 17:13] cbornet commented on #5504
For smaller monolith apps, it is still useful to be able to store the session tokens into the main DB and not have to deploy another storage (Spring session doesn't support Mongo).

[2019-02-22 18:41] cn-src opened #6554 "Unable to match the password"
### Summary

Login, unable to match the password.

### Actual Behavior
Login error.

The 'encodedPassword' parameter of the 'matches' method of BCryptPasswordEncoder is not from the database.

### Expected Behavior

### Configuration
[code]
### Version

### Sample

[code]

Generated password and added to the database.
[code]

[2019-02-23 05:44] rhamedy commented on #4187
Thank for the feedback @jzheaux

I have addressed all the code review comments except the `switch to slf4j` where I hit a roadblock. I have left a comment in the PR FYI.

[2019-02-23 19:19] vishalvrv9 commented on #6516
Hey @jzheaux ,
firstly, apologies for the delay

As per analysis,
- In `OAuth2ResourceServerSpecTests`, since the method signature is different from `extractAuthorities`

what should the implementation changes look like? Can you provide me a starting point as after trying to implement the `setJwtGrantedAuthoritiesConverter` I am a little lost

[2019-02-24 02:11] JangCool opened #6556 "The void method not call response code 200 in the spring controller."
### Summary

The spring boot configuration I used viewresolver(jsp,json viewresolver) but the void method not call to response code 200 and  move to JSP page.  i use the filter customized the FilterInvocationSecurityMetadataSource in the spring acl.

The spring controller find the JSP page after execute void method . And exception throw response code 404 or 406.

If spring-security-acl is not used

[2019-02-24 10:39] #6556 closed

[2019-02-24 10:39] JangCool commented on #6556
this no problem.

[2019-02-24 15:08] ch4mpy opened #6557 "Provide with an OAuth2 aware MockMvc"
### Summary

Authorization header has to be added to each and every request when test involves any other OAuth2 authentication than Anonymous. This could be automatic.

### Actual Behavior

If Authorization header is forgotten, authentication context remains anonymous, whatever I try to set it with @WithMockUser or alike

### Expected Behavior

Authorization header is added if an authentication co

[2019-02-24 15:23] ch4mpy opened #6558 "@WithMockUser alike annotations for OAuth2"
### Summary

Provide with tooling to set-up properly mocked `OAuth2Authentication` when writing unit tests

### Actual Behavior

`@WithMockUser` is not quite enough to mock Auth2 authentication

### Expected Behavior

When I write controller unit tests, I wish I could mock any aspect of OAuth2 authentication (being direct client auth or on behalf of an end-user)

### linked requests

- https://git

[2019-02-24 15:44] ch4mpy opened #6559 "Have unit test OAuth2 authentication configured with annotations"
### Summary

Default token store has no knowledge of test configured authentication

### Actual Behavior

OAuth2Athentication is anonymous, whatever I try to configure it with @WithMockUser or alike

### Expected Behavior

When a test is decorated with authentication meta-data, OAuth2Athentication should be set-up accordingly

### linked requests

- https://github.com/spring-projects/spring-securi

[2019-02-24 16:26] ch4mpy opened #6560 "reduce controllers unit tests boiler-plate code"
### Summary

Quite some Mock-Mvc requests configuration could be automatized. Additionally, The framework could provide with finer grained `MockHttpServletRequestBuilder` factories and even shortcuts to issue MockMvc requests in one call.

Most of these is not security related and if this request is ever accepted, you might split what is pure security from what is just MVC related (every-thing but

[2019-02-24 21:51] ch4mpy commented on #6560
merged 4 requests in first to better preserve the big picture of the need

[2019-02-24 21:51] #6560 closed

[2019-02-24 21:51] ch4mpy commented on #6559
merged 4 requests in first to better preserve the big picture of the need

[2019-02-24 21:51] #6559 closed

[2019-02-24 21:52] ch4mpy commented on #6558
merged 4 requests in first to better preserve the big picture of the need

[2019-02-24 21:52] #6558 closed

[2019-02-25 19:03] rhamedy commented on #4187
During our discussions in this issues and in code reviews, we briefly mentioned
- Reactive support
- Logging strategy
I would be happy to work on those tasks since I now know how things work.
Please feel free to tag me in the issues once it's `created` and `scoped` :slightly_smiling_face:

[2019-02-25 22:56] jclagache opened #6561 "Handle "query" value for ClientRegistration.ProviderDetails.UserInfoEndpoint.authenticationMethod"
### Summary
Valid values for the ClientRegistration.ProviderDetails.UserInfoEndpoint.authenticationMethod property are [header, form and query](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2Client-client-registration).
This property defines the authentication method used when requesting the "UserInfo" resource.

### Actual Behavior
For now, only the "header"

[2019-02-26 02:19] clevertension commented on #6554
you should link the jdbcUserDetailsManager, passwordEncoder together, try the following code

[code]

[2019-02-26 02:45] cn-src commented on #6554
@clevertension Problems remain.
[demo](https://github.com/cn-src/tmp-demo)

[2019-02-26 03:10] clevertension commented on #6554
you should have at least one authority in table `authorities`, please insert it

[code]

[2019-02-26 03:24] cn-src commented on #6554
@clevertension Thank you, problem solved.

The error message for this question is not very accurate.

Can I not use 'authority' with a simple configuration?

[2019-02-26 03:45] clevertension commented on #6554
the default configuration of `enableAuthorities` is true, you can switch off this
![image](https://user-images.githubusercontent.com/346723/53386076-b3387500-39bb-11e9-8ea1-b83a3d4ed8fe.png)

[code]

but the exception log is elaborate with debug level, so you can configure it in your application.properties

[code]

see
![image](https://user-images.githubusercontent.com/346723/53386158-0f02fe00-39b

[2019-02-26 03:49] cn-src commented on #6554
Thank you very much!

[2019-02-26 03:49] #6554 closed

[2019-02-26 04:44] clevertension commented on #6551
@ssjsyswa it seems that your have misconfigure the cors in step2, can you provide a demo so i can dig more about your problem

[2019-02-26 07:27] ryl commented on #4943
Any movement on this?

[2019-02-26 11:03] jgrandja commented on #4943
@ryl The work on Authorization Server support has not started yet and this issue is for PKCE support on server side. We plan on starting work on Authorization Server in a couple of months from now. The PKCE support will follow a few months from than. You can track progress in #6320

[2019-02-26 11:22] jgrandja commented on #6561
@jclagache Direct support for adding `access_token` as a query parameter was intentionally left out of the current implementation as this method of transport is not secure. Access tokens passed as query parameters may be leaked via a browser's history and can also be logged in server logs. Please see [Section 3.3.2](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-05#section-3.3.2) for

[2019-02-26 11:22] #6561 closed

[2019-02-26 11:43] ankurpathak commented on #5504
@cbornet Spring Session support MongoDb. Plese check this project:
https://github.com/spring-projects/spring-session-data-mongodb

[2019-02-26 16:35] frzme opened #6564 "ServerOAuth2AuthorizedClientExchangeFilterFunction does not refresh expired "client credentials" tokens where no refresh token is available"
### Summary

When using the WebClient together with the `ServerOAuth2AuthorizedClientExchangeFilterFunction`, configured with a `InMemoryReactiveClientRegistrationRepository` and an `UnAuthenticatedServerOAuth2AuthorizedClientRepository` which holds information about clients which use the "client_credentials" oauth flow the access tokens are never refreshed.

### Actual Behavior

Access tokens are

[2019-02-26 22:48] egatenby opened #6565 "ReactiveAnonymousAuthentication support does not include changes to ExceptionTranslationWebFilter"
### Summary

#5934 added support for AnonymousAuthenticationTokens in Reactive applications.  It seems one thing was missed out - ExceptionTranslationWebFilter is missing the same logic as ExceptionTranslationFilter

### Actual Behavior

All access denied decisions are final and propagated to the caller.

### Expected Behavior

Logic similar to the below is required in the reactive ExceptionTransl

[2019-02-27 08:33] rammishr opened #6566 "security.tld in spring-security-taglibs-5.1.4.RELEASE refers J2EE 1.4 schema resource"
The security.tld file shipped in spring-security-taglibs-5.1.4.RELEASE.jar refers to J2EE 1.4 schema resource.
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">

Use of this causes the XSD validatio

[2019-02-27 12:51] clevertension opened #6567 "enableAuthorities=false in JdbcDaoImpl should not throw UsernameNotFoundException"
### Summary
when user set `enableAuthorities=false` manually in `org.springframework.security.core.userdetails.jdbc.JdbcDaoImp`, it should also load UserDetails with method `UserDetails loadUserByUsername(String username)`

### Actual Behavior
it will always throw `UsernameNotFoundException`

### Expected Behavior
it should also load UserDetails with method `UserDetails loadUserByUsername(String u

[2019-02-27 12:52] clevertension commented on #6567
![image](https://user-images.githubusercontent.com/346723/53491454-6e066700-3ad1-11e9-966e-9e52edfb69b5.png)

it should be

[code]

[2019-02-27 15:35] zeratul021 opened #6568 "CSRF enabled /logout could return 405 instead of 404 for non-POST requests"
### Actual Behavior
GET request to /logout produces generic error and 404 status.

### Expected Behavior
There could be more clear error message and 405 status code returned instead.

### Configuration
Default WebSecurityConfiguration with CSRF enabled.

### Version
5.1.4

[2019-02-27 19:34] jgrandja commented on #6564
@frzme Looks like this is a duplicate of #5893.
I'm going to close this but if it's not related we can re-open.

[2019-02-27 19:34] #6564 closed

[2019-02-27 23:35] ccpatriq commented on #5766
@rwinch I am a new spring user. How would I trigger a subscription when using functional end points. I believe @Controlleradvice will not work with Webflux. Or how can I retrieve the csrf token using router functions?
Will the spring security team provide a new tutorial to spring security + angular 7+?

[2019-02-28 02:07] xingfudeshi commented on #5059
any updates?

[2019-02-28 16:52] #6446 closed

[2019-02-28 17:05] jgrandja commented on #6548
@sdoxsee Thanks for the offer on taking on this ticket. It would be appreciated. But before we do any work here...

So when you have some spare cycles, can you research to see which other providers support this? More importantly, we should try it with the provider to ensure that a confidential client can authenticate with both it's credentials and the `code_verifier`.

[2019-02-28 18:59] jzheaux commented on #6516
@vishalvrv9 no problem, my apologies for lagging in my response :)

Something like this might work well:

[code]

[2019-02-28 19:17] jgrandja commented on #6557
@ch4mpy Thanks for sharing this with us! We are definitely in need of OAuth 2.0 Client test support.

Quick question regarding above...

`ResourceServerTokenServices` lives in [Spring Security OAuth](https://spring.io/projects/spring-security-oauth) and we're not looking to add the support in that project. For more details see this [blog post](https://spring.io/blog/2018/01/30/next-generation-oaut

[2019-02-28 20:05] sdoxsee commented on #6548
Thanks @jgrandja. This research would be worthwhile but, in the end, I think it would only(?) confirm whether or not PKCE should be defaulted to being "on"? I would argue that its absence from the oauth2 spec itself is reason enough to keep it "off" by default. However, the ClientRegistration could have a flag "withPkce"(?) that would determine if it should be applied or not. All that to say, perh

[2019-02-28 20:31] jgrandja commented on #6548
Good point. I think you're right as far as the research not being a pre-requisite to start this task. And I agree, PKCE for confidential clients should default to "off". The user has to opt-in for this added level of security (knowing that the target provider supports this). However, I'm not sure I like the setting in `ClientRegistration`. Let's give this some further thought on where this configu

[2019-02-28 21:01] #4187 closed

[2019-02-28 21:13] fritzdj opened #6569 "Support custom form parameters for client_credentials Access Token Request"
### Summary
There is no way currently to pass custom form parameters as part of OAuth2ClientCredentialsGrantRequestEntityConverter:
https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/OAuth2ClientCredentialsGrantRequestEntityConverter.java

Some IDPs (Auth0 for example) require an "audience" value.

[2019-02-28 23:13] vsfalexanderpilch opened #6570 "[Feature Request/Project Code Handover] Lightweight support of RBAC"
### Summary

Support of a simple rbac approach would be great. It doesn't have to be a full blown implementation, but just the basic role to privileges mapping would be sufficient in a lot of cases.

We've implemented something like this at https://github.com/vsfexperts/rbac . Would you be interested in taking over the code/providing something similar?

I've created a 2nd ticket in spring-boot pro

[2019-02-28 23:43] ch4mpy commented on #6557
@jgrandja, sure, I am interested.
The thing is I'm currently circum-navigating and might be off the radars quite often...
The work I share was first written almost a year ago, so libs had time to freeze / change...

My first guess was you might be interested in keeping `@WithMockOAuth2Client` and `@WithMockOAuth2User` almost as I wrote it. For the rest, I doubt: for instance, maybe there is some e

[2019-03-01 05:30] coldcutter opened #6571 "Spring Session integration do not supports primitive type as the principal"
### Summary

In a Spring Boot application using both Spring Security and Spring Session (with Redis and GenericJackson2JsonRedisSerializer), a `UsernamePasswordAuthenticationToken` with java.lang.Long(such as userId) as the principal can be serialized, but deserialized value is empty

### Actual Behavior

deserialize value is empty string

### Expected Behavior

the Long value as i stored

### Con

[2019-03-01 07:45] coldcutter commented on #6571
Now i am using GenericFastJsonRedisSerializer, it seems work well..

but i wonder whether this is a bug of GenericJackson2JsonRedisSerializer, if the field type is Object and i put primitive type in it, the jackson will serialize it as array???

[2019-03-01 08:26] jgrandja commented on #6557
@ch4mpy Regarding...

Both `@WithMockOAuth2Client` and `@WithMockOAuth2User` are based off of [Spring Security OAuth](https://spring.io/projects/spring-security-oauth) so we could not use it as-is (or as a starting point) for Spring Security 5.2

[2019-03-01 08:33] jgrandja commented on #6569
@fritzdj This is actually possible. You would need to supply `DefaultClientCredentialsTokenResponseClient.setRequestEntityConverter()` with an implementation of `Converter<OAuth2ClientCredentialsGrantRequest, RequestEntity<?>>`, similar to how `OAuth2ClientCredentialsGrantRequestEntityConverter` is implemented.

I'm going to close this issue as answered.

[2019-03-01 08:33] #6569 closed

[2019-03-01 09:11] fritzdj commented on #6569
@jgrandja, thanks for the quick response. How is it possible to do that though? We are not seeing a way to update that / the class that uses it is not autowired.

[2019-03-01 09:28] jgrandja commented on #6569
Here is a sample config

[code]

[2019-03-01 09:35] fritzdj commented on #6569
Thanks again @jgrandja, this is great. What about if we are not using WebFlux?

[2019-03-01 09:51] fritzdj commented on #6569
To be more specific, we want to use the @RegisteredOAuth2AuthorizedClient annotation.

[2019-03-01 14:06] jgrandja commented on #6569
@fritzdj In that case, you can use this `@Configuration`

[code]

[2019-03-01 14:13] jgrandja opened #6572 "OAuth2ClientConfiguration discovers client_credentials OAuth2AccessTokenResponseClient"
We should allow for a `@Bean` of type `OAuth2AccessTokenResponseClient<OAuth2ClientCredentialsGrantRequest>` to be discovered by `OAuth2ClientConfiguration`. This would than be associated with `OAuth2AuthorizedClientArgumentResolver.setClientCredentialsTokenResponseClient()`.

Ultimately, this will allow the user to register a `DefaultClientCredentialsTokenResponseClient` `@Bean` with a configured

[2019-03-01 14:19] jgrandja commented on #6569
@fritzdj I just added issue #6572 to allow for an easier configuration from the one I provided. If you're interested in submitting a PR for this I'd be happy to guide you through the process?

[2019-03-01 16:03] fritzdj commented on #6569
@jgrandja, I would love to give that a shot. I see the contributor guidelines for the project so I will try this out.

[2019-03-01 16:13] jgrandja commented on #6572
@fritzdj Thanks for taking this on! To start off, please get familiar with the [Contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md) guidelines.

After you setup your spring-security fork in your local dev environment, get familiar with `OAuth2ClientConfiguration` as this is where you will need to apply the updates. Also, take a look at `OAuth2ClientConfigu

[2019-03-01 16:22] rhamedy commented on #6500
Hi @jzheaux
Can I work on this feature? I don't know what is the complexity but, seems like doable. I have some knowledge of `JWT` and `OAuth2` and might require some guidance on what to keep in mind.

[2019-03-02 01:36] clevertension commented on #6547
yes, the property is hard coded in `org.springframework.security.config.http.HeadersBeanDefinitionParser`,

[code]

 it is easy to support, but now we should wait for the confirmation

[2019-03-02 10:04] clevertension commented on #6511
![image](https://user-images.githubusercontent.com/346723/53680343-32f47580-3d15-11e9-82f8-b753e0fb270b.png)

i think it is resonable that if we `setAccessDeniedHandler` explicitly, the `defaultAccessDeniedHandler` will be invalid, that is the mean of `default` or exactly be called `default for temporarily`

[2019-03-02 12:06] changelzj opened #6586 "'please sign in page' input password as console and username is 'user' , login fail"
### Summary

### Actual Behavior

### Expected Behavior

### Configuration

### Version

### Sample

[2019-03-02 12:20] #6586 closed

[2019-03-02 12:23] changelzj commented on #6586
-

[2019-03-03 16:16] d3jie commented on #6477
@jgrandja All checks finally passed. Grateful for the help and the opportunity to contribute.

[2019-03-04 12:17] ch4mpy commented on #6557
### Good news !
I created a a `spring-security-oauth2-resource-server-test` lib in which I put `@WithMockJwtAuthentication` and `@WithMockOAuth2BearerTokenAuthentication` (along with some tooling) that enables to mock many OAuth2 authentication scenari.

This is available in a f[orked spring-security repo, on the `gh-6557` branch](https://github.com/ch4mpy/spring-security/tree/gh-6557).

I also ad

[2019-03-04 19:08] jgrandja opened #6588 "Document ServletOAuth2AuthorizedClientExchangeFilterFunction should be registered as @Bean"
As a result of #6483 and it's associated commit 091cbe5, we need to document in the reference manual that `ServletOAuth2AuthorizedClientExchangeFilterFunction` should be registered as a `@Bean` in order for the `InitializingBean` and `DisposableBean` methods to be called to setup/cleanup `Hooks.onLastOperator`.

[2019-03-04 19:18] jgrandja opened #6589 "Ensure ServletOAuth2AuthorizedClientExchangeFilterFunction is non-blocking"
As a result of #6483 and it's associated commit 091cbe5, we need to ensure that `ServletOAuth2AuthorizedClientExchangeFilterFunction` does not block on reactive threads.

This tool will likely help with the investigation - https://github.com/reactor/BlockHound

### Tasks

- [x] Investigate and confirm blocking
- [x] [#50](https://github.com/spring-projects/spring-security-team-tasks/issues/50) - F

[2019-03-04 21:06] #6477 closed

[2019-03-05 02:24] sdoxsee commented on #6548
Hi @jgrandja. I've been giving some more though as to where the PKCE setting should go. A couple thoughts to consider:
1. PKCE should only be an option when authorization code grant is used. Since, `ClientRegistration` has `authorizationGrantType` at the top level, I don't see where PKCE would fit on `ClientRegistration`
1. PKCE should still be the default for public clients without explicitly set

[2019-03-05 05:09] jzheaux commented on #6500
Certainly, that would be awesome!

Please double check[ the compatibility section](https://tools.ietf.org/html/rfc8414#section-5) of the spec as we'll want to follow it carefully.

Let me know where I can help out.

[2019-03-05 10:27] zmcode opened #6591 "`@WithUserDetails` `setupBefore` does not work with JUnit 5"
### Summary

When using JUnit 5 it seems that setting the `setupBefore` parameter of `@WithUserDetails` to `TestExecutionEvent.TEST_EXECUTION` does not work as intended. In fact it appears that the security context is created before the execution of a `@BeforeEach` method.

### Actual Behavior

I wrote the following test class to showcase the issue

[code]
What happens here is that the test keeps

[2019-03-05 11:48] amitsehgal commented on #6520
It was configuration issue

[2019-03-05 11:48] #6520 closed

[2019-03-05 14:04] ch4mpy commented on #4833
I may have the beginning of solution.
[More details](https://github.com/spring-projects/spring-security/issues/6557#issuecomment-469232209)

[2019-03-05 14:19] jzheaux commented on #6547
Great idea, @rptmat57, would you be interested in submitting a PR?

[2019-03-05 14:21] jzheaux commented on #6557
Poor guy, @ch4mpy, having to sail to all those exotic places... ;)

[2019-03-05 14:25] rhamedy commented on #6547
I would like to work on this if @rptmat57 didn’t want to ☺️

[2019-03-05 15:03] clevertension commented on #6547
@jzheaux should the `defaults-disabled` property also be supported too?, just like

[code]

[2019-03-05 15:15] jzheaux commented on #6547
@clevertension yes, that sounds reasonable - I've updated the title accordingly

[2019-03-05 15:15] jzheaux commented on #6547
Okay, @rhamedy, let's see what @rptmat57 says first and then go from there.

[2019-03-05 15:24] rptmat57 commented on #6547
this all sounds great!
@rhamedy go ahead 👍

[2019-03-05 21:32] jgrandja commented on #6557
@ch4mpy Thanks for putting this together. I'd like to keep the PR as small and focused as possible so let's just focus on `@WithMockJwtAuthentication` and leave `@WithMockOAuth2BearerTokenAuthentication` out for now (possibly a follow-up PR).

My initial thought is, should `@WithMockJwtAuthentication` be `@WithMockJwt` instead? More precisely, should we mock the `Jwt`? @jzheaux  What are your thou

[2019-03-05 22:23] ch4mpy commented on #6557
@WithMockJwt is less precise, we expect a  full authentication and not solely the token it contains, but surely easier to use (even more obvious for authentications out of a bearer token...). I'll change that.

OK for splitting in two PRs.

Regarding claims
   * what about moving what I isolated in @JwtClaims in @WithMockJwt?
   * any guidance on the way to handle standard claims duplicated in cus

[2019-03-05 22:38] ch4mpy commented on #6557
As a @Controller unit test writer, I don't quite care about how the authentication is granted from the token. But I need fully configured authentications for i'stance each time a @PreAuthorize is present on the end-point I test...

Maybe should we name the annotation @WithMockJwt even if we build an authentication, seams easier (and even more for bearer token authentication).

[2019-03-06 02:44] clevertension commented on #6547
@rhamedy good luck and fighting :thumbsup:

[2019-03-06 08:25] clevertension commented on #6572
@fritzdj are you working on this issue? if not, i can provide a PR :stuck_out_tongue:

[2019-03-06 08:31] fritzdj commented on #6572
Go for it @clevertension. I should have time later this week if you don't get to it.

[2019-03-06 09:41] clevertension commented on #6572
:thumbsup:, it's yours, go ahead and nice coding

[2019-03-06 14:15] jgrandja commented on #6557
@ch4mpy Regarding my comment...

Just to clarify so I don't miscommunicate here, `@WithMockJwtAuthentication` is very different compared to `@WithMockJwt` as `@WithMockJwt` is meant to mock the request whereas `@WithMockJwtAuthentication` is meant to mock the `SecurityContext`. I understand your intention is to mock the `SecurityContext` using `@WithMockJwtAuthentication`. So forget about `@WithMo

[2019-03-06 15:12] jgrandja commented on #6548
@sdoxsee `oauth2Client().authorizationCodeGrant().pkce()` seems like the right place to have this configuration point but on second look it wouldn't quite work. Let's say the user has 2x `ClientRegistration` and both are confidential clients with `authorization_code`, however, they only want PKCE enabled for one of the clients because the other client (or provider) does not support PKCE for confid

[2019-03-06 15:22] sdoxsee commented on #6548
@jgrandja great point about the 2x `ClientRegistration`. Your alternative idea sounds good. I'll give it some thought and get back to you. Thanks!

[2019-03-06 17:03] dasAnderl commented on #5766
this is really very unintuitive. i was also wondering why the cookie is not set. now i ended up here and i still dont see a clear intuitive solution in this conversation.

[2019-03-07 00:54] phaninra opened #6594 "Why does MessageDigestPasswordEncoder consider '{}' to be part of the salt?"
### Summary

I'm upgrading from Spring Security 4.x to 5.x.

The ReflectionSaltSource from Spring 4 lets us configure a custom salt. But that's removed in Spring Security 5. I then found out that I should use MessageDigestPasswordEncoder. It has a detailed java-doc but unfortunately the doc is like a bag of words without conveying any structured information (I tried multiple times; my bad if I was

[2019-03-07 02:59] ch4mpy commented on #6557
https://github.com/spring-projects/spring-security/pull/6595

- removed `@WithMockOAuth2BearerTokenAuthentication`, solely `@WithMockJwtAuthentication` for now
- token headers are still built as `Map<String, String>` (`@JwtHeader` values are **not** parsed)
- no custom claims, just what is listed in `JwtClaimNames` (minus subject which is populated with authentication name)

[2019-03-07 04:00] zero9005 opened #6596 "What's method that I should read the spring-security documentation right?"
When I read the section about oauth2 in the spring security documetation, I find that i can not understand it.

[2019-03-07 11:43] clevertension commented on #6594
`MessageDigestPasswordEncoder` is deprecated in 5.x, so you can implement your own PasswordEncoder, it is extensible

[code]

[2019-03-07 18:00] phaninra commented on #6594
Thanks for the response. We have migrated to scrypt but a number old accounts are still tied to sha256. So we need to continue supporting sha256.

Q1. Is a custom extension the only solution to implement sha256?

Q2. Is it a bug in `MessageDigestPasswordEncoder` to consume `{}` as part of the salt?  If I understand correctly, the javadoc describes a different behavior (without the {}).

Also the `

[2019-03-07 18:36] akhmelov commented on #6594
@clevertension

[2019-03-07 18:55] kdvolder opened #6597 "Clarify documentation code snippet(s) (unclear where static imported methods come from)"
Working with the documentation and trying to get something compiling can be pretty painful when code samples in docs do not include imports. This especially so when statically imported methods are being imported.

This is the section in the docs I'm particularly fighting with at the moment:

https://docs.spring.io/spring-security/site/docs/current/reference/html/test-webflux.html

[code]

Where ar

[2019-03-08 07:56] rhamedy commented on #6547
@jzheaux a quick update

If I understand correctly, for this issue we need to
- Update the `spring-security-x-y.rnc` file to replace `boolean` type with `string` and allow `default` to `false`
- Write a test that uses a sample xml config with `headers` and `placeholder` for `disabled` and `defaults-disabled` fields

Note: Currently none of the `rnc` files use a `default` prop as shown below.

I ha

[2019-03-08 11:41] Dav1dde opened #6598 "In Test @AuthenticationPrincipal is null because ServerWebExchange is not wrapped"
### Summary

Using `@WithMockUser` or `org.springframework.security.test.web.reactive.server.SecurityMockServerConfigurers#mockAuthentication` directly in combination with `@AuthenticationPrincipal` in a WebFlux controller leaves the principal empty while things like `@PreAuthorize('isAuthenticated()')` work as expected.

### Actual Behavior

Mocking the principal in a test does not work with `@Au

[2019-03-08 11:56] Dav1dde commented on #6598
Proposed patch in PR, I tried a few things this seems to be the easiest and least intrusive.

[2019-03-08 13:35] rammishr commented on #6566
Can anyone help me on this ?

[2019-03-08 14:05] amanganiello90 commented on #6512
Thanks for the suggestion. I have implemented **OR** and **AND** expression in reactive.

For the **AND**:
[code]
But for the **OR** your code is not correctly because it will pass when there aren't **at least** an user granted. So I have corrected in this:

[code]

[2019-03-08 22:37] fritzdj commented on #6572
@jgrandja, can you please respond to my questions from https://gitter.im/spring-projects/spring-security?at=5c81cda88f294b134a0768d2 - I'm not sure which platforms worka best for these types of questions

[2019-03-09 08:12] miladamery commented on #4370
Hi. i have same issue and cant find how to enable default typing. i really appreciate if you provide a link or something else that says how to do it.

[2019-03-09 09:21] sinisin opened #6600 "clientRegistrationRepository cannot be null"
### Summary
Getting clientRegistrationRepository cannot be null

### Actual Behavior
Defined the client reposiroty and providers in application yml but I am still getting error:
Caused by: java.lang.IllegalArgumentException: clientRegistrationRepository cannot be null
	at org.springframework.util.Assert.notNull(Assert.java:198)
	at org.springframework.security.oauth2.client.InMemoryReactiveOAuth2A

[2019-03-09 11:13] miladamery opened #6601 "The class with java.sql.Timestamp is not whitelisted."
### Summary
Hi. In my project i use spring session with redis to store our session and share it. due to reasons we decided to use json serialization instead of jdk serialization. here is configuration for this based on spring session sample app.
[code]
But i get following error.
[code]
The thing is that `lastVisitDate` field type is `Date`. its not `Timestamp`. i appreciate it if you help me in th

[2019-03-09 23:55] ch4mpy commented on #6557
Added a commit with a solution to headers and claims values parsing to `Obect`. All in [properties package](https://github.com/ch4mpy/spring-security/tree/gh-6557/oauth2-test/src/main/java/org/springframework/security/test/context/support/oauth2/properties).

I couldn't delay my departure anymore. So one more wifi connection some night next week then nothing for three weeks or so => do not necessa

[2019-03-10 00:13] pashazadeh opened #6602 "Spring Security 5 docs references distribution zip, which does not exist"
In [Sample Applications](https://docs.spring.io/spring-security/site/docs/5.2.0.BUILD-SNAPSHOT/reference/html5/#sample-apps) part of documentations, the documents mention a distribution zip file. But as far as I saw, there is no such thing for Spring Security 5 (or I couldn't find it).

I have searched [Spring Repos](https://repo.spring.io/release/) and couldn't find the distribution zip file.

[2019-03-10 04:41] sinisin commented on #6600
I can see the same class getting initialized twice :
org.springframework.security.oauth2.client.InMemoryReactiveOAuth2AuthorizedClientService
org.springframework.security.oauth2.client.InMemoryReactiveOAuth2AuthorizedClientService

[2019-03-10 18:28] ThomasVitale commented on #5462
I'd like to fix this issue

[2019-03-10 20:11] otterslide opened #6605 "TokenBasedRememberMeServices Refreshing Token Between Multiple Requests Results in Cookie theft Exception"
Currently the autoLogin cookie function
[code]
refreshes the token at the end of the function, and sets a new cookie. But if multiple requests come at the same time when re-loading a page, it results in cookie theft exception because the old cookie is still being presented while the new cookie has just been set, at the same time.

One fix for this would be to not invalidate the old cookie instantl

[2019-03-11 03:44] carlspring commented on #6506
@rwinch ,

We're quite interested in contributing this work to your project and we believe that many people will benefit from @sbespalov 's changes. Could you please give us an update?

Many thanks in advance!

Martin

[2019-03-11 15:40] stasmihailov commented on #6602
apps are present in https://github.com/spring-projects/spring-security/tree/master/samples/xml

[2019-03-12 01:40] carlspring commented on #6506
@rwinch ,

In addition, we're already using this in our project ([Strongbox](https://github.com/strongbox/strongbox/pull/935)). It was introduced via strongbox/strongbox#935.

We thought we it would be a great idea to improve the Spring Security project with these fixes, which is why @sbespalov extracted this implementation in a pull request that we would like to contribute to you guys.

We unders

[2019-03-12 02:05] clevertension commented on #6601
can you paste the code of `org.baharan.framework.model.security.User`

[2019-03-12 06:39] miladamery commented on #6601
Here is its code. User is a hibernate entity but configured via hbm.xml. in my class that implements `UsetDetailsService` i retrieve User from databse and return it.
[code]

[2019-03-12 06:49] clevertension commented on #6601
it is clearly that `java.sql.Timestamp` is a subclass of `java.util.Date`
![image](https://user-images.githubusercontent.com/346723/54180039-85801f80-44d5-11e9-99dc-c739c6c84686.png)

so i think hibernate set `java.sql.Timestamp` to your `lastVisitDate`, but the Spring Security check type with class name, so it can't accept this type, so in order to resolve this issue, you need to some extra hiber

[2019-03-12 10:19] masoudparvari commented on #4841
Hi @rwinch , is there any estimation on when this feature will be in ?

[2019-03-12 12:20] miladamery commented on #6601
Thanks for your answer. what you said is true. so will Spring Security provide that loosely check?

[2019-03-12 13:30] bahuwang opened #6607 "WebSecurityConfigurerAdapter#ignoring().antMatchers(XXX) is maked ineffective when @ComponentScan(basePackages = {"xxx"}) with @SpringBootApplication."
### Actual Behavior

When configuration web.ignoring().antMatchers("/userlogin") with @ComponentScan(basePackages = {"xxx"}) with @SpringBootApplication,a message for "error: Unauthorized"  display.
### Expected Behavior

### Configuration

### Version

spring boot 2.1.3.RELEASE

### Sample

package com.example.comscandemo;

import org.springframework.boot.SpringApplication;
import org.springframe

[2019-03-12 14:28] jzheaux commented on #6557
Sorry that I'm late to the party, but the above comment is why I believe `@WithMockJwt` to be more reasonable. `@WithMockUser` reads like so:

"Please supply the security context with an authentication whose principal is of type `User`"

And so `@WithMockJwt` would say:

"Please supply the security context with an authentication whose principal is of type `Jwt`"

We can add `@WithMockUsernamePassw

[2019-03-12 17:50] jzheaux commented on #6607
Just double-checking here, @bahuwang, your component scanner says:

[code]

But your packages are:

[code]

Did everything get pasted correctly?

[2019-03-12 19:32] selfsecurellc commented on #4358
I'm having the same issue, was this able to be solved. I've tried the documentations and it's still not working

[2019-03-12 20:09] ch4mpy commented on #6557
Latest commits were prepared offline. Will integrate todays comments in an other offline session ;)

[2019-03-12 21:51] jzheaux commented on #4370
To (de)serialize a `BadCredentialsException`, use `CoreJackson2Module`:

[code]

This calls `SecurityJackson2Modules.enableDefaultTyping` and adds the `BadCredentialsException` mixin.

[2019-03-12 23:37] freesoft commented on #3378
Is this still considered a bug? IIRC it is related to how SecurityContextHolder is configured, and per-thread is a default. However, this behavior can be changed by setting SecurityContextHolder through

[code]

or simply pass the environment variable

[code]
when running spring application.

The ticket seems more than 4 years old, but I think this ticket needs a re-triage for whether the ticket i

[2019-03-13 00:13] vl185050 commented on #4149
I am facing similar kind of issue , trying to implement basic authentication with username and password .
used in-memory authentication provider by reading username and password from application properties.However authentication failing  since DAOAuthencationProvider is
attached to ProviderManager , where there is no implementation  through database users .
using  Spring-Boot 1.5.9 version .
Can y

[2019-03-13 01:15] TanqiZhou commented on #4370
Good

[2019-03-13 01:50] bahuwang commented on #6607
There are two packages,"package com.example.comscandemo" and "package com.comscan", the package
"package com.comscan" is even empty. I just want to  describe this case.

[2019-03-13 03:00] App-Teck commented on #2180
Now its not final :)

[2019-03-13 14:57] jzheaux commented on #6557
Thanks, @ch4mpy.

I've started looking through the PR, and it really feels very cumbersome to specify so much through an annotation. It makes me feel like it's not the right spot to be specifying claims and headers.

This drives me to something like:

[code]

instead. But, then, that would end up exercising a fair amount of Spring Security's jwt support to decode the token... and it starts feeling

[2019-03-13 15:24] rwinch commented on #6557
I second what @jzheaux has said above. I really think that adding `.with(jwt())` approach makes sense. Using annotations for something with as many options as a JWT feels a little forced at this point. If we find later on that there is a gap we can adequately fill with providing something like `@WithMockJwt`, then we can revisit it at that time.

[2019-03-13 15:51] jgrandja opened #6609 "OAuth2AuthorizedClientArgumentResolver should get new access token when expired and client_credentials"
If the `OAuth2AuthorizedClient.accessToken` is expired for a `client_credentials` `OAuth2AuthorizedClient.clientRegistration` than the `OAuth2AuthorizedClientArgumentResolver` should handle getting a new access token.

This functionality  already exists in `ServletOAuth2AuthorizedClientExchangeFilterFunction.authorizeWithClientCredentials()` (Servlet) and `ServerOAuth2AuthorizedClientExchangeFilte

[2019-03-13 16:04] jgrandja opened #6610 "OAuth2AuthorizedClientArgumentResolver should refresh access token when expired and authorization_code"
If the `OAuth2AuthorizedClient.accessToken` is expired for a `authorization_code` `OAuth2AuthorizedClient.clientRegistration` and `OAuth2AuthorizedClient.refreshToken` is available than the `OAuth2AuthorizedClientArgumentResolver` should handle refreshing the access token.

This functionality  already exists in `ServletOAuth2AuthorizedClientExchangeFilterFunction.authorizeWithRefreshToken()` (Serv

[2019-03-13 16:18] jgrandja commented on #6572
@fritzdj

It's best to keep the questions/dialogue either in this issue or the submitted PR.

Thanks for catching this! This needs to be implemented in a separate PR so I've logged #6609 to track it.

[2019-03-13 18:07] mkheck commented on #6609
I'll take this on. Thanks Joe!

[2019-03-13 18:08] mkheck commented on #6610
I'm on it! Thanks Joe.

[2019-03-13 18:13] jgrandja commented on #6609
Great, thanks @mkheck. Let me know if you have any questions along the way.

[2019-03-13 18:13] jgrandja commented on #6610
Great, thanks @mkheck. Let me know if you have any questions along the way.

[2019-03-13 19:22] Thopap opened #6611 "Docs should state default value for Resource Server validation clock skew is 60 seconds"
The documentation for the Oauth2 Resource Server validation (https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2resourceserver-validation) contain a remark that the default configuration of **30 seconds** clock is configured.

Two remarks on this:
1. The current implemented default seems to **60 seconds**  [JwtTimestampValidator](https://github.com/spring-projects

[2019-03-13 22:52] jzheaux opened #6612 "Simplify MediaTypeRequestMatcher construction"
`MediaTypeServerWebExchangeMatcher` is very easy to use because it simply takes a list of `MediaType`s in its constructor:

[code]

However, `MediaTypeRequestMatcher`, the servlet equivalent, requires the user to supply a `ContentNegotiationStrategy` as well:

[code]

It would be nice if `MediaTypeRequestMatcher` were as easy to use as `MediaTypeServerWebExchangeMatcher`.

[2019-03-14 02:02] jzheaux commented on #6611
Good catch, @Thopap! I realize the chance is pretty quick; would you be interested in submitting a PR?

[2019-03-14 02:15] jzheaux commented on #6607
Okay, @bahuwang. Would you please provide a sample that reproduces your issue? That should eliminate any confusion on my side about packages.

[2019-03-14 02:26] fritzdj commented on #6609
@mkheck and @jgrandja, what is the acceptance criteria for this one? I think there should be a buffer period (that can be configurable by the client) when the token would get refreshed. i.e. if the token is within milliseconds of being expired, it's possible the call to an endpoint would still fail because it is the destination that is verifying that the token is not expired. Internal processing +

[2019-03-14 02:27] jzheaux commented on #6566
@rammishr, thanks for the report, your proposal makes sense. Would you like to submit a PR with the change?

The current baseline for Spring Framework is Java EE 7, so I'd recommend the schema location that correctly aligns with that release (sounds like from your research that it is J2EE 1.5).

[2019-03-14 02:31] jzheaux commented on #6596
Hey, @zero9005, sorry you are having trouble. Do you have a specific question I can help you with?

Or, there is typically a Spring Security member hanging out on Gitter, if you feel like you don't know what questions to ask: http://gitter.im/spring-projects/spring-security

[2019-03-14 08:05] IvanovPvl commented on #5420
I have some problem. Remove `@Component` fix it.

[2019-03-14 10:28] bahuwang commented on #6607
Thank you,@jzheaux.I have uploaded a file #6607.zip to my baidu disk.Its link is "https://pan.baidu.com/s/14VJuw03NLilyaoZ1h-kj7g" and "fetch code" is v3ma. The folder comscandemo-src is sample code and image are screenshots ofcomparison test result.

[2019-03-14 15:39] vsfalexanderpilch commented on #6570
Is there any update on this?

[2019-03-14 17:13] sunflower-seed commented on #6145
Sorry i tried to get the x509 sample running without success.
Can you provide or have already provided a short how-to anywhere?

The thing is pretty simple:
If performing a logout with x509 the keep-alive header should be checked to always be 0 in this case.

[2019-03-14 18:39] ch4mpy commented on #6557
What commit did you look at?
I iterated to different solutions with your remarks and dropped some time ago the idea to expose annotation attributes for each claim. Very few remain: `name`, `authorities`, `claims`, `headers` and `additionalParsers`.
All code related to `Map<String, Object>` construction  from test annotation (`headers` and `claims`) is in [`properties` package](https://github.com/c

[2019-03-14 19:30] vpavic opened #6613 "Remove @Configuration meta-annotation from @Enable annotations"
Currently, all Spring Security's `@Enable` annotations are meta-annotated with `@Configuration`. While convenient, this is not consistent with the rest of the Spring projects and most notably Spring Framework's `@Enable` annotations.

Additionally, the introduction of support for `@Configuration(proxyBeanMethods=false)` in Spring Framework provides a compelling reason to remove `@Configuration` me

[2019-03-14 19:58] eximius313 commented on #5420
@rwinch what kind of feedback regarding `waiting-for-feedback` label do you require?

[2019-03-14 20:42] gandrade commented on #6053
Would be great have this feature targeting next milestone.

[2019-03-15 11:58] sshumilov opened #6622 "Reactive OAuth2 login via implicit(password) flow"
Hi.
Is there support for login via oauth2 implicit flow in current reactive spring-security implementation?

[2019-03-15 17:34] jzheaux commented on #6557
The unsquashed equivalent of the most [recent one](https://github.com/spring-projects/spring-security/pull/6595/commits/d054c3b8bd37c9f3d0e7579d942ff66f43d54f0d). The current PR requires a host of conversion utilities and a new annotation (`@Property`). Using a request post processor requires neither of those and affords the tester equal expressive power.

It's not about the number, but what's goi

[2019-03-15 18:29] jzheaux commented on #6547
You are on the right path, though I would make just a few tweaks:

* Let's leave the default values out. For all other boolean values (as you noted), the default is enforced in the code.
* I'd probably use xsd:token since it is more specific and we'll get whitespace trimming
* Instead of a properties file, I might just do `System.setProperty` in the test, but yes, you'd likely need to add the Prop

[2019-03-16 02:10] rhamedy commented on #6547
@jzheaux thanks a lot for your reply. I have covered all the points but, what I was missing was the following piece

```You will likely need to edit HeadersBeanDefinitionParser to process the placeholder, e.g. parserContext.getReaderContext().getEnvironment().resolvePlaceholders()```

The `Element` kept returning the actual value without substituting. Thanks for response, will give it a try and ma

[2019-03-16 16:04] jzheaux commented on #6557
@ch4mpy, I understand that your PR supports dates. My point is that doing so through an annotation is painful.

I'd like the focus of this conversation to move from "can we" to "should we". I think that the annotation approach here is too cumbersome, so "can we"? Yes. "Should we"? Not at this point.

Can you explain to me why you feel we should add this annotation support over doing a request post

[2019-03-17 16:14] rhamedy commented on #6547
@jzheaux I have mentioned a few points in the PR that might or might not need to be considered during code review. Thanks for the help 👍

[2019-03-18 14:49] sdeleuze opened #6624 "Make it possible to use Spring Security with functional bean registration"
We would like to start adding Spring Security support in Spring Fu (via an external contributor) but we are currently blocked because unlike Spring Boot configurations, it is not possible to inject programmatically required beans in Spring Security configuration classes.

Our goal is to provide a functional bean registration equivalent of `@EnableWebFluxSecurity` which imports following configurat

[2019-03-18 15:34] rwinch commented on #6624
@sdeleuze Thanks for the report! We definitely want to enable this to progress. Are there reasons that the DSL only makes sense for functional beans and not allowing it to be used in standard Spring Security setups? I'm asking because we have had this sort of request before.

[2019-03-18 15:52] sdeleuze commented on #6624
I have also that goal in mind, the Kotlin DSL that will arise on Spring Fu incubating side could be usable in regular Javaconfig mode as well, like we do on WebFlux router and bean registration side. My plan is to provide a PR for that at some point, when that will be mature enough.

[2019-03-18 18:32] #5937 closed

[2019-03-19 07:14] EtachGu commented on #6316
great

[2019-03-19 11:58] sshumilov commented on #6622
@jgrandja thanx for your answer.
Here what I'm trying to implement
[https://drive.google.com/open?id=1HC3uklGw70KboEKsSaDg4QwSvEa8LUEU](url)
How would you suggest to implement API authorization case, where API clients  unable to support oauth2 for some reason?

[2019-03-19 15:00] #5350 closed

[2019-03-19 15:23] rwinch opened #6625 "Generic Resolver Interface"
### Summary

We have quite a few places where we are resolving APIs. `OAuth2AuthorizationRequestResolver`, SAML is adding a resolver, JWT is adding one.

We should consider create a generic resolver that takes input of `HttpServletRequest` and a separate one for `ServerWebExchange` and outputs `<T>`.

There are also places where we use `Function`.

There are other places we use `Converter`.

We ne

[2019-03-19 15:54] jgrandja commented on #6624
@sdeleuze I'm not sure it makes sense to expose setter/constructor params in the `@Configuration` classes. **NOTE:** `ServerHttpSecurityConfiguration`, `WebFluxSecurityConfiguration` and `ReactiveOAuth2ClientImportSelector` are package-private as well so these would need to be exposed as well, which again we're not really keen on.

We definitely want to help move this forward for you, I'm just not

[2019-03-20 00:09] sdoxsee commented on #6548
Hey @jgrandja. Sorry for the delay. I've given your idea some thought. If I understand what you're suggesting, it would be to create something like a `PkceOAuth2AuthorizationRequestResolver` (and a reactive version) similar to the `CustomAuthorizationRequestResolver` in the reference documentation.

If that's the case then, after building the `OAuth2AuthorizationRequest` in the `resolve` method vi

[2019-03-20 12:58] OrangeDog opened #6629 "Allow configuring oauth2ResourceServer() with custom provider"
At the moment if you do not configure `jwt()` (or `opaqueToken()` on the master branch) the configurer will throw an `IllegalStateException`.

However, all that is needed to support another format is to add an `AuthenticationProvider` supporting `BearerTokenAuthenticationToken`. Because the configurer throws, it forces you to manually configure everything else yourself as well.

Instead, it should

[2019-03-20 14:49] jgrandja commented on #6609
@fritzdj

You will notice the `accessTokenExpiresSkew` member in both `ServletOAuth2AuthorizedClientExchangeFilterFunction` and `ServerOAuth2AuthorizedClientExchangeFilterFunction`...this accounts for the buffer / latency that can occur. This same logic needs to be implemented here.

After `OAuth2AuthorizedClientArgumentResolver` resolves the `OAuth2AuthorizedClient`, you don't necessarily need to

[2019-03-20 17:29] ch4mpy commented on #6557
@jzheaux, I understood  a week ago that both @rwinch and you prefer a flow API instead of annotations.
Reason I kept working on this this is I don't. I've been happy for a year now with annotations I created for spring-security-oauth. Those `@WithMockJwt`, `@WithMockAccessToken` and `@WithMockOidcIdToken` are what I missed to migrate to Spring 5 resource-server.

So, should you support annotations

[2019-03-20 19:02] jgrandja commented on #6600
@sinisin I'm suspecting this is a configuration issue. Can you please provide more detail, e.g. your security configuration. Also, it is very difficult to read your configuration based on how it's pasted into this issue. Please ensure all content in the issue is readable so we can effectively troubleshoot.

You mention this issue is occurring in 2.1.3? However, this feature is only available in Sp

[2019-03-20 19:36] jzheaux opened #6632 "Opaque Token Intermediate Type"
One clear benefit of `JwtDecoder` is it acts as an intermediate type for the purposes of configuration. It makes auto-configuration with Spring Boot very clean, and presents opportunities where the user can easily customize Bearer Token authentication strategy without needing to wire up a custom authentication provider.

It would be nice if the opaque token support had the same flexibility.

[2019-03-21 01:47] bahuwang commented on #6607
If add a @ComponentScan with @SpringBootApplication,you must scan the package manually.

[2019-03-21 01:47] #6607 closed

[2019-03-21 11:58] fritzdj commented on #6609
Thanks @jgrandja, this clears things up. I do still think we should be able to call the logic within that resolver using a bean on demand if desired though. This way you could create clients that are more self-contained and wouldn't need to add the resolver to the controller. Could we potentially have shared logic being used by both options?

[2019-03-21 14:51] jgrandja commented on #6609
@fritzdj I'm not sure I'm completely following your idea/suggestion. Can you provide more detail please.

[2019-03-21 16:02] #6572 closed

[2019-03-21 18:04] jzheaux opened #6634 "Introduce JWT Flow API in Test Support"
It would be handy in tests to be able to specify a `Jwt` authentication in tests:

[code]

Some features we should consider:

* Providing a completely instantiated `Jwt`:

[code]

* Providing authorities:

[code]

* Providing claims:

[code]

* Providing headers:

[code]

These would result in the `SecurityContext` containing an instance of `JwtAuthenticationToken`.

Also, we should introduce its

[2019-03-21 18:05] jzheaux commented on #6557
@ch4mpy, actually, I think, as you've called out, that some of this is related to philosophical differences, so I've created [a separate ticket for the flow API](https://github.com/spring-projects/spring-security/issues/6634). That way, we can stay focused here on investigating the annotation-driven approach.

As such, I'll try and address your points in the context of just introducing `@WithMockJ

[2019-03-21 23:25] #6547 closed

[2019-03-21 23:40] jzheaux commented on #6629
@OrangeDog, thanks for the report! Can you describe a bit more what you are trying to accomplish?

Also, feel free to keep track of https://github.com/spring-projects/spring-security/pull/6563, which adds an `AuthenticationManagerResolver`. While still early, it may be of interest to you.

[2019-03-21 23:47] OrangeDog commented on #6629
I want everything that it sets up (bearer token filter, endpoint, error handler) except for JWT. The only way to do it is to scrap the whole configurer and do everything manually.

It would be easily solved if it just didn't throw the `IllegalStateException`.

[2019-03-22 01:53] clevertension commented on #6612
@jzheaux are you working on this issue?if not, i think i can provide a PR :grin::grin:

[2019-03-22 07:20] andyzhaozhao opened #6636 "How to refresh expired access_token automatically when token relaying from zuul downstream inner microservices in spring cloud G?"
### Summary
I have  written a sample https://github.com/andyzhaozhao/cloud-oauth2-jwt-sample
There are 4 models in the sample:
*  eureka：Eureka Server
*  zuul: as an Oauth2 client , zuul->resource,zuul->openfeign->resource
*  resource: normal microservice as a resource server
* openfeign: as a resource server, openfeign->resource

1.  http://localhost:8080/dc  . everything is right.
2.  http://loc

[2019-03-22 09:35] KantarBenedictAdamson commented on #5758
I came here because I wanted some logging... but the reason I wanted _that_ was that I am trying to _debug a failing unit test_. So if providing good logging for reactive Spring Security is too difficult for technical reasons, in some circumstances providing better debugging and testing support can be a mitigation.

[2019-03-22 10:41] fritzdj commented on #6609
This makes sense to me, but you would still need to use `OAuth2AuthorizedClientArgumentResolver` to resolve OAuth2AuthorizedClient in web-tier first. My suggestion is to make things more self-contained in service/data tier by allowing OAuth2AuthorizedClientService to get new access tokens if needed. I think Spring should allow new access tokens to be retrieved either way (in service/data tier _OR_

[2019-03-22 16:09] zgarcia83 commented on #6115
I had the "same issue" but then I realized that the AuthenticationSuccessEvent is called twice as in OAuth2 the client (Application) have to do authentication as well.

I implemented the logic to determine whether the AuthenticationSuccessEvent is called for the client or application user.

[2019-03-22 19:17] jzheaux commented on #6629
What token format are you using for your bearer token? If it's neither opaque nor JWT, then I wonder if what you are building is a Resource Server.

One thing that might work is to introduce something like the following:

[code]

And the same for `opaque()`.

Then, you can pick whichever semantics - local or remote - best matches your situation.

[2019-03-22 19:56] OrangeDog commented on #6629
Why do it like that when neither JWT nor a whole `AuthenticationManager` are required?
All I need is this to not throw.

[code]

[2019-03-22 20:03] jgrandja commented on #6548
@sdoxsee I've been giving this some further thought and I'm not sure if a new implementation of `OAuth2AuthorizationRequestResolver` (being `PkceOAuth2AuthorizationRequestResolver`) is the right approach to solve this issue. With this approach we still need to solve the reusability issue with `addPkceParameters()` and I don't want to duplicate this more than the 2 times we have now. Also, I'm pret

[2019-03-22 20:23] dfcoffin commented on #6548
@sdoxsee @jgrandja Since the original purpose of this issue was to implement PKCE for public clients, which implements an IETF RFC, I am concerned that it is now attempting to allow the creation of an implementation that is in the "wild" and no longer supports an IETF published RFC.  While this may be reasonable, it should be first brought to the attention of the IETF OAuth WG for implementation,

[2019-03-22 21:39] jzheaux commented on #6629
I think you hit here on some API complexity that Spring Security doesn't need. Why have both `AuthenticationManager` and `AuthenticationProvider` in the first place when they both have the same contract? To me, they are largely the same thing -- you'll notice in the reactive stack that we have `ReactiveAuthenticationManager`, but no `ReactiveAuthenticationProvider` for that reason.

Given the exam

[2019-03-23 17:42] jzheaux commented on #6612
It's yours, @clevertension

[2019-03-24 00:44] shyamz-22 opened #6637 "OAuth2ErrorResponseErrorHandler unable to serialize when errorCode is not present."
### Summary

According to OAuth2 Specification [section 5.2](https://tools.ietf.org/html/rfc6749#section-5.2), The Error response is represented as

         REQUIRED.
    error_description
         OPTIONAL.
error_description
         OPTIONAL.

An [section 3.1.3.4](https://openid.net/specs/openid-connect-core-1_0.html#TokenErrorResponse) of OpenID connect specification also refers to the section

[2019-03-24 01:09] shyamz-22 commented on #6637
My code was wrong. Not giving a `grant_type` is validated by the oauth2 client itself and does not make a request to token exchange. Closing the issue.

[2019-03-24 01:09] #6637 closed

[2019-03-24 02:17] xyting opened #6638 "OAuth2AuthorizationRequestRedirectFilter redirect should support Ajax request"
# Summary
I need `OAuth2AuthorizationRequestRedirectFilter` `redirect` to support Ajax request

# Background
I before using `spring-security-oauth2` jar, I can provide custom `RedirectStrategy` to support Ajax request. Currently, I update my code to using `spring-security-oauth2-client`, one issue is the `OAuth2AuthorizationRequestRedirectFilter` cannot custom `RedirectStrategy`,  [private final R

[2019-03-24 20:55] rhamedy commented on #6500
Hi @jzheaux ,

I am looking into this issue right now. I read some of `RFC 8414` specification as well as looked inside `JWTDecoder` and `ClientRegistration.Builder` classes. In regards to the possibility you mentioned above

ClientRegistration.Builder builder = ClientRegistrations.withIssuer(issuer);

We might have to provide a mechanism to accept both issuer along with configuration i.e. `openid

[2019-03-25 02:06] clevertension commented on #6612
@jzheaux so the `ContentNegotiationStrategy contentNegotiationStrategy` can be null now?

[2019-03-25 13:36] ch4mpy commented on #6557
@jzheaux, I'm sorry I hadn't the opportunity to read your latest comment before pushing my latest work this  morning. It definitely doesn't step in the direction you expected, I'll change that later this week. I'll at a bear minimum split annotation and flow API. As I share quite some code between the two, which do you prefer come first ?

The reason I dropped annotation property per claim is it d

[2019-03-25 15:50] rs017991 opened #6639 "NPE in HttpsRedirectWebFilter"
### Summary

Using an unrecognized port results in a NullPointerException when redirecting.

### Cause

On this line, HttpsRedirectWebFilter assigns the portMapper result to a primitive int, even though portMapper can return null values:
https://github.com/spring-projects/spring-security/blob/b93528138e2b2f7ad34d10a040e6b7ac50fc587a/web/src/main/java/org/springframework/security/web/server/transpo

[2019-03-25 16:05] simmac commented on #5354
BouncyCastle has ported Argon2 to native Java: https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/generators/Argon2BytesGenerator.java

BouncyCastle is licensed under a MIT-like license, so this should be compatible

[2019-03-25 20:00] jzheaux commented on #6639
@rs017991 I think you're right that the code should at the very least not throw an NPE. While the equivalent imperative code logs a warning, I lean towards throwing an exception - your third option - so that security misconfiguration gets repaired. Would you be interested in submitting a PR for that?

Regarding your comment about `RANDOM_PORT`, have you tried using the `@LocalServerPort` annotatio

[2019-03-25 20:20] rs017991 commented on #6639
@jzheaux Yeah I could put a PR together for that.

I was able to work around the issue with a custom PortMapper, but it was really more the NPE that troubled me.

[2019-03-25 20:20] jzheaux commented on #6500
@rhamedy Great questions.

Yes, this sounds like a separate ticket, though agreed that RFC 8414 suggests that authorization servers may expose custom endpoints.

We rely on the Nimbus API to parse those fields for us. Anything that isn't yet clearly needed is placed in the `configurationMetadata` property in `ClientRegistration#ProviderDetails`.

These should be in `ClientRegistration#ProviderDeta

[2019-03-25 21:38] jzheaux commented on #6612
@clevertension I was thinking that the class could default to a `HeaderContentNegotiationStrategy`. See the JavaDoc for some common usages.

[2019-03-26 10:10] jgrandja opened #6663 "Update to Spring 5.1.6.BUILD-SNAPSHOT"
Update Spring to 5.1.6.BUILD-SNAPSHOT

[2019-03-26 10:13] jgrandja opened #6664 "Update to Spring 5.1.6.RELEASE"
Update to Spring 5.1.6.RELEASE

[2019-03-26 10:18] jgrandja opened #6665 "Update to Spring Data Lovelace-SR6"
Update to Spring Data Lovelace-SR6

[2019-03-26 10:26] jgrandja opened #6666 "Update to mockwebserver 3.12.2"
Update to mockwebserver 3.12.2

[2019-03-26 10:28] jgrandja opened #6667 "Update to okhttp 3.12.2"
Update to okhttp 3.12.2

[2019-03-26 10:31] jgrandja opened #6668 "Update to unboundid-ldapsdk 4.0.10"
Update to unboundid-ldapsdk 4.0.10

[2019-03-26 10:44] jgrandja opened #6669 "Update to hibernate-entitymanager 5.3.9.Final"
Update to hibernate-entitymanager 5.3.9.Final

[2019-03-26 10:48] jgrandja opened #6670 "Update to hibernate-validator 6.0.16.Final"
Update to hibernate-validator 6.0.16.Final

[2019-03-26 10:51] jgrandja opened #6671 "Update to htmlunit-driver 2.33.3"
Update to htmlunit-driver 2.33.3

[2019-03-26 10:55] jgrandja opened #6672 "Update to selenium-java 3.141.59"
Update to selenium-java 3.141.59

[2019-03-26 10:56] jgrandja opened #6673 "Update to selenium-support 3.141.59"
Update to selenium-support 3.141.59

[2019-03-26 10:59] jgrandja opened #6674 "Update to jcl-over-slf4j 1.7.26"
Update to jcl-over-slf4j 1.7.26

[2019-03-26 11:01] jgrandja opened #6675 "Update to jul-to-slf4j 1.7.26"
Update to jul-to-slf4j 1.7.26

[2019-03-26 11:03] jgrandja opened #6676 "Update to log4j-over-slf4j 1.7.26"
Update to log4j-over-slf4j 1.7.26

[2019-03-26 11:05] jgrandja opened #6677 "Update to slf4j-api 1.7.26"
Update to slf4j-api 1.7.26

[2019-03-26 11:12] jgrandja opened #6678 "Update to slf4j-nop 1.7.26"
Update to slf4j-nop 1.7.26

[2019-03-26 11:16] jgrandja opened #6679 "Update to Spring Boot 2.1.3.RELEASE"
Update to Spring Boot 2.1.3.RELEASE

[2019-03-26 12:10] skazaruddin opened #6680 "Once JWT token is issued, locking user in spring security doesn't block the user."
Once JWT token is issued, API access is not blocked even after locking the user.But when user tries to do a login, it says your account is locked.Can anyone suggest how to handle this?

[2019-03-26 13:18] jgrandja opened #6682 "Update to spring-build-conventions 0.0.25.RELEASE"
Update to spring-build-conventions 0.0.25.RELEASE

[2019-03-26 13:58] ch4mpy commented on #6557
Could read your message a few more times offline without the pressure of WiFi plan count down and got your point about turning around annotations limitations late.
Sure I do king of hack around language limitations here. On the other hand, I believe `Map<String, Object>` is an extreme and maybe was even considered a worst practice at the time annotations specifications was written.

Using parsers

[2019-03-26 15:18] DarrenForsythe opened #6683 "Provide Servlet equivalent of UnAuthenticatedServerOAuth2AuthorizedClientRepository"
### Summary

Currently when Using  `ServletOAuth2AuthorizedClientExchangeFilterFunction` (this might also apply to the Server impl) this requires a OAuth2AuthorizedClientRepository`.

This work fine when there is a some sort of request in progress however when calling to OAuth2 secured resources when no web request is in progress each will fail.

A user can provide their own no-op impl such as,

[

[2019-03-26 16:00] jzheaux commented on #6683
@DarrenForsythe thanks for the report.

Have you already tried `UnAuthenticatedServerOAuth2AuthorizedClientRepository`?

[2019-03-26 16:03] jgrandja opened #6684 "Update to selenium-api 3.141.59"
Update to selenium-api 3.141.59

[2019-03-26 16:03] jzheaux commented on #6672
mmm, &pi; :)

[2019-03-26 16:13] jzheaux opened #6685 "OAuth2ResourceServerSpec should allow its ServerBearerTokenAuthenticationConverter to be configurable"
Backport of #6186

[2019-03-26 16:13] jzheaux commented on #6685
Fixed via `83953249a9dcd1f6496aee132d5151f6a8e88f05`

[2019-03-26 16:13] #6685 closed

[2019-03-26 16:15] jgrandja opened #6686 "Update to Reactor Californium-SR6"
Update to Reactor Californium-SR6

[2019-03-26 16:26] DarrenForsythe commented on #6683
@jzheaux That appears only to be applicable for fully reactive stacks unless I'm mistaken. Currently Using WebClient within a `spring-web`/`servlet` stack, no Reactive Client repository beans etc. would be available?

[2019-03-26 20:51] jzheaux commented on #6683
Thanks, @DarrenForsythe, it's a good question. Usually, we recommend the reactive stack for non-webapps, so it's not clear to me yet whether a servlet version of that class makes sense. What can you tell me about your scenario so that I can understand it better?

Are you trying to make a call from a background thread, from a CLI, or something else?

[2019-03-26 20:56] DarrenForsythe commented on #6683
Background thread that runs attestation processing for a pub/sub flow. Also a few API exposed within in the application for data access. I've seen quite a few uses cases, working in a large enterprise environment, like this (background threads in a servlet stack) where it simply isn't feasible to switch the apps to a reactive stack, but want to take advantage of the new features currently and comi