[2020-03-18 18:35] rwinch commented on #8143
Could you please provide a complete sample?

[2020-03-18 19:58] TonCherAmi commented on #8143
@rwinch [here you go](https://github.com/TonCherAmi/spring-security-coroutine-demo/tree/master/src/main/kotlin/com/example/demo).

Upon making a request,
[code]

an exception is thrown:
[code]

[2020-03-18 21:07] #8075 closed

[2020-03-18 21:08] spring-issuemaster commented on #8145
Fixed via 120af761a09ac7ffae508346646671c41858b38d

[2020-03-18 21:08] #8145 closed

[2020-03-18 21:15] spring-issuemaster opened #8146 "Document OAuth2Authorization success and failure handlers"
Backport of gh-8073

[2020-03-18 22:19] jzheaux commented on #8141
Thanks for the suggestion, @Primedo.

I think it makes sense to add support for custom attributes to `Saml2AuthenticationRequestContext`.

Since `AuthenticationRequestFactory` is abstracted away from the Servlet API, though, a post processor that includes `HttpServletRequest` in the contract likely wouldn't work.

What would you think of a `Converter<Saml2AuthenticationRequestContext, AuthnRequest

[2020-03-18 22:54] jzheaux opened #8147 "OpenSamlImplementation should not use reflection"
It would be better if `OpenSamlImplementation` didn't use reflection.

`OpenSamlImplementation#buildSAMLObject(Class<?>)` uses reflection to discover how to construct an object of the provided type, but it could simply take a `QName` and achieve the same end without reflecting, e.g. `buildSamlObject(QName)`.

[2020-03-19 04:17] rwinch commented on #8140
You can configure the `PortResolver` that is used by the `AuthenticationEntryPoint`.

[code]

[2020-03-19 04:46] asaikali opened #8148 "Document Persistent Token Remember-Me Authentication Algorithim"
[Remember Persistent Token Approach ](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#remember-me-persistent-token) has a dead link to external explanation of the algorithm that it uses.

Please document the algorithm used by spring security for persistent authentication remember-me token in the spring security docs and remove broken link.

[2020-03-19 05:46] jaggerwang commented on #8125
It seems to related with `ServerHttpSecurity.exceptionHandling`  config. If I comment this config, the default login page can be accessed.

[code]

Is it possible to customize the `exceptionHandling` to return json response for rest api, and keep the default login page?

[2020-03-19 05:50] jaggerwang commented on #8124
Figured it out by myself. Create a new `SecurityContextImpl` instance when `ReactiveSecurityContextHolder.getContext()` resolve to empty, and save the new instance to session.

[code]

[2020-03-19 11:55] dtitov commented on #8140
Thanks, this helped. However, I still think that the necessity to do `portMapper.setPortMappings(Collections.singletonMap("8080", "8080"))` looks quite weird. But, anyway, it works...

[2020-03-19 13:26] sdoxsee commented on #8018
Hey @jgrandja! Hope you're keeping well in these crazy times!

This is possibly a separate issue but seeing as `principal` is currently required by `OAuth2AuthorizeRequest.Builder` and, for the case of Client Credentials (where you may not have a request context or an `Authentication`), would you recommend using this convenience method as a workaround to create a pseudo-`Authentication` from a `St

[2020-03-19 13:39] jgrandja commented on #8018
Hey @sdoxsee! Thanks for asking and yes we are all doing well. I hope you and the family are well too?

In the case of a `client_credentials` client, I would tyically use the `client-id` as the `Principal` name. However,  `registration-id` is an option as well. But I think `client-id` makes more sense since it uniquely identifies the client at the provider and can be considered a `Principal`.

[2020-03-19 13:53] sdoxsee commented on #8018
Thanks @jgrandja. Glad you guys are well! It's a zoo here but we're having fun in self-isolation :) Trying to figure out how to handle the combination of social distancing, work, closed schools, and unknown timelines :)

Thanks for the suggestion!

[2020-03-19 14:01] jgrandja commented on #8018
Hang-in there @sdoxsee. Hopefully some normalcy will come sooner than later. Talk soon!

[2020-03-19 15:24] Robbert1 opened #8149 "NPE for ill-constructed HTTP requests with non-standard HTTP method"
I expected the matcher to not trigger NPE's (resulting in HTTP 500's) but rather choosing to match or not for unknown methods.

This line triggers the NPE as getMethod returns null for any unmappable method string.
https://github.com/spring-projects/spring-security/blob/06fdb83fb89840c511b2bc46f72b7c49229c9dab/web/src/main/java/org/springframework/security/web/server/csrf/CsrfWebFilter.java#L190

[2020-03-19 15:43] jgrandja opened #8150 "Assign sensible default for OAuth2AuthorizedClientProvider"
The `OAuth2AuthorizedClientManager` implementations should be assigned a sensible default for the associated `OAuth2AuthorizedClientProvider`. The same change should be applied to the `ReactiveOAuth2AuthorizedClientManager` implementations.

[2020-03-19 15:53] spring-issuemaster opened #8151 "Assign sensible default for OAuth2AuthorizedClientProvider"
Backport of gh-8150

[2020-03-19 16:09] #8150 closed

[2020-03-19 16:10] spring-issuemaster commented on #8151
Fixed via 2d8242c5c15e4905ce6d7078d52da866c4b22cff

[2020-03-19 16:10] #8151 closed

[2020-03-19 16:44] spring-issuemaster commented on #7763
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-03-19 18:14] jgrandja opened #8152 "Document AuthorizedClientServiceOAuth2AuthorizedClientManager"
We should document the usage for `AuthorizedClientServiceOAuth2AuthorizedClientManager`.

[2020-03-19 18:16] spring-issuemaster opened #8153 "Document AuthorizedClientServiceOAuth2AuthorizedClientManager"
Backport of gh-8152

[2020-03-19 19:21] eleftherias commented on #8149
Thanks for the report @Robbert1.
Would you be interested in submitting a PR?

[2020-03-19 21:02] eleftherias opened #8154 "RSocket test should throw AccessDeniedException"
The test `retrieveFluxWhenDataFluxAndSecureThenDenied` throws a `MessageDeliveryException` because it makes a request to a route that does not exist (`"secure.secure.retrieve-flux"`).
It should instead throw an `AccessDeniedException` when calling a route that exists, but does not have adequate permissions to access.

[2020-03-19 21:27] #8154 closed

[2020-03-19 21:52] spring-issuemaster opened #8155 "RSocket test should throw AccessDeniedException"
Backport of gh-8154

[2020-03-19 21:52] spring-issuemaster commented on #8155
Fixed via 256aba7b378b6f5c7a3bfd3f5c19e7ccc38b8798

[2020-03-19 21:52] #8155 closed

[2020-03-20 04:49] 99bird opened #8156 "spring security 5.2.x resource-server BearerTokenAuthentication"
If I want to access to the permitAll web api with bearer token ,but my token is invalid, I cant't access the web api.  If I access the permitAll web api without bearer token ,in this way I can access it.  Is this a logic problem？

[2020-03-20 09:02] Primedo commented on #8141
Josh, thank you for your feedback.

This is what I came up with until now and I hope it isn't the complete opposite of what you suggested: https://github.com/spring-projects/spring-security/compare/master...Primedo:gh-8141

I removed `Saml2AuthenticationRequest` since it was deprecated and I couldn't create a `Saml2AuthenticationRequestContext` from it.

Since I didn't want to create a new `AuthnR

[2020-03-20 10:16] jvalkeal opened #8157 "Make OAuth2ErrorHttpMessageConverter more resilient"
Keeping `OAuth2ErrorHttpMessageConverter` so strict as just attempting to read `Map<String,String>` out from an error response and throwing parsing error is a bit of a nuance. According to comment https://github.com/spring-projects/spring-security/issues/6463#issuecomment-596559695 user could switch error handling but it'd be better this default impl to i.e. throw away unknown fields.

For example

[2020-03-20 11:33] spring-issuemaster opened #8158 "Make OAuth2ErrorHttpMessageConverter more resilient"
Backport of gh-8157

[2020-03-20 11:36] spring-issuemaster opened #8159 "Document AuthorizedClientServiceOAuth2AuthorizedClientManager"
Backport of gh-8152

[2020-03-20 11:45] #8152 closed

[2020-03-20 11:46] spring-issuemaster commented on #8153
Fixed via 200829fa7a90ff67fa047ea063618bbf49460748

[2020-03-20 11:46] #8153 closed

[2020-03-20 11:46] spring-issuemaster commented on #8159
Fixed via 512ad9e7e48c0db7183994aaaa674381b38ca819

[2020-03-20 11:46] #8159 closed

[2020-03-20 12:56] spring-issuemaster opened #8160 "RSocket test should throw AccessDeniedException"
Backport of gh-8154

[2020-03-20 12:56] spring-issuemaster commented on #8160
Fixed via 699fed7f985280efdb0096402bcf5449ad1a6057

[2020-03-20 12:56] #8160 closed

[2020-03-20 18:22] #8147 closed

[2020-03-20 18:25] spring-issuemaster opened #8161 "OpenSamlImplementation should not use reflection"
Backport of gh-8147

[2020-03-20 18:25] spring-issuemaster commented on #8161
Fixed via 15cc15cc3cb9f56abaa23b105076d10358deccc4

[2020-03-20 18:25] #8161 closed

[2020-03-20 18:54] eleftherias commented on #8156
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-03-20 18:54] #8156 closed

[2020-03-20 19:30] favetelinguis opened #8162 "How Active is support on stackoverflow.com"
When reaching out for support regarding spring security I get refered to stackoverflow.com. However once I ask a questions regarding spring security there it rarely get answered. What is The best support chanel? And could you please provider som support for https://stackoverflow.com/questions/60778556/testing-spring-security-oauth2login-enabled-applications-throws-illegalargumente

[2020-03-20 20:32] #8073 closed

[2020-03-20 20:33] spring-issuemaster commented on #8146
Fixed via 2dd40c7de5de72b8f18a51c490d640619c5a6301

[2020-03-20 20:33] #8146 closed

[2020-03-20 20:49] jzheaux commented on #8162
Good observations, @favetelinguis, and thanks for asking. This is something that we are wanting to get better at. Incidentally, I followed your link and offered an answer.

The way we are working it is a team member is "on-call" for a week. They monitor Gitter, StackOverflow, and Git, balancing that with the rest of their responsibilities. Ideally, Git is for issues and feature requests, StackOver

[2020-03-20 20:49] #8162 closed

[2020-03-20 21:54] spring-issuemaster commented on #7977
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-03-20 21:54] #7977 closed

[2020-03-20 21:54] spring-issuemaster commented on #7778
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-03-20 21:54] #7778 closed

[2020-03-20 22:50] jzheaux opened #8163 "Polish SAML 2.0 Login Sample"
The SAML 2.0 Login sample could be improved by:

* Looking more like the OAuth 2.0 Login sample, for easy comparison
* Using the standard name for the SimpleSAMLphp project
* Removing unused code
* Rearranging Boot properties to mirror IDP metadata payloads

[2020-03-20 22:51] #8163 closed

[2020-03-20 22:51] spring-issuemaster opened #8164 "Polish SAML 2.0 Login Sample"
Backport of gh-8163

[2020-03-20 22:51] spring-issuemaster commented on #8164
Fixed via b470a4eccab1848eeba76cf044814e9b0d209750

[2020-03-20 22:51] #8164 closed

[2020-03-20 22:59] rwinch commented on #8148
Thanks @asaikali Would you be interested in submitting a PR? You would use internet archives to find what the link use to point to

[2020-03-20 23:18] #8078 closed

[2020-03-20 23:18] #8079 closed

[2020-03-20 23:20] spring-issuemaster opened #8165 "Document AuthNRequest POST binding support"
Backport of gh-8079

[2020-03-20 23:20] spring-issuemaster commented on #8165
Fixed via 33c354ba8bb82cc1e8abc1bbcba554a532934dce

[2020-03-20 23:20] #8165 closed

[2020-03-21 15:17] luvarqpp commented on #5207
I have an issue, which pointed me here. I am trying to use `CsrfMutator` and it fails on NPE.  Can this issue be connected to https://github.com/spring-projects/spring-security/issues/7778 ?

[2020-03-21 19:16] asaikali commented on #8148
I would be happy to submit a PR, I did a bit of searching around for the broken link could not find it anywhere online. If you have access to it I will submit a PR.

[2020-03-21 19:35] mario45211 opened #8166 "OAuth2 Password Grant Type with Spring Cloud Gateway"
### Summary
Cannot integrate Spring Cloud Gateway (which uses Spring Security 5.2) with OAuth2 Authorization Server using Resource Owner Password Flow.

### Actual Behavior
During handling any request below exception occurs:

[code]

Checking implementation of `DefaultServerOAuth2AuthorizationRequestResolver` class, on lines 137-157 there is no case supporting Password Grant type:
[code]
Is above

[2020-03-22 00:13] asaikali opened #8167 "Improve Security Filters Documentation"
Documentation at [Security Filters](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#servlet-security-filters) leaves a lot of questions unanswered. Suggest that that section be enhanced by answering the following questions.

* In troubleshooting scenario how to get a list of what the filter chain looks like printed to the log?
* How to add a custom filter to the fil

[2020-03-22 00:24] asaikali opened #8168 "Add guidance on REST API and CSRF to docs"
Docs section [Cross Site Request Forgery](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#csrf) is missing any discussion on weather CSRF is recommended / required for a REST API. Suggest adding content to the section to answer the following questions.

* Is CSRF protection required for a REST API? When is it required when is it not?
* What are the implications on t

[2020-03-22 07:54] komuro-hiraku opened #8169 "userNameAttribute case style is different others"
# Summary

![スクリーンショット 2020-03-22 16 36 15](https://user-images.githubusercontent.com/2126669/77244696-8b1d5300-6c5b-11ea-8fcd-46433bcc94e6.png)

https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login-boot-property-mappings

`userNameAttribute` is not correct case style.

However, I confirmed that it works correctly with the property before modification.

### Actual

[2020-03-22 13:18] rh-id commented on #5633
hi @jgrandja i had created PR #8170

[2020-03-22 22:59] jscoder1009 commented on #6463
spring:
  security:
    oauth2:
      client:
        registration:
          facebook:
            client-id: xxddd...
            clientSecret: secrettt....
            **redirect-uri: https://example.com/login/oauth2/code/facebook**

Issue was redirect-uri was going as http. I explicitly added callback URL in the app and this fixed my issue.

[2020-03-23 05:39] Allurx commented on #6320
Now spring-security provides client and resource-server support, and lacks the most important Authorization server, as @vborcea said. At this time, spring-security providing oauth2 support is like a car without an engine. It's incredible. At the same time, using an Authorization server like Keycloak brings additional learning costs and must also convince other members of the team, so I hope spring

[2020-03-23 07:46] luvarqpp commented on #7778
I have setup with `.sessionCreationPolicy(SessionCreationPolicy.STATELESS)`, custom `.authenticationEntryPoint(new RestAuthenticationEntryPoint())`, `.oauth2Login()`, custom `.userInfoEndpoint().userService(customOAuth2UserService)` and also custom auth filter `http.addFilterBefore(tokenAuthenticationFilter(), UsernamePasswordAuthenticationFilter.class);`. I have triggered this NPE by using `webTe

[2020-03-23 14:08] #8169 closed

[2020-03-23 16:19] eleftherias opened #8172 "Add Kotlin samples to the reference documentation"
### Summary

We have many Java and XML samples in the reference documentation.
We should expand these to include Kotlin samples.

For an example of how to add Kotlin samples, take a look at 603eb1e6.

Contributors taking on this task are encouraged to break it up into multiple PRs that add samples to one file at a time.

Additionally, contributors should comment on this issue to state which files

[2020-03-23 17:00] eleftherias commented on #8172
I'm starting password-storage.adoc

[2020-03-23 18:14] jgrandja commented on #8166
@mario45211
This is the expected behaviour. `DefaultServerOAuth2AuthorizationRequestResolver` only supports `authorization_code`. The `password` grant flow does not participate in the Authorization Request/Response flow like the way `authorization_code` does. Please review the [spec](https://tools.ietf.org/html/rfc6749#section-4.3) for `password` grant.

Issuing a request to `/oauth2/authorization

[2020-03-23 18:14] #8166 closed

[2020-03-23 18:47] jgrandja opened #8173 "Align OAuth 2.0 Login/Client documentation with new format"
The [OAuth 2.0 Login](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login) and [OAuth 2.0 Client](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2client) reference documentation needs to be updated to align with the new format introduced in the 5.3 release.

[2020-03-23 18:57] jgrandja opened #8174 "Revamp OAuth 2.0 Login/Client reactive documentation"
The OAuth 2.0 Login and OAuth 2.0 Client reference documentation for Reactive Applications is completely out-of-date compared to the Servlet Applications. This needs to be updated so both are in sync.

Related #8173

### Servlet Applications

[OAuth 2.0 Login](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login)
[OAuth 2.0 Client](https://docs.spring.io/spring-sec

[2020-03-23 19:10] jgrandja opened #8175 "Support JWT for Client Authentication"
This feature will partially implement [JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants](https://tools.ietf.org/html/rfc7523).

[Section 2.2. Using JWTs for Client Authentication](https://tools.ietf.org/html/rfc7523#section-2.2) will be the focus for this feature implementation.

**NOTE:** This ticket addresses client-side support only.

Related #6881 #6053

[2020-03-23 20:26] mario45211 commented on #8166
@jgrandja
Thanks for this comprehensive answer.

I will do some more review how new Spring Security mechanism integrates with OAuth2 and try ask SCG team about such integration.

Best regards!

[2020-03-23 21:29] jzheaux commented on #8141
Thanks for taking some time to try this out, @Primedo.

Let's see if it's possible to only focus on customizing the `AuthnRequest`. For example, I don't think we should remove methods in this PR. Indeed, if they must be removed for this feature to be added, then we'd need to wait until 6.0 to do it.

Regarding custom attributes, let's follow the pattern set out in `OAuth2AuthorizationContext`. Not

[2020-03-24 08:43] Primedo commented on #8141
@jzheaux, what is your take on this change?
https://github.com/spring-projects/spring-security/compare/master...Primedo:gh-8141

I skipped the suggested `Converter` for this change.

[2020-03-24 12:57] rwinch commented on #8168
There is a section that describes [When to use CSRF protection](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#csrf-when).

Is there something specific that you find missing?

Can you elaborate on this?

Given the recommendation above, you would not make calls to an endpoint that requires CSRF protection.

[2020-03-24 16:03] rwinch commented on #6388
So you are trying to support gRPC?

[2020-03-24 16:08] jzheaux opened #8176 "Document JwtGrantedAuthoritiesConverter"
`JwtGrantedAuthoritiesConverter#setAuthoritiesClaimName` and `#setAuthorityPrefix` are undocumented.

[2020-03-24 16:09] rwinch commented on #5207
You cannot use `.block()` because it subscribes and does not have the security context as part of the subscriber context that is established by Spring Security's WebFilter.

If you believe this is a bug, please provide a complete and minimal sample (i.e. GitHub repository) of the problem with details on how to reproduce the issue, what you expect to happen, and what actually happens.

[2020-03-24 16:14] rwinch commented on #8148
https://web.archive.org/web/20180819014446/http://jaspan.com/improved_persistent_login_cookie_best_practice

[code]

[2020-03-24 16:22] rwinch commented on #8143
Thanks for the detailed sample. I don't think this can work at the moment because the `ReactiveSecurityContextHolder` leverages Reactor's [Context](https://projectreactor.io/docs/core/release/reference/#context) which as far as I know requires the return types to be `Mono` or `Flux` at this point. Any method that breaks this chain would mean we would not have access to the `Authentication` and can

[2020-03-24 16:38] ST-DDT commented on #6388
I already implemented the security part for grpc,

I just would like to re-use the "internet-tested" implementations used by spring. Mostly for the implementations of these:

- https://github.com/yidongnan/grpc-spring-boot-starter/blob/master/grpc-server-spring-boot-autoconfigure/src/main/java/net/devh/boot/grpc/server/security/authentication/BasicGrpcAuthenticationReader.java#L67-L85 (code not re

[2020-03-24 16:48] simonbasle commented on #8143
IIRC Kotlin Coroutines' have their own concept of context which can be bridged over to Reactor's `Context` when adapting a `Flux`/`Mono` (and should be when using the official bridges IIRC, if that is still a thing). maybe @sdeleuze will have more insight into that.

[2020-03-24 17:12] TonCherAmi commented on #8143
Interop between coroutine context and Reactor context should be possible according to this issue kotlin/kotlinx.coroutines#284

[2020-03-24 17:25] jgrandja opened #8177 "Fix OAuth2AuthorizationRequest additionalParameters/attributes Consumer"
See [comment](https://github.com/spring-projects/spring-security/issues/7696#issuecomment-600023868) for details on this bug.

Related #7748 #7696

[2020-03-24 17:27] spring-issuemaster opened #8178 "Fix OAuth2AuthorizationRequest additionalParameters/attributes Consumer"
Backport of gh-8177

[2020-03-24 17:29] jgrandja commented on #7696
Thank you for reporting this @jadzie and for the sample! This indeed is a bug. I logged #8177 and have a fix coming up.

[2020-03-24 17:35] spring-issuemaster opened #8179 "userNameAttribute case style is different others"
Backport of gh-8169

[2020-03-24 17:35] #8179 closed

[2020-03-24 17:59] #8177 closed

[2020-03-24 18:00] spring-issuemaster commented on #8178
Fixed via a1bcd4ed0045d8dab612e9900919eb3b84de2643

[2020-03-24 18:00] #8178 closed

[2020-03-24 18:16] spring-issuemaster opened #8180 "Make OAuth2ErrorHttpMessageConverter more resilient"
Backport of gh-8157

[2020-03-24 18:16] spring-issuemaster opened #8181 "Make OAuth2ErrorHttpMessageConverter more resilient"
Backport of gh-8157

[2020-03-24 18:56] #8157 closed

[2020-03-24 18:57] spring-issuemaster commented on #8158
Fixed via 044c30c3bc16eeb30e1bf97ec756d9c0f0c8cb1b

[2020-03-24 18:57] #8158 closed

[2020-03-24 18:57] spring-issuemaster commented on #8180
Fixed via f06aa724bfad75c6febb54d22147deb0a530ce22

[2020-03-24 18:57] #8180 closed

[2020-03-24 18:58] spring-issuemaster commented on #8181
Fixed via 3a46ba8a852e6265f100fe429c888ef3a838b788

[2020-03-24 18:58] #8181 closed

[2020-03-24 20:39] #8176 closed

[2020-03-24 21:07] jzheaux opened #8182 "Add Figures to Resource Server Docs"
Related to #8039

[2020-03-24 21:08] spring-issuemaster opened #8183 "Document JwtGrantedAuthoritiesConverter"
Backport of gh-8176

[2020-03-24 21:08] spring-issuemaster commented on #8183
Fixed via 1ebb73856b070706efae25d9043634c33850bab0

[2020-03-24 21:08] #8183 closed

[2020-03-24 21:51] spring-issuemaster commented on #8092
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-03-24 21:51] #8092 closed

[2020-03-24 22:50] jzheaux opened #8185 "Resource Server configurers should pick up a JwtAuthenticationConverter bean"
It's quite convenient to be able to expose `JwtDecoder` or `ReactiveJwtDecoder` as a bean and have Spring Security's OAuth 2.0 Resource Server pick it up.

It would be nice to be able to do the same with `JwtAuthenticationConverter`:

[code]

[2020-03-24 22:56] jzheaux opened #8186 "JwtAuthenticationConverter should allow for configuring the principal claim"
Related to https://github.com/spring-projects/spring-security/issues/6865 and https://github.com/spring-projects/spring-security/issues/7834

It's quite common for authorization servers to use the `sub` claim to refer to an internal user id. An example of this is Amazon Cognito. As such, it can be useful to introduce a custom claim to refer to a user id that resource servers will understand.

Conf

[2020-03-25 06:26] jadzie commented on #7696
@jgrandja glad I could help :)

[2020-03-25 13:31] rwinch commented on #8143
Thanks for the additional details @simonbasle and @TonCherAmi We will look into this one once https://github.com/spring-projects/spring-framework/issues/22462 is addressed.

[2020-03-25 14:05] sdeleuze commented on #8143
Indeed we still need to complete the Coroutines story with AOP and annotation based security and transaction support.

@rwinch I will synchronize with you asap we make progress on this issue.

[2020-03-25 14:25] martinnemec3 opened #8187 "OAuth2 ClientRegistrations NPE when UserInfo endpoint missing"
### Summary

When using spring-security-oauth2-client to authenticate via an OIDC provider and using OIDC discovery protocol to autoconfigure client registrations there can happen a NPE during the application startup if the userinfo_endpoint is not present in the OIDC configuration response.

### Actual Behavior

Doing a call of `ClientRegistrations.fromIssuerLocation(String)` with an URI of OIDC

[2020-03-25 16:45] jzheaux commented on #8141
I think I need to have a clearer idea on what inputs are determining what outputs. So far, I understand that you'd prefer to take something from the `HttpServletRequest`, but I'm not clear on what and on how that manifests itself in the resulting `AuthnRequest`.

Can you elaborate on precisely what you are wanting to add to the `AuthnRequest` and what inputs determine what gets added?

[2020-03-25 18:36] spring-issuemaster commented on #8107
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-03-25 18:58] asaikali opened #8188 "Rename Preface Section of docs to Introduction"
Current [5.3.0 docs](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#preface) has a section called preface that has several chapters of content. It will be clearer to call the section introduction rather than preface, since preface typically is a short intro to a book a couple of pages long.

[2020-03-25 19:29] Primedo commented on #8141
I want the current user (anonymous or authenticated) to authenticate with an `exact` or `better` authentication method based on the needed authentication level for the desired action (e. g. second factor to change password, identity card to change address, username-password or better for initial authentication).

Does this help?

[2020-03-25 20:02] asaikali opened #8189 "Refactor Features chapter of the docs"
[Chapter 5. Features](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#features) content does not match it's title.

What I am expect for from the the chapters titled 'features' is quick read without a lot of details that covers.

- a list of all the features spring security implements
- if the features is implemented for servlets, reactive or both
- if the feature i

[2020-03-25 20:25] asaikali opened #8190 "Add a list of samples to the docs"
[Chapter 7 Samples](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#samples) is quite lite on content, it just links to the samples directory on git repo. I propose adding the following sections to the Samples chapter.

- a Short overview section describing what samples exist in the samples/  project
- Sample apps directory with an entry for each sample app.

This w

[2020-03-25 20:37] jzheaux commented on #8141
Yes, that helps, @Primedo.

When it's an authenticated user, are the details you need tied to the current `Authentication`? For example, could you do `Authentication current = SecurityContextHolder.getContext().getAuthentication();` and find your inputs from `current`?

[2020-03-25 20:38] asaikali opened #8191 "Add a how to run the samples section to Samples chapter in docs"
[Chapter 7 Samples](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#samples) does not provide any guidance on how to run the samples. The samples have dependencies based on the gradle project for example

[code]
To run the samples you can't just import that one project into the IDE you need to import all of spring security project into the IDE. Also the link to the

[2020-03-25 20:51] asaikali opened #8192 "Add a how to contribute to docs section to the docs"
A person wishing to contribute to the documentation for example adding a small section, clarifying some content has to figure out how to contribute to the docs. an occasional contributor might have 1 hour to improve the docs, but it is not obvious how long it will take to configure a tool chain to effectively contribute docs. I suggest adding a section on how contribute to the docs into the docs s

[2020-03-25 20:52] jzheaux commented on #8144
That could be nice, yes. I think it should be `getConfiguredPort` so that the same pattern can be applied to `UnboundIdContainer` which already supports a zero port.

[2020-03-25 20:56] Primedo commented on #8141
Yes, that would work.

And for anonymous users it would be helpful to have some context (cookie, URL, session or something else), so that the desired `RequestedAuthnContext` is known before creating the SAML Request.

[2020-03-25 21:10] jzheaux commented on #6843
This was fixed in `5.2.0.M3`, @netdevfighter. What version are you using?

[2020-03-25 21:15] asaikali opened #8193 "Add a Reactive vs. Servlets Security Section to the docs"
Add a section to the Introduction part of the docs about `Reactive vs. Servlet` security. This section should explain to users what are the fundamental differences between security in a reactive world and a servlet world. topics to touch on in the section are.

* Thread locals variables, how spring security uses them.
* Architecture assumptions spring security made that were no longer true in a re

[2020-03-25 21:32] asaikali opened #8194 "Add a configuring spring security section to the introduction part of the docs"
There are lots of ways to configure spring security, xml, java config classic, java config lambdas, boot auto configuration. The internet is full of blog posts, stackoveflow questions, on how to configure spring security to do x, or y. Many of these posts are out of date, it is super confusing to know if you are doing things right. Given that a misconfiguration of spring security in an application

[2020-03-25 21:43] asaikali opened #8195 "Move Spring Security Crypto Module out of the Servlets Section in docs"
[Spring Security Crypto Module](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#crypto) is can be used with both servlet apps and reactive apps, section should be moved to the introduction part docs.

[2020-03-25 21:44] asaikali opened #8196 "Remove empty Appendix Section from docs"
[Appendix Section](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix) in docs is empty it should be removed.

[2020-03-25 21:51] asaikali opened #8197 "Security database schema section of docs contains unrelated content"
[22. Security Database Schema](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix-schema) sections contains unrelated sections, these sections should be moved into thier own chapters.

* [The security namespace](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix-namespace)
* [22.6. Spring Security Dependencies](https://doc

[2020-03-25 21:53] asaikali opened #8198 "Spring Security FAQ should be moved into Intro Part of the docs"
[22.7. Spring Security FAQ](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix-faq) should be more easily discoverable, suggest moving it to the Introduction part of the documentation.

[2020-03-25 22:00] asaikali opened #8199 "Merge Project Modules and Dependencies Section of the docs"
[6. Project Modules](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#modules) chapter is in the preface part of the docs and [22.6. Spring Security Dependencies](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix-dependencies) is under the Servlet Application section. There is nothing Servlet specific about the dependencies sect

[2020-03-25 22:03] jxblum opened #8200 "Navigation highlighting does not match link"
In the Spring Security, `5.3.1.BUILD-SNAPSHOT` Reference Documentation, the (left) navigation highlighting is off by 1.

I am using the Google Chrome on Mac OS X.

For example, when I click on `6.3. Web — spring-security-web.jar` then `6.4 - Config - spring-security-config.jar` highlights.  If I click `Config - …` then the `LDAP - …` menu item highlights and so on.

See screen shot:

<img width="1

[2020-03-25 22:05] rwinch commented on #8200
Thanks for the report. I am wondering if this is a bug in the JavaScript we use when working with sections that are short.

[2020-03-25 22:07] jzheaux commented on #8141
Do you have a concrete requirement here? Otherwise, maybe we wait on that aspect for now.

One thing you should be able to do then, which would require no enhancement at all, is for you to extend OpenSAML's `AuthnRequestMarshaller`, registering it with `XMLObjectProviderRegistrySupport.registerObjectProvider`. There, you'd have full control over post-processing the `AuthnRequest`.

[2020-03-25 22:31] #8182 closed

[2020-03-25 22:51] Primedo commented on #8141
An anonymous user is on the public site and wants to change his address. Since address change does require an authentication by id card or better this information should be transported to the IdP, otherwise the anonymous user would maybe have to authenticate twice with different methods.

Thanks, is this your preferred solution for this issue?

[2020-03-25 23:03] jzheaux commented on #8141
Yes, @Primedo, if you can work with OpenSAML directly for your customization of the `AuthnRequest`, that would be ideal.

Of course, feel free to reopen this ticket if you run into trouble and want to take another look at changing `OpenSamlAuthenticationRequestFactory`.

[2020-03-26 02:07] jdtgh commented on #4760
I ran into this same issue with Spring Boot 2.2.5 (Spring Security 5.2.1). Here is what I think is happening
1. [AbstractConfiguredSecurityBuilder](https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/annotation/AbstractConfiguredSecurityBuilder.java#L58) maintains configurers in a `LinkedHashMap` which means they are traversed in

[2020-03-26 04:22] dgsaigit commented on #4760
@jdtgh Spring Security‘s version is 5.2.2 in spring boot 2.2.5, and it has no this bug.
I suggest you use the latest version to try again.

[2020-03-26 09:06] spring-issuemaster opened #8201 "oauth2Login WebFlux should not auto-redirect for XHR request"
Backport of gh-8118

[2020-03-26 09:06] spring-issuemaster opened #8202 "oauth2Login WebFlux should not auto-redirect for XHR request"
Backport of gh-8118

[2020-03-26 09:06] spring-issuemaster opened #8203 "oauth2Login WebFlux should not auto-redirect for XHR request"
Backport of gh-8118

[2020-03-26 09:08] #8118 closed

[2020-03-26 09:09] spring-issuemaster commented on #8201
Fixed via 02308273357c0f8de7ef763e1ed290e7a3fda218

[2020-03-26 09:09] #8201 closed

[2020-03-26 09:10] spring-issuemaster commented on #8202
Fixed via 4706b16a2bd673c23c7f6c66ca65be529d7530f7

[2020-03-26 09:10] #8202 closed

[2020-03-26 09:30] spring-issuemaster commented on #8203
Fixed via a24d67375b36cf753c90b2e5d34196e1e61f47f3

[2020-03-26 09:30] #8203 closed

[2020-03-26 09:52] jgrandja commented on #8187
Thank you for reporting this @martinnemec3. This is indeed a bug. Would you be interested in submitting a PR for this fix?

[2020-03-26 12:20] kylooh commented on #7715
Im using version 5.2.0, but I still got this exception. And I checked the exception stack, I did not find any `AuthorizationGrantType == PASSWORD` code in the function
`org.springframework.security.oauth2.client.web.DefaultOAuth2AuthorizationRequestResolver.java:109`

[2020-03-26 13:20] rlanhellas opened #8204 "Add Bearer Token header in NimbusJwtDecoder retrieveResource method"
I'm trying to do an offline validation of a JWT Token, so my Authorization Server exposes the following URL: _https://myauthserver.com/rsa/_

This URL will return the JWK but it requires to pass an Authorization Bearer token in header, but looking at NimbusJwtDecor just 1 header is passed:
[code]

My suggestion is to expose some way to add customer headers or a flag to NimbusJwtDecoder knows that

[2020-03-26 13:49] jzheaux commented on #8204
@rlanhellas thanks for reaching out about this.

When building a `NimbusJwtDecoder`, you can supply a `RestOperations`:

[code]

For future reference, this feels like a question that is better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues),

[2020-03-26 13:49] #8204 closed

[2020-03-26 15:27] zpearce commented on #6881
@jgrandja is there interest in making the idea of adding the `OAuth2AuthorizationCodeGrantRequest` as a request attribute part of the official API? The way I'm reading it, the non-reactive implementation (request entity converter) gets this kind of functionality out of the box.

[2020-03-26 16:41] spring-issuemaster commented on #7763
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-03-26 16:41] #7763 closed

[2020-03-26 16:52] jgrandja commented on #6881
@zpearce I'm not sure I follow you? Can you please provide more detail. As well, if this is not related to this issue please log a new issue and we can continue the convo there.

[2020-03-26 18:52] jzheaux commented on #8097
This is good feedback, @VikkeyJiang. Yes, it's easy to forget to check a class's JavaDocs when considering a change to it; I've done the same thing before myself.

While the reference docs are indeed authoritative, I don't think they should replace JavaDocs - each has its purpose. Indeed there are a number of places in the reference documentation that say something like "for more information on th

[2020-03-26 18:53] eleftherias commented on #8172
I'm starting filters.adoc

[2020-03-26 19:00] eleftherias commented on #8172
I'm starting delegating-filter-proxy.adoc and security-context-holder.adoc

[2020-03-26 19:16] spring-issuemaster opened #8207 "Getting OAuth2AuthenticationException when Bearer token is empty"
Backport of gh-7668

[2020-03-26 19:16] spring-issuemaster commented on #8207
Fixed via cb7786bf97b7a552c47e4aceaf6b92400e6c2dcc

[2020-03-26 19:16] #8207 closed

[2020-03-26 19:19] jzheaux commented on #7668
@obarat I believe this would be fixed by the same commit. I've just backported the commit to the `5.2.x` branch. What version of are you using?

[2020-03-26 19:28] jzheaux commented on #7513
@lilalinux Are you looking for the `OpenSamlAuthenticationRequestFactory#setProtocolBinding` method? I'm not clear on what you are looking for a workaround to.

[2020-03-26 19:29] jzheaux commented on #7513
And just to clarify with respect to the conversation about the `ProtocolBinding` attribute in `AuthnRequest` payloads, the [specification](http://docs.oasis-open.org/security/saml/v2.0/saml-profiles-2.0-os.pdf) says:

[code]
So while the schema for `AuthnRequest#ProtocolBinding` may technically allow Redirect, a SAML 2.0-compliant IdP will only return POST or Artifact.

[2020-03-26 19:46] jzheaux commented on #4183
Note that working around this is already possible via `setSwitchUserMatcher` and `setExitUserMatcher`:

[code]

[2020-03-26 20:11] eleftherias opened #8208 "Update Encryptors documentation for standard and stronger"
### Summary

This involves updating the reference documentation and the Javadocs for `Encryptors.stronger` and `Encryptor.standard`.

Currently, the reference documentation only mentions the `standard`(CBC) encryptor.
We should mention the `stronger`(GCM) encryptor and suggest that users favour this, as it is more secure.

We should also update the Javadocs for both `standard` and `stronger` in or

[2020-03-26 20:25] eleftherias commented on #7483
Thanks for the report. This is a duplicate of gh-5253.

[2020-03-26 20:25] #7483 closed

[2020-03-26 20:43] jzheaux commented on #4202
Reading the issue log, it appears that the behavior may be non-deterministic. Also, both samples listed in the issue are a bit out of date. Finally, I believe that @rwinch concluded at the time that there was nothing that Spring Security could do:

That said, @saiya, would you be able to provide a minimal sample that reproduces your issue?

[2020-03-26 22:15] jzheaux commented on #7740
I guess I'm not clear on why this is necessary. Isn't `java.net.UUID` based off of `SecureRandom`? AFAIK, `java.net.UUID` takes a `SecureRandom` sequence of bytes and mutates it into the [RFC 4122](http://www.ietf.org/rfc/rfc4122.txt) standard.

`java.net.UUID` can be no more unique than its source so I don't see how changing to `UUID` is an improvement, especially since the existing implementatio

[2020-03-27 02:18] jdtgh commented on #4760
I upgraded to Spring Boot 2.2.6 and can still replicate the issue. I have narrowed it down to being caused by me disabling CSRF, which eliminates all the `LogoutHandler` classes registered in the default `HttpSecurity` configuration.

I have created a simple project which demonstrates the problem.

https://github.com/jdtgh/spring-security-4760

If you fire the application up as is you get the foll

[2020-03-27 09:04] alrawasabed commented on #3958
hello @hvgotcodes did you find a solution for your case?
I see the same behavior you described while having this in a `ResourceServerConfigurer`:
`.addFilterBefore(myCustomFilter(), AbstractPreAuthenticatedProcessingFilter.class)`

[2020-03-27 10:13] spring-issuemaster opened #8209 "OAuth2 ClientRegistrations NPE when UserInfo endpoint missing"
Backport of gh-8187

[2020-03-27 10:20] spring-issuemaster opened #8210 "OAuth2 ClientRegistrations NPE when UserInfo endpoint missing"
Backport of gh-8187

[2020-03-27 10:23] #8187 closed

[2020-03-27 10:24] spring-issuemaster commented on #8209
Fixed via dfc25dc2456400d59253fa05a6134e54b004b69c

[2020-03-27 10:24] #8209 closed

[2020-03-27 10:24] spring-issuemaster commented on #8210
Fixed via a9a9c2c0fd8ea85bf4201bd21aed808a42dddda0

[2020-03-27 10:24] #8210 closed

[2020-03-27 10:28] dgsaigit commented on #4760
@jdtgh @spring-issuemaster
The cause of this bug is when instantiating HttpServlet3RequestFactory：
[code]
By default, .servletApi () is in front of logout (), so the logoutHandlers is empty。

Solving this problem is simple, just put .servletApi () after .logout (). like that:
org.springframework.security.config.annotation.web.configuration.WebSecurityConfigurerAdapter#getHttp
[code]
you can test l

[2020-03-27 13:51] #8208 closed

[2020-03-27 14:14] spring-issuemaster opened #8211 "Update Encryptors documentation for standard and stronger"
Backport of gh-8208

[2020-03-27 14:14] spring-issuemaster commented on #8211
Fixed via 4e8c177652fc18b57695519d2bc1681505954cc0

[2020-03-27 14:14] #8211 closed

[2020-03-27 14:34] spring-issuemaster opened #8212 "Update Encryptors documentation for standard and stronger"
Backport of gh-8208

[2020-03-27 14:34] spring-issuemaster commented on #8212
Fixed via 01f8eb3961ab16107448e39932f850c0f2ea71df

[2020-03-27 14:34] #8212 closed

[2020-03-27 14:42] wassan128 opened #8213 "Broken links found in doc"
I happened to found some links broken about `ClientRegistration` in "[oauth2-login.adoc](https://github.com/wassan128/spring-security/blob/2fa6ae7a6c28e0ab7b41f9228dc75fe0033bd081/docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-login.adoc)".
I fixed these in the https://github.com/spring-projects/spring-security/pull/8214.

ref. https://asciidoctor.org/docs/asciidoc-syntax-quick-refe

[2020-03-27 14:59] rwinch commented on #8189
Good suggestion! Would you be interested in submitting a PR?

[2020-03-27 15:03] spring-issuemaster opened #8215 "Update Encryptors documentation for standard and stronger"
Backport of gh-8208

[2020-03-27 15:03] spring-issuemaster commented on #8215
Fixed via 5decfb1ecebf361780106dcfa6f4c3f0bad72306

[2020-03-27 15:03] #8215 closed

[2020-03-27 15:04] rwinch commented on #8190
I like where you are going with this suggestion. However, it might be valuable to further split this up into

* Organize Samples
* Update documentation
* Automate Documentation

For Servlets we also need to consider is it XML, Java Config, Boot, Kotlin, etc. We want all source code in the docs to be illustrated by a sample and be able to point to a complete sample so all code can be contextualized

[2020-03-27 15:08] rwinch opened #8216 "Allow Samples to Run Independently"
### Summary

Right now samples need to be imported with Spring Security. We should allow the samples to be ran independently. The sample should look just like a user would use for their own project (i.e. no strange Gradle plugins). We should also ensure we run our integration tests against the samples that are using the current source. We could potentially do this using an init.gradle that points

[2020-03-27 15:09] rwinch opened #8217 "Allow Samples to be ran Independently"
### Summary

Right now samples need to be imported with Spring Security. We should allow the samples to be ran independently. The sample should look just like a user would use for their own project (i.e. no strange Gradle plugins). We should also ensure we run our integration tests against the samples that are using the current source. We could potentially do this using an init.gradle that points

[2020-03-27 15:10] rwinch commented on #8191
This is once again a good idea. However, there is going to be some work done to split up the samples so they can run separate of Spring Security. I created gh-8217 to track that work

[2020-03-27 15:18] jzheaux commented on #7834
@xak2000 Good questions, and thank you for the detailed explanation. You bring up a good point that `BearerTokenAuthentication` would require extra work to make the `Jwt` available, like creating a custom `OAuth2AuthenticatedPrincipal` that includes `Jwt` as a member.

No, not terribly. I think in that case I'd want a constructor like:

[code]

So as to not push the semantics of the `Jwt` instance

[2020-03-27 15:24] spring-issuemaster opened #8218 "Update Encryptors documentation for standard and stronger"
Backport of gh-8208

[2020-03-27 15:24] spring-issuemaster commented on #8218
Fixed via e3a11c98bdb44b8833ff31a8b94cb0709d0204e6

[2020-03-27 15:24] #8218 closed

[2020-03-27 15:33] jvanheesch commented on #6814
Please note that the spring security reference demonstrates [RestTemplate bearer token propagation using SecurityContextHolder.getContext().getAuthentication()](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#resttemplate-support).
If the accessToken is expired and the security context is not refreshed, this approach breaks.

[2020-03-27 15:42] rwinch commented on #8192
I think this might be best kept in the [CONTRIBUTING.md](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md) file

[2020-03-27 15:45] rwinch commented on #8193
We could potentially do WebFlux vs Servlet, but Reactive vs Servlet is not really a good comparison since, for example, RSocket is only supported on the Reactive side and has no "Servlet" comparison

[2020-03-27 15:50] rwinch commented on #8194
I like the suggestion. A few things to talk about though:

* I don't think we will give a Recommended approach short of saying use Spring Boot. Spring tends to stay out of opinions
* I'd like this introductory section to be a follow up to the Hello Security section. We'd need Hello Security samples for each type of configuration we want.
* We would also want to discuss how bootstrapping the config

[2020-03-27 15:51] rwinch commented on #8195
Thanks for the suggestion! Would you be interested in submitting a PR?

[2020-03-27 15:53] spring-issuemaster opened #8219 "Update Encryptors documentation for standard and stronger"
Backport of gh-8208

[2020-03-27 15:53] spring-issuemaster commented on #8219
Fixed via bde423524bd0c0d5fe96963e7bc1bd8d8b133e2f

[2020-03-27 15:53] #8219 closed

[2020-03-27 15:53] rwinch commented on #8196
This is actually a mistake in the hierarchy. The following sections should be in the Appendix:

* Security Database Schema
* The Security Namespace
* Spring Security Dependencies
* Spring Security FAQ

[2020-03-27 15:54] rwinch commented on #8197
Thanks for the report. This is a duplicate. Please see https://github.com/spring-projects/spring-security/issues/8196#issuecomment-605076142

[2020-03-27 15:54] #8197 closed

[2020-03-27 15:56] rwinch commented on #8198
I think we want to keep Servlet/Reactive specific FAQ in its own location. If there are things that are general, then it can be in the intro. The intro FAQ could have a link to the specific FAQ sections

[2020-03-27 17:30] rwinch commented on #8199
Good idea! Any chance you could submit a PR?

[2020-03-27 18:22] eleftherias commented on #8172
I'm starting crypto/index.adoc and preauth.adoc

[2020-03-27 19:21] jzheaux opened #8220 "Clarify use case for `ServerBearerExchangeFilterFunction`"
Related to https://github.com/spring-projects/spring-security/issues/6814#issuecomment-605065171

The reference documentation around how to propagate tokens in OAuth 2.0 Resource Server may be construed to be talking about how to do things with OAuth 2.0 Client. It should be updated to indicate when and when not to use `ServerBearerExchangeFilterFunction`.

[2020-03-27 19:24] #8220 closed

[2020-03-27 19:26] spring-issuemaster opened #8221 "Clarify use case for `ServerBearerExchangeFilterFunction`"
Backport of gh-8220

[2020-03-27 19:26] spring-issuemaster commented on #8221
Fixed via 0bde3c5c8f6916dc4824c864ef1074a10c759d2a

[2020-03-27 19:26] #8221 closed

[2020-03-27 20:23] #4183 closed

[2020-03-27 20:37] jzheaux commented on #4183
Since this fix breaks passivity, I'll also mention here how to restore the old behavior for anyone who may need it.

To allow `/login/impersonate` for any endpoint, set the `switchUserMatcher` and `exitUserMatcher` properties:

[code]

[2020-03-27 20:38] spring-issuemaster opened #8222 "SwitchUserFilter vulnerable to CSRF"
Backport of gh-4183

[2020-03-27 20:38] spring-issuemaster commented on #8222
Fixed via 034c23d46c6968d052025db24477627442c284a2

[2020-03-27 20:38] #8222 closed

[2020-03-27 20:42] spring-issuemaster opened #8223 "SwitchUserFilter vulnerable to CSRF"
Backport of gh-4183

[2020-03-27 20:42] spring-issuemaster commented on #8223
Fixed via 258627eaee5faf9c0ec8b1d15a024350193da814

[2020-03-27 20:42] #8223 closed

[2020-03-27 20:42] spring-issuemaster opened #8224 "SwitchUserFilter vulnerable to CSRF"
Backport of gh-4183

[2020-03-27 20:42] spring-issuemaster commented on #8224
Fixed via a44225d334d49398478db5887616acf80d9b9179

[2020-03-27 20:42] #8224 closed

[2020-03-27 20:43] spring-issuemaster opened #8225 "SwitchUserFilter vulnerable to CSRF"
Backport of gh-4183

[2020-03-27 20:43] spring-issuemaster commented on #8225
Fixed via b50e5117457b62e101b9add98af456931cf5a674

[2020-03-27 20:43] #8225 closed

[2020-03-27 20:44] spring-issuemaster opened #8226 "SwitchUserFilter vulnerable to CSRF"
Backport of gh-4183

[2020-03-27 20:44] spring-issuemaster commented on #8226
Fixed via 820b2046fb395616e16badaa0745973b4e9e4ca7

[2020-03-27 20:44] #8226 closed

[2020-03-27 21:48] rwinch commented on #4760
Can someone provide a complete and minimal sample (i.e. GitHub project) demonstrating the issue?

[2020-03-27 21:56] #8213 closed

[2020-03-27 21:59] spring-issuemaster opened #8227 "Broken links found in doc"
Backport of gh-8213

[2020-03-27 22:00] rwinch commented on #8227
Fixed via 138e676b45996231f8dd288667e848a40f909cdf

[2020-03-27 22:00] #8227 closed

[2020-03-27 22:29] jdtgh commented on #4760
I provided a sample project link in my last comment.

https://github.com/spring-projects/spring-security/issues/4760#issuecomment-604779826

[2020-03-28 00:33] ch4mpy opened #8228 "WebMvcTest / MockMvc bug with mocked Authentication ?"
### Summary

Injected `Authentication` as `@Controller` method parameter is null in a `@WebMvcTest` when using a (Mockito) mocked authentication.

I tried with both an annotation and a request post processor.

Note that I have **not** the same problem in `@WebFluxTest`, using the same annotation or a WebTestClient Configurer with implementation very similar to above mentioned post-processor.

###

[2020-03-28 08:54] xak2000 commented on #7834
@jzheaux Thanks for the response!

Maybe you are right. It would be more general solution constructor than my version (that implies that `Jwt` is always a credential). But honestly, I can't imagine a situation when you want `JwtAuthenticationToken` with `credentials` other than `Jwt` itself.

The `principal` is other case. It's a usual situation (in my opinion) when you use JWT token as an authent

[2020-03-28 12:49] dgsaigit commented on #4760
@rwinch
this is my demo，and I wrote a test case, you can try it:

https://github.com/sai-studio/spring-security-bug-4760

[2020-03-28 14:21] jvanheesch opened #8229 "Please consider improving oauth2Login integration with Keycloak's backchannel logout."
Please bear(er) with me.
I definitely don't want Spring to contain vendor specific logic.
I just want to:
- inform the Spring team about the difficulties with this particular integration (maybe some things could be improved, either on Spring side or on Keycloak side)
- find out if there's currently a better way to set this up

I have not made a self-contained reproducer as that would be quite a bi

[2020-03-28 16:53] cipriandumitrel opened #8230 "java.lang.IllegalArgumentException: serverWebExchange cannot be null when using WebClient with client_credentials"
### Summary

From my service I am performing http calls to an external service OAuth2 protected. The flow that we are using for the communication is "client_credentials".  I am using not the RestTemplate http client but the WebClient. The WebClient is configured like this:

[code]

### Actual Behavior

When I perform the call like this:

[code]
, I get IllegalArgumentException:

[code]
, and debug

[2020-03-29 14:59] cipriandumitrel commented on #8230
The reason for which I used the ServerOAuth2AuthorizedClientExchangeFilterFunction constructor that receives an authorized client manager (and not the one that receives a ReactiveClientRegistrationRepository and a ServerOAuth2AuthorizedClientRepository) is that I needed to implement my own ReactiveOAuth2AccessTokenResponseClient, in order to customize the form parameters list used for the get toke

[2020-03-30 05:35] jaggerwang commented on #8125
There is a better way to use `defaultAuthenticationEntryPointFor`.

[code]

[2020-03-30 15:02] spring-issuemaster commented on #7975
Fixed via f892746c008a088287f24baaa9e856fcc59c441e

[2020-03-30 15:04] rwinch commented on #7975
Thanks for the report @davyrod  and additional details @ghusta. This is related to an update to our Bamboo server which required us making some changes to how things were deployed. The good news is that deployment is now totally independent of Bamboo which allows us to ensure passivity.

A fix has been pushed to 4.2.x and will be released later this week.

[2020-03-30 15:56] eleftherias commented on #3038
See gh-181 for more information.

[2020-03-30 15:56] #3038 closed

[2020-03-30 16:06] sergiopacezup opened #8231 "Use HTTP Basic Auth with OAuth2 login at the same time"
### Summary

Is it possible to configure HTTP Basic Auth for a group of paths and OAuth2 for the rest of the application?

### Actual Behavior

?

### Expected Behavior

GET /basic
Authorization Basic a234abcdef

GET /oauth
Authorization Bearer a9b4c5d0f

### Configuration

The configuration below is not valid, but I would like to be able to do something like that:
[code]
### Version
5.2.2

[2020-03-30 16:11] jgrandja commented on #8231
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-03-30 16:11] #8231 closed

[2020-03-30 16:12] rwinch commented on #8228
Thanks for the report. Can you please reduce this to a minimal sample needed to reproduce the problem? The sample should likely contain less than 10 classes and not require any third party jars that Spring Security does not already use.

[2020-03-30 16:30] jgrandja commented on #8230
@cipriandumitrel Instead of creating `AnonymousReactiveOAuth2AuthorizedClientManager`, you can use `AuthorizedClientServiceReactiveOAuth2AuthorizedClientManager` (since 5.2.2) or `AuthorizedClientServiceOAuth2AuthorizedClientManager` (since 5.2.0). These managers are instended to be used **outside of a request context**. The reference documentation was recently updated in 5.2.3.BUILD-SNAPSHOT. Ple

[2020-03-30 16:30] #8230 closed

[2020-03-30 16:44] jgrandja commented on #8229
Thank you for the details @jvanheesch. This seems like a duplicate of #7845. I would prefer to log the details there and close this issue.

Unfortunately, #7845 is not scheduled for 5.4. However, if you're interested in submitting a PR for this then maybe we can get it into 5.4.

[2020-03-30 17:57] ch4mpy commented on #8228
https://github.com/ch4mpy/issue-8228

[2020-03-30 19:21] jvanheesch commented on #8229
It's definitely not a duplicate, but it is related.
If Keycloak supported back-channel logout, this issue would be obsolete, but as [you noted in another related issue](https://github.com/spring-projects/spring-security/issues/7770#issuecomment-574297124), Keycloak's back-channel logout mechanism is proprietary and not spec-compliant.
Keycloak does have [plans to support OIDC back-channel logout](

[2020-03-30 19:31] rwinch commented on #8228
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-03-30 19:31] #8228 closed

[2020-03-30 19:41] cipriandumitrel commented on #8230
Hi, @jgrandja ,

Indeed, the solution works for me. I'm sorry that I haven't read the documentation thoroughly. I haven't stumbled across this implementation of ReactiveOAuth2AuthorizedClientManager in the codebase.

Thanks a lot for your help.

[2020-03-30 20:44] ch4mpy commented on #8228
@rwinch , why did you close this issue?

There is a bug to me:
- The `Authentication` is provided at runtime.
- The `Authentication` is also provided when the annotation security context factory feeds the context with something else than a mock

Please provide with additional explanations if the minimal sample, which is composed of 9 classes only, is missconfigured.

[2020-03-30 21:15] fpagliar opened #8232 "OpenSamlAuthenticationRequestFactory has a very closed design"
### Summary

It is impossible to create AuthNRequests aside from the default configuration with the current implementation. The class is not designed for extension, offers no configuration options and composition is also out of the picture for creating requests.

A developer needing to customize the experience of creating requests has no option but to create a copy of this class which is undesirab

[2020-03-30 21:17] ch4mpy commented on #8228
As "little tweek", I mean replacing:
[code]
with:
[code]
`TestAuthentication` being the simplest possible `Authentication` implementation:
[code]

[2020-03-30 21:31] eleftherias commented on #3187
This was fixed as part of gh-2009 in 7344212.

[2020-03-30 21:31] #3187 closed

[2020-03-30 21:34] rwinch opened #8233 "SpringTestContext returns ConfigurableWebApplicationContext"
### Summary

SpringTestContext returns ConfigurableWebApplicationContext. This will allow for using it to create a MockMvc instance

[2020-03-30 21:36] hanscrg commented on #7985
@jgrandja, @rwinch, I tried @jgrandja's suggestion to include two Beans in our SpringBoot application as below, the customization is trying to disable Netty Pooled Connection and create new connection everytime, but it does not seems to be effective. The logs still shows PooledconnectionProvider used.

[reactor-http-epoll-6] DEBUG r.n.r.PooledConnectionProvider:254 -  Channel cleaned, now 0 active

[2020-03-30 22:12] fpagliar commented on #8141
This request was actually totally on point about limited support in the creation of AuthNRequests.
See [this issue](https://github.com/spring-projects/spring-security/issues/8232)

[2020-03-30 22:27] fpagliar commented on #8232
Actually support for AuthNContextClassRef falls in this category too.

[2020-03-30 22:56] ch4mpy commented on #8228
https://stackoverflow.com/questions/60940334/why-do-i-get-null-authentication-as-controller-method-parameter-in-webmvcte

[2020-03-30 23:01] #4760 closed

[2020-03-30 23:01] #8233 closed

[2020-03-31 01:29] spring-issuemaster opened #8234 "OAuth2LoginAuthenticationProvider uses OAuth2AuthorizationCodeAuthenticationProvider"
Backport of gh-5633

[2020-03-31 01:29] spring-issuemaster opened #8235 "OAuth2LoginAuthenticationProvider uses OAuth2AuthorizationCodeAuthenticationProvider"
Backport of gh-5633

[2020-03-31 01:29] spring-issuemaster opened #8236 "OAuth2LoginAuthenticationProvider uses OAuth2AuthorizationCodeAuthenticationProvider"
Backport of gh-5633

[2020-03-31 01:32] #5633 closed

[2020-03-31 01:32] spring-issuemaster commented on #8234
Fixed via 45eb34c9a61844c3a6f50c2d338e8004a6b8e9b9

[2020-03-31 01:32] #8234 closed

[2020-03-31 01:33] spring-issuemaster commented on #8235
Fixed via 401597c6738b12b9bfb2601b1ed841ca424bebd5

[2020-03-31 01:33] #8235 closed

[2020-03-31 01:37] jgrandja commented on #8236
Fixed via 19f08cb

[2020-03-31 01:37] #8236 closed

[2020-03-31 01:50] spring-issuemaster opened #8237 "SpringTestContext returns ConfigurableWebApplicationContext"
Backport of gh-8233

[2020-03-31 01:50] spring-issuemaster opened #8238 "HttpServletRequest.logout() not functioning"
Backport of gh-4760

[2020-03-31 01:50] spring-issuemaster commented on #8237
Fixed via f82d59a1e5f1e58e3dba7def51d77babadd505c1

[2020-03-31 01:50] spring-issuemaster commented on #8238
Fixed via 0e6e2b2a21e15558b032560649723b86ecfe8073

[2020-03-31 01:50] #8238 closed

[2020-03-31 01:50] #8237 closed

[2020-03-31 02:37] SledgeHammer01 opened #8239 "Bug in BasicAuthenticationConverter"
If you take a look at BasicAuthenticationConverter.java @ convert(HttpServletRequest request), around line 90, you'll see:

byte[] base64Token = header.substring(6).getBytes(StandardCharsets.UTF_8);

There is no validation on the length of the header, so if a "Authorization: Basic" or "Authorization: Basic " is sent, a String exception will be thrown. Need to add a length check before hand.

[2020-03-31 02:38] rwinch commented on #8228
I've answered on StackOverflow https://stackoverflow.com/a/60942496/618087

For what it is worth, I don't feel like  your statement on StackOverflow (emphasis mine) is fair:

I closed this issue when you did not produce a minimal sample as I requested. This guideline is [expected on StackOverflow](https://stackoverflow.com/help/minimal-reproducible-example) and I  think it is reasonable to expect

[2020-03-31 02:53] spring-issuemaster opened #8240 "SpringTestContext returns ConfigurableWebApplicationContext"
Backport of gh-8233

[2020-03-31 02:53] spring-issuemaster opened #8241 "HttpServletRequest.logout() not functioning"
Backport of gh-4760

[2020-03-31 02:53] spring-issuemaster commented on #8240
Fixed via 32c335392187b5802107997b64a299fb8ef6771a

[2020-03-31 02:53] #8240 closed

[2020-03-31 02:53] spring-issuemaster commented on #8241
Fixed via 615f9a3f05e76d485b2ca412af05c7beede414f2

[2020-03-31 02:53] #8241 closed

[2020-03-31 03:05] spring-issuemaster opened #8242 "HttpServletRequest.logout() not functioning"
Backport of gh-4760

[2020-03-31 03:05] spring-issuemaster commented on #8242
Fixed via 6de345b972e551164dc3e22942daf29515782938

[2020-03-31 03:05] #8242 closed

[2020-03-31 03:20] spring-issuemaster opened #8243 "HttpServletRequest.logout() not functioning"
Backport of gh-4760

[2020-03-31 03:20] spring-issuemaster commented on #8243
Fixed via 45d81ffc49b5441d7afc52a823c2758019153ff9

[2020-03-31 03:20] #8243 closed

[2020-03-31 03:20] spring-issuemaster opened #8244 "HttpServletRequest.logout() not functioning"
Backport of gh-4760

[2020-03-31 03:20] spring-issuemaster commented on #8244
Fixed via d98d23e5ef639823cb2b4c83c1b59ab8c83c2e7b

[2020-03-31 03:20] #8244 closed

[2020-03-31 03:28] rwinch commented on #8239
I believe this was fixed in gh-7976 and will be available on April 1. Can you please confirm @SledgeHammer01?

[2020-03-31 03:55] SledgeHammer01 commented on #8239
Ah, Sure :). Would I be able to reference with Spring Boot 2.2.6 or will there be some conflicts? If it is ok, how can I override the version?

[2020-03-31 04:21] ch4mpy commented on #8228
@rwinch please accept my apologies if you fell offended. I understuntand you have a lot of work AND issues to investigate.
At the moment you closed the issue, I had created a specific project (with 9 classes) and a dedicated Github repo. I really felt I had produced the requested minimal project ... until figured out later I could remove one more class.

[2020-03-31 08:06] Moomba42 opened #8245 "Duplicate Vary headers after enabling CORS filter"
### Summary

I have noticed strange behavior when requesting a static resource with GET, while having the cors filter enabled in spring security.
The problem is that the Vary headers get duplicated. This only happens, when the url gets mapped by SimpleUrlHandlerMapping to a request handler that implements CorsConfigurationSource,
because then the AbstractHandlerMapping that the SimpleUrlHandlerMap

[2020-03-31 12:19] jacace opened #8246 ".antMatchers(HttpMethod.POST, "/login").permitAll() is not working"
Hello,

I am trying to enable a POST authentication api as per below but all requests are gettig a 401:

    @Override
    protected void configure(HttpSecurity http) throws Exception {

        http
        .requestCache()
           .requestCache(new NullRequestCache())
           .and()
        .authorizeRequests()
            .antMatchers(HttpMethod.POST, "/login").permitAll()
            .and

[2020-03-31 13:01] spring-issuemaster commented on #8168
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-03-31 13:50] rwinch commented on #8228
@ch4mpy Thanks for the apology. I just didn't feel like the statement was fair or necessary for solving your issue.

Perhaps this was a bit of a real world "race condition". At the time I closed it, I did not see the simplified sample posted to the issue.

In any case, I'm glad that we were able to get your question answered. Thank you for producing the simplified sample. It made a huge difference

[2020-03-31 14:00] rwinch commented on #8239
The fix was backported to [5.2.3](https://github.com/spring-projects/spring-security/issues/8123) and [5.3.1](https://github.com/spring-projects/spring-security/issues/8122). Spring Boot should pick up the latest 5.2.x version in its next release. In the meantime, you should be able to override the property (just as you demonstrated) without any conflicts.

It isn't as intuitive as I'd like, but i

[2020-03-31 14:00] rwinch commented on #8239
Closing as duplicate of gh-7976

[2020-03-31 14:00] #8239 closed

[2020-03-31 14:13] rwinch commented on #8246
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-03-31 14:13] #8246 closed

[2020-03-31 16:02] rwinch commented on #8245
Thanks for the report and the simple example to use.

Spring Security's support just ensures that [Spring's `CorsFilter`](https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-cors-filter) is inserted in the correct order so that CORS processing happens before Spring Security's authorization checks. Spring Security doesn't do anything special here.

In fact, the issue

[2020-03-31 16:02] #8245 closed

[2020-03-31 16:11] spring-issuemaster commented on #5207
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-03-31 16:59] Moomba42 commented on #8245
Thank you for the fast reply, and a corrected branch!
I'm linking the new ticket here for future reference:
https://github.com/spring-projects/spring-framework/issues/24829

[2020-03-31 17:18] fpagliar commented on #8232
For the moment I think my workaround is using `XMLObjectProviderRegistrySupport.registerObjectProvider` plus registering a filter to inject the information into either the SecurityContext or some other global variable. But this is a big hack for pretty standard functionality.

[2020-03-31 17:32] rwinch opened #8247 "Rewrite LDAP Authentication Docs"
### Summary
Rewrite the LDAP Documentation

[2020-03-31 17:39] eleftherias commented on #3168
The README has been updated to reflect the current version.

[2020-03-31 17:39] #3168 closed

[2020-03-31 18:04] jgrandja commented on #3060
Closing as OpenID Connect client-side support is already available in Spring Security since 5.0.

[2020-03-31 18:04] #3060 closed

[2020-03-31 18:09] ch4mpy commented on #8228
@rwinch by the way, have you noticed how convenient this [`@WithMockAuthentication`](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-addons/src/main/java/com/c4_soft/springaddons/security/oauth2/test/annotations/WithMockAuthentication.java) is?

It solves most use cases missing in spring-security-test, specifically regarding OAuth2: testing of
- secured `@Services`

[2020-03-31 18:12] rwinch commented on #8228
Can you elaborate on why you care about the type? I believe in most cases the type of authentication doesn't matter. When it does matter, I suspect there are likely custom properties which cannot be dynamically added to an annotation.

[2020-03-31 18:29] ch4mpy commented on #8228
For use cases such as this one https://stackoverflow.com/questions/49144953/mocking-a-keycloak-token-for-testing-a-spring-controller

If you need to further configure authentication mock, you can then access it from test security context like I do [here](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/tests/webmvc

[2020-03-31 18:32] jgrandja commented on #7985
@hanscrg

The configuration looks correct to me. Have you tried putting a break point in `WebClientReactiveClientCredentialsTokenResponseClient` to ensure the associated `WebClient` is the one that is configured?

I'm suspecting the log entry is coming from another path in the code.

[2020-03-31 19:05] eleftherias opened #8248 "Update to Spring Data Moore-SR6"

[2020-03-31 19:06] ch4mpy commented on #8228
@rwinch  off course this additional configuration is easier using a MockMvc post-processor or WebTestClient configurer, provided that it's a @Controller under test (and not a service:
[code]

[2020-03-31 19:10] eleftherias opened #8249 "Update to Spring Framework 5.2.5"
Update to Spring Framework 5.2.5

[2020-03-31 19:17] eleftherias opened #8250 "Update to Reactor Dysprosium-SR6"
Update to Reactor Dysprosium-SR6

[2020-03-31 19:19] jgrandja commented on #8229
@jvanheesch I reviewed the OpenID Connect Back-Channel Logout spec once again and re-read your initial comment and I do see the challenges of propagating the `sid` claim to Keycloak. It does not work in a custom `OAuth2AuthorizationCodeGrantRequestEntityConverter` since the SessionId changes after the OIDC authentication flow completes, as you have indicated. And a custom `AuthenticationSuccessHan

[2020-03-31 19:20] eleftherias opened #8251 "Update to GAE 1.9.79"
Update to GAE 1.9.79

[2020-03-31 19:22] eleftherias opened #8252 "Update to Spring Boot 2.2.6.RELEASE"
Update to Spring Boot 2.2.6.RELEASE

[2020-03-31 19:37] eleftherias opened #8253 "Update to httpclient 4.5.12"
Update to httpclient 4.5.12

[2020-03-31 19:41] eleftherias opened #8254 "Upgrade to embedded Apache Tomcat 9.0.33"
Upgrade to embedded Apache Tomcat 9.0.33

[2020-03-31 19:46] eleftherias opened #8255 "Update to org.powermock 2.0.6"
Update to org.powermock 2.0.6

[2020-03-31 19:48] eleftherias opened #8256 "Update RSocket to 1.0.0-RC6"
Update RSocket to 1.0.0-RC6

[2020-03-31 19:50] eleftherias opened #8257 "Update to mockwebserver 3.14.7"
Update to mockwebserver 3.14.7

[2020-03-31 19:51] eleftherias opened #8258 "Update to Jackson 2.10.3"
Update to Jackson 2.10.3

[2020-03-31 19:55] eleftherias opened #8259 "Update to okhttp 3.14.7"
Update to okhttp 3.14.7

[2020-03-31 19:59] eximius313 commented on #5207
@rwinch - I have provided the sample project in my second comment two years ago (https://github.com/spring-projects/spring-security/issues/5207#issuecomment-379277990)

[2020-03-31 22:02] eleftherias opened #8260 "Update tests to use absolute paths"
### Summary

The changes made for spring-projects/spring-framework#24556 in Spring Framework 5.2.4 break our tests that do not use absolute paths in mock endpoints.
We should change our tests to use absolute paths, as was done in later versions by b33ed416e1f4866da0ed13ef207d0c9f3ac13b51.

[2020-03-31 22:17] hanscrg commented on #7985
@jaffadog, I put a very simple demo project on github below to show what happens. Could you please check what I am doing wrong? The project is easy to compile and run with instructions on the project page.

https://github.com/hanscrg/Sample-SpringCloudGateway-UAA

[2020-03-31 22:20] spring-issuemaster commented on #8249
Fixed via 6a9585dc0d7dd89c7af9d9b21867aec299d1b783

[2020-03-31 22:20] spring-issuemaster commented on #8260
Fixed via 298d40b7a562d807250ab1151584ce1a5b257074

[2020-03-31 22:20] #8249 closed

[2020-03-31 22:20] #8260 closed

[2020-04-01 00:50] evgeniycheban commented on #8186
Can I work on this issue?

[2020-04-01 02:27] alan-kan-dragon opened #8261 "Cannot configure cache lifespan of RemoteJWKSet"
### Summary
Module: spring-security-oauth2-jose
There is no way to configure the `RemoteJWKSet` cache lifespan even [it actually allows a `DefaultJWKSetCache` to be passed in](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java#L285) because [`JwkSetUriJwtDecoderBuilder` class is final](https:

[2020-04-01 06:26] jzheaux opened #8262 "Update to spring-boot-gradle-plugin:1.5.22.RELEASE"

[2020-04-01 06:27] jzheaux opened #8263 "Update to Groovy 2.4.19"

[2020-04-01 06:27] jzheaux opened #8264 "Update to asciidoctor-gradle-plugin:1.5.7"

[2020-04-01 06:27] jzheaux opened #8265 "Update to Tomcat 7.0.103"

[2020-04-01 06:27] jzheaux opened #8266 "Update to Jetty 8.1.22.v20160922"

[2020-04-01 06:27] jzheaux opened #8267 "Update to taglibs-standard-jstlel:1.2.5"

[2020-04-01 06:27] jzheaux opened #8268 "Update to httpclient:4.2.6"

[2020-04-01 06:27] jzheaux opened #8269 "Update to thymeleaf-layout-dialect:2.0.5"

[2020-04-01 06:27] jzheaux opened #8270 "Update to nekohtml:1.9.22"

[2020-04-01 06:27] jzheaux opened #8271 "Update to spring-io-plugin:0.0.8.RELEASE"

[2020-04-01 06:27] jzheaux opened #8272 "Update to appengine:1.9.79"

[2020-04-01 06:33] jzheaux opened #8273 "Update to jackson-databind:2.8.11.6"

[2020-04-01 13:18] eleftherias opened #8274 "Update to unboundid-ldapsdk 4.0.14"
Update to unboundid-ldapsdk 4.0.14

[2020-04-01 13:19] eleftherias opened #8275 "Update blockhound to 1.0.3.RELEASE"
Update blockhound to 1.0.3.RELEASE

[2020-04-01 13:24] eleftherias opened #8276 "Update to hibernate-core 5.2.18.Final"
Update to hibernate-core 5.2.18.Final

[2020-04-01 13:34] eleftherias opened #8277 "Update to hibernate-entitymanager 5.4.13.Final"
Update to hibernate-entitymanager 5.4.13.Final

[2020-04-01 13:36] eleftherias opened #8278 "Update to OpenSAML 3.4.5"
Update to OpenSAML 3.4.5

[2020-04-01 13:58] eleftherias opened #8279 "Update to reactive-streams 1.0.3"
Update to reactive-streams 1.0.3

[2020-04-01 14:14] spring-issuemaster commented on #8248
Fixed via 774dd7bb13b5ce360cd03e49d0840d03184b6bc1

[2020-04-01 14:14] spring-issuemaster commented on #8250
Fixed via dbdf02e86441efdc33e85a3fd3c75dc9bded68c0

[2020-04-01 14:14] spring-issuemaster commented on #8251
Fixed via 1ca3ea3a7135bd69ce80392577d730313417b624

[2020-04-01 14:14] spring-issuemaster commented on #8252
Fixed via e3c3601cf67aca876a45c9be52c4a0be9ba1ee21

[2020-04-01 14:14] spring-issuemaster commented on #8253
Fixed via eacede6171100778dc9bffd627364537478ea919

[2020-04-01 14:14] spring-issuemaster commented on #8254
Fixed via a02cd9d9e3587cc74c66bf6845d296835be250be

[2020-04-01 14:14] spring-issuemaster commented on #8255
Fixed via 08b635a85a1ad1ca98c8e44651bb44c67bcf7e00

[2020-04-01 14:14] spring-issuemaster commented on #8257
Fixed via a021cd3fd5fb4e2024afb71ebbac5c9515e160a3

[2020-04-01 14:14] spring-issuemaster commented on #8258
Fixed via 7018e7ec51ca3af71df6951a0197e5e85b641c83

[2020-04-01 14:14] spring-issuemaster commented on #8259
Fixed via 03137578460ef252478e1284b473ec7955030096

[2020-04-01 14:14] spring-issuemaster commented on #8275
Fixed via 433646b55124ed1ebcab164712a868b00e0d8d97

[2020-04-01 14:14] spring-issuemaster commented on #8276
Fixed via ed133d4b8ddfee83715a0ff747319e302b86abd4

[2020-04-01 14:14] spring-issuemaster commented on #8279
Fixed via 97f1e368ee14bcbca371ceb133402d7c700aef10

[2020-04-01 14:14] #8248 closed

[2020-04-01 14:14] #8250 closed

[2020-04-01 14:14] #8251 closed

[2020-04-01 14:14] #8252 closed

[2020-04-01 14:14] #8253 closed

[2020-04-01 14:14] #8254 closed

[2020-04-01 14:14] #8255 closed

[2020-04-01 14:14] #8257 closed

[2020-04-01 14:14] #8258 closed

[2020-04-01 14:14] #8259 closed

[2020-04-01 14:14] spring-issuemaster commented on #8274
Fixed via dd6974812fb0ae8330f6f422ad16a5c27e5ebb68

[2020-04-01 14:14] #8275 closed

[2020-04-01 14:14] #8276 closed

[2020-04-01 14:14] spring-issuemaster commented on #8277
Fixed via 80a16e828f1b1426d79fc6a0ec5bbd818b421e2d

[2020-04-01 14:14] #8277 closed

[2020-04-01 14:14] spring-issuemaster commented on #8278
Fixed via 7b5bdac74d22d3a581c9c0ae21c164de4f37f952

[2020-04-01 14:14] #8278 closed

[2020-04-01 14:14] #8279 closed

[2020-04-01 14:14] spring-issuemaster opened #8280 "Update RSocket to 1.0.0-RC6"
Backport of gh-8256

[2020-04-01 14:14] #8274 closed

[2020-04-01 14:14] spring-issuemaster commented on #8280
Fixed via a57f4bb025d171c006deda28f82476b2f1d13475

[2020-04-01 14:14] #8280 closed

[2020-04-01 14:17] eleftherias commented on #8256
This was intended to be part of 5.2.3.
See gh-8280 instead.

[2020-04-01 14:17] #8256 closed

[2020-04-01 14:19] jzheaux commented on #8262
Fixed via 21c70155a347c8443d9b1930525e9522303e81b3

[2020-04-01 14:19] #8262 closed

[2020-04-01 14:19] jzheaux commented on #8263
Fixed via 7ca913dadf6b1f2de7fa3b155f9efc0b40c00d9a

[2020-04-01 14:19] #8263 closed

[2020-04-01 14:20] eleftherias opened #8281 "Update to Spring Framework 5.1.14.RELEASE"
Update to Spring Framework 5.1.14.RELEASE

[2020-04-01 14:20] jzheaux commented on #8264
Fixed via 7eb87b19b360a4d66d871181a9535c06f98bb114

[2020-04-01 14:20] #8264 closed

[2020-04-01 14:20] jzheaux commented on #8265
Fixed via 1683d30c2e6a423121483052bdb6ba74b457cd2f

[2020-04-01 14:20] #8265 closed

[2020-04-01 14:20] jzheaux commented on #8266
Fixed via adfb3ddf779da095c94057ddafe47392e19c3974

[2020-04-01 14:20] #8266 closed

[2020-04-01 14:21] eleftherias opened #8282 "Update to Spring Data Lovelace-SR16"
Update to Spring Data Lovelace-SR16

[2020-04-01 14:21] jzheaux commented on #8267
Fixed via 1ba1fb61a773973c78aa5db0897a13c60b50be26

[2020-04-01 14:21] #8267 closed

[2020-04-01 14:21] jzheaux commented on #8268
Fixed via e3a1fa2f86ee8442623441fc2708c55097e3c95c

[2020-04-01 14:21] #8268 closed

[2020-04-01 14:22] jzheaux commented on #8269
Fixed via ac657a32a658e656d29274701b62fb6df4e0a6c8

[2020-04-01 14:22] #8269 closed

[2020-04-01 14:22] eleftherias opened #8283 "Update to Reactor Californium-SR17"
Update to Reactor Californium-SR17

[2020-04-01 14:22] jzheaux commented on #8270
Fixed via 6c98a49010bc84b0ddcad89aa3239c95cbabbbc0

[2020-04-01 14:22] #8270 closed

[2020-04-01 14:22] jzheaux commented on #8271
Fixed via f2db4b6cdb44da9a87872ef2cf90a749fba8d6b9

[2020-04-01 14:22] #8271 closed

[2020-04-01 14:23] jzheaux commented on #8272
Fixed via https://github.com/spring-projects/spring-security/commit/9156d3bce3f2cbc89d3ab6bd60ef6f7e9e3db612

[2020-04-01 14:23] #8272 closed

[2020-04-01 14:23] jzheaux commented on #8273
Fixed via https://github.com/spring-projects/spring-security/commit/327c52d650c1a1789b2e7c40d689166594e1fe2e

[2020-04-01 14:23] #8273 closed

[2020-04-01 14:23] eleftherias opened #8284 "Update to GAE 1.9.79"
Update to GAE 1.9.79

[2020-04-01 14:25] eleftherias opened #8285 "Update to Spring Boot 2.1.13.RELEASE"
Update to Spring Boot 2.1.13.RELEASE

[2020-04-01 14:26] eleftherias opened #8286 "Update to org.powermock 2.0.6"
Update to org.powermock 2.0.6

[2020-04-01 14:27] eleftherias opened #8287 "Update to mockwebserver 3.12.10"
Update to mockwebserver 3.12.10

[2020-04-01 14:30] eleftherias opened #8288 "Update to okhttp 3.12.10"
Update to okhttp 3.12.10

[2020-04-01 14:33] eleftherias opened #8289 "Update to unboundid-ldapsdk 4.0.14"
Update to unboundid-ldapsdk 4.0.14

[2020-04-01 14:35] eleftherias opened #8290 "Update to groovy 2.4.19"
Update to groovy 2.4.19

[2020-04-01 14:36] eleftherias opened #8291 "Update to hibernate-core 5.2.18.Final"
Update to hibernate-core 5.2.18.Final

[2020-04-01 14:37] eleftherias opened #8292 "Update to reactive-streams 1.0.3"
Update to reactive-streams 1.0.3

[2020-04-01 14:38] eleftherias opened #8293 "Update to hibernate-validator 6.0.19.Final"
Update to hibernate-validator 6.0.19.Final

[2020-04-01 14:44] eleftherias opened #8294 "Update to httpclient 4.5.12"
Update to httpclient 4.5.12

[2020-04-01 15:23] eleftherias opened #8295 "Update to GAE 1.9.79"
Update to GAE 1.9.79

[2020-04-01 15:27] eleftherias opened #8296 "Update to org.powermock 2.0.6"
Update to org.powermock 2.0.6

[2020-04-01 15:29] eleftherias opened #8297 "Update to mockwebserver 3.12.10"
Update to mockwebserver 3.12.10

[2020-04-01 15:30] eleftherias opened #8298 "Update to okhttp 3.12.10"
Update to okhttp 3.12.10

[2020-04-01 15:30] eleftherias opened #8299 "Update to unboundid-ldapsdk 4.0.14"
Update to unboundid-ldapsdk 4.0.14

[2020-04-01 15:31] eleftherias opened #8300 "Update to groovy 2.4.19"
Update to groovy 2.4.19

[2020-04-01 15:31] eleftherias opened #8301 "Update to hibernate-core 5.2.18.Final"
Update to hibernate-core 5.2.18.Final

[2020-04-01 15:32] eleftherias opened #8302 "Update to reactive-streams 1.0.3"
Update to reactive-streams 1.0.3

[2020-04-01 15:33] eleftherias opened #8303 "Update to hibernate-validator 6.0.19.Final"
Update to hibernate-validator 6.0.19.Final

[2020-04-01 15:33] eleftherias opened #8304 "Update to httpclient 4.5.12"
Update to httpclient 4.5.12

[2020-04-01 16:51] spring-issuemaster commented on #8281
Fixed via c91389ff8bea94f4af0d4010920951cf389253f5

[2020-04-01 16:51] #8281 closed

[2020-04-01 16:51] spring-issuemaster commented on #8282
Fixed via 332e8ce07ad469ec0af507f399c9f857342e6639

[2020-04-01 16:51] #8282 closed

[2020-04-01 16:51] spring-issuemaster commented on #8283
Fixed via 7aea4595353a3b70a4202439573af77ae8cbf884

[2020-04-01 16:51] #8283 closed

[2020-04-01 16:51] spring-issuemaster commented on #8284
Fixed via c8f72a1b87f86db240a4a4195091b729a9baec66

[2020-04-01 16:51] #8284 closed

[2020-04-01 16:51] spring-issuemaster commented on #8285
Fixed via 0256439a50c9c16e25ff13df3b47ed476a2b0662

[2020-04-01 16:51] #8285 closed

[2020-04-01 16:51] spring-issuemaster commented on #8286
Fixed via acb7e63cf7532f89130cdb390769a9baacf322b5

[2020-04-01 16:51] #8286 closed

[2020-04-01 16:51] spring-issuemaster commented on #8287
Fixed via ae99097723d6256f2f45cae9fea04ad7f28e4fad

[2020-04-01 16:51] #8287 closed

[2020-04-01 16:51] spring-issuemaster commented on #8288
Fixed via 017044bf93128ae57a2281cb8ef3032eed539147

[2020-04-01 16:51] #8288 closed

[2020-04-01 16:51] spring-issuemaster commented on #8289
Fixed via 9a94234dae3b7a1e2f31c2a9d5d81769fe26e9c8

[2020-04-01 16:51] #8289 closed

[2020-04-01 16:51] spring-issuemaster commented on #8290
Fixed via 3c6f08ede00b85fbda322e4f85aba3d5818fd060

[2020-04-01 16:51] #8290 closed

[2020-04-01 16:51] spring-issuemaster commented on #8291
Fixed via 94b116c8c8e29185844391df5adf0af9a641af1f

[2020-04-01 16:51] #8291 closed

[2020-04-01 16:51] spring-issuemaster commented on #8292
Fixed via 9d25c2d2f8aece2ef095f850d5cd950bd7a0c900

[2020-04-01 16:51] #8292 closed

[2020-04-01 16:51] spring-issuemaster commented on #8293
Fixed via 4df4f9a63d93129245737e0f674e51c3478eea7f

[2020-04-01 16:51] #8293 closed

[2020-04-01 16:51] spring-issuemaster commented on #8294
Fixed via b3c7f0a79fedc83846a9410fc155a0043437fabc

[2020-04-01 16:51] #8294 closed

[2020-04-01 17:13] rwinch commented on #8228
I'd suggest using `with(authentication(authentication))` as illustrated in [the reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#test-mockmvc-securitycontextholder-rpp). This is more powerful since any object (mock, stub, or actual) can be passed into it.

[code]

[2020-04-01 17:37] rwinch commented on #5207
Thanks for the pointer. Sorry I wasn't clear. I wasn't sure if someone had an example that does not use `.block()`. Some [comments](https://github.com/spring-projects/spring-security/issues/5207#issuecomment-381712159) seem to imply that `ReactiveSecurityContextHolder` never works for them.

`ReactiveSecurityContextHolder` uses Reactor's `Context` and does not allow `.block()` because the subscrib

[2020-04-01 17:37] #5207 closed

[2020-04-01 17:45] ch4mpy commented on #8228
True. Just one more line and slightly less fluent "flow" API.

But, as mentioned two comments ago, main drawback is limitation to `@Controller` testing when annotation enables to unit-test any secured `@Component` such as **`@Service` & `@Repo`**

[2020-04-01 17:53] rwinch commented on #8228
I don't see an advantage to the annotation if you are modifying it directly, just set it directly too.

[code]

[2020-04-01 18:11] ch4mpy commented on #8228
Tests code homogeneity. Most frequently, the annotation is enough. When I need further mock configuration than name or authorities, then I access it.

[2020-04-01 18:21] rwinch commented on #8228
If the annotation is enough, why do you need it to be the specific type?

[2020-04-01 18:32] ch4mpy commented on #8228
Because sometimes it is accessed as
[code]
or
[code]

[2020-04-01 18:36] spring-issuemaster commented on #8107
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-04-01 18:36] #8107 closed

[2020-04-01 18:40] rwinch commented on #8228
Why would you access it that way if you are not setting custom properties? Just use `Authentication`.

[2020-04-01 19:01] ch4mpy commented on #8228
The reason because only some tests need to do advanced configuration on the mock.

In "real world", I'd wrap authentication extraction:
[code]

and client code would be like
[code]

P.S.
Please note I'm not requesting mocked authentication in spring-framework. I have it in a lib of mine I publish on maven-central and as so can use in any project I want since you explained me how to work around a S

[2020-04-01 19:03] spring-issuemaster commented on #8295
Fixed via c91e456ae709835500c31fc5409a96d5428b4b10

[2020-04-01 19:03] #8295 closed

[2020-04-01 19:03] spring-issuemaster commented on #8296
Fixed via ffa1bc808369f374ee034c4c804217503099522f

[2020-04-01 19:03] #8296 closed

[2020-04-01 19:03] spring-issuemaster commented on #8297
Fixed via df6e58ca1d94a5a308452c2c3ce7cd07951811bf

[2020-04-01 19:03] #8297 closed

[2020-04-01 19:03] spring-issuemaster commented on #8298
Fixed via d2d9ce9e6bd3d7594adecacd6b741c7818981270

[2020-04-01 19:03] spring-issuemaster commented on #8299
Fixed via c9c953244782b1011f80cf2c317a259386a1ce36

[2020-04-01 19:03] #8299 closed

[2020-04-01 19:03] spring-issuemaster commented on #8300
Fixed via 8d07698d9495bed32680e92cc4911c1017b71246

[2020-04-01 19:03] #8300 closed

[2020-04-01 19:03] spring-issuemaster commented on #8301
Fixed via d73f0c5fb9cd3f04b5927eb611c6485d690c5e80

[2020-04-01 19:03] #8301 closed

[2020-04-01 19:03] spring-issuemaster commented on #8302
Fixed via 0191e1f11e1933e219ea19fddffff4d1416029a8

[2020-04-01 19:03] #8302 closed

[2020-04-01 19:03] spring-issuemaster commented on #8303
Fixed via eecad9ee9a44105728a987d85d71b179e40434dc

[2020-04-01 19:03] #8303 closed

[2020-04-01 19:03] spring-issuemaster commented on #8304
Fixed via 4edcac7651d784fca9805f5e4d87324473e4674f

[2020-04-01 19:03] #8304 closed

[2020-04-01 19:03] #8298 closed

[2020-04-01 19:17] spring-issuemaster commented on #5254
Fixed via a9ddd363aaf330f0d0f1fc9baf3716e58720be28

[2020-04-01 19:17] #5254 closed

[2020-04-01 19:35] jzheaux commented on #6410
Closed in favor of #8271

[2020-04-01 19:35] #6410 closed

[2020-04-01 20:12] jzheaux commented on #8186
It's yours, @evgeniycheban! Feel free to ask any questions here on the ticket.

[2020-04-01 21:52] rwinch opened #8305 "Update to aspectj-plugin:4.1.6"
### Summary

Update to aspectj-plugin:4.1.6 to avoid https://github.com/freefair/gradle-plugins/issues/111

[2020-04-01 21:53] #8305 closed

[2020-04-01 22:13] spring-issuemaster opened #8306 "Update to aspectj-plugin:4.1.6"
Backport of gh-8305

[2020-04-01 22:13] spring-issuemaster commented on #8306
Fixed via df983b5a75294fbc7f3bd2ed737449fc2dcd6c1b

[2020-04-01 22:13] #8306 closed

[2020-04-02 03:09] adamu opened #8307 "AuthorizeRequestsDsl doesn't allow HTTP Method to be specified"
### Summary

`AbstractRequestMatcherRegistry` provides the [`mvcMatchers(HttpMethod method, String... mvcPatterns)`](https://github.com/spring-projects/spring-security/blob/b93528138e2b2f7ad34d10a040e6b7ac50fc587a/config/src/main/java/org/springframework/security/config/annotation/web/AbstractRequestMatcherRegistry.java#L161) function to allow creation of an `MvcMatcher` for a specific HTTP verb,

[2020-04-02 03:53] adamu commented on #8307
Here is part of the log:

[code]

And the config (abbreviated):

[code]

[2020-04-02 06:13] marxli opened #8308 "I configured maximumSessions (1) and then when second session sign in, both sessions expired"
First of all, I'm sorry. My English is poor. I may have grammar mistakes.
As the title says, configuring maximumSessions (1) when I use spring security 5.2.2 will invalidate both sessions, but it will work when I reduce the version to 5.1.6.
I looked at the code, and the new version changed the writing of the allowableSessionsExceeded method. Is this related?
This is easy to reproduce, please cont

[2020-04-02 07:16] #8308 closed

[2020-04-02 14:22] HomoEfficio opened #8309 "AbstractAuthenticationProcessingFilter produces error when registering a custom UsernamePasswordAuthenticationFilter Bean"
### Summary

Registering a custom `UsernamePasswordAuthenticationFilter` Bean produces `java.lang.IllegalArgumentException: authenticationManager must be specified` error.

### Actual Behavior

When I add a custom `UsernamePasswordAuthenticationFilter` in the `@Configuration` class that extends `WebSecurityConfigurerAdapter`, Spring application fails to run.

[code]

### Expected Behavior

Spring

[2020-04-02 14:36] eleftherias commented on #8307
Thanks for the report @adamu.
I agree that with your suggestion of being able to specify the HTTP method in `authorize`.
We would need to add 2 additional functions `authorize(method: HttpMethod, pattern: String, access: String)` and `authorize(method: HttpMethod, pattern: String, servletPath: String, access: String)`.
Would you be interested in submitting a PR?

[2020-04-02 15:34] #4404 closed

[2020-04-02 15:40] spring-issuemaster opened #8311 "Java Doc of org.springframework.security.config.annotation.web.builders.HttpSecurity contains grammatical errors"
Backport of gh-4404

[2020-04-02 15:40] spring-issuemaster commented on #8311
Fixed via 2d71297b7eb9c3722921614e7c504eec85d99610

[2020-04-02 15:40] #8311 closed

[2020-04-02 15:49] spring-issuemaster opened #8312 "Java Doc of org.springframework.security.config.annotation.web.builders.HttpSecurity contains grammatical errors"
Backport of gh-4404

[2020-04-02 15:49] spring-issuemaster commented on #8312
Fixed via bb654fdcdfa32a30031b5a450cdfc46770636455

[2020-04-02 15:49] #8312 closed

[2020-04-02 16:03] spring-issuemaster opened #8313 "Java Doc of org.springframework.security.config.annotation.web.builders.HttpSecurity contains grammatical errors"
Backport of gh-4404

[2020-04-02 16:03] spring-issuemaster commented on #8313
Fixed via 18610eab6fb94828614c531cc0854d53e0b95fe7

[2020-04-02 16:03] #8313 closed

[2020-04-02 16:08] spring-issuemaster opened #8314 "Java Doc of org.springframework.security.config.annotation.web.builders.HttpSecurity contains grammatical errors"
Backport of gh-4404

[2020-04-02 16:08] spring-issuemaster commented on #8314
Fixed via 173660c6ef661e1afbbcf0c726218932aa1a7322

[2020-04-02 16:08] #8314 closed

[2020-04-02 16:33] jzheaux commented on #8232
Related to https://github.com/spring-projects/spring-security/issues/8141

[2020-04-02 17:07] Wang-Yumin opened #8315 "Why I've got the not correct redirect_url on OAuth2"
When I use OAuth2, I will be redirected to /oauth/authorize? By 302 Code after successful login, and then I can access the protected resources after verification, which seems to be no problem under HTTP request, but when I use HTTPS in the production environment, the redirected link becomes /oauth/authorize?client_id=blog-system&redirect_uri=http://blog.minbb.cn:443/login&response_type=code&state=

[2020-04-02 17:24] mengelbrecht opened #8316 "HttpSecurityDsl does not support addFilterBefore and addFilterAfter"
### Summary

`HttpSecurityBuilder` allows adding a filter before or after a specific filter using the `addFilterBefore` and `addFilterAfter` function. However, these are missing in `HttpSecurityDsl` as it only supports the `addFilterAt` function.

### Actual Behavior

As a workaround these functions can be called by directly accessing the `http` property of the `HttpSecurityDsl`:
[code]

### Expec

[2020-04-02 17:42] mengelbrecht commented on #8315
Are you running your application behind a load balancer which does ssl termination and forwards the request as `http` instead of `https` to your application?
If so, the load balancer typically passes the original protocol in the `X-Forwarded-Proto` header.
You can tell Spring Boot to respect this header by setting the following property:
[code]
This way the redirect uri should include `https` inst

[2020-04-02 17:53] jzheaux commented on #8232
@fpagliar Thanks for chiming in on this. Spring Security's SAML 2.0 Service Provider MVP was released with the expectation that it would be evolved in future releases. I think the idea of custom attributes makes sense.

To better determine the right place(s) to enhance the API, can you elaborate on this:

What specifically do you need to get from `HttpServletRequest` and how does it affect the `Au

[2020-04-02 18:36] eleftherias commented on #8316
Thanks for the report @mengelbrecht.
Are you interested in submitting a PR to add these 2 functions?

[2020-04-02 19:03] rwinch commented on #8309
Thanks for the report and the simple example to recreate your issue. This is not a bug. The issue was with `SimpleUsernamePasswordAuthFilter` which had a separate reference to `AuthenticationManager`. This means there was an unused (null) variable in `UsernamePasswordAuthenticationFilter`. It also meant that `SimpleUsernamePasswordAuthFilter.setAuthenticationManager` was setting an
`Authentication

[2020-04-02 19:03] #8309 closed

[2020-04-02 19:08] rwinch commented on #8315
I agree with @mengelbrecht. It sounds as though you are using SSL termination and need to setup X-Forwarded headers properly. See https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-use-behind-a-proxy-server if you are using Spring Boot and https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#http-proxy-server otherwise

[2020-04-02 19:27] mengelbrecht commented on #8316
@eleftherias yes, I will work on a PR

[2020-04-02 22:08] alan-czajkowski opened #8317 "BCryptPasswordEncoder.encode() throws NPE"
https://github.com/spring-projects/spring-security/blob/1de0cf5057d755bcf25ef0db60297d42e2852f45/crypto/src/main/java/org/springframework/security/crypto/bcrypt/BCryptPasswordEncoder.java#L108

`BCryptPasswordEncoder.encode()` throws a Null Pointer Exception (NPE) when passing in a _null_ `rawPassword` and then `rawPassword.toString()` is called inside the method.

This method can and should be ma

[2020-04-02 22:16] spring-issuemaster commented on #7740
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-04-03 01:26] jgrandja commented on #8229
@jvanheesch

You are definitely entitled to your opinion. However, the way I see it, there is no need for `RefreshTokenOAuth2AuthorizedClientProvider` to refresh a **non-expired access token**. This simply does not make sense and would be reported as a bug if we were to apply this change.

Creating a delegate that simply checks for access token expiry and delegates if expired seems a bit too much.

[2020-04-03 01:26] #8229 closed

[2020-04-03 01:42] adamu commented on #8307
Hi @eleftherias. To be honest I'm not sure how a good implementation would look. It looks like re-using `createMvcMatchers()` would be a good idea, but that method is `protected`, so it may be necessary to duplicate it?

[2020-04-03 01:59] Wang-Yumin commented on #8315
@mengelbrecht I'm using Nginx to proxy the application, and I've configured Nginx property
[code]
I'm using Undertow container to run the application with http port, then through the Nginx to proxy https port.

[2020-04-03 03:32] Wang-Yumin commented on #8315
@mengelbrecht You're right for your suggestion. I try to use the Tomcat container and configure the **server.tomcat.protocol-header=x-forwarded-proto** attributes in the configuration file. Then I got the correct redirect URI, like **https://sso/oauth/authorize?client_id=blog-system&redirect_uri=https://blog/login&response_type=code&state=f03y3Z.** According to the process of OAuth2, this URL will

[2020-04-03 04:11] mengelbrecht commented on #8315
@Wang-Yumin I think you can continue using undertow when using the following property:
[code]
Regarding the other issue, I think this question might be better suited for [Stack Overflow](https://stackoverflow.com) as this issue tracker is primarily used for bugs or enhancements (please correct me if I am wrong @rwinch)

[2020-04-03 04:14] Wang-Yumin commented on #8315
@mengelbrecht Thank you very much. If I solve this problem, I will update the solution.

[2020-04-03 04:14] #8315 closed

[2020-04-03 07:48] Primedo opened #8320 "SAML: Document how to change validation for audiences when using example IssuerSaml2AuthenticationRequestFactory"
### Summary

The documentation shows as example `IssuerSaml2AuthenticationRequestFactory` on how to get "more control", but it does not show, how to update the validation for `SAML2AssertionValidationParameters.COND_VALID_AUDIENCES` when the IdP uses the "calculated" issuer as audience.

https://github.com/spring-projects/spring-security/blob/master/docs/manual/src/docs/asciidoc/_includes/servlet/

[2020-04-03 08:16] furti opened #8321 "Open ID Connect ID Token Issuer not validated"
### Summary

The OpenID Connect core specification states, that the issuer in the ID Token must match the issuer in the issuer of the OIDC Provider.

But org.springframework.security.oauth2.client.oidc.authentication.OidcIdTokenValidator.validate(Jwt) does not validate the issuer. There is a TODO referencing a issue closed almost 3 years ago.

[code]

There is also no proper issuer field in the Cl

[2020-04-03 08:39] jgrandja commented on #8321
@furti Thank you for the reminder on this TODO. The `iss` validation should be pretty straight forward since the addition of `ClientRegistrations.fromOidcIssuerLocation()` in 5.1.

If the `ClientRegistration` is configured by the [issuer-uri](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login-boot-property-mappings) property, then `ClientRegistration.providerDeta

[2020-04-03 10:01] furti commented on #8321
Thanks for the quick reply. I will give it a try in the next couple of days. I have to check out the code at first and get it up and running :)

[2020-04-03 10:18] jgrandja commented on #7985
@hanscrg I took a look at your sample and the issue is that the `WebClientReactiveClientCredentialsTokenResponseClient` is not used for `oauth2Login()`. You should configure `WebClientReactiveAuthorizationCodeTokenResponseClient` instead, as `oauth2Login()` implements the `authorization_code` grant as per the OpenID Connect [spec](https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth)

[2020-04-03 11:30] furti commented on #8321
@jgrandja I have a question on the implementation details.

When validating the issuer URI, this will only work for Applications configured using the "issuer-uri" property you mentioned before.

But for all others using manual configuration (even CommonOAuth2Providers), this is a breaking change. Because this applications have no issuer in the `ClientRegistration.providerDetails.configurationMetad

[2020-04-03 11:34] emedina commented on #5199
This issue seems quite old now... Is this feature still in the roadmap for Spring Security?

https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-16

[2020-04-03 13:13] Shryne opened #8322 "Mutable AbstractAuthenticationToken suggests immutable implementations"
https://github.com/spring-projects/spring-security/blob/1de0cf5057d755bcf25ef0db60297d42e2852f45/core/src/main/java/org/springframework/security/authentication/AbstractAuthenticationToken.java#L34

This class has multiple methods that do mutate the state (two setters and `eraseSecret`). Am I supposed to override them to have immutable implementations? I think the documentation should mention what

[2020-04-03 13:31] eleftherias commented on #8307
@adamu I can see us reusing `ExpressionUrlAuthorizationConfigurer.mvcMatchers`.

With the current setup we have
[code]

We could update this so that if a user has specified the HTTP method, then we include it in the MVC matcher

[code]

This would also involve updating `PatternAuthorizationRule` to include an `HttpMethod` field.

[2020-04-03 13:43] rwinch opened #8323 "Make Authentication/SecurityContext Immutable"
### Summary

Ideally we would provide `Authentication` implementations that are immutable to avoid race conditions. However, for historical reasons it is unfortunate that  both `Authentication` and `SecurityContext` are mutable.

We should look into how we can make both of these immutable

[2020-04-03 13:43] rwinch commented on #8322
This is a good point. Ideally we would provide `Authentication` implementations that are immutable to avoid race conditions. However, for historical reasons it is unfortunate that  both `Authentication` and `SecurityContext` are mutable. I created gh-8323 to fix this

[2020-04-03 13:43] #8322 closed

[2020-04-03 13:54] rwinch commented on #8317
@alan-czajkowski We don't want to return null for the encoding, but I'd be open to returning an `IllegalArgumentException`. Would you be willing to submit a PR?

[2020-04-03 14:25] maxtacco commented on #5036
Hi, any updates on this? Shouldn't be too complicated to support Maps at least?

[2020-04-03 14:36] gcorsaro commented on #5036
I solved by extending the **DefaultMethodSecurityExpressionHandler** and overwriting the _filter_ method in tthis way:
`	@Override
	public Object filter(Object filterTarget, Expression filterExpression, EvaluationContext ctx) {
		//currently only Maps and ImmutableMaps are supported
		if (ImmutableMap.class.isAssignableFrom(filterTarget.getClass())) {
			return ImmutableMap.builder().putAll(rebuil

[2020-04-03 14:37] maxtacco commented on #5036
@gcorsaro Thanks a lot! Cheers!

[2020-04-03 14:39] gcorsaro commented on #5036
I solved by extending the **DefaultMethodSecurityExpressionHandler** and overwriting the _filter_ method in this way:

	@Override
	public Object filter(Object filterTarget, Expression filterExpression, EvaluationContext ctx) {
		//currently only Maps and ImmutableMaps are supported
		if (ImmutableMap.class.isAssignableFrom(filterTarget.getClass())) {
			return ImmutableMap.builder().putAll(rebuild

[2020-04-03 15:00] eleftherias commented on #3994
The authorization rules are performed in order. Only the first authorization rule that matches will be invoked.

A GET request to "/rest/setup/tax" matches the rule `.antMatchers(HttpMethod.GET, "/rest/setup/tax").hasRole("USER")` therefore a user without role USER will not be allowed access.

If you wish to allow ADMIN users to access those requests, you can change your configuration to the follo

[2020-04-03 15:00] #3994 closed

[2020-04-03 15:06] spring-issuemaster commented on #8190
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-04-03 15:10] Primedo commented on #8232
@jzheaux Evolving is ambiguous, when you go from "makes sense" to "work with OpenSAML directly" in no time. Could you elaborate on what you mean by MVP and evolve?

[2020-04-03 15:46] spring-issuemaster commented on #8193
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-04-03 15:56] spring-issuemaster commented on #8198
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-04-03 16:04] #8316 closed

[2020-04-03 16:47] choweiyuan opened #8324 "Allow the ability to configure AuthoritiesMapper in Reactive OAuth2Login"
### Summary

I'd like the ability to modify Reactive OAuth2Login's authoritiesMapper.

### Actual Behavior

Can't find a suitable API to configure this. There's an equivalent for the Servlet HttpSecurity but not for Reactive equivalent.

Digging into the source code further seem to suggest that OAuth2LoginAuthenticationProvider (Servlet) have [setAuthoritiesMapper](https://github.com/spring-projec

[2020-04-03 17:18] 20fps opened #8325 "Provide possibility to configure JWK set cache TTL"
### Summary

As a developer I would like to have possibility to configure JWK set cache setting cache TTL I want. In our case we want it to be longer than default - 5 minutes.

### Actual Behavior

The cache duration described is hardcoded somewhere inside `NimbusJwtDecoder` while `JWKSource` created as:
`JWKSource<SecurityContext> jwkSource = new RemoteJWKSet(toURL(this.jwkSetUri), jwkSetRetrieve

[2020-04-03 17:29] 20fps commented on #8325
Oh, and as I can see there is request for these changes:
https://github.com/spring-projects/spring-security/pull/7639/files
What about its status?

[2020-04-03 17:52] jgrandja commented on #5199
@emedina RFC 8693 was just published in Jan 2020, as mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/5199#issuecomment-575321804). Now that it's published, we will see which providers implement to determine the appropriate time to implement on our end.

At the same time, features will get implemented quicker by the community via PR's as our team only has so mu

[2020-04-03 18:14] jgrandja commented on #8324
@choweiyuan Indeed, `OAuth2LoginReactiveAuthenticationManager` and `OidcAuthorizationCodeReactiveAuthenticationManager` have not exposed a `setAuthoritiesMapper(GrantedAuthoritiesMapper)`. We should allow for this configuration the same way the Servlet implementations do.

Would you be interested in submitting a PR for this?

[2020-04-03 18:34] jgrandja opened #8326 "Consider adding ClientRegistration.providerDetails.issuerUri"
We should consider adding a new attribute `ClientRegistration.providerDetails.issuerUri`, which would be used for [OpenID Connect Discovery 1.0](https://openid.net/specs/openid-connect-discovery-1_0.html) or [OAuth 2.0 Authorization Server Metadata](https://tools.ietf.org/html/rfc8414).

Related #8321 see [comment](https://github.com/spring-projects/spring-security/issues/8321#issuecomment-6083830

[2020-04-03 19:33] alan-czajkowski commented on #8317
@rwinch I'll submit a PR

[2020-04-03 21:37] rwinch commented on #5036
I think there is ambiguity in what it is filtering when a Map is returned. Is it operating on keys, values, both?

[2020-04-03 21:42] maxtacco commented on #5036
@rwinch Hi, I stumbled on that too. In my case though I was more interested in filtering by keys. May be filtering on Map.Entry can work? Then in theory one could use filterObject.key or filterObject.value?

[2020-04-03 22:01] rwinch commented on #5036
I think that would be a viable option. What do you think about submitting a PR to support filtering on Map.Entry?

[2020-04-03 22:05] maxtacco commented on #5036
@rwinch I'm quite busy right now at work. But, I hope I have some time later this month and I'll try creating a PR. I'll update this issue if I have any road blocks either way.

[2020-04-03 22:06] rwinch commented on #8325
I'm going to close this as a duplicate. Let's move the discussion to gh-7639

[2020-04-03 22:06] #8325 closed

[2020-04-03 23:52] jzheaux commented on #8232
Sure, @Primedo, good questions, I'll see if I can be clearer.

In 5.2, Spring Security released SAML 2.0 Service Provider support as a minimally-viable product. It supports a very narrow, but complete, use case. Future releases will support more use cases. Resource Server was released in the same way in 5.1 - it only supported authorizing JWT bearer tokens against a JWK Set Uri using RS256, but in

[2020-04-03 23:52] #8232 closed

[2020-04-03 23:57] jzheaux commented on #8141
To reiterate, I think it would be helpful to answer the following question:

[2020-04-04 01:29] fpagliar commented on #8141
I understand that SAML is currently on MVP state for Spring Security 5.2, but spring-security-saml is no longer supported, so 5.2 is the only valid option at the moment.
There will be an increasing flow of teams collaborating to achieve feature parity and common migration patterns.

Back to the issue, the goal as a developer using the framework is to be able to customize request creation without r

[2020-04-04 04:26] jzheaux commented on #8141
@fpagliar good points, @Primedo as well, and I'm happy to have both of you as collaborators to help discover the right contract here.

I agree that it will likely be helpful to modify the `AuthnRequest` based on request material.  `Saml2AuthenticationRequestFactory` is abstracted away from the request, though, so I imagine that we'll need three things:

* A way to construct a custom `Saml2Authenti

[2020-04-04 06:52] asaikali commented on #8198
Take the question at https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix-faq-general-questions or https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#appendix-faq-requirements both don't have anything to do with servlets or webflux. I see Introduction part of the docs as the one that most users will look at and that it can have conte

[2020-04-04 06:55] asaikali commented on #8193
I have updated the title of the issue to be WebFlux vs. Servlet. In the ticket above Reactive and WebFlux were being used interchangeably.

[2020-04-04 07:02] asaikali opened #8327 "Organize Samples"
Organize samples so that its possible to generate a directory of samples in the docs automatically. See Issue #8190

[2020-04-04 07:04] asaikali opened #8328 "Automate Generation of docs direcotry of samples"
Add automation that can generate a list of samples and insert it into the documentation automatically. see Issue #8190 and #8327

[2020-04-04 07:06] asaikali commented on #8190
I have added two new issues  #8327 and #8328 I don't know the samples well enough to know how best to organize them, so the descriptions are pretty light.

[2020-04-04 07:11] asaikali commented on #8168
The docs state

This  advice dose not common a very common scenario where an application has some api end points and server side rendered pages. Providing recommendations on this  common situation can help users.

[2020-04-04 11:31] gcorsaro commented on #5036
In this case it was operating just on values supporting boolean only (I needed just that one). But of course it can be extended according to own needs.

[2020-04-04 14:36] ryan4cloud opened #8329 "Webflux Security not using JWT"
### Summary
I wonder if I use webflux and oauth2 **without** using jwt, I want to store token in redis, how can I configure the **Resource Server**.

### Actual Behavior
First of all, I retrieved token which is created by `DefaultTokenServices` and `RedisTokenStore`, and when it has been created, it was stored in redis. The return value was like the following json:
[code]
And then I try to access

[2020-04-04 16:50] alan-czajkowski commented on #8317
@rwinch done

[2020-04-04 19:57] maxtacco commented on #5036
@rwinch Hey, I actually has some time today :) Here is the pull request: https://github.com/spring-projects/spring-security/pull/8331

[2020-04-05 14:58] gcorsaro commented on #5036
Hi @maxtacco, I gave a look to your commit but I didn't understand very well the snippet
[code]
It looks like you treat only values of boolean type. Am I wrong?

[2020-04-05 15:14] maxtacco commented on #5036
@gcorsaro Hey, the expression must evaluate to boolean. Also, I set Map.Entry as a filterObject so that each map element can be accessed by filterObject.key or filterObject.value. Take a look at the test changes here https://github.com/spring-projects/spring-security/pull/8331/files#diff-53c9d89898e1fdf20b9b1cc5b979b2d7

[2020-04-05 20:11] dratler commented on #7791
Hi @eleftherias ,
I'm sorry I was over booked.
I'm trying yo build ldap server locally .
do you have something prepraed ?

[2020-04-06 04:33] HomoEfficio commented on #8309
@rwinch
Thanks for the kind and warm answer, and PR.

Considering the responsibilities and usages of the `AbstractAuthenticationProcessingFilter`,  `authenticationManager` property seems to be required, not optional.
So it is better to use constructor injection rather than to use setter injection, especially for the required properties.

But for now, the required property `authenticationManager` c

[2020-04-06 07:05] mmuth commented on #6320
Same here, please please please provide the support for Authorization Server.

We have build a nice authentication solution on top of the current Spring libraries, which fits perfect for our needs and our customers are so happy... At the moment we plan to extend functionality around, and we are struggling now with the uncertainty if we should completely switch to another solution... but we still l

[2020-04-06 08:19] gcorsaro commented on #5036
Yes, got it. Indeed this is different than what I did in my case. I needed to change map values based on some rules. In your case you're filtering the map without changing its values.

[2020-04-06 09:09] Flood1993 opened #8333 "How to set password grant credentials for OAuth 2.0?"
### Summary

I'm trying to set my WebClient to use OAuth 2.0 authentication with the password grant type, but can't find how to properly set the username and the password.

In my application, the relevant parameters are received in the form of a `Map<String, String>`. For this reason, I'm trying to do it *programatically* (i.e., without the use of beans). My approach is probably wrong to begin wit

[2020-04-06 10:09] 20fps opened #8334 "Provide audience validation support"
### Summary

As I can see there is no audience validation support provided by the framework side, but it is pretty common case: https://tools.ietf.org/html/rfc7519#section-4.1.3

### Actual Behavior

The "optional" audience validation support is not provided.

### Expected Behavior

The "optional" audience validation support is provided.

### Version

Currently I'm using `5.2.2.RELEASE` one.

###

[2020-04-06 13:43] Primedo commented on #8141
Yes, and I agree upon managing `Saml2AuthenticationRequestContext`'s growth carefully.

Just two cents, where I also find the other solution fine:

- I had a similar method in my branch as your suggested post-processor and also returned the `AuthnRequest`, but I was not sure, if this hides that the object is also modified.

- Rethink `Saml2AuthenticationRequestFactory`'s usage and goal and maybe a

[2020-04-06 14:05] furti opened #8335 "OpenId Connect: Requesting acr Claims not possible"
There is already issue https://github.com/spring-projects/spring-security/issues/7168 but it is only about using the "acr_values" parameter. But using this parameter makes the acr request "voluntary". The only way I see to access the acr Parameter as essential, is to use the method described below.

### Summary

I need to request the acr claim within openid connect login. As far as I can see, ther

[2020-04-06 14:50] rwinch commented on #8198
It seems like we agree that this should be 3 separate FAQs then?

[2020-04-06 15:09] rwinch commented on #8168
I believe this is pretty clear. If you have interaction through a browser, then you should use CSRF protection. Can you provide where you think it needs clarification?

[2020-04-06 15:09] rwinch commented on #8328
Can you please update this ticket to contain all the information necessary?

[2020-04-06 15:20] rwinch commented on #8329
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-04-06 16:52] eleftherias commented on #7791
@dratler We have an LDAP sample in this repository that you can use https://github.com/spring-projects/spring-security/tree/master/samples/javaconfig/ldap
You may also find this section of the documentation helpful https://docs.spring.io/spring-security/site/docs/5.3.1.RELEASE/reference/html5/#servlet-authentication-ldap

[2020-04-06 17:27] TJReinert opened #8337 "Allow specify header in ServerBearerTokenAuthenticationConverter"
### Summary

I'd like to be able to use the current ServerBearerTokenAuthenticationConverter but want to use a different header (`HttpHeaders.PROXY_AUTHORIZATION`) for my Spring Cloud Gateway Instance.

### Actual Behavior

Authentication must be taken from the `HttpHeaders.AUTHORIZATION`.

### Expected Behavior

I should be able to supply what Header I would like to extract my token from. If not

[2020-04-06 18:29] #8329 closed

[2020-04-06 18:59] rwinch commented on #8309
Thanks for your offer to help! I am ok with adding a constructor that accepts `AuthenticationManager`, but we cannot remove the old constructor for passivity reasons. If you are alright with submitting a PR, I can review it once you submit it.

[2020-04-06 19:00] jgrandja commented on #8335
@furti I believe this has been fixed via #7871, which has been backported to 5.2.3. Can you please try and let me know.

[2020-04-06 19:01] rwinch commented on #6320
For everyone providing feedback. Thank you! We are listening and working on a formal updated response (we will post an update here once we have it) but it is taking some time. Thank you for your patience and thank you again for the feedback!

[2020-04-06 19:15] jgrandja commented on #8333
@Flood1993 Usage is documented in the reference. Please review the following 2 links:

- [OAuth2AuthorizedClientManager / OAuth2AuthorizedClientProvider](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-authorized-manager-provider)
- [Resource Owner Password Credentials](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-pas

[2020-04-06 19:15] #8333 closed

[2020-04-06 19:20] spring-issuemaster opened #8338 "Fix typo in Javadoc of ServerHttpSecurity#hasAuthority"
Backport of gh-8336

[2020-04-06 19:20] spring-issuemaster commented on #8338
Fixed via f011c36ba41f15e1e41ccda6207411c6b489a5be

[2020-04-06 19:20] #8338 closed

[2020-04-06 19:21] spring-issuemaster opened #8339 "Fix typo in Javadoc of ServerHttpSecurity#hasAuthority"
Backport of gh-8336

[2020-04-06 19:21] spring-issuemaster commented on #8339
Fixed via 24d251f232b7b49b60174e2c3cf0b494f60a825f

[2020-04-06 19:21] #8339 closed

[2020-04-06 19:21] spring-issuemaster opened #8340 "Fix typo in Javadoc of ServerHttpSecurity#hasAuthority"
Backport of gh-8336

[2020-04-06 19:21] spring-issuemaster commented on #8340
Fixed via fd2798ca95d415b8a1e7e88b828218cf1c73461c

[2020-04-06 19:21] #8340 closed

[2020-04-06 19:40] jzheaux commented on #8334
Thanks for the suggestion, @20fps.

I agree that audience validation is rather common. It's also in the [JWT RFC](https://tools.ietf.org/html/rfc7519#section-4.1.3) that it must be recognized by resource servers if present:

   processing the claim does not identify itself with a value in the
   "aud" claim when this claim is present, then the JWT MUST be
   rejected.

Because of that, I agree tha

[2020-04-06 21:50] parikshitdutta commented on #8120
Hi @rwinch, how is this for contribution? I can take a look.

[2020-04-06 23:16] jzheaux commented on #8337
That makes sense, @TJReinert, would you be interested in submitting a PR to add that feature?

[2020-04-06 23:19] TJReinert commented on #8337
Sure thing. Please coach me if there are improvements desired -- first submission to an opensource project.

[2020-04-06 23:25] fpagliar commented on #8141
I think the overall strategy looks good.
I agree that we want to keep the context's growth under control.
Turning the context into an interface or allowing it to be extended and passing on a generic `T extends Saml2AuthenticationRequestContext` to the postProcessor would enable the devs to have a more rich/complex typesafe passage of arguments.

Although I think the current proposal with a string

[2020-04-06 23:37] jzheaux commented on #8261
I believe this will be covered in #8332

[2020-04-06 23:37] #8261 closed

[2020-04-06 23:40] jzheaux commented on #7870
@akuma8 I wonder if this would be solved by https://github.com/spring-projects/spring-security/issues/8185

[2020-04-07 06:49] furti commented on #8335
@jgrandja Sorry for that. Did not realize, that there was already a new version out.

#7871 already fixed it. But I'm not sure if the fix is a 100% correct.

Now everything is encoded before creating the URIComponentsBuilder, but afterwards the UriComponents are build like this:

[code]
```build()``` is called without parameters.

Under the hood this calls

[code]

Javadoc of this method says:
[co

[2020-04-07 06:52] furti commented on #8335
@jgrandja Feel free to close this issue if you think the UriComponentsBuilder is used correclty in this place.

Or tell me what version of the two fixes you prefer, and I can create a dedicated issue for this, so we can close this one, as the actual problem is already fixed.

[2020-04-07 07:36] furti opened #8342 "OpenID Connect: Make OAuth2AuthorizationRequest for IDToken validation"
### Summary

I can't find an easy way, to validate that the acr value in the ID Token is what the client expects. The spec says, when requesting an acr claims value, the Client SHOULD check, if the acr value is appropriate.

For now, the only way I see is registering a custom AuthenticationProvider that enhances the logic of the default Authentication Provider and performs the validation afterward

[2020-04-07 07:49] henrik-larsson-15-wcar opened #8343 "Missing documentations about Concurrent Session Control and Webflux"
From the current documentation its very hard to understand what is supported in Webflux and what is not. For example Concurrent Session Control support looks to be totally missing in Webflux and should be documented and if it is supported an example on how to set it up would very much help. The examples provided are not for a reactive stack.

[2020-04-07 10:37] korbel commented on #7975
It does not seem to be fixed in 4.2.15
https://search.maven.org/artifact/org.springframework.security/spring-security-bom/4.2.15.RELEASE/jar

[2020-04-07 14:23] rwinch commented on #8120
Thanks for volunteering @parikshitdutta! The issue is yours :smile:

[2020-04-07 14:36] rwinch commented on #7975
Thanks for pointing that out @korbel The changes seem to have fixed it for [SNAPSHOTs](https://repo.spring.io/libs-snapshot/org/springframework/security/spring-security-bom/4.2.15.BUILD-SNAPSHOT/spring-security-bom-4.2.15.BUILD-SNAPSHOT.pom) but not for releases.

[code]

[2020-04-07 15:14] rwinch commented on #8343
There isn't support for concurrency control in WebFlux yet. See https://github.com/spring-projects/spring-security/issues/6192

[2020-04-07 15:14] #8343 closed

[2020-04-07 15:43] eleftherias commented on #8172
I'm starting reactive/webflux.adoc

[2020-04-07 17:34] jgrandja commented on #8342
@furti The recommended way is to plug in a custom `OAuth2TokenValidator` via `OidcIdTokenDecoderFactory.setJwtValidatorFactory()` - Option 2.

Can you provide me more details on your custom validation logic. For example, what are the `acr` values being requested in the Authorization Request? Are the values static or dynamic? And are they different per client?

[2020-04-07 17:55] jgrandja commented on #8335
@furti Good catch! Yes, it should be `.build(true)`. Would you be interested in submitting a PR for this fix?

FYI, we cannot use `.build().encode()` as an alternative solution because the `authorizationUri` passed into `.fromHttpUrl(this.authorizationUri)` may contain encoded query parameters, which would result in double encoding.

[2020-04-07 18:44] #8317 closed

[2020-04-07 18:46] spring-issuemaster opened #8345 "BCryptPasswordEncoder.encode() throws NPE"
Backport of gh-8317

[2020-04-07 18:46] spring-issuemaster commented on #8345
Fixed via d1909ec9c8844cfa6b63bab5c2591f14d714ef6b

[2020-04-07 18:46] #8345 closed

[2020-04-07 18:46] spring-issuemaster opened #8346 "BCryptPasswordEncoder.encode() throws NPE"
Backport of gh-8317

[2020-04-07 18:46] spring-issuemaster commented on #8346
Fixed via 564d5644c993f622db8bc22737471c57dd08d166

[2020-04-07 18:46] #8346 closed

[2020-04-07 18:47] spring-issuemaster opened #8347 "BCryptPasswordEncoder.encode() throws NPE"
Backport of gh-8317

[2020-04-07 18:47] spring-issuemaster commented on #8347
Fixed via c2296b0376d749aec43a1d68667d39116ccf3bf2

[2020-04-07 18:47] #8347 closed

[2020-04-07 18:48] spring-issuemaster opened #8348 "BCryptPasswordEncoder.encode() throws NPE"
Backport of gh-8317

[2020-04-07 18:48] spring-issuemaster commented on #8348
Fixed via 62bc17ea3f2d5f052a7e9ce8e909255668034c07

[2020-04-07 18:48] #8348 closed

[2020-04-07 20:21] jzheaux commented on #8141
I think that the method name could take care of this, @Primedo. I'm thinking `setAuthnRequestPostProcessor`, but do you see a different method name that clarifies that the `AuthnRequest` parameter is the one being modified?

(Also note that I modified my sample above as I found a bug in it -- see if that also resolves your concern.)

That's a good point, we'd originally talked about it being a `Co

[2020-04-07 20:21] jzheaux commented on #8141
@fpagliar, I think this is a polish we could possibly do later on - I'd like to wait a bit before making `Saml2AuthenticationRequestContext`'s constructor non-`private`, which I believe is a requirement to making it extensible.

That said, if you've got a concrete use case that's a great deal simpler with a custom context, then it's something worth considering.

[2020-04-07 22:20] #8186 closed

[2020-04-07 23:28] jzheaux opened #8349 "Add support for HSM"
Many applications will not deal with keys at all but will instead send data to a service like Vault to be encrypted, decrypted, signed, and verified.

Currently, an application needs to implement their own `Saml2AuthenticationRequestFactory` and `AuthenticationProvider` to achieve this. It would be nice if applications could implement something more targeted to cryptographic operations.

[2020-04-08 00:05] evgeniycheban commented on #8185
I would like to take this task.

[2020-04-08 07:53] furti commented on #8342
@jgrandja

Lets assume a Client has different protected resources. Some resources are permitted for username and password authentication, and others are only permitted with Multifactor Authentication.
This means the Client wants to dynamically create a Authorization Request, that requests certain acr values by adding the claims Paramter to the Authorization Request.

[code]

For this I already cre

[2020-04-08 08:46] ryan13mt commented on #8349
+1

This would be very useful to have supported due to security requirements on where the private keys are stored.

[2020-04-08 12:22] Koshux commented on #8349
+1
Would appreciate if this could be fit into a milestone!

[2020-04-08 12:24] jnunqui commented on #8349
+1
would be very useful

[2020-04-08 12:28] cvenkatreddy commented on #8349
would be very useful enhancement

[2020-04-08 12:28] CliffordGrech commented on #8349
+1
This would be useful for us

[2020-04-08 12:29] nafidhaque commented on #8349
+1
Would appreciate this due to a particular use case!

[2020-04-08 12:32] briannmic commented on #8349
Would be helpful for my project

[2020-04-08 13:33] antonin-arquey commented on #8324
I'm interested in submitting a PR for this if it is ok for you @jgrandja

Just one question, would the default `ReactiveAuthenticationManager` created by the `OAuth2LoginSpec` try to get a bean of type `GrantedAuthoritiesMapper` and use it ?

Or would the user have to manually configure the authentication manager if they want to provide a custom authority mapper ?

[2020-04-08 14:13] spring-issuemaster opened #8351 "Fix example in javadoc of FilterChainProxy"
Backport of gh-8344

[2020-04-08 14:13] spring-issuemaster commented on #8351
Fixed via 566c25aa10d490db5d888885a8f58a5e4a8168fe

[2020-04-08 14:13] #8351 closed

[2020-04-08 14:14] spring-issuemaster opened #8352 "Fix example in javadoc of FilterChainProxy"
Backport of gh-8344

[2020-04-08 14:14] spring-issuemaster commented on #8352
Fixed via 52ed597f4c81b7c17e5709804c4204f47d3694e7

[2020-04-08 14:14] #8352 closed

[2020-04-08 14:14] spring-issuemaster opened #8353 "Fix example in javadoc of FilterChainProxy"
Backport of gh-8344

[2020-04-08 14:14] spring-issuemaster commented on #8353
Fixed via 9d3ea58bb106717afd53d8a4cf9d5b95c2a4b03a

[2020-04-08 14:14] #8353 closed

[2020-04-08 14:15] spring-issuemaster opened #8354 "Fix example in javadoc of FilterChainProxy"
Backport of gh-8344

[2020-04-08 14:15] spring-issuemaster commented on #8354
Fixed via d69288e6659542183c72cd5157c9b7e106510383

[2020-04-08 14:15] #8354 closed

[2020-04-08 14:16] spring-issuemaster opened #8355 "Fix example in javadoc of FilterChainProxy"
Backport of gh-8344

[2020-04-08 14:16] spring-issuemaster commented on #8355
Fixed via 0d0afb992e6b5ed2cefe27dd6ba67b076c1cf7f4

[2020-04-08 14:16] #8355 closed

[2020-04-08 16:46] jzheaux opened #8356 "Saml2AuthenticationRequestContext should be extendible"
Implementations of `Saml2AuthenticationRequestFactory` may need additional context other than what `Saml2AuthenticationRequestContext` gives by default.

For example, it is at times desirable to force authentication by setting the `ForceAuthN` attribute in the `AuthnRequest` message. In an implementation of `Saml2AuthenticationRequestFactory`, an application would need to hard-code this setting or

[2020-04-08 16:51] jzheaux commented on #8141
@fpagliar Thinking a bit more about your recommendation that `Saml2AuthenticationRequestContext` be opened up, I think this would be a good way to begin. Adding custom data, whether via a `Map` of attributes or via extension, is really at the center of all of these use cases: https://github.com/spring-projects/spring-security/issues/8356

[2020-04-08 17:48] furti commented on #8321
@jgrandja I submitted a Pull Request for this issue. https://github.com/spring-projects/spring-security/pull/8357

[2020-04-08 19:38] jonasbark opened #8358 "Spring MVC - Integration Tests using MockMvc & HttpSecurity are flaky"
### Summary

The Integration tests I'm trying to run to check if my `HttpSecurity` access definitions (https://github.com/jonasbark/spring-mvc-unit-test-problem/blob/master/src/main/kotlin/pass/users/api/spec/UsersAPIKeycloakSecurity.kt) work as they should do not complete when every unit test is run (`test` gradle task). However, they run just fine when
- I run them on their own (single test)
- I

[2020-04-08 20:11] jgrandja commented on #8324
Thanks for the offer @antonin-arquey! The issue is yours.

Yes, please go with this option.

[2020-04-08 20:14] mziari commented on #6320
Please reconsider and provide support for Authorization server
tnx

[2020-04-08 21:06] jzheaux opened #8359 "Saml2WebSsoAuthenticationRequestFilter should not use OpenSamlAuthenticationRequestFactory by default"
If `Saml2WebSsoAuthenticationRequestFilter` uses `OpenSamlAuthenticationRequestFactory` by default, then Spring Security is dependent on OpenSAML even if the application implements their own `Saml2AuthenticationRequestFactory` and `AuthenticationProvider`.

Instead, the constructor should require a `Saml2AuthenticationRequestFactory`.

Note that this behavior can be verified by creating a project

[2020-04-08 22:30] rwinch commented on #8358
The reason it is flaky is that the test changes the inputs. Every test method a new `testDbEntity` is being created and the id is being generated. So if you run only a single test, the id is `1`. For each test it increments.

That means that if more than 9 tests have ran, at [pass client admin forbidden on remove 5e79d316c1584](https://github.com/jonasbark/spring-mvc-unit-test-problem/blob/b19ca96

[2020-04-08 22:30] #8358 closed

[2020-04-08 23:06] #8359 closed

[2020-04-08 23:09] jzheaux opened #8360 "Add Saml2AuthenticationRequestContextResolver"
Related to #8356

In order for implementations of `Saml2AuthenticationRequestFactory` to take advantage of custom `Saml2AuthenticationRequestContext` instances, an application needs to create a custom filter, replacing `Saml2WebSsoAuthenticationRequestFilter`.

It would be simpler to have an API dedicated to resolving the `Saml2AuthenticationRequestContext` from the `HttpServletRequest` and `Relyi

[2020-04-08 23:31] jzheaux commented on #8141
Regarding the other two items, I've created a ticket for adding the resolver next: https://github.com/spring-projects/spring-security/issues/8360

The reason that this is next in priority is that it will address additional cases, like for custom implementations of `Saml2AuthenticationRequestFactory`.

I'm still analyzing the implications of exposing an `AuthnRequest` post-processor in `OpenSamlAut

[2020-04-09 02:12] fpagliar commented on #8141
This is definitely a step in the right direction, but I definitely feel like we need the post processor.
For the ForceAuthN case for example, how would it be implemented without it?
It is necessary to have that information stored in the context and that part is now covered.
But the only way I see of using it is copying the whole `OpenSamlAuthenticationRequestFactory` and replacing just the one lin

[2020-04-09 03:56] jonasbark commented on #8358
Oh No, so many hours wasted on something that simple in the end.
Sorry for bugging you and thanks a ton for investigating, @rwinch!

[2020-04-09 10:34] dratler commented on #7791
Hi @eleftherias ,
I have start wortking on it, I know there is an internal LDAP (LDIF) been used.
I would like to use that on is it fine ?
Also there are missing dependency within Gradel (@PreDestory annotation etc...).
It might take a while...

[2020-04-09 11:38] vcvitaly commented on #7747
@rwinch is the issue still available to contribute? I'd link to pick it up

[2020-04-09 12:16] akuma8 commented on #8185
@jzheaux Yes this could solve my issue where I have multiple filter chains but as a client I should not have to worry about that bean, I want to define it and forget it. I mean, I don’t want to inject that bean in each filter chain, spring security should handle it behind the scene.

[2020-04-09 13:14] parikshitdutta commented on #8120
Hi @rwinch, the build process is failing at OAuth2ResourceServerSpecTests, is it okay to discuss it here or should I open an issue rather?

[2020-04-09 13:28] jzheaux commented on #8185
Sure, @evgeniycheban! It's yours.

[2020-04-09 13:34] rwinch commented on #8358
Just glad you have an answer now :smile:

[2020-04-09 13:36] rwinch commented on #7747
Thank your for volunteering @valery1707 The issue is yours!

[2020-04-09 13:57] rwinch commented on #8120
@parikshitdutta Here is fine. What is the failure you are getting?

[2020-04-09 14:34] parikshitdutta commented on #8120
Hi @rwinch, there are 27 tests failing with "java.lang.IllegalStateException: Failed to load ApplicationContext", from OAuth2ResourceServerSpecTests.

Result page attached for your reference:
(https://github.com/spring-projects/spring-security/files/4456729/org.springframework.security.config.web.server.OAuth2ResourceServerSpecTests.zip)

[2020-04-09 16:09] jvanheesch opened #8363 "ConcurrentSessionFilter should be able to pass the request downstream (after logging out), such that all authentication redirects can be handled by ExceptionTranslationFilter."
This issue was initially discussed [here](https://github.com/spring-projects/spring-security/issues/8229).

We use Keycloak for SSO.
When Keycloak sends a logout request to our client application, it includes the sessionId of the session to invalidate.
However, invalidating a session by id is not supported by the servlet spec (I think).
As such, the way we accomplish this session invalidation is b

[2020-04-09 16:37] #8337 closed

[2020-04-09 18:03] mbhave opened #8365 "Allow customization of restOperations for JwtDecoder built using an issuer uri"
`JwkSetUriJwtDecoderBuilder` allows customizing the `restOperations` that is used to make calls to the authorization server. However, when using an `issuerUri`, using `JwtDecoders.fromIssuerLocation`, this customization doesn't look like it's possible. [This issue](https://github.com/spring-projects/spring-boot/issues/20750) in Spring Boot is the original issue for enabling these sort of customiza

[2020-04-09 18:05] eleftherias opened #8366 "Use Kotlin DSL Marker Annotations to prevent scope leaking in WebFlux DSL"
### Summary

The Kotlin DSL is designed with a specific hierarchy in mind.
However, the hierarchy is not enforced.

The following configuration should not compile, but currently it does.

[code]

Kotlin allows the creation of [DSL markers](https://kotlinlang.org/docs/reference/type-safe-builders.html), to control the scope in which a function is available.

We can use a DSL marker to annotate all

[2020-04-09 18:39] rwinch commented on #8120
How are you running the tests? It looks like you might be running them from the commandline. What command do you run and from what folder? Do any of the other tests work?

[2020-04-09 18:40] jgrandja commented on #8365
@mbhave We have a similar issue with `ClientRegistrations` as we do with `JwtDecoders`. The following tickets are all related #7027 #7391 #5607. We're planning on addressing this for 5.4.

[2020-04-09 18:57] rwinch commented on #8363
I think a better approach is to simulate a browser request by using something like RestTemplate with the JSESSIONID cookie set and then calling back to the container. This ensures that all of the proper log out logic happens immediately.

[2020-04-09 19:11] jzheaux commented on #8363
@jvanheesch, thanks for the insight - I'm glad you've got something working.

If `SessionInformationExpiredEvent` included the `FilterChain` as a property, you could register a `SessionInformationExpiredStrategy` like:

[code]

Would you be able to submit a PR for this? In addition to other tests, it would be nice if this included a test in SessionManagementConfigurerTests that exercises the use c

[2020-04-09 19:16] lucasmenezesaurea commented on #6320
+1 for having authz server back on roadmap!

[2020-04-09 19:18] parikshitdutta commented on #8120
I am running plain build from command line, i.e "gradlew build", also have tried other variations such as clean, refresh-dependencies, integrationTests etc, same result, only those 27 tests failing, all the other tests (about 1800 tests) are passed.

I am trying to build from spring-security root folder.

[2020-04-09 19:52] parikshitdutta commented on #8120
FYI, I was following "README.adoc" to start with.

But taking clue from your last comment and after running respective tasks from modules, such as "gradlew spring-security-test:test", or running as intelliJ gradle task, I see them getting through.

@rwinch what is the right approach to test and ensure my done changes are good for production?

[2020-04-09 20:39] eleftherias commented on #7791
@dratler
I hope the guidelines below can help you with the initial setup.

This issue can be demonstrated using the [LDAP sample](https://github.com/spring-projects/spring-security/tree/master/samples/javaconfig/ldap) with a few modifications.
Firstly, add `.contextSource().ldif("classpath:does-not-exist.ldif")` to the configuration in `SecurityConfig.java`.
Then, to make the application use "unbo

[2020-04-09 22:03] TJReinert commented on #4721
The full gradle dependency looks like this. The one listed above is missing the oauth2 bit.

`compile("org.springframework.security:spring-security-oauth2-jose")`

[2020-04-09 22:19] spring-issuemaster commented on #7740
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-04-09 22:19] #7740 closed

[2020-04-10 02:45] fpagliar commented on #7983
The profile mostly worked with the validation of the SAML assertion, and not the request itself.
This now maps to `OpenSamlAuthenticationProvider`.

If you are looking for the response URL matching it is the `Saml2WebSsoAuthenticationFilter` and the default path for processing the response is "/login/saml2/sso/{registrationId}".

[2020-04-10 07:25] 20fps opened #8367 "Provide flexibility for JwtGrantedAuthoritiesConverter"
### Summary

It is common case when more flexibility is needed while using `JwtGrantedAuthoritiesConverter`, so I'm thinking of adding some kind of `Function<Jwt, Collection<String>> grantedAuthoritiesMapper`, so the consumers would be able to do something like:
[code]
I mean it could help to a lot of Keycloak users (for example) trying to provide role based authentication and it still would be po

[2020-04-10 08:18] callmeberzerker opened #8368 "Enable support for persistent sessions when using SessionRegistryImpl"
### Summary

When you use spring-boot with devTools you get persistent servlet session out-of-the-box that is preserved across server restarts. (https://github.com/spring-projects/spring-boot/issues/3530) That's all fine and dandy but the default `org.springframework.security.core.session.SessionRegistryImpl` is not aware of the principal as the `registerNewSession(String sessionId, Object princip

[2020-04-10 08:53] santam85 opened #8369 "java.lang.StackOverflowError: null when an invalid token is sent to an oauth2ResourceServer"
### Summary
When using oauth2ResourceServer, I am getting a stackoverflow error if the application receives an invalid token

### Actual Behavior

I see this error in the console and i get a 500 statusCode to my request

`10:48:00.358 [http-nio-8080-exec-2] ERROR o.a.c.c.C.[.[.[.[dispatcherServlet] - Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Filter

[2020-04-10 13:14] jzheaux commented on #8369
Sorry that you are having trouble, @santam85.

With the information shared so far, I'm unable to reproduce the issue. Would you please put together a minimal sample that reproduces the issue?

[2020-04-10 13:40] santam85 commented on #8369
Yes, will create a repo ASAP...

[2020-04-10 15:57] jzheaux commented on #8368
You make a good point, @callmeberzerker, that it would be nice if this worked a bit more out-of-the-box with Spring Security; however, a solution that is provided out-of-the-box is Spring Session. Spring Session ships with [`SessionRegistry` implementations](https://docs.spring.io/spring-session/docs/2.2.2.RELEASE/reference/html5/#spring-security-concurrent-sessions) that directly reflect the unde

[2020-04-10 15:58] 20fps commented on #8365
The same issue will be present also for `Cache` added here:
https://github.com/spring-projects/spring-security/pull/8332

[2020-04-10 16:23] jzheaux commented on #8367
I agree that working with Keycloak is probably a common use case, @20fps.

Working with Keycloak's realm access claim yields a converter like so:

[code]

which actually seems pretty simple.

Comparing that with:

[code]

I'm not really seeing it as a clear win.

Or, IOW, even if this were super-common, it seems like it's the same amount of custom code either way. Is there something I've overlooke

[2020-04-10 16:31] 20fps commented on #8367
@jzheaux Yes, I actually have the same code, agree it's gonna be overlooked)

[2020-04-10 16:31] #8367 closed

[2020-04-10 16:47] jzheaux commented on #8365
It might be better to introduce `NimbusJwtDecoder#withIssuerUri` so that applications have full access to the builder. One could then do:

[code]

And the builder would use that `RestOperations` to both query the discovery endpoint on startup and the JWKs endpoint when verifying JWTs.

There may also be value in `JwtDecoders` having a configurable `RestOperations` as well, but I think it's importa

[2020-04-10 17:22] koan00 opened #8370 "Fix for 8223 breaks existing applications."
### Summary

Fix for https://github.com/spring-projects/spring-security/issues/8223 forces POST requests, breaking existing applications using GET. The original reporting issues https://github.com/spring-projects/spring-security/issues/4183 notes this should be configurable, which I believe is the correct path here.

According to Spring documentation:
[code]
Therefore this change would not be appl

[2020-04-10 19:01] pitsoleil opened #8371 "spring security x-frame-option activated but not working"
Hello everybody,

I opened a case [#20905](https://github.com/spring-projects/spring-boot/issues/20905) on spring boot but they ask me to explain the issue here on spring security.

I am trying to analyze our applications for vulnerabilities by using owasp-zap and it reports me that x-frame-option is missing. Our developers are using spring boot 2.2, and they show me that by default spring securit

[2020-04-10 20:03] tudorgrig commented on #6320
Guys, seriously, please reconsider. The Authorization server is an actor in the OAuth 2 protocol, you can't just remove it. I've looked through the documentation on how to implement an Authorization server using Keycloack (in my case I want to enable username/pass and social login as well) and it's a mess. Please offer support so that we can go back to loving Spring Security 👍

[2020-04-10 21:40] tudorgrig commented on #6320
Can you please share how you did it? Did you implement the Keycloak server as an embedded application inside a spring Boot app?

[2020-04-10 23:00] jzheaux commented on #8371
Hi, @pitsoleil, happy to help. The indentation itself shouldn't change the behavior. What I'm more interested in is you appear to be using Spring Security and [Spring Security OAuth](https://github.com/spring-projects/spring-security-oauth2) together.

Would you be able to produce a minimal sample that demonstrates the issue?

[2020-04-10 23:04] jzheaux commented on #8370
Hi, @koan00, sorry that this is causing you some heartburn.

On rare occasions, like in cases where there are security implications, we will break semantic versioning guidelines. In this case, we made the proactive choice to make the change on a patch release.

I'm going to close this issue as answered, but please feel free to continue the conversation if the configuration listed in #4183 fails to

[2020-04-10 23:04] #8370 closed

[2020-04-10 23:08] jzheaux commented on #8370
Note that [this release documentation](https://github.com/spring-projects/spring-security/releases/tag/5.2.3.RELEASE) is supposed to list tickets that break passivity, but it currently is not. I am looking into correcting this.

[2020-04-11 00:35] koan00 commented on #8370
Thanks @jzheaux the work around does indeed work, although it's a little less convenient than just calling setSwitchUserUrl and setExitUserUrl. I suppose the only concern left would be how discoverable this methodology would be to other users running into the same issue.

Thanks again.

[2020-04-11 02:37] pamujs opened #8372 "ResourceServer getting - Authentication request failed: error="invalid_token""
### Summary
I'm trying to develop resource server that provides APIs that will be consumed by various applications. I'm using java spring boot oauth2.0 framework. The applications are web applications that are typical OpenID Connect compliant web applications that will go through the /oauth/authorize endpoint using the authorization code flow. When the authorization is granted, the authorization s

[2020-04-11 05:56] mengelbrecht commented on #8321
@jgrandja Will this be backported to the 5.3.x branch?

[2020-04-11 07:13] mengelbrecht commented on #8363
If I understood the scenario correctly, you could also implement a custom `SessionInformationExpiredStrategy` which redirects to the `SessionInformationExpiredEvent` request url. This way the same request is performed but the logout has already taken place.

[2020-04-11 07:58] pitsoleil commented on #8371
Hi @jzheaux ,

thank you for your reply. Truthfully speaking, I am not sure that I get what you are asking and I don't think that I can also reproduce a sample as you need because I am not a developer. I only show you what our dev reported to us about the x-frame-option.

When I analyzed our application, the tool reported me that the x-frame-option was not configured as you can see on the http res

[2020-04-11 10:19] mostafa513 commented on #6320
All the time, spring was the best platform that I work with it. because of stability, simplify and reduce worries about everything. And nowadays some of us worry about some decisions in Spring team. I prefer to think about this as a 13 April lie.
Please reconsider and provide long time support for the Authorization server and remain my best choice.
be happy and be safe

[2020-04-11 13:28] gavin-guo opened #8373 "Got SerializationException when using OAuth 2.0 login and GenericJackson2JsonRedisSerializer"
### Summary

I am using spring oauth2 to authenticate&authorize，and using spring redis session. I am getting a SerializationException if i change the redis serializer to GenericJackson2JsonRedisSerializer.

### Actual Behavior

I enable oauth2Login at WebSecurityConfigurerAdapter.

[code]

and specify redis to store session.

[code]

It works well, but i want information to be stored in JSON forma

[2020-04-11 14:02] dratler commented on #7791
Hi @eleftherias ,
I'm getting ```package javax.annotation does not exist```
it's been thrown at the following classes :

- src/integration-test/java/org/springframework/security/ldap/server/UnboundIdContainerLdifTests.java
src/integration
- test/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManagerModifyPasswordTests.java
- src/integration-test/java/org/springframework/security

[2020-04-11 20:41] EtienneMiret opened #8375 "Global ServerSecurityContextRepository ignored by logout"
### Summary

When configuring a global ServerSecurityContextRepository on the SecurityWebFilterChain, it is used by all authentication mechanisms (since #7249) but not by the logout handler.

### Actual Behavior

When configuring a custom ServerSecurityContextRepository, the SecurityContextServerLogoutHandler still uses the default WebSessionServerSecurityContextRepository.

### Expected Behavior

[2020-04-12 08:49] piotrkaron commented on #6591
For anyone with this problem, as this is still not resolved.
Instead of saving user to repository in `@Before` or `@BeforeEach` create separate method annotated with `@PostConstruct` and save user. Assuming you have correctly implemented custom `UserDetailsService` and `@SpringBootTest` picks it (or you provide bean name in `@WithUserDetails`)

[code]

[2020-04-12 12:34] rahul-gupta-1525 opened #8376 "Issue with AbstractPreAuthenticatedProcessingFilter abstract class"
# Summary

In Spring Security, Authentication & Authorization are tightly coupled. Nowadays, Authentication is often performed by external systems before a request reaches the application. For such cases, Spring offers **AbstractPreAuthenticatedProcessingFilter** which can be extended to set principal & credentials. After setting principal & credentials it creates a PreAuthenticatedAuthenticationT

[2020-04-12 12:46] p2rate opened #8377 "oauth sso does not work when it is on the same device as oauthserver"
### Summary

I have created an oauth2.0 authorization server using spring boot. now I want to use this authorization server to login to another web application. for oauth client I am using spring boot SSO. when the oauth authorization server and the oauth client programs are run on different devices everything works fine. but when they are both run on the same device login fails. the only thing th

[2020-04-12 16:23] dulakm opened #8378 "Spring Security uses class from OAuth2 project which results into NoClassDefFoundError"
### Summary
Spring Security uses class from OAuth2 project which results into `NoClassDefFoundError`.

### Actual Behavior
When including following versions (in non-Boot application):
[code]
and using following configuration:
[code]
the application runs into following problem:
[code]

### Expected Behavior
Spring Security should be self sufficient and if there is some missing dependency, it should

[2020-04-12 16:30] dulakm commented on #8378
My bad. I must have overlooked note in https://docs.spring.io/spring-security/site/docs/current/reference/html5/#dependencies.

[2020-04-12 16:30] #8378 closed

[2020-04-13 02:41] nejatian opened #8380 "Encoded password does not look like BCrypt"
### Summary
I have a problem with authenticating users using spring boot API and JWT

### Actual Behavior

I see this error in my console
`WARN 24692 --- [nio-8080-exec-1] o.s.s.c.bcrypt.BCryptPasswordEncoder     : Encoded password does not look like BCrypt`
and
[code]
in post man
### Expected Behavior

I expect to get token

### Version
<spring.version>5.2.6.BUILD-SNAPSHOT</spring.version>
		<spr

[2020-04-13 04:04] snow-flowers opened #8381 "Spring Security configuration"
I have a  problem about Spring Security。it may not a bug。but i can‘t find answer。

Spring Security provides a variety of options for performing authentication. These follow a simple contract – an Authentication request is processed by an AuthenticationProvider and a fully authenticated object with full credentials is returned.

My configuration it may look like this：
![image](https://user-images.g

[2020-04-13 11:17] jvanheesch commented on #8363
@rwinch I really like that your approach does not delay the logout until the next request for that user.
However, I don't like the idea that requests for a user are sent from somewhere other than the user's browser.
This could break some developer assumptions (e.g. requests sent by `RestTemplate` will not include the user's cookies, other than `JSESSIONID`).
Is it important from a security standpo

[2020-04-13 14:57] rwinch commented on #8371
Thanks. As mentioned, x-frame-options is enabled by default with Spring Security. In order to help we need a sample that reproduces the issue. We will await a sample from your development team.

[2020-04-13 16:29] rwinch commented on #8372
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-04-13 16:29] #8372 closed

[2020-04-13 16:48] eleftherias commented on #7791
@dratler You do not need to add any additional gradle dependencies.
Are you seeing this error in an IDE or command line?
Are you able to successfully run `./gradlew clean build`?

[2020-04-13 17:14] rwinch commented on #8375
Thanks for the report. I have confirmed this is an issue. I will push a fix out. In the meantime, you can work around it by explicitly providing a logout handler. So changing your example to be something like this would work:

[code]

[2020-04-13 18:25] jzheaux commented on #8381
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-04-13 18:25] #8381 closed

[2020-04-13 18:27] jzheaux commented on #8380
Since Spring Security's JWT support doesn't use the `PasswordEncoder`, there's probably most configuration that you'll need to share to determine if this is a bug or not.

Would you please provide a minimal sample (a GitHub repo, for example) that reproduces the issue?

[2020-04-13 18:32] jzheaux commented on #8376
Thanks for the suggestion, @rahul-gupta-1525. Granted authorities are typically granted in the `AuthenticationManager`, separating it from the servlet layer, so adding a `getGrantedAuthorities` to a Spring Security filter is unlikely to be a fit.

Is there something that you are needing from the request in order to determine what granted authorities to add?

[2020-04-13 18:47] nejatian commented on #8380
I have solved my problem by importing
 org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder.BCryptVersion
 to my code.

[2020-04-13 18:47] #8380 closed

[2020-04-13 19:23] jgrandja commented on #5607
Instead of registering a _well-known_ `@Bean` **name**, we should discover the `@Bean` in `OAuth2ClientConfiguration` **by type** only.

For the `@Bean` type, we should consider borrowing the design from `JwtDecoderFactory` for a possible solution.

For example, `OidcIdTokenDecoderFactory` implements `JwtDecoderFactory`, which is supplied a `ClientRegistration` to determine the type of `JwtDecoder

[2020-04-13 19:31] jgrandja commented on #7391
This issue is related to #7027. A proposed solution is provided in this [comment](https://github.com/spring-projects/spring-security/issues/5607#issuecomment-613053361).

A similar solution could be implemented for `JwtDecoders`.

[2020-04-13 19:35] jgrandja commented on #8365
This issue is related to #7027. A proposed solution is provided in this [comment](https://github.com/spring-projects/spring-security/issues/5607#issuecomment-613053361).

A similar solution could be implemented to address this issue, specifically for `JwtDecoders` and `ReactiveJwtDecoders`.

[2020-04-13 19:37] jgrandja commented on #7391
Closing as duplicate of #8365

[2020-04-13 19:37] #7391 closed

[2020-04-13 19:54] jgrandja commented on #8377
@p2rate This is expected behaviour because of how `Cookie` domains work. Since you have the authorization server and client app running on `localhost`, the `Cookie` created by the client application is over-written by the authorization server, since the domain for both `Cookie` is `localhost`. The solution for this is to use specific host names for either the authorization server or client app (or

[2020-04-13 19:54] #8377 closed

[2020-04-13 19:57] jzheaux opened #8383 "Add JwtAuthenticationConverter docs"

[2020-04-13 19:57] jzheaux opened #8384 "Resource Server Finds JwtAuthenticationConverter Beans"

[2020-04-13 19:57] #8383 closed

[2020-04-13 19:57] #8384 closed

[2020-04-13 20:04] spring-issuemaster commented on #8334
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-04-13 20:04] jgrandja commented on #8373
@gavin-guo Jackson serialization support for OAuth 2.0 Client was recently added in the 5.3.0 release via #7873. Upgrading to 5.3.x will resolve this issue.

[2020-04-13 20:04] #8373 closed

[2020-04-13 20:22] jgrandja commented on #8321
@mengelbrecht This is an enhancement so not it won't be backported to 5.3.x. This will only go into 5.4.x.

[2020-04-13 20:53] jgrandja commented on #8342
@furti I see your dilemma. You need access to the `OAuth2AuthorizationRequest` to perform the validation, however, it's not provided (or accessible) to the `OAuth2TokenValidator`.

I doesn't make sense to directly provide the `OAuth2AuthorizationRequest` to the `OAuth2TokenValidator` given that an Authorization Request is only applicable to `authorization_code` - an `OAuth2TokenValidator` may be i

[2020-04-13 21:37] #8375 closed

[2020-04-13 21:37] spring-issuemaster opened #8385 "Global ServerSecurityContextRepository ignored by logout"
Backport of gh-8375

[2020-04-13 21:37] spring-issuemaster commented on #8385
Fixed via f6ddba8cd8e082a1b67675fc9f51e07c0c731ac3

[2020-04-13 21:37] #8385 closed

[2020-04-13 21:38] spring-issuemaster opened #8386 "Global ServerSecurityContextRepository ignored by logout"
Backport of gh-8375

[2020-04-13 21:38] spring-issuemaster commented on #8386
Fixed via 7b34b223e6582d7135cca753a7495f62b5a9477d

[2020-04-13 21:38] #8386 closed

[2020-04-13 21:43] fpagliar opened #8387 "Compatibility with Spring Framework 5.2.x"
### Summary

SpringSecurity 5.3.1 documentation states that it is built against Spring Framework 5.2.5 and any **newer** version should work.

Is there a hard dependency on the patch version?
I need to upgrade to Spring Security 5.3 but I'm running an earlier patch of the framework (5.2.x).

[2020-04-13 21:46] spring-issuemaster opened #8388 "Global ServerSecurityContextRepository ignored by logout"
Backport of gh-8375

[2020-04-13 21:46] spring-issuemaster commented on #8388
Fixed via 1b91259412732e65da107d5b7d51a5cbb9aafa50

[2020-04-13 21:46] #8388 closed

[2020-04-13 22:14] fpagliar commented on #7711
My understanding is that this fix is in 5.3.x and not in 5.2.x, is that correct?

[2020-04-14 00:30] akuma8 commented on #6320
@tudorgrig

No, read my 2nd point, I still have a Keycloak server running inside a container. This is the most annoying thing because we have to be really careful to never have that server down. There are other challenges too like having Keycloak behind a gateway. I am currently working on that point because we don’t want to expose our Keycloak server to internet.

[2020-04-14 00:33] pamujs commented on #8372
Thank you for your respone.
Agree this might be better suited for Stack overflow. Thinking that I did open the issue there also https://stackoverflow.com/questions/61149407/how-to-develop-resource-server-in-oauth2-0-using-java-spring-boot-framework

Since spring framework supports OAuth2.0, I thought the samples should cover the basic things like developing Resource Server. I was actually referrin

[2020-04-14 05:10] rahul-gupta-1525 commented on #8376
Yes @jzheaux . Unlike traditional approach, we aren't saving User roles & privileges in database. Instead, we define all the privileges or authorities in a yam/properties file, and every incoming request will contain user details along with the subset of privileges the user has access to. In such cases, we just need to set GrantedAuthorities for an User & make use of `@PreAuthorize `annotation to

[2020-04-14 05:52] #8185 closed

[2020-04-14 05:56] aboutZZ commented on #6908
Same prolem here

[2020-04-14 06:17] #8356 closed

[2020-04-14 06:33] pkubowicz opened #8389 "Use @NonNullApi for null-safety"
### Summary

Use `@NonNullApi` annotation as [Spring Core did](https://github.com/spring-projects/spring-framework/commit/87598f48e41d483745aba56cbf4e998c6f6d680c#diff-da6fcb67fe60e6d9d9b8992d27f12c07).

### Actual Behavior

Many parts of the API like ClaimAccessor return null, so it's easy to cause NPE if you don't read JavaDoc carefully.

### Expected Behavior

Use `@NonNullApi` and `@Nullable`

[2020-04-14 07:37] gavin-guo commented on #8373
resolved, thanks!

[2020-04-14 07:48] YunSD opened #8390 "How to catch invalid_client in SpringBoot OAuth"
### How to catch invalid_client in SpringBoot OAuth

![TIM截图20200414153747](https://user-images.githubusercontent.com/18546121/79198407-01c9fc80-7e66-11ea-8c7e-30449c31d32d.png)

![TIM截图20200414153747](https://user-images.githubusercontent.com/18546121/79198584-4bb2e280-7e66-11ea-9d2a-e2ffed12e54f.png)

I can use WebResponseExceptionTranslator interface to catch the common exception Event,  But wh

[2020-04-14 07:53] YunSD commented on #8390
this.unsuccessfulAuthentication(request, response, var9);

`protected void unsuccessfulAuthentication(HttpServletRequest request, HttpServletResponse response, AuthenticationException failed) throws IOException, ServletException {
        SecurityContextHolder.clearContext();
        if (this.logger.isDebugEnabled()) {
            this.logger.debug("Authentication request failed: " + failed.toStri

[2020-04-14 08:09] YunSD commented on #8390
adding interceptors doesn't seem to be doing the trick,
I can't find a suitable way to deal with.

[2020-04-14 09:18] konstantinblaesi commented on #6320
@akuma8 since spring-security uses the [nimbus sdk](https://connect2id.com/products/nimbus-oauth-openid-connect-sdk/download) to implement oidc and oauth2, wouldn't it make sense to use that if we needed to implement authorization servers ourselfes?

[2020-04-14 11:49] callmeberzerker commented on #8368
Hi @jzheaux

I understand the conundrum of supporting this w/o spring-session - for my own use-case I registered a Filter that will populate the sessionRegistry if it's missing -> so I solved it in user-space basically.

I think this should definitely be in the main documentation. Many applications are single instance and this is such a common trip-wire to have magically have "live" sessions on sp

[2020-04-14 13:48] dratler commented on #7791
Hi @eddumelendez ,
I'm able to run successfully `./gradlew clean build` .
before I run Gradle clean and build via IDE , I'm using IntelliJ.
Now I'm trying to add `.contextSource().ldif("classpath:does-not-exist.ldif")` to `SecurityConfig.java`.
which one is it?

[2020-04-14 14:18] rwinch commented on #8375
Thanks again for the ticket. This is fixed in master and backported to 5.3.x 5.2.x and 5.1.x.

[2020-04-14 14:39] duncanportelli commented on #8349
@jzheaux,

Thanks for opening this issue. I am currently working on an IDP-initiated solution and can confirm that a custom `AuthenticationProvider` must be implemented from scratch in order to achieve this.

The problem is that the `OpenSamlAuthenticationProvider` is a `final` class and cannot be extended. If at least, this was not `final`, this would have been so much easier as only the `decrypt

[2020-04-14 14:53] pgerhard opened #8391 "Dependency issues in resource server"
I am attempting to create a resource server using for OAuth2 using an opaque Token. According to the documentation (https://docs.spring.io/spring-security/site/docs/current/reference/html5/#dependencies) only the dependency `spring-security-oauth2-resource-server` is required (I am not using JWT so I do not require `spring-security-oauth2-jose`. However the application fails to start to due to a C

[2020-04-14 15:01] rwinch commented on #5607
Again I think this is too granular. We don't want to add factories for everything that can be created.

[2020-04-14 15:09] rwinch commented on #8377
To add to what @jgrandja said. [RFC6265](https://tools.ietf.org/html/rfc6265) states that Cookies are specific to scheme host and path but do not use the port. A quote from the [Introduction section](https://tools.ietf.org/html/rfc6265#section-1):

   privacy infelicities.  For example, a server can indicate that a
   given cookie is intended for "secure" connections, but the Secure
   attribute d

[2020-04-14 15:17] parikshitdutta commented on #8120
@rwinch Please take a look at PR #8392, or Please assign it to respective reviewer.

Thank you.

[2020-04-14 15:22] rwinch commented on #8387
Spring is quite passive, so you should be able to just update Spring Framework without any issue. Were you having a problem? If so, I'd recommend you consider submitting a ticket with Spring Framework.

We don't run tests on previous versions so I'd recommend using the guidelines provided. If it does work, there is no harm. However, if something is broken we will tell you to update.

[2020-04-14 15:22] #8387 closed

[2020-04-14 15:26] rwinch commented on #7711
@fpagliar Yes it is only in 5.3.x As an enhancement it does not get backported to patch releases (which are only bug fixes)

[2020-04-14 16:47] santam85 commented on #8369
Here's a minimal reproduction sample. Perhaps some of the security configuration can be further simplified.

To reproduce the issue, I send a request to any of the authenticated urls with an `Authentication: Bearer 123` token.

[2020-04-14 17:06] EtienneMiret commented on #8375
You’re welcome. I’m glad it was indeed an issue, and not a misunderstanding on my side. I would’ve hated to waste your time.

[2020-04-14 17:40] rwinch commented on #8375
No problem. Did the workaround work for you in the meantime?

[2020-04-14 17:59] spring-issuemaster commented on #8335
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-04-14 18:37] leonard84 commented on #7883
@jzheaux IMHO `oauth2-oidc-sdk` should still be a managed dependency even if it is optional. This might be a spring-boot-issue though.

[2020-04-14 18:49] rossbu commented on #6320
Hope Spring team would reconsider this decision, the reason given was: "Spring Security’s Authorization Server support was never a good fit. An Authorization Server requires a library to build a product. Spring Security, being a framework, is not in the business of building libraries or products. " from https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update

So the key is to de

[2020-04-14 18:58] jzheaux commented on #7750
@hbourada Agreed that the provided code doesn't work if the column is too narrow; that's why it's not going to be added into Spring Security.

If your password column is too narrow, I'd recommend widening it in order to accept the encoded value. Either way, it sounds like you've got a solution, but feel free to continue posting to the ticket if you feel like there is more to discuss.

[2020-04-14 18:58] #7750 closed

[2020-04-14 19:01] jzheaux commented on #7745
@Daniel-Jacob is [this](https://github.com/spring-projects/spring-security/issues/7745#issuecomment-567736320) still something that you'd like to complete?

[2020-04-14 19:18] jzheaux commented on #8391
Thanks, @pgerhard, this looks like a missing item in the documentation. I think what is needed is:

* The section you pointed out needs to be renamed to `Dependencies for JWT"
* A new section preceding "Minimal Configuration for Introspection" should be added called "Dependencies for Introspection"

Would you be interested in submitting a PR to add the missing documentation?

[2020-04-14 19:31] OrangeDog commented on #6320
@rossbu from the very same post

and above

[2020-04-14 19:32] OrangeDog commented on #6320
@rwinch it is perhaps overdue to lock this issue for the moment, and hide the off-topic stuff.

[2020-04-14 19:46] jgrandja commented on #6320
@OrangeDog Stay tuned for the blog announcement tomorrow.

[2020-04-14 19:56] jzheaux commented on #8376
The way that this filter is intended to be used is to gather what material you need from the request and return it via the `getPreAuthenticatedPrincipal` and `getPreAuthenticatedCredentials` methods as well as the `AuthenticationDetailsSource`.

For example, [the reference guide](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#pre-authentication-framework-classes) details

[2020-04-14 19:56] #8376 closed

[2020-04-14 19:59] jzheaux commented on #8369
Thanks, @santam85, that was helpful, I will play around with this more.

What do you need to expose the `AuthenticationManager` bean for?

[2020-04-14 20:06] jgrandja commented on #5607
@rwinch Can you elaborate why you think this design is too granular?

Why do you think a factory is not suitable here? FYI, we only have one factory defined in OAuth 2.0 codebase thus far - `JwtDecoderFactory`. I'm just trying to understand as your comment does not provide much of an explanation.

Is there another solution you have in mind that you can propose?

[2020-04-14 20:23] #8366 closed

[2020-04-14 21:36] evgeniycheban commented on #8144
I can take this task.

[2020-04-14 22:10] mindhaq commented on #8142
The same happens with `mockUser`, which is quite a blocker in a Kotlin-only project.

spring-security 5.3.1
kotlin 1.3.70

[2020-04-14 22:11] rwinch commented on #8142
@mindhaq Would you mind creating another ticket for that please?

[2020-04-14 22:37] mindhaq commented on #8142
@rwinch my case is actually already mentioned in the ticket description, so I guess there is no need for another ticket which would only be a duplicate of this one. I'll clarify my comment.

[2020-04-14 22:44] lee-gilbert commented on #5690
Might this also provide a solution for retrieving the SecurityContext within Spring Data AuditorAware implementations?

[2020-04-14 22:46] pgerhard commented on #8391
Sure I can. I'll get round to it tomorrow :)

[2020-04-14 22:51] fpagliar commented on #7711
I'm fine with it not being backported, but I'm trying to figure out the state and what to expect, so sorry to bother but I need to clarify the status.
My understanding on this issues is that 5.2 creates signed AuthNRequests that are not respecting the SAML standard. Is that correct?

[2020-04-14 23:02] jzheaux commented on #8216
Closed in favor of #8217

[2020-04-14 23:02] #8216 closed

[2020-04-15 02:29] rwinch commented on #5690
@lee-gilbert I'm not sure. Can you provide more information?

[2020-04-15 03:47] jzheaux commented on #7711
Yes, @fpagliar, 5.2 deviates from `HTTP-Redirect` by omitting the `SigAlg` and `Signature` query parameters.

[2020-04-15 03:48] jzheaux commented on #8144
Thanks, @evgeniycheban! It's yours.

[2020-04-15 03:55] jzheaux commented on #7883
Agreed, @leonard84, that Spring Boot would need to determine something like that.

[2020-04-15 06:53] santam85 commented on #8369
It's superfluous in the example, it can be removed. I used it in my app to create custom `AuthorizationPolicy` (Apache Camel concept)

[2020-04-15 07:49] bberto opened #8393 "Add Flag to enable searching of LDAP groups on subtrees"
### Summary

Is not possible to get authorities searching LDAP groups on subtree of the provided groupSearchBase. IMHO this is a common use case.

### Actual Behavior

`LdapAuthenticationProviderConfigurer` doesn't provide any way to configure `DefaultLdapAuthoritiesPopulator.setSearchSubtree`.

After construction, no `postProcess()` is applied to `DefaultLdapAuthoritiesPopulator`, so it cannot be

[2020-04-15 11:48] roelal commented on #8175
Cool. [Authenticating with Azure AD using a certificate](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#second-case-access-token-request-with-a-certificate) uses this flow, afaics. This feature will help us executing that flow cleanly. Thx.

[2020-04-15 13:02] rwinch commented on #8393
Thanks for the report @bberto! Would you be interested in submitting two separate pull requests? The first would be adding `boolean groupSearchSubtree` and the second would ensure that `DefaultLdapAuthoritiesPopulator` is post processed?

[2020-04-15 16:46] hbourada commented on #7750
I didn't saw the retro-compatibility problem, for that we can have an enabled flag which defaulted to false which give change ti consumer to activate this option.
I attach a version of modified version of `JdbcUserDetailsManager`
[JdbcUserDetailsManager.txt](https://github.com/spring-projects/spring-security/files/4482565/JdbcUserDetailsManager.txt)

[2020-04-15 16:54] hbourada commented on #5939
I add same request: https://github.com/spring-projects/spring-security/issues/7761

[2020-04-15 17:21] parikshitdutta commented on #8149
@eleftherias @rwinch how is it for contribution? I can look into it.

[2020-04-15 17:29] EtienneMiret commented on #8375
Yes! The workaround works fine. Thank you!

[2020-04-15 17:55] eleftherias commented on #8149
Thanks for the offer @parikshitdutta. The issue is yours!

[2020-04-15 18:03] eleftherias commented on #4486
Closing as answered, since the linked StackOverflow post has been answered.

[2020-04-15 18:03] #4486 closed

[2020-04-15 18:14] eleftherias commented on #4335
@davidgoate I'm going to close this as answered, but please feel free to reopen if the suggestion above did not work for you.

[2020-04-15 18:14] #4335 closed

[2020-04-15 18:54] jgrandja commented on #6320
We are very excited to announce the [Spring Authorization Server](https://spring.io/blog/2020/04/15/announcing-the-spring-authorization-server) !

The ultimate goal of this community-driven project, led by the Spring Security team, is to replace the Authorization Server support provided by [Spring Security OAuth](https://spring.io/projects/spring-security-oauth).

The project will start in [Spring

[2020-04-15 18:54] #6320 closed

[2020-04-15 19:17] ahmetgeymen commented on #6320
Şu hareket iyidi.

Sent from my iPhone

On 15 Apr 2020, at 21:55, Joe Grandja <notifications@github.com> wrote:

﻿

Closed #6320<https://github.com/spring-projects/spring-security/issues/6320>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/spring-projects/spring-security/issues/6320#event-3236842751>, or unsu

[2020-04-15 21:12] rwinch opened #8395 "Add GitHub Issue Templates"
### Summary

We already had issue templates, but we should leverage the new support for multiple issues templates. See https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-04-15 21:13] #8395 closed

[2020-04-15 21:37] rwinch opened #8396 "Use Default Community Files"
**Expected Behavior**

We should use the default community files. See https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

**Current Behavior**
The files are overridden which leads to extra maintenance.

[2020-04-15 21:38] #8396 closed

[2020-04-15 22:11] rwinch opened #8397 "Switch CONTRIBUTING to adoc"
**Expected Behavior**

We should switch CONTRIBUTING.md to be an asciidoctor file to be consistent with the rest of our documentation

[2020-04-15 22:17] #8397 closed

[2020-04-16 10:45] pitsoleil commented on #8371
Hi @rwinch ,

thank you and sorry for the late answer. We were still investigating for a solution and finally, we decide to change the configuration by using [this official link](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#servlet-headers-frame-options) asking to configure it as below:

[code]

Now when using owasp-zap to analyze the headers, it can fetch some respons

[2020-04-16 11:18] zxspeccy opened #8398 "AuthorizedClientServiceReactiveOAuth2AuthorizedClientManager "principalName cannot be empty" for tokens with no subject"
**Describe the bug**
We use AuthorizedClientServiceReactiveOAuth2AuthorizedClientManager to manage oauth tokens sent to external service.
Call flow is:
* mobile aplication calls our service with application token (grant_type=client_credentials)
* then our service calls external service using different application token (with different scopes, but also with grant_type=client_credentials)

When spri

[2020-04-16 12:14] jgrandja commented on #8398
@zxspeccy This is expected behaviour -> "principalName cannot be empty".

The `OAuth2AuthorizedClient` requires the `principalName` since an access token is always associated with a principal. The `ReactiveOAuth2AuthorizedClientService` validates the `principalName` and is expected to fail if the `principalName` is not available.

The reason `principalName` is not available is because `JwtAuthenti

[2020-04-16 12:14] #8398 closed

[2020-04-16 12:20] bberto commented on #5860
Building with OpenJDK 11 from master I get this:
[code]

so I think this issue should be reopened. TravisCI builds with openjdk8

[2020-04-16 15:08] zxspeccy commented on #8398
I applied claim converter and it works. Thank you for hint!

[2020-04-16 16:59] jzheaux commented on #7750
Thanks for sharing, @hbourada, though I guess I'm not quite understanding. While a flag may be an option, I don't see this as an improvement over delegation.

For example, a simpler rendition of the earlier snippet is:

[code]

Though a flag would be fewer lines of code, compare this to the fact that with a flag, the developer would need to know that, even though `JdbcUserDetailsService` implement

[2020-04-16 18:43] rwinch commented on #5607
If you are creating `RestOperationsFactory<ClientRegistration>` you might as well just define the `DefaultAuthorizationCodeTokenResponseClient` bean in the first place.

[2020-04-16 18:54] bberto commented on #8393
First PR submitted. Is my first one here, please feel free to provide any feedback

[2020-04-16 18:55] jebeaudet opened #8401 "Gracefully handle session store outage"
**Expected Behavior**
When my session store is down (I'm using spring session with Redis but it should be applicable to any store), if the filter chain is not requiring a session (SessionCreationPolicy.NEVER, IF_REQUIRED and STATELESS) and I'm passing a session cookie (because my browser does so), I expect my service to work normally since the session cookie is not required.

**Current Behavior**

[2020-04-16 21:15] eleftherias opened #8402 "Allow creating AesBytesEncryptor with key"
Adding constructor methods that take a real key rather than a password gives users more flexibility.

This issue was originally reported by Neil Madden, ForgeRock.

[2020-04-16 21:16] rwinch commented on #5860
@bberto If you have found an issue in master, please create a new issue with details on how to reproduce. Please note that we run our build in Jenkins which builds against JDK 8, 9, 10, 11, and 12 so there is likely some other difference causing the problem. That means the more details you can provide the more likely we will be able to figure out the issue. Thanks!

[2020-04-16 21:59] rwinch commented on #8371
I'd look to see if you have Spring Security setup to ignore certain requests. Look for something like:

[code]

Without a complete sample I cannot be of much more help.

[2020-04-16 22:13] rwinch commented on #8401
I'm not sure I follow your scenario, so perhaps an example would help. However, from what I see this is necessary so that SessionManagementFilter can send a user to the session expiration page. I'm not sure how else it would do that other than checking if the session id is valid. Keep in mind that SessionManagementFilter checks the session every request (not just one that require authorization) be

[2020-04-16 22:31] jzheaux commented on #8370
[The release notes for 5.2.3](https://github.com/spring-projects/spring-security/releases/tag/5.2.3.RELEASE) are now showing that issue as a breaking change.

[2020-04-16 23:10] jzheaux opened #8403 "Saml2CryptoTestSupport and TestSaml2AuthenticationObjects should be one class"
`Saml2CryptoTestSupport` and `TestSaml2AuthenticationObjects` should be simplified down to `TestOpenSamlObjects` since in both cases they are providing convenience factory methods for OpenSAML objects.

[2020-04-16 23:10] jzheaux opened #8404 "TestSaml2X509Credentials should only return Saml2X509Credential instances"
`TestSaml2X509Credentials` always exposes a list of credentials when the majority of tests only need one credential. Changing these methods to only return one credential each will simplify tests. Tests that need more than one credential can simply create more than one and add them to the list.

[2020-04-16 23:39] #8403 closed

[2020-04-16 23:39] #8404 closed

[2020-04-17 01:06] jebeaudet commented on #8401
I've put up a [small project here](https://github.com/jebeaudet/spring-security-8401) explaining what I'm trying to achieve. The only requirement is a redis running locally on the default 6379 port.

### Project description
`SessionRequiredController`
A small controller that requires a session. The path `/session/ping` will store a UUID in the session and return its value all the time. This is ana

[2020-04-17 02:30] tofdragon opened #8405 "Authenticatio username and password are encrypted and transmitted from the front end to the back end"
**Expected Behavior**

How to replace the default UsernamePasswordAuthenticationFilter。

**Context**

spring security version: 5.1.4

problem:

1.The encrypted username and password are encrypted and transmitted from the front end to the back end。Front-end RSA encryption。Backend authentication requires decryption first。

2.UsernamePasswordAuthenticationFilter
[code]

3.FormLoginConfigurer
FormLogi

[2020-04-17 07:19] santam85 commented on #8369
I tried workaround #1 successfully, thanks for your suggestion!
Since the api-docs page I am serving from this app has a swagger API testing tool, I need to verify both JWTs and session IDs, unfortunately, making solution #3 not viable. There are also 3 different JWT decoder beans in my context, since I am using the discovery document and have all validation methods enabled, so not sure how to cov

[2020-04-17 07:40] torrespro commented on #8369
Looks like the error has been there for a while: http://blog.iampfac.com/blog/2015/02/12/stackoverflow-error-with-spring-security-authentication/

It was _fixed_ also using with the workaround 1)

[2020-04-17 08:00] corneliouzbett commented on #8188
@asaikali @rwinch  Is this ready for work?

[2020-04-17 11:01] jgrandja commented on #5607
Ok, so it sounds like you are favouring a well-know bean name, as per [comment](https://github.com/spring-projects/spring-security/issues/5607#issuecomment-408905168)?

[2020-04-17 11:26] jgrandja commented on #8335
@furti Regarding your suggestion that `build()` should be `build(true)` - this is no longer valid as the changes in this [commit](https://github.com/spring-projects/spring-security/commit/23ce7173803ed50a458b6de4e75bfe7bdb51bc2e#diff-e1e88e9660da829bba7b7e6280be88faR456) modified the implementation. So we are good.

[2020-04-17 11:26] #8335 closed

[2020-04-17 11:34] hbourada commented on #7750
You said:
_It does make sense to implement UserDetailsPasswordService for upgrading passwords in a database; however, this is risky specifically for JdbcUserDetailsManager from a backward compatibility standpoint._
and:
_Though a flag would be fewer lines of code, compare this to the fact that with a flag, the developer would need to know that, even though JdbcUserDetailsService implements UserDet

[2020-04-17 12:26] Lyannic opened #8407 "Method security produces logs ... is not eligible for getting processed by all BeanPostProcessors"
**Describe the bug**
I get info logs during application startup, that a couple of Beans are not eligible for getting processed by all BeanPostProcessors.
I am using Spring Boot 2.2.6.RELEASE.
I thought, this was Spring Boot concerned, so I already created a ticket there but got sent over here. [Link](https://github.com/spring-projects/spring-boot/issues/21000) to the Spring Boot issue.

[code]
Sin

[2020-04-17 13:52] eleftherias commented on #8405
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-04-17 13:52] #8405 closed

[2020-04-17 15:07] justinmusgrove commented on #7569
@ghostd - was wondering if sample was documented as I am looking to run this within spring data flow. I was following @rwinch example https://github.com/rwinch/webclientoauth2-cli, then running into "Authorization required for Client Registration Id" as I was trying to programmatically provide a user. Any direction would be appreciated. Thanks!

[2020-04-17 15:19] spring-issuemaster opened #8408 "Fix typo with correct capitalization"
Backport of gh-8406

[2020-04-17 15:19] spring-issuemaster commented on #8408
Fixed via 2289ad5e35d111d0d6755be5906f987d811853f0

[2020-04-17 15:19] #8408 closed

[2020-04-17 16:13] spring-issuemaster opened #8409 "Fix typo with correct capitalization"
Backport of gh-8406

[2020-04-17 16:13] spring-issuemaster commented on #8409
Fixed via 01f904895e227ee4e128e106430d73b660d678ae

[2020-04-17 16:13] #8409 closed

[2020-04-17 17:30] jgrandja commented on #7569
@justinmusgrove It was recently documented in the [reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-authorized-manager-provider). This references the Servlet implementation as the reactive is not documented yet, but it's the same approach just different classes.

[2020-04-17 17:45] rwinch commented on #8393
Closing in favor of gh-8400

[2020-04-17 17:45] #8393 closed

[2020-04-17 18:05] jzheaux commented on #7750
Agreed, @hbourada, that the flag addresses the compatibility issue. It raises security issues, though, which is why I don't think it should be added. Thank you for the suggestion, though.

[2020-04-17 18:20] spring-issuemaster opened #8410 "Fix typo with correct capitalization"
Backport of gh-8406

[2020-04-17 18:20] spring-issuemaster commented on #8410
Fixed via 52af3998c82d91386400196153e4ccfb4d5e52ca

[2020-04-17 18:20] #8410 closed

[2020-04-17 19:00] rwinch commented on #8188
@corneliouzbett Yes it is. Would you be willing to submit a PR?

[2020-04-17 19:23] berniegp commented on #4212
I have the same issue described by @jukkasi with the default configuration in Spring Boot and

[code]

The sequence of events is:
1. Authenticate "user1" with `Authorization: Basic XXX` => `Set-Cookie: JSESSIONID=ABC`
2. Authenticate "user2" with `Authorization: Basic YYY` and `Cookie: JSESSIONID=ABC` => no `Set-Cookie` header returned.
3. Make another request with `Cookie: JSESSIONID=ABC` and wit

[2020-04-17 21:03] corneliouzbett commented on #8188
Yes, I have just submitted one

[2020-04-17 21:03] #8324 closed

[2020-04-17 21:25] rwinch commented on #8391
Closing in favor of gh-8391

[2020-04-17 21:25] #8391 closed

[2020-04-17 22:00] #8360 closed

[2020-04-17 22:18] rwinch commented on #8407
Thanks for the report. I think there are two issues here. I don't believe these logs are directly related to beans you are creating not getting proxied. The logs are just informational since the configuration beans are not marked with ROLE_INFRASTRUCTURE.

Can you update the sample to demonstrate how your beans are not being proxied properly?

[2020-04-17 22:46] rwinch commented on #5607
Yes. Can we just have a single well known bean name for all of security? I doubt that most setups will need multiple different RestTemplate instances. If they do, they can always define the beans explicitly

[2020-04-17 22:50] rwinch commented on #8401
Thanks for the update. I will try and take a look at it in the next few days.

[2020-04-17 23:02] xenoterracide commented on #5607
one possible exception, tests.

[2020-04-17 23:18] jzheaux opened #8412 "Consider Making JwtDecoders return type generic"
Related to https://github.com/spring-projects/spring-security/issues/6010

**Expected Behavior**

Change the methods in `JwtDecoders` from returning `JwtDecoder` to returning `<J extends JwtDecoder>`:

[code]

Then, a downcast isn't necessary:

[code]

**Current Behavior**

To further configure a `JwtDecoder` returned by `JwtDecoders`, it's necessary to perform a downcast:

[code]

**Context**

I'

[2020-04-17 23:19] jzheaux commented on #6010
Closed in favor of https://github.com/spring-projects/spring-security/issues/8412

[2020-04-17 23:19] #6010 closed

[2020-04-17 23:27] jzheaux commented on #7768
I think this is probably a duplicate of https://github.com/spring-projects/spring-security/issues/8369

[2020-04-17 23:27] #7768 closed

[2020-04-18 02:43] hanscrg commented on #7985
@jgrandja, as you suggested it works fine. Thanks a lot!

[2020-04-18 02:54] hanscrg opened #8413 "SecurityContextServerLogoutHandler does not revoke OAuth2 token"
Spring Security 5.2.2 org.springframework.security.web.server.authentication.logout.SecurityContextServerLogoutHandlerdoes not revoke OAuth2 token or remove refresh token.  See the code below (Spring Boot application with authorization-grant-type: authorization_code).

Should this logout handler be enhanced to take care OAuth2 logout or some other logout handler will take care of token clear up?

[2020-04-18 10:31] pitsoleil commented on #8371
Hello @rwinch ,

Thank you for your reply.

By sample, do you need to see how exactly it's configured on our side? if it's the case, I can ask if I can have it.

I would like to know if you need us to replace the code that you gave us with the one that is already set on our spring. Or you need us to just add the one you provided. Sorry because I am not a developer, it's a little hard for me to get

[2020-04-18 13:22] dadikovi commented on #8119
Hi! This looks like an ideal very-first PR for me!
I assume all the information I need for it is in the code of conduct and the contribution guide...

[2020-04-18 16:05] sulthan309 opened #8415 "Create an annotation to check the content type of MultiPartFile."
According to [OWASP](https://owasp.org/www-community/vulnerabilities/Unrestricted_File_Upload) standards, it is recommended validate the file type of the uploaded file. So whenever we create a controller to upload a file, it is recommended to check the file type of the uploaded file.

Currently i am check the content type by doing,
[code]
It would be easier to check the content type if we have an

[2020-04-18 19:37] ThomasVitale commented on #8326
Hi @jgrandja, can I take this task?

[2020-04-19 04:31] furti commented on #8335
Perfect. Using the UriBuilderFactory is even better than using the UriComponentsBuilder directly I think. :)

[2020-04-19 12:08] dadikovi commented on #2884
Hi! I would like to investigate this issue and send a proposal PR about it. Can I take it?

[2020-04-20 11:46] netbeansuser2019 commented on #4242
May you can use also:
org.springframework.security.web.savedrequest.NullRequestCache

[2020-04-20 12:15] netbeansuser2019 opened #8419 "Login success handler should be called in proper context"
Login success handler should be called in proper context

**Describe the bug**
If it is called login success handler it is not ensured RequestContextHolder so
exception could be called if there is any bean that it is using it.

[code]

**To Reproduce**
org.springframework.security.config.annotation.web.configurers.AbstractAuthenticationFilterConfigurer.successHandler(org.springframework.security.w

[2020-04-20 16:10] rwinch commented on #8415
Thanks for the suggestion.

If Spring added something like this, I think it would make more sense in Spring Framework. What are your thoughts on such a feature @rstoyanchev?

[2020-04-20 16:36] wilkinsona opened #8420 "Avoid broken links caused by htmlsingle to html5 directory name change"
With thanks to @dreis2211 for [bringing it to my attention](https://github.com/spring-projects/spring-boot/pull/21040/files), the change from `htmlsingle` to `html5` in Spring Security 5.3 has broken some documentation links. It'd be nice if existing links to https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/ would continue to work. It'd also be nice if you could take a