[2020-06-19 21:01] jgrandja commented on #7890
Makes sense @rwinch.

@ovidiupopa91 Please take a look at the new features added in [spring-projects/spring-framework#25065](https://github.com/spring-projects/spring-framework/pull/25065) and leverage for this implementation. Let me know if you have any questions.

[2020-06-19 21:01] rhoughton-pivot opened #8733 "Update dependency com.nimusds:oath2-oidc-sdk to version 8+"
**Expected Behavior**
From `spring-security-oauth2-client:5.3.2.RELEASE`, my project transitively gets
[code]

**Current Behavior**
instead of
[code]

**Context**
Current version 7.1.1 pulls in deprecated packages `com.sun.mail:javax.mail` and `javax.activation:activation` which are unused by our project and cause classpath confusion for clients using the Apache Geode project.

I have run limited

[2020-06-19 21:08] jzheaux commented on #8730
Thanks for the heads up, @jrehwaldt and @materia2021.

While this could be solved by manually constructing a `DefaultJWTProcessor` and passing it to the `NimbusJwtDecoder` constructor, I think it'd be nice for the builders to be equipped with a post-processor to save some of that boilerplate.

This isn't the first time that a desire to post-process the `JWTProcessor` has come up, so I think this c

[2020-06-19 21:28] jzheaux commented on #8733
@rhoughton-pivot, thanks for the suggestion. And thank you for reporting that you were able to manually upgrade.

We won't update major versions of dependencies in maintenance release tracks, so this change would need to go into 5.4 instead of some future 5.3.x. This facilitates more predictable upgrades. For another part, Spring Boot manages some of the same dependencies we use, and they follow a

[2020-06-19 21:28] #8733 closed

[2020-06-20 05:19] jrehwaldt commented on #8730
@jzheaux I had the same thought. There is a catch, though: [JwtProcessor Does not implement the required methods](https://www.javadoc.io/static/com.nimbusds/nimbus-jose-jwt/8.9/com/nimbusds/jwt/proc/JWTProcessor.html). We‘d need to pass the DefaultJwtProcessor to the modifier. If that’s okay I am happy to draft a PR.

On a side note why I did not propose it: I was concerned one could somehow break

[2020-06-20 06:30] jzheaux commented on #8730
@jrehwaldt I think if you have it pass a `ConfigurableJWTProcessor<SecurityContext>`, then that will do the trick.

It certainly does give the user more power, but it's no more power than they already have with the `NimbusJwtDecoder` constructor (which takes a fully-configured `JWTProcessor`).

Sounds great, @jrehwaldt.

[2020-06-20 06:59] ovidiupopa91 commented on #7890
Hi @jgrandja . Great, I'll do that. I will probably open a draft PR to get your feedback as soon as possible.

[2020-06-20 17:28] visweshwar opened #8735 "Support JWTBearer Client Assertion Authentication"
**Expected Behavior**

One of the protocols support by OAuth is Client Assertion as authentication

A client uses an assertion to authenticate to the authorization server's token endpoint by using the "client_assertion_type" and "client_assertion" parameters

https://tools.ietf.org/html/rfc7521#section-6.1

**Current Behavior**

No Support

**Context**

This is something supported by jose.nimbus

[2020-06-21 04:09] keyuls commented on #6463
@jscoder1009  where did you added callback URL with https?

[2020-06-21 08:41] abhi2495 commented on #7569
Hey @justinmusgrove  @jgrandja
You can use the following code : [Spring WebFlux Security- Client config - OAuth2.0 Client Credentials Flow](https://gist.github.com/abhi2495/51ad47394da2effc0fb63f97b3a78e37)

[2020-06-21 09:04] abhi2495 commented on #7468
@juliuskrah
You can use the following code : [Spring WebFlux Security- Client config - OAuth2.0 Client Credentials Flow](https://gist.github.com/abhi2495/51ad47394da2effc0fb63f97b3a78e37)

[2020-06-21 19:24] qavid commented on #6489
Hi @jzheaux, I have submitted PR, but I have one question.
Documentation for AuthenticatedPrincipal#getName states that returned name is never null but according to RFC7519 (JWT) and RFC7662 (Token Introspection) SUB claim is in both cases optional. What should be returned in case there isn't SUB claim in JWT or Token Introspection? Previous implementation of DefaultOAuth2AuthenticatedPrincipal wo

[2020-06-22 02:15] ndopj opened #8741 "Reactive oauth2 resource server - reactive authentication manager's cahing"
**Current Behavior**

With **Spring Security 5.3** one can configure `oauth2` resource server to support multiple tenant's. For this purpose class `JwtIssuerReactiveAuthenticationManagerResolver.class` exist's. It contain's subclass `TrustedIssuerJwtAuthenticationManagerResolver.class` with method `resolve(String issuer)` to store reactive authentication managers identified by given issuer URL par

[2020-06-22 07:57] eleftherias commented on #8697
Thanks for the report @gonozalviii! Would you be interested in submitting a PR for this?

[2020-06-22 10:14] eleftherias opened #8743 "SwitchUserFilter.setUserDetailsChecker is missing Javadoc"
We should add a Javadoc to `setUserDetailsChecker` so that users understand the purpose of this method.

[2020-06-22 10:17] eleftherias opened #8744 "SwitchUserFilter.setExitUserMatcher Javadoc is incorrect"
The Javadoc for `setExitUserMatcher` mentions that

This is incorrect, because it is simply referencing itself.

[2020-06-22 10:21] jgrandja commented on #8669
Thanks for the report @realulim.

The Java configuration registers `OAuth2ClientConfiguration.OAuth2ClientWebMvcSecurityConfiguration` and adds `OAuth2AuthorizedClientArgumentResolver`, which resolves `OAuth2AuthorizedClient` via `@RegisteredOAuth2AuthorizedClient`.

The issue is that `OAuth2AuthorizedClientArgumentResolver` is not automatically registered when using XML config.

I'll add this to

[2020-06-22 10:42] jgrandja commented on #8696
@MatCuk

As per spec, in [Section 5.1. Successful Response](https://tools.ietf.org/html/rfc6749#section-5.1), the `expires_in` parameter is the lifetime in seconds of the access token. There is no equivalent for `expires_in` for `refresh_token`.

I'm going to close this as "works as designed".

[2020-06-22 10:42] #8696 closed

[2020-06-22 11:00] jgrandja commented on #8700
Thanks for the report @benba.

By default, both `OAuth2AuthorizedClientArgumentResolver` and `ServletOAuth2AuthorizedClientExchangeFilterFunction` create default `OAuth2AuthorizedClientManager`. Instead of using `@RegisteredOAuth2AuthorizedClient` to refresh the access token, you can configure `ServletOAuth2AuthorizedClientExchangeFilterFunction` to use your custom `OAuth2AuthorizedClientManager`

[2020-06-22 11:00] jgrandja commented on #8700
Related #8669

[2020-06-22 11:01] jgrandja commented on #8700
After #8732 is merged, we can add this enhancement.

[2020-06-22 11:15] #8743 closed

[2020-06-22 11:15] #8744 closed

[2020-06-22 11:20] jgrandja commented on #8701
@benba Customizing `OAuth2AccessTokenResponse.expiresIn()` is already possible via `OAuth2AccessTokenResponseHttpMessageConverter`.

See the [ref doc](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#customizing-the-access-token-response) for configuration details.

[2020-06-22 11:20] #8701 closed

[2020-06-22 11:31] jgrandja commented on #8702
@benba It doesn't make sense to call `OAuth2AccessTokenResponse.withResponse(sourceTokenResponse).expiresIn(60)`, since the supplied `sourceTokenResponse` provides the `expiresAt`. If you want to explicitly configure `expiresIn()` then call `OAuth2AccessTokenResponse.withToken()` instead.

[2020-06-22 12:05] jrehwaldt commented on #8730
@jzheaux I created a draft PR in #8745 for `PublicKeyJwtDecoderBuilder` only. If that's the way to go I'll go ahead and add the same functionality for the other two builders. Please leave a review and comment on naming preferences and Javadoc improvements you'd like to see.

[2020-06-22 12:08] jgrandja commented on #8735
Closing as duplicate #6881

[2020-06-22 12:08] #8735 closed

[2020-06-22 12:15] sambernet commented on #6591
Not specific to JUnit 5, same problem also affects vintage JUnit4 tests.
But looking at the brand new [PR](#8738) this was a general issue with the `WithUserDetails` and both should be fixed with this change. 🥳
Thanks 👍

[2020-06-22 12:20] jgrandja opened #8746 "Fix typo in OAuth2AccessTokenResponse"
Fix javadoc typo in `OAuth2AccessTokenResponse.withResponse()`.

[2020-06-22 12:23] #8746 closed

[2020-06-22 14:05] jgrandja commented on #8609
@iilkevych Regarding your comment

I think this is where the confusion is? `OAuth2AuthorizationCodeGrantWebFilter` processes the [4.1.2. Authorization Response](https://tools.ietf.org/html/rfc6749#section-4.1.2) for the OAuth 2.0 Authorization Code Grant. **NOTE:** The OAuth 2.0 Authorization Framework deals specifically with Authorization, **it does not address Authentication**. So it doesn't mak

[2020-06-22 14:43] iilkevych commented on #8609
Who is authorizing what in OAuth 2.0 Authorization Framework?

I believe resource owner authorizes access to resource by client. There is nothing about authorizing anything to anybody in client app.
It's authorization server and resource owner. They are authorizing access to resource by client app.
Authorization code is authentication from client app's user perspective.
That is why `OAuth2Authoriz

[2020-06-22 15:06] ovidiupopa91 commented on #7890
Hi @jgrandja . Can you please reassign me to the issue? (just to avoid what happened when I tried to contribute to the spring-authorization-server project :D )

[2020-06-22 16:04] jgrandja commented on #8609
@iilkevych I would recommend reading the specs to understand the difference between OAuth 2.0 Authorization Framework **(Authorization)** and OpenID Connect 1.0 **(Authentication)**. The links are provided in the previous [comment](https://github.com/spring-projects/spring-security/issues/8609#issuecomment-647541335).

Also, it's not clear to me if you are still seeing an issue (bug) or missing fu

[2020-06-22 16:12] benba commented on #8701
Thanks for your answer @jgrandja
Actually that's what i did until now, but it's very hard to do for changing that behavior.
Unless Gitlab OIDC usage of `expires_in` is an isolated/rare case, it would have been nice to have a simpler way to do it.
For my use case I use a endpoint with an `@RegisteredOAuth2AuthorizedClient` parameter.
I want both the auth code flow response access token and the one

[2020-06-22 16:19] benba commented on #8702
@jgrandja sure, it's just that you need yo copy all the entries manually:
[code]
Maybe I understand this wrong but I thought of the `withResponse()`or `withToken()` as a way to copy values from a response or a token to the `Builder`,  and then being able to change them.
Anyway, why not throwing an exception if `expiresIn()` is called while `expiresAt`is already set, instead of silently ignoring th

[2020-06-22 18:14] rwinch commented on #8705
Thanks for the response. What is the stacktrace you see when providing `%` or `;`? If it is a `RequestRejectedException` then it will be handled by the changes for gh-5007

[2020-06-22 19:35] patelneelj commented on #8705
@rwinch Yes. I can customize the workflow and can do something to handle especially for `requestRejectedException`.
But I believe, how, for "//" things was an issue before in  https://github.com/spring-projects/spring-security/issues/5007 and it was resolved in https://github.com/spring-projects/spring-security/pull/7052 and now, we do not need to customize the workflow for "//".
The same way, I b

[2020-06-22 19:56] #7572 closed

[2020-06-22 19:56] spring-issuemaster opened #8748 "formLogin() does not work with REST Docs"
Backport of gh-7572

[2020-06-22 19:56] spring-issuemaster commented on #8748
Fixed via c16db27670c10d7754a4df0f7342c73866de3320

[2020-06-22 19:56] #8748 closed

[2020-06-22 20:40] iilkevych commented on #8609
@jgrandja
I’m afraid I may not find time to create and explain example. Although I believe if state expired before user authenticated then user should not authenticate again. This should happen without any users action.
This was initial issue and it is not resolved yet.

[2020-06-23 07:32] realulim commented on #8669
Thank you for confirming and taking it on. As a workaround, would it be somehow possible to manually configure the OAuth2AuthorizedClientArgumentResolver?

[2020-06-23 08:08] MatCuk commented on #8696
Hi, ok thanks for reply. Then it seems the app is setting expires at to refresh token and rejecting it after that even it should not. Is there any simple way to handle this on client side? Like to evict refresh token. Implement custom ReactiveClientRegistrationRepository ?

[2020-06-23 15:50] jzheaux opened #8750 "Consider Adding Testing Support for Building Authentications"
`SecurityMockMvcRequestPostProcessors` is a class that simplifies creating `RequestPostProcessor`s for the purposes of testing. In large part, each `RequestPostProcessor` is responsible for creating an `Authentication` and populating the `SecurityContextHolder`.

The builders that `SecurityMockMvcRequestPostProcessors` exposes are actually quite convenient to use since they provide reasonable test

[2020-06-23 18:37] spring-issuemaster commented on #8659
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-06-23 18:37] #8659 closed

[2020-06-23 20:02] spring-issuemaster commented on #8682
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-06-23 22:22] jmoseman01 opened #8751 "Default support for classlink"
**Expected Behavior**
in the configuraion yml
registration:
    classlink:
           ...

**Current Behavior**

Default support for google, github and okta exist.

**Context**
How has this issue affected you?
What are you trying to accomplish?
What other alternatives have you considered?
Are you aware of any workarounds?
  security:
    oauth2:
      client:
        registration:
          classl

[2020-06-24 01:35] jzheaux commented on #8741
Thanks for the suggestion, @ndopj.

Just to clarify this point, `NimbusReactiveJwtDecoder` already caches the keys for a finite period of time.

Because the resolver has an unchanging list of issuers, I'm not sure what invalidating the resolver cache would accomplish more than `NimbusReactiveJwtDecoders` ttl already does.

Can you elaborate on what you are trying to accomplish?

[2020-06-24 04:16] jmoseman01 commented on #8751
Looks like they don't have a jwk set uri

[2020-06-24 04:32] tramyu opened #8753 "Default constructor issue in SecurityMockMvcConfigurer class"
**Describe the bug**

**Version**: Spring 5.2.7.RELEASE

I'm using `springSecurity()` method in SecurityMockMvcConfigurers class.

[code]

`springSecurity()` method is using default constructor in SecurityMockMvcConfigurer.

`SecurityMockMvcConfigurer`

[code]

`DelegateFilter`

[code]

If I use default constructor, `getSpringSecurityFilterChain()` method always return null.

**To Reproduce**

An

[2020-06-24 07:46] IARI commented on #3849
The Issue mentioned by @lglapinski (and #849 plus several others linked there) all relate to Redis sessions.
Is it possible to achieve this with plain http-sessions as well?

@rwinch would a

be the way to go - and if so, can I just override `HttpSessionSecurityContextRepository` ?

And if i have done so and instantiated it in my `WebSecurityConfigurerAdapter`, Is it enough to register that as a b

[2020-06-24 09:53] eleftherias commented on #8751
Thanks for getting in touch, @jmoseman01, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue

[2020-06-24 09:53] #8751 closed

[2020-06-24 10:13] gonozalviii commented on #8697
Yes I can create a PR.

I assume the new functions should be added, and the old functions should be kept?

[2020-06-24 10:50] eleftherias commented on #8697
@gonozalviii Yes, please keep the old functions for backwards compatibility.

[2020-06-24 11:00] eleftherias commented on #8753
Thanks for the report @tramyu. I am not able to reproduce this issue, could you please share a minimal sample that reproduces the issue that you are seeing?

[2020-06-24 19:10] BharathKumarRavichandran commented on #5188
Any updates on this?

[2020-06-24 19:13] BharathKumarRavichandran commented on #5188
Any update on this?

[2020-06-24 21:41] #6591 closed

[2020-06-24 21:42] rwinch commented on #6591
This is now fixed via gh-6591 Closing as duplicate of the PR

[2020-06-24 22:49] jcd006 commented on #8682
I was able to resolve this issue by overriding the default session mitigation strategy to migrateSession() instead of the default `ChangeSessionIdAuthenticationStrategy`.

It looks like there's a similar issue that was resolved earlier here that had the same suggested answer :

https://github.com/spring-projects/spring-security/issues/7166

[2020-06-25 09:03] michalgebauer opened #8757 "OAuth2AuthorizationCodeGrantFilter doesn't work in cloud with gateway & service registry"
**Describe the bug**
OAuth2AuthorizationCodeGrantFilter strictly compares used redirect url with the one constructed from actual http request in order to process authorization response. In cloud setup these urls never equal due to request rewrite in gateway and usage of ip address from service registry.

**To Reproduce**
_original redirect url:_ https://{some host}/gateway/auth
_the one coming to

[2020-06-25 16:06] german1410 opened #8758 "BearerTokenAuthenticationEntryPoint allow response to be customized"
**Expected Behavior**

In order to allow customization of errors when token is rejected (see #5985 for example), BearerTokenAuthenticationEntryPoint  should allow to specify some sort of delegate to add more information apart of the **WWW-Authenticate** header

**Current Behavior**

BearerTokenAuthenticationEntryPoint  is final and there is no way to enhance response other than creating a duplicat

[2020-06-25 16:24] rwinch opened #8759 "Update to spring-build-conventions:0.0.33.RELEASE"
Update to spring-build-conventions:0.0.33.RELEASE

[2020-06-25 16:26] #8759 closed

[2020-06-25 16:28] spring-issuemaster opened #8760 "Update to spring-build-conventions:0.0.33.RELEASE"
Backport of gh-8759

[2020-06-25 16:28] spring-issuemaster commented on #8760
Fixed via 8dea57895936c63a9225ddb952db7fec091113d2

[2020-06-25 16:28] #8760 closed

[2020-06-25 16:30] spring-issuemaster opened #8761 "Update to spring-build-conventions:0.0.33.RELEASE"
Backport of gh-8759

[2020-06-25 16:30] spring-issuemaster commented on #8761
Fixed via 5343325091875cbc9edadad13f8893a2b82a0f3d

[2020-06-25 16:30] #8761 closed

[2020-06-25 16:53] jzheaux commented on #8758
@german1410, thanks for the suggestion. Copying a class can be annoying.

However, I think most of the WWW-Authenticate header functionality is available in Nimbus via their `BearerTokenError` class, which ships with a `toWWWAuthenticateHeader` method.

If that doesn't simplify your use case enough, maybe you could tell me more about what you are trying to accomplish.

I wonder if it would be easi

[2020-06-25 16:56] jzheaux commented on #8682
Thanks for the extra information, @jcd006. I'll close this as a duplicate of https://github.com/spring-projects/spring-security/issues/7166, then.

[2020-06-25 16:56] #8682 closed

[2020-06-25 18:58] TheKojuEffect commented on #5193
Workarounds are mentioned in #2953.
JavaConfig: https://github.com/spring-projects/spring-security/issues/2953#issue-131777949
XmlConfig: https://github.com/spring-projects/spring-security/issues/2953#issuecomment-335443527

[2020-06-25 19:38] rwinch commented on #8705
Even after gh-7052 you need to customize the `RequestRejectedHandler`. Spring Security will process any request that is rejected using `RequestRejectedHandler`. This includes `//` `;` and `%`. We will not change the default behaviour until the next major release. Please let me know if tehre are any additional changes you think that need to be made.

[2020-06-25 19:42] rwinch commented on #5414
Closing in favour of gh-8749

[2020-06-25 19:42] #5414 closed

[2020-06-25 20:35] jzheaux opened #8762 "LDAP Integration Tests Should Use Random Port"
**Expected Behavior**

The integration tests in `spring-security-ldap` use a random port to prevent collisions

**Current Behavior**

The `ApacheDsContainerConfig` uses the default port, which is `55389`. With concurrent tests, this increases the likelihood of a collision.

**Context**

The builds fail more often when LDAP tests use `ApacheDsContainer` with the default port due to port collisions.

[2020-06-25 20:45] #8669 closed

[2020-06-25 20:46] #8762 closed

[2020-06-25 20:46] jgrandja commented on #8669
@realulim I just pushed this enhancement to master. Let me know how it goes.

[2020-06-25 21:15] jzheaux opened #8763 "Restructure SAML 2.0 documentation"
It would be nice if the SAML 2.0 documentation looked like the rest of the documentation, including having flow diagrams.

[2020-06-25 21:19] jgrandja commented on #8702
@benba I see your point...

However, throwing an exception would be too much I think. How about setting `this.expiresAt = null` when `expiresIn()` is called? Would you be interested in submitting a PR for this?

[2020-06-25 21:23] jgrandja commented on #8696
@MatCuk I don't full understand this...

Can you put together a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the issue so I can better understand the issue you are facing?

[2020-06-25 21:32] jgrandja commented on #8701
@benba

It is a rare case. Most providers I've seen thus far provide the `expires_in` parameter.

I reviewed your config and this is exactly how you would go about customizing the token response.

[2020-06-25 22:22] AMF1107 commented on #2325
I'm using Spring Security 5.2.4 and the trailing `/` still exists

[2020-06-25 22:22] patelneelj commented on #8705
@rwinch That's the one I am explaining to you that **we do not need to required to customize** for`//` or `/`or `\\`
It is very well working as expected in spring security i.e no stack trace and 400 response code.

And I think, the same way, spring-security should behave for `%` and  `;`
However, it is not behaving the same way. For `%` and  `;` spring-security generated stack-trace and 500 respon

[2020-06-26 01:49] loesak commented on #8649
@jgrandja Thank you for your reply. Maybe you can help me understand what I am doing wrong then. I have this code that is allowing me to use the new Spring Security OAuth framework with Open Feign.

https://gist.github.com/loesak/ec97dfb891381932187e655153e741ae#file-oauth2feignrequestinterceptor-springsecurity5

The code is loosely taken from code you are familiar with

https://github.com/spring-

[2020-06-26 02:54] sachin21jan opened #8764 "Improve error message when invalid content-type for UserInfo response"
### Summary

Adding scope: https://www.googleapis.com/auth/contacts.readonly to google oauth2 login generating following exception -

org.springframework.security.oauth2.core.OAuth2AuthenticationException: [invalid_user_info_response] An error occurred while attempting to retrieve the UserInfo Resource: Could not extract response: no suitable HttpMessageConverter found for response type [java.util

[2020-06-26 04:59] fpagliar commented on #8661
@kostic017 thank you!
Yeah you can also use the AuthoritiesExtractor to intercept the selected valid decrypted assertion and store what you need. But it is horribly hacky.

[2020-06-26 05:15] fpagliar commented on #8685
@jzheaux is there a place for developers that are going through the migration to share common workarounds, supported / unsupported scenarios, etc? To aid in the meantime, until there's time for an official migration path.

[2020-06-26 06:36] tramyu commented on #8753
I'm sorry. I solved it.

It was a problem caused by the disappearance of `MockMvcSecurityAutoConfiguration`.

[2020-06-26 06:42] tramyu commented on #8753
@eleftherias

I'm closing this issue because I think there's no problem.

I have a question.

Why not use the 'getDelegate()' method?

`SecurityMockMvcConfigurer`

[code]

[2020-06-26 06:42] #8753 closed

[2020-06-26 06:58] walec51 commented on #7568
the default 500 code is just bad
change it to 400 in the next major release

[2020-06-26 08:35] realulim commented on #8669
I checked out master and did ./gradlew install and ./gradlew build, but the generated jar in build/libs has no classes. Is there a place where binaries could be downloaded, perhaps a nightly build?

[2020-06-26 08:36] eleftherias commented on #8764
It looks like you have posted [this question](https://stackoverflow.com/questions/62587240/spring-security-and-google-contacts-api-integration-throwing-exception) on StackOverflow, so let's continue the discussion there.
As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issu

[2020-06-26 08:43] ndopj commented on #8741
Well i didn't notice `NimbusReactiveJwtDecoder` already does this job despite the fact i went trough the implementation finding for such a feature. This issue is thus solved and i am closing it. Thank you for your time.

[2020-06-26 08:44] ndopj commented on #8741
Well i didn't notice `NimbusReactiveJwtDecoder` already does this job despite the fact i went trough the implementation finding for such a feature. This issue is thus solved and i am closing it. Thank you for your time.

[2020-06-26 08:44] #8741 closed

[2020-06-26 10:01] chelseakohli commented on #8010
@DEEPAKRDEEPS  i am also facing the same issue to map roles and authorities from database. Can you please explain how you were able to do it.

[2020-06-26 10:30] herrminni commented on #8010
Hi @chelseakohli,

I suppose you already have a custom UserDetailsService, that looks up a user by username and delivers roles.

Additionally, you need to write a custom `AuthenticationManager` for SAML and set it in a `WebSecurityConfigurerAdapter`:

[code]

The Saml2UserDetailsAuthenticationManager looks like this:

[code]

And the Saml2WithUserDetailsAuthentication can look like this:

[code]

[2020-06-26 12:11] chelseakohli commented on #8010
@herrminni  Thanks a lot. Was really stuck at this for few days. It is working as expected now. Cheers!!!

[2020-06-26 13:05] LeBezout commented on #2976
Hi, some broken links in **OAuth 2.0 Migration Guide** https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide

### Links to fix (404)

* https://docs.spring.io/spring-security-oauth2-boot/docs/current/reference/htmlsingle/#boot-features-security-oauth2-single-sign-on
* https://docs.spring.io/spring-security-oauth2-boot/docs/current/reference/htmlsingle/#boot-features-sec

[2020-06-26 13:54] #8730 closed

[2020-06-26 13:58] benba commented on #8701
@jgrandja Thank you for your feedback

[2020-06-26 13:58] benba commented on #8702
@jgrandja PR submitted

[2020-06-26 14:03] jzheaux commented on #2976
Thanks, @LeBezout, for the report. Will you please open a separate ticket for that?

[2020-06-26 15:57] felixkl opened #8767 "BeanDefinitionStoreException: when defining two AuthenticationManager having AllowBeanDefinitionOverriding set to "false""
**Describe the bug**
When defining two AuthenticationManager using XML beans definition and having AllowBeanDefinitionOverriding set to _false_ the bean parser fails with the following exception:

**To Reproduce**
Create XML beans definition containing two AuthenticationManager beans

spring-security-config.xml
[code]
SecurityBeansTest.java
[code]

Configure _org.springframework.context.support.Ab

[2020-06-26 17:59] jgrandja commented on #8669
@realulim You'll need to test this against the snapshot repository https://repo.spring.io/snapshot.
See the [reference doc](https://docs.spring.io/spring-security/site/docs/5.3.3.BUILD-SNAPSHOT/reference/html5/#maven-repositories) for maven configuration.

[2020-06-26 18:20] jgrandja commented on #8649
@loesak I noticed that you are referencing `ServletOAuth2AuthorizedClientExchangeFilterFunction` from Spring Security 5.1.8. This is quite a old version as far as the OAuth support goes. You really should at least use 5.2.0 or the latest. The 5.2.0 version introduced [OAuth2AuthorizedClientManager / OAuth2AuthorizedClientProvider](https://docs.spring.io/spring-security/site/docs/5.3.2.RELEASE/refe

[2020-06-26 18:37] jgrandja commented on #8757
@michalgebauer The `redirect_uri` sent in the [Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.1) must be an exact match when the the Authorization Server redirects the Authorization Response back to the client - `OAuth2AuthorizationCodeGrantFilter`.

This is implemented per spec and is a recommended best practice in ["2.1.  Protecting Redirect-Based Flows"](https://tools.ie

[2020-06-26 18:37] #8757 closed

[2020-06-26 18:42] fpagliar opened #8768 "Saml2WebSsoAuthenticationFilter does not follow standard patterns for request matching."
**Describe the bug**

The common pattern for filters is to provide the ability to set a custom RequestMatcher for them to execute.
This is the case for `Saml2WebSsoAuthenticationRequestFilter` and `AbstractAuthenticationProcessingFilter`.

Now `Saml2WebSsoAuthenticationFilter` extends `AbstractAuthenticationProcessingFilter` but creates its own custom private RequestMatcher from a String.
This is

[2020-06-26 19:18] plnordquist opened #8769 "SAML Assertion validation fails when OneTimeUse condition is sent from the IdP"
**Describe the bug**
When a SAML IdP is configured to add a OneTimeUse condition to the SAML Assertion, the OpenSamlAuthenticationProvider throws a Saml2Exception and claims that the OneTimeUse condition is an unknown condition.

**To Reproduce**

1. Configure an IdP to send the OneTimeUse condition
2. Attempt to authenticate to the application
3. Authentication fails due to the Saml2Exception

In

[2020-06-26 20:51] sachin21jan commented on #8764
@eleftherias I have opened this issue over here because it looks like a potential bug to me as I havent added much of my code. If you run the sample provided `https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2login#google-login` and add the scope you will get this error. Anything you can do to fix this error or possible workaround will be appreciated because I am ki

[2020-06-28 07:37] LeBezout opened #8770 "Fix dead links in OAuth 2.0 Migration Guide"
Hi,

I report some broken links in the **OAuth 2.0 Migration Guide** <https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide>

### Links to fix (404)

* https://docs.spring.io/spring-security-oauth2-boot/docs/current/reference/htmlsingle/#boot-features-security-oauth2-single-sign-on
* https://docs.spring.io/spring-security-oauth2-boot/docs/current/reference/htmlsingle/#b

[2020-06-29 06:55] michalgebauer commented on #8757
Dear @jgrandja ,
thank you for your time you invested in answering my question. Still, I did not find in the spec, you are referring to, that the utilisation must be  implemented by literally comparing the incoming request. Could you or someone else please find an example or documentation of spring oauth2 in cloud environment?
How this filter should be used in the platform with gateway, scaling, l

[2020-06-29 07:04] michalgebauer commented on #8757
The spec requires a comparison of the redirect URL provided by the Resource Owner in the authentication flow against the actual redirect URL.
In this request, I am not requesting:
to deactivate the check
to manipulate in any way, the URL provided for the customer
which are an intrinsic part of the security and as such are described in the spec.
I would like to be provided with the possibility to d

[2020-06-29 14:39] shelgen commented on #8514
@jgrandja I believe there's a misunderstanding here, but it could very well be mine.

When autoconfiguring client registrations in Spring Boot, OAuth2ClientPropertiesRegistrationAdapter#getClientRegistration in turn calls ClientRegistrations#fromIssuerLocation, which gets the supported scopes from the authorization server.
ClientRegistrations#withProviderConfiguration then maps this to a ClientReg

[2020-06-29 14:49] jzheaux commented on #8770
Thanks for the report, @LeBezout! I've taken care of the links.

And thank you also for the suggestion to add the same redirection to OAuth2 Boot. Would you mind [adding a ticket there](https://github.com/spring-projects/spring-security-oauth2-boot/issues/new) so that we can track it?

[2020-06-29 14:49] #8770 closed

[2020-06-29 15:26] rwinch commented on #5188
No updates

[2020-06-29 15:57] jzheaux commented on #8685
@fpagliar, if it's a use case that you feel ought to be supported by Spring Security, then it's probably best to log a ticket about it. Then workarounds can be placed there. If there's an existing ticket, you can use that.

If it's a scenario that you don't feel should be supported by Spring Security, I'm not sure if there would be an official place inside Spring Security, but feel free to ping me

[2020-06-29 16:11] #8199 closed

[2020-06-29 16:45] rwinch commented on #3849
You need to explicitly configure the repository

[code]

You can find a complete sample here https://github.com/rwinch/spring-security-sample/tree/gh-3849

[2020-06-29 17:04] rwinch commented on #5193
Closing this as a duplicate of gh-2953

[2020-06-29 17:04] #5193 closed

[2020-06-29 17:38] rwinch commented on #8705
Thanks for your response. Some containers attempt to perform normalization for certain characters. For example, it might convert  `//foo//bar` to `/foo/bar` before Spring Security even sees the URL. This might be why it appears that Spring Security is handling `//` differently.

Without a sample, I really cannot help you. The code always throws a `RequestRejectedException` if an invalid character

[2020-06-29 17:46] rwinch commented on #7568
@walec51 Yes The plan is to change the behavior in the next major release. We need to remain passive for those that may be catching the RequestRejectedException and handling it in the container error handling or within a Filter that is before Spring Security

[2020-06-29 20:24] fpagliar commented on #8768
I was looking and the old infrastructure (spring-security-saml) uses the same URL endpoint for authentication for every IdP and picks up the appropriate configuration info from the cache by matching based on the issuer ID.

That allows to have one SP config and multiple IdPs pointing with the exact same config. Is there a benefit for the current alternative of requiring a different endpoint per Id

[2020-06-29 21:30] jzheaux opened #8772 "OpenSAML should get initialized as part of container lifecycle"
OpenSAML gets initialized by Spring Security lazily via a package-private class `OpenSamlImplementation`. This setup makes it tricky for an application to override the defaults that Spring Security specifies.

For example, to use a different `ParserPool` configuration, one needs to ensure that they call `XMLObjectProviderRegistrySupport.setParserPool` only after `OpenSamlAuthenticationProvider` or

[2020-06-29 21:30] jzheaux opened #8773 "OpenSamlAuthenticationProvider should use OpenSAML directly"
`OpenSamlAuthenticationProvider` leverages a package-private class `OpenSamlImplementation` to remove boilerplate from its own class.

However, this boilerplate is only removed for `OpanSamlAuthenticationProvider` and for no other class. For example, `OpenSamlImplementation` has a `resolve` method that's only called by `OpenSamlAuthenticationProvider`.

Since these methods are only used by `OpenSa

[2020-06-29 21:30] jzheaux opened #8774 "OpenSamlAuthenticationRequestFactory should use OpenSAML directly"
`OpenSamlAuthenticationRequestFactory ` leverages a package-private class `OpenSamlImplementation` to remove boilerplate from its own class.

However, this boilerplate is only removed for `OpenSamlAuthenticationRequestFactory` and for no other class. For example, `OpenSamlImplementation` has a `signAuthRequest` method that's only called by `OpenSamlAuthenticationRequestFactory`.

Since these metho

[2020-06-29 21:30] jzheaux opened #8775 "Remove OpenSamlImplementation"
`OpenSamlImplementation` is a package-private Spring Security class that exists to remove some of the boilerplate needed to configure and work with OpenSAML.

In effect, it does four things:

* Bootstraps OpenSAML with reasonable defaults
* Builds OpenSAML `XMLObject`s
* Marshals OpenSAML `XMLObject`s
* Unmarshals OpenSAML `XMLObject`s

While it was convenient to have in the early stages of creati

[2020-06-29 21:38] jzheaux opened #8776 "ACS Binding should be in RelyingPartyRegistration"
`OpenSamlAuthenticationRequestFactory` has a method called `setProtocolBinding`, which allows an application to indicate to IDPs the binding the IDP should use when sending the Response.

Both the SSO Service Location and Binding are in `RelyingPartyRegistration`.
But the ACS Location is in `RelyingPartyRegistration` and the ACS Binding is in `OpenSamlAuthenticationRequestFactory`, which creates s

[2020-06-29 21:55] jzheaux opened #8777 "RelyingPartyRegistration should use metadata spec language"
`RelyingPartyRegistration` is built as a link between the relying party's metadata and the asserting party's metadata.

As such, it would be clearer if the method names aligned with what is found in the [SPSSODescriptor and IDPSSODescriptor schema definitions](https://www.oasis-open.org/committees/download.php/51890/SAML%20MD%20simplified%20overview.pdf).

For example, `RelyingPartyRegistration.Pr

[2020-06-29 22:44] jzheaux commented on #8768
@fpagliar, it allows looking up the configuration without needing to first parse the assertion. I believe the other approach is valid, too, but perhaps discussing how to best address that is for another ticket.

For this ticket, it appears the private matcher is there simply because the parent class keeps the `requiresAuthenticationRequestMatcher` private. I believe it would resolve the issue to o

[2020-06-30 01:21] #5235 closed

[2020-06-30 06:41] hurelhuyag opened #8778 "Mongolian translation required for messages.propeperties"
**Expected Behavior**.

I wanted to show spring security messages in mongolian

**Current Behavior**

There is no file named messages_mn_MN.properties

[2020-06-30 07:19] piraces opened #8779 "Support for RFC7009: OAuth 2.0 Token Revocation"
**Expected Behavior**

Using the latest version of Spring Security with Spring Boot, when configuring it for OAuth2 with a custom provider (custom IdP, OpenId Certified, such as [IdentityServer](https://identityserver.io/)). Spring Security does not revoke tokens when performing a logout.

I expect Spring to manage the tokens and revoke them when logging out using the IdP `revocation_endpoint`...

[2020-06-30 09:05] spring-issuemaster commented on #8718
Fixed via 1bb49bbc2ea82e1d688bdc4b50b1f0749613c2f2

[2020-06-30 09:05] #8718 closed

[2020-06-30 09:23] spring-issuemaster commented on #8717
Fixed via fa09295fd6598be51805357a91bd7f7162f7207d

[2020-06-30 09:23] #8717 closed

[2020-06-30 09:25] spring-issuemaster commented on #8716
Fixed via aa5a42cfbcd775dad4cec2800cbb73bd88175266

[2020-06-30 09:25] #8716 closed

[2020-06-30 14:14] spring-issuemaster commented on #8719
Fixed via 8904b3b19bc4f00c9f09ffa9b0f145725beacf6a

[2020-06-30 14:14] #8719 closed

[2020-06-30 14:25] broth-eu commented on #6046
In case one does not have a controller, the simplest workaround is to implement a custom WebFilter which places the `Mono<CsrfToken>` inside of the filter chain like so:
[code]

[2020-06-30 15:39] #8700 closed

[2020-06-30 18:28] fpagliar commented on #8768
I can. I was wondering about the implementation though.
`AbstractAuthenticationProcessingFilter.setRequiresAuthenticationRequestMatcher()` is a final method, and that makes sense given that it is called from the constructor so it shouldn't be overrideable.

Any alternative I'm thinking of right now requires either redesigning that bit on the  `AbstractAuthenticationProcessingFilter` or accepting/d

[2020-06-30 19:30] #8702 closed

[2020-06-30 19:56] Tandolf commented on #5766
I spent about 3 hours debugging the source code trying to understand why no cookie was set until i stumbled upon this issue. This seems still be the case, there should be some form of documentation about this in the official documentation.

This should be fixed in general, as it is counter intuitive.

[2020-07-01 00:30] jgrandja commented on #8514
@shelgen Thanks for providing your detailed feedback. After reading over the comments again I realized that my initial analysis was incorrect.

As @martin-v  suggests:

This is actually correct.

Currently, all entries from `scopes_supported` parameter in discovery response is defaulted for `ClientRegistration.scopes`, which is not correct.

In most cases, the `ClientRegistration.scopes` should be

[2020-07-01 08:53] eleftherias opened #8782 "Build failures due to Timestamp precision"
Tests relying on HSQLDB 2.5.1 are failing because of https://sourceforge.net/p/hsqldb/bugs/1585/

We will temporarily change our assertions on Timestamp values to be more lenient (to the millisecond).

[2020-07-01 11:22] #8697 closed

[2020-07-01 12:48] eleftherias opened #8783 "Support custom filter in Server Kotlin DSL"
We should add support for adding a custom filter in the Server Kotlin DSL.
Similar to `ServerHttpSecurity`, we should have 3 ways to add a filter, `addFilterAt`, `addFilterBefore` and `addFilterAfter`.

The configuration should look like this
[code]

[2020-07-01 12:49] ryan13mt commented on #8349
Hi @jzheaux by any chance was there any progress on this or at least a plan to include it in an upcoming release?

[2020-07-01 14:03] martin-v commented on #8514
@jgrandja I can implement it but I discovered another problem. I'm no longer sure that leave it empty is the best option. Because I discovered that the OpenID Connect Spec requires a scope.

In my optinion the question is do more user use _OAuth 2.0_ without _OpenID Connect_ or with?

@shelgen yes, if we decide to leave it empty we should not be sent the parameter at all

[2020-07-01 14:19] eleftherias commented on #8764
@sachin21jan I have reopened this issue and we will take another look at it.

[2020-07-01 16:13] romilptl opened #8784 "Document improvement for configure(WebSecurity web) and configure(HttpSecurity http)"
`WebSecurityConfigurerAdapter ` provide us two methods _configure(WebSecurity web)_ and _configure(HttpSecurity http)_ to configure the security as required.

Let's consider the below code, we can ignore the authentication for the endpoint provided within _antMatchers_ using both the methods. According to the answers on StackOverflow,

- configure(WebSecurity web)

Endpoint used in configure(WebSe

[2020-07-01 16:23] jgrandja commented on #8669
@realulim The Spring versioning scheme changed recently - see [announcement](https://spring.io/blog/2020/04/30/updates-to-spring-versions).

Instead of `5.4.0.BUILD-SNAPSHOT` use the new tag `5.4.0-SNAPSHOT`.

Here is a working [sample](https://github.com/jgrandja/oauth2login-demo/tree/xml-config) (xml-config branch) for your reference.

[2020-07-01 17:27] jgrandja commented on #8514
@martin-v Good catch. Yes, we should default `ClientRegistration.scopes` to contain `openid` only, so it doesn't break existing `oauth2Login()` clients using OpenID Connect.

Thanks for taking this on!

[2020-07-01 18:27] jzheaux commented on #8349
Hi, @ryan13mt, there is no plan or progress on this issue.

One thing that might help, though, is to begin with a sample.

@duncanportelli, is your implementation something that you can share via GitHub? This could at least get the conversation started about what is the appropriate thing to expose to simplify this. While introducing an inheritance-based solution is a possibility, I wonder if there

[2020-07-01 18:32] jgrandja commented on #8757
@michalgebauer

You could define your own `ClientRegistrationRepository` `@Bean`, which would give you full control on defining/building the `ClientRegistration`'s and setting the `ClientRegistration.redirectUriTemplate` to whatever you need.

Here are a couple of references:

[Overriding Spring Boot 2.x Auto-configuration](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#

[2020-07-01 18:38] jzheaux opened #8785 "Update to Google App Engine 1.7.80"

[2020-07-01 18:38] jzheaux opened #8786 "Update to Kotlin 1.3.72"

[2020-07-01 18:39] jzheaux opened #8787 "Update to Spring Boot 2.4.0-M1"

[2020-07-01 18:48] #8785 closed

[2020-07-01 18:48] #8786 closed

[2020-07-01 18:48] #8787 closed

[2020-07-01 19:00] jgrandja commented on #8779
@piraces The `OAuth2AuthorizedClientRepository` is responsible for managing `OAuth2AuthorizedClient`(s) and its associated tokens. If you require tokens to be automatically removed after a session terminates then you can explicitly configure:

[code]

This will remove all `OAuth2AuthorizedClient`(s) from the session.

As far as revoking the tokens by calling the revocation endpoint, this can be pe

[2020-07-01 23:53] jzheaux opened #8788 "RelyingPartyRegistration Credentials Should Be Split by Party"
Initially, `RelyingPartyRegistration` held both relying party and asserting party details together.

In 5.3, the asserting party details were split out into an inner class, similar to `ClientRegistration`.

The relying party and asserting party credentials are still listed together, and they need to be split as well in order to complete the refactor.

Generally speaking, an instance of `RelyingPar

[2020-07-02 00:03] jzheaux opened #8789 "Add Static Factories to Saml2X509Credential"
`Saml2X509Credential` constructors are somewhat complicated to use.

For example, there are possible constructs that don't make sense:

[code]

The above is awkward in the context of SAML 2.0 since the common use case for encryption is to encrypt something using the other party's public certificate, not their private key as well.

Also, some constructs are possible at compile-time, but then throw

[2020-07-02 08:16] spring-issuemaster commented on #8715
Fixed via be0759302f6722ec8cbd196f4cbe3ad4063976a4

[2020-07-02 08:16] #8715 closed

[2020-07-02 08:38] realulim commented on #8669
I am still getting the same exception. My configuration is very similar to the example, only that I am using an external authorisation server and thus need a custom AccessTokenClient. I suppose at this point I need to create a minimal example to reproduce the error.

[code]

[2020-07-02 11:11] #8034 closed

[2020-07-02 11:27] jgrandja commented on #8669
Yes, please put together a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the issue.

[2020-07-02 12:17] eleftherias commented on #4262
Closing as this was already merged in PR gh-4354.

[2020-07-02 12:17] #4262 closed

[2020-07-02 13:06] michalgebauer commented on #8757
Dear @jgrandja ,
thanks a lot! Sure, I went through all spring security documentation regarding oauth2 and even debugged the lib in search for the solution. I did create CustomAuthorizationRequestResolver and custom AuthorizationRequestRepository, which I need anyway, but got stuck with the exact request comparison.
Thanks for pointing out to  `ForwardedHeaderFilter`, that is exactly what I need a

[2020-07-02 14:27] rwinch commented on #8784
Thanks for the report @romilptl Would you be interested in submitting a pull request?

[2020-07-02 15:38] jgrandja commented on #8779
@piraces In addition to the `LogoutSuccessHandler`...

`HttpSessionListener` should be registered to perform the token revocation request. This will handle the scenario when a `HttpSession` expires, without explicit log out.

[2020-07-02 16:36] duncanportelli commented on #8349
Hi @jzheaux,

Sure. I uploaded a [sample spring boot application](https://github.com/duncanportelli/spring-security-custom-saml-decryption) in which you can see the number of [overridden classes](https://github.com/duncanportelli/spring-security-custom-saml-decryption/tree/master/src/main/java/boot/saml2/config/overridden) in order to create a custom [decrypter](https://github.com/duncanportelli/s

[2020-07-02 18:04] jgrandja commented on #8764
@sachin21jan The issue here is a misconfiguration in `application.yml`.

Given your `application.yml` the `redirect-uri` will default to `{baseUrl}/{action}/oauth2/code/{registrationId}` using `CommonOAuth2Provider.GOOGLE`. `oauth2Login()` matches on the path `{baseUrl}/{action}/oauth2/code/{registrationId}` so this flow is in effect and it will attempt to call the [UserInfo Endpoint](https://open

[2020-07-03 07:19] piraces commented on #8779
You are right @jgrandja, I have implemented my custom `LogoutSuccessHandler` to handle the revocation request. With this and `HttpSessionListener`, will be enough to customize the flow to accomplish the RFC. Thank you, I will close the issue.

[2020-07-03 07:19] #8779 closed

[2020-07-03 11:19] asapla99 opened #8791 "Spring Security protect routes hasRole, hasAuthority do not work with CORS request"
https://asapla99.github.io

### Summary
hasRole, hasAuthority do not work with http CORS request and return status 403.
### Actual Behavior
I'm using Spring Security JWT  to secure Angular login page.
I configure Spring CORS filter to accept http CORS request.
I verify the JWT is valid in return and  authenticated with correct roles.
The secure routes such as hasRole, hasAuthority fail on CORS req

[2020-07-03 14:12] romilptl commented on #8784
Sure @rwinch, I have gone through [contribution](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.adoc) and will create a pull request with the details for the methods

[2020-07-03 21:35] springframeworkguru opened #8793 "@WithUserDetails not working in JUnit 5 Nested Tests"
When using @WithUserDetails in a JUnit 5 Nested Test, userDetailsService is not found.

Error:
[code]

**Working Test:**
[code]
**Failing Test:**
[code]

NOTE: Error is same with or without setting `userDetailsServiceBeanName`

[2020-07-04 10:43] markhobson commented on #8539
In case this helps anyone in future: once you've updated the schema, the following custom JDBC parameters mapper works for PostgreSQL:

[code]

Set it on your `OAuth2AuthorizedClientService` bean as follows:

[code]

[2020-07-04 22:45] matiaslaino commented on #2325
I'm on Spring Security 5.2.1 and this issue persists.

[2020-07-05 15:11] ThomasVitale commented on #8789
Hi @jzheaux, can I help with this task?

[2020-07-05 17:53] napstr opened #8797 "OAuth2AuthenticationException should be in allowlist"
**Describe the bug**
Using `spring-boot-starter-oauth2-client` with `spring-session-data-redis` and JSON serialization, when attempting an invalid authentication (for example by using the browsers back button) an `OAuth2AuthenticationException` ends up being serialized into the Redis store, which then cannot be deserialized due to the security config.

**To Reproduce**
I noticed this problem while

[2020-07-06 10:09] eleftherias commented on #8172
I'm starting logout.adoc

[2020-07-06 10:47] eleftherias commented on #8172
I'm starting expression-based.adoc

[2020-07-06 12:58] rstoyanchev commented on #8691
The changes for https://github.com/spring-projects/spring-framework/issues/25312 have been made. The `PathPattern` support should be transparent for Spring Security but if you could you take and confirm all is good, that would be great. In any case this can be closed now. We can discuss further under the Spring Framework issue if needed.

[2020-07-06 14:45] ShevaDavid opened #8798 "JwtGrantedAuthoritiesConverter authorityPrefix must alway be present"
Why can't I set "blank" to authorityPrefix in JwtGrantedAuthoritiesConverter?

[2020-07-06 17:40] spring-issuemaster commented on #8705
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-07-06 19:35] rwinch opened #8799 "Create Embedded LDAP Support Classes"
Currently it requires multiple beans to support embedded ldap support.

[code]

It would be nice to provide single builder that creates/shuts down the embedded database and creates a  `DefaultSpringSecurityContextSource` similar to Spring's `EmbeddedDatabaseBuilder`.

[2020-07-07 02:01] whitefes opened #8801 "LdapShaPasswordEncoder can not matches password because DelegatingPasswordEncoder.matches() remove {SSHA} prefix;"
**Describe the bug**
org.springframework.security.crypto.password.LdapShaPasswordEncoder().encode() return {SSHA}payload format, but PasswordEncoderFactories.createDelegatingPasswordEncoder() support only {ldap} prefix. so I added below code {SSHA}.
However, LdapShaPasswordEncoder is not recognized because DelegatingPasswordEncoder removes the {SSHA} prefix.
So temporarily I put double prefix in f

[2020-07-07 04:21] jhcao23 opened #8802 "OAuth2AuthorizedClient should take a username for the ClientRegistration"
This is a very simple idea but practical  - `OAuth2AuthorizedClient` should take a `usernameOfRegistration` for the ClientRegistration.

`OAuth2AuthorizedClient` has a `ClientRegistration` and the `principalName` - nothing wrong here. Well, in practical, a user has a _username_ or _account_id_ within the Registration (such as Google, Facebook, Github). Therefore, in practical, our application and

[2020-07-07 06:49] joshymon commented on #5007
Any idea when is this version available for consumption?

[2020-07-07 10:10] aotrzonsek commented on #8599
All issues found during the code review have been removed.

[2020-07-07 13:19] rwinch commented on #8764
@jgrandja I wonder if we could improve the error message? Perhaps including the response in the error message and explaining it doesn't confirm to the user info endpoint?

[2020-07-07 13:29] rwinch commented on #8791
The sample you provided is a running application, but I want to see a minimal reproducible code sample. Can you please provide a complete sample that I can run?

[2020-07-07 13:53] spring-issuemaster opened #8803 "OAuth2 Resource Server docs not in sync - authorityPrefix can't be set to """
Backport of gh-8421

[2020-07-07 13:53] spring-issuemaster commented on #8803
Fixed via 4fec4511969804be5ab15242fe66b8af7c2b4459

[2020-07-07 13:53] #8803 closed

[2020-07-07 14:06] rwinch commented on #8793
This happens because the `UserDetailsService` is not found in the `ApplicationContext` of the nested class. Below you can find a complete and simplified test that demonstrates the issue without Spring Security.

[code]

The nested classes don't inherit the `ApplicationContext` from the parent test class. You can fix this by annotating the nested class to pick up the configuration as shown with `An

[2020-07-07 14:06] #8793 closed

[2020-07-07 14:13] eleftherias commented on #8798
Thanks for the report @ShevaDavid.

This was brought up in gh-8421.

The fix was included in Spring Security 5.2.4, 5.4.0-M1, which are already available.
It will also be included in 5.3.4 (scheduled for August 5).

[2020-07-07 14:14] #8798 closed

[2020-07-07 14:55] eleftherias opened #8804 "Configure HTTP Security without extending WebSecurityConfigurerAdapter"
**Expected Behavior**

Similar to the WebFlux security configuration, we should add the capability to configure HTTP Security by registering a `SecurityFilterChain` bean, in Servlet applications.

[code]

**Current Behavior**

The equivalent configuration by extending the `WebSecurityConfigurerAdapter` looks like this
[code]

[2020-07-07 15:22] sbrannen commented on #8793
This is a known issue and effectively a duplicate of https://github.com/spring-projects/spring-framework/issues/19930 in `spring-test`.

[2020-07-07 16:14] maskedpirate commented on #4498
Any updates on if this has been scheduled?

[2020-07-07 16:54] ultimatesecpro opened #8806 "MethodArgumentConversionNotSupportedException in the spring-security-samples-javaconfig-form sample when a message is created or deleted"
**Describe the bug**
org.springframework.web.method.annotation.MethodArgumentConversionNotSupportedException in the spring-security-samples-javaconfig-form sample when a message is created or deleted

**To Reproduce**

**The create use case**

1)	Login to the application using user “user” and password “password”.
press on the “Compose” link.
2)	Provide “Summary” and “Message”
3)	Press on the “Crea

[2020-07-07 17:03] rwinch commented on #8793
Thanks @sbrannen!

[2020-07-07 17:12] ultimatesecpro commented on #8806
The Reproduce video
[SpringSecuritySampleBug.zip](https://github.com/spring-projects/spring-security/files/4886177/SpringSecuritySampleBug.zip)

[2020-07-07 18:34] rwinch opened #8807 "LoginPageGeneratingWebFilter should honor context path"
See https://github.com/spring-projects/spring-boot/issues/21679

[2020-07-07 18:36] #8807 closed

[2020-07-07 18:36] spring-issuemaster opened #8808 "LoginPageGeneratingWebFilter should honor context path"
Backport of gh-8807

[2020-07-07 18:36] spring-issuemaster commented on #8808
Fixed via 070706d948f3ec566ddc13cb49dd361b7937d5df

[2020-07-07 18:36] #8808 closed

[2020-07-07 18:37] spring-issuemaster opened #8809 "LoginPageGeneratingWebFilter should honor context path"
Backport of gh-8807

[2020-07-07 18:37] spring-issuemaster commented on #8809
Fixed via dcd2137418f8d35d340a9ba6bc6d09fe6d86dbcf

[2020-07-07 18:37] #8809 closed

[2020-07-07 19:03] spring-issuemaster opened #8810 "LoginPageGeneratingWebFilter should honor context path"
Backport of gh-8807

[2020-07-07 19:03] spring-issuemaster commented on #8810
Fixed via 7859970ff6ac763c6fd732cff3905836c8bf2d40

[2020-07-07 19:03] #8810 closed

[2020-07-07 19:38] rwinch commented on #8807
This is now fixed in the latest snapshots. See https://github.com/rwinch/spring-security-sample/tree/gh-8807 for a demo of it working now

[2020-07-07 19:53] rwinch commented on #2325
If you are experiencing the issue, please create a new ticket with a complete and minimal sample

[2020-07-07 20:58] jzheaux commented on #8789
Nice, @ThomasVitale! The issue is yours.

[2020-07-07 21:29] rwinch commented on #8691
Thanks @rstoyanchev The changes look good to me

[2020-07-07 21:29] #8691 closed

[2020-07-07 21:40] jzheaux commented on #7349
@jgrandja, I see that `AnonymousAuthenticationFilter`, `DefaultLoginPageGeneratingFilter`, `DefaultLogoutPageGeneratingFilter`, and `UsernamePasswordAuthenticationFilter` are all in `web.authentication`.

`BasicAuthenticationFilter` is in `web.authentication.www`, `AbstractPreAuthenticatedProcessingFilter` is in `web.authentication.preauth`, and `X509AuthenticationFilter` is in `web.authentication

[2020-07-07 22:13] spring-issuemaster opened #8811 "Fix ProviderManager Javadoc typo"
Backport of gh-8800

[2020-07-07 22:13] spring-issuemaster commented on #8811
Fixed via 6584b84b6088d338ca85a4044081f6d0933966b0

[2020-07-07 22:13] #8811 closed

[2020-07-07 22:17] spring-issuemaster opened #8812 "Fix ProviderManager Javadoc typo"
Backport of gh-8800

[2020-07-07 22:17] spring-issuemaster commented on #8812
Fixed via 3dc59686fab6285b2474f2c61f20b34dd4feed02

[2020-07-07 22:17] #8812 closed

[2020-07-07 22:17] spring-issuemaster opened #8813 "Fix ProviderManager Javadoc typo"
Backport of gh-8800

[2020-07-07 22:17] spring-issuemaster commented on #8813
Fixed via ce4345b0ed96d85aad42ef064480a8a32f4e0603

[2020-07-07 22:17] #8813 closed

[2020-07-07 22:19] spring-issuemaster opened #8814 "Fix ProviderManager Javadoc typo"
Backport of gh-8800

[2020-07-07 22:19] spring-issuemaster commented on #8814
Fixed via 502d28f1b904e0055e5eca52b28b9cb5d1cc1dd7

[2020-07-07 22:19] #8814 closed

[2020-07-07 22:55] rwinch commented on #8801
This is expected to fail because you are encoding with one encoder and then trying to match with the delegate encoder. You need to do a migration on the old encoded password.

Something like:

[code]

Alternatively, you can expose `LdapShaPasswordEncoder` as a bean and it will be used instead of `DelegatingPasswordEncoder`.

Going forward it feels like this is a question that would be better suite

[2020-07-07 22:55] #8801 closed

[2020-07-07 23:12] #8777 closed

[2020-07-08 05:14] dkellenb opened #8815 "Saml2 ist not respecting x-forwarded headers"
### Summary

In the current SAML2 implementation to resolve the baseUrl the method Saml2ServletUtils#resolveUrlTemplate is used. The implementation is not considering the headers:

* X-Forwarded-Host
* X-Forwarded-Port
* X-Forwarded-Proto

Therefore the Saml2WebSsoAuthenticationRequestFilter#createRedirectAuthenticationRequestContext is setting a wrong value on `assertionConsumerServiceUrl` when t

[2020-07-08 07:47] eleftherias commented on #8172
I'm starting servlet/exploits/headers.adoc and reactive/exploits/headers.adoc

[2020-07-08 08:32] eleftherias opened #8816 "Allow disabling headers in Kotlin DSL"
The configuration should look like this

[code]

[2020-07-08 08:55] #8816 closed

[2020-07-08 10:15] majian159 opened #8817 "use CookieRequestCache something went wrong"
**Describe the bug**
1. Exception thrown after redirect.
[code]
2. Secondary directory cannot be redirected.

**To Reproduce**
1. Visit http://localhost:8080/test throws an exception
2. After accessing http://localhost:8080/api/test and logging in, the error redirects to http://localhost:8080/ instead of http://localhost:8080/api/test

**Expected behavior**
1. Visit http://localhost:8080/test and

[2020-07-08 13:58] rwinch commented on #5007
The [linked](https://github.com/spring-projects/spring-security/issues/5007#issuecomment-506749531) pull request https://github.com/spring-projects/spring-security/pull/7052 indicates it was made available in 5.4.0-M1. You can look at the [milestones](https://github.com/spring-projects/spring-security/milestones/) to find out when it will be in a GA release.

[2020-07-08 14:52] rwinch commented on #4498
@maskedpirate No updates. Would you be interested in submitting a pull request?

[2020-07-08 15:09] rwinch commented on #8806
Thanks for the report. I'm currently in the process of simplifying the samples so they only do a single thing. This means that the ability to create a message will no longer be present in the sample. I'll leave this open until the samples have been rewritten.

[2020-07-08 16:00] jzheaux commented on #8815
@dkellenb thanks for the report, I will look into this.

In the meantime, note that you can publish your own `RelyingPartyRegistrationRepository` instead of relying on the Spring Boot properties.

[code]

`TestRelyingPartyRegistrations` contains an example of [creating a RelyingPartyRegistration by hand](https://github.com/spring-projects/spring-security/blob/master/saml2/saml2-service-provider/sr

[2020-07-08 18:25] jzheaux opened #8819 "SAML 2.0 filters should be in the web package"
`Saml2WebSsoAuthenticationFilter` and `Saml2WebSsoAuthenticationRequestFilter` are in a package called `.servlet.filter`.

However, most other filters in Spring Security are in the `.web` package. Authentication filters specifically are in `.web.authentication`.

`Saml2WebSsoAuthenticationFilter` ought to be moved to `.web.authentication`
`Saml2WebSsoAuthenticationRequestFilter` ought to be moved

[2020-07-08 20:47] #8675 closed

[2020-07-09 02:19] majian159 opened #8820 "CookieRequestCache "REDIRECT_URI" removed by any request"
**Describe the bug**
May cause false redirects

**To Reproduce**
1. New tab 1 visit http://localhost:8080/test throws an exception
2. New tab 2 visit http://localhost:8080/css/index.css (REDIRECT_URI was removed)
3. Use tab 1 login
4. Was redirected to http://localhost:8080/

**Expected behavior**
1. New Tab 1 visit http://localhost:8080/test throws an exception
2. New Tab 2 visit http://localhost

[2020-07-09 08:28] eleftherias opened #8821 "Update samples to use SecurityFilterChain bean instead of WebSecurityConfigurerAdapter"
Depends on: gh-8805

[2020-07-09 14:03] jgrandja commented on #7349
@jzheaux Thanks for providing the references to existing authn `Filter`'s.  It looks like there are some inconsistency since `OpenIDAuthenticationFilter`, `CasAuthenticationFilter` and `OAuth2LoginAuthenticationFilter` are not in `*.web.authentication` package. Maybe @rwinch can confirm which sub-package it should be in?

[2020-07-09 18:18] #8764 closed

[2020-07-09 18:20] jgrandja commented on #8764
@rwinch Sure, it would be better to improve the error message.

The previous message was:

The updated message is:

[2020-07-09 18:57] jgrandja commented on #8802
@jhcao23 Adding `OAuth2AuthorizedClient.usernameOfRegistration` is not necessary as the "username" is already available via `OAuth2User.getName()` or `OidcUser.getName()` after completing `HttpSecurity.oauth2Login()`.

For example, `OAuth2AuthenticationToken.getName()` will return `DefaultOAuth2User.getName()` or `DefaultOidcUser.getName()`, which is the same as `OAuth2AuthorizedClient.principalNa

[2020-07-09 18:57] #8802 closed

[2020-07-09 19:13] jgrandja commented on #8797
Thanks for the report @napstr.

The default `AuthenticationFailureHandler` for `oauth2Login()` is `SimpleUrlAuthenticationFailureHandler`, which saves the `OAuth2AuthenticationException` to `HttpSession` when there is a failure. The fix would be to add a new class called `OAuth2AuthenticationExceptionMixin` and register it in `OAuth2ClientJackson2Module`. Would you be interested in submitting a PR

[2020-07-09 19:53] martin-v commented on #8514
In https://github.com/spring-projects/spring-security/pull/8790#discussion_r449603024 is a discussion ongoing what is the best solution to fix this issue. Maybe someone here can give us some additional aspects.

[2020-07-09 20:38] jhcao23 commented on #8802
Hi @jgrandja I understand your point. You didn't misunderstand me however, there is an additional question - when we design our datastore structure, where or which `table|column` shall we ***store*** this `unique identifier of the user registered at the provider`? I assumed this `idOfProvider` should be stored, as `oauth2-client-schema.sql` indicated, in the table `oauth2_authorized_client` thus a

[2020-07-09 20:42] ThomasVitale commented on #8789
@jzheaux I opened a PR here: https://github.com/spring-projects/spring-security/pull/8822 I added static factories for the 4 main operations plus unit tests. How does it look?

[2020-07-10 00:48] #6489 closed

[2020-07-10 08:27] #8778 closed

[2020-07-10 09:38] napstr commented on #8797
@jgrandja Thanks, I'd love to give it a shot over the weekend.

[2020-07-10 11:43] eleftherias opened #8823 "Add custom HeaderWriter in Kotlin DSL"
The Kotlin DSL should allow setting a custom HeaderWriter

[code]

[2020-07-10 11:47] jgrandja commented on #8797
Thanks for taking this on @napstr. Let me know if you have any questions.

[2020-07-10 11:57] jgrandja commented on #8802
@jhcao23 The `oauth2_authorized_client.sql` defines the `principal_name` column, which would store the unique identifier of the user/client registered at the provider. If you want to customize the table definition and store additional data (and column) then take a look at the test `JdbcOAuth2AuthorizedClientServiceTests.tableDefinitionWhenCustomThenAbleToOverride()`, which demonstrates how to cust

[2020-07-10 12:20] #8823 closed

[2020-07-10 15:17] jzheaux commented on #8815
@dkellenb Are you able to apply [this documentation](https://docs.spring.io/spring-security/site/docs/5.3.0.RELEASE/reference/html5/#http-proxy-server) to handle the x-forwarded headers?

[2020-07-10 17:08] rwinch commented on #8821
We should also hold off on the sample rewrites that I'm doing right now

[2020-07-10 17:21] rwinch commented on #7349
I'd have to give this some thought. At first glance I'd say that they should be in web.authentication. I'm trying to remember if there were any conscious decisions to make the packages less sparse by avoiding an authentication package.

[2020-07-10 23:43] qavid opened #8824 "Consider making BearerTokenServerWebExchangeMatcher public and more generic"
**Expected Behavior**

Rename bearerTokenConverter (and setter) to more generic name, eg. serverAuthenticationConverter
Rename BearerTokenServerWebExchangeMatcher to more generic name eg. AuthenticationServerWebExchangeMatcher and make it public.

Then, AuthenticationServerWebExchangeMatcher can be used as a securityMatcher when configuring SecurityFilterChain and also as matcher for authenticatio

[2020-07-11 13:49] Tandolf opened #8826 "Consider configuring CSRF the same way as CORS"
**Expected Behavior**

I would like to be able to configure Csrf the same way as CORS so that i can control it by using the `@Profile` annotations.

For instance:

[code]

 would like to be able to define a `CsrfConfigurationSource` in a `@Bean` that will be used so that it is possible to configure Csrf behaviour by using `@Profile` annotations.

**Current Behavior**

Documentation for CORS states

[2020-07-11 21:30] sai-kopparthi commented on #7285
Dear Josh Cumming,

So I am working on my project  and currently using "Okta.spring.boot.starter" for okta login page in my gradle file and trying include this for my logout option.

OidcClientInitiatedLogoutSuccessHandler oidcLogoutSuccessHandler() {
            OidcClientInitiatedLogoutSuccessHandler successHandler = new OidcClientInitiatedLogoutSuccessHandler(clientRegistrationRepository);

[2020-07-11 23:16] jhcao23 commented on #8802
oh I thought `principal_name` is the `username` or similar in our own system. Thank you @jgrandja for your note. very appreciated!

[2020-07-12 05:55] platinumvoid commented on #2280
Is it possible to achieve the same effect by just using a random time sleep (70-90) Thread.sleep(((long) (Math.random()*(30))) + 70);?

[2020-07-12 16:49] praveenbommali commented on #4498
any update !!!

[2020-07-12 17:51] vekdeq commented on #7285
Hi,

It is part of spring-security-oauth2-client-5.xxx.jar
Below gradle entries should resolve it:

api ("com.okta.spring:okta-spring-boot-starter:1.2.1")
api ("com.okta.spring:okta-spring-sdk")
compileOnly apiElements ("com.okta.authn.sdk:okta-authn-sdk-api:1.0.0")
api ("com.okta.authn.sdk:okta-authn-sdk-impl:1.0.0")

Just check what you need and fine tune it accordingly.

*Warm Regards .. *
*Viv

[2020-07-12 21:38] sai-kopparthi commented on #7285
Hey Vivek, Thanks for the reply I included those in my gradle build. But still I am not able to get import the class "OidcClientInitiatedLogoutSuccessHandler "

[2020-07-13 05:17] dkellenb commented on #8815
Hi @jzheaux . Actually i did not notice that `server.forward-headers-strategy: native` fixed also the wrong value in `assertionConsumerServiceUrl`. So the workaround with creating an Advice for it was not needed.

=> I can confirm that `server.forward-headers-strategy` option fixes it.

[2020-07-13 05:17] #8815 closed

[2020-07-13 10:52] asapla99 commented on #8791
Issue Resolved.
I changed the role name from ADMIN to ROLE_ADMIN, then it works fine.

[2020-07-13 10:52] #8791 closed

[2020-07-13 14:38] eleftherias commented on #6025
Mockito has added support for static methods as of 3.4.0 https://github.com/mockito/mockito/releases/tag/v3.4.0

[2020-07-13 14:47] eleftherias opened #8828 "PowerMock is not compatible with Mockito 3.4.0"
PowerMock maintains compatibility with Mockito 2.+ as stated in the PowerMock wiki  https://github.com/powermock/powermock/wiki/mockito

We have previously used PowerMock with Mockito 3.3.+ without errors, however our build breaks with Mockito 3.4.0.

For now, we will restrict our Mockito dependency to 3.3.+.
However, our goal is to remove the PowerMock dependency and upgrade to the latest version

[2020-07-13 14:53] #8828 closed

[2020-07-13 15:24] vekdeq commented on #7285
This class is in spring-security-oauth2-client-5.2.0.RELEASE.jar - check
your workspace - I am not sure, if this is in earlier version or not - but
check in your jar if class is present. If it is, then it's your gradle
dependencies configuration.

*Warm Regards .. *
*Vivek V. Bedekar*

On Sun, Jul 12, 2020 at 2:38 PM Sai <notifications@github.com> wrote:

[2020-07-13 17:41] spring-issuemaster commented on #8705
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-07-13 17:41] #8705 closed

[2020-07-13 22:44] fpagliar commented on #8731
Is there any alternative currently available for this?

Right now it seems like given spring-security-saml is out of support, the upgrade path would be to implement your own copy of `SingleLogoutProfileImpl`, `SAMLLogoutProcessingFilter`, `SAMLLogoutFilter` from the old project, and a brand new initialization of OpenSAML in the new setup given that `OpenSamlImplementation` is package private.

[2020-07-14 09:56] DevDengChao opened #8829 "OAuth2RefreshToken is missing JsonDeserialize"
**Describe the bug**
OAuth2RefreshToken is missing default json serializer/deserializer while OAuth2AccessToken has both jackson1 and jackson2's serializer and deserializer.
When deserizialize `{"value":"xxx", "expiration": "xxx"}` as a OAuth2RefreshToken , an exception is thrown.

**To Reproduce**

checkout the repository below and run `gradle :test`

**Expected behavior**
OAuth2RefreshToken inst

[2020-07-14 11:50] moritzvieli opened #8830 "Configuration property security.oauth2.client.registration.*.redirectUriTemplate not working in certain versions"
The configuration property security.oauth2.client.registration.*.redirectUriTemplate (YAML-format) does  not  work for Spring Boot spring-boot-starter-parent  2.2.8.RELEASE. It seems, like it's simply ignored and the default redirect URI is passed, although it's set in the properties.

In version 2.1.8.RELEASE, everything is working fine.

I could not test it with the latest version of Spring Boot

[2020-07-14 14:07] FilipKittnar opened #8831 "WebClient support should get new access token when expired and password"
**Describe the bug**
I know this has been addressed and fixed before for client_credentials grant type: https://github.com/spring-projects/spring-security/issues/5893 . Would it be possible to do the same for password grant type? I need to use the password grant type and it works but after 30 minutes the token expires and Spring Security does nothing about it and the API stops working and keeps re

[2020-07-14 15:41] L7R7 commented on #4920
@jgrandja @rwinch I was pointed to this issue while looking for a way to implement an OAuth2 client using the client credentials flow in combination with RestTemplate. I'm curious if this might be something I could contribute to. What do you think could be possible concrete steps?

[2020-07-14 17:50] brandon3123 commented on #6881
Hey there, I also have the requirement for private_key_jwt client authentication method etc.....any idea of the progress of this feature. I'll probably have to implement something custom for my project, but I was just curious.

Thank you

[2020-07-14 19:40] jgrandja commented on #8830
@moritzvieli

Looks like you're missing the **spring** prefix -> `security.oauth2.client.registration.*.redirectUriTemplate`

It should be `spring.security.oauth2.client.registration.[registration-id].redirectUri`

Also, the `redirectUriTemplate` property was deprecated in favour of `redirectUri` - I can't recall the Spring Boot version.

Let me know if this helped resolve the issue.

[2020-07-14 20:09] jgrandja commented on #8831
@FilipKittnar What I suspect is happening here is that a refresh token is returned on the initial call and associated to the `OAuth2AuthorizedClient`. Because you didn't configure `refreshToken()` via the builder:

[code]

It won't refresh the expired token because the `refresh_token` `OAuth2AuthorizedClientProvider` is not configured.

I would try adding `refreshToken()` via the builder and that

[2020-07-14 20:39] evgeniycheban commented on #8783
I can take this.

[2020-07-15 06:50] FilipKittnar commented on #8831
@jgrandja Hello, thanks a lot for your reply. Yes, I know, that the builder does not have a refreshToken configured. I was experimenting with that as well, it just wasn't in this snipped I posted here.
What's more interesting is your suggestion about OAuth2AuthorizationFailureHandler. That sounds very promising. However, I have no clue how to do this. Is this described somewhere? Is there any exam

[2020-07-15 07:03] eleftherias commented on #8783
Thanks @evgeniycheban! The issue is yours.

[2020-07-15 11:39] jgrandja commented on #8831
@FilipKittnar `OAuth2AuthorizationFailureHandler`  was introduced in 5.3.0 release so all you need to do is upgrade to 5.3+ and you will automatically inherit the new behaviour. `OAuth2AuthorizationSuccessHandler  and `OAuth2AuthorizationFailureHandler` is documented in the [reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2Client-authorized-manager-provide

[2020-07-15 13:23] FilipKittnar commented on #8831
Thanks for the tip. However, I'm still not totally sure from the documentation how to do it. Here's what I tried:

[code]

And here's, what heppened after I called the API after 30 minutes:

[code]

So it initialized the handler and did the removal. But then:

[code]

[2020-07-15 13:34] jgrandja commented on #8831
@FilipKittnar `DefaultOAuth2AuthorizedClientManager` is initialized with `RemoveAuthorizedClientOAuth2AuthorizationFailureHandler` as the [default](https://github.com/spring-projects/spring-security/blob/a9dabf6efbbba4cbe75dc17cfa58999e7c53c69a/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/DefaultOAuth2AuthorizedClientManager.java#L119) so need to to configure o

[2020-07-15 13:37] milanov opened #8833 "Provide documentation on how to manually refresh an OAuth2 access token"
**Expected Behavior**
Ideally there would be a programatic way to (manually) refresh an OAuth2 access token using its corresponding refresh token.

**Current Behavior**
This behaviour seems to be present in `ServletOAuth2AuthorizedClientExchangeFilterFunction` and in `OAuth2AuthorizedClientArgumentResolver`, with the help of an `OAuth2AuthorizedClientManager`. However, I've found this through insp

[2020-07-15 15:53] FilipKittnar commented on #8831
Oh, I get it! So when I call the API again after the refresh token expires, it will actually re-authenticate and get a new access token. So the actual recommended solution is to wrap the call in try-catch and if we get "Refresh token expired", we call the API again? Seems a little bit clunky, but it gets the job done.
Thanks a ton for your help!

[2020-07-15 15:54] #8831 closed

[2020-07-15 17:52] xenoterracide commented on #7088
heh, funny thing I asked this on stackoverflow first, and included that link, too bad you didn't answer there now someone is asking me about the answer.

[2020-07-15 19:16] jgrandja commented on #8833
@milanov The [reference doc](https://docs.spring.io/spring-security/site/docs/5.4.0-M1/reference/html5/#oauth2Client-refresh-token-grant) shows how to configure the `refresh_token` grant with the `OAuth2AuthorizedClientProvider`.

This is automatically handled by `DefaultOAuth2AuthorizedClientManager` and the configured `RefreshTokenOAuth2AuthorizedClientProvider`.

Does this help?

[2020-07-15 19:30] jgrandja commented on #7088
@xenoterracide It's redundant to post the answer in both places. You can always reply to the user by providing a link to the answer here.

I noticed your comment on StackOverflow, which I found quite unnecessary.

Again, we prefer to use GitHub issues only for bugs and enhancements. Questions should be posted to StackOverflow.

[2020-07-16 00:15] fpagliar opened #8834 "There's two copies of Saml2Utils"
**Current Behavior**

There's a copy pasted version of Saml2Utils.
You can find this class under `saml2.provider.service.servlet.filter` and under `saml2.provider.service.authentication`.
Both have the same exact code.

It would be good to consolidate them, given that if there's a fix on the encoding, right now there's risk that it might make it to part of the framework but not all of it.

[2020-07-16 00:21] #8502 closed

[2020-07-16 00:27] jzheaux commented on #8834
Thanks for the suggestion, @fpagliar.

There's no intent to make `Saml2Utils` public, which is why the class was copied so that it can remain package-private.

[2020-07-16 00:27] #8834 closed

[2020-07-16 00:29] jzheaux commented on #8824
I think something like this could be useful, though I'd recommend `AuthenticationServerWebExchangeMatcher` take the `ServerAuthenticationConverter` in its constructor, matching your code sample. I'd also recommend it be called `AuthenticationConverterServerWebExchangeMatcher`.

Are you able to submit a PR that introduces that class as well as refactors the resource server DSL to use it?

[2020-07-16 00:37] jzheaux opened #8835 "Saml2Error should be in a core package"
`Saml2Error` and `Saml2ErrorCodes` are currently in `org.springframework.security.saml2.provider.service.authentication`; however, they are not specific to authentication.

Moving them to `org.springframework.security.saml2.core` has the benefit of being structured similiarly to `OAuth2Error` and `OAuth2ErrorCodes`.

Further, as other classes need error support, moving this up a package will allev

[2020-07-16 02:09] jzheaux opened #8836 "Restore Dependency Constraints for commons-codec and commons-logging"
Recently, the build began to fail with:

[code]

When run with `--debug`, the build complains that it cannot find the appropriate POM for the snapshot version:

[code]

It's not clear to me whether it's important for the build to be based on the snapshot builds of third-party libraries.

On the other hand, it's a surprise to me that this is an issue as it's certainly reasonable for Gradle to be ab

[2020-07-16 02:10] #8835 closed

[2020-07-16 14:09] jgrandja commented on #8826
@Tandolf Have you considered this configuration for your scenario:

[code]

This would work without needing a `CsrfConfigurationSource` `@Bean`.

[2020-07-16 14:20] jgrandja commented on #6881
@brandon3123 We are currently working on this but it will be tight to get this into 5.4 since it's being released in Sep. If it doesn't get into 5.4, it will get into next release for sure.

[2020-07-16 14:31] jgrandja commented on #4920
@L7R7 Thanks for your interest. It would be great if you can help here.

The one main thing that needs to get ironed out before we put too much effort here is the fact that `RestTemplate` does not support request-level attributes like the way that `WebClient` via `ExchangeFilterFunction` and `ClientRequest.attributes()`.

The `ServletOAuth2AuthorizedClientExchangeFilterFunction.clientRegistrationI

[2020-07-16 18:21] spring-issuemaster opened #8837 "Resolved bearer token has no padding indicators"
Backport of gh-8502

[2020-07-16 18:21] spring-issuemaster commented on #8837
Fixed via 09e154d8f2c93ba1be4072d124567ab9cb4e2353

[2020-07-16 18:21] #8837 closed

[2020-07-16 19:10] spring-issuemaster opened #8838 "Resolved bearer token has no padding indicators"
Backport of gh-8502

[2020-07-16 19:10] spring-issuemaster commented on #8838
Fixed via 65190293409adaae0a37f0d430747cac2d79a724

[2020-07-16 19:10] #8838 closed

[2020-07-16 20:03] spring-issuemaster opened #8839 "Resolved bearer token has no padding indicators"
Backport of gh-8502

[2020-07-16 20:03] spring-issuemaster commented on #8839
Fixed via 157498bf44ff3a89ef62dafe904384fbc2ecf10c

[2020-07-16 20:03] #8839 closed

[2020-07-16 20:35] Tandolf commented on #8826
This might be a stupid question, but as i can see in the source code is that `ServerHttpSecurity` is following a builder pattern which means i have to call `Build` to return a `SecurityWebFilterChain`.

If i follow your example i need to copy paste the entire security configuration and declare everything twice since there is no way to mutate built `SecurityWebFilterChain`.

Am i correct?

[2020-07-16 20:40] Tandolf commented on #8826
i could ofc declare the security chain in a private method and return and add on the csrf, i was more thinking of trying to have a concise API, since the configuration is so different for the both parts.

[2020-07-16 20:56] #8141 closed

[2020-07-16 22:25] #8776 closed

[2020-07-17 01:29] thecodinglog opened #8840 "Consider providing setter of authenticationDetailsSource field in BearerTokenAuthenticationFilter"
**Expected Behavior**

A custom `AuthenticationDetailsSource` can be injected into `BearerTokenAuthenticationFilter`.

**Current Behavior**

The `authenticationDetailsSource` field is _final_ so it can't.

**Context**

In order to authenticate with bearer token, I'm writing an `AuthenticationManager` having authentication logic using Spring Security.
To do this, I have to put additional informatio

[2020-07-17 07:42] alegieug opened #8841 "Content-Type value duplicated when making oauth2 token call"
I have an existing service that makes a token call from an oauth2 authorization server via a gateway. The gateway builds the request using, the following request attributes and values to call the oauth2 server (below is an example):
`POST -H "Content-Type:application/x-www-form-urlencoded" -d 'grant_type=XXXX&client_id=XXXX&client_secret=XXXX' 'http://localhost:8082/auth/oauth/token'`

This servic

[2020-07-17 07:58] luchob opened #8842 "The usage of Argon2PasswordEncoder requires additional dependencies."
**Describe the bug**

When one wants to use the Argon2PasswordEncoder which is available in Spring Security the following exception is being thrown:

[code]

This can be mitigated by explicitly adding a dependency to bouncy castle, e.g. if you use gradle:

[code]

**To Reproduce**

For example you can define a bean and try to encode a pass word using this bean:

[code]

[code]

**Expected behavior

[2020-07-17 09:45] bboyz269 opened #8843 "JspAuthorizeTag cannot be used if spring-security configurations (beans) is not put in ROOT context (XML config)."
**Describe the bug**
I have a empty root context and an app (child) context contains all my beans. I have a separated xml file for spring security config, imported in child context.
Received the following error when using JSPAuthorizeTag `<sec:authorize>`
[code]

**To Reproduce**
As above
Create an app (Spring mvc) with empty root context and child context, contains spring-security configurations.

[2020-07-17 14:09] PMacho opened #8844 "Extendable JWT authority mapping"
**Expected Behavior**
There seems to be no standard on what JWT contains to communicate client authorities. At the moment Spring Security just maps everything within ***scope*** or ***scp*** to ***SCOPE_***. I think, it would be nice to have the possibility to configure further mappings, to be used in conjunction with `pathMatchers`.

**Current Behavior**

 As far as I could see, there is no way t

[2020-07-17 18:11] jzheaux opened #8845 "Saml2AuthenticationToken should take a RelyingPartyRegistration"
`Saml2AuthenticationToken`'s constructor takes several separate pieces of metadata from the `RelyingPartyRegistration`. Each time `OpenSamlAuthenticationProvider` needs something new from the `RelyingPartyRegistration`, a new constructor will need to be added to `Saml2AuthenticationToken` and the old one potentially deprecated.

Instead of doing this, `Saml2AuthenticationToken` should be changed t

[2020-07-17 18:25] #8845 closed

[2020-07-17 19:33] L7R7 commented on #4920
Ok, I think I got the problem. I'm not familiar with the internals of `RestTemplate` nand `ClientHttpRequestInterceptor`, so I will have to dig through the code and see what I can come up with.

[2020-07-18 11:07] bes1002t commented on #4971
@kaisumli  thanks for that answer, that saved me a lot of trouble! Is there a reason why exactly this one setting has to be configured to get corsConfigurationSource working? I mean I just tested my rest API with registration and login purpose, so maybe spring is recognizing automatically that there are credentials involved.

[2020-07-18 14:59] wkwkhautbois opened #8846 "CookieClearingLogoutHandler cannot delete cookie when servlet context path is set"
**Describe the bug**

When my application is running on Tomcat with context path `/foo`,
JSESSIONID session cookie is NOT deleted although `http.logout().deleteCookies("JSESSIONID")` is set.
As the result, old (invalid) session cookie will send from browser just after logout succeeded.

Tomcat set `Set-Cookie` response header with `Path=/foo` attribute. Path does not have trailing slash, which is

[2020-07-18 19:34] jzheaux commented on #8844
Thanks for the suggestion, @PMacho.

Actually, I think it's already quite simple for an application to create a composite converter:

[code]

I think the common pain point this suggestion as well as [others](https://github.com/spring-projects/spring-security/issues/7596) are trying to address is that the construction of a `JwtGrantedAuthoritiesConverter` could be simplified.

With your comments ab

[2020-07-19 03:30] mkaberman opened #8847 "Client info fetched 7 times from the database while getting client token"
**Expected Behavior**
Spring framework should only get the client info once from the database: loadClientByClientId of ClientDetailsService implementation should only be called once while obtaining the client token

**Current Behavior**
While profiling my application I noticed that  fetching of client token (URL http://localhost:xxxx/oauth/token, grant_type client_credentials) caused the same data

[2020-07-19 09:26] lanmingle opened #8849 "Reactive Exception Handling Anonymous Authentication Support"
#6565
#6590

┭┮﹏┭┮

[2020-07-20 09:01] ryan13mt commented on #8010
Hi everyone i have a similar issue when migrating from the deprecate library to the new Spring-Security.

Basically what we used to do before was loadUserBySAML(SAMLCredential credential). Here we used to do a lot of custom business logic related with the remoteEntityId and also retrieve any custom attributes sent in the assertion. How can this be done using the new library? Using your example abo

[2020-07-20 11:11] jgrandja commented on #8842
@luchob This behaviour is expected since BouncyCastle is declared as an [optional dependency](https://github.com/spring-projects/spring-security/blob/master/crypto/spring-security-crypto.gradle#L5). Not all spring security deployments require BouncyCastle hence it being optional. If you are using a feature within Spring Security that requires BouncyCastle (`Argon2PasswordEncoder`) then you need to

[2020-07-20 11:11] #8842 closed

[2020-07-20 11:22] jgrandja commented on #8826
@Tandolf

`ServerHttpSecurity` is the main API for configuring security so I would recommend using this directly as it gives you full control. And it's quite common to define more than one `ServerHttpSecurity`, depending on your setup, eg. dev, prod, user-facing, admin-facing, etc..

I'm going to close this issue as the recommended way is to directly configure security via `ServerHttpSecurity`.

[2020-07-20 11:22] #8826 closed

[2020-07-20 13:49] shmyer commented on #7027
Came across this issue aswell since we are using a corporate proxy and OIDC Discovery was ignoring the proxy username and password provided via system properties (-Dhttp.* and -Dhttps.*) during startup. Disabled Discovery for now and using static uri's in provider configuration.

[2020-07-20 16:22] JoakimLofgren opened #8852 "Make class SimpleSaml2AuthenticatedPrincipal public"
**Expected Behavior**

We are able to serialize/deserialize the class `Saml2Authentication` and `SimpleSaml2AuthenticatedPrincipal` using an object mapper.

**Current Behavior**

We cannot whitelist `SimpleSaml2AuthenticatedPrincipal` as it is package private and the deserialization crashes.

**Context**

We are using `spring-session-data-mongo` to store the `HttpSession` in a mongo collection.
Th

[2020-07-20 16:35] ganeshan123 opened #8853 "SwitchUserFilter Not Working In Spring Version 2.3.1.RELEASE which is working fine in 2.2.6.RELEASE"
Hi,
We are using SwitchUserFilter to build the impersonate feature in our application, The login to impersonate feature works succesfully using the below SwitchUserFilter  but once logged in  log out of impersonate is breaking the application with the ONLY change from spring 2.2.6 to 2.3.1 in the pom.xml (no other code changes)

The below code works fine with Spring version 2.2.6 but when we just

[2020-07-20 17:03] jzheaux commented on #8852
@JoakimLofgren I think it was package-private while the name was under consideration.

Would you be able to submit a PR to change the class to be named `DefaultSaml2AuthenticatedPrincipal` (to match `DefaultOAuth2AuthenticatedPrincipal`) and make the class public?

[2020-07-20 17:04] JoakimLofgren commented on #8852
Sure, I'll do it tomorrow.

[2020-07-20 17:22] jzheaux commented on #8010
@ryan13mt great points. `OpenSamlAuthenticationProvider`'s configurability is something that should be enhanced.

I'm thinking that one way we could do this is introduce a setter:

[code]

Of course, you could return a completely custom `Authentication` instance as well.

With the above setup, `response` would already be decrypted and validated instance of OpenSAML's `Response` class.

I like this

[2020-07-20 17:48] ryan13mt commented on #8010
@jzheaux the response would include the Idp Entity ID (remoteEntityId) as well i assume right?

Just another enhancement suggestion, if you include another setter for the decrypter it would solve https://github.com/spring-projects/spring-security/issues/8349 where we have the private keys stored in an external vault for decryption. That way we can pass a custom Decrypter that does not need to have

[2020-07-20 20:36] #8788 closed

[2020-07-20 21:21] #8784 closed

[2020-07-20 21:24] spring-issuemaster opened #8855 "Document improvement for configure(WebSecurity web) and configure(HttpSecurity http)"
Backport of gh-8784

[2020-07-20 21:24] spring-issuemaster commented on #8855
Fixed via a55267f867e1565f6b096f7b64add92399225ec7

[2020-07-20 21:24] #8855 closed

[2020-07-20 21:24] spring-issuemaster opened #8856 "Document improvement for configure(WebSecurity web) and configure(HttpSecurity http)"
Backport of gh-8784

[2020-07-20 21:24] spring-issuemaster commented on #8856
Fixed via 79d8b616f06da28d9b91c721a641bf36e1804e75

[2020-07-20 21:24] #8856 closed

[2020-07-20 21:25] spring-issuemaster opened #8857 "Document improvement for configure(WebSecurity web) and configure(HttpSecurity http)"
Backport of gh-8784

[2020-07-20 21:25] spring-issuemaster commented on #8857
Fixed via 0c85dd9cd18d954209574d0d966d6256d6d4b01e

[2020-07-20 21:25] #8857 closed

[2020-07-20 21:25] spring-issuemaster opened #8858 "Document improvement for configure(WebSecurity web) and configure(HttpSecurity http)"
Backport of gh-8784

[2020-07-20 21:25] spring-issuemaster commented on #8858
Fixed via ef442def4358e405e7148bea6388e8ef5dea6898

[2020-07-20 21:25] #8858 closed

[2020-07-20 21:26] spring-issuemaster opened #8859 "Document improvement for configure(WebSecurity web) and configure(HttpSecurity http)"
Backport of gh-8784

[2020-07-20 21:26] spring-issuemaster commented on #8859
Fixed via 14e4a812a1ec727add6c5a8c6705694bf4a16c5c

[2020-07-20 21:26] #8859 closed

[2020-07-20 21:54] #8789 closed

[2020-07-21 02:42] weitangli opened #8860 "@AuthenticationPrincipal can not get new principal(reset in AuthenticationProvider)"
I set principal=jack in MyAuthenticationFilter, and reset principal=jackLee in MyAuthenticationProvider.
Finally, I get jack by @AuthenticationPrincipal.

the code download url: https://github.com/weitangli/spring-security-principal.git

[code]

[code]

[code]

[code]

[2020-07-21 08:31] milanov commented on #8833
It really does, thanks for the quick and to-the-point response. From my point of view this issue can be closed.

One more quick question, if I may. Why is it necessary to pass the access token when constructing the `OAuth2RefreshTokenGrantRequest`? As far as I've read, only the refresh token is needed when the call to the refresh "endpoint" is made. I also tried to construct the request with a stu

[2020-07-21 09:02] eleftherias commented on #8853
Thanks for getting in touch @ganeshan123.

Could you put together a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces this issue?

[2020-07-21 09:17] Taraskin opened #8862 "JdbcOAuth2AuthorizedClientService + Oracle => ClassCastException: [B cannot be cast to oracle.sql.BLOB"
**Describe the bug**
When using **JdbcOAuth2AuthorizedClientService** with Oracle DB (>10g) got _ClassCastException: [B cannot be cast to oracle.sql.BLOB_ at step: **insertAuthorizedClient()**.

**To Reproduce**
Pre-Conditions:
- Spring Security **5.3.2.RELEASE**
- Configure **OAuth2** to use **JdbcOAuth2AuthorizedClientService** to persist Authorized Clients
- Create (Oracle) DB scheme, using [oa

[2020-07-21 10:32] ganeshan123 commented on #8853
@eleftherias  Thanks for your swift response,

Can you please let me know what kind of sample you are looking for as this is application related,

To Recap,  When this exception happens the exception is happening in the spring security side itself and not reaching the application side, So I have attached both the version of the logs (working and notworking spring framework logs) which can help you

[2020-07-21 12:28] jgrandja commented on #8833
@milanov

There are scenarios where the `refresh_token` grant needs to be customized depending on the provider being used. The `OAuth2RefreshTokenGrantRequest` supplies `ClientRegistration`, `OAuth2AccessToken` and `OAuth2RefreshToken` so all related objects are available to implement whatever customization is necessary.

I'm glad you got it working. I'll close this issue.

[2020-07-21 12:28] #8833 closed

[2020-07-21 13:33] #8817 closed

[2020-07-21 13:33] #8820 closed

[2020-07-21 13:48] #8592 closed

[2020-07-21 14:05] eleftherias commented on #8853
@ganeshan123 I'm looking for a sample that:
1) Is a runnable application
2) Reproduces the issue (redirects to the error page)
3) Has the least amount of code needed to reproduce the issue

It is ok if the sample uses Spring Boot, you do not need to use Spring Security on its own.

This will help me narrow down the root cause of the issue.

[2020-07-21 14:37] spring-issuemaster opened #8863 "OAuth2AuthenticationException should be in allowlist"
Backport of gh-8797

[2020-07-21 14:39] #8797 closed

[2020-07-21 14:40] spring-issuemaster commented on #8863
Fixed via 57db8e5d4a6c071e5c72e72e42cc0f6c74071c6c

[2020-07-21 14:40] #8863 closed

[2020-07-21 15:00] JoakimLofgren opened #8864 "SAML attributes not parsed correctly with prefixed XML elements"
**Describe the bug**
When grabbing the email attribute (`urn:oid:0.9.2342.19200300.100.1.3`) from the `SimpleSaml2AuthenticatedPrincipal` / `DefaultSaml2AuthenticatedPrincipal` the output is XML and not the expected email.

Until https://github.com/spring-projects/spring-security/pull/8861 is merged, the following workaround is used to access the attributes:
[code]

The value returned is:
[code]

[2020-07-21 15:33] jzheaux commented on #8864
@JoakimLofgren thanks for the report.

Would you be able to add a unit test that fails in the way that you describe? You could use a static response payload, for example.

[2020-07-21 16:11] #8824 closed

[2020-07-21 16:12] jgrandja commented on #8862
@Taraskin Have you tried configuring a custom mapper via `JdbcOAuth2AuthorizedClientService.setAuthorizedClientParametersMapper()`?

As mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/8539#issuecomment-631030998):

Providing a custom `JdbcOAuth2AuthorizedClientService.setAuthorizedClientParametersMapper()` is the solution for the issue you are facing.

I'm goi

[2020-07-21 16:12] #8862 closed

[2020-07-21 16:25] JoakimLofgren commented on #8864
Is there any existing tests I could tweak to do that?

I'll try and take a stab at it tomorrow.

[2020-07-21 16:38] jzheaux commented on #8864
You can tweak `[authenticateWhenAssertionContainsAttributesThenItSucceeds`](https://github.com/spring-projects/spring-security/blob/master/saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProviderTests.java#L217) in `OpenSamlAuthenticationProviderTests`.

I haven't played around much with configuring the namespace w

[2020-07-21 16:49] jzheaux commented on #8484
@imravichaudhary is this something that you are still planning on contributing? I believe @jkubrynski may also be interested.

[2020-07-21 17:15] imravichaudhary commented on #8484
@jzheaux @jkubrynski please feel free to contribute.

[2020-07-21 17:28] jzheaux commented on #8010
Yes, I believe the OpenSAML `Response` object contains the remote entity id via the `Issuer`.

Also, though, you can retrieve those kinds of configuration values in the `token`, e.g. `token.getRelyingPartyRegistration().getAssertingPartyDetails().getEntityId()`.

Would you be able to submit a PR adding the setter? Also, since this would be broader than the granted authorities setters, I think it w

[2020-07-21 17:48] qavid opened #8865 "ServerBearerTokenAuthenticationConverter throws exceptions instead of signalling error"
**Describe the bug**
ServerBearerTokenAuthenticationConverter throws exceptions in case
bearer token doesn't match pattern
or
authorization header and access token query param are both present in request.

**To Reproduce**
Send invalid bearer token in authorization header. For example, you can add test bellow to ServerBearerTokenAuthenticationConverterTests.

[code]

**Expected behavior**
ServerBe

[2020-07-21 19:41] spring-issuemaster commented on #8830
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-07-22 03:10] lanmingle commented on #8849
@eleftherias hello ! this is the translated content.

See demo project: https://github.com/lanmingle/spring-webflux-security-anonymous-bug

This code:

PrintAuthenticationEntryPoint:

[code]

PrintAccessDeniedHandler:

[code]

WebSecurityContextConfig:

[code]

curl test

[code]

print log:

[code]

analysis [AnonymousAuthenticationWebFilter] & [ExceptionTranslationWebFilter] :

[code]

This merge

[2020-07-22 03:15] dawn9117 opened #8866 "InitializeUserDetailsBeanManagerConfigurer#InitializeUserDetailsManagerConfigurer.getBeanOrNull optimization"
**Expected Behavior**
When multiple UserDetailsServices found, throw NoUniqueBeanDefinitionException.

**Current Behavior**
When I registered more than one UserDetailsService, InitializeUserDetailsBeanManagerConfigurer#InitializeUserDetailsManagerConfigurer.getBeanOrNull returned null.

[2020-07-22 06:10] moritzvieli commented on #8830
@jgrandja Yes, sorry, of course I the **spring** prefix is there. As mentioned, in 2.1.8.RELEASE it works fine. The template looks like this: "{baseUrl}/oauth2/callback/{registrationId}". Do the placeholders still work with `redirectUri` instead of `redirectUriTemplate`? In the docs I can't find anything about the `redirectUri`:
https://docs.spring.io/spring-security/site/docs/current/reference/ht

[2020-07-22 09:12] JoakimLofgren commented on #8864
After debugging it appears that the issue is not that elements are prefixed.

The culprit seems to be this: https://github.com/spring-projects/spring-security/blob/master/saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProvider.java#L428

Doing `xsAny.getTextContent();` returns the email correctly, but the `this.sa

[2020-07-22 09:16] eleftherias commented on #8860
Thanks for providing a sample @weitangli.

The strange behaviour that you are seeing is caused by using classes in way that they are not intended.

Let's take a look at the custom Filter, `MyAuthenticationFilter`.
`MyAuthenticationFilter` is setting the authentication to an instance of `PreAuthenticatedAuthenticationToken`.
`PreAuthenticatedAuthenticationToken` is not a fully populated `Authentica

[2020-07-22 09:16] #8860 closed

[2020-07-22 09:32] #8783 closed

[2020-07-22 10:52] Taraskin commented on #8862
@jgrandja Yes, I've already used this way to solve an issue. Thank you for a response.

[2020-07-22 12:23] PMacho commented on #8844
I'm sorry for the delay. I'll try to answer tomorrow, latest.

[2020-07-22 14:36] #8599 closed

[2020-07-22 16:38] samuelpdm commented on #8853
Hi!
I had the same issue here and I realized that in the previous versions you could use HTTP method GET to perform an impersonate, now (at least maintaining everything like it was) you must send a POST with username:{value} as form-data on the request body.

[2020-07-22 16:59] #7791 closed

[2020-07-22 20:14] jzheaux commented on #8731
@fpagliar, I don't believe there are any existing alternatives. But, since it sounds like you might be producing a solution anyway, I wonder if you'd be interested in contributing it back?

I'm thinking that it would make sense to create an implementation of `LogoutSuccessHandler` similar in nature to [`OidcClientInitiatedLogoutSuccessHandler`](https://github.com/spring-projects/spring-security/bl

[2020-07-22 21:13] evgeniycheban commented on #8453
I can work on it.

[2020-07-22 21:33] rwinch commented on #8843
As far as I can tell `DelegatingFilterProxy` and `JspAuthorizeTag` are consistent in how they look up the beans. We should be consistent to ensure that the same `ApplicationContext` that is used to create the `FilterChainProxy` is used by `JspAuthorizeTag`.

[`DelegatingFilterProxy`](https://github.com/spring-projects/spring-framework/blob/v5.2.8.RELEASE/spring-web/src/main/java/org/springframewor

[2020-07-22 21:40] rwinch opened #8868 "SecurityWebApplicationContextUtils should use WebApplicationContextUtils"
Initially SecurityWebApplicationContextUtils [copied code](https://github.com/spring-projects/spring-security/blob/5.3.3.RELEASE/web/src/main/java/org/springframework/security/web/context/support/SecurityWebApplicationContextUtils.java#L58) from [WebApplicationContextUtils.findWebApplicationContext](https://github.com/spring-projects/spring-framework/blob/v5.2.8.RELEASE/spring-web/src/main/java/or

[2020-07-23 00:48] bboyz269 commented on #8843
@rwinch

While I think the correct one should be "Look for a bean of type in preferred context first, then root context then, the rest"
Similar to how DelegatingFilterProxy of spring-web works ...
I already mentioned in my post above but let me rephrase it.
How `DelegateFilterProxy` (the correct way) look up beans is "find the beans in root context, if **no beans found**, proceeed to find in child

[2020-07-23 04:14] fpagliar commented on #8731
I'm looking at this and will be glad to contribute when possible. Might not get a full-fledged generic solution but it will at least be a good first approach to iterate on.

@jzheaux I'm wondering a bit on refactoring from the current structure. Looking at `LogoutRequest` and `LogoutResponse`, the basic structure of the bindings and request processing are basically the same. So extracting the comm

[2020-07-23 05:01] vShlapachenko commented on #8868
Would love to take on this issue!

[2020-07-23 05:40] dawn9117 opened #8869 "Make class public: LazyPasswordEncoder, DefaultPasswordEncoderAuthenticationManagerBuilder"
Make class public: LazyPasswordEncoder, DefaultPasswordEncoderAuthenticationManagerBuilder

[2020-07-23 07:43] JoakimLofgren opened #8873 "SAML2 customizable URLs"
**Expected Behavior**

I want to be able to change all SAML2 URLs to be able to e.g. add a prefix.

**Current Behavior**

Some URLs are customizable, like `Saml2LoginConfigurer.loginProcessingUrl`.
While some are not, e.g. `Saml2LoginConfigurer.AuthenticationRequestEndpointConfig.filterProcessingUrl` (`/saml2/authenticate/{registrationId}`).

**Context**

A workaround for adding a path prefix is u

[2020-07-23 08:57] eleftherias commented on #8853
Thanks for bringing that up @samuelpdm.

@ganeshan123 The issue that @samuelpdm is referring to is gh-4183.

Take a look and let us know if that's what you're running into.

[2020-07-23 09:08] JoakimLofgren opened #8874 "SAML2 auto redirect with custom login page"
**Expected Behavior**

I want to be able to have a custom login page with my own template for logout and error states, while still having
the auto redirect to the provider login page if only one registration exists.

**Current Behavior**

Setting a custom login page stops the auto redirect functionality and there's no easy way to re-enable it.

**Context**

A workaround would be to duplicate what

[2020-07-23 11:24] netbeansuser2019 commented on #8660
If I do not use it well, then you probably do not know Spring Security well.

[2020-07-23 12:23] jgrandja commented on #8453
Thanks @evgeniycheban ! The issue is yours.

[2020-07-23 15:47] jgrandja commented on #8830
@moritzvieli The Spring Boot property `registration.[registration-id].redirectUriTemplate` was deprecated in [2.1.0.M3](https://github.com/spring-projects/spring-boot/issues/14226) and then it was removed in [2.2.0.M1](https://github.com/spring-projects/spring-boot/commit/715db153e35788c91fafb8d191447fcef92933ef#diff-b716836901d5fea39e485e35997f2f62L165).

Here is a link to the reference for [Spri

[2020-07-23 15:47] #8830 closed

[2020-07-23 17:12] lanmingle opened #8875 "Reactive AuthenticationWebFilter config add support ServerAuthenticationConverter"
[code]

Current solution

[code]

[2020-07-23 20:08] rwinch commented on #8865
Thank you for reporting this and volunteering to submit a PR @qavid! We'd love to see a pull request for this issue.

[2020-07-23 20:23] rwinch commented on #8866
Please provide more details around when and why you would want this to happen.

[2020-07-23 20:46] rwinch commented on #8843
The way you describe it doesn't look like the way it is coded. The links I provided make it appear that they behavior is consistent between the two. Can you provide a complete/minimal sample that demonstrates the difference in behavior you are seeing or explain why my analysis is incorrect?

[2020-07-23 20:48] rwinch commented on #8869
Can you explain why you think this should be changed?

[2020-07-23 20:50] jzheaux opened #8876 "RelyingPartyRegistration should default the ACS Location"
Spring Security supports a default ACS Location of

[code]

When building a `RelyingPartyRegistration`, the builder should assume this location by default.

[2020-07-23 20:58] jzheaux opened #8877 "Add HttpMessageConverter that constructs a RelyingPartyRegistration"
It would be nice to have a simple way to convert an `<IDPSSODescriptor>` into a `RelyingPartyRegistration`. `HttpMessageConverter` seems to be a good interface to achieve this, as it could then be used with an application's `RestTemplate` definition:

[code]

This would also be a nice step towards simplifying #8484.

[2020-07-23 21:33] #8876 closed

[2020-07-23 21:33] #8772 closed

[2020-07-23 21:33] #8877 closed

[2020-07-23 22:14] #8773 closed

[2020-07-23 22:14] #8774 closed

[2020-07-23 22:14] #8775 closed

[2020-07-23 22:45] jzheaux commented on #8874
@JoakimLofgren thanks for the suggestion. To make sure I'm understanding your use case correctly, would the following work?

[code]

If that wouldn't work, can you help me understand why not?

[2020-07-23 22:51] jzheaux commented on #8864
The serialize is so that applications can customize how to handle `xs:any` types.

Were you able to develop a unit test? Specifically, I'm curious why the registry returned a marshaller instead of `null`.

[2020-07-23 22:53] #8852 closed

[2020-07-23 23:07] jzheaux commented on #8873
@JoakimLofgren I think it makes sense to simplify configuring the URL for creating an AuthnRequest.

If we follow the pattern established in `OAuth2LoginConfigurer`, I think most decisions will be fairly straightforward. For example, it would be nice to do:

[code]

Then that would be quite similar to:

[code]

Would you be able to submit a PR along those lines to enhance the DSL? It would also be

[2020-07-23 23:25] jzheaux commented on #8840
Thanks for the suggestion, @thecodinglog. I think it's reasonable to consider this since other filters also have the same setter.

I'm thinking, though, that adding support for an `AuthenticationConverter` might make a bit more sense, similar to [how things are done with `AuthenticationFilter`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/sec

[2020-07-24 00:00] thecodinglog commented on #8840
The method you suggested is much more intuitive and make sense than adding a setter. It also perfectly matches what I want.

What I was trying to do was to use the hashed body, requested url and remote address from Request object for authentication.

Thank you.

[2020-07-24 05:39] bboyz269 commented on #8843
@rwinch
Sorry I made this more confusing than it should be.

You're correct that `SecurityWebApplicationContextUtils` has the same logic with `WebApplicationContextUtils`.
What I meant to say is that [DelegatingFilterProxy#findWebApplicationContext](https://github.com/spring-projects/spring-framework/blob/v5.2.8.RELEASE/spring-web/src/main/java/org/springframework/web/filter/DelegatingFilterProxy.

[2020-07-24 08:25] qavid commented on #8865
Hi @rwinch , I'll work on it next week/weekend after my vacation.

[2020-07-24 15:59] PMacho commented on #8844
Hi @jzheaux ,

thanks for your answer. I agree, it is not complicated to composite converters. However, from a user perspective, I think it is more comfortable and flexible (and in a way better), if I can just configure what I need. (B.t.w. `JwtSpec` only digests `Converter<Jwt, ? extends Mono<? extends AbstractAuthenticationToken>>`, thus the composite converter still needs further mapping.)

Sin

[2020-07-24 17:09] philsttr commented on #7454
Dependency management of  `oauth2-oidc-sdk` was added to spring boot via https://github.com/spring-projects/spring-boot/issues/20974

[2020-07-24 17:09] #7454 closed

[2020-07-24 17:15] cbossi opened #8879 "NPE when using @PreAuthorize in a Controller inheriting from a base class"
**Describe the bug**
When using `@PreAuthorize("isAuthenticated()")` on a Controller that inherits from a base class, where both controller classes define methods with a `@RequestMapping`, dependencies that should be injected through constructor injection are null.

Someting seems to be shaky with 'Spring Method Security' and Spring DI'...

**To Reproduce**
Consider the following sample controller

[2020-07-25 06:01] jzheaux commented on #8840
Great, @thecodinglog. Would you be interested in submitting a PR to add that functionality?

[2020-07-25 06:34] Gomzee18 commented on #7889
@jgrandja

Below is the screenshot  of my project dependencies:

![image](https://user-images.githubusercontent.com/8805675/88450369-0ea4b600-ce81-11ea-983d-d123199c3261.png)

And this is how my auth configure looks like in WebSecurity. I am using Spring JDBC session and annotated my main class with @EnableJdbcHttpSession as well.

[code]

Based on your above recommendation I have also added:

`@B

[2020-07-25 07:36] napoleon-he commented on #8767
The bean is used as a manager and there is often no need to define two managers

[2020-07-27 09:12] thecodinglog commented on #8840
Sure. I will PR soon.

[2020-07-27 14:52] rwinch commented on #8875
I don't think we will do this because the formLogin implies that it is a form which implies the way the authentication is converted is reading from a form (thus it wouldn't need changed). Can you provide a case where you are attempting to authenticate by posting a username/password and you would change the converter?

[2020-07-27 15:07] nlenoire commented on #8685
Hello Spring Security Team,

I jump on this topic to add few more requirements.

We plan to use Spring Security to integrate with several IdPs using distincts protocols (OIDC, SAML2, LDAP, etc.).

By now, after some prototyping using Spring Security 5.3 with SAML2, we are facing several limitations due to some not yet supported features:

<h3>High Priority</h3>

* Single Sign-out
See https://githu

[2020-07-27 18:20] jgrandja opened #8881 "Fix build error related to Mono.deferWithContext()"
There was a recent change in `reactor-core` that is causing the snapshot build to fail.

`Mono.deferWithContext()` was changed from:

`Mono.deferWithContext(Function<Context, ? extends Mono<? extends T>> supplier)`

to:

`Mono.deferWithContext(Function<ContextView, ? extends Mono<? extends T>> supplier)`

`ContextView` was added after `3.4.0-M1` (or `2020.0.0-M1` release train).

Reference Issue [

[2020-07-28 01:02] jgrandja opened #8882 "Customize RestOperations / WebClient for OAuth 2.0"
We've been working on an enhancement ([gh-8732](https://github.com/spring-projects/spring-security/pull/8732)) that allows an application to provide a custom `RestOperations` or `WebClient` `@Bean`, which would be auto-wired to the related components for `oauth2-client` or `oauth2-resource-server`. Unfortunately, we ran into a few challenges while trying to come up with a solution for this enhance

[2020-07-28 01:33] lanmingle commented on #8875
@rwinch Thanks for your advice !

[2020-07-28 01:33] #8875 closed

[2020-07-28 09:31] simonbasle commented on #8881
After looking at the two use sites of `deferWithContext`, I don't think you need it at all.
The `Context` (or now `ContextView`) provided to the `Consumer` is only used for "reinjection", which is redundant:

[code]
is effectively the same as
[code]

in the sense that `switchIfEmpty` will make its own downstream `Context` visible to the `Mono.just` (or whatever fallback `Mono` you define).

[2020-07-28 13:01] qcastel opened #8883 "JwtDecoderProviderConfigurationUtils not using RestTemplate bean"
**Describe the bug**

The class JwtDecoderProviderConfigurationUtils is instanciating the RestTemplate instead of using the bean, making impossible to customise the SSL context.

https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtDecoderProviderConfigurationUtils.java#L42

**To Reproduce**

Try to setup a sampl

[2020-07-28 13:31] jgrandja commented on #5607
Closing in favour of #8882. Please provide any additional feedback there.

[2020-07-28 13:31] #5607 closed

[2020-07-28 13:53] jgrandja commented on #7027
Closing in favour of #8882. Please see [ClientRegistrations](https://github.com/spring-projects/spring-security/issues/8882#user-content-client-registrations) and provide any additional feedback there.

[2020-07-28 13:53] #7027 closed

[2020-07-28 13:59] jgrandja commented on #8365
Closing in favour of #8882. Please see [JwtDecoders](https://github.com/spring-projects/spring-security/issues/8882#user-content-jwt-decoders) and provide any additional feedback there.

[2020-07-28 13:59] #8365 closed

[2020-07-28 14:36] jgrandja commented on #8883
Closing as duplicate of #8882. Please see [JwtDecoders](https://github.com/spring-projects/spring-security/issues/8882#user-content-jwt-decoders) and provide any additional feedback there.

[2020-07-28 14:36] #8883 closed

[2020-07-28 17:51] jgrandja commented on #8881
@simonbasle Here is the [line of code](https://github.com/spring-projects/spring-security/blob/a9dabf6efbbba4cbe75dc17cfa58999e7c53c69a/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/DefaultReactiveOAuth2AuthorizedClientManager.java#L142) that was causing a compile error.

I was able to resolve the compile error by changing from:

`Mono.deferWithContext(context -

[2020-07-29 07:36] JoakimLofgren commented on #8874
Hey @jzheaux

Never did a controller, just a `addViewController` and a template like explained here:
https://www.baeldung.com/spring-security-login#login-form

Was hoping to get an option like:
[code]

But yeah, I assume that creating a controller myself instead of using a `ViewControllerRegistry` would probably work.

[2020-07-29 07:38] JoakimLofgren commented on #8873
Sure. After https://github.com/spring-projects/spring-security/issues/8864 is finished.

[2020-07-29 07:40] JoakimLofgren commented on #8864
Not yet. Might take a stab at it today if I have the energy/time.

[2020-07-29 13:48] evgeniycheban commented on #8879
I can take a look.

[2020-07-30 08:46] simonbasle commented on #8881
@jgrandja I'm aware of the line of code that caused an issue, and that is the one I'm talking about. The whole wrapping in a `deferWithContext(context ->` coupled with a `.subscriberContext(context)` is redundant. `switchIfEmpty` should already do that.

as for the boot samples, I tried to reproduce but couldn't find how. could you instruct me how to run one problematic test ? It sounds more like

[2020-07-30 08:52] nicolas-teck-mox opened #8885 "Provide a way to pass a cache in JwtDecoders"
**Summary**

Module: spring-security-oauth2-jose
Version: 5.4.0-M2

Thanks to [this PR](https://github.com/spring-projects/spring-security/pull/8332), we are now able to pass our own custom cache to store JWK set. However there is no way to pass this cache from [JwtDecoders methods](https://github.com/spring-projects/spring-security/blob/505882c944b4c7d8540e1b4814e8d9cbb4b68029/oauth2/oauth2-jose/

[2020-07-30 09:00] spring-issuemaster commented on #8853
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-07-30 10:05] zhangzhen108 opened #8886 "App client gets token"
Can authorization code mode be more flexible to support app login, because app login omits the authorization of authorization code mode

[2020-07-30 12:41] jgrandja commented on #8881
@simonbasle

You are right. I misinterpreted your previous comment. Thanks for the tip! I cleaned it up.

To reproduce the Boot samples issue, see this 104d785 for the exact command to run.

[2020-07-30 12:48] jgrandja commented on #8886
@zhangzhen108 I don't quite understand the issue? Can you please provide more detail.

[2020-07-30 13:06] jgrandja commented on #7889
@Gomzee18 Looking at your config and logs, it's not clear why you are having this issue. It may be a misconfiguration on the Spring Session side since the log reveals:

[2020-07-30 16:45] jzheaux opened #8887 "Consider adding RelyingPartyRegistrationResolver"
`Saml2WebSsoAuthenticationFilter`, `Saml2WebSsoAuthenticationRequestFilter`, and upcoming filters like `Saml2MetadataFilter` and any request-based logout support will all need to look up the `RelyingPartyRegistration`.

Currently, the way that `Saml2WebSsoAuthenticationFilter` and `Saml2WebSsoAuthenticationRequestFilter` look up the registration is by using a pattern in the URL path to discover th

[2020-07-30 17:25] jzheaux commented on #8885
@nicolas-teck-mox, thanks for the suggestion.

Since `JwtDecoders` is designed as a utility for getting a default instance, it's not really the place for adding configurability. I think there are other ways to address your issue, though.

One way would be to introduce `NimbusJwtDecoder#withIssuerLocation`. This would return a builder like `NimbusJwtDecoder#withJwkSetUri` does, including a `cache(C

[2020-07-30 17:41] jzheaux commented on #8874
I see, @JoakimLofgren. Generally, the DSL should stay as minimal as possible, and it doesn't seem like such a feature would be so common as to want to place it there.

Instead of having the redirect functionality in a controller, you could have a custom `AuthenticationEntryPoint`:

[code]

Then, I believe you'd still be able to use your `ViewControllerRegistry` to wire your `/login` endpoint.

As

[2020-07-30 17:41] #8874 closed

[2020-07-30 18:00] JoakimLofgren commented on #8874
Thanks for the suggestions :)

[2020-07-30 20:25] spring-issuemaster commented on #8866
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-07-30 20:50] spring-issuemaster commented on #8869
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-07-30 21:24] jzheaux commented on #8844
Lots of great feedback here, @PMacho, thank you.

While I appreciate the suggestion to enhance the DSL in the pattern of `pathMatchers`, the `oauth2ResourceServer` DSL was specifically designed to be component-based, meaning that applications construct components and either wire them to the DSL or expose them as `@Bean`s.

That doesn't mean that something like that won't change down the road, but

[2020-07-30 21:37] jzheaux commented on #8535
Is this something you are still wanting to contribute, @AbstractConcept?

[2020-07-30 23:14] #8589 closed

[2020-07-30 23:49] spring-issuemaster opened #8888 "Add logging"
Backport of gh-8589

[2020-07-30 23:49] spring-issuemaster commented on #8888
Fixed via 950769fa0025d0f2f9b8afe07a7fbdc8b793a660

[2020-07-30 23:49] #8888 closed

[2020-07-31 00:05] spring-issuemaster opened #8889 "Add logging"
Backport of gh-8589

[2020-07-31 00:05] spring-issuemaster commented on #8889
Fixed via 2f80b8a5be902eac88a6921255506b4ce5f44fde

[2020-07-31 00:05] #8889 closed

[2020-07-31 07:14] michaelzangl commented on #7834
Workaround to have a user / other object as principal:

[code]

You need to tell spring that this is a valid authentication:
[code]

And you need to add the converter to your securtiy config, depending on the configure method you use:
[code]

[2020-07-31 11:30] ganeshan123 commented on #8853
Apologize for the delay, The issue is resolved with the below change

Instead of using
filter.setExitUserUrl("/logout/impersonate");
I changed this to
RequestMatcher exitUserMatcher = createMatcher("/logout/impersonate");
filter.setExitUserMatcher(exitUserMatcher);
and this worked out.
But filter.setExitUserUrl("/logout/impersonate");  was working succesfully in the earlier spring version  2.2.6

[2020-07-31 11:34] eleftherias commented on #8853
Glad you were able to fix it @ganeshan123!

[2020-07-31 11:34] #8853 closed

[2020-07-31 15:19] spring-issuemaster opened #8891 "Add logging"
Backport of gh-8589

[2020-07-31 15:19] spring-issuemaster commented on #8891
Fixed via 48a0514965417cc67e0042435cb0e75924b0856f

[2020-07-31 15:19] #8891 closed

[2020-07-31 18:15] rwinch commented on #8881
With the changes in https://github.com/reactor/reactor-core/pull/2294 our build is working with the latest reactor snapshots. Thanks to @simonbasle for all the help!

[2020-07-31 18:15] #8881 closed

[2020-07-31 19:56] jzheaux commented on #7834
@michaelzangl Thanks for posting your solution.

Can you elaborate on why registering an authentication provider is necessary? It seems like this should be sufficient:

[code]

[2020-07-31 20:23] jzheaux commented on #8879
Thanks, @evgeniycheban. Don't hesitate to reach out with questions.

[2020-07-31 21:35] jzheaux commented on #8685
Thanks for sharing this list, @nlenoire.

I've got a question about one of them:

I believe it's already possible to have a signed SAML response with unsigned assertions. Is this what you are looking for? I don't think we want to add first-class support for both the response and assertions being unsigned.

Otherwise, on the surface, several of the features sound reasonable, but I think I'd need mo

[2020-07-31 21:57] jzheaux commented on #8731
@fpagliar, I agree that there are some common patterns across these filters. Would you care to share some of these thoughts over on https://github.com/spring-projects/spring-security/issues/8887 which seems to be thinking along the same lines as your last comment?

[2020-07-31 22:18] jzheaux commented on #2280
The problem with adding random sleeps is that an attacker can at the same time overtax the system to create greater disparity between the two request types. Under normal circumstances, say, both the password hash and the random sleep increase the request time by n cycles. But, while the system is taxed, password hashing may take 10n cycles while the random sleep will still take n cycles.

The best

[2020-08-01 00:36] koishikawa11 opened #8892 "Add hasAnyAuthority(String...) and hasAnyRole(String...) to authorizeRequests in Kotlin DSL"
**Expected Behavior**

The Kotlin DSL has methods for conveniently specifying the access `hasAuthority(String)` and `hasRole(String)` in `authorizeRequests`.
I think it would be convenient to have method for `hasAnyAuthority(String...)` and `hasAnyRole(String...)`.

**Current Behavior**

In the current version it is necessary to create access like `"hasAnyAuthority('$anyAuthorities')"`.

[2020-08-01 01:23] timothystone commented on #4143
I'm actually looking at this @imgx64. As of Spring 5.0, it seems 304 Not Modified is addressed in `CacheControlHeadersWriter`:

[code]

[2020-08-01 07:28] michaelzangl commented on #7834
@jzheaux Have you tested it?

I don't know why, but when I added it to the application, the `MyUserJwtAuthenticationToken` got passed to all available authentication providers again. Swing first calls the authentication providers with the normal Bearer token, then the JWT conversion is done, then it passes through the `MyUserJwtAuthenticationToken` again - but if you do not do the conversion, it u

[2020-08-01 17:40] rcbandit111 opened #8893 "Infinite loop when wrong username and password are send as application/x-www-form-urlencoded"
I'm trying to implement OAuth2 authentication using `spring-cloud-starter-oauth2`. Github [code](https://github.com/rcbandit111/OAuth2)

I can make successful authentication using Postman:

[code]

But if I send wrong `username` and `password` I get infinite loop.

To Reproduce the issue I send wrong values like this:
[code]

I get this output till I get out of RAM memory:

[code]

[2020-08-01 21:40] evgeniycheban commented on #8879
@cbossi The method `foo` should be `open` so that it can be proxied.

[2020-08-02 13:12] zhangzhen108 commented on #8886
My android app needs social login.After I get the third-party token with Oauth-Client, how can I convert it into my own JWT token to support my own resource server requests?
I try to inherit SavedRequestAwareAuthenticationSuccessHandler class, rewrite onAuthenticationSuccess method,However, it was found that oauth-Client was not the authorization side, so JWT Token could not be obtained through au

[2020-08-02 13:16] zhangzhen108 commented on #8886
I'm using the Spring Security5, OAuth2 client.This problem has puzzled me for a week. I really hope you can help me solve it. Thank you very much

[2020-08-02 17:30] evgeniycheban commented on #8887
@jzheaux I'd like to work on it 👍

[2020-08-03 08:25] cbossi commented on #8879
@evgeniycheban indeed this helps, thanks a lot.

It's plausible that a method has to be `open` in order to be proxied, but it's interesting that this seems to only be necessary for methods of inherited classes. The method `bar` in the example is not `open` as well, and moreover the whole class `SampleController` is not `open`...

If somehow possible, it would be very helpful to get a descriptive e

[2020-08-03 08:28] #8879 closed

[2020-08-03 12:41] JayChandler opened #8895 "Make #oauth2. expressions compatible with JwtAuthenticationToken"
**Expected Behavior**

OAuth2MethodSecurityExpressionHandler should work with JwtAuthenticationToken

**Current Behavior**

Currently there is a check in OAuth2ExpressionUtils

`if (authentication instanceof OAuth2Authentication)` which prevents the #oauth2 expressions to work on jwt tokens

@PreAuthorize("#oauth2.hasAnyScope('dealer:read', 'api:admin')")
won't work but this will
@PreAuthorize("ha

[2020-08-03 12:52] evgeniycheban commented on #8453
@jgrandja I've submitted PR.
Please take a look when you have a moment.

[2020-08-03 14:18] fpagliar commented on #8887
Yes this is a big one in order to support an upgrade path for projects using spring-security-saml.

Right now, it is not possible to do so because it requires you to rewrite all your destination URLs to contain the ids, which would mean asking every customer to re-configure their SAML apps.

In the old schema, we had SP resolution using different structures:
- local entity id aa querystring argume

[2020-08-03 14:52] rwinch commented on #8843
@bboyz269 Thank you clarifying the issue. I think the best approach would be to allow users to specify the `WebSecurityExpressionHandler` on an attribute similar to how [`WebInvocationPrivilegeEvaluator` is looked up](https://github.com/spring-projects/spring-security/blob/e770a215898be2f3594948b79464f88f78d9905a/taglibs/src/main/java/org/springframework/security/taglibs/authz/AbstractAuthorizeTag

[2020-08-03 16:04] #8865 closed

[2020-08-03 16:10] spring-issuemaster opened #8896 "ServerBearerTokenAuthenticationConverter throws exceptions instead of signalling error"
Backport of gh-8865

[2020-08-03 16:10] spring-issuemaster commented on #8896
Fixed via d104490cb8b0941da516c3beed83f5c68201087c

[2020-08-03 16:10] #8896 closed

[2020-08-03 16:11] spring-issuemaster opened #8897 "ServerBearerTokenAuthenticationConverter throws exceptions instead of signalling error"
Backport of gh-8865

[2020-08-03 16:11] spring-issuemaster commented on #8897
Fixed via da4bd22c6d0c9c27bf8eb842a49533166cc714d8

[2020-08-03 16:11] #8897 closed

[2020-08-03 16:12] spring-issuemaster opened #8898 "ServerBearerTokenAuthenticationConverter throws exceptions instead of signalling error"
Backport of gh-8865

[2020-08-03 16:12] spring-issuemaster commented on #8898
Fixed via ca272e42678373b7d35fa97994446761b46a74e8

[2020-08-03 16:12] #8898 closed

[2020-08-03 16:40] rwinch commented on #8767
@felixkl Can you describe why you need multiple authentication managers? At that point I wonder which manager would be wired into Spring Security?

[2020-08-03 17:19] jzheaux commented on #8887
Actually, @evgeniycheban, I think I've got this one just about ready since I'm hoping to get this merged before RC1, which is scheduled for Wednesday morning.

I could use yours and @fpagliar's help on reviewing the PR, though.

[2020-08-03 19:55] rwinch opened #8900 "Add AuthorizationManager"
We should add an `AuthorizationManager` which is an imperative version of [`ReactiveAuthorizationManager`](https://github.com/spring-projects/spring-security/blob/5.3.3.RELEASE/core/src/main/java/org/springframework/security/authorization/ReactiveAuthorizationManager.java#L31). The class should look something like:

[code]

Using something that allows delaying looking up the `Authentication` like

[2020-08-03 20:51] jzheaux commented on #8895
Thanks for the suggestion, @JayChandler. However, [`OAuth2MethodSecurityExpressionHandler` is from the deprecated Spring Security OAuth project](https://github.com/spring-projects/spring-security-oauth/blob/master/spring-security-oauth2/src/main/java/org/springframework/security/oauth2/provider/expression/OAuth2MethodSecurityExpressionHandler.java#L27), and there's no intention to port over this f

[2020-08-03 20:51] #8895 closed

[2020-08-04 00:31] ch4mpy commented on #8750
`exposing a builder is a great deal more powerful than Spring Security's annotation support that's used in simpler authentication scenarios`

Why would exposing a builder necessarily be an alternative to providing annotation support?

I do use common builders in annotations `WithSecurityContextFactory`, `MockMvc` post-processors and `WebTestClient` configurers in scenarios more complex than Spring

[2020-08-04 00:52] bboyz269 commented on #8843
Surely!

[2020-08-04 02:52] jzheaux commented on #8750
Good question, @ch4mpy, I probably could have worded that a bit better.

This ticket isn't intended to compare the builder approach against the annotation approach. Instead, it's intended to explore extracting the authentication builders from `SecurityMockMvcRequestPostProcessors` so that they can address additional use cases than they do today.

This simply alludes to the fact that Spring Securit

[2020-08-04 05:20] ch4mpy commented on #8750
IMO, annotations design can address as many scenarios as `RequestPostProcessor`, `WebTestClientConfigurer` and `MockServerConfigurer` builders. `@WithMockKeycloakAuth` and `@WithMockOidcId` referenced above tend to prove it. You (I mean Spring-security team) just chose to limit annotation to simple cases.

I'll stop there because this isn't this request topic, but tickets I got on the libs in whic

[2020-08-04 06:33] PMacho commented on #8844
Hi @jzheaux ,

I totally agree about the splitting of converting `Jwt` to `GrantedAuthority` and from `GrantedAuthority` to `AbstractAuthenticationToken`. I should have made this more clear. My implementation was just a draft to show the idea, merging both mappings for simplicity.

Yes. So would you agree to the following?
Assume, I register beans of type, `Converter<Jwt, GrantedAuthority>`, `Conv

[2020-08-04 07:10] IrfanOjas commented on #6193
Hi i am also facing the same issue i,e java.lang.ClassCastException: org.springframework.security.oauth2.core.user.DefaultOAuth2User cannot be cast to org.springframework.security.oauth2.core.oidc.user.OidcUser

Here i am only using an offline scope in my client application.
Can someone please help to resolve the issue.

[2020-08-04 08:58] felixkl commented on #8767
We have an authorization service which handles two authorize use cases on different urls. For each of these we have a separate AuthenticationManager defined so we have a separation of the used AuthenticationProviders. So actually both managers are used, each for a specified path.

[2020-08-04 10:06] jgrandja commented on #8886
@zhangzhen108

This use case is not valid. It is not the responsibility of the client to convert the obtained access token to a JWT. Only the authorization server can issue access tokens, whether opaque or JWT format.

This is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). I'm going to close this as we prefer to use GitHub issues only for bugs and enhanceme

[2020-08-04 10:06] #8886 closed

[2020-08-04 11:20] jgrandja opened #8901 "Remove use of Mono.deferWithContext()"
Remove redundant use of Mono.deferWithContext().

[2020-08-04 11:21] jgrandja opened #8902 "Deprecate ImplicitGrantConfigurer"
Deprecate ImplicitGrantConfigurer

[2020-08-04 11:28] #8901 closed

[2020-08-04 11:28] #8902 closed

[2020-08-04 12:41] jgrandja opened #8903 "Allow for custom ClientRegistration.clientAuthenticationMethod"
Allow for custom `ClientRegistration.clientAuthenticationMethod`

[2020-08-04 12:50] #8903 closed

[2020-08-04 13:10] eleftherias commented on #8846
Thanks for the sample @wkwkhautbois!

I have updated the title because this appears to be an issue for any cookie, not specifically JSESSIONID.

We will be updating the default cookie path to not include the trailing slash.
As a workaround for now, you could use your own `CookieClearingLogoutHandler` that sets the correct path.

[code]

[2020-08-04 13:37] An0nymous0 opened #8904 "Open cross-domain and 500 at the same time"
**Describe the bug**
500 does not return cross-domain related header information

**To Reproduce**
1.
[code]
2.
[code]
3. Request an interface where an exception occurs

4. Missing cross-domain http header
status code 500:
![image](https://user-images.githubusercontent.com/6836030/89300160-5d7cf780-d69a-11ea-99ed-13462528ab6e.png)
---
![image](https://user-images.githubusercontent.com/6836030/8930

[2020-08-04 13:53] ryan13mt commented on #8349
Hi @jzheaux and @duncanportelli,

Our use case (having private key on an HSM) would only require to handle the decryption part since that is the only time we need the actual private key to be used. @duncanportelli i'm not sure about your use case, but it seems like ours since in your sample application you mentioned a custom decrypter as well. Since the other keys are all 'public' they can technic

[2020-08-04 14:24] dgempiuc opened #8905 "Change Immutability for OAuth2AuthorizedClient"
**Expected Behavior**

OAuth2AuthorizedClient and its nested classes are designed immutable. Can you change this behaviour?

**Current Behavior**

There are currently only "final" fields, full-args constructor and getter methods.

**Context**

I want to store this class in Redis and it's fine by using Jackson. But, there is exception during Deserialization, because it first creates object with no-

[2020-08-04 15:03] jgrandja opened #8906 "Deprecate ClientRegistration.redirectUriTemplate"
Deprecate `ClientRegistration.redirectUriTemplate` in favor of `ClientRegistration.redirectUri`.

[2020-08-04 15:08] #8906 closed

[2020-08-04 15:18] rwinch commented on #2280
Random sleep can be normalized out. As Josh mentioned constant time is the way to avoid timing attacks.

[2020-08-04 15:20] rwinch commented on #4143
Thanks @timothystone . I'm closing this as a duplicate.

[2020-08-04 15:21] #4143 closed

[2020-08-04 15:25] eleftherias commented on #8892
Thanks for the suggestiong @koishikawa11.
Are you interested in submitting a pull request for this feature?

[2020-08-04 17:17] jgrandja opened #8908 "Deprecate CustomUserTypesOAuth2UserService"
Deprecate `CustomUserTypesOAuth2UserService`

[2020-08-04 17:24] #8908 closed

[2020-08-04 18:04] jgrandja opened #8909 "Fix snapshot build failure related to reactor-netty"
The `io.projectreactor.netty:reactor-netty` module has been split into 2 modules: `reactor-netty-core` and `reactor-netty-http`. See this [comment](https://github.com/reactor/reactor-netty/issues/739#issuecomment-667047117) for details.

We should update usage of `reactor-netty` to `reactor-netty-http`.

[2020-08-04 19:36] #8769 closed

[2020-08-04 19:36] jzheaux commented on #8769
Support for this has been added via two configuration methods, `setConditionValidators` and `setValidationContextConverter`.

To validate assertions that have a `<OneTimeUse>` condition, you can do:

[code]

If you need to use OpenSAML's `SAML2AssertionValidationParameters#COND_ONE_TIME_USE_EXPIRES`, you can set this using `setValidationContextConverter`:

[code]

Note that a default construction

[2020-08-04 23:36] jzheaux commented on #8750
Agreed.

[2020-08-05 00:45] #8887 closed

[2020-08-05 00:45] #8768 closed

[2020-08-05 05:21] duncanportelli commented on #8349
@ryan13mt, thanks for your message. We are currently working on an IDP initiated SSO solution so signing and encryption is not required in our case. With regards to verification, we are doing it using a public key which doesn't need to be stored in an HSM. That being said, only decryption is required in our scenario as well.

[2020-08-05 08:25] eleftherias opened #8910 "Update to Jackson 2.10.5"

[2020-08-05 08:27] eleftherias opened #8911 "Update to GAE 1.9.81"

[2020-08-05 08:28] eleftherias opened #8912 "Update to jaxb-impl 2.3.3"

[2020-08-05 08:32] eleftherias opened #8913 "Upgrade to embedded Apache Tomcat 9.0.37"

[2020-08-05 09:08] eleftherias opened #8914 "Update to embedded Tomcat websocket 8.5.57"

[2020-08-05 09:09] eleftherias opened #8915 "Update to groovy 2.4.20"

[2020-08-05 09:10] eleftherias opened #8916 "Update blockhound to 1.0.4.RELEASE"

[2020-08-05 09:11] eleftherias opened #8917 "Update to PowerMock Mockito2 2.0.7"

[2020-08-05 09:12] eleftherias opened #8918 "Update to Spring Data Moore-SR9"

[2020-08-05 09:13] eleftherias opened #8919 "Update to Spring Framework 5.2.8.RELEASE"

[2020-08-05 09:13] eleftherias opened #8920 "Update to Reactor Dysprosium-SR10"

[2020-08-05 09:14] eleftherias opened #8921 "Update to Spring Boot 2.2.9.RELEASE"

[2020-08-05 09:26] spring-issuemaster commented on #8910
Fixed via b1e09eddaab3ce91782ed807cd32f2893e5cea3e

[2020-08-05 09:26] spring-issuemaster commented on #8911
Fixed via b425b622dba3744e68e7e8b45bf01531692f1a34

[2020-08-05 09:26] spring-issuemaster commented on #8912
Fixed via b4d2217d452358ceb21fd9d79188a37d4560dcf4

[2020-08-05 09:26] spring-issuemaster commented on #8913
Fixed via 6512c04079bdb3dfe5888dda4c1a1e600c738d57

[2020-08-05 09:26] spring-issuemaster commented on #8914
Fixed via 4a1b96d51a99fa87ea1fc05e99907f77004e2dd9

[2020-08-05 09:26] spring-issuemaster commented on #8915
Fixed via acbbb6941cb63df86afeb17c850dc61cfab5561c

[2020-08-05 09:26] spring-issuemaster commented on #8916
Fixed via 9fbed06b6bbc47c5da0997a127102b25838854cf

[2020-08-05 09:26] spring-issuemaster commented on #8917
Fixed via fea90f932854d6f30abd674b171eb892c65dd0e4

[2020-08-05 09:26] spring-issuemaster commented on #8918
Fixed via 22a1bce83cf427b988fc0a1b9a258ddea1809425

[2020-08-05 09:26] spring-issuemaster commented on #8919
Fixed via 8dfe0fa815a8c2074c4841d49bd3136d917d50a3

[2020-08-05 09:26] spring-issuemaster commented on #8920
Fixed via b408f074d5e449c349e41e904a9e97c16ec4e970

[2020-08-05 09:26] spring-issuemaster commented on #8921
Fixed via 669fdba98c8c25ba58b6a30abe3bf10c168ebb83

[2020-08-05 09:26] #8910 closed

[2020-08-05 09:26] #8911 closed

[2020-08-05 09:26] #8912 closed

[2020-08-05 09:26] #8913 closed

[2020-08-05 09:26] #8914 closed

[2020-08-05 09:26] #8915 closed

[2020-08-05 09:26] #8916 closed

[2020-08-05 09:26] #8917 closed

[2020-08-05 09:26] #8918 closed

[2020-08-05 09:26] #8919 closed

[2020-08-05 09:26] #8920 closed

[2020-08-05 09:26] #8921 closed

[2020-08-05 09:59] eleftherias opened #8922 "Update to Spring Boot 2.2.9.RELEASE"

[2020-08-05 10:00] eleftherias opened #8923 "Update to GAE 1.9.81"

[2020-08-05 10:01] eleftherias opened #8924 "Update to nohttp 0.0.5.RELEASE"

[2020-08-05 10:02] eleftherias opened #8925 "Update to spring-build-conventions:0.0.34.RELEASE"

[2020-08-05 10:26] koishikawa11 commented on #8892
Yes, I would like to create a pull request.

[2020-08-05 10:36] spring-issuemaster commented on #8922
Fixed via ddeb68ff44cb191987946c27fb7fbd07a736de36

[2020-08-05 10:36] spring-issuemaster commented on #8923
Fixed via 49fa14c4c5f523c5d7985a8b29aa6b108faf2166

[2020-08-05 10:36] spring-issuemaster commented on #8924
Fixed via 57f0a96e928a4725c60ec456a00cbba71f4ba4f8

[2020-08-05 10:36] spring-issuemaster commented on #8925
Fixed via cd78d384eaefa9ae4918f2da79bdc32f9651440b

[2020-08-05 10:36] #8922 closed

[2020-08-05 10:36] #8923 closed

[2020-08-05 10:36] #8924 closed

[2020-08-05 10:36] #8925 closed

[2020-08-05 11:46] eleftherias opened #8927 "Update to nohttp 0.0.5.RELEASE"

[2020-08-05 11:47] spring-issuemaster commented on #8927
Fixed via 04d6d5ae7423bd9888741be4012b952541507c28

[2020-08-05 11:47] #8927 closed

[2020-08-05 13:42] jzheaux opened #8928 "Update to Spring Framework 5.0.18"

[2020-08-05 13:42] jzheaux opened #8929 "Update to Jackson Databind 2.9.10.5"

[2020-08-05 13:42] jzheaux opened #8930 "Update to Google App Engine 1.9.81"

[2020-08-05 13:43] jzheaux opened #8931 "Update to Groovy 2.4.20"

[2020-08-05 13:43] jzheaux opened #8932 "Update to Hibernate Validator 6.0.20"

[2020-08-05 13:43] jzheaux opened #8933 "Update to Spring Ldap 2.3.3"

[2020-08-05 14:10] #8804 closed

[2020-08-05 14:53] jzheaux commented on #8933
Closed via 8a8b3899073e234cc236f1b96bd21666ac5937dc

[2020-08-05 14:53] #8933 closed

[2020-08-05 14:53] jzheaux commented on #8932
Closed via d51dd0450dba389c91030f2c63f42de8f5a1059e

[2020-08-05 14:53] #8932 closed

[2020-08-05 14:54] jzheaux commented on #8931
Closed via 5c0b080eb60663c9968efdb9f19542eb4b9d00f5

[2020-08-05 14:54] #8931 closed

[2020-08-05 14:54] jzheaux commented on #8930
Closed via b5b3ef979f13cdbe9efae0b3a8be76dbe64be5cf

[2020-08-05 14:54] #8930 closed

[2020-08-05 14:55] jzheaux commented on #8929
Closed via d5c264792a7bd96630d3e87125935096d48e0b8a

[2020-08-05 14:55] #8929 closed

[2020-08-05 14:55] jzheaux commented on #8928
Closed via f280d6e90ecdb709b5ba307b16b20783f2160393

[2020-08-05 14:55] #8928 closed

[2020-08-05 14:58] jzheaux opened #8934 "Update to Spring Data Lovelace-SR19"

[2020-08-05 14:58] jzheaux opened #8935 "Update to Spring Framework 5.1.17"

[2020-08-05 14:58] jzheaux opened #8936 "Update to Project Reactor Californium-SR20"

[2020-08-05 14:58] jzheaux opened #8937 "Update to Jackson Databind 2.9.10.5"

[2020-08-05 14:58] jzheaux opened #8938 "Update to Google App Engine 1.9.81"

[2020-08-05 14:58] jzheaux opened #8939 "Update to Spring Boot 2.1.16.RELEASE"

[2020-08-05 14:58] jzheaux opened #8940 "Update to Groovy 2.4.20"

[2020-08-05 14:58] jzheaux opened #8941 "Update to Hibernate Entitymanager 5.3.17"

[2020-08-05 14:58] jzheaux opened #8942 "Update to Hibernate Validator 6.0.20"

[2020-08-05 14:58] jzheaux opened #8943 "Update to Spring Ldap 2.3.3"

[2020-08-05 15:02] wkwkhautbois commented on #8846
Thank you for updateing the title, and providing a workaround!
I try to use the workaround you told me.
And I'm looking forward to updating the default cookie path behaviour.

[2020-08-05 15:19] jzheaux commented on #8943
Closed via 7bdd1b4d833f88f64190cd6e206eba6743fbf857

[2020-08-05 15:19] #8943 closed

[2020-08-05 15:20] jzheaux commented on #8942
Closed via 1a2e9390cab47b2b7ec610c10916e070f8fed4ba

[2020-08-05 15:20] #8942 closed

[2020-08-05 15:20] jzheaux commented on #8941
Closed via 8a3f5d5ffe63c2ae578b754e792e3eb5f48adc90

[2020-08-05 15:20] #8941 closed

[2020-08-05 15:20] jzheaux commented on #8940
Closed via 010817e9e10c33e5d7769d9c4cd66d3ad36d8a4a

[2020-08-05 15:20] #8940 closed

[2020-08-05 15:21] jzheaux commented on #8939
Closed via 3dcd022f937daaf251bd599c16e95fb15ff07e15

[2020-08-05 15:21] #8939 closed

[2020-08-05 15:22] jzheaux commented on #8938
Closed via 7f5b24bed09b3471c35086ef3865f8c03e8d6cd4

[2020-08-05 15:22] #8938 closed

[2020-08-05 15:22] jzheaux commented on #8937
Closed via 670c99e7ea5190e074581449c148f03654dce3e9

[2020-08-05 15:22] #8937 closed

[2020-08-05 15:22] jzheaux commented on #8936
Closed via 641de854d775fe47db690a8a2ea37f83d63d2c38

[2020-08-05 15:22] #8936 closed

[2020-08-05 15:22] jzheaux commented on #8935
Closed via 1f386b1db33495bc8de6aabbb05291f3b4b33aec

[2020-08-05 15:22] #8935 closed

[2020-08-05 15:23] jzheaux commented on #8934
Closed via 4f0172d0f04d1594eea643e4d3f02a51f04a74b4

[2020-08-05 15:23] #8934 closed

[2020-08-05 16:11] #8693 closed

[2020-08-05 16:11] #8484 closed

[2020-08-05 18:19] jzheaux commented on #8107
This may be related to https://github.com/spring-projects/spring-security/issues/8369

[2020-08-05 18:22] rwinch opened #8944 "Move RSocket Integration Tests to integration tests"
Right now there are RSocket integration tests associated to the test task. They should be moved to the integration tests.

[2020-08-05 18:23] #8944 closed

[2020-08-05 20:09] JoakimLofgren commented on #8864
@jzheaux Reproduced the issue in a unit test: https://github.com/JoakimLofgren/spring-security/commit/4f7499b51ca9d46e87ff46def4d7857a5fe9be54

[2020-08-05 20:24] JoakimLofgren commented on #8874
`saml2.authenticationEntryPoint` appears to be private :(

https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/annotation/web/configurers/AbstractAuthenticationFilterConfigurer.java#L72

[2020-08-06 02:11] philwebb opened #8945 "Add spring-javaformat checkstyle and formatting"
https://github.com/spring-io/spring-javaformat/ provides checkstyle and automatic source formatting for Spring Project. This issue is to discuss how it might be applied to spring-security.

[2020-08-06 10:25] jgrandja commented on #8905
@dgempiuc Jackson support has been added in the 5.3.0 release via gh-7873. This includes `OAuth2AuthorizedClientMixin` and it's associated classes. See gh-4886 and gh-7889 for additional details.

I'll close this issue as a duplicate.

[2020-08-06 10:25] #8905 closed

[2020-08-06 11:54] eleftherias commented on #8172
I'm starting reactive/oauth2/resource-server.adoc

[2020-08-06 12:56] stovocor opened #8947 "NPE in HttpSessionSecurityContextRepository.isTransientAuthentication"
**Describe the bug**
On our systems we see a `NullPointerException` for cached static resources with spring-security-web-5.3.3:

[code]

This seems to happen because the authentication returned by `SecurityContextHolder.getContext()` is null.

**To Reproduce**
Unknown, because the error does not happen often.

**Expected behavior**
I am not sure if the authentication may be null at all, but instea

[2020-08-06 20:27] spring-issuemaster commented on #8866
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-08-06 20:27] #8866 closed

[2020-08-06 20:52] spring-issuemaster commented on #8869
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-08-06 20:52] #8869 closed

[2020-08-07 01:46] #8849 closed

[2020-08-07 06:48] bboyz269 commented on #8843
@rwinch
I'm looking for an example but couldn't find request attribute `WebAttributes.WEB_INVOCATION_PRIVILEGE_EVALUATOR_ATTRIBUTE` set anywhere within this project.
Is it supposed to be an extension point for user to provide their own beans?
[code]

[2020-08-07 08:36] hohwille commented on #5238
Is https://github.com/webauthn4j/webauthn4j-spring-security the new place or just an alternative to https://github.com/ynojima/spring-security-webauthn ?

[2020-08-07 09:08] ynojima commented on #5238
https://github.com/webauthn4j/webauthn4j-spring-security is a playground to test new design.
For implentation that intended to be merged into spring-security upstream, I'll keep using
https://github.com/ynojima/spring-security-webauthn or
https://github.com/ynojima/spring-security

[2020-08-07 11:51] eleftherias commented on #8172
I'm starting registered-oauth2-authorized-client.adoc and webclient.adoc

[2020-08-07 13:22] eleftherias commented on #8172
I'm starting servlet/oauth2/oauth2-client.adoc

[2020-08-07 15:25] bclozel opened #8948 "NoClassDefFoundError: AuthMetadataFlyweight at o.s.s.r.m.SimpleAuthenticationEncoder"
As of RSocket 1.1.0 (see rsocket/rsocket-java#906), the previously deprecated `Flywheight` classes have been removed.
Spring Framework requires RSocket 1.0+ as a result as of Spring Framework 5.3 (see spring-projects/spring-framework#25548).

Right now [a smoke test still fails in Spring Boot](spring-projects/spring-boot#22725) with the following:

[code]

[2020-08-10 05:41] urvashi01sharma commented on #5508
Hi @fprumbau  - I am using spring-security-acl 5.2.2-RELEASE and facing same issue while converting from Integer to Long. I have my object_identity_id column defined as int in acl_object_identity table. Could you please explain me how you added your custom converter in GenericConversionService and then injected this instance to AclClassIdUtils. As I see AclClassIdUtils is using new instance of Gen

[2020-08-10 10:27] ChinaWangNing opened #8949 "Why is OAuth2Request in the extractAuthentication function in UserInfoTokenServices all assigned null"
### Summary
I want to use user-info-uri to get token information,But UserInfoTokenServices did not assign a value to resourceId,As a result, those without permission can also access

### Actual Behavior

UserInfoTokenServices did not assign a value to resourceId,As a result, those without permission can also access

### Expected Behavior

I hope I can assign resourceId without other configuration

[2020-08-10 10:32] orange-buffalo opened #8950 "Add defaultAuthenticationEntryPointFor for ExceptionHandlingSpec"
`ExceptionHandlingConfigurer` allows for additional `AuthenticationEntryPoint`s to be wired by a `RequestMatcher`:

[code]

`ExceptionHandlingSpec` does not have this support. It is not possible by a user to add an additional entry point to the list of default entry points configured by the built-in extensions. It is only possible to fully override the entry points:
[code]

**Context**
We are usin

[2020-08-10 13:04] rcbandit111 commented on #8893
I found how to reproduce it:

[code]

When I set ` auth.parentAuthenticationManager(authenticationManagerBean())` I get this infinite loop.

[2020-08-10 16:59] amergey opened #8951 "Some classes should implement MessageSourceAware"
**Describe the bug**
The javadoc of org.springframework.security.core.SpringSecurityMessageSource
says

but specifying an alternative message source is not working everywhere in spring security because some classes are not implementing MessageSourceAware.
I found 4 classes using SpringSecurityMessageSource without implementing MessageSourceAware:

- org.springframework.security.authentication.Abst

[2020-08-10 17:10] amergey commented on #8685
This requirement comes from a customer that is using an IDP that does not sign encrypted assertions, would it be a valid requirement for spring-security to support unsigned encrypted assertions ?

[2020-08-10 17:36] amergey opened #8952 "SAML: support RSA_SHA1 signed authnrequest"
**Expected Behavior**

Using spring-security in application acting as a SAML SP, it should be possible to choose RSA_SHA1
(http://www.w3.org/2000/09/xmldsig#rsa-sha1) as authnrequest sign algorithm.

**Current Behavior**

sign algorithm is not configurable and spring-security is always using RSA_SHA256 (http://www.w3.org/2001/04/xmldsig-more#rsa-sha256)
**Context**

RSA_SHA256 by default is fine m

[2020-08-10 19:25] kostic017 commented on #8685
ll
ćčć
________________________________
From: Arnaud Mergey <notifications@github.com>
Sent: Monday, August 10, 2020 7:11:06 PM
To: spring-projects/spring-security <spring-security@noreply.github.com>
Cc: Nikola Kostić <nik0la.vr@outlook.com>; Manual <manual@noreply.github.com>
Subject: Re: [spring-projects/spring-security] Migration path for Spring SAML Extension users (#8685)

I've got a questio

[2020-08-11 08:33] amergey opened #8953 "Ability to customize/configure SAML AuthnRequest (SP -> IDP)"
**Expected Behavior**

We should be able to customize/configure the way AuthnRequest is built by spring-security.
It was possible with spring saml extension (see 9.2.1 in https://docs.spring.io/spring-security-saml/docs/current/reference/html/configuration-sso.html)

**Context**

Some IDP mandates specific format for AuthnRequest and does not support everything. To increase interoperability betwee

[2020-08-11 11:59] #8892 closed

[2020-08-11 14:01] sander-su commented on #6881
Hi, great you are working on this.
We have Azure AD and would also like jwt auth.
See: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials
Microsoft needs the x5t header also present (which is a thumbprint of the private key).
Is this also in the design?
Because it is not in de default spec

[2020-08-11 14:33] marndt-gcx opened #8954 "Allow Clock parameter to JwtDecoders helpers"
The helpers in `JwtDecoders` (e.g. `fromOidcIssuerLocation`) and `JwtValidators` should accept an optional parameter for a Clock. (just like it is the case for OidcIdTokenValidator https://github.com/spring-projects/spring-security/issues/8019)

**Current Behavior**

The System Clock is used by `JwtTimestampValidator`. Changing this is not possible through the current API because `JwtTimestampVali

[2020-08-11 15:41] fpagliar opened #8955 "OpenSamlAuthenticationProvider should validate Response Status"
**Describe the bug**

The new SAML implementation is missing a couple validations that were performed on the AuthnResponse in spring-security-saml. The most important one is ResponseStatus, that can be different from Success.

This is commonly used by some IdPs (like ADFS) and I'm still trying to run a validation scenario but will probably just fail because it has no assertions, which is not great

[2020-08-12 11:08] dl1ely opened #8956 "Add UserDetails Object to Exceptions thrown by AccountStatusUserDetailsChecker"
**Expected Behavior**
When handling exceptions like `LockedException` in an `AuthenticationFailureHandler`, have the UserDetails object that triggered the exception available for context.

**Current Behavior**
In an `AuthenticationFailureHandler`, there is all context of the UserDetails removed from the (now generic) exception.

**Context**
I would like to return a cause for a user lock as a respo

[2020-08-12 22:31] jzheaux commented on #8954
Thanks for the suggestion, @marndt-gcx.

I believe you can change the clock like so:

[code]

`JwtDecoders` and `JwtValidators` - being utilities as they are - aren't the place to be exposing validator configuration. They are for when the defaults suffice.

In this particular case, I believe that the existing support is simple enough for the level of frequency that this kind of thing is needed.

I

[2020-08-12 22:31] #8954 closed

[2020-08-12 23:18] jzheaux commented on #8955
Thanks for researching this, @fpagliar.

Do you mean to say here that you've got a scenario where the response's status is not success and has no assertions, but you don't want authentication to fail? Can you elaborate on that scenario?

Note that [OpenSamlAuthenticationProvider does validate the Assertion Issuer against the IdP EntityID](https://github.com/spring-projects/spring-security/blob/mas

[2020-08-13 00:04] fpagliar commented on #8955
The scenario is ADFS will send back an AuthnResponse for a failed authentication flow, with a status code expressing what failed and no assertions since the user was not able to sign in. My point was there should be some graceful handling and logging for this case.

On the other scenario, the code there is validating the issuer of the Response instead of the Assertion. In general the values should

[2020-08-13 04:07] ranjaniD21 opened #8957 "When exception occurred connection is not properly closed in Spring Security ldap"
**Describe the bug**
In authentication process(using BindAuthenticator.class & FilterBasedLdapUserSearch.class), when search for user throws an naming exception such as "Read-timeout", ldap context is not closed properly and this sometimes results in program hanging.

**To Reproduce**
Steps to reproduce the behavior.
1. Authenticate the user using BindAuthenticator.authenticate method  with OPENLD

[2020-08-13 07:51] christophstrobl opened #8958 "Provide a ReactiveSecurityEvaluationContextExtension via spring-security-data"
**Expected Behavior**

Add a `ReactiveSecurityEvaluationContextExtension` (similar to the existing `SecurityEvaluationContextExtension`) that provides access to the `Authentication` object obtained from a Reactor `Context`, so that it can be used within SpEL expressions of annotated Spring Data queries.

[code]

**Context**

Spring Data Commons 2.4.0.M2 now contains the required SPI (`ReactiveEval

[2020-08-13 08:23] kmariappan2016 opened #8966 "Spring WebClient is not using Proxy for the latest version of spring-security-oauth2-client-5.3.4.RELEASE"
I could not able to connect to OAuth2 Resource behind proxy if I use the latest spring-security-oauth2-client-5.3.4.RELEASE.

I am using the reactor netty httpclient to set the proxy as follows.
HttpClient httpClient = HttpClient.create().tcpConfiguration(tcpClient -> tcpClient.proxy(
				proxy -> proxy.type(ProxyProvider.Proxy.HTTP).host(proxyHost).port(Integer.valueOf(port)).build()));
		ClientH

[2020-08-13 15:38] jzheaux commented on #8955
Great, thanks for clearing both of those items up.

I agree that if the response's status indicates a failure, then the failure result from the authentication provider should indicate that instead of simply complaining that there are no assertions.

[2020-08-13 16:02] jzheaux commented on #8957
Thanks for the report, @ranjaniD21, let's take a look.

As far as I can tell, the context - and, by association, the connection - is closed in both the classes you referred to.

In `BindAuthenticator`, [the context is closed in a `finally` block](https://github.com/spring-projects/spring-security/blob/master/ldap/src/main/java/org/springframework/security/ldap/authentication/BindAuthenticator.java

[2020-08-13 17:00] jzheaux commented on #8956
Hi, @dl1ely, thanks for the suggestion and for the offer to contribute!

The concern with adding `UserDetails` to `LockedException` is that the exception is used [in other places](https://github.com/spring-projects/spring-security/blob/master/ldap/src/main/java/org/springframework/security/ldap/authentication/LdapAuthenticationProvider.java#L192) in Spring Security that don't use a `UserDetails`.

[2020-08-13 17:08] jzheaux commented on #8953
@amergey, thanks for the suggestion.

This support was [added in 5.4-RC1](https://github.com/spring-projects/spring-security/issues/8141) via the `OpenSamlAuthenticationRequestFactory#setAuthnRequestConsumerResolver` method. My apologies as the documentation for that feature didn't make it into RC1.

Since the code is in the RC1 phase, please try it out and send feedback (preferably on #8141) on w

[2020-08-13 17:08] #8953 closed

[2020-08-13 17:11] jzheaux commented on #8685
@amergey, I don't think we want to support unsigned encrypted assertions. Can the provider sign the response as an alternative?

[2020-08-13 21:05] jzheaux commented on #8893
Hi, @rcbandit111, sorry you are having trouble. Thank you for the reproducer steps.

Can you explain why you are setting a parent authentication manager? I'm wondering why

[code]

or

[code]

is not sufficient. Can you elaborate?

[2020-08-14 00:02] jzheaux commented on #8874
@JoakimLofgren, my apologies. The entry points are configured via the `.exceptionHandling` DSL method:

[code]

[2020-08-14 00:36] jzheaux commented on #8948
Fixed via 94cf4d1de7b6df95482d1fc65fdc024816733296 and 1069e91645504b703b0826f4709813795960e2f3

[2020-08-14 00:36] #8948 closed

[2020-08-14 03:02] changqing98 opened #8960 "SignatureAlgorithm does not support EdDSA algorithm"
![image](https://user-images.githubusercontent.com/34832787/90209174-38685180-de1d-11ea-97e6-1d9482c238e3.png)
SignatureAlgorithm does not support EdDSA algorithm, I can not use JwkSetUriJwtDecoderBuilder to create a NimbusJwtDecoder instance.

[2020-08-14 08:44] winster commented on #5362
I agree. With `spring-boot-starter-webflux`, netty server does not seem to check server.ssl.enabed=true
Still http requests are being intercepted though a netty exception is raised 'unknown_ca'. I would like to get the similar behavior of tomcat. Tomcat respects above configuration and you get error `bad request this combination of host and port requires tls`, without flooding the logs with the ex

[2020-08-14 13:23] Johannes-Rost commented on #6192
Is this ticket still considered relevant?
The ability to control the number of parallel sessions is often requested in reviews as a security function.

[2020-08-14 13:51] patkovskyi opened #8961 "AuthenticationEntryPoint is not triggered on invalid bearer token"
**Describe the bug**
I have a Spring application that configures a custom AuthenticationEntryPoint (I add it simply to log authentication errors that may cause 401s, like missing `authorization` header or invalid bearer token).
[code]

The problem: if I omit the "authorization" header completely, AuthenticationEntryPoint is indeed triggered. If I put invalid JWT token in it, I see an exception in

[2020-08-14 15:29] simon-an commented on #8334
When the JWT is an OpenId Connect Token, then the aud claim is mandatory and identifies the clients, allowed to access the resource sever. For this usecase, it should be possible o pass a ist of audiances as a property which contain the client ids of the applications allowed to access the resource server.

https://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth
`aud
REQUIRED. Audien

[2020-08-16 17:02] bgc8214 opened #8964 "Can formlogin() and CustomAuthorizationRequestResolver be used?"
**Expected Behavior**
` .formLogin()
                .loginPage("/login")
                .loginProcessingUrl("/j_spring_security_check")
                .usernameParameter("j_username")
                .passwordParameter("j_password")
                .defaultSuccessUrl("/main")
                .authorizationEndpoint()
                .authorizationRequestResolver(
                        new Cust

[2020-08-16 23:10] dl1ely commented on #8956
Hi Josh,

thanks for getting back to me in such a detailed manner. My requirement was to block a user for 10 minutes after his 3rd failed login attempt in a row, and in the 401 error response return the remaining block time for displaying in a SPA application. After the 4th failed attempts the block should be 20 minutes, then 30, and so on.

In the UserDetailsService i checked an existing block wh

[2020-08-16 23:10] #8956 closed

[2020-08-17 09:40] jgrandja commented on #8966
@kmariappan2016 Based on my understanding, you are not able to call a protected resource using `spring-security-oauth2-client` (with proxy configuration) 5.3.4. Correct? However, it works in 5.3.0?

If this is the case, what is the difference in your configuration between 5.3.0 and 5.3.4?

[2020-08-17 09:44] kmariappan2016 commented on #8966
There is no change in configuration(proxy) between 5.3.0 and 5.3.4. I am keeping the same config.
Its not using the proxy config if I migrate to 5.3.4.

Let me know if any further details required.

Thanks,

[2020-08-17 09:51] jgrandja commented on #8964
@bgc8214

`formLogin()` and `oauth2Login()` are completely different authentication mechanisms. Custom form login does not have a notion of an Authorization Endpoint so the features in `oauth2Login()` are not the same for `formLogin()`.

I'm going to close this, given that you posted this question on [Stack Overflow](https://stackoverflow.com/) and we prefer to use GitHub issues only for bugs and

[2020-08-17 09:51] #8964 closed

[2020-08-17 09:57] jgrandja commented on #8966
@kmariappan2016 Can you please provide a [minimal reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example) via a GitHub repo and then I can help troubleshoot.

[2020-08-17 10:04] kmariappan2016 commented on #8966
Unfortunately I can not provide the code via GitHub as my organization policy blocks it.

I am connecting a resource behind corporate proxy and I have the proxy config as follows using Reactor HTTP Netty.
HttpClient httpClient = HttpClient.create().tcpConfiguration(tcpClient -> tcpClient.proxy(
				proxy -> proxy.type(ProxyProvider.Proxy.HTTP).host(proxyHost).port(Integer.valueOf(port)).build()));

[2020-08-17 10:07] jgrandja commented on #6881
@sander-su Our goal is to implement to spec. With non-standard features, we typically provide hooks to allow for customizations. Please keep track of this issue and feature development to let me know if you require any additional hooks for your requirements with Azure AD.

[2020-08-17 10:12] jgrandja commented on #8966
@kmariappan2016 I'm guessing this is not an `oauth2-client` specific issue since it works in 5.3.0. It might be a reactor issue. However, I will need a minimal sample that reproduces the error in order to confirm. I am not asking you to share your organzation's code, but rather put together a minimal sample the replicates your existing code configuration and it should also reproduce the error. If

[2020-08-17 10:19] kmariappan2016 commented on #8966
Here is the oAuth2 client config.
@Bean
	ReactiveClientRegistrationRepository getRegistration() {
		ClientRegistration registration = ClientRegistration.withRegistrationId("sample client")
				.tokenUri("token url").clientId(clientId).clientSecret(clientSecret)
				.authorizationGrantType(AuthorizationGrantType.CLIENT_CREDENTIALS)
				.scope(Arrays.asList(scope.split(CPKafkaConstants.COLON_SYMBOL)

[2020-08-17 10:38] jgrandja commented on #8966
@kmariappan2016 As mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/8966#issuecomment-674785031), I need a minimal reproducible sample via a GitHub repo that I can clone and reproduce with minimal effort on my end.

[2020-08-17 10:46] kmariappan2016 commented on #8966
I will upload the details in a day with GitHub and provide you the link.
The prerequisite is you should have the oauth resources behind the proxy and hope you would be knowin this too.

Thanks,

[2020-08-17 13:15] juliuskrah opened #8967 "[Oauth2: Authorization Code] When using webflux with base-path no redirect"
**Describe the bug**
I am running spring-boot `2.3.1` with `spring-boot-starter-oauth2-client`, after adding a context-path, everything breaks

**To Reproduce**
I have the following configuration

[code]

And my yaml hass the following

[code]

Looking at the browser network tab, the final request looks like this

[code]

**Expected behavior**
Application should redirect me to initially requested

[2020-08-17 14:21] larsgrefer opened #8968 "Incomplete documentation regarding Hierarchical Roles"
Apparently spring security supports two concepts when working with hierarchical roles:

1. Resolving the effective roles at authentication time through a `RoleHierarchyAuthoritiesMapper`
2. Resolving the roles at every request trough a `RoleHierachyVoter`

The current reference documentation only mentions the latter option.

[2020-08-17 23:57] jzheaux commented on #8968
Thanks for reaching out, @larsgrefer. Would you be able to submit a PR to add the missing documentation?

[2020-08-18 01:06] larsgrefer commented on #8968
Which branch should this PR target?

I'm also not sure, where exactly this should be documented.
It's currently under _Servlet Applications_, but the `RoleHierarchyAuthoritiesMapper` is also supported by some `ReactiveAuthenticationManager`s (namely OAuth2 and Oidc)

[2020-08-18 15:13] mazenaissa opened #8969 "RBAC for class level"
Hello,
Why you don't add an enhancement that supports permission for class level based on roles with the annotation @PreAuthorize/@PostAuthorize ...... , as example
`@PreAuthorize("hasPermission('com.Book','READ')")` ==> this means the bean method will be authorized only when the current user have the permission read on the class Book.

code example :
BookRepository.java

[code]
I can give more sp

[2020-08-18 15:16] ihebhasni commented on #8969
This looks very useful!

[2020-08-18 15:26] jzheaux commented on #8968
`master` is just fine - I'll take care of backporting it to earlier branches.

I'd place it at the end of [the Hierarchical Roles section](https://github.com/spring-projects/spring-security/blob/master/docs/manual/src/docs/asciidoc/_includes/servlet/authorization/architecture.adoc#hierarchical-roles). I believe it makes sense to add this information after the voter information since a `GrantedAuth

[2020-08-18 17:47] jzheaux opened #8970 "Generalize SAML 2.0 Assertion Validation Support"
Recent support for configuring OpenSAML's `ConditionValidator`s and `ValidationContext` [were added](https://github.com/spring-projects/spring-security/issues/8769) to `OpenSamlAuthenticationProvider`.

Based on [some early RC1 feedback](https://github.com/spring-projects/spring-security/issues/8955#issue-676984353), it would be nice if the assertion validation support were more generalized.

Sinc

[2020-08-18 18:28] #8970 closed

[2020-08-19 00:07] jzheaux commented on #7983
Thanks for reaching out, @Mincol. I'm closing this issue as is appears to have been answered by @fpagliar, however, please feel free to reopen if there's more to do.

[2020-08-19 00:07] #7983 closed

[2020-08-19 00:11] jzheaux commented on #7465
Closing this issue as a duplicate since #8010 heavily overlaps and most of the conversation about this feature appears over there.

[2020-08-19 00:11] #7465 closed

[2020-08-19 09:53] orange-buffalo opened #8971 "Session is not invalidated on logout"
**Describe the bug**
On logout in a Reactive application, the `WebSession` is not invalidated.

**To Reproduce**
1. Login with a user.
2. Add attributes to the session.
3. Logout.
4. Login with the same or another user from the same browser.
5. Attributes added in step 2 are available in the new session.

See [SessionInvalidationTest.java](https://github.com/orange-buffalo/spring-security-session-

[2020-08-19 14:04] MeneDev commented on #8954
Thanks for the feedback.

While your example looks simple enough, I cannot reproduce this simplicity for the mentioned `fromOidcIssuerLocation`.

As far as I can see I need to extract the configuration from the `oidcIssuerLocation`, which is done `JwtDecoderProviderConfigurationUtils.getConfigurationForOidcIssuerLocation`, however, this is an internal class.
Further the issuer must be validated (a

[2020-08-19 14:06] marndt-gcx commented on #8954
Thanks for the feedback!

While your example looks simple enough, I cannot reproduce this simplicity for the mentioned `fromOidcIssuerLocation`.

As far as I can see I need to extract the configuration from the `oidcIssuerLocation`, which is done `JwtDecoderProviderConfigurationUtils.getConfigurationForOidcIssuerLocation`, however, this is an internal class.
Further the issuer must be validated (a

[2020-08-19 16:55] andreild opened #8973 "Password encoding upgrade is insufficiently configurable"
### Summary

Hello,

I ran into https://github.com/spring-projects/spring-security/issues/8498 this week. Specifically:

- I upgraded from Spring Security 5.1.6 to 5.3.3.
- in so doing our password hashing (performed on every application endpoint request) went from fast to slow.
- because the strength-4 BCrypt hash was internally upgraded to a strength-10 one.
- none of our existing tests caught t

[2020-08-19 20:56] jzheaux commented on #8864
I was able to reproduce using the test you created, thank you.

I'm thinking that #8010 will be a better vehicle for allowing an application to customize the way that an `xs:any` is serialized. To that end, I'll remove the code that tries to look up the marshaller as it seems quite a bit more common that an application will just want the content inside the attribute.

[2020-08-19 20:58] #8010 closed

[2020-08-19 20:58] #8864 closed

[2020-08-19 23:27] Emkas opened #8974 "5.5.X only works with spring-security-5.4.xsd schema (XML-based config)"
**Describe the bug**
`SecurityNamespaceHandler` throws `BeanDefinitionParsingException` when we use version 5.0.X (<= 5.0.18.RELEASE) or 5.1.X (<= 5.1.12.RELEASE) with versioned schema in XML-based configuration. On those branches only `spring-security-4.2.xsd` can be used (see also 'Workaround').

On branch 5.2 [this change](https://github.com/spring-projects/spring-security/commit/9b2af944fa925b

[2020-08-19 23:30] Emkas commented on #8974
I'm very sorry for any mistake in this report (if any). This is the first time I'm reporting something on Github :-)

[2020-08-20 02:39] rdavudov opened #8976 "ServletOAuth2AuthorizedClientExchangeFilterFunction send access token (not JWT) instead of id token for Google OAuth2"
**Describe the bug**
Google Access Token (Not JWT) is sent as a Bearer header while calling a resource server using Web Client. At resource server a valid JWT is expected but access token can not be parsed as JWT and 401 is returned.

`http://localhost:8080/google` endpoint calls `http://localhost:8081/secured-google`

When we call `http://localhost:8080/google` endpoint we get authenticated by go

[2020-08-20 12:20] #8514 closed

[2020-08-20 12:32] jgrandja commented on #8960
@changqing98 The EdDSA algorithm is not specified as a supported algorithm in the [JSON Web Algorithms (JWA)](https://tools.ietf.org/html/rfc7518#section-3) spec.

Can you let me know which provider you are using?

[2020-08-20 16:07] spring-issuemaster commented on #8957
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-08-20 19:56] JoakimLofgren commented on #8864
Great. Will it be included in the 5.4 release?

[2020-08-20 20:35] jdzijlstra opened #8977 "Add proxy/load-balancer/ssl termination support, like SAMLContextProviderLB"
**Current Behavior**

I have a springboot application using SAML2 (using spring-security-saml2-service-provider). My application (the SP) needs to work with Microsoft Azure (the IDP) and is running in a docker image behind a proxy with SSL termination.
Azure (rightfully) requires my 'service-url' ( _assertionConsumerServiceUrlTemplate_) to use https.

This means that for Azure, my application is a

[2020-08-20 21:07] spring-issuemaster commented on #8893
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-08-20 22:19] jdzijlstra commented on #8977
Maybe this is a bug and not an enhancement request.

[2020-08-21 07:22] eleftherias opened #8978 "Configure WebSecurity without WebSecurityConfigurerAdapter"
**Expected Behavior**

We should be able to configure `WebSecurity` without needing `WebSecurityConfigurerAdapter`.

The approach is to create a customizer for `WebSecurity` and expose that as a bean.

**Current Behavior**

The `WebSecurityConfigurerAdapter` has the ability to customize `WebSecurity`.
Here is an example:

[code]

Related: gh-8804

[2020-08-21 07:32] jdzijlstra commented on #8977
I've patched Saml2WebSsoAuthenticationFilter locally with

104c106
<                               request.getRequestURL().toString(),
---

121c123,127
< }
---

122a129,133

This works for me.

[2020-08-23 01:48] havinhphu188 opened #8979 "Incomplete documentation about session management using java configuration"
https://docs.spring.io/spring-security/site/docs/5.3.4.RELEASE/reference/html5/#session-mgmt

Spring Security supports XML configuration and Java configuration.
But in this section (session management), there is only documentation using XML configuration

[2020-08-24 07:38] sander-su commented on #6881
@jgrandja Thanks for looking into this.
The most generic way to implement this would be having the option to add additional (static) claims to the header of the jwt.
These additional claims could than be specified in the yaml for the client config.

Furthermore, is it in the design to add a JTI to the jwt?

[2020-08-24 10:52] spring-issuemaster commented on #8966
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-08-24 15:22] nlenoire commented on #8685
The customer will not accept any other alternative than its current configuration: Signed response, with encrypted unsigned assertions.

[2020-08-24 19:40] paruss opened #8980 "Remove unsafe/deprecated `Encryptors.querableText(CharSequence,CharSequence)`"
The method is deprecated as a result of issue: CVE-2020-5408. The solution was to deprecate this method. This does not satisfy code analyzers such as Fortify as it could potentially still be used.

I would suggest this method be removed as should not be used anyway.

Method in question:
org.springframework.security.crypto.encrypt#queryableText(CharSequence password, CharSequence salt)

[2020-08-25 09:30] eleftherias opened #8981 "Add authenticationManagerResolver to resource server Kotlin DSL"
Related: gh-5351

[2020-08-25 11:26] developers-youcong opened #8982 "Override token invalidation time is invalid"
MyCode:
[code]

Problem Describtion:
Override token invalidation time is invalid

[2020-08-25 17:42] jzheaux commented on #8864
Yes, it will.

[2020-08-25 17:43] jzheaux commented on #8685
@nlenoire, that is a supported setup. So long as the response is signed, the assertions do not have to be signed.

[2020-08-25 17:59] jzheaux commented on #8977
@jdzijlstra, I believe this is resolved by #8887, which was released as part of [`5.4.0-RC1`](https://github.com/spring-projects/spring-security/releases/tag/5.4.0-RC1). It ensures that the ACS URL is compared against `RelyingPartyRegistration#assertionConsumerServiceLocation`. Also, if that's not quite what you need, it provides an interface where you can modify how the `RelyingPartyRegistration`

[2020-08-25 17:59] #8977 closed

[2020-08-25 20:06] jzheaux commented on #8980
Thanks for the report, @paruss. Let's take a look at doing this in the `6.x` line.

Since the suggested upgrade is [not a simple change](https://github.com/spring-projects/spring-security/blob/master/crypto/src/main/java/org/springframework/security/crypto/encrypt/Encryptors.java#L103-L104), removing the method altogether in a minor release may keep organizations on older versions with other probl

[2020-08-25 20:45] jzheaux commented on #8954
I'm glad you found something that worked for you! The nice thing about mocking the provider is that you don't need to have a mock issuer as part of your test.

There may also be a simpler way, though: Did you already review Spring Security's [test support](https://docs.spring.io/spring-security/site/docs/5.3.4.RELEASE/reference/html5/#testing-oauth2) to see if that would address your [testing need

[2020-08-26 17:43] AjitDas opened #8984 "Expose additional response attributes with OAuth2AuthorizedClientManager return type OAuth2AuthorizedClient"
**Expected Behavior**

I am using Spring security 5.3.3.RELEASE and I have a use case where am using a B2B (service to service communication) via client credentials. My OAuth2 server gives me `access_token` and (optionally if configured a JWT token in response with additional attribute `id_token`) and in few cases I want to use `access_token` and some cases I might use JWT token received from `id_

[2020-08-27 04:26] kmariappan2016 commented on #8966
Hi,
I have added the sample code repo to simulate the issue
Please find the URL :
https://github.com/kmariappan2016/spring-web-client.git

[2020-08-27 06:47] ryan13mt commented on #8349
Reminder on the above @jzheaux

[2020-08-27 07:02] paruss commented on #8980
Thanks for the comment and excellent point around minor releases.

[2020-08-27 08:43] tokuhirom commented on #7537
@codecracker2014 any updates on this?

[2020-08-27 12:35] spring-issuemaster commented on #8960
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-08-27 16:05] spring-issuemaster commented on #8957
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-08-27 16:05] #8957 closed

[2020-08-27 21:10] spring-issuemaster commented on #8893
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-08-27 21:10] #8893 closed

[2020-08-27 21:47] Grez opened #8986 "Clickjacking demo in docs: YouTube link in X-Frame-Options section leads to private video"
In section Section [5.2.2 Security HTTP Response Headers > X-Frame-Options](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#headers-frame-options) there is link that leads to private video.

<img width="998" alt="Screenshot 2020-08-27 at 23 46 01" src="https://user-images.githubusercontent.com/638592/91498113-7d7d9080-e8bf-11ea-9bcd-c482e9dc318d.png">

[2020-08-27 23:16] mkkeffeler opened #8987 "SetClientID overwritten by properties file"
**Describe the bug**
**To Reproduce**
We are instantiating an oauth2 template as such
[code]
as a bean, with ```	@ConfigurationProperties(prefix = "my.oauth2.customer-service.client") ```

BUT we had in that prefix within application.properties the client-id and client-secret properties still defined.

The template used those values, we only saw it because access tokens failed to be retrieved when

[2020-08-28 03:03] bryanmacainag opened #8988 "OAuth: Some providers require the access token to be included when getting keys from JWK Set URI"
**Expected Behavior**

Spring Security OAuth includes an Authorization Bearer header containing the access token in requests to JWK Set URIs. Some providers such as Oracle IDCS requires the access token when getting the JWK keys.

Below is a portion of the workflow in Oracle IDCS
[code]

**Current Behavior**

Spring Security OAuth does not include an Authorization Bearer header containing the acce

[2020-08-28 09:49] #8981 closed

[2020-08-28 16:50] jzheaux commented on #8988
Hi, @bryanmacainag, thanks for the detailed explanation.

That's an interesting requirement. It seems weird that the provider would ask for the access token to get the keys needed to verify the access token. If you give the access token to the provider, why doesn't it just verify it right then for you? And if this is the case, then it really defeats the purpose of JWKs anyway since the idea is to

[2020-08-28 16:50] #8988 closed

[2020-08-28 17:09] bryanmacainag commented on #8988
Hi @jzheaux,

You're right. It needs a bearer token as shown here

[code]
Thank you for the detailed response. I'll look into instrospection endpoint.

[2020-08-28 17:17] jzheaux commented on #8988
Right, there might be a conflation of terms there.

What I mean to say is, I wonder if the access token they want is for authenticating the client (you), which, at least with introspection, is not the token tied to the end user.

[2020-08-28 19:10] #8763 closed

[2020-08-28 19:13] jzheaux opened #8989 "Remove Framework Tests from saml2Login Sample"
Most of the tests in the saml2Login sample are related to testing the framework.

Since the purpose of the sample is to demonstrate how Spring Security's SAML 2.0 support works, we can safely remove these tests and simplify the sample overall. We already have tests in the `spring-security-saml2-service-provider` and `spring-security-config` modules that test the framework.

[2020-08-28 22:02] jzheaux opened #8990 "Simplify saml2Login Samples"
Let's simplify the Boot and JavaConfig saml2Login samples to not sign AuthnRequests.

Let's also simplify their `RelyingPartyRegistrationRepository` configuration.

[2020-08-28 23:23] #8989 closed

[2020-08-28 23:23] #8990 closed

[2020-08-29 06:46] bryanmacainag commented on #8988
I had this problem 4 months ago and posted in StackOverflow but got no response. I have been on and off working on this project and I just got back on working on it. You can see my post in [StackOverflow](https://stackoverflow.com/questions/61241860/spring-boot-oauth2-and-oracle-idcs-jwk-set-uri-responds-with-401-unauthorized).

This is a code snippet of the NodeJS SDK. You can see that when calli

[2020-08-29 13:58] evgeniycheban commented on #8900
@rwinch I would like to work on this.

[2020-08-31 06:27] bryanmacainag commented on #8988
Just to add another problem I have encountered:

When accessing the JWK Set URI (https://idcs-XXXX.identity.oraclecloud.com/admin/v1/SigningCert/jwk) and supplying the Auth Bearer Token on that URI, the keys are displayed like below:

[code]

Spring Security complains **[invalid_id_token] An error occurred while attempting to decode the Jwt: Malformed Jwk set**

[code]

[2020-08-31 10:34] ykawano-class opened #9176 "error when using StreamingResponseBody and SpringSecurity together"
**Affects:** 5.1.7.RELEASE
spring boot:2.1.5.RELEASE
---

When using StreamingResponseBody and Spring Security together,
Error occurs when there are many requests.

### Cause
In the processing of main thread and sub thread, the variables of HttpHeader are overwritten and an error occurs.

[code]

[code]

---
https://github.com/spring-projects/spring-framework/blob/79cf6b43534a88f58b058294b976cf8f5

[2020-08-31 13:26] grunberg commented on #4276
Where did ABAC for Spring security go?

[2020-08-31 15:27] moritzvieli commented on #8830
@jgrandja Thanks a lot, this fixed the issue. However, in the reference, `redirectUriTemplate` is still mentioned instead of `redirectUri`, unless I've overseen something.

[2020-08-31 17:28] chschu commented on #5464
I just stumbled over this issue as well.

Another way to fix this would be to keep the duplicate mappings and rely on `DefaultFilterInvocationSecurityMetadataSource` to pick the first one. This could be done by wrapping the `RequestMatcher` (using object identity  `equals()`) and using the wrapper as key for the `LinkedHashMap`.

The fix proposed by @mrfusi0n also looks good to me, because `Defaul

[2020-08-31 22:34] jzheaux commented on #8900
It's yours, @evgeniycheban

[2020-09-01 05:51] isscy commented on #6115
@amirensit      Client authentication also source instance of UsernamePasswordAuthenticationToken !
In the **ClientCredentialsTokenEndpointFilter.attemptAuthentication** or **BasicAuthenticationFilter.doFilterInternal** ,  convert clientid, clientSecret from request to UsernamePasswordAuthenticationToken

[2020-09-01 10:07] jgrandja commented on #8830
@moritzvieli

See gh-8906

[2020-09-01 10:36] jgrandja commented on #6881
@sander-su This is the right issue to comment on. When work on this is started, we'll consider the items you have commented on.

[2020-09-01 10:37] Dominik355 commented on #1938
I know this thread is 8 years old , but i am struggling to find anything about, how to override PersistentTokenBasedRememberMeServices logout() method. If i create this class

`@Service
public class CustomRememberMeService  extends PersistentTokenBasedRememberMeServices {

    public CustomRememberMeService(String key, MyUserDetailsService userDetailsService, PersistentTokenRepository tokenReposit

[2020-09-01 13:13] #8453 closed

[2020-09-01 14:40] jgrandja commented on #8966
@kmariappan2016 The sample you provided does not reproduce the issue and it wasn't complete. I had to add `@EnableScheduling` in `SpringKafkaApplication` and `@Scheduled(fixedDelay = 1000)` at `ServiceHandler.getCMSurveys()` in order to test this out.

The `WebClient` `@Bean` injected in `ServiceHandler` is the same one configured in `ConfluentKafkaConfig` and I verified the object references are

[2020-09-01 14:40] #8966 closed

[2020-09-01 15:07] kmariappan2016 commented on #8966
Sure,I will try and update here. Thanks much

[2020-09-01 15:20] jgrandja commented on #8984
@AjitDas

So the Token Response includes the `id_token` from a `client_credentials` grant flow? Is my understanding correct?

[2020-09-02 06:17] AjitDas commented on #8984
That's correct Joe. It will be something like this captured below it will contain both opaque token as well as jwt token and
based on some configuration I want to send opaque token vs jwt token to different outbound calls.

Take for example I have micro service1 which call 2 other micro services, svc1 uses client_credentials and get both the tokens in response but it send opaque token to svc2 wher

[2020-09-02 10:05] ZxShirley commented on #5199
@jgrandja Does this issue get resolved now?

[2020-09-02 10:51] jgrandja commented on #8984
Is the `id_token` parameter the same as the [ID Token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) defined in OpenID Connect 1.0? If yes, then this is confusing since `client_credentials` flow is not implemented in [OpenID Connect 1.0](https://openid.net/specs/openid-connect-core-1_0.html#Authentication) given that `client_credentials` does NOT represent "on behalf of a user".

[2020-09-02 15:50] michaelboyles opened #8992 "Websocket traffic does not count as session activity, causing disconnect due to session timeout"
**Describe the bug**

Websocket traffic is not considered as session activity. If an application has active websocket traffic, but infrequent or no HTTP
traffic, the websocket will still be terminated anyway.

This seems to happen after `server.servlet.session.timeout * 2`.

[This question on StackOverflow](https://stackoverflow.com/questions/50587573/) shares the same problem. It has 3000 views,

[2020-09-02 17:14] jgrandja commented on #5199
@ZxShirley It's not scheduled as of yet. As mentioned in my previous comment...

We'll be prioritizing features when we plan for 5.5, which will be towards end of this month.

[2020-09-03 12:33] #8960 closed

[2020-09-03 18:46] dgempiuc opened #8994 "Spring Webflux - set default HTTP Oauth2Login() registration/provider"
Is there any way to set default registration for openid connect when you have multiple registration/provider? There is one way to achieve this in spring boot (https://stackoverflow.com/a/60675436)

This is exactly what i want, but could'nt find proper way in webflux security.

For example, i can set default for webclient like this (**oauth.setDefaultClientRegistrationId("webclient")**;);

[code]
[

[2020-09-04 14:58] kmariappan2016 commented on #8966
It seems it get token behind proxy.but API endpoint is never getting called.Should I create another instance of Webclient to call the actual API endpoint?

Thanks,

[2020-09-04 16:57] #8969 closed

[2020-09-04 22:06] AjitDas commented on #8984
@jgrandja yes I know this could be confusing a little. Our auth server returns `access_token` and additional field `id_token` as JWT just to avoid doing a network hop to auth server when a microservice receives a jwt token instead of access token. This is no a standard `client_credentials` response but a custom response since our internal microservice calls are within network and we want to avoid

[2020-09-05 00:30] ttddyy opened #8995 "Make "SECURITY_CONTEXT_ATTRIBUTES" key in subscriber context publicly accessible"
We use `WebClient` in servlet environment.
Some of our `ExchangeFilterFunction` requires current authentication object as well as values associated to the http request.
Previously, with `RestTemplate`, we used `ThreadLocal` to hold and retrieve request bounded values.(`RequestContextHolder`, `SecurityContextHolder`, etc.)

With `WebClient`, Spring Security's `SecurityReactorContextSubscriber` in `

[2020-09-05 13:41] akohli96 commented on #8961
What authentication entrypoint is it calling? Default one?

[2020-09-07 01:45] evgeniycheban commented on #8900
@jzheaux I created a very draft PR.

Please take a look when you have a moment. Am I moving in the right direction?

[2020-09-07 12:08] #8986 closed

[2020-09-07 12:09] eleftherias commented on #8986
Thanks @Grez! This is now fixed.

[2020-09-07 15:19] mazenaissa opened #8997 "Override AccessDeniedException message"
I am using Spring Security with a custom permission evaluator and i am looking for a solution to override the static AccessDeniedException message "Access is denied" to be dynamically based on the permission checked. Any help?

[2020-09-07 16:05] mazenaissa commented on #8997
As a solution outside the authorization level is to catch the AccessDeniedException and throw the corresponding Exception based on the CRUD method invoked.

[2020-09-07 16:05] #8997 closed

[2020-09-08 07:00] aclemons opened #8999 "Default class loader in SpringSecurityMessageSource only works if Spring Security and Spring Framework share a classloader"
**Describe the bug**

`SpringSecurityMessageSource.getAccessor()` is used in multiple places to set the default message source but the configured default class loader does not work if the spring security class loader is a different one to the spring framework class loader.

The super class has a null `bundleClassLoader` and defaults the bean class loader to:

[code]

If no context class loader is