[2020-09-08 12:27] AbstractConcept commented on #8535
Sometimes life gets in a way, unfortunately. If this is still a valid issue, and hasn't been fixed yet with some other PR, I got the code ready. Could you provide an update on the status, so I know whether to create a PR? @jzheaux

[2020-09-08 12:48] jgrandja commented on #8966
@kmariappan2016 I'm glad you were able to resolve the issue and obtain the token behind the proxy. I'm not sure why the API endpoint is not being called. I don't think you need to create a new instance of `WebClient`?

[2020-09-08 12:53] kmariappan2016 commented on #8966
Thanks, It returns the token endpoint call with 200 OK after that,its not at all calling the API endpoint and gets timed out.

Need to investigate further and hope you would assist if you know something.

Thanks,

[2020-09-08 15:17] scho commented on #8693
I've just tested RC-1 and was very happy to see this feature :)
One question though:
Is it intended, that the URI patterns like `{baseUrl}` or `{registrationId}` are not replaced with the actual values?

[2020-09-08 17:23] jzheaux opened #9000 "Add Resource Server Servlet Logging"
In line with the [changes made to Form Login](https://github.com/spring-projects/spring-security/commit/fa7baf551dc55eab50b9ad94720e7521f0b1d26f) and [HTTP Basic](https://github.com/spring-projects/spring-security/commit/02d1516c566a58574af0a1d0391fd2ec8c5ad774) logs, let's add logs to Resource Server.

In addition to considering [the model that Spring Framework follows](https://github.com/spring-

[2020-09-08 19:48] #9000 closed

[2020-09-08 22:23] jzheaux commented on #8535
@AbstractConcept, yes, a PR is still welcome. Thanks for checking.

[2020-09-09 02:32] jzheaux opened #9001 "Add What's New in 5.4 Section to Docs"

[2020-09-09 08:03] oharsta opened #9003 "Enhance SAML AuthnRequest"
Currently we use spring-security-saml in an open-source OIDC-SAML proxy. As the spring-security-saml project is in maintenance mode we would like to migrate and use the spring-security-saml2-service-provider module in spring-security.

With spring-security-saml we have hooks to enhance the AuthnRequest send to the IdP. We have the requirement to - depending on the original http request - set the f

[2020-09-09 13:20] oharsta opened #9004 "Extensibility of OpenSamlAuthenticationProvider"
The authentication manager of the `Saml2WebSsoAuthenticationFilter` can be overwritten, using a custom AuthenticationManager implementation. This authentication manager should expect a `Saml2AuthenticationToken` object containing the SAML 2 Response XML data. However in our use case it would be preferred to extend the default `OpenSamlAuthenticationProvider` in order to use the `OpenSamlImplementa

[2020-09-09 13:34] #8978 closed

[2020-09-09 16:05] rwinch commented on #8945
Closing in favor of gh-8946

[2020-09-09 16:05] #8945 closed

[2020-09-09 16:22] jgrandja opened #9006 "Set rsocketVersion to 1.0.+"
Set `rsocketVersion` to 1.0.+

[2020-09-09 16:25] jgrandja opened #9007 "Set springDataVersion to Neumann-SR+"
Set `springDataVersion` to Neumann-SR+

[2020-09-09 16:39] #9006 closed

[2020-09-09 16:39] #9007 closed

[2020-09-09 17:34] #9001 closed

[2020-09-09 23:00] jgrandja opened #9008 "Disable parallel deployment build in GitHub Actions CI"
We need to ensure that the `deployArtifacts` and `finalizeDeployArtifacts` DO NOT run in parallel.

This can be achieved by adding the `--no-parallel` argument and also by splitting the `deployArtifacts` and `finalizeDeployArtifacts` into separate commands.

See this commit 651c94b on what changes need to be applied.

[2020-09-10 07:50] arvidOtt opened #9009 "OAuth2: JwtIssuerAuthenticationManagerResolver to use a custom BearerTokenResolver"
**Expected Behavior**

When using the `JwtIssuerAuthenticationManagerResolver` there should be a away to replace the [DefaultBearerTokenResolver](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtIssuerAuthenticationManagerResolver.java#L135) (or the entire [JwtClaimIssuer

[2020-09-10 10:59] veita opened #9010 "Inconsistent version naming for Spring Security Core 5.4.0"
**Describe the bug**
Version 5.4.0 of Spring Security Core is named `5.4.0` whereas the versions before, like other Spring libraries, had the version number suffix `.RELEASE`, e.g. `5.3.4.RELEASE`. I wonder if 5.4.0 is indeed a release version. ;-)

**To Reproduce**
Go to https://repo1.maven.org/maven2/org/springframework/security/spring-security-core/

**Expected behavior**
I expected the version

[2020-09-10 11:29] arvidOtt commented on #9009
It seems this is being addressed in Issue #8535. Will close this one.

[2020-09-10 11:29] #9009 closed

[2020-09-10 12:03] jgrandja commented on #9010
@veita The versioning scheme for Spring projects recently changed so 5.4.0 is correct as releases no longer specify a modifier, eg. `RELEASE`.

Please see this [post](https://spring.io/blog/2020/04/30/updates-to-spring-versions) for further details.

[2020-09-10 12:03] #9010 closed

[2020-09-10 12:51] #4891 closed

[2020-09-10 17:58] rwinch opened #9011 "NullPointerException SessionRegistryImpl.onApplicationEvent(SessionRegistryImpl.java:111)"
**Describe the bug**

When using a max session configuration for concurrency control, it can result in a `NullPointerException`. The full stacktrace is below:

[code]

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**

**Sample**

https://github.com/spring-projects/spring-security-samples/tree/master/servlet/java-configuration/max-sessions

[2020-09-11 04:14] yuezk commented on #7570
@jzheaux It has been fixed in spring-security 5.2.x and 5.3.x, while I'm using 5.1.x and couldn't upgrade it to 5.2.x for now, so, how to upgrade the `nimbus-jose-jwt` dependency in `5.1.x`?

[2020-09-11 16:34] jzheaux commented on #7570
@yuezk, you should be able to specify in Maven or Gradle the version of `nimbus-jose-jwt` that you need. Did I understand your question?

[2020-09-11 17:17] amergey commented on #7749
Is there any way to use xml configuration for saml ?
currently sample are showing spring boot way of configuring saml like this
[code]
What is the equivalent with xml config ?
I can find it for auth2 but not for saml2

[code]

[2020-09-11 17:58] jzheaux commented on #7749
Hi, @amergey. There is no support for `<saml2-login>`, yet.

Would you be able to file a ticket, if that's a feature that you need? Since XML support won't necessarily expose all the things that `saml2Login()` does, it would be helpful for you to describe the specific things you need to configure in XML.

[2020-09-11 18:29] amergey opened #9012 "Add <saml2-login> support in xml configuration"
**Expected Behavior**

Similarly to oauth2-login, it should be possible to configure saml2-login in xml.

We would need something like this

[code]

to be able to configure spring security similarly to what is done with boot. Of course authentication-manager-ref or relying-party-registration-repository-ref would be optional as described in documentation configuring in java with spring-boot.

**Cur

[2020-09-11 22:22] masch712 opened #9014 "HttpSessionOAuth2AuthorizationRequestRepository.saveAuthorizationRequest depends on the HttpServletRequest having a non-null session, which may not be available in serverless environments"
I've been working on deploying a webapp using Spring Boot in AWS Lambda using the [aws-serverless-java-container](https://github.com/awslabs/aws-serverless-java-container/wiki/Quick-start---Spring-Boot2), which recomments configuring Spring Security to have `STATELESS` session creation policy:

Setting this session creation policy prevents one error, but seems to trigger a NullPointerException her

[2020-09-12 07:17] yuezk commented on #7570
Yes, that's what I'm tring to do.

[2020-09-12 16:19] masch712 commented on #9014
I believe this will work as a workaround:
[code]

[2020-09-14 08:27] swiftloop opened #9015 "set failureHandler do not redirect /login?error and show error message"
**Describe the bug**
 formLogin().failureHandler() method  set FormLoginConfigurer field `failureUrl`  null,so, I do not redirect /login?error and show error message.

`	public final T failureHandler(
			AuthenticationFailureHandler authenticationFailureHandler) {
		this.failureUrl = null;
		this.failureHandler = authenticationFailureHandler;
		return getSelf();
	}
`

[2020-09-14 08:50] amergey commented on #7749
Hi, I have filed https://github.com/spring-projects/spring-security/issues/9012

[2020-09-14 13:47] evgeniycheban commented on #8900
Thanks for the review @jzheaux

@rwinch @jzheaux I have a few questions.
1. Should we implement an `AuthorizationManager` for Method Security within this task?
2. By default, `HttpSecurity.authorizeRequests()` uses `ExpressionUrlAuthorizationConfigurer`, should we add an `AuthorizationManager` that supports `SpEL` expressions?

I've currently added support for `AuthorizationManager` to `UrlAuthori

[2020-09-14 18:27] LajosPolya commented on #3719
Was this issue originally resolved? I'm running into the exact same problem.

[2020-09-15 00:06] orange-buffalo opened #9016 "User is not redirected to initially requested page in IE11"
**Describe the bug**
User is not redirected to initially requested page in IE11.

**To Reproduce**
1. Run application with WebFlux and HTTP security configured (for instance, the [basic reproducer](https://github.com/orange-buffalo/spring-security-saved-request-ie11-reproducer)).
1. Navigate to non-root URL (e.g. http://mapped-host:8080/test). It is important to use the host name instead of IP add

[2020-09-15 02:18] tt4g opened #9017 "WebSessionServerCsrfTokenRepository#generateToken() don't use Schedulers.boundedElastic()"
**Describe the bug**

in `master` branch, `Schedulers.boundedElastic()` is not used because the `Mono` chain is broken.

https://github.com/spring-projects/spring-security/blob/57c5ec26e7af1a4c2b8da894840fe55bf6897b9f/web/src/main/java/org/springframework/security/web/server/csrf/WebSessionServerCsrfTokenRepository.java#L53-L57

**To Reproduce**

Call `WebSessionServerCsrfTokenRepository#generateT

[2020-09-15 02:19] tt4g opened #9018 "[Question} Why CookieServerCsrfTokenRepository does not use Schedulers.boundedElastic()?"
**Describe the bug**

Call `UUID#randomUUID()` in `CookieServerCsrfTokenRepository#createNewToken()` and `UUID#randomUUID()` is blocking I/O operation (reports #8128).
However, `CookieServerCsrfTokenRepository#generateToken(ServerWebExchange)` is not change Scheduler.

https://github.com/spring-projects/spring-security/blob/57c5ec26e7af1a4c2b8da894840fe55bf6897b9f/web/src/main/java/org/springframe

[2020-09-15 05:54] waiet opened #9019 "validation issuer for oidc discovery configuration"
I have spring boot application with spring boot configuration.
`spring:
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://gateway:8080/auth/realms/myrealm
        registration:
          keycloak:
            client-id: spring-security
            client-secret: 6cea952f-10d0-4d00-ac79-cc865820dc2c`

 I want use openid connect discovery conf

[2020-09-15 21:09] arvindkrishnakumar-okta opened #9020 "Expose Getters and Setters for OAuth2ResourceServerConfigurer bean"
**Expected Behavior**

I am using Springboot starter (2.3.3.RELEASE) and the class `OAuth2ResourceServerConfigurer` brought in by spring-security-config-5.3.4.RELEASE is marked `final` and does not have any method for fetching the configurer being used (JWT or Opaque). I am presently having a need to get the type of configurer being set by `OAuth2ResourceServerConfigurer` and do something specific

[2020-09-16 00:09] jzheaux commented on #8900
Good questions, @evgeniycheban.

One of the goals of this ticket is to deprecate `AccessDecisionManager`. Given that, we should see if we can eliminate any internal use of it and deprecate any public use.

Ideally, then, `AbstractSecurityInterceptor` would stop referring to the `AccessDecisionManager` interface in favor of `AuthorizationManager`.

Since the public API allows an application to conf

[2020-09-16 02:24] jzheaux commented on #9018
Hi, @tt4g, thanks for the report.

I believe that it makes sense to change the token generation to use `Schedulers.boundedElastic()` like so:

[code]

since `UUID.randomUUID` is blocking.

Would you be able to submit a PR to update the class?

[2020-09-16 03:53] tt4g commented on #9018
I will submit PR in a few days.

[2020-09-16 07:35] chenrujun commented on #8007
Hi, @jzheaux .
(cc: @snicoll )

You set oauth2-oidc-sdk's version to `latest.release` in [your commit](https://github.com/spring-projects/spring-security/commit/e09edf6ad3b4e5c9aaceb451130176be11c55a72), but in [spring-boot-dependencies](https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-dependencies/2.3.3.RELEASE/spring-boot-dependencies-2.3.3.RELEASE.pom), the version is `

[2020-09-16 07:43] ryan13mt commented on #8484
@jzheaux this only handles URL-based metadata locations right? Can it be changed to handle file-based locations as well?

[2020-09-16 12:11] anthonyraymond commented on #4151
Still an issue as of today

[2020-09-16 13:14] tt4g commented on #9018
@jzheaux PR has been sent. Could you please confirm?

[2020-09-16 13:26] queueseven opened #9023 "JdbcOAuth2AuthorizedClientService is dependend on non-standard driver behaviour"
**Describe the bug**
I'm using the `JdbcOAuth2AuthorizedClientService` with the [MariaDB java connector](https://github.com/mariadb-corporation/mariadb-connector-j). Authorization fails with a `SQLSyntaxErrorException`:

**To Reproduce**
Use the `JdbcOAuth2AuthorizedClientService` with the [MariaDB java connector](https://github.com/mariadb-corporation/mariadb-connector-j).

**Expected behavior**

[2020-09-16 13:58] #8984 closed

[2020-09-16 14:48] #9018 closed

[2020-09-16 15:19] spring-issuemaster opened #9024 "CookieServerCsrfTokenRepository#createNewToken should use Schedulers.boundedElastic"
Backport of gh-9018

[2020-09-16 15:19] spring-issuemaster commented on #9024
Fixed via e44471331bbe1689cd65b6b2f3d2c91cb44aa3e3

[2020-09-16 15:19] #9024 closed

[2020-09-16 15:40] spring-issuemaster opened #9025 "CookieServerCsrfTokenRepository#createNewToken should use Schedulers.boundedElastic"
Backport of gh-9018

[2020-09-16 15:40] spring-issuemaster commented on #9025
Fixed via 85889d5e0b7a28464ce03f68da43ae4bf2a4915c

[2020-09-16 15:40] #9025 closed

[2020-09-16 15:53] #9017 closed

[2020-09-16 17:46] jzheaux opened #9026 "StandardInterceptUrlRegistry should not refer to ExpressionUrlAuthorizationConfigurer"
### Current Behavior

`StandardInterceptUrlRegistry` is defined in `UrlAuthorizationConfigurer`:

[code]

`ExpressionInterceptUrlRegistry` is defined in `ExpressionUrlAuthorizationConfigurer`

The latter is defined as:

[code]

### Expected Behavior

It's inconsistent that `StandardInterceptUrlRegistry` refers to `AbstractInterceptUrlRegistry` through `ExpressionUrlAuthorizationConfigurer`. Instea

[2020-09-16 18:01] jzheaux commented on #8484
Correct, @ryan13mt, the initial implementation only supports URLs.

File-based support seems like it a possibility. Would you be able to file a separate ticket describing how you'd like something like that to behave so we can explore that in more depth?

[2020-09-16 18:08] jzheaux commented on #9020
Hi, @arvindkrishnakumar-okta. Can you share some code to illustrate what it is you'd like to be able to do with the code, say if `OAuth2ResourceServerConfigurer` were no longer `final`?

[2020-09-16 19:12] smithtonson opened #9027 "BasicAuthenticationFilter breaks SwitchUserFilter"
**Describe the bug**
When using the SwitchUserFilter with Basic auth, BasicAuthenticationFilter.authenticationIsRequired() fails when switched forcing a re-authentication.

**To Reproduce**
Enable both basic auth and the SwitchUserFilter, switch to a new user and then make another request.
BasicAuthenticationFilter.authenticationIsRequired() will return true since the current logged in user doesn'

[2020-09-16 20:59] smithtonson commented on #9027
An alternative fix (what I've implemented for myself locally in a CustomSwitchUserFilter) would be to replace creating a UsernamePasswordAuthenticationToken in SwitchUserFilter and instead create a new authentication token like ```SwitchUserToken``` this would bypass the ```existingAuth instanceof UsernamePasswordAuthenticationToken``` check.

[2020-09-16 22:28] jzheaux commented on #9003
Hi, @oharsta, thanks for reaching out!

Support for [customizing the AuthnRequest](https://docs.spring.io/spring-security/site/docs/5.4.0/reference/html5/#servlet-saml2login-sp-initiated-factory-custom-authnrequest) was added in 5.4. You can use `OpanSamlAuthenticationRequestFactory#setAuthenticationRequestContextConverter` to supply a converter creates the `AuthnRequest` you need, though it may b

[2020-09-16 22:28] #9003 closed

[2020-09-16 22:47] jzheaux commented on #8961
@patkovskyi, thanks for reaching out. Please instead specify the entry point directly to the authentication mechanism, like so:

[code]

This will automatically configure `exceptionHandling()` to use your `CustomAuthenticationEntryPoint`.

[2020-09-16 22:47] #8961 closed

[2020-09-16 23:25] jzheaux commented on #8992
@michaelboyles, thanks for reaching out.

Spring Security doesn't manage your session, so I don't think that there is much it can do along these lines.

However, [Spring Session does have WebSocket support](https://docs.spring.io/spring-session/docs/current/reference/html5/guides/boot-websocket.html). Have you already taken a look?

For some background, Rob also posted some of [the rationale for S

[2020-09-17 02:02] chenrujun commented on #8007
Hi, @snicoll

I see you [updated the nimbus-jose-jwt's version to 9.0.1](https://github.com/spring-projects/spring-boot/commit/a44424b8816ac847efceea97721c02ad311801eb).

Could you please use [spring-boot-dependencies](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-dependencies/build.gradle) for spring-security instead of [manage by dependency-management

[2020-09-17 06:43] eleftherias commented on #9015
@swiftloop Could you please provide some more information?

What is the expected behaviour and how does that compare to the behaviour that you are seeing?

[2020-09-17 06:59] ryan13mt opened #9028 "File-based Configuration for Asserting Party Metadata"
**Expected Behavior**

[code]

**Current Behavior**

[code]

**Context**

Currently the `RelyingPartyRegistrations.fromMetadataLocation(metadataLocation)` only accepts a URL. Basing on my old implementation with **Spring Security SAML Extension** it would be good if we could also provide a local directory path to this method. Some asserting parties will not host their metadata files but will inste

[2020-09-17 08:12] Accidentaly-across opened #9029 "How to disable spring-security version 5.3.3"
### Actual Behavior
Hello ,
I want to disable spring-security, in order to be able to skip login verification authority verification.
I tried many methods but I cannot disable spring-security.

### Expected Behavior
disable spring-security version 5.3.3

### Version

Springboot version is v2.3.2.RELEASE
Spring Security version is 5.3.3

Looking forward to your reply.

Thanks in advance.

Regards,

[2020-09-17 08:55] swiftloop commented on #9015
![image](https://user-images.githubusercontent.com/16313995/93446958-67824f00-f904-11ea-9b1e-27316f56eae0.png)
![image](https://user-images.githubusercontent.com/16313995/93447113-a1ebec00-f904-11ea-8a78-2dff2afcbde0.png)
In the DefaultLoginPageGeneratingFilter.
![image](https://user-images.githubusercontent.com/16313995/93447393-ef685900-f904-11ea-999c-c048b296a2a7.png)

I expect:
![image](https:

[2020-09-17 09:28] Koshux commented on #9028
+1

Would greatly appreciate it if this effort could be looked into!

[2020-09-17 09:54] sbrannen commented on #4151
See comments in https://github.com/spring-projects/spring-framework/pull/25780#pullrequestreview-490415855

[2020-09-17 10:18] michaelboyles commented on #8992
Thanks a lot for the thorough reply. It seems those links are exactly what I need.

The reason I thought Spring Security was responsible was because if I remove the starter and configuration from this project, the issue disappears. Looking into it a bit more, it seems more like Spring Sec is just responsible for setting up a session on the underlying web container, Tomcat in this case. Is that rig

[2020-09-17 10:22] KathrynN opened #9030 "Include Port in DNS SRV type lookups"
**Expected Behavior**

JndiDnsResolver should be all I need to discover a service given the domain and service-type.

**Current Behavior**

JndiDnsResolver only gives me the service hostname / ip address, but not which port.

**Context**

I'm building a system using SRV DNS service discovery with randomly assigned ports (to allow multiple services to be able to stack on one server).  This non-stat

[2020-09-17 13:45] eleftherias commented on #9029
Thanks for getting in touch, @Accidentaly-across , but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add more detail if you feel this is a genuine bug.

Briefly, thou

[2020-09-17 13:45] #9029 closed

[2020-09-17 14:22] eleftherias commented on #9015
@swiftloop The `failureUrl` is intended to be `null` if you set a custom `failureHandler`.

It seems like you need to permit all users to access the URL that your failure handler is redirecting to.

For example, if you wanted to use a failure handler that redirects to "/login-failure"
<pre>
http
	.authorizeRequests((authorize) -> authorize
		<b>.mvcMatchers("/login-failure").permitAll()</b>
		.any

[2020-09-17 14:22] #9015 closed

[2020-09-17 16:08] jzheaux commented on #8992
Sounds good, @michaelboyles, glad I could help.

It's probably more correct to say that Spring Security is responsible for managing the `SecurityContext`. There are several cases when Spring Security will do that using `HttpSession`.

Unless you configure your application to use Spring Session, then yes it would be Tomcat by default that would be responsible for managing the session.

I look forwa

[2020-09-17 16:08] #8992 closed

[2020-09-17 16:21] jgrandja opened #9031 "Adapt to WebClient's new exception wrapping"
The snapshot tests are failing as a result of this [commit](https://github.com/spring-projects/spring-framework/commit/74f64c4e3b97cb419829cedcc6f703a78f9d0a5c). See [spring-framework#23842](https://github.com/spring-projects/spring-framework/issues/23842).

This fix should adapt to `WebClient`'s new exception wrapping.

[2020-09-17 16:24] #9031 closed

[2020-09-17 16:38] arvindkrishnakumar-okta commented on #9020
@jzheaux I'm looking to extend the `OAuth2ResourceServerConfigurer` or gain access to the configurer and determine which of JWT or Opaque token is being configured by Spring internally.

I was able to do some hacking (not ideal) using customizer and some ugly reflection code to access the private method `getAuthenticationProvider` of `OAuth2ResourceServerConfigurer` class.

` @Override
    public

[2020-09-17 18:52] jzheaux commented on #9028
Thanks for the suggestion, @ryan13mt.

I think the proposal is a good start. Some things come to mind:

* We should leave the conversion strategy from `InputStream` to `RelyingPartyRegistration.Builder` package-private for now. We can always make it public later if needed.
* `OpenSamlRelyingPartyRegistrationBuilderConverter` sounds a little bit vague. I'm wondering if `OpenSamlAssertingPartyMetada

[2020-09-17 21:10] jzheaux commented on #8349
@ryan13mt, yes, that was the idea I was playing with while preparing the 5.4 release.

Yes, a pull request would be welcome. While I understand that your use case is for decryption only, would you be able to provide a PR that handles signature validation as well? I believe it will be the same conceptually, returning a `SignatureTrustEngine` instead.

[2020-09-17 22:47] jzheaux commented on #8952
@amergey thanks for the suggestion.

I think the place to add this is in `Saml2AuthenticationRequestContext`. To change the algorithm, the application would register a custom `Saml2AuthenticationRequestContextResolver`.

Would you be able to provide a PR that adds this support to `Saml2AuthenticationRequestContext.Builder` and `OpenSamlAuthenticationRequestFactory`?

[2020-09-17 23:00] jzheaux commented on #8969
This looks quite similar to [what is already supported](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#access-control-using-preauthorize-and-postauthorize). If it's not quite what you need, you can publish your own `PermissionEvaluator`.

If you are granting access to all `Book`s, though, you might consider granting an authority at authentication time so the permission d

[2020-09-17 23:11] jzheaux commented on #1938
@Dominik355, sorry you are having trouble. Have you already tried to register it in the DSL, like so:

[code]

If you are still stuck, please consider asking a question on [Stack Overflow](https://stackoverflow.com/) instead of posting to an old ticket. You'll likely get more visibility and hopefully more answers that way. It would also be helpful in that question to hear why you are wanting to ov

[2020-09-18 00:19] jgrandja commented on #8994
Thanks for getting in touch @dgempiuc.

Questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

Either way, try this it should work:

[code]

[2020-09-18 00:19] #8994 closed

[2020-09-18 01:08] jgrandja commented on #8995
@ttddyy `SecurityReactorContextConfiguration` is meant to be used internally within the framework only so it is unlikely that we would expose this.

Even though `SECURITY_CONTEXT_ATTRIBUTES` is package-private, could you not simply obtain the `Map` of context attributes using `context.get("org.springframework.security.SECURITY_CONTEXT_ATTRIBUTES")`? I think this would work?

[2020-09-18 01:18] jgrandja commented on #9014
Thanks for getting in touch @masch712, but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

You can always provide your own custom implementation of `AuthorizationRequestRepository` and configure it as documented in the [reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#st

[2020-09-18 01:18] #9014 closed

[2020-09-18 02:09] swiftloop commented on #9015
Emmm, thanks for your suggestion.
 Acually, the thing that I want is when there is a verification error, which can redirect to login and show error message (such as "Bad Credentials") on the default login page.
 However, after setting "failureHandler", it cannot show error message. Because "failureUrl" is null and "isErrorPage" in "DefaultLoginPageGeneratingFilter" is false now.
 So shall I need t

[2020-09-18 02:24] 18297093310 opened #9032 "Thumbs up!"
Thumbs up!  You are so beautiful, the same as your code~

[2020-09-18 07:17] amergey commented on #8952
Hi @jzheaux I will try to provide a PR for this.

[2020-09-18 07:19] ufo525 opened #9033 "5.4.0 Inconsistent version naming"
**Describe the bug**
I am not sure whether this is an intended change or bug.

**To Reproduce**
https://mvnrepository.com/artifact/org.springframework.security/spring-security-core

5.4.0 didn't follow the previous x.x.x.RELEASE naming convention

[2020-09-18 08:22] eleftherias commented on #9015
@swiftloop
As you mention, if you set a custom `failureHandler`, Spring Security removes the default authentication failure behaviour, because it assumes you are doing something custom.

Could you share some more details on what you are trying to accomplish by customizing the `failureHandler`?
It seems like the default behaviour might be suitable for your use case.

[2020-09-18 08:57] swiftloop commented on #9015
It turns out that I didn't follow the rules of spring security. count the number of verification error and  disable user account

[2020-09-18 09:03] #9011 closed

[2020-09-18 10:46] masch712 commented on #9014
Thanks @jgrandja.  I raised this as a github issue because I've been using `SessionCreationPolicy.STATELESS` in my HttpSecurity configuration, so spring-security (specifically the SessionManagementConfigurer, I believe) knows to create a NullRequestCache for me.  I think there is an opportunity here for spring-security to similarly honor `SessionCreationPolicy.STATELESS` in its AuthorizationReques

[2020-09-18 15:52] jzheaux commented on #9033
Thanks for checking, @ufo525. This is a duplicate of #9010, please see the details there.

[2020-09-18 15:52] #9033 closed

[2020-09-18 15:59] jzheaux commented on #9032
Thank you, you are beautiful, too.

[2020-09-18 15:59] #9032 closed

[2020-09-18 22:22] #9026 closed

[2020-09-20 22:23] Dominik355 commented on #1938
i posted, no answers yet, its been few weeks now. I am trying to override it, to change deleting remember-me tokens policy. At that logout method, all users's remember-me tokens are being deleted, i would like to change that, to delete just token related to device where user logged off. So tokens from other devices will be still stored. Thank you

[2020-09-21 04:17] arvindkrishnakumar-okta opened #9035 "Add ability to auto detect jwt/opaque token oauth2 resource server configuration"
**Expected Behavior**

It would be nice if Spring framework can automatically configure OAuth2 resource server for either JWT or Opaque token validation depending on what properties the user has set.

For e.g. if the user has set the below properties, then Spring should automatically attempt to configure JWT validation (without the user having to specify it in `configure` method):

`spring.securit

[2020-09-21 06:24] levin950825 opened #9036 "invalid_client error"
**Describe the bug**
How to catch wrong clients_ ID, it seems that no exception information has been thrown

[2020-09-21 07:27] JoakimLofgren commented on #8864
Oh, I missed your message. I verified it in 5.4.0. It works. Thanks.

[2020-09-21 07:38] qeepcologne opened #9037 "iPhone Xʀ requests blocked by StrictHttpFirewall"
**Describe the bug**
iphone XR cannot connect via websocket, because useragent contains special characters:
iOS 13.7.0 Alamofire/5.2.2 iPhone Xʀ

       org.springframework.security.web.firewall.RequestRejectedException: The request was rejected because the header value "iOS 14.0.0 Alamofire/5.2.2 iPhone XÊ" is not allowed.
                at org.springframework.security.web.firewall.StrictHttpFir

[2020-09-21 07:58] qeepcologne commented on #9037
Update: happens for websocket connect, not regular http requests

[2020-09-21 09:08] eleftherias commented on #8978
`WebSecurity` can now be configured by exposing a `WebSecurityCustomizer` bean.
[code]

[2020-09-21 10:19] jgrandja commented on #9019
@waiet The configuration `issuer-uri: http://gateway:8080/auth/realms/myrealm` specifies the host for the gateway, which is not the same as the OIDC Issuer. This misconfiguration is resulting in the error. The actual OIDC Issuer is `http://myfrontend.com`.

Since you need to go through a Proxy, the `issuer-uri` property will not work and instead you need to configure the `authorization-uri` and `t

[2020-09-21 10:19] #9019 closed

[2020-09-21 10:29] jgrandja commented on #9023
@queueseven Please see this [comment](https://github.com/spring-projects/spring-security/issues/8862#issuecomment-661955579) and this [one](https://github.com/spring-projects/spring-security/issues/8539#issuecomment-631030998). You need to provide a custom configuration of `JdbcOAuth2AuthorizedClientService`.

I'm going to close this as a duplicate.

[2020-09-21 10:29] #9023 closed

[2020-09-21 11:47] waiet commented on #9019
I think this issue isn't duplicate. Because communication(back channel)  between application and identity provider(keycloak) is via internal network and identity provider has different address as address for frontend channel(authorization uri). I don't know why is there validation for issuer from configuration(issuer-uri) against issuer  from discovery configuration. In discovery configuration I h

[2020-09-21 13:24] jgrandja commented on #9019
@waiet

This validation is required as [per spec](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationValidation):

Based on your environments OIDC configuration metadata, I see a mix of `http://myfrontend.com` and `http://gateway:8080`, which is interesting. I don't see this as a problem but it will require extra configuration in your client application. Given that the

[2020-09-21 13:59] frankruegamer commented on #5249
Is there any update on this?

[2020-09-21 16:28] dratler commented on #7568
Hi ,
it this still for the greb ?

[2020-09-21 22:49] ttddyy commented on #8995
Yeah, I have a utility class that uses the String key `"org.springframework.security.SECURITY_CONTEXT_ATTRIBUTES"` to retrieve `Authentication` from reactor context.
This works but since it is bit of internal to the spring security, it would be nice to have public(official) way of getting `Authentication`(as well as `HttpServletRequest` and `HttpServletResponse`) in `WebClient` filters in servlet

[2020-09-21 22:57] jzheaux opened #9038 "Add documentation for StrictHttpFirewall enhancements"
Related to #8644

[2020-09-21 23:02] jzheaux commented on #9037
Hi, @qeepcologne, sorry to hear that you're having trouble.

I've locally added `StrictHttpFirewall` unit tests that use a `User-Agent` of `iOS 13.7.0 Alamofire/5.2.2 iPhone Xʀ`, and they pass. I'm not able to reproduce your issue with the information provided. So, there may be something upstream in your request that is incorrectly processing the special character.

Are you able to provide a minim

[2020-09-21 23:20] jzheaux commented on #9035
Hi, @arvindkrishnakumar-okta, thanks for the suggestion. Unless I've misunderstood you, though, we'll unfortunately have to decline.

If you don't specify a `WebSecurityConfigurerAdapter`, Spring already works as you describe. Spring Boot is what reads your properties and configures a `WebSecurityConfigurerAdapter` instance.

Once you configure your own `WebSecurityConfigurerAdapter`, Spring Boot

[2020-09-21 23:20] #9035 closed

[2020-09-22 07:54] qeepcologne commented on #9037
Hi jzheaux, thanks for the quick response.

You are right, i tried to reproduce it via testcase like you and and it worked.
I took the useragent from tomcat access log, maybe that device is sending something else (invisible control character) that is not in the access logs or that is lost when copy&paste into the testcase.

I tried to turn off yesterday like you, but we still use xml configuration

[2020-09-22 09:00] ryan13mt commented on #8349
@jzheaux wouldn't the signature validation be done using the public certificate provided by the asserting party in their metadata?

Or have i misunderstood your use case?

[2020-09-22 15:50] jzheaux commented on #9037
Before going down the route of adding a `User-Agent` exception, we should find out what's causing the problem to see if it can be fixed at its root cause.

It could be. A character encoding mismatch seems likely.

The URL encoding for ʀ is `%CA%80`. Some applications incorrectly decompose this into two separate characters. Notably, your logs say Ê whose URL encoding is `%CA`, the first of the two

[2020-09-22 16:58] amergey commented on #8952
I started this PR https://github.com/spring-projects/spring-security/pull/9039

[2020-09-23 04:12] dousp opened #9040 "Problems using spring-security examples（soauth2resourceserver-static）"
**Describe the bug**
- import the ‘spring-security/samples/boot/oauth2resourceserver-static’ into my IDE and run OAuth2ResourceServerApplication.
- export TOKEN=eyJhbGciOiJS.....
- curl -H "Authorization: Bearer $TOKEN" localhost:8080

then  make a exception:

[code]

I haven't changed any files. Why is this happening?
I found that com.nimbusds.jose has a toJSONObject() method
Can you help me solv

[2020-09-23 06:16] dousp commented on #9040
- I found the cause of the problem,
- nimbus-jose-jwt requires the latest version, such as 9.0.1.
- But what I don’t know is:
     using version 8.19 will throw the exception shown in the picture above; but the toJSONObject() method is also found in version 8.19

[2020-09-23 06:16] #9040 closed

[2020-09-23 07:36] qeepcologne commented on #9037
There should be no encoding mismatch, as far as i know only ISO-8859-1 characters are allowed in http headers.
https://tools.ietf.org/html/rfc5987
Everything else need to be encoded and this is not the case, the value does not begin witha  charset name, apple ignores the standard.

[2020-09-23 14:24] santam85 commented on #8369
@jzheaux any updates on this?

[2020-09-23 20:51] jzheaux commented on #8369
I'm afraid not, @santam85, though thanks for the bump. We'll be taking a look at [deprecating `WebSecurityConfigurerAdapter` in the near future](https://github.com/spring-projects/spring-security/pull/8805), and it seems like something like this could be addressed at that point.

Can you clarify these points further? `AuthenticationManager` is separated from the HTTP layer, so I'm not clear on how

[2020-09-23 21:19] jimblye opened #9041 "SpringSecurityCoreVersion.java getSpringVersion() method does not close stream."
**Describe the bug**

The following method in SpringSecurityCoreVersion.java does not close the stream it opens.   This keeps the file locked on Windows:

[code]

This causes a problem when using WebSphere Liberty.   When customer tries to update the application, spring-security-core-5.2.1.RELEASE.jar is locked.

I traced opens and closes of ZipFiles.   The stack trace below is for the open that w

[2020-09-24 09:35] eleftherias commented on #9030
@KathrynN That makes sense to me.

Are you interested in submitting a pull request with your changes?

[2020-09-24 13:14] bvklingeren opened #9043 "PasswordReactiveOAuth2AuthorizedClientProvider depends on RefreshTokenReactiveOAuth2AuthorizedClientProvider to be configured"
**Describe the bug**
I am using the AuthorizedClientServiceReactiveOAuth2AuthorizedClientManager with a PasswordReactiveOAuth2AuthorizedClientProvider to authorize requests, but when an authorized client expires it does not fetch a new token because the authorized client has an access token. Since I do not have a RefreshTokenReactiveOAuth2AuthorizedClientProvider I end up with invalid authorized c

[2020-09-24 18:38] KathrynN commented on #9030
Absolutely!  I will send it up over the weekend (I'm not feeling very well today).  Thanks!

[2020-09-24 19:21] jzheaux opened #9044 "Add HSM Support for Decrypting Assertions"
It would be nice to allow for a custom decryption strategy in `OpenSamlAuthenticationProvider`. This would simplify delegating the assertion and principal decryption to a separate service.

[2020-09-24 19:23] jzheaux opened #9045 "Add HSM Support for Signing AuthnRequests"
It would be nice to allow for a custom signer in `OpenSamlAuthenticationRequestFactory`. This would simplify delegating the signing to a separate service.

It's not yet clear how best to expose this functionality since signing patterns are different for `HTTP-Redirect` and `HTTP-POST` bindings.

For the redirect binding, one signs a query string composed of the serialized `<saml2:AuthnRequest>`, t

[2020-09-24 19:25] jzheaux commented on #9044
Currently, `OpenSamlAuthenticationProvider` has a private field `Converter<Saml2AuthenticationToken, Decrypter>`. I'm not convinced that `Decrypter` is the correct thing to expose, though. I'd prefer that it be an interface. Since OpenSAML doesn't provide an interface for decryption, we could possibly use `Consumer`.

So, instead of:

[code]

you'd do:

[code]

Or, for decrypting an assertion's su

[2020-09-24 19:25] jzheaux commented on #8349
No, @ryan13mt, I just got my wires crossed. The ticket here calls for support in `OpenSamlAuthenticationProvider` to decrypt assertions as well as `OpenSamlAuthenticationRequestFactory` to sign requests, and I was thinking it would be nice to address both of these in the same PR.

However, thinking more about this, it would be better to wait on `OpenSamlAuthenticationRequestFactory` until a contri

[2020-09-24 19:55] spring-issuemaster opened #9046 "CookieServerCsrfTokenRepository#createNewToken should use Schedulers.boundedElastic"
Backport of gh-9018

[2020-09-24 19:55] spring-issuemaster commented on #9046
Fixed via 5bce912446eec508bb2c2fca1fb139b34809c86e

[2020-09-24 19:55] #9046 closed

[2020-09-24 19:59] jzheaux commented on #9046
Ticket created by accidental push to `5.1.x` branch.

[2020-09-24 20:02] jzheaux commented on #9041
This makes sense to me, @jimblye. Would you be able to submit a PR to address the issue?

[2020-09-24 22:19] codeconsole opened #9047 "Sign in with Apple Oauth2 Support"
**Summary:**
Apple now forces app developers to provide Sign in with Apple if they want to submit apps that currently use oath2 with other providers.  Spring Security should offer a default `CommonOAuth2Provider.APPLE` implementation to ease the configuration process.

[code]

Note:
At this time apple does not support userInfoUri.  I believe information such as user email is only provided during t

[2020-09-24 22:39] jzheaux commented on #9037
Correct, the mismatch is something like Apple is expecting the header to be read as UTF-8, but Tomcat, for example, reads it as ISO-8859-1.

A quick test of `StrictHttpFirewall` confirms that reading ʀ as ISO-8859-1 and setting that as the value will cause the firewall to fail:

[code]

I'm not sure if your application server can be configured to read headers as UTF-8, but that's the next place I

[2020-09-24 22:39] #9037 closed

[2020-09-25 02:33] asaikali opened #9048 "Add support for AEAD to BytesEncryptor and TextEncryptor"
The Spring Security `org.springframework.security.crypto.encrypt`  package provides utilities that simplify working with the javax.crypto library. It exposes the two interfaces.

[code]

Using the `org.springframework.security.crypto.encrypt.Encryptors.stronger()` returns a BytesEncryptor based on AES/GCM with 256-bit key. AES GCM supports AEAD but  there is no way to set associated  data on byte

[2020-09-25 10:24] luisGumucio opened #9049 "Could not obtain the keys invalid certificates"
I had an error when tried to execute some request using oauth2-resource-server, I added the certificate into java keytool but the result is the same.

`java.lang.IllegalStateException: Could not obtain the keys
	at org.springframework.security.oauth2.jwt.NimbusReactiveJwtDecoder$JwkSetUriReactiveJwtDecoderBuilder.lambda$null$1(NimbusReactiveJwtDecoder.java:345) ~[spring-security-oauth2-jose-5.3.4.

[2020-09-25 16:09] jzheaux commented on #9049
Thanks for getting in touch! It feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/) since it's asking about how to get HTTPS requests to work in Java. You probably need to configure your `TrustManager`, but either way, Spring Security doesn't manage or configure the underlying HTTP connection.

We prefer to [use GitHub issues only for bugs and

[2020-09-25 16:09] #9049 closed

[2020-09-25 21:59] jzheaux opened #9051 "RelyingPartyRegistrations Fails to Read Keycloak Metadata"
When loading metadata from a Keycloak endpoint, the application fails with a `ClassCastException`:

[code]

This is because it incorrectly assumes that the root element will always be `EntityDescriptor`. In Keycloak's case, the `EntityDescriptor` is surrounded with an `EntitiesDescriptor` element.

[2020-09-26 09:31] santam85 commented on #8369
The endpoints protected by
`.oauth2Login()`
trigger an OAuth flow ultimately providing the client a Session ID cookie, but since the paths I use for the resource server overlap, I can use the same to authenticate to the APIs. I guess the order of the providers set by SpringBoot coincidentally matches my use case?

[2020-09-26 11:04] j-gurda commented on #7808
@jgrandja
I can't entirely agree that the `state` parameter is meant to be used internally by the client. It's part of OAuth2 specification, and of course, one of its roles is to prevent CSRF. It may be, however, used for other purposes too (specification does not prohibit that), and I don't see a reason to prevent that.

I see two potential improvements to the `DefaultOAuth2AuthorizationRequestRe

[2020-09-26 14:59] KathrynN commented on #9030
I have popped in a pull request (as you can see above!) but I can't build the master branch on my machine, let alone run the tests.  I will try to have a go over next week when I have recovered enough to wrangle gradle into submission.

[2020-09-26 16:05] #9051 closed

[2020-09-27 21:22] asaikali opened #9054 "Provide helper classes for working with PEM files"
The`org.springframework.security.crypto`  package provides helper classes for working with AES. It would be nice to add support working with PEM files, so that it is easy to read a PEM file and turn into JCA key like

* `java.security.interfaces.RSAPublicKey`
* `java.security.interfaces.RSAPrivateKey`
*  `java.security.interfaces.XECPrivateKey`
*  `java.security.interfaces.XECPublicKey`

Working w

[2020-09-28 09:16] ryan13mt commented on #9044
@jzheaux would something like this meet your explanation above? https://github.com/spring-projects/spring-security/pull/9055

[2020-09-28 12:52] ryan13mt commented on #9028
@jzheaux I opened a pull request to see if im heading in the right direction with this

[2020-09-28 13:27] eleftherias commented on #7961
@hantsy In Spring Security 5.4.0, we added the ability to configure `HttpSecurity` by exposing a bean, instead of extending `WebSecurityConfigurerAdapter` (see #8804).

This means you can nest the `SecurityFilterChain` bean in the `BeanDefinitionDsl`

[code]

If you're using Spring Boot, make sure to use the latest 2.4.0 milestone (2.4.0-M3 at this moment).

[2020-09-28 19:29] jzheaux commented on #9044
Thanks for the PR, @ryan13mt, I've left my feedback there.

[2020-09-28 19:53] jzheaux commented on #8369
Most often, each provider works with a unique `Authentication` instance. For example, `JwtAuthenticationProvider` in Resource Server uses `BearerTokenAuthenticationToken`, but `OAuth2LoginAuthenticationProvider` in Client uses `OAuth2LoginAuthenticationToken`. Order often doesn't cause a problem since typically only one provider would match for a given authentication mechanism.

When your custom `

[2020-09-28 20:08] jzheaux commented on #1938
What is the Stack Overflow link? I'm happy to take a look. Also, what was the result of registering your custom `RememberMeServices` in the DSL?

[2020-09-28 20:25] ThomasVitale commented on #9008
@jgrandja If needed, I'm available to help with this task. It's for the deploy-pipeline-test branch, right?

[2020-09-28 20:42] mindhaq commented on #6598
I came here after googling why a WebClient mutated with mockUser() still resulted in request.principal() to be null.

I'm unit testing a reactive router function, so security testing would be outside of the scope. The test is about the route returning a response depending on what kind of principal is there, but not how that would be inserted into the request (that is tested in a more integrating t

[2020-09-29 06:47] mindhaq commented on #8142
In my case, this compiles now with Kotlin 1.4.

spring-security 5.3.4
kotlin 1.4.10

[2020-09-29 08:22] eleftherias commented on #7961
I'm going to close this issue, if you run into any problems feel free to continue the conversation here.

[2020-09-29 08:22] #7961 closed

[2020-09-29 09:50] santam85 commented on #8369
This is the class performing the call to `AuthenticationManager#authenticate`:
https://github.com/apache/camel/blob/master/components/camel-spring-security/src/main/java/org/apache/camel/component/spring/security/SpringSecurityAuthorizationPolicy.java
I use instances of this as beans and at creation I autowire whatever AuthenticationManager SpringBoot creates. I haven't tried creating my own, beca

[2020-09-29 14:25] #9041 closed

[2020-09-29 14:46] spring-issuemaster opened #9057 "SpringSecurityCoreVersion.java getSpringVersion() method does not close stream."
Backport of gh-9041

[2020-09-29 14:46] spring-issuemaster commented on #9057
Fixed via 6aed9408e13fae7aea13df129a5f68f9f1240133

[2020-09-29 14:46] #9057 closed

[2020-09-29 14:48] spring-issuemaster opened #9058 "SpringSecurityCoreVersion.java getSpringVersion() method does not close stream."
Backport of gh-9041

[2020-09-29 14:48] spring-issuemaster commented on #9058
Fixed via bd3e3ed2c5ee87450bcba8b0490a7dba5bae0db4

[2020-09-29 14:48] #9058 closed

[2020-09-29 14:50] spring-issuemaster opened #9059 "SpringSecurityCoreVersion.java getSpringVersion() method does not close stream."
Backport of gh-9041

[2020-09-29 14:50] spring-issuemaster commented on #9059
Fixed via 1261a5aedff972c596c29c2a2779ca3ab0ae46ea

[2020-09-29 14:50] #9059 closed

[2020-09-29 14:57] spring-issuemaster opened #9060 "SpringSecurityCoreVersion.java getSpringVersion() method does not close stream."
Backport of gh-9041

[2020-09-29 14:57] spring-issuemaster commented on #9060
Fixed via 430407ea454cc7a0a611051224e9afc92360cea5

[2020-09-29 14:57] #9060 closed

[2020-09-29 15:02] jzheaux commented on #9054
@asaikali Have you already taken a look at `RsaKeyConverters` in `core`? How does that stack up with what you need on the RSA side?

[2020-09-29 17:40] asaikali commented on #9054
Thanks for pointing out `RsaKeyConverters` I had not seen it. I think that will do what I want for RSA keys. However, I think there is value in creating a layer an in `org.springframework.security.crypto` that is only dependent on JCA and JCE with abstractions to make the JCA/JCE easier to use and no dependency on spring security or spring core,  so no Convertor in the interface. There are some as

[2020-09-29 18:47] jzheaux commented on #8956
Sorry for my delay in responding to your question.

This seems like a great question for StackOverflow where you'll get feedback more easily from the entire community. In fact, I think there's a StackOverflow answer that could be [a good start for simplifying your approach](https://stackoverflow.com/a/15644983/2243324). For clarity, I've just posted [a sample to my GitHub](https://github.com/jzhea

[2020-09-30 13:08] afattahi54 opened #9061 "Version 5.4.0.RELEASE missing poms during install"
**Describe the bug**
Spring 5.4.0  missing two poms

**To Reproduce**
Update to Spring 5.4.0
mvn clean compile

- [WARNING] The POM for org.springframework.security:spring-security-config:jar:5.4.0.RELEASE is missing, no dependency information available
- [WARNING] The POM for org.springframework.security:spring-security-taglibs:jar:5.4.0.RELEASE is missing, no dependency information available

[2020-09-30 13:46] ivanmarkov13 commented on #7970
@jzheaux I understand the intention behind this restriction, but what if I want to setup ResourceServerConfigurer for my tests. Here is the code.

ResourceServerConfigurer in source code:
`@Profile("!unsecured")
@Component
public class ResourceServerConfig extends ResourceServerConfigurerAdapter {
    @Autowired
    private AuthenticationManager authenticationManager;

    @Override
    public voi

[2020-09-30 15:51] jzheaux commented on #9054
A utility for converting a PEM file to an `RSAPublicKey` sounds very much like something a general-purpose cryptography library would do. For example, BouncyCastle offers this support with `PEMParser` and has no dependency on Spring.

While I agree that a utility like this would be very handy, I don't think that `spring-security-crypto` is the place for it since `crypto` isn't intended as a compre

[2020-09-30 15:51] #9054 closed

[2020-09-30 16:41] jgrandja commented on #9008
That would be great @ThomasVitale ! Yes, it's for the `deploy-pipeline-test` branch.

[2020-09-30 16:56] jgrandja commented on #9047
Thanks for the suggestion @codeconsole

Alternatively, you could define this in your `application.yml`

[code]

I believe this is simple enough. We also don't want to add too many standard providers in `CommonOAuth2Provider` since those endpoints may change and it would be much easier (and quicker) to change the configuration in `application.yml` instead of waiting for the next release of Spring S

[2020-09-30 16:56] #9047 closed

[2020-09-30 18:18] jgrandja commented on #9043
Thanks for the report @bvklingeren.

The `PasswordReactiveOAuth2AuthorizedClientProvider` is intended to perform the `password` grant, whereas the `RefreshTokenReactiveOAuth2AuthorizedClientProvider` is intended to perform the `refresh_token` grant. This is the intended design and we don't want to mix responsibilities by having `PasswordReactiveOAuth2AuthorizedClientProvider` to also perform the `

[2020-09-30 18:46] ThomasVitale commented on #9008
@jgrandja I've just opened a PR with the change.

[2020-09-30 20:35] jzheaux commented on #7970
@ivanmarkov13, this is probably best answered via [a StackOverflow question](https://stackoverflow.com/questions/ask). We try and keep GitHub tickets focused on features and bugs.

If you feel like its a bug, since this relates to the separate `spring-security-oauth` project, would you please [file a ticket](https://github.com/spring-projects/spring-security-oauth) in that project to get the bug f

[2020-09-30 21:56] jzheaux commented on #8007
@chenrujun thanks for reaching out and spending some time thinking about this.

Since Boot always releases after Security, it would be tricky to base Security's dependency versions on the ones that Boot is using. That said, I agree that it's important that the two products work well together. Note that Spring Security builds with Boot-based samples to verify compatibility.

As for your own project

[2020-10-01 00:07] jzheaux commented on #9037
An improved workaround is to parse the header values as UTF-8, like so:

[code]

I believe this is an improvement since this way `StrictHttpFirewall` can continue to check header values as it already does.

[2020-10-01 02:53] #9038 closed

[2020-10-01 13:47] apamildner opened #9063 "Specify from the outside which scopes are used in the DefaultOAuth2AuthorizationRequestResolver depending on the request"
**Expected Behavior**
I want to control which scopes are requested by the `DefaultOAuth2AuthorizationRequestResolver` from the frontend application. The `setAuthorizationRequestCustomizer` is not sufficient as I don't know beforehand which scopes I want to use when instantiating the resolver.

**Current Behavior**
I can't control which scopes are requested without creating my own implementation of

[2020-10-01 17:00] eleftherias opened #9064 "Update to Spring Framework 5.0.19"

[2020-10-01 17:01] eleftherias opened #9065 "Update to Jackson Databind 2.9.10.6"

[2020-10-01 17:02] eleftherias opened #9066 "Update to GAE 1.9.82"

[2020-10-01 17:05] eleftherias opened #9067 "Update to org.aspectj 1.9.6"

[2020-10-01 17:06] eleftherias opened #9069 "Update to Hibernate Validator 6.0.21"

[2020-10-01 17:10] spring-issuemaster commented on #9064
Fixed via 50c1c5e082ddcd98e0db147f3f88ccabca0877bc

[2020-10-01 17:10] spring-issuemaster commented on #9065
Fixed via d86b1492a2e528799cd43b94b90623606fa87ef9

[2020-10-01 17:10] spring-issuemaster commented on #9066
Fixed via 2a9b41df61c2f652fddb66ea2771e80ed1c9f97e

[2020-10-01 17:10] spring-issuemaster commented on #9067
Fixed via 66b52c5d5f870baeff5aeb77fcc003be4fcb6976

[2020-10-01 17:10] #9067 closed

[2020-10-01 17:10] spring-issuemaster commented on #9069
Fixed via 7641dc0f3b41164bbdeb38f32749389c8c528ee5

[2020-10-01 17:10] #9064 closed

[2020-10-01 17:10] #9065 closed

[2020-10-01 17:10] #9066 closed

[2020-10-01 17:10] #9069 closed

[2020-10-02 08:24] bvklingeren commented on #9043
Hi Joe,

Thanks for the elaborate answer! I am using Spring Security 5.3.4, so I'm good with that.

What I'm currently experiencing is in our development and acceptance environments (which are not used very much). There is 1 service that acts as a gateway to other services and is replacing tokens of users for one realm with tokens of a fixed user of another realm (as a service account). While the

[2020-10-02 08:30] eleftherias opened #9071 "Update to Reactor Californium-SR21"

[2020-10-02 08:31] eleftherias opened #9072 "Update to Spring Framework 5.1.18"

[2020-10-02 08:32] eleftherias opened #9073 "Update to Spring Data Lovelace-SR20"

[2020-10-02 08:32] eleftherias opened #9074 "Update to Jackson Databind 2.9.10.6"

[2020-10-02 08:33] eleftherias opened #9075 "Update to GAE 1.9.82"

[2020-10-02 08:34] eleftherias opened #9076 "Update to org.aspectj 1.9.6"

[2020-10-02 08:34] eleftherias opened #9077 "Update to Hibernate Validator 6.0.21"

[2020-10-02 08:36] eleftherias opened #9078 "Update to Spring Boot 2.1.17.RELEASE"

[2020-10-02 08:41] spring-issuemaster commented on #9071
Fixed via 1a128bdd1c39d9a0b549687ce55af463356dadf4

[2020-10-02 08:41] spring-issuemaster commented on #9072
Fixed via 517f56694025361dc4d9366dc31ffeb92fc6e443

[2020-10-02 08:41] spring-issuemaster commented on #9073
Fixed via 1c06403bb403436336878f4ebd64fdd39ba79009

[2020-10-02 08:41] spring-issuemaster commented on #9074
Fixed via a9dcf724dc1289c73df670f8dccea1e3835176bb

[2020-10-02 08:41] spring-issuemaster commented on #9075
Fixed via 1d273f783250e881e1ef830cfc7ae2ab5f61bd22

[2020-10-02 08:41] spring-issuemaster commented on #9076
Fixed via b1494c3f771a40923924ecbb2ddba8ff5b889f54

[2020-10-02 08:41] spring-issuemaster commented on #9077
Fixed via 192aa71b96e74f8f345760e2ba06464db8e80f5b

[2020-10-02 08:41] spring-issuemaster commented on #9078
Fixed via 8acd0950bf8554f11569b7d573f74301d2b409b6

[2020-10-02 08:41] #9071 closed

[2020-10-02 08:41] #9072 closed

[2020-10-02 08:41] #9073 closed

[2020-10-02 08:41] #9074 closed

[2020-10-02 08:41] #9075 closed

[2020-10-02 08:41] #9076 closed

[2020-10-02 08:41] #9077 closed

[2020-10-02 08:41] #9078 closed

[2020-10-02 12:29] eleftherias opened #9079 "Update to org.aspectj 1.9.6"

[2020-10-02 12:32] eleftherias opened #9080 "Update to GAE 1.9.82"

[2020-10-02 12:50] eleftherias opened #9081 "Update to Spring Boot 2.2.10"

[2020-10-02 12:51] eleftherias opened #9082 "Update to Reactor Dysprosium-SR12"

[2020-10-02 12:51] eleftherias opened #9083 "Update to Spring Framework 5.2.9"

[2020-10-02 12:52] eleftherias opened #9084 "Update to RSocket 1.0.2"

[2020-10-02 12:53] eleftherias opened #9085 "Upgrade to embedded Apache Tomcat 9.0.38"

[2020-10-02 12:54] eleftherias opened #9086 "Update to Hibernate Validator 6.1.6"

[2020-10-02 12:55] eleftherias opened #9087 "Update to Hibernate Entity manager 5.4.22"

[2020-10-02 15:11] eleftherias opened #9088 "Update to Spring Data Moore-SR10"

[2020-10-02 15:14] spring-issuemaster commented on #9079
Fixed via 925a6685d99fbd024a7b74c3629a4f1ee57e5083

[2020-10-02 15:14] #9079 closed

[2020-10-02 15:14] spring-issuemaster commented on #9080
Fixed via 6a87ccca4abd4bebe0c878ed6e93a4df4015375c

[2020-10-02 15:14] spring-issuemaster commented on #9081
Fixed via 58b68625bbc01220fce97db85e860acd3b05667c

[2020-10-02 15:14] #9081 closed

[2020-10-02 15:14] spring-issuemaster commented on #9082
Fixed via 984fdd4c00de2eebbf224b09b6d6f3b9fdf75ea1

[2020-10-02 15:14] spring-issuemaster commented on #9083
Fixed via 5d0eb32f4d27ba5124e1cef8ac6e1669965c2c76

[2020-10-02 15:14] #9083 closed

[2020-10-02 15:14] spring-issuemaster commented on #9084
Fixed via 7181f576fc905af23b6fc503e2d93eebc38e0d83

[2020-10-02 15:14] spring-issuemaster commented on #9085
Fixed via 8b3777d0f188478fc6e24be5db382d80971cf90e

[2020-10-02 15:14] #9085 closed

[2020-10-02 15:14] spring-issuemaster commented on #9086
Fixed via 9c5ce287d708ac38906cf1889a7c9c12b3ab607b

[2020-10-02 15:14] spring-issuemaster commented on #9087
Fixed via cb055f14021dacd2e1987e28fb4239823f330bc3

[2020-10-02 15:14] spring-issuemaster commented on #9088
Fixed via dba3dacc19712d62b85dfb70c3b88e82fb1dd458

[2020-10-02 15:14] #9080 closed

[2020-10-02 15:14] #9084 closed

[2020-10-02 15:14] #9086 closed

[2020-10-02 15:14] #9087 closed

[2020-10-02 15:14] #9088 closed

[2020-10-03 17:40] codecracker2014 commented on #7537
I'm sorry for late update on this. It's very good idea to use same-site attribute to implement CSRF protection, but the problem is setter for sameSite is not available in Servlet API(javax.servlet.http.Cookie). refer https://wiki.shibboleth.net/confluence/display/DEV/Tomcat+and+Jetty+SameSite+Workarounds
Should i use setHeader to set this cookie?
ex. response.setHeader("Set-Cookie", "key=value; Ht

[2020-10-03 19:26] akohli96 commented on #8196
@rwinch May I take on this one?

[2020-10-04 00:14] evgeniycheban commented on #8900
@jzheaux I've implemented an adapter, but we need to check that an `AccessDecisionManager` supports a `ConfigAttribute` in `AbstractSecurityInterceptor.validateAttributeDefs`. Is this validation still needed?
The adapter code is shown below.
[code]

[2020-10-04 17:25] interested-developer opened #9090 "OAuth2 Social Logout is not working"
I have added to my Spring Boot MVC Web Application Social login feature. It allows users to login to my application with Facebook or Google account. But I am struggling to get the /logout feature to work. Even though the /logout is called and the logoutSuccessUrl is loaded, if user clicks on the login link again, the user is not being asked to provide their username or password again. It looks lik

[2020-10-04 19:18] sandeepvedavyas opened #9091 "Alternative to deprecated ClientCredentialsResourceDetails and OAuth2RestTemplate"
I am trying to configure resource server with my spring boot kotlin project, basically i have a bearer token which is opaque token i pass it to my rest controller which comes from mobile app and on my server side i need to authenticate along with custom authorization server(opaquetoken) with url https://**.com/oauth2/token

My current configuration is as below application.yml spring: security: oau

[2020-10-04 21:38] evgeniycheban commented on #8900
@jzheaux I added support for `AuthorizationManager` in the [3011ece](https://github.com/spring-projects/spring-security/pull/8996/commits/3011ece44ccfa21d8038ced453ef0789d22ec4ec)
Please take a look and I'll continue with tests.

[2020-10-05 09:16] mayur9991 opened #9092 "Double URI encoding issue for OidcClientInitiatedLogoutSuccessHandler and OAuth2PasswordGrantRequestEntityConverter"
**Describe the bug**

We have noticed that OidcClientInitiatedLogoutSuccessHandler does double encoding for logout uri. Similarly org.springframework.security.oauth2.client.endpoint.OAuth2PasswordGrantRequestEntityConverter#convert does double encoding.

For example, `org.springframework.security.oauth2.client.endpoint.OAuth2PasswordGrantRequestEntityConverter#convert` this method gets token uri f

[2020-10-05 09:19] bbednarek opened #9093 "Extend JwtIssuerReactiveAuthenticationManagerResolver"
**Expected Behavior**

Allow to supply custom:
* `Converter<ServerWebExchange, Mono<String>> issuerConverter`

into `JwtIssuerReactiveAuthenticationManagerResolver`

**Current Behavior**

`private final Converter<ServerWebExchange, Mono<String>> issuerConverter` is hardcoded and there is no way to supply own implementation.

[code]

**Context**

I am migrating my project from single tenant to mult

[2020-10-05 10:54] bbednarek commented on #9093
After digging into the code I managed to solve it by implementing

[code]

and passing it into `JwtIssuerReactiveAuthenticationManagerResolver`

[code]

[2020-10-05 10:54] #9093 closed

[2020-10-05 12:29] chriskn opened #9094 "Refreshing expired OAuth token leads to failing requests with ServerOAuth2AuthorizedClientExchangeFilterFunction using RemoveAuthorizedClientReactiveOAuth2AuthorizationFailureHandler"
Hi, I am trying to configure a OAuth 2.0 aware WebClient using ServerOAuth2AuthorizedClientExchangeFilterFunction and have issues with expiring tokens.

**Spring (security) version: 5.3.4**

## Current behavior:
If a token expires the RemoveAuthorizedClientReactiveOAuth2AuthorizationFailureHandler deletes the client and an error is returned leading to a failing request. For the following requests

[2020-10-05 15:47] MichaelVetter opened #9095 "Add OpenSaml 4 support"
Please upgrade to OpenSaml 4 libraries. Currently the latest version in the Shibboleth repository is 4.0.1.
OpenSaml 3 will reach EOL soon and depends on some library versions with security issues:
https://shibboleth.1660669.n2.nabble.com/Security-issue-on-Java-OpenSaml-Library-td7646686.html
Furthermore the dependencies of OpenSaml have been cleaned up:
https://issues.shibboleth.net/jira/browse/O

[2020-10-05 16:06] jzheaux commented on #9091
Thanks for getting in touch! It feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/), though please check out [the documentation about opaque tokens](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2resourceserver-opaque-minimaldependencies). We prefer to [use GitHub issues only for bugs and enhancements](https://g

[2020-10-05 16:06] #9091 closed

[2020-10-05 16:29] jzheaux commented on #9020
Sorry, @arvindkrishnakumar-okta, I'm still unclear what you are trying to achieve. The code snippet seems circular since `oauth2ResourceServer().jwt()` is the thing that adds the `JwtAuthenticationProvider`.

It seems you'd want to use your own application environment, not the configurer's internal state, to determine JWT or Opaque Token.

[2020-10-05 17:05] jzheaux commented on #9095
Since we'll be supporting Spring Security 5.5 longer than OpenSAML 3 will be supported, it might be better to add support instead of upgrade.

[2020-10-05 17:10] jzheaux commented on #8196
It's yours, @akohli96, thanks for volunteering!

[2020-10-05 17:58] sandeepvedavyas commented on #9091
Hello @jzheaux, Thank you for having a look at the issue, I have already posted it on stack overflow with the link https://stackoverflow.com/questions/64188835/how-to-to-configure-resource-server-with-custom-auth-server-for-token.

I even went through the documentation and sample code https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2resourceserver-opaque i couldn't

[2020-10-06 03:27] akaQZM commented on #7714
请问你是如何区分在authorizationRequestCustomizer中区分标准oauth2 provider与非标准的oauth2 provider？

[2020-10-06 08:48] codecracker2014 commented on #7537
Any suggestions on Servlet API dependency? Servlet API 5.0.* yet to be released with support of SameSite, we should wait for that release to implement this feature.

[2020-10-06 11:49] evgeniycheban commented on #8900
@jzheaux I've updated the PR, please take a look.

[2020-10-06 12:02] AbstractConcept opened #9096 "Support customization of JwtAuthenticationConverter"
**This issue is related to @jzheaux as he requested some of the changes from PR #9005 to be moved to a separate ticket.**
**On-hold until 9005 is merged.**

**Expected Behavior**

It should be possible to override / customize  JwtAuthenticationProvider inside JwtIssuerAuthenticationManagerResolver class, in a multi-tenant environment, so that the end-user can set non-standard behavior that may be

[2020-10-06 12:21] mluppi opened #9097 "Convenience authentication handlers returning an HTTP status"
**Expected Behavior**

- There exists an implementation of `AuthenticationFailureHandler` which returns an HTTP status code of `401 Unauthorized` by default and can be configured to return a user-defined HTTP status code.
- There exists an implementation of `AuthenticationSuccessHandler` which returns an HTTP status code of `200 OK` by default and can be configured to return a user-defined HTTP st

[2020-10-06 15:34] jgrandja commented on #9008
Closed via dd5baf9

[2020-10-06 16:43] jgrandja commented on #9063
@apamildner If you need access to the `HttpServletRequest`  to determine which `scope`'s the client needs to request, then you need to provide a custom `OAuth2AuthorizationRequestResolver`. The `setAuthorizationRequestCustomizer()` would not work for your use case since you don't have access to `HttpServletRequest` (**NOTE:** You can also access `HttpServletRequest` via `RequestContextHolder`).

T

[2020-10-06 16:43] #9063 closed

[2020-10-06 17:59] jzheaux commented on #9096
Thanks for logging this ticket, @AbstractConcept

I agree that customizing how the underlying `AuthenticationManager` is resolved may be valuable. But, I think that exposing `JwtAuthenticationConverter` is too narrow. What if I need to customize the way the `JwtDecoder` is constructed?

Instead of taking a `JwtAuthenticationConverter` in the constructor, it would address more use cases to take an

[2020-10-06 19:01] jgrandja commented on #9094
Thanks for the report @chriskn.

It's not that easy to simply create a new `OAuth2AuthorizedClient` with a refreshed (or renewed) access token. For example, if the client was authorized via the `authorization_code` grant, then the flow must be triggered so the user can re-authorize the client during the consent screen.

Since the application knows which flow the `OAuth2AuthorizedClient` is configu

[2020-10-06 19:01] #9094 closed

[2020-10-06 19:22] jgrandja commented on #9092
Thanks for the report @mayur9991

This is only an issue when the realm name has a space, e.g. "Test OIDC".
However, if the realm name was changed to "TestOIDC", then there is no issue.

Furthermore, the double-encoding happens in `UriComponentsBuilder`, which is a Spring Framework component.

I would recommend renaming the realm name to NOT have a space to get around this, which I feel makes a lot

[2020-10-06 19:22] #9092 closed

[2020-10-06 19:39] jgrandja commented on #9090
@interested-developer It's possible that Google and Facebook don't support the `end_session_endpoint` provided in [OpenID Provider Configuration Response](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationResponse). This would be the reason why `OidcClientInitiatedLogoutSuccessHandler` is not logging out the user at the provider.

As an FYI, questions are better suite

[2020-10-06 19:39] #9090 closed

[2020-10-06 19:48] swarupdonepudi commented on #9040
thanks a lot for posting your solution. helped me today.

[2020-10-06 20:17] jgrandja commented on #9043
@bvklingeren Yes, the order does matter. Change it to:

[code]

That way, if the access token is expired during the check in `PasswordReactiveOAuth2AuthorizedClientProvider`, it will return `null` and allow the `RefreshTokenReactiveOAuth2AuthorizedClientProvider` to refresh the expired access token.

However, if the refresh token is also expired/invalid then the default `ReactiveOAuth2Authorizatio

[2020-10-06 20:17] #9043 closed

[2020-10-06 20:29] sandeepvedavyas commented on #9091
@jgrandja any inputs on this issue please, i couldn't figure out myself.

[2020-10-06 20:36] jgrandja commented on #8995
@ttddyy

As mentioned in previous comment...

We might consider extracting the `SecurityReactorContextConfiguration.SecurityReactorContextSubscriber.SECURITY_REACTOR_CONTEXT_ATTRIBUTES_KEY` to another class/interface so it's publicly accessible. Do you have a suggestion?

[2020-10-06 20:39] jzheaux opened #9100 "Resource Server should identify unauthorized REST requests like HTTP Basic does"
When a web application is configured for a browser-based authentication mechanism in addition to Resource Server, empty unauthenticated requests default to the browser-based mechanism.

For example, if an application does

[code]

And then a REST request is made like so:

[code]

Then the response will be a 302 instead of a 401.

The reason is because `OAuth2ResourceServerConfigurer` registers its

[2020-10-06 20:43] jgrandja commented on #9091
@sandeepvedavyas Please see this [post](https://spring.io/blog/2018/01/30/next-generation-oauth-2-0-support-with-spring-security).

The new OAuth 2.0 Client support is in Spring Security since 5.0. See the [reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2client).

[2020-10-06 20:57] jgrandja commented on #7808
@j-gurda

I can't entirely agree that the state parameter is meant to be used internally by the client. It's part of OAuth2 specification, and of course, one of its roles is to prevent CSRF.

Yes, I'm aware of that. The client has been implemented to spec, as defined in [4.1.1.  Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.1).

Here is what the spec states:

         RECO

[2020-10-06 21:29] rwinch commented on #9061
Thanks for the report @afattahi54! Spring Security 5.4.0 migrated to the [new version convention](https://spring.io/blog/2020/04/30/updates-to-spring-versions), so the version should be `5.4.0`  (no `.RELEASE`).

Ideally you use the Maven bom approach:

[code]

or if you aren't using a bom

[code]

[2020-10-06 21:29] #9061 closed

[2020-10-06 22:20] car51901 opened #9101 "Add support for JVM proxy system properties to the Oauth2 Client support, when creating RestTemplates"
**Expected Behavior**

Spring Security OAuth2 clients work when the authorization server/provider, e.g. Okta, have to be accessed through a proxy server, as when running app on a corporate network.  Oauth2 Clients should honor/support the JVM proxy system proprties, e.g. https.proxyHost, https.proxyPort.

**Current Behavior**

In older versions of Spring Security  (5.0.8) and Spring Boot (2.0.x),

[2020-10-06 22:46] jzheaux commented on #7570
Sounds good, @yuezk. If you are having trouble with Maven or Gradle, I'd recommend posting a question to Stack Overflow for greater visibility. Feel free to post the link here, if you like, so others having the same trouble can follow that conversation.

[2020-10-07 03:26] mayur9991 commented on #9092
@jgrandja Thanks for the update.

Yes, If a space is removed from realm name, then there is no issue as URIs will not have any character which requires encoding.

Yes, that is also what we recommend as well, however we are migrating from spring-security-oauth to spring-security and existing enterprise customers who are already using our integration with keycloak, it would not be ideal upgrade scen

[2020-10-07 08:00] apamildner commented on #9063
Thank you for answering, this seems like a better solution.

[2020-10-07 08:57] sandeepvedavyas commented on #9091
@jgrandja thank you for the information , I have switched to spring security 5.4 and am trying to do something as below

package com.example.demo.config

import org.springframework.boot.autoconfigure.security.oauth2.resource.OAuth2ResourceServerProperties
import org.springframework.boot.context.properties.ConfigurationProperties
import org.springframework.boot.web.client.RestTemplateBuilder
import

[2020-10-07 11:00] tt4g commented on #5766
This is the big WebFlux and MVC difference.
I wasted a lot of time debugging the reason why CSRF tokens were not found in the cookie.

[2020-10-07 12:11] jgrandja commented on #9091
I still see classes from Spring Security OAuth 2.x, e.g. `OAuth2RestTemplate`, `ClientCredentialsResourceDetails`

Your code still needs to be migrated to Spring Security 5.x classes.

I provided you a link in previous comment to the reference. Please go through it to understand usage of client and resource server. It is all documented so you will find it there.

Here are a couple of samples:

htt

[2020-10-07 12:36] max91 commented on #4479
Hello =)

Faced a similar problem. After debugging, I found out that if the JSESSIONID cookie is secure in the browser, then the spring cannot install a new cookie and, accordingly, after login, resets the context to anonymous. I noticed this problem in google chrome. That being said, everything works well in safari. I checked on different versions of spring boot from 2.1.1 to 2.3.3, the problem d

[2020-10-07 18:40] rwinch opened #9103 "Update to Spring 4.3.28.RELEASE"
Update to Spring 4.3.28.RELEASE

[2020-10-07 18:42] spring-issuemaster commented on #9103
Fixed via 2aa09d11e29b86e47a66284905b6a074a06a1976

[2020-10-07 18:42] #9103 closed

[2020-10-07 18:45] rwinch commented on #6412
We aren't going to do this change as 4.2.x is EOL in December and the dependency is only used for testing.

[2020-10-07 19:14] jzheaux opened #9104 "Update to Spring Boot 2.2.10.RELEASE"

[2020-10-07 19:14] jzheaux opened #9105 "Update to Google App Engine 1.9.82"

[2020-10-07 19:14] jzheaux opened #9106 "Update to AspectJ 1.9.6"

[2020-10-07 19:27] jzheaux commented on #9104
Closed via 2f19e095315c7a36efc87bc2dfef6124cee2eb54

[2020-10-07 19:27] #9104 closed

[2020-10-07 19:27] jzheaux commented on #9105
Closed via 2b423b3505fba66d7864ae0e41bce488ac56afcb

[2020-10-07 19:27] #9105 closed

[2020-10-07 19:27] jzheaux commented on #9106
Closed via 5bc0957d547646cf889bfe0ecf11923a4a186f2d

[2020-10-07 19:27] #9106 closed

[2020-10-07 21:59] jzheaux opened #9107 "Update to Spring Boot 2.4.0-M3"

[2020-10-07 21:59] jzheaux opened #9108 "Update to Spring JavaFormat 0.0.25"

[2020-10-07 21:59] jzheaux opened #9109 "Update to Google App Engine 1.9.82"

[2020-10-07 21:59] jzheaux opened #9110 "Update to AspectJ 1.9.6"

[2020-10-07 21:59] jzheaux opened #9111 "Update to Kotlin 1.4.10"

[2020-10-07 21:59] jzheaux opened #9112 "Update RSocket Sample to RSocket 1.1.0-M2"

[2020-10-07 22:40] #9107 closed

[2020-10-07 22:40] #9108 closed

[2020-10-07 22:40] #9109 closed

[2020-10-07 22:40] #9110 closed

[2020-10-07 22:40] #9111 closed

[2020-10-07 22:40] #9112 closed

[2020-10-08 00:40] ttddyy commented on #8995
I don't have any specific candidate class/interface for holding the key.
Probably new class/interface.

Just quickly saw the module structure, I think either `spring-security-oauth2-core` or `spring-security-web` module seems to be a good place.

They are available to reference the key to
- `oauth2-client` module for `ServletOAuth2AuthorizedClientExchangeFilterFunction`
- `oauth2-resource-server`

[2020-10-08 01:55] tt4g opened #9113 "[WebFlux] The CSRF token will change If subscribe to `Mono<CsrfToken>` more than once in a single request"
**Describe the bug**

I read #7719 and added a `SubscribeCsrfTokenWebFilter` that actively subscribe `Mono<CsrfToken>`.
However, if `Mono<CsrfToken>` is subscribed to after going through the `SubscribeCsrfTokenWebFilter` and during view rendering, the CSRF token will regenerated.

**To Reproduce**

The following code can reproduce the problem.

[code]

If the `ServerHttpRequest` did not have a CSR

[2020-10-08 02:03] tt4g commented on #9113
I believe that adding `Mono#cache()` to `CsrfWebFilter#generateToken(ServerWebExchange)` will get around this problem.
Is there any reason why this can't be done?

[code]

[2020-10-08 08:26] MasatoshiTada opened #9114 "ServletOAuth2AuthorizedClientExchangeFilterFunction should have a easy way to set timeout"
**Expected Behavior**

`ServletOAuth2AuthorizedClientExchangeFilterFunction` should have a way to set timeout.

**Current Behavior**

Current `ServletOAuth2AuthorizedClientExchangeFilterFunction` have no way to set timeout.

`ServletOAuth2AuthorizedClientExchangeFilterFunction` uses `RefreshTokenOAuth2AuthorizedClientProvider`, which has no way to set timeout to `RestTemplate` in its internal `Def

[2020-10-08 16:09] Gayathri92 opened #9115 "Add NameIdFormat support to RelyingPartyRegistration"
`RelyingPartyRegistration` contains [SAML 2.0 Metadata](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf) for both the relying party and its associated asserting party.

It would be nice to include `NameIDFormat` support in both `RelyingPartyRegistration` and `RelyingPartyRegistration.AssertingPartyDetails`. The application could then communicate a set of preferred formats t

[2020-10-08 19:32] tadgh commented on #9095
Would be nice to see get this upgraded to OpenSaml 4 in a minor version, if at all possible. CVE scanners are lighting up Santuario/Xmlsec as well as Cryptacular, which are dependencies of OpenSaml.

CVE-2020-7226
CVE-2019-12400

[2020-10-09 01:33] chenrujun commented on #8007
@jzheaux .

I got it. Thank you very much for your detailed explanation.

[2020-10-09 03:30] okhowang commented on #7714
这个是在`OAuth2AuthorizationRequest`构造之前就要在业务逻辑里自己确定，然后调用不同的Customizer处理

[2020-10-09 06:36] MasatoshiTada commented on #9114
Sorry, I found a way to set timeout. But, it's so verbose.

[code]

I think Spring Security should have an easier way.

[2020-10-09 20:28] #7160 closed

[2020-10-10 08:14] qcastel opened #9116 "ReactiveRemoteJWKSource public"
**Expected Behavior**

Having ReactiveRemoteJWKSource public

**Current Behavior**

ReactiveRemoteJWKSource is package only accessible

**Context**

As it turns up, we are using the nimbus library for validating JWTs and we got the same requirements of having a RemoteJWKSet using Spring reactive.
Seems you did all the hard work, it is just not accessible. Would it be possible to make it public?

b

[2020-10-10 09:36] yumindayu opened #9117 "jwt-set-uri set the uri from the registration center address"
Hi,
I want to set jwt-set-uri as the address of the service registration center. Now I can only implement load balancing by myself. Is there any other way to avoid a single point of failure? like use spring cloud gateway method "lb://xxxx/rsa/public"

[2020-10-12 06:39] sandipchitale opened #9119 "Implement the sample showing the implementations of the recommendations in https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-07#section-6.2"
**Expected Behavior**

The RFC https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-07 recommends use of:

**JavaScript Applications with a Backend**

   and issued its own client secret.  The Application Server SHOULD use
   the OAuth 2.0 Authorization Code grant with PKCE to initiate a
   request for an access token.
   Security of the connection between code running in the browser an

[2020-10-12 08:43] dawi commented on #8990
I am currently trying to migrate from https://spring.io/projects/spring-security-saml to the new spring security saml integration, but I am getting endless redirects after the IDP login. Now I have seen, this simplification and gave it another try, but I am still facing the endless redirects. Maybe it would be great to provide a minimal Keycloak example as well. :)

[2020-10-12 12:35] akuma8 commented on #8185
Hi @jzheaux,
Is this feature released? If yes, which version of Spring Security? I would like to migrate my current configurations to this one.
Also I would like to contribute again, if you have issues for new committers please let me kow.

[2020-10-12 18:53] mattjamison opened #9120 "spring-security 5.4.1 NimbusJwtDecoder triggering java.lang.NoSuchMethodError: com.nimbusds.jose.Header.toJSONObject()Ljava/util/Map"
I'm getting java.lang.NoSuchMethodError: com.nimbusds.jose.Header.toJSONObject()Ljava/util/Map;, when using spring security 5.4.1 in a SpringBoot project without also pulling in the latest nimbus-jose-jwt (9.0.1) ?

https://github.com/spring-projects/spring-security/blob/366146ff8077dc83441e5a0b4e1f42ba3c02f08e/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecod

[2020-10-12 22:37] jzheaux opened #9121 "Tests should not combine Authentication and @AuthenticationPrincipal"
The sample controllers in `MiscHttpConfigTests` and `OpaqueTokenDslTests` erroneously use `@AuthenticationPrincipal` and `Authentication` together:

[code]

The controllers should remove the `@AuthenticationPrincipal` annotation.

[2020-10-12 22:40] jzheaux opened #9122 "Update to Gradle 6.6.1"

[2020-10-12 23:39] jzheaux opened #9123 "spring-security-test should include jackson-datatype-jsr310 as a test dependency"
Given https://github.com/FasterXML/jackson-databind/issues/2683 and the fact that `5.5` will likely use Jackson 2.12 or higher, `spring-security-test` should include `jackson-datatype-jsr310` as a test dependency in order to register (de)serializers for `java.time.*` classes.

[2020-10-12 23:48] #9028 closed

[2020-10-12 23:48] #9122 closed

[2020-10-12 23:48] #9121 closed

[2020-10-12 23:48] #9123 closed

[2020-10-12 23:55] jzheaux opened #9124 "Update snapshot build dependencies"
The snapshot build should run against the latest `Neumann-BUILD-SNAPSHOT` and the latest Kotlin.

[2020-10-13 00:02] #9124 closed

[2020-10-13 00:11] spring-issuemaster opened #9125 "Tests should not combine Authentication and @AuthenticationPrincipal"
Backport of gh-9121

[2020-10-13 00:11] spring-issuemaster commented on #9125
Fixed via 93c37e6b154816cbfae6cd5c134e5916e62b5d02

[2020-10-13 00:11] #9125 closed

[2020-10-13 00:12] spring-issuemaster opened #9126 "Tests should not combine Authentication and @AuthenticationPrincipal"
Backport of gh-9121

[2020-10-13 00:12] spring-issuemaster commented on #9126
Fixed via 0462c422909d9c3f57d2823d58fd531934851216

[2020-10-13 00:12] #9126 closed

[2020-10-13 08:36] dawi commented on #8685
I am also interested in the migration path documentation. I am currently trying to migrate from spring-security-saml to the new spring security saml integration, but I am getting endless redirects after the IDP login. Maybe it would be great to provide a minimal Keycloak example as well. :)

[2020-10-13 09:03] kouroups opened #9127 "IllegalStateException when session is already invalidated"
In AbstractPreAuthenticatedProcessingFilter.java in the following block of code

`if (AbstractPreAuthenticatedProcessingFilter.this.invalidateSessionOnPrincipalChange) {
				SecurityContextHolder.clearContext();
				HttpSession session = request.getSession(false);
				if (session != null) {
					AbstractPreAuthenticatedProcessingFilter.this.logger.debug("Invalidating existing session");
					sessi

[2020-10-13 11:26] RavindraSengar commented on #6778
Hi,

I have similar use case.
One Backend API endpoint/resource
2 consumers of this BE API both will have their corresponding OAUTH2/OKTA authorization servers. Each with a different RSA key configured for creation of the JWT tokens.
In BE API, we want to accept tokens from either auth server and authenticate.
Problem - BE API/Resource is configured to use only 1 set of security.oauth2.resource.jw

[2020-10-13 14:04] XhstormR opened #9129 "OAuth 2.0 login supports manual extraction of authorities like a resource server"
**Expected Behavior**
As stated in the [official documentation](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2resourceserver-jwt-authorization-extraction), resource server supports use JwtAuthenticationConverter to convert SCOPE_admin to ROLE_admin.

I use OpenID Connect in the oauth 2.0 client package for single sign-on, but found that it does not support JwtAuth

[2020-10-13 15:19] ceremo opened #9130 "ExceptionTranslationWebFilter does not support AnonymousAuthenticationWebFilter"
Hi,

The ExceptionTranslationWebFilter doesn't check if the authentication object of the ReactiveSecurityContextHolder is an AnonymousAuthenticationToken, only is checking if the authentication object is not null, because of this always is going to redirect to the ServerAccessDeniedHandler instead of the ServerAuthenticationEntryPoint when is anonymous.

This can be reproduced configuring the anon

[2020-10-13 22:04] jzheaux commented on #9120
Hi, @mattjamison, sorry you are having trouble, happy to help.

Spring Boot 2.3 uses and is tested against Spring Security 5.3. Likewise, Spring Boot 2.4 milestones use and are tested against Spring Security 5.4. You thus may want to wait on upgrading to Spring Security 5.4 until you upgrade to Spring Boot 2.4 when they release.

If there's a feature from Spring Security 5.4 that you need right aw

[2020-10-13 22:04] #9120 closed

[2020-10-13 22:15] jzheaux commented on #8185
Yes, @akuma8, it was released in 5.4.0-M1. The GA version (5.4.0) released in September.

It would be great to get more contributions from you! Please check for [the ideal-for-contribution label](https://github.com/spring-projects/spring-security/issues?q=is%3Aissue+is%3Aopen+label%3A%22status%3A+ideal-for-contribution%22) for some ideas. Currently, I don't see any OAuth 2.0 ones, but there's [a S

[2020-10-13 22:36] jzheaux commented on #6778
Hi, @RavindraSengar. Spring Boot does not at this time support listing multiple issuers as application properties.

Spring Security does support [multiple issuers](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2resourceserver-multitenancy), though, with `JwtIssuerAuthenticationManagerResolver`, which sounds like it will suit your needs.

To address your other quest

[2020-10-14 06:44] jgrandja commented on #9117
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

[2020-10-14 06:44] #9117 closed

[2020-10-14 13:47] mattjamison commented on #9120
This makes total sense, I just naively thought there might be a dependency that needed to be updated somewhere.  I did pull in the dep myself and that worked great.  Thanks for the detailed explanation!

[2020-10-14 15:35] jzheaux commented on #8990
Hi, @dawi, sorry to hear you're having trouble.

I've recently tested the existing Boot sample against a local Keycloak instance using Spring Security 5.4.1, and I was able to do it without specialized configuration. Because of that, I'm not sure that a new sample will help much.

Two things might help here for your situation, though.

First, endless redirects are usually caused when the relying p

[2020-10-14 16:17] jzheaux commented on #9115
Thanks for reaching out, @Gayathri92. Would you please add some more detail about your use case?

[2020-10-14 16:26] #6412 closed

[2020-10-14 16:36] jzheaux opened #9131 "OpenSamlAuthenticationProvider should decrypt attributes"
`OpenSamlAuthenticationProvider` decrypts `<EncryptedAssertion>` and `<EncryptedID>` elements. It should also decrypt `<EncryptedAttribute>` elements.

[2020-10-14 18:57] dawi commented on #8990
Hi @jzheaux, thank you for your quick response. :)

You are right, the redirect loop is caused by forwarding to `/error`.

Therefore I have updated the configuration of my minimal example as follows:

[code]

After login, I now the Browser displays "http://localhost:8080/saml/SSO" with a Whitelabel Error Page:

I also adjusted the log levels as you suggested, but I still have no clue, what the iss

[2020-10-14 23:15] #9044 closed

[2020-10-14 23:15] #9131 closed

[2020-10-15 07:22] manishbansal8843 commented on #6856
I also had the same requirement and implemented this fix. Further, i have analyzed the spring code and tested it thoroghly. Seems like a good hack. Below is the java code for reference i used.

[code]

[2020-10-15 12:06] patpatpat123 opened #9132 "java.lang.ClassCastException: class sun.security.x509.X509CertImpl cannot be cast to class java.lang.String (sun.security.x509.X509CertImpl and java.lang.String are in module java.base of loader 'bootstrap')"
**Describe the bug**
a.w.r.e.AbstractErrorWebExceptionHandler : [5f49b760/1-1]  500 Server Error for HTTP GET "/test"

[code]

**To Reproduce**
[code]

**Expected behavior**
Not the 500 error. I was expected this to work, i.e. can do the X509 certificate validation.

[code]

**Sample**

[code]

[2020-10-15 14:57] dawi opened #9133 "Customizing the metadata endpoint does not work"
**Describe the bug**

The [documentation](https://docs.spring.io/spring-security/site/docs/5.4.1/reference/html5/#servlet-saml2login-metadata) states that the metadata endpoint can be changed by like this:

[code]

But it does not work as expected because the registration id resolver returns `metadata` as registration id due to the used ant matcher.

https://github.com/spring-projects/spring-secur

[2020-10-15 15:44] jgrandja commented on #9129
@XhstormR Have you seen the reference on [Mapping User Authorities](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2login-advanced-map-authorities)?

There are 2 strategies that you can leverage:

1) Using a `GrantedAuthoritiesMapper`
2) Delegation-based strategy with `OAuth2UserService`

Does this help?

[2020-10-15 15:50] XhstormR commented on #9129
Sorry, I miss this, I ended up using OAuth2UserService. Thanks.

[2020-10-15 15:51] #9129 closed

[2020-10-15 18:11] sangonzal commented on #4368
@jzheaux Thanks for explaining, your comment was helpful in understanding the steps involved.

I have not been able to find an example for what a `WebSecurityConfigurerAdapter` would look like in the case where:
1) I have a custom filter (for example a JWT filter)
2) Would like to exclude a URL for steps 2 and 3 in your comment, but not step 1

In other words, I have a URL where I'd like to avoid

[2020-10-15 19:54] jgrandja commented on #9114
@MasatoshiTada The custom configuration you outlined above is correct. I understand you feel it may be too verbose but as soon as you need to customize the underlying `RestTemplate` then this is the standard configuration.

If you didn't need to customize `RestTemplate` then you simply call the constructor `ServletOAuth2AuthorizedClientExchangeFilterFunction(ClientRegistrationRepository, OAuth2Aut

[2020-10-15 19:54] #9114 closed

[2020-10-15 20:07] jzheaux commented on #4368
Hi, @sangonzal. Usually, the best way is to ensure that your custom filter simply skips any request it doesn't care about. This is what several of the Spring Security filters do, like `LogoutFilter`.

You can achieve that using the `RequestMatcher` API. Your custom filter would do something like:

[code]

There are several implementations of `RequestMatcher` that can help your code describe what r

[2020-10-15 20:49] dawi opened #9134 "Automatically refresh saml metadata in configurable intervals"
**Expected Behavior**

The spring-security-saml extension provides a [`HTTPMetadataProvider`](https://docs.spring.io/spring-security-saml/docs/1.0.x/reference/html/configuration-metadata.html#configuration-metadata-idp-http) which is able to automatically refresh saml metadata in configurable intervals. It would be nice if this feature would also be supported by spring security.

**Current Behavio

[2020-10-16 07:35] brfrth opened #9135 "Make org.springframework.security.oauth2.jwt.JwtDecoderProviderConfigurationUtils methods public"
**Expected Behavior**

Access token validation passes on the Spring Security based resource server for an ADFS based OIDC provider.

**Current Behavior**

Access token validation fails with an issuer mismatch.

**Context**

I'm trying to create a custom JwtDecoder to work with an ADFS based Open ID Connect provider. Why does it have to be custom? ADFS uses the non-standard field `access_token_issu

[2020-10-16 12:51] oharsta commented on #9004
In release 5.4.x there is a hook to accomplish this:
[code]
This meets our requirements. Closing this issue.

[2020-10-16 12:51] #9004 closed

[2020-10-16 16:20] cmouttet opened #9136 "Bug with JwtValidators.createDefaultWithIssuer(String)?"
I found an odd behavior with JWT parsing and JwtValidators.

Scenario:

- Spring Boot OIDC client (for now a tiny web app, only displaying logged in user and some OIDC objects provided by Spring)
- Custom `JwtDecoderFacotry<ClientRegistration>` for ID-Token validation
- `JwtValidatorFactory` based on `JwtValidators.createDefaultWithIssuer(String)`

This worked well with Spring Boot version <= 2.2.

[2020-10-16 19:48] sangonzal commented on #4368
@jzheaux Thanks, breaking up the configuration solves the issue.

Follow up question creation of a `RequestMatcher` for a custom filter. I'm working on a Spring boot starter, and it would be nice if the my custom filter was able to tap into `RequestMatcher` set in `HttpSecurity` as opposed to having the user have to set it on the custom filter separately. In other words, I'd like Spring Security t

[2020-10-16 21:33] jzheaux commented on #9136
Thanks for the report, @cmouttet.

While OIDC says the `iss` claim is a URL, JWT says it's a StringOrURI. The difference in the RFCs is probably the source of the differing behavior.

I think it makes sense for `JwtIssuerValidator` to work for both. Would you be able to submit a PR that updates it to convert the issuer to a `String` before doing the comparison? I think that would mean no longer wr

[2020-10-16 21:35] jzheaux commented on #9004
@oharsta, glad to hear the new setter works for you! Thanks for your response.

[2020-10-16 23:01] jzheaux commented on #9134
I think that there are a couple of ways that you can achieve this with existing Spring components:

* First, you can create an instance of `RelyingPartyRegistrationRepository` where `findByRegistrationId` computes the `RelyingPartyRegistration` and then caches the results for a period of time, like with the `@Cacheable` annotation.

* Second, you can create an instance of `RelyingPartyRegistration

[2020-10-16 23:37] jzheaux commented on #9135
@brfrth, thanks for the detailed explanation.

The nice thing about keeping `JwtDecoderProviderConfigurationUtils` package-private is it gives a location for placing common code without needing to publish it as part of the Spring Security API. For now, I think it's best to keep it package-private.

Additionally, you might find that the utils class does quite a bit more than you need for your appli

[2020-10-16 23:37] #9135 closed

[2020-10-16 23:45] jzheaux commented on #8990
Glad you got it working, @dawi.

Correct, unless you are customizing the endpoint where your application wants to receive assertions, setting the `assertionConsumerServiceLocation` is unnecessary.

[2020-10-16 23:50] jzheaux commented on #9133
Thanks, @dawi, for the report. I think we should update the documentation.

The filter by default expects the `registrationId` to be part of the URL. For example, you can customize the URL like so:

[code]

Would you be able to provide a PR updating the documentation?

[2020-10-17 06:24] oharsta commented on #9004
@jzheaux, in order to unit test our  `ResponseAuthenticationConverter` I was forced to use trickery reflection to construct the package private `org.springframework.security.saml2.provider.service.authentication.OpenSamlAuthenticationProvider$ResponseToken`. You might want to make this inner static class `public`

[2020-10-17 14:29] saurabhgour commented on #5598
@nickbr23 @jgrandja

I still could'nt figure out how to customize the baseUri in the reactive stack. For the servlet stack I can customize it as follows:

`@Override
    protected void configure(HttpSecurity http) throws Exception {
        http
                .authorizeRequests(authorize -> authorize
                        .anyRequest().authenticated()
                )
                .oauth2L

[2020-10-18 11:21] dawi commented on #9133
Requiring the `registrationId` as part of the metadata URL would prevent transparent upgrades from spring-security-saml for those who have a metadata URL without `registrationId`, [which seems to be the default there](https://docs.spring.io/spring-security-saml/docs/1.0.x/reference/html/configuration-metadata.html#configuration-metadata-sp-generation).

I understand that `registrationId` is requir

[2020-10-18 20:26] dawi commented on #9134
Yes, it's fairly easy to create a simple `RelyingPartyRegistrationRepository` implementation.

I found one pitfall though: If you implement a custom `RelyingPartyRegistrationRepository` by implementing `RelyingPartyRegistrationRepository` and don't implement `Iterable<RelyingPartyRegistration>` too, then in line https://github.com/spring-projects/spring-security/blob/6714112961335adad004979f7e38f5

[2020-10-19 19:48] w8forme opened #9138 "XML-based configuration for Spring SAML2"
**Context**

In our current project we've been using [spring saml extension](https://github.com/spring-projects/spring-security-saml) for a couple of years. It works fine so far except this extension isn't supported anymore. Right now we are planning to migrate to Spring Security native implementation instead of using the outdated extension. We don't have Spring Boot and all our configs for Spring

[2020-10-19 22:07] Buzzardo opened #9139 "Create a Spring Security Cookbook"
**Expected Behavior**

Describe common scenarios that users of Spring Security encounter and show solutions for those scenarios.

**Current Behavior**

We do not have a cookbook at present.

**Context**

Some people benefit from a cookbook style of presentation. Hopefully, we can help a few more users than we would otherwise.

[2020-10-19 22:11] Buzzardo commented on #9139
PR 9140 has a first draft.

https://github.com/spring-projects/spring-security/pull/9140

[2020-10-20 07:00] reda-alaoui commented on #7126
Hi,

I have a use case for this feature. I have an OIDC issuer and a Spring application.
Among other security things, the Spring app needs to provide the following features:
- it should control the session duration itself
- protected images should be easy to load through an html *img* tag through their simple urls
- it should provide an *Authentication* object containing attributes absent from the

[2020-10-20 13:49] amergey commented on #8951
Would it help if I start a PR for this ?

[2020-10-20 16:07] larsw opened #9141 "Make JwtDecoderProviderConfigurationUtils methods public"
As a developer that needs to fine tune the JWT decoding process, it would be useful if this class and its members  `JwtDecoderProviderConfigurationUtils.getConfigurationForOidcIssuerLocation` and `JwtDecoderProviderConfigurationUtils.getConfigurationForIssuerLocation` were made public.

[2020-10-21 04:14] spolito commented on #4020
Hello, I have found that this issue is back.   I assume I should start a new issue since this thread is closed.

I am running the following versions:
<spring-boot.version>2.2.5.RELEASE</spring-boot.version>
<hibernate.version>5.4.12.Final</hibernate.version>

The LendingTransactionPermissionEvaluator is in the same Config as my Repo(s).  For most Repos there is no issue.  But when I use the Repo o

[2020-10-21 04:15] spolito commented on #4020
Sorry, I meant to post "TargetedPermissionEvaluator" instead of my custom name "LendingTransactionPermissionEvaluator"

[2020-10-21 04:24] spolito opened #9142 "Exposing Beans for defaultMethodExpressionHandler can prevent Method Security #4020 - IS BACK"
I find that this previously closed issue #4020 is back.  https://github.com/spring-projects/spring-security/issues/4020

It appears to be the same except that I only have trouble with one specific Repo, which happens to be of the same entity type as the entity that TargetedPermissionEvaluator is protecting.  The repo in question is autowired.  When I comment it out the TargetedPermissionEvaluator

[2020-10-21 17:21] dawi commented on #9138
Looks similar to https://github.com/spring-projects/spring-security/issues/8685.

[2020-10-21 19:32] dawi opened #9143 "Allow creating RelyingPartyRegistrations from Metadata XML"
**Expected Behavior**

Currently it is possible to create a `RelyingPartyRegistration` from Metadata-URL via

[code]

In case the IDP is not reachable, the application will not start successfully.

It would be nice to be able to create the `RelyingPartyRegistration` like this:

[code]

Then users could cache the IDP Metadata and use the cached Metadata during startup if IDP is not available.

[2020-10-21 21:54] luqmanulkhair commented on #5598
@nickbr23 @jgrandja can you please provide a documentation link, thanks!

[2020-10-22 03:44] MasatoshiTada opened #9144 "ServletOAuth2AuthorizedClientExchangeFilterFunction should have setAuthorizedClientManager() method"
**Expected Behavior**

`ServletOAuth2AuthorizedClientExchangeFilterFunction` should have `setAuthorizedClientManager()` method.

If so, it becomes a little easier to customize `RestTemplate` (e.g. setting timeout) in `ServletOAuth2AuthorizedClientExchangeFilterFunction`.

[code]

**Current Behavior**

When we customize `RestTemplate` (e.g. setting timeout) in `ServletOAuth2AuthorizedClientExchange

[2020-10-22 16:19] jgrandja commented on #5598
@saurabhgour @luqmanulkhair Here is a sample configuration:

[code]

Given the above configuration, the `URL` `http://localhost:8080/auth/custom/sso/google` would trigger the authentication for Google.

[2020-10-23 05:37] dawi commented on #9143
This is a duplicate of https://github.com/spring-projects/spring-security/issues/9028.
Great to see that it's already implemented. :)

[2020-10-23 05:38] #9143 closed

[2020-10-23 06:12] dawi commented on #9028
When will this feature be available? Could it be part of the next 5.4.2 release?

[2020-10-23 10:22] ryan13mt commented on #9028
I believe it will be in the 5.5.0 release

[2020-10-23 11:11] mschallar commented on #8758
I don't quite see the `toWWWAuthenticateHeader` in `BearerTokenError` or any super class.

In addition it would be nice if the `BearerTokenAuthenticationEntryPoint` class would not be final in order to extend it, otherwise just delegation is possible.

[2020-10-23 12:32] jgrandja commented on #9144
@MasatoshiTada I don't think this makes sense:

[code]

Passing in `ClientRegistrationRepository` and `OAuth2AuthorizedClientRepository` into the first constructor and then calling `setAuthorizedClientManager()`, which is composed of `ClientRegistrationRepository` and `OAuth2AuthorizedClientRepository`, will make it confusing to the user. A user should not have to associate `ClientRegistrationRepo

[2020-10-23 12:32] #9144 closed

[2020-10-23 15:40] luqmanulkhair commented on #5598
@jgrandja thanks for your response, Is this code for .authoriationEndpoint().baseurl() or for .redirectionEndpoint() .baseUri(""), my problem is to the redirect from authorization-server after login, I think I need to use authenticationMatcher(), I have implemented my custom logic but it not standardized.

Example:
redirect_url: custom/login       instead of  {baseUrl}/login/oauth2/code/{registrat

[2020-10-23 17:26] jgrandja commented on #5598
@luqmanulkhair The sample code provided is for `.authoriationEndpoint().baseurl() `.

For `redirectionEndpoint() .baseUri()`, that is correct, you need to configure `authenticationMatcher()`. The default `authenticationMatcher` is:

 `new PathPatternParserServerWebExchangeMatcher("/login/oauth2/code/{registrationId}")`

Configure this, with whatever path you require.

[2020-10-24 11:08] spc16670 opened #9148 "Unable to set refresh token expiry time when building OAuth2AccessTokenResponse"
I am implementing OAuth2AccessTokenResponseClient and I do not see a way of setting refresh token expiry time on OAuth2AccessTokenResponse...

**Describe the bug**
Unable to set refresh token expiry time when building OAuth2AccessTokenResponse

**To Reproduce**
OAuth2AccessTokenResponse.withToken(accessToken)
                .expiresIn(expiresIn)
                .refreshToken(refreshToken).build()

[2020-10-25 10:45] ron190 opened #9149 "Bypass CSRF protection: header X-XSRF-TOKEN and Cookie XSRF-TOKEN both set with any identical value triggers API instead of returning 403 Forbidden"
I agree that Cookie `XSRF-TOKEN` is set by the server and is not meant to be set on the client side, but...

**Describe the bug**
Set both header `X-XSRF-TOKEN` and Cookie `XSRF-TOKEN` to any identical value on client side triggers API endpoint instead of returning `403 Forbidden`.

**Expected behavior**
I would expect that when I set any wrong identical value on client side for both header `X-XSR

[2020-10-25 17:54] sdeleuze commented on #8143
@rwinch @eleftherias I have just merged `@Transactional` Coroutines support in Spring Framework (see https://github.com/spring-projects/spring-framework/commit/5429c7afebaa3255ea80197224023c29c7d552ec), where the changes should give you some hints about what to do on `PrePostAdviceReactiveMethodInterceptor` side.

Notice that Coroutines and Reactor conversion is context aware so this is automatica

[2020-10-26 15:37] jgrandja commented on #9148
@spc16670 This was just added last week. See #9146

[2020-10-26 15:37] #9148 closed

[2020-10-26 16:00] rwinch commented on #8979
Thanks @havinhphu188 Would you be interested in submitting a PR?

[2020-10-26 16:03] rwinch commented on #9048
Generally, the crypto support we provide is to support other pieces of Spring Security. At this time we do not aim to support general purpose cryptography. I'll leave this open, but without a change in philosophy (caused by a lot of up votes), I don't think this will be prioritized soon.

[2020-10-26 16:09] jgrandja commented on #9142
@spolito Can you please provide a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the issue and publish it to a GitHub repo. This will help us troubleshoot the issue.

[2020-10-26 16:14] rwinch commented on #8951
Thanks for the report an offer to create a PR! We'd love to get a PR from you.

[2020-10-26 16:18] mazenaissa opened #9150 "Persist login actions in database"
Hello,
I suggest that you offer a functionality that persists login actions in DB, for example table LoginDetails(username,lastConnectionDate). Once the user logs in, a row will be inserted in this table with the corresponding data.
I am available to give more information about this if needed.

Thanks;

[2020-10-26 16:22] jzheaux commented on #4368
I'm glad that worked for you, @sangonzal.

At this point, I think that we are getting a bit off the topic of the ticket here, which will make it trickier for community members who came for the specific issue found in this ticket.

I think your question is a good one and would be better answered via the [StackOverflow](https://www.stackoverflow.com) community. Please consider posting the question t

[2020-10-26 18:03] jzheaux commented on #9028
Hi, @dawi, thanks for your interest.

Spring Security follows [semantic versioning](https://semver.org/#semantic-versioning-200), so only bug fixes will go into 5.4.2. As @ryan13mt said, it will be [available in 5.5.0-M1](https://github.com/spring-projects/spring-security/milestone/189).

[2020-10-26 19:06] rwinch commented on #9149
This is expected behavior. When using a cookie for storing the CSRF token the client can change the value. However, the browsers' same origin policy ensures that an external site cannot change the value which means you are still protected from CSRF attacks.

If you don't want the value to be able to be changed, then you can use the default of storing the CSRF token in session.

[2020-10-26 19:06] #9149 closed

[2020-10-26 19:49] jzheaux commented on #9138
Thanks for the suggestion, @w8forme. I'm going to close this as a duplicate of #9012, but please feel free to comment over there if you'd like to add to the conversation.

[2020-10-26 19:49] #9138 closed

[2020-10-26 19:53] jzheaux commented on #9141
Thanks for reaching out, @larsw. For some background, note that this was discussed recently in https://github.com/spring-projects/spring-security/issues/9135#issuecomment-710697740.

To fine-tune the decoding process, you can expose a `JwtDecoder` as a `@Bean`, and Spring Security will use it. One implementation of `JwtDecoder`, `NimbusJwtDecoder`, ships with several configuration options.

What i

[2020-10-26 20:10] rwinch commented on #7568
Yes, but it won't happen until 6.0 which we don't have  branch for yet

[2020-10-26 22:36] ApRobot opened #9152 "It is not necessary to fetch all user sessions if unlimited sessions are set in the ConcurrentSessionControlAuthenticationStrategy."
**Expected Behavior**

In `ConcurrentSessionControlAuthenticationStrategy.onAuthentication`, If `maximumSessions` value settled to -1, which means there are no restrictions for user sessions count, then no need fetch all user sessions in that case. We should just skipping any following computations.

**Current Behavior**

`ConcurrentSessionControlAuthenticationStrategy.onAuthentication` start with

[2020-10-27 04:52] philwebb opened #9154 "@Order annotations cannot be used with @Bean methods"
Whilst looking at https://github.com/spring-projects/spring-boot/issues/23421 I noticed a few of our migrations use the `@Order` annotation on beans.

A common pattern would be:

[code]

and

[code]

I'm not convinced that these `@Order` annotations are working in these locations (or perhaps they're not supposed to be used that way).

Looking at the code, I think `WebSecurityConfiguration.setWebSe

[2020-10-27 08:56] ryan13mt commented on #9044
Hello @jzheaux  thanks for closing this issue and merging to master.

I am finding a problem with the polishing commit. You added a check in d0581c9#diff-e1434c9a229d033aa3fe922ab7b9637a54ba5a2521711e3b362e70bc7f787833R511 where you are checking if a response is signed and if true, doing the elements decryption. Is there a reason this check was added?

I believe this is not correct since there are

[2020-10-27 09:56] eleftherias opened #9155 "Invoke Kotlin MockMvc result matchers with parentheses"
As of Spring Framework 5.3, result matcher functions in Kotlin, like isOk() need to be
invoked with the parenthesis (isOk is not supported anymore).

[2020-10-27 09:58] #9155 closed

[2020-10-27 10:29] devnewton opened #9156 "Invalid nonce error due to hash / non hash compare ?"
org.springframework.security.oauth2.client.oidc.authentication.OidcAuthorizationCodeAuthenticationProvider.authenticate detects that nonce is invalid and throws exception, because it compares hashed nonce with raw nonce.

[code]

The line seems to expect nonce in the id token to be hashed, but I dont find evidence of this hash requirement in [OpenID Connect specification](https://openid.net/specs/

[2020-10-27 13:43] jgrandja commented on #9156
@devnewton The `nonce` parameter is hashed in [DefaultOAuth2AuthorizationRequestResolver](https://github.com/spring-projects/spring-security/blob/2abf59b695b3ad14719299ed17ff47b181eed802/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/DefaultOAuth2AuthorizationRequestResolver.java#L265).

The hashed `nonce` is then passed in the Authentication Request and the prov

[2020-10-27 13:43] #9156 closed

[2020-10-27 13:49] #9152 closed

[2020-10-27 14:00] dawi commented on #9133
Another thing I don't understand is that currently the URL should contain a `registrationId` placeholder like this:

[code]

but this pattern seems not to be used to parse the `registrationId` in `Saml2MetadataFilter`.
Instead the `registrationId` is parsed via `RegistrationIdResolver` in `DefaultRelyingPartyRegistrationResolver` which uses the non configurable URL pattern `/**/{registrationId}`.

[2020-10-27 22:52] mkrasuski opened #9158 "RoleHierarchy is ignored with GlobalMethodSecurityConfiguration and @Secured annotation"
**Describe the bug**
Using `@EnableGlobalMethodSecurity(securedEnabled = true)` does not work with injected `RoleHierarchy`
For `@Secured` based version of interceptor the only Voters configured in `AffirmativeBased` are `RoleVoter` and `AuthenticatedVoter`. Injected `RoleHierarchy` is only used with Spel and `@PreAuthorize`

sample DEBUG logs are
[code]

[2020-10-28 09:08] devnewton commented on #9156
Thank you !

[2020-10-28 10:26] akuma8 opened #9159 "Add 'filterChainMatcher' as an alias of 'requestMatcher'"
When configuring security rules, it will be very helpful to understand what we are configuring.
Example with this kind of configuration :
[code]
To help beginners to understand what they are doing, it will be helpful to name explicitly what we configure:

[code]
Spring Security is not easy to understand, naming things in a clear way could only simplify the life of users, especially beginners.

[2020-10-28 14:22] rwinch commented on #9158
Thanks for the report mkrasuki. Would you be interested in submitting a pull request? If not, could you at least put together a complete minimal example demonstrating the problem?

[2020-10-28 14:30] rwinch commented on #9159
Are you speaking about making it more explicit between the matchers on `HttpSecurity` and the authorization rules?

[2020-10-28 20:20] #9136 closed

[2020-10-28 20:33] jzheaux commented on #9004
@oharsta, can you clarify what is package-private that you need to be public? `ResponseToken` is already public.

[2020-10-28 20:37] jzheaux commented on #9132
Thanks for the extra detail here, @patpatpat123. Would you be able to consolidate this into a GitHub sample to simplify reproducing it locally?

[2020-10-28 20:52] jzheaux commented on #9127
This seems reasonable, but I'd like to better understand your specific use case. Can you explain under what circumstances the existing session is getting invalidated before it reaches this filter?

[2020-10-28 20:55] #8196 closed

[2020-10-28 21:14] jzheaux commented on #9044
Thanks, @ryan13mt, for the feedback. If the response is unsigned, there is [no guarantee that the encryption was not altered in transit](https://www.oasis-open.org/committees/download.php/56776/sstc-saml-core-errata-2.0-wd-07.pdf) (see section 6.2), which appears unsafe to me.

Can you explain why you need the response to remain unsigned? Or, that is, what's the rationale for signing and then encr

[2020-10-28 21:15] spring-issuemaster opened #9161 "Remove empty Appendix Section from docs"
Backport of gh-8196

[2020-10-28 21:15] spring-issuemaster commented on #9161
Fixed via 9ab21f88cd98b90b1b5d69d92a306e224797e269

[2020-10-28 21:15] #9161 closed

[2020-10-28 22:04] mkrasuski commented on #9158
I've created demo app [here](https://github.com/mkrasuski/bug-9158.git)
Hope this helps

[2020-10-28 22:21] jzheaux commented on #9097
Thanks for the suggestion, @mluppi.

I'm not really understanding the use case just yet. If you are in a REST-type scenario, why are you using form login? It seems like an uncommon scenario, or am I misunderstanding?

[2020-10-28 22:31] jzheaux opened #9162 "5.4.x Snapshot Build Should Point to Other Maintenance Branches"
Currently, the 5.4.x snapshot build points to the latest Spring 5+, Reactor 1.1+, and others that would imply a minor release in a maintenance branch.

They should be adjusted as follows:

Spring 5+ -> Spring 5.2+
Reactor 2020+ -> Reactor Dysprosium-BUILD-SNAPSHOT
RSocket 1.1+ -> RSocket 1.0+
Spring Boot 2.4+ -> Spring Boot 2.3+

This is similar to what was already done in 66ceb4dc1093d5d746af7a4f

[2020-10-28 22:32] jzheaux commented on #9162
Closed via 574073d93f79a97acfcfdb6488228f7a7536230b

[2020-10-28 22:32] #9162 closed

[2020-10-28 22:48] jzheaux commented on #3719
@LajosPolya can you clarify what you mean by "the exact same problem"? I believe it was resolved that there was nothing to do on this ticket, so we'll need more information to help point you in the right direction.

[2020-10-28 23:23] jzheaux commented on #8999
Thanks, @aclemons, for the suggestion. Would you be able to provide a PR?

[2020-10-29 00:42] aclemons commented on #8999
I've linked a PR now.

[2020-10-29 00:50] LajosPolya commented on #3719
@jzheaux If I recall correctly, if I annotated a test class with WithUserDetails annotation then only the first API call I made would be authenticated. Every consecutive API call would have an empty SecurityContext so I would have to manually set it.

[2020-10-29 05:35] oharsta commented on #9004
@jzheaux The constructor of `OpenSamlAuthenticationProvider.ResponseToken` is [not public](https://github.com/spring-projects/spring-security/blob/master/saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProvider.java#L925 ).

[2020-10-29 07:21] yerzhant opened #9164 "Method level @PreAuthorize does not overwrite a type level one"
According to [docs](https://docs.spring.io/spring-data/rest/docs/current/reference/html/#security.pre-and-post) method level security settings must overwrite repository level settings. But it fails when it comes to URI conversion:

`Failed to convert from type [java.net.URI] to type [kz.toyville.back.catalog.domain.entity.Category] for value '/category/1'; nested exception is org.springframework.s

[2020-10-29 08:00] ahahu commented on #8498
Just experienced the very same issue and would like to note that the above comment seems a bit misleading: while the upgrade is performed only once, the resulting performance impact happens on every of the following authentications.
So in a very typical scenario with http basic in-memory authentication based on "{noop}" encoded passwords for internal service communication, this creates a really he

[2020-10-29 08:17] ryan13mt commented on #9044
@jzheaux i agree completely. Saying that, i dont feel the Spring library should block something that is still technically allowed by the SAML protocol.

I found that these scenarios are all allowed by the protocol although some should never be used due to the obvious security concerns:

1. An unsigned SAML Response with an unsigned Assertion
2. An unsigned SAML Response with a signed Assertion
3.

[2020-10-29 11:40] kouroups commented on #9127
Hey Josn,  I tried to reproduce it using various ways but I wasn't able, so I suspect is race conditions. But I see it quite often happening in logs. And looks odd to me to invalidate an existing invalidated session

[2020-10-29 16:57] rwinch commented on #8498
@ahahu As mentioned previously, you can expose a `NoOpPasswordEncoder` Bean to go back to the previous behavior. The only implementation of `UserDetailsPasswordService` is `InMemoryUserDetailsManager` so the upgraded password is not persisted. This means that restarting your application will revert to using the previous encoding as well. In the end, this is a much better default as it helps ensure

[2020-10-29 16:59] rwinch commented on #9132
Closing this as a duplicate of the question on StackOverflow that has been answered https://stackoverflow.com/questions/64377448/spring-webflux-spring-security-for-x509-certificate-validation-issue-x509-x50

[2020-10-29 16:59] #9132 closed

[2020-10-29 19:36] jgrandja opened #9165 "Set springVersion to 5.3.+"
Set springVersion to 5.3.+

[2020-10-29 19:39] jgrandja opened #9166 "Set reactorVersion to 2020.0.+"
Set reactorVersion to 2020.0.+

[2020-10-29 19:40] jgrandja opened #9167 "Set rsocketVersion to 1.1.0"
Set rsocketVersion to 1.1.0

[2020-10-29 19:45] #9165 closed

[2020-10-29 19:45] #7890 closed

[2020-10-29 19:45] #9166 closed

[2020-10-29 19:45] #9167 closed

[2020-10-29 23:14] jzheaux commented on #9044
Good comments, @ryan13mt

It's important to remember that some of those configurations are for other exchange mechanisms, like over TLS on the backchannel. It's not meant that they be allowed universally.

For example, Spring Security supports the WebSSO profile POST binding and probably won't support others for a while yet, so having everything unsigned is not a scenario we want to try and simpli

[2020-10-30 00:25] asaikali commented on #9048
Maybe update the docs point folks to alternatives like Google Tink.

[2020-10-30 13:49] sumanas27 commented on #4254
Please use Spring boot 2.0 Plus versions and the problem will be solved

[2020-10-30 13:55] userquin opened #9169 "Add option to ServerHttpSecurity to allow custom ServerAuthenticationConverter"
See https://github.com/spring-projects/spring-framework/issues/25995

[2020-10-30 14:04] FacuDN commented on #8430
Hi sir, how can I download this version of the ActiveDirectory? Because my project has the old version without this connection exception fix (Im using Gradle).

Thank you very much!

[2020-10-30 14:08] rwinch commented on #9169
Adding too many options to the DSL makes it just as complex as wiring things manually. I don't think it makes sense to add an option to change the `AuthenticationConverter` because `formLogin()` only knows how to process username/password (that is kind of the definition of `formLogin()`. If you need something more powerful, then you are doing things correctly by registering the `WebFilter` yoursel

[2020-10-30 14:08] #9169 closed

[2020-10-30 14:24] jzheaux commented on #4865
The preferred way to configure this is to add [`ForwardedHeaderFilter`](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/filter/ForwardedHeaderFilter.java) into the filter chain. This wraps the `HttpServletRequest` so that `getRemoteAddr` reflects the `X-Forwarded-For` header.

The reason this is preferred is so that Spring Security d

[2020-10-30 14:24] #4865 closed

[2020-10-30 15:27] sc-moonlight opened #9170 "OAuth2AuthorizationRequest builder encodes additional parameters as RFC-3986, but should be Mime Encoded"
**Describe the bug**
We are integrating with an Oauth2 provider.  I need to send the user's email as a "login_hint" additional parameter in the OAuth2AuthorizationRequest .  I've done this by providing a custom OAuth2AuthorizationRequestResolver, and building a new
OAuth2AuthorizationRequest from the resolved one, and adding my new additional parameters.

This works, unless the user's email contai

[2020-10-30 16:07] userquin commented on #9169
have you read my suggestion well?

Just one setter and 1 if statement, it is hard coded (I dont need spring-security add invisible recaptcha v3, just use the form login infrastructure and change just the auth manager: my form is a username/password + recpatcha + action, last 2 are set by the app, no user interaction):

[code]

[2020-10-30 17:05] jjstreet opened #9171 "Provide customization hooks for reactive oauth2 token client requests"
**Enhancement**

* Allow extension of `AbstractWebClientReactiveOAuth2AccessTokenResponseClient` by class outside the package.
* Allow extension of `BodyInserters.FormInserter<String> populateTokenRequestBody(T grantRequest, BodyInserters.FormInserter<String> body)` by classes outside the package.

OR

Provide some other way to customize the request made by token response clients.

**Context**

In

[2020-10-30 18:24] jzheaux commented on #9164
@yerzhant thanks for reaching out.

The docs you point to are from Spring Data and refer to Spring Data annotations. Also, Spring Security's conversion support is limited to its domain of authentication and authorization, it doesn't extend into repository datatypes.

I'd recommend filing this issue with [the Spring Data team](https://jira.spring.io/projects/DATAREST/issues) or posting a question t

[2020-10-30 18:24] #9164 closed

[2020-10-30 18:27] jzheaux commented on #8430
Unfortunately, there are numerous things that could be going on, and this probably isn't the right forum to help you address each one of them.

I'd recommend posting your question on [StackOverflow](https://stackoverflow.com) where there's a broad Gradle community that can help you address your question much better than we can. I'd recommend using the tags `gradle` and `spring-boot` in your questi

[2020-10-30 18:31] jzheaux commented on #4254
This seems to be an issue for [Spring core](https://github.com/spring-projects/spring-framework) instead of Spring Security. If this is still an issue, I'd recommend logging it there.

[2020-10-30 18:31] #4254 closed

[2020-10-30 19:10] jzheaux commented on #3719
`@WithUserDetails` applies for the surrounding test. From the [docs](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#test-method-withuserdetails):

[code]

What that means is that every API call within a given annotated test would use the same `SecurityContext`.

If you still feel like there's an issue, consider filing a separate ticket with more details about what you ar

[2020-10-30 19:57] jzheaux commented on #8758
@mschallar, I'm referring to [`BearerTokenError` in Nimbus](https://www.javadoc.io/static/com.nimbusds/oauth2-oidc-sdk/8.23.1/com/nimbusds/oauth2/sdk/token/BearerTokenError.html#toWWWAuthenticateHeader--). Does that address your first question?

As for making it not `final`, can you share a specific example of something you are trying to do that is difficult with delegation?

[2020-10-30 21:57] spring-issuemaster opened #9172 "Remove empty Appendix Section from docs"
Backport of gh-8196

[2020-10-30 21:57] spring-issuemaster commented on #9172
Fixed via 21c7f7518fef4f20abfe229b31eec1fc4b78c7f1

[2020-10-30 21:57] #9172 closed

[2020-10-31 09:18] yerzhant commented on #9164
@jzheaux Ok, thanks for clarification.

[2020-10-31 14:00] sc-moonlight commented on #9170
I'm investigating, and trying to wrap my head around the uri/url differences, to make sure this is the best choice.
Also while investigating a change, I found gh-7714 changes that might address my issue.  We are still on SpringSecurity 5.2.4 for now, but if authorizationRequestCustomizer from 5.3 can address my issue, then I can force the upgrade issue here.

[2020-10-31 19:30] kiranreddykasa commented on #7834
@jzheaux Hi Josh, can you consider adding the constructor which takes the principal(custom object).
I have a scenario where the same service acts as both OAuth-client as well as resource-server(for some other clients).  The resource server can accept JWT tokens as well as allow users to authenticate with opened providers and access the API.
In this case, while injecting @AuthenticationPrincipal,

[2020-11-01 09:18] oharsta commented on #9004
It is for unit testing any custom implementation of the `ResponseAuthenticationConverter`. In the unit test you'll want to call the method:
[code]
And to do so, you'll need to create a `OpenSamlAuthenticationProvider.ResponseToken` which is not possible. See https://github.com/OpenConext/OpenConext-oidcng/blob/master/src/test/java/oidc/saml/ResponseAuthenticationConverterTest.java#L88 to clarify w

[2020-11-01 23:34] sanyarnd commented on #8875
@rwinch it might be useful for cases, when you want to pass an additional data, like set of flags or fileds

Currently I have to work this out with
[code]
which is not really nice

[2020-11-02 07:08] ryan13mt commented on #9044
Thanks for the reply @jzheaux. Most of our clients use RSA-OAEP or RSA1_5

[2020-11-02 07:27] jaehyunup opened #9173 "Security Context is not loaded in Session after authentication is performed"
**Describe the bug**
 Security Context is not loaded in Session after authentication is performed

**To Reproduce**
User authentication was successfully performed and page redirection was performed using Custom UsernamePasswordAuthenticationFilter.
Subsequently, we tried to obtain the principal information to obtain authentic user information at the controller layer (using SecurityContextHolder or

[2020-11-02 11:45] fast-reflexes opened #9174 "Add InResponseTo validation support"
**Describe the bug**
The InResponseTo field is not validated and the repsonse is not rejected when this does not correspond to a sent request.

**To Reproduce**
1. Set up SAML2 login and run your server locally which redirects to an IDP which will then redirect to an actual deployed SAML2 authentication endpoint.
2. Set the host of your deployed app to 127.0.0.1 in /etc/hosts
3. Ping the host and

[2020-11-02 12:12] mschallar commented on #8758
It is not a matter of "too difficult with delegation", it's just a matter of preference.

[2020-11-02 13:22] eleftherias commented on #9154
@philwebb We had an existing test checking the order on `SecurityFilterChain` and I just added an additional one for `WebSecurityCustomizer`.
As far as I can tell, the `@Order` annotation is working.
Do you have an example configuration where they aren't being ordered correctly?

[2020-11-02 15:24] philwebb commented on #9154
@eleftherias I'm afraid not, it was just an observation from looking at the code. I may well have got it wrong. Perhaps Spring is injecting the list already sorted and re-sorting it doesn't cause a side-effect. I'll close this one since the tests seem to prove it's working.

[2020-11-02 15:38] jjstreet commented on #9171
Barring any concerns over the proposed solution, I can put a PR together with the above changes.

[2020-11-02 16:10] spring-issuemaster commented on #9142
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-02 16:41] akuma8 commented on #9159
Yes, in order to know exactly what we are configuring. Filter chains are the core of authorization rules and currently we do not explicitly know how one is declaratively selected by the framework. By **declaratively** I mean, by reading the security configuration code, the filter chain matcher should be obvious to us.

[2020-11-02 18:01] jzheaux opened #9177 "SAML 2.0 Asserting Party Metadata resolution should read SigningMethod elements"
Asserting party metadata [should indicate what signing methods it supports](http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml-metadata-algsupport-v1.0-cs01.html) (section 2.4). This is valuable when the relying party signs its AuthnRequests or LogoutRequests and needs to use an algorithm supported by the asserting party.

When an asserting party uses `<SigningMethod>`, the `OpenSamlAssert

[2020-11-02 18:37] #8952 closed

[2020-11-02 18:37] #9177 closed

[2020-11-02 19:59] jzheaux opened #9178 "Add WebFlux Documentation for Multiple Filter Chains"
Related to #9157

[2020-11-02 20:15] spring-issuemaster commented on #4479
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-02 20:31] wilkinsona opened #9179 "WithSecurityContextTestExecutionListener Should Support Nested Classes"
**Expected Behavior**

Spring Framework 5.3 has [added support](https://github.com/spring-projects/spring-framework/issues/19930) for discovering tested configuration on an enclosing class. This is useful when using JUnit Jupiter's `@Nested` as it allows test configuration to be declared once (on the enclosing class) and then reused (by all the nested classes).

`@MockUser` should participate in t

[2020-11-02 20:47] rwinch commented on #9159
I think that makes sense and have thought about it a bit. I'd prefer not exposing implementation details like `filterChainMatchers` in the DSL. I think something like this would be what I would suggest:

[code]

Thoughts?

[2020-11-02 20:48] ShivakumarSwamy opened #9180 "Allow to configure the header value as a regular expression pattern in a request matcher"
**Expected Behavior**

Allow to configure the expected header value as a regular expression pattern in a request matcher regardless of the http method. Similar to `RegexRequestMatcher`

**Current Behavior**

Currently, `RequestHeaderRequestMatcher` allows to match an expected header value as String.

**Context**

***What are you trying to accomplish?***
Recently, came across a requirement which re

[2020-11-02 20:53] #9178 closed

[2020-11-02 21:41] rwinch commented on #9173
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2020-11-02 21:41] #9173 closed

[2020-11-03 01:59] #5502 closed

[2020-11-03 02:02] jgrandja commented on #5502
Extracted the new `interface OAuth2Token` from `AbstractOAuth2Token`, which would benefit `OAuth2Tokens` that was recently introduced in [spring-authorization-server#137](https://github.com/spring-projects-experimental/spring-authorization-server/issues/137).

[2020-11-03 02:31] jgrandja commented on #9171
@jjstreet `WebClient` allows you to modify the `ClientRequest` and/or `ClientResponse` via an `ExchangeFilterFunction`. See `ExchangeFilterFunction.ofRequestProcessor()` for processing the outgoing `ClientRequest` and `ExchangeFilterFunction.ofResponseProcessor` for processing the incoming `ClientResponse`. You can then configure `WebClient` with the custom `ExchangeFilterFunction` and supply it t

[2020-11-03 02:31] #9171 closed

[2020-11-03 03:13] cnry1 commented on #8804
this  good

[2020-11-03 12:29] eleftherias commented on #4555
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a lin

[2020-11-03 12:29] #4555 closed

[2020-11-03 13:33] eleftherias commented on #9180
Thanks for reaching out @ShivakumarSwamy.

In this situation, I suggest creating a custom `RequestMatcher`.
Within the Spring Security codebase, we have a similar situation where we match the "Bearer" scheme and for that we created a `BearerTokenRequestMatcher`.

I'm going to close this issue, but feel free to continue the discussion here if you run into problems.

[2020-11-03 13:33] #9180 closed

[2020-11-03 13:33] MatCuk opened #9181 "Spring in combination with jetty BadMessageException returns 401 instead of 400"
**Springboot version**
2.3.4.RELEASE

**Jetty version**
jetty-9.4.31.v20200723; built: 2020-07-23T17:57:36.812Z; git: 450ba27947e13e66baa8cd1ce7e85a4461cacc1d; jvm 15+36-1562
**Java version**
OpenJDK Runtime Environment (build 15+36-1562)
**OS type/version**
Windows 10
**Description**

Hi,

first of all I'm not sure if this is Jetty issue or spring.

I have bearer protected app. I have set Multipa

[2020-11-03 15:54] eleftherias commented on #9181
Thanks for reaching out @MatCuk. Can you provide a minimal sample that reproduces this issue?

[2020-11-03 16:40] jzheaux commented on #9150
Thanks for the suggestion, @mazenaissa.

Auditing requirements vary widely across companies, making it quite tricky to offer something like this at the framework level.

Spring Security ships with several events, though, that you can subscribe to, including `AuthenticationSuccessEvent` and various `AbstractAuthenticationFailureEvent` implementations.

For example, you can do:

[code]

If there's a

[2020-11-03 16:40] #9150 closed

[2020-11-03 18:03] jgrandja opened #9182 "Introduce JwaAlgorithm"
Introduce `JwaAlgorithm` and update existing `JwsAlgorithm` to `extends JwaAlgorithm`.

`JoseHeader` in [spring-authorization-server#81](https://github.com/spring-projects-experimental/spring-authorization-server/issues/81) would benefit on using `JwaAlgorithm`.

[2020-11-03 18:05] #9182 closed

[2020-11-03 18:41] jgrandja opened #9183 "Add token and token_type_hint to OAuth2ParameterNames"
Add `token` and `token_type_hint` to `OAuth2ParameterNames`.

The OAuth 2.0 Token Revocation Endpoint ([spring-authorization-server#83](https://github.com/spring-projects-experimental/spring-authorization-server/issues/83)) would benefit on using these parameters.

[2020-11-03 18:43] #9183 closed

[2020-11-03 18:58] jgrandja opened #9184 "Add unsupported_token_type to OAuth2ErrorCodes"
Add `unsupported_token_type` in `OAuth2ErrorCodes`.

The OAuth 2.0 Token Revocation Endpoint ([spring-authorization-server#83](https://github.com/spring-projects-experimental/spring-authorization-server/issues/83)) would benefit on using this error code.

[2020-11-03 19:01] mazenaissa commented on #9150
Hello @jzheaux
Thanks for your answer and i've already implemented my auditing feature with a solution similar to your example.
Thanks,

[2020-11-03 19:15] #9184 closed

[2020-11-03 20:31] jzheaux commented on #9133
Do you have a proposal for how to make things simpler?

The repository's API is intended to be reduceable to a single-tenant application, it's not a "happy accident".

In your situation, I see two possibilities:

- First, introduce a rewrite rule so that the old URL points to the new one.
- Second, rely on the fact that `RelyingPartyRegistrationRepository` always returns the same registration

The

[2020-11-03 20:50] jzheaux opened #9185 "Add Saml2AuthenticationRequestRepository"
Related to https://github.com/spring-projects/spring-security/issues/9174

It would be nice to remember the AuthNRequest so that data like `InResponseTo` can be validated.

To do this will require a new interface that both `Saml2WebSsoAuthenticationRequestFilter` and `Saml2WebSsoAuthenticationFilter` can use. The first will store the AuthNRequest and the second will read and remove it.

The interf

[2020-11-03 20:54] jzheaux commented on #9174
@fast-reflexes, you are correct - this is because the AuthNRequest is not saved anywhere after the relying party generates and sends it to the asserting party.

I've created a ticket to add that support - https://github.com/spring-projects/spring-security/issues/9185 - where your contribution would be most welcome.

Once that is complete, we can take a closer look at this ticket to see how to best

[2020-11-03 21:02] jjstreet commented on #9171
I read through #8612 and this is totally a duplicate of that. I didn't search thoroughly enough it seems.

I am in the same situation as #8612. I need to use client registration id to look up a resource value and apply to the request. Much like Auth0 requires additional fields, so does active directory. In my example I show the token client not being reusable for different registrations, but it wo

[2020-11-03 21:32] jzheaux opened #9186 "JwtIssuerAuthenticationManagerResolver should not resolve the bearer token"
**Current Behavior**

Each of `JwtIssuerAuthenticationManagerResolver` and `JwtIssuerReactiveAuthenticationManagerResolver` uses either `BearerTokenResolver` or `ServerBearerTokenAuthenticationConverter`, respectfully, to resolve the bearer token from the `HttpServletRequest` or `ServerWebExchange`.

This has the downsides that, first, the bearer token is resolved from the request multiple times -

[2020-11-03 22:04] #8535 closed

[2020-11-03 22:09] jzheaux commented on #9170
Sounds great, @sc-moonlight. I will mark this as `waiting-for-feedback`. Feel free to update the issue with any changes you feel need to be made or to close it if you are satisfied.

[2020-11-03 23:37] jzheaux commented on #9134
@dawi, I think one thing that might help the community is a sample. Would you be able to contribute [a Boot-based sample](https://github.com/spring-projects/spring-security-samples/issues/2) to `spring-security-samples` that shows what a custom `RelyingPartyRegistrationRepository` looks like?

This would help with the gotcha you mentioned as well as give a starting point to folks who are migrating

[2020-11-03 23:40] #9179 closed

[2020-11-03 23:46] rwinch commented on #9179
The `WithMockUser` support needs to work a little differently than the nested support in test. The support within `TestContextAnnotationUtils` requires `EnclosingConfiguration.INHERIT` but Spring Security's test support does not require an `ApplicationContext` to be present. Instead, `WithSecurityContext` and the related annotations are used unless overridden by a more specific location.

[2020-11-04 00:48] jzheaux commented on #9044
Sorry, I wasn't clear with my question, @ryan13mt. I think asymmetric algorithms are intended for encrypting the session key (see the `<EncryptedKey>/<EncryptionAlgorithm>` element).

What is the symmetric algorithm used to encrypt the assertion itself? (see the `<EncryptedData>/<EncryptionAlgorithm>` element)

[2020-11-04 00:52] jzheaux commented on #9004
Ah, gotcha, @oharsta. Thank you for the clarification.

Would you be able to provide a PR with the needed changes?

[2020-11-04 07:26] Drezir opened #9187 "NullPointerException with MockMvc and @Aspect around FilterChainProxy"
Hi,

My intention was to set RequestRejectException to return 400 - BAD REQUEST instead of status 500.
I know there is upcoming RequestRejectHandler in newer spring version but I do not want to upgrade it yet. So I did AOP around FilterChainProxy like this. I know that it is not clean way but if it works in production, should not it work in tests also?

[code]
It works great in non-mocked test env

[2020-11-04 08:13] MatCuk commented on #9181
Checkout:
https://github.com/MatCuk/spring-issue-9181

In postman select POST to localhost:8080/upload
![image](https://user-images.githubusercontent.com/5020823/98085628-e5cb8e00-1e7d-11eb-96fc-ea6abe1d92a8.png)

If you select file bigger than 10mb you get 401.

[2020-11-04 08:53] eleftherias commented on #9187
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) tha

[2020-11-04 08:53] #9187 closed

[2020-11-04 09:30] sbrannen commented on #9179
Why should it work differently than other test annotations in the Spring portfolio?

`TestContextAnnotationUtils` does not require that an `ApplicationContext` be present. Rather, `TestContextAnnotationUtils` provides support for looking up any class-level annotations that are used within tests while honoring the new `@NestedTestConfiguration` semantics.

Note that `EnclosingConfiguration.INHERIT`

[2020-11-04 12:02] eleftherias commented on #6602
Fixed in gh-6603.

[2020-11-04 12:02] #6602 closed

[2020-11-04 12:05] eleftherias commented on #6551
Closing due to lack of feedback.

[2020-11-04 12:05] #6551 closed

[2020-11-04 13:30] mkapiczy opened #9188 "Update to 5.4.0/1 breaks Wiremock tests (address already in use)"
### Summary

After upgrading my project from version 5.3.5.RELEASE to 5.4.0 (also 5.4.1) my tests using Wiremock started failing due to address already in use error.

### Actual Behavior
I am getting an error

[code]

Not sure if it's a spring-security issue but it happens after updating this dependency so decided to try my luck here.

Full stacktrace:

[code]

### Version
Happens for spring-secur

[2020-11-04 14:04] eleftherias commented on #9188
Sorry to hear you're having trouble upgrading @mkapiczy. Could you put together a sample app that reproduces this, so we can look into it further?

[2020-11-04 14:25] dgempiuc opened #9189 "SessionFixationProtectionEvent is not published in Spring WebFlux"
**Describe the bug**
with the default configuration, spring security invalidates the existing session when the user authenticates and creates a new one. it is sensible to prevent session fixation attack.

SessionFixationProtectionEvent is not working when I use it in ApplicationListener implementation.

**To Reproduce**
[code]

**Expected behavior**
there is no stdout logs in console.

**Sample**

[2020-11-04 14:54] AbstractConcept commented on #9096
@jzheaux Should this one still be completed, or did #9168 also took care of this?

[2020-11-04 15:44] jzheaux commented on #9096
#9168 did not take care of this ticket, thanks for double-checking.

[2020-11-04 15:46] AbstractConcept commented on #9096
I should be available to complete this one then, but if someone can do it faster, by all means, go ahead.

[2020-11-04 15:54] jzheaux commented on #8758
Great, thanks, @mschallar. While your preference for inheritance is understandable, Spring Security tends to prefer composition.

I'm going to close this issue as addressed. However, please feel free to continue commenting if there is more to discuss.

[2020-11-04 15:54] #8758 closed

[2020-11-04 16:27] jzheaux commented on #5464
Thanks, @mrfusi0n, for the report. The reason that `put` is used is to allow for this kind of last-one-wins overriding, which is consistent with how Spring Security views configuration in general.

For example, if a third-party dependency pre-configures certain authorization rules, like so:

[code]

it's more flexible to allow my application to override that dependency's configurations:

[code]

G

[2020-11-04 18:36] jgrandja opened #9190 "Add convenience constructor in OAuth2AuthenticationException"
We should add a convenience constructor in `OAuth2AuthenticationException` that simply accepts an OAuth 2.0 Error code: `public OAuth2AuthenticationException(String errorCode)`

[2020-11-04 18:43] #9190 closed

[2020-11-04 18:49] mazenaissa opened #9191 "session is not expired after closing browser"
I have a Spring Boot app v2.3.5.RELEASE  and Spring Security v5.3.5.RELEASE with the configured security below :

**security-config.xml**
[code]

**web.xml**

[code]

So it is configured so that a user can have only 1 active session. If i try to login with a user and then close browser and retry logging in it says Maximum sessions of 1 for this principal exceeded, then the session is not expired a

[2020-11-05 10:15] mkapiczy commented on #9188
HI @eleftherias,

I managed to reproduce the issue: https://github.com/mkapiczy/spring-security-test

In order to encounter the issue please try to run `mvn test compile` from the command line (actually it also happens in intellij now)

My maven version: **Apache Maven 3.6.3**

[2020-11-05 10:31] eleftherias commented on #9191
This is the expected behaviour. The server-side Spring application, which is responsible for invalidating the session, is not aware of when the browser is closed.

Have you considered setting `error-if-maximum-exceeded="false"`?
This strategy will expire any sessions that exceed the maximum number of permitted sessions, starting with the least recently used sessions.

In the scenario when a user l

[2020-11-05 10:31] #9191 closed

[2020-11-05 11:31] fast-reflexes commented on #9174
@jzheaux Thanks for answering! No, go ahead and reword it!

[2020-11-05 11:32] fast-reflexes commented on #9185
@jzheaux Why are the responses needed? Also, can we assume that a session exists?

[2020-11-05 11:33] eleftherias commented on #4545
I have answered this question in StackOverflow, see link in issue.

[2020-11-05 11:33] #4545 closed

[2020-11-05 14:46] eleftherias commented on #4488
Closing since this has been answered on StackOverflow https://stackoverflow.com/questions/45521922/getting-error-when-i-use-enableglobalmethodsecurityprepostenabled-true

[2020-11-05 14:46] #4488 closed

[2020-11-05 17:57] #8951 closed

[2020-11-06 06:43] sumanmitra commented on #807
I know this issue is closed but I am having connection leak when using Hikari cp. I posted the details in stackoverflow. Can you guys please have a look?
https://stackoverflow.com/questions/64695847/spring-security-acl-connection-leak

[2020-11-06 14:37] manueljordan commented on #4545
Huge thanks!, solution accepted. Have an excellent weekened!

[2020-11-06 20:14] jgrandja commented on #9101
@car51901 Closing as duplicate of #8882 as it's closely related. Also, please see this [comment](https://github.com/spring-projects/spring-security/issues/7027#issuecomment-665053737).

[2020-11-06 20:14] #9101 closed

[2020-11-06 21:07] rwinch opened #9193 "WithSecurityContextTestExecutionListener should respect NestedTestConfiguration"
**Describe the bug**

In the following code `testNoAnnotation` should not use `@WithMockUser` because the mode is `EnclosingConfiguration.OVERRIDE`.

[code]

To solve this `WithSecurityContextTestExecutionListener` should leverage `TestContextAnnotationUtils`.

[2020-11-06 21:12] #9193 closed

[2020-11-06 21:12] rwinch commented on #9179
@sbrannen Thank you for your review. This turns out it was a just a series of misunderstandings on my part. I went created and resolved gh-9193 to address your concerns.

[2020-11-07 22:06] sl3w commented on #5760
I add additional parameter in CustomOAuth2AuthorizationRequestResolver, but how and where I can get it after answer from OAuth?

[2020-11-08 17:12] sedran opened #9195 "Maximum Age for the cookie created by CookieCsrfTokenRepository"
**Expected Behavior**

Maximum age of cookies created by `CookieCsrfTokenRepository` should be configurable.

**Current Behavior**

Currently, `CookieCsrfTokenRepository` generated cookies with a maximum age value of -1.

**Context**

Currently, `CookieCsrfTokenRepository` generated cookies with a maximum age value of -1.
This means the cookie will expire as soon as the browser is closed.
Under so

[2020-11-08 17:30] adi-devops commented on #8868
Hello, @rwinch I have created a PR to remove the method please let me know if that was the expectation. I am trying to understand the project structure and thanks for tagging this as first-timers-only would really love to contribute to https://github.com/spring-projects/spring-security/tree/master/saml2/saml2-service-provider . Do let me know if there are other minor enhancements that I can try ou

[2020-11-08 23:54] vojtapol commented on #4011
Solution for injecting `Principal` is to use the `@AuthenticationPrincipal` annotation on the parameter.

[2020-11-09 16:10] spring-issuemaster commented on #9142
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-11-09 16:10] #9142 closed

[2020-11-09 16:33] spolito commented on #9142
I am sorry that I have not responded.   I can easily recreate the issue,
but our project is massive and I am not sure how to trim it down to
something useful to you.  Do you need a running, standalone project, or can
I just send you certain files?   Can you let me know what you feel like you
need?

For now, I can attach our POM and some of the files used in the scenario.
Can I email them to this a

[2020-11-09 16:35] ThomasVitale commented on #7292
@jzheaux can I help with this task?

[2020-11-09 20:15] spring-issuemaster commented on #4479
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-11-09 20:15] #4479 closed

[2020-11-10 17:24] shamrai-dev opened #9198 "Create a class analogous to AbstractHttpConfigurer for reactive applications"
**Expected Behavior**
Need to have an ability to get access to a ServerHttpSecurity object after it has been instantiated in a developer's code.
For Servlet applications I can use this:

/resources/META-INF/spring.factories
[code]

[code]

For Webflux/Reactive applications there is no such class.

**Current Behavior**

No ability to get access to a ServerHttpSecurity object after it has been insta

[2020-11-10 22:10] spring-issuemaster commented on #9170
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-10 22:10] spring-issuemaster commented on #9141
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-11 05:18] adi-devops opened #9199 "Saml2 support overriding the SAMLRequest parameters"
**Expected Behavior**
As a service provider, I should be able to override the following parameter in a SAMLRequest

- <saml:AuthnContextClassRef>
- ForceAuthn
- IsPassive

**Current Behavior**
Currently we are having the default values configured which is

- <saml:AuthnContextClassRef> = empty
- ForceAuthn =false [OpenSamlAuthenticationRequestFactory.java#L171](https://github.com/spring-projects/s

[2020-11-11 12:55] djlogan2 commented on #5253
This is still an issue as of November 2020. Is there any kind of fix or workaround?

[2020-11-11 15:34] jgrandja commented on #9171
@jjstreet

Yes.

Assuming you want to modify the default token request for a `client_credentials` client, you would configure as follows:

[code]

[2020-11-11 16:12] #4372 closed

[2020-11-11 16:13] rwinch commented on #4372
Closed in favor of gh-9147

[2020-11-11 16:25] jjstreet commented on #9171
The casting is kind of a bummer, but I'm definitely gonna give this a shot and see how it works.

Thanks for the followup advice. Really appreciate it.

[2020-11-11 19:12] jzheaux commented on #9116
Hi, @qcastel, thanks for the suggestion.

This sounds like what `NimbusReactiveJwtDecoder` was built for. For example:

[code]

What makes `NimbusReactiveJwtDecoder` unfit for what you are wanting to do?

[2020-11-11 19:27] jzheaux commented on #9199
If these values are the same all the time, then the easiest way is to [register your own custom `AuthnRequestMarshaller` with OpenSAML](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#servlet-saml2login-opensaml-customization).

Or, if the value needs to be changed on a per-request basis, you can [register your own `Saml2AuthenticationRequestContextResolver`](https://docs

[2020-11-11 19:45] jzheaux commented on #7292
Yes, @ThomasVitale, that would be most welcome. We're moving our samples over to https://github.com/spring-projects/spring-security-samples, so I'm going to transfer this issue over there.

I think it would be helpful to have a new sample that's focused on OIDC, including logout. The existing oauth2Login samples are a showcase of common providers, but not all of them support OIDC. Publishing the `

[2020-11-11 20:49] techiewissen commented on #5946
Hello ,

I am also facing the similar problem failed: org.springframework.security.oauth2.core.OAuth2AuthenticationException: [authorization_request_not_found]

Here are the details -
OpenID connect.
ALB -- KONG API GW --> Kubernetes Service --> 2 pods (replicas)  --> Authentication server

example.com/app-name/ -->

We are using kubernetes, 2 pods (Spring Security Oauth2.0 OpenId connect), random

[2020-11-11 21:58] jzheaux commented on #4011
Authentication authentication = SecurityContextHolder.getContext().getAuthentication();.

This is addressed in https://github.com/spring-projects/spring-framework/issues/25981. In Spring Web 5.3.1, using `@AuthenticationPrincipal` will retrieve the `Principal` directly from the `SecurityContextHolder` instead of from the `HttpServletRequest`.

Note also that you can [get the `SecurityContext` usin

[2020-11-11 21:58] #4011 closed

[2020-11-11 21:59] rwinch commented on #5253
Yes. You can inject custom SQL into it.

[2020-11-12 04:00] adi-devops commented on #9199
Awesome that would work for me. Maybe in the future if there are multiple requests we could expose it as a property that can be configured?

[2020-11-12 05:12] jzheaux commented on #9185
@fast-reflexes, thanks for the questions

I'm not sure I understand the question, are you referring to SAML 2.0 responses? They are needed as that is the response an IDP gives in order to complete the authentication process.

No, we should not assume it exists. But, if it does exist, then we can attempt to look up an associated AuthnRequest from it.

[2020-11-12 05:58] fast-reflexes commented on #9185
@jzheaux Thanks for answering! Nah, I meant the responses in the function signatures of your interface? The SAML2 response is in the request and so is a potential session so why do we need to include the responses as argument? I can do it, just curious :)

Also in the `Saml2WebSsoAuthenticationRequestFilter`, if a session doesn't exist, we just don't save the request or do we take any measures to

[2020-11-12 11:23] stokpop opened #9200 "Disabling RequestCache changes thread behaviour webflux/reactor."
Using Spring Cloud Gateway and disabling the request cache we see different behaviour under load in our application: more latency and timeouts occur.

To disable we call: requestCache().disable()

Investigation showed that our custom filters in Spring Gateway run on a `boundedElastic` thread with request cache **enabled** and on the `reactor-http-nio-*` thread when request cache is **disabled**.

[2020-11-12 17:12] jzheaux commented on #9185
Ah, got it, @fast-reflexes.

The reason is from a lesson we learned in OAuth support. Most will store the AuthNrequest in the session, but some may want to store it in the browser, in a cookie, for example. Applications will need the `HttpServletResponse` to do that. The `HttpSession` implementation wouldn't use that parameter.

[2020-11-12 21:27] jzheaux commented on #9199
Yes, @adi-devops, that's a good point. ForceAuthn and AuthnContextClassRef have been requested a few times now.

Could you elaborate on what you mean by "expose it as a property"? I'm not sure it's common enough for a Boot property, but I could imagine a scenario where adding properties to `Saml2AuthenticationRequestContext` could be helpful.

[2020-11-12 23:09] #9186 closed

[2020-11-12 23:24] jzheaux commented on #9119
Hi, @sandipchitale, I'm going to transfer this issue over to `spring-security-samples`, since we are moving our samples over there.

I think [an oauth2Login sample like this one](https://github.com/jzheaux/spring-security-tanzu-tuesday-november/tree/main/app) that is compatible with the Spring Security Resource Server samples could be illustrative.

[2020-11-13 00:06] #9100 closed

[2020-11-13 07:48] codetalkr commented on #8967
@juliuskrah
Did you solve this problem?

[2020-11-13 09:00] juliuskrah commented on #8967
@codetalkr I took out the context path

[2020-11-13 09:27] akuma8 commented on #9159
Is there an abstraction of filter chain? If yes, I thought you are right. In my mind `filter chain` was a specific Spring Security concept. I know that when chaining multiples servlet filters we can call that `filters chain` but I think in Spring Security it is a **strong** concept that is not really highlighted in the configuration.

[2020-11-13 11:01] eleftherias commented on #9188
Thanks @mkapiczy.
I took a look at the sample and I noticed that the `contextLoads` test was failing.
Could you update the sample application so that that test passes?

I also noticed that there were many additional dependencies (lombok, aws etc)
Please keep the sample as minimal as possible so that we can find the root cause of the issue.

[2020-11-13 11:22] grimsa opened #9201 "Return type of oauth2.core.ClaimAccessor#containsClaim(String) could be a primitive boolean"
**Current Behavior**

In `org.springframework.security.oauth2.core.ClaimAccessor` interface there is a `containsClaim` method:

[code]
Return type of this method is a nullable Boolean.

**Expected Behavior**

It seems the method could return a non-nullable primitive `boolean`. This is supported by all of:
- javadoc - not mentioning `null` return value
- default implementation - `Map#containsKey` r

[2020-11-13 11:25] larsw commented on #9141
Hi again,

The use case for this was to pull other information from the metadata endpoints, without needing to reimplement the functionality for fetching and deserializing them.

[2020-11-13 12:42] mazenaissa opened #9202 "failed to make “max-sessions” field configurable"
Hello,
I am using spring-security 5.0.6 and I want to make max-sessions field configurable from a properties file
So I did this :
[code]
But i get this error :
**Multiple annotations found at this line:
	- cvc-datatype-valid.1.2.1: '${security.maxSessions}' is not a valid value for 'integer'.
	- cvc-attribute.3: The value '${security.maxSessions}' of attribute 'max-sessions' on element 'security:c

[2020-11-13 13:40] mazenaissa commented on #9202
I suggest to change the type of max-sessions from "integer" to "token" in http://www.springframework.org/schema/security/spring-security.xsd , so we can configure it dynamically from properties.

[2020-11-13 15:01] adi-devops commented on #9199
My bad I did not know `Saml2RelyingPartyProperties` was part of the boot property. I am not very familiar with the codebase, I think that would be a good location to set the property as it's used while creating the Saml2AuthenticationRequestFactory.If you could please refer me to a similar config I could try creating a PR :slightly_smiling_face:

[2020-11-13 21:01] #8868 closed

[2020-11-13 22:16] mengelbrecht opened #9203 "CookieRequestCache handles URL encoded query parameters incorrectly"
**Describe the bug**
`CookieRequestCache` is used to save a request which contains an URL encoded query parameter. After restoring the saved request the request contains two values for this query parameter, the URL encoded and decoded form. If `HttpSessionRequestCache` is used, the query parameter is only present once, in decoded form.

Tested with Spring-Security 5.4.1.

**To Reproduce**
1. Run t

[2020-11-13 22:56] jzheaux commented on #9141
Thanks for the extra information, @larsw. It sounds like this is a duplicate of #9135, then.

[2020-11-13 22:56] #9141 closed

[2020-11-13 23:04] jzheaux commented on #9199
No problem, @adi-devops. You are correct that adding something to `Saml2RelyingPartyProperties` would mean adding a Boot property. In that case, you'd want to file a ticket with the Boot team; however, I'm thinking that these settings are not common enough to expose in that way.

What I think could be done is to add these properties to `Saml2AuthenticationRequestContext`. Then, applications could

[2020-11-14 01:46] gbaso commented on #8804
What about the `AuthenticationManagerBuilder` configuration? Suppose I need to conditionally register additional authentication providers. Do I still need to extend WebSecurityConfigurerAdapter? Exposing a `AuthenticationManager` bean by calling build on the builder throws an exception at startup:

[code]

sample project: https://github.com/gbaso/spring-security-auth-config

[2020-11-14 06:10] adi-devops commented on #9199
Absolutely can I give it a try? If I have any doubts can we use this same issue thread to discuss the implementation too?

[2020-11-14 07:26] avinashkris9 commented on #7709
@rchigvintsev  would you mind sharing how you have transformed response.

[2020-11-14 17:19] markusheiden opened #9204 "SecurityContext incompatible with older versions"
**Describe the bug**
Spring Session cannot handle Spring Boot 2.3 and 2.4 sessions in parallel, because the serialization of `SecurityContextImpl` is whether backward nor forward compatible:
[code]

This makes it impossible to migrate from Spring Boot 2.3 to 2.4 without downtimes.

**To Reproduce**
Use Spring Session (e.g. Redis) to share sessions between Spring Boot 2.3 and 2.4. applications.

**

[2020-11-15 16:47] jnfeinstein commented on #4841
If there isn't planned support for this, could we get public access to the [various helper classes](https://github.com/spring-projects/spring-security/blob/master/core/src/main/java/org/springframework/security/access/expression/method/PreInvocationExpressionAttribute.java#L27) so we can roll home-grown implementations? 🙃

[2020-11-16 14:26] loesak commented on #8649
@jgrandja just getting back to this. You are correct. That was much easier.

https://gist.github.com/loesak/d042f545a57bb6e875347542b1eb1793#file-oauth2feignrequestinterceptor-v2-java

I still find it strange that I still need to create a fake authentication object ...

- https://docs.spring.io/spring-security/site/docs/5.3.2.RELEASE/reference/html5/#oauth2Client-authorized-manager-provider

[code

[2020-11-16 15:08] jgrandja commented on #8649
@loesak

This was added in 5.3.0 -> `OAuth2AuthorizeRequest.Builder.principal(String principalName)`

[2020-11-16 15:35] loesak commented on #8649
I guess the question is, in the case when using working outside of a HttpServletRequest context, or with client credentials or password grant for that matter, is a principal needed at all? When would the value ever be different? And whatever value it is, in these cases, will it ever actually represent a authentication principal or be more just a cache key?

I think I understand why it's needed ins

[2020-11-16 15:48] jgrandja commented on #9201
@grimsa It's not clear to me if you are reporting an issue?

`null` is never returned. It's always a `boolean`?

Which code are you referencing in `if (!accessTokenJwt.containsClaim(CUSTOM_CLAIM))`?

[2020-11-16 16:45] eleftherias opened #9205 "Match requests based on servlet dispatcher type"
Add a matcher to match requests and apply security rules based on the servlet Dispatcher type (FORWARD,INCLUDE,REQUEST,ASYNC,ERROR).

**Context**

This will allow users to define what happens in the case of an ERROR dispatch.
This may help in cases such as gh-9181.

[2020-11-16 16:46] eleftherias commented on #9181
Thanks for the sample @MatCuk.

Looking at the logs I see that Jetty is performing an error dispatch when the file size exceeds the max.

Logs:
[code]

This causes it to try to access the "/error" page which is secured and therefore you see a 401 response.

One solution is to permit access to the "/error" page, assuming that there is no sensitive information on there.

[code]

Based on this issue,

[2020-11-16 16:46] #9181 closed

[2020-11-16 17:47] grimsa commented on #9201
@jgrandja I'm referencing `ClaimAccessor#containsClaim` (in the provided example `accessTokenJwt` is instance of `ClaimAccessor`).

My observation is - if `null` is never returned from `containsClaim` method, then why is the return type `Boolean` (which leads to false positives during static analysis) and not `boolean`?

It is definitely not a bug, just a possibility for minor enhancement.

[2020-11-16 23:08] loesak commented on #8649
@jgrandja apologies. forgot to tag you. see above.

[2020-11-17 05:20] chenrujun opened #9207 "Consent scopes belong to multiple resource servers"
**Expected Behavior**

In spring-security-oauth2-client,
when multiple clientRegistrations use the same provider,
by one user-consent operation,
resource owner can consent scopes belong to **multiple** resource servers ,
and put **multiple** authorizedClients into OAuth2AuthorizedClientRepository.

**Current Behavior**

when multiple clientRegistrations use the same provider,
by one user-consent o

[2020-11-17 11:29] MatCuk commented on #9181
Ok, will try. Thanks!

[2020-11-17 14:08] MatCuk commented on #9181
Can confirm it works now.

[2020-11-17 14:26] rchigvintsev commented on #7709
@avinashkris9 Yes, certainly. Here is my filter function with several additional methods:

    @Override
    public Mono<ClientResponse> filter(ClientRequest request, ExchangeFunction next) {
        return next.exchange(request)
                .flatMap(response -> {
                    if (!isJsonCompatibleResponse(response)) {
                        log.warn("Content type of access token respo

[2020-11-17 17:27] luqmanulkhair commented on #8882
@jgrandja I have setup okta oauth2login and it works perfectly fine in my local machine, however running it under a corporate network behind a proxy the call to /token is refused. Is there documentation somewhere, which it shows how can I set the proxy. If I make a direct call to /token then my proxy configuration works. I don't know how to set it up with spring-security-weblfux oauth2login. Thank

[2020-11-17 20:08] jzheaux commented on #9199
Sounds great, @adi-devops.

[2020-11-17 22:10] spring-issuemaster commented on #9170
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-11-17 22:10] #9170 closed

[2020-11-17 22:12] luqmanulkhair commented on #9019
@jgrandja
"As well, you will need to supply a custom RestOperations configured with the appropriate Proxy settings and supply this to DefaultAuthorizationCodeTokenResponseClient and OidcUserService"

How to set it in the web flux? I am searching for days, the documentation for spring security is complete but there is no such thing about web flux security.

[2020-11-18 03:30] luqmanulkhair commented on #7027
@jgrandja How to set webClient for jwks, inside spring webflux?

[2020-11-18 04:13] luqmanulkhair commented on #6343
@jgrandja how can we pass NimbusReactiveJwtDecoder. I made bean configuration but seems like it web-flux securty doesnot take it.

[2020-11-18 17:43] adi-devops commented on #9199
@jzheaux I have created an initial PR by adding new properties in `Saml2AuthenticationRequestContext` and reading them in `OpenSamlAuthenticationRequestFactory` can you please review it? Do we need to update [DefaultSaml2AuthenticationRequestContextResolver#L70]( https://github.com/spring-projects/spring-security/blob/master/saml2/saml2-service-provider/src/main/java/org/springframework/security/s

[2020-11-19 14:53] jgrandja commented on #9201
@grimsa What enhancement are you proposing? Change return type from `Boolean` to `boolean` OR improve javadoc?

[2020-11-19 14:55] grimsa commented on #9201
Changing to `boolean` would be preferable.
If that is not possible, then Javadoc could be improved to explain why.

[2020-11-19 15:10] jgrandja commented on #9201
Changing return type to `boolean` would break compatibility for any 5.x version. We could update the javadoc. Would you be interested in submitting a PR for this?

[2020-11-19 20:13] jgrandja commented on #8649
@loesak `OAuth2AuthorizedClient.principalName` is required as it specifies the "owner" of the `OAuth2AccessToken`. For the `authorization_code` grant, the principal is the Resource Owner. However, for the `client_credentials`, the principal is the client and is typically assigned the `client_id`.

[2020-11-19 20:22] jgrandja commented on #9207
Apologies @chenrujun, but I'm not understanding your use case.

Can you put together a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates your use case so I can better understand.

[2020-11-19 21:41] grimsa commented on #9201
Sure. Let me know what the javadoc should be and I'll create a PR with that change.
Or maybe this should target 6.x instead?

[2020-11-19 23:15] spring-issuemaster commented on #9115
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-20 11:05] spring-issuemaster commented on #9188
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-20 18:08] mengelbrecht opened #9210 "OidcIdToken cannot be serialized to JSON if token contains claim of type JSONArray"
**Describe the bug**
If an IdP sends an ID token with claim `amr`, the Jackson `ObjectMapper` with `SecurityJackson2Modules` cannot serialize the ID token to JSON (related: https://github.com/spring-projects/spring-security/issues/4370).
The `amr` claim in the ID token has the type `com.nimbusds.jose.shaded.json.JSONArray` for which there is no default mixin.

Tested with Spring-Security 5.4.1.

*

[2020-11-21 21:43] omlip opened #9212 "Better meaning error when principalClaimName is set and claim value is not a String"
**Context**

When configuring an Spring application as an OAuth Resource Server and we use Jwt, we can set manually the `principalClaimName` on JwtAuthenticationConverter object.

Example like this
[code]

**Current Behavior**

If we use a specific `principalClaimName` on a JwtAuthenticationConverter and if the value behind the claim name is not a String, a ClassCastException is thrown in the conv

[2020-11-22 12:49] NeluAkejelu commented on #7596
JwtGrantedAuthoritiesConverter composite =
    new DelegatingJwtGrantedAuthoritiesConverter(authorities(), scope());

Please any information on the status of this addition DelegatingJwtGrantedAuthoritiesConverter ? I need to implement something similar that allows to extract my granted authorities from both the scope and authorities.

[2020-11-23 10:10] pyorama opened #9213 "OAuth2AuthorizationRequest additionalParameters urlencoding"
**Describe the bug**
Got invalid url If defining for example json-string as additional parameter for OAuth2AuthorizationRequest.
In addition if defining already urlencoded parameter for OAuth2AuthorizationRequest - still got invalid url because the parameter is now urlencoded again.

**To Reproduce**

Case 1:
Define custom oauth authorization requst with extra parameter as described in: https://ww

[2020-11-23 11:43] jgrandja commented on #9210
Thanks for the report @mengelbrecht. The default converter for the `amr` claim is `Collection<String>` in [OidcIdTokenDecoderFactory.createDefaultClaimTypeConverters()](https://github.com/spring-projects/spring-security/blob/2abf59b695b3ad14719299ed17ff47b181eed802/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/authentication/OidcIdTokenDecoderFactory.java#L112)

[2020-11-23 12:30] mengelbrecht commented on #9210
I could not create a test because the JWT has to be signed and the validator wants to fetch the jwks which fails in my test.

After a little more digging I could reproduce it using this Kotlin snippet. The code outputs `com.nimbusds.jose.shaded.json.JSONArray` as type for the converted object.
[code]

When `NimbusJwtProcessor` processes the parsed `JWT` the `JWTClaimsSet` contains the `JSONArray`

[2020-11-23 12:36] jgrandja commented on #9210
Good catch @mengelbrecht !

So the issue is in [ObjectToListStringConverter](https://github.com/spring-projects/spring-security/blob/2abf59b695b3ad14719299ed17ff47b181eed802/oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/converter/ObjectToListStringConverter.java#L62).

Instead of returning the `source` as-is, it should instead convert to a `new ArrayList<String>()`.

Wo

[2020-11-23 12:55] jgrandja commented on #9213
@pyorama This has already been resolved via #7871. See this test:
https://github.com/spring-projects/spring-security/blob/2abf59b695b3ad14719299ed17ff47b181eed802/oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequestTests.java#L334

[2020-11-23 12:55] #9213 closed

[2020-11-23 15:01] loesak commented on #8649
@jgrandja ok. Makes sense. Thank you for your quick responses.

[2020-11-23 15:49] mengelbrecht commented on #9210
@jgrandja unfortunately I don't have the time at the moment, sorry

[2020-11-23 16:11] jgrandja commented on #9210
No worries @mengelbrecht. Thanks for reporting this!

[2020-11-23 16:47] jgrandja commented on #9212
@omlip I agree that we should avoid a `ClassCastException` from being thrown.

I think adding `Assert.isInstanceOf()` (as suggested) is a reasonable improvement. Would you be interested in submitting a PR for this?

[2020-11-23 17:12] omlip commented on #9212
@jgrandja Sure I will, you can assign it to me

[2020-11-23 17:18] jgrandja commented on #9212
Thanks @omlip !

[2020-11-23 18:29] akohli96 commented on #8979
Hello @rwinch , may I take this?

[2020-11-23 19:28] jgrandja opened #9214 "CheckStyle rules file could not be parsed"
**NOTE:** This issue is specific to IntelliJ.

IntelliJ reports the following error:

The IntelliJ [CheckStyle configuration](https://github.com/spring-projects/spring-security/blob/master/.idea/checkstyle-idea.xml#L6) has the following as the active configuration:

`<entry key="active-configuration" value="PROJECT_RELATIVE:$PROJECT_DIR$/etc/checkstyle/checkstyle.xml:spring-security" />`

This is

[2020-11-23 19:35] #9214 closed

[2020-11-23 20:10] omlip commented on #9212
@jgrandja  PR submitted

[2020-11-23 21:48] zokkr commented on #8668
Hi @jzheaux
With my current project, I have a similar requirement:
I am not using the JWT in an authorization header, but instead (to have it in a secure place) I set it as HttpOnly and SameSite=Strict cookie and afterwards resolve it like this:

[code]

This leads to the need of having csrf validation in place. I modified your workaround (thanks for that one!) a bit, so it doesn't unnecessarily c

[2020-11-24 00:09] madmaxmofo2020 commented on #5343
The "Configuration" doesn't work. You get this error:

Bean property 'allowConsecutiveSlashes' is not writable or has an invalid setter method.

[2020-11-24 01:01] jzheaux commented on #7596
Thanks for the ping, @NeluAkejelu. My apologies as this one fell off my radar. Please see [the related PR](https://github.com/spring-projects/spring-security/pull/7597) to see if it suits your needs.

[2020-11-24 07:44] chenrujun commented on #9207
Hi, @jgrandja , Thank you for your response.

Here is the sample:
https://github.com/chenrujun/spring-security-issues-9207-sample/blob/master/src/main/resources/application.yml
[code]
In this configuration, `registration-one` and `registration-two` use the same provider: `provider-one`.
I need this function: after user login in `provider-one`'s login page, both `registration-one` and `registration

[2020-11-24 10:21] codetalkr commented on #8967
me too.

[2020-11-24 10:31] NeluAkejelu commented on #7596
@jzheaux Thanks. I'll take a look.

[2020-11-24 11:17] ovidiupopa91 commented on #9210
hi @jgrandja . I will submit a PR for this today or tomorrow.

[2020-11-24 13:46] nntk opened #9216 "Cannot access 'WebSecurityEnablerConfiguration': it is package-private"
**Describe the bug**
With kotlin 1.4 explicit api mode enabled [explicit api mode](https://kotlinlang.org/docs/reference/whatsnew14.html#explicit-api-mode-for-library-authors
) I could not compile with Spring boot 2.4.0 anymore. With 2.3.5 it was working. However between those updates I enabled the strict mode. The error message is reading as `Cannot access 'WebSecurityEnablerConfiguration': it is

[2020-11-24 14:00] #9216 closed

[2020-11-24 14:36] jgrandja commented on #9210
That would be great @ovidiupopa91. Thank you!

[2020-11-24 14:46] jgrandja commented on #9212
Thanks @omlip. Agreed, please update the javadoc for `setPrincipalClaimName()`.

[2020-11-24 14:50] jgrandja commented on #9210
@ovidiupopa91 Looks like we could run into the same problem with `ObjectToMapStringObjectConverter`:
https://github.com/spring-projects/spring-security/blob/2abf59b695b3ad14719299ed17ff47b181eed802/oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/converter/ObjectToMapStringObjectConverter.java#L57

It returns the `Map` as-is, which could be a `com.nimbusds.jose.shaded.json

[2020-11-24 15:03] omlip commented on #9212
Ok will update the PR accordingly.

[2020-11-24 15:20] jgrandja commented on #9201
@grimsa On second thought...

Let's `@Deprecated`:

`Boolean containsClaim(String claim)`

And add:

`boolean hasClaim(String claim)`

We should also ensure there are no reference to `containsClaim()` within the codebase.

Sound good?

[2020-11-24 18:56] zhengchalei opened #9217 "An incorrect exception message comes from username not found"
verson: springboot2.4.0
look this
`org.springframework.security.authentication.dao.AbstractUserDetailsAuthenticationProvider#authenticate`

[code]

[2020-11-24 19:01] omlip commented on #9212
Hi @jgrandja I was talking about [Spring Security Reference](https://docs.spring.io/spring-security/site/docs/current/reference/html5/) documentation.
In particular, the following sentence:

to be transformed in something like this :

but also I can update javadoc of course :-)

What do you think ?

br
Olivier

[2020-11-24 21:09] jgrandja commented on #9212
Sounds good @omlip

[2020-11-24 22:35] #7596 closed

[2020-11-24 22:56] jzheaux commented on #9189
This appears related to https://github.com/spring-projects/spring-security/issues/4961

[2020-11-24 23:40] jzheaux commented on #9202
@mazenaissa, thanks for the suggestion. Would you be able to submit a PR to add the feature?

You can see [an example of resolving placeholders in `HeadersBeanDefinitionParser`](https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/http/HeadersBeanDefinitionParser.java#L163-L165).

[2020-11-25 00:50] jzheaux commented on #9217
Hi, @zhengchalei, thanks for reaching out.

"Bad credentials" is a more generic error, which is considered more secure in this case, similar to why websites say "your username **or** your password is wrong".

You can read more in the JavaDoc for `AbstractUserDetailsAuthenticationProvider#setHideUserNotFoundExceptions`:

   <code>BadCredentialsException</code> if a username is not found or the pass

[2020-11-25 00:50] #9217 closed

[2020-11-25 09:12] mazenaissa commented on #9202
Hello @jzheaux
The feature can be added on which versions ? From 5.0 to 5.5 ?
And in order to change the type of max-sessions to token I must change the spring-security.rnc and spring-security.xsd right ?
Thanks,

[2020-11-25 16:04] jzheaux commented on #9200
Thanks for the report, @stokpop.

I think you are correct that the issue is related to using `WebSessionServerRequestCache`. Have you already tried using `CookieServerRequestCache`? This cache remembers the last request without using the session.

[2020-11-25 18:41] jzheaux commented on #9202
Good questions, @mazenaissa, let's see if I can help.

This usually means you don't have permissions. Are you pushing to your fork of the repo?

Since it is a new feature, let's add it to 5.5

You should be able to create the `rnc` and then run the `rncToXsd` gradle task:

[code]

[2020-11-25 18:46] mazenaissa commented on #9202
Thanks for your reply.
1- I am pushing to spring security project, branch master.
2- If it will be added only in v5.5, do the default spring-security.xsd will have it ? As I am using spring security v5.0.6 jars and importing the xsd in my XML configuration without version, e,g spring-security-5.5.xsd.
3- So I need only to commit the change on the rnc file and test the generation of xsd to see if e

[2020-11-25 19:05] #9201 closed

[2020-11-25 19:50] jzheaux commented on #9202
To make a contribution, please follow these steps:

1. Fork the project and clone it locally
2. Create a branch, you might name it `gh-9202`:
[code]
3. Make your changes and commit
4. Push to your fork
5. Open a PR to merge your fork's branch with Spring Security master

`spring-security.xsd` points to the latest version of the schema.

But, 5.0.6 won't resolve placeholders for `max-sessions`, eve

[2020-11-25 19:53] jzheaux commented on #9199
Good question, @adi-devops. Since the defaults are passive, I believe that `DeafultSaml2AuthenticationRequestContextResolver` can stay as it is.

[2020-11-25 20:11] jgrandja opened #9220 "Deprecate ClientAuthenticationMethod BASIC and POST"
Deprecate `ClientAuthenticationMethod.BASIC` and `ClientAuthenticationMethod.POST` in favour of `ClientAuthenticationMethod.CLIENT_SECRET_BASIC` and `ClientAuthenticationMethod.CLIENT_SECRET_POST`.

This aligns with the names defined in [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication)

[2020-11-25 20:21] #9220 closed

[2020-11-25 23:59] rwinch commented on #8979
Please do!

[2020-11-26 00:58] ykawano-class commented on #9176
Thank you. It's the same problem as  #9175, so I'll close it.

[2020-11-26 00:58] #9176 closed

[2020-11-26 15:28] jgrandja commented on #9207
@chenrujun The sample you provided does not qualify as a [minimal reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example). The only code in there is `@SpringBootApplication` and `application.yml`.

Either way, I now understand what you are trying to achieve.

The 2 options are as follows:

### Option 1

Change `application.yml` to:

[code]

After user is logged in then re

[2020-11-26 15:28] #9207 closed

[2020-11-26 17:23] #9203 closed

[2020-11-26 17:24] eleftherias commented on #9203
Thanks for the detailed report @mengelbrecht!
This is fixed in 7f482ed and I will be backporting it to the 5.4.x branch as well.

[2020-11-26 22:27] dericop opened #9221 "Spring Security performance in webflux"
**Describe the bug**
When configuring a Spring Webflux application to use Spring Security to protect APIS with Basic Authentication, the performance is seriously affected.

**To Reproduce**

Spring WebFlux versión:  5.3.1
Spring Security: 5.4.1
Project Reactor: 3.4.0

1. Define an Api Controller:

[code]

2. Protect the routes with Sprint Security:
[code]

3. Do a performance test:

![image](https

[2020-11-26 23:15] spring-issuemaster commented on #9115
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-11-27 02:22] chenrujun commented on #9207
@jgrandja , Thank you  for your response.

---

This option can **NOT** solve my problem. Because in `access_token`, there is a claim named `aud`, which means `audience`.
One `access_token` can only have one `audience`:
 - `scope-one-one, scope-one-two` belongs to `audience-one`,
 - `scope-two-one, scope-two-two` belongs to `audience-two`,
So we can NOT get `access_token` for the 4 scopes, because

[2020-11-27 11:05] spring-issuemaster commented on #9188
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-11-27 11:05] #9188 closed

[2020-11-27 12:22] jgrandja commented on #9207
@chenrujun

Option 1 can work but you will need to configure the provider.

As [per spec](https://tools.ietf.org/html/rfc7519#section-4.1.3), the `aud` claim:

   intended for.  Each principal intended to process the JWT MUST
   identify itself with a value in the audience claim.  If the principal
   processing the claim does not identify itself with a value in the
   "aud" claim when this claim i

[2020-11-27 16:14] ganeshan123 opened #9223 "Redirect Spring Azure Authentication to another provider when Azure AD is Down"
Hi,
We are currently authenticating our web application using spring azure,
We need to provide an alternative provider when Azure AD is down,
Can you please help to clarify the below
1.How to test by bringing down Azure AD
2.How to redirect the exception (When azure AD is down) to the calling application (My current web application) and redirect to another provider say LDAP Provider to continue wi

[2020-11-27 23:35] belovaf opened #9224 "ACL change Permission#getMask() type from "int" to "long""
**Expected Behavior**

Permission#getMask() returns long.

**Current Behavior**

Permission#getMask() returns int.

**Context**
In our project we have very complex security restrictions. We have a lot of tiny permissions (1 bit for each) which we compose to a single mask permission. We reached a limit of int size (32 bits).
I think java.util.BitSet mask will be perfect in our case, but it will be

[2020-11-27 23:47] belovaf opened #9225 "ACL add String AccessControlEntry#getKey()"
In our project we have very complex security restrictions.
When some Start event happens we grant some permissions to a set of sids.
But when the corresponding End event happens we should revoke exactly the same set of permissions.
It would be great if we can pass some optional key attribute to MutableAcl::insertAce method.
In this case when the corresponding End event happens we can just remove a

[2020-11-29 02:46] Larry-JJ commented on #7954
May I know is there any progress on spring security saml support spring webflux?

[2020-11-30 00:33] chenrujun commented on #9207
@jgrandja

I got it. Thank you very much for your suggestions. 👍

---
Hi, @lzc-1997-abel , could you please investigate whether Microsoft Identity support:
1. Multiple audience in "aud" claim.
2. Auto-approving scopes and/or not displaying the consent screen

[2020-11-30 00:35] luqmanulkhair commented on #6552
@DarrenJiang1990 Does this mechanism also works with oauth2login()?

[2020-11-30 15:22] amergey commented on #8953
@jzheaux Sorry to come back so late, but I forgot to mention #8141 provide a solution for AuthnContextClassRef but there is no solutions for NameIDPolicy (the need for that is also mentioned here #8685)

[2020-11-30 16:24] amergey commented on #8141
It seems the ability to customize AuthnRequest which was added there, has been removed (or at least make more difficult) in 5.4.1 with https://github.com/spring-projects/spring-security/commit/af5c55c380a9018947da93729e0ef2839f13300f#diff-fc7cb5ee4992dc89c57d8930e6fcec7b4784e7f760ffe2480dce619f812e121e

Before it was quite easy to customize set ForceAuthn
[code]

In latest version it is necessary

[2020-11-30 18:47] jzheaux commented on #8141
@amergey, to clarify, this feature was added in 5.4.0 and did not change in 5.4.1. The API has remained the same since it GA'd in September.

Please see if https://github.com/spring-projects/spring-security/pull/9209 simplifies what you are trying to do.

In the meantime, several of the attributes that Spring Security sets are optional, so a copy/paste may bring in more than you need to maintain.

[2020-11-30 19:23] amergey commented on #9199
Also ability to set the NameIDPolicy format would be great and useful. By experience with AuthnContextClassRef, this is something that we are used to configure to be able to connect to various saml idp.

[2020-11-30 20:12] jzheaux commented on #9199
Thanks for the feedback, @amergey. I believe that could be [inferred from metadata](https://github.com/spring-projects/spring-security/issues/9115), so I think a good start would be to add it to `RelyingPartyRegistration`.

If you agree, would you add some detail to that ticket and indicate whether you are able to contribute a PR?

[2020-11-30 20:21] jzheaux commented on #7954
There has not yet been progress as other items have taken priority.

If several community members start voting for this item, it's something that we could consider moving up the list.

[2020-11-30 20:26] stokpop commented on #9200
Thanks for the suggestion, @jzheaux: I've set Spring Security to version 5.4.1 to use the new `CookieServerRequestCache` via `ServerHttpSecurity`:

[code]

I can confirm that the threads are running on the `reactor-http-nio-*` threads instead of `boundedElastic` threads with `CookieServerRequestCache`. (And I can see a cookie being set in the http response.) Still our goal is to disable the reques

[2020-11-30 21:18] jzheaux commented on #9224
Thanks for the suggestion, @belovaf. Unfortunately, it would not be backward compatible. An application that is doing:

[code]

would no longer compile since the type is being narrowed from `long` to `int`.

Given that, we wouldn't be able to accept this change.

[2020-11-30 22:45] jzheaux commented on #9200
This is something that's been under consideration by the team in the past; @rwinch and @eleftherias probably have a bit more context. It might be best to have the default request cache be `CookieServerRequestCache`.

I'll bring up this ticket with the team and report back.

[2020-12-01 02:15] DarrenJiang1990 commented on #6552
no, token must be stored in oauth2 server

[2020-12-01 06:23] caiqichang commented on #6908
i got this problem if using `.antMatcher()` .
without any `.antMatcher()` , everything work well !

[2020-12-01 07:19] amergey commented on #9115
@jzheaux I saw your mention, I will try to submit a PR for this

[2020-12-01 12:07] belovaf commented on #9224
Thank you for such a fast response!
I meant that we can do something like that (choose either getBitSetMask or getLongMask):
`
    interface Permission extends Serializable {
        int getMask();

        default BitSet getBitSetMask() {
            return BitSet.valueOf(new long[]{getMask()});
        }

        default long getLongMask() {
            return getMask();
        }
    }
`

And c

[2020-12-01 12:32] belovaf opened #9226 "ACL support permissions with masks longer than 32 bits"
Thank you for such a fast response on [9224](https://github.com/spring-projects/spring-security/issues/9224)!
You declined it (for a good reason) and I decided to create a new issue.
Is it OK, or should I continue discussion in that issue?

Can we do something like this (choose either `getBitSetMask()` or `getBigMask()` or `getLongMask()`):
[code]
And then we can change BasicLookupStrategy, Defaul

[2020-12-01 17:24] merusso opened #9228 "Document generic AuthenticationFilter class"
A generic AuthenticationFilter class was added in #6506 to v5.2, but there still isn't any documentation to explain why or how to use it.

Would it be ideal for a web API that uses a form of username/password authentication using custom headers (Client-ID, Client-Secret)? This feels like a simple use case but one that still appears to require a custom filter.

[2020-12-01 21:41] jzheaux commented on #9223
Thanks for getting in touch! It feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to [use GitHub issues only for bugs and enhancements](https://github.com/spring-projects/spring-framework/blob/master/CONTRIBUTING.md#discuss). Feel free to update this issue with a link to the re-posted question (so that other people can find it) or

[2020-12-01 21:41] #9223 closed

[2020-12-01 21:43] jzheaux commented on #9185
@fast-reflexes are you able to contribute a PR that adds this feature?

[2020-12-01 22:19] ibaskine commented on #4394
@rwinch This your fix created funny problem for me. I use XML-based configuration, for reasons too long to explain. I also use several authentication managers within my configuration, for reasons even longer to explain. After upgrading spring security to 5.X I am getting an exception shown below. This is happening because component scan encounters HttpSecurityConfiguration class and tries to creat

[2020-12-02 06:48] fast-reflexes commented on #9185
@jzheaux yes, I have started working on it but a lot of other things going on as well. Also, this is my first PR for Spring Security so I haven't fully read up on the procedures. Nonetheless, the implementation itself is done, just need to ...
* Fix existing tests
* Possibly write new tests
* Check guidelines and adhere to formatting and other stuff

[2020-12-02 09:12] amergey commented on #9115
We have some customers where specifying NameIdFormat is mandated by their IDP (or the way they configure it). It seems quite common with PingFederate (but we have that we other as well).

NameIdFormat is a part of NameIDPolicy which support others attributes
SAML Core specification:

[2020-12-02 10:54] eleftherias commented on #9221
This is by design.

Spring Security leverages an adaptive one-way function to store the password. These are intentionally resource intensive, which means validating a username and password for every request will degrade performance of an application significantly.
There is nothing Spring Security (or any other library) can do to speed up the validation of the password since security is gained by m

[2020-12-02 10:54] #9221 closed

[2020-12-02 15:51] jzheaux commented on #9185
No problem, @fast-reflexes, take what time you need.

Regarding fixing existing tests, please do your best to leave them as-is. When adding a feature, all other behavior in Spring Security should remain the same.

[2020-12-02 15:57] eleftherias opened #9229 "AbstractAuthenticationFilterConfigurer failureUrl Javadoc is incorrect"
The `failureUrl(String)` Javadoc states that this method is a shortcut for invoking `failureHandler(AuthenticationFailureHandler)`, which is incorrect.

The behavior of `failureUrl` changes based on whether a custom `loginPage` is configured, while the behavior of `failureHandler` stays the same in either case.

### When a custom login page is configured
[code]

In this case, developers are requir