[2019-06-03 08:22] codemasterover9000 commented on #1901
+1

[2019-06-03 08:38] edwint229 opened #6942 "spring-cas cannot logout other cas client caused by SessionFixationProtectionStrategy"
### Summary

I am doing spring cas intergration part, today I got a issue, I have multiple cas clients, when I logout client A, but client B cannot logout successful by cas SingleSignOutFilter. When I am looking into the code logic, I found  SingleSignOutFilter is base on cached session id to logout user. But SessionFixationProtectionStrategy will replace the session id which already cached in Sin

[2019-06-03 10:03] TheFonz2017 commented on #6909
Hi Josh,

thanks for your response, and sorry for not being clear enough.

**The actual problem is:** - `NimbusJwtDecoderJwkSupport` has a method to `setJwtValidator(OAuth2TokenValidator<Jwt>)`, but it does **not** have a method to get the validator(s), e.g. `OAuth2TokenValidator<Jwt> getJwtValidator()`.

**Why is this a problem?** - The current guidance (which you said is still preferred) is fine

[2019-06-03 11:23] dkroehan opened #6943 "WebFluxSecurityConfiguration prevents access to WEB_FILTER_CHAIN_FILTER_ORDER"
The issue https://github.com/spring-projects/spring-security/issues/4475 introduced the `WEB_FILTER_CHAIN_FILTER_ORDER` constant with public static visibility to `org.springframework.security.config.annotation.web.reactive.WebFluxSecurityConfiguration`.

The problem is that the `WebFluxSecurityConfiguration` class itself is package visible, so that this constant cannot be accessed from other user-

[2019-06-03 12:06] Tugdual commented on #6491
I had the same problem on my project. It's not with Spring Boot, but if it can help...

My custom config was ignore because another GlobalSecurityMethodConfiguration was imported before.
Everything worked just fine after removing the `@Import(OtherCustomConfig.class)` (an d merging it with my custom config)

[2019-06-03 13:13] dnl50 commented on #6883
Would it be possible to implement a `JwtDecoder` that decodes the header of the given token first to determine the signing algorithm used. The signing algorithm would then be used to find a decoder that supports the signing algorithm.

[code]

The `DelegatedJwtDecoder` would have an additional `boolean supportsAlgorithm(String algorithm)` method which would receive the signing algorithm the given

[2019-06-03 15:26] jgrandja commented on #6320
@EtachGu No it hasn't started yet. This is targeted for 5.3 as indicated in the Milestone of this ticket. We are currently working on the upcoming 5.2 release.

[2019-06-03 15:54] jgrandja commented on #6883
@dnl50 I believe the example implementation you provided is similar to what @rwinch has suggested. However, I don't believe we need to introduce a new interface `DelegatedJwtDecoder` with the additional operation `supportsAlgorithm()`.

Instead, we would provide a new implementation of `JwtDecoder` which would be constructed with a `Map` of `alg` to `JwtDecoder` to allow for this. It might not be

[2019-06-03 16:45] SparkMonkey commented on #6491
I failed to reproduce at home from a brand new project.

I'll retry on the environment on which the problem occured soon.

[2019-06-03 17:31] ch4mpy opened #6945 "More flexibility on authorizations lookup on OAuth2 resource-server"
The default authentication managers / builders for OAuth2 builds authorities from "scope" claim.

IMO, this comes with serious limitations, main reason being it mixes the notions of
* authorization: what the user is allowed to on a resource server
* scope: what the user allows a client to do in his name with resource-servers

If authorisation-server serves authorities, shouldn't we expect user aut

[2019-06-03 20:45] #6818 closed

[2019-06-03 20:46] rwinch commented on #6818
Thanks for the report @sdeleuze! The changes are now merged into master

[2019-06-03 20:56] jgrandja opened #6947 "Add generic getClaim() method in ClaimAccessor"
We should add a convenience (default) method in `ClaimAccessor`, as follows:

[code]

Related to [comment](https://github.com/spring-projects/spring-security/pull/6799#discussion_r286698589)

[2019-06-03 21:09] spring-issuemaster commented on #6552
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-06-03 21:09] #6552 closed

[2019-06-03 21:13] varpa89 commented on #6020
@jgrandja could you provide an example of customisation for ReactiveOAuth2AccessTokenResponseClient?

[2019-06-03 21:54] php-coder opened #6948 "mvcMatchers().hasAuthority() denies an access even when a user has an authority"
### Summary
`.mvcMatchers("/collection/{slug}/estimation").hasAuthority("ADD_SERIES_PRICE")` should always give an access to a user with `ADD_SERIES_PRICE` authority.

But I see that the user has access to one page and doesn't have to another:

URL | have access?
---- | --------------
/collection/admin/estimation | Yes
/collection/paid/estimation    | **No**

### Actual Behavior
User with permissi

[2019-06-04 03:15] sbespalov commented on #6506
@rwinch I am glad we can have this conversation to find a right way implementing proposed feature.

Let me provide an outline as you requested:
1. The solution is based on `AbstractAuthenticationProcessingFilter` and use its callback methods for authentication flow, follwing methods are used:
    - `AbstractAuthenticationProcessingFilter.requiresAuthentication` to check if request contains support

[2019-06-04 03:56] clementkng commented on #6498
I have a couple questions.

On the high level, my understanding is that the `OAuth2TokenAttributes` class is going to wrap both the `token` and the `attributes` map, so that the application does not need to handle the token verification step (as mentioned in the first code sample), which will instead be handled in one place by this new class. Does this mean that we are going to overhaul everything

[2019-06-04 09:13] spring-issuemaster commented on #5541
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-06-04 09:13] #5541 closed

[2019-06-04 13:53] wtatum opened #6949 "invalid_redirect_uri_parameter behind reverse proxy"
### Summary

This was previously raised as #6347 but it's not clear to me what the remedy is. The recommendation at the time was to use ForwardedHeaderTransformer but what's unfortunate and confusing to me is that when ForwardedHeaderTransformer _isn't_ used everything seems to _almost_ work but fails deep in the guts of the OAuth response validation.

### Actual Behavior

#### Request
When operat

[2019-06-04 13:57] jgrandja opened #6950 "Introduce OAuth2AuthorizedClientProvider"
We should introduce a new API that is responsible for authorizing an OAuth 2.0 Client.

This is a sub-task for #6811.

[2019-06-04 16:13] jgrandja commented on #6950
Closing in favour of https://github.com/spring-projects/spring-security-team-tasks/issues/17

[2019-06-04 16:13] #6950 closed

[2019-06-04 16:28] fhanik commented on #6948
I've simplified the code down to only have the actual matcher we're talking about present.

https://github.com/fhanik/spring-security-community/tree/master/samples/spring-sec-iss-6948

I'm unable to reproduce the issue. I also did downgrade to your versions of Spring Boot and Spring Security

[2019-06-04 17:09] fhanik commented on #6948
I debugged your code, and found that this [expression](https://github.com/php-coder/mystamps/blob/7d51e230d9b707a5943cd826621a957606087dfe/src/main/java/ru/mystamps/web/support/spring/security/HasAuthority.java#L26) is being invoked.

And that is used by a [@PreAuthorize](https://github.com/php-coder/mystamps/blob/8e49d7bfb065d766857a17b2c1f79bb60d7dd60f/src/main/java/ru/mystamps/web/feature/colle

[2019-06-04 17:11] #6948 closed

[2019-06-04 18:04] php-coder commented on #6948
@fhanik Thank you, Filip, for debugging the code!!

I'm so sorry that you had to do it and I missed the bug in my own code :( I've totally forgot about this check.

[2019-06-04 20:01] rwinch opened #6952 "DefaultServerOAuth2AuthorizationRequestResolver should use fromUri"
### Summary

`DefaultServerOAuth2AuthorizationRequestResolver` should use `UriComponentsBuilder.fromUri` rather than `HttpComponentsBuilder.fromHttpRequest` to be consistent with the rest of Spring Security and to ensure users opt into using request headers.

[2019-06-04 20:01] spring-issuemaster opened #6953 "DefaultServerOAuth2AuthorizationRequestResolver should use fromUri"
Backport of gh-6952

[2019-06-04 20:02] rwinch commented on #6949
Thanks for the report.

We should update `DefaultServerOAuth2AuthorizationRequestResolver` to use `fromHttpUrl` rather than `fromHttpRequest` so that users opt into the behavior. I created gh-6952 to address this.

When using`ForwardedHeaderTransformer` does everything work?

[2019-06-04 20:28] #6952 closed

[2019-06-04 20:41] spring-issuemaster commented on #6953
Fixed via 4f1d7f7cdd0cb6a1ecd81db02fb3103dc4b67db0

[2019-06-04 20:41] #6953 closed

[2019-06-04 23:32] #6245 closed

[2019-06-05 04:30] since1986 opened #6954 "RoleHierarchy Comments are misleading"
### Summary

In the current version (5.1.5), the comments in the `org.springframework.security.access.hierarchicalroles.RoleHierarchy` class do not indicate their true behavior and are misleading.

### Actual Behavior

The correct expression for "role inheritance" should be defined like this: "ROLE_HIGHEST > ROLE_HIGHER > ROLE_LOW > ROLE_LOWER > ROLE_LOWEST".

### Expected Behavior

But the commen

[2019-06-05 11:29] wtatum commented on #6949
Yes, just adding the ForwardedHeaderTransformer with default options caused it to work as expected. Thanks for the advice. I see gh-6952 is already closed as well, so thanks for the quick response there as well. Always appreciated.

[2019-06-05 11:29] #6949 closed

[2019-06-05 12:41] jgrandja commented on #6890
@wangzw The one thing that I would like to point out (in case you are not aware) is that when a user authenticates via `oauth2Login()`, **2 sessions  are created**. The first session is with the provider and the second session is with the application.

Given your use case, if supervisor logs out of the application (but not with the provider) and a non-privilege user attempts to authenticate via th

[2019-06-05 13:09] jgrandja commented on #6888
@jjstreet

`UnAuthenticatedServerOAuth2AuthorizedClientRepository` is not meant to be used in the context of a web request. The javadoc states:

 user associated to it**.

`UnAuthenticatedServerOAuth2AuthorizedClientRepository` is meant to be used **outside of a web request** only. For example, in a java application that acts as a CLI or a background async process.

For web applications, you shoul

[2019-06-05 13:09] #6888 closed

[2019-06-05 13:50] jgrandja commented on #6886
@furti If you look at the logic in `OidcUserService.shouldRetrieveUserInfo(()`, you will see that the UserInfo request is initiated only if the `user-info-uri` is configured and **at least one** of `profile`, `email`, `address` and `phone` scopes was requested in the Authorization Request.

It sounds like you have `user-info-uri` configured but do not have any of the standard scopes configured. In

[2019-06-05 14:50] rwinch opened #6955 "Update to nohttp 0.0.2.RELEASE"
### Summary
Update to nohttp 0.0.2.RELEASE

[2019-06-05 14:52] #6955 closed

[2019-06-05 15:34] vishalvrv9 commented on #6516
Hey @jzheaux , worked on the feedback a couple of days back.

[2019-06-05 15:51] wangzw commented on #6890
@jgrandja

Thanks for your reply. I'm aware that two different sessions exist for application and provider.

At Step 3, a non-privilege user login system B (Provider), so the session of provider is for non-privilege user.

Yes, it is expected.

But finally application shows that the login user is supervisor.

The reason is that since the session of system A (application) for supervisor still avail

[2019-06-05 16:06] wangzw commented on #6890
Let me make the issue clear.

OAuth2 login has 3 steps (code flow):

1. Authenticate with provider and get code.
2. validate code and get access token.
3. validate token and get token/user information.

Current issue is that since there is a previous session, step 2 and 3 is skipped. And the existence session is reused.

Two consequences:
1. If pervious session is for user A and user B start login

[2019-06-05 19:54] eleftherias opened #6958 "Fix HttpSecurity jee() Javadoc example for mappableRoles"
### Summary

The example configuration in the Javadoc for the `jee()` method in `HttpSecurity` incorrectly demonstrates that the parameters for `mappableRoles()` are prefixed with "ROLE_".

The method implementation of `mappableRoles()` adds the prefix "ROLE_" to any parameter, therefore if a user were to use the demonstrated configuration, then the list of `mappableRoles` would be `["ROLE_ROLE_US

[2019-06-05 20:29] #6863 closed

[2019-06-06 11:12] lpetit-yseop opened #6960 "The JSP taglib `authorize` does not work with the attribute `url` if actuators are configured and protected"
### Summary

When activating actuators and securing them, it's not possible to use the `url` attribute of the `authorize`

### Actual Behavior

The following minimalistic public GitHub repository demonstrates the issue: https://github.com/lpetit-yseop/spring-security-taglib-issue

### Version

Problem occurs with both spring boot 2.0.9 and 2.1.5 with default spring security associated versions.

#

[2019-06-06 11:51] jzheaux opened #6961 "Update to Spring 5.2.0.M3"

[2019-06-06 13:03] wtatum opened #6962 "Separate TokenRefresh capability from ServerOAuth2AuthorizedClientExchangeFilterFunction"
### Summary

The ability to automatically and transparently refresh an OAuth 2 token in `ServerOAuth2AuthorizedClientExchangeFilterFunction` is useful enough that I'd like to be able to use it in other places. However most of the "meat" of the class is private. My particular case is an attempt to solve and/or work around https://github.com/spring-cloud/spring-cloud-security/issues/175 by implement

[2019-06-06 15:05] jgrandja commented on #6962
@wtatum This work is currently underway in #6811. One of the tasks includes separating the `refresh_token` logic into a new implementation of `OAuth2AuthorizeClientProvider` to allow for reuse.

I'm going to close this issue as a duplicate.

[2019-06-06 15:05] #6962 closed

[2019-06-06 16:25] jgrandja commented on #6890
@wangzw

In this scenario the login process is never started (or aborted) given that there is an established session from the supervisor on the previous step. Please keep in mind that the authentication process **will not initiate** if there is already an authenticated session.

Can you please provide details on exactly how you _start a new login process with the non-privilege user_? The fact that

[2019-06-06 16:46] bdemers opened #6963 "Allow for configuring an Authentication Converter for OAuth Resource Server opaque tokens"
### Summary

The new opaque token support is great!

I'd love it if the API matched the JWT equivalent with regards to configuration an authentication converter.  For example:
[code]

Maybe something like:
[code]
Where the converter would take a `Map<String, Object>` of claims.

Basically just allowing the additional processing to convert custom claims into authorities, similar to what how OAuth2I

[2019-06-06 17:10] jgrandja opened #6964 "ID Token validation should use JwtTimestampValidator"
`OidcIdTokenDecoderFactory` and `ReactiveOidcIdTokenDecoderFactory` use `OidcIdTokenValidator` for validating the ID Token. It should also use `JwtTimestampValidator` during the validation process.

[2019-06-06 18:55] pivotal-jamil-shamy opened #6965 "id_token being ignored in OAuth2AuthorizationCodeAuthenticationProvider.authenticate method"
### Summary
Looking at the [oauth2-protocol-patterns](https://github.com/jgrandja/oauth2-protocol-patterns) sample, let's assume that in the [UI App](https://github.com/jgrandja/oauth2-protocol-patterns/tree/master/ui-app) we have this spring security oauth2 configuration:

[code]

**An important difference to note compared to the original sample:** we are requesting the `openid,profile,email` sco

[2019-06-07 04:34] wangzw commented on #6890
That is not true.

From the view of user at step 4, non-privilege user start a new login process of application by open the login URL, redirected to authentication page and type in non-privilege user name and password (since provider's session is cleaned by logout of provider), non-privilege user will think that I have login. But not, supervisor's session of application is actually reused.

From t

[2019-06-07 06:29] wangzw commented on #6890
Compare FormLogin and OAuth2Login

FormLogin: A new user login with a pervious session exists, new user login successfully and session is reset for new user. **Expected**.

OAuth2Login: A new user login with a pervious application session exists (provider session not exist), new user type in new user name and password and no error throws but previous session is reused. **Not Expected**, new user f

[2019-06-07 09:07] wangzw commented on #6890
I found that webflux and servlet have different behavior at this case.

when start a new oauth2 login with previous session exist. (code flow)

Expected:  Application session is reset for new user, just like form login.

Oauth2Login:

1) Servlet:  when the browser call the redirect url, 404 is returned.
2) WebFlux: when the browser call the redirect url, 2xx/3xx is returned (means new user login s

[2019-06-07 09:12] wangzw commented on #6890
To start a new oauth2 login, open browser with `http://application.example.com/oauth2/authorization/demo`

[2019-06-07 11:47] wangzw commented on #6890
I have filed a pull request to fix this issue. With this fix, OAuth2Login behave the same as FormLogin when a new user login with a previous session exist. New user login will success and session will reset for new user.

[2019-06-07 13:25] wangzw commented on #6890
I have setup a repo to reproduce the issue. https://github.com/wangzw/oauth2-login-6890

[2019-06-07 13:59] rwinch opened #6967 "Make Spring web configuration classes use proxyBeanMethods=false by default"
### Summary
Similar to https://github.com/spring-projects/spring-framework/issues/23004 we should make Spring Security's configuration classes proxyBeanMethods=false by default.

Related gh-6818

[2019-06-07 15:30] rwinch commented on #4469
Fixed via gh-6110

[2019-06-07 15:30] #4469 closed

[2019-06-07 16:01] rwinch commented on #6954
Can you you think the issue is? I have added tests to demonstrate this works as expected See https://github.com/spring-projects/spring-security/commit/1f7ba47ce9298950c02b88050207112e25b62180 for the tests

[2019-06-07 16:21] #6958 closed

[2019-06-07 16:37] jgrandja commented on #6965
@pivotal-jamil-shamy OpenID Connect authentication [(`http.oauth2Login()`)](https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#oauth2login) is handled by the `OAuth2LoginAuthenticationFilter` and only responds to the path pattern `/login/oauth2/code/{registrationId}`. This is the filter that completes OpenID Connect authentication and ultimately exposes the `OidcI

[2019-06-07 16:37] #6965 closed

[2019-06-07 17:00] rwinch commented on #6960
Thanks for the report. This is a duplicate of gh-3142

[2019-06-07 17:03] rwinch commented on #6963
Thanks for the report @bdemers! @jzheaux will look at this soon

[2019-06-07 17:08] #6239 closed

[2019-06-07 17:27] lpetit-yseop commented on #6960
Well, it's not crystal clear to me that it is related to https://github.com/spring-projects/spring-security/issues/3142, but if you say so …

[2019-06-07 17:30] lpetit-yseop commented on #6960
@rwinch  The issue that is demonstrated in the sample repo is that the `DummyRequest` used to fake url access via the taglig `<sec:authorize url="/foo">` is created via a proxy construction, and this proxy does not implement the `getServletContext()` method.

Are you sure this is related to [gh-3142](https://github.com/spring-projects/spring-security/issues/3142) ?

[2019-06-07 18:01] jzheaux commented on #6963
@bdemers, thanks for the report! Glad to hear you like the support.

This feature definitely appears useful, and we're looking into addressing it in https://github.com/spring-projects/spring-security/issues/6830.

[2019-06-07 18:01] jzheaux commented on #6963
Closing in favor of #6830

[2019-06-07 18:01] #6963 closed

[2019-06-07 19:17] spring-issuemaster commented on #6907
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-06-08 01:53] since1986 commented on #6954
Sorry, I may not have stated it clearly. I mean, in the comments on the "RoleHierarchy" interface, the expression "role inheritance" needs to have the "and" connector to connect, but in fact, it is not correct to use the "and" connection. (or not exactly right, it was correct in earlier versions)

[code]

Please pay attention to the "and" in the comment above.

[code]

Unit testing also shows that

[2019-06-08 02:17] since1986 commented on #6954
Or, to put it another way, perhaps the current version of "RoleHierarchyImpl" is not compatible with the definition rules of the old version of the "role inheritance" expression.

[2019-06-08 02:20] since1986 commented on #6954
When using the previous version (forgot the specific version number, maybe 4.x), it is supported to define "role inheritance" by using the "and" connection.

[2019-06-08 09:27] KevinWingi commented on #4368
Another way to solve the problem is ignoring ignore the URL and if possible with the respective HTTP method overriding the method **void configure (WebSecurity web) {}** as bellow
`@Override
public void configure(WebSecurity web) throws Exception {
	web.ignoring().antMatchers(HttpMethod.POST, "/agents/login");
}`

[2019-06-08 10:41] compfantasy commented on #5465
I need multiple algorithm for NimbusJwtDecoderJwkSupport constructor as well, rather than hard coded RS256, I found it's hard to override the alg, even though I create my own JwtDecoder, because it is initized in OidcAuthorizationCodeAuthenticationProvider (line 212), and this cannot be changed if we don't want to change more code, please let me know the work around for current release, thank you

[2019-06-08 10:47] compfantasy commented on #6883
According to spring security reference, the algorithm can be override by providing a JwtDecoder bean, but it doesn't work after I did that because the initialization of NimbusJwtDecoderJwkSupport locates at line 212 of OidcAuthorizationCodeAuthenticationProvider.java

[2019-06-08 20:21] Daimanta commented on #6907
You are correct that there are cases that 28 characters is fine. An extra check for length >=29 when the version is 2a,2b or 2y would be appropriate. I will make a PR for it.

[2019-06-10 04:16] sbespalov commented on #6506
@ractive is it what you expect, or maybe something else needed?

[2019-06-10 04:17] sbespalov commented on #6506
@rwinch  is it what you expect, or maybe something else needed?

[2019-06-10 15:43] jgrandja commented on #6883
@compfantasy The PR #6495 introduced support in 5.2.0.M2 for a configurable JWS algorithm via `OidcIdTokenDecoderFactory.setJwsAlgorithmResolver()` or `ReactiveOidcIdTokenDecoderFactory.setJwsAlgorithmResolver()`.

NOTE: `NimbusJwtDecoderJwkSupport` is deprecated in favour of `NimbusJwtDecoder`, which is used/configured by `OidcIdTokenDecoderFactory`.

[2019-06-10 15:44] jgrandja commented on #5465
@compfantasy See [comment](https://github.com/spring-projects/spring-security/issues/6883#issuecomment-500465658)

[2019-06-10 16:32] #6500 closed

[2019-06-10 17:07] #6925 closed

[2019-06-10 20:07] rwinch commented on #6954
Thanks for the clarification. `RoleHiearchy` isn't implementation specific. Instead it is trying to convey information rather than the configuration. That said, I can see how it might lead to confusion. Can you think of a way that makes the Javadoc in `RoleHiearchy` read better? If you do have a better wording, would you be willing to open a PR to change the `RoleHiearchy` Javadoc?

Can you clarif

[2019-06-11 01:40] #6967 closed

[2019-06-11 08:54] furti commented on #6886
@jgrandja thanks for your response.

Thats true. We don't need the profile as our identity provider decides on its own what data a application is allowed to get. It is not really needed that an application requests something.

Our Identity Provider simply ignores the requested scopes. Adding the scope makes everything work like it should. But it feels a bit like a Workaround to specify a scope tha

[2019-06-11 12:23] eleftherias commented on #6967
@aclement We have now set `proxyBeanMethods=false` for spring security configurations and merged this change to master.

[2019-06-11 12:44] deepakab03 commented on #5343
One usecase where the double forward slash is used in Angular routing when there are multiple sub panels.
For example the URL could be: _http://localhost:8080/abcApp/app/(dbe-panel//xyz-panel)_
This request is then sometimes passed to the server side when the user refreshes his pages, the server then has to just serve up the Angular index.html so that Angular can use the route to open the appropri

[2019-06-11 13:31] rwinch commented on #6960
I'm sorry you are right. The issue is that the `getServletContext()` method is not implemented.

[2019-06-11 13:31] #6879 closed

[2019-06-11 13:39] lpetit-yseop commented on #6960
Would you be interested if I try to create a pull request for this?
I'm not really sure to understand yet how (or if) I would have to initialize a servlet context, so I don't know whether this is a low-hanging fruit issue or not.

[2019-06-11 13:42] rwinch commented on #6960
Thanks for the offer to help @lpetit-yseop! I think we can solve this by updating `DummyRequest` to have `getServletContext()` which is implemented using `RequestContextHolder`.

[2019-06-11 13:59] since1986 commented on #6954
I reviewed my previous code these two days and learned that I used the version 4.2.2 before.
Then, I looked at the source code for 4.2.2 and found out why the "and" connector can be used in the "role inheritance" expression in this version. In fact, in this version, the connector can be any string. Let's look at the code for details:

[code]

In this code, a regular expression grouping match is us

[2019-06-11 14:03] since1986 commented on #6954
It should be said that the current version of "role inheritance" is more rigorous than before, I think it would be better if the "RoleHierarchy" comment is more rigorous. I will submit a PR.

[2019-06-11 14:20] rwinch opened #6971 "Denormalized Access Tokens (DOTs)"
### Summary

Just as applications denormalize data, security should have standards for doing the same

[2019-06-11 14:21] rwinch opened #6972 "Gather Existing RFCs with Summaries"
# OAuth Specifications

Source https://tools.ietf.org/wg/oauth/

## Active

* [JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-00)- define interoperable JWT tokens
* [OAuth 2.0 for Browser-Based Apps](https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-01) - Security considerations for browser based applications
*

[2019-06-11 14:58] Taogang00 opened #6974 "Why @PermitAll annotation didn't work"
I want to make some API methods do not require authentication.I use @PermitAll ,but its didn't work ,How is this going??

[code]

When I request http://localhost:8080/get, it redirect to http://localhost:8080/login

[2019-06-11 14:59] Taogang00 commented on #6974
springboot version is 2.1.5.RELEASE

[2019-06-11 15:37] ThomasVitale commented on #3889
Hi @rwinch, I would be interested in working on this issue

[2019-06-11 17:58] rwinch commented on #6506
Unless there is compelling reason, I'd like there to be a one to one mapping with the reactive bits. This means the names should align and methods align. So more concretely, getAuthenticationType() would not exist, `AuthenticationSupplier` would be named AuthenticationConverter, etc.

You can do this leveraging the https://github.com/spring-projects/spring-security/blob/master/core/src/main/java/o

[2019-06-11 18:24] rwinch commented on #5343
This cannot be the default as it can allow path traversals which is one of the key features of the firewall.

As for Angular routing...I'm not that familiar with Angular routing, but I would expect that the routing is part of a anchor rather than the URL itself (that's how I've seen it in the past at least).

[2019-06-11 19:50] serhanozbey commented on #5300
Having the same problem here with a Spring MVC stateless application with JWT tokens. After authentication, CsrfAuthenticationStrategy is generating CSRF tokens for each resource, but saves the initial html csrf token as thymeleaf hidden field. Therefore, any POST requests are failing.

[2019-06-11 20:48] #6964 closed

[2019-06-11 20:49] jgrandja commented on #6964
@bdemers This is now in master.

[2019-06-11 23:27] serhanozbey commented on #5299
Hi everyone,
To make JWT stateless authentication with CSRF enabled, working with Thymeleaf, I think I have found the following solution that works for me, with the following addition:

[code]

After authentication, I am removing the request cookie as above, so we avoid if(containsToken) at line 24 at CsrfAuthenticationStrategy, which sets different attributes for each resource for the request. Wi

[2019-06-12 07:17] serhanozbey commented on #5299
Had the same issue with a project with following structure:
- Thymeleaf templates
- JWT authentication cookies
- CSRF cookie

The problem was after authentication, the page would return with initial _csrf hidden fields embedded to POST forms, but CSRF cookie token would be incremented for each of the resources loaded. (such as CSS and JS). Any of the generated POST forms were ending up with Invali

[2019-06-12 08:31] jpfss opened #6975 "Hex-encoded string must have an even number of characters"
### the pom file config as follows:
[code]

The Oracle JDK's Version is 1.11

### code as follows:
[code]

### Actual Behavior
[code]

### Reasons that I think are possible
The class Hex in  package "package org.springframework.security.crypto.codec;".
[code]

[2019-06-12 13:02] jgrandja commented on #6890
@wangzw Thanks for providing a sample that reproduces the issue. After inspecting the code in more detail, I have noticed some inconsistencies between servlet and reactive.

I'm currently working on another task but I will get to this later this week. I'll update you when I get back to this. Thanks for your patience.

[2019-06-12 14:13] jgrandja commented on #6886
@furti I see your point now. `OidcUserService.shouldRetrieveUserInfo()` should not restrict to standard claims only. I'll address this shortly.

[2019-06-12 15:14] #6954 closed

[2019-06-12 15:15] rwinch commented on #6954
Thanks for the clarification and PR! This is now in master

[2019-06-12 15:21] rwinch commented on #6974
This question appears to be more suited for StackOverflow. Please ask there with the spring-security tag. If you have a bug or feature request, feel free to reopen/create a new ticket with additional details.

[2019-06-12 15:21] #6974 closed

[2019-06-12 15:22] rwinch commented on #3889
Thanks @ThomasVitale The issue is yours. Please let me know if you need any help and I will do my best to assist you.

[2019-06-12 15:28] rwinch commented on #5300
First, why do you want to change the authentication strategy? Second, can you clarify why you want to do that vs

[code]

[2019-06-12 15:34] rwinch commented on #6975
You need to ensure that the salt that you passed in is Hex encoded [as specified on the Javadoc](https://docs.spring.io/spring-security/site/docs/5.1.x/api/org/springframework/security/crypto/encrypt/Encryptors.html#standard-java.lang.CharSequence-java.lang.CharSequence-).

[2019-06-12 15:34] #6975 closed

[2019-06-12 15:49] samiconductor commented on #5300
@rwinch the problem is when you configure CSRF the configurer [automatically adds `CsrfAuthenticationStrategy`](https://github.com/spring-projects/spring-security/blob/master/config/src/main/java/org/springframework/security/config/annotation/web/configurers/CsrfConfigurer.java#L202). Setting the `sessionAuthenticationStrategy` does not override the CSRF strategy, it just adds the list of strategi

[2019-06-12 15:54] ThomasVitale commented on #3889
Thanks, could you elaborate on the interface you had in mind?

[2019-06-12 16:06] jzheaux commented on #6516
Fixed via b6e8997

[2019-06-12 16:06] #6516 closed

[2019-06-12 16:08] jzheaux commented on #6892
Fixed via e66369f

[2019-06-12 16:08] #6892 closed

[2019-06-12 16:51] jzheaux opened #6976 "Add DefaultAuthenticationManagerResolver"
There ought to be a simple way to configure multi-tenancy for common use cases like by domain, by path, and by header.

Being able to do something like

[code]

might be nice.

[2019-06-12 16:59] leonard84 commented on #5007
@rwinch if you'd like a contribution, then it would be quite helpful if you provide some hints as to how you'd like it to be solved, so that it fits well into the architecture.

[2019-06-12 17:43] jzheaux commented on #6778
@bertramn these are good points - often times, less is more. I agree that key selection by issuer is likely the primary use case.

@gburboz do you have a concrete use case for composing of completely custom `JwtDecoder` implementations and selecting them by issuer?

For key selection, I think a simpler route would be to enhance the Nimbus API so that `DefaultJWTProcessor` sends the entire `JWT` do

[2019-06-13 01:35] compfantasy commented on #6883
@jgrandja Does this mean that I just need upgrade current version of spring-security-oauth2-jose-5.1.4.RELEASE to 5.2.0.M2, then configure jwsAlgorithm in client registration? do you have a simple demo project regarding this change?thanks

[2019-06-13 01:54] jpfss commented on #6975
Thank you ,That's ok.

[2019-06-13 04:39] sbespalov commented on #6506
ok, so summarizing all there will be following:

1. All new classes and interfaces will be placed under `org.springframework.security.web.authentication.www` package
2. There will be `AuthenticationConverter` interface:
[code]
3. There will be `GenericAuthenticationFilter` extended from `AbstractAuthenticationProcessingFilter` which uses `AuthenticationSupplier` to provide unauthorized `Authentica

[2019-06-13 06:40] jzheaux commented on #6498
@clementkng Thanks for bringing up these points.

I realize that there was [a bit of discussion](https://github.com/spring-projects/spring-security/issues/6498#issuecomment-487134831) about this in the thread, but let's just do the `attributes` for now. You can find the proposed contract at the top of the description.

I'm not sure what you mean by this. As far as I can tell, updating the sample s

[2019-06-13 06:52] jzheaux commented on #6945
@ch4mpy these are good questions - do you have a proposal? I think this would help me focus my thoughts. The title of the ticket is "More flexibility on authorizations lookup", though it already seems to me to be quite flexible. In what way are you feeling encumbered?

What you've called out is one of the motives for why granted authorities derived from the scope claim are prefixed with "SCOPE_".

[2019-06-13 13:38] jgrandja commented on #6886
@furti Would you be interested in submitting a PR for this? I'm debating on whether making `shouldRetrieveUserInfo()` `protected` OR removing the logic that restricts on the standard scopes. What are your thoughts?

[2019-06-13 13:40] rwinch commented on #5300
@samiconductor Thanks for the clarification. This makes more sense to me now. I'd love for you to submit a PR that allows configuring the strategy as you suggested. Once you have confirmed you are still able to work on it, I will mark this issue as such. If you need any help, don't hesitate to reach out

[2019-06-13 13:50] rwinch commented on #3889
@ThomasVitale The more I think about this, I'm not sure I like the suggestion anymore. First of all it will be a breaking change. Second of all the idea hasn't had any traction since it was logged 3 years ago. Finally, Spring has since added better support for composed annotations which means we don't even need this.

Sorry for not reviewing this before I confirmed you to work on it.

[2019-06-13 13:50] #3889 closed

[2019-06-13 13:56] samiconductor commented on #5300
@rwinch Sure no problem. Oh right, this isn't a PR. @mvitz had started it [here](https://github.com/mvitz/spring-security/commit/c6d9eb88565f908b07aac5cd1368cb8b2dd531bc) a while ago but we couldn't figure out how to pass the tests. Will look into it again soon.

[2019-06-13 14:12] spring-issuemaster opened #6980 "OAuth2TokenValidator examples use non existing method name for creating the NimbusJwtDecoder"
Backport of gh-6925

[2019-06-13 14:42] jzheaux commented on #6803
Fixed via 59acda0

[2019-06-13 14:46] #6961 closed

[2019-06-13 14:47] rwinch commented on #6976
Some thoughts...perhaps create `DefaultAuthenticationManagerResolver` which allows injecting a Converter for the request to be converted into an id and then another Converter for the id to be converted into a manager. Then static factory methods on it that resemble byHeader as shown above

[2019-06-13 14:52] #6723 closed

[2019-06-13 14:52] #6727 closed

[2019-06-13 16:04] rwinch commented on #5007
Thanks for volunteering @leonard84 The issue is yours. I think we do the following

* add a `CsrfExceptionHandler` interface
* Update `FilterChainProxy` to allow a `CsrfExceptionHandler` to be injected. The default implementation just throws the `CsrfException` as is.
* Update the `ExceptionHandlingConfigurer` to allow the `CsrfExceptionHandler` to be configured

[2019-06-13 16:11] ThomasVitale commented on #3889
@rwinch No problem, I get it.

[2019-06-13 16:25] ThomasVitale commented on #6947
Hi @jgrandja, if needed I would be available to work on this issue

[2019-06-13 17:50] eleftherias opened #6981 "Update to org.seleniumhq.selenium:htmlunit-driver 2.35.1"
### Summary

Update to org.seleniumhq.selenium:htmlunit-driver 2.35.1

[2019-06-13 17:51] eleftherias opened #6982 "Update to hsqldb 2.5.0"
### Summary

Update to hsqldb 2.5.0

[2019-06-13 17:51] eleftherias opened #6983 "Update to Jetty 9.4.19.v20190610"
### Summary

Update to Jetty 9.4.19.v20190610

[2019-06-13 17:52] eleftherias opened #6984 "Update to org.bouncycastle 1.62"
### Summary

Update to org.bouncycastle 1.62

[2019-06-13 17:53] eleftherias opened #6985 "Update to thymeleaf-layout-dialect 2.4.1"
### Summary

Update to thymeleaf-layout-dialect 2.4.1

[2019-06-13 17:55] eleftherias opened #6986 "Update to net.sourceforge.htmlunit:htmlunit 2.35.0"
### Summary

Update to net.sourceforge.htmlunit:htmlunit 2.35.0

[2019-06-13 17:55] eleftherias opened #6987 "Update to unboundid-ldapsdk 4.0.11"
### Summary

Update to unboundid-ldapsdk 4.0.11

[2019-06-13 17:56] eleftherias opened #6988 "Update to jaxb-impl 2.3.2"
### Summary

Update to jaxb-impl 2.3.2

[2019-06-13 17:57] eleftherias opened #6989 "Update to mockwebserver 3.14.2"
### Summary

Update to mockwebserver 3.14.2

[2019-06-13 17:57] eleftherias opened #6990 "Update to oauth2-oidc-sdk 6.13"
### Summary

Update to oauth2-oidc-sdk 6.13

[2019-06-13 17:58] eleftherias opened #6991 "Update to hibernate-entitymanager 5.4.3.Final"
### Summary

Update to hibernate-entitymanager 5.4.3.Final

[2019-06-13 17:59] eleftherias opened #6992 "Update to Spring Data Moore-M4"
### Summary

Update to Spring Data Moore-M4

[2019-06-13 17:59] eleftherias opened #6993 "Update to Spring Boot 2.2.0.M3"
### Summary

Update to Spring Boot 2.2.0.M3

[2019-06-13 18:14] eleftherias opened #6994 "Update to org.powermock 2.0.2"
### Summary

Update to org.powermock 2.0.2

[2019-06-13 18:14] eleftherias opened #6995 "Update to org.aspectj 1.9.4"
### Summary

Update to org.aspectj 1.9.4

[2019-06-13 18:15] eleftherias opened #6996 "Update to nimbus-jose-jwt 7.2.1"
### Summary

Update to nimbus-jose-jwt 7.2.1

[2019-06-13 18:15] eleftherias opened #6997 "Update to GAE 1.9.75"
### Summary

Update to GAE 1.9.75

[2019-06-13 18:16] eleftherias opened #6998 "Update to jackson.core 2.9.9"
### Summary

Update to jackson.core 2.9.9

[2019-06-13 18:16] furti commented on #6886
@jgrandja I never used the OpenID Client Implementation of Spring Security myself. I'm maintaining our Identity Provider and somebody else had a Problem connecting to us. So I don't think if I'm the right one to submit a PR for this.

But I would aim for a combination of both.

Making the ```shouldRetrieveUserInfo()``` ```protected``` makes the service pretty flexible. So one can decide to load th

[2019-06-13 18:17] eleftherias opened #6999 "Update to cglib-nodep 3.2.12"
### Summary

Update to cglib-nodep 3.2.12

[2019-06-13 18:17] jgrandja commented on #6947
@ThomasVitale That would be great! It should be pretty straight forward - similar to what we already have in `OAuth2AuthorizationRequest.getAttribute()` (in master). Let me know if you have any questions. Thanks.

[2019-06-13 19:30] #6998 closed

[2019-06-13 19:30] #6999 closed

[2019-06-13 19:30] #6995 closed

[2019-06-13 19:30] #6996 closed

[2019-06-13 19:30] #6997 closed

[2019-06-13 19:30] #6992 closed

[2019-06-13 19:30] #6993 closed

[2019-06-13 19:30] #6994 closed

[2019-06-13 19:30] #6989 closed

[2019-06-13 19:30] #6990 closed

[2019-06-13 19:30] #6991 closed

[2019-06-13 19:30] #6986 closed

[2019-06-13 19:30] #6987 closed

[2019-06-13 19:30] #6988 closed

[2019-06-13 19:30] #6982 closed

[2019-06-13 19:30] #6983 closed

[2019-06-13 19:30] #6984 closed

[2019-06-13 19:30] #6985 closed

[2019-06-13 19:30] #6981 closed

[2019-06-13 20:42] eleftherias opened #7001 "Revert to org.aspectj 1.9.3"
### Summary

Revert to org.aspectj 1.9.3

[2019-06-13 21:00] #7001 closed

[2019-06-14 01:14] jzheaux commented on #6976
We could achieve the same thing with:

[code]

However, I do like the idea of a concrete implementation that can hold state. I've updated the PR accordingly.

[2019-06-14 04:55] santhoshgs opened #7003 "how to set access_type=offline to get the refresh token from google."
### Summary

I am trying to authenticate my spring boot application through google.
I do not see any option to set access_type=offline  to get the refresh token from google.

### Actual Behavior

### Expected Behavior

### Configuration

### Version
I am using 5.1.1 version

### Sample

[2019-06-14 09:56] zhangyanwei opened #7004 "Allow deep customize for nonstandard OAuth 2.0 provider."
I've reported `spring-security` related issue in the wrong place (in `spring-boot` project).
The link of that issue I wanted to report: https://github.com/spring-projects/spring-boot/issues/17148

I have pointed out that wechat not only the authentication URL does not follow the specification, but other aspects also not follow, however, I can customize them without `javassist`.

In my opinion, do

[2019-06-14 11:28] ankurpathak opened #7005 "Login With Otp Support"
Currently we have support for Password Based Login in Spring Security. But I can't find any support for Login With OTP or any description on same in Reference Documentation. Now a days its very common for any application to provide Login with OTP to deal with problem of User forgetting password. In order to deal with problem of user forgetting password we have other solutions like login with oauth

[2019-06-14 13:32] jzheaux opened #7006 "Jenkins builds should do a git clean"
Because not all build artifacts are cleaned up with `./gradlew clean`, the build should also do `git clean -dfx`, which will remove anything left over on the filesystem from previous builds.

See https://github.com/spring-projects/spring-session/commit/c6470c6f483eb014b586d9e2564a3455f613e3a3

[2019-06-14 13:43] #7006 closed

[2019-06-14 14:36] santhoshgs commented on #4916
@muthiyalu kindly provide the example code to set the access_type=offline  to get the refresh token in google.

[2019-06-14 15:40] eleftherias opened #7008 "Update to Spring Data Moore-RC1"
### Summary

Update to Spring Data Moore-RC1

[2019-06-14 16:51] eranf91 commented on #6115
I know that this issue is closed but it seems to be relevant for the latest version of spring security at the moment.
I think that the events should be separated.

[2019-06-14 16:56] #7008 closed

[2019-06-14 17:12] jzheaux opened #7009 "BearerTokenAuthenticationFilter should expose an AuthenticationFailureHandler"
`BearerTokenAuthenticationFilter` uses an `AuthenticationEntryPoint` when authentication fails. However, an `AuthenticationFailureHandler` is a better fit.

From the JavaDoc for `AuthenticationEntryPoint`:

And from `AuthenticationFailureHandler`:

It seems reasonable that `BearerTokenAuthenticationFilter` could use a failure handler that, by default, invokes an entry point.

This would give the f

[2019-06-15 15:43] ThomasVitale commented on #6947
Hi @jgrandja, I created a PR for the issue, what do you think?

[2019-06-15 16:01] #6896 closed

[2019-06-15 16:27] jzheaux commented on #6115
@eranf91 can you clarify what you are wanting to see changed? It might be good for you to open a separate ticket and flesh out a bit more what you mean by:

[2019-06-15 19:19] ThomasVitale commented on #7009
Hi @jzheaux, I would be interested in working on this issue

[2019-06-16 04:52] jzheaux commented on #7009
It's yours, @ThomasVitale!

[2019-06-16 14:01] ThomasVitale commented on #7009
Thanks @jzheaux!

Before starting, I'd like to check the solution with you:
- `BearerTokenAuthenticationFilter` should expose an `AuthenticationFailureHandler` instead of an `AuthenticationEntryPoint`
- On authentication failure, `BearerTokenAuthenticationFilter` should call the `AuthenticationFailureHandler`
Correct?

Then, `OAuth2ResourceServerConfigurer` is currently calling `BearerTokenAuthent

[2019-06-17 04:03] gburboz commented on #6778
@jzheaux , we have a need to be able to handle incoming JWTs from different OAuth Providers to be handled by single resource server. As off today claims mapping and token validations are also tied to `JwtDecoder`, hence the need. Do you think I should explore `AuthenticationManagerResolver` if that could help solve my requirement here?

[2019-06-17 13:40] jgrandja commented on #7004
@zhangyanwei

There already is quite a bit of flexibility in customizing. Can you be more specific on what exactly you are trying to customize?

[2019-06-17 13:57] jgrandja commented on #7003
@santhoshgs Have you seen the reference doc for [customizing the Authorization Request](https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#oauth2Client-authorization-request-resolver)?

This will explain how you can add the additional custom parameter `access_type=offline` to the Authorization Request.

I believe this is what you are asking? Although the informati

[2019-06-17 13:57] #7003 closed

[2019-06-17 14:05] jgrandja commented on #6886
No worries @furti and thanks for the suggestions.

[2019-06-17 14:07] bhavikkumar opened #7011 "Reactive OAuth2 using query parameters for access_token can cause HTTP 500s"
### Summary
When using ServerBearerTokenAuthenticationConverter with `setAllowUriQueryParameter(true)` then there is a possibility that the web server will return a HTTP 500 when the query parameter is not filled in. E.g: /hello?access_token=

Edit: This problem potentially also affects DefaultBearerTokenResolver

### Actual Behavior
ServerBearerTokenAuthenticationConverter.convert method throws a

[2019-06-17 15:14] zhangyanwei commented on #7004
Wechat requires the query parameters in the authentication URL to keep a specific order, but there is no way to customize the build method in `OAuth2AuthorizationRequest$Builder`.

And `OAuth2AuthorizationRequest` hasn't public constructor for outside creation.

[2019-06-17 15:28] jgrandja commented on #7004
@zhangyanwei `OAuth2AuthorizationRequestResolver` provides the capability to fully customize the Authorization Request. Please review the sample code in the [reference doc](https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#oauth2Client-authorization-request-resolver).

I'm going to close this issue as the link provided shows you how to customize.

[2019-06-17 15:28] #7004 closed

[2019-06-17 16:12] zhangyanwei commented on #7004
@jgrandja I have read the documentation and code, but I meant to build a URL (`authorizationRequestUri` field in `OAuth2AuthorizationRequest` class) with ordered query parameters.

For example, WeChat requires the authentication URL is:

https://open.weixin.qq.com/connect/oauth2/authorize?appid=APPID&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect

If I changed

[2019-06-17 17:50] captrespect commented on #6856
Ouch, we just ran into this issue ourselves.    We've been happily using MODE_INHERITABLETHREADLOCAL to propagate the security context.  Then in our last release we implemented AsyncConfigurer to log uncaught exceptions in out async tasks.  To do so we also had to impliment AsyncConfigurer.getAsyncExecutor() as well.  We had it return a thread pool executor and soon found that our tasks were runni

[2019-06-17 18:16] jgrandja commented on #7004
@zhangyanwei

The documentation shows how you can build the full URL for `authorizationRequestUri`:

[code]

The code snippet above shows this. You have full control on building the custom URL `customAuthorizationRequestUri` and than setting it in `OAuth2AuthorizationRequest.Builder.authorizationRequestUri`.

[2019-06-17 20:28] rwinch commented on #5300
If you have specific questions, feel free to ask here.

[2019-06-17 20:38] spring-issuemaster commented on #6980
Fixed via 4103525dd4a85df0f160f1b65ca5eba3a6210d55

[2019-06-17 20:38] #6980 closed

[2019-06-17 20:44] #6866 closed

[2019-06-17 20:53] rwinch commented on #7005
Thanks for the report @ankurpathak I believe this might be a duplicate of gh-5238 Can you confirm or explain why not?

[2019-06-18 00:49] jzheaux commented on #6778
@gburboz Possibly, but if you don't mind, let's explore another option first.

Nimbus 7.3 ships with the ability to resolve a JWK set by the issuer claim, e.g.:

[code]

In Spring Security 5.2, you can supply your own `JWTProcessor` instance, so you could then do:

[code]

As for the validator and claims mapper, do you need tenant isolation (for example, can each tenant describe their own unique v

[2019-06-18 07:22] zhangyanwei commented on #7004
@jgrandja Thank you for your patience. I haven't even noticed it, I'll be more careful.

[2019-06-18 08:06] clementkng commented on #6498
@jzheaux I've created a PR for the issue [here](https://github.com/spring-projects/spring-security/pull/7014).

[2019-06-18 09:42] jukkasi commented on #6856
We ended up using TaskDecorator, which can be set for executor, that creates a new SecurityContext for running thread and sets authentication for that context. However I'm not sure if this have any side effects, any feedback is appreciated.

[code]

(code is Kotlin)

[2019-06-18 10:46] mmdsyl opened #7015 "@AuthenticationPrincipal return empty after add custom intercepter"
spring boot & security version:
2.0.9.RELEASE

I added a custom interceptor for  logging, and I found @AuthenticationPrincipal  return empty.

With my limited experience with spring security, I don't know why.  Thanks in advance.

[code]

[2019-06-18 12:52] rwinch opened #7016 "Release Spring Security 4.2.13"
### Summary
Release 4.2.13

[2019-06-18 14:00] #6790 closed

[2019-06-18 14:10] rwinch opened #7017 "RSocket Finish Tests"
### Summary

Get better code coverage

[2019-06-18 14:11] #6972 closed

[2019-06-18 14:14] #7017 closed

[2019-06-18 14:15] rwinch opened #7018 "RSocket Authorization"
### Summary
Add Authorization Support to RSocket

[2019-06-18 15:22] captrespect commented on #6856
In my case I should have extended AsyncConfigurerSupport instead.  I didn't really need the thread pool.

[2019-06-18 19:07] jzheaux commented on #7009
Thanks for checking in, @ThomasVitale.

Not instead of since `AuthenticationEntryPoint` still has its place. For example, if no token is provided at all, we should call the entry point. It's only when an attempted authentication fails that we'd use the failure handler.

Yes

I like to try and leave callers of the API as is since it proves to me that it's truly backward compatible. Since there's no

[2019-06-18 19:59] martin-g commented on #6491
This issue is the same as https://github.com/Activiti/Activiti/issues/2387. There is a reproducer at https://github.com/rasheedamir/vouchers-service

[2019-06-18 20:30] eleftherias opened #7019 "Update to org.aspectj 1.9.4"
### Summary

Update to org.aspectj 1.9.4

Currently, this version of aspectj causes build failures on Java 9+.

The error is:
[code]

[2019-06-18 20:32] eleftherias commented on #7001
Aspectj needs to be reverted from 1.9.4 to 1.9.3 because the newer version breaks our build with the following error:
[code]

[2019-06-19 11:07] ankurpathak commented on #7005
@rwinch I haven't heart much about WebAuthn. But going through your link and having brief read I can make its something related to login. So it might be a subissue of that broder issue. So I leave to you
decide on this issue.

[2019-06-19 13:31] rwinch commented on #6886
@jgrandja For what it is worth I like the suggestion of allowing the user info scopes to be configurable.

[2019-06-19 14:19] spring-issuemaster opened #7021 "Reactive OAuth2 using query parameters for access_token can cause HTTP 500s"
Backport of gh-7011

[2019-06-19 14:20] rwinch commented on #7011
Thanks for the detailed report @bhavikkumar! I put together a pull request that I'll have @jzheaux review. This particular issue is scheduled for 5.2.0.RC1 but I also created a backport issue to get this in 5.1.6

[2019-06-19 16:26] rwinch commented on #7015
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link t

[2019-06-19 16:26] #7015 closed

[2019-06-19 16:57] pyoung36 opened #7022 "Internal BadCredentialException/UsernameNotFoundException"
### Summary

Our Monitoring agent is picking up on BadCredentialsException and UsernameNotFoundException thrown internally by spring-security despite valid credentials being supplied and access ultimately being granted. We believe we can work around by implementing our own DaoAuthenticationProvider, but we would very much like to avoid having to maintain replacements for core spring code.

### Act

[2019-06-19 17:46] #6947 closed

[2019-06-19 17:48] rwinch opened #7023 "Optimize PlaintextPasswordEncoder"
### Summary

Ignore null encoded passwords

[2019-06-19 17:49] spring-issuemaster commented on #7023
Fixed via b2d4fec3617c497c5a8eb9c7e5270e0c7db293ee

[2019-06-19 17:49] #7023 closed

[2019-06-19 20:30] spring-issuemaster opened #7024 "OAuth2Login should process authenticated requests"
Backport of gh-6890

[2019-06-19 20:34] #6890 closed

[2019-06-19 20:44] #7016 closed

[2019-06-19 21:21] spring-issuemaster commented on #7024
Fixed via efe64aa7d96906aee843ea4fb6b32ec3d96d36b7

[2019-06-19 21:21] spring-issuemaster commented on #7024
Fixed via b0597f45a818e7976107e5772df8f8a2f20465a9

[2019-06-19 21:21] #7024 closed

[2019-06-19 21:32] rwinch commented on #6491
Thanks for the sample to reproduce @martin-g! @jgrandja can you please take a look at this?

[2019-06-19 21:56] rwinch commented on #7005
Ok. I do agree this is a larger issue than just gh-5238. While I think the linked issue will put everything in place for this issue, let's leave this open for now

[2019-06-20 04:09] mraible commented on #5659
@jgrandja Is this still true with Spring Security in Spring Boot 2.1.6?

The reason I ask is that I'm [having an issue](https://github.com/jhipster/generator-jhipster/issues/9946) getting all the user's attributes when my access token contains the following for scopes.

[code]

When I have the following, it works (but the access token also has most of the user's attributes in it):

[code]

I'm usi

[2019-06-20 06:14] mraible commented on #5659
@jgrandja I think I can answer my own question. The `UserInfo` Endpoint is called when using `oauth2Login()` and `issuer-uri`. It's not called when using `oauth2ResourceServer()`. For now, I'll just add claims to my access token to resolve user info. I would like to know if it's possible to get user info when using `oauth2ResourceServer()` though. It seems like functionality that should be availab

[2019-06-20 06:15] martin-g commented on #6491
The reproduce is not really mine!
I was just googling for the same issue, found both issues and decided to link them.

[2019-06-20 08:08] him-bhar opened #7026 "Fix docs typo WebSecurityConfigurationAdapter->WebSecurityConfigurerAdapter"
https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#multiple-httpsecurity

Checking latest documentation of spring security, section (6.10) multiple-httpsecurity.

First line says:
We can configure multiple HttpSecurity instances just as we can have multiple <http> blocks. The key is to extend the **_WebSecurityConfigurationAdapter_** multiple times.

Whereas, the correc

[2019-06-20 10:27] Rahman14354 commented on #4557
One more request.

[2019-06-20 12:21] bendem commented on #4143
You can set those headers to an empty string to prevent spring-security from including the defaults.

[code]

[2019-06-20 13:11] jgrandja commented on #7004
@zhangyanwei No worries. We do want to ensure that our API's provide flexibility for customizations even when the provider doesn't comply with the related specifications. So please do let us know if you run into a situation where there isn't an option to customize and we'll do our best to accommodate.

[2019-06-20 14:26] shibuyaku opened #7027 "Make RestTemplate used by ClientRegistrations (Discovery) configurable"
### Summary

spring-security-oauth2-client uses a RestTemplate for openid/oauth Discovery that is not configurable. This is unuseable in scenarios where you need to adjust the RestTemplate. Example: You need to use a proxy and configure auth.

### Actual Behavior
ClientRegistrations class uses a RestTemplate for doing OpenId Discovery that is not configurable, since it is not using RestTemplateBui

[2019-06-20 14:32] shibuyaku commented on #7027
We usually use org.springframework.boot.web.client.RestTemplateBuilder to achieve this in our code, but I can not immediately tell if that would be a valid approach in the spring-security project.

If so:
```RestTemplateBuilder().build()``` instead of ``RestTemplate()``` would allow a user to configure everything he wants using org.springframework.boot.web.client.RestTemplateCustomizer.

[2019-06-20 14:55] #6886 closed

[2019-06-20 15:01] jgrandja commented on #6886
@rwinch I agree that allowing to configure the accessible scopes is the best option. I added [`setAccessibleScopes()`](https://github.com/spring-projects/spring-security/commit/3f2108921e49fe3a751767b54615c3cd0d2c28bc#diff-8bce626c56885d855993084cde68ce1cR205) to allow for this.

@furti For your use case, you can simply override the default behaviour with `oidcUserService.setAccessibleScopes(Colle

[2019-06-20 15:12] jgrandja commented on #5659
@mraible The logic you outlined for `OidcUserService.shouldRetrieveUserInfo()` is correct. However, I just added an enhancement to this logic. Please see this [comment](https://github.com/spring-projects/spring-security/issues/6886#issuecomment-504060866) for more info.

The UserInfo Endpoint is called only during an `oauth2Login()` flow. It is never called from a `oauth2ResourceServer()` since th

[2019-06-20 16:02] jgrandja commented on #6491
@martin-g The [sample](https://github.com/rasheedamir/vouchers-service) you provided does not raise an exception on application startup. Also, the sample that @rwinch has requested should be an absolute minimal code sample that reproduces the issue - the sample you provided has quite a bit of code and dependencies.

As @rwinch has stated in this [comment](https://github.com/spring-projects/spring-

[2019-06-20 18:58] #6885 closed

[2019-06-20 19:05] eleftherias opened #7028 "Remove duplicate tests for HeadersConfigurer"
### Summary

There are tests for the `HeadersConfigurer` class in both `HeadersConfigurerTests` and `NamespaceHttpHeadersTests` that test the same functionality.
We should remove any tests that are duplicated across those files.

[2019-06-20 20:20] eleftherias commented on #7028
Closing this issue as invalid.
`HeadersConfigurerTests` and `NamespaceHttpHeadersTests` serve different purposes, so we will keep both.

[2019-06-20 20:20] #7028 closed

[2019-06-21 02:52] nischayreddy opened #7029 "Error while starting up the application unsatisfieddependency"
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.security.config.annotation.web.configuration.WebSecurityConfiguration': Unsatisfied dependency expressed through method 'setFilterChainProxySecurityConfigurer' parameter 1; nested exception is org.springframework.beans.factory.BeanExpressionException: Expression parsing failed; nest

[2019-06-21 02:53] nischayreddy commented on #7029
When I run as a maven build it runs fine but when I say run as spring boot app it is throwing this error.

[2019-06-21 08:16] lix1898 opened #7030 "Why the Custom AuthenticationEntryPoint dos'n working in the ClientCredentialsTokenEndpointFilter"
### Summary
Why the Custom AuthenticationEntryPoint  dos'n  working in the ClientCredentialsTokenEndpointFilter
version： spring-security5.1.5

### Actual Behavior
After configuring CustomAuthenticationEntryPoint.

when visit the 'http://localhost:60001/oauth/token' to refresh token with error client_secret，
ClientCredentialsTokenEndpointFilter.authenticationEntryPoint  still is the OAuth2Authentic

[2019-06-21 13:36] shibuyaku commented on #7027
FYI: Found 6 more occurences of new RestTemplate() that will also be affected and unconfigurable, 2 of them in spring-security-oauth2-client.

We stumbled upon this because the RestTemplate() will try to use the host/port of a proxy that is configured via environment variables, but ignores the user and password.

Complete list:
[code]

I'll think about a solution for this over the weekend, to writ

[2019-06-21 15:04] jgrandja commented on #7030
@lix1898 Could you please log this issue with the [Spring Security OAuth](https://github.com/spring-projects/spring-security-oauth/issues) issues. Also, please provide a [minimal sample](https://stackoverflow.com/help/mcve) that reproduces the issue. I would also recommend searching and/or posting on StackOverflow. Thank you.

[2019-06-21 15:04] #7030 closed

[2019-06-21 17:38] ch4mpy commented on #6945
@jzheaux the ticket title might be too restrictive. Maybe some default behaviors could be questioned too.

An easy way to get things easier for introspected tokens: make claims to authorities converter configurable as it is for JWT. Replacing authentication manager should be the way to go for those wishing to switch `Authentication` implementation.

Regarding scopes and authorities, if we consider

[2019-06-21 19:51] ibaskine commented on #6815
Actually it shall be possible to configure any valid value for prompt. They are there for reason. I, for example, need to set it to "login"

[2019-06-22 16:21] shibuyaku commented on #7027
https://github.com/spring-projects/spring-security/issues/5607 is related, I think.

[2019-06-24 16:07] santhoshgs opened #7031 "How to authenticate user using refresh token if user was logged in before."
I am using spring security Oauth2 api's to authenticate the user. I have configured Google as authenticator  in my application and used oauth2Login() on HttpSecurity in WebSecurityConfigurerAdapter.
Very first login of user generates both access token and refresh token from google.. So, am trying to understand can we authenticate the user when he tries to login for the second time using the  refre

[2019-06-24 19:16] jzheaux commented on #6945
Ah, gotcha. Thanks for the clarification.

Yes, the API for opaque tokens is still very simple. I think that #6830 will address some of what you are referring to.

Are you aware of any specifications that outline the `authorities` claim and what its semantics are? It's easier for the code to offer an implementation opinion when it can point to an RFC as its reason.

I don't think we ought to chang

[2019-06-24 19:21] jzheaux commented on #7029
@nischayreddy would you please share a minimal space that reproduces the issue? This will help get to the bottom of things faster.

Also, I'd strongly recommend posting a question like this to StackOverflow. There's usually one or two team members keeping an eye on Spring Security tickets there. If you don't get a response to your question from SO after a day or so, feel free to post again here.

[2019-06-24 19:21] #7029 closed

[2019-06-24 19:23] jzheaux commented on #7026
@him-bhar is there a reason that you closed the issue?

Would you be interested in submitting a PR with the corrected documentation?

[2019-06-24 19:57] #7011 closed

[2019-06-24 20:12] #6907 closed

[2019-06-24 20:43] jgrandja opened #7032 "Charter: Explore the use of reactive collaborators in ServletOAuth2AuthorizedClientExchangeFilterFunction"
`ServletOAuth2AuthorizedClientExchangeFilterFunction` composes the following **Servlet** (blocking) collaborators:

- `ClientRegistrationRepository`
- `OAuth2AuthorizedClientRepository`
- `OAuth2AccessTokenResponseClient<OAuth2ClientCredentialsGrantRequest>`

We should explore the use of reactive collaborators instead, e.g.

- `ReactiveClientRegistrationRepository`
- `ServerOAuth2AuthorizedClientR

[2019-06-24 23:17] jzheaux opened #7033 "Add Resource Server JWE Sample"
Related to #4435

This sample should process JWTs that are both signed and encrypted. It'll use a JWK Set Uri to obtain the JWS public key and a static key for the JWE private key.

[2019-06-25 00:08] jzheaux opened #7034 "Nimbus Jwt decoders should not force SignedJWT"
When an application injects a `JWTProcessor` into `NimbusJwtDecoder`:

[code]

it's evident that the application knows what it's doing and what types of JWTs it cares to accept.

Additionally, `JWTProcessor` does its own type checking, disallowing plain JWTs, and erroring if there isn't sufficient configuration for an incoming `SignedJWT` or `EncryptedJWT` to be processed.

Because `JWTProcessor`

[2019-06-25 07:45] crusy commented on #3191
I'd like to connect to an LDAP but using "short names" (e.g. uid, sAMAccountName, ...) instead of fully qualified DNs. In order to do so I'd like to overwrite `bindAsUser()` (which is private) and/or `searchForUser()` (which is private as well), but `ActiveDirectoryLdapAuthenticationProvider` is final.

Is there any advantage in making `ActiveDirectoryLdapAuthenticationProvider` final? Is there an

[2019-06-25 08:42] karelmaxa opened #7035 "Infinite loop in role hierarchy resolving"
### Summary

_spring-security_ allows to define hierarchical roles to offer a convenient means of simplifying the access-control configuration data. When you provide hierarchy definition with cycle that does not include currently resolved role, resolving process will fall into infinite loop.

### Actual Behavior

Resolving of role hierarchy is not able to correctly detect cycle when currently reso

[2019-06-25 09:19] pavelhoral commented on #7035
I would add that there are strange methods marked with `SEC-863` comment in `RoleHierarchyImpl`. I understand that there was a need to check authorities based on their string representation, but more obvious implementation would be to use `HashMap`. Such implementation would not require additional methods such as `getRolesReachableInOneOrMoreSteps` and `addReachableRoles` And those methods are not

[2019-06-25 14:01] jgrandja opened #7036 "OAuth2AuthorizationCodeGrantWebFilter should not restrict redirect-uri"
`OAuth2AuthorizationCodeGrantWebFilter` currently matches the Authorization Response using the pattern `/{action}/oauth2/code/{registrationId}`, which is too restrictive.

We should allow the client to configure the `redirect-uri` to be any `URI` within the application. The Authorization Response matching should follow the same logic found in `OAuth2AuthorizationCodeGrantFilter.shouldProcessAuthor

[2019-06-25 16:05] ch4mpy commented on #6945
I completely agree with that. My point is to use `scope` claim to provide with a "scoped" view of authorities (that is a subset), regardless it is from the client or end-user.

`GrantedAuthority` is something of spring-security. What is in RFCs to address such are "private" claims. So you, as framework team, are free to choose the semantic. Using `authorities` claim containing a JSON array as done

[2019-06-25 16:24] rwinch opened #7038 "SecurityConfigurer.init Javadoc should state that applying other configurers should be performed in this method"
### Summary

The [Javadoc for SecurityConfigurer.init()](https://docs.spring.io/spring-security/site/docs/4.2.12.RELEASE/apidocs/org/springframework/security/config/annotation/SecurityConfigurer.html#init-B-) should clarify that applying configurers should be performed in init as well.

[2019-06-25 16:35] ThomasVitale commented on #7009
Thanks for the details @jzheaux.

I started drafting a solution, but I'm still in doubt about how the `AuthenticationFailureHandler` should look like.

In the draft, I have used `AuthenticationFailureHandler` instead of `AuthenticationEntryPoint` on failed authentication and updated the test related to this specific scenario.

In the description, it's mentioned that the failure handler should call

[2019-06-25 18:03] leonard84 commented on #5007
@rwinch should the `FilterChainProxy` handle `null` for `CsrfExceptionHandler` or should we provide a `ThrowingCsrfExceptionHandler`/ `NoopCsrfExceptionHandler` by default that just re-throws the exception?

[2019-06-25 18:25] clementkng commented on #7036
Hi @jgrandja, can I try taking this issue?

[2019-06-25 19:12] jgrandja opened #7039 "Create sample demonstrating request context propagation using Reactor Context"
`ServletOAuth2AuthorizedClientExchangeFilterFunction` has an implementation of `CoreSubscriber` that is used to propagate `HttpServletRequest`, `HttpServletResponse` and `Authentication` via the Reactor `Context` to ensure these objects are available across all reactive threads. This work has been delivered in #6483.

We should put together a minimal sample of the implementation of `ServletOAuth2A

[2019-06-25 20:01] jgrandja commented on #7036
@clementkng That would be great. Let me know if you have any questions. Thanks!

[2019-06-25 20:07] jgrandja commented on #7031
@santhoshgs The [`refresh_token`](https://tools.ietf.org/html/rfc6749#section-6) grant is used to refresh an expired access token - it's not meant to be used for authentication. Also, please post questions on StackOverflow as we prefer to keep issues for bug reports and feature requests. Thank you.

[2019-06-25 20:07] #7031 closed

[2019-06-25 20:28] jgrandja commented on #7027
@shibuyaku Instead of using OpenID Connect Discovery via `ClientRegistrations.fromOidcIssuerLocation()`, you can explicitly configure the provider properties (`authorization-uri`, `token-uri`, `jwk-set-uri`, etc.) and than supply a custom configured `RestTemplate` to `DefaultOAuth2UserService.setRestOperations()` and than supply the `DefaultOAuth2UserService` to `OidcUserService.setOauth2UserServi

[2019-06-25 22:53] #7034 closed

[2019-06-25 23:02] jzheaux commented on #7033
Fixed via ecb13aa8cc5594033fa5faf3723c9043ddc5456c

[2019-06-25 23:02] #7033 closed

[2019-06-25 23:21] #6976 closed

[2019-06-26 03:49] jzheaux commented on #7009
I've left a comment in your commit log. Other than that, you appear to be on the right track.

At this point, just calling the entry point suffices. The intent here is to give the application a chance to customize failure handling differently from when a request is simply missing the bearer token.

[2019-06-26 12:06] furti commented on #6886
Nice. Thanks for fixing it that quickly :)

[2019-06-26 12:22] edouardhue opened #7040 "Can't use a custom authorization grant type in a ClientRegistration"
### Summary

Documentation suggests that defining additional grant types should be supported. Though, the ClientRegistration builder won't validate a registration using a custom grant type.

### Actual Behavior

1. Define a custom `org.springframework.security.oauth2.core.AuthorizationGrantType`.
2. Build a `org.springframework.security.oauth2.client.registration.ClientRegistration` with this cust

[2019-06-26 17:53] jgrandja commented on #7040
@edouardhue Specifying a custom grant using `AuthorizationGrantType` provides no value as there is functionality that needs to be implemented associated with the `grant_type`. The current [authorization grants](https://tools.ietf.org/html/rfc6749#section-1.3) supported in Spring Security 5.1 are `authorization_code` and `client_credentials` and `password` targeted for the upcoming 5.2 release.

I'

[2019-06-26 18:54] ThomasVitale commented on #7009
Thanks @jzheaux, I completed the code after your suggestion and opened a PR.

[2019-06-26 20:54] edouardhue commented on #7040
Hi @jgrandja,

I am currently migrating from Spring Security 4 to 5 and I can't port my code. I had implemented a custom grant type, on both authorization and resource server sides.

The Javadoc in https://docs.spring.io/spring-security/site/docs/current/api/org/springframework/security/oauth2/core/AuthorizationGrantType.html clearly states that "The OAuth 2.0 Authorization Framework defines four

[2019-06-27 00:56] clementkng commented on #7038
Hi @rwinch, could I try taking a stab at this issue?

[2019-06-27 03:44] santhoshgs opened #7044 "spring oauth2Login() + google authentication - Why browser logout of google and accessing application in new browser taking to login page"
I am using spring boot + spring security Oauth2 + google for authentication. I have used outh2Login() from spring security for google login. I could do google login and get the access token. But, once i login to google via my application , it also gets logged into browser. If i logout the google browser and continue using my application in the same browser, everything works fine. but, if i use new

[2019-06-27 09:38] leonard84 commented on #5007
I've started with the implementation https://github.com/leonard84/spring-security/commit/44bf91691401a72903771c0e93514e763563cde1 (still WIP), and I'd like some feedback.

However, there are some issues:
* `FilterChainProxy` is configured in `WebSecurity`, but the `ExceptionHandlingConfigurer` lives in a different package, so the `getRequestRejectedHandler()` would have to be public. Would it make

[2019-06-27 10:11] jgrandja commented on #7044
@santhoshgs As mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/7031#issuecomment-505602391), please post questions on [StackOverflow](https://stackoverflow.com/) as we prefer to keep GitHub issues for bug reports and feature requests only.

[2019-06-27 10:11] #7044 closed

[2019-06-27 11:53] simmac commented on #5354
Well, this took longer than expected, but we finally managed to tackle all the organisational stuff (in future, contributions by my colleagues and me should be approved much faster)

[2019-06-27 13:08] pyoung36 commented on #7022
Do I need to supply more information?

[2019-06-27 13:27] ch4mpy commented on #6830
@jzheaux, couldn't the contract be for both a `claimsAuthenticationConverter`, mean `Convervter<Map<String, Object>, AbstractAuthenticationToken>`?

Once decoded, is a token more than a claim-set?
Are JWT headers and signature of any use beyond decoding the token?
what is the value of having the opaque string of a token, authentication request or response, headers, signature or other upstream vali

[2019-06-27 13:45] jgrandja commented on #6815
@hauntingEcho @ibaskine Since Spring Security 5.1, you do have the ability to customize the Authorization Request by including additional parameter(s) (e.g. prompt) using a custom implementation of `OAuth2AuthorizationRequestResolver `. Please see the [ref doc](https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#oauth2Client-authorization-request-resolver) on how t

[2019-06-27 14:04] veotax commented on #5320
Hi @rwinch , do you have any example code to show the usage?

[2019-06-27 14:50] jgrandja commented on #7040
@edouardhue

The new OAuth support was introduced in Spring Security 5. So I'm confused as to what you are porting since it wasn't available in Spring Security 4?

Authorization Grants are implemented between the Client and Authorization Server NOT Resource Server. The Resource Server just receives the access token.

It's still not clear to me what you are trying to accomplish. Can you please be m

[2019-06-27 15:34] edouardhue commented on #7040
@jgrandja

Sorry for my too quick answer yesterday, allow me to correct myself. I indeed meant _client_ instead of _resource server_.

I used the [spring-security-oauth](https://github.com/spring-projects/spring-security-oauth) subproject with Spring Security 4 (all under Spring Boot 1.5).

For very specific reasons, I need to define a custom grant type carrying some custom credentials that can't

[2019-06-27 15:53] jgrandja commented on #7040
Thank you for the explanation @edouardhue. I now understand how you are porting your code and the issue you are having with the `ClientRegistration` validation. We would welcome a PR from you if you're interested? Otherwise, I'll address this for you shortly.

FYI, I would recommend tracking the work in #6811 as it will help with creating a custom grant for the client with the introduction of the

[2019-06-27 16:06] spring-issuemaster commented on #6491
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-06-27 18:27] rwinch commented on #3191
@crusy The advantages are it provides better encapsulation which makes updating Spring Security code easier. Making it final also encourages [composition over inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance).

I'm going to close this issue due to lack of feedback from the original reporter. If someone has a concrete thing they would like to do, please create a new ticket. N

[2019-06-27 18:27] #3191 closed

[2019-06-27 18:33] rwinch commented on #7035
@pavelhoral Thank you for the Pull Request. A PR would be most welcome. I'd suggest trying to split up the changes into distinct goals as large changes take longer to get merged.

[2019-06-27 19:14] pavelhoral commented on #7035
I have one question - what is the required java version compatibility? I can see gradle [defines 1.8](https://github.com/spring-projects/spring-security/blob/master/build.gradle#L30), but official documentation [is mentioning 1.5](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#appendix-faq-requirements). Can we use lambdas and other goodies from Java 8?

[2019-06-27 19:49] rwinch commented on #7035
As of Spring Security 5 the minimum is Java 8. Would you be interested in sending a PR to update the appendix as well?

[2019-06-27 20:45] edouardhue commented on #7040
Thanks for reopening the issue. I'll submit a PR soon.

[2019-06-27 21:42] rwinch commented on #7038
@clementkng Thanks for volunteering! Yes the issue is yours.

[2019-06-27 21:49] rwinch commented on #5007
Thanks @leonard84! Could you submit a [draft pr](https://github.blog/2019-02-14-introducing-draft-pull-requests/) so we can discuss more easily.

[2019-06-27 22:03] rwinch commented on #7022
Thanks for the report. This is the intended behavior as the code is trying to authenticate a user against the provider and it fails.

Can you explain what problems this is causing you?

[2019-06-27 23:13] edouardhue commented on #7040
There it is: #7047

[2019-06-28 06:07] onkobu commented on #6545
This even allows enumerating endpoints by simple binary distinction: HTTP.400 vs. HTTP.403. This was already tried with databases to enumerate tables based on two different error codes and fuzzying table names. An attacker without permission could use the distinction between HTTP.400 and HTTP.404/ 403 to permutate endpoint-URLs. On first sight it might be a counter measure to block enumeration bas

[2019-06-28 07:06] clementkng commented on #7036
@jgrandja Thanks, right now I'm just reading through the code. A couple of opening questions:

- How would a client be able to set the `redirect-URI` to be any in the application if it was just a pattern enforced in the code before? Or are we supposed to set `this.requiresAuthenticationMatcher` to something more permissive?
- I believe we're supposed to match the behavior of `OAuth2AuthorizationCo

[2019-06-28 10:38] firnkes opened #7049 "NimbusJwtDecoder.withPublicKey() does not work with JWT that contains kid"
### Summary
When using NimbusJwtDecoder.withPublicKey() to decode a JWT token that contains a kid the decoding always fails as the provided PublicKey does not match.

### Actual Behavior

``` Signed JWT rejected: Another algorithm expected, or no matching key(s) found ``` is raised, because no match key is found (JWT token contains key, provided public key not).

### Expected Behavior
As I specify

[2019-06-28 13:07] spring-issuemaster commented on #7021
Fixed via aac854453e4f8431067ce082a19df4a2f898af0e

[2019-06-28 13:07] #7021 closed

[2019-06-28 13:59] dsyer opened #7051 "Add OAuth2LoginSpec.authenticationFailureHandler"
It appears to be possible in MVC but not Webflux.

[2019-06-28 14:14] leonard84 commented on #5007
Done #7052

[2019-06-28 14:16] rwinch commented on #5320
https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#el-access-web-beans

[2019-06-28 14:18] rwinch commented on #5320
Given there hasn't been any feedback, I'm assuming that a Bean based approach works just fine. Unless I hear otherwise, this issue will be closed.

[2019-06-28 14:22] pyoung36 commented on #7022
It is creating situations during incident response where anyone who is not familiar with this internal behavior sees transaction traces like below which distract them from finding the real issues. It has been a general thorn in our side but was deemed low priority until recently as new management wants to see cleaner traces.

Is there an alternative to httpBasic that does not use that ProviderMana

[2019-06-28 14:24] eleftherias commented on #3297
Closing this issue, since it refers to an older version of the spring security page.
We no longer have JIRA or Bamboo links on the page.
Additionally, both JIRA links mentioned redirect to the spring-security github, which is what we currently use for issue tracking.

[2019-06-28 14:24] #3297 closed

[2019-06-28 14:34] rwinch commented on #7051
Similar to [OAuth2LoginSpec.authenticationSuccessHandler](https://github.com/spring-projects/spring-security/blob/5.2.0.M3/config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java#L722-L726) we should add OAuth2LoginSpec.authenticationFailureHandler

[2019-06-28 16:04] #5660 closed

[2019-06-28 16:21] spring-issuemaster opened #7053 "ServerHttpSecurity can't set multiple authentication managers"
Backport of gh-5660

[2019-06-28 16:21] spring-issuemaster commented on #7053
Fixed via 9d543ce4d13d2a4d1657f9d108e0f4e79d52aed8

[2019-06-28 16:21] #7053 closed

[2019-06-28 16:43] rwinch opened #7054 "Fix typo in documentation"
Backport of gh-7050

[2019-06-28 16:44] rwinch commented on #7054
Fixed via 48a5c854fd54fcb61037616797de54a21c9ead82

[2019-06-28 16:44] #7054 closed

[2019-06-28 17:03] eddumelendez commented on #7051
I will take a look into it :)

[2019-06-28 17:17] jzheaux commented on #7049
Thanks for the report, @firnkes, I agreed that this would be an improvement on the default Nimbus behavior.

I've submitted #7055 accordingly.

[2019-06-28 20:09] jzheaux opened #7056 "NimbusJwtDecoder.withSecretKey() does not work with JWT that contains kid"
Related to #7049

### Summary
When using NimbusJwtDecoder.withSecretKey() to decode a JWT token that contains a kid the decoding always fails as the provided SecretKey does not match.

### Actual Behavior

``` Signed JWT rejected: Another algorithm expected, or no matching key(s) found ``` is raised, because no match key is found (JWT token contains key, provided secret key not).

### Expected Beh

[2019-06-28 21:12] #7049 closed

[2019-06-28 21:12] #7056 closed

[2019-06-28 22:06] larsgrefer opened #7058 "Constant time array comparison is implemented five times"
https://github.com/spring-projects/spring-security/blob/ce79ef263493500cf6822d8ba605bfd02fc807b2/crypto/src/main/java/org/springframework/security/crypto/password/AbstractPasswordEncoder.java#L62-L70

https://github.com/spring-projects/spring-security/blob/ce79ef263493500cf6822d8ba605bfd02fc807b2/crypto/src/main/java/org/springframework/security/crypto/password/StandardPasswordEncoder.java#L112-L1

[2019-06-29 01:12] larsgrefer opened #7059 "RoleHierarchy is not used by AbstractAuthorizeTag"
### Summary

I've noticed a strange behaviour when setting up a `RoleHierarchy` in a simple Spring Boot application, when trying to use it with `org.springframework.security.taglibs.authz.AbstractAuthorizeTag`

### Actual Behavior

Effektively two `DefaultWebSecurityExpressionHandler` get created:

- https://github.com/spring-projects/spring-security/blob/ce79ef263493500cf6822d8ba605bfd02fc807b2/c

[2019-06-29 01:21] larsgrefer commented on #7059
After doing some more research, I think this issue is related to #5272

[2019-06-29 01:53] jgrandja commented on #7036
@clementkng I would recommend reviewing the Authorization Code Grant flow in the [spec](https://tools.ietf.org/html/rfc6749#section-4.1). The section [Authorization Response](https://tools.ietf.org/html/rfc6749#section-4.1.2) is implemented by `OAuth2AuthorizationCodeGrantFilter` and `OAuth2AuthorizationCodeGrantWebFilter`.

After you review the spec and gain a solid understanding of the `authoriz

[2019-06-29 13:10] ch4mpy commented on #6945
Reading the [OAuth2 RFC](https://tools.ietf.org/html/rfc6749) again, here is what I found outstanding about scopes:

[... detailing password authentication drawbacks ...]
  o Third-party applications gain overly broad access to the resource owner's protected resources, leaving resource owners without any ability to restrict duration or access to a limited subset of resources.
[...]

[...]If the va

[2019-07-01 08:09] a-sayyed opened #7060 "Multipartfile request with no authentication is still consumed even after an AccessDeniedException is thrown"
### Summary
As explained by @wilkinsona in this related issue: https://github.com/spring-projects/spring-boot/issues/17345, a multipartfile request with no authentication to a secure endpoint, results in an `AccessDeniedException` (when the `HiddenHttpMethodFilter` is disabled). This is handled in `ExceptionTranslationFilter.handleSpringSecurityException(HttpServletRequest, HttpServletResponse, Fi

[2019-07-01 11:24] #7009 closed

[2019-07-01 12:51] jzheaux opened #7061 "Update to nimbus-jose-jwt:7.3"
Related to https://github.com/spring-projects/spring-security/issues/6778#issuecomment-502902575

[2019-07-01 23:21] clementkng commented on #7038
@rwinch I'm a little confused by this statement. Where else are configurers applied? Does this statement mean that each `configure(SecurityBuilder)` is invoked (in the top of the spec, describing the `SecurityConfigurer` interface)?

[2019-07-02 08:16] pluttrell opened #7062 "v5.2.0.M3 docs contain Deprecated example code"
### Summary

The [Spring Security v5.2.0.M3 docs](https://docs.spring.io/spring-security/site/docs/5.2.0.M3/reference/htmlsingle/#webflux-oauth2-resource-server-authorization-extraction) provides the following example:
[code]

The `Collection<GrantedAuthority> extractAuthorities(Jwt jwt)` method is now deprecated. From looking at the source, it appears there's a new recommended way to introduce ou

[2019-07-02 13:35] #7061 closed

[2019-07-02 13:45] eleftherias opened #7063 "Allow remember me to be configured using nested builder"
Support nested builder
------
Currently remember me can be configured in the following way.
[code]

We should allow configuration using a nested builder, as follows.
[code]

[2019-07-02 13:45] #6498 closed

[2019-07-02 13:50] jzheaux commented on #7062
Thanks for the report, @pluttrell! Would you be interested in submitting a PR to update the docs?

[2019-07-02 13:52] jzheaux commented on #7058
@larsgrefer, thanks for the report. It might be nice to update these to use `MessageDigest.isEqual` instead.

Would you be able interested in submitting a PR?

[2019-07-02 13:59] larsgrefer commented on #7058
I can provide a PR for this.

[2019-07-02 14:49] RajkumarMint opened #7064 "OAuth JWT validation is performed TWICE with DefaultTokenServices class(Method: loadAuthentication)"
Dear Team,

I'm seeing JWT validation logic is invoked twice with DefaultTokenServices class, method name loadAuthentication. Below is the loadAuthentication method code from https://github.com/spring-projects/spring-security-oauth/blob/master/spring-security-oauth2/src/main/java/org/springframework/security/oauth2/provider/token/DefaultTokenServices.java

	public OAuth2Authentication loadAuthenti

[2019-07-02 15:06] jzheaux commented on #6909
Related conversation @ https://github.com/spring-projects/spring-security/pull/6978#issuecomment-502380146

@TheFonz2017 I understand your concern about copy-pasting code. I don't think I'm seeing that as a concern in this case, though.

If you want to do exactly what the auto-configuration does, just adding a custom validator, you could do:

[code]

Since `JwtDecoders#fromOidcIssuerLocation` simp

[2019-07-02 17:14] larsgrefer opened #7065 "Custom FilterInvocationSecurityMetadataSource in JavaConfig"
see spring-projects/spring-boot#3317
see #2672
see https://docs.spring.io/spring-security/site/docs/3.2.9.RELEASE/reference/htmlsingle/faq.html#faq-dynamic-url-metadata

Please provide an "easy" way, to provide a custom `org.springframework.security.web.access.intercept.FilterInvocationSecurityMetadataSource`
when using Java configuration.

We're currently trying to migrate an old Spring applicati

[2019-07-02 22:59] pluttrell commented on #7062
@jzheaux I was thinking about submitting one, but wasn't 100% sure what the authors intent is and didn't want to lead people in the wrong direction.

[2019-07-03 11:40] #7058 closed

[2019-07-03 11:49] jzheaux commented on #7062
I see, @pluttrell, I can understand you wanting to first assess the author's intent. Yes, I think you've understood it correctly, and the documentation just lagged behind #6277.

Let me know if you'd like to provide a PR, and I'd be happy to assist.

[2019-07-03 12:13] jzheaux commented on #2790
Agreed that this is an issue. To address it, I think the code should validate the constructor input. For example, it should assert that the `requiredAddress` byte length times 8 is greater than or equal to `nMaskBits`.

The code should do the same for `remoteAddress`.

[2019-07-03 12:33] membersound opened #7067 "ResourceBundle not resolved for spring-security messages if 'spring.messages.basename' is set"
When setting multiple spring message bundles, as advised in https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-internationalization.html:
`spring.messages.basename=messages,message-commons`

Now if a spring-security error occurs, the spring-security error messages are not loaded correctly. The following warning is printed:

Interestingly, if you change the properties to a

[2019-07-03 13:06] rwinch commented on #7060
Thanks for the report @a-sayyed!

I'm not sure this can be avoided all together. This is a common issue for multipart requests. For example, [CSRF needs to process the parameters](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#csrf-multipart) to determine if the request is valid.

So I can better understand your issue, can you please explain what specific problem th

[2019-07-03 14:02] rwinch commented on #7022
ProviderManager is implemented such that it will try each AuthenticationProvider in turn. How would a Map help?

It sounds as though you have multiple DaoAuthenticationProvider instances each trying to authenticate the users. If that is the case, I'm not sure what you can do to avoid exceptions being thrown during authentication other than providing your own AuthenticationProvider implementation t

[2019-07-03 14:04] rwinch commented on #7022
I'm going to close this as invalid. Exceptions are allowed to be thrown if they are handled properly (which they are in this case). Incidents should use error logs to troubleshoot (not Exceptions that are being cleanly handled).

[2019-07-03 14:04] #7022 closed

[2019-07-03 14:05] TheFonz2017 commented on #6909
@jzheaux, thanks for your response.

Note that I do not want to "do exactly as the auto-configuration does", but I want to let the auto-configuration do its thing and afterwards add my custom validators to the ones added by the auto-configuration.

Since the auto-configuration creates two different JwtDecoders (with differing sets of JwtValidators) and these cannot be accessed using a getter, I ha

[2019-07-03 14:11] pyoung36 commented on #7022
Thank you. Providing our own DaoAuthenticationProvider accomplishes what we desire.

[2019-07-03 15:32] wpuhl10775 opened #7068 "Whitespace in provider name in the OAuth2 properties causes mismatch"
### Summary
Whitespace in provider name in the OAuth2 properties causes mismatch for provider ID as it is not able to match the ID to the other proprty parameters

### Actual Behavior

1. Define oauth2 properties in application.properties file
  _'spring.security.oauth2.client.registration.xxx.provider=xxx    '_
 _spring.security.oauth2.client.provider.xxx.authorization-uri=http://localhost:8282/o

[2019-07-03 20:26] clementkng commented on #7036
Hi @jgrandja, thanks for your recommendations! I've gone through the Authorization Code Grant flow and understand the higher details of what the `OAuth2AuthorizationCodeGrantWebFilter` does, but I'm still a little confused about the mapping b/w different classes in the methods ie `ServerWebExchange`, `WebFilterChain`, `Authentication` of  `OAuth2AuthorizationCodeGrantWebFilter` vs `HttpServletRequ

[2019-07-03 20:26] clementkng commented on #7036
Hi @jgrandja, thanks for your recommendations! I've gone through the Authorization Code Grant flow and understand the higher details of what the `OAuth2AuthorizationCodeGrantWebFilter` does, but I'm still a little confused about the mapping b/w different classes in the methods ie `ServerWebExchange`, `WebFilterChain`, `Authentication` of  `OAuth2AuthorizationCodeGrantWebFilter` vs `HttpServletRequ

[2019-07-03 20:58] rwinch commented on #7059
Thanks for the report @larsgrefer! Would you be willing to submit a PR for this?

[2019-07-03 21:04] rwinch commented on #7068
Thanks for the report. If we are to do anything for this, I believe it would need to be handled by Spring Boot.

@philwebb What are your thoughts?

[2019-07-03 21:07] #7040 closed

[2019-07-03 21:08] larsgrefer commented on #7059
I'm not sure how exactly this PR should look like.

Ideally there would be only one `DefaultWebSecurityExpressionHandler` instance which is used everywhere by default (instead of multiple instances whose default configuration needs to be kept in sync), but where should this instance be created and where should it be configured?

[2019-07-03 21:16] spring-issuemaster opened #7069 "Allow upgrading between different SCrypt encodings"
Backport of gh-7057

[2019-07-03 21:16] spring-issuemaster commented on #7069
Fixed via 0d5392103990430787b0f322c2c9fc94494bb7e5

[2019-07-03 21:16] #7069 closed

[2019-07-03 21:20] spring-issuemaster opened #7070 "Can't use a custom authorization grant type in a ClientRegistration"
Backport of gh-7040

[2019-07-03 21:20] spring-issuemaster commented on #7070
Fixed via e7588fb32fc748e2e8ad32b507d5b36308725c93

[2019-07-03 21:20] #7070 closed

[2019-07-03 21:23] rwinch commented on #7069
This was reverted because it was mistakenly backported

[2019-07-03 21:26] rwinch commented on #7038
Most of the methods on `HttpSecurity` apply a configurer. For example, invoking `formLogin` invokes a configurer. If you are to do that within another Configurer..it must be done in the init method

[2019-07-03 21:41] rwinch commented on #7065
You should be able to do something like this:

[code]

[2019-07-04 00:28] clementkng commented on #2790
Hi @jzheaux, can I try taking this issue?

[2019-07-04 05:29] jzheaux commented on #2790
Yes, of course, @clementkng! I'm looking forward to your PR.

[2019-07-04 05:37] jzheaux commented on #6909
@TheFonz2017 I appreciate your analysis, thank you.

Can you show me what code you are trying to write that is cumbersome? It appears to me that that only thing you are replacing is `getJwtValidator` with `JwtValidators.createDefaultWithIssuer`, which I don't believe can be argued as being an inconvenience. I believe sample code from your application will go further than analyzing Spring Security'

[2019-07-04 08:42] mparaz opened #7072 "Support accessTokenResponseClient customisation for Client Credentials Grant"
I would like to customise the access token request client for the Client Credentials Grant, just like it is possible for the Authorization Code Grant with: HttpSecurity.oauth2Client().authorizationCodeGrant().accessTokenResponseClient() .

This is required to authenticate against Auth0, for example.

[2019-07-04 13:33] TheFonz2017 commented on #6909
Sure Josh,

I am providing a security reuse library that an application shall be able to drop into its classpath.
There it will auto-configure itself under the hood of the application and as part of doing so, will add an additional `JwtValidator` to the `JwtDecoder` that the auto-configuration of Spring Security has created. As outlined above, that `JwtDecoder` configuration depends on the applica

[2019-07-04 16:06] spring-issuemaster commented on #6491
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-07-04 16:06] #6491 closed

[2019-07-05 06:55] luvarqpp opened #7081 "hello world sample reverse proxy problem"
[issue.patch.zip](https://github.com/spring-projects/spring-security/files/3361533/issue.patch.zip)
### Summary

I have used **sample/boot/helloworld** sample project behind reverse proxy and it generates wrong 302 redirection (Location header does not respect X-Forwarded-* headers from reverse proxy).

I have used settings according documentation to allow processing of X-Forwarded-* headers to wo

[2019-07-05 12:40] jzheaux commented on #6945
You make some great points about why resource servers may not want to tightly couple the values in the `scope` claim directly to `GrantedAuthority` identifiers.

How would you propose Spring Security's API change to make this simpler? To me, it already seems very simple:

[code]

Because this contract is `Jwt` -> `Authentication`, the application can use any aspect of the original bearer token to

[2019-07-05 12:48] jgrandja commented on #7072
@mparaz This is already possible since 5.1. Here is an example:

[code]

I'm going to close this issue as I believe I have answered your question. We can re-open if you have further questions. Thanks.

[2019-07-05 12:48] #7072 closed

[2019-07-05 13:23] jgrandja commented on #7036
@clementkng I think that makes a lot of sense as far as modifying the existing test `filterWhenMatchThenAuthorizedClientSaved()` as your starting point.

When I mentioned

I was trying to answer your question

To be more clear, those steps show you how to customize the `redirect-uri` in `application.yml` for the web app itself. Since you are starting with the test than you need to look at this [li

[2019-07-05 14:21] spring-issuemaster commented on #5320
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-05 17:02] ch4mpy commented on #6945
I believe my messages are too long. I tried to sum-up my thoughts [here](https://github.com/ch4mpy/spring-addons/tree/master/spring-security-oauth2-addons#scopes-authorities). Hope you have time to read it.

1. better use different claims for different things (authorities and scopes are definitely different concepts)
2. `scope` claim isn't in the RFC neither
3. spring-security might be widely enou

[2019-07-05 17:45] samiconductor commented on #5300
Used your commit @mvitz, thanks! Just moved the tests from groovy to the new java ones.

@rwinch integration tests failed for me (mostly ldap) but units passed.

[2019-07-07 22:17] clementkng commented on #7036
@jgrandja Thanks for clarifying, that makes more sense to me. I believe I now have a test I can begin developing against, but I just want to make sure. If I create a new `ClientRegistration.Builder` method (ie `ClientRegistration.Builder clientRegistration3()` based off of the original`clientRegistration()`), change the argument inside `redirectUriTemplate` to `"/callback"`, link up `clientRegistr

[2019-07-08 17:23] jgrandja commented on #7036
@clementkng

It's not necessary to create a new method. Just re-use what's there like this

[code]

Yes, you will need to change `get("/authorize/oauth2/code/registration-id")` to `get("/callback")`

[2019-07-08 18:31] #7018 closed

[2019-07-08 18:35] rwinch opened #7085 "Add AnonymousAuthenticationPayloadInterceptor"
### Summary

Add AnonymousAuthenticationPayloadInterceptor

[2019-07-08 18:37] rwinch opened #7086 "Add PayloadExchangeMatcherReactiveAuthorizationManager"
### Summary

Add PayloadExchangeMatcherReactiveAuthorizationManager it should delegate based upon matching the Payload

[2019-07-08 19:17] edseppp opened #7087 "Spring Security is not working after upgrading to spring boot 2.1.4.RELEASE"
Spring security was working fine on spring boot 2.0.8.RELEASE, after upgrading to spring boot 2.1.4.RELEASE it fails to checks for access token and displays the data without having a token.

**Actual Behavior**
I can access any endpoints without access token. It doesn't check for token at all.

**Expected Behavior**
To receive access denied if the token is invalid or missing when accessing any end

[2019-07-08 21:49] xenoterracide opened #7088 "allow retrieval of access/refresh tokens in oauth 2"
so I believe currently after OIDC retrieves the profile information it wipes the access token, refresh token, etc. However these are useful in making further calls to other APIs. It would be nice if that information could be made available via a property source, or maybe another method.

https://stackoverflow.com/q/56844287/206466

[code]

[code]

[2019-07-08 22:09] H-Lo commented on #6491
Hi @jkapec,
I had the same issue as you have. Finally I found I had used @EnableGlobalMethodSecurity 2 times.
When removed one of those, the exception disappeared.
I know you mentioned very simple project, but no harm to check.
Also if anyone else comes here, it might help.
BR,
Hrvoje

[2019-07-09 07:53] a-sayyed commented on #7060
Thank you for the explanation @rwinch!
My problem is exactly what you mentioned, I understand that this is similar to normal "bad requests", however this can quite easily result in a DDoS attack. Is it not possible to move the Multipartfilter behind the security filter chain? would that solve this issue?

[2019-07-09 11:38] jzheaux commented on #7087
@edseppp, thanks for the report. Would you do me the favor of logging this instead in [the OAuth2 Boot project](https://github.com/spring-projects/spring-security-oauth2-boot/issues)? Also, would you please post a sample program in that new ticket of what isn't working for you?

[2019-07-09 11:38] #7087 closed

[2019-07-09 11:53] jzheaux commented on #6945
Hmm, that is a good point.

I believe that I've understood from you that you prefer to have both claims, `scope` and `authorities` in your token. Since that would mean you'd want to have `JwtGrantedAuthoritiesConverter` target a claim, I think that adding a setter is a sensible way to do this, e.g `JwtGrantedAuthoritiesConverter#setAuthoritiesClaimName`

If you're agreed, would you be interested i

[2019-07-09 14:04] edouardhue opened #7089 "Error description by BearerTokenAccessDeniedHandler is misleading"
### Summary

The error description for the insufficient_scope case in BearerTokenAccessDeniedHandler assumes that the denial is caused by an insufficient scope, while it could have many other causes. It is misleading and should be reworded.

### Actual Behavior

The error description in `org.springframework.security.oauth2.server.resource.web.access.BearerTokenAccessDeniedHandler` for error code `

[2019-07-09 15:56] ankurpathak commented on #7035
@rwinch Can i take PR of updating appendix?

[2019-07-09 16:31] rwinch opened #7090 "Read RFC 8417 - Security Event Token"
### Summary

Read https://tools.ietf.org/html/rfc8417

[2019-07-09 16:44] rwinch opened #7091 "Read Security Event Token (SET) Delivery Using HTTP"
### Summary

https://tools.ietf.org/html/draft-ietf-secevent-http-push

[2019-07-09 19:01] #7085 closed

[2019-07-10 12:18] jzheaux commented on #7089
@edouardhue, I think this makes sense.

Since the RFC says "The request requires higher privileges than provided by the access token.", I think an error message of "The token provided has insufficient privileges for this request" would be more accurate.

The existing message is also a potential source of confusion since the spec allows for missing scopes to be included in the error message whereas

[2019-07-10 13:20] edouardhue commented on #7089
Sure, gimme a few days!

[2019-07-10 14:09] rwinch commented on #7059
@larsgrefer I think we should start by fixing the immediate problem and updating the configuration to be kept in sync. This will be faster and less risky (which is desirable for a bug fix). We can explore using the same instance in a separate PR.

[2019-07-10 14:43] eleftherias commented on #7067
This issue isn't specific to spring-security exceptions.
It can be reproduced when spring-security is removed from the dependencies, with a custom exception, for example:
[code]
And in the controller:
[code]
@membersound  Can you please create this issue at https://github.com/spring-projects/spring-boot/issues?

Furthermore, the error message
`ResourceBundle [messages] not found for MessageSource:

[2019-07-10 14:45] eleftherias commented on #7067
Closing as invalid since this is part of another project.

[2019-07-10 14:45] #7067 closed

[2019-07-10 16:54] #7038 closed

[2019-07-10 17:00] rwinch commented on #7081
Thanks for creating the issue. As this is a hello world sample, we aren't attempting to handle this scenario.

[2019-07-10 17:00] #7081 closed

[2019-07-10 19:47] edouardhue commented on #7089
@jzheaux Reading again https://tools.ietf.org/html/rfc6750#section-3, I think the scope attribute that is added if a scope is found in the token should be removed too. According to rfc6750, it should be "indicating the required scope of the access token for accessing the requested resource", but it lists the scopes extracted from the token. Plus, at section 3.1, the rfc states that in the case of

[2019-07-10 21:05] spring-issuemaster commented on #7068
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-10 21:16] membersound commented on #7067
Thanks for having a look.

Regarding your statement that this is the expected behavior: is it? I mean, if I add a custom `messages.properties` where I just set some self-defined message keys that I could eg use in @Controller request parameter validations, why shouldn't error messages fallback to the springs' default message bundle if I did not set my own keys?

I mean, eg I won't add i18n for any

[2019-07-10 21:45] spring-issuemaster commented on #7065
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-10 22:17] larsgrefer commented on #7065
Using the `ObjectPostProcessor` to override the `FilterInvocationSecurityMetadataSource` works 👍

[2019-07-10 22:17] #7065 closed

[2019-07-11 03:55] philwebb commented on #5557
I'm really glad Josh raised this one (thanks @mbhave for pointing me at the issue). I've been thinking for some time that we might be able to offer a really nice lambda first configuration API now that we have Java 8 as the baseline. I even started to sketch out some ideas a few months ago, but I had to park them because of other work.

I'm personally of the opinion that trying to add a new lambda

[2019-07-11 05:07] andyzhaozhao opened #7093 "How can I see logs for EnableWebFluxSecurity"

[2019-07-11 05:45] andyzhaozhao opened #7094 "How Can I get the access_token string in OAuth2 Client"
### Summary

### Actual Behavior

### Expected Behavior

### Configuration

### Version

### Sample

[2019-07-11 06:20] antusen opened #7095 "userCache Do not call custom caches"
![image](https://user-images.githubusercontent.com/49021590/61032330-d0626300-a3f3-11e9-82cc-fc2f806ac5b5.png)
![image](https://user-images.githubusercontent.com/49021590/61032564-423aac80-a3f4-11e9-9a92-be5a416e9252.png)
![image](https://user-images.githubusercontent.com/49021590/61032468-17505880-a3f4-11e9-8f73-98ece98110c3.png)
![image](https://user-images.githubusercontent.com/49021590/6105181

[2019-07-11 06:50] edouardhue commented on #7089
@jzheaux I just submitted #7096.

[2019-07-11 09:28] luvarqpp commented on #7081
Hello, I have not created this issue because of helloworld project is not able to run behind proxy. I have used helloworld just as codebase for start. Point of my issue is that **documentation is not correct/full**. Specifically after applying its suggestions to make project configured for proxy usage, it fails to work.

I have found, that problem is not documentation itself, but there is missing

[2019-07-11 14:28] eleftherias commented on #5557
Thanks for the input @philwebb.
The approach we have taken has some similarities to your suggestions, although we are continuing to the use the `configure` method and the `HttpSecurity` object.
Given this example that you showed:
[code]
The new configuration using lambdas would look like this:
[code]
Or equivalently (and closer to your suggestion):
[code]
I favour the first lambda option with the

[2019-07-11 14:59] chhex opened #7097 "Spring Security Websockets Documentation for Spring Websocket Java Client"
### Summary

I am not quite sure, if this a Spring Security question or Spring Websocket.

The documentation for securing Spring Websocket is great and applies easily to working examples.  But only for Java Script Clients. https://docs.spring.io/spring-security/site/docs/4.2.x/reference/html/websocket.html and https://docs.spring.io/spring-security/site/docs/4.2.x/reference/html/websocket.html#web

[2019-07-11 15:31] eleftherias commented on #7067
@membersound if you do not add specific overrides for the exception messages, then spring-security will continue to use the default messages.

If you want to add custom message keys to use in your application, you can create a file named `messages.properties` and set your key-value pairs in that file e.g:
[code]
Spring boot will pick up that file by default without any further configuration needed

[2019-07-11 17:04] philwebb commented on #5557
That's certainly true. If you're integrating with the existing API it doesn't make sense to restrict what can be done. I can still use the single line syntax as you suggest.

Yeah, mixing would be a nightmare. I think you'd have to fail hard if someone tried to do that. There's certainly pros/cons with the different approaches. My preference was somewhat driven by my desire to try the alternative

[2019-07-12 02:40] jzheaux commented on #7094
If I understand your question correctly, this is already in the documentation: https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2Client-registered-authorized-client

Is there something missing from that explanation?

As a side note, support questions are better suited for StackOverflow. Either way, thanks for reaching ou.t

[2019-07-12 02:40] #7094 closed

[2019-07-12 14:21] spring-issuemaster commented on #5320
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-07-12 14:21] #5320 closed

[2019-07-12 15:44] ch4mpy commented on #6945
Few questions:

- what should be the default authorities claim name ? I anticipate you'd prefer it to be `["scope", "scp"]` for backward compatibility reasons, but I believe `authorities` would be a much better default (again scopes and permissions are not the same things)
- what about the prefix? should a setter be exposed for it too? should it automatically be `SCOPE_` for `scope` and `scp` clai

[2019-07-12 21:09] #5557 closed

[2019-07-12 21:14] joshlong commented on #5557
This is so awesome! Congratulations and thank you, @eleftherias !

[2019-07-12 21:26] eleftherias commented on #7063
This is fixed by gh-5557

[2019-07-12 21:26] #7063 closed

[2019-07-13 04:38] jzheaux opened #7100 "JwtGrantedAuthoritiesConverter should allow configuring the authorities claim name"
Related to #6945

It would be nice if an application could indicate a custom claim name for `GrantedAuthority`s without creating a custom converter.

Something like:

[code]

Would be easier to do than:

[code]

So, let's add a setter to `JwtGrantedAuthoritiesConverter` called `setAuthoritiesClaimName` so that the converter knows which claim to look for.

[2019-07-13 04:42] jzheaux opened #7101 "JwtGrantedAuthoritiesConverter should allow configuring the authority prefix"
Related to #6945 and #7100

It would be nice to configure `JwtGrantedAuthoritiesConverter` with what scope prefix to use for the resulting `GrantedAuthority`s:

[code]

This would involve adding a new method to `JwtGrantedAuthoritiesConverter`, namely `setAuthorityPrefix`. The code would then use this prefix instead of the hardcoded "SCOPE_" prefix.

The default value should still be "SCOPE_".

[2019-07-13 04:43] jzheaux commented on #6945
* Yes, let's leave it as `["scope", "scp"]` for the default
* Yes, let's add `setAuthorityPrefix`, defaulting to `SCOPE_`
* I'm still mulling this over, but yes I'm thinking that the code will be duplicated for introspection (not in this PR, though)

To track these two separate features, please use #7100 and #7101 as the fixes issue for the two commits.

[2019-07-14 13:33] ch4mpy commented on #7101
Changed the spec a bit: have prefix configurable per authority claim name

I did this because authorities claim name actually has to be a collection of claim names (default is `["scope", "scp"]`) and, also, it is very convenient to add a claim to scan for more authorities. But, in such a case, it is likely that required prefix would change with claim name.

IMO, legit use-case would be parsing `au

[2019-07-15 07:05] karelmaxa commented on #7035
We have created pull request #7106 that resolves the original issue. The pull request to resolve appendix issue has not been created yet. Maybe it should be processed in dedicated issue?.

[2019-07-16 02:53] jzheaux commented on #7101
I disagree that the claim name needs to be a collection of claim names. The fact that it originally is a collection of claim names is an internal implementation detail to the class.

Let's keep this class very simple - if the application needs to do something complex like adding a different prefix for different claims, then it can implement the interface quite easily itself.

[2019-07-16 07:25] amaralani commented on #3989
Hi, is anyone working on this? can I take this?

[2019-07-16 10:06] L00kian commented on #5557
@philwebb @eleftherias is the same approach viable for webflux config classes? I didn't find an issue raised to that

[2019-07-16 10:31] eleftherias opened #7107 "Add support for nested builders in the DSL for reactive apps"
Allow spring security for reactive apps to be configured using a nested buider, taking advantage of Java 8 lambdas.

An example configuration would look like this:
[code]

Relates to gh-5557.

[2019-07-16 10:32] eleftherias commented on #5557
@L00kian Thank you for mentioning webflux, I have created the issue for it here gh-7107.

[2019-07-16 12:48] #5300 closed

[2019-07-16 12:50] rwinch commented on #5300
@samiconductor Thanks for the PR!

Strange as they worked fine for me. If  you continue to see errors, can you please create a ticket with what happens and details on how to reproduce?

[2019-07-16 13:28] ch4mpy commented on #7101
I suggest you provide the implementation you already have in mind, then.

[2019-07-16 13:41] jgrandja commented on #7088
@xenoterracide

No, it doesn't get wiped out. You can retrieve the `OAuth2AuthorizedClient` via the `OAuth2AuthorizedClientRepository` or `OAuth2AuthorizedClientService`. The `OAuth2AuthorizedClient` contains the `OAuth2AccessToken` and optional `OAuth2RefreshToken`.
See the [ref doc](https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#oauth2Client-authorized-repo-

[2019-07-16 13:41] #7088 closed

[2019-07-16 13:51] spring-issuemaster commented on #7062
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-16 16:30] ssgen opened #7108 "SecurityContextImpl should implement Serializable"
### Summary

As described here:
https://docs.spring.io/spring-security/site/docs/5.1.x/api/serialized-form.html#org.springframework.security.core.context.SecurityContextImpl

and here:

https://docs.spring.io/spring-security/site/docs/5.1.x/api/org/springframework/security/core/context/SecurityContextImpl.html

SecurityContextImpl should be Serializable.

This affects other components that try to

[2019-07-16 16:38] rwinch opened #7109 "Update usage of OncePerRequestFilter"
### Summary
We need to update our usage of OncePerRequestFilter to reflect the updates for https://github.com/spring-projects/spring-framework/issues/23196

[2019-07-16 16:55] rwinch commented on #7060
It isn't possible when security needs to read anything from the body (i.e. CSRF parameter, form body, etc).

While I understand this reduces the risk, it seems that if you are in trouble for a DoS attack, you still have this problem if the user is authorized to make the request (many attacks are user's with permissions).

If we modify the request to ignore saving the parameters, then a user that h

[2019-07-16 17:04] rwinch commented on #7108
Thanks for the report.

Since `SecurityContextImpl` implements `SecurityContext` and `SecurityContext` extends `Serializable`, `SecurityContextImpl` is also `Serializable`.

I'm closing this as invalid. If it doesn't resolve your issue, please feel free to reopen or create a new ticket with additional details.

[2019-07-16 17:04] #7108 closed

[2019-07-16 18:16] matkocsis opened #7110 "Oauth2 BearerTokenAuthenticationFilter logging issue"
### Summary
BearerTokenAuthenticationFilter swallows the cause of exception during AuthenticationException DEBUG logging

### Actual Behavior
Usecase to reproduce: Configure a JWK-SET-URI over HTTPS with self signed cert serving the keys.
Turn on DEBUG logging for org.springframework.security

Actual Behavior: with any given valid JWT token the resource will be Unauthorized, and the top level deta

[2019-07-16 18:56] rwinch commented on #7093
Thanks for the report. This is a duplicate of gh-5758

[2019-07-16 18:56] #7093 closed

[2019-07-16 19:04] rwinch commented on #7081
If ForwadedHeaderFilter is not working, please report it to https://github.com/spring-projects/spring-framework/issues with details on how to reproduce the issue.

[2019-07-16 19:07] rwinch commented on #7097
CSRF protection is [not needed](https://docs.spring.io/spring-security/site/docs/5.0.x/reference/html/csrf.html#when-to-use-csrf-protection) if it is not in a browser. Does this answer your question?

[2019-07-16 19:15] rwinch commented on #7095
What you are reporting is not clear to me. Please provide a detailed description of how to reproduce, what you are observing, and what you expect to happen.

[2019-07-16 20:03] jzheaux commented on #6945
I'm closing this ticket in favor of #7100 and #7101

[2019-07-16 20:03] #6945 closed

[2019-07-17 01:15] fhanik commented on #7109
After a review, here are some thoughts

### [HeaderWriterFilter](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/header/HeaderWriterFilter.java)

Should **override** `doFilterNestedErrorDispatch` since this filter should deliver headers regardless of response content

### [WebAsyncManagerIntegrationFilter](https://github.com/spring-

[2019-07-17 03:59] antusen commented on #7095
httpSession
![image](https://user-images.githubusercontent.com/49021590/61345906-8f51cf00-a889-11e9-962b-7a0ec90596ea.png)
I failed to update the cache with userCache.
I want to modify the user details of any user. For example, I modified the role of any user, need to update the role, how to update?
@rwinch

[2019-07-17 09:08] ssgen commented on #7108
Hello again,

I am not aware how to continue - because **Java** says it is not **Serializable**:
[code]
![Entry_point_JDBCOperationsSessionRepository ](https://user-images.githubusercontent.com/5553169/61361451-3124ec00-a889-11e9-8bfe-b5a6948cc9d3.png)
![Call_that_breaks_conversion](https://user-images.githubusercontent.com/5553169/61361469-37b36380-a889-11e9-8ef4-f76fc4202b62.png)
![org spring se

[2019-07-17 09:10] ssgen opened #7112 "@EnableJdbcHttpSession not usable in tandem with spring-boot and spring-security"
Hello again,

I am not aware how to continue - because **Java** says it is not **Serializable**:
[code]
![Entry_point_JDBCOperationsSessionRepository ](https://user-images.githubusercontent.com/5553169/61361451-3124ec00-a889-11e9-8bfe-b5a6948cc9d3.png)
![Call_that_breaks_conversion](https://user-images.githubusercontent.com/5553169/61361469-37b36380-a889-11e9-8ef4-f76fc4202b62.png)
![org spring se

[2019-07-17 10:32] ssgen commented on #7112
I've just noticed the following:

[code]

So, it clearly has passed the _instanceof_ test - Java just bails out into internal method:

`objectOutputStream.writeObject(object);`

Another issue regarding the subject is that even if I add a special Converter<SecurityContextImpl, byte[]> to the global converter registry as:

[code]

it does not get picked up by the JdbcOperationsSessionRepository at r

[2019-07-17 13:01] Illapikov commented on #6545
We experience the same issue with using both **@PreAuthorize** and **@RequestParam**.
Spring complains about missing parameter (or invalid parameter if property editor was used) before the security checks.

[2019-07-17 13:52] rwinch commented on #7108
Make sure that all the code injected into the SecurityContextImpl is also Serialiable. For example, make sure that `CaptchaAuthenticationDetails` is Serializable. If you have additional problems with this, please ask on [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using

[2019-07-17 14:13] eleftherias opened #7113 "Prevent disabled user from logging in on reactive applications"
### Summary

In servlet applications, if a user account is disabled, locked or expired, then the user is not permitted to log in.
In reactive applications, the user is still permitted to log in regardless of their account status.

The reactive applications should behave like the servlet application by default, and prevent disabled, locked or expired accounts from logging in.

[2019-07-17 15:32] eleftherias commented on #7113
This functionality is handled by the pre and post authentication checks in the `AbstractUserDetailsAuthenticationProvider` for servlet applications.
Reactive applications do not have pre authentication checks and have a noop post authentication check, as seen in `UserDetailsRepositoryReactiveAuthenticationManager`.
Instead, they should have the same checks that the servlet applications have.
Addit

[2019-07-17 17:06] ssgen commented on #7112
I have found the culprit that cannot be serialized :

`@Autowired private UserRepository userRepo;`

that is of type:

`public interface UserRepository extends CrudRepository<User,Integer>`

present in UserDetailsImpl of UserDetails interface.

Any idea how to get the user from database without including any reference to the CrudRepository in the class ?

[2019-07-17 17:25] victor-bortone commented on #4943
Any updates?

[2019-07-17 21:06] jgrandja opened #7114 "Allow configurable Clock in OAuth2AuthorizedClientProvider impls"
We should add a `Clock` member to allow for user customization for the following:

- `RefreshTokenOAuth2AuthorizedClientProvider`
- `RefreshTokenReactiveOAuth2AuthorizedClientProvider`
- `ClientCredentialsOAuth2AuthorizedClientProvider`
- `ClientCredentialsReactiveOAuth2AuthorizedClientProvider`

**NOTE:** PR #7116 needs to be merged before this task can proceed.

[2019-07-17 21:12] jgrandja opened #7115 "Consider registering OAuth2AuthorizedClientManager via Boot"
We should consider having Boot auto-configure an `OAuth2AuthorizedClientManager`  `@Bean`.

Further details in this [thread](https://github.com/spring-projects/spring-security/pull/6845#discussion_r304345196).

[2019-07-18 06:59] gjoseph commented on #4310
FWIW SourceClear reports this as a vulnerability (https://www.sourceclear.com/vulnerability-database/security/incorrect-headers-handling/java/sid-20558) - any chance this could get patched up soon?

[2019-07-18 09:02] compfantasy commented on #6883
@jgrandja I already upgraded the version of spring-security-oauth2-client and spring-secuirty-oauth2-core to 5.2.0.M2, I can see there is a class named OidcIdTokenDecoderFactory, but how can i use setJwsAlgorithmResolver() to make JwsAlgorithm working in the spring context? I tried to create a new OidcTokenDecoderFactory bean and set the JwsAlgorithm to RS512, it doesn't work, and I tried to creat

[2019-07-18 09:19] ysdxz207 opened #7117 "Why permit the same user multiple logins in the same browser?"
### Summary

When I configure `.maximumSessions(1).maxSessionsPreventsLogin(false)` to prevent multi logins,I found something I don't understand.

This code realy worked fine in diffrent browser,but when I log in the same browser with the same user it not worked.

### Actual Behavior

#### When I log in multi times I will get two sessions.
I found this code in method `public void onAuthentication(

[2019-07-18 09:20] eleftherias commented on #6726
@xak2000, thank you for the report. If you would like to make a PR to fix any broken URLs that you are aware of, we would appreciate that.

[2019-07-18 10:51] ssgen commented on #7112
Performed & closed.

It would be nice if the whatnots were documented and not explored by debug.

Best regards

[2019-07-18 10:51] #7112 closed

[2019-07-18 10:59] jzheaux commented on #7101
Thank you, @ch4mpy, for the PRs. I can tell that you think deeply and want your contributions to be helpful to the community.

I'm a little confused by [your last comment](https://github.com/spring-projects/spring-security/issues/7101#issuecomment-511815763), though. Do you feel like we are at an impasse?

Actually, I've just been focusing on your comments here to make sure that the description in

[2019-07-18 11:01] #7089 closed

[2019-07-18 15:11] a-sayyed commented on #7060
Hi @rwinch sounds good!, I will let you know once I am done :+1:

[2019-07-18 15:18] spring-issuemaster commented on #6778
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-18 15:57] #5692 closed

[2019-07-18 16:11] eleftherias commented on #5606
The [OAuth 2.0 Feature Matrix](https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Features-Matrix) has been updated to include Spring Security 5.1, in revision `778da4d`.
We have also created gh-6733 to introduce migration guidance for Spring Security's OAuth 2.0 Support.
Therefore, I am closing this issue.

[2019-07-18 16:11] #5606 closed

[2019-07-19 10:11] eleftherias commented on #4259
The project samples-boot-insecure has been updated to use gradle and now builds successfully.

[2019-07-19 10:11] #4259 closed

[2019-07-19 10:25] #2790 closed

[2019-07-19 11:10] jzheaux commented on #7110
Good catch, @matkocsis. Would you be willing to submit a PR to improve this?

[2019-07-19 12:42] shibuyaku commented on #7027
Thanks for the input. We got it running with your solution, without OIDC discovery.
For users facing the same issue:
-Configuration class providing an InMemoryClientRegistrationRepository bean with manual config, as described by @jgrandja https://github.com/spring-projects/spring-security/issues/7027#issuecomment-505609552
-ProxyConfig class configuring Authenticator.setDefault(...) - this allowed

[2019-07-19 13:02] jgrandja commented on #6883
@compfantasy Can you please put together a [minimal sample](https://stackoverflow.com/help/mcve) so I can see what you have so far and share via a GitHub repository. This will be the most effective way to help resolve this for you.

[2019-07-20 18:21] henriquels25 opened #7118 "Improve OAuth2 Resource Server tests"
### Summary

The tests for the OAuth2 Resource Server [sample](https://github.com/spring-projects/spring-security/blob/master/samples/boot/oauth2resourceserver/src/test/java/sample/OAuth2ResourceServerControllerTests.java) only include GET requests.

I believe it would be useful to add examples for other HTTP methods (POST, PUT, PATCH, DELETE) because the code for testing them is different.

### S

[2019-07-21 16:45] drndos opened #7120 "Add support for OpenID Simple Registration"
### Summary

CrowdID (https://confluence.atlassian.com/crowd/1-2-what-is-crowdid-58656152.html) is using OpenID Simple Registration extension to provide attributes instead of attribute exchange currently supported by existing implementation in spring-security-openid. To support spring security integration to Crowd SSO OpenID server (CrowdID) we need to add support for SReg in configuration and dur

[2019-07-22 02:52] ch4mpy commented on #7101
Well, currently its not a single claim, but a list of claims (`scope` and `scp`).

It seams likely to me that adding a claim to existing ones (namely `authorities` in addition to `scope` and `scp`) would be a quite common case.

It also seams likely that prefix would be different with added claims (empty string seems a good default for authorities)

Based on two preceding statements, something lik

[2019-07-22 14:25] eleftherias commented on #4342
This issue was reported and fixed later in gh-6312.

[2019-07-22 14:25] #4342 closed

[2019-07-22 14:37] eleftherias commented on #2987
This issue was fixed in 4.1.0.

[2019-07-22 14:37] #2987 closed

[2019-07-22 14:42] eleftherias commented on #2308
This is a duplicate of gh-2310, which has been closed.

[2019-07-22 14:42] #2308 closed

[2019-07-22 16:00] jzheaux commented on #7118
@henriquels25 I agree that additional tests would be helpful; would you be interested in submitting a PR?

[2019-07-22 16:58] eleftherias commented on #4201
A public constructor has been added through the issue gh-4139.

[2019-07-22 16:58] #4201 closed

[2019-07-22 17:11] clementkng commented on #7036
@jgrandja I'm still having trouble getting the behavior of the `OAuth2AuthorizationCodeGrantWebFilter` to match the `OAuth2AuthorizationCodeGrantFilter.shouldProcessAuthorizationResponse()`, and won't be able to circle back to this issue in a while.

I just wanted to let ppl know so if anyone else wants to jump in, feel free to.

[2019-07-22 17:39] joao-rebelo commented on #6475
Lets imagine my Authorization header is in the format: "Basic user:password:myExtension".
Without being able to inject the custom ServerAuthenticationConverter how could we parse this Header value?
I'm having a similar issue, and going to work around as explained in that SO link, but a better solution should be available.

[2019-07-22 19:15] jgrandja commented on #7036
@clementkng Ok no worries. Thanks for letting me know.

[2019-07-23 10:11] JimRichards22 commented on #4557
So here's the dilemma. I use XML configuration in a non-Spring boot application. I converted it to Java Configuration and then ran into a Spring Session bug [Unable to obtain SessionCookieConfig using Java based config #22319](https://github.com/spring-projects/spring-framework/issues/22319).

Mixing XML with Java Configuration is doable, but not great and since both pieces here relate to the html

[2019-07-23 10:36] eleftherias opened #7123 "Incorrect Javadoc for methods in HeadersConfigurer"
### Summary

The Javadoc for some methods, including `xssProtection()`, `cacheControl()`, `httpStrictTransportSecurity()`, has an incorrect return type.

### Actual Behavior

The return type is listed as `HeadersConfigurer`

### Expected Behavior

The return type should be the matching configurer for each method.
`XXssConfig` for `xssProtection()`
`CacheControlConfig` for `cacheControl()`
etc

[2019-07-23 10:51] Dzionek95 opened #7124 "Oauth2RestTemplate problem with obtaining access token with usage of refresh token"
Hello,

During my implementation of client microservice for oAuth2 I faced problem related with using OAuth2RestTemplate. My scenario is that this microservice is consumer and there is no rest endpoints. I have technical hardcoded user in properties which is able to get access token (with refresh token) with grant_type password. Logic that is responsible for obtaining access token with usage of re

[2019-07-23 11:42] jzheaux commented on #7101
The only thing I have in mind is what is in the description on the ticket. How I imagine this goes is: An individual (me, in this case) proposes a change in a ticket, and an individual (you, in this case) offers to fulfill that ticket. As you have pointed out, anyone can offer to fulfill the ticket, and of course, anyone can propose another ticket.

The reason you and I are having a discussion is

[2019-07-23 15:13] ch4mpy commented on #7101
I know you are spending too much time in this thread. This is exactly what I mean when I write "**everybody** would save time".

Maybe, you're misinterpreting my frustration: it has little to do with the implementation I propose here being rejected. Actually, I'm not much interested in converters reading authorities from token claims (I prefer resource-server to query authorities from a DB using `

[2019-07-23 15:33] eleftherias commented on #3354
Thank you @LinkedList , I am closing this issue.

[2019-07-23 15:33] #3354 closed

[2019-07-23 18:56] jzheaux commented on #7101
If I'm understanding correctly, you are feeling like your voice isn't being heard, and for that, I apologize. Let's see what we can do here.

If you feel like there is more to discuss, you can always open #6945 back up. The reason I closed it was because it appeared at the time that we were at a consensus that resulted in #7100 and #7101.

I'll not comment on that discussion here, but please feel

[2019-07-23 19:08] spring-issuemaster commented on #7097
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-23 20:57] #7107 closed

[2019-07-23 21:35] rwinch commented on #3989
I'm not sure I understand. The principal is typically a `UsernamePasswordAuthenticationToken` which has a `remoteAddress` property.

[2019-07-23 21:39] rwinch commented on #7035
Yes let's do that as a dedicated issue.

[2019-07-23 21:40] #7035 closed

[2019-07-23 21:48] #7110 closed

[2019-07-23 22:04] msassak commented on #6552
I believe I just ran into the same issue. I was able to work around it with the info in the SO post linked from here, but I've also created a sample demonstrating what I am seeing in the hopes that we can get a fix for this (or just some enlightenment about a better solution).

The problem seems to occur when Spring Security is enabled in Spring Cloud Gateway, and a client sends a cookie named `SE

[2019-07-23 22:31] #6506 closed

[2019-07-23 22:38] rwinch commented on #7095
This still isn't clear to me. If you modify a user, you need to update the `UserCache`.

[2019-07-23 22:41] rwinch commented on #6545
I don't think there is a lot we can do here from the Spring Security side. Spring Security's method support requires all of the arguments to the method to be resolved. In order for the arguments to be resolved type conversion and validation needs to pass. If you don't have the need for that arguments, then you can leverage Spring Security's URL based security to ensure security is executed first.

[2019-07-23 22:51] rwinch commented on #6552
What makes you believe this is a Spring Security issue?

[2019-07-23 23:28] msassak commented on #6552
Good question. I realized when you asked that I wasn't sure myself, so I took the example from my original response and removed all the dependencies on Spring Security. Sure enough, the erroneous `set-cookie` header is no longer present when Spring Security has been removed. That's not proof, but it is evidence that this is caused, at least in part, by Spring Security. Of course if you believe the

[2019-07-24 00:49] ch4mpy commented on #7101
Yes.

This is what I meant with "I suggest you close my PRs and provide the implementation you already have in mind, then". Sorry if it was un unclear.

[2019-07-24 01:41] antusen commented on #7095
Annotations @ PreAuthorize, when using login successfully passed AbstractUserDetailsAuthenticationProvider will load to userCahce populated userDetails. After not in use AbstractUserDetailsAuthenticationProvider,

It reads UserDetails through securityconttimpl. So you can update Cahce with userCahe, but still @preauthorize the UserDetails at login, not the modified UserDetails

[2019-07-24 03:18] priyankanandagopal commented on #2318
Hi..Is there any update on this please.

[2019-07-24 08:26] chhex commented on #7097
@rwinch  I also tried in the Java Client Scenario without CSRF protection.But i didn't seem to be able to get it running, whereas the Browser scenario work perfectly. As said it is most likely, problems in my code, but a working Java Stomp Client with Spring Security Example would be terrific or even come crucial  Code Snippets, similar to the Browser Code snippets, which where really helpful.

My

[2019-07-24 10:14] jzheaux commented on #4310
Since the `Host` header is untrusted information, we should likely consider whitelisting as a solution. `StrictHttpFirewall` is the most suitable, so I'd propose adding a method `StrictHttpFirewall#setAllowedHostnames(Predicate)`, which would ensure the hostname in `HttpServletRequest` is a known good value.

The application would need to set this value like so:

[code]

With this solution, `UrlUt

[2019-07-24 10:58] jzheaux opened #7126 "BearerTokenAuthenticationFilter should check if authentication is required"
Similar to [`BasicAuthenticationFilter`](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilter.java#L206), `BearerTokenAuthenticationFilter` should check if authentication is required before proceeding.

As does `BasicAuthenticationFilter`, this would happen after the token is extracted from th

[2019-07-24 13:14] #7123 closed

[2019-07-24 13:31] jzheaux commented on #7101
I'm going to try and infer a few things from your comments, @ch4mpy. Please feel free to chime in if I've misinterpreted anything. If I don't hear back from you in a few days, I'll assume that we are good to move forward with this ticket as-is.

You stated in this ticket a few concerns. It appears that most of these are addressed already via https://github.com/spring-projects/spring-security/issue

[2019-07-24 14:56] eleftherias opened #7128 "Remove exception from security configuration methods"
### Summary

The new additions to `HttpSecurity` and `ServerHttpSecurity` that support lambdas throw an exception.
These exceptions can be removed because the `Customizer` will no longer throw an exception.

[2019-07-24 14:56] joao-rebelo commented on #6475
Also to provide custom Authentication Failure Handler to the HTTP Basic doesn't seem to be possible, unless using the hack described in the above SO link.
Shouldn't all these classes "hardcoded" created at ServerHttpSecurity.HttpBasicSpec::configure be somehow possible to inject? Somehow more in a Spring way..

[2019-07-24 16:00] loyayz opened #7129 "AuthenticationWebFilter allow subclasses override for special requirements"
AuthenticationWebFilter should allow subclasses override for special requirements.

[2019-07-24 21:45] fhanik opened #7133 "Upgrade jackson-databind to 2.9.9.1"
Component `com.fasterxml.jackson.core:jackson-databind`

Current version: 2.9.9
Next available version: 2.9.9.1

[2019-07-24 21:47] fhanik opened #7134 "Upgrade com.google.appengine:appengine components to 1.9.76"
Current version: 1.9.75
Next available version: 1.9/76

Components
- com.google.appengine:appengine
- com.google.appengine:appengine-api-1.0-sdk
- com.google.appengine:appengine-api-labs
- com.google.appengine:appengine-api-stubs
- com.google.appengine:appengine-testing

[2019-07-24 21:51] fhanik opened #7135 "Upgrade com.nimbusds:nimbus-jose-jwt to 7.6"
Component `com.nimbusds:nimbus-jose-jwt`
Current version: 7.3
Next available version: 7.6

[2019-07-24 21:53] fhanik opened #7136 "Upgrade com.nimbusds:oauth2-oidc-sdk to 6.14"
Component: com.nimbusds:oauth2-oidc-sdk
Current version: 6.13
Next available version: 6.14

[2019-07-24 22:12] fhanik opened #7137 "Upgrade projectreactor milestones"
Component: `io.projectreactor.netty:reactor-netty`
Current version: 0.9.0.M1
Next available version: 0.9.0.M2

Component: `io.projectreactor:reactor-core`
Current version: 3.3.0.M1
Next available version: 3.3.0.M2

Component: `io.projectreactor:reactor-test`
Current version: 3.3.0.M1
Next available version: 3.3.0.M2

[2019-07-24 22:16] rwinch commented on #7117
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-07-24 22:16] #7117 closed

[2019-07-24 22:22] fhanik opened #7138 "Upgrade org.apache.httpcomponents:httpclient to 4.5.9"
Component: `org.apache.httpcomponents:httpclient`
Current version: 4.5.8
Next available version: 4.5.9

[2019-07-24 22:24] fhanik opened #7139 "Upgrade org.aspectj jrt|tools|weaver to 1.9.4"
Component: `org.aspectj.aspectjrt'
Current version: 1.9.3
Next available version: 1.9.4

Component: `org.aspectj.aspecttools'
Current version: 1.9.3
Next available version: 1.9.4

Component: `org.aspectj.aspectweaver'
Current version: 1.9.3
Next available version: 1.9.4

[2019-07-24 22:35] fhanik opened #7140 "Upgrade org.codehaus.groovy groovy|json|all libraries to 2.4.17"
Component: `org.codehaus.groovy:groovy`
Current version: 2.4.14
Next availble version: 2.4.17

Component: `org.codehaus.groovy:groovy-all`
Current version: 2.4.14
Next availble version: 2.4.17

Component: `org.codehaus.groovy:groovy-json`
Current version: 2.4.14
Next availble version: 2.4.17

[2019-07-24 22:39] fhanik opened #7141 "Upgrade org.hibernate:hibernate-validator to 6.0.17.Final"
Component: `org.hibernate:hibernate-validator`
Current version: 6.0.16.Final
Next available version: 6.0.17.Final

[2019-07-24 22:52] fhanik opened #7142 "Upgrade org.jasig.cas.client:cas-client-core to 3.5.1"
Component: `org.jasig.cas.client:cas-client-core`
Current version: 3.5.0
Next available version: 3.5.1

[2019-07-24 23:00] fhanik opened #7143 "Upgrade org.springframework.boot:spring-boot-xxx to 2.2.0.M4"
Component: `org.springframework.boot:spring-boot-starter-security`
Current version: 2.2.0.M3
Next available version: 2.2.0.M4

Component: `org.springframework.boot:spring-boot-starter-test`
Current version: 2.2.0.M3
Next available version: 2.2.0.M4

Component: `org.springframework.boot:spring-boot-starter-thymeleaf`
Current version: 2.2.0.M3
Next available version: 2.2.0.M4

Component: `org.spring

[2019-07-24 23:06] fhanik opened #7144 "Upgrade org.springframework:spring-[test|webflux] to 5.2.0.M3"
Component: `org.springframework:spring-test`
Current version: 5.2.0.M2
Next available version: 5.2.0.M3

Component: `org.springframework:spring-webflux`
Current version: 5.2.0.M2
Next available version: 5.2.0.M3

[2019-07-24 23:12] fhanik opened #7145 "Upgrade org.mockito:mockito-core to 3.0.0"
Component: `org.mockito:mockito-core`
Current version: 2.27.0
Next available version: 3.0.0
[dep-updates-sorted.txt](https://github.com/spring-projects/spring-security/files/3429040/dep-updates-sorted.txt)

[2019-07-25 03:10] ysdxz207 commented on #7117
Base on this question I want to know is this a bug?When I configured `.maximumSessions(1).maxSessionsPreventsLogin(false)` and repeat login I still can log in another browser?

[2019-07-25 12:03] jzheaux commented on #7139
We may need to hold off on this dependency upgrade since 1.9.4 causes a problem on the JDK9 build.

[2019-07-25 12:17] jzheaux commented on #7124
@Dzionek95, thanks for reaching out.

This sounds like something that would be better as [a question on StackOverflow](https://stackoverflow.com/questions/ask). If you think this is a genuine bug in the codebase, please log an issue to https://github.com/spring-projects/spring-security-oauth with what you'd like to see fixed.

[2019-07-25 12:17] #7124 closed

[2019-07-25 12:35] jgrandja commented on #4557
@JimRichards22 Looks like there is demand for this feature so I've scheduled it for the 5.3 release. There is no date for it yet but likely about 9-12 months from now.

[2019-07-25 12:36] jzheaux commented on #4435
After some research, I've only found one authorization server that supports JWE, which is PingIdentity.

Additionally, [numerous](https://lists.jboss.org/pipermail/keycloak-user/2017-August/011531.html) [common](https://devforum.okta.com/t/encrypt-jwt-payload/2331) [authorization](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/46) [servers](https://foru

[2019-07-25 15:18] spring-issuemaster commented on #6778
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-07-25 15:18] #6778 closed

[2019-07-25 17:07] mmerrill3 opened #7146 "Spring security 4.2.12 can't add security headers when using zuul and tomcat from spring boot 1.5.21"
### Summary

The default spring security headers are not added to responses since zuul (spring-cloud-zuul 1.4.7) writes the response from the downstream into the HttpServletResponse.  Tomcat checks if the response is committed (which it is), so it will not add the headers to the response.  This is in catalina's Reponse object's addHeader method.

### Actual Behavior

The filter HeaderWriterFilter

[2019-07-25 20:44] rwinch opened #7148 "Add RequestMatcher.matcher(HttpServletRequest)"
### Summary

Anyone wanting to take this on can request to take the whole thing on or just one step (but it must be the first step that has not been completed).

#### Step 1

We should add a default method to `RequestMatcher` that looks like this:

[code]

The `MatchResult` should look similar to `ServerWebExchangeMatcher.MatchResult` except it uses servlet request and non-reactive types.

#### St

[2019-07-25 21:45] rwinch commented on #4943
No updates. We have not started on authorization server support yet.

[2019-07-26 01:52] eddumelendez commented on #6011
@jzheaux sorry for the delay. I already submitted a draft for this. still thinking about the testing for `unboundid`. we can continue the discussion in the draft :)

[2019-07-26 02:21] bou1der commented on #7148
I would like to work on this if its available.

[2019-07-26 02:23] eddumelendez commented on #7148
@bou1der I already have the step1. would you like to work with me on this?

[2019-07-26 03:30] eddumelendez commented on #7148
@bou1der [this](https://github.com/eddumelendez/spring-security/tree/gh-7148) is the branch I am using.

[2019-07-26 11:45] anupa1234 opened #7152 "Keycloaksession is not accessible in spring xml based project."
I have used spring-security adaptor for keycloack configration.
spring-security- 3.2.5
keycloak-4.6 jar
spring-security.xml is

	 <security:http  pattern="/sso/**" auto-config="false" use-expressions="true" entry-point-ref="keycloakAuthenticationEntryPoint" authentication-manager-ref="authenticationManagerKeycloak">
		<security:custom-filter ref="keycloakAuthenticationProcessingFilter" before="FOR

[2019-07-26 14:10] bou1der commented on #7148
@eddumelendez yeah and thanks! I will take a look at the branch later today. If you have a good handle on it, don't let me slow you down. I can help out as much or little as needed.

[2019-07-26 14:12] rwinch opened #7153 "Deprecate OpenID 2.0 Support"
### Summary

The OpenID 1.0 and 2.0 protocols have been deprecated and users are [encouraged to migrate](https://openid.net/specs/openid-connect-migration-1_0.html) to [OpenID Connect](https://openid.net/connect/). The [openid4java](https://github.com/jbufu/openid4java) library that is used by Spring Security has not seen an [update since 2015 (4 years)](https://github.com/jbufu/openid4java/releas

[2019-07-26 14:19] rwinch commented on #7120
Thanks for the report @drndos. We have no plans on adding new features to the old openid support because the OpenID 1.0 and 2.0 protocols have been deprecated in favor of OpenID Connect. I've added gh-7153 to track adding deprecation notices and a more detailed reasoning as to why it will be deprecated.

[2019-07-26 14:19] #7120 closed

[2019-07-26 14:53] rwinch opened #7154 "Replace internal Stream usage with for loops"
### Summary

While some prefer the readability of using the Stream APIs, the GC overhead of creating additional objects (including intermediate objects) can cause significant decrease in performance There are some simple [benchmarks](https://gist.github.com/mp911de/7f203d787c6fdaf97dc91e6dc3aa73d3) that illustrate the problem.

We should replace Stream usage with for loops throughout Spring Securi

[2019-07-26 14:55] rwinch opened #7155 "Remove internal Optional usage in favor of null checks"
### Summary

While some prefer the readability of using the Optional API, the GC overhead of creating additional objects (including intermediate objects) can cause significant decrease in performance There are some simple [benchmarks](https://gist.github.com/mp911de/7f203d787c6fdaf97dc91e6dc3aa73d3) that illustrate the problem.

We should replace Stream usage with for loops throughout Spring Secur

[2019-07-26 15:39] rwinch commented on #6683
It seems like this is not tied to a Thread local or any Servlet APIs, so it should leverage the fully reactive support. This [sample](https://github.com/rwinch/webclientoauth2-cli/blob/cbed9ff391194908b5bda1eb4fd2456ab2580518/src/main/java/sample/WebClientOAuth2Application.java) is a simple CLI app and can be used as a model on how to use Spring Security OAuth in a background thread. Does this hel

[2019-07-26 18:08] spring-issuemaster opened #7156 "Ensure ServletOAuth2AuthorizedClientExchangeFilterFunction is non-blocking"
Backport of gh-6589

[2019-07-26 18:10] #6589 closed

[2019-07-26 18:49] spring-issuemaster commented on #7156
Fixed via 26a0107e959d796e707925915a9c41708846de73

[2019-07-26 18:49] #7156 closed

[2019-07-26 19:10] rwinch opened #7157 "ServerRequestCacheWebFilter causes WebSession to be read every request"
### Summary
Currently the `ServerRequestCacheWebFilter` causes the `WebSession` to be read on every request. We should be able to limit this to only happening after authentication success happens.

[2019-07-26 19:25] rwinch commented on #6552
Thanks for the additional details.

The reason is that enabling Spring Security causes the `WebSession` to be read. When Spring WebFlux tries to resolve the `WebSession` it looks in the SESSION cookie for the id to resolve and finds that the session id is invalid. Since the session id is invalid, Spring WebFlux invalidates the SESSION cookie.

Your question might be...why is Spring Security trying

[2019-07-26 20:28] rwinch commented on #7095
Please provide a sample with directions on how to reproduce the problem, what you expect to happen, and what is actually happening.

[2019-07-26 20:31] rwinch commented on #2318
You can use `<session-management session-authentication-strategy-ref="beanName">`. See https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#nsa-session-management-attributes

[2019-07-26 20:36] rwinch commented on #7097
WebSocket support relies on authenticating through the HTTP Session before hand. So you need to authenticate over HTTP and then communicate the cookies when attempting to perform the upgrade.

At this point it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-project

[2019-07-26 20:36] #7097 closed

[2019-07-26 20:49] rwinch commented on #7126
This has been a source of problems for BasicAuthenticationFilter and just because we do it in one place doesn't mean we should do it it in another. Could you document why this is necessary?

Another note, if we do this perhaps it is just part of the matcher that determines if the filter is invoked.

[2019-07-26 20:51] rwinch commented on #7117
If you believe you have a bug, please put together a minimal sample the reproduces the issue, instructions on how to reproduce it, what you expect to happen, and what is actually happening.

[2019-07-27 05:19] eddumelendez commented on #7155
Hi @rwinch, do you think this is good for `first-timers-only`?

[2019-07-27 05:19] eddumelendez commented on #7154
Hi @rwinch, do you think this is good for `first-timers-only`?

[2019-07-27 05:19] eddumelendez commented on #7153
Hi @rwinch, do you think this is good for `first-timers-only`?

[2019-07-27 22:54] henriquels25 commented on #7118
@jzheaux I submitted a PR with examples for a POST request. I didn't create examples for the other HTTP methods to keep the sample small, as the code for testing them is not different.

[2019-07-28 18:11] drndos commented on #7120
Thanks, for the info. Meanwhile I have found a better way of managing SSO with CROWD other than openidserver (crowd ID) from Atlassian that is running old OpenID 2.0. -> run the keycloak server with crowd user storage plugin and it supports oauth2, saml and opend ID connect, so it is well supported by newest spring security. I have some PoC of it here: https://github.com/drndos/keycloak-crowd-stor

[2019-07-29 09:35] antusen commented on #7095
Thank you very much, I no longer use UserCache. Currently in use spring-session.

[2019-07-29 09:35] #7095 closed

[2019-07-29 12:16] jzheaux commented on #7126
Actually, after thinking about this for some time more, the need for this is dubious, at least for the time being.

The challenge is when testing with `JwtRequestPostProcessor`. This post processor adds a `Jwt`, alleviating the need for a tester to add the bearer token header. However, doing so forces the tester to provide a CSRF token (since now the bearer token header is absent).

The goal with

[2019-07-29 12:16] #7126 closed

[2019-07-29 12:33] jzheaux opened #7160 "NimbusJwtDecoder and NimbusReactiveJwtDecoder should determine algorithm from JWK Set Endpoint"
`NimbusJwtDecoder` and `NimbusReactiveJwtDecoder` could be improved by determining the JWS algorithm from the JWK Set endpoint.

This is something already supported in Nimbus via:

[code]

The result would be that on startup, the application would hit the JWK Set endpoint, inspect the `kty` field of the JWKs returned, and infer the algorithm or algorithms that the decoder should support accordingl

[2019-07-29 14:20] rwinch commented on #6475
Without being able to inject the custom ServerAuthenticationConverter how could we parse this Header value?

If you are using a header it isn't a formLogin issue, so that isn't an example of how why formLogin needs a custom converter.

[2019-07-29 14:35] rwinch opened #7161 "Review PR 7131"
### Summary

Review https://github.com/spring-projects/spring-security/pull/7131

[2019-07-29 14:39] kodiba commented on #6491
Hi all,
I can confirm @H-Lo's solution that also was the source of my problem. I did add a custom MethodSecurityConfig with @EnableGlobalMethodSecurity for my project which already contained a WebSecurityConfigurerAdapter with said @EnableGlobalMethodSecurity annotation as well. By removing the latter the exception no longer occured.

[2019-07-29 15:03] #7113 closed

[2019-07-29 16:20] eleftherias commented on #5630
@stefan0001 by setting `http.antMatcher("/foo/**")` you are setting the security configuration to only be invoked when matching the provided ant pattern `"/foo/**"`.
Your configuration `.authorizeRequests().anyRequest().authenticated()` will only be invoked on any request that matches `"/foo/**"`.
It is equivalent to
[code]
In order set the frame options for just `"/foo/**"`, you can use a second

[2019-07-29 16:20] #5630 closed

[2019-07-29 18:33] eleftherias commented on #4278
Closing because samples now use gradle.

[2019-07-29 18:33] #4278 closed

[2019-07-29 19:52] eleftherias opened #7163 "Basic authentication scheme is not case-insensitive"
### Actual Behavior

When http basic authentication is enabled and the `Authorization` header is prefixed with `"BASIC"` or `"BaSiC"` and contains a valid token, then the service responds with a `401 Unauthorized` status.

### Expected Behavior

When http basic authentication is enabled and the `Authorization` header is prefixed with `"BASIC"` or `"BaSiC"` and contains a valid token, then the serv

[2019-07-29 20:48] #7163 closed

[2019-07-30 07:49] jittagornp opened #7164 "Reactive ServerAuthenticationEntryPoint not working if not subscribe"
I try implement `ServerAuthenticationEntryPoint` for custom json response

But this not working
[code]
and this working (when i manual subscribed)
[code]

`exceptionHandler.handle()` return `Mono<Void>`

This is source code of [GlobalWebExceptionHandler](https://github.com/pamarin-official/core-error/blob/master/src/main/java/com/pamarin/core/error/handler/GlobalWebExceptionHandler.java)

[2019-07-30 09:25] joao-rebelo commented on #6475
you are right, I'm mentioning the httpBasic, and this issue was initially opened for formLogin.
But actually the problem happens in both cases where the classes used are not possible to inject / extend in a "Spring" natural way.

[2019-07-30 13:30] #7086 closed

[2019-07-30 13:31] #7128 closed

[2019-07-30 13:33] #7161 closed

[2019-07-30 21:39] spring-issuemaster commented on #3989
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-30 21:51] priyankanandagopal commented on #2318
@rwinch The solution provided is for custom invalid session strategy? . I don't think so. Can you please explain your solution.

[2019-07-30 22:43] spring-issuemaster commented on #6545
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-31 06:15] lafual opened #7165 "Default Login Page Bootstrap CSS on Closed Network"
Hi,

We are using WebFlux with Spring's default login pages. However the CSSs that are used are on the internet and we are on a  network with no internet access.

Our project has the relevant Bootstrap CSS files embedded. How can I cause the default login mechanism to use these files?

(I know that I can implement my own Thymeleaf version to get around this. I just don't want to go through the has

[2019-07-31 07:00] pbialonc commented on #6545
It is general issue. I've created custom annotation in my solution that uses HandlerMethod as I didn't need all features that @PreAuthorize has. So this is not an issue for me anymore but in general there is such.

[2019-07-31 08:03] HomminLee opened #7166 "SessionAuthenticationStrategy make HttpSecurity.sessionManagement().maximumSessions(1) unavailability"
I am not good at English. So, please forgive my grammatical mistakes.

I have a problem while config `HttpSecurity.sessionManagement().maximumSessions(1)`. I hope a user only have one valid session at the same time.

 If I login at browser A，and then login at browser B. It's run perfect and session in browser A will invalid.

But if I login at browser A,  then login at browser A(
In other words, I

[2019-07-31 10:01] cseiler commented on #7019
Is org.aspectj 1.9.4 the cause or the remedy for the problem?

[2019-07-31 12:47] rwinch commented on #7129
Please provide more details on what you are trying to do but unable to do.

[2019-07-31 12:49] rwinch commented on #7129
Given you also sent gh-7130 I'm guessing you want flexibility in how to match on the exchange. This is already possible by injecting a custom `requiresAuthenticationMatcher` so there is no need to provide a protected method

[2019-07-31 12:49] #7129 closed

[2019-07-31 12:55] rwinch commented on #4557
If anyone wants to contribute the support for this, we'd be happy to add it sooner

[2019-07-31 13:00] rwinch commented on #7146
I'm not sure what you expect Spring Security to do. If the response is committed, Spring Security cannot add the headers (it will get an Exception). Can you provide a minimal project that demonstrates the issue?

[2019-07-31 13:28] eleftherias commented on #7019
@cseiler org.aspectj 1.9.4 is the cause of that error.

[2019-07-31 13:33] spring-issuemaster commented on #7101
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-31 13:39] fschollmeyer opened #7168 "Allow customization of auth2 client to support strong authentication via acr_values parameter"
### Summary

The [OpenID specification](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) describes usage of an URL parameter (acr_values) that can be used to request strong authentication from an OAuth2 server.

The spring-seucrity-oauth2-client is not customizable to set this parameter.

### Actual Behavior

When I use ServerHttpSecurity.oauth2Login(), an OAuth2AuthorizationRequ

[2019-07-31 14:17] fschollmeyer commented on #7168
Method in the code sample is from DefaultServerOAuth2AuthorizationRequestResolver.

[2019-07-31 15:27] fhanik opened #7169 "Switch Travis Build to use OpenJDK8"
[code]

[2019-07-31 15:35] smifun commented on #3268
I understand that for security reason bad credentials and user not found scenarios should be handled in the same way. Still it should be possible to distinguish those two cases ex. to log/report such cases differently.

With minimal effort it would be possible to pass UsernameNotFoundException as cause to BadCredentialsException.  That way both current behaviour related to handling BadCredentialsE

[2019-07-31 19:00] jzheaux opened #7170 "Mock Jwt should ensure that CSRF is not required"
According to https://github.com/spring-projects/spring-security/issues/7118, when using `jwt()` (Servlet) or `mockJwt()` (WebFlux) test support, a tester must also provide a CSRF token.

This is because the CSRF token is lifted when a bearer token header is present in the request.

But, when using `jwt()` or `mockJwt()`, no bearer token header is provided as it's unnecessary.

In order to align wi

[2019-07-31 21:47] #7139 closed

[2019-08-02 10:05] bollywood-coder commented on #4841
Rob Winch, any idea of when we can see this feature in Spring Security?

[2019-08-02 10:29] bollywood-coder commented on #4841
Or is anybody working on this (community or from the spring team) ?

[2019-08-02 17:51] #4004 closed

[2019-08-02 19:59] jzheaux opened #7177 "AuthenticationFilter#attemptAuthentication should be protected"
`AuthenticationFilter#attemptAuthentication` is `public`:

[code]

But, it should be `protected` until it is clear that making it public is necessary.

[2019-08-03 16:19] kostya05983 commented on #7026
Hello, @jzheaux, I want to participate and submit a PR in documentation. Where can I start?

[2019-08-03 16:23] jzheaux commented on #7026
@kostya05983 thanks for your interest!

You can find the incorrect reference by searching here in GitHub: https://github.com/spring-projects/spring-security/search?q=WebSecurityConfigurationAdapter&unscoped_q=WebSecurityConfigurationAdapter

The PR you'd want to do would be to update that reference in that file to say `WebSecurityConfigurerAdapter` instead.

There are some general [contribution gu

[2019-08-04 01:14] #7177 closed

[2019-08-04 01:16] #4310 closed

[2019-08-04 09:34] kostya05983 commented on #7026
Thanks for response, @jzheaux I submitted a PR.

[2019-08-04 09:44] kostya05983 commented on #7154
Hello @rwinch, I have an experience with stream api and others streams such as rxjava, I can take it in work. Where can I start? is stream api used in all modules?

[2019-08-04 12:54] him-bhar commented on #7026
Sorry guys checked after a long time. I was working on a different version of spring boot. So wasn't sure if class name hasn't actually changed. Looks like initial observation was correct. :)

[2019-08-04 12:54] him-bhar commented on #7026
Will keep an eye on such more issues.

[2019-08-04 17:00] Captain-P-Goldfish commented on #6320
Support for OAuth2-authorization-server was targeted for early 2019. What is the current plan for getting finished with the authorization server implementation?

[2019-08-05 14:31] andifalk commented on #7101
Hi @jzheaux
has anybody already claimed this first timers issue?
Would make sense to implement this one together with https://github.com/spring-projects/spring-security/issues/7100. If this is ok for you I would be glad to take over implementation for both.

[2019-08-05 14:31] andifalk commented on #7100
Hi @jzheaux
has anybody already claimed this first timers issue?
Would make sense to implement this one together with https://github.com/spring-projects/spring-security/issues/7101. If this is ok for you I would be glad to take over implementation for both.

[2019-08-05 15:26] jzheaux opened #7184 "Update to Spring Framework 5.2.0.RC1"

[2019-08-05 15:31] jzheaux opened #7185 "Update to Spring Data Moore RC2"
### Summary

### Actual Behavior

### Expected Behavior

### Configuration

### Version

### Sample

[2019-08-05 15:32] jzheaux opened #7186 "Update to Reactor Dysprosium-M3"

[2019-08-05 16:48] rwinch opened #7187 "Update to GAE 1.9.76"
Update to GAE 1.9.76

[2019-08-05 16:49] rwinch opened #7188 "Update to Spring Framework 5.0.15.RELEASE"
Update to Spring Framework 5.0.15.RELEASE

[2019-08-05 16:49] rwinch opened #7189 "Update to Powermock 2.0.2"
Update to Powermock 2.0.2

[2019-08-05 16:49] rwinch opened #7190 "Update to Spring Boot 2.0.9.RELEASE"
Update to Spring Boot 2.0.9.RELEASE

[2019-08-05 16:49] rwinch opened #7191 "Update to AspectJ 1.9.4"
Update to AspectJ 1.9.4

[2019-08-05 16:49] rwinch opened #7192 "Update to Unboundid 4.0.11"
Update to Unboundid 4.0.11

[2019-08-05 16:49] rwinch opened #7193 "Update to httpclient 4.5.9"
Update to httpclient 4.5.9

[2019-08-05 16:49] rwinch opened #7194 "Update to Bouncy Castle 1.62"
Update to Bouncy Castle 1.62

[2019-08-05 16:55] rwinch opened #7195 "Update to cglib 3.2.12"
Update to cglib 3.2.12

[2019-08-05 16:56] #7187 closed

[2019-08-05 16:56] spring-issuemaster commented on #7187
Fixed via 74982489100a6557242fe281f85eb39d031289b1

[2019-08-05 16:56] spring-issuemaster commented on #7188
Fixed via 0f5e37172d7588c3d8377b8105dd21e9ad2041d0

[2019-08-05 16:56] #7188 closed

[2019-08-05 16:56] spring-issuemaster commented on #7189
Fixed via b520d36abb020ce9ccfa7db1fff1a871c447dfce

[2019-08-05 16:56] spring-issuemaster commented on #7190
Fixed via 863e45ca6c60aca631ca857e07a2b8869d8c426b

[2019-08-05 16:56] #7190 closed

[2019-08-05 16:56] spring-issuemaster commented on #7191
Fixed via 3d8819447f9f1a199df9265027c7c82607565a43

[2019-08-05 16:56] #7191 closed

[2019-08-05 16:56] spring-issuemaster commented on #7192
Fixed via 3b79bff44d4b95315fa5bf73efd9b7f5b11f25a7

[2019-08-05 16:56] #7192 closed

[2019-08-05 16:56] spring-issuemaster commented on #7193
Fixed via 90c509d3c539b54404c0e419b336b9ff566a3c92

[2019-08-05 16:56] #7193 closed

[2019-08-05 16:56] spring-issuemaster commented on #7194
Fixed via 09343eb2400e54a5deb027ae408bc7eff52c8e36

[2019-08-05 16:56] #7194 closed

[2019-08-05 16:56] spring-issuemaster commented on #7195
Fixed via b03fdd8e25e14b3a1b5fa38defb5a00145dbdd1e

[2019-08-05 16:56] #7195 closed

[2019-08-05 16:56] #7189 closed

[2019-08-05 17:24] #7184 closed

[2019-08-05 17:24] #7185 closed

[2019-08-05 17:24] #7138 closed

[2019-08-05 17:24] #7142 closed

[2019-08-05 17:24] #7186 closed

[2019-08-05 17:24] #7133 closed

[2019-08-05 17:24] #7140 closed

[2019-08-05 17:24] #7141 closed

[2019-08-05 17:24] #7135 closed

[2019-08-05 17:24] #7136 closed

[2019-08-05 17:24] #7134 closed

[2019-08-05 17:24] #7145 closed

[2019-08-05 17:24] #7169 closed

[2019-08-05 17:39] #7143 closed

[2019-08-05 17:45] jzheaux commented on #7144
Closed in favor of #7184

[2019-08-05 17:45] #7144 closed

[2019-08-05 17:46] jzheaux commented on #7137
Closed in favor of #7186

[2019-08-05 17:46] #7137 closed

[2019-08-05 18:02] jzheaux opened #7196 "Downgrade to Spring Boot 2.2.0.M3"
Spring Boot 2.2.0.M4 causes the Spring Security build to run out of memory due to "Excessive GC Overhead Limit Reached". We should [investigate that](https://github.com/spring-projects/spring-security/issues/7196) before upgrading.

[2019-08-05 18:04] jzheaux opened #7197 "Investigate Spring Boot 2.2.0.M4 Upgrade"
Upgrading to Spring Boot 2.2.0.M4 causes the Spring Security build to run out of memory.

[2019-08-05 18:10] #7196 closed

[2019-08-05 18:38] rwinch commented on #7152
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link

[2019-08-05 18:41] jzheaux opened #7198 "Update to cglib:cglib-nodep:3.2.12"

[2019-08-05 18:41] rwinch commented on #7155
Thanks for asking @eddumelendez I think it is likely a lot of code to touch for a first timers.

[2019-08-05 18:41] rwinch commented on #7153
Hey @eddumelendez Thanks for the question. I think this is a lot of files to touch for a first timers issue.

[2019-08-05 18:43] jzheaux opened #7199 "Update to com.fasterxml.jackson.core:jackson-databind:2.9.9.2"

[2019-08-05 18:45] jzheaux opened #7200 "Update to appengine 1.9.76"

[2019-08-05 18:48] jzheaux opened #7201 "Update to mockwebserver 3.12.3"

[2019-08-05 18:50] jzheaux opened #7202 "Update to jaxb-impl 2.3.2"

[2019-08-05 18:52] jzheaux opened #7203 "Update to unboundid-ldapsdk 4.0.11"

[2019-08-05 18:54] #5354 closed

[2019-08-05 18:55] jzheaux opened #7204 "Update to Reactor Californium-SR10"

[2019-08-05 18:55] jzheaux opened #7205 "Update to Spring Framework 5.1.9.RELEASE"

[2019-08-05 18:56] jzheaux opened #7206 "Update to Spring Data Lovelace-SR9"

[2019-08-05 18:59] jzheaux opened #7207 "Update to httpclient 4.5.9"

[2019-08-05 19:00] jzheaux opened #7208 "Update to bcpkix-jdk15on:1.62"

[2019-08-05 19:01] jzheaux opened #7209 "Update to groovy 2.4.17"

[2019-08-05 19:01] jzheaux opened #7210 "Update to jetty 9.4.19.v20190610"

[2019-08-05 19:03] jzheaux opened #7211 "Update to hibernate-entitymanager:5.3.10.Final"

[2019-08-05 19:03] jzheaux opened #7212 "Update to hibernate-validator:6.0.17:Final"

[2019-08-05 19:05] jzheaux opened #7213 "Update CAS sample to use cas-server-webapp 4.2.7"
Spring Security already depends on `cas-server-webapp:4.2.7`; however, the casserver module uses 4.0.0:

[code]

When upgrading to 4.2.7, the server appears to fail to start up, caused by the exception:

[code]

[2019-08-05 19:07] jzheaux opened #7214 "Update to powermock 2.0.2"

[2019-08-05 19:09] #7051 closed

[2019-08-05 19:11] jzheaux opened #7215 "Update to Spring Boot 2.1.6.RELEASE"

[2019-08-05 19:11] jzheaux opened #7216 "Update to Jython 2.5.3"

[2019-08-05 19:19] jzheaux opened #7217 "Update to com.fasterxml.jackson.core:jackson-[annotations|core]:2.9.9"

[2019-08-05 19:41] rwinch commented on #6475
The configuration DSL is not intended to provide all the bells and whistles. Instead it is intended to provide the most common configurations. If you have the need to do something complex, then create the Filter and add it explicitly.

[2019-08-05 19:41] #6475 closed

[2019-08-05 19:44] rwinch commented on #7165
There isn't intended to be a way to customize this behavior. The default log in page is meant to be a reasonable default. If you want to customize the page, then you can do so by creating your own log in page (i.e. using thymeleaf as you suggested).

[2019-08-05 19:44] #7165 closed

[2019-08-05 19:55] spring-issuemaster commented on #7199
Fixed via 382177e9b536ac37dc3d7adfdb22ff1a11692c3c

[2019-08-05 19:55] spring-issuemaster commented on #7206
Fixed via ecc66e9c754f1071028ff9d833074b93fa8a37e3

[2019-08-05 19:55] spring-issuemaster commented on #7208
Fixed via e6765b0c4e1a71a09e22a7f278599977f06805f8

[2019-08-05 19:55] spring-issuemaster commented on #7198
Fixed via 7fa60c9b4e15538737ac43e165f69337a18aa82d

[2019-08-05 19:55] #7198 closed

[2019-08-05 19:55] #7199 closed

[2019-08-05 19:55] spring-issuemaster commented on #7200
Fixed via ad626f5f8cff3b62658ff8e42c80e05528390072

[2019-08-05 19:55] #7200 closed

[2019-08-05 19:55] spring-issuemaster commented on #7201
Fixed via b2e8ffde4fbeda4db460c79c8c2ff3531b7db31b

[2019-08-05 19:55] #7201 closed

[2019-08-05 19:55] spring-issuemaster commented on #7203
Fixed via 75f46cfe83d8ec77cd5b3d12f6366c4e6d51606f

[2019-08-05 19:55] #7203 closed

[2019-08-05 19:55] spring-issuemaster commented on #7204
Fixed via 494bc5201407e1cef0ba5cffcdc0005313a63999

[2019-08-05 19:55] spring-issuemaster commented on #7205
Fixed via 252ec584b30a1cceb9c63c7bdf5966e9266dfb14

[2019-08-05 19:55] #7205 closed

[2019-08-05 19:55] #7206 closed

[2019-08-05 19:55] spring-issuemaster commented on #7207
Fixed via a05ec35a333c286bc31981cea532d04dc61bba3a

[2019-08-05 19:55] #7207 closed

[2019-08-05 19:55] #7208 closed

[2019-08-05 19:55] spring-issuemaster commented on #7211
Fixed via 115a240ba0295bb7ef962748519a1c772ec3628a

[2019-08-05 19:55] #7211 closed

[2019-08-05 19:55] spring-issuemaster commented on #7212
Fixed via 536587e58d1c6e4bee822a4bbee6aa06d413a9a2

[2019-08-05 19:55] #7212 closed

[2019-08-05 19:55] spring-issuemaster commented on #7214
Fixed via 9146725fdc0c75f5aba2932a70e2d70b1df8f3b0

[2019-08-05 19:55] #7214 closed

[2019-08-05 19:55] spring-issuemaster commented on #7217
Fixed via 900f082350b378b63b1d316532d79f97e9f617d5

[2019-08-05 19:55] #7217 closed

[2019-08-05 19:55] #7204 closed

[2019-08-05 20:05] rwinch commented on #7164
In this case a Bean is not intended to get picked up automatically (because there is quite likely multiple of them). Try using:

[code]

[2019-08-05 20:06] rwinch commented on #7164
I answered this, but if yo uare still having problems, this feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update

[2019-08-05 20:06] #7164 closed

[2019-08-05 20:08] rwinch commented on #2318
Sorry about that...My mistake. I have reopened the ticket.

[2019-08-05 20:10] rwinch commented on #6545
I'm closing this. There isn't anything we can do to solve this generically. Additionally, users can easily use the suggestion above https://github.com/spring-projects/spring-security/issues/6545#issuecomment-514409908 to solve the problem

[2019-08-05 20:10] #6545 closed

[2019-08-05 20:14] rwinch commented on #7166
Can you explain by what you mean by this? How do you login A browser and login A browser again?

[2019-08-05 20:39] mmerrill3 commented on #7146
@rwinch I hear you in that spring-security is behaving as expected given the current implementation.  This came about b/c of an upgrade to spring-boot.  We went from an older version to 1.5.21, and that manifested itself b/c the old behavior of HeaderWriterFilter was to write the security headers first, and then call the filter chain.  Now, with the most up to date spring-security, the security he

[2019-08-05 20:58] spring-issuemaster commented on #7202
Fixed via f6c7c29c46fbb919ed159008ba94011f59d86a37

[2019-08-05 20:58] #7202 closed

[2019-08-05 20:58] spring-issuemaster commented on #7209
Fixed via e7f0bdd5bb68d0023132d57b5208df1d3142a486

[2019-08-05 20:58] #7209 closed

[2019-08-05 20:58] spring-issuemaster commented on #7210
Fixed via 25d7392e137f3c22dce734421a46a2d105308f9e

[2019-08-05 20:58] #7210 closed

[2019-08-05 20:58] spring-issuemaster commented on #7215
Fixed via f48e26d0519c76c21128e96292fe01fd0236f33c

[2019-08-05 20:58] #7215 closed

[2019-08-05 21:10] rwinch commented on #4841
There is no update on it. If people are interested in it, please react with :+1: to the original report.

[2019-08-05 21:16] rwinch commented on #7157
One way we can do this is to cache the request in a cookie rather than the session

[2019-08-05 21:44] spring-issuemaster commented on #7216
Fixed via 80c747b672eaae8599ba321dda73f1c59cf0e101

[2019-08-05 21:44] #7216 closed

[2019-08-05 23:20] jzheaux opened #7220 "Move blockhound dependency in 5.1.x to separate branch"
Spring Security uses [blockhound](https://github.com/reactor/BlockHound) to track down blocking issues - it however is not yet GA. As such, it can't be included as a dependency in release artifacts.

To facilitate it's continued usage, it needs to be on a separate git branch that is not a release branch, until blockhound releases. Otherwise, the release process needs to be updated to remove any mi

[2019-08-05 23:23] jzheaux commented on #7220
Fixed via 404ad9ab45fada7ea2ad3bf4dd7a47cfc3b6bae3

[2019-08-05 23:23] #7220 closed

[2019-08-05 23:27] jzheaux commented on #7216
This hasn't been upgraded in a while, and the latest available Jython on the 2.5.x branch was released back in 2012 (2.5.3).

According to mvnrepository, [2.5.3 is used by more projects than 2.5.0](https://mvnrepository.com/artifact/org.python/jython). Also, the project builds fine with 2.5.3 in place. Finally, there was a thought that it might have been a memory leak; however, tests haven't confi

[2019-08-05 23:43] #7148 closed

[2019-08-06 02:05] HomminLee commented on #7166
Thank you for taking the time to look at my issue.I tried to complete my question.

[2019-08-06 09:10] jittagornp commented on #7164
i know but i think this is `BUG`, Please see this video [https://www.youtube.com/watch?v=3spnurowdQk ](https://www.youtube.com/watch?v=3spnurowdQk )

[2019-08-06 09:32] jittagornp commented on #7164
I know but i think this is `BUG`, Please watch this video [https://www.youtube.com/watch?v=3spnurowdQk](https://www.youtube.com/watch?v=3spnurowdQk)

[2019-08-06 09:34] lafual commented on #7165
Thanks for taking the time to respond. I will proceed with Thymeleaf.

[2019-08-06 12:06] ilgrosso opened #7222 "ServerHttpSecurity: oauth2Login() ignores securityContextRepository()"
In org.springframework.security.config.web.server.ServerHttpSecurity.OAuth2LoginSpec#configure, the line

https://github.com/spring-projects/spring-security/blob/2055466ad76696ebfb62b091de6a5fd8a81b382d/config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java#L1141

does not take into account `ServerHttpSecurity.this.securityContextRepository` (which has the same

[2019-08-06 13:00] mmyersDE opened #7224 "ConcurrentModificationException in MockMvc.perform"
### Summary

When using `mockMvc.perform` on `MockMvcRequestBuilders.asyncDispatch` with a Spring Security configured applicationContext we receive a `ConcurrentModificationException` in approximately every 10th test-run.
The Exception can be prevented by `@DirtiesContext`, but this slows down the test alot and can not be used when calling `mockMvc.perform` multiple times in a single test-method.

[2019-08-06 14:05] rwinch commented on #3268
Please log a separate issue to discuss this

[2019-08-06 14:08] rwinch commented on #3268
The reason the publisher publishes the same event for both is conceptually this is the same thing. If the username is not found or the password does not match invalid credentials were entered. If this needs to be customized it can be done so by updating `DefaultAuthenticationEventPublisher.setAdditionalExceptionMappings`

[2019-08-06 14:08] #3268 closed

[2019-08-06 14:26] peternelissen commented on #6856
@rwinch

You are absolutely right that "we should not use MODE_INHERITABLETHREADLOCAL in a pooled environment. If you do that, you have a misconfiguration and there isn't much we can do."!

And also, that using Concurrency Support of spring security solves the issue.

But I think it should be mentioned here too: https://docs.spring.io/spring-security/site/docs/5.2.0.M4/reference/htmlsingle/#securi

[2019-08-06 15:09] avodonosov commented on #4310
Does anyone know a use case where spring-security itself opens a vulnerability due to Host manipulation?

Assuming my application code doesn't use UrlUtils for anything sensitive to attacks from the description, is it still dangerous to just use spring-security?

@fraenku , @ibaskine , @rady66 , @gjoseph , @jzheaux

[2019-08-06 17:29] jukkasi commented on #6856
@peternelissen see my previous comment "If SecurityContextHolder.strategy is left to default...". My solution creates NEW context for running task. Delegating will end up using same context for original and task thread, so if user logs out for example, the context that task is using is cleared and might fail if it still needs to use context.

But this depends on your use case and sometimes might b

[2019-08-06 17:31] jzheaux commented on #4310
This ticket doesn't describe any attacks. If anyone does know of one, I'd encourage that it be reported responsibly to security@pivotal.io, not here.

No piece of software is perfectly secure, @avodonosov, but there is quite a difference between that and describing a software library as "dangerous". Can you explain a bit more of what you mean here?

[2019-08-06 18:07] #7026 closed

[2019-08-06 18:08] spring-issuemaster opened #7225 "Fix docs typo WebSecurityConfigurationAdapter->WebSecurityConfigurerAdapter"
Backport of gh-7026

[2019-08-06 18:08] spring-issuemaster commented on #7225
Fixed via 7542d59364e9129a5f3823836256e867f939c9b1

[2019-08-06 18:08] #7225 closed

[2019-08-06 18:12] rwinch commented on #7154
Thanks for the offer @kostya05983!

A search shows the following locations contain an import to stream APIs. Note that we should only change private internal code. Please note:

* We should not change any public APIs only internal implementation code
* We do not need to change test code
* We do not need to change sample code

[code]

[2019-08-06 18:21] rwinch commented on #6320
It's tentatively scheduled for 5.3 Spring Security follows Spring Framework release schedule which has not been set for 5.3 Minor releases, such as 5.3, are typically a year out.

[2019-08-06 18:25] eddumelendez commented on #5942
Hi @jzheaux, I would like to take this one. one question, should we use the `UnboundIdContainer`?

[2019-08-06 18:25] peternelissen commented on #6856
As info for others who stumble on this issue, there are several options to solve this:

**1. Using spring security Concurrency Support: DelegatingSecurityContextRunnable**

[code]

  Or if you want the async task to survive a change in the original session (like a logout), a slight different implementation (see comment of jukkasi) is needed of DelegatingSecurityContextRunnable.

**2. Using spring

[2019-08-06 18:27] #7118 closed

[2019-08-06 18:41] kostya05983 commented on #7154
Thanks for a detailed guide.
* We should not change any public APIs only internal implementation code
One question @rwinch :
If I understand correctly, I shouldn't change any public methods, should I?

[2019-08-06 18:46] #3189 closed

[2019-08-06 18:47] spring-issuemaster opened #7226 "SEC-2980: Possible race condition in SessionRegistryImpl"
Backport of gh-3189

[2019-08-06 18:47] spring-issuemaster commented on #7226
Fixed via 178a5e081946b6a8be21f91f16062e745c174d60

[2019-08-06 18:47] #7226 closed

[2019-08-06 18:52] spring-issuemaster opened #7227 "SEC-2980: Possible race condition in SessionRegistryImpl"
Backport of gh-3189

[2019-08-06 18:53] rwinch commented on #7227
Fixed via 466b8a1d82f00472df0c20385d4854fa2fa4d245

[2019-08-06 18:53] #7227 closed

[2019-08-06 19:26] rwinch commented on #7146
@mmerrill3 Thanks for the feedback. I think it makes sense to add an eager flag to the `HeaderWriterFilter`. Would you be interested in submitting a PR?

[2019-08-06 19:36] jzheaux commented on #7101
@andifalk, sure, that would be great. Please feel free to take this and #7100.

[2019-08-06 19:39] jzheaux commented on #7100
@andifalk, it's yours!

[2019-08-06 19:49] avodonosov commented on #4310
@jzheaux , I mean is there a real vulnerability if I simply use spring-security functionality, without taking UrlUtils result myself and sending it somewhere.

[2019-08-06 20:37] rwinch commented on #7166
Thank you. Can you please provide a minimal sample to reproduce the issue?

[2019-08-06 20:45] robotmrv opened #7228 "RequestContextSubscriber could put null value in Reactor Context"
### Summary
There are several issues with current implementation of ServletOAuth2AuthorizedClientExchangeFilterFunction.RequestContextSubscriber introduced by  https://github.com/spring-projects/spring-security/pull/6526

### Actual Behavior
1. RequestContextSubscriber could populate reactor Context with null values - that is forbidden since https://github.com/reactor/reactor-core/pull/1800 (it is

[2019-08-06 21:17] mmerrill3 commented on #7146
@rwinch I can set up a PR soon on this.

[2019-08-06 21:30] rwinch commented on #7164
Please provide a minimal sample that reproduces the issue. It should use the DSL and not rely on exposing the AuthenticationEntryPoint as a Bean. Then provide instructions on how to reproduce, what output you expect, and what actually occurs.

[2019-08-06 21:37] spring-issuemaster commented on #3989
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-08-06 21:37] #3989 closed

[2019-08-07 02:04] CK110 opened #7230 "webflux oauth2ResourceServer don't support redisToken?"
### Summary

use webflux. is there any filter like `OAuth2AuthenticationProcessingFilter` in project `spring-security-oauth`？because i don't use JWT

### Actual Behavior

Actual i use redis token。in my old project，zuul gateway is a resource server
[code]

but now i change the gateway to spring cloud gateway.
[code]

the oauth2ResourceServer just support jwt in webflux , i cant use it like in `spri

[2019-08-07 12:08] HomminLee commented on #7166
I created a simple project to verification my problem, and get the same happening. It only included a security configuration and a rest controller. I upload my code at [https://github.com/HomminLee/security-session-demo](https://github.com/HomminLee/security-session-demo). Also, I write down the steps in README.md.

[2019-08-07 16:52] jzheaux opened #7232 "OAuth2LoginConfigurer should discover OAuth2UserService beans"
This would facilitate constructions like:

[code]

[2019-08-07 17:00] #7232 closed

[2019-08-07 19:55] jzheaux commented on #5942
@eddumelendez I think we should keep using the container against which the test was written. However, if we make these tests independent from ApacheDS-specific super-classes, then they could likely be rewritten to test against both containers.

[2019-08-07 20:09] eddumelendez commented on #5942
@jzheaux I submitted #7231 and is running against ApacheDS which is the current container

[2019-08-07 22:07] msassak commented on #6552
Thanks @rwinch! This solves the issue for me.

[2019-08-08 07:15] DarrenJiang1990 commented on #6552
a final  solution for  session stateless  (spring security with webflux) ：
 `.and().securityContextRepository(NoOpServerSecurityContextRepository.getInstance())`

explanation:
The security context in a WebFlux application is stored in a ServerSecurityContextRepository. Its WebSessionServerSecurityContextRepository implementation, which is used by default, stores the context in session. Configuring

[2019-08-08 14:42] eleftherias commented on #5265
Closing since this is fixed in 5.1 and 5.2 versions.

[2019-08-08 14:42] #5265 closed

[2019-08-08 15:01] mmerrill3 commented on #7146
@rwinch good news, the current head of master has this commit which takes care of the issue I was having:
https://github.com/spring-projects/spring-security/commit/ac13b55ecd93b9eaf40866aabb043b14dd4f3350#diff-57c0f670220b7f4e45a0d1252a99b482
I will close this as this commit does exactly what I need, which is be able to configure the order of operations.

[2019-08-08 15:01] #7146 closed

[2019-08-08 16:22] eleftherias commented on #5059
Your first login page `/apiLoginForm` is protected by your second security configuration. If you navigate to `/api/home` for example, the first configuration will redirect you to `/apiLoginForm` because your request matches `/api/**` and then the second configuration will redirect you to `/login` because `/apiLoginForm` does not match `/api/**`.

One option is to change your first login URL to mat

[2019-08-08 16:22] #5059 closed

[2019-08-08 18:39] eddumelendez opened #7236 "Expose getPort in ApacheDsContainer"
Change introduced in #7231 need to expose method `getPort()` More context in [this comment](https://github.com/spring-projects/spring-security/pull/7231#discussion_r312159058)

[2019-08-08 18:58] jzheaux commented on #4310
There are always insecure ways to use things, but the main principle here is to not use untrusted information in a security decision.

This ticket was not about closing a reported vuln but instead about adding functionality that allows applications to whitelist the `Host` header, making it a known-good value. The default behavior of Spring Security is still to allow any `Host` header, so its defau

[2019-08-08 21:52] #5942 closed

[2019-08-08 21:53] #7236 closed

[2019-08-08 22:24] jzheaux commented on #7222
The JavaDoc for `ServerHttpSecurity#securityContextRepository` states:

The way that `HttpBasicSpec` and `FormLoginSpec` are configured is as follows:

[code]

and

[code]

Given the JavaDoc and the way that other authentication mechanisms work, it would seem to be preferable instead to add a `securityContextRepository` method to the `oauth2Login` DSL:

[code]

Would you be willing to provide a PR

[2019-08-08 22:36] jzheaux commented on #7157
While this is a nice feature to be able to cache the request in a cookie, is it still the case that if an application wants to cache the request in a session, the `WebSession` will be hit on every request? Is this something that we should address in a separate ticket?

[2019-08-09 02:06] sincang opened #7242 "Change AbstractAuthenticationToken.getAuthorities to be mutable"
In the class `AbstractAuthenticationToken`, Array of `GrantedAuthority` is aways wrapped with `Collections.unmofiableList`. Will it be possible to make this list just modifiable? The reason is this stops `OauthTokenEnhancer` to modify the authorities. The use case is based on the Client scope, token enhancer should be able to remove unrelevant roles or authorities.

[2019-08-09 03:06] 344654931 opened #7243 "OAuth2 sso with OAuth2RestTemplate M-2-M returns to the login page of the authentication server"
### After the login is successful, call 'http://localhost:8082/client1/test' to return the login page of the authentication server. access to the test method in sso client1 when debugging

### Actual Behavior

return to the login page of the authentication server after calling the service

### Expected Behavior
oss client2：hello world client1

### Version
spring-security-oauth2-core:5.1.5.RELEASE

[2019-08-09 03:32] avodonosov commented on #4310
Thank you, @jzheaux

[2019-08-09 08:20] ilgrosso commented on #7222
@jzheaux thanks for review; here's the new PR: #7244

[2019-08-09 15:59] rwinch commented on #7224
@mmerdes Thanks for the report. Could you please turn this into a complete project so it is easier for us to run. I know it is only a little work, but since there are lots of issues logged to the project a little * many issues adds up to a lot of time. Thanks!

[2019-08-09 16:16] rwinch commented on #7154
Don't change the method signatures of public methods. Changing how the method is implemented is fine.

[2019-08-09 20:00] rwinch commented on #7157
The only place WebFlux support requires reading the session on every request is the request cache. This means that moving this to use a cookie will solve the problem.

[2019-08-09 21:08] eleftherias commented on #7166
Thank you for the sample and detailed explanation.
We are working on a fix for this, but in the meantime there are 2 options you can use to prevent this problem from happening.

Option 1
You can prevent any additional users from logging in when the maximum number of sessions has been reached, by using `maxSessionsPreventsLogin(true)`.
You configuration would look like this.
[code]

Option 2
You ca

[2019-08-09 21:20] jzheaux commented on #7230
Spring Security 5.2 supports two ways of token verification. The first is JWT and the second is opaque tokens. In this case, it appears that you have an opaque token.

This can be customized by doing:

[code]

Where your custom class would take the token string and return a `Map` of attributes.

Note that since 5.2 is not yet GA, the name of the introspection interface may change.

[2019-08-09 21:20] #7230 closed

[2019-08-09 23:46] jzheaux opened #7245 "Consider renaming OAuth2TokenIntrospectionClient"
The contract for `OAuth2TokenIntrospectionClient` is `String` -> `Map`, taking an opaque token and returning its associated attributes.

The name of the class implies that only implementations that are clients to an [OAuth 2.0 Token Introspection endpoint](https://tools.ietf.org/html/rfc7662) are acceptable.

However, there are use cases where an application has a token and would like to verify an

[2019-08-10 04:11] ahmadi86 opened #7247 "Dynamic redirect-uri-template"
I want to allow a client to link his account with my server with his account with another provider, let's say Google. To do so, I should be able to send the client's token with my server to Google and receive it back after the client is successfully logged in with Google. One way is to have the token (the one for my server) as part of the redirect-uri-template. This way when Google calls back the

[2019-08-10 06:06] jzheaux commented on #7243
It looks like this might be a better fit for [StackOverflow](https://stackoverflow.com/questions/ask). According to [our guidelines](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md#using-github-issues), we prefer to address support questions in that forum, leaving GitHub for bugs.

If you feel this is a bug in the code, please log a new ticket under https://github.co

[2019-08-10 06:06] #7243 closed

[2019-08-10 06:37] onkobu commented on #6545
If I had to implement this, I'd split the handler chain into a request- and an error handler chain. While request handling determines the method and triggers the error the error handler is a separate concern. This way request handling can stay as it is and Security's error handler sits before Validation's (which is before default). This also makes second pass unnecessary.

In addition Security's e

[2019-08-10 08:27] kostya05983 commented on #6917
@jzheaux  What do you think about it? Can I take this in develop?

[2019-08-10 08:39] kostya05983 commented on #6254
Hello @jgrandja , I can take this one, If I understand correctly, I should add docs in docs module of spring security, shouldn't I? And where can I put code samples of this?

[2019-08-10 17:13] wangqinghuan opened #7248 "Integrating Digest Auth into WebFlux."
I want to secure Spring gateway with Digest Auth. However, I didn't find any way to make it. Does Spring security support Digest Auth for Weflux? If not, has any improvement plan for this feature?

[2019-08-10 19:41] jzheaux commented on #6254
@kostya05983 Thanks for volunteering - yes, you'd place docs in the docs module.

As for a sample, you could add one that goes alongside the other oauth2resourceserver samples, though there are quite a few already. Unless you feel customizing a bearer token resolver to be quite nuanced, I'd lean towards just sticking with snippets in the documentation.

Does that sound doable?

[2019-08-10 19:56] jzheaux opened #7249 "Authentication Mechanisms Should Default their ServerSecurityContextRepository"
The Javadoc for `ServerHttpSecurity#securityContextRepository` states:

This is, however, outdated since form login does use this value if it's specified by the application:

[code]

I had a chat with @rwinch, and the desired functionality is the following:

If an application wires a security context repository for a given authentication mechanisms, that takes precedence for that mechanism. For ex