[2018-09-11 19:27] rwinch commented on #5761
Thanks for the response and the clarification.

Ultimately your suggestion reintroduces the problem that is present in #373, so we cannot do that.

We will likely need to re-think how this is handled. I'm open to suggestions, but we do not want to cause the old issue to occur. We should also think about how multi factor authentication will work. For now I think the best bet is the custom `Exceptio

[2018-09-11 19:53] #5726 closed

[2018-09-12 00:49] mlevkovsky commented on #5760
yup I saw that and revoked permissions on my app and getting it back. Thanks for all the help :)

[2018-09-12 07:17] vipinsaini434 commented on #4474
Hi Guys,
Could you please suggest how to increase the timeout. I am getting the same exception as above -

com.nimbusds.jose.RemoteKeySourceException: Couldn't retrieve remote JWK set: Read timed out.Below is my source code.

Thank in advance.

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.security.conf

[2018-09-12 10:53] jgrandja commented on #5756
@gillius Thanks for the report.
I do see an issue on how the `OAuth2AuthorizationRequest.redirectUri` is built and than compared to the `OAuth2AuthorizationResponse.redirectUri`.

I'm glad you figured out that the workaround is to explicitly configure the `redirect-uri-template` without the use of the `{baseUrl}` variable.

I'll apply this fix soon.
Thanks again.

[2018-09-12 12:32] gillius commented on #5756
I found another workaround as well if a hardcoded redirectUriTemplate won't work -- if you implement your own ClientRegistrationRepository, in conjunction with a custom login page, you can have full control. Unfortunately, ClientRegistrationRepository takes only a String; however, with a custom redirect page you can compute what you want and "encode" that into the registration name (i.e. redirect

[2018-09-12 13:17] jgrandja commented on #5756
Are you aware of the `ForwardedHeaderFilter`? You can configure this `Filter` if your app is behind a load balancer. See [reference](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#appendix-proxy-server) for more details.

[2018-09-12 14:07] rwinch commented on #5722
Closing this as invalid

[2018-09-12 14:07] #5722 closed

[2018-09-12 14:13] gillius commented on #5756
I am familiar with that filter. However, our load balancers can't support TLS greater than 1.0, so when TLS 1.0 was deprecated, the load balancers were switched into TCP mode and SSL was implemented by Weblogic. That means the load balancers cannot inject any headers as they balance only at TCP level. Instead, we use the Frontend Host/Port settings in Weblogic to specify the load balanced domain,

[2018-09-12 19:02] rwinch commented on #5756
We should not ignore the port when comparing the values. Instead, we need to ensure the correct port is communicated to the application.

Did you try searching your server documentation for SSL termination setup? There should be something in there that allows you to configure the HttpServletRequest.

[2018-09-12 19:10] jgrandja commented on #4474
@vipinsaini434 You've configured `AADAuthenticationFilter`, which is owned by the `azure-spring-boot`. Please log this issue in the [azure-spring-boot](https://github.com/Microsoft/azure-spring-boot/issues) repo.

Also, see this [comment](https://github.com/spring-projects/spring-security/issues/4474#issuecomment-356987137)

[2018-09-12 21:32] gillius commented on #5756
I feel that it is correctly communicated to the application and that Spring Security is in error. OAuth2AuthorizationRequestRedirectFilter is given port 443 and it explicitly filters it out, but OAuth2LoginAuthenticationFilter does not perform the same step. From a servlet API perspective, Weblogic is consistent in that getPort and getRequestURL both return port 443.

It looks like the code in OAu

[2018-09-12 21:33] rwinch opened #5835 "Use Antora"
### Summary

We should consider using https://antora.org for creating the documentation

[2018-09-12 21:35] rwinch opened #5836 "Separate Reactive Documentation from Imperative"
### Summary
Separate Imperative from reactive documentation

[2018-09-12 21:35] jgrandja commented on #5756
@rwinch Agreed, we won't ignore the port when comparing. @gillius Is correct - there is an inconsistency between `OAuth2AuthorizationRequestRedirectFilter` and `OAuth2LoginAuthenticationFilter` on how the comparison happens. I've spotted where the bug is and will fix shortly.

[2018-09-12 21:41] rwinch opened #5837 "Extract out Hello Servlet Security in documentation"
### Summary
We should create a Hello Servlet Security section of the documentation. This should be broken into 2 or 3 different versions (i.e. XML, Java Config, Boot). This can list all the features that are provided and link to the specific sections of the documentation.

[2018-09-12 21:45] rwinch opened #5838 "Document Servlet Features by topic"
### Summary
* We should split up into categories. An idea is to split up into authentication, authorization, OAuth (it is both), Protection From Common Exploits, integrations (Spring Data, Spring MVC)
* We should strive to document similar to the HTTP headers or CSRF documentation.

[2018-09-12 22:05] #5836 closed

[2018-09-13 02:55] rougou commented on #5761
@rwinch
I think it makes sense to clear the authentication when an AuthenticationException occurs, as is the case with [#373](https://github.com/spring-projects/spring-security/issues/373). However, it can be argued that this shouldn't happen for an AccessDeniedException.

I also noticed that the isRememberMe() case in ExceptionTranslationFilter was added in a pretty recent [commit](https://github

[2018-09-13 09:26] zcwang3 opened #5839 "request to enhance ID token validation in OidcAuthorizationCodeAuthenticationProvider"
### Summary
When i login with Google account in one of my testing machine, I meet the issue with follow error message:
c.c.w.g.c.SecurityConfiguration$2 - Authentication request failed: org.springframework.security.oauth2.core.OAuth2AuthenticationException: [**invalid_id_token**] org.springframework.security.oauth2.core.OAuth2AuthenticationException: [**invalid_id_token**]

it **does not output th

[2018-09-13 12:41] zcwang3 opened #5840 "idToken certificate auto reload in OidcAuthorizationCodeAuthenticationProvider"
### Summary

In current implementation of spring security, openID provider's **jwk certificate is loaded by NimbusJwtDecoderJwkSupport** and stored in ConcurrentHashMap of **jwtDecoders** properties in OidcAuthorizationCodeAuthenticationProvider. The certificate will never expired and reload from openID provider web site. It may cause problem because openID provider may rotate key pairs for ID tok

[2018-09-13 14:23] rwinch opened #5841 "Update to Gradle 4.10.1"
### Summary

Update to Gradle 4.10.1

[2018-09-13 14:26] kaisumli opened #5842 "Setting up Spring security oauth2 password grant with existing formlogin"
### Summary

I understand this may not be the right place to ask this kind of question, but I am desperate. I tried stackoverflow but there is no help so far. This is the post
https://stackoverflow.com/questions/52195881/spring-security-5-spring-mvc-oauth-2-password-grant-type-not-returning-token-wit

### Actual Behavior

We have an app working on Spring 5 and Spring Security with form Login. Ever

[2018-09-13 15:27] rwinch opened #5843 "Update to Spring Boot 2.1.0.M3"
### Summary
Update to Spring Boot 2.1.0.M3

[2018-09-13 15:27] #5841 closed

[2018-09-13 15:27] #5843 closed

[2018-09-13 17:06] jzheaux commented on #5840
@zcwang3, thanks for the report!

Key rotation should be triggered whenever a new, unrecognized key is presented in a JWT, should handle most rotation use cases. The limitation here is that if no new key ever comes in, then old keys may continue to be accepted (since there is nothing to trigger the refresh).

I've logged a ticket to Nimbus to [add support for actively expiring the cached key set](

[2018-09-13 17:44] jzheaux commented on #5842
@kaisumli I've commented in the SO question just now. As such, I'll close this ticket and we can continue the conversation there.

One thing that often accelerates solving a problem like this is creating a minimal sample that replicates the problem. This is good for you because it is easier to get your arms around all the pieces, and it also gives the community the ability to touch and debug what

[2018-09-13 19:30] rwinch opened #5844 "Polish resourceserver samples"
### Summary

* Use `${mockserver.url}` instead of a custom scheme of `mock://`
* Make the imperative/reactive resource servers samples consistent

[2018-09-13 19:31] #5844 closed

[2018-09-13 20:41] rwinch commented on #5761
Thanks for the response.

I think your suggestion of removing the remember me check and requiring a custom `AccessDeniedHandler` to trigger authentication under some circumstances makes sense. This would likely be a good option for multifactor authentication too.

I'm going to think about this one for a bit. In the meantime, as you mention, there is a reasonable workaround.

[2018-09-13 21:30] #5833 closed

[2018-09-14 01:11] vipinsaini434 commented on #4474
@jgrandja  thank you. I will raise it with them.Though i check, it's already there but no solution.Also i checked the comment you mentioned but could not understand how to increase connection timeout in DefaultResourceRetriever.

[2018-09-14 03:14] zcwang3 commented on #5840
@jzheaux thanks for you follow up.

i have met a case:
a Google ID token is generated about a month ago, and write the id token together with id token verification script.

about a month later, i rerun the script, key error is populated instead of id token is expired.
it shows that the original key is rotated and not supported any more.

In previous case, if a server in running up a month, it may

[2018-09-14 10:00] rpost opened #5845 "org.springframework.security.crypto.* duplicated between spring-security-core and spring-security-crypto"
Why `org.springframework.security:spring-security-core` isn't dependent on `org.springframework.security:spring-security-crypto` but instead the same classes (`org.springframework.security.crypto.*`) are in both artifacts? This can lead to pathological situation: if both jars are present, there are duplicated classes present in classpath.

[2018-09-14 10:43] svschouw-bb commented on #4249
As far as I can see, this issue is still open.

[2018-09-14 12:56] rwinch commented on #5840
@zcwang3 So the issue you are running into is that the error being reported is that the key was missing rather than the token was expired?

If that is the case, I don't think there is anything we can do for that. We cannot and should not keep track of all of the old keys. Trying to keep track of all the keys means that we would potentially run out of space. What is more, there is a chance that the

[2018-09-14 12:58] rwinch commented on #5845
Is this causing you a problem?

The duplication should not be an issue because the files are the same. The general rule is if you just need crypto, use the crypto jar. Otherwise, use spring-security-core.

[2018-09-14 13:27] siddhiparkar151992 commented on #4368
I am facing the same issue :| tried all possible combinations but it seems like after custom filter it doesnt work at all.

[2018-09-14 13:45] siddhiparkar151992 commented on #4368
#Update:
Solved it using following config
added restricted path to filter others will be permitted

[2018-09-14 14:08] rwinch opened #5846 "AntPathRequestMatcher supports UrlPathHelper"
### Summary

`AntPathRequestMatcher` should support leveraging `UrlPathHelper` which provides more consistent parsing of the URL to the way Spring MVC behaves.

[2018-09-14 14:12] rwinch commented on #4368
@siddhiparkar151992  I'm glad you were able to solve this. As an FYI, there is no need for `.antMatchers("/**")` as this is the default. So you can replace what you have with the following:

[code]

PS: You can use [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/)  for formatting code. For example:

[code]

will render as

[code]

[2018-09-14 14:13] rwinch commented on #4368
To anyone still having an issue, it is difficult to reproduce the issue if you have custom code (i.e. a custom authentication filter) without posting it. Please provide a complete sample to reproduce the issue.

[2018-09-14 14:16] jgrandja commented on #5840
@zcwang3 I'd like to clarify one of your statements so we're on the same page.

`NimbusJwtDecoderJwkSupport` which uses Nimbus's `RemoteJWKSet` automatically handles the refreshing of the `JWKSet` (the `PublicKey`'s) if the `kid` from the JWT Header is not found in it's `Set`.

If you look deeper into the call stack on where the Key matching happens, you would follow this association chain:

`Nimb

[2018-09-14 14:45] #4249 closed

[2018-09-14 14:45] #5846 closed

[2018-09-14 14:49] rwinch opened #5847 "AntPathRequestMatcher supports UrlPathHelper"
### Summary

Backport of #5846

[2018-09-14 14:50] rwinch opened #5848 "AntPathRequestMatcher supports UrlPathHelper"
### Summary
Backport of #5846

[2018-09-14 14:50] rwinch opened #5849 "SwitchUserFilter should match on exact URLs"
### Summary
Backport of #4249

[2018-09-14 14:51] rwinch opened #5850 "SwitchUserFilter should match on exact URLs"
### Summary
Backport of #4249

[2018-09-14 14:55] jgrandja commented on #5839
@zcwang3 You've tested 3 different scenarios with 2 passing and 1 failing so this suggests a possible environment issue. I took a look at the debug screenshot you provided and it looks like you have a clock sync issue between the computer you're testing on and Google's clock.

2018-09-13T08:55:26.893Z - Now (Testing machine clock)
2018-09-13T08:56:02Z - IssuedAt (Google's clock)

As you can see, t

[2018-09-14 15:04] #5850 closed

[2018-09-14 15:04] #5848 closed

[2018-09-14 15:11] rwinch commented on #4249
Thanks for the report! This is now fixed in master and backported to 5.0.x and 4.2.x I've also added a [setExitUserMatcher](https://github.com/spring-projects/spring-security/commit/9c749bf55611d992a5c762deba3e7da61157ffd1#diff-81c688d5f593658da4242cb3d49fd900R456) and [setSwitchUserMatcher](https://github.com/spring-projects/spring-security/commit/9c749bf55611d992a5c762deba3e7da61157ffd1#diff-81c

[2018-09-14 15:18] #5849 closed

[2018-09-14 15:18] #5847 closed

[2018-09-14 16:33] rpost commented on #5845
In my project I had `spring-security-core:5.0.8.RELEASE` and `spring-security-crypto:5.0.7.RELEASE` (pulled by newest `spring-cloud-context:2.0.1.RELEASE`), so it is possible to have different versions unfortunately.

No, at least now. I just spotted it and I think it can lead to subtle (possibly non deterministic, depending on which of duplicated classes JVM decide do load) bugs. Apart from that

[2018-09-14 16:33] jzheaux commented on #4467
Actually, this was a proactive decision in the 2.x release of Boot, though I think we should do a better job of explaining the rationale (for which I've just logged [a ticket to the Boot team](https://github.com/spring-projects/spring-boot/issues/14474)).

The ticket also includes some of the reasoning, too, but I'll briefly summarize here:

- Spring Security secures all endpoints by default. (You

[2018-09-15 00:10] zcwang3 commented on #5839
@jgrandja Thanks for you checking.

Please notice: in the same test machine, **Microsoft ID token verification is pass** and **Google ID token verification is failure** because of maxIssuedAt  check issue.
it means that the clock on my testing machine **is sync with Microsoft's clock**, and it **is not sync with Google's clock.**

After I have sync clock on my testing machine with ntp command, the

[2018-09-15 01:11] zcwang3 commented on #5840
@jgrandja Thanks for replying.

Yes, you are right.
I saw the logic in RemoteJWKSet which will **automatically handle new key from OpenID provider**, so it should can handle the case I mentioned. Sorry for the confusion.

@rwinch Thanks
We should not keep track of all old keys, instead we should catch up with new keys, and current implement already has the ability. Sorry for the confusion.

We can

[2018-09-15 12:05] MasatoshiTada commented on #5828
Thank you so much! This was my lack of research🙇‍♂️

[2018-09-16 22:39] berndgoetz opened #5851 "oauth autoconfigure doesn't take existing UserDetailsService into account"
### Summary

When using @EnableResourceServer (and @EnableOAuth2Sso potentially) an existing UserDetailsService bean is not taken into account when setting up a UserAuthenticationConverter (which is a DefaultUserAuthenticationConverter by default that has a setUserDetailsService method.

### Actual Behavior

My custom UserDetailsService is not picked up.

### Expected Behavior

It is picked up.

#

[2018-09-17 03:11] chrylis commented on #5477
I came here to request this specific feature. Any chance of a backport to 4.3? (As far as I can tell, `CsrfConfigurer` should be able to expose an `ignoringRequestMatchers` there with no API difficulty.)

[2018-09-17 03:45] vipinsaini434 commented on #4474
@jgrandja  Could you please assist how to increase timeout using 'DefaultResourceRetriever' . i searched a lot  but not getting any resource to update it.

[2018-09-17 04:43] beku8 opened #5852 "WhitelistTypeIdResolver should include LinkedHashSet?"
After upgrading to spring security 5.0, I started getting the json serialization exceptions such as:

[code]

New ```WhitelistTypeIdResolver``` seems to make it quite annoying for json serializations. I think we should whitelist most of the common java types(e.g LinkedHashSet). Or at lease provide a documentation on how to work around. This is how I'm "whitelisting" these classes, which was not ea

[2018-09-17 12:58] jgrandja commented on #4474
@vipinsaini434 I did not work on the `azure-spring-boot` repo so I'm not familiar with how this would be configured. You will need to address that team and ask them. Have you logged an issue to the repo?

[2018-09-17 13:01] jgrandja commented on #5840
@zcwang3 No worries about the confusion. I'm glad that you see the auto-refresh of keys is handled within Nimbus.

[2018-09-17 13:06] jgrandja commented on #5839
@zcwang3

it means that the clock on my testing machine is sync with Microsoft's clock, and it is not sync with Google's clock.

Can you please provide another sceenshot from the test machine for Microsoft and Google. I'd like to see what the `issueAt` and `now` times are.
Thanks.

[2018-09-17 13:36] rwinch commented on #5852
Unless it is a class used by Spring Framework related classes, it is expected behavior to ensure that you do not have any deserialization security vulnerabilties. If you do not like it, you explicitly opt into serializing all classes using something like:

[code]
Otherwise, you may explicitly register classes that are whitelisted.

[2018-09-17 13:36] #5852 closed

[2018-09-17 13:39] jgrandja commented on #5840
Let's leave this open so we can track the progress on [RemoteJWKSet should proactively refresh its cache](https://bitbucket.org/connect2id/nimbus-jose-jwt/issues/278/remotejwkset-should-proactively-refresh)

[2018-09-17 13:56] jgrandja commented on #5840
@jzheaux Feel free to create a new issue to track against the issue you logged with Nimbus and close this one?

[2018-09-17 15:34] zpf7879 commented on #5234
I am facing the same issue. Any workaround?

[2018-09-17 15:47] rwinch commented on #5234
A workaround is that you can provide a custom `ServerAuthenticationEntryPoint` via:

[code]

[2018-09-17 15:57] rwinch commented on #5851
Thanks for the report!

This is not part of Spring Security codebase, so the issue doesn't really belong here. Can you please create a ticket at https://github.com/spring-projects/spring-security-oauth2-boot/issues

Thanks and thanks again for the report!

[2018-09-17 15:57] #5851 closed

[2018-09-17 16:15] zpf7879 commented on #5234
Exactly, I found out the same solution:
`.exceptionHandling()
                .authenticationEntryPoint((exchange, denied) -> {
                    ServerHttpResponse response = exchange.getResponse();
                    response.getHeaders().remove("WWW-Authenticate");
                    response.setStatusCode(HttpStatus.UNAUTHORIZED);
                    exchange.mutate().response(response);

[2018-09-17 16:40] jzheaux commented on #5477
Probably not, @chrylis. There are no plans for a 4.3.x series of releases and the 4.2.x series is really just for bug fixes at this point.

You can do this by customizing the csrf filter outside of the DSL, though:

[code]
And then either use `addFilter`:

[code]

Or use `withObjectPostProcessor`:

[code]

[2018-09-17 18:56] jzheaux opened #5853 "NimbusJwtDecoderJwkSupport should proactively invalidate JWK cache"
### Summary

`NimbusJwtDecoderJwkSupport`'s JWK cache is only reset when an unrecognized key is part of an incoming JWT.

However, this doesn't account for the case when a key is invalidated by the provider, but no new key is issued.

### Actual Behavior

If an existing key is removed from the provider's JWK set, but no new keys are issued, then this JwtDecoder will maintain its cache, potentially

[2018-09-17 18:56] jzheaux commented on #5840
Done - https://github.com/spring-projects/spring-security/issues/5853

[2018-09-17 18:56] #5840 closed

[2018-09-17 19:44] jgrandja opened #5854 "Remove expiresAt constructor-arg in OAuth2RefreshToken"
We should remove the `expiresAt` constructor-arg from `OAuth2RefreshToken`.

Therefore, the constructor should be changed to:

`public OAuth2RefreshToken(String tokenValue, Instant issuedAt)`

[2018-09-17 21:08] rwinch opened #5855 "Reactive OAuth2 DSL Customizations"
### Summary

### Actual Behavior

We should support customizations of the beans used for reactive OAuth2 Client and OAuth2 Login

[2018-09-17 21:10] rwinch opened #5856 "OAuth2AuthorizationCodeGrantWebFilter works with /{action}/"
### Summary
This ensures that the same URL can work for both log in and
authorization code which prevents having to create additional registrations
on the client and potentially on the server (GitHub only allows a single
valid redirect URL).

[2018-09-17 22:31] jzheaux opened #5857 "Update What's New Section for Spring Security 5.1"

[2018-09-18 02:12] pasonzhang commented on #4926
my build error is similar  to that.

[2018-09-18 02:18] rwinch opened #5858 "OidcAuthorizationCodeReactiveAuthenticationManager does not map refresh token"
### Summary

Refresh token needs to be mapped in OidcAuthorizationCodeReactiveAuthenticationManager

[2018-09-18 02:22] #5858 closed, assigned to rwinch

[2018-09-18 02:46] zcwang3 commented on #5839
Hi @jgrandja

here is the attached screen shots for Microsoft / Google id token verification
![google](https://user-images.githubusercontent.com/22088987/45661307-88eeab80-bb2f-11e8-90d1-93509fbeb0bb.gif)
![microsoft](https://user-images.githubusercontent.com/22088987/45661309-8ab86f00-bb2f-11e8-91cf-d0a43a51d41b.gif)

BTW:
as work around solution to avoid potential production issue, i copied code

[2018-09-18 03:26] rwinch opened #5859 "Add WebClient OAuth2 Reference"
### Summary
Add WebClient OAuth2 Reference

[2018-09-18 03:26] #5859 closed

[2018-09-18 03:40] rwinch opened #5860 "Fix JDK 10 & 11 builds"
### Summary

Due to a Jenkins misconfiguration the build was not actually running on JDK 10 or 11. When Jenkins was fixed the build broke. We need to fix the build for JDK 10 and 11

[2018-09-18 06:37] johnlinp opened #5861 "Documentation for Secured is truncated"
### Summary

The [documentation for Secured](https://docs.spring.io/spring-security/site/docs/4.2.4.RELEASE/apidocs/org/springframework/security/access/annotation/Secured.html) explains the argument `value` with a truncated sentence.

### Actual Behavior

The documentation says:

[code]

### Expected Behavior

The document should be:

[code]

### Version

4.2.4

[2018-09-18 12:41] mlschechter commented on #2884
Could you please let us know if there are any plans to address this? The above milestone was closed.

Thanks!

[2018-09-18 14:38] rwinch opened #5863 "Add OAuth2 Login WebFlux Reference"
### Summary
Add OAuth2 Login WebFlux Reference

[2018-09-18 14:42] #5863 closed

[2018-09-18 15:24] rwinch opened #5864 "Add WebFlux @RegisteredOAuth2AuthorizedClient Reference"
### Summary

Add WebFlux @RegisteredOAuth2AuthorizedClient Reference

[2018-09-18 15:24] rwinch opened #5865 "Add WebFlux OAuth2 Client Reference"
### Summary
Add WebFlux OAuth2 Client Reference

[2018-09-18 15:26] #5864 closed

[2018-09-18 15:58] rwinch opened #5866 "Add WebFlux Resource Server Reference"
### Summary
Add WebFlux Resource Server Reference

[2018-09-18 15:59] #5866 closed

[2018-09-18 16:24] #5865 closed, assigned to rwinch

[2018-09-18 19:32] danielfernandez opened #5867 "Reactive equivalents for security expression handling and url-based access control"
### Summary

In the new `thymeleaf-extras-springsecurity5` I'm trying to make all the functionality already existing for Servlet-based applications available also for WebFlux ones.

But I'm unable to find in the reactive side of Spring Security any equivalents for the functionality providen by `SecurityExpressionHandler<FilterInvocation>` or `WebInvocationPrivilegeEvaluator` in Servlet-based web a

[2018-09-18 22:07] rwinch commented on #5867
@danielfernandez Thanks for reaching out. There is not SpEL expression support for request mappings within WebFlux applications. This largely has to do with the fact that we can now use method references and lambdas. For example:

[code]

The reactive bits have changed the authorization model slightly as well. Now we use `ReactiveAuthorizationManager` which inverts the model a bit. Instead of havi

[2018-09-18 22:09] rwinch opened #5868 "Add WebFlux HTTP Headers Reference"
### Summary
Add WebFlux HTTP Headers Reference

[2018-09-19 02:12] rwinch opened #5869 "Add WebFlux Redirect to HTTPS Reference"
### Summary
Add WebFlux Redirect to HTTPS Reference

[2018-09-19 02:13] #5869 closed

[2018-09-19 02:23] rwinch opened #5870 "Add WebFlux CORS Reference"
### Summary
Add WebFlux CORS Reference

[2018-09-19 02:24] #5870 closed, assigned to rwinch

[2018-09-19 02:34] #5861 closed

[2018-09-19 13:04] #5763 closed

[2018-09-19 13:06] jgrandja commented on #5763
Thanks for catching that @kaarelm!
I've applied the changes and is now  in master.

[2018-09-19 13:13] jgrandja commented on #5601
Closing this as all tasks but except #5607 are resolved.

[2018-09-19 13:13] #5601 closed

[2018-09-19 14:05] mnuthala opened #5871 "Custom Authentication Filter registered / executed twice ?"
### Summary

Trying to implement a AuthenticationWebFilter based on Kerberos (spring-kerberos)

### Actual Behavior

Using a custom SpnegoEntryPoint to Negotiate the Authorization header token. I am able to authenticate the token and populate the user details into session repository (backed by hazelcast)

### Expected Behavior

I am expecting the Authentication filter to be executed twice (correct

[2018-09-19 14:47] #5757 closed

[2018-09-19 14:47] #5854 closed

[2018-09-19 14:48] jgrandja commented on #5757
Thanks for the report @mgee.
This is now in master.

[2018-09-19 16:26] rwinch opened #5872 "WebClient OAuth Support for defaultClientRegistrationId"
### Summary

Spring Security should provide support for a default ClientRegistration.registrationId being used

[code]

[code]

[2018-09-19 16:47] #5872 closed

[2018-09-19 18:04] mgee commented on #5757
Thanks! :-)

[2018-09-19 18:14] mnuthala commented on #5871
Ignore this.

I managed to resolve it,

[2018-09-19 18:14] #5871 closed

[2018-09-19 18:51] rwinch opened #5873 "Default Logout Out Page Uses HTTP Resources"
### Summary

Similar to #5539 but for the Log Out pages

[2018-09-19 18:53] #5873 closed

[2018-09-19 19:27] rwinch opened #5874 "WebSessionServerRequestCache ignore favicon & not html"
### Summary

`WebSessionServerRequestCache` should ignore favicon and non HTML requests by default

[2018-09-19 19:28] rwinch opened #5875 "Default RequestCache should ignore favicon"
### Summary
Currently favicon.ico is ignored, but other formats (i.e. favicon.png) should also be ignored by default

[2018-09-19 19:29] #5874 closed

[2018-09-19 19:29] #5875 closed

[2018-09-19 21:34] rwinch opened #5876 "Update to cglib:cglib-nodep:3.2.8"
Update to cglib:cglib-nodep:3.2.8

[2018-09-19 21:34] rwinch opened #5877 "Update to jaxb 2.3.0.1"
Update to jaxb 2.3.0.1

[2018-09-19 21:34] rwinch opened #5878 "Update to unboundid-ldapsdk:4.0.8"
Update to unboundid-ldapsdk:4.0.8

[2018-09-19 21:34] rwinch opened #5879 "Update to Jetty 9.4.12.v20180830"
Update to Jetty 9.4.12.v20180830

[2018-09-19 21:34] rwinch opened #5880 "Update to hibernate-validator:6.0.13.Final"
Update to hibernate-validator:6.0.13.Final

[2018-09-19 21:34] rwinch opened #5881 "Update to htmlunit:2.33"
Update to htmlunit:2.33

[2018-09-19 21:34] rwinch opened #5882 "Update to mockito-core:2.22.0"
Update to mockito-core:2.22.0

[2018-09-19 21:37] #5876 closed

[2018-09-19 21:37] #5877 closed

[2018-09-19 21:37] #5878 closed

[2018-09-19 21:37] #5879 closed

[2018-09-19 21:37] #5880 closed

[2018-09-19 21:37] #5881 closed

[2018-09-19 21:37] #5882 closed

[2018-09-19 21:46] rwinch opened #5883 "Update to Spring Framework 5.1.0.RELEASE"
### Summary
Update to Spring Framework 5.1.0.RELEASE

[2018-09-19 21:46] rwinch opened #5884 "Update to Reactor Californium Release"
### Summary
Update to Reactor Californium Release

[2018-09-19 21:47] rwinch opened #5885 "Update to Spring Data Lovelace"
### Summary

Update to Spring Data Lovelace

[2018-09-19 21:51] rwinch opened #5886 "Remove Deprecated EvaluationContextExtensionSupport Usage"
### Summary
Remove Deprecated EvaluationContextExtensionSupport Usage

[2018-09-19 22:07] #5886 closed

[2018-09-19 23:53] danielfernandez commented on #5867
Thanks a lot for the quick answer @rwinch. So it seems for that in WebFlux apps Thymeleaf should disable the part of its `sec:*` processors that are meant to do authorization checks. For now only checking the `Authentication` object fields will be available from `sec:*` processors.

[2018-09-20 07:35] rainbowJson opened #5887 "spring-security-cas use in webflux"
Do you have plans to support spring-security-cas  use in webflux?

I have use webflux in netty container

[2018-09-20 13:51] #5857 closed

[2018-09-20 14:29] haasc commented on #5499
I'm have the same problem, but I've diagnosed it a little differently.

In my case, by the time the header writing is attempted during the processing of the include file, the HttpResponse is wrapped with org.apache.catalina.core.ApplicationHttpResponse with the "included" attribute set to true.  With the included field set to true, all of the headers that get emitted are suppressed.  However, as e

[2018-09-20 14:31] #5341 closed

[2018-09-20 14:53] rwinch commented on #5499
I think we can resolve this using an OnComittedRequestWrapper which triggers the headers to be written before an attempt to include content happens.

[2018-09-20 14:55] rwinch commented on #5887
Thanks for the report @rainbowJson! We would probably need a reactive CAS client. Does one exist?

[2018-09-20 14:56] rwinch commented on #5867
That makes sense.

I'm curious how you are able to interact with the authentication since it is available as a `Mono<Authentication>`?

[2018-09-20 15:10] rainbowJson commented on #5887
I haven't found support for reactive client CAS for the time being.

I want to support CAS in spring-cloud-gateway.

[2018-09-20 15:18] rwinch opened #5888 "Add OAuth2ClientSpec.and"
### Summary
Add OAuth2ClientSpec.and

[2018-09-20 15:19] #5888 closed

[2018-09-20 16:30] jzheaux opened #5889 "DelegatingOAuth2TokenValidator should accept varargs as well"
In several cases in Spring Security, constructors that accept a collection of values:

[code]
Are accompanied with a corresponding varargs version:
[code]

This extra constructor reduces boilerplate like:

[code]

to:

[code]

However, `DelegatingOAuth2TokenValidator` is missing this varargs constructor.

Let's add it.

[2018-09-20 16:47] #5889 closed

[2018-09-20 17:03] danielfernandez commented on #4762
Does this need any specific configuration steps besides `@EnableWebFluxSecurity`? Using 5.1.0.RC2, during view processing (and once authenticated), when executing `org.springframework.security.web.reactive.result.view.CsrfRequestDataValueProcessor#getExtraHiddenFields(...)` it tries to do this:
[code]
...but there is nothing there. Instead, the only `ServerWebExchange` attribute that seems related

[2018-09-20 17:09] jgrandja commented on #5756
@gillius I've applied the fix via 9a49795

[2018-09-20 17:09] #5756 closed

[2018-09-20 18:00] jgrandja opened #5890 "Ensure consistent matching of redirect_uri"
Related #5756

[2018-09-20 18:23] jgrandja opened #5891 "Remove oauth2-oidc-sdk dependency from oauth2-jose module"

[2018-09-20 18:46] #5890 closed

[2018-09-20 18:47] rwinch commented on #4762
Unfortunately, at the moment, users must expose the CSRF token as a request attribute for it to be found. This is also true for the `Authentication`.

[code]

The reason is that we don't know if the user needs the CSRF token, so we cannot subscribe to the `Mono<Csrf>` on their behalf (which triggers it to be saved and thus a session created). We also cannot resolve a `Mono<CsrfToken>` in `CsrfRequ

[2018-09-20 18:48] rwinch commented on #5887
I wouldn't be apposed to doing this, but I think we will need reactive support from the CAS libraries to make this practical.

[2018-09-20 19:33] #5891 closed

[2018-09-20 20:48] danielfernandez commented on #5867
Short answer: with quite a lot of pain :)

Long answer:

The key restriction is that Thymeleaf cannot resolve any reactive variables on-the-fly during template execution (i.e. except for the *data driver* in data-driven mode, but that's not the case), so any possible solutions had to involve the resolution of `Mono<SecurityContext>` _before_ template processing starts, this is, to include `Mono<Se

[2018-09-20 20:52] danielfernandez commented on #4762
Please see my comment on spring-projects/spring-security#5867. Version 3.0.10 of `thymeleaf` and `thymeleaf-spring5`, in combination with version 3.0.3 of `thymeleaf-extras-springsecurity5` should be able to resolve this `Mono<CsrfToken>` using the mechanism just developed for being able to resolve the `Mono<SecurityContext>` in a non-blocking manner. Note however that unfortunately this means the

[2018-09-20 20:58] danielfernandez commented on #5867
By the way, I finally went for only allowing a minimal set of authorization expressions in `sec:authorize` attributes in WebFlux applications: `isAuthenticated()`, `isFullyAuthenticated()`, `isAnonymous()` and `isRememberMe()`.

These expressions are too useful to lose them (esp. `isAuthenticated()`) and they are based on an `AuthenticationTrustResolver`, so that was easy to do using a mere `Authe

[2018-09-21 02:06] rwinch opened #5893 "WebClient support should get new access token when expired and client_credentials"
### Summary

WebClient support should get new access token when an access token is expired and client_credentials is used

[2018-09-21 02:07] rwinch opened #5894 "WebClient support should delete access tokens if they fail"
### Summary
WebClient support should delete access tokens if they fail

[2018-09-21 04:30] vipinsaini434 commented on #4474
Hello everyone,
if someone is looking the solution for this problem(com.nimbusds.jose.RemoteKeySourceException: Couldn't retrieve remote JWK set: Read timed out.) in azure-spring-boot library. I request you to download source code for nimbus library. Modify default timeout parameter and try. In my case i have done the same thing and prepared custom jar instead of nimbus jar. This has resolved my i

[2018-09-21 05:03] rwinch opened #5895 "Release Spring Security 5.1.0.RELEASE"
### Summary
Release Spring Security 5.1.0.RELEASE

[2018-09-21 05:04] rwinch opened #5896 "Update to Spring Boot 2.1.0.M4"
### Summary
Update to Spring Boot 2.1.0.M4

[2018-09-21 05:08] rwinch commented on #5867
Thanks for the response! I'm looking forward to the automatic support of CSRF and authentication!

[2018-09-21 06:00] #5337 closed

[2018-09-21 06:08] rwinch commented on #2884
@mlschechter we haven't had time to address it. Would you be interested in providing a PR?

[2018-09-21 13:11] rwinch opened #5898 "Add @formatter to @EnableWebFluxSecurity Javadoc"
### Summary
Add @formatter to @EnableWebFluxSecurity Javadoc

[2018-09-21 13:12] #5885 closed

[2018-09-21 13:12] #5898 closed

[2018-09-21 13:21] #5895 closed

[2018-09-21 18:45] mgumerov opened #5899 "Probably wrong execution path in WebSecurityConfigurerAdapter"
### Summary

disableLocalConfigureAuthenticationBldr=true leads to UserDetailsServiceDelegator created but unusable

### Actual Behavior

userDetailsServiceBean constructs UserDetailsServiceDelegator with following delegation targers: localConfigureAuthenticationBldr and globalAuthBuilder. Which is mostly OK if not for other points highlighted here.

localConfigureAuthenticationBldr is used for cr

[2018-09-21 18:52] #5899 closed

[2018-09-23 09:48] berndgoetz commented on #5851
True, thanks. I've put it [there](https://github.com/spring-projects/spring-security-oauth2-boot/issues/47)

[2018-09-25 05:02] mgumerov opened #5901 "Another way to get "UserDetailsService is required" when using token refresh"
### Summary

If UserDetailsService is declared as bean but not explicitly configured as AuthorizationManagerBuilder's details service, attempt to use "refresh_token" grant type results in aforementioned exception. At the same time, "password" grant authentication successfully discovers and uses that details service.

### Actual Behavior

As a prerequisite, we have UserDetailsService as a bean. But

[2018-09-25 14:32] Rorschachdb opened #5902 "Webflux JWT : provide a means to set authenticationConverter as in spring mvc"
### Summary

To provide an authenticationConverter in a MVC application is quite simple whereas with Webflux you need to implement a complete AuthenticationManager

### Actual Behavior
If I want to change the Authentication conversion I have to implement a whole authentication manager

[code]

### Expected Behavior
An Authorization converter in standard MVC security is configured like this :

[cod

[2018-09-25 15:02] chrylis commented on #5477
My current approach has been to implement a custom matcher

[code]

so it's working, but upgrading to 5 is not an option until authorization is implemented.

[2018-09-25 15:54] dillius opened #5903 "Unable to retrieve Username from ServerRequest nor ReactiveSecurityContextHolder"
### Summary

I recently updated a project from a pre-release of spring boot 2 to the most current 2.0.5 build. I am no longer able to retrieve the username of the currently authenticated user for use in calls.

I have tried both via the Principal in the ServerRequest, and the Authentication in the ReactiveSecurityContext.

Authentication itself is successful, with the automatically build in login

[2018-09-25 16:27] mlschechter commented on #2884
Our dependency on this logic has changed more than I thought, and this is not currently an issue for my team. Unfortunately, that reduces my flexibility in this area, so I'm unlikely to have bandwidth in the near future.

[2018-09-26 14:29] mgumerov commented on #5901
Actually I was not correct when proposing solution. The whole idea of loading UserDetails via ProviderManager's definition is defective. Generally speaking, there's no telling exactly what provider will be serving user's authentication before it's served, because providers are simply tried one-by-one from first one. For that cause, for UserDetailsServiceDelegator (which is also something used in g

[2018-09-26 18:08] bcalmac commented on #4336
@rwinch @jgrandja I think this is important, let me present a real use case for your consideration (I ran into this while upgrading to spring-boot 2):
- `CsrfFilter` generates an error and calls `accessDeniedHandler.handle(request, response,						new MissingCsrfTokenException(actualToken))`
- `AccessDeniedHandlerImpl` stores the exception in the request under `SPRING_SECURITY_403_EXCEPTION` and ca

[2018-09-27 09:07] jinqinghua opened #5906 "Can't login use google account with client-authentication-method=basic"
### Can't login use google account with client-authentication-method=basic

I develop a feature that support 3rd-party login use spring boot 2.0.4(spring security 5.0.7)
it work well, but today(**27 sep 2018**), we cant login with google account.

error stack:
java.lang.IllegalArgumentException: errorCode cannot be empty
 at org.springframework.util.Assert.hasText(Assert.java:276) ~[spring-core-5.

[2018-09-27 11:00] nealeu opened #5907 "Excessive security metadata being stored - possible memory optimisations"
Version 4.2.8

### The puzzling bits

I've been looking at memory usage in YourKit as we're looking to reduce the memory footprint of our application, and I've come across a few puzzles which may be an opportunity to improve things in Spring Security.

`DelegatingMethodSecurityMetadataSource.attributeCache` has over 26000 objects.

1. Within this there are references to `Object.notify` and `Object

[2018-09-27 21:35] Flaw101 commented on #5648
This would help greatly in areas where IDP isn't providing the Key's via the jwks url, which is poor but painful to workaround in 5.1. Currently having to copy the the decoder to be able to set a custom keyset.

[code]

[2018-09-28 07:09] jinqinghua commented on #5906
it works well today when use
spring.security.oauth2.client.registration.google.client-authentication-method=basic

close issue.

[2018-09-28 07:09] #5906 closed

[2018-09-28 10:12] akoshman opened #5909 "Problems with object_id_identity in table acl_object_identity"
### Summary

In the Spring ACL database schema for PostgreSQL (specified in **createAclSchemaPostgres.sql**)  definition for table **acl_object_identity**  look like this:

[code]
So, column **object_id_identity** is of text type.

### Actual Behavior

When I execute this piece of code

[code]
I get an exception telling me there is a problem with finding object identity:

[code]

Basically, there

[2018-09-28 10:35] matthewbluezyoncom commented on #5760
The `request` is a parameter for the lambda which defines a `OAuth2AuthorizationRequestResolver`

[2018-09-29 02:26] quaff opened #5910 "Keep serialVersionUID of SimpleGrantedAuthority constant"
InvalidClassException raised every time upgrade spring-security, please keep it if nothing changed, It's not recommended to change it.

[code]

[2018-09-29 06:47] jinqinghua commented on #5760
Hi matthewbluezyoncom,
Which version of your spring boot and spring security? the code won't work on spring boot **2.1.0.M4(Spring security 5.1.0 RELEASE)**.

The following code works on spring boot **2.1.0.M4(Spring security 5.1.0 RELEASE)**. FYI.

@Configuration
public class SecurityConfig extends WebSecurityConfigurerAdapter {

    @Autowired
    ClientRegistrationRepository clientRegistrationR

[2018-09-29 15:03] antmordel opened #5911 "JwtDecoder constructor using Public Key"
### Summary

As in the class `NimbusReactiveJwtDecoder`, it'd be nice to have a constructor in `NimbusJwtDecoderJwkSupport` to create the JwtDecoder using only the PublicKey to used to verify the signature.

### Version

Spring Security 5.1

### Sample

[code]

[2018-10-01 09:42] laxmikant4644 commented on #4474
Hi Team,
Do we have any ETA for it's fix?

[2018-10-01 19:01] VijaySidhu commented on #5598
I am writing Service with WebFlux Framework Below are Technologies i am trying to use
Spring Boot 2.1.0.M3
Spring Security 5.1.0.RC2
In Spring Security It's trying to match /oauth2/authorization/{registrationId} with Path i configured which is different and it's not matching and throwing 401.
Is there any way to override /oauth2/authorization/{registrationId} this with value i am using

[2018-10-01 22:18] jzheaux commented on #5911
@antmordel thanks for the suggestion!

I'm going to link this to the original task that we already have for this: https://github.com/spring-projects/spring-security/issues/5486

That way, you can follow progress there.

[2018-10-01 22:18] #5911 closed

[2018-10-02 21:04] sunflower-seed commented on #5770
I'll have a look at it. May take some time.

[2018-10-02 21:12] hauntingEcho commented on #4160
This issue will also happen on 5.1, and will also happen in reverse (setting HTTPS to port 8080 will resolve to 8443)

see also: https://github.com/spring-projects/spring-boot/issues/6140

assuming the behavior has to remain the same, a log warning/error would be very much appreciated when this workaround is encountered.

[2018-10-03 10:18] carlspring commented on #3392
Is there any update on this? It's been around for a while now and it's causing our snyk.io checks to fail, (which is, of course the least of our concerns, given the seriousness of the issue). Could we get some sort of update, please?

[2018-10-03 15:39] rwinch commented on #4160
The problem is if we log a warning and the user is running http on port 8443, then we are logging an invalid warning. Do you have a proposal that does not cause invalid logging to happen? Otherwise, this is really just a matter of the user needing to configure things correctly.

[2018-10-03 16:17] hauntingEcho commented on #4160
by my understanding, running HTTPS on 8080 (or HTTP on 8443, for @nucatus ) is not currently possible.  I'll admit to being relatively new to Spring Security, though.  To clarify a bit, the configuration that led me here was:

[code]
[code]
which caused the loginPage redirection to go to port 8443.  Changing to `server.port=8081` resolved the issue.

[2018-10-03 16:20] rwinch commented on #5477
Can you clarify what you mean? Is there something Spring Security 5 is missing that is preventing an updated?

[2018-10-03 17:27] jgrandja commented on #4474
With the recent release of 5.1, you now have the ability to configure the connect/read timeouts via a supplied `RestOperations`.
Please see #5601 for more details and specifically #5547 and #5603 that are related to this issue.

The solution provided is to allow a `RestOperations` to be supplied to either `DefaultAuthorizationCodeTokenResponseClient` (for the Token Request) and/or `NimbusJwtDecode

[2018-10-03 17:59] lts-rad commented on #5343
For developers wondering about why it's important to be so strict, check out Orange Tsai's presentation from BlackHat:

https://i.blackhat.com/us-18/Wed-August-8/us-18-Orange-Tsai-Breaking-Parser-Logic-Take-Your-Path-Normalization-Off-And-Pop-0days-Out-2.pdf, it covers CVE-2018-1271 which Orange reported in Spring for Windows

[2018-10-03 18:04] jzheaux opened #5912 "Add Resource Server Documentation"
The first pass at Resource Server documentation should include:

1. Basic Spring Boot configuration using `issuer-uri` and `jwk-set-uri`
2. Basic DSL configuration
3. Decoder customizations
3.1. Mapper customizations
3.2. Validator customizations
4. Authentication Converter customizations

[2018-10-03 18:18] rwinch commented on #4160
Did you try providing your own mapping. For example:

[code]

[2018-10-03 18:44] #5910 closed

[2018-10-03 18:49] rwinch opened #5913 "Add a missing space in Secured.value() signature"
### Summary
Backport of #5905

[2018-10-03 18:50] rwinch commented on #5913
Fixed in 5e74da9b4f4463b59acfed1a5fed5c523741e3c4

[2018-10-03 18:51] rwinch opened #5914 "Add a missing space in Secured.value() signature"
### Summary
Backport of #5905

[2018-10-03 18:51] rwinch commented on #5914
Fixed in dac46dc57c4433262ed6d443d275dd0e1ef41702

[2018-10-03 18:51] #5914 closed

[2018-10-03 18:57] rwinch commented on #5907
Thanks for the feedback. Can you highlight what the actual problem you are trying to solve is? For example, is Spring Security's method security performing slowly? If so how do you reproduce?

[2018-10-03 19:31] hauntingEcho commented on #4160
to clarify a bit - in this case we would need to add guardrails like this for the person provisioning the server:
[code]
is that correct?

[2018-10-03 19:47] pminearo commented on #5548
I pulled down the master branch and to set up a test to get the code to throw the ArrayIndexOutOfBoundsException to be thrown.  Unfortunately, I could not figure out a way to get the code to throw the Exception.

The haspw() method does (I know the methods are out of sequence in terms of line numbers, but it makes more sense this way to show what is going on):
[code]

So, no matter what, passwordb

[2018-10-03 19:49] pminearo commented on #5548
This is does bring up the question, should Spring Security be validating NULL or Empty String passwords?  While I understand it is doable since Java always returns a Byte array; even if, the passwordb is equal to "\000" or ""; should Spring Security really be doing this??

[2018-10-03 20:09] rwinch opened #5915 "OAuth2LoginAuthenticationFilter should ignore authenticated requests"
### Summary
Rather than trying to authenticate again, the `OAuth2LoginAuthenticationFilter` should ignore authenticated requests. This enables getting an access token using an authorization code flow after authenticating using another mechanism (i.e. username/password).

[2018-10-03 20:40] rwinch commented on #5548
Can you clarify how to reproduce the issue you are experiencing?

NOTE: We really don't make any changes to BCrypt directly as that code is copied (with permission) from mindrot. So please reproduce the issue through BCryptPasswordEncoder

[2018-10-03 20:44] rwinch commented on #4160
Rather than warning you would just look up the ports and map them:

[code]

[2018-10-03 20:51] rwinch commented on #5903
Thanks for the report. I don't see an issue looking at your code, nor am I able to reproduce the issue. Can you provide a complete sample that reproduces this?

[2018-10-03 20:54] rwinch commented on #5901
Thanks for the report. It is a bit confusing, but you are using the older version of Spring Security OAuth which means this issue belongs in https://github.com/spring-projects/spring-security-oauth/issues Can you please create a ticket there?

You can learn more about our OAuth Roadmap at https://spring.io/blog/2018/01/30/next-generation-oauth-2-0-support-with-spring-security

[2018-10-03 20:54] #5901 closed

[2018-10-03 20:57] rwinch commented on #4336
This sounds quite reasonable. Would someone be interested in submitting a PR?

[2018-10-03 22:05] dillius commented on #5903
Let's make this even weirder:

If I switch the reactor `.map { }` for `.flatMap { }`, it works.

I would have to guess this is some quality of the reactor processing; this fix was discussed as having something to do with the availability of the principal being dependent on a delegate.

[2018-10-03 22:05] #5903 closed

[2018-10-04 00:34] fifothekid opened #5916 "Changing the Order of the Spring Security WebFilter"
Changing the Order of the Spring Security WebFilter

I have an API Gateway implemented using Spring Cloud Gateway that uses Spring Security. Spring Security for WebFlux is implemented as a WebFilter right at the beginning of the filter chain. So after successful authentication the request would be forwarded to Spring Cloud Gateway's RoutePredicateHandlerMapping, which would try to deduce the desti

[2018-10-04 00:58] bcalmac commented on #4336
I'd be happy to.

[2018-10-04 03:07] mgumerov commented on #5901
Did you read the follow-up?

Hence I felt to place bugreport in both trackers, because there is something to do on both sides. Don't you agree with me that UserDetailsServiceDelegator's logic is initially flawed and it should not be used except probably in very specific conditions? Or do you think issues with UserDetailsServiceDelegator (which is not a part of Spring OAuth) also belong to that tra

[2018-10-04 05:12] vpavic opened #5917 "Consider (re)introducing ClientRegistrationRepository#findAll"
For starters, I'm aware that `ClientRegistrationRepository#getRegistrations` previously existed and was removed in #4582.

I believe the same functionality should be reintroduced since the framework silently forces `Iterable` API on `ClientRegistrationRepository` implementations by doing this in `DefaultLoginPageGeneratingFilter`:

https://github.com/spring-projects/spring-security/blob/fe080cadbe

[2018-10-04 07:12] aukhatov opened #5919 "Control logging level"
https://github.com/spring-projects/spring-security/blob/fe080cadbe96c8a9ceb0c30ca2ed630928e520e9/web/src/main/java/org/springframework/security/web/FilterChainProxy.java#L201

I think you should control logging level in configuration file.

[2018-10-04 09:12] laxmikant4644 commented on #4474
Thanks for the detailed response @jgrandja
Yes with #5717 , we should be good but wouldn't it be better to go with https://github.com/Microsoft/azure-spring-boot/pull/418

[2018-10-04 12:43] edeandrea commented on #5046
Hi @rwinch just an additional question on this. Within my organization we have pretty much standardized on the `hasPermission` expression. We have frameworks which sit on top of Spring Boot/Spring Security which implement `PermissionEvaluator` and then call out to a centralized entitlements service for checking the authorization (in the future we're moving that service to an OAuth2-compatible Auth

[2018-10-04 13:36] jgrandja commented on #4474
@laxmikant4644

Exposing fine-grained configuration, for example, `jwk-set.connect-timeout` and `jwk-set.read-timeout` is another option but it only addresses those 2 specific configurations for an HTTP Client.

A more flexible option is to allow the user to configure an HTTP Client (eg. `RestTemplate`) and supply it to `NimbusJwtDecoderJwkSupport`. This provides the user the ultimate flexibility

[2018-10-04 14:35] rwinch commented on #5916
It's not clear to me what you are having problems with. Can you expand your explanation with example request, what happens, and what you want to happen instead? A small demo would be very helpful in this scenario as well.

[2018-10-04 14:37] rwinch commented on #5901
I think the issue belongs where the problem is and we can go from there to determine what the proper solution is.

[2018-10-04 14:41] rwinch commented on #5046
It's going to be very challenging to make this compatible between a reactive stack and non reactive stack because you cannot have any blocking methods in a reactive stack. All of the PermissionEvaluator implementations are blocking since they don't return a Publisher. This means they cannot perform a blocking operation (i.e. cannot call a remote service).

[2018-10-04 14:44] rwinch commented on #5919
I don't understand the comment. Logging is controlled via the logging frameworks configuration. This is a very common pattern in Java code.

Can you please clarify your concern?

[2018-10-04 15:13] rwinch commented on #5917
We won't be doing this because it is not functionality that Spring Security needs. If a user needs that functionality, they need to provide their own implementation. We don't need to introduce paging logic (which requires sorting as well) either.

[2018-10-04 15:13] #5917 closed

[2018-10-04 15:18] edeandrea commented on #5046
Thank you @rwinch. Seems like the better way to go would be to deprecate our current use of `PermissionEvaluator` and build something internal to our framework at a base layer that takes a generic return type, then build another layer, one that returns `boolean` and another that returns `Mono<Boolean>`. Then let our starters wire in the correct one.

Then for our current servlet stack build an ada

[2018-10-04 15:56] edeandrea commented on #4841
Based on [your comment on this issue](https://github.com/spring-projects/spring-security/issues/5046#issuecomment-427045308) the fact that this ticket remains open does that mean it is not possible to do this? Do the methods referenced within the expression in the `@PreAuthorize` annotations still need to return `boolean` over `Mono<Boolean>`, therefore meaning you can't perform any blocking opera

[2018-10-04 16:19] edeandrea commented on #4841
I believe I've answered my own question and the answer is that I can not do what I posted above.

Seems what is missing in Spring Security are reactive versions of `ExpressionBasedPreInvocationAdvice` & `ExpressionBasedPostInvocationAdvice`.

Am I correct in that assessment?

[2018-10-04 17:07] rwinch commented on #4841
That and we need a reactive equivalent of `PrePostAdviceReactiveMethodInterceptor`

[2018-10-04 17:10] vpavic commented on #5917
Hmm, doesn't the `Iterable` approach from the snippet in issue description show exactly the opposite? That's very hacky IMO and I've listed two use cases which clearly show why it's limited.

Also does this mean you don't have any plans to provide a more capable implementation like `JdbcClientRegistrationRepository`? I was about to propose this and submit a PR. I'm asking this because such impleme

[2018-10-04 17:10] rwinch commented on #5046
You would extend DefaultWebSecurityExpressionHandler and override the createSecurityExpresssionRoot to create a root object that delegates hasPermission to another object

[2018-10-04 17:15] rwinch commented on #5917
So let's circle back with the use cases:

User's can implement any additional methods that they need. They are not limited to APIs that Spring Security defines. So this is not true. For example, a user can create a ClientRegistrationRepository that adds a findAll method with or without paging and leverage that.

Users are quite unlikely to leverage the default log in page. It does not match the re

[2018-10-04 17:17] edeandrea commented on #4841
Isn't `PrePostAdviceReactiveMethodInterceptor` already reactive? Seems like its reactive in the sense that its looking in the `ReactiveSecurityContextHolder` for the `Authentication`, but still calling the non-reactive `PreInvocationAuthorizationAdvice`/`PostInvocationAuthorizationAdvice`. The work `Reactive` in the class name is misleading :)

[2018-10-04 18:36] aukhatov commented on #5919
I mean, why do you check debug level like this `if (logger.isDebugEnabled())` ?

[2018-10-04 19:36] nealeu commented on #5907
Hi Rob.

We're trying to manage hosting costs by avoiding having to increase memory, so that's what had me look at what large objects are being retained.  Anything that can be done to cut this down would be good.

I think that there is potential to improve memory, startup time and runtime performance by improving this area.

What do you think to having an option to whitelist the methods on Object

[2018-10-04 20:33] hauntingEcho commented on #4160
however, our user in this case did not specify that we could use port 8443, and we'd like to minimize impact to ports other than the one the user has specified.  Admittedly my example messages could use some improvement (mentioning which additional port has been claimed and why)

[2018-10-04 20:48] bcalmac commented on #4336
Actually, `CsrfFilter` does log on DEBUG:

[code]
If there's no intention to include the message in the response, my problem could have been solved by paying more attention to the DEBUG logs.

[2018-10-04 22:11] jzheaux opened #5920 "UnboundIdContainer should support a random port"
UnboundId's in-memory directory server already supports a random port by setting the port to 0.

`UnboundIdContainer`, however, does not update its port to whatever is selected by `InMemoryDirectoryServer`.

This could be easily fixed by simply asking `InMemoryDirectoryServer` for its port after it has started up:

[code]

[2018-10-04 22:25] rwinch opened #5921 "Clean Up Getting Spring Security Reference"
### Summary
Polish the Getting Spring Security Reference

[2018-10-04 22:27] #5921 closed

[2018-10-05 06:28] zoosm3 commented on #5450
Understood, thank you.

[2018-10-05 06:28] #5450 closed

[2018-10-05 12:03] arjundevrana opened #5923 "Oauth controller not work with para meeter"
public String index(Model model,
						@RegisteredOAuth2AuthorizedClient OAuth2AuthorizedClient authorizedClient,
						@AuthenticationPrincipal OAuth2User oauth2User)

This controller not call with para meeter @RegisteredOAuth2AuthorizedClient OAuth2AuthorizedClient authorizedClient,
						@AuthenticationPrincipal OAuth2User oauth2User

[2018-10-05 12:46] jgrandja commented on #5923
@arjundevrana It's not clear to me the issue you are having. Can you please provide more detail?

[2018-10-05 19:50] fifothekid commented on #5916
Spring Security for WebFlux is implemented as a WebFilter which is executed almost as soon as a request is received. I have implemented custom authentication converter and authentication manager which would extract some variables from the header and URL and use them for authentication. This is working without any problem.
Now I needed to add another variable taken from RoutePredicateRouteMapping b

[2018-10-05 21:49] #5912 closed

[2018-10-06 03:32] rwinch commented on #5919
It's a [Code Guard](https://commons.apache.org/proper/commons-logging/guide.html#Code_Guards) to prevent unnecessarily evaluating the creation of the String contained within the if statement that is passed to the logger.

[2018-10-06 03:35] rwinch commented on #5919
I'm going to mark this question as closed. If you believe it is not answered, then please reopen or create a new ticket

[2018-10-06 03:35] #5919 closed

[2018-10-06 09:51] vpavic commented on #5917
Of course users are not limited to Spring Security APIs, and that they can provide their own implementations, that's not the point. I'd expect from a framework to support incremental development (which would also IMO be in the spirit of Spring), and not require you to provide your own implementations for multiple components at once by silently forcing some API (in this case `Iterable`).

Actually

[2018-10-06 21:39] rwinch commented on #4160
Closing this since Spring Security has no idea what your HTTP Port or HTTPS Ports are. Users must configure this themselves.

[2018-10-06 21:39] #4160 closed

[2018-10-06 21:42] rwinch commented on #5917
Even though I would find it unlikely order for most people to implement things, this is a valuable point. Can you create a ticket for making it more obvious that this is the contract?

[2018-10-06 21:46] rwinch commented on #4336
We don't want to include the original exception in the error response as this has caused issues with security scanners because it reflects the HTTP request in the response. The scanner gets upset because it is worried that the HTML response won't be properly encoded.

[2018-10-06 22:35] bcalmac commented on #4336
Makes sense.

While here, do you still want a PR for exposing the exception under `javax.servlet.error.exception`? In the case of `AccessDeniedHandlerImpl` it makes sense, because the existing code is already exposing it under a non-standard attribute. However, the other 5 occurrences are either in `AuthenticationEntryPoint#commence` or just after the exception is logged, so I don't think it's nee

[2018-10-07 20:05] stenbek commented on #3179
Is there any progress on this issue?

[2018-10-08 07:37] zcwang3 commented on #5839
@jgrandja I can have a try to fix this issue.
Could you please help to share the information you mentioned?
And which location is suggested for configuration of maxIssuedAt?

[2018-10-08 08:57] nkragel opened #5926 "NimbusReactiveJwtDecoder has hardcoded RS256 algorithm."
### Summary

`org.springframework.security.oauth2.jwt.NimbusReactiveJwtDecoder` in `org.springframework.security:spring-security-oauth2-jose` has hardcoded RS256 algorithm that is not useful.

### Expected Behavior

NimbusReactiveJwtDecoder must have possibility to set custom algorithm, like RS512, etc.

### Version

5.1.0.RELEASE

[2018-10-08 09:45] jinqinghua commented on #5760
@matthewbluezyoncom I use jdk8 and spring boot 2.1.0 M4 (spring security 5.1.0) it does not work! which your env and version?

[2018-10-08 09:46] jinqinghua commented on #5760
@mlevkovsky  Your PR codes not in master branch, which spring security version will include your codes?

[2018-10-08 21:38] vpavic opened #5927 "Document default login page requires ClientRegistrationRepository to implement Iterable"
See #5917 for background.

[2018-10-08 21:39] vpavic commented on #5917
I've opened #5927.

[2018-10-09 09:24] heruan opened #5929 "Use more specific LdapAuthority in DefaultLdapAuthoritiesPopulator"
### Summary
When using `DefaultLdapAuthoritiesPopulator`, the set of `GrantedAuthorities` contains instances of `SimpleGrantedAuthority` while I would expect instances of `LdapAuthority`; as it is now, I cannot discriminate LDAP authorities from others.

`NestedLdapAuthoritiesPopulator` already uses the more specific `LdapAuthority`.

### Actual Behavior

At [DefaultLdapAuthoritiesPopulator.java#L

[2018-10-09 20:58] jgrandja opened #5930 "Replace OidcTokenValidator with OAuth2TokenValidator implementation"
We should extract the logic in `OidcTokenValidator.validateIdToken()` into a new implementation of `OAuth2TokenValidator` named `OidcIdTokenValidator`.

The `OidcIdTokenValidator` instance would than be composed in the required `JwtDecoder`, for example, `NimbusJwtDecoderJwkSupport` and `NimbusReactiveJwtDecoder`.

The classes that would need to be changed are `OidcAuthorizationCodeAuthenticationP

[2018-10-09 21:14] jgrandja commented on #5839
@zcwang3 There are 2 issues that will address this #5930 and #5717.

I started on #5717 but ran into a design issue so it didn't make it into 5.1.
I'll get back to this one soon.

What are your thoughts on working on #5930?

[2018-10-10 03:53] ankurpathak opened #5931 "Correct Way To Parse Request Body To Json IN Web Filter To Make Authentication(In CustomAuthenticationConverter) Reactively"
Inside ServerFormLoginAuthenticationConverter in ReactiveWebSecurity we convert ServerWebExchange
to Authentication by using method getFormData().
But What If I send my username and password as JSON like:
{
      "username": "ankurpathak@live.in",
      "password" : "password"
}

What is the correct way to parse this request body in JSON to Authentication If I write Custom AuthenticationConverter.

[2018-10-10 06:45] ankurpathak commented on #5931
I cam across this file in Spring Framework source code:
https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/test/java/org/springframework/http/codec/json/Jackson2JsonDecoderTests.java
And have done this way:
public class ServerRestLoginAuthenticationConverter implements Function<ServerWebExchange, Mono<Authentication>> {

    public ServerRestLoginAuthenticationConverter

[2018-10-10 08:58] Macrame opened #5932 "Can not start spring application with webflux and websocket for ObjectPostProcessor is needed."
### Summary
\***************************
APPLICATION FAILED TO START
\***************************

Description:

A component required a bean of type 'org.springframework.security.config.annotation.ObjectPostProcessor' that could not be found.

Action:

Consider defining a bean of type 'org.springframework.security.config.annotation.ObjectPostProcessor' in your configuration.

### Actual Behavior

[2018-10-10 09:21] nightswimmings commented on #3743
I am not sure this is a good idea... Since filter() is an intermediate operation you are returning a new stream. How do we close the original one?

[2018-10-10 14:36] ankurpathak opened #5934 "Support For ReactiveAnonymousAuthentication In Reactive Web Security"
I coudn't find the support for Reactive Anonymous Authentication In Reactice Web Security.
We should add support for Reactive Annonymous Authentication and Reactive Remember
Me Authentication. This will make the security for Servlet Stack and Netty Stack similar.

[2018-10-10 15:48] rwinch commented on #5934
Thanks for the suggestion. Would you be interested in providing a PR for this?

[2018-10-10 15:51] rwinch commented on #5932
Thanks for the report. It almost sounds as though you are using the imperative (non-reactive) web socket support. Can you provide a complete stacktrace? Perhaps a small sample project?

[2018-10-10 15:53] rwinch commented on #5931
That looks to be correct. However, I would move the creation of `Jackson2JsonDecoder` into a member variable so it can be reused.

[2018-10-10 15:54] rwinch commented on #5931
I'm closing this as it seems to be answered.

In the future please ask questions on StackOverflow as this helps ensure the entire community can help answer the questions.

[2018-10-10 15:55] rwinch commented on #5927
Thanks for the report. Any chance you would be willing to submit a PR?

[2018-10-10 16:05] rwinch opened #5935 "Restructure Spring Security Reference"
### Summary

We should start our documentation rewrite by restructuring our documentation without rewriting anything. The general structure is:

* Introduction - stuff that applies to imperative and reactive
* Imperative
  * Hello Security
  * Authentication
  * Authorization
  * OAuth - since it covers both authentication and authorization
  * Integration with Libraries
* Reactive
  * Hello React

[2018-10-10 16:35] ankurpathak commented on #5934
Sure I will work on PR but I need some clues from you before that:
In Servlet Based Security we have AbstractAuthenticationFilter and
1. AnonymousAuthenticationFilter extends it
2. RemembeMeAuthenticationFilter also extend it
And then we plug in these filters into filter chain

But In FluxBasedSecurity we don't have equivalent of AbstractAuthenticationFilter. We have one
AuthenticationWebFilter an

[2018-10-10 17:01] rwinch commented on #5934
I think it just becomes a new WebFilter that is placed after AuthenticationWebFilter and populates AnonymousAuthenticationToken if the Authentication is empty. There is no need to force it into using a `ReactiveAuthenticationManager` since we are not really authenticating anonymous users.

[2018-10-10 17:11] rwinch commented on #4841
You are right but it would need to accept the reactive advice.

Modify the existing one, deprecate the existing constructor (modify it to just adapt to use the reactive APIs to simplify the code), add a new constructor w/ reactive equivalents

I'd love a PR for this.

[2018-10-10 17:20] rwinch commented on #5916
Being unfamiliar with RoutePredicateHandlerMapping, I'm having trouble understand what your goal is. Can you provide a sample?

[2018-10-10 17:44] rwinch commented on #5907
I don't think we can ignore methods on Object as this could potentially break existing applications. I think the ability to customize the cache seems like the best option as it provides more flexibility and does not introduce the potential risk of removing security from existing users.

To do this I think we should create two new classes

* The first does what DelegatingMethodSecurityMetadataSourc

[2018-10-10 17:50] rwinch commented on #4336
If you want we could add a member variable for the attribute name in AccessDeniedHandlerImpl with the default being WebAttributes.ACCESS_DENIED_403. Users could then set it to a different value if they wish.

[2018-10-10 17:58] rwinch commented on #3179
I don't see this as a big enough gain to remove the dependency as a consistent exception from the different implementations is desirable. If users really want to remove the dependency it is a simple thing to implement themselves.

[2018-10-10 17:58] #3179 closed

[2018-10-10 18:17] rwinch commented on #5929
Thanks for the report. We cannot really make changes to the code as this is a breaking change.

Does NestedLdapAuthorityPopulator meet your needs? If not, we could consider creating a new implementation.

[2018-10-10 18:53] jzheaux opened #5937 "NimbusReactiveJwtDecoder should accept a Nimbus JWTProcessor"
The Nimbus JwtDecoders, both servlet and reactive, simplify Nimbus configuration by exposing some basic use cases like using a JWK Set Uri or by using a single public key.

Many scenarios are more complex than this, and Nimbus is a full-featured API that allows users to configure for these more complex scenarios.

#5648 proposes addressing this on the servlet side by introducing a constructor that

[2018-10-10 22:47] fifothekid commented on #5916
RoutePredicateHandlerMapping (https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/handler/RoutePredicateHandlerMapping.java) is an AbstractHandlerMapping (https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/servlet/handler/AbstractHandlerMapping.html) whose job is to call the

[2018-10-11 02:45] Macrame commented on #5932
Thanks for your response. I tried again and found that it works well while using dependency of 'org.springframework:spring-websocket' instead of 'org.springframework.boot:spring-boot-starter-websocket'. In deed, spring-boot-starter-websocket depends on 'org.springframework:spring-webmvc' to case this issue. We can exclude 'org.springframework:spring-webmvc' to avoid it.

I suggest that spring-boot

[2018-10-11 02:50] Macrame commented on #5932
Perhaps because in my gradle dependencies 'spring-boot-starter-websocket' appears before 'org.springframework:spring-webflux'. It works strangely if there are both spring-webmvc and spring-webflux in the classpath.

[2018-10-11 05:41] heruan commented on #5929
Well, I’ve already created my own implementation for this. I guess this should be fixed on the next major, where breaking changes are not an issue?

BTW this would hardly break anything, but I understand the policy.

[2018-10-11 12:45] ankurpathak commented on #5931
Yes you can. If I ask quetions on StackOverflow is it answered by Team @Pivotal.
I asked here because of @vpavic comment on this post, he explained this is the
right way to do it:
https://github.com/spring-projects/spring-session/issues/1215

[2018-10-11 13:45] rwinch commented on #5931
The benefit of asking on StackOverflow is that the entire community (including the Spring team) answers questions. Different Spring Projects have different policies. For example, the Spring Boot team is typically fairly strict about requiring StackOverflow for questions. Often I will answer questions, but we prefer it is asked on StackOverflow as it is easier for others to find and help.

[2018-10-11 13:45] #5931 closed

[2018-10-11 14:00] jzheaux commented on #5926
Thanks, @nkragel! This will be addressed in #5937.

[2018-10-11 14:00] #5926 closed

[2018-10-11 14:01] rwinch commented on #5932
Thanks for the additional details! Can you please create a sample and post this to spring-boot? They are in charge of the autoconfiguraiton and the starter poms. When you create that ticket, can you please provide a link here?

[2018-10-11 14:06] ankurpathak opened #5938 "Support For OAuth Login For Separate Api And UI Server"
Currently OAuth Login Support Works Only When We Have API AND UI Application packaged as
One Application. What if we havae separate API and UI Server? I mean we initiate login with
Vendor on UI Server and point the Redirect URI to API Server.  Something Similar to Flow mentioned
in this Grails plugin:
https://alvarosanchez.github.io/grails-spring-security-rest/2.0.0.RC1/docs/index.html#oauth

[2018-10-11 14:08] rwinch commented on #5916
Thanks. I'm really interested in a sample and detailed explanation of what you want it to do that illustrates your problem. At that point I would be more likely to come up with advice or figure out what needs to be done to make it easier (if necessary).

[2018-10-11 14:16] rwinch commented on #5929
I think it is still better to offer an alternative implementation so that if necessary we decide to remove the functionality we can properly deprecate  and eventually remove it. This allows a smoother migration than surprising users in a major release. Would you be interested in submitting a new implementation?

You might be surprised what breaks users :wink:

[2018-10-11 14:20] filiphr opened #5939 "Enable providing a different default encoding id for the PasswordEncoderFactories#createDelegatingPasswordEncoder"
### Summary

It would be good if we can pass a custom encoding id to the `PasswordEncoderFactories#createDelegatingPasswordEncoder`. This way we can use the defaults from Spring Security, but pick a default encoder.

### Actual Behavior
[code]

### Expected Behavior

[code]

### Version

5.0.7.RELEASE

[2018-10-11 15:04] jgrandja commented on #5938
@ankurpathak

The Authorization Request and subsequent Authorization Response must be processed by the same system. So the UI Server or the Grails system in the linked sequence diagram must process both - Authorization request/response.

You cannot have the UI Server trigger the Authorization Request and the API Server process the Authorization Response. How would the API server correlate the inco

[2018-10-11 15:19] rwinch commented on #5939
Thanks for the report!

We don't really want to provide options for modifications of the defaults as this will add lots of complexities for what is the default behavior. Additionally, you can do this by layering the `DelegatingPasswordEncoder`. For example:

[code]

Would you be interested in submitting a PR to update the Javadoc to include this information?

[2018-10-11 15:25] jgrandja opened #5940 "OAuth2AuthorizationRequest.additionalParameters should not contain registration_id"
When `DefaultOAuth2AuthorizationRequestResolver` creates an `OAuth2AuthorizationRequest` it saves the `clientRegistration.getRegistrationId()` as follows:

[code]

Then `OAuth2LoginAuthenticationFilter` retrieves the `registrationId` via `OAuth2AuthorizationRequest.additionalParameters()` in order to lookup the `ClientRegistration` using `ClientRegistrationRepository` during Authorization Response

[2018-10-11 15:29] ankurpathak commented on #5938
@jgrandja
1. API Server(api.example.com): The Grails Server IN Sequence Diagram is infact ApiServer I guess(Corect me If I am wrong)
2: UI Server(Angular or React)(example.com) : will be some arbitary server(Amazon S3 for website hosting, Github for website hosting) is just shown as browser in sequence diagram. Because whole UI will be loaded inbrowser in just one call to inex.html
3. We initaiste

[2018-10-11 15:44] ankurpathak commented on #5938
1. So Api Server(api.example.com) and UI sever(example.com) are separate in this case.
2. So this flow is compatible with Mobile applications even without using Web View in applications.
3. The flow in Spring Security 5 for OAuth Login with API(example.com/api) and UI(example.com) on One Server is not useful for Mobile Application without using web view.

[2018-10-11 16:34] heruan commented on #5929
Sure, I've already submitted 🙂

[2018-10-11 16:38] mlevkovsky commented on #5760
@jinqinghua i haven't had time to review the PR
for now you can use the solution above (creating a custom resolver) to get the the refresh token.

[2018-10-11 16:40] mlevkovsky commented on #5760
@jinqinghua here is an example

`@Component
public class GoogleOAuthResolver implements OAuth2AuthorizationRequestResolver {
	@Autowired
	private ClientRegistrationRepository clientRegistrationRepository;

	@Override
	public OAuth2AuthorizationRequest resolve(HttpServletRequest request) {
		OAuth2AuthorizationRequest authorizationRequest = new DefaultOAuth2AuthorizationRequestResolver(
				clientR

[2018-10-11 18:35] filiphr commented on #5939
Just curious why would it be complex if the proposed method is added? The default will still be there, there will just be an option to create one wit a different encoding id.

The example you wrote will actually work, but I wanted to avoid doing that (and didn't thought about it). The only caveat is that I would need to have 2 levels of indirection within the encoder.

Yes I can submit such PR. I

[2018-10-11 18:48] jzheaux opened #5942 "Ldap Integration Tests Should Run Independently"
Several of the `ldap` integration tests rely on a parent integration test to orchestrate their execution.

This is no longer necessary, as evidenced by `LdapUserDetailsManagerPasswordModifyTests` which stands up the appropriate LDAP container on its own.

Having them run independently will make local testing and bug fixes easier. It will also simplify the Gradle script, which currently must specif

[2018-10-11 19:02] jgrandja commented on #5938
@ankurpathak

Just so we're on the same page. The Grails Server in the sequence diagram is for the most part implemented by `oauth2Login()`. I say for the most part because there are a couple of steps in the sequence that are not handled. I find it a little confusing actually because it seems you are trying to combine the [Implicit](https://tools.ietf.org/html/rfc6749#section-4.2) and [Authorizati

[2018-10-11 20:05] edeandrea commented on #4841
Hi @rwinch I'm just about done but the last piece I'm stuck on is how to handle `@PreFilter`. The current `ExpressionBasedPreInvocationAdvice.findFIlterTarget` only supports pre-filtering things that are `Collection`s. This is because at the intercept point (the `MethodInvocation`) we have to actually mutate the parameter so that the mutated version is what gets passed as the method argument.

In

[2018-10-11 20:44] edeandrea commented on #4841
Little more investigating - I can do something I consider somewhat _dirty_ by doing something like

[code]

This would work in the case where the `Mono` or `Flux` was the only argument in the method signature - but it involves type checking that the `MethodInvocation` is an instance of `ProxyMethodInvocation`.

I'm still not sure how to handle the other case where the user used the `filterTarget`

[2018-10-11 22:05] fifothekid commented on #5916
So here is how I did it:

Goal: removing the WebFilter of Spring Security from the default HttpHandler, and inserting it between RoutePredicateRouteMapping and the FilteringWebHandler of Spring Cloud Gateway

Why: Because I need to know the Application ID while carrying on my customized authentication process. This Application ID is attached to the request by the RoutePredicateRouteMapping by matc

[2018-10-11 22:05] #5916 closed

[2018-10-12 01:33] ankurpathak commented on #5938
@jgrandja
No I am not looking for Implicit Grand Type. I am looking for Authrization Code Grand Type.
Main point is we have to do oauth2Login() in case we have UI(Angular or React) and API (Spring Boot)
hosted at two different domains(without making access token of oauth provider public).
Can we implement it with current support? If not I am looking for that extra support in oauth2Login()
because

[2018-10-12 01:46] jinqinghua commented on #5760
@mlevkovsky thanks a lot. your code works. but still has a question: when my application support google, facebook, github ... uses login, parameter "access_type=offline" will post to facebook, github's api server, this is **not necessary**, and may occur potential issue (if the parameter "access_type=offline" if facebook, github... return unexpected result).

I have following solutions, but ...
1.

[2018-10-12 01:48] ankurpathak opened #5943 "Support For Pluging In Custom Implementation Of SecurityContext"
Currently we have only one implementation of SecurityContext called SecurityContextImpl and it
stores only authentication. How can we plug in another implementation of SecurityContext may be
called ExtendedSecurityContextImpl which stores authentication and domain context??
@jgrandja Talks about in his talk  Architecture Deep Dive in Spring Security at Spring One
Conference between 17:00 to 18:00

[2018-10-12 02:34] steventong opened #5944 "How to authenticate user every time ?"
### Summary

How to authenticate user every time? I want user open /oauth/authorize then show login page every time instead of use last session to auto login.

I am set the client's auto approval to true, I am not have a approval page right now.

### Actual Behavior

I want to build a stateless user authentication server,  require user authorize every time, that is to say, I am going to show login

[2018-10-12 06:17] btkitsunedukam opened #5945 "Can not add the security headers on WebLogic 12c"
### Summary

We can not add the security headers (e.g. Cache-Controll) via the `DelegatingRequestMatcherHeaderWriter` with the `AntPathRequestMatcher` on WebLogic 12c.

The `AntPathRequestMatcher` use the `HttpServletRequest#getServletPath` to match the path, and that method return the JSP's path (forwarded by the `JstlView`) at the `HeaderWriterResponse#writeHeaders`.

### Actual Behavior

1. The

[2018-10-12 07:54] nealeu commented on #5907
Hi @rwinch,

That sounds a pretty good plan to me.

Cheers,
Neale

[2018-10-12 13:43] rwinch commented on #5907
@nealeu Any chance you would be interested in submitting a PR with the changes?

[2018-10-12 13:49] rwinch commented on #5945
This sounds everything is working as expected. The AntPathRequestMatcher uses the servletPath + pathInfo intentionally because otherwise there is no way for it to distinguish between two different servlets with the same path. For example, if you could create two servlets /spring and /struts and then have a mapping internally that is /foo/bar. If AntPathRequestMatcher ignored the servlet path there

[2018-10-12 13:49] rwinch commented on #5945
Closing as this sounds it is expected behavior and I provided the correction to the configuration. If you are still having problems, please reopen this issue

[2018-10-12 13:58] rwinch commented on #5916
Thanks for sharing your solution. I'm glad you got it figured out!

[2018-10-12 14:02] rwinch commented on #5944
Thanks for the report. I realize that this is a bit confusing, but the issue belongs at https://github.com/spring-projects/spring-security-oauth2 However, given this is more of a question, please post to StackOverflow where there are more people monitoring to help

[2018-10-12 14:03] rwinch commented on #5944
Closing due to the fact that this is about https://github.com/spring-projects/spring-security-oauth

[2018-10-12 14:03] #5944 closed

[2018-10-12 14:06] rwinch commented on #5943
If you set a different implementation on `SecurityContextHolder.setContext(SecurityContext)`, then it will be what is saved.

[2018-10-12 14:07] rwinch commented on #5943
I'm closing this as answered. If you have additional questions, please ask them on StackOverflow as this is preferred since more users monitor StackOverflow and you will likely get help faster

[2018-10-12 14:07] #5943 closed

[2018-10-12 14:12] rwinch commented on #4841
Can you point me to your work in progress with a test that I can run that illustrates the problem you are having?

[2018-10-12 14:19] rwinch commented on #5940
NOTE: To whom fixes this issue please check the reactive equivalent when this issue is resolved

[2018-10-12 14:21] rwinch commented on #5939
Because then someone will want to be able to modify something else about it. These all add up to little changes which can already be resolved in a simple way.

[2018-10-12 14:39] alexcibotari opened #5946 "Not able to connect Spring OAuth2 Authorization Server with Client"
Hello,

I use Spring Boot 2.1.0.M4
I have Authorization Server on port 9090 with next configuration :
AuthorizationServerConfiguration
[code]
and Client on 8080
application.yml
[code]
SecurityConfig
[code]
Steps
1) go to secure endpoint on Client App : localhost:8080/secure
2) Automatic redirect to Auth Server localhost:9090/login
3) put correct user and password
4) Automatic redirect back to Clie

[2018-10-12 15:07] jgrandja commented on #5946
@alexcibotari The reason you're getting the `[authorization_request_not_found]` error is because the Session Cookie is being overwritten. Since you're running the Authorization Server on http://localhost:9090 and the Client App on http://localhost:8080, the host names are the same so the Cookie from http://localhost:8080 is being overwritten with the Cookie assigned from http://localhost:9090. NOT

[2018-10-12 15:50] edeandrea commented on #4841
Hi @rwinch I've committed everything to the [`4841-reactive-method-security` branch in my local repo](https://github.com/edeandrea/spring-security/tree/4841-reactive-method-security), including new tests for all new functionality. The entire source tree builds to success. I have not yet raised a PR though as I wanted to get your feedback first.

If you take a look at [`ExpressionBasedReactivePreIn

[2018-10-12 21:42] #5915 closed

[2018-10-12 21:45] rwinch opened #5947 "Remove ServerWebExchangeReactorContextWebFilter when SPR-17213 Resolved"
### Summary
Remove ServerWebExchangeReactorContextWebFilter when [SPR-17213](https://jira.spring.io/browse/SPR-17213) Resolved.

We would also need to update the OAuth support to leverage the attribute name used by Spring Framework for setting the exchange.

[2018-10-12 21:48] rwinch opened #5948 "Update to Spring Framework 5.0.1.RELEASE"
### Summary

Update to Spring Framework 5.0.1.RELEASE

[2018-10-12 21:51] rwinch opened #5949 "Update to Spring Data Lovelace-SR1"
### Summary
Update to Spring Data Lovelace-SR1

[2018-10-12 21:52] rwinch opened #5950 "Update to Reactor Californium-SR1"
### Summary

Update to Reactor Californium-SR1

[2018-10-12 21:56] rwinch opened #5951 "Snapshot Tests against 5.+"
### Summary

Now that Spring Framework is GA we need to revert #5721

[2018-10-12 21:57] #5950 closed

[2018-10-12 21:57] #5951 closed

[2018-10-12 21:57] rwinch commented on #5896
Fixed in 7fcc47850fc2ced218dc99cc09593a6c70553f94

[2018-10-12 21:57] #5896 closed

[2018-10-12 23:32] #5832 closed

[2018-10-13 11:28] Macrame commented on #5932
[14810](https://github.com/spring-projects/spring-boot/issues/14810)
Sorry, I do not know how to link it. Is it ok?

[2018-10-14 20:29] rodrigorodrigues commented on #4874
Hi @rwinch,
I'm trying to migrate from 3 o 5 but completely lost with the configuration, could you show an example please?

Spring 3
`
    @Override
    protected void configure(AuthenticationManagerBuilder auth) throws Exception   {
        auth.userDetailsService(userDetailsService);
        auth.authenticationProvider(authenticationProvider());
    }

    @Bean
    public PasswordEncoder passwo

[2018-10-15 02:53] btkitsunedukam commented on #5945
@rwinch Thanks for the response and I have a bit question.

I executed the same application which have only one servlet "/" with above configuration on Tomcat 8.5 and WebLogic 12c.
And I got an expected response which has a Cache-Control header on the Tomcat because the `AntPathRequestMatcher#matches` returned `true`. The servletPath was the original request path("/foo/bar") at the `HeaderWriterRe

[2018-10-15 09:31] skapral opened #5952 "SpEL cannot be used on several <user> tag attributes"
### Summary

See [this](https://stackoverflow.com/questions/52781328/using-spel-for-non-string-xsboolean-attributes-in-spring-xml) Stackoverflow question.

[code]

I'm trying to make the user disabled by SpEL expression value in Spring XML config. Since the user's "disabled" attribute is [xs:boolean](https://github.com/spring-projects/spring-security/blob/26fcde6f8ee6e8e712d36bb4ddf15634bcd73033/c

[2018-10-15 10:54] garrit-schroeder opened #5953 "Obtain Users Password in Plain Text during authentication"
Hello,
i would like to get the users password in plain text just during authentication.
All passwords are hashed in the database with BCryptPasswordEncoder.class.
But i need the password in plain text so i can encode and decode other data with the users password.

Is there a good way?

[2018-10-15 12:59] jgrandja opened #5954 "Deprecate NimbusAuthorizationCodeTokenResponseClient"

[2018-10-15 13:02] #5954 closed

[2018-10-15 13:59] jgrandja commented on #5760
@jinqinghua

You can add additional parameters fairly easily using a delegation-based strategy for a custom `OAuth2AuthorizationRequestResolver`. The latest reference docs have been updated to demonstrate this - See [OAuth2AuthorizationRequestResolver](https://docs.spring.io/spring-security/site/docs/5.1.1.BUILD-SNAPSHOT/reference/htmlsingle/#oauth2Client-authorization-request-resolver).

Are you

[2018-10-15 14:17] jgrandja commented on #5938
@ankurpathak It looks to me that you need to make a change to your application architecture. Are you aware of the patterns [API Gateway](https://microservices.io/patterns/apigateway.html) or the variation [Backend for Front-End](https://samnewman.io/patterns/architectural/bff/) ?

For example, your UI Server would be your Gateway App (BFF) that would implement `oauth2Login` and could serve your An

[2018-10-15 14:18] jzheaux opened #5955 "SEC-3187: LdapUserDetailsManager password change with LDAP operation (RFC 3062)"
Backport of #3392

[2018-10-15 14:19] jzheaux opened #5956 "SEC-3187: LdapUserDetailsManager password change with LDAP operation (RFC 3062)"
Backport of #3392

[2018-10-15 14:37] #5949 closed

[2018-10-15 14:37] rwinch commented on #5948
Fixed via ad05c756de28403ff541196af94efcc6ee5a019e

[2018-10-15 14:37] #5948 closed

[2018-10-15 16:09] rwinch commented on #5570
Reopening so we can figure this out

[2018-10-15 16:41] rwinch opened #5957 "Update to GAE 1.9.66"
Update to GAE 1.9.66

[2018-10-15 16:41] rwinch opened #5958 "Update to Jackson 2.9.7"
Update to Jackson 2.9.7

[2018-10-15 16:41] rwinch opened #5959 "Update to htmlunit-driver 2.33.0"
Update to htmlunit-driver 2.33.0

[2018-10-15 16:41] rwinch opened #5960 "Update to Thymeleaf 3.0.10.RELEASE"
Update to Thymeleaf 3.0.10.RELEASE

[2018-10-15 16:42] #5957 closed

[2018-10-15 16:42] #5958 closed

[2018-10-15 16:42] #5959 closed

[2018-10-15 16:42] #5960 closed

[2018-10-15 16:48] Y-Aron opened #5961 "关于 使用自定义AccessDecisionManager的一些问题"
[code]

[2018-10-15 16:56] rwinch commented on #5902
Fixed via #5924

[2018-10-15 16:56] #5902 closed

[2018-10-15 18:24] #3392 closed, assigned to jzheaux

[2018-10-15 19:14] rwinch opened #5963 "Release 5.1.1"
### Summary
Release 5.1.1

[2018-10-15 19:16] rwinch opened #5964 "Update to Spring Boot 2.1.0.RC1"
### Summary
Update to Spring Boot 2.1.0.RC1

[2018-10-15 19:19] #5963 closed

[2018-10-15 19:51] rwinch opened #5965 "Update to Reactor Bismuth SR12"
Update to Reactor Bismuth SR12

[2018-10-15 19:51] rwinch opened #5966 "Update to Spring 5.0.10.RELEASE"
Update to Spring 5.0.10.RELEASE

[2018-10-15 19:51] rwinch opened #5967 "Update to Spring Data Kay SR11"
Update to Spring Data Kay SR11

[2018-10-15 19:51] rwinch opened #5968 "Update to Jackson 2.9.7"
Update to Jackson 2.9.7

[2018-10-15 19:51] rwinch opened #5969 "Update JAXB 2.3.0.1"
Update JAXB 2.3.0.1

[2018-10-15 19:51] rwinch opened #5970 "Update to Unboundid 4.0.8"
Update to Unboundid 4.0.8

[2018-10-15 19:52] rwinch opened #5971 "Update to htmlunit driver 2.33.0"
Update to htmlunit driver 2.33.0

[2018-10-15 19:52] rwinch opened #5972 "Update to Thymeleaf 3.0.10.RELEASE"
Update to Thymeleaf 3.0.10.RELEASE

[2018-10-15 19:54] #5965 closed

[2018-10-15 19:54] #5966 closed

[2018-10-15 19:54] #5967 closed

[2018-10-15 19:54] #5968 closed

[2018-10-15 19:54] #5969 closed

[2018-10-15 19:54] #5970 closed

[2018-10-15 19:54] #5971 closed

[2018-10-15 19:54] #5972 closed

[2018-10-15 19:55] rwinch opened #5973 "Release 5.0.9.RELEASE"
### Summary
Release 5.0.9.RELEASE

[2018-10-15 19:59] #5973 closed

[2018-10-15 21:05] carlspring commented on #3392
Thanks for fixing this @jzheaux ! In which version do you think this will be released and any idea when that will be? :)

[2018-10-15 21:51] dlesnef1 opened #5974 "WebClient client_credentials Question"
I have a question regarding the client credentials flow for OAuth 2. I will outline the question below, but a more detailed version I wrote can be found on [StackOverflow](https://stackoverflow.com/questions/52614683/spring-webclient-and-client-credentials-grant) (Apologies if linking to SO is not allowed).

I am trying to upgrade my Spring Security version to 5.1.0 and move from RestTemplate to W

[2018-10-16 01:42] rwinch opened #5975 "Update to Spring Boot 1.5.16.RELEASE"
Update to Spring Boot 1.5.16.RELEASE

[2018-10-16 01:42] rwinch opened #5976 "Update to Spring Data Ingalls SR16"
Update to Spring Data Ingalls SR16

[2018-10-16 01:42] rwinch opened #5977 "Update to Spring Session 1.3.3"
Update to Spring Session 1.3.3

[2018-10-16 01:43] #5975 closed

[2018-10-16 01:43] #5976 closed

[2018-10-16 01:43] #5977 closed

[2018-10-16 03:40] ankurpathak opened #5978 "Support For RequestedMeTokenResolver and RememberMeRequestedResolver"
Rember me authentication can be made more user friendly by using a strategey to write and read rmber me token instead of hard coded methods:
   1.  protected void setCookie(String[] tokens, int maxAge, HttpServletRequest request, HttpServletResponse response)
  2.   protected String extractRememberMeCookie(HttpServletRequest request)
It will be very similar to HttpSessionIdResolver and we can have

[2018-10-16 03:45] ankurpathak commented on #5938
@jgrandja You cleared a lot on the issue and I read about Spring Netflix Zull and using it in my project.
And Also I have merged both UI and API in one artifact by using mutti module project and still having
the live time reload feature on angular module.

[2018-10-16 03:45] #5938 closed

[2018-10-16 07:54] ankurpathak opened #5979 "Public Or Protected Getter For Private Fields In Classes Of Spring Security Which Are Extensible"
One Of the Main Theme Of Spring And Its Various projects is:
Closed For Modification and Open For Extension
But while working with Spring Security on many projects I have faced a issue of absense of Protected getter for Private Fields Of Spring Security Classes With Are Extensible.
For Example take the case of:
1. PersistentTokenBasedRememberMeServices
2. TokenBasedRememberMeServices
These classes

[2018-10-16 13:00] ankurpathak commented on #5943
@rwinch I already know that. I was looking for something different. SecurityContextPersistenceFilter
filter calls loadContext method on SecurityContextRepository. at line:
            SecurityContext contextBeforeChainExecution = this.repo.loadContext(holder);
 SecurityContextRepository call createEmptyContext() on SecurityContextHolder.
SecurityContextHolder calls getContext() on SecurityContextH

[2018-10-16 14:28] rwinch commented on #5943
filter calls loadContext method on SecurityContextRepository. at line:
SecurityContext contextBeforeChainExecution = this.repo.loadContext(holder);

It loads the `SecurityContext` that was saved. The `SecurityContext` that is saved is whatever is set on the `SecurityContextHolder.getContext()` contained previously and was saved using the `SecurityContextRepository. In short, if you invoke `Securit

[2018-10-16 15:03] jgrandja commented on #5938
@ankurpathak I'm glad I was able to help. Another project you might want to look at is [Spring Cloud Gateway](https://cloud.spring.io/spring-cloud-gateway/).

[2018-10-16 15:12] rwinch commented on #5934
I'd like to stick with one thing at a time. Let's focus this issue on anonymous support.

[2018-10-16 15:14] rwinch commented on #5979
Spring Security generally tries to encourage composition over inheritance. If you have a specific need, please describe that need (don't just say I want this to be protected but describe your end goal) and we will try and help you solve the problem.

[2018-10-16 15:17] rwinch commented on #5945
The request should not be modified when forwarding happens so the URL should stay the same. It sounds like a container issue to me. Can you put together a sample and instructions on how to run it in WebLogic (I haven't used WebLogic much) so I can take a look? With lots of things to do on my end, the easier you can make it for me, the faster I can take a look at this.

[2018-10-16 15:36] rwinch commented on #5974
Thanks for the question. I actually appreciate that you tried StackOverflow before you asked here since there are more people on StackOverflow that can help. So thank you for that.

Spring Security's Client Credentials support does not yet perform a refresh. See https://github.com/spring-projects/spring-security/issues/5893

Would you be interested in submitting a PR for this? If so, can you comme

[2018-10-16 15:36] rwinch commented on #5974
I'm closing this since it is a duplicate of https://github.com/spring-projects/spring-security/issues/5893

[2018-10-16 15:36] #5974 closed

[2018-10-16 15:41] rwinch commented on #4874
Yes first migrate to using `{salt}+password` and the new version of the `PasswordEncoder`. Once you have done that, upgrade to Security 5.

[2018-10-16 15:45] rwinch commented on #5953
I'm not sure this is a good idea since user's passwords are often quite weak. It is better to create a secure random key and use that instead.

You can validate the password at time of authentication. Then you can use the password that the user typed (plain text) instead of the one that was stored (hashed).

PS: Please post questions to StackOverflow where there are more people that can help answe

[2018-10-16 15:45] #5953 closed

[2018-10-16 15:45] rwinch commented on #5953
Closing as answered. If you have additional questions, please use StackOverflow

[2018-10-16 16:14] rwinch commented on #5932
Thanks that works.

I'm closing this issue as there is nothing we can do from the Spring Security side of things

[2018-10-16 16:14] #5932 closed

[2018-10-16 16:15] rwinch commented on #5952
Thanks for the report. Would you be interested in submitting a PR for this?

[2018-10-16 16:18] rwinch commented on #5961
I'm sorry but I don't understand the question. Can you please create a new ticket that provides more details. You can use the issue template (pre populates the issue) for guidance on what makes a good ticket.

[2018-10-16 16:18] #5961 closed

[2018-10-16 16:40] rwinch commented on #4841
Thanks for the look at the code. I may be easier to submit a PR so that feedback can be provided. However, I will provide feedback here this time:

* We do not want to make SimpleMethodInvocation mutable. This adds concerns around concurrency
* We don't want to remove tests that already exist (i.e. [EnableReactiveMethodSecurityTests](https://github.com/edeandrea/spring-security/commit/00d8b1a7a48e

[2018-10-16 16:43] rwinch commented on #5978
Thanks for the feedback. Going forward we generally recommend using Spring Session remember me support. For users that still need the old support overriding the methods should suffice as we don't want to introduce too many public APIs (especially on ones that we are moving away from).

[2018-10-16 16:43] #5978 closed

[2018-10-16 16:48] edeandrea commented on #4841
Thanks @rwinch for the feedback. I'll work in some of the changes and submit as a PR.

The tests that were removed don't really make sense for reactive types. Things like

[code]

when the return type is a `Mono` / `Flux` / `Publisher` don't make a whole lot of sense. Spring-el doesn't yet support lambda functions within expressions so calling methods on those types within an expression doesn't ma

[2018-10-16 16:49] ankurpathak commented on #5938
@jgrandja Thanks I will surely look at the Spring Cloud Gateway.

[2018-10-16 18:55] jzheaux opened #5981 "Update to Spring Build Conventions 0.0.19.RELEASE"
The new conventions Gradle plugin updates dependencies required for supporting JDK 10.

[2018-10-16 18:55] jzheaux commented on #5981
Related to https://github.com/spring-projects/spring-security/issues/5860

[2018-10-17 02:59] jinqinghua commented on #5760
@jgrandja Awesome! thanks a lot.

I share some enhancement:
My site support google, facebook, office365 account login,  they share the ```CustomAuthorizationRequestResolver``` and send additional parameters to all the third-party server.
[code]

[2018-10-17 03:17] zcwang3 commented on #5839
@jgrandja I am work overtime for my daily work and not have time to work on #5930 now.
May be I will try to pick it up later if I have time.

Thanks

[2018-10-17 07:05] ankurpathak opened #5983 "OAuth 2 Login Not Working With Linkedin"
I am using Spring Boot 2.0.6-RELAESE
And following configuration for OAuth 2:
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: @google.client-id@
            client-secret: @google.client-secret@
          facebook:
            client-id: @facebook.client-id@
            client-secret: @facebook.client-secret@
          linkedin:

[2018-10-17 07:55] skapral commented on #5952
@rwinch will try. Thanks.

[2018-10-17 09:10] wilkinsona opened #5984 "Review Unboundid major version compatibility, align if necessary, and ensure it's tested"
[This change](https://github.com/spring-projects/spring-security/commit/3df9ad1e8fc184e1086ae3756011e594484c9d08) that's in 4.2.x introduced a dependency on `com.unboundid:unboundid-ldapsdk:4.0.8`. This is somewhat at odds with Spring LDAP which currently uses 3.1.x of the same dependency. This is further complicated by Spring Boot 1.5 (which integrates with both Spring LDAP and Spring Security) h

[2018-10-17 11:39] ofir-popowski opened #5985 "Missing response body for 401 response in resource server"
When trying to access any protected endpoint without including an access token in the header, the response code is 401 (which is expected), but there's no response body, unlike older OAuth2 resource server.

The older versions of OAuth2 using `@EnableResourceServer` used to return 401 with the following body:

[code]

Now it just returns an empty string.

This is easily testable when adding the fo

[2018-10-17 13:06] jgrandja commented on #5983
@ankurpathak We are aware of this issue with LinkedIn and `oauth2Login()` in Spring Security 5.0.

As an FYI, the `token_type` parameter is required as per [spec](https://tools.ietf.org/html/rfc6749#section-5.1).

         REQUIRED.  The type of the token issued as described in
         Section 7.1.  Value is case insensitive.

In the recent 5.1 release, you are now able to customize the handling

[2018-10-17 13:06] #5983 closed

[2018-10-17 13:08] jgrandja commented on #5839
@zcwang3 No worries. I'll try to get to it soon as well. If you get to it before me please let me know. Thanks.

[2018-10-17 13:10] jgrandja commented on #5946
@alexcibotari Did my suggestion solution work? Please let me know so we can close this issue off. Thanks.

[2018-10-17 13:20] jgrandja commented on #5985
@ofir-popowski Thanks for the report. As defined in [OAuth 2.0 Authorization Framework: Bearer Token Usage](https://tools.ietf.org/html/rfc6750#section-3):

   credentials or does not contain an access token that enables access
   to the protected resource, the resource server MUST include the HTTP
   "WWW-Authenticate" response header field

The expected behaviour is to return the `WWW-Authentica

[2018-10-17 13:34] ofir-popowski commented on #5985
@jgrandja Both the previous and the new one return a `WWW-Authenticate` response header, but a bit differently:
old version: `WWW-Authenticate: Bearer realm="oauth2-resource", error="unauthorized", error_description="Full authentication is required to access this resource"`
new version: `WWW-Authenticate: Bearer`

[2018-10-17 14:06] vpavic commented on #5893
I don't think this behavior should be enabled by default since the OAuth 2.0 spec actually discourages the issuing/use of refresh tokens with client credentials grant - see https://tools.ietf.org/html/rfc6749#section-4.4.3.

This should probably be made as opt-in feature.

[2018-10-17 14:51] jgrandja commented on #5985
@ofir-popowski

I think this makes sense. @jzheaux What are your thoughts?

[2018-10-17 15:37] jgrandja commented on #5946
Ok sounds good.

[2018-10-17 15:37] #5946 closed

[2018-10-17 15:48] jgrandja opened #5987 "Remove address and phone scope from CommonOAuth2Provider.OKTA"

[2018-10-17 16:06] #5987 closed

[2018-10-17 16:09] dlesnef1 commented on #5893
@rwinch I think there was a misunderstanding of my original question.

My Authentication Server does not return a refresh_token, only the standard response outlined by https://tools.ietf.org/html/rfc6749#section-4.4.3.

What I am attempting to do is configure WebClient (make a Bean) such that it makes the access request to the Authentication Server under the hood and remembers the access_token. Th

[2018-10-17 16:42] sunflower-seed commented on #5770
Hopefully catched all occurencies and hopefully did all github !@!/$ right....

https://github.com/spring-projects/spring-security/pull/5988

[2018-10-17 19:36] nealeu commented on #5440
I've not seen your SO link, but to answer your questions.
- There are libraries for all common platforms (and some not so common ones). These can be found at https://jwt.io/
- There are many articles to be found on the relative merits of different server platforms.  If you are working on a large system with many team members, I think it's hard to find a stronger platform than Spring Boot.

Beyond

[2018-10-17 19:39] rwinch commented on #5952
Awesome! Let me know if you need any assistance. If you aren't aware...take a look at the [rnc files](https://github.com/spring-projects/spring-security/blob/5.1.1.RELEASE/config/src/main/resources/org/springframework/security/config/spring-security-5.1.rnc). You can generate the schema using `./gradlew rncToXsd`

[2018-10-17 19:41] rwinch commented on #5440
Closing this. As already mentioned, please post Questions to StackOverflow

[2018-10-17 19:41] #5440 closed

[2018-10-17 19:57] rwinch commented on #5770
Thanks for the PR I merged your PR (#5770) and this is fixed in master

[2018-10-17 19:57] #5770 closed

[2018-10-17 20:01] rwinch commented on #5893
@dlesnef1  You have described what I view this feature as doing. I have updated the title to make it more clear that it isn't using a refresh token. Any interest in submitting a PR for this?

[2018-10-17 20:03] #5981 closed

[2018-10-17 20:07] rwinch commented on #5860
We haven't fixed JDK 11 yet, so reopening

[2018-10-17 20:08] rwinch opened #5989 "Fix JDK 10 Build"
### Summary

Backport of #5982

[2018-10-17 20:09] rwinch commented on #5989
Fixed via cfc3c25304cc8281abd7cc74e73c1b512a872557 1eb56f46a57513c88c91791d5fe068d3a854b4ec 1eb56f46a57513c88c91791d5fe068d3a854b4ec

[2018-10-17 20:09] #5989 closed

[2018-10-17 20:15] rwinch opened #5990 "Fix IllegalStateException message in OAuth2ResourceServerConfigurer"
### Summary
Fix IllegalStateException message in OAuth2ResourceServerConfigurer

[2018-10-17 20:16] rwinch commented on #5990
Fixed via 41b7c74928fc95de7ce67b813c547de3af75f00c

[2018-10-17 20:16] #5990 closed

[2018-10-17 20:42] rwinch commented on #4841
It should support the non-reactive return type as it did before though.

[2018-10-17 21:05] jgrandja commented on #5839
@rwinch Yes, thanks for pointing that out. I renamed it to be more specific to ID Token validation.

[2018-10-18 01:56] dlesnef1 commented on #5893
Hey @rwinch  I will definitely give it a go. I read the [contributing guide](https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md) and peaked at some other PRs.

Any advice on getting started would be appreciated, but I will begin looking at the code soon.

[2018-10-18 04:44] ankurpathak commented on #5943
Well ya this is the right, elegant and awesome way of doing it. Thanks for
all your help.

[2018-10-18 04:45] ankurpathak commented on #5978
Can I provide a pull request for it. As I have alreday done this for my project.

[2018-10-18 04:52] ankurpathak commented on #5504
@rwinch
This issue is very old. Is is on the list to be added? Or remember me authentication is not considered
a legacy thing by Spring Security Team? Atleash we can have add the Plugin point for
 it in AuthenticationFilter and let the comunity kick in to provide the rest of support.  By Plugin point
I mean the same way as we have in AbstractAuthenticationProcessingFilter in case of Spring MVC.

[2018-10-18 04:54] ankurpathak commented on #5934
@rwinch Ya sure we can have this issue for Anonymous thing. But we already have very old issue for RememberMe Here at:
https://github.com/spring-projects/spring-security/issues/5504

[2018-10-18 05:10] ankurpathak commented on #5979
@rwinch By Using Composition we can surely extend most of Spring classes. But I was just putting one
Theme for future development of Spring Security. The idea is very clear if One Component is using
some property or Other Component then
1. If we can provide those component and property by dependecy injection.
2. Then we shold have the way to insert and access those components and property by depen

[2018-10-18 05:13] ankurpathak commented on #5979
@rwinch Take the case of RuntimeException in Java. It store message and cause. We make our custom
exceptions  by extending it or some by extending and composing it also. But we never declare
cause and message in extended exceptions. We just pass them to parent exception and have way to
acces them.

[2018-10-18 05:18] ankurpathak commented on #5983
@jgrandja I got an Idea about this. But I am doing multiple provider Google, Facebook and Linkedin.
How I will make sure it will kick in for only Linkedin and notfor other providers facbook and google which
are just working fine.

[2018-10-18 05:32] btkitsunedukam commented on #5945
@rwinch Thanks for co-operation!

I pushed sample app :
https://github.com/btkitsunedukam/HeaderSampleApp

Please install WebLogic and deploy it.

1. Install WebLogic.
  https://www.oracle.com/technetwork/middleware/weblogic/downloads/wls-for-dev-1703574.html

1. Open <WEBLOGIC_DOMAIN_HOME>/bin/setDomainEnv.sh and add
`-DANTLR_USE_DIRECT_CLASS_LOADING=true` to `JAVA_OPTIONS`.

1. Start weblogic se

[2018-10-18 14:51] rwinch commented on #5978
I'm not sure what you are wanting to provide a PR for. I do not want a new API for a strategy to write/read remember me tokens as it increases the number of APIs in security which means more complexity to understand for users and for us to maintain. This decision is emphasized by the fact that we don't typically recommend old style remember me support since Spring Session offloads sessions already

[2018-10-18 14:57] rwinch commented on #5893
You will want to update it in the following locations:

* https://github.com/spring-projects/spring-security/blob/5.1.1.RELEASE/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServerOAuth2AuthorizedClientExchangeFilterFunction.java#L232

* https://github.com/spring-projects/spring-security/blob/5.1.1.RELEASE/oauth2/oauth2-client/src/main/j

[2018-10-18 15:05] rwinch commented on #5504
Sorry for the lack of response. With the ease of offloading sessions with things like Spring Session we generally just recommend using a longer session expiration and offloading the sessions into an external data store (i.e. Redis).

There is already a hook with the ServerAuthenticationSuccessHandler which can mark the session maxIdleTime to be an increased value. Does this meet your needs?

[2018-10-18 15:06] rwinch commented on #5934
@ankurpathak I responded there.

[2018-10-18 15:33] rwinch commented on #5945
I download and ran "Quick Installer intended for Oracle WebLogic Server and Oracle Coherence development only." and it did not have a file named `setDomainEnv.sh` nor did it have a file named `startWebLogic.sh`.

Any suggestions? Below are the first three levels of the directory structure (if I do the entire thing it is pretty enormous).

[code]

[2018-10-18 15:36] rwinch commented on #5945
Also here are the files that start with start and end with .sh

[code]

[2018-10-18 16:20] vandykej17 opened #5993 "spring-security breaks ResourceUrlEncodingFilter when using servlet context"
### Summary
When using a ResourceUrlEncodingFilter along with spring-security, my resources do not contain the hash as expected. If I comment out the spring-security config everything works as expected.

### Actual Behavior
No hash gets appended on my resource url.
![image](https://user-images.githubusercontent.com/6785860/47168627-fb85af00-d2c6-11e8-8630-f758f7d06a3a.png)

### Expected Behavior
W

[2018-10-18 16:32] jgrandja commented on #5983
@ankurpathak I put together a sample that has LinkedIn, Google and local [UAA](https://github.com/cloudfoundry/uaa).

See the [linkedin branch](https://github.com/jgrandja/oauth2login-demo/tree/linkedin)

[2018-10-18 17:35] vandykej17 commented on #5993
I have a fix for my application, but it is not the greatest idea. It at least works though.
https://github.com/vandykej17/spring-framework-issues/commit/3171a5ecee3ff650927d0fc12d83747b8999e186

[2018-10-18 17:46] pedrobacchini opened #5995 "broken link"
link is broken on the spring security documentation site

in this link: https://spring.io/projects/spring-security#learn

with the title: Spring Security Architecture

[2018-10-18 21:02] rwinch opened #5997 "We should fail the build if publishing fails"
### Summary
We should fail the build if publishing fails

[2018-10-18 21:13] rwinch opened #5998 "Update to spring-build-conventions:0.0.20.RELEASE"
### Summary
Update to spring-build-conventions:0.0.20.RELEASE

[2018-10-18 21:14] #5997 closed

[2018-10-18 21:14] #5998 closed

[2018-10-19 03:28] joshlong opened #6001 "Please support builder DSLs that leverage the availability of lambdas"
Spring Framework 5 assumes Java 8 and supports Kotlin, in addition to Groovy. All 3 languages are lambda capable. It would be nice if we could have a configuration DSL that supports context, something like

[code]

or even

[code]

[2018-10-19 05:07] btkitsunedukam commented on #5945
@rwinch Please install with this reference.
https://www.oracle.com/webfolder/technetwork/tutorials/obe/fmw/wls/12c/12_2_1/03-01-002-QuickInstaller/quickinstaller.html

[2018-10-19 14:51] jzheaux opened #6002 "LDAP client unit tests and samples should not depend on ApacheDSContainer"
ApacheDS does not have a GA release that is compatible with JDK 11.

Several `spring-security-ldap` unit tests and LDAP samples use `ApacheDSContainer` for convenience in setup. However, `UnboundIdContainer` is compatible with JDK 11, meaning that their dependency on `ApacheDSContainer` is not necessary.

[2018-10-19 14:52] jzheaux commented on #6002
Related to #5860

[2018-10-19 19:30] jgrandja opened #6003 "Support Resource Owner Password Credentials grant"
We need to provide support for the [Resource Owner Password Credentials Grant](https://tools.ietf.org/html/rfc6749#section-4.3).

This issue is divided into the following tasks.

### Servlet

- [x] [#31](https://github.com/spring-projects/spring-security-team-tasks/issues/31) Add password `OAuth2AccessTokenResponseClient`
- [x] [#32](https://github.com/spring-projects/spring-security-team-tasks/is

[2018-10-19 19:47] rwinch opened #6004 "Spring Security 5.2 Themes"
### Summary

The themes for Spring Security 5.2 are:

* OAuth2
  * Opaque token support
  * Expanding supported grant types
  * Supporting other key types
  * multi tenancy
* [SAML service provider MVP](https://github.com/spring-projects/spring-security/issues/6019)
* Documentation
* RSocket
* JDK 12 Compatibility
* Configuration improvements
  * Kotlin DSL https://github.com/spring-projects/sprin

[2018-10-19 20:04] rwinch commented on #5995
Thanks for the report. This is a duplicate of spring-io/sagan#844

[2018-10-19 20:04] #5995 closed

[2018-10-19 20:11] rwinch commented on #5979
Generally the security team prefers composition, so unless you have a specific problem that cannot be solved with the current code, then there will not be any changes made.

[2018-10-19 20:27] rwinch opened #6005 "Fix CONTRIBUTING.md formatting"
### Summary

Bakckport of #6000

[2018-10-19 20:27] rwinch commented on #6005
Fixed via 697b8cd73452bd8881aab879a16c7cda2e7de4c6

[2018-10-19 20:27] #6005 closed

[2018-10-19 20:31] rwinch opened #6006 "Remove unnecessary concatenation of sql in JdbcUserDetailsManager"
### Summary
Backport #5999

[2018-10-19 20:31] rwinch commented on #6006
Fixed via 3d618d78ac5d08873d0d63fc9f7618cbb08d2428

[2018-10-19 20:31] #6006 closed

[2018-10-19 21:21] rwinch commented on #5945
Thanks for the additional details. Spring Security is indeed behaving as expected.

Weblogic is changing the values of the HttpServletRequest after the forward which should not happen. When HeaderWriterResponse is created in HeaderWriterFilter the request matches `new AntPathRequestMatcher("/foo/bar/**")`. However, the same `HttpServletRequest` does not match later when it is checked by the `Heade

[2018-10-19 21:21] #5945 closed

[2018-10-21 09:29] rodrigorodrigues commented on #4874
Hi @rwinch ,

I have migrated the passwords and upgraded to Security 5 now got the following `IllegalArgumentException: Detected a Non-hex character at 1 or 2 position` at `DaoAuthenticationProvider line 86`, if you could help me on that I would really appreciate it, thanks

	    @Bean
	    public PasswordEncoder passwordEncoder() {
		PasswordEncoder defaultEncoder = new StandardPasswordEncoder();

[2018-10-21 15:15] bcalmac commented on #4336
Time is a good advisor. I've been away for a while and at this point I wouldn't make any change. The member variable is a good idea, but it seems to me like a one-off piece of functionality and I would wait for a request from someone that actually needs it.

On the other hand, if you think it's worth implementing it now then I can create a PR.

[2018-10-22 14:34] elefeint opened #6008 "Each WebSecurityConfigurerAdapter implementation triggers creation of a different filter chain"
### Summary
Multiple implementations of WebSecurityConfigurerAdapter coming from different libraries are not possible to combine in an annotation or java configuration-driven world; the first one always wins, and the rest are effectively invisible.

### Actual Behavior
For each implementations of WebSecurityConfigurerAdapter, a new filter chain gets created, then whichever one is ordered first is

[2018-10-22 14:41] rwinch commented on #4874
By invoking `passworEncoder.setDefaultPasswordEncoderForMatches(defaultEncoder);` any password that is not prefixed with a valid id will delegate to `StandardPasswordEncoder` with the entire password. So if you have something like `{not-mapped}asdfsadfsd` then `{not-mapped}asdfsadfsd` will be passed to `StandardPasswordEncoder`.

[2018-10-22 15:31] rwinch commented on #4874
If you have a password that is `{sha256}asdfsadfsd` then the entire thing is going to be passed into `StandardPasswordEncoder` which will fail with an error like that. Instead, you should add `StandardPasswordEncoder` in the encoders map and avoid using `setDefaultPasswordEncoderForMatches`. If that doesn't help, please create a question on StackOverflow that contains the encoded password value yo

[2018-10-22 16:19] #3320 closed

[2018-10-22 17:19] rwinch commented on #4336
Given the length of time this has behaved this way, I don't think too many people are desparate for this functionally. I'll close this. If someone feels this is necessary, they can create a new ticket.

Thanks for taking the time to contribute to Spring Security!

[2018-10-22 17:19] #4336 closed

[2018-10-22 17:37] rwinch commented on #6008
This is behaving as designed. If you want to apply defaults to it see https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#jc-custom-dsls

[2018-10-22 17:37] #6008 closed

[2018-10-22 18:16] mbhave opened #6009 "AuthenticationSuccessEvent not published for oauth2Login()"
On running the [OAuth2 Sample](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-samples/spring-boot-sample-oauth2-client/src/main/java/sample/oauth2/client/SampleOAuth2ClientApplication.java), there was no `AuthenticationSuccessEvent` since the `ProviderManager` seems to be using a `NullEventPublisher`.

[2018-10-22 19:08] ismarslomic commented on #6009
*FailureEvents are published though. So the issue is related to *SuccessEvents only

[2018-10-22 19:44] rodrigorodrigues commented on #4874
Hi @rwinch thanks for your help appreciated, I solved the issue using `new MessageDigestPasswordEncoder("SHA-256")` instead `new StandardPasswordEncoder()`.

[2018-10-22 19:59] jgrandja commented on #6009
An `AuthenticationManagerBuilder` `@Bean` is registered via  `AuthenticationConfiguration.authenticationManagerBuilder()`. It's also associated with the   `AuthenticationEventPublisher` registered in the context using `AuthenticationManagerBuilder.authenticationEventPublisher()`.

However, `WebSecurityConfigurerAdapter.setApplicationContext()` initializes 2 instances of `AuthenticationManagerBuild

[2018-10-22 20:07] ismarslomic commented on #6009
@jgrandja thanks! I will gladly retest and report back, when you have a fix. Any idea on how complex and time consuming it will be? Just so I know if I should wait for a fix, or go ahead and use something else for Audit logging.

[2018-10-22 20:46] rwinch commented on #5993
I was able to reproduce this without Spring Security by using a no-op `HttpServletRequestWrapper` in a `Filter`. You can find my changes at https://github.com/rwinch/spring-framework-issues/tree/SPR-12550-Security/SPR-12550

I'm going to reopen the original JIRA

[2018-10-22 20:46] #5993 closed

[2018-10-23 01:02] yoshikawaa commented on #5945
I think it's better to announce in the Spring Security Reference to be aware that "When using a JSP on a specific web application server, we need to specify the path of the JSP to forward rather than the request path".

https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#headers-delegatingrequestmatcherheaderwriter

Thanks.

[2018-10-23 15:36] jzheaux opened #6010 "Builder for JwtDecoder"
It would be nice to be able to specify validators, converters, etc. without needing to downcast to the implementation.

### Current Behavior

To configure any of these, I first use a factory method, and then I need to downcast to `NimbusJwtDecoder` to call its setters:

[code]

### Expected Behavior

For now, this ticket is just to get the conversation started. But something like `JwtDecoderBuilde

[2018-10-23 15:44] jzheaux opened #6011 "ldap-server XML directive should support UnboundIdContainer"
On the Java config side, the code selects an in-memory container based on dependencies on the classpath, choosing between `ApacheDSContainer` and `UnboundIdContainer`.

XML should have this support, too, in order to simplify transition, should a user need to switch to the unbound id container without needing to jump over to the Java DSL as well.

[2018-10-23 16:06] jzheaux commented on #5985
@ofir-popowski Good observation. Here are two things that may help:

First, you may already know that you can customize this behavior in the DSL by wiring your own `AuthenticationEntryPoint`. The existing one only adds error details if they are provided in the accompanying exception, but an implementation that has some kind of default error message wouldn't be tricky.

This is the same answer for

[2018-10-23 16:32] jzheaux commented on #5984
Yes, @rwinch, I think going back to a 3.x version is ideal.

@wilkinsona I did notice that `io.spring.platform:platform-bom` is managing that dependency up to 3.2.1. Would 3.2.1 be a better selection, given that?

[2018-10-23 17:09] jzheaux commented on #5706
Duplicate of https://github.com/spring-projects/spring-security/issues/5902

[2018-10-23 17:09] #5706 closed

[2018-10-23 18:15] rwinch commented on #5945
This is not necessary for most containers (as you pointed out it works in Tomcat). This is something that is broken in Weblogic and only a workaround.

[2018-10-23 18:15] jzheaux commented on #5668
@gburboz You are correct that this was deferred, given the limitations of `getParameter` and `getParameterValues`. Do introduce this, the code would need to parse the query string, I suppose.

Would you be interested in submitting a PR for this?

[2018-10-23 18:31] jzheaux commented on #5292
@tnwang since you are looking for legacy OAuth, then would you please add post this in [`spring-security-oauth2-boot`](https://github.com/spring-projects/spring-security-oauth2-boot/issues)? Thanks!

[2018-10-23 18:31] #5292 closed

[2018-10-23 18:33] jzheaux commented on #5274
Thanks, @blusky10!

This will be addressed with https://github.com/spring-projects/spring-security/issues/4330

[2018-10-23 18:33] #5274 closed

[2018-10-23 18:33] jzheaux commented on #5255
Thanks @pashazadeh!

This will be addressed in https://github.com/spring-projects/spring-security/issues/4330

[2018-10-23 18:33] #5255 closed

[2018-10-23 18:38] #6009 closed

[2018-10-23 18:40] jgrandja opened #6012 "AuthenticationSuccessEvent not published for oauth2Login()"
Backport #6009

[2018-10-23 18:42] jgrandja commented on #6012
Closed via 8971777

[2018-10-23 18:42] #6012 closed

[2018-10-23 18:46] jgrandja opened #6013 "AuthenticationSuccessEvent not published for oauth2Login()"
Backport #6009

[2018-10-23 18:51] jgrandja commented on #6013
Closed via d6da4d2

[2018-10-23 18:51] #6013 closed

[2018-10-23 18:56] jzheaux opened #6014 "Default claim set converter for NimbusJwtDecoder should parse scopes"
By default, `NimbusJwtDecoderJwkSupport` uses `MappedJwtClaimSetConverter.withDefaults()` to create the `Converter` used to normalize claims. It correctly only converts Jwt standard claims, which excludes scope.

The design of this API, however, gives us the flexibility to introduce an additional converter, for example `ScopeConverter`, which looks at a configurable scope claim.

Then, the Nimbus

[2018-10-23 18:56] jzheaux commented on #5241
Closing in favor of https://github.com/spring-projects/spring-security/issues/6014

[2018-10-23 18:56] #5241 closed

[2018-10-23 18:58] jgrandja commented on #6009
@ismarslomic The fix has been applied to master and backported to 5.1.2 and 5.0.10.

[2018-10-23 18:58] rwinch commented on #5837
Closing in favor of #5935

[2018-10-23 18:58] #5837 closed

[2018-10-23 18:58] rwinch commented on #5838
Closing in favor of #5935

[2018-10-23 18:58] #5838 closed

[2018-10-23 18:58] jzheaux opened #6015 "Reactive Nimbus Jwt Decoder should convert claims"
Add the reactive equivalent for converting claims on read, like the servlet-based version does with `MappedJwtClaimSetConverter`.

[2018-10-23 18:59] jzheaux commented on #6015
Related to #5223

[2018-10-23 19:05] jgrandja commented on #5292
@jzheaux I believe @tnwang is looking for a similar feature in the new OAuth support.

[2018-10-23 19:30] ismarslomic commented on #6009
I can confirm `AuthenticationSuccessEvent`s er being published, and I can also find `AUTHENTICATION_SUCCESS` events from Actuator endpoint `/auditevents`. Thanks a lot for quick fix!

[2018-10-23 19:44] jzheaux commented on #5292
@jgrandja In that case, do you think the best place for this ticket is [spring-boot](https://github.com/spring-projects/spring-boot/issues)?

[2018-10-23 19:51] jgrandja commented on #5292
@jzheaux Yes this should be logged in Spring Boot. I originally logged it here as we didn't have the `OAuth2TokenValidator` as of yet. Now that it's in 5.1, can you please log a ticket with Boot.

The one important thing to keep in mind is that the user should be able to configure 1..* `aud` claims.

[2018-10-23 23:14] mraible commented on #5540
@jgrandja Is it possible to inject the `ClientRegistration` into a RestController? It doesn't seem like it.

[2018-10-24 00:38] rwinch commented on #5292
I'm not sure that this is something we should do in boot. Adding every bell and whistle to a property config makes things complicated and yet often still doesn't support every use case. I'd prefer us to allow the user to expose it as a Bean. Most users do not need to configure the claim validation via properties. It's likely going to be fixed for a particular deployment.

[2018-10-24 00:55] rwinch commented on #5540
@mraible You can pass in the `ClientRegistrationRepository` and look it up.

[code]

Alternatively you could use `SpeL` to get the `ClientRegistration` itself.

[code]

[2018-10-24 01:49] ankurpathak commented on #5504
@rwinch You mean to say that the whole mechanish of RememberMe Authentication was develoved
for automatic login when we was lacking projects like Spring Session, and sessions was just confined to single node. So we can simulate long sessions in such envirinments.

[2018-10-24 02:13] ankurpathak opened #6017 "Facebook Login Failing in Spring Boot 2.1.0.RC1"
@jgrandja Whilte trying linkedin login sample provided by you,
https://github.com/spring-projects/spring-security/issues/5983
 My facebook login started failing. So i debugged it with minimum
configuration, and it fails in DefaultOAuth2UserService at line 108 with message:

[invalid_user_info_response] An error occurred while attempting to retrieve the UserInfo Resource: Could not extract response

[2018-10-24 02:29] ankurpathak commented on #5983
@jgrandja Linkedin now works like a champ. Thanks.

[2018-10-24 10:15] yn425611317 opened #6018 "How to customize the path of /oauth/token of oauth2"
Need to trigger your own verification logic before requesting /oauth/token

[2018-10-24 12:28] jgrandja commented on #5292
@rwinch has a good point here. We do need to ensure the property hierarchy doesn't get too complicated and overwhelming to the user. So on second thought, I think we should hold off on the Boot  property.

As @rwinch mentioned, it would be simple for the user to expose a bean using an implementation we provide and they simply supply the `aud` claim.

[2018-10-24 14:44] eddumelendez commented on #6011
Hi @jzheaux

I am looking into this issue. I am wondering which should be the approach to test it

* Create an example of that specific use case
* Add a submodule for `unboundid` to test it with a different classpath than `apacheds` and then merge it into `spring-security-config`

Thanks in advance

[2018-10-24 15:14] rwinch opened #6019 "SAML Service Provider MVP"
### Summary

* [ ] SAML Authentication Request
* [ ] SAML Authentication Response
* [ ] Spring Security SAML DSL
* [ ] Spring Boot Sample Autoconfig

[2018-10-24 15:49] jgrandja opened #6020 "Provide client adaptors for common OAuth 2.0 Providers"
There are OAuth 2.0 Providers that are not spec-compliant making it difficult for user's to integrate with using `oauth2Login()`.

For example, **LinkedIn** does not return the `token_type` parameter in the Token Response even though it is required as [per spec](https://tools.ietf.org/html/rfc6749#section-5.1). However, Spring Security 5.1 allows you to [customize the Token Response](https://docs.

[2018-10-24 18:33] chrylis commented on #5477
@rwinch The project in question is an OAuth2 authorization server.

[2018-10-24 19:57] pthorson commented on #5549
Yes, there is an existing issue related to the project now using Gradle and these guides mention of maven (and STS for that matter).

In the interim, I would suggest that the now 3 year old guides mention that they are outdated and also not reference the latest security release. The fact that these show up under current with refs to 5.1.1 RELEASE makes understanding spring security more difficult

[2018-10-24 20:20] jgrandja commented on #6017
@ankurpathak I also tested calling Facebook's UserInfo Endpoint using Postman and the `content-type` returned is `text/javascript; charset=UTF-8`. See screenshot below.

![user-info-facebook](https://user-images.githubusercontent.com/10884212/47458240-16649180-d7a7-11e8-9c7d-02928eab3200.png)

Thus facebook is returning correct Content-Type.

Can you double check the response headers in Postman be

[2018-10-24 21:30] rwinch commented on #5549
Thanks this is a duplicate of #5026 However, we are rewriting the entire reference in #2567

Closing in favor of #5026

[2018-10-24 21:30] #5549 closed

[2018-10-24 21:30] rwinch commented on #5477
Yes. You are correct. You would need to use the old support for an authorization server at this point.

[2018-10-24 21:38] rwinch commented on #5504
Yes. There are some features you may need in regards to marking when the user authenticated so you can perhaps perform custom authorization logic based on the amount of time that the last authentication occurred

[2018-10-25 02:15] ankurpathak commented on #6017
@jgrandja 1. Remove ;charset=UTF-8 in Accept=application/json;charset=UTF-8 and
send it as just Accept=application/json, you will get correct ContentType in respone.
2. Or Not send any Content-Type or Accept Header, you will get correct ContentType in
respone.
So can't we make RestTemplate not sent that UTF-8 part in Accept Header, its creating problem.

[2018-10-25 02:52] ankurpathak commented on #5504
Thanks Rob. I got your point.

[2018-10-25 04:41] kagof commented on #3743
I'd like to claim this, if nobody else has yet!

[2018-10-25 11:23] bentenzheng opened #6021 "redirectUrl dont work"
authorizedGrantTypes use authorization_code pattern，and save session in redis, when user login success，redirectUrl dont work. (redirectUrl get from user)
Can you help me with my doubts?
http://localhost:8080/oauth/authorize?
the paramters:
client_id=apaas&response_type=code&redirect_uri=http://139.199.65.149:8081/

[2018-10-25 12:21] jgrandja commented on #6021
@bentenzheng Have you looked at these samples:
- [OAuth 2.0 WebClient](https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2webclient) (uses `authorization_code`)
- [OAuth 2.0 Login](https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2login) (uses `authorization_code`)

My guess is that you haven't setup the correct `redirect_uri` with eit

[2018-10-25 12:21] #6021 closed

[2018-10-25 14:06] rwinch commented on #3743
Thanks @kagof It is all yours!

[2018-10-25 18:02] #6017 closed

[2018-10-25 18:06] jgrandja opened #6022 "Facebook Login Failing in Spring Boot 2.1.0.RC1"
Backport #6017

[2018-10-25 18:06] jgrandja commented on #6017
@ankurpathak Interesting behaviour with Facebook. Thanks for providing the info for the fix -
I removed the `charset` from `Accept`.
This is now in master and will get into 5.1.2

[2018-10-25 18:12] jgrandja commented on #6022
Closed via b87ff3c

[2018-10-25 18:12] #6022 closed

[2018-10-25 23:20] #5860 closed

[2018-10-26 04:29] ankurpathak commented on #6017
@jgrandja Thanks for fixing. How can I try it now?? 5.1.2 not available in maven central.

[2018-10-26 12:58] jgrandja commented on #6017
You can try it with [5.1.2.BUILD-SNAPSHOT](https://docs.spring.io/spring-security/site/docs/5.1.2.BUILD-SNAPSHOT/reference/htmlsingle/#spring-boot-with-maven).

You will need to configure the [Spring Snapshot Repository](https://docs.spring.io/spring-security/site/docs/5.1.2.BUILD-SNAPSHOT/reference/htmlsingle/#maven-repositories) in your POM.

[2018-10-26 14:29] jzheaux commented on #6011
Hi, @eddumelendez

First, yes, I like the idea of an example. I think that it would be compelling to enhance the existing ldap sample with instructions on how the user can modify the dependency list and see the sample use unboundid instead of apacheds.

Regarding tests, there really isn't a simple way yet to induce a selection between the two. I lean towards introducing a Gradle test task that wou

[2018-10-26 14:36] msteigenberger opened #6023 "WebFluxSecurityConfiguration can not be used in conjunction with WebMvcSecurityConfiguration"
### Summary
When configuring `WebFluxSecurityConfiguration` and `WebMvcSecurityConfiguration`, following problem would occour at runtime:
[code]

### Actual Behavior

### Expected Behavior
Both - WebFluxSecurity and WebMvcSecurity - can be used without interfering.

### Configuration

### Version

Occurred in `5.1.1.RELEASE`
Works in `5.0.6.RELEASE`

### Sample

[2018-10-26 16:39] suspring opened #6024 "ConditionalOnMissingBean"
cannot use ConditionalOnMissingBean at class, whit @Component and so on.
even if there is no instance, it will not be created.

eg.
`@Component
@ConditionalOnMissingBean(Fruit.class)
public class Pear implements Fruit{
}`

[2018-10-26 17:14] jzheaux commented on #6024
@suspring sorry you are having trouble

I'd recommend that you [post this to Stack Overflow](https://stackoverflow.com/questions/ask) with a `spring-boot` tag. Give a slightly more detailed description there, and you'll be on your way. You are also welcome to open a ticket with [the `spring-boot` team](https://github.com/spring-projects/spring-boot/issues) (this is the Security team).

[2018-10-26 17:14] #6024 closed

[2018-10-26 20:58] jzheaux opened #6025 "Remove PowerMock Dependency"
PowerMock does not have a GA release that is compatible with JDK 12, nor is one currently planned.

Let's convert tests that are currently using PowerMock so that we can move forward with JDK 12.

[2018-10-27 02:47] ankurpathak commented on #6017
I followed the steps provided in 5.1.2.BUILD-SNAPSHOT.by updating my pom of Spring Boot with:
<properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
        <java.version>11</java.version>
        <spring-security.version>5.1.2.BUILD-SNAPSHOT</spring-security.version>
    </propertie

[2018-10-28 06:37] kagof opened #6027 "resolvePermission in AclPermissionEvaluator could support String[] and Integer[] permissions"
### Summary

The [`AclPermissionEvaluator`](https://github.com/spring-projects/spring-security/blob/master/acl/src/main/java/org/springframework/security/acls/AclPermissionEvaluator.java) could support `String[]` or `Integer[]` for the permissions passed in. This would be helpful for me with a custom annotation that I am using.

If this seems like something that would be useful/wanted, I would be

[2018-10-28 14:09] unlimitedsola opened #6028 "WebSocketSession#getHandshakeInfo#getPrincipal returns empty Mono even the user has authenticated"
### Summary

I think this should be a regression issue, I found this when I upgraded my Spring Boot from 2.0.5 to 2.0.6.

When I subscribe `WebSocketSession#getHandshakeInfo#getPrincipal`,
it always returns an empty `Mono`
even the request has already authenticated.

### Actual Behavior

An empty `Mono` is returned.

### Expected Behavior

Should return a `Mono` that publishes exchange's principal

[2018-10-29 14:12] msteigenberger commented on #6023
Ok, understood that using Webflux and WebMVC in parallel in one application is not supported (was not intended to be supported). Hence closing this issue.

[2018-10-29 14:12] #6023 closed

[2018-10-30 05:15] gburboz commented on #5668
I have added PR to your fork https://github.com/jzheaux/spring-security-oauth2-resource-server/pull/59

[2018-10-30 12:33] jgrandja commented on #6017
@ankurpathak This is not a Spring Boot issue so you should not log the issue there. I'll take a look at this today and get back to you.

[2018-10-30 17:09] #3743 closed

[2018-10-30 19:37] rwinch commented on #6028
It seems like this is actually a reactor issue. Updating to Bisumuth-SR13 fixes it. See https://github.com/unlimitedsola/spring-security-regression-issue-empty-principal/pull/1

I'm working with @smaldini on why it fixes it.

[2018-10-31 03:31] rwinch commented on #6028
I have produced a version of the code that replicates the problem without Spring Security https://github.com/rwinch/spring-security-regression-issue-empty-principal/tree/no-security

[2018-10-31 10:42] nenaraab commented on #4814
Hi, i still have the issue to inject a `ConversionService` into the `AclClassIdUtils` class. The `AclClassIdUtils ` class itself can not be instantiated as it is package protected.

##### My problem:
- in my case, my `acl_object_identity.object_id_identity` can be of type `java.lang.Long` (no issue), `java.lang.String` and UUID.
- Therefore I've introduced the column `class_id_type` in table `acl_

[2018-10-31 14:12] viplavfauzdar opened #6031 "OAuth2 Bearer token not in compliance with the specs in spring security 5"
### Summary

It appears that with spring security 5 there has been a change wherein the bearer token CANNOT have the keyword "Bearer" before the token in the authorization header. This is not in compliance with the specifications as per RFC 6750, sec 2.1.

### Actual Behavior

invalid_token error if the bearer token has "Bearer" before the token in the Authorization header. The token is accepted i

[2018-10-31 14:13] unlimitedsola commented on #6028
Thanks for your investigation! going to update to Bisumuth-SR13 to workaround this.

[2018-10-31 14:15] rwinch commented on #6028
@unlimitedsola It appears that it might not actually fix the problem. It was pointed out to me that while the test passes, the logs still indicate that the principal is empty. At the moment it seems that a downgrade is necessary to fix it.

I'm still coordinating with the Reactor team, but in the meantime here is some work on the Reactor side to look into a fix https://github.com/reactor/reactor-n

[2018-10-31 14:18] rwinch commented on #6031
@viplavfauzdar Thanks for the report. I realize it is a bit confusing, but this issue is part of a separate project. Can you please create it at https://github.com/spring-projects/spring-security-oauth/issues

[2018-10-31 14:18] rwinch commented on #6031
Closing as invalid since this is part of another project

[2018-10-31 14:18] #6031 closed

[2018-10-31 14:24] #4814 closed

[2018-10-31 14:26] rwinch commented on #4814
@nenaraab Thanks for the bump. The PR is now merged into master. Can you give it a try? You will be able to find the SNAPSHOT in about 30 minutes in the https://repo.spring.io/libs-snapshot Maven repository

[2018-10-31 14:27] #5499 closed

[2018-10-31 14:43] jgrandja opened #6032 "POM's not published for spring-security-bom"
The POM's for [5.1.2.BUILD-SNAPSHOT](https://repo.spring.io/libs-snapshot/org/springframework/security/spring-security-bom/5.1.2.BUILD-SNAPSHOT/) and [5.2.0.BUILD-SNAPSHOT](https://repo.spring.io/libs-snapshot/org/springframework/security/spring-security-bom/5.2.0.BUILD-SNAPSHOT/) have not been published for `spring-security-bom`.

The `spring-build-conventions` plugin was recently updated to `0.0

[2018-10-31 14:50] jgrandja commented on #6017
@ankurpathak You can track the `spring-security-bom` issue #6032 for progress. After it's resolved you can re-try the snapshot build.

[2018-10-31 19:03] jzheaux opened #6033 "Security-related HTTP headers not written if response is committed during INCLUDE dispatch"
Backport of #5499

[2018-10-31 19:03] jzheaux commented on #6033
Fixed via 165cbcb723c2bcea38b775ec1d93ba7961fc28c2

[2018-10-31 19:03] #6033 closed

[2018-10-31 19:04] jzheaux opened #6034 "Security-related HTTP headers not written if response is committed during INCLUDE dispatch"
Backport of #5499

[2018-10-31 19:15] jzheaux commented on #6034
Fixed via 82083d9112e6e396d1bec15f063fdb01497b9e92

[2018-10-31 19:15] #6034 closed

[2018-11-01 03:50] gburboz commented on #5668
Updated *Expected Behavior* to not return values instead of throwing an exception since it is not part of specification

[2018-11-01 04:47] gburboz commented on #5668
@jzheaux I have raised new PR #6036 : Updated to comply with specification rfc6750#section-2

[2018-11-01 15:39] rwinch commented on #6028
Closing this as it was fixed in Reactor via https://github.com/reactor/reactor-netty/pull/489

[2018-11-01 15:39] #6028 closed

[2018-11-01 15:41] rwinch commented on #6028
@unlimitedsola Can you try the latest `Bisumuth-BUILD-SNAPSHOT` to confirm that this works for you and post the results on the above PR?

[2018-11-01 16:51] evpaassen opened #6037 "XSD documentation for csrf element's token-repository-ref attribute is misleading"
### Summary

The XML schema definition has an minor issue when it comes to describing the default for the `token-repository-ref` attribute of the `<csrf>` element. This has been the case for many versions now.

### Actual

The documentation reads:

### Expected

It should say:

You can see the `HttpSessionCsrfTokenRepository` is wrapped here: https://github.com/spring-projects/spring-security/blob

[2018-11-01 21:45] rwinch commented on #6037
Thanks for offering to submit a PR! Yes this is where to update it. You can then generate the xsd using `./gradlew spring-security-config:rncToXsd`

[2018-11-02 09:48] neuhalje commented on #4469
Here is my (even more hackish) approach to extract the path variables:

[code]

[2018-11-02 11:05] evpaassen commented on #6037
I created PR #6038 to address this issue.

[2018-11-04 03:34] gburboz opened #6041 "Calirfy spring-security/openid is not OpenID Connect"
In [spring-security/openid](/spring-projects/spring-security/tree/master/openid) add README.md file to clarify this component implements `Final OpenID 2.0 specifications (Obsolete)` from [openid.net specifications](https://openid.net/developers/specs/) which is not same as  `OpenID Connect specification`

[2018-11-04 04:10] gburboz opened #6042 "OAuth 2.0 vs OpenID Connect 1.0 compliance implementations"
Name of component [spring-security/oauth2](/spring-projects/spring-security/tree/master/oauth2) indicates it is for OAuth2 but it also implements some OpenID Connect specification rules. There is no clear indication when implementations in this component follows OAuth 2.0 specification vs OpenID Connect 1.0 specification compliance. This could cause OAuth 2.0 providers to fail when OpenID Connect

[2018-11-04 09:32] snicoll opened #6043 "Provide a TaskScheduler variant for DelegatingSecurityContextExecutor"
### Summary

Spring Security provides a `DelegatingSecurityContextRunnable` abstraction for `Runnable` that can be used for async and scheduled tasks. The primary contract for task scheduling is `TaskScheduler` and there's no such wrapper available at the moment.

### Actual Behavior

Users are configuring a `DelegatingSecurityContextScheduledExecutorService` for support of `@EnableScheduling` whi

[2018-11-04 18:29] abhishekhbd opened #6044 "Principle Object is null is controller After successfully login."
I am using spring boot 1.5X.

In my application I am using third party authorization provider (Authorization-Code flow) using JWT(like facebook). I am not using any userinfouri to get user details. I am getting everything from JWT.

After creating OAuth2Authentication Object property I am not able to get any secure pages.

Even I am unable to get Principles.

SecurityContextHolder.getContext().get

[2018-11-05 03:21] guanrongYang opened #6045 "Path Variables in Web Security Expressions and set /users/{userId:\\d+}"
###### `spring security 4.1.3.RELEASE` `intercept-url` `request-matcher="mvc"`

I try to use spring-security.xml to config my web security with `request-matche="mvc"`, but the pattern "/users/{userId:id}" dosen't work.

My config just look like the following code:
[code]
I expecte that the request for /users/12345 will match the pattern /users/{userId:\\d+} which will match 12345 to the userId, an

[2018-11-05 09:42] guanrongYang commented on #6045
I have solved the problem. I should use `/users/{userId:\d+}` or `/users/{userId:[0-9]+}` instead of using `/users/{userId:\\d+}`.

[2018-11-05 09:42] #6045 closed

[2018-11-05 13:47] adsanche opened #6046 "CsrfWebFilter not generating the CSRF token with Webflux"
### Summary

I have a Spring Webflux application secured by Spring Security with CSRF protection enabled by default. In this application, I can't get the CSRF token to be saved in the Websession nor added in the model.

### Actual Behavior

After some investigations, I noticed that the problem comes from Spring Security's `CsrfWebFilter.class`, in which there is the following method:

[code]
In th

[2018-11-05 13:56] nenaraab commented on #4814
@rwinch
Thanks a lot for your fast reaction! This fix solves the issue!

Minor suggestion:
I would suggest to initialize the `conversionService` as part of the `AclClassIdUtils`  with `GenericConversionService` as this would then fix the issue of requiring an converter for String to String conversions.

[2018-11-05 13:57] jgrandja commented on #6042
@gburboz

As per [spec](https://openid.net/specs/openid-connect-core-1_0.html):

OpenID Connect 1.0 is an extension of OAuth 2.0, hence the naming of the modules: `oauth2-core` and `oauth2-client`.

Both of those modules following class naming convention with prefix `Oidc*` for OIDC implementations as well sub-package naming `*.oidc.*`, eg. `org.springframework.security.oauth2.client.oidc.authenti

[2018-11-05 14:23] jgrandja commented on #6041
@gburboz Have you seen the reference doc for the [`spring-security-openid`](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#spring-security-openid) module and section [7.3.4 OpenID Support](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#ns-openid)? Both references provide links to the OpenID 2.0 specifications.

We typicall

[2018-11-05 14:23] #6041 closed

[2018-11-05 14:29] jgrandja commented on #6044
@abhishekhbd This issue should be logged with [Spring Security OAuth](https://github.com/spring-projects/spring-security-oauth/issues).

Also, please provide more details as it wasn't totally clear to me what issue you are having. A minimal sample the reproduces the issue would be very helpful.

[2018-11-05 14:29] #6044 closed

[2018-11-05 17:48] jzheaux commented on #6044
Also, I'll just add for @abhishekhbd's benefit that support questions are typically better suited for Stack Overflow. If you have posted a question there already and didn't get what you needed, then post to the project @jgrandja mentioned, with a link to the SO question.

The reason for this is so that folks who have the same problem as you can discover the answer more readily in the future.

[2018-11-05 17:49] nenaraab commented on #5508
Hi,

I face the same issue. As recommended in the [Spring.io documentation](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#postgresql) i've setup the acl tables in my PostgreSQL database, with column `acl_object_identity.object_id_identity` of type `varchar(36)`.

IMHO the `args` parameter in `queryForObject` method call is not properly specified.

It is `new Object[]{oi

[2018-11-06 02:17] gburboz commented on #6042
My apologies I didn't look deep enough into `org.springframework.security.oauth2.client.oidc` and how it switches between OAuth vs OIDC using scope parameter. I will try to further understand this package well.

[2018-11-06 02:25] jaimodha opened #6048 "on mixin sample"
### Summary

### Actual Behavior

### Expected Behavior

### Configuration

### Version

### Sample

[2018-11-06 02:26] #6048 closed, assigned to nobody

[2018-11-06 09:27] stephaneeybert opened #6049 "The pathMapping overloading is ignored in the OAuth Approval form rendering of the action attribute"
### Summary

The `pathMapping` is effective except for the action attribute of the `OAuth Approval` form rendered in the response to the `/auth/authorize` request.

### Actual Behavior

The action attribute of the `OAuth Approval` form rendered in the response to the `/auth/authorize` request ignores the overloading to `/auth/authorize` and displays the original one `/oauth/authorize`

### Expecte

[2018-11-06 10:31] jgrandja commented on #6049
@stephaneeybert Can you please log this issue with the [Spring Security OAuth](https://github.com/spring-projects/spring-security-oauth/issues) project.

Also, if you can provide a sample that reproduces the issue this would be very helpful.
Thanks.

[2018-11-06 10:31] #6049 closed

[2018-11-06 15:17] jzheaux commented on #4939
I'm taking the `org.springframework.security.config.annotation.web.configurers.Namespace*` tests.

[2018-11-06 17:51] pthorson commented on #4557
So 5.2 then or not at all? I have a large existing Spring MVC project with XML configuration that I need to add OAuth to today. Can I mix the namespace and Java config?

[2018-11-06 18:17] jgrandja commented on #4557
@pthorson This won't get into 5.2. Unless you'd be interested in submitting a PR? There are other higher priority items at the moment and there hasn't been much demand to add this support as of yet.

That being said, you should be able to mix namespace and Java config - see [Importing XML Configuration](https://docs.spring.io/spring-boot/docs/2.1.0.RELEASE/reference/htmlsingle/#using-boot-importin

[2018-11-06 18:35] sepanniemi commented on #5985
My observation is that currently authentication endpoint is not customizable, because web filter is initialized with a hard coded endpoint object in the jwt spec in autoconfigure. Setting a custom authorization endpoint via exceptionHandling of ServerHttpSecurity does not have the desired result due to that.

[2018-11-06 21:29] rwinch opened #6051 "WebClientReactiveClientCredentialsTokenResponseClient setWebClient"
### Summary

* Add a `public void setWebClient(WebClient webClient)` method to [WebClientReactiveClientCredentialsTokenResponseClient](https://github.com/spring-projects/spring-security/blob/5.1.1.RELEASE/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveClientCredentialsTokenResponseClient.java).
* Ensure that the value passed in cannot be nul

[2018-11-06 21:59] jer051 commented on #6051
I'd be interested in contributing.

[2018-11-06 23:52] jzheaux opened #6052 "Reactive OAuthResourceServerSpec should allow custom error handling"
Servlet-based Spring Security allows for custom error handling via the DSL:

[code]

It would be nice if Spring Security WebFlux Resource Server could do the same.

[2018-11-06 23:52] jzheaux commented on #5985
@sepanniemi The file you are linking to is for Spring Security WebFlux. You are correct that the error handling in WebFlux Resource Server is not yet customizable. However, it should work fine with servlet-based Spring Security.

Though, now that you mention it, I've [created a task](https://github.com/spring-projects/spring-security/issues/6052) to close that gap.

[2018-11-07 00:10] jzheaux commented on #6051
Sounds great, @jer051! The task is yours.

[2018-11-07 01:03] eddumelendez commented on #6011
@jzheaux my current implementation is based on classpath detection. What if used this issue to improve `LdapServerBeanDefinitionParser` and support `embedded-server` attribute which will be `APACHEDS` or `UNBOUNDID` but by default will be always `APACHEDS` to maintain the backward compatibility. WDYT?

[2018-11-07 05:07] sepanniemi commented on #5985
Yes, I have been doing with WebFlux myself and didn't notice this was servlet based issue. Thanks for creating the task.

[2018-11-07 06:40] sepanniemi commented on #6052
Should it be possible to customize the error handling via ExceptionHandlingSpec in ServerHttpSecurity?

It seems that currently defining access denied handler like this has an effect

[code]

but defining authentication entry point in a similar way does not have an effect.
[code]

and that's because AuthWebFilter is getting a hardcoded authentication entry point in the configuration?

https://gith

[2018-11-07 11:05] jgrandja opened #6053 "Support JWT as an Authorization Grant for client"
This feature will partially implement [JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants](https://tools.ietf.org/html/rfc7523).

[Section 2.1. Using JWTs as Authorization Grants](https://tools.ietf.org/html/rfc7523#section-2.1) will be the focus for this feature implementation.

   an access token when a client wishes to utilize an existing trust
   relation

[2018-11-07 11:36] jgrandja commented on #5373
@XYUU

Spring Security 5.1 provides these new extension points via `DefaultAuthorizationCodeTokenResponseClient`, as it allows you to customize the pre-processing of the Token Request and/or post-handling of the Token Response.

Please see the [reference](https://docs.spring.io/spring-security/site/docs/5.1.1.RELEASE/reference/htmlsingle/#oauth2Client-access-token-client) for details on extension

[2018-11-07 11:36] #5373 closed

[2018-11-07 13:36] jgrandja commented on #5370
@XYUU The additional parameters from `OAuth2AccessTokenResponse.getAdditionalParameters()` is now available via `OAuth2UserRequest.getAdditionalParameters()`.

As per your [comment](https://github.com/spring-projects/spring-security/issues/5370#issuecomment-393068350), you should now be able to access `taobao_user_id` and `taobao_user_nick` from `OAuth2UserRequest.getAdditionalParameters()`.

I'm

[2018-11-07 13:36] #5370 closed

[2018-11-07 13:49] rkalyankumar commented on #6010
I'd like to take this issue.

[2018-11-07 14:19] jgrandja commented on #5367
@XYUU There hasn't been any demand for allowing the customization of the Authorization Response parameters. And looking at Alipay's Authorization Response it contains the parameters `auth_code`, `app_id`, `scope`, `source`, which is not at all compliant to a standard [OAuth 2.0 Authorization Response](https://tools.ietf.org/html/rfc6749#section-4.1.2).

Based on all of this I am very reluctant to

[2018-11-07 14:19] #5367 closed

[2018-11-07 14:46] warrenbailey commented on #5893
Hi all, I've just hit this issue too. I'm using an UnAuthenticatedServerOAuth2AuthorizedClientRepository as I'm doing server to server Oauth 2 using a client credentials grant. That repository stores the access token in a hash map and continually reuses it, which is great until the token expires as there's no code in place to get a new token.

I can work around it by creating a wrapper for the aut

[2018-11-07 14:52] Daniel69 commented on #6051
I'd like to take the next ;)

[2018-11-07 14:56] raphaelDL commented on #6051
Same :)

[2018-11-07 17:12] rwinch commented on #4814
@nenaraab Thanks for the suggestion. Would you be interested in submitting a PR that includes a test?

[2018-11-07 18:12] sepanniemi commented on #5690
The same problem seems to exist if I try to use SecurityContext in RxJava2 flow.

[code]

Is there any way to access the current security context if using RxJava data types in WebFlux RestController?

[2018-11-07 19:08] jzheaux opened #6054 "Update Reactive Resource Server Documentation"
Related to #5912

Bring reactive Resource Server documentation into alignment with the servlet-based documentation.

[2018-11-07 19:09] #6054 closed

[2018-11-07 19:12] jzheaux opened #6055 "Update Reactive Resource Server Documentation"
Backport of https://github.com/spring-projects/spring-security/issues/6054

[2018-11-07 19:13] jzheaux commented on #6055
Fixed via 73022059d442b3a05a5dafce6ab9395cbf67a0b0

[2018-11-07 19:13] #6055 closed

[2018-11-07 20:26] edavedian opened #6056 "Long Application Startup Time"
### Summary
We are experiencing very long application startup times.  When I enable trace logging for package org.springframework, I see repeated logs as follows:

2018-11-07 20:07:27,257 TRACE [localhost-startStop-1 ''] org.springframework.security.access.prepost.PrePostAnnotationSecurityMetadataSource - Looking for Pre/Post annotations for method 'configureMessageConverters' on target class 'cla

[2018-11-07 20:39] edavedian commented on #6056
An excerpt of the XML configuration is as follows:
	<security:global-method-security
		secured-annotations="enabled" pre-post-annotations="enabled" order="200">
		<security:expression-handler ref="expressionHandler" />
	</security:global-method-security>

[2018-11-07 20:58] rwinch commented on #6056
@edavedian Thanks for the report. Can you provide what the startup time is when method security is enabled and when it is not?

[2018-11-07 22:16] pwheel commented on #4814
Thanks @rwinch for merging 👍
Interesting feedback @nenaraab. Thanks for confirming it works 😄  My use case was with UUIDs, so I missed this when I wrote it. Agree it would be slicker to default as you suggest. I'll wait to see your response to the above…

[2018-11-07 22:29] #6052 closed

[2018-11-07 22:41] rwinch commented on #5893
@warrenbailey Thanks for the offer to look at this. So I don't forget to respond...Let's give @dlesnef1 a week to respond. If you don't hear anything, I think it is safe for you to take the PR

[2018-11-07 23:55] chidveer commented on #6051
+1

[2018-11-08 01:33] William1104 commented on #5199
Hi,

This feature is removed from the 5.2.x milestone. May I know if any plan about this feature? Many thanks.

Thanks and regards,
William

[2018-11-08 11:09] simonbasle commented on #5690
Nope, the reactive metadata `Context` only works as long as the reactive sequence is made of Reactor operators

[2018-11-08 13:39] jgrandja commented on #5667
@William1104 Resource Owner Password Credentials Grant is scheduled for 5.2. See #6003

[2018-11-08 13:46] jgrandja commented on #5199
@William1104 We are planning on implementing this feature but it may be too early at the moment until the spec goes through the review process further.

Instead we replaced this feature with #6053. As an FYI, you can also _exchange_ a JWT token for another JWT using the JWT Bearer grant.

I'm curious, are you aware of any providers that have implemented OAuth 2.0 Token Exchange?

[2018-11-08 14:38] rustyx commented on #2955
`0` is not a good priority for `springSecurityFilterChain`, there are many cases when a filter must precede `springSecurityFilterChain`, for example: character encoding, CSRF, HttpSession, rate-limit, logging & exception handling.

However, something like `@Order(100000)` should be sufficient to finally fix this issue.

[2018-11-08 16:12] rwinch commented on #4469
If anyone is interested in submitting a PR I'd be happy to help get this merged in

[2018-11-08 16:14] #6037 closed

[2018-11-08 16:18] rwinch opened #6058 "Update xsd documentation to state LazyCsrfTokenRepository is used by default"
### Summary

Backport of #6038

[2018-11-08 16:18] rwinch commented on #6058
Fixed via 0af0ee3339554a47e704c94cfe42e25ea90638dd

[2018-11-08 16:18] #6058 closed

[2018-11-08 16:19] rwinch opened #6059 "Update xsd documentation to state LazyCsrfTokenRepository is used by default"
### Summary

Backport of #6038

[2018-11-08 16:20] rwinch commented on #6059
Fixed via 212ae6bddcb5acc3a4258210201012a73f19647e

[2018-11-08 16:20] #6059 closed

[2018-11-08 16:21] rwinch opened #6060 "Update xsd documentation to state LazyCsrfTokenRepository is used by default"
### Summary
Backport of #6038

[2018-11-08 16:22] rwinch commented on #6060
Fixed via a557a324c056db33bcf2171d2dffa3ae6b7c4692

[2018-11-08 16:22] #6060 closed

[2018-11-08 16:38] rwinch commented on #6020
@gburboz Thanks.

I don't expect we will guarantee compatibility with non-standard providers (especially if they make breaking changes). However, we should provide hooks that do allow for customization needed to work with certain providers with minimal effort (in many cases just configuration changes).

 If you have suggestion on providers, please let us know.

[2018-11-08 16:48] rwinch commented on #6043
Thanks I think we should provide a DelegatingSecurityContextTaskScheduler variant. I think this will be a good first timer issue.

The class `DelegatingSecurityContextTaskScheduler` should be created in the same package as [DelegatingSecurityContextSchedulingTaskExecutor](https://github.com/spring-projects/spring-security/blob/5.1.1.RELEASE/core/src/main/java/org/springframework/security/schedulin

[2018-11-08 17:05] avirekghatia commented on #6043
I am a first-timer taking this issue if that's okay and will create a PR. Thanks!

[2018-11-08 17:10] rwinch commented on #6046
Thanks for the report.

This is intentional behavior because we don't want to create the token (and thus a session) unless it is necessary.

If you are fine with creating the token eagerly, the recommended workaround is to use [ControllerAdvice](https://github.com/spring-projects/spring-security/blob/5.1.1.RELEASE/samples/boot/webflux-form/src/main/java/sample/CsrfControllerAdvice.java). Alternati

[2018-11-08 17:10] #6046 closed

[2018-11-08 17:12] rwinch commented on #5508
There is support for non int identifiers in Spring Security now. If someone wants to setup a sample to reproduce this then we can try and go from there.

[2018-11-08 17:14] rwinch commented on #6043
Thank you @avirekghatia! The issue is all yours. Let me know if you need any help working on this issue.

[2018-11-08 17:18] rwinch commented on #6051
Thanks to all those who are excited to contribute! I don't know of a good way of managing who gets dibs on first timer issues other than first come first serve. I think this is the fairest way to go about it. If you are on twitter I have been tweeting when a new first timer issue comes up. Alternatively, you can watch GitHub for the label to be added https://github.com/spring-projects/spring-secur

[2018-11-08 17:38] adsanche commented on #6046
Thanks for your reply.

I didn't manage to subscribe automatically via Thymeleaf, or even make the CsrfRequestDataValueProcessor handling it automatically. But anyway, it's OK for me to do it via a model attribute, thank you.

[2018-11-08 17:43] rwinch commented on #2955
I"m closing this as won't fix. The reason is that Order does not have any meaning on a Filter outside of Spring Boot, so it should (and is) be handled by Spring Boot.

[2018-11-08 17:43] #2955 closed

[2018-11-08 17:45] rwinch commented on #6046
@adsanche This is interesting that it isn't working. Can you put together a sample that reproduces the issue and post to a new ticket? The sample I linked to has tests and is working fine so there must be something strange happening.

[2018-11-08 18:10] rwinch commented on #6046
@adsanche

I put together a sample of the Thymeleaf integration working here https://github.com/rwinch/spring-security-sample/tree/gh-6046

Make sure you have the correct [dependencies](https://github.com/rwinch/spring-security-sample/blob/gh-6046/pom.xml#L35-L42) (both spring-boot-starter-thmeleaf and thymeleaf-extras-springsecurity5).

Make sure you use `th:action` for [your form](https://github

[2018-11-08 18:10] edavedian commented on #6056
@rwinch Thank you very much.  The startup time without method security wasn't reduced due to a lot of other repeated scanning:

[code]

[2018-11-08 18:15] sepanniemi commented on #5690
I was able to transfer the SecurityContext to RxJava flow using reactor Hooks and custom operator which copies the SecurityContext from reactor context to ThreadLocal as Single<SecurityContext> created from Mono<SecurityContext>. Needs some more testing, but looks promising for some of our existing services heavily using RxJava and soon migrating to SpringBoot2.

[2018-11-08 18:30] rwinch opened #6061 "Update webflux-form sample to use Thymeleaf Built in CSRF Support"
### Summary

Thymeleaf provides [automatic integration with Spring Security's CSRF](https://github.com/spring-projects/spring-security/issues/5867#issuecomment-423327852) support. We should update the [webflux-form](https://github.com/spring-projects/spring-security/tree/5.1.1.RELEASE/samples/boot/webflux-form) sample to demonstrate it.

* Update the dependencies to include both org.springframewor

[2018-11-08 18:33] Daniel69 commented on #6061
I'd like to take this one 😁

[2018-11-08 18:33] rwinch commented on #6061
Thanks @Daniel69 The issue is all yours! If you need any help, please don't hesitate to reach out to me

[2018-11-08 19:06] Daniel69 commented on #6061
Thank @rwinch, I'll start by reading https://github.com/spring-projects/spring-security/blob/master/CONTRIBUTING.md

[2018-11-08 20:07] rwinch commented on #6056
What was the startup time before and after? If it isn't significant, I don't think this is really a feature we want to worry about.

[2018-11-08 22:23] edavedian commented on #6056
It is about 6 minutes.

[2018-11-09 17:00] jzheaux commented on #6011
@eddumelendez I guess my concern with that is it would never be used outside the project. For example, a user would only need that setting if they themselves had `apacheds` and `unboundid` both on the classpath, which seems a bit unlikely.

That said, in light of the level of effort given the other two scenarios, yes, I think that it's reasonable to addition.

[2018-11-09 17:42] rwinch opened #6062 "InMemoryUserDetailsManager.updatePassword case-insenstive"
### Summary
Backport of #6039

[2018-11-09 17:43] rwinch commented on #6062
Fixed via 027099434

[2018-11-09 17:43] #6062 closed

[2018-11-09 17:43] rwinch opened #6063 "InMemoryUserDetailsManager.updatePassword case-insenstive"
### Summary
Backport of #6039

[2018-11-09 17:46] rwinch commented on #6063
Invalid the method was introduced later

[2018-11-09 17:46] #6063 closed

[2018-11-09 17:54] jzheaux opened #6064 "Update to spring-build-conventions:0.0.22.RELEASE"
This release comes with support for reserving ports for integration tests where and when a server is needed.

[2018-11-09 17:57] #6064 closed

[2018-11-09 18:07] ghillert opened #6065 "Docs: Fix Maven Property example `spring-security.version`"
### Summary

The closing tag for the Spring Security Maven property example in the docs is incorrect:

[code]
### Version

The affects version `MASTER`.

[2018-11-09 18:34] cmreigrut opened #6067 "Passing a expired token causes BOTH unsecured and secured endpoints to throw a 401 Unauthorized"
### Summary

Passing a expired token causes BOTH unsecured and secured endpoints to throw a 401 Unauthorized

### Actual Behavior

Create two endpoints secured by oauth, one secured and one unsecured.
With no token:
  Going to /secured throws a 401 Unauthorized (correct)
  Going to /unsecured returns the endpoint contents (correct)
With a valid token:
  Going to /secured returns the endpoint conte

[2018-11-09 19:22] ghillert opened #6068 "For CommonOAuth2Provider: Add support for UAA"
### Summary

In `CommonOAuth2Provider` we provide support for:

- Google
- GitHub
- Facebook
- Okta

I believe we should also explicitly support [Pivotal UAA](https://github.com/cloudfoundry/uaa) as it is one of very few viable production-ready OSS providers for OAuth2 / OpenID Connect (OIC) that can be run _on-premise_.

It seems to get some adoption in other OSS projects as well, e.g.

JHipster

[2018-11-09 20:07] Daniel69 commented on #6061
@rwinch I removed the CsrfControllerAdvice and added a dependency to org.thymeleaf.extras:thymeleaf-extras-springsecurity5:3.0.4.RELEASE because  'org.thymeleaf.extras:thymeleaf-extras-springsecurity' alone does not resolve, but two tests fail once I remove the Controller Advice (loginWhenInvalidUsernameThenError and loginAndLogout).
When I run the example alone after these changes and attempt to

[2018-11-09 20:30] jzheaux opened #6069 "Update to spring-build-conventions:0.0.22.RELEASE"
Backport of #6064

[2018-11-10 11:07] hfgbarrigas opened #6071 "java.lang.IllegalStateException: Only one connection receive subscriber allowed."
### Summary
Trying oauth2 client_credentials integration with webclient but getting the IllegalStateException.

### Configuration
Using a custom provider. Here's the configuration:

[code]

My web security is as follows:

[code]

Configuring webclient as follows:

[code]

Webclient usage:

[code]

Logs:

### Version
Spring version: 5.1.1.RELEASE
Reactor Netty version: 0.8.2.RELEASE
Reactor Core ve

[2018-11-10 15:48] jzheaux commented on #6067
@cmreigrut thanks for the report!

This is expected behavior. It's consistent with how HTTP Basic authentication works in Spring Security:

With no authentication:
Going to /secured throws a 401 Unauthorized
Going to /unsecured returns the endpoint contents
With valid authentication:
Going to /secured returns the endpoint contents
Going to /unsecured returns the endpoint contents
With invalid auth

[2018-11-10 15:48] #6067 closed

[2018-11-10 21:11] DuncanCasteleyn commented on #3275
This macro helped allot, thanks.

[2018-11-11 04:06] gburboz commented on #6020
The two examples of incompatible behavior from providers **LinkedIn** and **StackExchange/StackOverflow** are listed on issue #5657

[2018-11-12 08:08] pthorson commented on #4557
Understood. Not sure of appetite here for a PR. That being said, is OAuth 2.0 and Open ID Connect possible now without Spring Boot being used? Based on the matrix it looks like Spring Boot 1.5x was previously required.

[2018-11-12 16:33] jzheaux commented on #6069
Fixed with 2bc156ed1998e0c1f9f155e90f60efb9f2069d3d

[2018-11-12 16:33] #6069 closed

[2018-11-13 03:26] rwinch opened #6073 "JwtIssuerValidator should use URL.toExternalForm"
### Summary

There is a bug in `JwtIssuerValidator` because it uses `URL.equals` which is bad for two reasons:

* URL.equals is slow because it resolves the hostname From the [Javadoc](https://docs.oracle.com/javase/7/docs/api/java/net/URL.html#equals(java.lang.Object))

If the given object is not a URL then this method immediately returns false.

* URL.equals is inconsistent because the hostname

[2018-11-13 08:30] bsideup opened #6075 "ReactorContextTestExecutionListener should use named hooks"
NOTE: This is marked for first time contributors only. If you want the issue, please comment to claim it. If you need any help with this issue, just ask on the ticket and we will be glad to help.
### Summary

Currently, `ReactorContextTestExecutionListener` resets all previously set `onLastOperator` hooks:
https://github.com/spring-projects/spring-security/blob/dca3645850e082d845e17a6572af84aa44b9

[2018-11-13 10:42] dongmyo opened #6076 "fix typo in reference docs: not JacksonJacksonModules but SecurityJacksonModules"
### Summary

a typo error in spring security reference
not `JacksonJacksonModules` but `SecurityJacksonModules`

https://github.com/spring-projects/spring-security/blob/master/docs/manual/src/docs/asciidoc/_includes/servlet/architecture/jackson.adoc

### Actual Behavior

To use it, register the `JacksonJacksonModules.getModules(ClassLoader)` ...

### Expected Behavior

To use it, register the `Sec

[2018-11-13 14:27] jzheaux opened #6077 "JwtIssuerValidator should use URL.toExternalForm"
Backport of #6073

[2018-11-13 14:45] maxcoinage opened #6078 "CookieClearingLogoutHandler for different Paths"
### Summary

I would like to be able to utilize the [CookieClearingLogoutHandler](https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/authentication/logout/CookieClearingLogoutHandler.java) to remove cookies without a path set.   Example is we are using SSO to authenticate with internal OpenId connect server. Cookies are set without a p

[2018-11-13 14:56] jzheaux commented on #6076
@dongmyo, thanks for the report! Would you like to submit a PR with the correction?

[2018-11-13 15:27] #6077 closed, assigned to jzheaux

[2018-11-13 17:46] unlimitedsola commented on #6028
@rwinch sorry for late reply, I found that this issue is still reproducible in Spring Boot 2.1.0, which uses 0.8.x version of reactor-netty.

[2018-11-13 17:49] edavedian commented on #6056
@rwinch Very sorry for the delay.  The startup time with and without Spring Security's method security enabled was 6 minutes.  I will need to look into other scanning issues which is causing the startup delay startup.  But if I want to limit Spring Security's scanning, can I remove

[code]
and instead use

[code]

[2018-11-13 17:52] unlimitedsola commented on #6028
I've created a new branch `2.1.0` to prove: https://github.com/unlimitedsola/spring-security-regression-issue-empty-principal

[2018-11-13 19:08] rwinch commented on #6028
Thanks for the follow up @unlimitedsola

I don't expect that your branch would work. You need to use`ext['reactor-bom.version'] = 'Californium-BUILD-SNAPSHOT'`.

My branch works for me and on [Travis](https://travis-ci.com/rwinch/spring-security-regression-issue-empty-principal/builds/91259387).

Your branch using `ext['reactor-bom.version'] = 'Californium-BUILD-SNAPSHOT'` also works for me and [T

[2018-11-13 19:24] unlimitedsola commented on #6028
Thanks for your quick response, after running with `--refresh-dependencies`, the latest snapshot of reactor-netty worked for me. Sorry for disturb 😅

[2018-11-13 20:47] rwinch commented on #6028
@unlimitedsola No problem :smile:  I'm glad it is now working and thanks for following up so quickly

[2018-11-13 21:08] #6065 closed

[2018-11-13 21:11] rwinch opened #6081 "Fix Maven Property spring-security.version in reference"
### Summary
Backport of #6065

[2018-11-13 21:11] rwinch commented on #6081
Fixed via a461abcf32af54e042831c563afb10b0e49a0d30

[2018-11-13 21:11] #6081 closed

[2018-11-13 21:31] #6015 closed

[2018-11-13 21:44] rwinch opened #6082 "Update to Spring Boot 2.1.0.RELEASE"
### Summary

We need to update to Spring Boot 2.1.0.RELEASE This can be done by [updating gradle.properties](https://github.com/spring-projects/spring-security/blob/master/gradle.properties#L2)

[2018-11-13 21:45] raphaelDL commented on #6082
mine

[2018-11-13 21:45] rwinch commented on #6061
@Daniel69 Sorry for the delay getting back to you. The problem is that we aren't using Spring Boot 2.1.0.RELEASE yet. I created #6082 which will resolve this. Once it is updated to Boot 2.1.0.RELEASE you should be able to remove the version from `org.thymeleaf.extras:thymeleaf-extras-springsecurity5` too

[2018-11-13 21:58] DarrenForsythe opened #6083 "Failure to generate client credentials token with WebClient in test"
### Summary

I am writing an Autoconfiguration lib to centralize some security configuration such as user auth mapping, JWT Validation etc.

As part of this I'm trying to generate a JWT using my IDP provider, however it will always fail due to an exception in the in the HttpSessionOAuth2AuthorizedClientRepository as the HttpServletRequest is null.

I did ask the question on [StackoverFlow](https:/

[2018-11-13 22:37] rwinch commented on #6071
The problem seems that Spring Security is not handling a redirect properly. The redirect is happening when the request for a token is being submitted to http://dev.hold.co/as/oauth/token To fix it change your configuration to use https `token-uri: https://dev.hold.co/as/oauth/token`

I will investigate how to get a proper error message to the user. In the meantime, hopefully this helps you make so

[2018-11-13 23:11] raphaelDL commented on #6082
Here we go [Updated Spring Boot version from 2.1.0.M4 to 2.1.0.RELEASE]
(https://github.com/spring-projects/spring-security/pull/6084)

[2018-11-13 23:12] raphaelDL commented on #6082
[Updated Spring Boot version from 2.1.0.M4 to 2.1.0.RELEASE](https://github.com/spring-projects/spring-security/pull/6084)

[2018-11-13 23:13] #5099 closed

[2018-11-14 02:21] rwinch commented on #6071
The reason for the strange error message is [SPR-17482](https://jira.spring.io/browse/SPR-17482). If [you update](https://github.com/hfgbarrigas/oauth2client-webflux-error-sample/pull/1) to Spring Framework 5.1.3.BUILD-SNAPSHOT the error is now a 401.

[code]

This makes sense since the token was unable to be gotten. We should obviously improve our error message, but at least now all the pieces ma

[2018-11-14 04:19] ankurpathak commented on #6032
@jgrandja Any timeline for this issue to get resolved, as its a blocker in trying snapshot  5.1.2 and  5.2..

[2018-11-14 11:08] jgrandja commented on #6032
Resolved via 2bc156e and dca3645

[2018-11-14 11:08] #6032 closed

[2018-11-14 11:09] jgrandja commented on #6032
@ankurpathak This has been resolved for 5.1.2.BUILD-SNAPSHOT and 5.2.0.BUILD-SNAPSHOT.
Give it a try now.

[2018-11-14 15:16] ofir-popowski commented on #5985
Thank you very much for your detailed answer @jzheaux :). Seeing as that was specified by the spec, I will avoid trying to customize that header myself

[2018-11-14 16:23] adsanche commented on #6046
@rwinch I managed to make it work automatically based on your sample project.

I was actually missing the _thymeleaf-extras-springsecurity5_ dependency to trigger the addition of the CSRF parameter in the model.

This way, I still have to add my token explicitly in the request headers for the Ajax requests, but I can remove the hidden parameter from the forms and the model attribute in the control

[2018-11-14 16:45] rwinch commented on #6071
@hfgbarrigas Yes please do create a new ticket with these details. Thanks!

[2018-11-14 16:56] rwinch commented on #6082
Fixed via #6084

[2018-11-14 16:56] #6082 closed

[2018-11-14 16:57] rwinch opened #6086 "Update to Spring Boot 2.1.0.RELEASE"
### Summary

Backport of #6082

[2018-11-14 17:08] rwinch commented on #6086
Fixed via 35e05780eaab5443fa80fdfde7a3882358b5c7d1

[2018-11-14 17:08] #6086 closed

[2018-11-14 17:09] rwinch commented on #6082
Thanks again @raphaelDL! This is merged into master. I also backported it via #6086

[2018-11-14 17:14] hfgbarrigas opened #6087 "Jackson exception when deserialising token response"
### Summary
When dealing with additional information in the token response (<String, Object>) jackson throws an exception. Looking at OAuth2AccessTokenResponseBody class to extract the OAuth2AccessTokenResponse:

`
@Override
public Mono<OAuth2AccessTokenResponse> extract(ReactiveHttpInputMessage inputMessage,
			Context context) {
		ParameterizedTypeReference<Map<String, String>> type = new Parame

[2018-11-14 17:15] hfgbarrigas commented on #6071
Here: [6087](https://github.com/spring-projects/spring-security/issues/6087)

Thank you.

[2018-11-14 17:16] rwinch commented on #6061
Thanks again for your patience. Now that #6082 has been resolved, you should be able to rebase off of master and remove the version from thymeleaf-extras-springsecurity5

[2018-11-14 17:17] rwinch opened #6088 "Update webflux-form sample to use Thymeleaf Built in CSRF Support"
### Summary

Backport of #6061

NOTE: This will be resolved by merging changes from the original issue above, so there is no need for any extra work for this ticket (no PR necessary).

[2018-11-14 17:33] rwinch opened #6089 "WebClientReactiveClientCredentialsTokenResponseClient should fail if not 2xx status"
### Summary

If anything but a 2xx status is returned (i.e. a redirect) when trying to get the token, we should fail

See #6071

[2018-11-14 17:34] rwinch commented on #6071
Thanks. I'm closing this in favor of the two Spring Security issues we created and the fixed Spring Framework JIRA

[2018-11-14 17:34] #6071 closed

[2018-11-14 17:36] #6076 closed

[2018-11-14 17:38] rwinch opened #6090 "Fix Typo in Reference Docs"
### Summary
Backport of #6085

[2018-11-14 17:38] rwinch commented on #6090
Fixed via dc5f5f348d3e80ea29ef9eebdeccf82ad35aaf26

[2018-11-14 17:38] #6090 closed

[2018-11-14 18:54] jzheaux opened #6091 "SonarQube builds launched very close together fail"
### Summary

If two SonarQube jobs are launched very close together against the same project, for example [`spring-security`](https://sonar.spring.io/dashboard?id=org.springframework.security%3Aspring-security), then the SCM background task fails.

This happens [occasionally](https://sonar.spring.io/project/background_tasks?id=org.springframework.security%3Aspring-security&status=FAILED), more oft

[2018-11-14 18:56] jzheaux opened #6092 "SonarQube jobs are not reporting code coverage"
We haven't seen code coverage on our [SonarQube analyses](https://sonar.spring.io/dashboard?id=org.springframework.security%3Aspring-security) for a while.

[2018-11-14 19:04] raphaelDL commented on #6088
@rwinch  Can I take this?

[2018-11-14 20:31] #3912 closed

[2018-11-14 20:44] rwinch commented on #6083
I think I need some more context. What is happening is that since no user is authenticated, the WebClient is trying to read/write to the HttpSession from the HttpServletRequest. This means you have a a couple options:

1) You can populate the RequestContextHolder with a mock (in a servlet container t this is done using a Filter automatically for you).
2) You can run as an authenticated user in whi

[2018-11-14 20:47] rwinch commented on #6088
@raphaelDL Sorry for not being clear, this will be merged from the original issue and so no extra work will be necessary. I updated the ticket to clarify this. Sorry again and thanks for contributing!

[2018-11-14 20:55] raphaelDL commented on #6088
Sorry language barrier. I'm picking up the terms. Thank you anyway :)

[2018-11-14 20:55] rwinch commented on #4557
@pthorson The new support does not require Spring Boot (however, it is certainly easier to use with it)

[2018-11-14 20:58] rwinch commented on #6088
@raphaelDL Not a problem at all. I wasn't clear, so it is really my fault. We are really looking to grow contributions. If you are looking for issues to work on please let me know. I did provide a few at https://github.com/spring-projects/spring-security/pull/6093#issuecomment-438812117 As mentioned there just comment on the ticket. Thanks again for your willingness to contribute!

[2018-11-14 21:08] rwinch opened #6094 "Make CONTRIBUTING focus on encouraging contributions"
### Summary

The documentation is long and does not encourage contributors. We should rewrite it to encourage contributors. For example, point out that we want contributions and that we are willing to help users. They do not need to get everything correct right away. We should also include information on how to find an issue (first timers and help wanted). Of course we are willing for users to vol

[2018-11-14 21:53] #5648 closed

[2018-11-14 22:10] jzheaux opened #6095 "Update to nimbus-jose-jwt:6.3"
### Summary

We need to update to Nimbus Jose Jwt 6.3. This can be done by [updating dependency-management.gradle](https://github.com/spring-projects/spring-security/blob/master/gradle/dependency-management.gradle#L57).

Related to https://github.com/spring-projects/spring-security/issues/5853

[2018-11-14 22:48] rwinch commented on #6078
@maxcoinage Thanks for the suggestion. I think the goal makes sense, but I would change the implementation a bit.

Rather than setting usePath is not as flexible as we would like. The reason for that is that a request to /foo can set a cookie for the path /foo/bar. Another thing to consider is that there are other properties that impact how it is deleted. For example, it might be on a sub domain.

[2018-11-14 23:38] #6061 closed

[2018-11-14 23:39] rwinch commented on #6088
Fixed via #8655caa2de7dee6b9d86ca4db06190d4394c36c1

[2018-11-14 23:39] #6088 closed

[2018-11-14 23:48] Daniel69 commented on #4469
@rwinch I'd like to take this one

[2018-11-15 02:04] maxcoinage commented on #6078
Hi @rwinch - that suggestion makes much more sense, thanks for considering my request.  I would be willing to add the code and test cases required and open a PR. This would be my first contribution to an open source repo, so would appreciate some guidance.

Should I base from the `5.1.x` branch?

[2018-11-15 02:42] CQuarterz commented on #6095
Hi,
Would this just involve changing the dependency on the gradle?
Sorry, first timer here and would like to contribute!

[2018-11-15 08:55] ankurpathak commented on #6032
@jgrandja Thanks. Now working like a champ.

[2018-11-15 09:05] hellosatish commented on #6095
Hi @jzheaux
I would like to contribute to this. Could you please point me to the guide and verification steps
.

[2018-11-15 09:34] hellosatish commented on #6095
Hi @jzheaux
I forked and cloned the repo but my tests are failing for ACL 82% are successful
![ddd](https://user-images.githubusercontent.com/2811343/48543466-9f26a700-e8e7-11e8-8da1-b7ecb89a9f46.PNG)

[2018-11-15 15:18] elefeint opened #6098 "Use String equality, not URL equality, for JWT issuer validation"
### Summary

URL equality is not consistent becuse it attempts [DNS resolution and host comparison](https://docs.oracle.com/javase/8/docs/api/java/net/URL.html#equals-java.lang.Object-), which can cause both false positives and false negatives.

[RFC 7519](https://tools.ietf.org/html/rfc7519#section-4.1.1)  describes "iss" claim as being a StringOrURI value, and restricts StringOrURI validation to

[2018-11-15 15:53] rwinch commented on #6098
Thanks for the report! I believe this is a duplicate of #6073 which was backported to 5.1.2.BUILD-SNAPSHOT via #6077 Can you please try the 5.1.2.BUILD-SNAPSHOT and let me know if that resolves your issue? You can find instructions on how to get the snapshot in the [reference](https://docs.spring.io/spring-security/site/docs/5.1.x-SNAPSHOT/reference/htmlsingle/#get-spring-security).

[2018-11-15 16:08] rwinch opened #6099 "Add External Spring Security Projects to Reference"
### Summary
Add links to other Spring Security projects

[2018-11-15 16:14] rwinch commented on #6056
Yes that would work. I think the key is to ensure that the issue is Spring Security and not something else. I'd recommend starting it with a profiler and finding out where it slow.

Given that the app starts the same with and without Spring Security, I'm going to close this. I don't think there is a problem with Spring Security.

[2018-11-15 16:14] #6056 closed

[2018-11-15 16:47] elefeint commented on #6098
Jinx timing! And yes, 5.1.2.BUILD-SNAPSHOT fixes the issue completely.

When are you planning to release spring-security 5.1.2?

[2018-11-15 18:29] rwinch commented on #6098
Closing as a duplicate of #6073

[2018-11-15 18:29] #6098 closed

[2018-11-15 18:39] rwinch commented on #6075
This would be fixed by [registering](https://github.com/spring-projects/spring-security/blob/dca3645850e082d845e17a6572af84aa44b97f12/test/src/main/java/org/springframework/security/test/context/support/ReactorContextTestExecutionListener.java#L62) it via

[code]

Then it would get removed via

[code]

We then want to ensure we [add a test](https://github.com/spring-projects/spring-security/blob/d

[2018-11-15 18:50] ankitthakur commented on #6075
I think, it is working correctly as is expected, unless we would like to create some singleton api for test environment. Otherwise this approach might be useless on different environments with different db configurations, Like Linux with Oracle test cases could be different than With SqlServer. Whereas it is common across both platform for business logics.

[2018-11-15 18:52] daejii commented on #6075
Mine 😁🥳

[2018-11-15 19:01] rwinch commented on #6075
@ankitthakur I'm not sure I understand your comment at https://github.com/spring-projects/spring-security/issues/6075#issuecomment-439149451 This is an issue. The problem is that someone else might have registered a hook and Spring Security is deleting a hook it did not create.

[2018-11-15 19:01] rwinch commented on #6075
@daejii Thanks for volunteering! The issue is all yours. If you have any questions or need any help, please don't hesitate to ask! Thanks again!

[2018-11-15 19:21] jzheaux commented on #6095
@hellosatish and @CQuarterz sorry for a bit of confusion here.

So happy that you both want to contribute! Since @CQuarterz claimed it first, would you still like to make the changes?

@hellosatish when the next "first-timers" issue comes up, I'll not tag it, but will simply ping you to give you first pick. Does that sound alright?

[2018-11-15 19:26] rwinch opened #6100 "OAuth2AccessTokenResponseBodyExtractor should support Object values"
### Summary
Backport of #6087

[2018-11-15 19:26] #6100 closed, assigned to rwinch

[2018-11-15 19:30] raphaelDL commented on #6089
maybe something like this? 🤔

[code]

[2018-11-15 19:38] rwinch commented on #4469
@Daniel69 Thanks for volunteering! The issue is all yours. If have any questions or need any help, please let me know!

[2018-11-15 19:41] jzheaux opened #6101 "Update to oauth2-oidc-sdk:6.2"
### Summary

We need to update to Nimbus OAuth2 Oidc Sdk 6.2. This can be done by [updating dependency-management.gradle](https://github.com/spring-projects/spring-security/blob/master/gradle/dependency-management.gradle#L58).

[2018-11-15 19:42] jzheaux commented on #6095
@hellosatish would you like to take [this other dependency management issue](https://github.com/spring-projects/spring-security/issues/6101)?

We can also chat about your build failure over there if you like.

[2018-11-15 19:50] rwinch commented on #6078
@maxcoinage

That is great news! Thank you for volunteering your time to contribute to Spring Security!

That is great! No problem. If you need anything just ping me in the comments here or on the PR you create.

Please base it off of master. Any features that need backported the security team will take care of. Since this is considered a new feature and not a bug, it is very unlikely to be backpo

[2018-11-15 21:52] rwinch commented on #6089
Thanks for the comment!

* You can simplify it using .filter which does not require a `Mono`
* We should `switchIfEmpty` with a `Mono.error` that contains a message stating that the attempt to get the token returned an unsuccessful status along with the status code.

Would you like to take this one @raphaelDL?

[2018-11-15 21:54] raphaelDL commented on #6089
yup

[2018-11-15 22:33] rwinch commented on #6089
Thanks @raphaelDL! As always let me know if you have any questions!

[2018-11-16 03:47] beku8 opened #6102 "http.requestCache().disable() not working"
### Summary

```http.requestCache().disable()``` is not working in spring security 5.0.8
### Actual Behavior

```http.requestCache().disable()``` is not disabling cache. We can see that from the log:

[code]
### Expected Behavior

I expect this config to be disabling the request cache.

### Configuration

I tried in a very simple spring boot app to confirm:

[code]

### Version

5.0.8
### Sample

[2018-11-16 03:59] raphaelDL commented on #6089
Not completely sure how to approach this, if I filter the response just after I call exchange, I won't be able to recover the status at the end when calling swtchIfEmpty. Should I replay the mono values ?

I tried this:

´´´java
return this.webClient.post()
					.uri(tokenUri)
					.accept(MediaType.APPLICATION_JSON)
					.headers(headers(clientRegistration))
					.body(body)
					.exchange()

[2018-11-16 04:20] hellosatish commented on #6101
Hi @jzheaux
i would like to contribute to this one.

[2018-11-16 04:30] CQuarterz commented on #6095
Cool I'll take it on! Thanks for the opportunity!

[2018-11-16 05:01] jzheaux commented on #6101
Sounds great, @hellosatish, it's yours!

[2018-11-16 05:02] jzheaux commented on #6095
Excellent, @CQuarterz, it's yours!

[2018-11-16 05:05] hellosatish commented on #6101
@jzheaux i forked the repo again and then used "**gradle clean build integrationTest**" (without any changes) but tests are failing for ACL again
![erro](https://user-images.githubusercontent.com/2811343/48598907-588a8880-e98b-11e8-919b-16ae7419b8c6.PNG)

[2018-11-16 05:08] CQuarterz commented on #6095
I committed the code. Did I do it right?

[2018-11-16 09:59] hfgbarrigas commented on #6087
Great. Is there a snapshot to test?

[2018-11-16 10:30] daejii commented on #6075
Hello, @rwinch. I understand that we are trying to prevent Spring Security from deleting a hook it did not create. I have made the changes as regards registering and removing.

However, I would like to get some clarity on the test. Should I add a new test method in the `ReactorContextTestExecutionListenerTests` class, the test that validates if a different Hook was registered?

This is my first ti

[2018-11-16 14:29] DarrenForsythe commented on #6083
Ah that's got me a step closer than I was before, I think I understand. I was poorly assuming that WebClient wasn't dependent on some sort of Session/Authenticated user being there. e.g. I assumed it could be used like the old `OAuth2RestTemplate` without any container/servlet/etc. being there.

Thank you @rwinch  for the response 👍